[2016-03-09 08:10] jlink commented on #171
Trying to discover methods and classes that are not JUnit5 tests or containers are now being logged and ignored as in JUnit4.

I'm not sure we should do the same with:
- Unique IDs that do not follow the correct unique ID syntax
- Classes or methods from Unique IDs that do not exist

IMO, at least the first one should throw an exception since it means that the IDE (or any other client for that mat

[2016-03-09 09:11] akozlova commented on #171
To the first one: I have problems with JUnit4TestCaseWithRunnerWithCustomUniqueIds. No tests are run and the warning is shown. Not sure that I understand how should IDE detect that it is special, especially when all tests from package are run

[2016-03-09 15:20] jlink commented on #171
@akozlova How exactly do you try to run JUnit4TestCaseWithRunnerWithCustomUniqueIds?

When running
[code]
from IntelliJ it works here, i.e. the `test` is reported as failing.

[2016-03-09 15:35] akozlova commented on #171
I have support for junit 5 locally, so I run the test without @RunWith(JUnit5.class). Unfortunately I can't share the details now, will post the trace tomorrow.

[2016-03-09 16:59] sbrannen commented on #131
@jlink, nice work on the `CompositeFilter`. :+1:

Thanks!

[2016-03-09 20:32] jlink opened #175 "Simplify TestSource Class"
`TestSource` with its two concrete implementations is difficult to use since a cast to one of the implementations is required. I suggest to merge the interface and the two subclasses into a single interface with subclasses as needed along the following lines:
[code]

[2016-03-09 20:42] jlink commented on #153
Rethinking the whole issue, I think that `getName()` is too strongly focused on class-based containers and method based tests (as used by JUnit4 and JUnit5). It does not really make sense for other types of tests like file-based or lambda-based ones. I therefore suggest to get rid of `getName()` in `TestIdentifier` and `TestDescriptor`. The information lost can be got via `getSource()` (see also #

[2016-03-10 08:13] marcphilipp commented on #173
I think we should definitely try to improve that. Thanks for raising the issue!

[2016-03-10 08:58] aburmeis commented on #58
Would be cool to have the opportunity to create dynamic tests by an extension. I thought about it and would like to allow an extension to replace a `void` method annotated `@Dynamic` to be replaced using an extension point (where replace can return either a `Stream`, `Collection` or `Iterator` of `DynamicTest`:

[code]
This would be very useful to migrate libraries like [junit-dataprovider](https:

[2016-03-10 10:47] akozlova commented on #171
I get logging from org.junit.gen5.engine.junit4.execution.TestRun#lookupTestDescriptor and test is not run:

WARNING: Runner org.junit.gen5.engine.junit4.samples.junit4.RunnerWithCustomUniqueIds on class org.junit.gen5.engine.junit4.samples.junit4.JUnit4TestCaseWithRunnerWithCustomUniqueIds reported event for unknown Description: test(org.junit.gen5.engine.junit4.samples.junit4.JUnit4TestCaseWithR

[2016-03-10 11:46] akozlova opened #181 "ambiguous jars (with different qualified names) found for open test alliance"
I tried first with https://oss.sonatype.org/content/repositories/snapshots/org/junit/open-test-alliance/ but failed because really used is https://oss.sonatype.org/content/repositories/snapshots/org/opentest4j/opentest4j/1.0.0-SNAPSHOT/

If that's correct, could you please mark the first one as outdated or hide it.

[2016-03-10 12:07] jlink commented on #171
I'll have look into it tomorrow.

[2016-03-10 12:10] akozlova opened #182 "org.opentest4j.AssertionFailedError contains expected/actual fields but they are not set"
I could found the only usage org.junit.gen5.api.Assertions#fail(java.lang.String) where the message is already formatted and no expected/actual is present

[2016-03-10 13:13] sbrannen opened #183 "Upgrade to Spotless version based on Eclipse 4.5.1+"
## Background

For details, see:

- https://github.com/junit-team/junit5/pull/179
- https://github.com/diffplug/spotless/issues/15

## Deliverables

- [x] Once a version of Spotless that is based on Eclipse 4.5.1+ has been released, upgrade the JUnit 5 build to use it.

[2016-03-10 13:44] jlink commented on #182
I think it's a duplicate of #138

[2016-03-10 13:45] marcphilipp commented on #182
Yes, I think so, too.

[2016-03-10 13:45] #182 closed

[2016-03-10 13:46] akozlova commented on #182
Sorry, missed that.

[2016-03-10 13:58] marcphilipp commented on #182
No problem at all. :-)

[2016-03-10 14:28] sbrannen commented on #173
:+1:

[2016-03-10 14:33] sbrannen commented on #58
@aburmeis, thanks for bringing this up. I agree: JUnit 5 will likely need to provide support for two types of dynamic tests:

1. lambdas dynamically provided as a stream or collection (as is the case with the status quo for this PR)
1. method descriptors provided dynamically as a stream/collection or via a extension point

The latter would allow for a certain category of dynamic tests that are exe

[2016-03-10 16:48] sbrannen commented on #183
Performed in `master` using the team account: https://github.com/junit-team/junit5/commit/28637e6b6eeae797291c8f31902b09aa0fca594a

[2016-03-10 16:48] #183 closed

[2016-03-10 16:50] marcphilipp commented on #183
Thanks! :+1:

[2016-03-10 19:49] sbrannen commented on #181
@akozlova, the artifact in the `org.junit` group is the one we relied on during the prototype, but it is no longer valid.

The reason it resides under `org.junit` is that we did not have a stand-alone project for the OTA at that point in time. Since then, however, we have created a stand-alone project for the OTA (outside of JUnit). Thus the OTA jar now has its own group ID.

I hope that clarifies

[2016-03-10 19:49] #181 closed

[2016-03-10 19:52] marcphilipp commented on #181
I agree with Sam.

[2016-03-10 20:33] sbrannen commented on #181
OK, @akozlova. Thanks for the feedback.

[2016-03-11 05:35] bechte commented on #175
Two questions:

1. Is the enum required if we have all information in one big interface? It smells like a duplication of the class hierarchy below the interface.
2. If question 1 holds: we could simply remove the interface and make it a POJO, couldn't we? If so, I would like to have some Factory for it such than we can change or minds later without having to change all callers throughout the code

[2016-03-11 05:48] bechte commented on #172
@akozlova : @jlink raised a question that we had a discussion about some weeks ago, that we couldn't answer ourselves as we are not the consumer of the test plan. I would really like to get your feedback about this topic:

This definitely does not support the idea in this ticket, but could you answer this question in general?

Would it be nice to have the package structure be reflected in the test

[2016-03-11 07:10] akozlova commented on #172
this sounds cool but then you get problems with suites: how to pass it into the hierarchy when the suite contains tests from different packages.

The problem what I have in mind is flattening: I get tree like
package/
  Junit5/
      MyTestClass/
      ...
the JUnit5 node is overwhelming when there is no another engines worked. Even when one method is run, the structure is very complex and I am su

[2016-03-11 07:25] jlink commented on #172
Yes, IDEs can - IMO should - flatten the tree for display, e.g. start with
the first level that contains more than one node.

2016-03-11 8:10 GMT+01:00 Anna Kozlova <notifications@github.com>:

[2016-03-11 07:37] jlink commented on #175
@1: I'm not sure if the enum is strictly required, I _imagined_ it to simplify using it from the IDE's point of view but that's pure imagination. And it could simplify adding source types later like `URI` without clients having to check for new properties. I might be wrong, though.
@2: An interface is a looser contract but yes, a POJO might as good.

One point that I did not address in the issue d

[2016-03-11 08:04] marcphilipp commented on #175
Even though we only provide two implementations of `TestSource`, I'd like to keep the door open for third-party engines to provide their own implementation. Thus, I think having a static enum or a single implementation (POJO) would not be a good idea.

[2016-03-11 08:14] jlink commented on #175
@marcphilipp We could add a value `Generic` to the enum and also provide a `Optional<Object> getGenericInfo()` property.

[2016-03-11 08:25] jlink commented on #171
OK. I can reproduce the bug. It looks like JUnit4 test classes with runners
are not correctly resolved during event propagation.

@marcphilipp: Can we look into that together?

2016-03-10 13:06 GMT+01:00 Johannes Link <johannes.link@gmail.com>:

[2016-03-11 08:47] marcphilipp commented on #175
In the current implementation, I don't think the `instanceof` makes it hard to use but rather that everything is optional. I don't think that will improve a whole lot by using the enum, will it?

[2016-03-11 08:54] jlink commented on #175
Would having a specical subclass for all source types make it simpler? We
could then get rid of the optionals.

As for the enum: We currently have a few `isXXX` props and the enum seems
to be an improvement to that (and make the instanceof redundant).

2016-03-11 9:47 GMT+01:00 Marc Philipp <notifications@github.com>:

[2016-03-11 09:47] jlink opened #188 "Website: Replace "JUnit Lambda" references"
Fix the current website so that it has areas for JUnit 4 and 5 and Lambda is replaced by JUnit 5.

[2016-03-11 10:06] marcphilipp opened #189 "Remove TestId class in favor of String in TestIdentifier"

[2016-03-11 11:05] jlink opened #190 "Get rid of TestDescriptor.getUniqueId"
Get rid of the String-based version of unique ID.

Things to do:
- [x] Use UniqueId with junit4-engine so that all unique IDs produced are instances of UniqueID
- [x] Deprecate all String-based unique ID methods in TestDescriptor
- [x] Get rid of internal used of deprecated methods
- [x] Get riid of client uses of deprecated methods
- [x] Change (most) tests so that they don't use String IDs any m

[2016-03-11 11:06] hotchemi commented on #167
Anyone working on it?

[2016-03-11 11:07] marcphilipp commented on #167
No, feel free to start working on it. :smiley:

[2016-03-11 11:08] hotchemi commented on #167
Gotcha :+1:

[2016-03-11 13:31] ggcrjdev commented on #163
I thought about the annotations names and maybe names like @PreTest/@PostTest rather than @BeforeEach/@AfterEach and @PreBundle/@PostBundle rather than @BeforeAll/@AfterAll could be better.
Note: The term bundle I use to represent a set of ests in a class or package.

[2016-03-11 13:34] sbrannen opened #192 "Document support for interface default methods in the User Guide"

[2016-03-11 13:37] sbrannen commented on #106
@jlink, should this issue be closed now?

[2016-03-11 13:45] sbrannen commented on #163
We have intentionally avoided names like `@PreTest` simply because that implies that such a method executes before an `@Test` method; however, it may be the case that an `@BeforeEach` method is executed before an `@Step` method in a scenario test.

Thus, we aim to keep the common annotation names generic in order to avoid an unnecessary proliferation of annotations.

In addition, the term _bundle_

[2016-03-11 15:11] #110 closed

[2016-03-11 16:27] jlink commented on #106
I created a follow up issue. So yes.

[2016-03-11 16:28] jlink commented on #106
Follow up; #190

[2016-03-11 16:28] #106 closed

[2016-03-11 16:30] sbrannen commented on #106
thanks!

[2016-03-11 19:30] hotchemi commented on #167
@jlink Before getting started, do you have any rough idea? I know assertj already provides fluent api but should we keep the api simple?

[2016-03-11 20:04] sbrannen commented on #167
@hotchemi, let's aim for a simple solution along the lines of the simplicity of the existing assertion methods in `Assertions`.

Keep in mind that we do not want to invest a lot of time (and maintenance down the road) in JUnit 5 regarding assertions, especially due to the rich feature sets provided by third-party libraries like AssertJ, Hamcrest, etc.

In other words, let's follow the _KISS_ princ

[2016-03-11 22:10] jlink commented on #167
I'd go for simple methods analogous to arrayEquals in JUnit 4.

[2016-03-12 17:28] rherrmann opened #195 "Provide JARs with OSGi metadata"
The JARs that are produced during a build should contain OSGi metadata. This would allow to consume them as OSGi bundles right away.

[2016-03-12 21:09] UrsMetz opened #196 "NoSuchMethodError when using example setup from junit5-maven-consumer"
The current SNAPSHOT version of `surefire-junit5` causes the Maven build of the example project [junit5-maven-consumer](https://github.com/junit-team/junit5-samples/tree/master/junit5-maven-consumer) to fail with a NoSuchMethodError:
[code]

When replacing the `surefire-junit5` with the ALPHA release the Maven build passes.

[2016-03-12 21:51] UrsMetz commented on #196
I guess the cause of the issue is that the classpath of the surefire run contains a mixture of ALPHA and SNAPSHOT versions of the different junit5 JARs. I couldn't really verify this but running `mvn -X clean verify` gives me the following information concerning the surefire classpath:
[code]

[2016-03-13 11:22] mepeisen opened #201 "Introduce extension API for providing a custom ClassLoader (e.g., for Powermock)"
## Overview

I tried to build a Powermock `Extension` similar to the Mockito example. I have to test some classes that create new objects within their constructors. In JUnit 4 I simply use the `PowerkmockRunner` and the `whenNew` from Powermock.

At least I ended with many problems and gave up. However in JUnit 4 Powermock creates an instrumented class loader and even duplicates everything (the te

[2016-03-13 13:07] marcphilipp commented on #196
Thanks for the report! :+1:

I guess using the Surefire plugin snapshot along with the alpha API was asking for trouble. I changed the sample project to use the latest junit5-api snapshot JAR instead. At least this was finally a trigger I got junit-team/junit5-samples#2 done. :-)

[2016-03-13 13:07] #196 closed

[2016-03-13 18:17] UrsMetz commented on #196
@marcphilipp did you mean to change to ALPHA JARs? I ask because in junit-team/junit5-samples@a78a50f this is done or was this by mistake (as the commit message also talks about snapshot)?

[2016-03-13 18:20] marcphilipp commented on #196
Oops, no, I meant the opposite. I'll fix it later.

[2016-03-13 19:57] marcphilipp commented on #196
Ok, fixed now. Thanks a bunch!

[2016-03-14 07:32] jlink commented on #201
What we have is the `InstancePostProcessor` extension point. Currently, it does not allow to return a different test instance but we have been discussing to allow that, e.g.:

[code]
Would that be sufficien for your purposes? I am curious though, why PowerMock has to change the test instance (which can easily lead to incompatibilities with other extensions). Maybe there's another way to go about i

[2016-03-14 07:43] mepeisen commented on #201
As far as I can see returning a different instance should fit the needs.
I do not know why powermock needs it but I will ask the authors. All I can see is that mocking objects and classes already works.

Actually in my Scenario i need to mock things happening in constructors.

`class ToTest {
public ToTest() {
    this.aObj = new A();
    doSomeThingWithAObj();
}
}`

And I need to inject a mock fo

[2016-03-14 07:49] jlink commented on #201
2016-03-14 8:43 GMT+01:00 Martin Eisengardt <notifications@github.com>:

Thanks. This should certainly help :)

[2016-03-14 10:31] thekingnothing commented on #201
@mepeisen, thanks for raising the problem. We ware going to look to jUnit5 and implementing supporting of jUnit5 after we finish preparing current release. And maybe it could be to late :)

PowerMock uses custom class loader to modified loaded class and either remove private/final modified or modify body of static classes to add call interceptors. As result instance which created via `mock` `@Mock

[2016-03-14 10:38] thekingnothing commented on #201
Good example, how we can avoid over controlling - TestNG `ObjectFactory`.  This class has a method to create a new instance of class. PowerMock create a new instance, which is loaded via PowerMock class loader and wrapped by proxy, to clear PowerMock internals after each test.

We also try to use Java Agent to get off necessity using custom class loader, but Java Instrumentation limits us by allow

[2016-03-14 10:39] thekingnothing commented on #201
@johanhaleby what do think?

[2016-03-14 12:40] sbrannen commented on #196
Thanks, Marc!

[2016-03-14 12:41] mepeisen commented on #201
Clearing internal states can already be done via AfterEach-ExtensionPoint or am I wrong?

[2016-03-14 12:51] sbrannen commented on #189
The PR looks good to me. Any reason you're holding off on merging it?

[2016-03-14 12:56] marcphilipp commented on #189
Just wanted one of you to review. ;-)

[2016-03-14 13:01] thekingnothing commented on #201
@mepeisen, I don't know how it could be done in jUnit5. I spoke about jUnit4 (where when we use runner we have to control test execution or if use Rule then reload all classes with PowerMock class loader) and about TestNG (where not way to programatically register listeners, so we emulate listeners by using cglib).

It'll be nice if jUnit5 give us ability to control test instance creating and prog

[2016-03-14 13:07] jlink commented on #189
I had the wrong assumption that you had already merged it. My changes from
this morning are probably in conflict with your PR :-/

Go ahead with merging as soon as you can. Spreading UniqueID will otherwise
cause a lot of merging effort.

2016-03-14 13:56 GMT+01:00 Marc Philipp <notifications@github.com>:

[2016-03-14 13:30] mepeisen commented on #201
I will create an example by trying to rebuild the powermock runner. I already did it locally but ran into multiple problems trying to replace the test instance. Maybe I did something illegal with powermock :-)

[2016-03-14 13:31] sbrannen commented on #168
The recently introduced validation code unfortunately resulted in a bug. Namely, parameter resolution for primitive types now fails.

I am therefore reopening this issue to ensure that primitive types are also supported.

[2016-03-14 14:01] jlink commented on #201
As already said. There is currently no way to replace test instance in
JUnit5.

2016-03-14 14:30 GMT+01:00 Martin Eisengardt <notifications@github.com>:

[2016-03-14 15:00] sbrannen commented on #168
Added support and tests for injecting primitives and primitive arrays into methods in 0280220f3122429b75e45355a7abf56c01c7b6dd.

[2016-03-14 15:00] #168 closed

[2016-03-14 15:17] thekingnothing commented on #201
@jlink, I think, that suggested approach with be sufficient for PowerMock, in case if there will be a way to reloaded test Instance via PowerMock class loader, for example by making deep copy or make a new instance by using `Class.forName. I mean approach with:

[code]

[2016-03-14 15:31] jlink opened #203 "InstancePostProcessor should return test instance"
[code]
This seems to be necessary for PowerMock extension (see #201).

@junit-team Any objections?

[2016-03-14 15:32] jlink commented on #201
I created an issue to implement that (#203) and blocked this issue until #203 will be resolved.

[2016-03-14 18:40] johanhaleby commented on #201
@thekingnothing describes what PowerMock is doing today and it gets complex because of the so called "test chunking" feature. Just like @thekingnothing says you have the ability to execute an individual test method with a new classloader. What actually happens under the cover is that PowerMock creates a new JUnit test for each test chunk (loaded by an individual classloader) and creates an "uber t

[2016-03-14 20:03] #189 closed

[2016-03-14 20:04] marcphilipp commented on #189
@jlink Done!

[2016-03-14 20:15] sbrannen commented on #203
I don't think it is a wise idea to repurpose `InstancePostProcessor` for extensions that wish to replace the test instance.

For example, let's assume we have two registered extensions that implement `InstancePostProcessor`. For the sake of argument, let's call them `S` and `P` (for Spring and PowerMock).

If `S` injects dependencies into the test instance and `P` then completely replaces the test

[2016-03-14 20:15] sbrannen commented on #203
Of course, the potential problem I outlined above does not come into effect if instances of `InstancePostProcessor

[2016-03-14 20:33] thekingnothing commented on #203
For PowerMock main goal- it's to be able to load test class and all other classes with PowerMock class loader.

Approach with `InstanceFactory` very attractive for us, it's how TestNG works now.  And of course, only one `InstanceFactory` could be declared.

But, it also could be a point of fail, for example assertion exception or any other exception witch test could throw and jUnit engine is expec

[2016-03-14 23:12] jlink commented on #203
@sbrannen It's impossible to enforce wrapping, or is it. It might not even be practical for PowerMock's purposes when using a different class loader to create basically the same object.

[2016-03-15 06:57] mepeisen commented on #201
I finally got a working Showcase :-)

Classic JUnit 4 variant:
https://github.com/mepeisen/xw-nukkit-test/blob/master/src/test/java/eu/xworlds/nukkit/spowermock/Junit4Test.java

JUnit5 variant without powermock standalone:
https://github.com/mepeisen/xw-nukkit-test/blob/master/src/test/java/eu/xworlds/nukkit/spowermock/JUnit5Test.java

And now a Show case where my custom Extension injects "prepare

[2016-03-15 07:01] mepeisen commented on #201
This lead to a new question: I now have an Extension (NukkitExtension) that depends on another Extension (PowermockExtension). Currently the test code must ensure that both extensions are loaded and that they even are in correct order.
Are there any plans to describe such dependencies and sort orders?

[2016-03-15 07:16] mepeisen commented on #203
In my Showcase I got another Problem. Playing around with class loader results in other extensions not working as expected.
See https://github.com/mepeisen/xw-nukkit-test/blob/master/src/main/java/eu/xworlds/nukkit/test/NukkitExtension.java#L98-L102 and https://github.com/mepeisen/xw-nukkit-test/blob/master/src/main/java/eu/xworlds/nukkit/test/NukkitExtension.java#L133-L136
Other extensions need t

[2016-03-15 07:38] jlink commented on #201
@mepeisen

To make sure that two extensions are loaded together, just introduce a meta annotation that loads both (see http://junit-team.github.io/junit5/#annotations section 3.1.1). I'm not sure that's a good approach for most cases. If two extensions must go together, just make it one - maybe through using a registrar (see http://junit-team.github.io/junit5/#extension-registration). Individual e

[2016-03-15 07:56] jlink commented on #201
@johanhaleby Let's see if I understand you correctly...

You see two alternative (?) ways to implement PowerMock support:
1. Via deep copying the test instance using a factory as described in #203. You don't like this approach because it's bad performance-wise and error-prone.
2. Using a specialized class loader for ... yes for what parts of the test lifecycle exactly?
- Creating the test instance

[2016-03-15 07:58] mepeisen commented on #201
I personally do not need both. It is only a show case. I am fine with a single extension that does everything internally or with a meta extension that loads both in correct order. However this will be solved in final release it will be fine for me as Long as there is any solution for powermock :-)

The Registration of instrumented classes (the lines 58 to 63) must be done before the new test insta

[2016-03-15 08:03] jlink commented on #203
@sbrannen I currently prefer a new extension point. Although I'm not sure it will really solve PowerMock's needs (see discussion in #201).

What we would need then, is a way to have different ordering and uniqueness constraints per extension point type (e.g. "There must be only one test instance factory"). I already implemented something like that in PR #135.

[2016-03-15 08:04] jlink commented on #203
@mepeisen Yes, that's the can of worms I was talking about :-/

[2016-03-15 09:08] johanhaleby commented on #201
@jlink:

1. Yes
1. Historically PowerMock has used either:
  1. One classloader to create the test instance and run all test cases in a class
  1. One classloader to create the test instance and run all test cases excepted those explicitly defined with `@PrepareForTest` that are executed in another classloader

Personally I would be fine with only supporting (i). What do you think @thekingnothing?

[2016-03-15 09:58] mepeisen commented on #201
Instead opening class loader configuration there may be another smart solution: What about delegating not only the test instance creation but the extension creation to a meta-Extension?
What I mean is a two phase initialization for junit:
1) Look if there is a meta extension. If there is a meta extension ask it for test instance and for the Extension instances (maybe giving the classes to the meta

[2016-03-15 10:10] thekingnothing commented on #201
I think, ideally, it will be awesome if PowerMock could register anyhow global class loader (or class loader factory, which will be better, because PowerMock will still be able control class loader creating). The class loader will be used to create test instance, run test, load extension and so on.

This approach will give a chance to us to discard checking if class should be deferred to another c

[2016-03-15 10:10] thekingnothing commented on #201
@jlink,

I also understand your doubts about giving such Powerful option which could breaks all in case improper using. But what do you think to allowed register class loader or class loader factory only from trusted source which directly allowed in code. Seems to me not a lot of test frameworks need such feature. Another way will be create a one new module **junit5-powermock**, which could be a b

[2016-03-15 10:10] thekingnothing commented on #201
@mepeisen,

PowerMock have to control all pointed stages:

- Creating the test instance
- Running the test
- Running all extension points

to avoid class of problems which PowerMock has now with TestNG, when we can only control creating the test instance and partially controls running the test via setting context class loader. Some of them I mentioned above.

[2016-03-15 10:21] mannodermaus opened #204 "Allow Gradle plugin to support Android projects"
At the moment, the `junit-gradle` plugin doesn't work on Android environments, since the handling of `SourceSet` containers and the general notion of the `runtime classpath` differ from plain Java, both syntactically and functionally. For instance, there is no [testRuntime configuration](https://github.com/junit-team/junit5/blob/master/junit-gradle/src/main/groovy/org/junit/gen5/gradle/JUnit5Plugi

[2016-03-15 10:31] jlink commented on #204
At the time JUnit5's current design was conceived (Oct 2015) it looked like
Android wouldn't be on Java 8 for another couple of years. So we considered
Android support to be out of reach for some time and didn't bother.

Now that prospects have changed, it might be time to think about Android
again...

2016-03-15 11:21 GMT+01:00 Marcel Schnelle <notifications@github.com>:

[2016-03-15 10:36] aurae commented on #204
Thanks for your reply! The greatest thing about JUnit tests for Android developers has always been the fact that they are decoupled from the limitations that Android imposes on developers (mainly related to being bound to Java 6, and in parts, Java 7). This allows us to enforce TDD by not having to wait around for instrumentation tests to deploy to devices etc. That being said, Android getting Jav

[2016-03-15 10:42] thekingnothing commented on #201
@johanhaleby,

I think we can limit to use one class loader, but there are boundary cases when it could be useful. I mean load each test by a new classloader.

For example: test uses a class which has a static (may even final field). The field is filled during static initialisation with using a mocked class which generate return value base on test conditionals. After first run, the class will be i

[2016-03-15 10:52] jlink commented on #204
Maybe you can add a few details to the points you mention in the issue description, so that we can estimate the effort and schedule it in one of the next releases. I'm quite sure, though, that it won't be part of https://github.com/junit-team/junit5/milestones/5.0%20M1 :-/

[2016-03-15 15:54] jlink commented on #190
I'm basically done. I think someone should review before closing the issue.

[2016-03-15 16:27] jlink commented on #201
@thekingnothing @johanhaleby
So do you think an extension point like that could suffice:
[code]
The provided class loader would then be used to create a test instance and set as context class loader for the thread that is running test execution and all instance related extension points like `InstancePostProcessor`, `Before/AfterEachExtensionPoint` and `ExceptionHandlerExceptionPoint`.

And if that

[2016-03-15 16:59] jlink commented on #138
Since @akozlova wanted to use expected/actual in IntelliJ support, I suggest we should implemented.
Since we do already rely on `AssertionFailedError` from opentest4j, actually using the fields does not change the dependency strength much.

I additionally suggest to stringify expected and actual values if they are not serializable.

[2016-03-15 17:30] thekingnothing commented on #201
@jlink

I think it's what we need and it will suffice most cases.  Will the  `TestInstanceClassLoaderProvider` be called once?

[2016-03-15 17:33] thekingnothing commented on #201
And yes, in case if `TestInstanceClassLoaderProvider` is added, then #203 will be redundant.

[2016-03-15 17:34] jlink commented on #201
@thekingnothing The way I imagined it, it would be called once per "container" i.e. test class or nested test class. But it could also be called freshly for each test instance.

[2016-03-15 20:27] thekingnothing commented on #201
@jlink, I'd like to suggest the following semantic for the `provide` method. If it reruns `null`, then test container will continue use the current class loader. Otherwise the returned class loader will be used for all purposes.

I still doubt if it's  really needed to be able to create a new class loader per test method. In rare cases it's useful, but but it more dangerous than it's worth.

[2016-03-16 07:37] jlink commented on #201
Hm. Don't like `null` as some magic value. Moreover, the behaviour you suggest would require JUnit to store the last returned class loader. This is the kind of mutable state I'd rather avoid.

If an extension wants to always return the same instance of class loader it can easily cache that instance internally (using a store from the context). Maybe `provide` needs additional information about what

[2016-03-16 07:52] jlink commented on #123
This probably requires to introduce a new Selector which will be resolved by engines. This is too big a change for Milestone 1. Moving issue to backlog.

[2016-03-16 08:25] thekingnothing commented on #201
I was thinking that jUnit anyway will store a class loader to use it load classes. It was my improper guessing.

I agree that an exception can care about class loader instance and it could be include into documentation for this exception.

Hm, if exception will have information about method, it will be cool and PowerMock could still provide chunk feature. We have feature request to support running

[2016-03-16 09:04] jlink commented on #188
Just pushed an updated version of the old website: https://github.com/junit-team/junit/commit/5345833c6b382646ced3060a8dbc85763e7bc817

[2016-03-16 10:13] jlink opened #205 "New junit.org Website"
Create new website:
- More modern site generation, e.g. Jekyll
- More modern, responsive layout
- Split website in areas for JUnit4 and JUnit5

[2016-03-16 10:13] jlink commented on #188
Created follow up issue #205.

[2016-03-16 10:13] #188 closed

[2016-03-16 11:41] sbrannen commented on #188
Thanks!

[2016-03-16 13:56] mkbrv opened #206 "Unable to extend an abstract class for my test classes"
Issue: Unable to extend my test classes from an abstract class.
Workaround: remove abstract from the class. (extending a regular class works just ok)

Noticed on: 16.03.2016
jUnit versions: 5.0.0-ALPHA & 5.0.0-SNAPSHOT

Context: I usually extend my test classes from an abstract class where I have methods reading mock files and context initialisers, example: https://github.com/mkbrv/orange.api/blob

[2016-03-16 14:26] jlink commented on #206
It's a bug in our surefire-plugin.

A temporary fix would be to rename your abstract test class so that it does not end with Test or Tests anymore. That way it will not be automatically picked up by maven.

[2016-03-16 14:43] marcphilipp commented on #206
I think it's a bug in the JUnit 5 Engine that has already been fixed by bb79ab1bafcbb4cf728004828183b0626dbbd4e8.

@mkbrv Can you check whether you can reproduce it using the latest 5.0.0-SNAPSHOT artefacts?

[2016-03-16 14:45] jlink commented on #206
@marcphilipp No, it's a bug I built in with bb79ab1bafcbb4cf728004828183b0626dbbd4e8. :(

Just fixed it. Should be online after maven repo deploys.

[2016-03-16 14:45] mkbrv commented on #206
I am checking again. I have used for the first time this morning junit5 ( 5.0.0-SNAPSHOT ), and the difference from the alpha was a NPE

[2016-03-16 14:46] jlink commented on #206
@mkbrv Wait 15 minutes or so until the artifacts have been redeployed.

[2016-03-16 14:54] jlink commented on #206
Fixed in master.

[2016-03-16 14:54] #206 closed

[2016-03-16 14:58] mkbrv commented on #206
I confirm it's all working.
Thanks for your quick response, have a nice day :)

[2016-03-16 19:20] aurae commented on #204
I have made some good progress already, so that all relevant JUnit5 tasks are being initialized properly, and the most basic of tests are already picked up correctly. However, I am somewhat running into a wall when trying to set up the Android equivalent of the runtime classpath.

Some background info on the way that the Android environment deals with its source sets: In Android, an application's

[2016-03-16 19:30] sbrannen opened #207 "Repeatable annotations are not discovered on superclasses"
Currently, `@ExtendWith` (and any other repeatable annotation) is not detected on a superclass.

The root cause is that `AnnotationUtils.findRepeatableAnnotations()` simply ignores _indirectly present_ annotations (i.e., those that are `@Inherited`).

[2016-03-16 19:38] marcphilipp commented on #171
There was a bug in the runner used in `JUnit4TestCaseWithRunnerWithCustomUniqueIds`. It uses a custom serializable class for its unique IDs that did not adhere to the equals/hashCode contract. I fixed it in c10cdc2.

@akozlova Can you try the latest snapshot and confirm that the problem is solved now?

[2016-03-16 19:41] sbrannen commented on #207
Resolved in `master`.

[2016-03-16 19:41] #207 closed

[2016-03-16 19:44] marcphilipp commented on #204
How do you add a testing-related library, e.g. a mocking library such as Mockito, to your classpath for testing?

[2016-03-16 19:48] aurae commented on #204
You'd generally use `testCompile` for all testing-related affairs, including Mockito, AssertJ and the like.

[2016-03-16 19:49] sbrannen opened #208 "Extensions registered within test class hierarchy are ordered bottom-up instead of top-down"
While testing support for using `@ExtendWith` within a test class hierarchy in conjunction with #207, it became apparent that extensions will currently be registered bottom-up instead of top-down, with the latter being the expected behavior.

## Example

Given the following use case with extensions `A` and `B`, one would expect extension `A` to be registered before `B` for test class `ExtendedTest

[2016-03-16 19:50] marcphilipp commented on #204
Maybe you could try that as an intermediate solution/workaround?

[2016-03-16 21:20] jlink commented on #208
@sbrannen It's definitely a bug that should be fixed.

But it also makes me think that if we have to rely on the order of registration something in our extension mechanism could be improved to make order of registration less relevant. The order should only matter if two extensions compete about the order of an extension point being applied.

In the example from SpringExtension that triggered the i

[2016-03-17 08:48] jlink commented on #208
After revisiting the current implementation (https://github.com/junit-team/junit5/blob/master/junit-commons/src/main/java/org/junit/gen5/commons/util/AnnotationUtils.java#L144-L229) I'm not so sure anymore, we should fix it. The algorithm is already complicated enough. Adding the behaviour suggested in the description would add even more complexity and just open the can of other corner cases, for

[2016-03-17 10:38] akozlova commented on #171
Marc, that's work now. Unfortunately the support is already broken with NoSuchMethodError due to change in String TestIdentifier.getUniqueId(). What should be the 'update strategy' for the time being?

[2016-03-17 10:43] marcphilipp commented on #171
Sorry for that. :-/

We are trying to keep changes like that to a minimum. However, at this stage, there still will be a few that affect Launcher and Engine APIs, e.g. the discussion regarding display name and name and the `TestSource` interface will probably lead to additional changes.

What would work for you? Do you want us to notify you before or after we make such a change in the current SNAP

[2016-03-17 11:00] akozlova commented on #171
We just released a new version (or would release it this week) and I don't think that it's feasible to put my changes in the stable release, so the number of people who would try it is really not big - one need to unpack jars, pass VM args and so on. Unfortunately, it can't be just another plugin by internal reasons.

When we would open new EAP (~ in a month), it would be easier. Anyway, what vers

[2016-03-17 13:13] aurae commented on #204
I finally got it to work by mimicking the way the [official Android unit test support sets up its classpath](https://android.googlesource.com/platform/tools/base/+/8db68636c1d110f92662cf4023b2ad22147daf75/build-system/gradle-core/src/main/groovy/com/android/build/gradle/tasks/factory/UnitTestConfigAction.java#84). Android Studio doesn't pick up the dependencies declared within the plugin correctly

[2016-03-17 14:50] jlink commented on #171
Update as for handling of errors during Unique-ID resolution: I will adapt the behaviour of JUnit5TestEngine to what JUnit4TestEngine is doing, namely just logging the problem.

[2016-03-17 16:15] MartinAhrer opened #209 "Gradle task type for executing tests"
I'm excited to start playing with a new JUnit. I'm a Gradle user and I was wondering if there are plans to add a task type such that I can declare my own task (or even multiple tasks) with a configuration different from the configuration provided by the extension.

[code]

This would allow for example executing different sets of tests within a project. E.g. fast tests, slow tests, commit tests (in

[2016-03-17 18:56] jlink commented on #171
@akozlova I think you should only support a single version of launcher API. My hope is that Milestone 1 would be stable enough to provide backwards compatibility from then on.

Does prepending bundled jars mean that developers have to stick with a single version of JUnit?

[2016-03-17 19:27] akozlova commented on #171
Now users could add their jars explicitly to the classpath and 'bundled jars' would be ignored.

Do you expect end-users to download launch-jars? Users 'must not' have them so tools should provide them if they are missed, no?

[2016-03-17 19:38] jlink commented on #171
Right. The launcher should not be loaded by users but come with the IDE.

2016-03-17 20:27 GMT+01:00 Anna Kozlova <notifications@github.com>:

[2016-03-17 20:48] ducrohet commented on #204
+Michal who's implemented the unit test support.
On Mar 17, 2016 10:13 PM, "Marcel Schnelle" <notifications@github.com>
wrote:

[2016-03-18 08:20] jlink opened #210 "Handle unparseable UniqueID consistently"
Discovering tests via `UniqueIdSelector` and a string-based _unique ID_ that cannot be parsed by `UniqueId.parse()` is handled differently by each engine. Should be handled consistently in the launcher.

I see several options:

- Throw (subtype of) `JUnitException` when executing the request or when creating the selector instance
- Ignore selector and log with warning

I'd prefer the first one sin

[2016-03-18 08:21] jlink commented on #190
Done in master. Follow-up issue #210

[2016-03-18 08:21] #190 closed

[2016-03-19 17:06] #192 closed

[2016-03-19 17:07] marcphilipp commented on #192
Fixed in f7d9f40 in master. Please review and rephrase if necessary.

[2016-03-19 17:35] sbrannen commented on #192
Looks good, @marcphilipp!

Nice and concise.

thanks

[2016-03-19 19:23] aaschmid commented on #58
Hi together, it would be nice to have some progress here, as I would like to support JUnit5 in my junit-dataprovider (https://github.com/TNG/junit-dataprovider) extension. See also @aburmeis feature request: https://github.com/TNG/junit-dataprovider/issues/75.

Cheers,
Andreas

P.S.: I really like your work until now. Extensibility is a huge problem up to JUnit4 ...

[2016-03-20 06:17] jlink commented on #58
Progress will hopefully come after the team meets in 2nd week of April.

[2016-03-20 15:01] aaschmid commented on #58
*thumbsup*

[2016-03-21 21:29] marcphilipp commented on #209
Thanks for your feedback! We're in touch with the Gradle team already and hope that they will start to work on "official" support in Gradle similar to the current support for JUnit 4 and TestNG as soon as we've shipped Milestone 1. This will then hopefully enable you to use a custom task type.

[2016-03-22 07:10] mariusneo opened #211 "junit-lambda URL not correct"
While browsing through the project I've see in the junit5/build.gradle file the following snippet :

[code]

, but the URL  http://junit.org/junit-lambda.html does not exist on junit.org website (404 HTTP error code).

On the other hand, this page exists :
http://junit.org/junit4/junit-lambda.html

I guess that the issue to be fixed is actually on the junit.org site, which adds junit4 to every pag

[2016-03-22 07:54] marcphilipp commented on #211
That's a bug I introduced last night... thanks for reporting it! :-)

[2016-03-22 08:05] mariusneo opened #212 "JUnit 5 reporting in gradle"
I'm not sure if this is not a duplicate request, and if it is, please simply close it.

While browsing the documentation of the project :
http://junit.org/junit5/#running-tests

I thought to have a look how the test output is done via gradle command :

[code]

This command outputs in documentation/build/test-results/junit5 directory two files :
- TEST-junit4.xml
- TEST-junit5.xml

My initial inten

[2016-03-22 14:02] marcphilipp commented on #212
At the moment we generate one XML file per TestEngine. Thus, the tests from `example.DisplayNameDemo` are in `TEST-junit5.xml`:

[code]

[2016-03-22 14:03] marcphilipp commented on #212
Jenkins can display them this way:
https://junit.ci.cloudbees.com/job/JUnit5/lastCompletedBuild/testReport/example/DisplayNameDemo/

[2016-03-22 19:45] mariusneo commented on #212
Sorry, I didn't look with more attention. The file `TEST-junit5.xml` does indeed contain data about all the executed test cases. Thanks for pointing this out.

[2016-03-22 19:45] #212 closed

[2016-03-22 21:11] marcphilipp commented on #211
Temporarily fixed the link by using a Javascript redirect. We will be working on a new website for JUnit 5 in the next few weeks.

[2016-03-22 21:11] #211 closed

[2016-03-25 08:42] ttddyy opened #214 "Introduce support for repeated tests"
## Overview

It would be great to have simple way of running same tests repeatedly **without changing test code**.

Currently, I'm working on async library and writing correct tests is very important.
All Tests passes most of the time but some fails time to time (which we have to fix).
We verify tests by running our test suites very often; our CI test job runs every 5min.

While writing/debugging

[2016-03-25 15:47] kcooney commented on #169
The lack of Rule support in JUnit5 might make it hard for large projects to incrementally migrate test classes, especially if they have custom Rules.

I wonder if we could have an optional jar that defines a simple extension point that can be used for JUnit5 and JUnit4. I find that most of our Rules only need the following:

* setUp()
* tearDown() - called only if setUp () called
* verify() - call

[2016-03-25 18:17] bmalinowsky opened #215 "[junit-console] OS X terminal: ensure to restore default font color after running tests"
When executing `junit-console`, it sometimes happens (e.g., when the process is killed) that the standard font color is not restored after `junit-console` terminated.

A way to reproduce this behavior: if the current console output is painted a different color by `ColoredPrintingTestListener`, e.g., green, hitting `ctrl+c` will paint all subsequent lines also green.

[2016-03-28 14:30] hwellmann opened #216 "Module imports and exports"
Now that JUnit 5 has a modular structure, at least in the sense that it is delivered as a set of artifacts or libraries, it is time to think of package visibility between modules. This is a basic requirement of all potentially relevant module systems like JDK 9, OSGi or JBoss Modules.
- Is a given package supposed to be used by other modules?
- Should a package be regarded as internal to the given

[2016-03-28 17:40] hwellmann commented on #195
See also #216.

[2016-03-28 17:46] jlink commented on #216
Some of your concerns have been addressed by API annotations: http://junit.org/junit5/#api-annotations

We've explicitly decided against a package convention like "internal" since it requires to move classes if you promote or demote their API usage.

[2016-03-28 17:56] hwellmann opened #217 "Eclipse integration"
I was curious to see how hard it would be to make JUnit 5 work in Eclipse, so I started hacking JDT to support JUnit 5.0.0-ALPHA.

The JDT fork is https://github.com/hwellmann/eclipse.jdt.ui. The README has detailed instructions.

I suppose this is more of an Eclipse topic than a JUnit topic, so this issue is just for the record. I'll also post on the JDT mailing list.

[2016-03-29 19:15] marcphilipp commented on #215
I'm not sure there is a reasonable way to ensure the default font color gets restored. We could try to add a shutdown hook but there is no guarantee that it gets executed.

If this is a recurring problem for you you can pass `-C` or `--disable-ansi-colors` to `ConsoleRunner`.

[2016-03-30 13:54] akozlova commented on #169
Hi Kevin,

I thought about IDE-side migration tool to ease the transition. Of cause it
doesn't make the jar useless.

BTW If you have 'rules' for such tool in mind, it would help me a lot.

Thanks,
Anna

On Fri, Mar 25, 2016 at 4:47 PM, Kevin Cooney <notifications@github.com>
wrote:

[2016-03-31 23:01] ttddyy opened #219 "Introduce predefined @Disabled*/@Enabled* variants"
## Overview

I just happened to have a test only failing on MS Windows machines and thought about JUnit Jupiter.

I could write a custom extension implementing `ContainerExecutionCondition` and `TestExecutionCondition`, but having a predefined `@Disabled` annotation such as `@DisabledIfWindows` or `@Disabled(condition = IsWindowsEvaluator.class)` to extend disabling feature might be handy.

## Rel

[2016-03-31 23:26] ttddyy commented on #219
I just realized I should write like this to skip the test on windows machines for my use case.
 `assumeFalse(System.getProperty("os.name").toLowerCase().contains("win"))`

However, I still think *annotating* such condition would be easier to detect than writing assumptions in body of the test methods.

[2016-04-02 19:02] eric-thelin commented on #48
Hi there! I enjoy reading the discussion so far. One idea that came to mind was allowing to define the step ordering in a single class-level annotation like so:

@Scenario(steps=["login", "doSomething", "logout"])
class ScenarioExample {

	@Step
	void login() {...}

	@Step
	void doSomething() {...}

	@Step
	void logout() {...}
}

Besides making it easy to see the step ordering, something I think w

[2016-04-09 17:10] nicolaiparlog opened #222 "Lists of talks about JUnit 5"
I am currently writing an article about JUnit 5 and would like to raise awareness by pointing towards the talks that people start giving about JUnit 5. It would be great if there were a resource (e.g. a wiki page) that I could link to.

Would the project be interested in creating one?

(If only speakers could then enter themselves by opening pull requests.)

[2016-04-10 13:10] marcphilipp commented on #222
That's a very good idea! As long as JUnit 5 does not have a website I'd suggest we could use the wiki.

@junit-team/junit-lambda Any objections?

[2016-04-10 14:04] sbrannen commented on #222
Nope. No objections.

Sounds like a good idea. Go for it!

Here are three talks I'll be giving that can be added to the list (in case you make the page):

- Skills Matter in London, England: https://twitter.com/sam_brannen/status/718417999158517760
- JUG in Zurich, Switzerland: https://twitter.com/sam_brannen/status/718418900153667584
- Spring I/O in Barcelona, Spain: https://twitter.com/sam_brann

[2016-04-10 14:33] nicolaiparlog commented on #222
Here's one I'll be giving:

* May 21st, JEEConf 2016 in Kyiv, Ukraine [[Link](http://jeeconf.com/program/junit-5-next-generation-testing-on-the-jvm/)]

[2016-04-14 19:41] marcphilipp commented on #167
@hotchemi Are you still interested in working on this issue?

[2016-04-15 03:51] hotchemi commented on #167
@marcphilipp Oh sorry! Just forgot so I'm gonna do this in this weekend.

[2016-04-15 09:43] marcphilipp commented on #13
Closed in favor of #48.

[2016-04-15 11:07] jlink commented on #78
Team decision: Implement with simple global launch parameter that will switch off evaluation of conditionals. Hierarchical test engine can then ignore `shouldBeSkipped`.

Investigate if JUnit4 engine can do the same.

[2016-04-15 11:21] marcphilipp commented on #87
If we will add a feature to ensure the order of before/after/test methods it will be in the context of scenario tests (cf. #48).

[2016-04-15 11:21] #87 closed

[2016-04-15 11:56] jlink opened #225 "Mention UpForGrabs in Readme"

[2016-04-15 12:16] marcphilipp commented on #146
Team discussion result: We will add `junit4-runner` as well but will not change the shell scripts because they are generated by Gradle and we do not want to maintain them ourselves.

[2016-04-15 12:28] marcphilipp commented on #155
Team decision: Document how to use ZIP distribution in User Guide.

@nicolaiparlog Do you have time to work on this issue?

[2016-04-15 12:56] marcphilipp commented on #169
@kcooney: Can you please elaborate your proposal a bit more?

[2016-04-15 19:29] marcphilipp commented on #205
I've started to work on this in my fork:
https://github.com/marcphilipp/junit5/tree/gh-pages

[2016-04-15 19:55] mmerdes commented on #142
@signed: are you still working on this?

[2016-04-16 09:46] signed commented on #142
I intend to, just waiting for feedback on #223 to see if I can keep using [`ExtensionRegistry`](https://github.com/junit-team/junit5/blob/master/junit5-engine/src/main/java/org/junit/gen5/engine/junit5/extension/ExtensionRegistry.java) for the tests (preferred) or if I better move to a test double.
[Here](https://github.com/signed/junit5/blob/sandbox/junit-tests/src/test/java/org/junit/gen5/engine

[2016-04-16 11:19] marcphilipp commented on #217
Great to hear that you've started to work on this!

Do you have a link to the discussion on the JDT mailing list?

[2016-04-16 11:29] hwellmann commented on #217
Here's a link to my post on the JDT UI Dev list. There hasn't been any feedback up to now.

http://dev.eclipse.org/mhonarc/lists/jdt-ui-dev/msg01466.html

[2016-04-16 12:13] marcphilipp commented on #217
Thanks! I will try to get in touch with Markus Keller from the JDT team who attended the JUnit Lamba Kickoff.

[2016-04-16 15:05] marcphilipp commented on #142
#223 has been merged.

[2016-04-17 14:18] sbrannen opened #226 "Repeatable annotations are not found on interfaces"
## Status Quo

JUnit 5's annotation search algorithm currently does not find repeatable annotations declared on interfaces. Annotations currently affected include `@Tag`, `@ExtendWith`, and their containers.

For example, this behavior makes it impossible to register an extension via `@ExtendWith` on an interface that is used to supply _default methods_ to concrete test classes that implement the

[2016-04-17 15:44] marcphilipp commented on #226
I agree that we should fix this.

[2016-04-17 17:50] mmerdes commented on #226
Fine with me als well

Marc Philipp <notifications@github.com> schrieb am So., 17. Apr. 2016 um
17:44:

[2016-04-18 12:55] marcphilipp commented on #205
TODOs:
- [ ] better icon for Javadoc
- [ ] id for events heading
- [ ] iCal feed?

[2016-04-18 20:35] lutovich commented on #160
Hello, I'd love to help with this issue. A bit unsure about the proper solution, though.
Message with `\n\r` comes from `org.opentest4j.MultipleFailuresError#getMessage()` which is in a separate repo. It is possible to fix indentation in junit-console using some `#replaceAll()` magic like [here](https://github.com/lutovich/junit5/commit/6d413a7b97f7a7893d5cfa1a729963a528e761ee).

Is this an ok sol

[2016-04-18 20:49] marcphilipp commented on #160
Since other error messages might also contain line breaks, I think it's an ok solution.

@junit-team/junit-lambda Any objections?

[2016-04-18 20:57] marcphilipp commented on #205
Even though we will probably continue to work on the website, I'm closing this issue for now as we have an initial version.

[2016-04-18 20:57] #205 closed

[2016-04-19 08:27] mmerdes commented on #160
No objections

Cheers,
Matthias

Marc Philipp <notifications@github.com> schrieb am Mo., 18. Apr. 2016 um
22:49:

[2016-04-19 10:45] sbrannen commented on #160
No objections.

[2016-04-19 10:46] sbrannen commented on #160
Go for it!

[2016-04-19 10:54] marcphilipp commented on #160
+1

[2016-04-19 11:00] sbrannen commented on #217
Thanks for taking the initiative here!

I built the projects as explained in your README; however, the Eclipse `.classpath` for the `junit5-demo` project contains hard coded references to your file system (i.e., paths referencing your home directory: `/home/hwellmann/.m2/repository/...`).

One can of course manually edit the file to point to a local Maven repository, but I thought I'd at least poi

[2016-04-19 11:06] sbrannen commented on #217
Also, when I choose `Run As | Eclipse Application` per your instructions, I get the following errors on my Mac.

So do you have any tips for trying this out on a Mac?

[code]

[2016-04-19 17:57] hwellmann commented on #217
Believe it or not, I almost spent more time trying to make the build as smooth as possible than actually coding, but of course I fully agree that the present state is far from perfect...

Did you try the Maven Tycho build? I would expect that to be independent of .classpath and other Eclipse metadata. I usually add .classpath, .project and .settings to .gitignore and let m2e generate them on impor

[2016-04-19 18:08] sbrannen commented on #217
@hwellmann,

I believe you!  And... no worries.  I just wanted to see if I could get it up and running locally to give it a try (and potentially demo it at my JUnit 5 presentation tomorrow night), but I don't currently have a lot of spare time to invest in it. So, if it works for you, I'll just have to trust you and give it a shot once there's a simpler way to try it out. :wink:

I followed the [C

[2016-04-19 23:00] lutovich commented on #160
Thanks for the feedback. Submitted a PR.

[2016-04-20 14:40] marcphilipp commented on #208
@sbrannen Has this already been addressed in f77221e?

[2016-04-20 14:46] #222 closed

[2016-04-20 14:47] #209 closed

[2016-04-20 15:58] #160 closed

[2016-04-20 19:36] marcphilipp commented on #171
I'm closing this issue for now because all bugs have been addressed.

@akozlova We will get in touch with you regarding our revised roadmap shortly.

[2016-04-20 19:36] #171 closed

[2016-04-20 21:52] lutovich commented on #109
I would like to help with this but it seems most non-trivial classes from junit-commons already have pretty good test coverage. @marcphilipp could you please elaborate what should be done as part of this task?

[2016-04-21 14:28] sbrannen commented on #109
@lutovich, basically just go through each utility in the `org.junit.gen5.commons.util` package in the `junit-commons` module, and for each non-private method, ensure that there is sufficient coverage in a corresponding test class in the `org.junit.gen5.commons.util` package in the `junit-tests` module.

Make sense?

[2016-04-21 14:54] lutovich commented on #109
Yes, understood. I can do this.

[2016-04-21 15:11] sbrannen commented on #109
Cool. thanks!

[2016-04-24 16:53] sbrannen commented on #219
@ttddyy, that's an interesting idea, and I in fact had a similar idea (hence the new subject).

I'm not sure that we will introduce such mechanisms in core JUnit 5, but I do imagine they will end up somewhere (perhaps in an add-on module or in an example project).

[2016-04-25 19:29] #173 closed

[2016-04-26 14:11] lutovich commented on #109
@sbrannen I'm still working on this task, here is the branch https://github.com/lutovich/junit5/tree/issue109-tests-junit-commons. This will take couple more days.

[2016-04-26 18:29] marcphilipp commented on #175
### New proposal

<img width="801" alt="screen shot 2016-04-26 at 20 27 15" src="https://cloud.githubusercontent.com/assets/214207/14829759/6fe58cce-0bed-11e6-978f-91b9026fbfff.png">

@junit-team/junit-lambda What do you think?

[2016-04-26 18:35] marcphilipp commented on #146
`junit4-runner.jar` is now included in the ZIP distribution.

[2016-04-27 06:05] nicolaiparlog commented on #222
Because I don't know where else to put it, I'll do it here: I'll be talking about JUnit 5 at Devoxx Poland: http://cfp.devoxx.pl/2016/talk/OOT-4758

Unrelated: If there were a repo/branch with the Jekyll sources (or did I miss it?), we could add these via PRs.

[2016-04-27 06:38] marcphilipp commented on #222
Thanks for letting us know. I've added your talk to the list in 88787cec05ce2a2244be05a67a7b6a366a79ecaf.

The Jekyll sources are in the `gh-pages` branch in this repository. To add a talk you'll have to edit [events.json](https://github.com/junit-team/junit5/blob/gh-pages/data/events.json) and (if adding a new speaker) [speakers.json](https://github.com/junit-team/junit5/blob/gh-pages/data/speake

[2016-04-27 08:32] mmerdes commented on #175
The type hierarchy sure looks plausible.
(I would assume that for the purpose at hand it would _not_ make sense to model JavaSource as a subtype of FileSource)
@marcphilipp Do you oversee the implications for the implementation, especially for instanceOf()s?

[2016-04-27 12:36] marcphilipp commented on #149
Team decision: Add diagram to user guide to visualize test lifecycle and where extensions are called.

[2016-04-27 12:50] marcphilipp commented on #175
Feedback from team discussion: Use `Path` instead of `File`.

[2016-04-27 13:02] marcphilipp commented on #208
Was fixed in f77221e.

[2016-04-27 13:02] #208 closed

[2016-04-27 13:08] marcphilipp commented on #171
#210 is a follow-up on this issue.

[2016-04-27 13:09] marcphilipp commented on #210
Original issue: #171.

[2016-04-27 13:15] marcphilipp commented on #210
Additional Proposals:
- Return a "AlwaysFailingTestDescriptor"/"DeadOnArrivalTestDescriptor"/"ErrorReportingTestDescriptor"
- Pass Object from Launcher into TestEngines to report unparsable unique IDs

[2016-04-27 15:03] marcphilipp commented on #175
### Updated proposal

<img width="1177" alt="screen shot 2016-04-27 at 17 03 36" src="https://cloud.githubusercontent.com/assets/214207/14856842/04ab46da-0c9a-11e6-96dd-229dc265ea1c.png">

[2016-04-27 19:02] sbrannen commented on #109
I took a quick look and made some minor suggestions.

Keep up the good work, and thanks for helping us out!

[2016-04-27 22:51] nicolaiparlog commented on #222
Oops, didn't look for the sources _in_ `gh-pages`. If there are more talks, I will make a PR.

[2016-04-28 18:31] sbrannen commented on #226
"in progress"

[2016-04-29 08:52] marcphilipp opened #232 "Remove ExtensionPoint, ExtensionRegistrar, Position etc. and simplify implementation of JUnit 5 TestEngine"

[2016-04-29 09:26] bechte commented on #107
Team decision:
- We choose to take pull request #218 instead of #134 to be able to ship M1 faster.
- Therefore, #134 will be closed and not merged
- I will open a new issue for extending the behaviour according to #134 that we can work on in a later milestone

[2016-04-29 09:26] #107 closed

[2016-04-29 09:51] bechte commented on #175
I've started working on this issue.

[2016-04-29 11:48] marcphilipp opened #233 "Introduce mechanism to pass parameters to Launcher which passes it to the TestEngines"
This is a prerequisite for #78.

[2016-04-29 11:48] marcphilipp commented on #78
#233 needs to be resolved first.

[2016-04-29 11:51] marcphilipp opened #234 "Fully document Launcher and Engine APIs"
### Rationale

We want IDE and build tool vendors to start consuming these APIs starting with M1.

### Deliverables

- [x] Document all `public` APIs in the `junit-launcher` module.
- [x] Document all `public` APIs in the `junit-engine-api` module.
  - [x] Document `AbstractTestDescriptor`, including its intended usage
  - [x] Document `HierarchicalTestEngine.execute()`
  - [x] Improve documentati

[2016-04-29 11:53] marcphilipp commented on #203
I'm closing this issue because this would not solve PowerMock's problem (as discussed in #201).

[2016-04-29 11:53] #203 closed

[2016-04-29 16:17] sbrannen commented on #226
Pushed to `master` 6ffc6aa0ea1ae082eb0e3c2b7e0669935c773aa2.

[2016-04-29 16:17] #226 closed

[2016-04-30 14:13] sbrannen commented on #232
_in progress_

[2016-05-01 18:48] mmerdes commented on #58
"in progress"

[2016-05-02 16:40] sbrannen commented on #232
The _work in progress_ can be viewed here: https://github.com/sbrannen/junit5/commits/issue232-simplified-extension-model

And an official PR is forthcoming.

[2016-05-03 08:03] sbrannen commented on #232
See PR #237

[2016-05-05 16:51] aalmiray opened #238 "Add project metadata to JAR manifest"
It would be great if JAR manifests contained additional information related to the project such as

    Manifest-Version: 1.0
    Built-By: ${user.name}
    Created-By: 1.8.0_92 (Oracle Corporation 25.92-b14)
    Build-Date: 2016-05-05
    Build-Time: 18:44:48.377+0200
    Build-Revision: 0ca4beaa67bd484f98fd46e776e31c89adfea234
    Specification-Title: ${project.name}
    Specification-Version: 5

[2016-05-05 17:19] aalmiray opened #240 "Aggregate coverage reports with JaCoCo"
It would be great to compute aggregate coverage reports with JaCoCo and perhaps post the results to coveralls.io and/or codecov.

[2016-05-06 08:00] marcphilipp commented on #240
We switched from JaCoCo to Clover because JaCoCo had/has issues with exceptions that lead to our Assertions class having a very poor coverage.

I've added support for Clover to our Travis build in fbf595d51f21c8813ee335c6b94fa9ba688dbdb9. That worked for a while, even though Codecov has some issues parsing Clover reports.

However, because the encrypted clover license (`clover.license.enc`) couldn

[2016-05-06 08:29] aalmiray commented on #240
I also encountered additional issues after adding an initial JaCoCo configuration. At least half of the projects do not produce any tests, so they must be excluded form aggregate reports (otherwise `jacocoTestReport` task fails). JaCoCo instrumentation doe snot run out of the box with the `junit5-gradle` plugin because the new test task is not related to gradle's `Test` task, thus explicit configu

[2016-05-06 08:56] aalmiray opened #241 "Limit publishing settings on build file"
It looks like publishing settings are applied to all subprojects but only a handful of them are actually meant for publication. This leads to repeated task deactivation on the projects that should publish their artifacts. The build can be simplified in many ways, one of them would be to apply the following pattern to the build

    def mavenizedProjects() {
        [
            project(':project1

[2016-05-06 09:25] marcphilipp opened #242 "Introduce error handling mechanism for validation and discovery errors"
## Overview

Validation errors (e.g., for invalid `@BeforeEach` method declarations) should not abort the entire discovery phase. Instead the _discovery phase_ should continue, with the error tracked and reported during the _execution phase_.

## Areas of Applicability

- [x] exceptions thrown by test engines, as discussed in #750
- [x] unresolvable unique IDs, as discussed in #210
  - note, howev

[2016-05-06 10:01] sbrannen commented on #241
Thanks for the suggestion. We'll look into it.

[2016-05-06 10:03] aalmiray commented on #241
@sbrannen: any chance you'll be at Zurich Hackergarten next week? Perhaps we can have a look at the gradle build together :smiley:

[2016-05-06 10:07] aalmiray opened #243 "junit-commons/build.gradle can be removed"
This file does not provide any additional settings specific to the `junit-commons` project, thus it can be safely removed

[2016-05-06 10:36] sbrannen opened #244 "Document TimingExtension example in the User Guide"
Document (in `/documentation/src/docs/asciidoc/extensions.adoc`) how to implement `BeforeTestMethodCallback` and `AfterTestMethodCallback` extensions by demonstrating the implementation of the `TimingExtension` and its usage in `TimingExtensionTests`.

[2016-05-06 10:45] sbrannen commented on #232
Merged into `master` in 434a3609f4b0a80fdeeac4a35f7c4b03bd2138d5.

[2016-05-06 10:45] #232 closed

[2016-05-06 10:54] sbrannen commented on #243
Thanks for the tip.

This has been removed in commit dca485319a9f82d47364a71b585ad14da5b8a6d3.

[2016-05-06 10:54] #243 closed

[2016-05-06 15:03] marcphilipp commented on #240
Here's the JaCoCo configuration that worked for us:
https://github.com/junit-team/junit5/blob/69b0a0138e4c3158504f7b382cdf05cc1e05b92e/junit-tests/build.gradle#L47-L65

We've asked the JaCoCo team for help in jacoco/jacoco#370 before switching to Clover.

For the latter point: I absolutely agree that this would be desirable. 5.0.0-M1 will focus on stabilizing our Launcher and Engine APIs. Once it

[2016-05-06 15:17] aalmiray commented on #240
I see now. Could issue 1 be solved by rewriting the method such as

    throw fail(nullSafeGet(messageSupplier));

I remember seeing this idiom in the `fest` library.

https://github.com/alexruiz/fest-assert-2.x/blob/bff5925af00fc732ba3a0e85f6774acba77ec7c8/src/main/java/org/fest/assertions/internal/Failures.java
https://github.com/alexruiz/fest-assert-2.x/blob/bff5925af00fc732ba3a0e85f6774acba77e

[2016-05-06 15:55] sbrannen commented on #241
@aalmiray, sounds like a good idea. I just [signed up](http://www.meetup.com/Hackergarten-Zurich/events/230563975/). 😉

[2016-05-06 16:19] sbrannen opened #245 "Build against opentest4j 1.0.0-M1"
We are currently building against opentest4j snapshots, but before JUnit 5.0 M1 is released we will need to build against opentest4j 1.0.0-M1.

[2016-05-06 18:33] marcphilipp commented on #240
We've been in contact with Etienne from Gradle since the JUnit Lambda kickoff. That should improve our chances, I hope. But you're right that there's no guarantee, of course. It sounds like you're eager to work on it? If so, please open a new issue for it – we'd be happy to see progress there. :-)

Regarding the JaCoCo issue: Thanks for the suggestion. We can try that. However, I want a coverage t

[2016-05-06 18:33] sbrannen commented on #109
PR #236 has been merged into `master` in commit 2dfd65461e7ecf2b8f1d7628c8b407bb67bd322a.

[2016-05-06 18:33] #109 closed

[2016-05-06 20:03] aalmiray commented on #240
Great! Etienne is a fellow colleague of mine :smile:

I do like Clover but as I recalled its development hasn't been so important to its owning company in the latest years (I may be totally wrong too, <3 Atlassian). Setting up the license in a public CIo server is also a problem as you don't a "smart guy" to "borrow" it. JaCoCo and Cobertura are the other options we have at hand; JaCoCo is more ac

[2016-05-07 05:41] nicolaiparlog opened #246 "Make core features of AnnotationUtils available to extension authors"
While implementing extensions it is common to look for annotations. The easiest way to do this properly (i.e. including repeatable and meta-annotations) seems to be `AnnotationUtils`. It is currently marked as internal API.

Annotations and especially meta-annotations are a pillar of JUnit 5's extensibility. Being able to freely compose existing annotations according to ones own requirements will

[2016-05-07 08:14] marcphilipp commented on #240
The last time I checked, Cobertura didn't have full support for Java 8.

Clover is already set up on Cloudbees: https://junit.ci.cloudbees.com/job/JUnit5/

Good to hear that you'll meet with @sbrannen at Zurich Hackergarten!

[2016-05-07 09:57] sbrannen commented on #246
@nicolaiparlog, thanks for raising this issue. You make some valid arguments.

@junit-team/junit-lambda, let's discuss the options here.

[2016-05-07 12:31] smoyer64 commented on #246
I'm working on an extension (https://github.com/selesy/uprest) to replace the defunct Restfuse project (https://github.com/eclipsesource/restfuse).  Since the tests are defined declaratively, I make heavy use of annotations and also ended up writing a small utility class to retrieve annotation values. I can potentially have:

-   Annotations on the type
-   Annotations on a method
-   Annotations

[2016-05-07 12:53] marcphilipp commented on #246
@smoyer64 upREST looks really promising! Great stuff!

I quite agree that we should make this functionality available to extensions. However, I'm not convinced that making `AnnotationUtils` a public API is the way to go. An alternative would be to add additional methods to `ExtensionContext`, e.g. `getAnnotations(Class<A extends Annotation>)`. The benefit would be more control over what is public

[2016-05-07 12:57] sbrannen commented on #246
I agree with @marcphilipp  and actually already had the exact same idea... to provide a _public_ API local to the `ExtensionContext`.

[2016-05-07 13:46] smoyer64 commented on #246
Either way is fine with me ... and I certainly know the value of limited the surface area of the actual API (leaving more code as the proverbial "black box").  I think the spirit of the proposal by@nicolaiparlog would be met by exposing that functionality elsewhere.

As an aside, since (at the moment) the upREST framework's two primary goals are to create dynamic tests (the example above would act

[2016-05-07 14:57] nicolaiparlog commented on #246
My intent was to gain supported access to the functionality and I am happy that you are seeing things similarly. :) I don't care much which way it happens and absolutely see your point to concentrate API access via execution contexts instead of simply "making stuff public".

[2016-05-07 22:18] signed commented on #162
I agree with @bechte about the different testing styles and the corner cases mentioned by @jlink. I'd prefer not having this complexity and ‘one size fits all’ naming convention in junit core.

How about providing an ExtensionPoint to provide the display name?
This way there can be a domain/style/language aware version of pretty for everyone that is willing to write an extension. By defining my ow

[2016-05-08 18:33] sbrannen opened #249 "Rename extension APIs"
## Status Quo

JUnit 5 currently provides the following `Extension` APIs, which can be logically assigned to three categories.

*Conditional Text Execution*

- `ContainerExecutionCondition`
- `TestExecutionCondition`

*General Purpose*

- `InstancePostProcessor`
- `ExceptionHandler`
- `MethodParameterResolver`

*Test Lifecycle Callbacks*

- `BeforeAllCallback`
- `AfterAllCallback`
- `BeforeEachCal

[2016-05-08 18:38] sbrannen commented on #249
@junit-team/junit-lambda, this issue is now open for discussion. 😉

[2016-05-08 20:11] jaredsburrows opened #250 "Publish to MavenCentral"
Just like `compile 'junit:junit:4.12'` can be used in Gradle and downloaded from MavenCentral, when can we upload Junit 5 to MavenCentral?

[2016-05-08 20:29] sbrannen commented on #142
Merged PR #248 into `master` in 3ebaf5fc328931679943bb55a4007a64d5cf7b85.

[2016-05-08 20:29] #142 closed

[2016-05-08 20:35] smoyer64 commented on #250
Maven central is generally for releases ... you can get the 5.0.0-ALPHA and 5.0.0-SNAPSHOT from the Sonatype SNAPSHOT repository:

https://oss.sonatype.org/content/repositories/snapshots/org/junit/

You can either add this to your project's repositories definition *OR* if you're using Nexus or Artifactory (or others) to mirror external repositories and/or host your own, you can add the Sonatype SN

[2016-05-08 20:44] sbrannen commented on #250
JUnit `5.0.0-ALPHA` artifacts are already available in [Maven Central](http://search.maven.org/#search|ga|1|org.junit).

As discussed in the [JUnit 5 User Guide](http://junit.org/junit5/docs/current/user-guide/#dependency-metadata), `5.0.0-SNAPSHOT` artifacts can be consumed from Sonatype’s [snapshots repository](https://oss.sonatype.org/content/repositories/snapshots/org/junit/).

You can see a c

[2016-05-08 20:44] #250 closed

[2016-05-09 15:27] sbrannen opened #251 "Enable use of JUnitException in @throws Javadoc in junit-engine-api module"
## Status Quo

Although the `junit-engine-api` has a compile time dependency on `junit-commons`, the Checkstyle plugin currently does _not_ allow `JUnitException` to be used in a `@throws` Javadoc declaration. Attempting to do so will result in errors similar to the following.

## Deliverables

- [x] Fix the Gradle build so that exceptions defined in `junit-commons` may be used in `@throws` declar

[2016-05-09 15:39] sbrannen commented on #251
Fixed in 73d7a3cefc6d843faf6f5160f0ea4549625cf7a0.

[2016-05-09 15:39] #251 closed

[2016-05-09 20:52] mmerdes commented on #246
I agree with @marcphilipp and @sbrannen that it might be wise to hide the implementation of the annotation utils properly. We also might want to expose the functionality in an adequate way to prevent people from reinventing the wheel or even worse from using internal stuff reflectively...

@smoyer64 first of all, thanks for working on such an interesting application of JUnit5 features.
I am lookin

[2016-05-10 04:19] jlink commented on #175
You might also consider to add a JavaPackageSource and a UrlSource or UriSource (for stuff like Fitnesse tests that live in a web server).

[2016-05-10 10:46] sbrannen commented on #175
Good points!

We actually discussed introducing a `JavaPackageSource`, but it didn't make it into the diagram.

A `UriSource` is also a very good idea. Since files and directories also have an associated URI, I would suggest that `UriSource` be an immediate superinterface of `FileSystemSource`.

[2016-05-10 12:04] marcphilipp commented on #175
Like this?

<img width="965" alt="screen shot 2016-05-10 at 14 03 20" src="https://cloud.githubusercontent.com/assets/214207/15145790/fd726682-16b7-11e6-85f0-598556a455e5.png">

[2016-05-10 12:23] mmerdes commented on #175
Looks good to me.
(I assume the return type of JavaPackageSource.getPackageName() should be a String rather than a Class?)

[2016-05-10 13:10] marcphilipp commented on #175
Right. 😳

[2016-05-10 13:17] sbrannen commented on #175
Yep, exactly like that (with the suggested change to `String` from Matthias). 😉

[2016-05-10 18:33] sbrannen opened #252 "Apply InstancePostProcessor extensions for every test instance"
## Status Quo

`InstancePostProcessor` extensions currently only get applied during the invocation of `MethodTestDescriptor.execute()`; however the actual _instance_ is created in `MethodTestDescriptor.prepare()`. Furthermore, outer instances for `@Nested` test classes are created transparently in `NestedClassTestDescriptor.testInstanceProvider()`.

## Analysis

For _classic_ tests, this does not

[2016-05-10 21:39] lutovich commented on #167
I can start working on this issue, if you do not mind @hotchemi.

@sbrannen my understanding is that users usually rely on collections to implement proper `equals()` method and than just use `assertEquals()` to check them. so there are no collection assertions in JUnit 4. do you think it makes sense to add only array assertions to JUnit 5 as well?

[2016-05-11 03:42] hotchemi commented on #167
@lutovich Sorry, I've stopped this issue so please do that!

[2016-05-11 11:22] sbrannen commented on #167
@lutovich,

You're right: JUnit 4 does not provide explicit assertions for collections.

If you have time, you could experiment with `assertEquals(Iterable, Iterable)`, `assertEquals(Iterable, Iterable, String)`, and `assertEquals(Iterable, Iterable, Supplier<String>)` variants, but that might turn out to be more effort than it's worth _to get it right_.

So, I would first focus on `assertArrayEqu

[2016-05-11 17:36] sbrannen commented on #252
_in progress_

[2016-05-11 17:50] sbrannen commented on #252
pull request submitted: #253

[2016-05-11 18:53] RAnders00 opened #254 "Stack Overflow is not a forum"
On [the JUnit 5 website](http://junit.org/junit5/), there is a link called "Forum" which points to the Stack Overflow `junit5` tag.

The problem is: [Stack Overflow is not a forum.](http://meta.stackexchange.com/q/92107/296887) I think it would be preferrable to rename the link to something like "Q&A", "Question & Answer" or "Stack Overflow".

![untitled](https://cloud.githubusercontent.com/assets

[2016-05-11 19:07] marcphilipp commented on #254
![magrittepipe](https://cloud.githubusercontent.com/assets/214207/15193022/3b8e910c-17bc-11e6-963c-
733cad0254bd.jpg)

SCNR

But you're right. I like "Q & A".

[2016-05-12 09:27] sbrannen commented on #254
I'm fine with leaving it as "Forum", but if the general consensus is to change the name I would then vote for "Q & A".

[2016-05-12 14:31] nicolaiparlog commented on #254
I have to admit that I was also pretty surprised to learn that there's a forum - and a moment later again because there isn't one.

[2016-05-12 14:51] sbrannen commented on #254
Well... it's the closest thing to a _forum_ that one can expect from an open source project. 😉

[2016-05-12 18:02] #254 closed

[2016-05-12 18:03] marcphilipp commented on #254
I changed it to Q & A.

[2016-05-12 18:50] marcphilipp commented on #153
### New Proposal

I also think we should not have two competing naming concepts. In addition, as @akozlova has expressed in #172, IntelliJ wants to know whether a name was explicitly set by users (using `@DisplayName` in case of JUnit 5) or implicitly generated by the TestEngine (e.g. method or class name). Since they want to shorten the fully qualified class name, we might as well provide a short

[2016-05-13 08:40] aalmiray opened #258 "Package junit-platform-console as a fat JAR"
https://github.com/johnrengelman/shadow plugin can be used to achieve this goal. This plugjn is capable of merging metadata files (such as META-INF/services) and others. It's also friendly with the `application` plugin; it can produce an executable fat jar when both plugins are applied.

[2016-05-13 08:45] sormuras commented on #258
Related to #146 ?

[2016-05-13 09:47] bechte commented on #233
I assigned this issue to myself and start working on it. I will cover the following topics:

- Provide an handy way to specify additional launch parameters from the ```TestDiscoveryRequestBuilder```
- Add a way to fetch the launch parameters from the ```EngineDiscoveryRequest```

[2016-05-13 09:50] sbrannen commented on #258
@sormuras, yes this is related to #146.

In contrast to #146, this issue proposes a fat JAR instead of a ZIP for distributing the Console Runner.

[2016-05-13 10:00] aalmiray commented on #258
Be aware that both fat JAR and ZIP options can be had when applying `application` and `shadow` plugins.

[2016-05-13 10:01] sbrannen commented on #258
@aalmiray, I just tried it out...

[code]

Works like a charm! 👍

[2016-05-13 10:03] sbrannen commented on #258
Yes, I _meant_ to say "this issue proposes a fat JAR _in addition to_ a ZIP for distributing the Console Runner". 😉

[2016-05-13 10:06] sormuras commented on #258
Great! One JAR to test 'em all. :guitar:

Perhaps that JAR can also be used as a single classpath entry for manually managed projects -- just like the plain old `junit-4.x.jar`.

[2016-05-13 10:11] sbrannen commented on #258
Yes, AFAIK, that should also work.

[2016-05-13 10:18] sbrannen opened #260 "Include license in published archives"
## Status Quo

In contrast to the `junit-4.12.jar` which contains a `LICENSE-junit.txt` file, published artifacts such as `junit5-api-5.0.0-SNAPSHOT.jar` currently do not contain the EPL license file.

## Deliverables

- [ ] Update the Gradle build so that the `LICENSE.md` file (from the root folder) is included in every published archive under `/META-INF/LICENSE.md`.

[2016-05-13 10:18] sormuras commented on #258
Nit: the JAR names contains `console` and `all`. IMHO, it could be destilled down to `junit-5.0.0-SNAPSHOT-all.jar` or even smaller `junit-5.0.0-SNAPSHOT.jar` ... which then really comes close the well-known naming pattern used in 4.x releases. Imaging a `junit-5.0.0.jar` release...

[2016-05-13 10:20] aalmiray commented on #258
given the existence of `junit5-console-x.y.z-all.jar`, is it deemed  necessary to publish plain `junit5-console-x.y.z.jar` to a maven repo too? IOW, should the project `junit5-console` publish only the fat JAR?

[2016-05-13 10:22] aalmiray commented on #258
configuring the  `baseName`and `classifier` properties on the `shadowJar` task would do the trick, for example

    shadowJar {
      baseName = 'junit'
      classifier = ''
    }

would generate a `junit-<version>.jar` fat JAR.

[2016-05-13 10:24] sbrannen commented on #258
I'm in favor of only publishing the fat JAR variant of the Console Runner and dropping the classifier as you have suggested above.

But let's see what the rest of the @junit-team/junit-lambda has to say.

[2016-05-13 10:25] sormuras commented on #258
I'm with @sbrannen !

[2016-05-13 10:55] marcphilipp commented on #258
I think we should keep the name `junit-console` (instead of `junit`) to avoid confusion. I would be ok with only publishing the fat JAR if we didn't have dependencies on it. However, our Gradle plugin adds it as a `testRuntime` dependency. Therefore, I think a `junit-console-all-5.0.0-SNAPSHOT.jar` is the way to go.

[2016-05-13 11:02] marcphilipp commented on #260
I think using the Markdown file is fine.

[2016-05-13 11:48] sbrannen commented on #258
Yeah, it's a bit unfortunate that `JUnit5Plugin` adds `junit-console` as a `testRuntime` dependency since that would automatically pull in JUnit 4 if `junit-console` were a fat JAR. 😞

With that in mind, I agree that we need to have to distinct JARs for the console runner for the current implementation of the `JUnit5Plugin`.

However, it makes me wonder if we shouldn't revise the `JUnit5Plugin` so

[2016-05-13 11:50] sbrannen commented on #258
On a somewhat related note, does anybody know why `junit-gradle` has `Main-Class: org.junit.gen5.console.ConsoleRunner` in its JAR manifest?

[2016-05-13 12:11] sbrannen commented on #238
Merged PR into `master` in febd4b10d63358a1a1b9bec8cfede02c0abc4653.

[2016-05-13 12:11] #238 closed

[2016-05-13 12:19] smoyer64 commented on #258
Unless there are technical problems with it, I'd like to recommend Simon Tuff's One-JAR classloader as opposed to a simple fat JAR.  I've only used it manually and via Maven but there's a Gradle plugin at https://github.com/rholder/gradle-one-jar.

[2016-05-13 12:35] sbrannen commented on #241
Resolved in conjunction with #256 and merged into `master` in ea636bfb8d47f5fec872836b6415bbaa6b3b9f73.

[2016-05-13 12:35] #241 closed

[2016-05-13 12:40] aalmiray commented on #258
among other considerations are:
- one-jar license must be compatible with EPL, see http://one-jar.sourceforge.net/index.php?page=documents&file=license
- custom classloader, will it work in an OSGi environment? see #195

[2016-05-13 13:10] marcphilipp commented on #258
I'll get in touch with @pholser (the author of jopt-simple) to see if he's ok with us distributing his library in ZIP/JAR.

[2016-05-13 13:27] pholser commented on #258
@marcphilipp OK by me.

[2016-05-13 14:00] sbrannen commented on #252
Merged PR #253 into `master` in 2f8496577b8e19156884cd752851736ca16341e1.

[2016-05-13 14:00] #252 closed

[2016-05-13 14:26] sbrannen commented on #225
This has been addressed in PR #262 and merged into `master` in 6e2390712ef3723d05294f609a6dad5eb00327f4.

[2016-05-13 14:26] #225 closed

[2016-05-13 14:27] RAnders00 commented on #260
Should the license file be included in the javadoc and source jars as well?

[2016-05-13 14:34] marcphilipp commented on #225
👍

[2016-05-13 14:49] sbrannen commented on #260
I think that including the license in the javadoc and source JARs is perfectly reasonable.

[2016-05-13 14:49] sbrannen commented on #260
FYI: I have updated this issue's deliverables accordingly.

[2016-05-13 15:12] nicolaiparlog commented on #258
While the console runner is important now, I'm sure it will be way less relevant once major IDEs and tools have built-in JUnit-5-support. The JAR names should be chose accordingly.

In the future the vast majority of projects should only depend on `junit-5-api`. So if any one JUnit 5 module gets promoted to `junit-5` it should be this one. I hence think that the fat JAR's file name should include

[2016-05-13 15:18] sbrannen commented on #258
Just to be perfectly clear, I was not suggesting that we change the `baseName` for the `junit-console` artifact to just `junit`.

I am personally not in favor of any artifact named simply `junit-5.0.0.jar`.

[2016-05-13 15:19] nicolaiparlog commented on #153
This looks like a useful abstraction.

One detail: I would forego the `boolean explicit` and make it into an enum `NameOrigin` (or whatever) with according values. This makes the code more expressive and leaves the door open to future changes (although I have to admit that I can't come up with one that illustrates my point).

[2016-05-13 15:20] sbrannen opened #264 "DefaultLauncher should require a non-empty list of engines"
## Status Quo

If you fail to put a `TestEngine` JAR in the classpath, JUnit 5 will silently run _nothing_.

This fact recently caused a new user of JUnit 5 quite a headache since his tests were executed via the Maven Surefire plugin but not within the IDE.

## Deliverables

- [x] Ensure that the `DefaultLaucher` fails loudly when supplied an empty list of test engines.

[2016-05-13 15:24] nicolaiparlog commented on #155
Let's see how #258 comes along (good thing, I'm lazy).

[2016-05-13 15:53] sbrannen commented on #264
Fixed in 875b6ea55d22a6b5e7d734974d7d710fb05825a1

[2016-05-13 15:53] #264 closed

[2016-05-13 16:46] bechte commented on #175
Merged with #255 into master.

[2016-05-13 16:46] #175 closed

[2016-05-13 17:50] #260 closed

[2016-05-13 17:53] sbrannen commented on #260
The work merged into `master` in f37c963715cf60874bbd9fe893f3e7898c277b00 in fact only copies the license file to *binary* JARs.

Thus, javadoc and source JARs do not currently include the license file.

@junit-team/junit-lambda, if anyone thinks we need to ensure that the EPL license file is included in javadoc and source JARs, please reopen this issue or a new one.

[2016-05-14 10:01] sbrannen commented on #233
Closing this issue since it was addressed in conjunction with PR #261 which was merged into `master` in 3a137040dde7e1bf7a6871d69f05ace9d99cda7f.

[2016-05-14 10:01] #233 closed

[2016-05-14 10:02] sbrannen commented on #78
This issue is no longer _blocked_ since #233 has been resolved.

[2016-05-14 10:53] sbrannen commented on #258
Assigned to M2 for now.

[2016-05-14 11:11] bechte commented on #234
I will take care of adding documentation.

[2016-05-14 11:12] bechte commented on #44
I will take care of adding documentation.

[2016-05-14 11:38] mmerdes commented on #249
@sbrannen
such names are a means of categorizing something. Did you consider using different marker interfaces (instead or in addition to)? These would be a little bit like UML stereotypes.

[2016-05-14 11:40] mmerdes commented on #249
In general I think the proposal constitutes an improvement - whether realized by mere renamings, or marker interfaces, or both.

[2016-05-14 11:43] mmerdes commented on #249
I would personally  prefer to have the structural changes beyond the renaming in a separate issue.

[2016-05-14 11:54] sbrannen commented on #249
@mmerdes, thanks for the feedback.

If you have suggestions for marker interfaces for categorization purposes, please tell us. In any case, I think we should add those in a different issue if we deem it appropriate.

We agreed in our last team call that we will address structural changes (e.g., generalization of the `MethodParameterResolver` API) in a separate issue.

cheers,

Sam

[2016-05-14 11:56] sbrannen commented on #249
This issue is _blocked_ until #58 has been completed and merged into `master`.

[2016-05-14 12:11] marcphilipp commented on #138
I'm starting to work on this issue.

[2016-05-14 16:22] marcphilipp commented on #245
I'm starting to work on this issue.

[2016-05-14 16:26] marcphilipp commented on #245
Actually, I've misread the issue... I thought it was to change the dependency from 1.0.0-ALPHA to 1.0.0-SNAPSHOT. But that has already been done in 7626b32.

[2016-05-14 18:38] sbrannen commented on #78
_in progress_

[2016-05-15 15:25] sbrannen commented on #78
@junit-team/junit-lambda, please review PR #265.

[2016-05-15 16:20] sbrannen opened #266 "Ensure JAR manifests are not regenerated unless there are code changes"
## Status Quo

Executing `gradle test` twice in a row results in all tests being executed by the `JUnit5Plugin` again, even though everything is up-to-date in the subsequent run.

## Analysis

After thorough analysis, it turns out that the `JUnit5Plugin` is not the culprit here. Rather, the underlying cause is that JAR manifests are now continuously created with a `buildDate` and `buildTime` (see

[2016-05-15 19:13] marcphilipp commented on #138
I've addressed the first subtask in opentest4j, see ota4j-team/opentest4j@dada365668cd918d0273f22bbfdcdadd8eac5643 for details. Since I won't have time to work on this issue in the next few days, I'll remove the *in progress* tag.

[2016-05-15 19:18] sbrannen commented on #78
Merged into `master` in ff6c3f635a444ccc92039420616402e32d3506a9

[2016-05-15 19:18] #78 closed

[2016-05-15 19:38] sbrannen commented on #78
@akozlova,

You may be interested in knowing that is now possible to deactivate JUnit 5's `@Disabled` condition via a JVM system property like this:

`-Djunit.conditions.deactivate=org.junit.*DisabledCondition`

The same property (`junit.conditions.deactivate`) can alternatively be supplied as a configuration parameter to the `Launcher`.

[2016-05-15 19:42] marcphilipp commented on #138
The remaining subtask should be pretty straight-forward. Therefore, I'm adding the *up-for-grabs* label.

[2016-05-15 21:21] lutovich commented on #167
@sbrannen I have couple questions related to this task. Sorry for the long post :)

In JUnit 4 methods `assertEquals(double, double)` and `assertEquals(float, float)` are deprecated and there are versions which accept an additional delta. Same applies to `assertArrayEquals(float[], float[])` and `assertArrayEquals(double[], double[])`.
In JUnit 5 number comparison is done simply with `!=` and ther

[2016-05-16 12:16] sbrannen commented on #266
@aalmiray, do you have any tips on how to achieve the desired behavior here?

[2016-05-16 12:26] raniejade commented on #266
@sbrannen you could mark the `test` (`project.sourceSets.test`) sourceSet as an input. This will clearly not work on custom sourceSets.

[2016-05-16 13:14] sbrannen commented on #266
After executing `gradle --info :junit-tests:junit5Test`, I consistently see the following:

[code]

Can anyone enlighten me as to why `junit4-runner-5.0.0-SNAPSHOT.jar`, `junit-commons-5.0.0-SNAPSHOT.jar`, and `junit5-engine-5.0.0-SNAPSHOT.jar` would have been _changed_?

From my understanding, those JARs should not be rebuilt if nothing has changed in those projects.

Note, however, that when I e

[2016-05-16 13:20] sbrannen commented on #266
To partially answer my own question, these JARs are rebuilt because the MANIFEST has been modified, for example:

[code]

The underlying cause is that JAR manifests are now continuously created with a timestamp (see ca83f28761eacf0db5f85b409af39b4e4e7730c7).

So how can we fix this?

[2016-05-16 13:48] aalmiray commented on #266
I think the fix wold be to skip injecting `buildDate` and `buildTime` on the JAR's manifest given a conditional.

[2016-05-16 13:51] sbrannen commented on #266
Thanks, @aalmiray.

I have actually come up with a solution along those lines on my own. (surprise)

I'll push it to `master` in a few minutes.

[2016-05-16 13:52] sbrannen commented on #266
_in progress_

[2016-05-16 13:57] sbrannen commented on #266
I have revised the title and description for this issue accordingly.

[2016-05-16 14:06] #266 closed

[2016-05-16 15:11] sbrannen commented on #167
Hi @lutovich,

Thanks for the detailed analysis!

Yes, I think that's a good idea.

Yes. This omission was an unfortunate oversight on our part. We definitely need to accept a `delta` for comparing primitive doubles and floats.

I'd go for performance in this case.

Cheers,

Sam

[2016-05-16 15:12] sbrannen commented on #167
@lutovich,

Regarding adding support for deltas for floats and doubles, do you plan to address that in conjunction with your solution for this issue?

Or do you want us to create a new issue to address the lacking support for deltas?

[2016-05-16 15:25] sbrannen opened #267 "Convert MethodParameterResolver into a generic ParameterResolver API"
## Status Quo

The `MethodParameterResolver` API is currently restricted to parameter resolution for methods; however, it would be beneficial to support parameter resolution for any type of `java.lang.reflect.Executable` (i.e., methods or constructors).

Furthermore, this would allow JUnit 5 to support _constructor injection_ for test instances without the need to introduce another parameter resol

[2016-05-16 15:30] sbrannen commented on #249
@junit-team/junit-lambda, generalization of the `MethodParameterResolver` API will be addressed separately in issue #267.

I have slated #267 for M2 for the time being; however, I would prefer to get this additional breaking change into M1 along with #249 (i.e., the earlier the better).

Thoughts?

[2016-05-16 15:31] lutovich commented on #167
@sbrannen thanks for the answers! I can fix comparison for doubles/floats first in a separate PR and then proceed with array assertions.

[2016-05-16 15:35] sbrannen opened #268 "Introduce support for constructor injection"
## Status Quo

Dependency injection can currently be performed for methods via the `ParameterResolver` API; however, there is no support for _constructor injection_.

Since #267 has been completed it should be rather straightforward to support constructor injection as well.

## Deliverables

- [ ] Introduce support for constructor injection via the `ParameterResolver` API.

[2016-05-16 15:46] sbrannen opened #269 "Introduct 'delta' support in Assertions for doubles and floats"
## Status Quo

Unlike JUnit 4, the `assertEquals()` variants in `org.junit.gen5.api.Assertions` that accept `double` and `float` arguments currently do not support a _delta_. This omission was simply an oversight on our part.

## Deliverables

- [x] Add a `delta` argument to each of the existing `assertEquals()` variants in `org.junit.gen5.api.Assertions` that accept `double` and `float` arguments

[2016-05-16 15:47] sbrannen commented on #167
Sounds good.

By the way, the `delta` support for existing assertion methods should be addressed in conjunction with #269.

[2016-05-16 15:49] sbrannen commented on #269
This issue is currently slated for 5.0.0-M2; however, if it is completed in time it may be included in 5.0.0-M1.

[2016-05-16 15:49] sbrannen commented on #167
This issue is currently slated for 5.0.0-M2; however, if it is completed in time it may be included in 5.0.0-M1.

[2016-05-16 15:51] sbrannen commented on #244
This issue is currently slated for 5.0.0-M2; however, if it is completed in time it may be included in 5.0.0-M1.

[2016-05-16 15:52] lutovich commented on #269
I can start working on this issue today.

[2016-05-16 15:56] sbrannen commented on #269
Great! 👍

[2016-05-16 17:58] marcphilipp commented on #249
Ok by me if we get it in on time.

Am 16. Mai 2016, 17:32 +0200 schrieb Sam Brannen<notifications@github.com>:

[2016-05-19 21:55] signed opened #271 "Introduce a mechanism for associating multiple TestSources with a single test"
With cucumber you have a feature file with the scenario definition and a Java class that implements the steps used in the scenario. If a scenario run fails and I have the test tree in my IDE I like to have the choice to navigate either to the feature file or the implementation of the failing step.

How would an implementation of TestSource look like to support this?

[2016-05-20 08:40] marcphilipp commented on #271
Thanks for raising this issue!

I see two possibilities:

1. Provide a `TestSource` implementation that represents multiple sources, e.g. a class `MultiSource` that contains a list of test sources.
2. Replace `TestIdentifier#getSource` and `TestDescriptor#getSource` with `getSources() : List<TestSource>`.

@signed @junit-team/junit-lambda Which one would you prefer?

[2016-05-20 21:20] lutovich commented on #167
I'm still working on this task. Here is WIP: https://github.com/lutovich/junit5/commit/b95bf659a3bf98dcdceef75c8daf6bd9fe2c8be6.
Some tests are missing as well as methods for `float[]` and `double[]` that accept delta. I'll base PR on https://github.com/junit-team/junit5/pull/270 to reuse some methods from it.

[2016-05-21 13:36] sbrannen commented on #269
Closing this issue since #270 was merged into `master` in 4ce7a0fc1f588948abfc334598533add203f2830.

[2016-05-21 13:36] #269 closed

[2016-05-21 13:39] sbrannen commented on #167
Please base your PR on `master` now since #270 has already been merged.

[2016-05-21 13:50] sbrannen commented on #167
The WIP is coming along nicely. Keep up the good work.

[2016-05-21 14:41] sbrannen opened #272 "Overhaul exception handling in MethodFinder"
## Status Quo

`org.junit.gen5.engine.junit5.discovery.MethodFinder` currently explicitly throws a `RuntimeException` if a named class cannot be loaded and swallows an `IndexOutOfBoundsException` if the supplied method specification does not follow the required format.

## Deliverables

- [x] Ensure that `MethodFinder` only throws instances of `JUnitException` as required by our coding guidelines.

[2016-05-21 15:52] marcphilipp commented on #138
I'm picking up work on this issue again.

[2016-05-21 16:28] sbrannen commented on #272
_in progress_

[2016-05-21 17:14] #272 closed

[2016-05-21 17:25] sbrannen commented on #271
I would prefer the first option, and I would suggest introducing a `CompositeTestSource` that is a direct subinterface of `TestSource` with a `List<TestSource> getSources()` method.

[2016-05-21 17:28] sbrannen commented on #271
FYI: I have renamed this issue.

[2016-05-22 12:15] mmerdes commented on #271
I would prefer the classic composite pattern as well

[2016-05-22 12:23] mmerdes commented on #272
thanks for keeping an eye on this detail

[2016-05-22 13:22] sbrannen commented on #271
_in progress_

[2016-05-22 14:23] sbrannen commented on #271
@junit-team/junit-lambda, please review PR #274.

[2016-05-22 17:17] sbrannen commented on #271
No longer _in progress_: awaiting team feedback.

[2016-05-22 18:20] sbrannen commented on #153
After reading through all of the comments and reflecting on the proposals, I agree with most everything that @jlink proposed.

The _display name_ is exactly that: what IDEs and build tools should display as the name _in human readable form_.

Consequently, IDEs and build tools should **never** rely on the display name when determining how to structure the test tree in a UI.

IDEs and build tools m

[2016-05-22 20:21] signed commented on #271
I know too little about the consumers of the API to have a preference. As long as it is possible its fine with me.

[2016-05-23 06:52] marcphilipp commented on #138
`assertEquals`, `assertSame`, and `assertNull` now pass actual and expected values to the constructor of `AssertionFailedError.

I don't think it makes sense to fill `expected` and `actual` for `assertNotNull`, `assertNotSame`, and `assertNotEquals` because there's no expected value in these cases. We could change `AssertionFailedError` to allow only specifying an actual value.

@junit-team/junit-

[2016-05-23 06:58] marcphilipp commented on #245
This issue is *blocked* until #138 is completed.

[2016-05-23 07:04] marcphilipp commented on #153
One thing to keep in mind regarding test source: When you inherit a test method from a super class, the test source will point to the method in the super class. So it cannot be used to compute a "display name" by the IDE.

Having said that, I am fine with this proposal!

One minor thing: Omitting the package name from the display name of a top-level class only makes sense when packages are actuall

[2016-05-23 09:04] sbrannen commented on #149
Currently slated for M2.

[2016-05-23 09:15] marcphilipp commented on #44
Not *in progress* right now.

[2016-05-23 09:15] mmerdes opened #275 "Add documentation for dynamic tests"
- [x] Document _dynamic test_ support in the User Guide.
- [x] Review/augment Javadoc for _dynamic test_ support.
  - [x] `DynamicTest`
  - [x] `@TestFactory`

Completes #58

[2016-05-23 09:47] marcphilipp commented on #234
Unassigning from @bechte for now.

[2016-05-23 10:44] sbrannen commented on #271
Merged into `master` in 798beef089df5368a335d541140adbf79f665046.

[2016-05-23 10:44] #271 closed

[2016-05-23 10:46] sbrannen commented on #172
This issue has been superseded by #153.

[2016-05-23 10:46] #172 closed

[2016-05-23 10:47] sbrannen commented on #153
Team decisions:

- methods: use simple names for parameter types
- classes: use FQCN for all categories

[2016-05-23 10:47] sbrannen commented on #153
_in progress_

[2016-05-23 12:06] mmerdes commented on #275
@junit-team/junit-lambda
We agreed that AsciiDoc documentation can be done in master without a PR, didn't we?

[2016-05-23 12:19] marcphilipp commented on #275
Sure! :)

[2016-05-23 12:31] smoyer64 opened #276 "Support alteration of discovered tests"
I'm not sure that's a great description of what I want to ask ... in #153 the following code is discussed:

[code]

Maybe I'm missing something but it looks like @TestFactory can only add tests to an existing test plan.  In order to support repeating parameterized test methods, there needs to be a mechanism to alter previously discovered tests (in essence, turning them into test containers).

Whil

[2016-05-23 13:46] smoyer64 commented on #276
I see that as a result of #271, a CompositeTestSource was created.  This looks like it provides the required hierarchy described in my problem statement above, so I guess the real question is how to "discover" a test like the JUnitParams example above.

[2016-05-23 20:50] marcphilipp commented on #58
Pull request for current work-in-progress submitted: #278.

[2016-05-23 21:07] sbrannen commented on #153
@junit-team/junit-lambda, please review PR #279.

[2016-05-23 21:22] sbrannen commented on #153
This issue is _blocked_ until #58 has been completed and merged into `master`.

[2016-05-24 07:08] marcphilipp commented on #275
@mmerdes Please also use static imports for `assertEquals` etc. in `DynamicTestGenerationTests`.

[2016-05-24 07:50] marcphilipp opened #280 "Add support for dynamic test providers to TestDescriptor (and TestIdentifier?)"
While implementing support for #58 in #278 we discovered that it's currently not possible to have a `TestDescriptor` that returns `false` for `isTest()` and an empty set for `getChildren()` because it will get pruned by the launcher.

Thus, a `TestDescriptor` should have a way to signal to the launcher that it is going to produce children during the _execution phase_.

[2016-05-24 14:54] sbrannen opened #281 "Fully document support for test interfaces"
## Status Quo

The User Guide currently contains a section on [Interface Default Methods](http://junit.org/junit5/docs/current/user-guide/#interface-default-methods); however, it does not mention all features supported in _test interfaces_.
## Deliverables
- [x] Document support for configuring extensions and tags in test interfaces via `@ExtendWith` and `@Tag`.
- [x] Document support for declarin

[2016-05-24 15:27] #58 closed

[2016-05-24 15:36] sbrannen commented on #249
This issue is no longer _blocked_ since #58 has been completed.

[2016-05-24 15:37] sbrannen commented on #153
This issue is no longer _blocked_ since #58 has been completed.

[2016-05-24 15:37] sbrannen commented on #234
This issue is _blocked_ until #44 has been completed.

[2016-05-24 15:39] marcphilipp opened #282 "Decide how to report 'unexpected' and 'actual' values in an exception"
This is a follow-up on #138 where we used `new AssertionFailedError(message, expected, actual)` to pass `expected` and `actual` for `assertEquals`, `assertSame`, and `assertNull`.

However, we should consider passing `unexpected` and `actual` for

- [ ] `Assertions.assertNotEquals`
- [ ] `Assertions.assertNotSame` (hmm... `unexpected == actual` in this case)
- [ ] `Assertions.assertNotNull` (just

[2016-05-24 15:41] marcphilipp commented on #138
I'm closing this issue. `assertNotNull`, `assertNotSame`, and `assertNotEquals` will be addressed in #282.

[2016-05-24 15:41] #138 closed

[2016-05-24 15:42] marcphilipp commented on #245
This issue is no longer _blocked_ because #138 has been _resolved_.

[2016-05-24 15:59] sbrannen commented on #153
@junit-team/junit-lambda, PR #279 has been rebased on `master` and updated regarding `DynamicTest` support. As such, it is now ready to be merged into `master`.

[2016-05-24 16:42] marcphilipp commented on #153
Do we need to discuss display names of classes in a team call again (cf. [comment on #279](https://github.com/junit-team/junit5/pull/279#issuecomment-221310462)) or are we confident enough that using simple names is better?

[2016-05-24 17:03] sbrannen commented on #153
I didn't make the switch to simple names for classes in the PR yet, but I think we can be confident enough that it's likely the correct decision for the long term. Besides, getting this change in as early as possible with result in the least element of surprise should we decide to do so later. And... this gives us a lot of time (over half a year) to gain feedback from the community.

[2016-05-24 17:04] sbrannen commented on #153
So, @marcphilipp, does that mean this PR is good to go (along with the switch to simple names for all classes)? 😉

[2016-05-24 17:21] marcphilipp commented on #153
I'll take a more thorough look at the PR tonight and let you know. 😉

[2016-05-24 17:41] sbrannen commented on #153
thanks

[2016-05-24 18:40] marcphilipp commented on #245
I'm starting to work on this issue.

[2016-05-24 19:10] #245 closed

[2016-05-24 21:27] sbrannen commented on #245
Thanks, @marcphilipp!

[2016-05-24 22:02] sbrannen commented on #153
Closing this issue since #279 was merged into `master` in 307bcb44ab8efcdf6458faf5bfe832c66651b424.

[2016-05-24 22:02] #153 closed

[2016-05-24 22:41] sbrannen commented on #249
Closing this issue since it has been addressed in the following commits:

- ebfdc4d7fcb4a71c7ae88521ae197d951bbbdcda
- c7c0d24a3b6b46868d732e6358834c2ddf81ad48
- 6b9f227921f86893f4a759b578f4d197437cbae9
- f68eba6bd690e5686b9b6492db3ea36f758b7b4c

[2016-05-24 22:41] #249 closed

[2016-05-25 13:00] sbrannen commented on #44
I am closing this issue since the documentation sub-tasks have been moved to #234.

[2016-05-25 13:00] #44 closed

[2016-05-25 13:01] sbrannen commented on #234
This issue is no longer _blocked_.

In addition, the _Deliverables_ have been updated.

[2016-05-25 13:02] marcphilipp commented on #44
👍

[2016-05-25 14:42] sbrannen commented on #267
@junit-team/junit-lambda, please review PR #283.

[2016-05-25 15:47] sbrannen commented on #167
Hi @lutovich,

Do you think you'll find time to complete this in time for the 5.0 M1 release next week?

[2016-05-25 19:58] #267 closed

[2016-05-26 12:56] sbrannen commented on #268
_in progress_

[2016-05-26 12:59] nicolaiparlog commented on #281
Is this feature really worth the effort? It is very easy to do the same with nested classes (one abstract test class per interface; implementations are nested) or dynamic tests (test factory per interface) but without the added complexity (colliding default methods, no `@...All`).

[2016-05-26 13:06] sbrannen commented on #281
The feature already exists.

This issue is merely about documenting existing support for test interfaces.

If you don't like them, you don't have to use them.

But they certainly have one big advantage over abstract base classes and dynamic tests, namely _multiple inheritance_. Furthermore, you can extend any class like you, which is in direct contrast to using abstract base test classes.

If that

[2016-05-26 13:11] smoyer64 commented on #281
I'm actually looking forward to this feature ... with the
multiple-inheritance Sam mentioned above (using the default methods allowed
by Java 8), you can effectively treat test interfaces like the traits that
are common to testing with the Scala framework.

On Thu, May 26, 2016 at 9:06 AM, Sam Brannen <notifications@github.com>
wrote:

--
Sent from my iBerry MacPhone

[2016-05-26 13:36] marcphilipp commented on #234
I'm starting to work on this issue.

[2016-05-26 19:50] nicolaiparlog commented on #281
It's a nice feature, don't get me wrong. I just don't think that it adds enough value. Yes, multiple inheritance is nice (unless methods collide). But you can easily do something similar with nested classes:

[code]

I find this much more explicit and it makes clearer which abstract methods belong to which tests.

This is _the_ argument for feature creep. Again, this is definitely a nice-to-have.

[2016-05-26 20:23] #268 closed

[2016-05-27 13:46] lutovich commented on #167
@sbrannen I'll finish this weekend. sorry, it takes me really long time to complete this task.

[2016-05-27 14:04] sbrannen commented on #167
@lutovich, no worries. If it makes it into M1, great! And if it doesn't get in until M2, that's also fine. 😉

[2016-05-27 14:56] bkimminich opened #284 "JUnit5Plugin does not find test classes after 'gradle assemble'"
When I run ```gradlew build``` (Gradle 2.13) locally on Windows 8.1 for my project https://github.com/bkimminich/kata-botwars, I get my tests executed:

[code]

Now after pushing and having Travis-CI pick up the commit, the tests are not executed at all:

[code]
(Full log: https://s3.amazonaws.com/archive.travis-ci.org/jobs/133152764/log.txt)

[2016-05-27 17:18] sbrannen commented on #284
I noticed the following in your log:

AFAIK, JUnit 5 required JDK 1.8 update 60 or higher.

Try changing the JDK version for your build and let us know how that goes.

[2016-05-27 17:30] sbrannen commented on #284
It looks like you discovered the solution on your own: https://github.com/bkimminich/kata-botwars/commit/fd3921c5eb07b0be393ecc04a6052c8eb0deb4bb

May we therefore consider this issue resolved?

[2016-05-27 17:31] bkimminich commented on #284
Thank you! Adding the following to the ```.travis.yml``` enforced 8u91 but it still didn't execute any tests...

[code]

[2016-05-27 17:34] sbrannen commented on #284
I'll check it out locally

[2016-05-27 17:39] sbrannen commented on #284
By the way, you need to set the file permissions for `gradlew` appropriately. After doing so locally, I see this with `git diff`:

[code]

You should execute `./gradlew wrapper`, commit changes, and push to `master`.

[2016-05-27 17:40] sbrannen commented on #284
I just ran your Gradle build with JDK `1.8.0_92`, and I see this:

[code]

[2016-05-27 17:41] marcphilipp commented on #284
`master` doesn't actually contain any tests...

[2016-05-27 17:44] sbrannen commented on #284
@marcphilipp, exactly!

Just what I was about to say....

@bkimminich, you apparently forgot to check in your `src/test/java` folder for the `botwars-java` project.

That would explain why the tests are executed locally but not on the server... because they don't exist on the server. 😉

[2016-05-27 17:53] marcphilipp commented on #284
I think @bkimminich is referring to the `develop` branch, right?

[2016-05-27 17:53] marcphilipp commented on #284
https://travis-ci.org/bkimminich/kata-botwars/builds/133438724

[2016-05-27 17:53] bkimminich commented on #284
I'm worried about my develop branch, not master. There I also get no tests run... But I'll check, if I seriously never pushed those there... 😬

Am 27. Mai 2016 19:45:46 MESZ, schrieb Sam Brannen <notifications@github.com>:

[2016-05-27 18:14] sbrannen commented on #284
The problem is has to do with the order in which you execute Gradle commands on the CI server.

I haven't found the exact root problem, but it appears to be an issue with the gradle commands you supply for the coverity scan.

As on the CI server, the following does **not** run the tests locally for me:

[code]

But the following **does run** the tests locally for me:

[code]

So it looks like the

[2016-05-27 18:23] bkimminich commented on #284
That addon for CoverityScan will only be run on the ```coverity_scan``` branch. From the log I see that ```gradle assemble``` and ```gradle check``` were both executed.

To test if the build artifacts are actually there I'll include a CheckStyle violation. If it's a general issue post-```assemble``` it shouldn't be found by CheckStyle either.

[2016-05-27 18:36] marcphilipp commented on #284
I don't know why yet, but `project.sourceSets.test.runtimeClasspath.files` only seems to contain one directory, namely `/Users/marcp/Desktop/kata-botwars/botwars-java/build/classes/main`. Thus, test classes are never scanned.

[2016-05-27 18:36] sbrannen commented on #284
What I can observe is that....

Running `clean assemble` does not compile the test sources.

And then running `clean check` will in fact compile the test sources but seemingly *after* the `junit5Test` task has been executed. Thus there physically are no tests when the JUnit 5 Gradle plugin executes.

[2016-05-27 18:42] sbrannen commented on #284
Oddly enough, the following does run the tests... but only for the second execution of `clean check`... which seems a bit like a bug in Gradle or otherwise a bug in the JUnit 5 Gradle plugin.

[code]

[2016-05-27 18:51] bkimminich commented on #284
Yes, that CheckStyle error I put in one of the test data builder (thus in ```src/test/...```) was found by CheckStyle's test-phase scan. As that happens *before* JUnit's task, the sources *are there* at least for a moment... :smile:

[code]

https://travis-ci.org/bkimminich/kata-botwars/builds/133453588

[2016-05-27 18:55] marcphilipp commented on #284
I think `project.sourceSets.test.runtimeClasspath`gets evaluated too early (before compiling test classes) and thus the test output folder does not exist at that time.

[2016-05-27 19:15] sbrannen commented on #284
The bizarre thing is that you only hit this problem if you execute `assemble` in a _separate_ command before running `check` in a subsequent command.

If you execute `clean` and then `check` in two separate commands, it works.

If you execute `assemble` and then `clean` and then `check` in three separate commands, it works.

If you execute `clean assemble check` in the same command, it works.

[2016-05-27 19:16] sbrannen commented on #284
@aalmiray, have you ever encountered behavior like this with Gradle?

[2016-05-27 19:29] marcphilipp commented on #284
I think I've figured it out:

When you call `assemble` on a clean working directory, Gradle executes `compileJava` but not `compileTestJava`. Thus, when you run `check` in the next command, the `build/classes/main` exists while `build/classes/test` does not. Thus, the current (and the ALPHA) implementation of the `JUnit5Plugin` only adds `build/classes/main` to the arguments when calling `ConsoleR

[2016-05-27 19:38] aalmiray commented on #284
I'm afraid I have not seen this problem, but based on the previous description it may be related to the input/output configuration of the JUnit5 test task created by the `Junit5Plugin`.

[2016-05-27 19:53] sbrannen commented on #284
Thanks for the tip, @aalmiray.

We will continue to investigate.

[2016-05-27 20:55] marcphilipp commented on #284
@bkimminich I've fixed this issue in cc1287b and submitted a pull request to your repo to use the latest snapshot (see bkimminich/kata-botwars#2). We are going to release 5.0.0-M1 next week so you can change it to that version then. Please verify that it now works on Travis and let us know.

[2016-05-27 20:56] marcphilipp commented on #284
I'm closing this issue because it now works on Travis https://travis-ci.org/bkimminich/kata-botwars/builds/133487461.

[2016-05-27 20:56] #284 closed

[2016-05-27 21:00] marcphilipp opened #285 "Gradle plugin should not use JUnit 4 Engine when runJunit4 is false"
## Status Quo

Behind the scenes, the JUnit Gradle plugin uses the `ConsoleRunner` (from the `junit-console` module) to actually execute the test plan. Due to #146, the `junit-console` includes `junit4-engine`, `junit5-engine`, and `junit4-runner` as mandatory run-time dependencies. Consequently, the `junit4` and `junit5` engines are always on the classpath for the JUnit Gradle plugin, which means

[2016-05-27 21:14] bkimminich commented on #284
Thanks!!!

[2016-05-27 22:44] sbrannen commented on #285
I think this is a good opportunity to rename `runJunit4` to `runJUnit4` or `runJUnit4Tests` as well, just in time for M1.

[2016-05-28 12:17] sbrannen opened #286 "Rename JUnit 5 base packages and modules"
## Status Quo

The base package for JUnit 5 is currently `org.junit.gen5`; however, this tightly couples current and future releases to the number `5`, which would seem illogical for later major releases such as JUnit 6, 7, etc., especially if later major releases wish to build on the stable `Launcher` and `TestEngine` APIs which are not specific to the JUnit 5 programming and extension models.

#

[2016-05-28 12:37] jbduncan commented on #286
@sbrannen Is there a reason for proposing that the base package be renamed `org.junit.delta` rather than, say, `org.junit.epsilon`? It would make sense to me to go for epsilon, since it's the 5th letter in the Greek alphabet (for gen5), compared to delta which is the 4th letter (which I'd associate with JUnit 4).

[2016-05-28 12:51] olivergierke commented on #286
What about just going with `org.junit5`?

[2016-05-28 13:01] jbduncan commented on #286
@olivergierke I think @sbrannen wants to avoid that to reduce an explicit dependency on version 5.

[2016-05-28 13:06] eddumelendez commented on #286
Applying KISS principle just keep `org.junit` since a major release doesn't mean rename the base package. e.g springframework is not going to be `org.springframework5` in the next generation. Build tools are the best place to manage version avoiding the redundancy in base packages.

[2016-05-28 13:23] jbduncan commented on #286
Okay, I'm starting to think less favourably of my idea for `org.junit.epsilon` now. I'm also feeling ambivalent about 'org.junit.delta', because on one hand it sounds "cool", but on the other hand I associate it with the number 4. How about naming after something that doesn't have any ordering, like `org.junit.moebius`?

[2016-05-28 13:30] rmannibucau commented on #286
org.junit.extension? Or simply org.junit to be "expected"

[2016-05-28 15:02] c00ler commented on #286
Is moving to another domain an option? http://junit.io seems to be free. Then it may be simply io.junit.

[2016-05-28 15:47] smoyer64 opened #287 "Document ExtensionContext.Store in the User Guide"
Section 5.8 -- "Keeping State in Extensions" -- in the User Guide currently states:

The ParameterResolvers for upREST involve parameters that are related to each other, and regardless of the test, an HttpRequest and the subsequent HttpResponse have to be generated.  For parameters like an HTTP StatusLine or HTTP EntityBody, you don't want to make additional HTTP requests for each parameter that's

[2016-05-28 16:18] sbrannen commented on #287
@smoyer64, thanks for raising the issue.

Feel free to draft a proposal and submit a PR.

[2016-05-28 16:30] yogurtearl commented on #286
Related blog post: http://jakewharton.com/java-interoperability-policy-for-major-version-updates/

[2016-05-28 17:48] sbrannen commented on #286
@jbduncan,

I positively *knew* somebody would ask that. 😉

We actually thought about "epsilon" since it's the 5th letter of the Greek alphabet, but we decided against it for the following reasons:

1. it's longer and more difficult to type
1. it doesn't convey anything like "delta" does (i.e., in the sense of change, new horizons, etc.)

[2016-05-28 17:53] sbrannen commented on #286
@olivergierke,

That's a very good question!

We in fact discussed that idea within the team. It's obviously considerably shorter than `org.junit.gen5` and easy to type/remember; however, it still carries the number *5* along with it, and we are aiming to avoid including any reference to "5" in the base package name for things that are not related to the JUnit 5 programming and extension models. F

[2016-05-28 18:07] sbrannen commented on #286
@eddumelendez,

I totally understand where you're coming from with that, and believe me: we _wish_ it were that simple with JUnit.

Regarding a framework like Spring, you are of course correct: Spring will not reinvent itself completely on top of a nested package name. And more importantly, it doesn't need to: Nobody is going to deploy their web application with Spring Framework 4.3 and 5.0 in the

[2016-05-28 18:11] sbrannen commented on #286
@jbduncan,

The JUnit Team has also discussed that idea.

"moebius" sounds pretty cool.

Along those lines, we brainstormed a bit and came up with the following. The names in parentheses follow the logic of _i18n_.

- catalyst (c6t)
- delta
- metamorphosis (m11s)
- evolution (e7n)

So if people come up with other _cool_ ideas, post them here!

[2016-05-28 18:13] sbrannen commented on #286
@rmannibucau,

One of the key features of JUnit 5 is its dedicated `Extension` model. So we wouldn't to use anything as a base package name that would be confusing in different contexts.

[2016-05-28 18:16] sbrannen commented on #286
@c00ler,

I personally think `io.junit` seems pretty cool. 👍

But... as I mentioned previously, we would like to avoid splitting completely from `org.junit` as the very base package.

That doesn't mean it's a 100% no-go, but for the time being the JUnit Team is shying away from switching to a different domain name.

[2016-05-28 18:30] rmannibucau commented on #286
@sbrannen .extension was intended to reference Extension

like io.junit but still thing v5 shouldnt break  v < 5 standard package so org.junit sounds the best to me and I didn't find any real reason preventing it. For not compatible features (@Test) a sub package defining the feature or specificity is far better than any "new" "vx" or other arbitrary naming IMO.

[2016-05-28 18:32] sbrannen commented on #286
**Everybody**,

I have overhauled the description of this issue and introduced a separate proposal (_Proposal B_).

Feedback is welcome!

@junit-team/junit-lambda, your input is also welcome. 😉

[2016-05-28 18:36] rmannibucau commented on #286
can't org.junit.api.junit5 be org.junit.api? otherwise looks better :)

[2016-05-28 18:38] marcphilipp commented on #286
What bothers me most regarding Proposal B is that JUnit 4 will be maintained for quite some time and will introduce new packages (e.g. a [current pull request](https://github.com/junit-team/junit4/pull/1305) adds the `org.junit.function` package). So we would have to be really careful not to cause any problems there.

In addition, I've had the feedback from multiple people who like having a new ba

[2016-05-28 18:38] sbrannen commented on #286
I thought about that, but then we'd run into the same problem with JUnit 6 (assuming it has a different programming model). So having `api` there would allow for `org.junit.api.junit5`, `org.junit.api.junit6`, `org.junit.api.junit7`, etc.

[2016-05-28 18:40] rmannibucau commented on #286
@sbrannen weird to use .junit5 in JUnit 6 then or would it be shaded and both supported? conflicts should be rare IMO so better to avoid the version IMHO

[2016-05-28 18:40] marcphilipp commented on #286
BTW using a different TLD, such as `io.juni` is not a 100% no-go for me.

[2016-05-28 18:46] fabianovidiu commented on #286
What about "org.junit.five" ?

[2016-05-28 19:14] sbrannen commented on #286
@marcphilipp,

You raise some very valid points there!

A base package name that helps to distinguish the _old_ from the _new_ at a quick glance is certainly beneficial.

In addition, the introduction of a new `org.junit.function` package in JUnit 4.13 also makes things a bit scary as we move forward. If the two teams coordinate, we should be able to avoid issues, but if something gets overlooked.

[2016-05-28 21:07] tonit commented on #286
As long as you ship org.junit* packages with version=5.x its fine from my perspective. At build time you only should have one junit api on your path and at runtime you leverage OSGi metadata (proper package versioning).

However, if you look for a package name for launcher etc. apis, some suggestions:
- org.junit.pentagon (nice release name for junit5 anyway). And you can make nice logos with it.

[2016-05-28 21:30] jbduncan commented on #286
@tonit, you say that at build time one should only have one junit api on the classpath, but I highly doubt it's that simple for everyone. I know for instance that the [Guava](https://github.com/google/guava) team use both JUnit 3 and 4, at least partially because JUnit 4 has features which can't be emulated with GWT, which is one of the platforms that Guava targets.

I don't know anything about OS

[2016-05-28 21:34] yogurtearl commented on #286
I vote for org.junit5

[2016-05-28 22:11] jbduncan commented on #286
I currently think it makes most sense to put all the JUnit 5-specific stuff under `org.junit.gen5` (or an equivalent name like @tonit's suggestion `org.junit.pentagon`), and to put all the stuff which is intended to be stable and backwards-compatible, like `Launcher` and `TestEngine`, in the `org.junit.delta` package proposed in Proposal A.

This seems to me to mostly avoid the issue with Proposal

[2016-05-28 23:16] checketts commented on #286
Similar to changing the base to `io.junit` reminds me of the Jackson change from `codehause` to `fasterxml`. I actually prefer the difference, because if I find it to be a benefit as it is obvious if a class is using an outdated api I want to avoid.

[2016-05-29 06:42] brcolow opened #288 "Surefire Plugin Fails"
I am attempting to run my test suite with JUnit 5 via the maven-surefire-plugin as done in the sample Maven consumer. However, I am currently running up against the following exception:

[code]

The configuration for maven-surefire-plugin in my `pom.xml` is:

[code]

Let me know if you need any more information. Thanks very much.

[2016-05-29 07:52] cemo commented on #286
http://jakewharton.com/java-interoperability-policy-for-major-version-updates/

[2016-05-29 08:36] marcphilipp commented on #288
This is not an open source project, is it? If not, this happens when processing a JUnit 4 test. Maybe you can strip down your project to a single JUnit 4 test and still reproduce the issue?

I suspect this might be a ClassLoader-related issue. Can you try to omit the `additionalClasspathEntries` from the POM and see if that changes something?

[2016-05-29 09:15] DD605 commented on #286
@sbrannen I Mike

[2016-05-29 09:38] DD605 commented on #286
@sbrannen I like Proposal B
- try using versionless packages/classes
- pack version specific stuff in version specific package (`junit5`).
- put version in className for specific implementations `org.junit.runners.SpringJUnit5ClassRunner`

[2016-05-29 11:57] mxsb commented on #286
If it's really needed to choose a package prefix, why not go for `org.junit.lambda`, since this was the original project name and is also an indicator for the required language level. The idea of modernising the API to reflect the Java 8 language features will be visible with such a naming. It's not containing any version number, so it may be used in future versions too.

[2016-05-29 13:23] sbrannen commented on #285
I actually don't think this feature every worked properly.

I think the only proper way to implement it is to explicitly _exclude_ the "junit4" engine when configuring the `ConsoleRunner` if `runJunit4` is set to `false`. In other words, we need another flag that has the opposite effect of `requiredEngine` -- something like `excludedEngines`.

Similarly, I think `requiredEngine` should be replaced

[2016-05-29 13:57] sbrannen commented on #288
_in progress_

[2016-05-29 14:31] #288 closed

[2016-05-29 14:33] sbrannen commented on #288
@brcolow,

We believe that the problem has been resolved in 83c5e98d849e4f51bc28f13e2b85060dd46edfa8.

Can you please try out the next snapshot build and let us know if your problem has in fact been resolved?

Thanks in advance!

[2016-05-29 20:03] brcolow commented on #288
@sbrannen This fixed my issue completely. Thank you so much for the prompt response and fix! I am looking forward to testing out the new features of JUnit 5. Thanks for all the devs hard work.

[2016-05-29 20:06] sbrannen commented on #288
Awesome!

Thanks for letting us know that the _fix_ worked for you.

And have fun with JUnit 5! 😄

[2016-05-29 22:04] lutovich commented on #167
Hello @sbrannen,

I've submitted a PR about array assertions https://github.com/junit-team/junit5/pull/289. It does not fully close this issue. Support of assertions for iterables is still something to consider. Imo it is not worth adding them because iterables can already be checked using `assertEquals(Object, Object)`. Prettier checks can be done using additional libraries like Hamcrest or Asser

[2016-05-30 02:37] philwebb commented on #286
+1 for `org.junit.lambda` although I still can't shake the feeling that JUnit 5 is going to be an awkward upgrade for many users. As a user, what I really want to do is change `<version>4.12</version>` to `<version>5.0</version>` and have new features available to me see what classes and methods have been deprecated.

Most of my tests consist of `@Test` annotations, calls to `Assert` and the occas

[2016-05-30 07:06] mxsb commented on #286
Maybe prefixing only the new stuff can be an option to retain backwards compatibility.

[2016-05-30 10:53] sbrannen commented on #286
**Update**,

I have overhauled the description of this issue and introduced a third proposal (_Proposal C_) which takes a different approach to the aforementioned issues. Namely, Proposal C introduces the concept of a _JUnit Platform_ and simultaneously avoids any references to version numbers in package and artifact names by introducing _code names_ for the various programming models supported in

[2016-05-30 11:37] sbrannen commented on #167
@lutovich, thanks for the PR!

We'll review it and hopefully merge it this week.

Note that M1 has been postponed until June 8th. So we still have adequate time.

[2016-05-30 11:40] sbrannen commented on #285
### Team Decisions

- Replace `requiredEngine` with `includedEngines`
- Introduce `excludedEngines`
- Remove `runJunit4` (superseded by `includedEngines`)
- Introduce `disableTestTask` for disabling the standard Gradle `test` task

This have been added as _Deliverables_ in this issue's description.

[2016-05-30 11:45] gdrouet commented on #286
I'm thinking to the "nio" package introduced in the JDK.
`java.io` is the original package for IO but we all know the `java.nio` package as new generation of IO utilities.

Why not apply the same concept by replacing `gen5` by something like `ng` => `org.junit.ng`?

[2016-05-30 11:54] sbrannen commented on #286
@gdrouet,

The JUnit team naturally considered something like this, but there will always be a _next_ or _new_ generation. Thus such a naming convention wouldn't make sense for subsequent versions of the framework, since their only options would be to call themselves _newer_, _newest_, etc.

Also, "ng" is in direct conflict with _TestNG_. So that's a no-go in terms of naming. 😉

[2016-05-30 12:50] smoyer64 opened #290 "Expose the ExtensionRegistry's registerExtension() method via the public API"
Complex JUnit 5 extensions (as a library) will often depend upon multiple JUnit 5 `Extension` class definitions.  In cases where there are inter-dependencies, it would be nice to be able to programmatically register extensions as an addition to the declarative `@ExtendWith` annotation.

Here's an example from the upREST core project I'm working on.  If I were to declare each extension individually

[2016-05-30 13:22] sbrannen commented on #290
For starters, `@ExtendWith` accepts an array of class references.

So you can simply declare this:

[code]

Furthermore, JUnit 5 annotations can be declared as _meta-annotations_.

So you can hide all of your custom configuration behind a custom annotation like this:

[code]

And then use it like this:

[code]

Does this meet your needs?

[2016-05-30 13:47] smoyer64 commented on #290
Yes!

I've used JUnit 5's meta-annotations in a couple other places (including a Scenario PoC), but never thought of composing UpRest.java as a new Annotation.  I do know that @ExtendWith supports Class[] but I'm torn between your format (adapted below) and just using the ability to repeat the annotation.

[code]

In any case, I'm closing this feature request.  As an aside, is there a need for an

[2016-05-30 13:47] #290 closed

[2016-05-30 13:57] sbrannen commented on #290
Thanks for letting us know the _composed annotation_ works for your needs.

That's just a matter of taste in the end.

We are not planning on releasing a separate guide for extension developers. Rather, we plan to include more information in the _Extension Model_ chapter of the user guide.

[2016-05-30 15:34] kcooney commented on #286
@philwebb said

Junit 5 doesn't contain any classes from JUnit 4.12 or 3.8.1. So you could have the JUnit 5 jars and the 4.12 jars on the classpath at the same time (in fact you would need to do this if your project uses 4.12 classes or annotations and you wanted to try out the 5.0 extensions in new tests).

I personally think some users will find this confusing

[2016-05-30 15:46] kcooney commented on #286
I don't think think the packages should contain numbers. You could imagine having a large release that you would consider a 6.0 release that would involve changes or additions in packages introduced in JUnit Lambda.

I like option C. I really dislike option B.

As for package names, I don't like the name "lambda". Other than the assertion API I don't think there is any features that take advantage

[2016-05-30 16:13] sbrannen commented on #167
Closing this issue since the core requirement (i.e., assertions for arrays) has been merged into `master

[2016-05-30 16:14] #167 closed

[2016-05-30 16:16] jbduncan commented on #286
I rather like Proposal C as well. I also quite like @kcooney's suggestion for "JUnit Jade" and the imagery it invokes for me. However, if the JUnit team decides to go down this route, care will be needed because apparently [Jade is a trademark](https://github.com/pugjs/pug#rename-from-jade).

[2016-05-30 16:26] sbrannen commented on #286
For what it's worth, the JUnit 5 programming model currently supports lambdas in `Assertions`, in `Assumptions`, and more importantly for registering **dynamic tests**.

And I foresee be more lambda related features over time.

So _JUnit Lambda_ is rather fitting in that regard.

Though, _Jade_ also sounds rather cool, and I like the association with _green_. So I'll add it to the proposals. Howev

[2016-05-30 17:14] kcooney commented on #286
Didn't realize Jade was trademarked. Sigh

We could go with "JUnit J@de" as the project name (the @ being a nod to having behavior specified via annotations) and "jade" for the package name.

After reading the post by @sbrannen I also think "lambda" would be a fine package name.

[2016-05-30 20:24] mmerdes commented on #286
@jbduncan 'epsilon' should be avoided in my opinion because of the math connotation of being very small, i.e. almost zero :)

[2016-05-30 20:43] mmerdes commented on #286
While we all seem to more or less agree that using 'gen5' within all package names was not a very fortunate idea I still think the original intention behind it has a lot of merit.
I believe it to be important to convey to the larger community that the JUnit lambda effort represents the fifth generation of JUnit, i.e. something newer than the current forth generation.
The larger community consists

[2016-05-30 21:15] sbrannen commented on #234
What's left to document:

- [ ] NameBasedSelector
- [ ] ReportEntry.appendDescription()
- [ ] AbstractTestDescriptor
- [ ] EngineDescriptor
- [ ] HierarchicalTestEngine.execute()

[2016-05-31 12:21] mmerdes commented on #275
'in progress'

[2016-05-31 12:55] sbrannen opened #291 "Introduce support for required and excluded engines in EngineIdFilter"
## Status Quo

`EngineIdFilter` is currently only used to _require_ a single `TestEngine` within the _entire_ test plan, which is very lacking in terms of support for multiple engines going forward.

As the number of engines supported on the JUnit Platform increases, users will need the ability to require one or more engines and to exclude one or more engines simultaneously.

## Related Issues

-

[2016-05-31 12:56] sbrannen commented on #285
Blocked until #291 has been resolved.

[2016-05-31 13:00] sbrannen commented on #285
_Deliverables_ have been updated to align with the goals of #291.

[2016-05-31 13:15] marcphilipp opened #292 "Clarify required JARs for "Using JUnit 4 to Run the JUnit Platform" in User Guide"
In the Setup section in http://junit.org/junit5/docs/current/user-guide/#running-tests-junit-platform-runner we do not list transitive dependencies needed when manually setting this up which confused at least one user: https://twitter.com/LancerKind/status/737632578757263360

[2016-05-31 13:35] sbrannen commented on #280
@marcphilipp, when you tidy up this issue, please make sure that the recent `Node` refactorings in the `HierarchicalTestEngine` still make sense -- especially the application and concrete implementations of the `isLeaf()` method.

[2016-05-31 21:55] jbduncan commented on #167
Hi @lutovich. Since I was inspired by this issue and I was a bit bored, I decided to create my own prototype for `assertIterableEquals`, and I think I've actually produced something that is worthwhile - however I only just realised in the last hour or so that you said you'd work on a prototype yourself. So I just want to ask how you'd feel if I were to submit a Pull Request for my own prototype?

[2016-05-31 21:59] lutovich commented on #167
Hello @jbduncan, please feel free to submit a pull request. My prototype is only in my head now :)

[2016-05-31 22:04] jbduncan commented on #167
Great!
It will probably take me a few days or so to submit a PR, as I'm rather new to contributing on GitHub and I'm busy with other things. So if you come up with your own prototype and I've not submitted a PR by then, you may take that as an invitation to submit your own. :)

[2016-06-03 14:35] sbrannen commented on #275
FYI: I've updated the deliverables for this issue to reflect the status quo.

[2016-06-03 15:42] sbrannen commented on #275
I am closing this issue since all deliverables have been pushed to `master`.

If anyone discovers something that is missing, feel free to reopen this issue.

[2016-06-03 15:42] #275 closed

[2016-06-04 10:16] jlink commented on #286
Having read through all the comments I still think the original gen5 was the best choice.

Anyway, keep in mind that any renaming of base packages will break the API promises already made for the Alpha release 4 months ago, e.g.

[code]

[2016-06-04 10:23] jlink commented on #286
One more point: Renaming the base package should for consistency reasons also entail a renaming of the github repository.  Again.

[2016-06-04 10:25] jlink commented on #291
Why should you want to exclude an engine in a filter? Just exclude it from your test-runtime classpath.

[2016-06-04 11:07] marcphilipp commented on #291
In theory that's true, of course. However, you might just want to run tests for one engine without commenting out all the code that uses another and removing the latter from your classpath. Another benefit is that adding the possibility to exclude an engine will make it symmetric to what you can do for tags in `TagFilter`.

[2016-06-04 11:16] marcphilipp commented on #286
IMHO this promise will not take effect before shipping a GA release. Nevertheless, some people will be impacted by this change. But I think it's better to do it now rather than after shipping M1.

Unfortunately, yes. We will try to go about this as careful as possible. However, I think we should not worry too much about such short-term inconveniences but rather focus on what provides us with the m

[2016-06-04 11:18] marcphilipp commented on #280
*in progress*

[2016-06-04 11:53] #280 closed

[2016-06-04 13:19] sbrannen commented on #286
@marcphilipp pointed out that the current `JUnit5` `Runner` is in fact not related to the JUnit 5 programming model but rather to the _Platform_ in general.

I have therefore updated _Proposal C_ accordingly with regard to the `junit-platform-runner`.

[2016-06-04 14:31] sbrannen opened #293 "Decide the fate of ReportEntry.appendDescription()"
## Status Quo

`ReportEntry` currently has two `appendDescription()` methods.

- `appendDescription(Appendable, String)` appears to exist solely for the purpose of generating XML reports in `XmlReportWriter`.
- `appendDescription(Appendable)` is used in `ColoredPrintingTestListener` and `JUnit5RunnerListener`, but these invocations of `appendDescription(Appendable)` could likely be replaced with `

[2016-06-04 14:39] sbrannen commented on #293
@mmerdes, I have assigned this issue to you for the time being.

[2016-06-04 14:41] sbrannen commented on #234
Closing this issue since all sub-tasks have been completed in `master`.

In addition, the fate of `ReportEntry.appendDescription()` will be now addressed in #293

[2016-06-04 14:41] #234 closed

[2016-06-04 15:37] jlink commented on #286
I think @mmerdes has brought up the most important point: "in the end we should strive for a very clear message to the general public. In my opinion this message should include a strong reference to the number 5 for the new programming model."

If the name won't communicate a FORWARD progression from JUnit 4 to whatever comes afterwards in an OBVIOUS WAY you'll confuse the heck out of the ordinary

[2016-06-04 16:06] sbrannen commented on #291
_in progress_

[2016-06-04 18:42] #291 closed

[2016-06-04 18:43] sbrannen commented on #285
Since #291 has been resolved, this issue is no longer _blocked_.

[2016-06-04 19:52] mmerdes commented on #293
in progress

[2016-06-05 14:58] sbrannen opened #295 "Introduce support for required and excluded engines in ConsoleRunner"
## Status Quo

Although core support for _required_ and _excluded_ engines was introduced in #291, the `ConsoleRunner` currently only supports a single _required_ `TestEngine` ID.

## Related Issues

- #291
- #285

## Deliverables

- [ ] Replace `requiredEngineFilter` support in the `ConsoleRunner` with support for multiple _required_ engines
- [ ] Introduce support in the `ConsoleRunner` for mult

[2016-06-05 14:59] sbrannen commented on #285
This issue is _blocked_ until #295 is resolved.

[2016-06-05 16:20] kcooney commented on #286
@jlink I suspect an ordinary user would be more confused by a "JUnit 5.0" that didn't Iinclude the JUnit classes they already know and use.

To be clear I don't think JUnit Lambda should be released with the older JUnit classes. Users can use the new code to write new-style tests without upgrading to their existing tests (this is important, because the 4.11 upgrade was particularly painful due to

[2016-06-05 21:14] jbduncan commented on #286
@kcooney What do you mean by "a "JUnit 5.0" that (doesn't include) the JUnit classes they already know and use"? Are you implying JUnit 5 contains JUnit 4 classes? Regardless, I'm struggling to understand the point you're trying to make - could you clarify, please?

[2016-06-05 21:21] mlevison commented on #286
@JUnit friends - I’m a small sponsor and silent observer for the past 8ish mths.

Two thoughts:
- Normal people (assuming I’m normal) will expect the next version of JUnit to have a number i.e. 5.
- Normal people will also assume that they can run their existing tests in parallel with the new JUnit 5 features.

Cheers
Mark

-- 
Mark Levison
Sent with Airmail

On June 5, 2016 at 5:14:04 PM, Jonatha

[2016-06-06 17:22] mlevison commented on #286
@kevin et al. Running a Scrum class replying from my phone. Please excuse
brevity.

Pretend I have 4-5000 JUnit 4 tests. How do I move to modern, more elegant
JUnit next world.

I had assumed this would an embrace and extend. If I'm correct, and I might
have misunderstood, the current model forces people to change all of their
tests at once. That would seem to put off JUnit lambada adoption.

Chee

[2016-06-06 18:05] kcooney commented on #286
@mlevison that concern is very near and dear to my heart because at my company we have several orders of magnitude more tests than that.

If you wanted to keep the old tests as-is but start writing some new tests as "JUnit Lambda" tests then you would need to include the JUnit Lambda jars in your classpath *in addition to* the JUnit 4.x jar you are using today. There should be no change your exist

[2016-06-06 20:39] mlevison commented on #286
@kcooney thank you for helping me understand. While I get it, this causes
all sorts of strange questions.

Can existing tests use me assertions? ...

Naming is even harder now.

Back to Scrum class.
Mark
On Jun 6, 2016 2:05 PM, "Kevin Cooney" <notifications@github.com> wrote:

@mlevison <https://github.com/mlevison> that concern is very near and dear
to my heart because at my company we have sever

[2016-06-06 23:33] mlevison commented on #286
@kcooney thank you for helping me understand. While I get it, this causes all sorts of strange questions.

Can existing tests use me assertions? ...

Me == new.

I.e Can Junit4 tests running in the new world use new assertions? Can new tests use old assertions (ugh)?

….more mix and match concerns come up.

Cheers

Mark - back to bookkeeping (less fun than JUnit or Scrum :-)

[2016-06-07 00:48] kcooney commented on #286
@mlevison that's a bit off topic. Would you mind raising a new issue?

[2016-06-07 13:21] marcphilipp opened #296 "Test with JDK 9 Early Access builds"
## Overview

The OpenJDK team has asked the JUnit team to test with JDK 9 Early Access builds and report any showstopper issues to them.

The goal of this issue is therefore to perform such tests and provide feedback to them.

## Resources

- [JDK 9 early access builds](https://jdk9.java.net/download/)
- [Gradle 3.0 nightly builds](http://gradle.org/gradle-nightly-build/)
  - [nightly release note

[2016-06-07 13:24] marcphilipp opened #297 "Maintain list of third-party TestEngines and Extensions"
For maintainers and users of the framework, we want to have a list of third-party engines and extensions in the wiki ~or on the website~.

## Test Engines
- [Specsy](http://specsy.org/)
- [Spek](https://github.com/JetBrains/spek)
- [Cucumber](https://github.com/signed/junit-cucumber-engine)

## Extensions
- [SpringExtension](https://github.com/sbrannen/spring-test-junit5)
- [upREST](https://github

[2016-06-07 13:55] sbrannen commented on #296
To be honest, I've only been putting off testing on Java 9 because Gradle does not support Java 9 yet.

In other words, we have no way to _compile_ JUnit 5 against Java 9 at the moment.

However, it would be possible to _execute_ some manual smoke tests -- for example, using the `ConsoleRunner`. So I guess that's the best we can offer until Gradle supports Java 9.

[2016-06-07 13:58] sbrannen commented on #297
I think we should also maintain a list of third-party extensions.

Would you like to tack that onto this issue or create a separate one?

[2016-06-07 14:10] marcphilipp commented on #297
I've rephrased the title of the issue to also include extensions.

[2016-06-08 13:59] sbrannen commented on #293
Closing this issue since all points have been addressed in `master`.

[2016-06-08 13:59] #293 closed

[2016-06-08 15:33] sbrannen commented on #123
Updated issue title and description.

[2016-06-09 06:49] jlink opened #298 "BUG: Post Discovery Filtering fails when an engine has no test descriptor to filter from"
This will, for example, lead to an exception when running JUnit5 only tests through Gradle and using `requireTag`, because due to #285 the junit4 engine is always present.

[2016-06-09 06:51] marcphilipp commented on #298
By "no test descriptor to filter from" you mean the engine's descriptor has no children, right?

[2016-06-09 06:54] jlink commented on #298
No childrean after discovery, yes.

[2016-06-09 06:56] marcphilipp commented on #298
Ok, thanks for reporting! I'll look into it right away.

[2016-06-09 07:08] #298 closed

[2016-06-09 07:43] marcphilipp commented on #298
@jlink The bug has been fixed. Please try using the latest SNAPSHOTs and see if it's fixed for you, too.

[2016-06-09 09:03] jlink commented on #298
works. tx.

2016-06-09 9:43 GMT+02:00 Marc Philipp <notifications@github.com>:

[2016-06-09 09:43] mmerdes opened #299 "Polish discovery package in the junit5-engine"
- [x] reduce public visibility
- [x] introduce sub-package for predicates
- [x] introduce unit tests for predicates

[2016-06-09 09:43] mmerdes commented on #299
in progress

[2016-06-09 11:57] sbrannen commented on #299
Is the scope of this issue limited to the `discovery` package in the `junit5-engine`?

Or does this issue apply to the `discovery` package in the `junit-engine-api` as well?

[2016-06-09 12:34] mmerdes commented on #299
no, the `discovery` package in the `api` is not included in this issue

[2016-06-09 13:55] jillesvangurp commented on #163
I agree the names are fine. A bigger concern for me are the semantics: when do these things actually run and how? Junit currently requires these methods to be static, which I think is a needless complication inherited from the junit3 days. I recall having a issues with junit 4 a long time ago where we were doing some expensive cleanup in BeforeAll annotated methods where to our surprise the method

[2016-06-09 14:06] sbrannen commented on #163
@jillesvangurp,

Scenario tests should address your concerns.

Please see the discussion in #48 for details.

[2016-06-09 15:23] baev opened #300 "ParameterResolver has Optional parameter in `supports` and `resolve` methods"
Optional was designed to provide a limited mechanism for library method return types where there needed to be a clear way to represent "no result"

[2016-06-09 15:28] sbrannen commented on #300
Are you suggesting that we replace `Optional<Object> target` with `Object target` in both cases and simply document that the reference may be `null`?

[2016-06-09 15:33] marcphilipp commented on #300
In the end, it's a matter of personal preference. IMHO an `Optional` is a much clearer way to signal that `target` may be `null` whether or not it was designed for this purpose. Interestingly, the [Javadoc for Optional](url) does not mention its intended usage at all. Brian Goetz' advice can be found [on Stack Overflow](http://stackoverflow.com/questions/26327957/should-java-8-getters-return-optio

[2016-06-09 15:42] jbduncan commented on #300
@marcphilipp kinda beat me to it, but here's my take on it.

I personally agree with @baev. In my opinion, it's significantly more tedious to write `Optional.ofNullable(target)` than just `target` or `null` as a user of such an API.

If a `ParameterResolver` were to use `Optional` internally, I'd expect it to be an implementation detail only, and for the `ParameterResolver` class to have in its co

[2016-06-09 15:46] marcphilipp commented on #300
In this case, a user of this API would _implement_ `ParameterResolver`, not call it. Therefore, there's no need to instantiate an `Optional`. We cannot pass the `target` in the constructor, because a `ParameterResolver` is potentially used for multiple, different target.

[2016-06-09 15:47] baev commented on #300
The good article about Optionals http://blog.jhades.org/java-8-how-to-use-optional/

[2016-06-09 15:53] marcphilipp commented on #300
Well, if we would instead pass a `ParameterContext` with a method `getTarget()` that returns `Optional<Object>` target... how would that be different?

[2016-06-09 15:55] jbduncan commented on #300
@marcphilipp Oh oops! Looks like I didn't take a good look at the source code for `ParameterResolver`. :stuck_out_tongue_closed_eyes: ...

[2016-06-09 15:56] marcphilipp commented on #300
How so?

[2016-06-09 15:58] jbduncan commented on #300
@marcphilipp I didn't fully realise that `ParameterResolver` was an _interface_ rather than a class, so my constructor example didn't too make much sense in my 2nd last comment.

[2016-06-09 15:59] jbduncan commented on #300
@marcphilipp Is `ParameterContext` an existing class, or is it just a hypothetical example?

[2016-06-09 16:03] marcphilipp commented on #300
Just a hypothetical example. However, we have similar classes, e.g. `ExtensionContext`, that are used as extension parameters for other `Extension` subinterfaces.

What I'm trying to convey: In my point of view this usage of `Optional` is like returning `Optional` from an API method because `ParameterResolver` is an interface to be implemented by users.

[2016-06-09 16:13] sbrannen commented on #300
I agree with @marcphilipp:

It was a conscious decision on my part when I introduced `Optional<Object> target` in the `ParameterResolver` methods.

The rationale is that it doesn't provide any added benefit to the user to introduce a `ParameterInvocationContext` (that contains a single `Optional<Object> getTarget()` method)  since that would only force the user (i.e., implementer of `ParameterReso

[2016-06-09 16:18] baev commented on #300
@marcphilipp @sbrannen  I don't know the codebase of Junit 5 yet, just started to make a first extension. As far as I know it is kinda bad practice to use Optional as method parameters or fields. So I decide to notice you about it. From my point of view Optional parameters are more complex then nulls. If you like to call such API you need to wrap value to Optional, if you like use it - you need to

[2016-06-09 16:20] baev commented on #300
BTW I know about `ifPresent` =)

[2016-06-09 16:20] jbduncan commented on #300
Again, someone kind of beat me to it, but I think it's worth me asking/saying:

@marcphilipp @sbrannen Can you clarify for me if `ParameterResolver` implementations would be used either _directly by users_ of JUnit 5 or _by the JUnit framework_ itself?

If they are used by the framework itself, then I agree that using Optional this way is reasonable (even it's not what Brian et al. intended), beca

[2016-06-09 16:24] sbrannen commented on #300
@jbduncan,

`ParameterResolver` is an extension API to be implemented by third parties.

Please consult the Javadoc and user guide:

http://junit.org/junit5/docs/current/user-guide/#parameter-resolution

[2016-06-09 16:34] jbduncan commented on #300
Thank you @sbrannen.

So as far as I can tell, `ParameterResolver`s are implemented by users and then passed to JUnit 5 for JUnit itself to manage. JUnit then uses these resolver(s) to fill in or "inject" values into the parameters of test methods, test class constructors, etc. Is my understanding correct?

[2016-06-09 16:47] sbrannen commented on #300
In an nutshell, yes, your understanding is correct.

A user or third-party framework (like Spring or Mockito) implements a `ParameterResolver`.

Users register such resolvers via `@ExtendWith(...)`. For example, to get dependency injection support from Spring, you annotate a test class with `@ExtendWith(SpringExtension.class)` to register the extension (which implements `ParameterResolver`).

JUni

[2016-06-09 16:54] jbduncan commented on #300
Okay great, that matches my understanding perfectly! In that case, I'm happy for the `target` params to be Optionals since JUnit would be instantiating the Optionals itself, and AFAIKT that'd make implementers less likely to use `target` in such a way as to throw `NullPointerException`s by accident.

[2016-06-09 16:57] jbduncan commented on #300
@sbrannen @marcphilipp Thank you both for taking the time to answer my questions, I really appreciate it. :smile:

[2016-06-09 16:58] sbrannen commented on #300
That's the goal!

[2016-06-09 17:29] smoyer64 commented on #300
Tony Hoare called the null reference his "billion dollar mistake" [1].  I personally like Optional but it obviously doesn't keep you from performing null checks (directly or indirectly).  Unless you're using static analysis (perhaps with JSR305 style annotations?), there's no guarantee the Optional won't itself be null.  (If a flaw in the engine sends null for the Optional<Object> target, you won'

[2016-06-09 17:43] sbrannen commented on #300
@smoyer64,

The contracts in the `ParameterResolver` API guarantee that arguments passed to the `supports()` and `resolve()` methods will never be `null`.

Details are visible in the Javadoc:

https://github.com/junit-team/junit5/blob/master/junit5-api/src/main/java/org/junit/gen5/api/extension/ParameterResolver.java

Furthermore, the implementation of `org.junit.gen5.engine.junit5.execution.Execu

[2016-06-09 18:50] smoyer64 commented on #300
@sbrannen

I've seen (and implemented) the ParameterResolver interface quite a few times (for upREST and for an attempt at a JUnitParams extension).  The API does indeed state that target won't be null, but (and this may just be semantics) it's not a contract since the engine's implementation could in fact return a null.

I trust this team enough (having dug through the code) to expect that the im

[2016-06-09 19:00] sbrannen commented on #300
Yes, that's what I meant by _contract_ in this context. 😉

But no need to apologize, and certainly no offense taken. I just wanted to ensure that others reading this issue get the full picture.

[2016-06-10 11:13] jillesvangurp commented on #163
@sbrannen I responded to that issue earlier. To be honest, I don't think the annotations proposed there are anywhere near good enough yet compared to things, especially if BDD style testing is what you want.  Frankly, I think it all looks a bit too verbose and too limited to me in the current form. I'm not sure if it is a fixable problem given Java's semantics.

I'm not that much into BDD myself b

[2016-06-10 11:26] sbrannen commented on #163
@jillesvangurp, oops... I didn't reread the comments in #48. So I didn't realize you'd already participated in that discussion.

Compared to _what_ things?

In any case, the decision as to whether or not `@BeforeAll` and `@AfterAll` should be able to be applied to non-static methods is not related to this issue. This issue only applies to the names of such annotations. So let's stay on topic here.

[2016-06-10 15:36] sbrannen opened #301 "Introduce DiscoverySelector for classpath resources"
## Status Quo

There is currently support for selecting packages, classes, methods, and classpath roots; however, there is no way to _select_ a classpath resource.

## Related Issues

- #123
- #313
- #314
- #452

## Deliverables

- [x] Introduce a `DiscoverySelector` for selecting classpath resources (e.g., XML files stored in the classpath)

[2016-06-10 17:02] rliesenfeld commented on #300
Personally, I feel that using Optional in the extension API (which I now implement in the JMockit library) may not be the best idea.

I have been using JSR 305 annotations (from the javax.annotations package). In practice, this should be more useful as there is good tool support (IntelliJ, Eclipse, FindBugs), and it keeps the API simpler. Having @Nonnull and @Nullable annotations also documents th

[2016-06-10 17:27] sbrannen commented on #300
@rliesenfeld, that's awesome that you're building JUnit 5 support into JMockit! 👍

Please let us know how it goes and if you run into any issues.

Regarding the use of `Optional` for a method argument in an extension API, we will keep everyone's input in mind.

In this particular case, however, `@NonNull` is not applicable since the `target` can in fact be `null`. The `target` is therefore `@Nulla

[2016-06-11 11:06] sbrannen commented on #295
_in progress_

[2016-06-11 12:20] marcphilipp commented on #300
### Team decision:

We will change both methods by removing `parameter` and `target` and instead pass a new class `ParameterContext` that holds the `Parameter`, `Optional<Object> target`, and `int index`. Therefore `Optional` will not be as a method parameter and we'll be able to add additional information without breaking existing implementations in the future.

[2016-06-11 12:41] marcphilipp commented on #300
I'll start to work on this issue.

[2016-06-11 15:54] #295 closed

[2016-06-11 16:24] sbrannen opened #303 "Introduce support for required and excluded engines in JUnit5 Runner"
## Status Quo

The `JUnit5` `Runner` currently supports a single, required engine via the `@RequireEngine` annotation; however, `EngineFilter` now supports multiple required or excluded engines.

## Related Issues

- #291
- #285
- #295

## Deliverables

- [x] Rename `@RequireEngine` to `@RequireEngines` and support multiple required engines in the `JUnit5` runner.
- [x] Introduce `@ExcludeEngines`

[2016-06-11 16:25] sbrannen commented on #303
_in progress_

[2016-06-11 17:04] #303 closed

[2016-06-11 17:08] sbrannen opened #304 "Use consistent terminology for included/excluded features"
## Status Quo

Tags and engines can currently be _required_ or _excluded_; however, a tag or engine is never actually _required_. In other words, specifying that a tag or engine is required does not result in a failure if such a tag or engine is not present.

## Team Decision

Use consistent terminology across the platform with regard to _things_ that can be included or excluded from a test plan,

[2016-06-11 17:11] sbrannen commented on #304
_in progress_

[2016-06-11 18:14] #304 closed

[2016-06-11 18:35] sbrannen commented on #285
This issue is no longer _blocked_.

[2016-06-11 19:12] marcphilipp commented on #300
@baev Thanks for getting this discussion going! I think the new `ParameterContext` is definitely an improvement!

[2016-06-11 19:30] sbrannen commented on #285
FYI: I'm working on the first two deliverables.

[2016-06-11 19:53] alinebrito opened #305 "Brief Question About JUnit Internal Interface"
Dear JUnit developers,

I am a master student at UFMG, Brazil. Currently, I am researching the use of internal interfaces by client projects. I mean, public interfaces for use only by internal modules (e.g., org.junit.internal.runners.statements.Fail).

In my research, I found 145 internal interfaces in JUnit (see the list at: [Internal Interfaces JUnit](https://www.dropbox.com/s/1n9azd2hyqxqd42/)

[2016-06-11 20:30] smoyer64 commented on #305
Boa tarde @alinebrito

I'm not part of the JUnit 5 team, but they've published information about their API usage at http://junit.org/junit5/docs/current/user-guide/#api-evolution.  I *am* an extension developer and hope that I'm providing useful feedback as the APIs are finalized.  Right now, most of the APIs are marked experimental.  And there are plenty that are internal only - if you're using a

[2016-06-11 21:06] alinebrito commented on #305
Hi @smoyer64 ,

Thanks for the answer! Your feedbak is very useful for our research. We are analyzing the internal interfaces of the JDK also, we found 5K projects using sun interfaces.

[2016-06-11 21:28] nicolaiparlog commented on #300
FWIW, I think [using `Optional` everywhere](http://blog.codefx.org/java/stephen-colebourne-optional-a-strict-approach/) is a valid approach. But the `ParameterContext` is an improvement, nonetheless.

[2016-06-11 21:51] jbduncan commented on #305
Hi @alinebrito.

I don't think @smoyer64 has explicitly pointed this out, but it looks to me that all the JUnit 5 classes in your .xlsx file are in a package with the name `internal`, which means they should be annotated with `@API(Internal)`, and in turn meaning they're internal to JUnit 5 and not part of its public API.

I'm not part of the JUnit 5 team either, so you'll have to wait for confirm

[2016-06-12 00:35] alinebrito commented on #305
Hi @jbduncan

Thank you for your feedback!

That's right, all interfaces in the list  have `internal` package.  I mean, we researched only clients that use JUnit interfaces  (`junit.*` and `org.junit.*`)  with the `internal` package.

[2016-06-12 06:24] marcphilipp commented on #305
I didn't have time to go through the list, yet. However, I took a quick glance and there are no JUnit 5 classes on that list. There are some JUnit 4 classes and some classes thatlook like they belong to the Eclipse plugin that is not maintained by us.

[2016-06-12 09:08] hglasgow commented on #244
I have created pull request #306 with the required documentation changes. I have not used asciidoc before so hope it is okay.

[2016-06-12 10:21] sbrannen opened #307 "Introduce nested extensions for engines and tags in the Gradle plugin"
This issue is sub-task for #285.

## Deliverables

- [x] Introduce nested extension for tags
- [x] Introduce nested extension for engines
- [x] Rename and refactor `requireEngine` support so that it supports multiple _included_ engines
  - via: `engines { include ... }`
- [x] Introduce support for multiple _excluded_ engines
  - via: `engines { exclude ... }`

[2016-06-12 12:02] alinebrito commented on #305
Hi @marcphilipp

I think there's noise in my query, thanks for the feedback!  I removed the `junit.extensions.eclipse.*` prefix (this is the new list: [Internal Interfaces JUnit] (https://www.dropbox.com/s/m711xw7b4j8r626/)). I found  117 internal interfaces and  774 client projects that are using these internal interfaces.  I used the `junit.*` prefix to clients on older versions (e,g,. junit.fra

[2016-06-12 12:18] sbrannen opened #308 "Gradle plugin must not disable TestNG tests"
## Status Quo

If the `runJunit4` flag is set to `true` for the JUnit Gradle plugin, the standard Gradle `test` task will be disabled even if the `test` task is configured using `useTestNG()`. Consequently, no TestNG tests will be executed in this mode.

## Deliverables

- [ ] Ensure that the JUnit Gradle plugin does not disable the standard `test` task if it's configured to execute TestNG tests.

[2016-06-12 12:19] #307 closed

[2016-06-12 12:23] #308 closed

[2016-06-12 12:35] smoyer64 commented on #305
Hi @alinebrito

Here's some more noise in your query:

JUnit <=3 used junit.*
JUnit 4 uses org.junit.*
JUnit 5 uses org.junit.gen5.*

Note that this is likely to changes ... there's a long, ongoing discussion in #286.

[2016-06-12 13:21] alinebrito commented on #305
Hi @smoyer64

Thank you for your help! That's right, the result has all customers. I mean, all the projects that used interfaces with these prefixes (`junit.*`, `org.junit.*`) and `*.internal.*` package. I did not research the use of classes with `@API(Internal)`, yet.

[2016-06-12 15:47] sbrannen commented on #244
Assigned to M1 due to pending PR #306.

[2016-06-12 17:27] sbrannen commented on #244
_in progress_

[2016-06-12 18:05] sbrannen commented on #244
PR #306 has been merged into `master` in cbf84cd2d348535f1d6fc4ab9104d4c0b3288808.

[2016-06-12 18:05] #244 closed

[2016-06-13 10:23] sbrannen commented on #285
## Team Decisions

- Add a direct compile-time dependency on `junit-console` in `junit-gradle.gradle`.
- Refer to the `ConsoleRunner` via a class reference within the JUnit Gradle plugin instead of via a hard-coded string.
- Remove all programmatic dependency management within the JUnit Gradle plugin.
- Introduce a new `disableStandardTestTask` configuration flag for disabling execution of the sta

[2016-06-13 10:23] sbrannen commented on #285
_in progress_

[2016-06-13 15:20] sbrannen commented on #285
***Status***

Regarding removal of all programmatic dependency management within the JUnit Gradle plugin, everything has been removed except the dependency on `junit-console`.

See the question I posted to the [Gradle Forum](https://discuss.gradle.org/t/how-to-add-plugins-dependencies-to-custom-task/18025) for details.

[2016-06-13 22:05] #285 closed

[2016-06-13 22:09] sbrannen commented on #285
**Resolution**

Resolved remaining issues in 430e21d6fb3908d0415c553bf38feb2e3f97f0a2:

_Ensure JUnit Gradle plugin does not influence project classpaths_

Prior to this commit, the JUnit Gradle plugin modified the test runtime classpath of the containing project by adding the `junit-console` module (and all of its transitive dependencies) to it. Consequently, the `junit4` and `junit5` engines wer

[2016-06-13 22:48] sbrannen opened #309 "Inline jopt-simple into junit-platform-console"
## Status Quo

The `junit-console` module currently has a mandatory dependency on `jopt-simple`, which can have negative side effects if the consumer of `junit-console` wants to use a different version of JOpt Simple. In addition, having a mandatory, transitive dependency on a third-party library breaks the general rule for JUnit modules.

## See Also

- b1746e8b00aba42823d873941d4f26d5a111ffda

#

[2016-06-13 22:49] sbrannen commented on #309
@junit-team/junit-lambda, let's discuss the merits of this proposal.

[2016-06-14 11:44] marcphilipp commented on #296
We could try using a nightly build of Gradle, as discussed in the [Gradle forum](https://discuss.gradle.org/t/gradle-2-4-does-not-work-with-jdk-9/9554/3), right?

[2016-06-14 12:15] sbrannen commented on #296
Wow... you found that old thread of mine in the Gradle forum.

That was for Gradle 2.5 and _old_ early access releases of Java 9.

Since then, many things have changed internally within Java 9, and consequently Gradle cannot even compile a `HelloWorld` Java class.

The [Gradle and JDK9 Status Today](https://github.com/gradle/gradle/blob/master/design-docs/jdk9-support.md#gradle-and-jdk9-status-tod

[2016-06-14 13:13] marcphilipp commented on #309
I think I tried that but it didn't work because of a few resource bundles inside the jopt-simple jar that contain class names. We would have to process those as well, but I couldn't find a suitable post-processor at the time.

[2016-06-14 13:27] sbrannen commented on #309
In that case, the [Shadow Plugin](https://github.com/johnrengelman/shadow) may be a better choice than [jarjar](https://code.google.com/archive/p/jarjar/).

[2016-06-14 15:28] jbduncan commented on #309
@sbrannen, if the Shadow Plugin and jarjar don't work, may I recommend trying [Capsule](https://github.com/puniverse/capsule)? I've personally used it in the past, and it seems to produce nice executable JARs even for large-ish projects. Although it doesn't have any official build tool plugins, the website does point to some third-party ones including Gradle (http://www.capsule.io/user-guide/#buil

[2016-06-14 15:39] jbduncan commented on #309
Hmm, then again, I don't know if Capsule can be used for renaming library classes and all references to those classes. I'd still recommend having a look at it, however, if all your other options fail.

[2016-06-14 15:58] mkobit commented on #296
@sbrannen It looks like after tonight, the nightly build will have initial Java 9 support.

See https://github.com/gradle/gradle/commit/d482d32627eba564d8f385d95dffe5c3dbbe27ec#diff-0a54cd20978cc67e059eefd51fb97176 for the release notes update.

I would imagine it will be reflected in tonight's nightly build (would be seen at the [nightly-release-notes](https://docs.gradle.org/nightly/release-note

[2016-06-14 16:18] sbrannen commented on #309
@jbduncan, thanks for the tip. If all else fails, we'll look into Capsule.

[2016-06-14 16:22] sbrannen commented on #296
@mkobit,

Good to know that Gradle 3.0 nightly builds are starting to support Java 9.

We'll keep an eye on it.

Thanks for sharing! 👍

[2016-06-14 16:24] sbrannen commented on #296
Update: I just added a _Deliverable_ for this issue.

[2016-06-14 19:02] marcphilipp commented on #305
Yes, we are aware that many of the originally internal interfaces are used by clients. It's one of the reasons why we're using a different approach of annotating APIs instead of using package names for JUnit 5.

The following classes/interfaces have already been promoted. The original files have been kept but deprecated to maintain backwards compatibility.

- org.junit.internal.AssumptionViolatedE

[2016-06-14 19:02] #305 closed

[2016-06-14 20:18] sbrannen commented on #309
As far as I can tell, the _Shadow Plugin_ does not have a built-in `Transformer` that will rename the class name based property keys in JOpt Simple's properties files.

However, it should be simple enough to create our own custom transformer for that purpose, and we can use the [PropertiesFileTransformer](https://github.com/johnrengelman/shadow/blob/master/src/main/groovy/com/github/jengelman/grad

[2016-06-14 21:04] sbrannen commented on #296
Gradle 3.0 + JDK 8 --> works. (y)

Gradle 3.0 + JDK 9 --> fails as follows:

[code]

[2016-06-14 21:05] sbrannen commented on #296
FYI: I've introduced a new _Manual Test Results_ section to this issue's description.

[2016-06-15 01:48] alinebrito commented on #305
Hi @marcphilipp

Thank you for help! This information is very useful for my research.

[2016-06-15 06:37] marcphilipp commented on #296
How would we setup a build for this? Is there a command-line parameter to override the distributionUrl? How would we retrieve the latest one?

[2016-06-15 11:41] sbrannen commented on #296
I assume we can do that here: https://adopt-openjdk.ci.cloudbees.com/

Yes, the following works for me locally.

[code]

I don't know if it's possible to automatically get the latest Gradle 3.0 nightly build URL. We'll have to investigate that.

At the moment that is perhaps not so important since our code doesn't compile against JDK 9. In other words, I think we need to find _A_ working combinati

[2016-06-15 11:46] sbrannen commented on #296
FYI: if we don't run the `junit-tests` test suite (which currently doesn't compile; see above), then the build actually passes with this configuration!

- ✅  Gradle 3.0-20160615000025+0000 -- JDK 9-ea+122 --> `gradlew clean test -x :junit-tests:test`

[2016-06-15 12:15] smoyer64 commented on #305
I hadn't really thought it through before but this thread brings up an interesting question.  What can Java library developers do to make sure internal APIs aren't used by developers?  And a related question is whether it's worth it.

One tact would be to make it difficult on the developer to access the APIs ... randomly obfuscating the internal classes for each release would effectively make the

[2016-06-15 13:35] sbrannen commented on #305
@smoyer64,

Java Module support coming with Java 9 will make it possible to address some of those issues; however, that's only useful if everything is running as a _module_.

In any case, we already have issues to address these topics:

- #144
- #216

[2016-06-15 16:52] sbrannen commented on #296
**Update**

In e6fead4cd7bf7caa859eade7fb4ef7e89379f19a, I refactored `ExecutionEventConditions` so that JUnit 5 can be compiled with OpenJDK 9 early access builds.

Consequently, it is now possible to run the entire JUnit 5 build (including all tests) using JDK 9!

[2016-06-15 17:18] marcphilipp commented on #296
Nice, @sbrannen!

I still consider this a bug in JDK 9, though. Did you open a ticket over at OpenJDK?

[2016-06-15 17:49] sbrannen commented on #296
Yes.... I in fact literally just submitted a bug which is waiting for approval.

I will post back here if it gets approved.

I also found a [related bug report](http://bugs.java.com/bugdatabase/view_bug.do?bug_id=8155072) that appears to also be based on the use of `Condition` and `allOf()` from AssertJ; however, I went ahead and submitted our specific use case to make sure the OpenJDK team introd

[2016-06-15 17:52] sbrannen commented on #296
For anyone interested, the following is the code I submitted for the aforementioned bug in JDK 9.

[code]

[2016-06-15 17:59] marcphilipp commented on #296
Thanks, @sbrannen! 👍

[2016-06-16 15:11] sbrannen opened #310 "Separate snapshots from releases for published documentation"
## Status Quo

Snapshots for the _User Guide_ are currently published to: http://junit.org/junit5/docs/current/user-guide

Snapshots for Javadoc are currently published to: https://junit.ci.cloudbees.com/job/JUnit5/javadoc/

This behavior has been acceptable until now since there had not yet been a first milestone release; however, with M1 we will need to devise a better scheme for where documenta

[2016-06-16 16:56] sbrannen commented on #296
**Update**

My bug report has been accepted.

- http://bugs.java.com/bugdatabase/view_bug.do?bug_id=JDK-8159680

The reviewer commented that the current behavior may not be legitimate, but they are looking into it in any case.

[2016-06-17 12:57] sbrannen commented on #219
We have recently received a recommendation for introducing an annotation like `@DisabledUntil( /* date */)`.

[2016-06-17 14:14] sbrannen opened #311 "Populate release notes for 5.0.0-M1 in the User Guide"
## Deliverables

- [x] Populate the _Summary of Changes_ section in `release-notes-5.0.0-M1.adoc`

[2016-06-17 14:54] marcphilipp commented on #311
Good catch! 👍

[2016-06-17 16:24] sbrannen commented on #286
@mlevison, although it's off topic, here are some quick answers to your questions regarding compatibility.

- It shouldn't matter what assertion library you use: JUnit 4, JUnit 5, AssertJ, etc.
- On the other hand, _assumptions_ from JUnit 4 and JUnit 5 are incompatible.
  - With JUnit 4 you must use `Assume.*`; with JUnit 5 you must use `Assumptions.*`.
  - On a positive note, since JUnit 5's ass

[2016-06-18 10:55] marcphilipp commented on #310
*in progress*

[2016-06-18 11:36] sbrannen opened #312 "Align gradle plugin and runner features with Launcher API"
## Status Quo

The `JUnitPlatformPlugin` and `JUnitPlatform` runner currently have slightly different APIs and feature sets than what is possible with the Launcher API. For consistency and future proofing of these APIs we therefore need to align all public APIs for end users.

## Deliverables

- [x] Rename `@Packages` to `@SelectPackages`
- [x] Rename `@Classes` to `@SelectClasses`
- [x] Rename `b

[2016-06-18 11:36] sbrannen commented on #312
_in progress_

[2016-06-18 13:18] #312 closed

[2016-06-18 13:19] sbrannen commented on #312
All tasks have been pushed to `master`.

[2016-06-18 13:41] sbrannen opened #313 "Introduce support for filtering packages"
## Status Quo

It is currently possible to _select_ a package -- for example, for classpath scanning. However, it is not possible to _filter_ packages.

See use case described in #534 for additional input.
## Related Issues
- #301
- #312
- #314
- #437
- #474
- #534
## Deliverables
- [x] Introduce _include_ and _exclude_ filter support for packages in a new `PackageFilter` class (similar to `ClassF

[2016-06-18 13:49] sbrannen opened #314 "Introduce support for excluding classes via filters"
## Status Quo

It is currently possible to _filter_ a class for _inclusion_ but **not** for _exclusion_.

## Related Issues
- #301
- #312
- #313
- #474

## Deliverables
- [x] Introduce _exclude_ support in `ClassNameFilter` (e.g., `excludeClassNamePatterns()`)
- [x] Introduce _exclude_ filter support for classes in the `ConsoleLauncher` (e.g., `-N` and `--exclude-classname`).
- [x] Introduce _excl

[2016-06-18 14:02] raniejade opened #315 "Gradle plugin should support ignoring test failures"
## Proposal

This mirrors Gradle's `Test` task's  [ignoreFailures](https://docs.gradle.org/current/dsl/org.gradle.api.tasks.testing.Test.html#org.gradle.api.tasks.testing.Test:ignoreFailures) option.

It should allow the Gradle build to continue even if `junitPlatformTest` fails.
## Related Issues
- #475

[2016-06-18 14:06] sbrannen commented on #146
Reopening this issue in order to remove explicit dependencies on JUnit 4 and JUnit 5 from the `ConsoleRunner` and Maven Surefire provider.

For M2, the JUnit Team will come up with a different solution to address the _Plain Old JAR_ and #258.

[2016-06-18 14:06] sbrannen commented on #146
_in progress_

[2016-06-18 14:08] sbrannen commented on #315
Good point.

We will look into this during the M2 development phase.

[2016-06-18 15:20] smoyer64 commented on #146
For Maven users, it would also be convenient to have a couple of BOM POMs available.  I'm not a Gradle user (so I don't know how you're deploying to Maven Central) but if you simply want the extra POMs at the top-level of the project, I'd be happy to contribute them.

[2016-06-18 15:39] sbrannen commented on #146
@smoyer64,

We've already discussed possibly introducing BOMs. So I'll go ahead and create an issue to track that now.

[2016-06-18 15:39] sbrannen opened #316 "Introduce Maven BOM for JUnit Platform, Jupiter, and Vintage artifacts"
## Overview

To ease consumption of _JUnit 5_ artifacts, we should introduce a Maven _Bill Of Materials_ POM ([search for BOM here](https://maven.apache.org/guides/introduction/introduction-to-dependency-mechanism.html)) for all published Platform, Jupiter, and Vintage artifacts.

## Proposed Maven Coordinates

- Group ID: `org.junit`
- Artifact ID: `junit-bom`
- Version: `5.2.0`

## Related Issue

[2016-06-18 15:41] sbrannen commented on #146
Remaining tasks for M1 have been pushed to `master`, and I am therefore moving this issue to M2.

[2016-06-18 15:43] marcphilipp commented on #310
I've updated the deliverables of this issue. The remainder of the work will be done when releasing M1.

[2016-06-18 15:43] marcphilipp commented on #310
The release checklist now contains the necessary steps: https://github.com/junit-team/junit5/wiki/Releasing

[2016-06-18 15:50] sbrannen commented on #310
Awesome. Thanks for taking care of that: it's much more professional now! 👍

I especially like that _Celebrate_ step in the _Releasing_ page. 😉

[2016-06-19 12:12] sormuras opened #318 "Assertions.assertEquals() should not check identity"
JUnit 4 executes the following `equals` method and therefore exits with an AssertionError (and not with `fail`):

[code]

JUnit Jupiter does not execute the `equals` method and therefore exits with `fail("should not happen")`:

[code]

The Jupiter implementation delegates to `java.util.Objects.equals(a, b)` which uses a short-cut if a and b point to the same object:

[code]

Is the change of behav

[2016-06-19 13:38] marcphilipp opened #319 "Generate User Guide referencing specific revision/tag of Javadoc and source code on GitHub"
The user guide of a release should point to GitHub sources and Javadoc of the corresponding release tag.

### Deliverables

- [x] Make path to Javadoc configurable.
- [x] Link to Javadoc instead of source code whenever appropriate.
- [x] Math path to the branch or tag for source code on GitHub configurable.
- [x] Document how to build User Guide for a release in [wiki](https://github.com/junit-tea

[2016-06-19 13:45] sbrannen commented on #318
_in progress_

[2016-06-19 13:46] sbrannen commented on #318
Good catch!

No, the difference in behavior was not intentional. So thanks for pointing it out.

[2016-06-19 14:10] nicolaiparlog commented on #318
But what would be "the right way" to do it? Identical objects are necessarily equal so I'd say that the current behavior (via `Objects::equals`) isn't necessarily wrong.

[2016-06-19 14:14] marcphilipp commented on #319
_in progress_

[2016-06-19 14:15] sormuras commented on #318
It's not wrong from a logical point-of-view, but in this context, I expect a test framework to always execute `equals()` ... to test the implementation of that method. If I wanted to check for identity, I'd use `assertSame`.

[2016-06-19 14:32] sbrannen commented on #318
I agree with both you:

1. The way it's implemented now in JUnit Jupiter seems logical, natural.
1. However, it's not how JUnit 4 or AssertJ do it. Presumably other assertion frameworks forego identity checks as well, but I didn't investigate further.
1. As @sormuras pointed out, one should invoke `assertSame` if one is interested in checking for identity.

So, in summary, we will revert the behav

[2016-06-19 15:55] sbrannen commented on #318
Update: the same _bug_ is applicable to `assertNotEquals()` as well.

[2016-06-19 16:22] #318 closed

[2016-06-19 18:09] sbrannen commented on #310
Reopening issue since the _redirect_ approach is unfortunately flawed.

Specifically, with the JavaScript/meta redirect approach, it is impossible to actually link to anything within the Javadoc tree.

For example, the User Guide links to the following which does not physically exist (resulting in a _404_): http://junit.org/junit5/docs/current/api/org/junit/platform/runner/package-summary.html

We

[2016-06-19 18:14] sbrannen commented on #310
Related resources which might prove useful:

- https://news.ycombinator.com/item?id=7570160
- https://github.com/Sidnicious/gh-pages-symlink-test/issues/4

[2016-06-19 18:45] sbrannen opened #320 "Create consistent, logical anchors in User Guide"
## Overview

Since it is highly unprofessional to allow anchors to be auto-generated by AsciiDoctor based on section headers (i.e., because somebody might randomly change the wording thereby breaking bookmarked links), we must create consistent, logical anchors for every section in the User Guide.

## Example

Some work in this direction has already been started in the _Extension Model_ -- for exa

[2016-06-19 18:46] marcphilipp commented on #310
Symlinks won't work because we're using Jekyll. So copying seems to be the only option.

[2016-06-19 18:54] sbrannen commented on #310
Alrighty... then copying it is! C'est la vie.

[2016-06-19 19:58] smoyer64 opened #321 "Should there be a repository for "official" JUnit 5 extensions"
Many JUnit 5 Extensions will be lightweight glue code that connect two disparate projects.  Examples include the MockitoExtension and the JUnitParamsExtension (which is part of my AfterDiscoveryCallback PoC).  Other Extensions will replace existing JUnit 4 @Rules, such as the TemporaryFolder rule.  This class of extensions logically are only dependent upon JUnit 4.

Would it make sense to create a

[2016-06-19 20:29] stefanbirkner commented on #321
I think that this doesn't make sense. The purpose of extension points is that independent projects can provide JUnit extensions independent from the JUnit team. JUnit should be the base framework that is extended by other libraries.

[2016-06-20 08:06] raphw commented on #321
I think that the Mockito extension would follow the Mockito release-cycle so in a way it would of course make sense to add a `mockito-junit5` module. Currently, we already add several JUnit 4 runners backed by an optional dependency.

The problem I see currently is that we are still at Java 6 compatibility and will probably stay there for a while and few libraries already made this jump. From this

[2016-06-20 08:24] stefanbirkner commented on #321
Imagine that we have a dedicated repository for JUnit extensions (`junit-team/junit-extensions`). This repository will contain a lot of extensions. Therefore it has to be released whenever a single extension needs a new release. This workload can hardly be managed by the JUnit team.

Also from a user perspective it is a little bit confusing. You will have a lot of releases of e.g. `junit-mockito-e

[2016-06-20 10:29] sbrannen commented on #321
In short, no.

As a policy, JUnit projects do not depend on any third-party libraries or frameworks [*], and [for very good reasons](https://github.com/junit-team/junit5/wiki/Core-Principles#minimize-dependencies-especially-third-party).

As @stefanbirkner pointed out, "_JUnit should be the base framework that is extended by other libraries._" This holds for simpler extensions like the proposed `M

[2016-06-20 10:33] sbrannen commented on #321
**Team Decision:** close this issue as "won't fix".

[2016-06-20 10:33] #321 closed

[2016-06-21 09:37] baev opened #329 "Do you like to have native support of Allure Framework"
Hi there! Do you like to have native support of Allure Framework? We would like to move Allure integration code to your repository, so you could maintain it at your will and e.g. add early support of your new features such `@DisplayName`. We on our turn would like to move a little bit away from solving test framework specific issues and concentrate on general reporting problems to make Allure rock

[2016-06-21 10:30] donnerpeter opened #330 "Introduce support for programmatic test suites"
## Overview

JUnit 3 had "static Test suite()" method where you could create suites as you wish: e.g. first add one class, then another one repeated 100 times, then another one, etc. That's quite handy when you have unstable tests that also spoil some global state, and want to increase the probability of them failing.

JUnit5 has dynamic tests with similar possibilities, but it seems that currentl

[2016-06-21 10:31] sbrannen opened #331 "Support methods with parameters in ReflectionUtils.loadMethod()"
## Status Quo

`ReflectionUtils.loadMethod(String)` currently does not support loading of a method by its _fully qualified method name_ if the method accepted parameters.

## Analysis

Ideally, `loadMethod(String)` should delegate to `ReflectionUtils.findMethod(Class<?>, String, Class<?>...)` internally.

## Related Issues

- #331
- #332
- #392

[2016-06-21 10:32] sbrannen opened #332 "Support primitive types and arrays in ReflectionUtils.loadClass()"
## Status Quo

`ReflectionUtils.loadClass(String, ClassLoader)` currently does not support loading classes
by name for primitive types or arrays.

## Related Issues

- #331

[2016-06-21 10:34] sbrannen opened #333 "Support bridged methods in ReflectionUtils.findAllMethodsInHierarchy()"
- [x] Support bridged methods in `ReflectionUtils.findAllMethodsInHierarchy(Class<?>, MethodSortOrder)`.
- [x] Ensure the Jupiter engine behaves correctly for bridge methods (see junit-team/junit4#1411).

[2016-06-21 10:37] sbrannen opened #335 "Favor local annotations over inherited annotations in AnnotationUtils.findRepeatableAnnotations()"
This may already be completed, but we need to test the desired behavior.

See TODO in `AnnotationUtils.findRepeatableAnnotations(Annotation[], Class<A>, Class<? extends Annotation>, boolean, Set<A>, Set<Annotation>)`.

[2016-06-21 10:40] sbrannen opened #336 "Decide if exceptions thrown during preparation should result in node being marked as "started" in HierarchicalTestExecutor"
See TODO in `HierarchicalTestExecutor.execute(TestDescriptor, C)`.

[2016-06-21 10:43] sbrannen opened #337 "Check that segment is a runner segment in UniqueIdSelectorResolver"
See TODO in `UniqueIdSelectorResolver`.

[2016-06-21 14:21] sbrannen opened #340 "Verify behavior for @BeforeAll and @AfterAll methods within test class hierarchies"
## Status Quo

It was brought to our attention in #339 that the behavior for `@BeforeAll` and `@AfterAll` methods within a test class hierarchy is unclear.

## Deliverables

- [x] Verify behavior for `@BeforeAll` and `@AfterAll` methods within test class hierarchies by introducing explicit tests.
  - See modified `BeforeAndAfterAllTests`.
- [ ] Update the User Guide and Javadoc to reflect the beha

[2016-06-21 18:39] smoyer64 opened #343 "Document compatibility with JUnit 4 TestRules"
The following is an analysis of which JUnit 4 TestRule functionality is provided by JUnit 5.  This should be documented in an addendum to the User Guide.
-   [ ] DisableOnDebug - ~~partially accomplished using [DisableIf/EnableIf](https://github.com/junit-team/junit5/issues/219), partially allowed via the use of [@Tags](https://junit.ci.cloudbees.com/job/JUnit5/javadoc/org/junit/jupiter/api/Tags.h

[2016-06-21 18:46] smoyer64 opened #344 "Use runtime or run-time consistently in the user guide"
Currently both run-time and runtime are used in the user guide.  Compile-time is consistent.  Two of the three references to execution time (without a hyphen) refer to the wall clock time of a lambda's execution (versus the use of run-time as a reference to the execution lifecycle?).  One of the uses of execution time refers to the period during which the method being timed is running.

[2016-06-21 20:03] jbduncan commented on #330
@sbrannen I wonder if it's worth inviting the Guava team to this conversation. They use TestSuite a lot to  dynamically create tests for their collection classes, so they may be able to advise as to which direction this enhancement should go in.

[2016-06-21 21:36] sbrannen commented on #330
Interesting proposal!

We're busy with M1 at the moment. So we'll have to dive deeper into this later.

[2016-06-21 21:38] sbrannen commented on #344
Wow. Thanks for reading the User Guide so closely!

We'll look into this for M2.

[2016-06-21 21:40] sbrannen commented on #343
Great list, and... thanks for doing all of the research!

[2016-06-21 21:42] sbrannen commented on #343
This is related to #169.

[2016-06-21 22:25] sbrannen opened #345 "Update documentation regarding JUnit Platform, Jupiter, and Vintage"
Update the following documentation regarding the introduction of JUnit Platform, Jupiter, and Vintage in #286.

- [x] README.md
- [x] User Guide
  - [x] Add a new section to the _Overview_ explaining that _JUnit 5 = JUnit Platform + JUnit Jupiter + JUnit Vintage_
- [x] Javadoc
 - [x] `junit-jupiter-api`
 - [x] `junit-jupiter-engine`
 - [x] `junit-platform-commons`
 - [x] `junit-platform-console`

[2016-06-21 22:27] sbrannen commented on #286
Closing this issue since all deliverables have been pushed to `master`.

Documentation changes will be addressed in #345.

[2016-06-21 22:27] #286 closed

[2016-06-21 23:04] smoyer64 commented on #344
No hurry ... I'd be happy to go through the whole manual with a fine-tooth comb at some point (and perhaps force some of our developers to use JUnit 5 without looking at Javadocs or code).  I'm a little busy at the moment but how about I make a pass after M1?

[2016-06-22 07:53] marcphilipp commented on #344
Sure, sounds good! 👍

[2016-06-22 09:59] mp911de opened #346 "Add possibility to disable all tests in a class except for one"
Maybe you know this feature from Sound mixers (`Solo`) or Spock (`@IgnoreRest`) which mutes everything (within the context) else except the one thing you want to inspect. That's quite handy for inspecting tests so you don't need to add `@Ignore`/`@Disabled` to the other tests/steps within your test class.

Some IDEs allow selective execution but in some cases it's quite hard.

[2016-06-22 14:00] sbrannen opened #347 "Introduce support for type safety in ExtensionContext.Store"

[2016-06-22 16:20] #347 closed

[2016-06-22 17:43] manueljordan commented on #111
Hello, what is the status of this concern/situation? Seems is not easy do this with the current status of JDK 7 and 8.

Just being curious if a new annotation could help this. Something like `@OrderDeclaration(number=1)`, the downside is that the developer must include this annotation for each `@Test`, and JUnit should throw an exception if the order is repeated twice in the same Test class

I use

[2016-06-22 17:50] manueljordan opened #348 "Add feature about blocks or labels for test reports how Spock Framework offers"
Hello Developers

I use `Spock Framework` which is based on `Groovy`, there is a special feature very useful. It contains some special blocks or labels such as `given`, `where` etc where appears in some special kind of reports. It is very useful by itself

Such feature would be added in JUnit 5?

Thanks

[2016-06-22 19:26] smoyer64 commented on #111
I'm working on a proposal for an AfterDiscoveryCallback that would run immediately after discovery filtering.  It would contain a single method that looks something like this:

[code]

One of the use cases for this callback is to allow a ScenarioExtension that would include an annotation (that extends @Test) similar to:

[code]

In this case, the value() function would return an array of String na

[2016-06-23 08:50] ptahchiev commented on #60
+1 for this one. TestNG has had this feature for a long time and the maven surefire plugin supports parallel tests out of the box:

http://maven.apache.org/surefire/maven-surefire-plugin/examples/fork-options-and-parallel-execution.html

[2016-06-23 11:51] sbrannen commented on #344
Agreed: that sounds great! 👍

However, I'm not sure why you would want to force anyone to use JUnit 5 without being able to read the Javadoc. IMHO, the Javadoc can be just as important or more important than the User Guide.

And... yes, I'd definitely recommend holding off on such a task until after M1 goes out.

[2016-06-23 13:04] smoyer64 commented on #344
"However, I'm not sure why you would want to force anyone to use JUnit 5 without being able to read the Javadoc."

I've actually used this technique quite a few times, and not just in Java or a programming environment.  It's an interactive process and you often need to pick someone with no prior exposure to the subject.  As they (try to) work, you keep track of the questions they ask - and give th

[2016-06-23 13:17] sbrannen opened #349 "Store.getOrComputeIfAbsent() shadows values from parent store"
## Status Quo

In direct contrast to the `get()` methods in `ExtensionContext.Store`, the `getOrComputeIfAbsent()` methods in `ExtensionContext.Store` only perform a _local_ lookup before invoking the supplied `Function<K, V> defaultCreator`. Consequently, even if a value has been stored under the supplied `key` in the parent `Store`, the `getOrComputeIfAbsent()` methods will always create a new d