[2021-05-15 13:59] sebersole commented on #2615
Yes, I understand that.  We'd really have to migrate away from JUnit period.  Which would really not be cool as I have invested a lot of time writing various JUnit 5 extensions

[2021-05-15 14:56] jbduncan commented on #2594
@t1 Ooh, nice! Am I right to think that you got it working over at https://github.com/smallrye/smallrye-graphql/issues/796?

I like how the suite-based TCK runs a bunch of other tests, which in turn grab the implementation-under-test from the classpath using `ServiceLoader`.

I can see now why, for a project of this size, the [Test Interface pattern](https://junit.org/junit5/docs/5.7.0/user-guide/

[2021-05-15 14:58] jbduncan commented on #2594
I think this issue could be re-opened though, as I believe this suite-based TCK pattern is worth documenting in the User Guide.

What do you think, JUnit 5 team?

[2021-05-15 15:43] marcphilipp commented on #2615
Have you tried replacing `each` with `configureEach` as I suggested above?

[2021-05-15 15:44] marcphilipp commented on #2615
That sounds drastic. I don't quite follow your reasoning. What would you migrate to? The IDEA issue I reported applies to any testing framework supported by Gradle, i.e. vanilla JUnit 4, TestNG, and JUnit Platform.

[2021-05-16 01:13] mpkorstanje commented on #2594
I think it is worth documenting this pattern as one particular use case of declarative test suites.

But I'm not part of the JUnit team. I think you have to tag them with @junit-team.

[2021-05-16 07:56] sormuras commented on #2616
It supports running JAR files published on Maven Central.

[code]

Running

`jbang org.junit.platform:junit-platform-console-standalone:1.7.2 --scan-modules`

yields

[code]

[2021-05-16 08:03] #1554 closed

[2021-05-16 08:43] fduminy commented on #1967
As already said by @sbrannen, that other issue should be taken in consideration because in some cases the 2 issues are going in opposite directions => should #2219 be closed in favor of this issue already covering that particular case ?

[2021-05-16 09:27] fduminy commented on #2608
@marcphilipp After a look at DynamicTest, I see it's possible to wrap the Executable with another one to do before/after tasks.
But there is nothing like that in DynamicContainer : the only (dirty) workaround I find is to add a pseudo test at the begin/end of the provided stream/iterable to do equivalent of @BeforeAll/@AfterAll methods.

[2021-05-16 13:24] marcphilipp commented on #2594
@t1 Could you please outline your approach here?

[2021-05-17 00:26] Philzen commented on #2609
Thanks for the clarification @marcphilipp – i upgraded to 5.7.2 now and can confirm that the above code works like a charm and resets writable permissions of the `@tempDir` itself as well as contained directories (note to self - when picking this up, i should also test for 2nd-level directories). Hence i could already remove cruft code for these tests cases, very nice :wink:

However i can confirm

[2021-05-17 05:59] t1 commented on #2594
Sure. In the `tck` artifact, I define a suite like:

[code]

The class doesn't have to be abstract, but it make the intended usage more explicit. I'm not sure if `@SelectPackages` is the best option, as it includes a repetition of the package name. Maybe `@SelectModule` would be better, but IIUC I'd have to introduce Java Modules for that.

In the implementation, I define a subclass that's discove

[2021-05-17 06:42] sewe commented on #1991
As we are past 5.6 (and 5.7) now, has this ever been discussed? If not, is there any clarifying information you require? Would hate to this this issue closed as stale.

[2021-05-17 12:19] sbrannen opened #2619 "Introduce a Unique ID tracking TestExecutionListener"
## Overview

Inspired by the simple [`TestClassTrackingTestExecutionListener`](https://github.com/sbrannen/spring-framework/blob/77a115f7172b5b8874391ccfb4ffd800c0b4ba1e/spring-core/src/testFixtures/java/org/springframework/core/testfixture/junit/platform/TestClassTrackingTestExecutionListener.java) that I introduced as a proof of concept in the test suite for the Spring Framework, we should intro

[2021-05-17 17:38] sebersole commented on #2615
I thought the problem was in the combination of IntelliJ and JUnit, but you
are saying that the problem happens regardless of the actual test platform
used - JUnit, TestNG.

On Sat, May 15, 2021 at 10:45 AM Marc Philipp ***@***.***>
wrote:

[2021-05-18 14:12] alexsikorski opened #2621 "KingShaggy listed as author of junit-jupiter BOM in GitHub Dependency graph"
Good afternoon,

I am working on a group project and noticed under the dependency graph that [KingShaggy](https://github.com/KingShaggy) is the author for **org.junit.jupiter:junit-jupiter**. My question is, is this normal? I am viewing other dependencies and noticed that they have their respective author teams. This seems misleading.

![2021-05-18 15_07_43-](https://user-images.githubusercontent.

[2021-05-18 14:17] sbrannen commented on #2621
How did you generate the dependency graph you took a screenshot of?

[2021-05-18 14:18] sbrannen commented on #2621
Never mind. I find the same in our GitHub repo: https://github.com/junit-team/junit5/network/dependencies

[2021-05-18 14:21] sbrannen commented on #2621
No, that sounds like a bug in GitHub's _Dependency Graph_ feature.

Thanks for letting us know.

We will get in touch with GitHub support.

[2021-05-18 14:22] alexsikorski commented on #2621
Switched over to **org.junit.jupiter:junit-jupiter-api** and this is displayed. Please have a look at the usages too, [https://github.com/ChitreshSirohi/MyCodingPractice](repo) - it states the repo has 120k~ usages.

No problem!
![2021-05-18 15_20_58-Window](https://user-images.githubusercontent.com/34862811/118668430-c5956800-b7ec-11eb-92af-f1e896be9990.png)

[2021-05-18 14:26] sbrannen commented on #2621
That's quite bizarre. Thanks for sharing.

[2021-05-18 14:43] sbrannen commented on #2621
I opened a ticket with GitHub support and tweeted this: https://twitter.com/sam_brannen/status/1394664675359526913

[2021-05-18 15:09] sbrannen commented on #2621
The GitHub support team replied that they have...

In light of that, I am closing this issue.

[2021-05-18 17:59] #2621 closed

[2021-05-18 18:35] sauravjaiswalsj commented on #2616
Hey, @marcphilipp if the issue is unassigned, then can I take up this issue?

[2021-05-18 18:41] sbrannen commented on #2616
@sauravjaiswalsj, yes, feel free to take it, and please keep us posted on your progress.

Since it requires a new repository in the `junit-team` organization (which means you cannot submit a PR against this repository), it's probably best to create a new repository in your account, do the work there, and provide us a link to your repository for us to check out.

[2021-05-18 18:45] marcphilipp commented on #2616
@sauravjaiswalsj I created https://github.com/junit-team/jbang-catalog for you to fork and create a PR against.

[2021-05-18 18:49] sauravjaiswalsj commented on #2616
I am unable to fork the repo cause it's empty. Please put a readme so that Fork option is available @marcphilipp

[2021-05-19 03:28] sormuras commented on #2616
Created an almost empty `README.md` file.

[2021-05-19 04:50] sormuras commented on #2600
Related? https://stackoverflow.com/questions/67596876

[2021-05-19 07:24] yaroslav-prokipchyn commented on #2608
Thanks for the feedback.

Currently I have a three-level structure;
root
|\
dynamic test suites
|\\
set of dynamic test in each suite

Each suite should be run on another dataset. So ideal, I would like to have the possibility to register 'before' and 'after' functions for a suite to set up and clean DB.

I did implement it the same as **fduminy**  the **(dirty) workaround** add a fake first test

[2021-05-19 08:01] sormuras commented on #2608
Those testlets (aka dynamic tests) and the support Jupiter provides should stay as simple as possible - otherwise we'll re-implement all Jupiter (lifecycle) features.

The method annotated with `@TestFactory` is a good place for perparation-related code.

[2021-05-19 13:40] kriegfrj commented on #2547
Raised https://github.com/apiguardian-team/apiguardian/issues/22 to deal with the API-guardian side of this. Can't progress this issue until there is a version of API Guardian publically available with OSGi metadata.

[2021-05-20 11:33] alexstaeding commented on #2577
Thank you. This seems to be a good solution.

[2021-05-20 11:33] #2577 closed

[2021-05-20 15:00] sbrannen commented on #1572
This one should still be considered to enforce the claims in the User Guide.

[2021-05-21 15:54] sormuras commented on #2393
Yes.

Those two methods are targeted to be included in milestone [5.8 RC1](https://github.com/junit-team/junit5/milestone/54) - which follows after not-yet released milestone [5.8 M2](https://github.com/junit-team/junit5/milestone/55) - which in turn was predated by [5.8 M1](https://github.com/junit-team/junit5/milestone/51) in February 2021.

[2021-05-22 10:44] Michael1993 opened #2622 "Add new AnnotationBasedArgumentsProvider"
Sometimes an arguments provider needs to be initialised with an annotation externally before you can call `provideArguments`. It has to implement something like `Consumer<A>` or [`AnnotationConsumer<A>`](https://junit.org/junit5/docs/current/api/org.junit.jupiter.params/org/junit/jupiter/params/support/AnnotationConsumer.html). It'd be nice to have an extension point that merged `ArgumentsProvider

[2021-05-22 11:00] juliette-derancourt commented on #2622
Tentatively slated for 5.8-M2 solely for the purpose of _team discussion_

[2021-05-22 11:37] juliette-derancourt commented on #1667
Superseded by #2482.

[2021-05-22 11:37] #1667 closed

[2021-05-22 11:40] juliette-derancourt commented on #2579
Tentatively slated for 5.8-M2 solely for the purpose of _team discussion_

[2021-05-22 22:52] Marcono1234 commented on #1967
So multiple `@TempDir` parameters or fields will continue to refer to the same directory by default?
Technically `@TempDir` is still marked as "experimental", so wouldn't it be better to adjust the default behavior with the risk of breaking backward compatibility?

It appears to me that all existing code relying on multiple `@TempDir` annotated elements referring to the same directory could be wri

[2021-05-22 23:13] Marcono1234 commented on #2023
An `@ExpectToFail` annotation sounds quite useful, though maybe something like `@Failing` as name would be better to prevent confusion between this annotation and JUnit4's [`ExpectedException` rule](https://github.com/junit-team/junit4/wiki/Exception-testing#expectedexception-rule)?

I would assume in multiple cases where `@Disabled` is currently used such an `@ExpectToFail` annotation would be mo

[2021-05-23 10:58] Michael1993 commented on #2622
Sorry, I'm not really familiar with the process - I edited the original post to add another alternative I think you could consider. Hope that's OK.

[2021-05-23 15:26] sbrannen commented on #2622
Yes, that's totally fine.

[2021-05-23 15:34] sbrannen commented on #2023
I think that's a good argument in favor of such a new feature.

There's no need to create a separate issue. I think this one covers the basic category of such use cases, and I'll change the title to reflect the current goal.

[2021-05-23 15:40] sbrannen commented on #2023
Note that `Assertions.assertThrows(...)` is an existing programmatic mechanism for asserting that a given code block throws an exception; whereas, the current goal of this issue is to introduce a declarative mechanism (for example, an annotation) that _asserts_ that a given test method throws an exception.

However, this new mechanism should not allow the user to specify what type of exception is

[2021-05-23 15:46] sbrannen commented on #1967
Thanks for bringing that up. I've just slated #2219 for 5.8 M2 as well, so that we make sure to address what should be done when multiple empty `@TempDir` annotations are declared within the same scope. Those error cases might well be handled by the implementation of this issue, in which case we would then close #2219 as superseded by this issue.

[2021-05-23 15:48] sbrannen commented on #1967
That's true.

I think it's worth having another brainstorming discussion within the team, so thanks for raising those points.

[2021-05-23 16:00] sbrannen commented on #2579
One of the challenges here is that `MethodArgumentsProvider` (which invokes the `@MethodSource` factory method on the test instance) is an implementation of `org.junit.jupiter.params.provider.ArgumentsProvider` which is **not** an `Extension` API in `junit-jupiter-api`.

Whereas, `InvocationInterceptor` **is** an `Extension` API in `junit-jupiter-api`.

Thus, `InvocationInterceptor` cannot know ab

[2021-05-23 22:34] Philzen commented on #2609
I have started to write some tests for this and will commit them soon. This is the matrix on the current situation.

**Test Case Explanation**: First path component denotes the `TempDir` itself, following by either subdirectories (signified by trailing slash and typically an executable flag) and/or files within it.

| Test Case | OK or throws |
| :------- | :------: |
| rx | :heavy_check_mark: |
|

[2021-05-24 01:45] Philzen commented on #2609
@marcphilipp & others i've written the tests for the above matrix and added them in 5f3ebf86ed. Then i tried to piggyback on to the `makeWritableAndTryToDeleteAgain` (which effectively a `resetPermissionsAndTryToDeleteAgain` method) in 72562301f5.

However, the problem seems to be that for all test cases throwing an `AccessDeniedException` as seen in the test matrix above, they never throw an `IOE

[2021-05-26 20:27] Siphonophora opened #2625 "Define an offical XSD for JUnit XML test reports"
I maintain a project used to output tests reports for .Net code into the junit format. In trying to provide this capability, we keep bumping up against the question of what, exactly, is the junit format. For example https://github.com/spekt/junit.testlogger/issues/41 asks for `system-out` to recorded per test case, and not at the end of the file. The user who opened that issue pointed to the jenki

[2021-05-27 11:52] sbrannen commented on #2625
Tentatively slated for 5.8 M2 for _team discussion_

[2021-05-28 05:02] ttddyy opened #2626 "Document best practices for test method and test class visibility"
In JUnit Jupiter, the `public` modifier is optional in test classes and methods.

I see test classes in JUnit, Spring projects, etc apply this no `public` modifier pattern.
Once I get used to this style, it feels very redundant when I encounter tests that have `public` all over.

I believe this is a good practice to follow.

However, in JUnit documentation, I only find this line regarding the `pub

[2021-05-28 07:09] marcphilipp commented on #2626
Tentatively slated for 5.8 M2 solely for the purpose of _team discussion_.

[2021-05-28 07:59] almondtools opened #2628 "EclipseRunner creates fresh root ExtensionContext per package"
According to https://stackoverflow.com/questions/49532885/with-junit-5-how-to-share-information-in-extensioncontext-store-between-test all subsequent tests of one test run should share the same extension context. The eclipse runner (and maybe also others) seems to create a new ExtensionContext every time a new package is entered.

This meens that instances cannot be shared via root context store,

[2021-05-28 08:03] almondtools commented on #2628
I tested later in IntelliJ and there the problem does not occur.

[2021-05-28 08:42] marcphilipp commented on #2628
Please open an issue with Eclipse. It looks like they're calling `Launcher.execute` multiple times.

[2021-05-28 08:42] #2628 closed

[2021-05-28 10:16] marcphilipp commented on #2626
**Team decision:** Add another sentence:

[2021-05-28 10:20] marcphilipp commented on #2625
We can only set a standard for the XML reports written by JUnit (`LegacyXmlReportGeneratingListener` which is used by `ConsoleLauncher`). For those, we use Jenkins' XSD for validation: https://github.com/junit-team/junit5/blob/main/platform-tests/src/test/resources/jenkins-junit.xsd. We're currently working on a new XML-based format for which we'll provide an XSD from day 1.

[2021-05-28 10:20] #2625 closed

[2021-05-28 11:05] marcphilipp commented on #1967
**Team decision:** We are still convinced the [decision above](https://github.com/junit-team/junit5/issues/1967#issuecomment-821116112) offers the most flexibility. Doing so in conjunction with #2219 will prevent unexpected behavior like mentioned in https://github.com/junit-team/junit5/issues/1967#issuecomment-821023920.

[2021-05-28 12:01] marcphilipp commented on #2609
@Philzen Thanks for the detailed analysis! 👍 I pushed a commit to your PR branch that should fix the issue.

[2021-05-28 12:37] Philzen commented on #2609
@marcphilipp awesome, thanks for help! I will try to squash my non-functional commit into yours so we merge only working commits into the main history.

Will also make some suggestions in your commit, looking forward to your feedback.

What i was thinking is: Now that the restoring of file & folder permissions will done *before* the `deleteAndContinue` is called, the whole `makeWritableAndTryToDel

[2021-05-28 16:10] Marcono1234 commented on #2023
Thanks! Just to be sure we are on the same page, the main intention is to mark a test that is failing, not to mark a test that is expected to throw an exception. Even though a failing test is effectively one which throws an exception (e.g. `AssertionError`), the intention is not to introduce an alternative to `Assertions.assertThrows`. The documentation for the new annotation should also make this

[2021-05-28 16:29] Marcono1234 commented on #1967
@marcphilipp #2219 does not mention the ID concept at the moment, but I assume a test should only fail when multiple `@TempDir` parameters or fields use the same (implicit) ID, right? Otherwise the concept of introducing an ID seems pointless since there can be at most one `@TempDir` anyways.

Though then I still don't see the advantage of having an ID because:
1. You are breaking backward compabi

[2021-05-29 12:00] marcphilipp commented on #1967
Correct.

With #2219 we're deliberately breaking backward compatibility for the case where `@TempDir` is used multiple times in a method signature or the fields of a test class. We don't think anyone did this to inject the same directory multiple times but assumed they were different directories. If this breaks anyone's tests, the fix should be easy: either remove the duplicate `@TempDir` paramete

[2021-05-29 12:08] marcphilipp commented on #2550
This actually works as designed: if you create the temp dir on the class level (e.g. by using `@TempDir` on a `@BeforeAll` method parameter), it will be created for the test class. #1967 will add an option to create different temporary directories and hence supersedes this issue.

[2021-05-29 12:08] #2550 closed

[2021-05-29 12:12] garretwilson commented on #1967
I think one of the points that @Marcono1234 was making is that it isn't clear that preserving backwards compatibility is really the central issue here.

I would imagine that most people tried to use `@TempDir` multiple times, realized it didn't work as most people would expect it to, and then abandoned multiple use, thinking, "that's odd—why would they do it like that"? I would be interested in wh

[2021-05-29 16:08] sbrannen opened #2631 "Provide access to ConfigurationParameters via the TestPlan"
## Overview

As discussed in #2630, we should introduce a new `ConfigurationParameters getConfigurationParameters()` method in the `TestPlan` so that a `TestExecutionListener` can access the JUnit Platform configuration parameters instead of having to rely on JVM system properties or other means for the user to configure a listener.

## Deliverables

- [x] Introduce `ConfigurationParameters getCon

[2021-05-29 18:38] Marcono1234 commented on #2567
@marcphilipp, sorry for the delay, I have created #2632 now.

[2021-05-31 06:20] f8chicken opened #2633 "Download JUnit's API Documentation"
this is not feature request, but perhaps a silly and embarrasing question.
how to get the junit api documentation offline, the download link.
what you do with junit user guide, i really thanks for that. it is a pdf format.
- [ ] ...

[2021-05-31 06:51] sormuras commented on #2633
We don't provide a downloadable "all-in-one" API documentation in an aggregated format.

For the time being, you may grab an API documentation for each module (artifact) from Maven Central. For example, the Jupiter API file (`junit-jupiter-api-5.8.0-M1-javadoc.jar`) is located in this directory:

- https://repo.maven.apache.org/maven2/org/junit/jupiter/junit-jupiter-api/5.8.0-M1/

The idea of prov

[2021-05-31 06:58] sormuras commented on #2633
A way suggested by @marcphilipp that already works today: https://download-directory.github.io/?url=https%3A%2F%2Fgithub.com%2Fjunit-team%2Fjunit5%2Ftree%2Fgh-pages%2Fdocs%2F5.8.0-M1%2Fapi

[2021-05-31 09:35] f8chicken commented on #2633
thank you for the link ,🤩

[2021-05-31 09:35] #2633 closed

[2021-06-01 16:27] therealryan opened #2635 "Improved DynamicTest testSourceUri support"
The current set of schemes for [URI Test Sources for Dynamic Tests](https://junit.org/junit5/docs/current/user-guide/#writing-tests-dynamic-tests-uri-test-source) is missing support for test instances that work out their own location by walking the stack trace.

The answers to [this relevant stackoverflow question](https://stackoverflow.com/questions/58788085/how-can-i-create-a-junit-5-dynamictest

[2021-06-01 19:05] marcphilipp commented on #2635
Related to #2431

[2021-06-01 19:06] marcphilipp commented on #2635
@therealryan Would the above PR suit your needs?

[2021-06-01 20:21] therealryan commented on #2635
@marcphilipp It would! My use-case wouldn't require the automatic population of the URI (Test cases are defined without reference to junit, so I'm already walking the stack well before calling `dynamicTest()`) but the addition of the `class:` URI scheme is exactly what I'm after.

[2021-06-02 16:33] #2631 closed

[2021-06-03 12:45] marcphilipp commented on #2635
`ClassSource` already supports an optional `FilePosition` (line/column). Doesn't that solve your use case?

[2021-06-03 13:05] marcphilipp commented on #938
We have done so in a few places, e.g.:
https://github.com/junit-team/junit5/blob/17d3b440f3b6c3ba4616fc927e7782e74582ea86/junit-jupiter-params/src/main/java/org/junit/jupiter/params/aggregator/ArgumentsAccessor.java#L35
https://github.com/junit-team/junit5/blob/17d3b440f3b6c3ba4616fc927e7782e74582ea86/junit-platform-launcher/src/main/java/org/junit/platform/launcher/TestPlan.java#L52

@jbduncan Is

[2021-06-03 13:16] marcphilipp commented on #1967
When thinking about a single test method, I agree with your expectation. However, we support `@TempDir` in other places, too. For example on `@BeforeEach` method parameters:

[code]

Currently, `a`, `b`, and `c` all point to the same directory. If we change semantics for `c` to now implicitly create a separate directory from `b`, what should that mean for the value of `a`? To eliminate having to g

[2021-06-03 13:39] #2567 closed

[2021-06-03 15:36] sbrannen opened #2636 "Improve TestExecutionListener documentation in the User Guide"
## Overview

With the recent introduction of the `FlightRecordingExecutionListener` and `UniqueIdTrackingListener`, we should take the opportunity to improve the documentation of `TestExecutionListener` implementations in general in the User Guide.

For example, we should introduce a new `TestExecutionListener` section in the "Running Tests" chapter of the User Guide that provides an overview of t

[2021-06-03 15:43] therealryan commented on #2635
@marcphilipp quite possibly it does, but we seem to be missing the ability to create a `ClassSource` from the URI supplied in the `dynamicTest()` call - that's the bits of #2431 that I'm wanting (i.e.: the changes in `ClassSource` and `TestFactoryTestDescriptor`).
Would it be feasible to split out those changes into a PR of their own if they are more palatable than the default-on-stack-walking stu

[2021-06-03 16:41] marcphilipp commented on #1668
From there it needs to be passed to `ParameterizedTestInvocationContext`, `ParameterizedTestParameterResolver`, and finally `ParameterizedTestMethodContext.resolve`.

[2021-06-03 16:44] marcphilipp commented on #2635
Yes, I think that would make sense. Would you be interested in providing a PR for that?

[2021-06-03 19:47] #1488 closed

[2021-06-03 19:47] #2096 closed

[2021-06-03 19:47] #839 closed

[2021-06-03 19:47] #1248 closed

[2021-06-03 19:47] #2099 closed

[2021-06-03 19:47] #2117 closed

[2021-06-03 19:47] #2131 closed

[2021-06-03 19:47] #1939 closed

[2021-06-03 19:47] #1884 closed

[2021-06-03 19:47] #2199 closed

[2021-06-03 19:47] #2134 closed

[2021-06-03 19:47] #2255 closed

[2021-06-03 19:47] #2263 closed

[2021-06-03 19:47] #1721 closed

[2021-06-03 19:47] #1970 closed

[2021-06-03 20:35] jbduncan commented on #938
@marcphilipp Oh, excellent!

I've also seen that this file has some inheritance-related info:

https://github.com/junit-team/junit5/blob/419ddb12f13049692949f0f12d50e8f38cf43cba/junit-jupiter-api/src/main/java/org/junit/jupiter/api/Assertions.java#L82-L84

Yes, I'd love to raise a PR, but I'm currently juggling a [PR for junit-pioneer](https://github.com/junit-pioneer/junit-pioneer/pull/491) and s

[2021-06-03 20:47] #510 closed

[2021-06-03 20:47] #1402 closed

[2021-06-03 20:47] #1418 closed

[2021-06-03 20:47] #1450 closed

[2021-06-03 20:47] #1448 closed

[2021-06-03 20:47] #1465 closed

[2021-06-03 20:47] #1466 closed

[2021-06-03 20:47] #1516 closed

[2021-06-03 20:47] #1517 closed

[2021-06-03 20:47] #1538 closed

[2021-06-03 20:47] #1440 closed

[2021-06-03 20:47] #1584 closed

[2021-06-03 20:47] #1589 closed

[2021-06-03 20:47] #330 closed

[2021-06-03 20:47] #1654 closed

[2021-06-03 20:47] #1678 closed

[2021-06-03 20:47] #1717 closed

[2021-06-03 20:47] #1355 closed

[2021-06-03 20:47] #1729 closed

[2021-06-03 20:47] #1587 closed

[2021-06-03 20:47] #1830 closed

[2021-06-03 20:47] #343 closed

[2021-06-03 20:47] #1841 closed

[2021-06-03 20:47] #1737 closed

[2021-06-03 20:47] #1754 closed

[2021-06-03 22:11] #348 closed

[2021-06-03 22:11] #444 closed

[2021-06-03 22:11] #457 closed

[2021-06-03 22:11] #467 closed

[2021-06-03 22:11] #350 closed

[2021-06-03 22:11] #615 closed

[2021-06-03 22:11] #712 closed

[2021-06-03 22:11] #883 closed

[2021-06-03 22:11] #618 closed

[2021-06-03 22:11] #370 closed

[2021-06-03 22:11] #764 closed

[2021-06-03 22:11] #687 closed

[2021-06-03 22:11] #111 closed

[2021-06-03 22:11] #898 closed

[2021-06-03 22:11] #1006 closed

[2021-06-03 22:11] #1033 closed

[2021-06-03 22:11] #668 closed

[2021-06-03 22:11] #1220 closed

[2021-06-03 22:11] #434 closed

[2021-06-03 22:11] #1011 closed

[2021-06-03 22:11] #885 closed

[2021-06-03 22:11] #1842 closed

[2021-06-03 22:11] #1802 closed

[2021-06-03 22:11] #1223 closed

[2021-06-03 22:11] #1731 closed

[2021-06-03 22:11] #1930 closed

[2021-06-03 23:11] #605 closed

[2021-06-03 23:11] #1960 closed

[2021-06-03 23:11] #1990 closed

[2021-06-03 23:11] #715 closed

[2021-06-03 23:11] #2037 closed

[2021-06-03 23:11] #1583 closed

[2021-06-03 23:11] #1892 closed

[2021-06-03 23:20] kriegfrj commented on #806
As an OSGi user, my vote is that this issue should *not* be allowed to disappear. I have provided a few patches for some selected issues, but at the moment I have a lot of code in JUnit client code that is dedicated to working around these classloader issues.

[2021-06-04 08:28] marcphilipp commented on #1054
I think we should still do this.

[2021-06-04 08:58] marcphilipp commented on #2048
I think we should still do this.

[2021-06-04 10:53] vlsi commented on #2048
Just in case, `actions/checkout` no longer fetches all branches and tags, so it is fast.

[2021-06-04 12:01] #2636 closed

[2021-06-05 08:56] #2635 closed

[2021-06-05 16:09] #1732 closed

[2021-06-06 00:21] bakmei commented on #1967
@marcphilipp I would think as a developer, if I want to access the same temporary directory in two separate methods, I will provide a tag (within the scope of the test class) to the directory generator and reference it later with the same tag.  e.g. @TempDir("MyTagForAllTests").

[2021-06-06 07:25] marcphilipp commented on #1967
@bakmei That's exactly how the new solution works.

[2021-06-06 07:54] marcphilipp commented on #2579
We could add a new `interceptExtensionMethod(Invocation<T> invocation, ReflectiveInvocationContext<Method> invocationContext, ExtensionContext extensionContext)` method to `InvocationInterceptor`, and add a `MethodInvoker getMethodInvoker()` to `ExtensionContext` with `interface MethodInvoker { Object invokeMethod(Method method, Object target, Object... args); }`. Then, `MethodArgumentsProvider` c

[2021-06-08 08:48] guptapavan31 opened #2640 "Display message output ExecutionCondition in test report."
Is there any way the message written in
`return ConditionEvaluationResult.enabled(String.format("Environment variable [%s] does not exist", name));` for any `ExecutionCondition` can be displayed in some test report to show why a specific test was disabled.

[2021-06-08 15:35] sbrannen commented on #2640
Thanks for getting in touch, but it feels like this is a question that would be better suited to [Stack Overflow](http://stackoverflow.com/). We prefer to use the issue tracker only for bugs and enhancements. Feel free to update this issue with a link to the re-posted question (so that other people can find it) or add some more details if you feel this is a genuine bug.

----

Although the above i

[2021-06-08 15:35] #2640 closed

[2021-06-08 20:34] marioja opened #2641 "Update junit-vintage-engine dependency to junit version to 4.13.2 due to vulnerability in the current 4.13"
Currently junit-vintage-engine 5.7.2 requires version 4.13 of junit and should change the dependency to junit 4.13.2.  See this link for the vulnerability https://ossindex.sonatype.org/component/pkg:maven/junit/junit@4.13

[2021-06-09 02:13] hakanai commented on #1558
Another vote here.

I looked at Gradle's flaky re-runner and I'm not sure that having the setting be project-global is very great, especially when the vast majority of the tests are expected to be rock-solid.

rerunner-jupiter's and JUnit Pioneer's annotations didn't really do it for us either - they both introduced a new annotation for flaky tests which _replaces_ the `@Test` annotation. This is

[2021-06-09 08:24] praveenreddynarala commented on #456
Hi Team, would it be fine to ask status on implementing Before/After Test Suite annotations in Junit5? I had followed all above instructions to do (workaround), however, nothing works in my case.

Problem Statement: We have a requirement to generate ExtentReport for our all tests in single report. Using above all suggestions, was able to generate class level report. Apart from, our tests (test cla

[2021-06-09 09:56] marcphilipp commented on #456
@praveenreddynarala Could you please share a few more details about what you tried? For creating a report, we generally recommend using a `TestExecutionListener` instead.

[2021-06-09 09:59] marcphilipp commented on #1558
Did you see that you can specify custom annotations or class name pattern for those tests that should be retried?

[2021-06-09 10:58] marcphilipp commented on #1967
**Team decision:** After another discussion in the team (after comments like https://github.com/junit-team/junit5/issues/2219#issuecomment-857251277), we have decided to remove the ID concept and change the semantics of `@TempDir` to always create a new directory when it's declared (regardless whether it's on a field or parameter). As a migration path, we'll keep the old semantics around for one f

[2021-06-09 10:58] marcphilipp commented on #2219
@Marcono1234 We reconsidered: https://github.com/junit-team/junit5/issues/1967#issuecomment-857598034

[2021-06-09 10:59] #2219 closed

[2021-06-09 11:38] sbrannen commented on #2579
@marcphilipp, your proposal is somewhat related to #2191.

If we implement a solution for #2191, that would likely result in a means for invoking any method using parameter resolvers, analogous to what `org.junit.jupiter.engine.execution.ExecutableInvoker` does internally.

So there may be room for synergies here.

[2021-06-09 11:38] sbrannen commented on #2191
Reopening since this should be looked at in conjunction with #2579.

[2021-06-09 11:44] sbrannen commented on #2191
In Spring, a `@Test` method can have a bean from the `ApplicationContext` `@Autowired` into it via the `SpringExtension` (which implements Jupiter's `ParameterResolver` extension API).

The same is true for `@BeforeEach` and `@AfterEach` methods when used with Spring's testing support.

However, Spring also supports its own `@BeforeTransaction` and `@AfterTransaction` lifecycle methods for transac

[2021-06-09 11:47] sbrannen commented on #2579
Also related to #1139.

[2021-06-09 11:57] marcphilipp opened #2642 "Test auto-labeling new issues"
## Steps to reproduce

## Context

 - Used versions (Jupiter/Vintage/Platform):
 - Build Tool/IDE: Eclipse

## Deliverables

- [ ] ...

[2021-06-09 11:58] #2642 closed

[2021-06-09 12:29] sbrannen commented on #2641
Published Maven POM: https://repo1.maven.org/maven2/org/junit/vintage/junit-vintage-engine/5.7.2/junit-vintage-engine-5.7.2.pom

[2021-06-09 12:45] nbrugger-tgm commented on #695
I have a question/possible bug report regarding this question.
My code looks like this
[code]
And i use this function in this way
[code]

I have many of this `TestFactoryMethods` all using different names. But if I execute the tests i get
[code]
Other than the expected
[code]

[2021-06-09 13:20] nbrugger-tgm commented on #695
Same applies for the example in the documentation
[code]
Output:
[code]

*Gradle File*
[code]

**Note:** The `compile` type for `junit-api` is intended as my lib contains testing assets (test templates)

[2021-06-09 13:42] praveenreddynarala commented on #456
@marcphilipp please find the way I have created Extent Report in our project..

Step 1: We have create one TestCallback class which implements BeforeAllCallback, AfterAllCallback, Before and AfterTestExecutionCallback
Step 2: In beforeAll Callback method, I am creating ExtentReport instance
Step 3: In beforeTestExecution Callback method, I am actually creating a test ExtentReport.createTest(Sample

[2021-06-09 14:01] sormuras commented on #695
First, please open a new and fresh issue for new findings and fresh questions -- refer to old ones via linking, not by necromancy.

Second, your finding seems Gradle-related. Better ask for details on Stack Overflow or at Gradle's issue tracker.

[2021-06-09 17:21] bakmei commented on #1967
The concept of using the value attribute would solve the test cases that need to initialize the testing environment.  As a developer, I would like to test my file system API that writes and reads to the same environment in two methods, I can use the @Before notation to set up the file system by a given temporary directory.  I can reuse the environment if needed, or create multiple environments.  I

[2021-06-10 05:08] marcphilipp commented on #1967
@bakmei They don't have to be static. If you want to use same temp dir in a `@BeforeEach` method and a `@Test` method, you'd make it an instance field:
[code]

[2021-06-10 05:17] marcphilipp commented on #2641
The 5.8 snapshots already use 4.13.2. As of today, there are no plans for another 5.7.x release. Hence, I'm closing this issue.

[2021-06-10 05:17] #2641 closed

[2021-06-10 05:22] marcphilipp commented on #456
There's nothing we can do here to solve that since Surefire spins up multiple VMs for that. You'd have to write a report per VM (maybe using `${surefire.forkNumber}` as part of the file name) and create a Maven goal or some other post-processing step to merge them if you need a single report.

[2021-06-10 06:24] bakmei commented on #1967
@marcphilipp That makes sense, thanks!

[2021-06-10 20:55] A248 commented on #2626
I'm not sure if this was considered, but I thought I would mention it for anyone who comes here (I was myself linked here).

When testing on the module path, using non-public test methods requires *opening* the test packages to JUnit 5. I find it easier to export the packages (Maven Surefire does this automatically). That's my personal reason for using public test methods at the moment, but this c

[2021-06-11 15:31] #2609 closed

[2021-06-11 16:19] sbrannen commented on #2626
@A248, I think that's a good use case to mention in the User Guide, since it might assist some people who encounter that issue.

So I'm reopening this issue to add a hint about that as well.

[2021-06-15 00:41] kriegfrj commented on #2547
A PR has now been raised for this: apiguardian-team/apiguardian#23

Actually, I realised that this is not true - we could modify the current JUnit 5 bundles so that they *optionally* import API Guardian and it won't matter that there is no publicly available bundle yet. That would close off this issue without needing to wait for the next API Guardian release. (And in fact, I realised that there is

[2021-06-16 06:40] marcphilipp commented on #2547
What's a BSN?

[2021-06-16 08:38] sbrannen commented on #2547
Bundle Symbolic Name

See... I still remember something from my OSGi days. 😉

[2021-06-16 10:21] kriegfrj commented on #2547
Yes, a BSN is an identifier that (together with the bundle version) uniquely identifies a bundle. If you have two different bundles with the same BSN, it can cause issues. The Eclipse bundle's BSN is `org.apiguardian` whereas this PR's is `org.apiguardian.api` (which is the same as the bundle's module name).

[2021-06-16 15:52] sbrannen opened #2645 "`IndicativeSentences` display name generator does not work as documented"
## Overview

The [User Guide](https://junit.org/junit5/docs/snapshot/user-guide/#writing-tests-display-name-generator) states that execution of the `DisplayNameGeneratorDemo` test class results in the following output when using the `ConsoleLauncher`.

[code]

However, the following is the actual output.

[code]

Note that `@Nested` test classes using the `IndicativeSentences` display name generat

[2021-06-17 12:22] marcphilipp commented on #1774
@davidburstromspotify Good point! It would be better to use a `CommandLineArgumentProvider` or pass a relative path.

[2021-06-17 16:01] #2645 closed

[2021-06-17 16:24] #2626 closed

[2021-06-17 16:59] sbrannen opened #2647 "Only search for annotations on enclosing class if current class is an inner class"
## Overview

While working on the fix for #2645, I realized that our annotation search algorithms that fall back to searching on _enclosing classes_ also find annotations on enclosing classes even if the current nested class is a static nested class.

For example, given the following test case, the test method in `InnerNestedTests` passes; whereas, the test method in `StaticNestedTests` fails.

[c

[2021-06-18 08:15] #2011 closed

[2021-06-18 10:36] marcphilipp commented on #2647
**Team decision:** Change the algorithm to treat static nested classes like standalone test classes (as in all other places), i.e. don't look up annotations on the enclosing class.

[2021-06-18 10:50] marcphilipp commented on #2547
We used to have it as a `compileOnly` dependency but that led to downstream projects, i.e. projects containing tests that used Jupiter annotations, to get compiler warnings because the `API.Status` enum was missing. We could switch that to `compileApiOnly` so at least Gradle projects wouldn't have it on their test runtime classpath.

[2021-06-18 10:51] marcphilipp commented on #2547
**Team decision:** Let's add OSGi metadata to API Guardian and optionally import it in JUnit, as you've proposed.

[2021-06-18 13:51] #2647 closed

[2021-06-19 12:48] rweisleder commented on #2582
For the completeness, the same happens when the built-in TempDirectory extension can't delete some files.

[code]

[2021-06-19 12:53] marcphilipp commented on #2582
Yes, that makes sense as `TempDirectory` is implemented using `CloseableResource`.

@rweisleder Would you be interested in working on a fix?

[2021-06-20 09:05] marcphilipp commented on #2547
@kriegfrj Now that https://github.com/apiguardian-team/apiguardian/pull/23 is merged can we update to 1.1.2-SNAPSHOT and simplify our setup?

[2021-06-20 10:58] kriegfrj commented on #2547
Yes! If I had thought of it I would have held off and done that from the start, rather than waste time and effort figuring out how to add the right version imports for the non-OSGi jar! At least I learned something about Gradle! 😄

[2021-06-20 13:48] TheBusyBiscuit opened #2648 "`CloneNotSupportedException` when running a certain Unit Test using AdoptOpenJDK 16, `junit-vintage-engine` and PowerMock"
When running a certain Unit Test using `PowerMock` and `Junit-Vintage` on Java 16 (AdoptOpenJDK 16), the test fails to intialize due to Java 16's new reflection policies. I have linked the Unit Test and stacktrace below, let me know if you need any further information :)

## Steps to reproduce

1. Install AdoptOpenJDK 16
2. Clone the repository `https://github.com/mcMMO-Dev/mcMMO`
3. Run `mvn clea

[2021-06-20 16:02] sbrannen opened #2649 "Introduce AnnotationSupport.findAnnotation() variant that searches on enclosing classes"
## Overview

This a follow up to #2647 that aims to make the new `org.junit.platform.commons.util.AnnotationUtils.findAnnotation(Class<?>, Class<A>, boolean)` feature available to `TestEngine` and extension authors.

See also [this thread](https://twitter.com/knutwannheden/status/1404685536527327233) on Twitter.

## Implementation Considerations

The new method in `AnnotationSupport` does not nece

[2021-06-20 19:24] marcphilipp commented on #2648
The stacktrace is misleading since it only points towards the location where the `MultipleFailuresError` is instantiated but the stacktraces of the contained exceptions are not printed. Please raise an issue with Surefire to improve reporting of such failures.

Root cause is almost certainly PowerMock. Adding a bunch of `--add-opens` parameters resolves the issue for me:

[code]

[2021-06-20 19:24] #2648 closed

[2021-06-20 19:27] #2509 closed

[2021-06-20 19:37] TheBusyBiscuit commented on #2648
Thanks for the quick reply!
I found a coresponding issue on the PowerMock issues tracker, so I will continue my journey there.
Thank you :)

Link for any curious developer who comes across this post:
https://github.com/powermock/powermock/issues/1094

[2021-06-21 05:55] marcphilipp commented on #2547
I should have thought of it as well. Thanks for taking care if this so quickly! 👍

[2021-06-21 07:16] kriegfrj commented on #2547
It wasn't a complete loss - the hoops I jumped through to get the version on there made it easier to fix it this time as I only had to do it in one place.

[2021-06-21 15:28] oehme opened #2651 "Support ordering between @ExtendWith and @RegisterExtension"
I was trying to write a [Micronaut test](https://micronaut-projects.github.io/micronaut-test/latest/guide/#junit5) using the `@MicronautTest` annotation. This annotaiton is a meta-annotation that includes `@ExtendWith(MicronautJunit5Extension)`. However, I also needed to start up some other services with random port numbers and add those ports to Micronaut's configuration. I tried doing so with `@

[2021-06-21 15:34] oehme commented on #2651
The same issue has been reported previously for [MicronautTest in Spock](https://github.com/micronaut-projects/micronaut-test/issues/80) and got closed as "not a Micronaut problem", which is why I'm looking for a solution in JUnit instead.

[2021-06-22 11:33] kishoretak commented on #737
Commenting to undo autoclose of the issue.

[2021-06-22 15:52] marcphilipp commented on #737
@kishoretak Is there anything you'd like to add?

[2021-06-22 17:23] kishoretak commented on #737
Nothing additional, currently I'm using LegacyReportingUtils in a custom TestExecutionListener where we use class-name and class instance for populating some extra fields in the custom XML report but its marked as deprecated, is there going to be an alternative for this?
https://github.com/junit-team/junit5/blob/43638eb6a870e0d6c49224053dfeb39dcf0ef33f/junit-platform-launcher/src/main/java/org/jun

[2021-06-23 05:58] #2547 closed

[2021-06-23 18:24] vlsi commented on #456
@marcphilipp , @sormuras , what do you think of discovering the suite as a transitive closure of the extension links?

For instance:

[code]

[code]

Then:

1) When the user launches `./gradlew test`, Gradle would pass all test classes to JUnit. JUnit would find `@ParticipatesInSuite`  and it would group tests into suites
2) When the user launches a single test from IDE, IDE would pass test class/

[2021-06-25 04:44] hakanai commented on #1558
I did not, no. Does it also let you have a different number of retries per test?

[2021-06-25 15:45] sbrannen commented on #2619
Reopening this issue in order to track _skipped_ tests as well.

[2021-06-26 09:32] marcphilipp commented on #1558
No, the number of retries can only be configured globally.

I stand by what I said previously in https://github.com/junit-team/junit5/issues/1558#issuecomment-546594703.

[2021-06-27 13:49] hojongs opened #2652 "assertEquals behavior with Int, Long looks inconsistency in Kotlin"
Bug report for JUnit 5 jupiter API

## Steps to reproduce

[code]

## Context

 - Used versions (Jupiter/Vintage/Platform):
[code]
 - Build Tool/IDE:
   - JDK 16
   - Intellij

## Deliverables

- [ ] ...

[2021-06-28 11:24] nipafx commented on #864
This still pops up every now and then, most recently [earlier today](https://github.com/junit-pioneer/junit-pioneer/issues/503). It looks like @sbrannen was already making progress on this. Any chance this can be reopened? If you'd accept a PR, let me know and I can give it a try.

[2021-06-28 11:56] marcphilipp commented on #864
I'll let @sbrannen chime in here.

[2021-06-28 16:29] sbrannen commented on #2652
Here's a Java based variant. See comments for details.

[code]

Thus, with the Kotlin based variant provided in this issue's description, it would appear that `assertEquals(Object, Object)` is also being invoked.

Note that we don't have overloaded variants of `assertEquals(...)` where the actual and expected arguments have different primitive types or different wrapper types.

In Java, the soluti

[2021-06-29 09:42] mythsunwind commented on #1858
@marcphilipp I think this ticket should be reopened. I just ran into the issue with JUnit 7.5.2 while writing my own test engine and applying it to a big number of test cases. Once `newFixedThreadPool` was used in a test the maximum amount of parallel tests increased. The workaround is to use `stream().parallel()` as described by @sormuras . I was not able to use the workaround with a custom strat

[2021-06-30 02:49] umapriyadarsi opened #2655 "DiscoverySelectors#selectPackage does not select packages from JAR"
Fundamentally I am facing the same issue : https://github.com/junit-team/junit5/issues/1493
Thought I do not know if the underlying cause is same.
I checked that issue and also ensured that my jdk is above 141. But still Junit is unable to resolve the package selector.

With package, I get 'containsTests' as false.
![image](https://user-images.githubusercontent.com/3054787/123893652-6d6c8c80-d97a-

[2021-06-30 09:24] marcphilipp commented on #2655
@umapriyadarsi Could you please share a reproducer project?

[2021-06-30 09:27] sbrannen commented on #2655
I don't know the structure of your project and its classpath, but you might need to use `org.junit.platform.engine.discovery.DiscoverySelectors.selectClasspathRoots(Set<Path>)` when building the `LauncherDiscoveryRequest` to make sure that classpath scanning looks in the right places.

[2021-06-30 10:25] marcphilipp commented on #2652
Interestingly, IDEA shows a warning in Java for `Assertions.assertEquals(Long.valueOf(1L), exampleInt())` because `Long` and `Integer` are incompatible, i.e. `equals()` will always return `false`.

[2021-06-30 10:42] marcphilipp commented on #2652
**Team decision:** Since the compiler follows its own rules when to apply a widening conversion (in this case from Kotlin's `Int` to `Long`), the `assertEquals` overload it picks is determined based on that. We can't add overloads for `assertEquals(int, long)`/`assertNotEquals(int, long)` because an `int` can be widened to a `long` but a `long` cannot be narrowed to an `int`. Moreover, passing an

[2021-06-30 10:42] #2652 closed

[2021-06-30 11:01] marcphilipp commented on #2651
Related to #506.

[2021-06-30 17:24] umapriyadarsi commented on #2655
Your suggestion worked out 👍 .
![image](https://user-images.githubusercontent.com/3054787/124003632-ce38ab00-d9f4-11eb-8155-c88e512a2abb.png)

I do not have a reproducible project currently.
You guys at Junit are doing a fantastic job, but unless I am missing something, this kind of info would be helpful on the help docs/user guide.

One of the reasons why I want to try out selectors based on pack

[2021-07-01 05:08] ankisinha3005 opened #2656 "@DataJpaTest in a multi module project"
https://stackoverflow.com/questions/67863862/datajpatest-in-a-multimodule-maven-project
<img width="1241" alt="Screenshot 2021-06-30 at 8 10 58 PM" src="https://user-images.githubusercontent.com/32894171/124066821-fb1daa00-da56-11eb-92f3-f67408286dc5.png">

Hi everyone ,

It's been one month , didn't get any replies . Please help !
I have a multi module project containing module A and module B . M

[2021-07-01 13:40] sbrannen commented on #2619
Reopening to support concurrent use cases. See https://github.com/graalvm/native-build-tools/issues/84 for details.

[2021-07-02 01:05] knutwannheden commented on #2649
As an alternative to the new API I still think it could be interesting to introduce a new meta-annotation. Something like `@Nestable` or `@NestingAware` which could be applied to JUnit annotations. This may not work or make sense for reasons I am unaware of, but what I like about this is that it would be easily discoverable (for extension authors and users) as the presence of the annotation would

[2021-07-02 05:25] #2655 closed

[2021-07-02 10:02] #2619 closed

[2021-07-03 10:26] marcphilipp commented on #2656
I added a comment to the StackOverflow question.

[2021-07-03 10:26] #2656 closed

[2021-07-03 12:55] xtaixe opened #2657 "Get unique ID from TestInfo"
I'm trying to create a unique folder per test (including parameterized tests) in a specific location, so I wanted to use the test unique ID (assuming it's unique also for each parameterized test) but it is not available in TestInfo. Should it be there or could it be added?

Thanks.

[2021-07-03 13:43] jbduncan commented on #2657
@xtaixe I might be missing something here, so please feel free to clarify if I have.

Have you considered using JUnit 5's [`@TempDir`](https://www.baeldung.com/junit-5-temporary-directory) annotation already, by any chance?

[2021-07-03 15:26] marcphilipp commented on #2657
@xtaixe I think it would be fine to add the unique ID to `TestInfo`. Please note it's already available via `ExtensionContext` so you could write an extension to create the folders.

[2021-07-03 15:43] marcphilipp commented on #1814
@OrangeDog Valuable stuff will come up again even if Stalebot closes it.

[2021-07-03 15:43] marcphilipp commented on #1814
Superseded by #2159.

[2021-07-03 15:43] #1814 closed

[2021-07-03 15:51] xtaixe commented on #2657
@jbduncan I want to create the directory in a specific location, not in/as a temp dir.

@marcphilipp yes, but for now I wanted to avoid creating a whole extension just for this and just use the provided `TestInfo`

Thanks.

[2021-07-05 07:52] xtaixe commented on #2657
I didn't know that the unique id was such a long "path" string... I'll need to parse it somehow to make it usable for us, so let me explain some more details on my use case in case there's a better way to do this or it's a feature that might make sense for JUnit to support directly.

We are testing a series of commands that produce some files and logs and we want those available for manual review

[2021-07-05 14:00] hojongs commented on #2652
Thank you for very fast and detail explanation!! :)

According to your comment, Kotlin users should watch out when using assertEquals with Int, Long but I agree with your team decision, Good!

[2021-07-05 16:20] sbrannen commented on #2657
@xtaixe, have you considered getting the `ClassName` from the `TestInfo` and using the display name (also from `TestInfo`) instead of `MethodName/sequence`?

Note that you would want to _sanitize_ the display name to ensure that it doesn't contain any characters that are invalid for the file system.

[2021-07-05 16:32] xtaixe commented on #2657
If `@DisplayName`, contains a long-ish description (which we already have in some cases), it's not going to work well... I think the best solution for this would be to be able to obtain some kind of `UUID` for each test (which is what I expected unique id to contain when I started looking into this).

[2021-07-05 16:40] xtaixe commented on #2657
@sbrannen Actually just a sequence (which it's already there at the end of the unique id) would be better, cause then you know which folder maps to which test/parameterized value immediately, which you lose with something opaque like a `UUID`.

[2021-07-05 16:55] sbrannen commented on #2657
Yes, I agree with that.

By "sequence", I guess you mean the invocation index.

That would work in terms of uniqueness for a given run of the `TestPlan`, but seeing the index in the file system would not be very "user friendly" in terms of mapping back to the arguments with which the parameterized test was invoked.

Though, I don't currently have a better idea for "concise and precise" uniqueness.

[2021-07-05 17:53] GavinRay97 opened #2659 "JUnit silently fails to resolve tests if they aren't of type `void`. This can be confusing, particularly in other JVM languages like Scala."
## Steps to reproduce

1. Make class with a JUnit `@Test` that doesn't return `void`
2. Try to run all tests
3. Have it be reported that no tests were found

## Context

Following a multi-day investigation and discussion with the Redhat/Quarkus team at:
- https://github.com/quarkusio/quarkus/issues/18373
- https://quarkusio.zulipchat.com/#narrow/stream/187038-dev/topic/.22No.20Tests.20Found.22.2C.

[2021-07-06 05:54] marcphilipp commented on #2659
Thanks for raising the issue! This has come up before and is tracked in #242. Feel free to join the discussion there!

[2021-07-06 05:54] #2659 closed

[2021-07-06 10:21] chansonzhang opened #2660 "LauncherDiscoveryRequest can't find spock unit tests in a jar"
I followed this [document](https://junit.org/junit5/docs/current/user-guide/#launcher-api-execution) to discovery and execute spock unit tests, and in IDEA everything is ok, but when I packaged the code to jar, and use `java -cp xx.jar <main_class>`, the number of found tests is **0**. No error is reported and test class exists in jar.

[2021-07-06 10:23] sbrannen commented on #2660
What is the `main_class`, and what is the full classpath you supply?

[2021-07-06 16:26] GavinRay97 commented on #2659
Sorry, wasn't aware of the existing issue -- my apologies!

[2021-07-06 16:39] GavinRay97 commented on #242
Following up here on the issue posted at https://github.com/junit-team/junit5/issues/2659 (whoops):

This behavior can cause quite a headache and be very confusing.
If I were to try to PR a minimal change which just did the below:
[code]

How difficult would this change be to make as someone who didn't know the codebase?
The reason why I ask is because this leads to scenarios like these:
- https:/

[2021-07-06 17:11] ligun commented on #2660
I have similar problem.
I could execute tests using spock framework yesterday on IntelliJ IDEA and Linux shell with Gradle.
But today I built same tests, and it was not found test.
I didn't change any build setting or soure code.

[2021-07-06 18:51] BerndFarkaDyna opened #2661 "Allow to intercept DynamicContainer#getChildren via InvocationInterceptor"
I hereby agree to the terms of the JUnit Contributor License Agreement.

The Creation of DynamicNodes can be intercepted via InvocationInterceptor# interceptTestFactoryMethod, the execution of DynamicTests can be intercepted via InvocationInterceptor#interceptDynamicTest. IMHO there is a gap between where the DynamicContainers are (if existing) evaluated.

In order to have an API which is consiste

[2021-07-09 12:33] marcphilipp commented on #2659
No worries at all!

[2021-07-10 20:45] eeverman opened #2663 "ReflectionUtils.hasCompatibleSignature method return false incorrectly in some cases"
## Applies to JUnit 5.7.2 / Junit-platform-commons 1.7.2

`ReflectionUtils.hasCompatibleSignature()` should return true for methods that have wider parameters than the passed argument types, however, it will return false.

Since this method is used by all of the `findMethod()` methods, all of those methods are similarly broken in this class (`ReflectionUtils`) and `ReflectionSupport`.

## Steps to

[2021-07-11 09:47] maxim5 commented on #878
It's unbelievable. Remove the feature without a replacement and 4 years later reply "Sorry, we have more important stuff". 🤦

[2021-07-11 10:12] wilkinsona commented on #878
@maxim5 If it’s that important to you, perhaps you could contribute something or sponsor someone else to do so? The JUnit team don’t owe us anything. Unless we’re prepared to put our time or money where our mouth is, we should wait patiently and respect the tough prioritization calls that they have to make.

[2021-07-12 11:00] marcphilipp opened #2664 "Make mismatch reporting less noisy"
When running individual test methods via Gradle in IntelliJ IDEA, JUnit logs INFO statements like the following to stderr:

[code]

Since those appear in red, they are confusing and somewhat distracting.

## Deliverables

- [ ] Consider using a different log level to support this normal use case better

[2021-07-12 15:42] sormuras commented on #2664
This and also those keep nagging me way too often when no muting JUL configuration is applied.

[code]

[2021-07-12 15:48] sormuras commented on #2664
My quick-and-dirty workaround is: `System.setProperty("java.util.logging.config.file", "DOES-NOT-EXIST");`

But, perhaps, JUnit should only log at `FINE` (`DEBUG`) level. Users that want logging from JUnit (and other libraries) will turn it on via an explicit and customized configuration any way.

[2021-07-12 18:09] jkschneider commented on #878
@maxim5 There is in fact a workable solution in the meantime. See [Micrometer's TCK](https://github.com/micrometer-metrics/micrometer/blob/main/micrometer-test/src/main/java/io/micrometer/core/tck/MeterRegistryCompatibilityKit.java). It may not be perfectly ideal, but works pretty well. [OpenRewrite's TCK](https://github.com/openrewrite/rewrite/blob/main/rewrite-test/src/main/kotlin/org/openrewrit

[2021-07-13 12:59] marcphilipp commented on #878
see also https://github.com/junit-team/junit5/issues/2594#issuecomment-842016376

[2021-07-13 14:29] #2597 closed

[2021-07-13 15:46] titusfortner commented on #2273
@marcphilipp would it work to just use something like `AtomicInteger` to limit the total number of running threads?

[2021-07-14 17:50] marcphilipp commented on #2273
You can already limit the number of threads by implementing a [custom `ParallelExecutionConfigurationStrategy`](https://junit.org/junit5/docs/current/user-guide/#writing-tests-parallel-execution-config) that returns a `ParallelExecutionConfiguration` where `getMaxPoolSize()` returns the limit. However, since a `ForkJoinPool` is used in the background a small number might lead to blockages in combi

[2021-07-14 21:03] titusfortner commented on #2273
well, damn it all. I was using a custom strategy and it wasn't working in Selenium beta 3, but guess what? It works in Selenium beta 4.

Thanks for your reply, @marcphilipp !

[2021-07-15 07:29] chansonzhang commented on #2660
I use this [RunTests.java](https://github.com/chansonzhang/jvmlang/blob/main/src/test/java/com/chansonzhang/demo/RunTests.java) as main class to discover the groovy tests in [src/test/groovy/com/chansonzhang/demo](https://github.com/chansonzhang/jvmlang/tree/main/src/test/groovy/com/chansonzhang/demo).

When I run it directly in IDEA, it prints the following message:
[code]
As the log shows, it fo

[2021-07-15 13:03] juliette-derancourt commented on #2664
There's also this one:
[code]

[2021-07-17 10:02] marcphilipp commented on #2664
We already use a custom logging façade. Hence, I propose the following change: `DelegatingLogger` would only log if JUL is configured, i.e. if one of the following system properties is set: `java.util.logging.manager`, `java.util.logging.config.class`, or `java.util.logging.config.file`. Otherwise, logs would be dropped.

@junit-team/junit-lambda Thoughts?

[2021-07-17 12:35] sbrannen commented on #2664
Is that how other logging frameworks like Logback and Log4j integrate with JUL?

[2021-07-19 10:01] staenker opened #2666 "TestExecutionExceptionHandler does not handle/intercept After*Callbacks"
I expect a TestExecutionExceptionHandler to handle exceptions originating from an afterEach/All extension.
2 Reasons:
1. The TestExecutionExceptionHandler is invoked for ParameterResolutionExceptions so it would be inconsistent, to not invoke it for exceptions originating from other extension callbacks
2. I am writing an extension myself. It is working fine, but in order to write a test case, test

[2021-07-21 21:19] bondolo opened #2669 "Improve documentation on Parallel Test Execution"
I have some comments regarding configuring tests for parallel execution following reading: https://junit.org/junit5/docs/snapshot/user-guide/index.html#writing-tests-parallel-execution

Identifying all the relevant properties and the defaults for the properties in `junit-platform.properties` needs to be more obvious. They can be deduced from the narrative but perhaps should just be stated explicit

[2021-07-23 18:07] alexandrubodnar1996 commented on #1774
Hi there, I really would appreciate if there is a configuration for maven project maybe.

this is what I tried but didn't work at all, maybe I'm missing something:
`            <plugin>
                <artifactId>maven-surefire-plugin</artifactId>
                <configuration>
                    <systemPropertyVariables>
                        <java.util.logging.config.file>${project.basedir}

[2021-07-24 07:44] pasudo123 opened #2670 "[feature request] : Custom Condition test code execute by method"
I am studying how to write tests by looking at the [junit5 User Guide](https://junit.org/junit5/docs/current/user-guide/#writing-tests-conditional-execution-custom).

For `@EnabledIf`, can you provide a function to dynamically determine true/false as a return value for a method rather than setting a property?

Below is my code (kotlin):

[code]

Additional code (kotlin):

[code]

When I read  issu

[2021-07-24 10:13] sbrannen commented on #2670
Hi @pasudo123,

Thanks for raising your first issue for JUnit 5.

You are using it correctly.

As stated in the User Guide:

The name of the method is supplied as a `String` as you have done.

Java unfortunately does not support providing a method reference via annotation attributes.

In light of that, I am closing this issue.

[2021-07-24 10:13] #2670 closed

[2021-07-24 13:07] pasudo123 commented on #2670
So, do you know when the feature will be available?

[2021-07-24 14:38] marcphilipp commented on #2670
@pasudo123 I haven't heard about any plans for Java to add such a feature.

[2021-07-24 21:05] prdoyle opened #2671 "@ParametersByName annotation"
## Goals

A really low-friction way to provide a set of parameters for a parameterized test.

Also, sometimes it's desirable to get full coverage of all combinations of parameters. For example, try all `Evaluator` implementations with all possible `Expression` objects. The existing parameterization schemes require the user to list all the possible combinations; it would be nice if independent para

[2021-07-24 22:01] jbduncan commented on #2671
As a JUnit 5 user, this sounds like junit-pioneer's [`@CartesianProductTest`](https://junit-pioneer.org/docs/cartesian-product/) to me, but with the relative simplicity of https://github.com/google/TestParameterInjector for JUnit 4.

I like it! But I think if TestParameterInjector were ported to JUnit 5, it would be a more flexible API overall with hardly any more ceremony.

Regardless, if the JUn

[2021-07-25 02:16] pasudo123 commented on #2670
@marcphilipp

Yes. Thank you for your confirmation.

[2021-07-25 13:34] prdoyle commented on #2671
Thanks for the feedback! My context provider class does have a `cartesianProduct` method inside it. 😄

I've used this thing for a couple of days now, and it seems to be a little too clever for IntelliJ. If one of the tests fails, it's really awkward to re-run just that test one. 🤔

[2021-07-27 01:20] hakanai opened #2673 "Typesafe mechanism for storing and retrieving extension state"
When writing extensions, typically I will be storing objects of a particular type.

To put the object in, I will be writing, let's say,

[code]

To get it back out, I will be writing,

[code]

This issues an unsafe cast warning that I have to suppress.

While the warning is annoying, I don't think it's the thing I want to address. Rather, I wondered whether JUnit has considered that the key can au

[2021-07-27 10:38] williamboman-pp commented on #1851
Hey! This does not seem to work with the `assertDoesNotThrow` function, only wtih `assertThrows`

[2021-07-27 11:13] sbrannen commented on #1851
@williamboman-pp, this issue was closed over a year ago.

Please open a new issue to address `assertDoesNotThrow`.

Thanks

[2021-07-27 16:36] nipafx commented on #864
@sbrannen May I ask for that chime? 😊

[2021-07-27 17:29] sbrannen commented on #864
🎶

Does that count? 😏

In all seriousness, I think we should still do this, and I'll see if I can continue the work I'd already started. (might be able to get to it this week)

[2021-07-27 19:21] williamboman opened #2674 "Support assertDoesNotThrow() with suspending functions in Kotlin"
Support for suspending functions was added for the `assertThrows()` counterpart (see #1851), but it seems like calling suspending functions in an `assertDoesNotThrow()` block is currently not supported.

## Deliverables

- [ ] Add support for calling suspending functions for all variants of `assertDoesNotThrow()`.

[2021-07-27 19:37] nipafx commented on #864
That would be so cool! 😁 If you're running out of time, let me know and I can give it a try.

[2021-07-28 07:43] sbrannen commented on #2674
@williamboman, thanks for raising the issue.

Are you interested in submitting PR for this enhancement?

[2021-07-28 13:25] prdoyle commented on #2671
@jbduncan - I think you're onto something. I've taken a look at `TestParameter` and there's a lot to like about it. The way they can easily stuff a strongly typed "tuple" of values into an enum is cool. (I might skip the YAML support though.  😄)

I like how easy `@ParametersByName` makes it to specify parameters with `Stream` expressions. I'd want to retain that if I could.

I'm wondering if it wo

[2021-07-29 14:06] U1F984 opened #2677 "Add ExclusiveResource programmatically"
I have several test classes, each with multiple test methods inside. Some of those classes are injected with a parameter, and when running classes in parallel those classes should not run parallel. If I understand correctly, the `@ResourceLock` annotation can help here, but it would be very inconvenient to manually add that annotation to hundereds of tests. Ideally a extension could take a look at

[2021-07-29 19:47] kjherron opened #2678 "TempDir fails to cleanup x-only directory"
Similar to #2171 but that bug was supposedly fixed for 5.7. I can reproduce this in 5.7.2 and 5.8.0-M1 on MacOS. I'd expect this to also work in Linux, but maybe not Windows.

If a directory within the TempDir is set x-only (ie not readable or writeable), then junit will throw an exception while cleaning up the TempDir.

[code]
[code]

[2021-07-30 10:05] sbrannen commented on #2678
The supplied test case passes on Mac OS against `main`.

I am therefore closing this issue as a duplicate of #2609.

Note that this was fixed in 6eb450cbbdb59f6c3d924b10f8347fddf37fdb76, so feel free to try it out in 5.8 M2 snapshots.

If you find that you still encounter issues when using 5.8 M2 snapshots, please post back here with additional information.

[2021-07-30 10:05] #2678 closed

[2021-07-31 17:16] sbrannen commented on #864
@nipafx, it's turning out to be rather involved. A lot has changed in the code base since I started work on this originally, but I'm making progress locally.

I'll post back here when I have something meaningful to review.

[2021-08-01 14:04] sbrannen commented on #864
Current work on this feature can be see in "round 2" of the feature branch: https://github.com/junit-team/junit5/compare/issues/864-declarative-extension-registration-params-fields-round-2

[2021-08-01 16:43] sbrannen opened #2679 "Improve logging for extension registration in JUnit Jupiter"
## Overview

JUnit Jupiter currently logs the registration of default and auto-detected extensions in aggregated log statements (one for each category). In addition, inclusion of the `source` in the log statement for extensions registered locally by the user often results in unnecessary, duplicated noise.

For example, the logging for a given test class currently looks something like the following

[2021-08-01 17:12] #2679 closed

[2021-08-02 14:32] DidierLoiseau commented on #1602
Am I right that this was not implemented for JUnit Vintage? (using version 5.6.3 but seems to be the case still today in [TestRun.java](https://github.com/junit-team/junit5/blob/main/junit-vintage-engine/src/main/java/org/junit/vintage/engine/execution/TestRun.java#L196))

[2021-08-02 16:45] sbrannen commented on #1602
@DidierLoiseau, it does appear that the same fix should be applied to JUnit Vintage.

Would you please [create a new issue](https://github.com/junit-team/junit5/issues/new/choose) so that we can address this in 5.8.

[2021-08-03 12:57] sbrannen commented on #864
@nipafx and others, feel free to provide feedback on the associated PR (#2680).

[2021-08-03 15:53] sbrannen commented on #2651
Related to #2680

[2021-08-03 15:59] sbrannen commented on #416
Please note that this feature will be delivered in JUnit 5.8.

See:

- #864
- #2680

[2021-08-03 16:11] sbrannen commented on #506
- Reopening in light of #2651.

[2021-08-05 11:01] jbduncan commented on #864
This would be rather useful for a new feature I'm working on for junit-pioneer: ["resource" support](https://github.com/junit-pioneer/junit-pioneer/issues/348). So let me know if there's anything I can do to help keep things moving forward!

[2021-08-06 12:03] marcphilipp commented on #2649
**Team decision:** Introduce new `findAnnotation(Class<?>, Class<A>, SearchOption)` method in `AnnotationSupport` with `enum SearchOption { DEFAULT, INCLUDE_ENCLOSING_CLASSES }`.

[2021-08-07 06:06] govi20 commented on #2674
@sbrannen I would like to work on it. I already have a fork and setup, Any suggestions on how should I proceed?

[2021-08-10 08:36] overheadhunter opened #2682 "`TypedArgumentConverter` does not support conversion of `null` source value"
Providing an empty value in `@CsvSource` which will be converted using `@ConvertWith(MyCustomConverter.class)` triggers a `ParameterResolutionException` due to a `NullPointerException` in the `isAssignableFrom()` checks:

https://github.com/junit-team/junit5/blob/4cc14ee4aef0ac3e22a692bd804a2e7fe0555fd7/junit-jupiter-params/src/main/java/org/junit/jupiter/params/converter/TypedArgumentConverter.ja

[2021-08-10 09:07] juliette-derancourt commented on #2682
@overheadhunter Thanks for noticing this! 👍

[2021-08-10 10:13] sbrannen opened #2683 "Suite TestEngine excludes classes selected via @SelectClasses"
## Steps to reproduce

Changes pushed to `main` in commit 06ab1ebabef0af896035c4ac5c977ba7c09fe10e reveal that there is a bug in the JUnit Platform Suite `TestEngine` with regard to selected classes.

Specifically, if a `@Suite` class explicitly selects a class whose name does not match the default class name include pattern, the selected class will be filtered out and never executed with the suit

[2021-08-10 10:14] sbrannen commented on #2683
This is closely related to (and potentially a duplicate of):

- #2412

[2021-08-10 10:15] sbrannen commented on #2412
This is closely related to (and potentially a duplicate of):

- #2683

[2021-08-10 14:58] #2682 closed

[2021-08-10 15:00] sbrannen commented on #2682
This has been fixed in `main` in af6f76b980d95273047d6f27b1feec4b43517f00.

Thanks for reporting your first issue to JUnit 5, @overheadhunter!

Feel free to try out the fix in upcoming 5.8 M2 snapshots.

[2021-08-10 16:37] overheadhunter commented on #2682
That was quick :D Thank you!

[2021-08-10 22:56] pjkvyezz commented on #1242
sorry to raise this old issue but I have another use case:

I have an extension that launches BrowserStack Local (a binary that allows you to test private sites on browser stack).  I only want this extension to load if the the system property `browserStackEnabled` is true.

what's a good way to do this if not via conditional loading of this extension?

[2021-08-10 23:16] williamboman commented on #2674
Sure, I'll give it a look!

[2021-08-11 00:26] williamboman commented on #2674
I've opened a draft PR at #2684 for early review

[2021-08-11 08:39] sbrannen commented on #1242
You could register the extension via `@RegisterExtension` on a field, and the field assignment could use conditional logic to check the system property and then assign the real extension or a dummy (no-op) extension.

[2021-08-11 09:50] sbrannen opened #2685 "`TypedArgumentConverter` cannot convert to a primitive"
## Steps to reproduce

Given a composed `@StringLength` annotation which registers a `TypedArgumentConverter` that converts from `String` to `Integer`, the following `stringToInteger()` test method succeeds; whereas, `stringToPrimitiveInt()` fails.

[code]

Exception thrown for the attempt to convert from `Integer` to `int`:

[code]

## Deliverables

- [ ] Ensure that a `TypedArgumentConverter` ca

[2021-08-11 11:13] #2685 closed

[2021-08-11 14:03] sbrannen commented on #2683
Closing this issue since it has been determined that it is a duplicate of #2412.

[2021-08-11 14:03] #2683 closed

[2021-08-11 14:17] #2412 closed

[2021-08-12 02:18] TheReprator opened #2686 "Junit5 testSuite with SelectClasses not working in android unit test"
- JUnit5: 5.7.1
- JUnit Platform : 1.7.2
- IDE: Android Studio

I am trying to create a test suite for Unit test of android application, but it always fails with different kinds of configuration error, one among that is as follows,

[code]
RepoDetails: https://github.com/TheReprator/Wipro/tree/junit5
Branch: junit5

TestSuite Class: https://github.com/TheReprator/Wipro/blob/junit5/appModules/factL

[2021-08-12 05:44] sormuras commented on #2686
Duplicate of https://stackoverflow.com/questions/68750803/junit5-testsuite-with-selectclasses-not-working-in-android-unit-test

[2021-08-12 05:48] TheReprator commented on #2686
@sormuras Can we have the solution, for above

[2021-08-12 13:34] #2649 closed

[2021-08-12 13:38] sbrannen commented on #2649
We decided not to introduce an annotation like `@InheritedFromEnclosingClasses` since users or extension authors might then need a way _not_ to search on enclosing classes for the meta-annotated annotation.

With the new `findAnnotation(Class<?>, Class<A>, SearchOption)` method introduced in commit 3f2d4e115a9d3f67083d5ebe6b07e091183ddad5, people can now choose the search strategy to use on a case

[2021-08-13 15:06] juliette-derancourt commented on #2686
@TheReprator Suites are not yet supported in 5.7.1, you still need JUnit 4 for that (see [this paragraph of the user guide](https://junit.org/junit5/docs/current/user-guide/#running-tests-junit-platform-runner-test-suite)).

If you try to add the `junit-vintage` dependency, does it work?

[2021-08-13 15:09] TheReprator commented on #2686
@juliette-derancourt  yes, i had tried those as well, but didn't worked

[2021-08-13 15:26] brabenetz commented on #373
Any update on this ticket.
Would be nice to have readable test-names for Parameterized Tests in the surfire-reports.
Or does someone know a workaround?

[2021-08-13 15:33] juliette-derancourt commented on #2686
Ah, my bad, I believe that you can only run JUnit 4 **tests** that way, so it won't work if you migrated those tests to use Jupiter (which seems to be the goal of your branch).

I think you will have to wait for the release of 5.8 to use the new suite support (see https://github.com/junit-team/junit5/issues/744), or run your tests in a different way in the meantime.

[2021-08-13 15:37] sormuras commented on #2686
Already gave https://github.com/mannodermaus/android-junit5 a try?

[2021-08-13 19:26] sbrannen opened #2687 "Allow `@TempDir` fields to be `private`"
## Overview

Due to discussions involving #864 (see https://github.com/junit-team/junit5/pull/2680#issuecomment-894223321), the JUnit 5 team has decided that `@TempDir` fields should be allowed to be `private`.

## Deliverables

- [x] Allow `@TempDir` fields to be `private`

[2021-08-13 19:27] sbrannen opened #2688 "Allow `@RegisterExtension` fields to be `private`"
## Overview

Due to discussions involving #864 (see https://github.com/junit-team/junit5/pull/2680#issuecomment-894223321), the JUnit 5 team has decided that `@RegisterExtension` fields should be allowed to be `private`.

## Deliverables

- [x] Allow `@RegisterExtension` fields to be `private`

[2021-08-14 00:29] TheReprator commented on #2686
@sormuras Yes, i am doing the same

[2021-08-14 00:33] TheReprator commented on #2686
@juliette-derancourt now from the #744 , i also think, i had to wait for the releaseof 5.8-M1

[2021-08-15 08:19] #1967 closed

[2021-08-15 08:38] #2582 closed

[2021-08-15 10:08] #2687 closed

[2021-08-15 14:10] #2298 closed

[2021-08-15 15:48] #2564 closed

[2021-08-16 08:59] sormuras commented on #2664
Instead of guarding logging by another measure, let's tune down all message emitted at `INFO` level to `DEBUG`.

This change would effect the following six places:
![image](https://user-images.githubusercontent.com/2319838/129538384-a3e9c021-100b-4843-841d-fdb31ac9d4c6.png)

[2021-08-16 17:57] #2664 closed

[2021-08-17 08:31] #2674 closed

[2021-08-17 08:32] juliette-derancourt commented on #2674
@williamboman Thank you for the PR! 👍

[2021-08-17 08:59] #2688 closed

[2021-08-17 08:59] #864 closed

[2021-08-17 14:57] williamboman commented on #2674
Thanks for the reviews! Happy to contribute to this great project 😊

[2021-08-17 18:17] marcphilipp commented on #373
I'm working on it but in the meantime, have you tried [configuring Surefire](https://maven.apache.org/surefire/maven-surefire-plugin/examples/junit-platform.html#Surefire_Extensions_and_Reports_Configuration_for_.40DisplayName)?

[2021-08-17 20:52] sbrannen opened #2693 "`TestRun` in Vintage omits suppressed exceptions when creating `MultipleFailuresError`"
# Overview

Thanks to the tip from @DidierLoiseau (see https://github.com/junit-team/junit5/issues/1602#issuecomment-891077168), I have confirmed that the changes made in #1602 should also be applied in `org.junit.vintage.engine.execution.TestRun.getStoredResultOrSuccessful(TestDescriptor)`.

The reason is that `org.junit.internal.runners.model.EachTestNotifier.addMultipleFailureException(Multiple

[2021-08-17 22:51] DidierLoiseau commented on #2693
Thanks for creating this, I had kept a note for it on the side but it happened to us in some Spring-related test (in MockMVC IIRC) which wasn’t that hard to fix, but providing a simple test case for reporting it seemed harder.

[2021-08-18 13:47] #2693 closed

[2021-08-18 14:01] sbrannen opened #2694 "Prune Release Notes for 5.8 GA"
## Overview

_Prune_ the release notes like we have done previously (see 4d3b0a5005cd3a721cae17f3fc838a2409fa7487).

## Deliverables

- [x] Prune Release Notes for 5.8 GA

[2021-08-18 14:32] #2694 closed

[2021-08-18 23:33] DidierLoiseau commented on #2693
IIRC it had to do with MockMvc's `ResultAction.andExpect()`, but I might be wrong.

Anyway, thanks for the fix 🙂

[2021-08-20 08:43] quimpm opened #2696 "Golden File Testing"
Would be nice to make JUnit able to support **Golden File Testing**.

Golden File Testing is an excellent approach for testing huge output files, API responses... It's useful when, apart from testing all the logic of your program (this is done by unit testing itself), furthermore you also want to know that what you are outputting and giving to a client, downstream, whatever... it's fine and contai

[2021-08-20 14:03] smoyer64 commented on #2696
Golden files are indeed useful and broadly used in Go testing.  There's a great presentation by Mitchell Hashimoto (of Hashicorp) for the uninitiated and I agree that it would be useful in Java as well.  If it's not part of JUnit, perhaps it can find a place in [JUnitPioneer](https://junit-pioneer.org/) as a community supported extension.

cc: @nipafx

[2021-08-20 14:33] #2696 closed

[2021-08-20 19:05] pjkvyezz commented on #1242
thanks @sbrannen .  for anyone else that comes across this the snippets below explain how to do it.

[code]

[code]

[code]

[2021-08-22 14:26] TheReprator commented on #2686
finally suite is accomplished with,

testImplementation("org.junit.platform:junit-platform-suite:1.8.0-RC1")
    testImplementation("org.junit.jupiter:junit-jupiter-api:5.8.0-RC1")
    testRuntimeOnly("org.junit.jupiter:junit-jupiter-engine:5.8.0-RC1")

Repo:
https://github.com/TheReprator/Wipro/blob/master/appModules/factList/src/test/kotlin/reprator/wipro/factlist/FactListTestSuite.kt

[2021-08-22 14:26] #2686 closed

[2021-08-22 15:13] sbrannen commented on #2686
Thanks for the feedback, @TheReprator!

Glad that the new `@Suite` engine works for you. 👍

[2021-08-26 15:42] corservuc opened #2698 "Maven marks INFO log message as an ERROR"
When running JUnit 5 tests via `mvn test` I get the following error:

[code]

I have a `junit-platform.properties` in my resources directory and while the tests run just fine I get the error above.

Is this a real error or just the wrong log level being set by something?

## Steps to reproduce

1.  Write tests
2. Use configuration pulled from `junit-platform.properties`
3. Run tests via `mvn test`

[2021-08-26 15:47] #2698 closed, assigned to nobody

[2021-08-27 01:22] mcanalesmayo opened #2699 "Allow `@Nested` test classes to be ordered"
When having a `@TestMethodOrder` annotated class, I'd like to not only be able to annotate `@Test` methods, but also be able to define an order on `@Nested` inner classes. This is to avoid having to define an `@Order` on all the tests individually, which makes it harder to maintain.

For example:

[code]

[2021-08-27 12:48] sbrannen opened #2700 "Avoid using `Stream.peek()` for required side effects"
## Overview

Although we most likely do not use `skip()` or `limit()` in our stream pipelines, we do occasionally use `peek()` for required side effects (i.e., actions that support a given feature).

The API Note in the Javadoc for `peek()` states the following.

Depending on the stream pipeline, `peek()` may never be called, beginning with JDK 17.

## Related Tweets

- https://twitter.com/sam_bra

[2021-08-27 14:03] #2700 closed, assigned to sbrannen

[2021-08-28 09:33] ledoyen commented on #2699
I do not remember if it was a choice or an oversight. It should be fairly simple to add though.
I am currently AFK, but I can take care of this in September if needed.

[2021-08-28 14:12] sbrannen commented on #2699
Thanks for the feedback, @ledoyen!

Indeed it does appear to be fairly simple.

It looks like we just have to recursively call `AbstractOrderingVisitor.orderChildrenTestDescriptors()`.

I have a spike locally that appears to work, so I'll add some tests and likely put together a PR.

[2021-08-28 15:20] sbrannen commented on #2699
I've opened PR #2701 to address this issue.

However, after implementing the feature, I realized that users may wish to configure the execution order of `@Nested` test classes locally and declaratively. For example, a new annotation analogous to `@TestMethodOrder` would serve that purpose well.

The annotation could be named `@TestClassOrder` or `@NestedTestClassOrder`.

@junit-team/junit-lambda,

[2021-08-29 13:24] sbrannen commented on #2699
`@TestClassOrder` has been added to the PR. See https://github.com/junit-team/junit5/pull/2701#issuecomment-907790976 for details.

[2021-08-29 15:36] overheadhunter commented on #2699
As a bonus task for an additional 50 points, update this answer: https://stackoverflow.com/a/55482937/4014509 😉

[2021-08-29 17:03] sbrannen commented on #2699
I hate to disappoint you, but the answer to that SO question actually still remains the same, specifically this point:

With this PR, `@Nested` test classes can be ordered relative to other `@Nested` test classes that have the same enclosing class. `@Nested` test classes will not be ordered relative to `@Test` methods.

[2021-08-30 03:18] overheadhunter commented on #2699
Fair enough, but at least it solves the problem to run tests in a specific order, of they depend on a certain state. I don't see any problem encapsulating tests in nested classes.

[2021-08-30 12:32] sbrannen commented on #2699
Indeed it does.

I actually meant to suggest that as a "workaround" for your SO question, so I'm happy you came to the same conclusion. 👍

[2021-08-30 14:58] #2699 closed

[2021-09-01 19:50] scordio opened #2702 "Implicit conversion from integral numbers to byte array"
I'd like to propose the addition of implicit conversion from integral numbers (`byte`, `short`, `int`, `long`) to byte array. The concrete use case is code dealing with bitwise operations, mostly related to cryptography.

My wish is to write something like this:

[code]

where I can leverage binary and hexadecimal literals which are automatically converted to a byte array using a [`ByteBuffer`](ht

[2021-09-01 20:29] alyssum opened #2703 "ParameterizedTest cannot use Kotlin inline value classes as arguments"
## Steps to reproduce

Expect parameterized tests to be able to use Kotlin's inline classes as arguments.  Test below fails to run and instead get an error when initializing the test:
`Error converting parameter at index 0: No implicit conversion to convert object of type InlineValueClass to type java.lang.String`

[code]

## Context

 - Used versions (Jupiter/Vintage/Platform): Junit 5.0.0 / Kotl

[2021-09-02 11:22] sbrannen opened #2704 "`@Nested` test class constructors with arguments are broken on JDK 8"
## Overview

The support for registering extensions via `@ExtendWith` on parameters is broken on JDK 8 for `@Nested` test class constructors that accept arguments.

This is due to a bug in JDK 8 and my broken workaround for that bug in JUnit 5.8 RC1.

Our build does not detect this, since we do not compile our tests using JDK 8.

If we compile with JDK 8, our `NestedConstructorParameterTestCase` w

[2021-09-02 16:48] sbrannen commented on #2702
For that use case, you wouldn't use an `ArgumentConverter` since that can only convert a single argument.

Rather, you would use an `ArgumentsAggregator` to aggregate all arguments into a single array.

[2021-09-02 16:49] sbrannen commented on #2702
In addition, I don't see how we could introduce _implicit_ support for that without breaking existing use cases, but perhaps I'm overlooking something.

[2021-09-02 17:23] scordio commented on #2702
@sbrannen no, I meant something different. Probably a more detailed example would've explained it better.

I don't want to aggregate all the arguments in a single array, I want each argument to be converted into a dedicated array, with array size depending on the primitive type.

Following my example:
[code]

each integer would be converted to a separate byte array of size 4, being the size in byt

[2021-09-02 22:49] bitflame opened #2710 "Parameterized Test with @ArgumentSource attribute only runs once even though I have more data in the stream"
This seems to be a problem with Jupiter as I have used two different IDEs, and in both cases the unit test does not have the value that should come from the method I am testing. This only happens during debugging. The same values give the expected result when I create a test client in the class's main method. The file name for the unit test is KdTreeTest.java. The entire project is [here](https://

[2021-09-03 15:56] sbrannen opened #2705 "Change to scope of API Guardian dependency breaks builds with custom Gradle `Configuration`"
## Overview

The change in c5ee49d1347bdab01b7e72d6aa61a0e3c1a9065b breaks existing Gradle builds.

For example, the Spring Framework is using Gradle 6.8.3, and when the build is upgraded to JUnit 5.8 snapshots the build fails with numerous errors similar to the following.

[code]

## Workaround

Adding `compileOnly("org.apiguardian:apiguardian-api")` to `spring-test` allows the `spring-test` modu

[2021-09-03 16:11] sbrannen commented on #2705
The Maven POM for `junit-jupiter-api` for the [latest snapshot](https://oss.sonatype.org/content/repositories/snapshots/org/junit/jupiter/junit-jupiter-api/5.8.0-SNAPSHOT/junit-jupiter-api-5.8.0-20210902.134413-315.pom) contains the following.

[code]

So it looks like the change doesn't affect Maven builds.

[2021-09-03 16:40] sbrannen commented on #2705
By comparing the Gradle module files -- for example `junit-jupiter-api-5.8.0-M1.module` vs `junit-jupiter-api-5.8.0-20210902.134413-315.module` -- we see that the `apiguardian-api` dependency moved from `runtimeElements` to `apiElements`.

Note that the `spring-test` module declares its dependencies on JUnit Jupiter as follows.

[code]

From the documentation of Spring Framework's [OptionalDepende

[2021-09-03 17:28] sbrannen opened #2706 "`autoCloseArguments` support in `@ParameterizedTest` breaks existing tests"
## Overview

Having `autoCloseArguments` default to `true` is a breaking change for arguments that are shared between parameterized test invocations.

In the Spring Framework test suite, we have three `@ParameterizedTest` methods (in `PathMatchingUrlHandlerMappingTests` and `ClientHttpConnectorTests`) that hang indefinitely while running against JUnit 5.8 snapshots.

Declaring `@ParameterizedTest(

[2021-09-03 21:22] scordio commented on #2702
Written in a style similar to the [official docs](https://junit.org/junit5/docs/current/user-guide/#writing-tests-parameterized-tests-argument-conversion-implicit), this is what I'd like to have:

| Source type       | Target type | Example                                                                            |
|-------------------|-------------|-----------------------------------------------

[2021-09-05 09:20] scordio opened #2708 "`@ParameterizedTest` with `Object[]` test parameter and `Stream<Object[]>` factory method fails"
I detected the issue with a [parameterized test](https://github.com/assertj/assertj-core/blob/ccc03aca55236e0efa4eb38054e174d5c9c59db6/src/test/java/org/assertj/core/internal/StandardComparisonStrategy_areEqual_Test.java#L249-L269) that has one `Object` parameter and a `@MethodSource` with a factory method that returns `Stream<Object>`.

The factory method provides one `Object[]` and several primi

[2021-09-06 13:02] wilkinsona commented on #2705
We might need to configure some attributes on the `optional` configuration so that it consumes from `apiElements`.

[2021-09-07 08:57] sbrannen commented on #2705
FYI: Spring Framework's `optional` configuration has been updated to properly work with `apiElements` in https://github.com/spring-projects/spring-framework/pull/27365.

In light of that, we may consider this a necessary enhancement to Spring's build instead of a bug in JUnit.

However, other projects out there might run into similar issues with custom dependency configuration. So I'll leave this

[2021-09-07 10:11] sormuras commented on #2705
An interesting developement of the topic and I agree that other projects. if affected, should enhance/correct their dependency management. In order to support people fixing their broken builds, we should add a note to the changes list and point to this issue, or perhaps a dedicated (wiki) help page.

[2021-09-07 14:05] sbrannen commented on #2708
The behavior you have described is documented in the class-level [Javadoc for `@MethodSource`](https://junit.org/junit5/docs/current/api/org.junit.jupiter.params/org/junit/jupiter/params/provider/MethodSource.html).

If you want to pass an `Object[]` as a single argument, you can rewrite your factory method as follows, wrapping each object array in another object array.

[code]

You can of course

[2021-09-07 14:07] sbrannen commented on #2708
I'm leaving this issue open so that the team can discuss the possibility of introducing overloaded `of()` and `arguments()` methods in `Arguments` to accept a single `Object[]`. If we go that route, we must first ensure that the new methods do not cause regressions for existing code using the original var-args variants.

[2021-09-07 14:15] scordio commented on #2708
Sorry for not seeing that javadoc part and thanks a lot for the explanation.

[2021-09-07 23:04] scordio commented on #2702
I raised #2711 to help evaluate this feature.

[2021-09-08 14:12] sbrannen opened #2712 "Deprecate the `JUnitPlatform` runner in favor of `@Suite` support"
## Overview

Since JUnit 5.8 introduces official support for running suites on the JUnit Platform itself, we should deprecate the old `JUnitPlatform` runner for running the JUnit Platform via JUnit 4.

## Deliverables

- [x] Deprecate the `JUnitPlatform` runner in favor of `@Suite` support in Javadoc and via `@API`
- [x] Update build and tests to use `@Suite`
- [x] Document the deprecation in the

[2021-09-08 22:20] bitflame commented on #2710
Hi
I have been updating the project. Tests that work in a hand written client from Class's main() fail from Jupiter's unit test. The actual result just disappears. What I mean is I see it in watches before the unit test method starts. It then vanishes.

[2021-09-09 13:30] #2712 closed

[2021-09-09 14:31] sbrannen commented on #2710
Thanks for getting in touch, but it feels like this is a question that would be better suited to [Stack Overflow](http://stackoverflow.com/). We prefer to use the issue tracker only for bugs and enhancements. Feel free to update this issue with a link to the re-posted question (so that other people can find it) or add some more details if you feel this is a genuine bug.

----

The above paragraph

[2021-09-09 14:31] #2710 closed

[2021-09-09 15:05] sbrannen commented on #2705
At the very least, I think we should add a "Breaking Change" entry to "general" section of the release notes that briefly describes the issue and provides guidance on how to approach it. The use of custom `Configuration` in Gradle like `optional` in Spring Framework is a rather advanced feature, and most projects won't run into the issue.

As for whether or not we need a dedicated Wiki page, I'd r

[2021-09-09 15:50] bitflame commented on #2710
Thank you for the response. I changed the entire original message, and resorted to a different way of creating a test client. Would you re-read my original post that describes the issue? To me, if there is a field when I run the class's main, but it does not show up in the test, and I used two different IDEs to do the same test, seems like a bug. Now, it could be that the issue is with the debugge

[2021-09-09 21:32] benhumphrey-okta commented on #373
If a test report XML output testcase entry looks like this for my JUnitParamsRunner JUnit4 test,  Is there any workaround ? I assume configuring _statelessTestsetReporter_ is for Junit5 tests (I attempted to add it to my pom but it seemed to have no effect on a Junit4 test. Our organization has a large number of JUnitParamsRunner tests. Conversion isn't straigtforward (that I'm aware) given thousa

[2021-09-10 00:37] hakanai opened #2713 "Support for more specific and more general OS categories in DisabledOnOs/EnabledOnOs"
We have many tests where we're doing this:

[code]

Or,

[code]

Or,

[code]

Out of these three, one of the three can be replaced by `@EnabledOnOs`, but the other two cannot.

It would be nice if I could cover all UNIXy flavours with

[code]

and just one Linux distro with

[code]

but obviously there are a ton of distros so that may not be the most suitable API. In the meantime I will probably l

[2021-09-10 12:05] marcphilipp commented on #2706
**Team decision:** Add a note to the release notes

[2021-09-10 12:05] marcphilipp commented on #2705
**Team decision:** Document as a potentially breaking change in the release notes.

[2021-09-10 13:12] #2706 closed

[2021-09-10 13:22] bitflame commented on #2710
No issue with your decision at all, and again thank you for looking into it. Just want to point out that I use the latest version of Intellij idea, and every push I made so far compiles on my side. Not saying at all for you to use Intellij over llvm. I will educate myself on how to create llvm projects, or ones that are compatible with it.

[2021-09-10 20:02] papegaaij opened #2714 "Streaming discovery of tests and containers"
The current `LauncherDiscoveryRequest` only supports discovery using fixed selectors, like selecting on a class. The maven-surefire-plugin, when using a `forkCount > 1`, streams the classes to be tested to the forks one by one. Using the current API, this can only be implemented by creating a `LauncherDiscoveryRequest` for every class, executing that request and fetching the next class. This has t

[2021-09-11 05:32] marcphilipp commented on #2714
As [you've already discovered](https://lists.apache.org/thread.html/rbf1dff6f955c3976faf1e785a65d3278582892d8325bc2187df306dc%40%3Cdev.maven.apache.org%3E), 5.8 introduces `LauncherSessionListener` for this purpose.

[2021-09-11 08:56] #2705 closed

[2021-09-11 11:00] Tibor17 commented on #2714
Is `LauncherSessionListener` a hack in surefire?
I guess it is because we have to force the junit to launch the fixture methods without a control of the junit5 engine/launcher.
So it is a workaround.

`LauncherSession` helps but it is not a fix of the underlying problem.
On the other hand the stream would be juicy feature for scriptable languages and load balancers.

[2021-09-11 11:42] papegaaij commented on #2714
As far as I understand the LauncherSession, it's more of an additional lifecycle event. Maintainers of JUnit extensions and users of the framework will have to implement LauncherSessionListeners. When surefire opens and closes the session, these will get called. This does provide pre and post fixtures, but it still results in a different TestPlan when executing tests one by one. Also, I think it w

[2021-09-12 11:42] jbduncan commented on #2400
I think this issue is valuable.

[2021-09-13 10:34] Marcono1234 opened #2715 "`ReflectionSupport.findNestedClasses` is not thread-safe"
## Description
The method `ReflectionSupport.findNestedClasses` is not thread-safe because the underlying implementation uses a `static` field of type `HashSet` without any synchronization:
https://github.com/junit-team/junit5/blob/ed3d84d0db3807ae4065221c47d10448ea60e74b/junit-platform-commons/src/main/java/org/junit/platform/commons/util/ReflectionUtils.java#L133

It should probably use `Concurr

[2021-09-13 12:04] sbrannen commented on #2715
Thanks for pointing this out.

We'll improve it for 5.9 M1.

[2021-09-13 13:05] Marcono1234 opened #2717 "Abstract classes with `@Nested` are not ignored / not handled properly"
## Description
The predicate for whether a class annotated with `@Nested` can be executed does not check whether the class is abstract, see [`IsNestedTestClass`](https://github.com/junit-team/junit5/blob/main/junit-jupiter-engine/src/main/java/org/junit/jupiter/engine/discovery/predicates/IsNestedTestClass.java). This causes a `java.lang.InstantiationException` when trying to run the tests (from w

[2021-09-13 13:37] Marcono1234 commented on #242
Should this also cover `@Suite`? Its predicate class [`IsSuiteClass`](https://github.com/junit-team/junit5/blob/main/junit-platform-suite-engine/src/main/java/org/junit/platform/suite/engine/IsSuiteClass.java) seems to silently ignore the class if the predicate does not match, despite being explicitly annotated.

[2021-09-13 16:08] Maxeh opened #2718 "Local mocks ignored when PER_CLASS mode is used"
When using the PER_CLASS mode, Mockito statements in local methods are ignored under certain conditions (see below).

I tested it with JUnit version 5.7.1 and Mockito 3.6.28; it seems, this problem already existed 2 years ago. It is also described here: https://stackoverflow.com/q/56438868/4311428

In the Stack Overflow answer the problem could not be recreated, because the mocked object was not d

[2021-09-13 22:50] pietrygamat commented on #2666
Your extension can swallow exceptions thrown by a test class in @AfterAll/Each methods if it implements the `org.junit.jupiter.api.extension.LifecycleMethodExecutionExceptionHandler` as an addition to `org.junit.jupiter.api.extension.TestExecutionExceptionHandler` .

Handling exceptions thrown by Before/After Callbacks though... - Where would it fit this diagram?
https://junit.org/junit5/docs/curr

[2021-09-14 09:57] sbrannen commented on #2717
What is the use case for having an `abstract` `@Nested` test class?

`@Nested` is not `@Inherited`, so it cannot apply to a subclass of an `abstract` `@Nested` test class.

[2021-09-14 10:03] sbrannen commented on #2717
Or are you claiming there is no use case and that you would prefer a better (more informative) error message?

[2021-09-14 10:39] sbrannen commented on #2718
Hi @Maxeh,

Thanks for raising your first issue for JUnit.

This is not an issue in JUnit Jupiter but rather an issue with Mockito regarding its handling of `@InjectMocks` fields. Specifically, Mockito will not re-instantiate the injected mock if the field value is non-null.

As a workaround, you can manually set the `a` field to `null` between invocations as follows.

[code]

That will allow your

[2021-09-14 10:39] #2718 closed

[2021-09-14 12:26] sbrannen commented on #242
Yes, this should also apply to `@Suite` classes. I'll add that to this issue's description.

[2021-09-14 19:29] Marcono1234 commented on #2717
Yes that was what I meant. Either a better error message or such classes being ignored (similar to other cases mentioned in #242). Personally I would prefer an error to make the user aware of the issue, since it is not known yet when 242 will be resolved.

[2021-09-15 11:01] #2396 closed

[2021-09-16 11:10] Mincol commented on #2497
I would like to see 4 executables emulating @BeforeAll, @BeforeEach , @AfterEach and @AfterAll

[2021-09-16 11:12] Mincol commented on #2305
I would like to see 4 executables emulating `@BeforeAll, @BeforeEach , @AfterEach and @AfterAll`

[2021-09-16 16:24] mpkorstanje opened #2720 "Deprecate `@UseTechnicalNames`"
With the deprecation of the JUnitPlatform runner in favor of `@Suite` support (https://github.com/junit-team/junit5/commit/8ac3dfbc5fbef433a98684a4ca958fad91c1f0f4) `UseTechnicalNames` should also be deprecated.

In brief using `@UseTechnicalNames` would instruct the JUnitPlatform runner to use class and/or method names in JUnit4 test descriptions [using the information contained in the Junit5 Tes

[2021-09-16 19:35] laurentperez commented on #2616
Hello. Any ongoing updates ?

[2021-09-17 09:59] marcphilipp commented on #2616
@sauravjaiswalsj Are you still interested in working on this or should we try to find someone else to take over?

[2021-09-17 10:34] marcphilipp commented on #2720
**Team decision:** Deprecate `UseTechnicalNames` since it no longer has any effect (when not using the `JUnitPlatform` runner).

[2021-09-17 10:41] marcphilipp commented on #2717
**Team decision:** Let's introduce a proper error message for this scenario when tackling #242.

[2021-09-17 10:41] #2717 closed

[2021-09-17 10:47] marcphilipp commented on #2666
The best way of testing custom extensions is to use the [`EngineTestKit`](https://junit.org/junit5/docs/current/user-guide/#testkit-engine).

We would rather not introduce an extension to handle exception thrown by extensions.

[2021-09-17 14:01] wilkinsona opened #2722 "junit-vintage-engine:5.8.0 requires junit:junit:{strictly 4.13.2}"
Building a project with JUnit 5.8.0 and Jackson 2.12.5 can result in a build failure due to `junit-vintage-engine-5.8.0` strictly requiring `junit:junit:4.13.2`. Jackson 2.12.5's bom manages the version as 4.13.1. I suspect this dependency management should not be present in Jackson's bom and have opened https://github.com/FasterXML/jackson-bom/issues/43, but it's been there for quite some time an

[2021-09-17 18:57] sormuras commented on #2722
Does the same happen with Maven 3.x? IIRC, the "first BOM that defines a version wins", thus if the JUnit BOM is loaded before Jackson's BOM, `4.13.2` should be used for all `junit:junit` occurances.

[2021-09-17 19:31] marcphilipp commented on #2722
We switched to using a version range for our internal dependency management with 5.8:
https://github.com/junit-team/junit5/blob/a295157c098d0b4419983ef1c6731ff5eb27b6a0/gradle/libs.versions.toml#L31

However, we have the following config in place:

https://github.com/junit-team/junit5/blob/931ecaa04c4181612284b70b267e320e1cb1b787/buildSrc/src/main/kotlin/java-library-conventions.gradle.kts#L95-L10

[2021-09-17 19:37] marcphilipp commented on #2722
Actually, I think the better fix as it's less risky would be to change our version declaration from `strictly` to `requires`. That would cause the GMM to contain

[code]

and the POM:

[code]

[2021-09-17 19:40] #2722 closed

[2021-09-17 19:42] marcphilipp commented on #2722
@wilkinsona Why were you using `enforcedPlatform`? With just `platform` it would have worked, riiht?

[2021-09-17 19:53] marcphilipp commented on #2722
With 5.8.1-SNAPSHOT from https://oss.sonatype.org/content/repositories/snapshots/ it works (see [build scan](https://scans.gradle.com/s/lebnyj64r2oco/dependencies?focusedDependency=WzAsMCwyNCxbMCwwLFsxMSwyNF1dXQ&focusedDependencyView=versions&toggled=W1swXSxbMCwwXSxbMCwwLFsxMV1dLFswLDAsWzExLDI0XV1d)).

[2021-09-17 19:54] marcphilipp commented on #2722
@wilkinsona Would be still be in time for the upcoming Spring Boot release if we released 5.8.1 this weekend or early next week?

[2021-09-18 14:47] #2715 closed

[2021-09-18 20:21] Kearny opened #2723 "Running test fails on junit-jupiter-engine 5.8.0 but succeed on 5.8.0.-M1"
## Steps to reproduce

I just have to run my tests or any of one single of them

## Context

My project is a Spring boot 2.5.4 monolith running on java 17 (oracle)

 - Used versions (succeed) Jupiter:
jupiter:junit-jupiter:5.8.0
junit-jupiter-api:5.8.0
junit-jupiter-engine:5.8.0-M1
junit-jupiter-params:5.8.0

 - Used versions (failed) Jupiter:
jupiter:junit-jupiter:5.8.0
junit-jupiter-api:5.8.0
ju

[2021-09-18 20:26] sbrannen commented on #2723
This is the key part of the stack trace:

[code]

That tells us effectively that the JUnit Jupiter TestEngine (5.8.0) depends on a method introduced in `AnnotationUtils` in 1.8.0.

In other words, you need to update the version of the JUnit Platform you're using to 1.8.0, specifically `junit-platform-commons`.

In light of that, I am closing this issue.

[2021-09-18 20:26] #2723 closed

[2021-09-18 21:17] Kearny commented on #2723
Thank you, you are right.
I guess you mean junit-platform 1.8.0-RC1, I can't find a finalized version.

[2021-09-18 21:19] Kearny commented on #2723
Thanks it works !

[2021-09-19 16:22] #2720 closed

[2021-09-20 08:26] wilkinsona commented on #2722
A little late, but for what it's worth, I much prefer the subsequent refinement that avoided a version range appearing in the pom. I, too, am rather wary of version ranges in poms and the effects that they can have.

To mimic Spring Boot's build. It enforces dependency versions internally (so that we know exactly what we're testing against), while being more relaxed in its public metadata.

Right.

[2021-09-20 20:43] #1273 closed

[2021-09-21 03:03] hakanai opened #2725 "Separate the assertion utility API from the test framework API"
We use exclusively Hamcrest assertions but occasionally someone will discover that JUnit has its own assertion library and put a call to that into the code.

While it is entirely possible to use tools like [Forbidden APIs](https://github.com/policeman-tools/forbidden-apis) to prevent this malpractice, it would be much simpler if JUnit simply had its assertions in a different library to the rest of

[2021-09-21 03:41] zcmgyu commented on #944
In my case, I want to connect and create WebDriver to multi-devices at beforeEach, to run test cases in parallel.

[2021-09-21 13:34] monkey1993 opened #2726 "junit-platform-commons missing export"
- Used versions (Jupiter/Vintage/Platform): 5.8.0
 - Build Tool/IDE: gradle 7.2

`org.junit.jupiter.engine.config.EnumConfigurationParameterConverter` using `org.junit.platform.commons.logging.LoggerFactory`, but in org.junit.platform.commons 1.8.0 `module-info` is only exports to `org.junit.jupiter.engine`, and not exports `org.junit.jupiter.engine.config`.

Internal Error occurred.
org.junit.pla

[2021-09-21 13:50] sormuras commented on #2726
Can you please share your Gradle-based project? Seems like the IDEA runner puts part of the JUnit modules on the module path (e.g. `org.junit.platform.launcher@1.8.0`), and some others on the class path (e.g. `org.junit.jupiter.engine`).

[2021-09-21 13:57] monkey1993 commented on #2726
Not every time, the same project will not have a problem on the Mac, but it will have a problem on windows. I don't know why the error is `does not export org.junit.platform.commons.logging to unnamed module @ 0x101df177`. it should be `does not export org.junit.platform.commons.logging to org.junit.jupiter.engine.config`.

[2021-09-21 13:59] monkey1993 commented on #2726
project     https://github.com/keimons/deepjson

[2021-09-21 14:09] sormuras commented on #2726
Interesting: Java `1.6`, `1.7`, `9`, and `11` is configured.

May be that is why IDEA gets confused...

[2021-09-21 14:17] monkey1993 commented on #2726
Downward compatible with Java 1.6, MethodHandles is provided in Java 1.7, and module-info is provided in Java 9. Compile different java files using 1.6, 1.7 and 9 respectively.The operating environment for error reporting is java 11. Perhaps junit-jupiter-engine is recognized as an unnamed module. However, when I delete the module-info.java file under test and discard modularization, everything is

[2021-09-21 14:28] monkey1993 commented on #2726
Not command-line. IDEA debug.

[2021-09-21 14:34] sormuras commented on #2726
Perhaps, this IDEA bug was already fixed and will ship with their upcoming `2021.3 EAP` builds, soon: https://youtrack.jetbrains.com/issue/IDEA-277330

[2021-09-21 14:41] monkey1993 commented on #2726
`exports org.junit.platform.commons.logging to org.junit.jupiter.engine`

I see, it's the same problem. I also recently upgraded 2021.2, thanks.

[2021-09-23 15:10] kcooney commented on #2673
This sounds similar to #361 and #996

[2021-09-24 04:11] hakanai commented on #2673
Indeed. It looks like someone even went to the trouble of implementing it, and then at the last minute it was knocked back by someone who doesn't like type safety.

[2021-09-24 08:06] jbduncan commented on #2673
@hakanai Did you mean to come across as belligerent just now? :)

I ask because it looks to me that you were being... critical of the lead developer of JUnit 4 and 5, and regardless it came across as rather hurtful.

[2021-09-24 17:36] TransLunarInjection commented on #201
Here is a concrete example of a test which worked on JUnit 4 and doesn't work with 5 and is due to classloading changes. I am not confident that it is a central example of the overall type of issue in this thread, but it seemed worth noting here due to earlier comments about a lack of a concrete use case.

https://github.com/MinimallyCorrect/JavaTransformer/pull/59

[2021-09-25 03:22] hakanai commented on #2673
No, I simply did not realise that the lead developer of JUnit 4 and 5 hated type safety so much.

[2021-09-25 10:16] jbduncan commented on #2673
I hear you.

That being said, I don't actually see any mention in the thread of why this feature was rejected in the first place. Have I missed it?

Maybe it was very well that the JUnit team didn't like the additional type safety at the time, but that seems unlikely to me. I think the real explanation was that not enough people said they wanted the feature at the time, so the team thought that th

[2021-09-25 13:16] Frontrider commented on #201
We have concrete use cases, but I'm not legally allowed to share them.

[2021-09-25 13:30] ledoyen commented on #201
@TransLunarInjection the example you linked concerns the support of distinct classloaders for tests in junit-vintage-engine.

I think this is a different topic (linked but different), as the current issue concerns the existence of an API for extensions (such as a powermock one), ergo more in the junit-jupiter part.

On the orther hand, it could influence the design of a solution by moving its cent

[2021-09-27 13:59] Marcono1234 opened #2730 "FindException: Module org.apiguardian.api not found, required by org.junit.platform.launcher"
## Description
When using a `module-info.java` as part of the test sources, Gradle fails executing the tests:
[code]

It appears #2695 tried to solve that issue for 5.8.0, but I am seeing this behavior for 5.8.0 and 5.8.1.
Manually adding `testImplementation("org.apiguardian:apiguardian-api:1.1.2")` as dependency solves this issue.

## Steps to reproduce

1. Clone https://github.com/Marcono1234/ju

[2021-09-29 01:06] bnorb opened #2731 "Fix seed property name documentation for ClassOrderer.Random"
Version: JUnit 5.8.1

In the class description, the `ClassOrderer.Random` documentation states that the "junit.jupiter.execution.<ins>class</ins>.order.random.seed" configuration parameter should be used to set the custom seed.

The actual value of `RANDOM_SEED_PROPERTY_NAME` is equal to `MethodOrderer.Random.RANDOM_SEED_PROPERTY_NAME` however, which is `junit.jupiter.execution.order.random.seed`.

[2021-09-29 08:07] sbrannen commented on #2731
Good catch! 👍

I'll fix that right away.

[2021-09-29 08:14] #2731 closed

[2021-09-29 08:16] sbrannen commented on #2731
@bnorb, thanks for reporting your first issue for JUnit 5!

This has been addressed in commit fd93eeca94479b71ce0d06d61df874a167a3fbf7.

[2021-09-29 08:43] dweiss opened #2732 "Add a way for TestInstanceFactory implementations to use any existing ParameterResolver extensions"
It would be great if the API provided a way for custom test instance factories to leverage the existing infrastructure for processing constructor parameters (what ExecutableInvoker does, internally). Otherwise you're forced to recreate the same functionality so that parameter resolvers work, for example. In fact, I'm not even sure it'd be possible to recreate it in an identical way (because the ex

[2021-09-29 08:47] sbrannen commented on #2732
Hi @dweiss,

Thanks for raising the issue.

We agree: that should be possible: https://github.com/junit-team/junit5/issues/2393#issuecomment-765349501

So I'm closing this as a duplicate of #2393.

[2021-09-29 08:47] #2732 closed

[2021-09-29 08:55] dweiss commented on #2732
Ah, sorry - I scanned the existing issues but didn't find this one!

[2021-09-29 09:12] dweiss opened #2733 "Missing symmetric extension for TestInstancePreDestroyCallback (TestInstancePreCreateCallback?)"
Ok, so this may sound weird but I actually do have a need for a hook that is invoked prior to test instances being created (before the test instance factory or the default machinery actually creates the test instance). This would be a symmetric counterpart to the TestInstancePreDestroyCallback extension, which seems to be missing now.

The reason for this is that I have a custom parameter resolver

[2021-09-29 13:55] sormuras commented on #2730
🤔 What's the difference to this Gradle configuration? "Just" the usage of the BOM file?

https://github.com/junit-team/junit5-samples/blob/main/junit5-jupiter-starter-gradle-groovy/build.gradle

[2021-09-29 23:09] Marcono1234 commented on #2730
I have only checked https://github.com/junit-team/junit5-samples/tree/main/junit5-jupiter-starter-gradle now but I don't think that makes a difference. The main difference is usage of the module system. When I edit `junit5-jupiter-starter-gradle` by:
- Adding `src/main/java/module-info.java`
[code]
- Adding `src/test/java/module-info.java`
[code]
- Changing package name of `CalculatorTests` (becau

[2021-09-30 12:36] dweiss commented on #2733
Apologies for asking but I'm a bit baffled - just added throw new RuntimeException() to one of the existing tests and I can't get the build to fail... it's as onlyIf is set to false somewhere but I can't find it:
{code}

commit 7a79a3ef0ccd0ab2201674298e9e52ec570d377f (HEAD -> main, origin/main, origin/HEAD)
Author: Sam Brannen <sbrannen@vmware.com>
Date:   Wed Sep 29 10:43:18 2021 +0200

...

Ski

[2021-09-30 21:32] mridang1611 commented on #1682
We are using JUNIT5
I have the following in junit-platform.properties
[code]
However in logs in only see
INFO: Using parallel execution mode 'CONCURRENT' set via the 'junit.jupiter.execution.parallel.mode.default' configuration parameter.
Nothing for the classes can someone please help

[2021-10-01 11:33] sbrannen opened #2734 "Support text blocks as files in `@CsvSource`"
## Overview

PR #2721 introduced experimental support for _text blocks_ in `@CsvSource`; however, there is room for improvement.

A CSV line within a text block cannot currently contain a new line (`\n`), even if it is within a quoted string; whereas, this is supported when using `@CsvSource(value = ...)`.

Comments do not make sense in a single string in `@CsvSource(value = ...)`, but they do mak

[2021-10-01 15:22] sbrannen opened #2735 "Make quote character in `@CsvSource` and `@CsvFileSource` configurable"
## Overview

In order to treat text blocks as files in `@CsvSource` (see #2734), we should allow users to change the quote character to `"` when using text blocks.

This will of course allow one to change the quote character to anything other than `'` or `"`, even when using the `value` attribute in `@CsvSource`, but it is assumed the primary use case is using double quotes in text blocks.

For co

[2021-10-01 15:24] sbrannen commented on #2734
Current work on this issue can be viewed in the following feature branch:

https://github.com/junit-team/junit5/compare/main...sbrannen:issues/2734-treat-text-blocks-as-files-in-CsvSource

[2021-10-01 15:38] sbrannen commented on #2735
Current work on this issue can be viewed in the following feature branch:

https://github.com/junit-team/junit5/compare/main...sbrannen:issues/2735-make-quote-character-in-CsvSource-configurable

[2021-10-01 17:24] sbrannen commented on #2733
What exactly are you trying to achieve?

In which module did you modify a test to fail?

What is the result of the Gradle build scan?

Have you tried running with `./gradlew --rerun-tasks test`?

[2021-10-01 17:41] dweiss commented on #2733
I wanted to implement that extension and added a test. But the test doesn't run. Then I modified another (existing) test - doesn't run either.

Plain git checkout at de699420216459dd:
gradlew -p junit-jupiter-engine test --rerun-tasks --console=plain

this shows:

[code]

Clearly something is wrong... But I've no idea what.

[2021-10-01 17:45] dweiss commented on #2733
This is the build scan:
https://gradle.com/s/giadc4v5jrxlw

[2021-10-01 19:21] sbrannen commented on #2733
`-p` sets a project property.

So, it looks like what you're trying to do is `./gradlew :junit-jupiter-engine:test`.

You can use `--rerun-tasks` if you really want to make sure that tasks are rerun and not loaded from the cache.

See also: https://github.com/junit-team/junit5#building-from-source

[2021-10-01 19:51] dweiss commented on #2733
On Fri, Oct 1, 2021, 21:21 Sam Brannen ***@***.***> wrote:

Large P does it. Small p is a subdirectory directive that narrows tasks. I
am not new to Gradle, it is not the source of the problem.

So, it looks like what you're trying to do is ./gradlew

I know. But it still doesn't work - see the build scan I posted. This is
with rerun tasks and tests still show as skipped.

See also: https://github

[2021-10-01 21:07] jbduncan commented on #2733
@dweiss In my relatively inexperienced view, it sounds like the build cache is preventing the task from being re-run? What happens if you disable it with the command-line flag `--no-build-cache`?

[2021-10-01 21:11] jbduncan commented on #2733
Ah, I've just seen the `SKIPPED` in your Gradle logs, which suggests the build cache isn't involved. You can try my suggestion, but I don't know if it'll have any impact.

[2021-10-02 06:45] dweiss commented on #2733
I had tried several options prior to the build cache - same result, the task always seems to have onlyIf set to false. I'll get to the bottom of this - I just thought I needed some kind of magic switch or environment setup... It is even more weird because I run tons of gradle projects and never saw anything like this. I tend to believe it's one of the plugins playing tricks and disabling tests for

[2021-10-02 12:37] sbrannen commented on #2733
When I execute `./gradlew -p junit-jupiter-engine test --rerun-tasks --console=plain`, I also see that the tests are skipped.

[code]

When I execute `./gradlew :junit-jupiter-engine:test --console=plain`, I also see that the tests are skipped.

So, you're right.

Something is wrong!

It appears that ALL tests are SKIPPED across the JUnit 5 repository.

@marcphilipp, could this be because of your

[2021-10-02 12:55] sbrannen commented on #2733
### Update

All tests are `SKIPPED` since commit 826088ec6a3b602e0717505233aad9f33205aecc.

I'll create an issue to track this and disable Jacoco support for the time being, so that tests are executed within the build.

[2021-10-02 12:58] sbrannen opened #2736 "All tests in Gradle build are SKIPPED"
## Overview

As mentioned in https://github.com/junit-team/junit5/issues/2733#issuecomment-932747744, all tests in the Gradle build are `SKIPPED` since commit 826088ec6a3b602e0717505233aad9f33205aecc.

I will disable Jacoco support for the time being, so that tests are executed within the build.

## Deliverables

- [ ] Determine why all `test` tasks are `SKIPPED` when the Jacoco support is enabled

[2021-10-02 13:01] sbrannen commented on #2733
@dweiss, please pull from `main` and see if tests execute properly for you.

Thanks!

[2021-10-02 13:11] sbrannen commented on #2736
As a result of reverting that commit, the CI build now fails:

https://ge.junit.org/s/gsap7dr2zgivw/failure#1

[code]

But at least the tests are executed in the interim.

[2021-10-02 14:15] marcphilipp commented on #2736
Mea culpa. I have a fix and will push it later.

[2021-10-02 15:08] #2736 closed

[2021-10-03 07:23] dweiss commented on #2733
Ha! :) Thank you for looking at this. For a bit I thought I was going crazy. I'll take another look at that patch next week so I'm sure tests will be handy. :)

[2021-10-03 12:45] sbrannen commented on #2733
You're welcome.

For a bit I thought you might be crazy, too. 😉

I couldn't imagine that a failing test wouldn't fail the build, because that's never happened.

But you were persistent, and we're grateful for that! 👍

If you hadn't convinced me to investigate it, I would not have made the following change to my last commit... which would _eventually_ have broken the build.

https://github.com/juni

[2021-10-03 12:46] sbrannen commented on #2736
Thanks for the quick turnaround, @marcphilipp. 👍

[2021-10-03 16:55] sbrannen commented on #2734
FYI: PR #2737 is ready for technical review.

[2021-10-04 07:27] dweiss commented on #2733
Yeah, well. It's still a subject of a heated debate among my children, especially when I ask them to go cycling with me.

Thanks for fixing this, tricky indeed. I'll can go back and try adding that callback later this week.

[2021-10-05 09:20] leonard84 opened #2738 "Introduce iterationSelector DiscoverySelector to JUnit Platform"
## Motivation

With this [commit](https://github.com/spockframework/spock/commit/90427874f5ccde29be8cfb35c0f3450244bd8dd1) Spock got the capability to select individual iterations via their `UniqueId`. This works great for re-running a test from the IDE, but it doesn't work well if you don't have a prior run to obtain the `UniqueId` as we don't want external tools to create these IDs themselves.

[2021-10-07 21:31] SpencerMelo opened #2741 "Multiple groups behaving different with same static configuration"
Hi folks!
I have multiple classes and each class has a different `@Tag` and in case I try to run multiple tags at same time, they are not getting the same Logging configuration, I will give examples bellow, but before that, some details:

JUnit5 jupiter > 5.8.1
JUnit5 runner > 1.8.1

Descriptive example:
Given I have two classes, each one with a different @Tag, both classes extends from a parent c

[2021-10-08 11:58] simondean opened #2742 "Silently skipped tests when last line of Kotlin test method returns a coroutine"
The issue I'm seeing is with JUnit 5 and Kotlin.  When I have a unit test like the following, JUnit 5 skips the test and outputs nothing to indicate that it has been skipped.  I've seen this issue in a real codebase were about 10 unit tests were skipped in this way.  The example below is a contrived one.  When I've seen it happening for real, it was a call to a Kotlin version of Mockito's `verify(

[2021-10-08 12:13] #2742 closed

[2021-10-08 12:30] simondean commented on #242
Hi.  This is big issue when writing unit tests in Kotlin.  It's really easy to create unit test in Kotlin that implicitly returns a none void return type.  JUnit then just silently fails to run any of your Kotlin unit test that have a none void return type.

As an example, in a codebase with about 800 unit tests, I found that about 20 of the unit tests were being silently ignored by JUnit 5 becaus

[2021-10-08 13:20] sbrannen commented on #242
I've added the `new` label to signal to the team that it needs to be reconsidered.

[2021-10-13 22:22] Marcono1234 commented on #2730
Have created https://github.com/gradle/gradle/issues/18627; hopefully that includes all necessary information.

[2021-10-14 17:55] SandersAaronD commented on #1558
I'd like to add +1 for doing this.

To add to the use cases: We have a bunch of E2E tests. Some are working, some are flaky, and some are broken. In any given test run, it's difficult to tell which are flaky and which are actually broken, so I have to rerun them manually to sort those out. Right now I will run my entire test suite 3-5 times and manually look at the reports side by side to see whic

[2021-10-16 12:24] vinodrkumars opened #2747 "JUnit 5.8.0 tests does not get executed with spring boot 2.5.5"
With JUnit 5.8.0, dependency test cases are not getting executed with Spring Boot 2.5.5. Test cases works well with previous version 5.7.2

## Steps to reproduce

Below is the POM.xml

[code]

## Context

 - Used versions (Jupiter/Vintage/Platform):
 - Build Tool/IDE: Maven, Eclipse IDE

## Maven Output

### Result with JUnit 5.8.0 dependency

[code]

### Results with JUnit 5.7.2 dependency

[code

[2021-10-16 19:05] SandersAaronD commented on #1558
You can specify a custom task that only runs tests for certain tags and set the retry block in the gradle plugin there. I have retries set of my regression tests but not smoke tests, for example, since they are triggered from different tasks.

[2021-10-17 10:11] jlink opened #2748 "Handle Kotlin Function Names correctly"
In "normal" cases Kotlin function names map directly onto Java method names.
However, there are a few cases where the Kotlin source name of a function will be different than the generated method name in byte code:
1. in internal classes
2. with parameters of specific types present - e.g. UInt, UShort etc.
3. There might be more...

As a test engine writer I stumble upon this problem in a few class

[2021-10-17 10:15] sbrannen commented on #2747
I've edited your comment to improve the formatting. You might want to check out this [Mastering Markdown guide](https://guides.github.com/features/mastering-markdown/) for future reference.

As a side note, JUnit is written "JUnit", not "Junit".

[2021-10-17 10:17] sbrannen commented on #2747
Thanks for getting in touch, but it feels like this is a question that would be better suited to [Stack Overflow](http://stackoverflow.com/). We prefer to use the issue tracker only for bugs and enhancements. Feel free to update this issue with a link to the re-posted question (so that other people can find it) or add some more details if you feel this is a genuine bug.

----

In any case, this so

[2021-10-17 10:17] #2747 closed

[2021-10-17 16:06] marcphilipp commented on #2748
@jlink Thanks for raising the issue! Could you please provide concrete examples of such cases or a link to the specification or docs for this behavior?

[2021-10-21 09:28] p1729 commented on #2584
@marcphilipp can I try adding these improvements ?

[2021-10-22 17:44] praveenreddynarala opened #2749 "@Suite example usage"
Hi Team,

I recently upgraded the Junit5 version with 5.8.1. Also, I have added junit-platform-suite v1.8.1 to create test suites.

Please find the sample example I created...

[code]

However, when I try to run the test suite, it says no tests were found from IntelliJ. I have been using the below property to run tests... I am able to trigger.
`junit.jupiter.testinstance.lifecycle.default = per_cl

[2021-10-25 01:56] hgschmie opened #2751 "A test class with Java 9+ dependencies can not be disabled with @DisabledOnJre(JRE.JAVA_8)"
I have a project that is compiled to Java 8 compatibility. However, there are some test dependencies that no longer support Java 8 but only newer versions (Java 9+).

[code]

My naive idea was to decorate this with `@DisabledOnJre(JRE.JAVA_8)`. However, when running this code on a Java 8 JRE, it reports

[code]

so even though the code itself is compiled to java 8 and it is annotated with "skip wh

[2021-10-26 09:41] #2749 closed, assigned to nobody

[2021-10-26 12:55] praveenreddynarala opened #2752 "How to run Junit 5 @Suite tests through maven command line"
Hi Team,

I am unable to run Junit 5 Test Suite (@Suite) using the Maven command line. It always says, Total tests 0. I have tried various options/configurations from the maven-surefire plugin v3.0.0-M5.

**Sample Test Suite:**
[code]

**1 Option:** I have used Junit 5 Paralallism configuration inside the Surefire plugin as below to run all the tests from inside the test suite in parallel. None of

[2021-10-26 14:18] #2752 closed, assigned to nobody

[2021-10-26 16:40] sormuras opened #2754 "Remove OSS from integration test project examples"
https://github.com/junit-team/junit5/blob/3e17b934ad1b9e1d5f443db78b03d6570a4b6627/platform-tooling-support-tests/projects/maven-starter/pom.xml#L68-L77

[2021-10-27 07:03] fuzzy28 opened #2755 "Test not able to find when TestSuite explicitly defined in the include property of surefire plugin"
## Expected Behavior
Run all the tests that are in the scope of the TestSuite.

## Actual Behavior
None of the test is executed if the test suite is defined

## Pom.xml dependencies
[code]
## Steps to reproduce

1. My tests are not able to find if I explicitly include the TestSuite in the maven surefire plugin

[code]

[code]

Removing the include tag **OR** including only the MyTest.class will su

[2021-10-27 07:35] #2755 closed, assigned to nobody

[2021-10-27 08:43] praveenreddynarala opened #2756 "Console logs are misleading when Tests run in parallel using Junit 5 parallelism"
Hi Team,

I am running into an issue where the console logs are misleading when the test failed. I am running our Junit 5 tests (3 test classes) in Parallel using Junit 5 configuration properties. With this configuration, the tests classes run concurrently using different **|ForkJoinPool-1-worker-9, |ForkJoinPool-1-worker-1, |ForkJoinPool-1-worker-7** threads etc.

When there is a test failure, I

[2021-10-27 08:51] #2756 closed, assigned to nobody

[2021-10-27 15:49] OLibutzki opened #2757 "Provide a MethodOrderer which enforces unique order values"
When a test is annoated with `@TestMethodOrder( MethodOrderer.OrderAnnotation.class )` we want the test methods to executed in the order of the `@Order` annotation.
When twei methods have the same order value the Javadoc states they "will be sortedarbitrarily adjacent to each other". That makes perfect sense.

Imagine this scenario: We have a tets class which contains 6 steps - each of them depend

[2021-10-29 11:22] sbrannen opened #2759 "Support CSV headers in display names in parameterized tests"
## Overview

When using `@CsvSource`, CSV headers are not supported. With `@CsvFileSource`, the first `n` lines of each file can be skipped, which allows headers to be present in a CSV file but not used.

Ideally, one should be able to provide headers in a text block when using `@CsvSource` or in a file when using `@CsvFileSource`, and these headers can be used when generating the display name for

[2021-10-29 11:50] hjohn opened #2760 "Allow EnumSource to provide arguments"
I think `EnumSource` is one of the best tools currently available for parameterized tests, being type safe and using the name of the enum to describe the test data, for example:

[code]

However, I think the `@ParameterizedTest` itself could be invoked a bit nicer.  Instead of having:

[code]

...it would be much nicer if one could write:

[code]

In other words, the parameter names should be exam

[2021-10-29 12:36] hjohn opened #2761 "Introduce MATCHES_NONE selection mode in @EnumSource"
I would like to exclude constants using a regex but found that although you can exclude by name, you can't exclude by regex.

Negating a regular expression is rather cumbersome and unreadable (something like this: `^((?!foo).)*$`).

I propose to extend the `EnumSource.Mode` with `MATCHES_NONE`:

[code]

[2021-10-29 18:40] marcphilipp commented on #2748
Is the use case here to look up a Kotlin method (from a `MethodSelector`) given its bytecode name?

[2021-10-29 18:47] marcphilipp commented on #2761
Makes sense to me. Would you be interested in submitting a PR that adds this?

[2021-10-29 18:49] marcphilipp commented on #2760
A similar case could be made for Java records.

[2021-10-29 20:36] jlink commented on #2748
For MethodSelector it’s the other way round: It contains the Kotlin method name but should provide the corresponding byte code method.
For MethodSource, the engine only has a bytecode name, if it could find one, but the interpreting party (usually the IDE) needs the Kotlin function name to jump to the right place in the source code.

[2021-10-30 11:08] npathai commented on #2761
@marcphilipp I can take a dig at it.

[2021-10-31 08:44] marcphilipp commented on #1682
@mridang1611 Which version are you using? Please see https://junit.org/junit5/docs/current/user-guide/#writing-tests-parallel-execution for details.

[2021-10-31 10:47] marcphilipp commented on #2702
I'm not yet convinced how generally useful such a built-in conversion would be. How about making it opt-in via an annotation like `@JavaTimeConversionPattern`?

[2021-10-31 11:09] marcphilipp commented on #2660
The problem is that the maven-assembly-plugin does not merge files in META-INF/services:

[code]

Hence, the Spock engine is not registered and won't be called.

[2021-10-31 11:09] #2660 closed

[2021-10-31 11:13] marcphilipp commented on #2661
I think that's a fair point and could be added. What's your use case?

[2021-10-31 11:27] marcphilipp commented on #2677
We could add a new extension point for this:

[code]

[2021-10-31 11:29] marcphilipp commented on #2669
@bondolo Thanks for the feedback! Would you be interested in working on this via a more concrete outline here and then a PR?

[2021-10-31 11:41] marcphilipp commented on #2159
@hglasgow Thanks for the PR! I think we should first discuss the new APIs here to avoid back and forth on the PR.

I think we should do the following:
* Introduce a new enum called `CleanupMode` in the `org.junit.jupiter.api.io` package with `ALWAYS`, `ON_SUCCESS`, and `NEVER` constants.
* Add a `cleanup` attribute to the `@TempDir` annotation with `ALWAYS` as its default.
* Add a `junit.jupiter.t

[2021-10-31 11:48] marcphilipp commented on #2663
@sbrannen IIRC `ReflectionUtils.hasCompatibleSignature()` is working as expected. Could you please double check?

[2021-10-31 11:55] #2754 closed

[2021-10-31 11:58] marcphilipp commented on #2584
@p1729 Sure!

[2021-10-31 12:00] marcphilipp commented on #2584
@signed Good point! There's also a couple of rewrite recipes at https://docs.openrewrite.org/reference/recipes/java/testing/junit5/

[2021-10-31 12:02] marcphilipp commented on #2757
I can see that being useful as well. If we add it, I think there should also be a configuration parameter for changing the default.

[2021-10-31 12:04] marcphilipp commented on #373
I'm not a Surefire expert. I'm afraid, you'll have to ask on StackOverflow or the Maven users list.

Yes, that should be addressed by the new format as well.

[2021-10-31 17:26] scordio commented on #2702
I think that bitwise operations are not the most common use case for Java development, so I'm probably targeting a niche area. My thoughts were that such an implicit conversion would not introduce side effects for other use cases and test authors could always define their own conversion logic, if there is any.

Having an annotation would also be nice. What I'd like to avoid is defining a custom co

[2021-10-31 17:28] marcphilipp commented on #2725
**Team decision:** Thanks for reaching out but we believe some core assertions are integral to using Jupiter and have therefore decided to not separate these two APIs.

[2021-10-31 17:28] #2725 closed

[2021-10-31 17:38] marcphilipp opened #2764 "Fix intermittent module-path ordering issue in MultiReleaseJarTests.checkDefault"
It seems the `junit-platform-maven-plugin` sometimes uses a wrong version of junit-platform-engine:

https://ge.junit.org/s/aqfcubud4haew/tests/:platform-tooling-support-tests:test/platform.tooling.support.tests.MultiReleaseJarTests/checkDefault()?anchor=e30&focused-execution=1&top-execution=1#L71

[2021-11-01 09:04] marcphilipp commented on #2703
I'm not sure how involved adding support for inline classes would be. @alyssum Would you be interested in spiking a solution?

[2021-11-01 09:11] marcphilipp commented on #2713
The first one could probably be emulated by `@EnabledOnOs({OS.LINUX, OS.MAC})` (disregarding AIX, Solaris, and others) so only the third one is problematic. I don't see us adding support for individual distros but you could create your own `ExecutionCondition` extension with an accompanying annotation.

[2021-11-01 13:09] marcphilipp commented on #2764
Looks like this was fixed by 74a6b4e51c8cf08b5336f23ff56516783c446cc5. 🤞

[2021-11-01 13:09] #2764 closed

[2021-11-01 15:43] marcphilipp commented on #2733
@dweiss Any updates?

[2021-11-01 16:23] dweiss commented on #2733
I haven't had the time, I'm sorry. Preemptive scheduling. I do have this on the list of things to do and I will return to it - it's not a stale issue (if you have spare cycles and wish to take over - please do).

[2021-11-02 00:43] bondolo commented on #2669
@marcphilipp I am definitely not an expert in this area. I suggestions above were based upon the concerns I struggled with in starting to enable parallelism in an existing project--a journey which is not yet completed. I would enthusiastically review any new material looking for ideas to advance our usage but, at this point, don't have much useful to contribute.

[2021-11-02 11:30] npathai commented on #2761
@marcphilipp Thanks. I have started the work on this.

[2021-11-02 14:20] sbrannen commented on #2759
Superseded by #2767.

[2021-11-02 14:20] #2759 closed

[2021-11-02 16:12] #2738 closed

[2021-11-03 10:24] dweiss commented on #2733
Is there anybody working with the codebase using IntelliJ Idea? Module inter-dependencies don't really want to import properly.

![image](https://user-images.githubusercontent.com/199470/140044056-d2e20113-5746-4433-8e84-7d6994bf113f.png)

[2021-11-03 10:36] sbrannen commented on #2735
Reopening to add the same support for `@CsvFileSource`.

[2021-11-03 16:27] marcphilipp commented on #2733
I'm using IDEA as well. Have you configured the Gradle JVM to be JDK 17?

[2021-11-03 16:34] dweiss commented on #2733
Yes, I did. And I tried a few times from scratch too. Something is completely crazy with the way the module dependency configuration got resolved (it passes but the result is strange). I'll keep digging (and if not, good old Eclipse worked for me).

[2021-11-03 17:04] sormuras commented on #2733
Which version of IDEA do you use?

Works for me with:

[code]

[2021-11-03 17:17] dweiss commented on #2733
I imported the project on another machine without problems. Go figure.

[2021-11-03 18:45] #2761 closed

[2021-11-04 01:51] hgschmie commented on #2751
completely understand. What I was trying to illustrate was that this annotation can not be used to e.g. disable tests based on runtime when the runtime can not load the test class and that is a problem for cross-compilation and testing which is IMHO a common use case.

One possible solution that I can see would be e.g. allowing to add this to the package-info.java file as an annotation on the pack

[2021-11-04 02:54] hakanai commented on #2725
I wonder if that's true. We at least seem to be surviving 100% on Hamcrest at this point in time.

I guess we just have to use forbidden-apis or similar to stop people using the JUnit ones.

[2021-11-04 04:51] hgschmie commented on #2751
So I spent a little bit of time with the code and here is what I see:

- beforeEach (in my extension) is called

- When the JupiterTestEngine starts, it creates a new engine descriptor in the `discover(EngineDiscoveryRequest, UniqueId)` method. This has all the test methods correctly discovered, even on JDK8. So at this stage, the engine can completely inspect all the test classes.
- The created `

[2021-11-04 06:51] marcphilipp commented on #2751
In order to check whether a `TestDescriptor` should be skipped all extensions need to be registered (since `ExecutionCondition` extensions determine whether it's skipped).

Could you use `@Tag` to mark those tests and skip them?

[2021-11-04 09:23] dweiss commented on #2733
Filed #2770 with the suggested code.

[2021-11-04 13:53] jbduncan commented on #2677
This feature might be quite useful for my [PR](https://github.com/junit-pioneer/junit-pioneer/pull/491) on junit-pioneer to allow "resources" - arbitrary objects - to be instantiated and shared amongst tests declaratively.

Specifically, if each "resource" were to have its own `ResourceLock` that could be created programmatically, then it would simplify making my extension thread-safe.

The propos

[2021-11-04 17:09] hgschmie commented on #2751
Hi @marcphilipp. Thank you for getting back quickly.

Yes, I agree that this is a hen-egg situation. However, as this will pretty much only affect the "based on the JRE version" checks (because those may be affected by the inability to load the class into the JVM), would it be possible to "prerun" these checks before we actually load the class into memory?

[2021-11-04 19:43] marcphilipp commented on #2677
It would have to be called immediately before starting execution on the engine level.

[2021-11-04 20:31] mmerdes opened #2771 "Support Kotlin top level functions as test methods"
In Kotlin, functions are first class citizens and do not need the context of a class definition.
Idiomatic Kotlin often tries to avoid as much code as possible.
The current implementation of JUnit Jupiter does not allow to execute such top level functions as tests.
As Kotlin top level functions are compiled to static JVM methods with a predictable class name and an annotation identifying the gener

[2021-11-04 20:32] mmerdes commented on #2771
Thanks to @jlink for alerting me to the possibility to identify compiled Kotlin files by annotation means.

[2021-11-04 23:51] hgschmie commented on #2751
Tagging only works to a point, BTW.

It falls down when it comes to nested test classes as the code will at some point during discovery (!) (so long before tags are evaluated) try to determine if a class has nested tests and in that case not do the careful inspection that it does to discover tests but simply call `ReflectionUtils.findNestedClasses()` which in turn tries to load the class (which th

[2021-11-05 07:46] sormuras opened #2772 "Overview of shadowed dependencies in standalone JAR"
The `META-INF/MANIFEST.MF` file stored in `junit-platform-console-standalone` artifact includes following lines:

[code]

However, there's no information which other artifacts are shadowed "as-is" (without renaming their packages) into this standalone (uber) JAR.

Let's generate an overview of all those artifacts and include it as `META-INF/shadowed-artifacts`:
[code]

Perhaps, that listing should

[2021-11-05 10:38] #2735 closed

[2021-11-05 11:17] marcphilipp commented on #2772
**Team decision:** Document list of all included artifacts in user guide.

[2021-11-05 12:10] marcphilipp commented on #2771
**Team decision:** @mmerdes will explore and potentially spike how this could be implemented.

Known caveats: No lifecycle methods (maybe `@BeforeAll`/`@AfterAll`), extensions that require test instances would throw exceptions

[2021-11-05 12:12] jlink commented on #2771
Mind that IDE's will have to adapt to show top-level functions as testable methods.

[2021-11-05 12:14] mmerdes commented on #2771
Well, they should show _anything_ meta-annotated with `@Testable` as executable anyway, shouldn't they?

[2021-11-05 12:25] jlink commented on #2771
But they don't. In many places. Other example:

[code]

I've already submitted a few bugs in that regard, e.g. https://youtrack.jetbrains.com/issue/KT-49491
You should open one for top-level functions as well.

I haven't looked at Eclipse's JUnit platform support in years. It may be better - or it may be worse.

[2021-11-05 13:49] jbduncan commented on #2677
Okay, thank you!

I wasn't sure at first if this would work for me, since my extension's resources are created at test runtime. But I think it could now, as all shared resources in my extension are declared with `@Shared` annotations, which I think my potential `ResourceLockProvider` could search for reflectively.

So I'm happy with the proposed API. 👍

[2021-11-05 19:02] sdoeringNew commented on #1997
I think this sounds like something we need.

But how does it work? I did not see any changed documentation on the pull request.

[2021-11-07 03:42] hglasgow commented on #2159
That sounds good. Then you could have a tag like @TempDir(cleanup = CleanupMode.ON_SUCCESS). That way you can specify the cleanup mode per directory.

[2021-11-07 06:40] sormuras commented on #2772
Creating the standalone JAR was successful: https://oss.sonatype.org/content/repositories/snapshots/org/junit/platform/junit-platform-console-standalone/1.9.0-SNAPSHOT/ -- however it doesn't seem to contain the generated `META-INF/shadowed-artifacts` file.

Also generating and publishing the snapshot version of the User Guide failed:  https://ge.junit.org/s/xepk3smp7cuww/failure#1

[2021-11-07 09:26] marcphilipp commented on #1997
The docs are here: https://junit.org/junit5/docs/current/user-guide/#launcher-api-post-discovery-filters-custom

[2021-11-07 09:34] marcphilipp commented on #2159
Yep, I think that would be the most discoverable API. Do you have time change your PR accordingly?

[2021-11-07 09:37] #2772 closed

[2021-11-07 09:52] sormuras commented on #2772
Here it _lists_! ✅

https://junit.org/junit5/docs/snapshot/user-guide/#running-tests-console-launcher

[2021-11-07 10:41] hglasgow commented on #2159
Yep, I'll work on it this week.

[2021-11-07 12:24] marcphilipp commented on #2751
Thanks for trying out tags. I had not thought about class loading still taking place during discovery. I don't think that's a bug but having classes that can't be loaded on the test JVM is rather an edge case.

May I ask why are you attempting to run these tests on Java 8 at all if they don't actually support that release?

The other idea I had was creating a lazy wrapper of the problematic extens

[2021-11-07 18:15] Hu1buerger opened #2774 "[FR] Mark tests preconditions / dependencies"
Assume you are testing a FIFO-Queue.

In that case you can  imagine writing these two abstract test cases:

[code]

Lets assume that push is faulty. The test results would indicate that both testcases are faulty. The report is not conclusive about what tested behavior is faulty. Without reading and inspecting the tests no real conclusions could be made.

### Proposal:

Therefore I propose the foll

[2021-11-08 09:26] sbrannen commented on #2774
- Closing as a duplicate of #1767

[2021-11-08 09:26] #2774 closed

[2021-11-08 15:02] Hu1buerger commented on #2774
@sbrannen It seems as if that never made it to production. And I firmly believe this is a feature to reduce ambiguity

[2021-11-09 07:24] e-ts opened #2775 "apiguardian-api version mismatch between source code and published POM"
Hello friends, I found something interesting that I couldn't find an explanation for. I wish someone more experienced with the code would take a look at it and try to figure out why.

The POM on Central for junit-jupiter-api:5.7.2 depends on apiguardian-api:1.1.0 while the source code on tag r5.7.2 declares version 1.1.1.

https://search.maven.org/artifact/org.junit.jupiter/junit-jupiter-api/5.7.2

[2021-11-09 08:59] sbrannen commented on #2775
Good catch.

I'm not sure why that's the case, but it seems to have been _fixed_ before 5.8.0 M1.

Perhaps @marcphilipp can provide further information.

[2021-11-09 09:32] #2520 closed

[2021-11-09 15:07] sebersole commented on #2393
So any idea when 5.9 will be released now?

[2021-11-09 15:36] marcphilipp commented on #2775
It appears the `r5.7.2` tag was pointing to the wrong commit. Fortunately, I still had the correct tag locally. I've tried to find out how that happened to no avail. I'll keep an eye out for the next few releases to ensure this doesn't happen again.

[2021-11-09 15:36] #2775 closed

[2021-11-09 15:36] marcphilipp commented on #2775
@e-ts Thanks for bringing this to our attention!

[2021-11-09 18:40] hgschmie commented on #2751
We are using Junit 5 for unit tests in the jdbi project (https://jdbi.org/). Our code is compiled to Java 8 byte code but at this point, we do require Java 11+ for the tool chain.

With the deprecation of Java 8, we moved the status of Java 8 support to "mature, supported, best effort" and placed our base line for testing at Java 11. As a result, we started to modernize some of the libraries that

[2021-11-11 21:35] akruijff opened #2778 "Using a single aggregator on the method level"
# The problem
When not all parameters consume the same number of arguments, then it is hard to consume the right arguments.

I have discusses the problem here: #2777

I currently do this with a static variable and a call from `@BeforeEach` setup method to reset method, but I do not like this solution.

## Example
[code]

# Solution
I would like the option to use `@AggregateWith` on the method leve

[2021-11-12 02:04] kriegfrj opened #2779 "[reflection] ReflectionSupport to return Streams"
Methods like `ReflectionSupport.findField` currently return a `List<Field>`.

Under-the-hood, the utils typically use streams and then copy all the elements into a list to return.

Very often, users of `findfield()` only need to iterate once through the returned list of fields (in some of my implementations, I've called stream() or forEach() on the result). Storing the stream of fields in an inter

[2021-11-12 08:12] dweiss commented on #2733
Hi @marcphilipp. Is there anything else needed do be done here? Let me know, thanks.

[2021-11-12 08:32] sbrannen commented on #2779
I understand the rationale and can see the desire for that, though I don't think it's a high priority to refactor the code base to go that route.

But maybe it's worth it to add such variants to `ReflectionSupport` for third parties.

Let's see what the rest of the team thinks.

[2021-11-13 10:25] marcphilipp commented on #2778
@akruijff Thanks for raising the issue! `ArgumentsAggregator` are currently instantiated once per test method hence the proposed solution wouldn't work since `index` would be out of bounds after the first invocation. Moreover, supporting different ways of using `ArgumentsAggregator` would be confusing.

Instead, I think we could add a `startIndex` attribute to the `@AggregateWith` annotation or ad

[2021-11-14 12:38] #2733 closed

[2021-11-14 12:39] marcphilipp commented on #2733
@dweiss No, everything was fine, it was just stuck in my review queue. Thanks for your contribution! 👍

[2021-11-14 12:44] marcphilipp commented on #2779
I see it similarly. I wouldn't object a contribution that adds such variants but also don't see it as a high priority for the team.

[2021-11-14 15:51] marcphilipp commented on #2751
@hgschmie If you haven't already tried, please set `-Djunit.platform.discovery.listener.default=logging` in your Java 8 execution of Surefire. That should more or less silently skip classes that can't be loaded.

[2021-11-14 15:55] marcphilipp commented on #2393
@sebersole This change has not yet been made. Would you be interested and have time to work on it?

[2021-11-14 22:07] akruijff commented on #2778
@marcphilipp That solution seems very error prone, because it requires that, when the parameters change, that change is administered two places. This would deter me from using it.

Why do you think that my solution would be confusing?

The rule is: the more specific `ArgumentsAggregator` overrides the less specific `ArgumentsAggregator` i.e. when an `ArgumentsAggregator` is specified at both the m

[2021-11-15 06:40] marcphilipp commented on #2778
Thanks for sharing your perspective! We'll discuss this in the team.

[2021-11-18 14:10] Nikasan commented on #2120
the same

[2021-11-19 11:21] marcphilipp commented on #2778
**Team decision:** We think this is a corner case and adding support for method-level aggregators would add considerable complexity to the codebase. We're open to reconsider this decision in case there's more interest from the community.

[2021-11-19 11:21] #2778 closed

[2021-11-19 11:24] marcphilipp commented on #2779
**Team decision:** We'd be okay with a contribution that adds `Stream` variants of these methods but won't make it a priority.

[2021-11-19 11:32] marcphilipp commented on #2677
**Team decision:** Let's go with the above proposal.

@U1F984 @jbduncan Is one of you interested in working on this?

[2021-11-19 14:45] jbduncan commented on #2677
@marcphilipp I'd love to! However I still have https://github.com/junit-pioneer/junit-pioneer/issues/348 to finish, so I'd be happy for anyone else to pick this up before me.

[2021-11-19 14:50] jbduncan commented on #2677
For clarity, my JUnit Pioneer work is not actually blocked on this feature, as I've found an alternative solution to programmatic `ResourceLock`s for my needs.

[2021-11-19 19:25] FlorianCousin commented on #2301
What if we have several parameters in a test as follows ?
[code]

For such a test, I would get my parameters as follows :
[code]

It seems that I cannot write
[code]

Is there any trick I missed ?

[2021-11-21 15:45] marcphilipp commented on #2301
`Named` allows you to override the name of _one_ argument.

Hence, you could do

[code]

and then use the `name` attribute in order to use that name to describe the entire invocation:

[code]

[2021-11-21 18:17] FlorianCousin commented on #2301
I see, thank you @marcphilipp.

[2021-11-22 15:29] yoshivda commented on #2087
Is there any update on this? I'm still running into the same problems as described above. We use tests to grade student submissions and after migrating from JUnit 4 to 5 we run into execution times going over the limit of our system, thereby giving a generic timeout warning without any test results instead of simply saying "test x timed out"

[2021-11-22 19:04] marcphilipp commented on #2087
@yoshivda There's no update since the team hasn't had time to work on it, yet. Would you be interested in submitting a PR?

[2021-11-24 18:33] dogayalcin commented on #2760
Hi, can I try this?

[2021-11-25 01:18] LifeIsStrange commented on #1919
is this work related? https://github.com/openjdk/jdk/commit/24e586a04368a76cd9f37aa783b974b9e0351d58

[2021-11-25 04:00] sormuras commented on #1919
No.

https://bugs.openjdk.java.net/browse/JDK-8276764 is about keeping order within a "class file container", such as in a `.jar` or `.jmod` file.

[2021-11-25 04:10] sormuras commented on #2760
Java records do always provide names (of their components) at runtime. However, method parameter names require a specific `javac` configuration in order to be persisted into their class files and only then they are available at runtime.

Thus "parameter names should be examined (`set` and `expectedCount`)" is not guaranteed to work.

Perhaps https://github.com/openjdk/amber-docs/blob/master/eg-dra

[2021-11-25 12:42] hjohn commented on #2760
Even though this may not always work, a prerequisite can simply be that parameter name information must be available in order for this to work.  This can be documented.  In at least the projects I work on professionally, this is practically always on already to help Spring and Jackson do their things (the information can also be gleaned from debug info).

[2021-11-26 10:06] jbduncan commented on #2677
@marcphilipp A follow-up query from me: do you know if JUnit Jupiter already ensures that `ResourceLock`s are obtained in such an order as to prevent the [dining philosophers problem](https://en.wikipedia.org/wiki/Dining_philosophers_problem), by any chance?

If not, then I, or whoever picks this up, will need to ensure the locks are sorted when being moved from `ResourceLockProvider`s to the rest

[2021-11-26 10:58] sormuras commented on #2616
I added an examplary `cli-1.8.1` alias to the catalog: try `jbang cli-1.8.1@junit-team` to start the console launcher.

[2021-11-26 11:30] marcphilipp commented on #2760
**Team decision:** We want to avoid introducing unnecessary complexity that would only make tests more brittle and hence don't think this should be implemented.

[2021-11-26 11:30] #2760 closed

[2021-11-26 11:38] marcphilipp commented on #2677
They are sorted here: https://github.com/junit-team/junit5/blob/6a47ae152003a6ac3e77f2e604159b71e4f82953/junit-platform-engine/src/main/java/org/junit/platform/engine/support/hierarchical/LockManager.java#L61

[2021-11-26 11:41] sormuras commented on #2616
@maxandersen Is there a specified (documented, or perhaps a common/well-known) version name pattern for catalog aliases?

At the moment, we are going with `cli-VERSION@junit-team` and duplicating an alias configuration for pointing to the _latest_ version via `cli@junit-team`.

[code]
Copied from: https://github.com/junit-team/jbang-catalog/blob/main/jbang-catalog.json

[2021-11-26 13:09] jbduncan commented on #2677
@marcphilipp Great, thank you for answering so quickly. 👍

[2021-11-26 13:27] maxandersen commented on #2616
up to what you are after.
Having some kind version in the name is the simplest for now.

There are branch/tag support but it (currently) requires a full form string: cli@junit/jbang-catalog/1.8.1 ￼

If we can find a way to represent it better we can definitely do so.

Might be able to make it cli@junit:1.8.1 come to think of it. But for now that isn't there.

[2021-11-27 12:55] maxim5 commented on #2134
A potential use case: add a tag from the an extension.

[2021-11-29 12:12] #2159 closed

[2021-11-29 15:59] mythsunwind commented on #1858
Hi @marcphilipp Is there any chance to tackle this issue somehow? Selenium 4 is out now and unfortunately is using `ExecutorService` with `newFixedThreadPool` inside which results in JUnit 5 tests maxing out the maximum parallel pool size and not stopping new tests from running when it is exceeded. This fills up the queue on selenium grids until reaching 256 + your parallel count setting.

I know

[2021-11-29 16:35] marcphilipp commented on #1858
The only idea I have off the top of my head is to prevent the fork join pool for compensating one way or another but I haven't investigated the feasibility of this, yet.

@mythsunwind Would you be interested in digging deeper?

[2021-11-30 03:09] Attyuttam commented on #2779
Hi, since this issue hasn't been assigned to anyone yet,  can i please have a look into it ?

@marcphilipp /@sbrannen, so if I understand correctly, there are methods which are currently returning a list of Fields but we would want to return a Stream instead of the list to reduce the overhead ?

Will it be possible to direct me to the sections where these changes might be needed.

 I am fairly new

[2021-11-30 10:51] marcphilipp commented on #2779
@Attyuttam Sure, go for it! I would propose you start by implementing a `Stream` variant of `ReflectionSupport.findFields` called `findFieldsAsStream` and open a draft PR so we can see how involved that would be. Does that make sense to you?

[2021-11-30 16:50] Sowtch commented on #2205
Hello, I am interested in contributing to this issue.
His it still avaible ? :)

[2021-11-30 21:34] bastiat commented on #2666
@marcphilipp _We would rather not introduce an extension to handle exception thrown by extensions._
it seems to be my problem:
`
        java.lang.IllegalStateException: Failed to load ApplicationContext
	at org.springframework.test.context.cache.DefaultCacheAwareContextLoaderDelegate.loadContext(DefaultCacheAwareContextLoaderDelegate.java:132)
	at org.springframework.test.context.support.DefaultT

[2021-12-01 13:19] sbrannen commented on #2205
@Sowtch, yes this issue is still open.

[2021-12-01 15:55] yoshivda commented on #2087
@marcphilipp I am in no way familiar with the JUnit source code and this change seems to be quite involved. Adding the Enum to the Timeout class is not that big of a deal, but I wouldn't know where to go next...

[2021-12-01 18:04] Sowtch commented on #2205
Ok thank you for your answer, I'll take care of it then.

[2021-12-01 18:42] marcphilipp commented on #2087
You'd have to check for the configured config here and probably implement a different version of `TimeoutInvocation` that runs the timeout in the executor service.

https://github.com/junit-team/junit5/blob/17d3b440f3b6c3ba4616fc927e7782e74582ea86/junit-jupiter-engine/src/main/java/org/junit/jupiter/engine/extension/TimeoutExtension.java#L170-L171

[2021-12-01 18:47] marcphilipp commented on #2666
Instead of using `SpringExtension`, could you instead created an application context in the test method and assert it throws an exception?

[2021-12-02 11:22] jlink commented on #2748
Any news on this one?

Here's how jqwik currently tries to determine the "real" name of a Kotlin function:

[code]

[2021-12-02 13:30] marcphilipp commented on #2748
That looks like a good start! Would you be interested in submitting a PR that adds support for this to `MethodSelector` and `MethodSource`?

[2021-12-02 15:05] jlink commented on #2748
To be frank, a full blown PR with all the formatting and style rules of JUnit is a lot of hassle.
I can offer a solution sketch (tests included of course), if someone else is willing to take care of the enforced policies.

[2021-12-02 18:56] minherz commented on #1778
It does not work for me. Tested on 3.0.0-M3 -- 3.0.0-M5 with
JUpiter: 5.8.2
Java: 1.8.0_292
Maven: 3.8.1

I get
[code]

[2021-12-02 19:00] bastiat commented on #2666
Yes, sure. thx for reply. I will do so.

[2021-12-03 12:18] sbrannen commented on #2666
I was going to suggest the same. So, thanks for recommending that, @marcphilipp.

If you're using Spring Boot, see also [ApplicationContextAssert](https://docs.spring.io/spring-boot/docs/current/api/org/springframework/boot/test/context/assertj/ApplicationContextAssert.html) and related classes in the same package.

[2021-12-03 13:58] sbrannen commented on #2663
Yes, as far as I know `ReflectionUtils.hasCompatibleSignature()` is working expected.

In any case, `ReflectionUtils.hasCompatibleSignature()` is an internal implementation detail that is used to support compatible method sub-signatures when generics are involved.

That method is not intended to support widening conversions like the 2 `isAssignableTo(...)` variants in `ReflectionUtils`.

Phrased d

[2021-12-03 13:58] #2663 closed

[2021-12-03 15:09] marcphilipp commented on #1778
Anything in there?

[2021-12-03 15:09] marcphilipp commented on #2748
Sure, we'll take what we can get! 🙂

[2021-12-03 20:24] minherz commented on #1778
Something like
[code]

[2021-12-04 09:29] marcphilipp commented on #1778
Looks like Surefire is not using its `surefire-junit-platform` provider implementation. Youu can try forcing it as described here: https://maven.apache.org/surefire/maven-surefire-plugin/examples/providers.html. If that doesn't help, please raise a new issue with a reproducer project.

[2021-12-04 16:55] sbrannen commented on #2393
@juliette-derancourt is currently working on a prototype for this feature.

[2021-12-04 17:57] sebersole commented on #2393
Sorry @marcphilipp I was on vacation when you sent that and it got lost in the weeds.

I'd be willing to help if I can.  @juliette-derancourt - let me know if there is something I can do

[2021-12-05 00:37] hglasgow commented on #1668
I have the `ArgumentsAccessor.getInvocationIndex()` idea working on my fork. Ill raise a PR for it.

[2021-12-05 18:25] juliette-derancourt commented on #2393
@sebersole Thanks for the offer!
I just opened a draft PR, you're welcome to review it if you want to 🙂 (The documentation is missing for now)
Please tell me if this is what you had in mind when opening this issue!

[2021-12-05 21:45] klease opened #2787 "Extend ParallelExecutionConfiguration to specify a predicate for determing if a pool is saturated"
I'm working on the Apache Camel project which uses parallel execution on a module with a large number of test cases (over 2400 classes and over 6000 tests.) After upgrading to 5.7.2 or later we were getting RejectedExecutionException which we solved by using a custom configuration with a large value for maxPoolSize.

The cause appears to be that the Tasks for the test classes all call `ForkJoinPoo

[2021-12-06 08:54] sbrannen commented on #2787
How would one supply the `Predicate`?

[2021-12-06 21:48] klease commented on #2787
By implementing the new method in a custom implementation of ParallelExecutionConfiguration, for example:
[code]

[2021-12-07 08:19] sbrannen commented on #2787
Thanks for the clarification.

Wouldn't `getSaturatedPredicate()` make more sense (_saturated_)?

[2021-12-08 13:26] mbucc opened #2788 "Make console launcher --classpath argument parser work like java's when referring to a jar directory"
The junit-platform-console-standalone  --classpath option requires you to list all the jars in a directory; for example, `-cp "testlib/mockito-core-4.1.0.jar:testlib/byte-buddy-1.12.3.jar:testlib/byte-buddy-agent-1.12.3.jar:testlib/objenesis-3.2.jar:classes`.

This is different than Java's --classpath, which supports the more compact `-cp "testlib/*`.  Coming from java and javac, this was unexpect

[2021-12-08 16:01] sormuras opened #2789 "List observable test engines and show their properties"
Similar to what `java --list-modules` prints, let's introduce a `junit --list-engines` option to the console launcher that prints an overview of observable test engines.

[2021-12-08 16:19] sbrannen commented on #2788
Yes, I think we should document that advanced option.

[2021-12-09 12:37] mbucc commented on #2788
@sbrannen How to tackle checkbox two above?  Update the Console Launcher `--help` output?

I got as far as finding [the gradle build script](https://github.com/junit-team/junit5/blob/5a20a2ad86365e06c48a68e2542b7d901e45042f/documentation/documentation.gradle.kts#L96) that (I think) loads a .txt file that contains the launcher option documentation.  But I could not find that text file in the repo o

[2021-12-09 12:43] mbucc commented on #2788
@sbrannen Never mind, I got it: https://github.com/junit-team/junit5/blob/5a20a2ad86365e06c48a68e2542b7d901e45042f/documentation/documentation.gradle.kts#L172-L176

[2021-12-09 13:00] scordio opened #2791 "Support JDK concrete types for `List`, `Set` and `Map` in `@EmptySource` / `EmptyArgumentsProvider`"
I have tests targeting a legacy library, which unfortunately exposes parameters with concrete types of collections (e.g., `ArrayList`, `HashSet`, etc.) instead of the corresponding interfaces.

Currently, the `EmptyArgumentsProvider` implementation targets only interfaces:

https://github.com/junit-team/junit5/blob/4cd1fc064c6864d01ccacf08c4117c7c39d05e0a/junit-jupiter-params/src/main/java/org/jun

[2021-12-09 13:47] sbrannen commented on #2791
The question is where to draw the line regarding which concrete types are supported.

As the Javadoc states:

That was a conscious design decision to limit the maintenance scope of the feature.

In any case, the team will revisit this topic during an upcoming meeting.

[2021-12-09 14:06] juliette-derancourt commented on #2393
@sebersole Yes, that would work like this 👍

[2021-12-09 15:46] sebersole commented on #2393
Looks beautiful to me :)

[2021-12-10 11:48] marcphilipp commented on #2787
**Team decision:** Add `ParallelExecutionConfiguration.getSaturatedPredicate()`

@klease Would you be interested in submitting a PR for this?

[2021-12-10 11:58] marcphilipp commented on #2789
**Team decision:** Feel free to go ahead! 🙂

[2021-12-10 12:04] marcphilipp commented on #2788
**Team decision:** We're not opposed to aligning the behavior with the JDK as long as it doesn't add considerable complexity to the codebase. Thus, we should first do some research whether the functionality from the JDK can be reused.

@mbucc Are you willing to look into this some more?

[2021-12-10 12:08] mbucc commented on #2788
@marcphilipp Sure.

[2021-12-10 18:12] klease commented on #2787
Yes, of course. It will be my first for junit5 so I'll try to follow the guidelines.

[2021-12-10 18:21] marcphilipp commented on #2791
Couldn't we check whether the type implements `Collection` and has a public no-arg constructor?

[2021-12-11 13:39] mbucc commented on #2788
Here's my suggested approach.  Let me know if this is OK and I'll start work a pull request.

Current code:
* ConsoleLauncher.java is the entry point
* CommandLineOptionsParser is a service  used in the launcher
* PicocliCommandLineOptionsParser is the provider of this service
* CommandLineOptions is (kind of) a value type.

"kind of" because it is all getter/setter except for `getExplicitSelector

[2021-12-12 00:33] mpkorstanje commented on #2748
What is the desired solution architecture at the moment?

Is the idea to implement a separate module based on kotlin and maybe kotlin-reflect? Or is the current solution architecture to mangle and unmangle names?

[2021-12-12 10:16] arvindersinghchhabra opened #2793 "Why @MockBean Environment doesn't work in @WebMvcTest annotated controller class Junit 5"
Why @MockBean Environment(Interface) doesn't work in @WebMvcTest annotated controller class Junit 5 However same thing is working fine in Service layer here service layer doesn't have @WebMvcTest annotation.

Is this a bug or i am missing something?

Jupiter Version : 5.8.1
Spring boot 2.3.4.RELEASE
Java 8

[2021-12-12 11:37] jlink commented on #2748
@mpkorstanje What I had in mind is to treat function name handling in the existing platform module differently if the target class is a Kotlin class. This is indeed a somewhat mangled design, but every test engine would profit automatically.

A more modularized approach would be - as you suggest - to differentiate different target languages in different platform modules. My guess is that this will

[2021-12-12 16:41] sbrannen commented on #2793
Since your question is primarily related to Spring Boot testing features, please open an issue in the [Spring Boot issue tracker](https://github.com/spring-projects/spring-boot/issues).

In light of that, I am closing this issue.

[2021-12-12 16:41] #2793 closed

[2021-12-12 17:33] jbduncan commented on #2677
@marcphilipp I'd love it if you assigned this to me, as I've managed to park my junit-pioneer work and find time to start looking at this.

[2021-12-12 21:20] famod opened #2794 "Support multiple `junit-platform.properties` on the classpath"
I implemented a [`ClassOrderer` for Quarkus](https://github.com/quarkusio/quarkus/blob/2.6.0.CR1/test-framework/junit5/src/main/java/io/quarkus/test/junit/util/QuarkusTestProfileAwareClassOrderer.java) and the idea was to enable that orderer by default for all Quarkus users (and also for the Quarkus CI).
But I overlooked the fact that `junit-platform.properties` is only expected once on the classp

[2021-12-12 22:10] famod commented on #2794
(I think the bot has mistakenly picked up the IntelliJ IDEA label because I merely used the word "idea".)

[2021-12-14 14:36] j1cs opened #2795 "PreconditionViolationException: Launcher session has already been closed"
## Steps to reproduce
I created a project with the cucumber archetype which has the junit5 suite.
[code]
then I added the following profile:
[code]

When adding a profile to send data to datadog the command `mvn test -Pdd-civisibility` shows the following error:
[code]
And the report says:
[code]

Sample project:
https://github.com/j1cs/cucumber-junit5-datadog-error

Just clone it and run `mvn cle

[2021-12-15 17:23] JOpsDev opened #2796 "Build fails on linux"
## Steps to reproduce

`./gradlew build`

[code]

## Context

[code]

[2021-12-15 17:31] JOpsDev commented on #2796
https://gradle.com/s/mi7qrdi4yvfue

[2021-12-15 20:07] mpkorstanje commented on #2795
You may want to raise this issue with DataDog. It would appear that their instrumentation is misbehaving.

Looking at their agent, it is written and tested against version 1.3 of the JUnit Platform. To make the Suite Engine possible some of the internals were changed and I wouldn't be surprised if that broke some of their implicit assumptions.

https://github.com/DataDog/dd-trace-java/blob/master/

[2021-12-15 22:15] mpkorstanje commented on #2795
Ah. No. It wasn't the introduction of the  suite engine but rather the launcher session. After the init of any class implementing the `Launcher` interface the `registerTestExecutionListeners` method is called on that instance. This doesn't work for the `ClosedLauncher` for obvious reasons.

https://github.com/DataDog/dd-trace-java/blob/master/dd-java-agent/instrumentation/junit-5.3/src/main/java/d

[2021-12-15 23:36] j1cs commented on #2795
Perfect. Thank for your clarification. We should close the issue then, right?

[2021-12-16 10:36] mpkorstanje commented on #2795
I'm not part of the JUnit team. But feel free to do so.

[2021-12-16 11:52] sormuras commented on #2795
Right. (-:

[2021-12-16 11:52] #2795 closed

[2021-12-17 11:08] OrangeDog opened #2798 "Allow defining scope in the @TempDir annotation"
Currently you can choose the scope globally, but not on individual tests.

Some tests may require unique directories, and some may require shared ones.

[2021-12-17 13:09] jbduncan commented on #2798
The [new `TemporaryDirectory` feature](https://github.com/junit-pioneer/junit-pioneer/issues/348) in junit-pioneer, which I'm working on, will have this feature out-of-the-box. :)

[2021-12-18 14:25] marcphilipp commented on #2796
I tried reproducing this in a Docker container locally using the following commands:

[code]

I could not reproduce it ([resulting build scan](https://scans.gradle.com/s/qyihwptdimrvq)).

@sormuras told me your disk was full before/during/after the build. I suspect that might have somehow caused it. Please let us know if you can still reproduce the issue on your end.

[2021-12-18 14:25] #2796 closed

[2021-12-18 14:32] marcphilipp commented on #2798
For the time being, I would recommend not to set the scope but use a `static` `@TempDir` field as [described in the user guide](https://junit.org/junit5/docs/current/user-guide/#writing-tests-built-in-extensions-TempDirectory).

[2021-12-18 14:32] #2798 closed

[2021-12-18 14:37] marcphilipp commented on #2788
@mbucc Thanks for the analysis! I agree that expanding the entries should be done by a different class. I wonder if `additionalClasspathEntries` shouldn't be a `List<String>` now that we start accepting wildcard patterns.

Regarding, the implementation of the "expansion" logic: have you found anything in the JDK that we can reuse for that?

[2021-12-18 14:38] marcphilipp commented on #2677
@jbduncan Sorry it took 6 days, but you're now assigned.

[2021-12-18 17:38] marcphilipp commented on #2748
I think it depends on what we need. If we need to add a dependency a non compile-only dependency on Kotlin, we should definitely put it into a separate module. If we can get a way with a few checks using Java reflection, I don't see a need for another module.

[2021-12-18 22:50] mbucc commented on #2788
I will look.

[2021-12-19 13:43] MaratCrash commented on #2669
@marcphilipp if its possible I can join to the issue and solve that.

[2021-12-20 07:29] jlink commented on #2748
If you want the perfect solution, a dependency on Kotlin is required because only Kotlin really knows how Kotlin names are being handled. The translation to bytecode methods is not specified - at least I could not find it. If a best-guess solution suffices, then one can get away without a dependency and use code along the lines I sketched above.

[2021-12-20 14:29] crizzis opened #2800 "Global config"
Some config options (e.g. `@DisplayNameGeneration`) could offer a way to be configured globally.

I'm thinking `.properties` file or package-level annotations

[2021-12-20 16:14] sbrannen commented on #2800
The `DisplayNameGenerator` can already be set via `junit-platform.properties`.

Have you read the [User Guide](https://junit.org/junit5/docs/current/user-guide/#writing-tests-display-name-generator-default)?

[2021-12-20 17:27] crizzis commented on #2800
Totally missed that, sorry.

Closing issue.

[2021-12-20 17:27] #2800 closed

[2021-12-21 13:01] CorentinDelrue commented on #2205
I hope this little doc update done with @Sowtch will be satisfying :)

[2021-12-21 16:15] sbrannen commented on #2800
No problem.

The Javadoc for `DisplayNameGenerator` and `@DisplayNameGeneration` currently does not mention the global configuration option; however, that will be addressed in #2769. So, kudos to @marcphilipp for having already fixed that.

[2021-12-21 23:06] timdawborn commented on #242
@simondean Out of interest, how did you detect these? I'm looking to implement similar logic and am searching for prior art currently before implementing something bespoke.

[2021-12-24 08:24] christophs78 commented on #1858
I´m also fighting with this issue. (see https://github.com/SeleniumHQ/selenium/issues/10113, https://github.com/primefaces/primefaces/pull/8145)
**Implementing our own ParallelExecutionConfigurationStrategy only helps for Java 11, but does not work at all with Java 8 and has different issues with Java 17.**

[2021-12-27 17:32] marschall opened #2803 "junit-jupiter-api imports exported packages"
The `junit-jupiter-api` OSGi bundle imports its exported packages.

## Steps to reproduce

Among others `junit-jupiter-api` OSGi bundle imports the following packages through the `Import-Package` manifest header:

- `org.junit.jupiter.api`
- `org.junit.jupiter.api.extension`
- `org.junit.jupiter.api.function`
- `org.junit.jupiter.api.parallel`

See `junit-jupiter-api-5.8.2.jar/META-INF/MANIFEST.MF

[2021-12-29 00:21] scordio commented on #2791
@marcphilipp your proposal looks good to me. Can I prepare a PR with this approach or rather wait for the official decision of the team?

[2021-12-29 00:35] scordio commented on #2791
Right after submitting my last comment, I realized that there are already collections having a public no-arg constructor that shouldn't be used in standard flows.

For example, from Hibernate:
* [`PersistentList`](https://github.com/hibernate/hibernate-orm/blob/0b2a357670ae41aac326f99d9c8b38f825f23989/hibernate-core/src/main/java/org/hibernate/collection/internal/PersistentList.java#L33-L37)
* [`P

[2021-12-29 01:54] nhomble opened #2804 "test arguments are not templated into @parameterizedtest name"
## Steps to reproduce

https://github.com/nhomble/junit5-display-name-repro

If I write
[code]
then the second argument is **not templated** into the name.

## Context

 - Used versions (Jupiter/Vintage/Platform):
[code]
 - Build Tool/IDE: Intellij 2021.3

## Deliverables

- [ ] ...

[2021-12-29 10:07] christophs78 commented on #1858
Searching for ideas how to fix the Selenium 4 / JUnit  5 / Parallelism - issue....

- One option would be talking to Selenium-team about bringing back OkHttp as an alternative option to AsyncHttpClient. (Because we know this issue was introduced by Selenium switching from OkHttp to AsyncHttpClient.)
- Do we understand why this work´s with Java 11 but (due to different issues) not with Java 8 and J

[2021-12-29 14:17] juliette-derancourt commented on #2804
I believe this is actually an expected behavior of the [MessageFormat](https://docs.oracle.com/javase/7/docs/api/java/text/MessageFormat.html) name.

As stated in [this section of the user guide](https://junit.org/junit5/docs/current/user-guide/#writing-tests-parameterized-tests-display-names):

[2021-12-29 15:44] nhomble commented on #2804
Apologies @juliette-derancourt, you're right. I reviewed the docs and was able to confirm your fix https://github.com/nhomble/junit5-display-name-repro/blob/master/src/test/java/SampleTest.java#L8

[2021-12-29 15:44] #2804 closed

[2021-12-29 17:49] mbucc commented on #2788
@marcphilipp  No luck.  Quoting https://stackoverflow.com/a/6577660,

https://github.com/openjdk/jdk/blob/master/src/java.base/share/native/libjli/wildcard.c

`<pendantry>`
As best I can figure, the license on that C code is GPL v2.  My understanding is that a translation (e.g., C to Java) is a derived work.  Based on this text from https://github.com/openjdk/jdk/blob/master/ADDITIONAL_LICENSE_INF

[2021-12-29 17:58] juliette-derancourt commented on #2804
Great! 👍

[2021-12-29 21:40] christophs78 commented on #1858
# Settings
Debugging (parallelism = 2, tests = 5, custom impl. of ParallelExecutionConfiguration, ParallelExecutionConfigurationStrategy)

# Java 8
![image](https://user-images.githubusercontent.com/10461942/147704924-8736b803-13c1-4f38-b76d-1c163088cfb0.png)
look at `size` and `active`

# Java 11
![image](https://user-images.githubusercontent.com/10461942/147705174-2ae87502-70eb-474f-acc2-b30336b

[2021-12-30 01:07] titusfortner commented on #1858
For what it's worth, selenium can't go back to OkHttp, because the new features in Selenium 4 require the asynchronous functionality from AsyncHttpClient

[2021-12-30 12:28] christophs78 commented on #1858
IMO both sides (JUnit 5 and Selenium 4) do nothing "wrong" on their own. But together (paired with Parallelism) something goes wrong.
My current best bet is the combination of `ForkJoinPool` (used by JUnit 5) with `Executors.newFixedThreadPool` (used by Selenium 4 as part of https://github.com/SeleniumHQ/selenium/blob/28070d2de242978beff7f5ffa0c54fbe805df401/java/src/org/openqa/selenium/remote/ser

[2021-12-30 13:59] scordio commented on #2702
As the stale bot just commented on #2711, I wanted to check if any decisions have been made about how this topic might move forward. Would `@IntegralToBytesConversion` be the right way to go?

[2021-12-30 23:28] christophs78 commented on #1858
With the second (cleaned up and forced pushed) commit we are getting into shape. It even work´s fine on Java 8, 11 and 17 even without of implementing our own ParallelExecutionConfigurationStrategy.

[2022-01-01 08:31] christophs78 commented on #1858
Maybe there´s a ForkJoinPool-regression in Java 17 causing this issues. We are further investigating. (https://github.com/SeleniumHQ/selenium/issues/10113#issuecomment-1003525910)

[2022-01-01 22:03] christophs78 commented on #1858
Java 17 - issue - reproducer: https://github.com/christophs78/ForkJoinPoolReproducer

[2022-01-02 08:52] christophs78 opened #2806 "add saturate-Predicate to ParallelExecutionConfiguration"
Java 17 did some internal changes to `ForkJoinPool` which e.g. affects the combination of JUnit 5 + Selenium 4 + parallel execution.

see https://github.com/SeleniumHQ/selenium/issues/10113, https://github.com/junit-team/junit5/issues/1858

https://stackoverflow.com/questions/69768534/why-does-java-17-throw-a-rejectedexecutionexception-when-adding-tasks-to-a-forkj suggest to define saturation-pred

[2022-01-02 09:00] christophs78 commented on #2806
duplicate of #2787 - sorry!

[2022-01-02 09:00] #2806 closed

[2022-01-02 09:03] christophs78 commented on #1858
There´s already https://github.com/junit-team/junit5/issues/2787 and https://github.com/junit-team/junit5/pull/2792 covering this.

[2022-01-02 09:16] christophs78 commented on #2545
`getSaturate` gets covered by https://github.com/junit-team/junit5/pull/2792

[2022-01-04 11:29] LifeIsStrange commented on #1919
https://github.com/spring-projects/spring-framework/issues/27701

Spring 6.0 now expose a method getDeclaredMethods that gets the methods in a class in their order of declaration.
Since it is used internally we can assule the approach is reliable and actively maintained.
I wonder how Junit could leverage this implementation.

[2022-01-04 12:35] forax commented on #1919
@LifeIsStrange
The order of the methods inside the classfile is different from the order of the methods in the Java file, see [1].

What Spring does is maintaining the same order of the methods in the classfile when the bytecode is transformed,
so this is unrelated to this issue.

[1] https://github.com/spring-projects/spring-data-commons/blob/788457c90132ae7ca893791d091279faa8e76abe/src/main/java

[2022-01-04 19:44] LifeIsStrange commented on #1919
@forax

Your point apply to getMethods() and you are very probably right but it is unclear to me wether this also apply to the new method getDeclaredMethods()
Its documentation says:

According to its documentation it seems to preserve *user* supplied declaration order.

https://github.com/spring-projects/spring-framework/commit/50c7c848860fea9ae1ba8d9ce12a9ee7e2eee45f
@jhoeller
Feel free to ignor

[2022-01-05 15:10] Nandhini3090 opened #2807 "Please help"
org.junit.platform.commons.JUnitException: TestEngine with ID 'junit-vintage' failed to discover tests
	at org.junit.platform.launcher.core.EngineDiscoveryOrchestrator.discoverEngineRoot(EngineDiscoveryOrchestrator.java:160)
	at org.junit.platform.launcher.core.EngineDiscoveryOrchestrator.discoverSafely(EngineDiscoveryOrchestrator.java:134)
	at org.junit.platform.launcher.core.EngineDiscoveryOrche

[2022-01-05 17:05] marcphilipp commented on #2807
This was fixed in JUnit Vintage 5.6.3. Please upgrade.

[2022-01-05 17:05] #2807 closed

[2022-01-05 22:14] Marcono1234 opened #2809 "JUnit 4 migration tips should document switched assertion failure message argument position"
It would be good if the "Migration Tips" section of the user guide mentioned the switched assertion message position:
- JUnit 4 has the assertion message as first argument: `assertTrue(String message, boolean condition)`
- JUnit 5 has the assertion message as last argument: `assertTrue​(boolean condition, String message)`

I assume eventually users will figure out why some of their tests are faili

[2022-01-06 15:22] sbrannen commented on #1919
That documentation in Spring might be a little misleading. The interface in question has two implementations: one using reflection and one using ASM to analyze the byte code.

For the reflection-based implementation, the declaration order most likely will not (and potentially never will) represent the order in the source code.

For the ASM-based implementation, the declaration order _may_ represen

[2022-01-07 10:12] sbrannen commented on #2809
I agree: it would be beneficial to the community to add such advice in [Migration Tips](https://junit.org/junit5/docs/current/user-guide/#migrating-from-junit4-tips).

@Marcono1234, would you like to submit a PR for that?

[2022-01-08 18:12] #1243 closed

[2022-01-15 13:52] rob93c commented on #2809
Hi @sbrannen and @Marcono1234, if you are ok with this I'd like to improve the documentation adding to [migration-from-junit4.adoc](https://github.com/junit-team/junit5/blob/main/documentation/src/docs/asciidoc/user-guide/migration-from-junit4.adoc) the entry:

- The following assertions now accept the assertion message as their last parameter: `assertTrue`, `assertFalse`, `assertNull`, `assertNot

[2022-01-15 14:03] sbrannen commented on #2809
@rob93c, I think it's fine if you submit a PR, since @Marcono1234 has not volunteered to.

However, I think we should add more text than just that. We should state how it worked in JUnit 4 and how it works in JUnit Jupiter, and we should show an example from each framework for comparison -- for example, using `assertEquals(String, String, String)`.

[2022-01-15 17:07] Marcono1234 commented on #2809
Sorry for not having responded yet. Thanks a lot @rob93c for taking on this task, your PR looks really good!

[2022-01-15 20:14] gabizou commented on #201
A very unique use-case is being able to unit test that relies on class transformations via a custom class loader.

Some background: Sponge is an implementation of a Java API for Minecraft that uses its own tool ([Mixin](https://github.com/spongepowered/mixin)) to apply transformations on target classes (whether to implement the API interfaces, or add behaviors enabling event-based systems the API

[2022-01-16 21:15] renatoathaydes opened #2811 "@TempDir directory cannot be deleted on Windows with Java 11"
I have a test that has been failing on `windows-latest` with Java 11 on GitHub Actions CI, but not on Java 17.

[This is my test](https://github.com/renatoathaydes/jbuild/blob/efc4ee69387c4956b33c0ea9df2085ea7ff3d567/src/intTest/java/tests/FetchTest.java#L64):

[code]

I added those `deleteOnExit` calls to try to "help" JUnit to get rid of that temp dir, to no avail.

[Link to GitHub Actions CI Lo

[2022-01-17 09:24] #2809 closed

[2022-01-17 10:10] sbrannen commented on #2811
JUnit Jupiter 5.7.0 is no longer supported, and changes have been made to the `@TempDir` support since then.

So, please try out JUnit Jupiter 5.8.2 and report back here if you still encounter issues with `@TempDir`.

[2022-01-17 20:58] renatoathaydes commented on #2811
Sorry, I should've checked my versions (the IDE even warned me about it).

Unfortunately, the error persists:

https://github.com/renatoathaydes/jbuild/runs/4845950867#r2

[2022-01-18 12:29] renatoathaydes commented on #2811
That test was failing a lot but not always :( I got rid of this annotation and now the test passes consistently:

https://github.com/renatoathaydes/jbuild/commit/8f18a692c5e64d976c2a4ec882f6128bf8af435e

[2022-01-19 18:17] ncgisudo commented on #1794
Admittedly I am commenting on a closed thread, but,

Was there a resolution to this?
Until the last comment in 2019 it seems like there is agreement that this is a nice idea,
Then in 2021 there is a comment saying it was addressed in #1996 (which proposed to add `@YamlFileSource` support) and that this issue should now be closed.
But, #1996 was closed as a duplicate of this one...

Is there someth

[2022-01-19 19:04] apathan123 opened #2813 "JUnit Platform standalone ConsoleLauncher does not support `@Suite` classes"
I am trying to run Test Suite using JUnit 5.

Individual file runs fine. But the Test Suite is not running when executed from command line.

I am using `junit-platform-console-standalone-1.6.0.jar` to run tests.

My Test class:

[code]

My Suite class:

[code]

The command I am using to run from command lines:

[code]

Output of this command is:

[code]

It says no tests found. If same java comman

[2022-01-20 10:18] kgeilmann commented on #2811
This bug hit me yesterday and was able to reduce my failing test to a very small example:
[code]

Using: junit 5.8.2 (but also fails on all versions >= 5.7.1)
Unfortenately the original test only fails on 5.8.x but passes on 5.7.x (I cannot publish that one)

[2022-01-20 14:10] sbrannen commented on #2813
I've edited your comment to improve the formatting. You might want to check out this [Mastering Markdown guide](https://guides.github.com/features/mastering-markdown/) for future reference.

[2022-01-20 14:16] sbrannen commented on #2813
The `@Suite` test engine was introduced in JUnit 5.8, so you cannot expect it work out of the box with JUnit 5.6.

However, the [JUnit Platform Suite Engine](https://junit.org/junit5/docs/current/user-guide/#junit-platform-suite-engine) is not bundled with the standalone Console Launcher.

So you will need to download the appropriate suite engine artifacts and place them on the classpath in order

[2022-01-20 14:17] sbrannen commented on #2813
@junit-team/junit-lambda, what do you think about including the JUnit Platform Suite Engine in the standalone console launcher, alongside Jupiter and Vintage?

[2022-01-20 14:40] sbrannen commented on #1794
Hi @ncgisudo,

Good catch! #1996 in fact did not address _this_ issue.

So I'm reopening this one.

[2022-01-20 14:44] apathan123 commented on #2813
@sbrannen Thanks for the pointer. I did change Juiter version to 5.8.1. and also added the below artefacts in teh classpath.
    junit-platform-suite-api
    junit-platform-suite-commons
    junit-platform-suite-engine
Executing this command now:
 `java -jar target/junit-platform-console-standalone-1.8.2.jar -cp .;target/lib/junit-platform-suite-engine-1.8.2.jar;target/test-classes/ -c demo.TestSu

[2022-01-20 14:47] sormuras commented on #2813
Can't use `java -jar ...` like that. It only puts that one JAR file (and those listed within the JAR file's manifest) on the classpath.

Now, you need to resort to: `java -cp ... org.junit.platform.console.ConsoleLauncher [ARGS]`

[2022-01-20 15:06] apathan123 commented on #2813
Changign to java --cp... gives same error. no chnage is stack trace.

[2022-01-20 15:19] sbrannen commented on #2813
The stack trace says...

So that means you need to have `junit-platform-suite-api` on the classpath, as I mentioned in https://github.com/junit-team/junit5/issues/2813#issuecomment-1017545654.

[2022-01-20 15:54] apathan123 commented on #2813
@sormuras @sbrannen Thanks for the detailed guidance! I added all the jars mentioned above in my command with their actual path. I dont have main classes to be compiled so nothign to add there. Final command looks like this. Error has changed though
`java  --class-path .;target/lib/junit-platform-suite-commons-1.8.2.jar;target/lib/junit-platform-suite-api-1.8.2.jar;target/lib/junit-platform-suite-

[2022-01-20 15:57] sbrannen commented on #2813
You have a cycle in your suite configuration that you need to sort out.

[2022-01-20 16:14] apathan123 commented on #2813
Awesome! This is resolved after removing @Tag annotations from Suite.  Sample success output below. Thanks a ton for swift reponses! Adding all those jars in classpath wasnt mentioned anywhere so took me some time to get to the solution!
Thanks again!!!

Test2 from DemoClass 1
After All from DemoClass 1
Test 1 from DemoClass 2
Test2 from DemoClass 2
After All from DemoClass 2

Thanks for using JUn

[2022-01-21 10:49] sbrannen commented on #2813
Glad to hear you got it working, @apathan123, and thanks for letting us know.

[2022-01-21 11:45] marcphilipp opened #2815 "Remove Jitpack usage and config"
Delete https://github.com/junit-team/junit5/blob/main/.jitpack.yml, https://github.com/junit-team/junit5-samples/blob/main/junit5-jupiter-starter-maven/pom-JITPACK.xml and others

[2022-01-21 11:54] marcphilipp commented on #2811
@kgeilmann `Files.list()` returns a `Stream` that needs to be closed.

[2022-01-21 12:25] sbrannen commented on #2813
Reopening since this might be addressed by #2814.

[2022-01-21 13:27] timja commented on #2705
I hit this as well, the linked commit wasn't useful for a gradle project rather than plugin, I got it working with this:
https://github.com/hmcts/spring-boot-template/pull/338

By adding a configuration and extending from the `testImplementation` in it. The gradle guides seemed to extend from `implementation` but that wasn't very useful.

This guide is what I used in the end to fix it: https://www

[2022-01-23 10:04] sormuras commented on #2815
Done via commits linked above.

[2022-01-23 10:04] #2815 closed

[2022-01-25 21:31] bes1002t commented on #2088
in my case junit always set it tempDir to the working directory of the project. This is annoying because it always generates a mess into my source code directories.

Additionally this mess is not deleted after the tests were executed. I mean in this case this is good, because I don't want my source code directories to be deleted. Do you think I forget to configure something, or is this function as

[2022-01-26 11:03] sbrannen commented on #2088
@bes1002t, are you using the `@TempDir` support in JUnit Jupiter?

If so, then the behavior you are describing sounds like a bug, and we would appreciate it if you would open a separate issue describing your setup and providing a failing example.

[2022-01-26 16:43] Michael1993 commented on #1558
Technically, I think we (JUnit Pioneer) could support that. You would be able to write something like this:
[code]

It would create results like this:
![image](https://user-images.githubusercontent.com/4085611/151206998-bd7a191d-62fb-4335-994e-4d21d3b32b6c.png)

Personally, I think that looks a bit ugly... but if this is good enough and there is demand for it, we will host it (I'll ask the other m

[2022-01-28 13:50] marcphilipp opened #2816 "Provide mechanism for managing resources across engines and executions"
The Platform should provide an extensible mechanism (`ServiceLoader`?) so that user code can create "closeable resources" that are injected as part of the context received by `TestEngine` implementations.

This feature is analogous to the `ExtensionContext.Store` concept from Jupiter but takes it to the Platform level. Moreover, it allows to reuse the same resource across multiple executions in a