[2018-08-15 17:34] wilder commented on #1490
Nice work @marcphilipp, I'm sorry for not noticing it before!

[2018-08-15 17:47] marcphilipp commented on #1490
Thanks and no worries – that was a tricky one!

[2018-08-15 20:37] codecholeric commented on #1437
I have no idea how `jdeps` does that, but I'm open for enlightenment :wink: I just know that in the past I had problems like that with unit tests and a GitHub issue AFAIR as well.
If I look at two classes

[code]

and

[code]

Then the bytecode says

[code]

So there is no `Fieldref` but the String as a constant and the only reference to `Foo` seems to be that one entry in the constant pool. Maybe

[2018-08-16 07:34] sormuras commented on #1535
Technically it's not `junit-jupiter-engine`, it is `junit-platform-engine` that triggers the provider:

https://github.com/apache/maven-surefire/blob/4e22fe7289cda92ca209db137fc685557d2d22b4/maven-surefire-common/src/main/java/org/apache/maven/plugin/surefire/AbstractSurefireMojo.java#L496

Mh, never tested that kind of configuration.

Which is okay for you?

Good point. the list needs an update.

[2018-08-16 08:09] filiphr commented on #506
Yes the `SpringExtension` was a bad example (you've done a good job on it for the order not to matter).

I don't see why it would be difficult. Me as an extension writer will write an extension that has the default order, i.e. I don't care that much about it. Then I can have another extension that actually requires a different 3rd party extension that should run before my first one and after the 3

[2018-08-16 10:46] smoyer64 commented on #1535
Yes ... the only reason I was putting the engines in the plugin dependencies was to keep test developers from accidentally using classes from those artifacts.

[2018-08-16 14:27] palmerj3 opened #1550 "JUnit XML Spec"
## Overview

**Feature request.**

The JUnit XML spec allows for properties on a [testsuite](https://www.ibm.com/support/knowledgecenter/en/SSQ2R2_14.1.0/com.ibm.rsar.analysis.codereview.cobol.doc/topics/cac_useresults_junit.html) but not on individual tests.

I would like to expand this spec to support properties for each test.

For large systems, like Spotify (where I work), we are limited to wh

[2018-08-16 14:33] sormuras commented on #1550
Related to the up-stream project: https://github.com/ota4j-team/opentest4j/issues/9

[2018-08-16 14:37] sbrannen commented on #506
We're not concerned about cyclic dependencies.

Rather, we are concerned about extension authors knowing what a valid/reasonable "order value" would be for a particular type of extension.

The problem for the community is that such order values would typically be static in nature (e.g., hard coded as you suggested by `public static int`). An extension author could of course programmatically/dynami

[2018-08-16 14:40] sbrannen commented on #506
In the end, even if JUnit Jupiter provides a mechanism for extensions to decide on their own "order value", there will be scenarios that require user intervention in order to override the extension-supplied order value due to incompatibilities with competing third-party extensions that know nothing of each other.

[2018-08-16 15:29] sbrannen commented on #1550
Closing this issue since the JUnit Team does not actually _own_ the "JUnit XML" schema you are referring to.

Please contribute proposals and comments to the aforementioned issue with the OTA.

[2018-08-16 15:29] #1550 closed

[2018-08-16 16:55] marcphilipp commented on #1535
_in progress_

[2018-08-16 17:08] #1535 closed

[2018-08-17 11:39] vyarosh commented on #542
Voting for the initial request.
My use case is:
[code]
where `ExtentManager` is `com.aventstack.extentreports.ExtentReports` implementation.

[2018-08-17 15:45] juniorjrjl opened #1551 "@ParameterizedTest using @CsvFileSource does not allow trailing whitespace in last argument"
JUnit version: 5.2.0

When I create a test that uses a CSV file and the last argument has whitespace to the right, the method's parameter gets a value without the whitespace.

[2018-08-18 02:50] sormuras commented on #1375
Using this XML report genertor is common use case when integrating the JUnit Platform in "build tools". By now, I could use them in both projects listed below:

* https://github.com/forax/pro
* https://github.com/sormuras/junit-platform-maven-plugin

Same goes for the `TreePrintingListener`, to a lesser extend.

[2018-08-18 02:55] sormuras commented on #1375
Perhaps a dedicated `junit-platform-reporter` project is better place to collect commonly used report generating listeners? Would keep the `junit-platform-launcher` clear from those implementations.

[2018-08-18 03:30] 1459177541 opened #1552 "Unrecognized module"
In testing JDK9 module system, module related information is not available. Can only get module information of JDK.
I wrote the same module code in the main function and the test method, but the results were different.The main function can get the relevant information normally, but the test method is not.

[2018-08-18 03:42] sormuras commented on #1552
Please share more details about how you setup your project and how you start the test run. Even better, provide a minimal compiling example.

More information on "Testing in the Modular World" are gathered here: https://github.com/junit-team/junit5-samples/tree/master/junit5-modular-world

[2018-08-18 04:42] 1459177541 commented on #1552
Thank you. I think maybe I am not familiar with how to configure it.

[2018-08-18 05:11] 1459177541 commented on #1552
Code like this:
`public class ModuleTest {
    @Test
    public void moduleTest(){
        System.out.println(ModuleTest.class.getModule());
    }

    public static void main(String[] args) {
        System.out.println(ModuleTest.class.getModule());
    }
}`
Run moduleTest() print: unnamed module @363ee3a2
Run main() print: module moduleTest
In my project, ModuleTest in moduleTest module.

Englis

[2018-08-18 05:34] sormuras commented on #1552
Got your point.

See [moduleName()](https://github.com/junit-team/junit5-samples/blob/master/junit5-modular-world/src/test/black.box/black/box/BlackBoxTests.java#L30) test: it is exactly checking what you are trying to. For these kind of tests to succeed, you have go the way of [test-patch-compile.jsh](https://github.com/junit-team/junit5-samples/blob/master/junit5-modular-world/test-patch-compile

[2018-08-19 08:53] sormuras opened #1554 "Use Jansi in junit-platform-console"
## Overview

_Jansi is a small java library that allows you to use ANSI escape sequences to format your console output which works even on windows._

http://fusesource.github.io/jansi/

## Picocli already shadowed

As `junit-platform-console.gradle` is configured to `shadowed('info.picocli:picocli:3.5.1')` it is possible that there is already _external_ support for ANSI coloring.

See `picocli.Com

[2018-08-19 09:03] sormuras commented on #1437
Merged the `jdeps`-based checks into `master`.

Keeping this issue open for tracking work on the deliverables listed in the initital description:

- Degraph: remove if superseded by this jdeps`-based cycle check
- ArchUnit: apply more checks, perhaps replace this jdeps`-based cycle check

[2018-08-19 09:53] sricheta92 commented on #1542
Hello,
I am new to open source contribution. I have fixed it and raised a pull request. Please review and let me know if any changes need to be done.
Thanks.

[2018-08-19 13:02] PaulSh84 commented on #1542
oh no, I was about to raise a pull request too :(

[2018-08-19 15:14] codecholeric commented on #1437
@sormuras It's out now -> https://github.com/TNG/ArchUnit/releases/tag/v0.9.0
If you run into any troubles or are missing anything, make sure to drop me a GitHub issue, gonna fix it ASAP then :wink:
In particular about the JUnit 5 support, don't know if that is bullet proof for all possible environments...

[2018-08-19 15:38] sbrannen opened #1555 "Document how to use `CloseableResource`"
## Overview

As discussed in the [Gitter channel](https://gitter.im/junit-team/junit5?at=5b7717ae796f7b601d576d2e), users would greatly benefit from detailed documentation and examples regarding how to make use of `CloseableResource` in the `ExtentionContext.Store`.

## Deliverables

- [ ] Document how to use `CloseableResource` in various scenarios, potentially via examples in the `junit5-samples

[2018-08-19 23:40] johnchurchill commented on #1477
Sorry for the delay, I didn't notice the replies. Here is a screenshot of the JUnit tab in Eclipse Photon. Something I forgot to mention is that I am using a test suite and `@SelectPackages` with two package names. Each of the 37 test classes from those packages return 14 dynamic tests, for a total of 518. There are 37 entries under "JUnit Jupiter", and I think the 518 individual tests are all und

[2018-08-20 08:16] sbrannen commented on #1542
This has been addressed by @sricheta92 in e6d1db38be4a027432b824fe37f4b4fd4f0cacd5 and polished in edf0d45967dad707e4f17c35d5d22b2aceffce7e.

[2018-08-20 08:16] #1542 closed

[2018-08-20 08:27] sbrannen commented on #1551
That is the expected behavior.

Whitespace is trimmed by default.

If you want to include whitespace you need to wrap the value in double quotes.

For example:

[code]

If the above CSV file is used as input for a parameterized test, the second value from the second line will contain the trailing spaces: `"United States of America "`.

I am therefore closing this issue as "works as designed".

[2018-08-20 08:27] #1551 closed

[2018-08-20 09:14] vyarosh commented on #1555
This is my use case:  create html report object before all tests
and write to file after all tests executed:
[code]
usage:
[code]

[2018-08-20 10:25] sormuras opened #1557 "Check TestEngine ID for "junit-" prefix on registration"
## Overview

The `junit-` prefix is owned by the JUnit Team. It's akin to using `org.junit` as a base package. No other entity in the world should do that.

Only two engines should use the prefix at the moment:

* `junit-jupiter`
* `junit-vintage`

Source of the discussion: https://github.com/junit-team/junit5/commit/5a44da8c6145611057923a8ae46df540c566fc04#r30200049

## Deliverables

- [x] Docume

[2018-08-20 11:40] sbrannen commented on #1477
Yes, exactly!

That behavior is to be expected since JUnit 4's reporting infrastructure is not 100% compatible with the JUnit Platform.

As a side note, if you annotate your test suite class with `@UseTechnicalNames` you should no longer have unrooted tests; however, `@DisplayName` will then be ignored.

[2018-08-20 12:01] sbrannen commented on #1375
Maybe, but we'd probably want to name it something like `junit-platform-reporting` or `junit-platform-reports`.

[2018-08-20 12:06] sormuras commented on #1552
Did you get your modular test green, @1459177541?

[2018-08-20 14:36] 1459177541 commented on #1552
Sorry, I think I need to continue to study it.

[2018-08-20 14:41] 1459177541 commented on #1552
Thank you very much. I'll do my research again.

[2018-08-20 14:44] #1552 closed

[2018-08-20 14:45] sormuras commented on #1552
Alright, closed the question for now. Will paste the link to the blog here, when it's done.

Happy researching!

[2018-08-20 20:52] arcuri82 opened #1558 "Feature-request: Support for rerunning failed flaky tests"
## Overview

Feature request to add native support to rerun failing flaky tests

**Feature request**

Is there any plan to support the ability of rerunning failed flaky tests? For example, it would be great to have something like `@Flaky(rerun=3)`, which would rerun a failing flaky test up to n times.

In the *past*, in Surefire/Failsafe we could use `rerunFailingTestsCount`. However, it does not

[2018-08-21 07:43] sormuras commented on #1555
Here is also a unit test showing a global resource:

https://github.com/junit-team/junit5/blob/548de1f589b2609b14e8af05e1a356d3a7aa6099/platform-tests/src/test/java/org/junit/jupiter/extensions/Heavyweight.java#L26-L92

It is also a parameter resolver, so it can be injected into test methods:

https://github.com/junit-team/junit5/blob/master/platform-tests/src/test/java/org/junit/jupiter/extension

[2018-08-21 10:10] sbrannen commented on #1555
Thanks for providing the examples, @sormuras.

With regard to the last point, `@ResourceLock` is unnecessary if the `CloseableResource` is itself thread-safe and designed for concurrent access -- right?

[2018-08-21 10:34] sbrannen commented on #1558
No, to my knowledge this are not currently any plans to implement such a feature.

But... I think it's a very good idea.

I've often wanted something like [Spring Retry's `@Retryable`](https://github.com/spring-projects/spring-retry#java-configuration-for-retry-proxies) support for test methods. Of course, Spring Retry supports a much larger feature set than we would ever need/want in JUnit Jupite

[2018-08-21 10:36] sbrannen commented on #1558
Tentatively slated for 5.4 M1 for _team discussion_

[2018-08-21 12:32] jbduncan commented on #1558
Hmm, how about defaulting to `Exception.class` or `Throwable.class-except-blacklisted-exceptions`?

My thinking is that in the off-chance an `OutOfMemoryError` is thrown, it should really be propagated to allow the JVM to shutdown as cleanly as it possibly can. :thinking:

[2018-08-21 12:46] sormuras commented on #1558
I don't like flaky tests (read: checks). Who does?
I don't like the idea of _"fixing"_ flaky tests by (naiv, smart, conditional, [what|for]-ever) re-execution.
I don't want to support that in Jupiter.

Easy work-around:
[code]

Perhaps (!) such an annotation could live in an extension providing library: like https://junit-pioneer.org or another one. If we need to expose a new extension point tailo

[2018-08-21 13:49] arcuri82 commented on #1558
@sormuras I do not like flaky tests either :) but unfortunately they are a reality :(

not an issue with unit tests (unless you work with randomized algorithms), but they are a big problem for E2E tests. There, it is hard to escape from flakyness. Even if a test wrongly fails 1 out 1000 times, when you have hundreds/thousands of E2E tests, there is a high probability that at least 1 fails, failing

[2018-08-21 14:28] nicolaiparlog commented on #1558
Coincidentally, I recently hacked [an extension that repeats failed tests](https://github.com/junit-pioneer/junit-pioneer/commit/15ab0a6c97254335d877aa5587fc519ed8abf7f3#diff-94a60a248ed1fcd2fa7028a25ea6664e):

[code]

If JUnit 5 decides that flaky tests have no place in a proper testing framework, we don't have such scruples. :wink:

[2018-08-21 14:33] sbrannen commented on #1558
Nice, @nicolaiparlog! 👍

I'm guessing you didn't know about the [Rerunner Jupiter extension](https://github.com/artsok/rerunner-jupiter/)? 🤔

[2018-08-21 14:48] nicolaiparlog commented on #1558
Nope. :laughing: Most extensions I write come from excursions into the extension model, not from actual use cases.

Looks like @arcuri82 has at least one, maybe soon two options to achieve his goal of rerunning flaky tests in JUnit 5 - no need for native support. :wink:

[2018-08-21 20:38] silkentrance commented on #1367
Using maven-surefire-plugin@2.22.0 and latest versions of junit-jupiter and junit-platform here. When enabling

[code]

the plugin still fails with the same error.

[2018-08-22 10:30] sbrannen commented on #1367
@silkentrance,

As @sormuras mentioned:

I am therefore locking this issue.

Further discussions regarding Maven Surefire's support for the JUnit Platform should take place in the Maven Surefire issue tracker.

[2018-08-22 10:39] sbrannen commented on #864
Renamed issue to align with the title of #497 and features discussed in the aforementioned Twitter thread.

[2018-08-22 14:31] sormuras commented on #1558
Related to "flaky tests": https://twitter.com/michaelbolton/status/1032125004480237568

[2018-08-22 17:31] smoyer64 commented on #1558
He should sooooo change his name - https://www.youtube.com/watch?v=ADgS_vMGgzY

[2018-08-22 20:11] sormuras commented on #1557
_in progress..._

[2018-08-23 12:32] juniorjrjl commented on #1551
thank you :)

[2018-08-23 14:28] sbrannen commented on #1551
You're welcome

[2018-08-24 02:29] sormuras opened #1560 "Vintage + JUnit < 4.5 fails"
## Overview

Vintage fails to run (here `junit:junit:3.8.1` was used). A `ClassNotFoundException: org.junit.runners.model.RunnerBuilder` is thrown.

[code]

All JUnit versions below `4.5` should be affected: [`org.junit.runners.model.RunnerBuilder`](https://github.com/junit-team/junit4/blob/master/src/main/java/org/junit/runners/model/RunnerBuilder.java#L41) was introduced in `4.5`

## Deliverable

[2018-08-24 06:27] markusheiden commented on #201
The TestInstanceFactory can load test class instances by a different class loader, but the check in ClassTestDescriptor#invokeTestInstanceFactory forces the created instance to be of the same class as the original test class. If this check would be softened e.g. to just check for the name of the test class, that would enable custom class loader support. Because the test instance is loaded by a dif

[2018-08-24 07:35] Frontrider commented on #1481
Groovy would be a prime candidate because it's similar to Java, and Gradle already uses it.

[2018-08-24 11:56] sbrannen commented on #1560
We might be better off requiring JUnit >= 4.12 -- right?

[2018-08-24 12:02] sbrannen commented on #1560
... Since technically we only actively _support_ JUnit 4.12 at the moment.

[2018-08-24 12:05] sbrannen commented on #1560
Let's keep in mind that `junit-vintage-engine` has a required transitive dependency on `junit:junit:4.12` in its [pom.xml](https://repo1.maven.org/maven2/org/junit/vintage/junit-vintage-engine/5.2.0/junit-vintage-engine-5.2.0.pom).

Thus if a version of JUnit < 4.12 shows up on the classpath (at least in a build), that would typically be caused by some user error.

[2018-08-24 12:45] sbrannen commented on #201
@markusheiden, your claims are unfortunately in contradiction to my findings in https://github.com/junit-team/junit5/issues/672#issuecomment-410665795 (based on the status quo in `master`):

Or were you alluding to the possible "alternative" I brought up in https://github.com/junit-team/junit5/issues/672#issuecomment-410671753 ?

[2018-08-25 03:09] sormuras commented on #1560
True. The exception occured when a `junit:junit` artifact was found on the classpath and I tried to treat that as an indicator to include and enable the JUnit Vintage engine. Will add `:4.12+` to the indicator.

Providing a better error message would still be good.

[2018-08-25 15:55] sbrannen commented on #1560
Sounds good.

Yep, I agree: better diagnostics == better software, and I added the `diagnostics` label to this issue accordingly. 😉

[2018-08-27 08:04] markusheiden commented on #201
I did not notice that problem before. But yes, fixing the caching is an option. To fix the caching, one could add a guard checking the cached callback to be for the cached class and re-cache it, if it does not match. This would avoid performance decreases for the common case.

[2018-08-28 14:59] markthegrea commented on #60
Where is the documentation on how to use this?

[2018-08-28 15:03] hisener commented on #1455
@rbfriedman are you working on this? I can take it if you are busy.

[2018-08-28 15:07] rbfriedman commented on #1455
You can take it.

On Tue, Aug 28, 2018, 6:04 PM Halil İbrahim Şener <notifications@github.com>
wrote:

[2018-08-28 16:57] metabrain commented on #586
Exactly the same problem I had @jdaviestx , thanks! It fixed it for me as well. But I wonder, when both dependencies are loaded (vintage + jupiter) shouldn't both of them work? Both @Test annotations I mean. Or at least, return a more sane error.

Reproducing:
Any unit test with @Test from org.junit.Test instead of org.junit.jupiter.api.Test

Result:
[code]

Even thought this is more targeted towa

[2018-08-28 18:02] Jitsusama opened #1562 "Introduce implicit conversion from fully qualified class name to Class instance in parameterized tests"
## Overview

I would like to be able to pass a class name in to a parameterized test along with a set of other data points and use these parameterized values to drive/validate a test. I typically use this in a circumstance where I want to drive a test wherein a number of possible exceptions could be thrown that should result in a similar result, with that result having a number of other parameteri

[2018-08-28 18:04] Jitsusama commented on #1562
As a note; my current work-around is to use a `@MethodSource` with a method that returns a data structure containing all of the items I need. This makes for one-off methods lying around as test fixtures, often to support a single test, with a nasty interface inside the test requiring that I perform a `#get` on a list or some such.

[2018-08-28 20:45] smoyer64 opened #1563 "AssertThrows curiousity when supplier should return a Stream (in Eclipse)"
## Overview

This may belong in the Eclipse bug tracker (assuming it's using its own JIT compiler), but it might also be based on how the runner is instantiated.  When a ``ThrowingSupplier<?>`` passed to the ``assertThrows()`` method returns a ``Stream``, the assertion passes if the lambda method is enclosed in a block but fails if it's a single statement.

Note that Surefire 2.22.0 runs both asse

[2018-08-29 07:00] nicolaiparlog commented on #456
This [StackOverflow question](https://stackoverflow.com/q/52065409/2525313) provides an interesting use case (although there may be better solutions than `@BeforeSuite`):

[2018-08-29 07:32] sormuras commented on #456
Running those use-cases in single class might be an option. Then you may make use of `@BeforeAll` and friends. If the single class grows too large, well, you may split it up and care about starting your "setup" only once.

[2018-08-29 07:45] gortiz commented on #456
I'm running these cases on a single class right now, but once you want to split the class, before/after suite could really simplify the code (and I can distribute a JUnit plugin so my coworkers can easily reuse my code on their projects).

BTW: A modern machine can start an empty MySQL/Postgres/Mongo container in a couple of seconds, so it is not really bad to start one per class. But the faster i

[2018-08-29 07:49] nicolaiparlog commented on #1562
@Jitsusama Take a look [at argument converters](https://blog.codefx.org/libraries/junit-5-parameterized-tests/#Argument-Converters) - with them you can easily map such strings to a `Class` instance.

[2018-08-29 07:53] nicolaiparlog commented on #1562
Mmh, I just checked why `String` ~> `Class` does not work by object factories. Turns out, `Class` not only has `static Class<?> forName(String)` (good!), but also `static native Class<?> getPrimitiveClass(String)` (bad).

[2018-08-29 07:56] sormuras commented on #1562
We could add `static Class<?> forName(String)` to the list of well-known and supported factories.

[2018-08-29 08:07] nicolaiparlog commented on #1562
On it.

[2018-08-29 11:51] Jitsusama commented on #1562
Thanks so much @nicolaiparlog and @sormuras for not only answering, but working on an even nicer solution so quickly!

[2018-08-29 12:11] sbrannen commented on #1562
Tentatively slated for 5.3 GA for _team discussion_

[2018-08-29 12:31] sbrannen commented on #1563
I cannot reproduce this behavior in Eclipse Oxygen.3a Release (4.7.3a).

I am therefore closing this issue as "works as designed".

If you continue to encounter problems, I would recommend that you open an issue in the Eclipse bug tracker as you hinted at.

[2018-08-29 12:31] #1563 closed

[2018-08-29 12:38] Jitsusama commented on #1562
@sbrannen; I noticed you changed the title to indicate that a fully qualified class name is required. Is this accurate? Can I not refer to just the class name without the package hierarchy specified when the class is imported into the test module?

[2018-08-29 12:44] sbrannen commented on #1455
Tentatively slated for 5.3 GA

[2018-08-29 12:54] sbrannen commented on #1562
Since JUnit does not analyze the byte code of your compiled class, JUnit does not know what types you imported when you class was compiled. Consequently, the fully qualified class name is in fact necessary.

[2018-08-29 13:05] sbrannen commented on #456
Keep in mind that an extension that implements `BeforeAllCallback` and is registered globally via the `ServiceLoader` mechanism can make use of `CloseableResource` and the `ExtentionContext.Store` to achieve many suite-like behaviors.

See #1555 and the discussion on Gitter linked from there for further details.

[2018-08-29 13:45] aschoerk opened #1566 "Nested PER_METHOD inside PER_CLASS should call TestInstanceFactory"
Currently I am trying to integrate JUnit 5.3.0-RC1 into a Weld-SE-Test framework, `ejb-cdi-unit`.

The first solution based on JUnit 5.2.0 available in `ejb-cdi-unit:1.1.15` restricts the TestInstance-Classes somewhat concerning CDI. I can only allow `@Inject`. That helps already very much, but see [this note](https://github.com/1and1/ejb-cdi-unit#junit5).

Now while trying to implement the `TestI

[2018-08-29 13:50] sbrannen commented on #1566
Thanks for raising this issue _before_ 5.3 GA!

I am not yet certain if it's a "bug"; however, I am going to label it as a bug for the time being to ensure that it gets looked at with high priority.

[2018-08-29 14:07] sbrannen commented on #1566
OK. I took at look at the code in question.

This is the expected behavior.

A `@Nested` test class cannot override the `@TestInstance` lifecycle mode declared for an enclosing class.

Thus, in your example, `ServiceTest5` retains its declared `PER_CLASS` lifecycle mode regardless of any declarations for a different lifecycle mode on a nested test class.

Please note that this behavior is specific

[2018-08-29 14:07] #1566 closed

[2018-08-29 14:25] aschoerk commented on #1566
Thank you, but that is unexpected, so inner classes may not override the Lifecycle, or only if the outer is PER CLASS? Shouldn't this lead to an error, since the results are unexpected?

[2018-08-29 15:22] metabrain commented on #586
@sbrannen you are right, I must've done something else since it started working through maven but in Intelij it still doesn't work. I have a pretty old version (2017.1.3) so that might be the issue as others have pointed. I will try upgrading the version.

But as long as it is working through Maven this is for the JetBrains team and not JUnit5 team, I suppose.

Thanks for the reply again @sbrannen

[2018-08-29 15:29] sbrannen commented on #1566
I suppose whether it's expected behavior or not is debatable, but that is the behavior the JUnit Team decided on when the feature was implemented.

A `@Nested` test class **can** be configured with its own lifecycle mode which may differ from that of an enclosing test class.

A `@Nested` test class **cannot** change the lifecycle mode of an enclosing test class.

The general rule is that each test

[2018-08-29 15:31] Jitsusama commented on #1562
Thanks for the clarification @sbrannen.

[2018-08-29 15:34] sbrannen commented on #586
You're welcome, @metabrain!

Thanks for providing the feedback.

[2018-08-29 15:35] sbrannen commented on #586
@metabrain, with regard to proper dependency management and use in IntelliJ, I highly recommend you read the [IntelliJ IDEA](https://junit.org/junit5/docs/current/user-guide/#running-tests-ide-intellij-idea) section of the User Guide.

[2018-08-29 16:35] aschoerk commented on #1566
Just to clarify:
" JUnit creates a new instance of each test class before executing each test method" in case of PER_METHOD in inner classes means that the current instance of the inner class is recreated every call of a method, but in  case of outer-class "PER_CLASS" not the instance of the outer class. The creation of inner classes are not done via the TestInstanceFactory.

[2018-08-30 01:46] seanf opened #1567 "TestInstanceFactory on enclosing class is not called for @Nested test class"
## Overview

If I use nested classes together with a `TestIntanceFactory` on the outer class, the instance factory is not called for the inner class, unless a different factory class is used.

I would expect that I can use the same factory on the outer class and the inner class, and have it called both for outer and inner instances. Ideally the factory on the outer class would be "inherited" by th

[2018-08-30 01:48] seanf commented on #1566
@aschoerk said:

They can be, because JUnit 5 has a unit test which shows it. The problem is when the same TestInstanceFactory is used on the outer and inner classes: https://github.com/junit-team/junit5/issues/1567

[2018-08-30 02:38] seanf opened #1568 "Pass test Method to TestInstanceFactory when using Lifecycle.PER_METHOD"
I'm trying to update [CDI-Unit](http://bryncooke.github.io/cdi-unit) to [support JUnit 5](https://github.com/BrynCooke/cdi-unit/issues/103), specifically CDI-Unit's [`ProducerConfig` feature for JUnit 4](https://github.com/BrynCooke/cdi-unit/blob/805e077660d7d609b24b0d2b8dc1fa264ad30082/cdi-unit/src/test/java/org/jglue/cdiunit/TestProducerConfig.java) which uses annotations on the test method to h

[2018-08-30 07:14] aschoerk commented on #1567
Just a comment: Since callbacks of the Extension (i.e. BeforeEachCallback, AfterEachCallback)  normally also work for methods in nested Innerclasses, imO it should not be necessary to annotate those inner classes to make the TestInstanceFactory work.

[2018-08-30 12:30] sbrannen commented on #1566
That's correct.

They should be if there is a `TestInstanceFactory` registered for the `@Nested` test class.

You're welcome.

[2018-08-30 12:34] sbrannen commented on #1567
Thanks for raising the issue, @seanf.

This sounds like it in fact might be a _bug_. So we'll look into it ASAP.

[2018-08-30 13:01] sbrannen commented on #1567
_in progress_

[2018-08-30 13:03] sbrannen commented on #1567
It's very likely specific to `TestInstanceFactory` due to the custom lookup code we have only for that type of extension:

https://github.com/junit-team/junit5/blob/740af363a49b7b195a1e678dee9914082ca7b9a1/junit-jupiter-engine/src/main/java/org/junit/jupiter/engine/descriptor/ClassTestDescriptor.java#L233-L261

[2018-08-30 16:44] aschoerk commented on #1567
This change might brake existing code based on a release candidate. Perhaps it is worth, to mention that anywhere.

[2018-08-30 17:01] sbrannen commented on #1567
I'm not concerned so much about a breaking change in a release candidate.

The most important thing is that this has been brought to our attention before the GA release.

In any case, it is in fact a _bug_, since the current behavior contradicts the documentation in the User Guide. The User Guide specifically states the following:

[2018-08-30 17:02] sbrannen commented on #1567
You're right: that's part of the same bug in the code.

I'm adding a test for that particular use case as well.

[2018-08-31 07:12] joshka opened #1571 "junit-json-params"
## Overview

I was thinking about the CsvSource a while back and how JSON is sometimes a more convenient / expressive format to write data in, particularly when dealing with the input and output of web based APIs. So I created a small library, [junit-json-params](https://github.com/joshka/junit-json-params), which achieves this.

I'm wondering whether this is something that would be considered for

[2018-08-31 08:55] sbrannen commented on #1571
Hi @joshka,

The team has also considered support for JSON with parameterized tests in the past.

The main reason we have not implemented any such support is that it would pull in one or more dependencies on third-party artifacts, and that's something that violates one of the core principles of JUnit.

The CSV support naturally pulls in a third-party library for parsing the CSV format; however, by

[2018-08-31 08:58] sbrannen commented on #1571
For anyone interested in support for mapping from JSON onto custom domain objects, you might find this (outdated) extension useful:

https://github.com/hpgrahsl/junit5-paramtests-json

[2018-08-31 09:03] sormuras commented on #1571
I agree with Sam and added the "3rd-party: pioneer" label.

[2018-08-31 09:06] sbrannen commented on #1571
**Team Decision**:

In light of the above, we are closing this issue.

[2018-08-31 09:06] #1571 closed

[2018-08-31 09:16] sbrannen commented on #1557
Reopening to address unfinished TODOs.

[2018-08-31 09:17] sbrannen commented on #1557
@sormuras, did you already take care of this one?

[2018-08-31 09:17] sormuras commented on #1557
Just creating it.

[2018-08-31 09:22] sormuras opened #1572 "Ignore non-JUnit engines that use the `junit-` prefix for their IDs"
## Overview

Follow-up from #1557 which introduced a warning when a TestEngine ID starts with `junit-`, except those published by the JUnit Team from the JUnit 5 repository for public consumption.

## Deliverables

- [ ] Ignore such engines

[2018-08-31 09:25] sbrannen commented on #1567
FYI: I improved the logging the example extension.

[code]

[2018-08-31 09:26] sbrannen commented on #1567
And I simplified the example test class:

[code]

[2018-08-31 09:27] sbrannen commented on #1567
With my current changes on my machine, that now outputs the following

[code]

[2018-08-31 09:28] sbrannen commented on #1567
And uncommenting the duplicated registrations for the custom factory on the `@Nested` test classes results in the same output as above.

[2018-08-31 09:50] sbrannen commented on #1567
This issue has been addressed in 87bda94; however, I am reopening this issue in order to ensure that the documentation is consistent.

[2018-08-31 10:34] sbrannen commented on #1567
**Team Decision**:

Align the behavior between conventional class hierarchies and nested class structures with regard to disallowing multiple registrations of `TestInstanceFactory` extensions.

[2018-08-31 11:13] #1562 closed

[2018-08-31 13:33] sbrannen commented on #1557
These changes are now documented in the User Guide.

See a23cffd8d0693a47b6f0454ac23b175dbb34e4e0.

[2018-08-31 13:33] #1557 closed

[2018-08-31 13:48] sbrannen opened #1573 "Disallow TestInstanceFactory overrides in @Nested test classes"
## Overview

#672 introduced a new `TestInstanceFactory` extension API with support for overriding a `TestInstanceFactory` registered on an enclosing class for an enclosed `@Nested` class. However, similar "overriding" support does not exist for traditional test class hierarchies (i.e., a subclass cannot override a `TestInstanceFactory` registered on a superclass).

_Team Decision_ from https://gi

[2018-08-31 13:49] sbrannen commented on #1567
I am closing this issue now, since the aforementioned team decision will now be addressed in #1573.

[2018-08-31 13:49] #1567 closed

[2018-08-31 13:49] sbrannen commented on #1573
_in progress_

[2018-08-31 15:14] seanf commented on #1573
@sbrannen So if I'm understanding correctly, this will make the old version of the test `org.junit.jupiter.engine.extension.TestInstanceFactoryTests#instanceFactoriesInNestedClassHierarchy` (`org.junit.jupiter.engine.extension.TestInstanceFactoryTests.OuterTestCase`) illegal?

[code]
[code]

[2018-08-31 16:32] sbrannen commented on #1573
This has been addressed in `master` in 16ac9ac4ded360dd33f2e55cfa3adbfeee33ca4b.

[2018-08-31 16:32] #1573 closed

[2018-08-31 16:33] sbrannen commented on #1573
@seanf, yes that's correct. See the updated tests in the aforementioned commit.

[2018-09-01 01:28] seanf opened #1575 "TestInstance.Lifecycle on enclosing class not inherited by @Nested test class"
**JUnit version:**
`master` branch, commit 16ac9ac4de (git describe: r5.3.0-RC1-47-g16ac9ac4de).

**Expected behaviour:**

- Configured `Lifecycle.PER_CLASS` is inherited in Nested test class from the outer class.
- `@Nested` class cannot override enclosing class's `Lifecycle`
- Ref: https://github.com/junit-team/junit5/issues/1566#issuecomment-416966563

**Actual behaviour:**

- `@Nested` test cl

[2018-09-01 01:50] seanf commented on #1575
Is the Optional `ExtensionContext.getTestInstanceLifecycle()` guaranteed to be "present" in `beforeEach`? Is this documented anywhere?

[2018-09-01 11:55] sbrannen commented on #1575
As of this moment in time, `ExtensionContext.getTestInstanceLifecycle()` should not be _empty_ except in the **root** `ExtensionContext`.

If we were to introduce additional nodes in the execution hierarchy (e.g., for packages), `ExtensionContext.getTestInstanceLifecycle()` would almost certainly be _empty_ in those cases as well.

[2018-09-01 11:58] sbrannen commented on #1575
No, I don't believe so.

[2018-09-01 11:59] seanf commented on #1575
Thanks @sbrannen. So for the existing callbacks I listed, is it safe to assume that the Lifecycle will always be present?

[2018-09-01 12:00] sbrannen commented on #1575
... well... unless you invoke `extensionContext.getRoot().getTestInstanceLifecycle()` which should always _empty_. 😉

[2018-09-01 12:18] sbrannen commented on #1575
Please note that the "actual behavior" you have described is documented in the class-level [JavaDoc for @TestInstance](https://junit.org/junit5/docs/snapshot/api/org/junit/jupiter/api/TestInstance.html):

[2018-09-01 12:26] sbrannen commented on #1575
With regard to what you consider the _expected behavior_:

I can understand that you might expect that since the lifecycle is inherited within a test class hierarchy.

The difference here is that we are talking about a nested class structure, which technically (in terms of the Java language) has no form of inheritance.

Having said, however, it would be possible to introduce a new flag -- analogou

[2018-09-01 12:26] seanf commented on #1575
I see, I misunderstood https://github.com/junit-team/junit5/issues/1566#issuecomment-416966563, specifically the line "A @Nested test class cannot change the @TestInstance lifecycle mode declared for an enclosing class." That just means the enclosing class will keep its lifecycle, not that the nested class will have the same lifecycle itself.

Thanks for the explanation.

[2018-09-01 12:26] #1575 closed

[2018-09-01 12:33] sbrannen commented on #1575
Right.

And I see you closed this issue. OK.

[2018-09-01 12:33] seanf commented on #1575
Quite true, I was thinking it would be. I should have realised that TestInstance.Lifecycle has been around since 5.0, and would be pretty stable by now.

It seems like the sort of thing that would be better controlled at the class level, say with an annotation on the outer class which enables "nest-inheritance" of `Lifecycle`. I think a bunch of tests which depend on this sort of behaviour will br

[2018-09-01 12:34] seanf commented on #1575
Well, if I'm wrong about the intended behaviour, I'm wrong.

In my situation, having the lifecycle change in the nested tests is kind of a nuisance though.

[2018-09-01 12:34] sbrannen commented on #1575
Yeah, you're probably right: localizing it would likely be better.

[2018-09-01 12:35] sbrannen commented on #1575
I understand that.

This is "one of those features that can't please everyone". The team had to pick one or the other. C'est la vie.

[2018-09-01 12:37] sbrannen commented on #1575
Feel free to open an issue dedicated to that proposal, and we can see if the idea gains traction within the community.

Cheers

[2018-09-01 12:37] seanf commented on #1575
@sbrannen How about a new title: Allow enclosing test class to force @Nested classes to use same Lifecycle?

[2018-09-01 12:38] sbrannen commented on #1575
I'd prefer a separate issue. See previous comment. 😉

[2018-09-01 13:27] sbrannen commented on #1568
FWIW, you may be interested in #878.

[2018-09-01 13:59] sbrannen commented on #1568
In any case, what I stated above is naturally based on the status quo.

It _may_ be technically possible to redesign the internals such that `TestMethodTestDescriptor.prepare(JupiterEngineExecutionContext)` passes the current test `Method` to `TestInstanceProvider.getTestInstance(Optional<ExtensionRegistry>)` to allow our internal implementations to create a one-off, modified `ExtensionContext` th

[2018-09-01 14:02] seanf commented on #1568
Right, I see.

I'm not sure I understand what you mean by class-level extensions.

Perhaps the title of this feature request is too specific in its details (ie TestInstanceFactory), but it would still be useful IMHO, when using PER_METHOD Lifecycle, to be able construct test instances based on method attributes.

[2018-09-01 14:17] sbrannen commented on #1568
Extensions fall into certain categories depending on where they are applied / when they are invoked.

For example, `BeforeEachCallback` is always a method-level extension; whereas, `BeforeAllCallback` is always a _container-level_ extension.

Specifically, `BeforeAllCallback` is invoked as a class-level extension if the test instance lifecycle is per-method, and as an instance-level extension if t

[2018-09-01 14:46] sbrannen commented on #1541
Entries that are only applicable to changes between RC1 and GA:

[code]

[2018-09-02 12:49] raniejade commented on #1518
FYI, Spek `1.2.1` is out with the fix to this issue.

[2018-09-02 15:33] debugduck commented on #1514
I'm new, but I'd like to try this out. Do you mind if I give it a try?

[2018-09-02 15:48] nicolaiparlog commented on #1514
Hi @debugduck, I can't make that call. While I occasionally contribute, I'm not a member of @junit-team and can hence not decide what gets implemented and what doesn't. The team is currently working on the 5.3.0 release - let's hope they take a look at this issue over the next days.

[2018-09-02 16:40] sbrannen commented on #1571
Feel free to create an issue to track it or submit a PR.

No. We don't have a mailing list.

But we do have Stack Overflow and Gitter.

- https://stackoverflow.com/questions/tagged/junit5
- https://gitter.im/junit-team/junit5

[2018-09-02 16:45] sbrannen commented on #1514
@debugduck, I cannot promise that we will include this feature, but I do think it stands a good chance for inclusion since "diagnostics" is an area in which we would like to make improvements in general.

In light of that, I have added the "up for grabs" label.

So feel free to submit a PR.

Cheers,

Sam

[2018-09-02 16:46] sbrannen commented on #1514
Assigned to the General Backlog for the time being.

[2018-09-03 11:01] sormuras commented on #580
https://javadoc.io already lists all JavaDoc API versions we published. From `5.0.0-M4` up to `5.3.0-RC1` as of today.

See for example:

- https://javadoc.io/doc/org.junit.jupiter/junit-jupiter-api
- https://javadoc.io/doc/org.junit.jupiter/junit-jupiter-params

All we need is a link from our User-Guide and/or README.md to this archive.

Same goes for a link to an API/ABI history page: https://ab

[2018-09-03 11:12] marcphilipp commented on #1375
+1 for `junit-platform-reporting`

[2018-09-03 12:41] sbrannen commented on #1541
_in progress_

[2018-09-03 15:03] sbrannen commented on #1541
Task completed in the last two commits to `master`. See links to commits above.

[2018-09-03 15:03] #1541 closed

[2018-09-04 12:39] anonygoose commented on #1079
The extension this is available as seems dangerously buggy, and inactive.  It skips all other tests marked with its annotation as soon as one passes!  Mkobit's solution seems a lot more stable, but there are still limitations.

Is there a solution for this that includes handling for exceptions that occur during "before" and "after" methods?

[2018-09-04 14:46] sormuras commented on #1414
Just happend with `5.3.0` and IDEA:

![junit-5 3-assertthrows-needscasttoexecutable](https://user-images.githubusercontent.com/2319838/45038674-fd224d00-b061-11e8-8cef-88c18f728241.gif)

Need to find the real cause for it, might be an IDEA-related issue.

[2018-09-04 14:49] sormuras commented on #1414
`() -> object.wait()` does work.

[2018-09-04 15:27] sbrannen commented on #1414
It also doesn't compile using the Oracle JDK via the Gradle build:

[code]

[2018-09-04 15:28] sbrannen commented on #1414
This is the test I'm using:

[code]

[2018-09-04 15:30] sbrannen commented on #1414
In any case, the workaround is pretty straightforward:

[code]

Or (as you demonstrated):

[code]

[2018-09-04 15:45] smoyer64 commented on #1414
@sbrannen Not working in Eclipse could also be a result of the _curiosity_ I reported in #1563.

[2018-09-04 16:39] sbrannen commented on #1414
Hi @smoyer64,

That's a different issue. #1563 was about the `Stream` variant.

The issue @sormuras reported above is about the compiler not being able to infer the generic type for an overloaded method (in this case `Object.wait(...)`.

@sormuras discovered the issue in IntelliJ, and I verified it within Eclipse and from our Gradle build.

So, it would appear that type inference cannot be perform

[2018-09-04 16:49] sbrannen commented on #1414
Trying to find something definitive with regard to lambdas and overloading.

Came across this explanation by Stuart Marks (for a different use case than ours): https://stackoverflow.com/a/21951311/388980

Excerpt:

[2018-09-04 17:03] sbrannen commented on #1414
Based on various comments and tips I've seen on the Internet, I'm starting to think that overloading `assertThrows()` to accept different functional interfaces was perhaps not the best idea.

For example, various sources point out that the `Stream` API introduced methods with different names to support the following map variants:

[code]

[2018-09-04 18:12] marcphilipp commented on #1518
Thanks, @raniejade!

I updated our sample project in https://github.com/junit-team/junit5-samples/commit/ae96ee5d9a0625e3a95bf51c554f4977c280fa94.

[2018-09-04 18:14] marcphilipp commented on #1079
Let's continue the discussion in #1558.

[2018-09-04 19:10] anonygoose commented on #1558
Hey Marc,

`import io.github.artsok.RepeatedIfExceptionsTest;

public class RerunnerBugTest {

    @RepeatedIfExceptionsTest(repeats = 3)
    void test1() {
        System.out.println("Running test 1");
    }

    @RepeatedIfExceptionsTest(repeats = 3)
    void test2() throws Exception {
        System.out.println("Running test 2");
        throw new Exception("How does this not error?  It never r

[2018-09-04 21:35] artsok commented on #1558
Hi guys :)

I can make Pull Request with ReRun flasky mechanism, but i need information :)

[2018-09-04 22:40] sormuras commented on #1414
Using `object::notify` works, as `notify()` is not overloaded.

[code]

[2018-09-05 08:29] anonygoose commented on #1558
Getting official support for a retry feature would be great.

Each of these points are configurable on the current Rerunner extension, and are useful.  Carrying them over to any official support seems sensible.

Further consideration may need giving to:
* Making retries work across the entire life-cycle, wherever the exception occurs (BeforeEach, AfterEach, etc)
* What the proper outcome of the te

[2018-09-05 11:15] sbrannen commented on #1414
**Update**:

I have verified that the example from @sormuras is in fact a regression (i.e., a bug in 5.3.0 GA).

The following compiles just fine.

[code]

[2018-09-05 11:17] sbrannen commented on #1414
Thus, the introduction of overloaded `assertThrows(...)` methods that accept a `ThrowingSupplier` causes previously working code to no longer compile.

I will therefore open a new ticket to address this.

[2018-09-05 11:52] sbrannen opened #1576 "Regression: assertThrows() ThrowingSupplier variants break existing code"
## Overview

JUnit Jupiter 5.3.0 introduced new variants of `assertThrows()` that accept `ThrowingSupplier` arguments instead of `Executable` (see #1394). However, this change prevents existing code from compiling against Jupiter 5.3.0 if the code in question used a method reference for an overloaded method with a `void` return type.

Note that overloaded methods with non-void return types are not

[2018-09-05 11:55] sbrannen commented on #1414
Please continue the discussion about this regression in #1576.

[2018-09-05 12:00] sbrannen commented on #1576
Slated for 5.3.1

[2018-09-05 12:01] sbrannen commented on #1576
@junit-team/junit-lambda, I've added the "team discussion" label in order for us to address this as soon as possible.

[2018-09-05 12:54] sormuras commented on #1576
/cc @cushon @kevinb9n @cpovirk

[2018-09-05 14:01] cpovirk commented on #1576
Sorry :( And thanks for all the details about the specific problem case.

As @kevinb9n [said](https://github.com/junit-team/junit5/issues/1414#issuecomment-388064954) during the initial overload problems:

That would be my inclination, as well: If users have to switch to `assertThrowsXyz` to get the benefits, it might not be worth having at all. But it's a judgment call.

[2018-09-05 14:41] sormuras commented on #1576
We should also consider to keep the `assertThrows` variants "as-is". Because the "impact or blast radius" of the breakage is a) _very_ limited and b) there is an easy solution: cast to `Executable` or create an inline lambda `() -> object.wait()`.

Only method pointers to overloaded methods that return `void` are affected. Like the `object::wait` variants. Using `future::get` is safe, as they have

[2018-09-05 15:57] sbrannen commented on #1576
Thanks, @cushon

[2018-09-05 15:58] sbrannen commented on #1576
That's of course also an option, one of three I suppose.

I'll update the _Proposals_ section of this issue.

[2018-09-05 15:59] sbrannen commented on #1576
That's also worth considering.

[2018-09-05 16:03] sbrannen commented on #1576
OK... We now have three proposals to choose from.

[2018-09-05 16:05] sbrannen commented on #1576
Food for thought:

Another downside to keeping it "as is" is that user code would also break (in the future) if it uses a method reference for a void-returning method _now_ that _later_ gets overloaded.

And... that would be totally out of JUnit's control.

[2018-09-05 16:10] rshmiraf opened #1577 "DisplayName with Test feature idea"
## Overview

Hi, junit5 is a great piece of software. Today I realized while testing that a lot of time doing unit testing the `@DisplayName` is almost the same as a name of method. I mean there are many schools how the name of method should look like, but for example, let's take a look at this one below:

`methodName_StateUnderTest_ExpectedBehavior`

And here is my idea - create a flag, for examp

[2018-09-05 16:30] mkobit commented on #1577
Does https://github.com/junit-team/junit5/issues/162 address this use case?

[2018-09-05 16:35] rshmiraf commented on #1577
@mkobit it is different problem but #162 would be also really useful.

His case is Nested without DisplayName (using class names).
My case is Test without DisplayName (using method names).

[2018-09-05 17:14] sbrannen commented on #1577
I am closing this issue as a duplicate of #162.

#162 would introduce support for achieving this in the form of an extension, likely with a _default_ implementation that "prettifies" based on either camel-casing or underscores (or potentially both).

If you would specifically like support for splitting on underscores, please voice your opinion in #162.

Thanks

[2018-09-05 17:14] #1577 closed

[2018-09-05 17:15] sbrannen commented on #1577
Also, just FYI... the `@Test` annotation will likely _never_ support any attributes.

[2018-09-06 09:44] nicolaiparlog commented on #1558
It would be nice to know whether the JUnit 5 team is considering implementing this.

* If so, I will not continue working on my experiments.
* If not, this issue can be closed and @artsok and I can decide how to move forward with his extension and my snippets.

@artsok: Would you consider integrating your extension into [JUnit Pioneer](https://junit-pioneer.org)? You would get more visibility and

[2018-09-06 09:48] sormuras commented on #1558
...now on the list for tomorrow's team call.

[2018-09-06 13:00] MarkusMit commented on #1576
I'm not sure if you're aware: The _Eclipse IDE_ project seems to make [upgrading its JUnit support](https://bugs.eclipse.org/bugs/show_bug.cgi?id=536354#c8) (from currently 5.1) to 5.3(.1) dependent on this issue.

[2018-09-06 13:06] sbrannen commented on #1576
No, we were not aware of that potential holdup in Eclipse IDE.

So, thank you for bringing it to our attention!

[2018-09-06 17:42] benken-parasoft commented on #1558
I wanted to second this.  I came to a similar conclusion a few weeks ago.  I had to give up on other attempts, not feeling they were entirely safe, clean, light-weight, or stable.  Instead, I ended up making my copy of RepeatedTestExtension then made it use a custom TestTemplateInvocationContext Iterator with a TestExecutionExceptionHandler that conditionally throws a TestAbortedException.  This s

[2018-09-06 18:31] tcfurrer opened #1578 "OutOfMemoryError in test suite when upgrading from JUnit 5.2 to 5.3"
## Overview

I work on a large project which runs Junit 5 under Gradle (currently version 4.8).  One of our test suites which previously ran fine with a 8 GB max heap size now requires an ~11 GB heap to run without OutOfMemoryError (~12 GB to run without OutOfMemoryError AND without GC overhead slowing things down significantly).

Looking at the release notes, I see nothing that should cause such

[2018-09-06 18:35] sormuras commented on #1578
Can you tell us the amount of tests executed in that suite?

[2018-09-06 18:48] tcfurrer commented on #1578
It is ~2,750 testcases, across about 200 test classes.  Most are very fast-running, small/lightweight/low memory tests.  Just a handful of them use a lot more memory and run for several seconds.

The suite takes about 3 minutes to run when using gradle to run it across 4 JVM processes in parallel.  So really those numbers are sort of divided by 4 in the process that actually hits OutOfMemoryError.

[2018-09-06 18:58] tcfurrer commented on #1578
Also notable: we have 20 subprojects, each with 1000's of tests, and only two of our subprojects hit this issue.  The info I already provided was all from just one of those problematic subprojects, which I selected to work with to try to root cause the issue (because it is the fastest-running).

[2018-09-06 18:59] nicolaiparlog commented on #1578
If paring down does not reveal the source (it may just be higher overall memory consumption of JUnit 5 due to some implementation detail), it may be helpful to run the suite with 5.2 and 5.3 and create a heap dump during peak memory consumption. An inspection might show what kind of objects make up the addition GBs. That may end up being a lot of work, though.

[2018-09-06 19:04] tcfurrer commented on #1578
That's a great idea.  I'm experienced with Java heap analysis and memory leak debugging already, so I know how to do that.  I think this experiment is somewhat likely to clarify whether this is really a Junit 5.3 issue, or an issue with our tests.  I'll report back here when I have more clues.

[2018-09-06 21:02] mureinik opened #1579 "The combination of JUnit 5.3.0, maven-surefire-plugin 2.22.0 and reuseForks=false fails to find tests"
## Overview

I'm not sure if this bug should be reported here or on maven-surefire-plugin's repo, but I'll give it a try here.
When using a combination of JUnit 5.3.0 together with maven-surefire-plugin 2.22.0 configured with reuseForks=false, surefire fails to find any JUnit tests.

Downgrading JUnit to 5.2.0 makes it work (i.e., tests are properly found), as does setting reuseForks=true.

The `p

[2018-09-06 21:37] sormuras commented on #1579
As the entire code now resides in Surefire's repo, please open new Surefire-related issues here: https://issues.apache.org/jira/browse/SUREFIRE

Seems to be related to https://github.com/apache/maven-surefire/pull/193 -- see also the discussion at https://mail-archives.apache.org/mod_mbox/maven-dev/201809.mbox/browser **"issue with junit 5 integration"**. I'm not sure, what a possible solution cou

[2018-09-06 21:37] #1579 closed

[2018-09-06 23:38] tcfurrer commented on #1578
What I see in my heap dump is that there are tons of test class instances being accumulated in memory.  I think this consistitutes a "memory leak", and becomes especially noticeable when the test classes hold final fields which themselves retain a large amount of heap space.

Using "find nearest GC root" , I see that the test classes are being held in memory by org.junit.jupiter.engine.descriptor.

[2018-09-07 00:00] tcfurrer commented on #1578
Ok here is a minimal test which demonstrates the issue.

When run with a 2GB max heap size, this test passes on Junit 5.2, but hits OutOfMemoryError on Junit 5.3.  And I find that unacceptable... never before has any version of Junit so heavily punished test classes which store large amounts of data.

import org.junit.jupiter.api.Test;

/**
 * Demonstrates the Junit 5.3 memory leak issue discussed

[2018-09-07 00:10] tcfurrer commented on #1578
By the way, the minimal testcase I provided here might be used as inspiration for a Junit 5 regression test, to guard the requirement that the memory held by a test class should not be multipled by the number of test methods in that class in order to set the max heap size requirement... that's too expensive and will certainly break lots of project's existing tests.

[2018-09-07 00:16] tcfurrer commented on #1578
Looks like this issue was created by the changes to support parallel test execution.  I suspect there may be some passing around of lists where perhaps iterators/streams could be used to avoid holding everything in memory simulatenously?

[2018-09-07 00:52] tcfurrer commented on #1578
Note that I'm not enabling parallel test execution.  I think it's totally reasonable to impose some memory usage increases upon parallel test execution (since of course it cannot be avoided).  But when running with the feature disabled, the mere existence of the feature shouldn't impose major memory usage increases.  Indeed, I think the memory usage implications of parallel test execution will be

[2018-09-07 05:14] nicolaiparlog commented on #1578
Great detective work, @tcfurrer! :+1: Just to clarify, do the test class instances you see belong to the currently executed test or are the references retained even though the tests were already executed in the past. Being fastidious, I think only the latter would be a memory leak (or the Java variant thereof) that _must_ be fixed whereas the former _could_ be judged as a valid trade-off. (Althoug

[2018-09-07 06:07] sormuras commented on #1578
Thanks for the detailed analysis and the minimal show-case.

[2018-09-07 06:08] sormuras commented on #1578
Marked as a "bug" for now, as it is a regression.

[2018-09-07 06:42] filiphr commented on #1558
Just to add my 2 cents to this issue. We also have such flaky tests and were using the Surefire `rerunFailingTestsCount` in order to circumvent this. However, since our migration to JUnit Jupiter we noticed that this does not work anymore 😄. It would be great if there is something official from JUnit or maybe the appropriate plugins (Maven, Gradle) that would still have this support.

If you ask m

[2018-09-07 07:31] mureinik commented on #1579
I opened https://issues.apache.org/jira/browse/SUREFIRE-1566 according to this comment.
If apache/maven-surefire#193 fixes it it may be a mute point, but better have this as a top level issue on it's own right to make sure the surefire devs consider this usecase.

[2018-09-07 07:39] sormuras commented on #1579
Thanks, Allon.

We do. ;-)

[2018-09-07 09:19] sbrannen commented on #1578
@tcfurrer, thank you for reporting the issue, the detailed analysis, and the sample to reproduce the bug.

Much appreciated!

[2018-09-07 09:36] sbrannen commented on #1578
I can confirm that this is a bug thanks to the example provided by @tcfurrer.

And as @sormuras mentioned elsewhere, switching to test instance per-class lifecycle avoids the issue, as expected.

[2018-09-07 09:43] sbrannen commented on #1578
Perhaps.

We'll keep in that mind.

Thanks for brainstorming.

[2018-09-07 10:12] sbrannen commented on #1578
_in progress_

[2018-09-07 10:31] marcphilipp commented on #1576
**Team Decision:**

- Remove overloaded variants of `assertThrows` that accept a `ThrowingSupplier`
- Revert changes to `ThrowingSupplier`
- Investigate potential issue with overloaded variants of `assertDoesNotThrow` (and document workarounds if necessary)

[2018-09-07 10:44] marcphilipp commented on #1558
**Team Decision:** As a first step, we think this should be maintained externally as an extension based on `@TestTemplate`. We might potentially introduce support for rerunning flaky tests in core, but then it should support all kinds of testable methods, including `@ParameterizedTests`. We'd be happy to provide guidance and review such an extension, whether in the rerunner project, junit-pioneer

[2018-09-07 12:15] sbrannen commented on #1578
For anyone interested, it turns out that there is a simple _quick fix_ for this issue.

Namely, setting the `context` and `parentContext` fields in `NodeTestTask` after they are no longer in use allows the supplied sample test class to execute without problems.

[2018-09-07 12:18] sbrannen commented on #1578
**Team Decision**:

1. Implement the _quick fix_ mentioned by @sbrannen.
    * This work has already been performed and will be pushed to `master` soon.
2. Investigate other possibilities for freeing up memory consumption in the `HierarchicalTestEngine` and related infrastructure (specifically in `NodeTestTask`).

[2018-09-07 12:50] nicolaiparlog commented on #1558
I've just pushed [my proof of concept](https://github.com/junit-pioneer/junit-pioneer/pull/110) to Pioneer, I'd like to implement that feature there and am interested in ideas, feedback, and even code if someone wants to write it. :smile_cat:

@marcphilipp This can be closed, right?

[2018-09-07 12:55] sbrannen commented on #1578
**Update**:

The _quick fix_ has been pushed to `master` in 05b4bc29dc6984e0c11954aa25520ded3a4e95a5.

Note, however, that the fix and release notes will need to be backported to the `5.3.1` branch once we've created it.

[2018-09-07 15:27] sbrannen commented on #1576
_in progress_

[2018-09-07 16:28] tcfurrer commented on #1578
Thanks everyone for the quick work here. I'm looking forward to `5.3.1`!

[2018-09-07 16:49] thecatwhisperer commented on #1452
https://junit.org/junit5/docs/current/user-guide/#writing-tests-parameterized-tests-sources-ArgumentsSource says nothing about the class needing to be static?

[2018-09-07 19:15] marcphilipp commented on #1578
Reopening because the last deliverable has not been addressed.

[2018-09-09 13:45] sbrannen commented on #1576
Backported to the `5.3.x` release branch: https://github.com/junit-team/junit5/commits/releases/5.3.x

[2018-09-09 13:45] #1576 closed

[2018-09-09 13:45] sbrannen commented on #1578
Backported to the `5.3.x` release branch: https://github.com/junit-team/junit5/commits/releases/5.3.x

[2018-09-09 13:45] #1578 closed

[2018-09-10 14:17] sbrannen opened #1581 "Upgrade to opentest4j 1.1.1"
## Overview

See opentest4j [1.1.1 milestone](https://github.com/ota4j-team/opentest4j/milestone/5).

## Deliverables

- [ ] Upgrade to opentest4j 1.1.1

[2018-09-10 15:57] sbrannen commented on #1452
Yes, it that "trick" was supposed to make it appear that the class is a top-level class instead of a static nested class.

In other words, the custom implementation is intended to appear to come from a different source file; however, it would seem that the test method and example implementation appear to come from the same source file in the generated HTML.

So I'll revisit those changes.

[2018-09-10 16:04] thecatwhisperer commented on #1452
@sbrannen: That make sense, Sorry, the way I read it was that it was a non-static inner class :/  Not enough coffee for me I guess.  I was also trying to use it to inject a spring bean, so probably not the best use-case anyway?

[2018-09-10 19:32] sbrannen commented on #1452
FYI: I updated the User Guide accordingly.

https://junit.org/junit5/docs/snapshot/user-guide/#writing-tests-parameterized-tests-sources-ArgumentsSource

Is that better?

- separate code listing for the custom `ArgumentsProvider` -- note the blank space between the code listing blocks.
- additional sentence stating, "Note that an implementation of `ArgumentsProvider` must be declared as either a t

[2018-09-10 19:35] sbrannen commented on #1452
No worries. The fact that the code listings were merged into a single "listing" in the generated HTML could very easily lead one to believe that the code could literally be written like that (i.e., as a non-static nested class (a.k.a., an _inner_ class).

Well, if that helps, then.... more ☕️ !

[2018-09-10 19:37] sbrannen commented on #1452
Likely not.

What exactly are you trying to achieve? Perhaps it's best to continue this off-topic discussion on [Gitter](https://gitter.im/junit-team/junit5).

But in any case, you can simply declare an `@Autowired` parameter at the end of your formal parameter list for a `@ParameterizedTest`, and if you're using the `SpringExtension`... Spring will inject it for you from the configured `Applicati

[2018-09-11 00:53] dantran commented on #990
I filed an enhancement at https://issues.apache.org/jira/browse/SUREFIRE-1567

[2018-09-11 08:01] winterbe commented on #1579
Any news on this? Does the latest 5.3.1 update fix this issue? There doesn't seem to be any activity on the Maven Surefire issue.

[2018-09-11 16:03] swankjesse opened #1582 "Using JUnit 4 APIs with JUnit 5 is punitive"
If you import a JUnit 4 API by mistake, JUnit 5 doesn’t honor it. For example, if you use `assumeTrue()` from the legacy package your test will fail with an `org.junit.AssumptionViolatedException`.

[code]
The same is true for `org.junit.Ignore` vs `org.junit.jupiter.api.Disabled`. The `@Ignore` annotation is not honored and there’s not even guidance that the annotation has changed.

I work with b

[2018-09-11 16:43] sormuras commented on #1582
Feel your pain too, sometimes. Maybe Jupiter could provide a "strict" opt-in mode, where it warns about vintage annotations when it sees 'em.

Or a one could define a Checkstyle rule that warns (or bails out) for when it sees a mix of both API used in one compilation unit. Usually, you have either JUnit 4 or Jupiter API -- not both of them. Would that help?

[2018-09-11 16:57] mureinik commented on #1579
@winterbe I've tested with JUnit 5.3.1 too, and it does not fix the issue.

[2018-09-11 17:36] leonard84 commented on #1582
This could also be addressed via a global extension, that inspects the test class/method for any legacy annotations.

[2018-09-12 01:14] swankjesse commented on #1582
Could you just honor the old behavior? Why make me choose?

[2018-09-12 12:38] krizleebear opened #1583 "Include Javadoc and Sources in Platform ConsoleLauncher standalone artifacts"
Actual:
The sources/javadoc JARs on maven only contain the manifest information, but are missing the real information.

Expected:
I would expect the files to contain the sources and javadocs of all the classes delivered in junit-platform-console-standalone-1.3.0.jar

Rationale:
The standalone JAR offers an easy way to migrate an old JUnit 3/4 code base to JUnit Jupiter.
But without Javadoc and/or

[2018-09-12 13:09] sbrannen commented on #1583
Thanks for raising the issue.

I've assigned this to the 5.4 Backlog and put it "up for grabs".

[2018-09-12 15:00] krizleebear commented on #1583
Thanks for the quick reply!

[2018-09-12 15:05] sormuras commented on #1583
Tried it once but failed to maintain the integrity of the standalone artifact - as it includes the binaries from various modules, license files, _hand-crafted_ MANIFEST file, etc. Can't you just load the source and javadoc jar from the other modules and use them?

[2018-09-12 15:15] sbrannen commented on #1582
That's not true.

This is clearly documented in the [User Guide](https://junit.org/junit5/docs/current/user-guide/#migrating-from-junit4-tips) as well as in countless blogs, tutorials, and conference talks online.

[2018-09-12 15:31] sbrannen commented on #1582
FWIW, it would actually be easy to:

1. Implement an `ExecutionCondition` that supports JUnit 4's `@Ignore`.
2. Implement a `TestExecutionExceptionHandler` that wraps an `org.junit.AssumptionViolatedException` in an `org.opentest4j.TestAbortedException`.

And those could be part of `junit-jupiter-migrationsupport`.

Of course, a `TestExecutionExceptionHandler` could not handle an `org.junit.Assump

[2018-09-12 15:34] sbrannen commented on #1582
Currently assigned to the 5.4 M1 backlog for the purpose of team discussion.

[2018-09-12 15:39] krizleebear commented on #1583
I can try but it seems non-trivial, as I might end up with the same problem you were facing. Eclipse only allows a 1:1 relationship between Lib and attached source.
Note: We're not using Maven or Gradle. That's why the standalone package is so beneficial for us. And I guess that's also the reason it exists (?)

[2018-09-12 15:40] sbrannen commented on #1582
Well, AFAIK, JUnit 4 will never change `AssumptionViolatedException` to extend `TestAbortedException`. So there won't be any remedy for you there when using JUnit 4.

The best we can offer is either better diagnostics in JUnit Jupiter or outright "translation" support as I mentioned in my previous comments.

[2018-09-12 15:42] sbrannen commented on #1582
However, we could potentially meta-annotate `@Disabled` with `@Ignore` (and only have the JUnit 4 artifact as an _optional_ dependency).

That would work, except that you'd lose the custom message supplied to `@Disabled`, and no other types of `ExecutionCondition` would be "supported" in JUnit 4.

[2018-09-12 22:37] swankjesse commented on #1582
The JUnit 5 User Guide is a 98 page PDF. Is it called Jupiter because it’s massive and takes a lifetime to get to?

[2018-09-13 03:00] smoyer64 commented on #1582
@swankjesse You don't have to read the whole thing at once - it's organized topically.  You will need to grok the intent behind JUnit Jupiter.  I suppose we could write a little routine that pipes the User Guide to Twitter 140 characters at a time for people who are averse to reading.

[2018-09-13 03:14] swankjesse commented on #1582
I’m grumpy not because JUnit 5 has a lot of documentation, but because JUnit 5 needs a lot of documentation. It’s a big library that has many features and solves many problems and is awkwardly different from and incompatible with its predecessor.

[2018-09-13 07:27] k1w1m8 commented on #990
per https://github.com/junit-team/junit5/issues/1320

[2018-09-13 11:39] sbrannen commented on #1320
Yes, we are concerned about such issues, but the entire JUnit 5 Team is simply not capable of getting involved in all IDEs and build tools.

Having said that, however Christian Stein (@sormuras) is a core committer on the JUnit 5 Team, and he joined the Maven Surefire Team to help with the Surefire 2.22.0 release. In addition, he is still working on improving JUnit Platform support in Surefire as

[2018-09-13 11:40] sbrannen commented on #990
@k1w1m8, please see my response in https://github.com/junit-team/junit5/issues/1320#issuecomment-420977025.

[2018-09-13 11:46] sormuras commented on #1582
@swankjesse It took me some hours, but I compiled an overview. Just for you. :-)

https://sormuras.github.io/blog/2018-09-13-junit-4-core-vs-jupiter-api

[2018-09-13 12:15] smoyer64 commented on #1582
@swankjesse If you're really only talking about JUnit4 tests written using the junit library, @boyarsky wrote a nice converter that will bulk change your imports, tests and assertions (https://github.com/boyarsky/convert-junit4-to-junit5).  If you're using additional Rules or Runners, you've already added more features/complexity.  Hopefully we'll be moving that project to [Pioneer](https://github

[2018-09-13 13:30] swankjesse commented on #1582
@smoyer64 I maintain a [test library](https://github.com/square/okhttp/blob/master/mockwebserver/src/main/java/okhttp3/mockwebserver/MockWebServer.java#L101) that uses `org.junit.rules.ExternalResource` so to migrate myself I need to migrate a lot of downstream users first! I’ve learned the lesson not to depend on JUnit APIs.

[2018-09-13 20:07] Tibor17 commented on #1320
@k1w1m8
Do not worry ;-) we are glad to work on JUnit5.
For instance we are refactoring a patch from our user, refactoring it which is part of https://issues.apache.org/jira/browse/SUREFIRE-1546
We try out in several branches.

Till now I had to fix CI build because the CI build was was still unstable, failed on new issues, and new failures were randomly caused after accepting user's patch of SURE

[2018-09-13 20:20] Tibor17 commented on #1320
@k1w1m8
Before getting involved as a committer join us on Mailing List for Dev, on GitHub in form of issues/pullrequest and on the chat https://the-asf.slack.com/messages/C7Q9JB404/
One advice, rather talk with us and then do some coding but never in opposite order; otherwise it may cost you more energy than necessary.

[2018-09-13 21:16] krizleebear commented on #1583
My light weight solutions is an Ant task that builds a combined JAR of attached-sources from "JUnit 4.12" and "Jupiter API". I'm aware that this is not the real solution to the reported problem, but might help others with the same problem.

[code]

[2018-09-13 22:46] k1w1m8 commented on #990
Thanks @sbrannen.

[2018-09-13 23:12] ashley-taylor opened #1584 "ResourceLocks via Extensions"
We are wanting to experiment with parallel test threads to speed up execution.
We are using a custom Extension in our e2e test suite.

These e2e tests are mostly read only tests with a few that modify db state.

The annotation takes the name of the client we are testing against.
The Extension is then responsible for making sure everything related to the client is prepared and in the base state.

I

[2018-09-14 01:59] k1w1m8 commented on #157
FYI, my understanding from the IDEA bug tracker is that this ticket is blocking full implementation of JUnit5 inside IDEA, and as a result, DynamicTests are impractical to use inside IDEA.

https://youtrack.jetbrains.com/issue/IDEA-193770

[2018-09-14 06:07] marcphilipp commented on #1584
In order to avoid deadlocks, all resource locks have to be known before starting execution. Currently, we don't discover or instantiate extensions prior to a test's execution.

[2018-09-14 10:46] marcphilipp opened #1585 "Add support for JUnit 4's AssumptionViolatedException in JUnit Jupiter"
## Overview

In order to provide a smoother migration path from JUnit 4 to JUnit Jupiter, the `JupiterTestEngine` module should provide support for JUnit 4's `org.junit.AssumptionViolatedException` for failed assumptions analogous to Jupiter's support for the `org.opentest4j.TestAbortedException` from the Open Test Alliance.

## Implementation Notes

In order to avoid a compile-time dependency on

[2018-09-14 10:47] marcphilipp opened #1586 "Add support for JUnit 4's @Ignore to junit-jupiter-migrationsupport"
## Overview

In order to provide a smoother migration path from JUnit 4 to JUnit Jupiter, the `junit-jupiter-migrationsupport` module should provide support for JUnit 4's `@Ignore` annotation analogous to Jupiter's `@Disabled` annotation.

## Related Issues

- #1585

## Deliverables

- [x] Add support for JUnit 4's `@Ignore` annotation to `junit-jupiter-migrationsupport` -- for example, via a new

[2018-09-14 10:48] marcphilipp commented on #1582
**Team Decision:**

- Add support for `AssumptionViolatedException` to junit-jupiter-engine (#1585)
- Add support for `@Ignore` to junit-jupiter-migrationsupport (#1586)

[2018-09-14 10:48] #1582 closed

[2018-09-14 12:09] sbrannen commented on #1586
FYI: I wrote the _description_ for this issue.

[2018-09-14 12:11] sbrannen commented on #1585
FYI: I wrote the _description_ for this issue.

[2018-09-14 12:56] sbrannen commented on #1585
_in progress_

[2018-09-14 13:39] andrewducker opened #1587 "How do non-Maven users download JUnit?"
## Overview

There doesn't seem to be a way for developers who aren't using Maven to download JUnit 5 and reference it from their projects.  Am I missing something, or is this something that JUnit doesn't support as yet?

## Deliverables

A method of downloading JUnit and getting it running in a Java build system which doesn't use Maven.

[2018-09-14 14:13] sbrannen commented on #1585
For anyone interested, the work for this issue can be viewed in the following feature branch.

https://github.com/junit-team/junit5/commits/issues/1585-AssumptionViolatedException

[2018-09-14 14:35] sbrannen commented on #1587
Well, anyone can download straight from Maven Central. It only requires a web client (e.g., a web browser).

Also, Gradle has built-in support for downloading from Maven Central, and Ant can be used in conjunction with Ivy.

Did you have something specific in mind?

[2018-09-14 14:38] sbrannen commented on #1587
For example, if you want the JUnit Jupiter 5.3.1 API, you'd simply go here:

https://repo1.maven.org/maven2/org/junit/jupiter/junit-jupiter-api/5.3.1/

[2018-09-14 14:39] sbrannen commented on #1587
And if you want to know how I found that, I simply went search.maven.org:

https://search.maven.org/artifact/org.junit.jupiter/junit-jupiter-api/5.3.1/jar

[2018-09-14 16:00] sbrannen commented on #1585
This has been addressed in `master` in c4533c378ffa2200067850f371e3626b08258b34.

[2018-09-14 16:00] #1585 closed

[2018-09-14 20:04] sormuras commented on #1481
Groovy are Kotlin are both too heavy for the purpose of evaluating a simple (but generic) boolean expression. Groovy is already supported via its JSR 223 adapter. See this test: https://github.com/junit-team/junit5/blob/1925886aa7d0b5d570ab818768be941d65fcd758/platform-tests/src/test/java/org/junit/jupiter/extensions/EnabledIfTests.java#L128

Just found out that BeanShell is still alive: https://g

[2018-09-15 05:39] Frontrider commented on #1481
This?
https://github.com/JetBrains/jdk8u_nashorn

[2018-09-15 10:42] sbrannen commented on #744
@fzakaria, if you want to run the same "test class" in JUnit Jupiter twice, with different parameterization each time, it sounds to me like #878 would be a better fit than "suites".

[2018-09-15 11:34] sbrannen commented on #1586
_in progress_

[2018-09-15 11:52] sbrannen commented on #1586
Work on this issue can be viewed in the following feature branch:

https://github.com/junit-team/junit5/commits/issues/1586-junit4-ignore-annotation

[2018-09-15 13:16] sbrannen commented on #1586
The 3 code "deliverables" have already been pushed to the feature branch.

[2018-09-15 13:17] sbrannen commented on #1586
@junit-team/junit-lambda, I've add the "team discussion" label in order to discuss the scope of this issue (i.e., which of the 3 code deliverables we want to keep).

[2018-09-16 06:39] sormuras commented on #162
Another good example for/of this requested feature:

From...
![source](https://user-images.githubusercontent.com/2319838/45593688-d29e9100-b98b-11e8-912e-36ac3798d3a1.png)

...to complete sentences as display names.
![complete](https://user-images.githubusercontent.com/2319838/45593690-d4685480-b98b-11e8-9119-959b72c3098b.png)

Motivated by **"Structure and Interpretation of Test Cases"** (Kevlin

[2018-09-16 13:48] sormuras commented on #1481
Pulling in an entire JRE in order to evaluate a simple expression still feels heavy to me. Or is it distributed as minimal "standalone" jar?

Btw. now, using JDK 11 to build JUnit 5, this warning is emitted:
[code]

[2018-09-16 18:07] fzakaria commented on #744
@sbrannen I actually want to give it different parametrization depending on the context -- ideally i would be nice to register maybe `ExtendWith` at the Suite level to apply to all test classes (something like that)

[2018-09-17 06:13] baron1405 commented on #1579
I have experienced a similar issue but using Gradle 4.9 and 4.10 with Junit 5.3.0 and 5.3.1. Everything works with 5.2.0.

[2018-09-17 06:44] sormuras commented on #1579
It is a bug in how Surefire resolves the underlying JUnit Platform dependencies. At the moment, it always loads version `5.2.0`. We're working to solve the issue in the upcoming Surefire release.

For details see https://issues.apache.org/jira/browse/SUREFIRE-1564

[2018-09-17 06:46] baron1405 commented on #1579
@sormuras would this effect Gradle as well?

[2018-09-17 06:52] sormuras commented on #1579
No, don't think so. Gradle has it's own integration of the platfrom.

Correct, @marcphilipp?

[2018-09-17 06:57] baron1405 commented on #1579
In any case the fix required in Surefire might be required in Gradle.

[2018-09-17 08:07] sormuras commented on #1579
Gradle seems not affected. The generated `@classpath` file (`gradle-worker-classpath17288247877244964343txt`) for the [starter sample project](https://github.com/junit-team/junit5-samples/tree/master/junit5-jupiter-starter-gradle) looks good:

[code]

...configured via:

https://github.com/junit-team/junit5-samples/blob/c155a7f0d8683d2274856569388720e44841abcb/junit5-jupiter-starter-gradle/build.g

[2018-09-17 09:05] Frontrider commented on #1481
The only reason I threw that in, is because that contains a version that might be maintained if there is a use case.

I should probably just extract the script engine from it, then turn it into a library, but I don't have time for that. :/

[2018-09-17 09:53] andrewducker commented on #1587
It's not clear, from the documentation, which files I want to download.

From the JUnit 4 instructions it's quite clear - I download these two and put them in my classpath:

    [junit.jar]http://www.java2s.com/Code/Jar/j/Downloadjunit410jar.htm
    [hamcrest-core.jar]

From JUnit 5 - there are 15 Jars listed.  Do I need to download them all and include them all in my classpath?  I thought maybe t

[2018-09-17 10:11] sormuras commented on #1587
I suggest using the _console launcher standalone jar_ in case of lacking a dependency managing tool: https://junit.org/junit5/docs/current/user-guide/#running-tests-console-launcher

[2018-09-17 11:13] sbrannen commented on #744
@fzakaria, you could always use `@RegisterExtension` instead of `@ExtendWith` and then programmatically _decide_ which extension to register or how to configure your extension. A static factory method or builder API for your extension would work nicely.

[2018-09-17 11:54] sbrannen commented on #162
In light of the recent PR from @sormuras, I'd like to point out a few things...

[2018-09-17 11:54] sbrannen commented on #162
Although the deliverables for this issue discuss an "extension", the team discussed (and decided AFAIR) that it should not actually be an `Extension` that can be registered via `@ExtendWith`, `@RegisterExtension`, etc. Rather, it is more of an _SPI_ than an _Extension API_.

That's why the second deliverable states that the implementation should be configurable via a JUnit Platform _Configuration

[2018-09-17 11:55] sbrannen commented on #162
The default implementation must remain the exact same as the status quo.

[2018-09-17 11:59] sbrannen commented on #162
If we provide any other implementations, they should be simple and non-controversial.

For example, I can imagine providing the following two, custom implementations.

1. **camel-case**: inserts a space between changes in capitalization
  - for example, `nullInputShouldThrowAnException()` --> `"null input should thrown an exception"`
  - I imagine having everything lowercase would be OK. Otherwise

[2018-09-17 12:10] sbrannen commented on #162
If we want to make the display name generator configurable declaratively for a given test class or test method, I propose that we set the `default` value for `value` to `""` and introduce new attributes in `@DisplayName` for that purpose.

[code]

... where `generator` defaults to `org.junit.jupiter.api.extension.DisplayNameGenerator.class`.

We could potentially introduce a set of _styles_ to sim

[2018-09-17 12:16] sbrannen commented on #162
Regarding the **camel-case** based display name generator, I've also pondered adding configurable support for acronyms or other keywords.

For example, `settingInvalidUrlResultsInException()` could be converted to `"Setting invalid URL results in exception"`, if "URL" is a known keyword.

Or perhaps, `throwsExceptionForInvalidURL()` should be converted to `"Throws exception for invalid URL"` inste

[2018-09-17 12:33] sbrannen opened #1589 "Treat enclosing class as container for static nested test classes"
## Status Quo

A `static` nested test class is currently treated identical to a top-level test class.

This applies to how it is executed and how it is displayed within the test plan hierarchy in IDEs, reports, etc.

Note that this in contrast to non-static nested test classes (i.e., `@Nested` test classes).

## Proposal

Treat a class (potentially itself a test class) as a _container_ for any `st

[2018-09-17 12:34] sbrannen commented on #1589
Tentatively slated for 5.4 M1 for _team discussion_

[2018-09-17 12:37] sbrannen commented on #162
See also: #1589

[2018-09-17 12:50] sbrannen commented on #162
Regarding the camel-case converter, searching the Internet reveals lots of discussions around this topic -- for example, https://stackoverflow.com/questions/2559759/how-do-i-convert-camelcase-into-human-readable-names-in-java/2560017#2560017

[2018-09-17 13:53] andrewducker commented on #1587
Thank you, that's great!

[2018-09-17 15:40] baron1405 commented on #1579
After trying a number of my Gradle projects, it appears to only effect my Spring Boot projects. I need to look more deeply. Any insights would be appreciated.

[2018-09-17 15:51] sbrannen commented on #1579
Then that's almost certainly due to a version conflict.

`spring-boot-dependencies` defines a specific version for JUnit Jupiter. So if you're using a more recent version, you'll have to make sure you override the version managed by Spring Boot.

[2018-09-17 16:11] sbrannen commented on #1579
Sounds like a recent thread on Twitter I participated in.

See the history of this person's `build.gradle` to see how to _fix_ it.

https://github.com/TimRiemer/junit5_springboot_test/commits/master/build.gradle

[2018-09-17 16:14] sbrannen commented on #1579
Basically, you need the following:

[code]

Of course, you don't have to exclude JUnit 4 if you are using it, but then you'll need the `junit-vintage-engine` as well.

[2018-09-18 03:08] baron1405 commented on #1579
@sbrannen that did it. I did not consider this because it is the first time I have encountered anomalous behavior. Going forward I will use the property to set the version and let the Spring Boot plugin do the rest. Thanks to all for their help!

[2018-09-18 15:43] sbrannen commented on #1579
Glad to hear that works for you!

[2018-09-19 06:03] sormuras commented on #162
Thanks for the review and feedback, Sam. Pushed a second spike to #1588.

[2018-09-19 07:42] sormuras commented on #1091
Simply adding a `module-info.java` to `junit-platform-commons` fails with the **expected** error message:

[code]

Is there groovy/gradle way to only compile module descriptors with `--release 9`, @marcphilipp @melix @eriwen ... and others?

[2018-09-19 07:52] sormuras commented on #1091
@zyxist 's `chainsaw` plugin could help and/or change the source tree layout as outlined in #1216

...as we won't drop support for Java 8 soon, do we? @junit-team/junit-lambda ;-)

[2018-09-19 09:27] joakime commented on #1139
The Eclipse Jetty project would like to have this ability.
To be able to write an Extension that has a fully resolved TestInfo (with parameters) just before the test is actually called.

[2018-09-19 10:16] sormuras commented on #1139
Marking this issue "up-for-grabs". @joakime / @olamy want to give it a shot?

[2018-09-19 10:40] meltingturret commented on #1479
Having similar issues did you work out any solutions?

[2018-09-19 11:16] sbrannen commented on #162
Actually, the more I think about it (and after having looked at the latest updates @sormuras made to his PR), I think we are actually implementing the _Decorator_ pattern with our styles.

This leads to the following, treating style names as functions.

- `default()`
- `underscore(default())`
- `camelCase(underscore(default()))`

So that means that the camel-case display name generator would autom

[2018-09-19 12:50] sbrannen commented on #1139
I've put more thought into this and now have additional feedback.

I agree.

I think the signature is fine, but I'm not yet convinced regarding the naming. See following points.

I think we might need to always invoke the extension even if the array is empty. Otherwise, extensions that implement the API might have to _guess_ why this API was not honored for particular scenarios.

I don't think tha

[2018-09-19 12:55] sbrannen commented on #1091
No, we are not dropping base support for Java 8 any time in the near future.

[2018-09-19 12:56] joakime commented on #1139
The passed in arguments might be useful for some, but for Eclipse Jetty, just having `ExtensionContext.getDisplayName()` be valid/sane would be sufficient.
Similar to what `TestInfo.getDisplayName()` shows while in the test itself.

[2018-09-19 15:24] quiram opened #1590 "Easily apply the same assertion(s) on a collection of items"
## Overview

There are occasions in which you have a collection or stream of items, and you want to run the same assertion(s) on all of them. Moreover, you don't want to stop at the first failure, but rather you want to run the assertion in all items and get a full report. This can be done with the current set of assertions, but it could be useful to have some syntactic sugar to do this in a more

[2018-09-19 15:42] quiram commented on #1590
Yes, good point, I forgot to mention that... I actually thought about it but couldn't apply that pattern to my particular case. I have an abstract `TestBase` class where I define some tests to apply to several cases, and the collection of items is provided by the extending child classes. Something like this (typing straight to avoid copy-pasting, apologies if there are some typos):

[code]

Then,

[2018-09-19 16:30] marcphilipp commented on #1590
How about this?

[code]

[2018-09-19 16:30] marcphilipp commented on #1590
Nevermind, that would obviously stop after the first failure.

[2018-09-19 16:35] sormuras commented on #1590
Testlets! Aka dynamic tests could help.

[2018-09-20 07:26] quiram commented on #1590
Mm, I don’t know about teslets, do you have a link that I can check? Maybe that can fix my scenario 🙂

[2018-09-20 07:28] sormuras commented on #1590
Here you go: https://junit.org/junit5/docs/current/user-guide/#writing-tests-dynamic-tests

[2018-09-20 09:19] quiram commented on #1590
Thanks @sormuras, this is interesting and I think I could write my tests this way. There is one thing that concerns me though: if I understand correctly, the `@BeforeEach` is run before the entire suite of tests provided by `@TestFactory`, instead of before each individual test, is that right? If so, would there be a way so the setup is done before each test? I'd prefer each test(let) to be fully

[2018-09-20 09:30] sormuras commented on #1590
Correct. That's why I call them "testlets" or _assertAll-on-steroids_...

...so the solution is here to care about the setup before each lambda yourselves. Like instead of

`() -> assertTrue(validator.isValid(doc))`

do

`() -> assertTrue(getValidator().isValid(doc))`.

If you need to tear down the created validator, introduce a dedicated assertion method. Like:

[code]
and use it via `() -> asser

[2018-09-20 09:37] quiram commented on #1590
I see... but then, if I have multiple testlets (as I would have if I was to rewrite my current case using `@TestFactory`), I would have to repeat the setup in each of them, which would probably make for a messier test class.

Don't get me wrong, I like the idea of testlets and I thank you for introducing me to it, but I don't think it quite fits in this case. I guess they are just more powerful th

[2018-09-20 09:40] flowerrrr opened #1591 "AssertAll#assertAll() is not threadsafe"
When using `AssertAll.assertAll()` with parallelStreams the concurrent adding of Throwables to the list of failures might lead to unexpected null-elements in the list of failures resulting in a NullPointerException in the constructor of MultipleFailuresError.

Solution: Use synchronized list.

`        List<Throwable> failures = Collections.synchronizedList(new ArrayList<>());
`

[2018-09-20 10:04] quiram commented on #1590
Maybe... to be fair, and for my particular case, simply removing the constraint that the target method in `@MethodSource` has to be static wold work for me, but I don't know whether that's possible.

[2018-09-20 12:34] flowerrrr commented on #1591
@jbduncan : In my case i'd like to execute the stream in parallel for performance reasons.

[2018-09-20 13:53] leonard84 commented on #1481
Maybe spring-expression SpEL?

[2018-09-20 13:56] leonard84 commented on #1590
@quiram you could try [AssertJ's Soft Assertions](https://joel-costigliola.github.io/assertj/assertj-core-features-highlight.html#soft-assertions)

[2018-09-20 14:27] sormuras commented on #1481
Is it available as self-contained distro with a JSR 223 implementation?

[2018-09-20 14:39] leonard84 commented on #1481
It seems to need some glue-code https://github.com/melin/starflow/blob/master/src/main/java/com/googlecode/starflow/core/script/spel/SpelScriptEngine.java

There is an open issue for that https://jira.spring.io/browse/SPR-7651

[code]

See https://stackoverflow.com/questions/40074932/maven-entry-for-spel-as-a-scriptengine

It has a dependency on spring-core but I don't know if that is a crucial de

[2018-09-20 19:15] jkarshin opened #1592 "JUnit Jupiter Assumptions do not work in @BeforeAll methods"
* JUnit version: 5.1.0
* JUnit platform version: 1.1.0

The following test will fail with a `TestAbortedException`:

[code]

I would expect that a failed assumption in the setup method would simply skip the tests instead of triggering a test failure.

The following JUnit4 test (run against the JUnit4 test runner) matches my expectations; it skips the tests instead of reporting a failure:

[code]

[2018-09-21 03:37] sormuras commented on #990
Closing this issue.

fup2 https://issues.apache.org/jira/projects/SUREFIRE/issues/SUREFIRE-1546

[2018-09-21 03:37] #990 closed

[2018-09-21 08:03] jbduncan commented on #1591
Ah okay, thanks for explaining @flowerrrr. However, that leaves me with a few questions:

1. Are you at liberty to explain to us why you're trying to improve the performance this way, or otherwise what your use case is?
2. I wonder, wouldn't using a synchronized list cause the potential performance benefit of using a parallel stream to disappear due to the locking involved?
3. AFAICT, if you pass

[2018-09-21 11:45] sbrannen commented on #1586
**Team Decision**:

Do _not_ allow the `IgnoreCondition` to be automatically registered via the `ServiceLoader` mechanism.

[2018-09-21 11:48] sbrannen commented on #1586
I have force pushed the removal of the auto-registration support and updated the _Deliverables_.

[2018-09-21 21:15] dmcg commented on #1521
I came here looking for this feature. Without it [minutest](https://github.com/dmcg/minutest) ends up generating a vestigial root node, which is a shame. Happy to contribute if someone will point me in the right direction.

[2018-09-21 21:42] sormuras commented on #1521
Implementing a spike right now:

### Given
[code]

### Then A
![image](https://user-images.githubusercontent.com/2319838/45907294-b0779980-bdf7-11e8-8adb-ec0320800e63.png)

### Then B
[code]
_without the method node_

Which one do you want?

[2018-09-21 21:49] nicolaiparlog commented on #1521
Generally speaking, **A** (see second bullet [here](https://github.com/junit-team/junit5/issues/1521#issuecomment-410680679)), but for the special special case where the single returned node is a test (not a container), **B** may be ok...

[2018-09-21 21:54] sormuras commented on #1521
Okay. Version `A` is ready for review in a few minutes...

[2018-09-21 22:08] sormuras commented on #1521
...as **B** is almost impossible to implement. The display name for a dynamic test is determined at runtime and can't override the properties of the `@TestFactory`-annotated method node.

Updated the source snippet and image above showing now a sample for `DynamicTest` and  `DynamicContainer`.

[2018-09-22 09:14] flowerrrr commented on #1591
@jbduncan:
1. Test was written before the new parallel test support of junit 5 was released. So i thought using AssertAll gives me a handy way to run my tests in parallel.
2. The performance impact is virtually zero as only in case of an assertion error an element is added to the synchronized list of failures.
3. Non-deterministic is ok.

If an API supports streams it should also work if used with

[2018-09-22 11:18] sbrannen commented on #1590
@quiram, does `@TestInstance(PER_CLASS)` work for you?

[2018-09-22 11:29] sbrannen commented on #1592
Thanks for bringing this to our attention!

I have confirmed that this is in fact a _bug_.

Specifically, it's a bug in the internals of the `HierarchicalTestEngine`, and the bug exists currently on the `master` branch.

Note that executing the example `AssumptionTestJUnit4` test class on the JUnit Platform via the `VintageTestEngine` also results in a failure instead of the test class being skipp

[2018-09-22 11:32] sbrannen commented on #1592
I believe the _fix_ for this bug must go into `org.junit.platform.engine.support.hierarchical.NodeTestTask.executeRecursively()` (on `master`).

[2018-09-22 11:34] sbrannen commented on #1592
Or perhaps proper handling of "aborting exceptions" in `org.junit.platform.engine.support.hierarchical.NodeTestTask<C>` would be the better place for such a fix.

[2018-09-22 11:36] sbrannen commented on #1592
We'll likely need to _open up_ `org.junit.platform.engine.support.hierarchical.ThrowableCollector.hasAbortedExecution(Throwable)` so that it can be queried from within `reportCompletion()`.

[2018-09-22 13:14] quiram commented on #1590
Documentation? What's that? :trollface:

In all seriousness, first of all apologies for late reply, I have been backed up the last couple of days. And second apologies for not noticing that in the user guide, I guess assumed so strongly that the method had to be static that I didn't even consider checking if there was a way to avoid that restriction. Using`@TestInstance(PER_CLASS)` does help, and

[2018-09-22 13:33] marcphilipp commented on #1591
_in progress_

[2018-09-22 13:41] #1591 closed

[2018-09-22 13:54] marcphilipp commented on #1591
@flowerrrr I pushed a fix to `master. Please try out the latest 5.4-SNAPSHOT (using [Sonatype's snapshot repo](https://oss.sonatype.org/content/repositories/snapshots/)).

[2018-09-22 14:23] #1590 closed, assigned to sbrannen

[2018-09-22 15:03] sbrannen commented on #1592
**Update**:

This sounds like a known [bug in Eclipse IDE](https://bugs.eclipse.org/bugs/show_bug.cgi?id=536005) which is marked as resolved for Eclipse 4.9 M2.

Since we have tests in place that verify support for failed assumptions in _before all_ callback methods, I am therefore inclined to close this issue as "works as designed", but I am awaiting a confirmation from @jkarshin that the behavio

[2018-09-22 15:06] sbrannen commented on #1592
@jkarshin, since you stated "The following JUnit4 test (run against the JUnit4 test runner)", I assume you are referring to the _Eclipse JUnit 4 Test Runner_, but I'd still appreciate a confirmation from you. 😉

[2018-09-22 17:16] jkarshin commented on #1592
@sbrannen Thanks for the quick reply! Yes, I was running these tests through Eclipse 4.8.0.

I'll update my Eclipse and try the test again on Monday.

[2018-09-23 11:59] sbrannen commented on #1592
You're welcome, and thanks for the feedback.

By the way, I just verified the expected behavior in the latest version of Eclipse:

The bug has in fact been fixed in Eclipse, and I am therefore closing this issue.

[2018-09-23 13:01] #1592 closed

[2018-09-23 14:14] sormuras opened #1595 "Add CamelCase Display Name Generator"
## Overview

As a follow-up from #1588 use the `DisplayNameGenerator` SPI to turn names of test classes and test methods using camel-case notation into human-readable display names.

## Related Issues

- #1596

## Deliverables

- [ ] Create and implement `CamelCaseGenerator` in `org.junit.jupiter.api.DisplayNameGenerator`
- [ ] Integrate this new pre-defined generator into `org.junit.jupiter.engin

[2018-09-23 14:20] sormuras opened #1596 "Create IndicativeSentences Display Name Generator"
## Overview

As a follow-up from #1588 use the `DisplayNameGenerator` SPI to turn names of test classes and test methods using camel-case and/or underscores in their notation into human-readable display names that form complete sentences.

## Example

From "fragments" using `@DisplayName` for each fragment, thus duplicating the same information as encoded in the associated method name...

https://

[2018-09-24 04:14] sormuras opened #1597 "Remove junit-platform-surefire-provider"
## Overview

Following-up from #1536, which deprecated the `junit-platform-surefire-provider`, it now can be removed.

## Deliverables

- [ ] Delete subproject `junit-platform-surefire-provider`
- [ ] Remove `junit-platform-surefire-provider` references in build scripts
- [ ] Remove `junit-platform-surefire-provider`-related documentation from User-Guide

[2018-09-25 07:03] sormuras commented on #1481
I tend to favor an in-memory `javac`-based `ScriptEngine` solution as the default engine.
It embeds a user script as a snippet into a pre-defined class template, compiles it to bytecode and evaluates it on demand.

- no external library is needed
- foundation tool `javac` will remain in the JDK
- the syntax (Java) is well-known

See #1599 for an implemetation spike.

[2018-09-25 07:49] Frontrider commented on #1481
So your solution is to use Java itself from scripting. That should work for all future java versions.

[2018-09-25 07:56] sormuras commented on #1481
Aye.

Don't be too sure, here. Thought that Nashorn (or some other Javascript interpreter) was here to stay "for ever". :-)

Names are not final, yet. The "Java[S|s]cript" pun was intended.

[2018-09-25 07:57] #1521 closed

[2018-09-25 09:58] andrzejo opened #1600 "ConsoleLauncher: VerboseTreePrintingListener - format specifier in exception message throws java.util.MissingFormatArgumentException"
## Overview

_Bug in VerboseTreePrintingListener_

- ( ) when using ConsoleLauncher with **--details** options set to **verbose** and in test method is throw exception with message containing format specifier (e.g. %c - _"My exception message with %c specifier"_) then **VerboseTreePrintingListener** throws MissingFormatArgumentException exception.

example test:
[code]
**command (run from InteliJ)

[2018-09-25 11:40] marcphilipp commented on #1600
@sormuras Could you take a look at this one, please?

[2018-09-25 14:12] andreybleme commented on #1595
Are there anyone already working on this issue? I can work on it.

[2018-09-25 14:27] sormuras commented on #1595
Hi @andreybleme sure -- but wait until #1588 was merged to `master`. There might be changes in the API/SPI incoming.

[2018-09-25 15:06] sormuras commented on #1600
Definitely a bug. Should also happen, when a `@DisplayName("Some %c ool test name...")` is provided. Will add tests and a fix later today.

[2018-09-25 15:15] sormuras commented on #1481
Mh, like with a SecurityManager? Don't know how feasible this is. The purpose of the scripted conditional execution extension is to provide a tool that users may use to test non-default stuff in a quick manner. The current solution using Nashorn is not guarded as well.

[2018-09-25 16:00] tomekkaczanowski opened #1601 "junit5 user guide - typo in one annotation - section 3.7.1"
section 3.7.1 of userguide:

is:

[code]

should be

[code]

see here: https://junit.org/junit5/docs/current/user-guide/#writing-tests-conditional-execution

[2018-09-25 22:17] leonard84 commented on #1481
Haven't looked in deeply but, can we use (parts of) `jshell` https://docs.oracle.com/javase/9/docs/api/jdk.jshell-summary.html for Java9+

[2018-09-25 23:03] andreybleme commented on #1595
@sormuras ok I'll wait for it. Thanks.

[2018-09-26 04:50] sormuras commented on #1481
See first alternative in the initial issue description. `jshell` would be it, if it only was introduced in Java 8... trying hard to get JUnit 5 on 9+, but will fail for years, methinks.

[2018-09-26 07:59] andrzejo commented on #1600
@sormuras Great :)

[2018-09-26 08:05] #162 closed

[2018-09-26 08:07] sormuras commented on #1595
Ready, set... **Go!**

The Display Name Generator SPI is now available.

[2018-09-26 14:13] sormuras commented on #1481
https://github.com/janino-compiler/janino

[2018-09-26 16:47] leonard84 commented on #1481
We could support Nashorn up to Java 10 and offer fallback/forward to `jshell`, this should be doable via feature detection. `EnabledIf::engine() default "Nashorn";` could be changed to `default "Autodetect"` as long as the expressions the engines support are similar.

[2018-09-26 19:12] olcbean commented on #1596
I would like to take a stab at this, if nobody is working on it. Once I am ready: should I open the PR against Pioneer or better here and after the review you will move it (if needed)?

Just one more quick nit question to make sure that we are on the same page: in the attached snippet and png there is a transition that I am not sure it is feasible to make (`with new Stack()` -> `using its noarg co

[2018-09-27 18:08] leonard84 commented on #1481
We should at least allow to define a `default` engine for a project, instead of having to repeat it on every annotation if you want to choose `groovy` for example.

[2018-09-27 18:22] sormuras commented on #1481
Before we invest too much time into this "quick and one-shot-helper" and still experimental feature, I'd rather scrap it from the API. It was and is intended to used _very_ seldom, a custom `ExecutionCondition` is just class away and the pre-defined ones cover already a lot of use-cases:

Having said this, my current plan is to do the following:

1. remove the default value from the annotation, fo

[2018-09-27 19:32] #1600 closed

[2018-09-27 19:33] sormuras commented on #1600
Thanks for the report, @andrzejo ... fixed it on `master` via https://github.com/junit-team/junit5/commit/6eb5531571d16f2c989f0a1fa5d47bce8ed82611

[2018-09-28 08:01] awegmueller commented on #157
Is the TestExecutor/ExecutorProvider feature already on your roadmap? Are there any plans to implement it soon?

With our framework [Eclipse Scout](https://www.eclipse.org/scout/) we have very similar requirements to run tests in a framework specific _run context_ (= thread). Our current JUnit4 TestRunner wraps the original Statement with a Scout specific Statement that creates a RunContext and th

[2018-09-28 08:04] kamkie opened #1602 "AssertAll#assertAll() should display stack trace of all failed assertions"
## Overview

Currently, on failure `Assertions.assertAll()` only shows the stack trace for the `assertAll()` method itself but not for lambda expressions that actually failed.

When there are multiple failures it is hard to know which one failed if the error message is this same (multiple `assertTrue()` or similar `assertEquals()`).

In contrast, soft assertions in AssertJ display all failed stack

[2018-09-28 08:14] epeee opened #1603 "@DisabledOnOs does not work on Solaris"
## Overview

I tired to disable a junit jupiter test on Solaris (5.10 and 5.11) using

[code]

but the test was still executed afterwards.

I had a quick look at the implementation and it looks like the solaris detection for Solaris seems to be the problem (org.junit.jupiter.api.condition.OS#determineCurrentOs).

'os.name' seems to return `SunOS`.

I can come up with a pr for this one later on tod

[2018-09-28 08:17] sormuras commented on #1603
Thanks for the report and the PR in advance.

[2018-09-28 09:36] kamkie commented on #1602
``java
        Assertions.assertAll(
                () -> assertThat(false).isFalse(),
                () -> assertThat(true).isFalse(),
                () -> assertThat(true).isFalse()
        );
[code]
Expected :false
Actual   :true
 <Click to see difference>

Expected :false
Actual   :true
 <Click to see difference>

org.opentest4j.MultipleFailuresError: Multiple Failures (2 failures)
	expecte

[2018-09-28 09:40] leonard84 commented on #1481
One possibility would be to change `@EnabledIf`/`@DisabledIf` to have `Class<? extends ExecutionCondition>` or just `Class<? extends Predicate<ExtensionContext>>` as value which would be instantiated and then invoked to determine the result.

[2018-09-28 09:50] kamkie commented on #1602
MultipleFailuresError is not using addSuppressed at all

[2018-09-28 10:41] #1437 closed

[2018-09-28 11:07] TimvdLippe opened #1604 "Support composition of multiple parameterResolvers"
## Overview

In Mockito, we want to support injection of multiple parameters. To that end, we have to check for a multitude of acceptable annotations and then later act on that annotation. This issue appeared when working on https://github.com/mockito/mockito/pull/1503 which had to add a new annotation (`@Captor`) besides our `@Mock` injection-capabilities.

The author of the PR [wrote a Composite

[2018-09-28 11:31] Frontrider commented on #1481
I like the idea of that. Basically the same as implementing a java scripting engine, with actual ide support.

[2018-09-28 16:07] lessthanoptimal opened #1606 "assertEquals(expected, actual, delta) should allow a delta of zero"
## Overview

`assertEquals(expected, actual, delta)` currently throws an exception if a delta of zero is passed in.

This is a change in behavior from JUnit 4 and an unnecessary restriction. I propose that the desired behavior should be to treat delta of zero as a test for equality.

In my projects a delta of zero occurs when the test tolerance is dynamically computed. The current work around is t

[2018-09-28 16:19] lessthanoptimal opened #1607 "Introduce support for assertNotEquals for primitive data types"
## Overview

There is currently support for `assertEquals( expected, actual )` and `assertEquals( expected, actual , delta )` for primitive types, e.g. `int`, `float`, `double`, but there is no support for `assertNotEquals( unexpected, actual , delta )`. The current `assertNotEquals()` function only works on `Object`.

This is a change from JUnit 4 which had support for functions such as this. Aut

[2018-09-28 21:39] #1603 closed

[2018-09-29 06:49] sormuras opened #1608 "Asciidoctor PDF backend fails on Java 11"
## Overview

The PDF backend of the User Guide is disabled at the moment, since it does not work with Java 11.

Similar to #1099 -- when upgrading to Java 9.

Related issue: https://github.com/jruby/jruby-openssl/issues/175

## Deliverables

- [ ] Enable PDF backend when it works again.

[2018-09-29 16:38] marcphilipp commented on #1606
I'd be fine with changing it.

@junit-team/junit-lambda WDYT?

[2018-09-29 16:46] marcphilipp commented on #1481
Is that really so much different from `@ExtendWith(MyCustomCondition.class)`?

[2018-09-30 04:38] sormuras commented on #1606
+1

[2018-09-30 06:04] sormuras commented on #1481
Again, the USP of the current `@EnabledIf` and `@DisabledIf` programming model is that it uses a simple user-provided string, treats it as a script, and evaluates it with the _in-house_ JavaScript engine. Not a single external library is needed. Every extra work we require the user to perform must be compared to the work of creating a custom `ExecutionCondition` -- which is already not that much.

[2018-10-01 07:16] paul-brooks commented on #1139
If it's ok, I'd like to submit a WIP pull request for this after looking at it in relation to an extension I'm writing...

I wasn't too keen on the naming as ArgumentsProcessor either so set it up as follows for now:

[code]

[2018-10-01 15:21] britter opened #1611 "Introduce better support for accessing fields"
## Feature Request

_Add APIs for accessing fields of test classes and instances._

When authoring an extension one often needs to access fields of a test class or instance fields of a test instance. Usually one is interested in fields of a certain type possibly annotated with a certain method. There is currently no API to do this in JUnit so one has to fall back to raw reflection code.

I see two

[2018-10-02 07:52] shirishp commented on #1607
@marcphilipp Are you looking for PRs for this? I would like to work on this if that's okay.

[2018-10-02 09:21] hmartinh opened #1612 "Can't exclude tags with Maven Surefire via command line options"
I'm trying to exclude a tag from test execution with Java system props that are passed via the command line, but it's not working.

[code]

`$: mvn clean test -Dtest="**/selftest/**" -DexcludeTags="NotThreadSafe"`

Output:

[code]

But `-Dgroups` propery works fine:

`$: mvn clean test -Dtest="**/cdp/autotests/selftest/**" -Dgroups="NotThreadSafe"`

Output:

[code]

[2018-10-02 09:30] sormuras commented on #1612
Assuming you're using Surefire 2.22.0, you may exclude tags via `excludedGroups`.

For details see https://maven.apache.org/surefire/maven-surefire-plugin/examples/junit-platform.html

[2018-10-02 09:32] hmartinh commented on #1612
Yeah, but in this case i have to make two profiles with different exclude/include Tags :(

[2018-10-02 09:38] sormuras commented on #1612
That's how Maven/Surefire works. Perhaps StackOverflow is a better place to ask Surefire configuration/setup related questions. Their might be a solution to your task. :)

[2018-10-02 09:57] sbrannen commented on #1612
Have you tried using a [tag expression](https://junit.org/junit5/docs/current/user-guide/#running-tests-tag-expressions) instead of just simple tags?

[2018-10-02 09:58] sbrannen commented on #1612
Closing this issue since the JUnit team no longer maintains the Maven Surefire provider.

[2018-10-02 09:58] #1612 closed

[2018-10-02 10:01] mateuszjarzyna commented on #1606
I've tried to fix this issue

[2018-10-02 10:03] hmartinh commented on #1612
Yep, it's solution, thnx
mvn clean test -Dtest="**/cdp/autotests/selftest/**" -Dgroups=\!NotThreadSafe

[2018-10-02 10:44] sbrannen commented on #1612
You're welcome.

Glad that works for you!

And thanks for letting us know.

[2018-10-02 12:39] RupprechJo commented on #13
Has every method to be annotated with @Order or can I define an ordering globally for that file like @FixMethodOrder was in JUnit4?

[2018-10-02 12:41] sbrannen commented on #13
`@Order` is just one variation of "ordering" that we will support out of the box.

The current work is just a "spike" with a hard-coded, single implementation.

The end result will be a new SPI that allows for any type of ordering/sorting.

For something like `@FixMethodOrder` from JUnit 4, that will likely end up looking something like `@MethodOrdering(ALPHANUMERIC)`.

[2018-10-02 12:42] RupprechJo commented on #13
Great news!

[2018-10-02 14:03] sbrannen commented on #13
Alphanumeric ordering is also now in place... https://github.com/junit-team/junit5/commit/3eafd28ec0f7f443c52f880f3d2e80d85ae7b4e0

[2018-10-02 14:07] atorok commented on #13
Great work, thank you ! Are we also getting random order ?

[2018-10-02 18:04] marcphilipp commented on #1607
I want to discuss it with the rest of the team first. We'll meet later this week. I'll update this issue then. But I think it's very likely that we'll want to do it and will be looking for PRs.

[2018-10-03 06:59] kotse commented on #744
I get a timeouts from all artifacts from jitpack when I try to set up a very simple project to use this.

Error here shows the first only, but others fail as well.

  Required by:
      project :

[2018-10-03 07:44] sormuras commented on #744
Works for me. For example https://jitpack.io/com/github/junit-team/junit5/junit-jupiter-api/experiments~platform-suites-SNAPSHOT is resolved to https://jitpack.io/com/github/junit-team/junit5/junit-jupiter-api/experiments~platform-suites-r5.2.0-g2aa446a-83/index.html containing:

[code]

[2018-10-03 07:49] sormuras commented on #744
Which version of the JDK do you use to execute your Gradle build?

[2018-10-03 08:00] kotse commented on #744
This was the issue, I was on Java 10.0.2, it is working with 9 :)

Thank you!

[2018-10-03 08:04] sormuras commented on #744
Does it work with OpenJDK 11 as well?

[2018-10-03 08:53] britter commented on #1611
The `ExtensionContext` should give access to these wrapper classes (there should probably also be a `TestMethod` object). They could all provide getters to the wrapped objects. Evolving the API will be a challenge here. I see several ways:

1. find a good name for the accessors to the wrapped objects. As you pointed out the obvious names are already taken. So one would have to find a different nam

[2018-10-03 10:30] marcphilipp commented on #1611
Let's try to objectively assess advantages and disadvantages of the two approaches. Static helper methods are certainly less discoverable. However, they can be used for more than just test classes, e.g. for finding fields on classes in general. What else?

[2018-10-03 10:37] zoltanersek commented on #1611
Other advantages for static helper methods:

There would be no change to ExtensionContext, which would not break existing clients when they try to upgrade in the future.

There would not be other classes instantiated.

[2018-10-03 11:00] marcphilipp commented on #1604
IIUC, the linked `CompositeParameterResolver` delegates to the first `ParameterResolver` that can resolve a parameter, while the Jupiter engine currently requires that there's exactly one `ParameterResolver` to resolve any given parameter.

Looking closer at the linked PR it seems to me that of the two implementations only one will ever match as long as it's not a `@Mock ArgumentCaptor` parameter.

[2018-10-03 11:02] sbrannen commented on #1606
_in progress_ in #1613

[2018-10-03 11:08] sbrannen commented on #13
Yes, one can implement the new SPI to support use cases like that.

Your custom `MethodOrderer` can _sort_ the list of method descriptors any you want it to.

The methods will then be executed exactly in that order.

[2018-10-03 11:17] marcphilipp commented on #157
@awegmueller Thanks for describing your use case in detail!

Your `PlatformTestRunner` currently wraps around the execution of rules, before/after methods, timeout/expected exception handling and the actual invocation of the test method.

The simplistic `TestExecutor` extension I proposed above was only intended to allow to execute the test method. We could add additional methods to the interface

[2018-10-03 11:19] marcphilipp commented on #157
Alternative design:

[code]

[2018-10-03 13:48] TimvdLippe commented on #1604
I think the issue is that there is no link between the `parameter` in `supportsParameter` and `resolveParameter`. E.g. it results in duplicate code where you first check whether a parameter is accepted and then when resolving you have to again get the parameter. Instead, I would expect the API to give a parameter and you can optionally return a resolution. E.g. `Optional<Object>` rather than `Obje

[2018-10-03 14:31] marcphilipp commented on #1604
Our intention was to make it possible to resolve all kinds of values, including `null`. Thus using an `Optional` was not an option (no pun intended).

You could create the missing link using `ExtensionContext`:

[code]

[2018-10-03 14:33] sbrannen commented on #13
`Random` ordering is now in place... https://github.com/junit-team/junit5/commit/429e6dfecb04a2b93841691864a5c0cdc637c8a2

Simple as 🥧!

[2018-10-03 14:34] marcphilipp commented on #1481
The downside of a `Condition` or `Predicate` over `ExecutionCondition` is that it lacks the ability to return a reason.

[2018-10-03 14:52] TimvdLippe commented on #1604
While technically possible, I am not really a fan of that solution. If you would then add both `@Mock` and `@Captor` on a variable, depending on the order of the resolution mechanism, you could end up with different results. E.g. you are now relying on multiple extensions agreeing that what they are resolving to is the single truth.

After writing the above paragraph, I checked out the [internal J

[2018-10-03 15:02] checketts commented on #13
How doest the ordering affect nested classes? (Sorry if it was addressed already, I just didn't see it in the tests).

[2018-10-03 15:06] marcphilipp commented on #1604
Well, storing it in an instance variable is error-prone when tests are executed in parallel. Thus, we always recommend storing state in `Store`.

I agree that resolution should happen in `resolveParameter` rather than `supportsParameter`. However, in simple cases (like this dummy example), triggering it from the latter and checking for `isPresent()` and triggering it again from the former would al

[2018-10-03 17:31] tcfurrer commented on #13
Also what about execution order of top-level classes?  This issue isn't providing anything new for that, right?  Is anything planned?  Would it have consistent/similar syntax?  For example could there be @DependsOn support at the class level later?

By the way, great work here!  I can't wait to install Junit 5.4.  We really appreciate all the good work you guys are doing.

[2018-10-03 18:49] kotse commented on #744
Trying again with Java 9, 10 and 11, same code/gradle/machine/network/etc and it all works... Got a build working with maven as well. Something weird with jitpack I guess. Anyway - thank you sormuras for taking the time to look at this!

Now time to play with Suites, as this is blocking our full JUnit5 migration.

[2018-10-04 06:06] atorok commented on #13
@sbrannen any chance we could make the seed of the random order configurable with some system property ? This is important to make the failures reproducible.  https://github.com/randomizedtesting/randomizedtesting implements this.

[2018-10-04 08:29] britter commented on #1611
The static helpers can be implemented right away. They could even be used in the wrappers should they be implemented at some point in time.

[2018-10-04 09:27] sbrannen commented on #13
**Update** : _Deliverables_ have been expanded and updated.

[2018-10-04 09:40] sbrannen commented on #13
Verified support for `@Nested` test classes in commit https://github.com/junit-team/junit5/commit/2517ca6fbf1540ac2c6afb04ad2d6552bdde1b48.

[2018-10-04 10:15] atorok commented on #13
Thanks for your updates. Are there any technical difficulties in ordering the test classes or is it just not something in scope right now ? Should I open a separate issue for it ? We are looking to pseudo randomize test class order as well, in addition to the method order.

[2018-10-04 11:29] sbrannen commented on #13
Sure thing!

To be honest, that's something we never intended to support, and we still don't plan to support it.

However, if you feel strongly about it, feel free to open a separate issue. If there is considerable interest in the community, we will potentially consider it.

[2018-10-04 12:50] britter opened #1618 "API for accessing outer test instances"
## Overview

- (x) **Feature request.** Provide an API to access outer test instance

Extensions that manage test instance fields often need access to the fields declared in outer test instances. Examples for this are the [MockitoExtension](https://github.com/mockito/mockito/blob/release/2.x/subprojects/junit-jupiter/src/main/java/org/mockito/junit/jupiter/MockitoExtension.java) and the [Testconta

[2018-10-04 15:10] britter commented on #1618
This API could also be hosted by the `TestObject` wrapper I described in #1611

[2018-10-04 18:51] atorok opened #1619 "Support randomizing test class order"
## Overview

#13 Implements support for random method order, but does not address class ordering.
The benefits of pseudo random testing are described here: https://github.com/randomizedtesting/randomizedtesting/wiki/Core-Concepts
The framework is extensively used for Apache Lucene and Elasticsearch.

## Deliverables

- [ ] A  mechanism to control how classes are ordered, similar to what we have fo

[2018-10-04 22:46] kcooney commented on #13
If the seed of the random order is configurable with a system property, we should consider updating JUnit 4.13's `Ordering` class to support the same system property.

[2018-10-05 08:06] marcphilipp commented on #13
@kcooney Good point! Could you please create an issue for that over at the junit4 repo?

[2018-10-05 09:29] marcphilipp commented on #1607
**Team Decision:** We'd like to add `assertNotEquals` for primitive data types.

@shirishp Do you have time to submit a PR?

[2018-10-05 09:40] marcphilipp commented on #1602
**Team Decision:** Add failures as suppressed exceptions in Jupiter.

[2018-10-05 09:49] apodkutin opened #1620 "Document order of callback methods and extensions that run after test/container execution"
Based on [JUnit5 user-guide](https://junit.org/junit5/docs/current/user-guide/#extensions) extensions execution order should correlate with extensions declaration order:

But it does not.

Example: https://github.com/apodkutin/junit5-extensions-order-test/blob/master/src/test/java/junit5/extensions/order/JUnit5ExtensionsOrderTest.java

`@ExtendWith({FirstExtension.class, SecondExtension.class})`

[2018-10-05 11:41] shirishp commented on #1607
@marcphilipp Yes. I will work on this over weekend and submit a PR.

[2018-10-05 16:42] marcphilipp commented on #1607
Yes, that sounds good!

[2018-10-05 19:49] sbrannen commented on #13
@marcphilipp and @kcooney,

For JUnit Jupiter we consistently use the `junit.jupiter` prefix for all _Configuration Parameters_.

Thus, my plan is to call the _Configuration Parameter_ (which can optionally be set via a JVM system property) something similar to `junit.jupiter.method.order.random.seed`.

So if we _really_ want to use the same property name for JUnit 4.13 and Jupiter, I suppose we'd

[2018-10-05 20:30] smoyer64 commented on #13
@sbrannen Not much of JUnit 5 is backwards-compatible anyway - naming just this one configuration parameter to match the name in JUnit 4 seems like it would instill a (small) false sense of security.  I'd far rather see the naming be consistent _within_ JUnit 5. (just my two cents).

[2018-10-05 21:12] apodkutin commented on #1620
Thank for your comment @smoyer64, but I can't agree with you, because you're showing the diagram which is related to user-provided test and lifecycle methods and it looks like expected behavior for me as well.

But when I'm extending some test class with extension, and I'm declaring them in a specific order, I'm expecting that they will be invoked in the same order, I mean `beforeEach` from the fi

[2018-10-05 22:11] dotCipher opened #1621 "Document Test Kit API"
## Overview

Based on the significant change in formalizing and exposing the new `junit-platform-testkit` module, the User Guide should include documentation for the first version of its usage.

## Related Issues

- #1356
- #1392
- #1662
- #1663

## Deliverables

- [x] Write Javadoc for methods in `EventConditions` and `TestExecutionResultConditions`.
- [x] Document `junit-platform-testkit` in the

[2018-10-05 23:01] VladRassokhin commented on #1619
Sorry for noise and duplication, though I'll just quote my comment from #13 with minor edit for reasons on especially classes reordering, not methods reordering:

[2018-10-06 05:38] shirishp commented on #1607
@lessthanoptimal @marcphilipp There is no `assertEquals(boolean, boolean)`. Do we still want to implement `assertNotEquals(boolean, boolean)` for boolean?

IMHO, if we want to do it, it should be for both, equals and notEquals.

[2018-10-06 09:16] marcphilipp commented on #13
Agreed, I think it's far more important that both support setting it via a system property than it being the same property.

[2018-10-06 09:19] marcphilipp commented on #1620
@apodkutin Thanks for reporting this issue! @smoyer64 described our intention correctly: Extensions that run after a test are run in reverse order. However, as you noticed that's missing from the documentation and we should add it there.

[2018-10-06 14:44] llowrey opened #1622 "@CsvSource - allow collections as parameters"
Feature Request for `@CsvSource`:

I often need to verify that the output of a method is a list or set of values.  Right now I end up passing the list as a single string with a different delimiter and then splitting it in the test method. It would be more convenient to be able to do something like:

[code]

[2018-10-06 15:47] sbrannen commented on #1611
Regarding naming conventions for methods and `ReflectionSupport` vs. `AnnotationSupport`, please see https://github.com/junit-team/junit5/pull/1617#issuecomment-427583980.

[2018-10-06 15:52] sbrannen commented on #1611
FYI: there actually is (some) existing support: `AnnotationSupport.findPublicAnnotatedFields(...)`, `AnnotationUtils.findAnnotatedFields(...)`, and `ReflectionUtils.readFieldValue(...)`, although the latter two are technically not _public_. 😉

[2018-10-06 15:53] sbrannen commented on #1611
My gut feeling is that I would object to any such deprecation.

[2018-10-06 15:55] sbrannen commented on #1611
Implementing the utility methods in `AnnotationSupport` is a no-brainer IMHO, especially for methods that already exist in `AnnotationUtils` and `ReflectionUtils`.

[2018-10-06 16:00] sbrannen commented on #1620
Please note that the _wrapping_ behavior for "after" extensions applies to callback methods as well (e.g., `@AfterEach`, `@AfterAll`).

I've updated the title of this issue accordingly.

[2018-10-06 16:05] sbrannen commented on #1620
I've added a _Deliverables_ section as well.

[2018-10-06 16:08] sbrannen commented on #13
@smoyer64 and @marcphilipp, thanks for chiming in.

I agree that we should remain consistent in Jupiter regarding naming conventions for configuration parameters.

I will therefore tentatively go with `junit.jupiter.execution.order.random.seed`, leaving out `method` since the same seed may later be used for test class ordering or similar use cases.

[2018-10-06 16:11] sbrannen commented on #1622
Hi @llowrey,

I see a few problems with the proposal.

1. Brackets are valid syntax in CSV.
2. CSV has no notion of collections or sets within an input line.
3. I imagine that this is a bit of a corner case that most users will not face.

[2018-10-06 16:12] sbrannen commented on #1622
Also, have you considered making use of the `Arguments` or `ArgumentsAggregator` APIs?

They might simplify your implementation.

[2018-10-06 16:41] dotCipher commented on #1621
Fair, let me know when I should pull the trigger on it then.  Thanks!

[2018-10-06 20:30] apodkutin commented on #1620
@smoyer64 , @marcphilipp @sbrannen, thank you guys for the quick answers!
I'm really appreciate that you will add this information to the JavaDoc and to the user-guide as well.

But I still have only one question, do you think that this behavior and I'm talking only about callback methods from extensions **should be like this**? I have one example when I've faced it and why I actually raised this

[2018-10-06 21:31] jbduncan commented on #972
I'm glad to see that commit https://github.com/junit-team/junit5/commit/ef526644a5d1d27536096c2f0b8c5d2df247fc92 partially resolves this issue by splitting out the dependency versions into their own source file. :)

[2018-10-06 22:38] lessthanoptimal commented on #1607
@shirishp At first I was thinking that the boolean case isn't useful. However, right now if you wanted to see if two boolean variables are equals you do `assertTrue(a==b)` which doesn't read as well as `assertEquals(a,b)`. My vote would be to add `assertEquals(boolean, boolean)` and `assertNotEquals(boolean, boolean)`.

[2018-10-07 02:11] llowrey commented on #1622
Thank you for the feedback.  I can see that my suggestion is not compatible with CsvSource. I ended up creating an annotation for this so my problem is solved. This ticket can be closed.

[2018-10-07 04:56] smoyer64 commented on #1620
I've never had a situation where I _didn't_ want to invert the test setup when performing the tear-down.  In my mind, the phrase

immediately raised red-flags.  In my opinion, you really shouldn't be making assertions outside of test methods.  In the case where I've written tests for an extension that implements both a ``beforeXxx()`` and ``afterXxx()`` extension point, I've individually tested th

[2018-10-07 06:48] marcphilipp commented on #972
Yeah, that's true. The root buildscript is still too big. My current plan is to extract parts (JAR manifest entries, publishing to GH Pages) into plugins in `buildSrc` and eventually standalone plugins so we can reuse them in the opentest4j and apiguardian projects. I think we should revisit the buildscript afterwards and decide which parts would benefit from being extracted.

[2018-10-07 09:00] shirishp commented on #1607
@lessthanoptimal I am adding the `assertNotEquals(boolean, boolean)` in PR for this issue. I feel we should create a separate issue for adding `assertEquals(boolean, boolean)`. I can take that and submit PR.
@marcphilipp What do you think?

[2018-10-07 12:48] dmitry-timofeev opened #1624 "Support hexadecimal values in arguments converters"
## Overview

It’s a feature request: support converting argument strings containing integral literals in hexadecimal to the corresponding types on top of decimal.

### Description
Currently one cannot use hexadecimal integral values when specifying arguments, e.g., this won't work:
[code]

The cases when one needs to use hex include copying values in hex from some specification; when binary repres

[2018-10-07 13:45] dmitry-timofeev commented on #1624
BTW, [`Float.valueOf`](https://docs.oracle.com/en/java/javase/11/docs/api/java.base/java/lang/Float.html#valueOf\(java.lang.String\)), in contrast to Integer.valueOf, supports hex literals.

[2018-10-07 16:39] #1622 closed

[2018-10-07 16:40] sbrannen commented on #1622
OK. I just closed this issue.

Thanks for letting us know.

But... out of curiosity, would you mind sharing with us what kind of annotation you created for your solution?

[2018-10-07 16:44] sbrannen commented on #1624
_in progress_ in #1625

[2018-10-07 16:50] sbrannen commented on #1624
Tentatively slated for inclusion in 5.4

[2018-10-07 17:02] llowrey commented on #1622
I created a version of CsvSource that implements the feature I had requested. Since the syntax is similar but different it made sense for it to be a different annotation. Taking the ArgumentsSource route seemed to be the lowest friction option.

[2018-10-07 17:15] sbrannen commented on #13
Update: extensions for method ordering will be able to specify the default `ExecutionMode` for concurrent test execution. See https://github.com/junit-team/junit5/commit/9d692ac80d0f7a6093c5a3789c77d291667c5ae4

[2018-10-07 18:57] andreybleme commented on #1595
Seems that @zoltanersek already did it. I'll move to another issue.

[2018-10-08 08:44] sormuras opened #1626 "Remove cyclic package references"
## Overview

Follow-up from #1437

Modules `junit-jupiter-api` and `junit-jupiter-engine` contain cycles that can be avoided.

[code]

Module `junit-jupiter-params` _inherits_ cycles by shadowing an external library that contains cycles.

[code]

## Deliverables

- [ ] Configure `CyclesDetector` to ignore shadowed packages
- [ ] Remove cyclic references from `junit-jupiter-api` and `junit-jupiter-

[2018-10-08 08:48] sormuras commented on #1626
Related test case: https://github.com/junit-team/junit5/blob/master/platform-tooling-support-tests/src/test/java/platform/tooling/support/tests/PackageCyclesDetectionTests.java

[2018-10-08 09:39] sbrannen commented on #1622
Thanks for the feedback.

[2018-10-08 13:39] romsper opened #1627 "How I can run code After all tests in Parallel?"
## Overview

I try to run my tests in parallel via Maven **forkCount-${threadCount}** and **reuseForks-false** but unsuccessfully.

- ( ) **Bug report.** Currently, when I use **TestExecutionListener** his method **testPlanExecutionStarted** exeute after each class. I found a little information about this problem, but I can't find the solve.

- ( ) **Feature request.** I tried to use **Runtime.get

[2018-10-08 15:01] marcphilipp commented on #1626
Where's the cycle in `junit-jupiter-api`?

[2018-10-08 15:05] marcphilipp commented on #1627
This is really a Maven Surefire issue, so please open an issue on their issue tracker. In the meantime, you're welcome to try [JUnit's mechanisms to run tests in parallel](https://junit.org/junit5/docs/current/user-guide/#writing-tests-parallel-execution).

[2018-10-08 15:05] #1627 closed

[2018-10-08 16:05] romsper commented on #1627
The solution:
**JUnit** - **TestExecutionListener** with **testPlanExecutionStarted**
and **Maven**

                <groupId>org.apache.maven.plugins</groupId>
                <artifactId>maven-surefire-plugin</artifactId>
                <version>${maven-surefire.version}</version>
                <configuration>
                    <threadCount>${THREAD_COUNT}</threadCount>

[2018-10-08 19:50] danielFesenmeyer commented on #80
I agree with @FlorianSchaetz and @deepakab03. We like to cancel our integration tests if they take too much time (e.g. waiting for an event from a queue). We don't want to surround all of our tests with assertTimeoutPreemptively().
Currently we use JUnit4 with the Timeout rule for this purpose, When trying to migrate that to JUnit5, I found this issue here. We deferred the migration now, hoping th

[2018-10-08 19:58] #1606 closed

[2018-10-08 19:59] geokh77 opened #1628 "Rerun parameterized test"
Hi
I need to rerun failed tests that are parameterized. But I didn't manage. The parametrization is preventing the rerun of failed tests.

In JUnit 4 I could use reluse and control the outcome the test very easy, but with JUnit 5 and parameterization I cannot do that anymore!!???

Any suggestions?

Cheers George

[2018-10-08 20:00] sormuras commented on #1628
Are you on the command line? Within an IDE? Which?

[2018-10-08 20:44] geokh77 commented on #1628
Hi Christian
Thanks for your fast reply.
We built a test automation framework, based och Java, Selenium, JUnit, Gradle, TeamCiry, etc. When we run the tests on TeamCity the test fails due to connection error in the test environment ( we have integrations to third party, and this integrations go down sometimes causing our tests to fail and then the integrations are fine and the tests are green agai

[2018-10-09 01:35] philwebb opened #1629 "Publish a module that combines the Jupiter API, Params, and Engine in one artifact"
## Overview

It's fairly common to require `junit-jupiter-api`, `junit-jupiter-params` and `junit-jupiter-engine` when writing tests. Currently this means that any build file need three distinct imports, and possible a version property declaration to ensure version compatibility.

The currently [Maven](https://github.com/junit-team/junit5-samples/blob/c155a7f0d8683d2274856569388720e44841abcb/junit

[2018-10-09 04:47] sormuras commented on #1629
`junit-jupiter-engine` is a test **runtime** dependency and should not be in `<scope>test</scope>` at all. The Gradle build you linked uses `testCompile` twice, and `testRuntime` once. It's a short-coming of Maven not to distinguish between those two scopes and also a lack of "magic" in Surefire's JUnit Platform Provider that it doesn't auto-resolve the matching engine for the used API. This [juni

[2018-10-09 07:01] snicoll commented on #1629
I can certainly disagree with that. I'd prefer we'd not discuss build system shortcomings and whatever was done here to make it easier in one vs. the other. IMO, all that matters is the users community at large and a somewhat consistency with JUnit 4.

It feels to me the modularity and architecture of JUnit Jupiter puts the onus on the user for the most basic task of configuring a project. Yes, on

[2018-10-09 07:29] sormuras commented on #1629
I guess not. That's why a regular user should only depend on `junit-jupiter-api`. A single dependency delivering a bunch of features. If a regular+1 user needs parameterized test, `junit-jupiter-params` is only a single dependency away -- which even replaces the former one to `junit-jupiter-api`.

This is not complex.

If you're happy with X, stay with X. X includes JUnit 3, 4, TestNG, and even `p

[2018-10-09 07:59] sormuras commented on #1481
See PR #1599 which is now very small and concise. Only thing left open: remove default value `Nashorn` from the annotation declarations.

[2018-10-09 09:39] sormuras commented on #1481
The upside of the `java` as script engine approach:

[code]

Still works.

[2018-10-09 11:59] smoyer64 commented on #1629
I'm not sure it's even fair to compare the JUnit 5 Parameterized tests to those built into JUnit 4 - the functionality really isn't in the same league.  In 99% of my past projects, I ended up importing both JUnit 4 _and_ JUnitParams.  I do feel the pain of transitioning to JUnit 5 when trying to explain how to configure Surefire and which engine it will pick.  This, IMHO, is improving and part of

[2018-10-09 14:54] bitcoder opened #1630 "add support for tags in JUnit XML reports"
## Overview

 **Feature request.**
As mentioned in #1182,wee're a Test Management vendor for Jira and our addon (Xray) (https://marketplace.atlassian.com/apps/1211769/xray-test-management-for-jira?hosting=server&tab=overview) provides already handling of JUnit XML reports. However, our users have the need of allowing to tag Tests with certain labels / Jira issue keys, so that their results can be

[2018-10-09 15:37] philwebb commented on #1629
I did notice that, but I wondered if the distinction made much difference to most users. Is the additional dependency worth it?

Is the `junit-platform-maven-plugin` the recommended way to configure Maven? The reference documentation doesn't mention it, so I'd not seen it before. Or is this something that's ultimately going to be part of the `maven-surefire-plugin`?

I'm asking because at some poi

[2018-10-09 15:41] philwebb commented on #1629
In hindsight it feels like a single dependency isn't worth it. I misunderstood the role of the engine jar and it's clear that there's a desire for `junit-jupiter-params` to remain separate for now. If anyone from the JUnit team wants to chime in on https://github.com/spring-projects/spring-boot/issues/14736 with recommendations for the Spring Boot configuration, please do so.

[2018-10-09 15:48] smoyer64 commented on #1629
@philwebb There are also now JUnit 5 pages for both the Surefire and Failsafe plugins (e.g. https://maven.apache.org/surefire/maven-surefire-plugin/examples/junit-platform.html).

[2018-10-09 18:54] nsmolenskii commented on #1604
@marcphilipp I voting up for something like that, but probably separated trait will make a bit more sense.

[2018-10-10 04:38] sormuras commented on #1481
Accessing script bindings via attributes also works:

[code]
_Where art thou, Raw String Literals?_

[2018-10-10 04:58] sormuras commented on #1626
#### `org.junit.jupiter.api.extension.ExtensionContext`

- Line 27: `import org.junit.jupiter.api.TestInstance.Lifecycle;`
- Line 154: `	Optional<Lifecycle> getTestInstanceLifecycle();`

...and some type in package `org.junit.jupiter.api` refers (at least indirectly) to a type residing package `org.junit.jupiter.api.extension`.

[2018-10-10 12:04] tictac-freshmint commented on #1558
Surefire can do this, but unfortunately only for JUnit 4: https://maven.apache.org/surefire/maven-surefire-plugin/examples/rerun-failing-tests.html I am not sure what the equivalent for Gradle is and if one of its plugins support retries.

What we need is that in the Surefire test result XML files the information about retries are contained. We use Allure for reporting, and I believe it processes

[2018-10-10 13:37] shirishp commented on #1607
@marcphilipp @lessthanoptimal Please review the PR here - https://github.com/junit-team/junit5/pull/1623

[2018-10-11 06:08] sormuras commented on #1626
There is no 🥄 in `junit-jupiter-api` and there was never a 🌀 in `junit-jupiter-api` either. Fixed false positive cycle detection test by upgrading to Bartholdy `0.0.30`.

Updated issue description accordingly.

[2018-10-11 12:12] sormuras commented on #1629
@philwebb

At the moment it is just an option, when running on Java 11 and above. It is my playground to investigate "[Testing In The Modular World](https://sormuras.github.io/blog/2018-09-11-testing-in-the-modular-world)", especially when it comes to _white box_ testing on the module-path.

With those specific requirements, it won't be the recommended way to configure Maven. Perhaps, some day in

[2018-10-12 06:59] britter commented on #1611
I understand that deprecating an API that has just been released feels wrong. But I don't think that the XxxUtils/Support approach is a good idea. It's hard to discover for users and Utils always end up as a dumping ground for everything remotely related.

[2018-10-12 08:07] performrumpf opened #1632 "How to use internal custom TestEngine implementations in Maven-Surefire-Plugin?"
For developing custom TestEngine classes there already is a lot of documentation on how to use them:

- ServiceLoader and plugin system
- LauncherConfig

Well, I tried to use a custom TestEngine with ServiceLoader (intern), it works fine in IntelliJ or using a Launcher, but I didn't get anything while running **mvn test**.

In Maven Surefire documentation it's mentioned that you only need to add J

[2018-10-12 08:10] sormuras commented on #1632
What are _external_ and _internal_ engines?

Do you have a `pom.xml` snippet to share?

[2018-10-12 08:21] sormuras commented on #1632
Here is an integration test showing how to include three engines in a `pom.xml`:

https://github.com/apache/maven-surefire/blob/19006aa70f36705f399b8c105a16f636904f00f3/surefire-its/src/test/resources/junit-platform-multiple-engines/pom.xml#L36-L71

[2018-10-12 08:27] performrumpf commented on #1632
[code]

Project structure
- src
  - main
     - java
     - resources
  - test
     - java
       - com.experiment.engine
         - MyTestEngine.java
         - MyTestDescription.java
     - resources
       - META-INF
         - services
           - org.junit.platform.engine.TestEngine

[2018-10-12 08:30] performrumpf commented on #1632
I overwrote discover and execute methods in a way that engineExecutionListener fires "start" and "finish" for the root and one child

[2018-10-12 08:39] sormuras commented on #1632
Are you extending `JupiterTestEngine`? Or extending some class in `junit-platform-launcher`?

[2018-10-12 08:47] performrumpf commented on #1632
I don't extend from JupiterTestEngine as that test engine will build tests from other resources (i.e. XML files). I use launcher only to see if LauncherConfig works or (for the future) if DiscoverySelectors work properly.

[code]

[2018-10-12 08:49] sormuras commented on #1632
Can you please move your `com.experiment.engine` with its `org.junit.platform.engine.TestEngine` into the `main` source set and see if Surefire now sees your engine?

[2018-10-12 08:52] sormuras commented on #1632
What is listed in Surefire's `class-path`s when you invoke your build with `mvn --debug ...`?

[2018-10-12 09:17] performrumpf commented on #1632
unfortunately moving it to main didn't help. Also I couldn't find any useful information in debug mode about class path. The only line i could find with class path was `<classpathDependencyExcludes>${maven.test.dependency.excludes}</classpathDependencyExcludes>
`
[code]

[2018-10-12 09:22] sbrannen commented on #1632
What happens if you move `META-INF/services/org.junit.platform.engine.TestEngine` to `src/main/resources` as well?

[2018-10-12 09:29] britter commented on #1587
Maybe the Installation section should be improved. It really doesn't go into detail on how to _install_ junit in your project. It describes the artifacts only. I think it could easily improved by a should section about build tool support, ide support and launching junit using the console launcher.

[2018-10-12 09:33] sormuras commented on #1632
Below those configurations there should be line like `[DEBUG] -- end configuration --` and then the interesting lines start. Look for lines starting with `[DEBUG] test(compact) classpath:` and `[DEBUG] provider(compact) classpath:`.

[2018-10-12 09:42] performrumpf commented on #1632
At "maven-compiler-plugin":
[code]
Surefire didn't display any classpath informations

[2018-10-12 09:44] sormuras commented on #1632
Does `C:\Users\c.rumpf\Documents\perform\junit5sandbox\target\test-classes` contain the `MyEngine.class` AND the `META-INF/services/org.junit.platform.engine.TestEngine` file?

Strange...

[2018-10-12 09:48] performrumpf commented on #1632
When they are under `src/test/...`, then yes. Otherwise they are in `target\classes`

[2018-10-12 17:35] sormuras commented on #1632
Some more suggestions:

- Add `<project.build.sourceEncoding>UTF-8</project.build.sourceEncoding>` to your `<properties>`
- Update the `maven-compiler-plugin` to `3.8.0`
- Help Surefire to select its `surefire-junit-platform` provider

[code]

For details see https://maven.apache.org/surefire/maven-surefire-plugin/examples/providers.html

Got it working with the [`ice.cream`](https://github.com/ju

[2018-10-13 13:13] dmitry-timofeev commented on #1624
Do you think JUnit shall also support converting unsigned _bytes_, e.g.,
`"0xFF"` → `(byte) 0xFF`? I'd consider it useful to be able to specify any byte value as unsigned hex — as it clearly expresses the values of individual bits.

[2018-10-13 16:18] #1624 closed

[2018-10-13 16:45] marcphilipp commented on #1624
@dmitry-timofeev I think we should stick with the `Byte.decode()` semantics. You could implement your own converter and register it via `@ConvertWith`.

[2018-10-13 18:02] dmitry-timofeev commented on #1624
Thanks, that makes sense, such special case, although useful for some users, might be confusing to others!

[2018-10-13 21:03] leksak commented on #1224
I'm writing code that could make use of this functionality right now

[2018-10-14 11:59] k1w1m8 commented on #1439
BTW, I retried this in IDEA 2018.3 EAP and the dynamic tests with false assumptions are no longer displayed in the results tree!

Sigh. I raised https://youtrack.jetbrains.com/issue/IDEA-200500 for that.

[2018-10-14 18:43] sbrannen commented on #1439
Thanks for raising the issue with the IDEA team.

[2018-10-14 18:52] sbrannen commented on #1607
Please see my comments in PR #1623.

[2018-10-14 18:53] sbrannen commented on #1607
_in progress_ by @shirishp in #1623.

[2018-10-15 02:15] k1w1m8 commented on #1439
NP.

Actually, I have raised several tickets with IDEA team about the latest EAP with JUnit, that was just one.

I also am about to raise a different set of tickets for latest Eclipse. Overall Eclipse seems to better but the treeview UI keeps expanding and contracting constantly which makes it pretty unusable.

I'm starting to get impostor syndrome about this - shouldn't someone from Core team be

[2018-10-15 07:50] awegmueller commented on #157
Hello Marc

Thanks a lot for the detailed analysis and your proposals! I am sorry my reply comes a bit late, but I was on holiday until today. However, we really like your first proposal (TestExecutor interface) and prefer that solution to the version that uses enums. This allows us to wrap each executable in a Scout RunContext/Subject again, as we have done it with JUnit 4. I guess this solution

[2018-10-16 00:19] mitchellirvin commented on #1595
is this wrapped up? Can we remove the "up for grabs" label, if so?

[2018-10-16 07:07] performrumpf commented on #1632
I made the suggested changes, but I don't get this last part of yours. Maybe Surefire is handling test discovery from a TestEngine differently then DefaultLauncher.
[code]

Here is MyTestEngine.java
[code]

[2018-10-16 07:42] performrumpf commented on #1632
I guess this is a maven issue and not an JUnit platform issue. I did following steps which resulted in executing my test:

- Added JUnit-Jupiter 5.3.1 to dependencies
- Wrote a Java JUnit test with a dummy test method (no assertions or output)

Maybe Surefire only consideres other TestEngine implementations if it finds a valid one.

[2018-10-16 08:40] mureinik commented on #1579
Quick note:
Yesterday I upgraded the project where I originally encountered this issue (Synopsys' Seeker, not open source, unfortunately) to JUnit Jupiter 5.3.1 and maven-surefire-plugin 2.22.1 (released last weekend), and I can confirm that it indeed solves the problems.

Kudos!

[2018-10-16 10:17] TamasNeumer commented on #1579
I was also facing the same issue (using spring-boot).
However as @sbrannen pointed out previously I had to override the `junit` dependencies provided by `spring-boot-starter`, which then solved the issue. Thanks!

[code]

[2018-10-16 12:21] performrumpf commented on #1632
I'd like to close this ticket as this is definitely a feature of Surefire. Following reasons:

- Surefire looks for files having a certain pattern (see [documentation](http://maven.apache.org/surefire/maven-surefire-plugin/examples/inclusion-exclusion.html))
- The filter can be overwritten with a simple order: `mvn test -Dtest=*`
- The filter can be overwritten by adding `<test>*</test>` in plugin

[2018-10-16 12:38] sbrannen commented on #1632
Maven's default patterns and filtering are mentioned in the User Guide: https://junit.org/junit5/docs/current/user-guide/#running-tests-build-maven-filter-test-class-names

That section also links to: https://maven.apache.org/surefire/maven-surefire-plugin/examples/inclusion-exclusion.html

Are you saying the User Guide should do more than it already does in this regard?

[2018-10-16 12:38] sbrannen commented on #1632
OK. I'm closing it for you now.

[2018-10-16 12:38] #1632 closed

[2018-10-16 16:33] shirishp opened #1636 "Correct @API annotation link in pull request template"
## Overview

Link to `@API` annotation in current [Pull Request Template](https://github.com/junit-team/junit5/blob/master/.github/PULL_REQUEST_TEMPLATE.md) in definition of done section is expired / dead.

Current link points to http://junit.org/junit5/docs/snapshot/api/org/junit/platform/commons/meta/API.html which does not exist.

I am not sure what should be correct link, because this annotati

[2018-10-16 17:19] #1636 closed

[2018-10-16 17:20] marcphilipp commented on #1636
Thanks for raising this issue! I've fixed the link.

[2018-10-16 17:35] sormuras commented on #1632
Surefire should select the correct Framework Provider automatically: having `org.junit.platform:junit-platform-engine` in your test runtime dependencies should trigger the selection of its `surefire-junit-platform`. As that didn't work out in my example, I added the `surefire-junit-platform` provider to the plugin dependencies, which forces this provider to be selected and executed.

[2018-10-16 20:29] ttddyy opened #1637 "Add null usecase flag on @ValueSource"
## Overview
- (X) **Feature request.**

Similar to #1635, I stumbled upon a situation where I need to validate `null` in parameterized test.

[code]

It is certainly convenient to have a way of testing `null` usecase without creating a custom provider or another test method just for `null`.

How about adding a flag attribute to `@ValueSource` annotation such as `testNull`, `checkNull`, etc.

[code

[2018-10-16 20:45] sbrannen commented on #1637
We typically would not want to introduce an annotation attribute that is only applicable part of the time. For example, `null` does not make sense for a primitive target type.

On the other hand, you can already pass `null` arguments via `@MethodSource` or `CsvSource` as follows.

[code]

That's perhaps a bit of a _hack_, but... it works. 😇

[2018-10-16 20:46] sbrannen commented on #1637
Oh yeah, the input for the above is:

[code]

[2018-10-17 01:45] JLLeitschuh commented on #1602
I've had complaints from multiple developers on my team about this part of Junit5.
I think at one point all of the stack traces were captured, but this is no longer happening.

[2018-10-17 05:05] marcphilipp commented on #1602
About which part? `assertAll`?

[2018-10-17 05:49] marcphilipp commented on #1637
You could define a `@NullSource` and use it in addition to `@ValueSource`.

[code]

[2018-10-17 09:08] sbrannen commented on #1637
@junit-team/junit-lambda, Tentatively slated for 5.4 M1 for the purpose of _team discussion_ in conjunction with #1635.

[2018-10-17 09:13] sbrannen commented on #1637
Good point, @marcphilipp.

In light of that proposal and the discussions in #1635, if we decide to include any such built-in sources, I think it might be best to introduce the following.

- `@NullSource`: provides `null` for any reference type and throws an exception for any primitive target type.
- `@EmptySource`: provides an _empty_ object for supported types and throws an exception for any prim

[2018-10-17 12:52] JLLeitschuh commented on #1602
Correct.

[2018-10-17 16:31] ttddyy commented on #1637
Sounds great to have them in junit-jupiter-params

[2018-10-18 08:36] sbrannen commented on #1637
I just noticed that your proposal would generate nulls for *all* arguments, which would be risky since that would prevent arguments being supplied by other `ParameterResolvers`.

[2018-10-18 08:37] sbrannen commented on #1637
In light of my previous comment, I'm thinking that `@NullSource` and `@EmptySource` should only _provide_ a single argument.

[2018-10-18 09:05] sbrannen commented on #1607
The PR for this issue has been merged into `master` in 0f62c6b261044009542620b6fc645217fe793ccb.

[2018-10-18 09:05] #1607 closed

[2018-10-18 13:50] ridono opened #1638 "Support mixed boxed and unboxed primitives in assertEquals() & assertNotEquals()"
## Overview

Asserting that an `int` equals an `Integer` is not possible with `assertEquals()` due to the compiler not knowing if it should use `assertEquals(int, int)` or `assertEquals(Object, Object)`.

This results in the compile error `The method assertEquals(int, int) is ambiguous for the type Assertions` like in the following example:

[code]

Instead you either have to declare another varia

[2018-10-18 15:44] sbrannen commented on #1586
I have force pushed additional tests and updated the Deliverables.

[2018-10-18 15:52] sbrannen commented on #1638
I agree that that is a bit of a nuisance.

Note that the following is a workaround I often use:

[code]

[2018-10-18 15:54] sbrannen commented on #1638
Coming back to that...

I suppose this nuisance exists not only for numbers but rather for all primitive types when assert equality between a primitive and its wrapper type.

So perhaps we should investigate a solution for all such cases.

@junit-team/junit-lambda, thoughts?

[2018-10-18 15:55] sbrannen commented on #1638
Tentatively slated for 5.4 M1 for _team discussion_.

[2018-10-18 20:52] sbrannen commented on #1586
This work has now been merged into `master` in commit 7f04a28b136e8545206b66bf4b200271805beced.

[2018-10-18 20:52] #1586 closed

[2018-10-19 14:23] jimmorgan opened #1640 "AssertLinesMatch NullPointerException during FastForward evaluation"
## Overview

AssertLinesMatch#matches has a bug that will cause a NullPointerException to be thrown after evaluating a FastForward match if there are more expected lines after the FastForward match then remain in the actual results.  This only manifests itself if the expected list size is equal to or larger than the actual list size.  The reason this fails is because after matching the fast forwar

[2018-10-19 14:56] marcphilipp commented on #1640
Thanks for the bug report! Would you like to submit a PR with your fix?

[2018-10-19 15:02] AlienBykova opened #1641 "Error occurs when trying to execute Tag-based Gradle task using & separator between tags"
Good Afternoon. Could you please assist me with problem that I'm facing?

I use JUnit 5, Gradle, Java 8, and Spring.

I've tried to create new gradle task

[code]

As a result the build fails.

In your official documentation mentioned that it is possible.

Stack trace and debug results in the attachment: [stackTrace.txt](https://github.com/junit-team/junit5/files/2496338/stackTrace.txt)

[2018-10-19 17:50] marcphilipp commented on #1641
Which versions of JUnit artifacts are you using?

[2018-10-19 19:17] jmaniquet commented on #1637
Hi

If i understand right, those new annotations can be combined with another source annotation, to add the null or empty value?

That would solve the problem i tried to solve in https://github.com/junit-team/junit5/pull/1635, so i like it.

As for a @NullAndEmptySource, i think it is one of the most common use case (if not the most common one).
So it would be valuable to have it baseline in the f

[2018-10-20 10:31] sbrannen commented on #1637
Yes, that is correct.

All sources are combined into a single stream:

https://github.com/junit-team/junit5/blob/45a8c8f5a695e2f8805b343680f7f208a8f9d4b4/junit-jupiter-params/src/main/java/org/junit/jupiter/params/ParameterizedTestExtension.java#L68-L93

Great. In light of that, I'll close #1635.

OK. We will take that into consideration.

Thanks for the feedback!

[2018-10-20 10:38] sbrannen commented on #1637
**Update**: I have renamed this issue, reworked the description, and added _Deliverables_.

[2018-10-20 10:43] sbrannen commented on #1640
@jimmorgan, yes, please submit a PR, and we'll merge it in as soon as possible.

Please remember to document the fix in the 5.4 M1 Release Notes.

Thanks in advance!

[2018-10-20 11:00] sbrannen commented on #1641
Based on the presence of `at org.junit.platform.launcher.TagFilter.toTestTags(TagFilter.java:125)` in the stack trace, we can see that you are using a version of the JUnit Platform that was released before support for tag expressions was introduced in JUnit 5.1 (see #454).

To fix your problem, make sure that you use are using at least JUnit Platform 1.1, preferably JUnit Platform 5.3.1.

I am the

[2018-10-20 11:00] #1641 closed

[2018-10-20 11:41] sbrannen commented on #1638
_in progress_

[2018-10-20 11:45] sbrannen commented on #1638
**Analysis**

Declaring methods like the one proposed in this issue's description only works if the methods are declared **locally** as in the following example.

[code]

Declaring those same methods as `static` in `Assertions` does _not_ remove the ambiguity for the compiler. 😞

[2018-10-20 13:06] jimmorgan commented on #1640
Submitted at PR 1642.

[2018-10-20 13:14] sbrannen commented on #1640
_in progress_ by @jimmorgan in  #1642

[2018-10-20 13:18] sbrannen commented on #1638
This has been addressed in `master` in 0ec5a7bf10292efe1513e1f66cbab61a89d67537 and 382e9ea35cd5dfd9789ed28a0c9d16673cb5a485.

[2018-10-20 13:18] #1638 closed

[2018-10-20 13:29] dmitry-timofeev commented on #431
I bumped into this issue when attempted to build a [prototype](https://github.com/pitest/pitest-junit5-plugin/pull/15) of early termination of tests in a container once a failed one is discovered in pitest-junit5-plugin.

[Pitest](http://pitest.org/), a mutation coverage tool, runs tests against a mutation of the code they cover to determine if these tests are good enough — if they detect mutants.

[2018-10-20 13:30] #1640 closed

[2018-10-20 13:31] sbrannen commented on #1640
Fixed in `master` in 07d52896cabb88362951de77070d35c81f5512d8.

[2018-10-22 10:35] marcphilipp opened #1643 "hwen using parallel execution, Callback methods/extensions should be called after all dynamic tests of a @TestFactory method are finished"
Given a test case like the following:

[code]

## Expected behavior

`afterEach` is called _after_ all dynamic tests from `testFactory()` are finished.

## Current behavior

`afterEach` is called before.

[2018-10-22 15:16] sbrannen commented on #1356
FYI: if you're interested in this issue, you may also be interested in checking out my experimental branch for a "fluent API" for the new _Test Kit_: https://github.com/junit-team/junit5/commits/experiments/test-kit-fluent-api

Beware: it's a work in progress.

[2018-10-22 15:44] sbrannen commented on #1356
FYI: I have renamed this issue to focus on the current scope for JUnit 5.4.

If we later decide to introduce explicit support for testing extensions in JUnit Jupiter, we can introduce a new GitHub issue to address that.

[2018-10-23 08:42] britter opened #1645 "Improve class-level Javadoc for support classes"
## Overview

As discussed in https://github.com/junit-team/junit5/pull/1644#discussion_r227276117, the class-level Javadoc for the support classes in `org.junit.platform.commons.support` should be improved.

## Deliverables

- [ ] Improve class-level Javadoc for classes in `org.junit.platform.commons.support`.

[2018-10-23 10:37] sbrannen commented on #1645
Thanks for raising the issue.

I'll tackle this one quickly...

[2018-10-23 10:37] sbrannen commented on #1645
_in progress_

[2018-10-23 10:53] #1645 closed

[2018-10-23 11:16] sormuras opened #1646 "Set correct class loader in ForkJoinPoolHierarchicalTestExecutorService"
## Overview

The `ForkJoinPoolHierarchicalTestExecutorService` uses the default `ForkJoinWorkerThreadFactory` which in turn sets the context classloader to `ClassLoader.getSystemClassLoader()`.

## Deliverables

- [ ] Implement a custom `ForkJoinWorkerThreadFactory` that sets the current context classloader for each new `Thread` instance.

[2018-10-24 09:49] #1646 closed

[2018-10-24 09:53] sormuras commented on #1646
@pacien The fix should be available as `5.4.0-SNAPSHOT` soon. Can you check on your side if the `ClassNotFoundException` is gone?

/cc @forax

[2018-10-24 10:11] britter commented on #1611
May proposal for an improved extension API can be found here: https://github.com/britter/improved-extension-api

[2018-10-24 15:19] pacien commented on #1646
@sormuras It seems to work fine, I'm no longer getting the error, tests are passing! Thanks!

CC: @forax

[2018-10-24 15:28] sormuras commented on #1646
Great. Thanks for letting us know.

[2018-10-26 04:14] tduehr opened #1649 "Including tags useJunitPlatform closure does not exclude untagged tests"
## Overview

In JUnit 5.3.1 run via Gradle, when I use `includeTags` to specify the tests to run in the `useJUnitPlatform` callback, tests with the included tags are run along with any tests without tags. The behavior is not defined in the documentation for Gradle support, and documentation for the deprecated Gradle plugin implies untagged tests should not run.

## Deliverables

- Document the int

[2018-10-26 07:12] marcphilipp commented on #1618
Here's a draft PR, please take a look and comment: #1650.

[2018-10-26 11:43] sormuras commented on #1649
Which version of Gradle and JUnit are you using?
What does your build script look like?
Are your tests annotated with `@Tag`?

Running https://github.com/junit-team/junit5-samples/tree/master/junit5-migration-gradle yields following results:

#### Plain

Just `useJUnitPlatform()`, i.e. no `includeTags` nor `excludeTags` specified.

1. com.example.project.FirstTest > myFirstTest(TestInfo) PASSED
2.

[2018-10-26 11:59] sbrannen commented on #506
**Update**: I've added a _Deliverable_ for consideration of support for `@Order` in conjunction with `@RegisterExtension`.

[2018-10-26 12:18] bobtiernay-okta commented on #48
Following up on the status of this ticket. Would be very useful to have this feature.

[2018-10-26 12:42] sbrannen opened #1651 "Use realistic examples in User Guide"
## Overview

Although the examples in the [User Guide](https://junit.org/junit5/docs/snapshot/user-guide/) are technically correct, many of them are not "good examples" for people new to JUnit 5 and JUnit Jupiter in particular.

For example, I hear complaints about examples such as `assertEquals(2, 2)`, examples that use `foo` and `bar`, or the fact that the `assertThrows(...)` example [throws an

[2018-10-26 12:55] tduehr commented on #1649
Test portion of build script:
https://github.com/apereo/cas/blob/junit_migration/gradle/tests.gradle

Main:
https://github.com/apereo/cas/blob/junit_migration/build.gradle

Gradle version 4.10, JUnit version 5.3.1, JUnit Platform 1.3.1

JUnit dependencies specified:
https://github.com/apereo/cas/blob/junit_migration/gradle/dependencies.gradle#L1364

Should you need to test against our stuff yourse

[2018-10-26 13:00] sbrannen commented on #48
This issue is currently assigned to the 5.4 backlog, and the upcoming inclusion of #13 (in 5.4 M1) will make it easier to introduce support for scenario tests.

[2018-10-26 16:06] sbrannen commented on #1651
Please note that this issue is "up for grabs" for community contribution.

However, please share your ideas here first and gather feedback from the JUnit 5 team before beginning work on this issue.

[2018-10-26 17:07] psychsane commented on #1651
Would love to work on this @sbrannen

[2018-10-26 19:14] durgaswaroop commented on #1651
Great idea. Every other software should also do this.  For a lot of projects, documentation and examples tend to show a disconnect between users and library developers.

[2018-10-26 19:33] kotse commented on #330
I am wondering what this feature may look like in "real life".

In a project I am working on, we use TestSuite a lot to split our slower running tests into multiple groups. Like take all tests, split them in 4, take the first quarter, execute. Take the second quarter, execute, etc... We can run them in parallel easily. As they are not declared, but discovered at runtime, there is no need to mainta

[2018-10-26 19:47] smoyer64 commented on #330
@kotse #681 moved the annotations used by the console runner the ``junit-platform-suite-api`` module.  There's a proposal for how those annotations might be used to declaratively create a suite with quite a bit of discussion in #744.  That issue starts with a block of code that won't run today but represents one way those annotations might be used.

[2018-10-26 20:05] kotse commented on #330
@smoyer64 Yes, I followed the discussion there and have even played around with the code from the experimental branch.

The discussion there is about a declarative suite support, but that will not solve the use case I described.

[2018-10-26 22:48] JLLeitschuh commented on #1651
Because of the complex nature of some of the objects I'm working with, I end up with double or triple nested `assertAll` calls.
[code]

This might provide some insights into how `assertAll` actually gets used.

[2018-10-27 09:04] sormuras opened #1652 "Release JUnit 5.3.2"
## Overview

List of fixed bugs since release 5.3.1 so far: https://github.com/junit-team/junit5/issues?utf8=%E2%9C%93&q=is%3Aissue+label%3A%22type%3A+bug%22+milestone%3A%225.4+M1%22+

## Deliverables

- [x] Create 5.3.2 Milestone on GitHub.
- [x] Move bug fix issues to 5.3.2 Milestone.
- [x] Backport bug fixes to `5.3.x` branch.
   - [x] #1591
   - [x] #1600
   - [x] #1603
   - [x] #1640
   - [x]

[2018-10-27 09:14] sbrannen commented on #1652
updated _Deliverables_

[2018-10-27 10:53] sbrannen commented on #1637
In response to [this blog](http://dolszewski.com/testing/parameterizedtest-with-null-values-in-cvssource/) which I discovered via [this tweet](https://twitter.com/daolszewski/status/1055856859515707394), there is no need to implement a custom `NullableConverter` for use with `@CsvSource`.

Given the following `DateRange`:

[code]

... the solution to the problem mentioned in that blog is to use _e

[2018-10-27 13:00] sbrannen commented on #1602
added _Deliverables_

[2018-10-27 13:06] sbrannen commented on #1602
_in progress_

[2018-10-27 13:09] sbrannen commented on #1602
FYI: with my upcoming commit, the following test passes...

[code]

... and it prints the following:

[code]

[2018-10-27 13:32] #1602 closed

[2018-10-27 13:32] sbrannen commented on #1602
This has been addressed in `master` in fe7f525e1046c50ec0c9e07f215418b18f92b547.

[2018-10-27 23:33] davidkarlsen commented on #837
Info for others finding the thread - there is a listener for jacoco+sonar: https://deors.wordpress.com/2014/07/04/individual-test-coverage-sonarqube-jacoco/ - it has not been updated for junit5

[2018-10-28 10:12] NivedhaSunderraj commented on #580
@sormuras Is this still up for grabs? If so, any specific place in the user guide where the link to https://javadoc.io  is supposed to be placed in the user guide ? And any description kind of text to accompany the link ?

[2018-10-29 10:53] akozlova commented on #157
The suggested proposal would work for us as well, I like `TestExecutor` proposal more but one with enum would work as well. Any ETA when we can try it? Thanks

[2018-10-29 11:16] sbrannen commented on #580
I personally am not very fond of https://javadoc.io (at least for our purposes). The documentation there is based solely on artifacts published to Maven Central; whereas, "our" published Javadoc is aggregated and uses the JUnit 5 styling.

Thus, although it's probably not a bad idea to link to https://javadoc.io from somewhere (e.g., the project's top-level README), I would prefer that we link to

[2018-10-29 11:17] sbrannen commented on #580
Hi @NivedhaSunderraj,

Yes, this is still up for grabs.

However, the team has not actually decided on what we want. 😉

I'll therefore add the "team discussion" label so that we (@junit-team/junit-lambda) can make up our minds.

[2018-10-29 11:18] sbrannen commented on #580
Added _team discussion_ label and tentatively slated for 5.4 M1 so that we can nail down the deliverables for this issue.

[2018-10-29 13:04] sormuras commented on #580
Sure. We will keep it the way it is today, for the current and snapshot versions. Older versions don't need to be hosted by us, imho, they can be viewed on https://javadoc.io

[2018-10-29 14:11] sbrannen commented on #1651
Glad to hear it!

I'll add some guidelines to this issue's description.

[2018-10-29 14:15] sbrannen commented on #1651
@JLLeitschuh, I think the `dependentAssertions()` [example in the User Guide](https://junit.org/junit5/docs/current/user-guide/#writing-tests-assertions) adequately covers nested use of `assertAll()`.

With regard to nesting `assertAll()` invocations with streams of `Executable`, flat mappings, etc., I personally consider that a more advanced use case that is out of scope for the User Guide.

Of c

[2018-10-29 14:35] sbrannen commented on #1651
OK... I added a new **Guidelines** section to this issue.

@junit-team/junit-lambda, please give a 👍 or 👎 to let me know if you're OK with the proposed guidelines, and then @psychsane can start on the work.

[2018-10-29 15:22] psychsane commented on #1651
Super 🆒 I am thrilled to be part of this 🕺

[2018-10-29 17:35] tduehr commented on #1649
Got some more troubleshooting in... I was unable to reproduce the issue with `junit-samples` until I added the `useJUnitPlatform` part of the `tasks.withType(Test)` closure to it. Looks like calling that twice, rather than modifying the existing options object, adds a second.

[2018-10-29 18:45] sormuras commented on #1649
Sounds like a configuration to me, am I right @marcphilipp?

https://github.com/tduehr/junit5-samples/blob/master/junit5-migration-gradle/build.gradle#L48-L80

[2018-10-29 18:48] marcphilipp commented on #1649
Yeah, it turns out the last call of `useJUnitPlatform()` overrides all previous ones:
https://github.com/gradle/gradle/blob/1ee5ff831577fbccc4d8ef047eaff239fd72de26/subprojects/testing-jvm/src/main/java/org/gradle/api/tasks/testing/Test.java#L904

Thus, that leads to the one in `tasks.withType(Test)` overriding the previous ones.

If you consider that confusing (and I wouldn't object), please open

[2018-10-29 18:48] #1649 closed

[2018-10-29 23:56] tduehr commented on #1649
I was starting to think the same thing. Thanks for the help.

[2018-10-30 09:03] npryce opened #1654 "Allow @TestFactory annotation to be used on static methods"
## Overview

The `@TestFactory` annotation is only supported on instance methods.  However, factories are often merely functions.  The limitation of the annotation means that test factories cannot be written with convenient function or property syntax of non-Java JVM languages.

For example, in Kotlin I'd like to do the following, with the Minutest test library:

[code]

In this code, _tests_ is c

[2018-10-30 09:08] dmcg commented on #1654
Yes, ironically this does lead to minutests having many more lines of code than they need to

[2018-10-30 09:12] sormuras commented on #1654
I'm not sure if our lifecycle handling code permits static factory methods: at the moment `beforeEach` and `afterEach` hooks are executed around the method annotated with `@TestFactory` -- and they need test instance (managed by an `ExtensionContext` for the current instance method).

@junit-team/junit-lambda Let's examine if we could support `static` _Testlet_ factories.

[2018-10-30 09:16] dmcg commented on #1654
Mmmm, testlets.

Do you have any documentation on Testlets, as they sound like they could be what Minutest should be targeting?

[2018-10-30 09:19] sormuras commented on #1654
_Testlets_ are just my nickname for "dynamic tests". As dynamic tests are actually not real tests, they are more like "assertAll() on steroids" showing each check as a report entry.

[2018-10-30 09:42] npryce commented on #1654
In the case of static test factories, since there's no instance and therefore no state to be set up and torn down, maybe `@BeforeEach` and `@AfterEach` don't apply at all.  Or they can be static too.

[2018-10-30 09:44] sormuras commented on #1654
Interestingly enough, my proof-of-concept spike to just permit `static` modifiers on `@TestFactory` annotated methods worked out... 🤔

https://github.com/junit-team/junit5/commit/b0509199b95f64781fa5bd54ed3b9f289533370a

[2018-10-30 10:15] sbrannen commented on #1651
OK... 3 * 👍 from team members.

So... @psychsane, go for it!

I've added the `in progress` label to denote that you are working on it.

If you decide not to work on it, please let us know.

[2018-10-30 10:17] sbrannen commented on #1651
@psychsane, to make the reviews manageable, please rework the examples one _class_ at a time.

In other words, one commit per modified example/demo class.

I think the easiest way is to start at the beginning of the User Guide and work your way down, tackling each example/demo class in the order in which they appear in the User Guide.

If you have any questions, just ask.

Cheers!

[2018-10-30 10:19] sbrannen commented on #1651
@psychsane, feel free to copy the `Calculator` class and tests for that class from my `junit5-demo` project. I give you permission. 😉

Also, feel free to move all "domain" classes to the `src/main/java` directory structure in the `documentation` project.

[2018-10-30 10:31] sbrannen commented on #1654
That's because Java supports the invocation of a `static` method on an instance of the declaring type.

No problem there.

But... semantically... having a `static @TestFactory` method does not make sense to me.

None of the `testable` methods are permitted to be `static`.

This is in line with the semantics for `@BeforeEach`, `@AferEach`, and the corresponding method-level extensions.

[2018-10-30 10:34] sbrannen commented on #1654
My hunch is that allowing a `@TestFactory` method to be `static` will open up a can of worms for several reasons:

1. `@BeforeEach` and `@AfterEach` are non-static.
1. Method-level extension APIs expect the `testable` method to be non-static.
1. Test instance lifecycle: the test class will be instantiated anyway, even if a `@TestFactory` method is declared as `static`.

[2018-10-30 10:43] npryce commented on #1654
If not `@TestFactory`, what mechanism does JUnit/Jupiter provide to dynamic test instances that do not use methods and before/after annotations at all?

If nothing exists and `@TestFactory` is tied to the existing "instance-and-annotations" model, then maybe a different annotation or mechanism is needed.

[2018-10-30 10:48] sormuras commented on #1654
...or Kotlin needs better (less boilerplate) syntax supporting this scenario. ;-)

[2018-10-30 10:50] sbrannen commented on #1654
I'm not a Kotlin expert, but can you perhaps write a Kotlin extension to completely remove the boilerplate?

[2018-10-30 11:16] sormuras opened #1656 "Extend JRE enum to support Java 12"
## Overview

As Java moves faster and ships a major feature release every six months, the [JRE](https://github.com/junit-team/junit5/blob/master/junit-jupiter-api/src/main/java/org/junit/jupiter/api/condition/JRE.java) enum in package `org.junit.jupiter.api.condition` should be updated accordingly.

See http://jdk.java.net for all available Java versions.

## Deliverables

- [x] Perform the follow

[2018-10-30 11:41] npryce commented on #1654
The need for a class _is_ the boilerplate.

[2018-10-30 15:52] psychsane commented on #1651
Thanks for your guidance @sbrannen I am on it!

[2018-10-30 18:51] marcphilipp commented on #1656
I‘m confused. Is this issue for Java 12 or 13, or never to be closed until there are no more Java releases?

[2018-10-30 20:41] xenoterracide opened #1657 "Allow non void BeforeEach methods to act as a parameter supplier"
I have this test

[code]

I would prefer to write

[code]

## Related Issues

- #1513

[2018-10-31 11:11] sormuras commented on #1656
...the latter. In a sense of a re-occuring, scheduled task.

Or we create a fresh issue for every Java release.

[2018-10-31 12:20] sbrannen commented on #1657
This is basically a duplicate of #1513.

As I stated in https://github.com/junit-team/junit5/issues/1513#issuecomment-409177652:

Consequently, I imagine the response will be the same as in https://github.com/junit-team/junit5/issues/1513#issuecomment-410209628

@junit-team/junit-lambda, thoughts?

[2018-10-31 12:21] sormuras commented on #1657
I'm with #1513

[2018-10-31 12:28] sbrannen commented on #1657
But since you're using `@DataJpaTest` which makes your tests `@Transactional`, you'll probably want to continue creating and saving your entity in a `@BeforeEach` method so that it is cleaned up when the test transaction is automatically rolled back by Spring. 😉

[2018-10-31 14:42] xenoterracide commented on #1657
ooh, I forgot about #1513 :/ sorry

[2018-10-31 14:44] sbrannen commented on #1656
FYI: the build was broken: https://travis-ci.org/junit-team/junit5/jobs/448266465

But I just fixed it (hopefully): 1cd588b61b6b1e5e494c4ecd4f2311e2daebe7eb

[2018-10-31 14:46] sbrannen commented on #1656
I also added the following _deliverable_:

- [ ] Update `EnabledOnJreIntegrationTests`, `DisbledOnJreIntegrationTests`, `EnabledOnJreConditionTests`, and `DisbledOnJreConditionTests` accordingly,

So I propose we use _this_ issue as a template for future such issues.

[2018-10-31 14:59] sbrannen commented on #1657
Well, _you_ authored #1513.

So maybe you were just slightly sleep deprived when you authored _this_ issue, which I can totally understand. 😉

[2018-10-31 15:48] sormuras commented on #1656
Good catch thanks for the fish... erm, fix! ;-) I didn't check the result of the `openjdk-ea` job.

:+1:

[2018-10-31 18:35] dmytrocx75 commented on #1327
@sbrannen I experience the same issue, BUT no Intellij here: I set up java and maven on a CentOS7 separate machine and ran tests with _mvn test_  Same issue: `org.junit.platform.commons.util.PreconditionViolationException: Classpath resource [/my_file] does not exist`

[2018-10-31 18:55] marcphilipp commented on #1327
@dmytrocx75 Please provide a sample project so we can reproduce the issue.

[2018-10-31 19:17] npathai commented on #1611
Is someone working on this issue? Else I would like to contribute.

[2018-10-31 21:58] marcphilipp commented on #1611
@npathai Thanks for asking! There's already a PR for it: #1617.

[2018-10-31 23:00] dmytrocx75 commented on #1327
@marcphilipp Here you go https://github.com/dmytrocx75/asustest

[2018-11-01 10:05] sdavids opened #1658 "Introduce LOCALE and TIME_ZONE constants in Resources"
` java.util.Locale.setDefault()`
`java.util.TimeZone.setDefault()`

https://junit-pioneer.org/docs/default-locale-timezone/

[2018-11-01 10:39] sdavids commented on #1658
Relates to https://github.com/junit-pioneer/junit-pioneer/issues/131

[2018-11-01 10:44] sbrannen commented on #1657
Closing this issue as essentially a _duplicate_ of #1513.

[2018-11-01 10:44] #1657 closed

[2018-11-01 10:54] sbrannen commented on #1658
Tentatively slated for 5.4 M1 for _team discussion_.

[2018-11-01 16:15] sbrannen commented on #1327
@dmytrocx75, the problem is that `Users.csv` must be a classpath resource, but since you have it in `src/test/java`, Maven does not copy it to the target classpath folder.

The solution to your problem is simply to move `Users.csv` to `src/test/resources`.

I tested that locally, and it works as expected.

[2018-11-01 16:16] sbrannen commented on #1327
@dmytrocx75, here are the results:

[code]

[2018-11-01 16:37] sbrannen commented on #1656
Regarding the 🐟, you're welcome!

And thanks for creating the 🐛 , b/c that inspired me to install JDK 12 on my machine to test the fix. 😉

I'll tend to that now....

[2018-11-01 16:41] #1656 closed

[2018-11-01 17:17] dmytrocx75 commented on #1327
You're right. Sorry, I jumped the gun.

[2018-11-02 11:37] sbrannen opened #1662 "Convert Test Kit to fluent API"
## Overview

#1356 introduced the _Test Kit_ as a published artifact.

However, the existing API is rather static in nature.

This issue aims to improve the user experience by converting the Test Kit to a _fluent API_.

## Scope

The existing APIs in `ExecutionEventConditions` and `TestExecutionResultConditions` are out of scope for this issue.

## Related Issues

- #1356
- #1621

## Consideration

[2018-11-02 11:38] sbrannen commented on #1662
_in progress_ in the following branch:

https://github.com/junit-team/junit5/tree/experiments/test-kit-fluent-api

[2018-11-02 11:41] sbrannen commented on #1356
Closing this issue since the _Test Kit_ has already been introduced in `master`.

- Conversion to a fluent API will be addressed in #1662.
- Documentation will be addressed in #1621.

[2018-11-02 11:41] #1356 closed

[2018-11-02 11:48] sbrannen commented on #1621
This issue is currently **blocked** until #1662 is completed.

[2018-11-02 13:00] marcphilipp commented on #1658
**Team Decision:** Let's add them.

[2018-11-02 13:33] jbduncan commented on #1662
I've not played around with either the static or fluent API yet, but one thing I've noticed reading the source code is that it's apparently difficult/impossible to test events coming from the JUnit Jupiter test engine without depending on `JupiterTestEngine`, which IIRC is `@API(Internal)`.

If I could use the Test Kit against the Jupiter test engine, then I imagine it would allow me to shorten my

[2018-11-02 15:38] sbrannen commented on #1662
Good point!

I've also had some qualms about having to instantiate the `TestEngine`.

I'd rather like to see a process more like the `Launcher` does for discovering engines and filter out all other engines than the one currently being tested.

But... that is out of scope for this issue which focuses on a fluent API.

@jbduncan, would you mind opening a new issue to address?

[2018-11-02 18:45] jbduncan opened #1663 "Use ServiceLoader mechanism to load TestEngines in the Test Kit"
## Overview

I'm raising this issue at @sbrannen's request from https://github.com/junit-team/junit5/issues/1662#issuecomment-435420852.

We should consider changing the API of the Test Kit so that it can easily test...uh, tests, from the JUnit Jupiter Engine. Currently, if one wants to do so, they need to depend on `JupiterTestEngine` which is `@API(Internal)`.

This issue originated from [this c

[2018-11-02 18:47] jbduncan commented on #1662
Certainly! I've just raised it over here: https://github.com/junit-team/junit5/issues/1663. :)

[2018-11-03 11:08] psychsane commented on #1651
@sbrannen I have created PR #1664
Should we keep the same PR open until the task is done or one PR/commit?

[2018-11-03 15:34] sbrannen commented on #1662
The Test Kit has been converted to a fluent API in `master` in 8013c6a6a2f07463c4f78f295f5652c04554b065.

[2018-11-03 15:34] #1662 closed

[2018-11-03 15:57] sbrannen commented on #1621
#1662 is now complete.

[2018-11-03 15:59] sbrannen commented on #1621
Please note that I've already taken care of the Javadoc except for methods in `ExecutionEventConditions` and `TestExecutionResultConditions`.

[2018-11-03 16:02] sbrannen commented on #1621
@marcphilipp, are you still planning on that in light of the work I did in #1662?

[2018-11-03 16:53] sbrannen commented on #1663
Thanks for creating this issue.

I've added a **Proposal** to this issue's description and will now update the title accordingly.

[2018-11-03 17:00] #1658 closed

[2018-11-03 18:32] thauer opened #1665 "Cannot provide multidimensional array as argument with @MethodSource"
## Overview

I am attempting to pass two-dimensional arrays of primitives to a parameterized test. The one-dimensional array works as expected, but JUnit complains on the second with "Error resolving parameter at index 0". This is on JUnit Jupiter 5.1.0.

[According to Sormuras](https://stackoverflow.com/questions/53133979/can-multidimensional-arrays-be-passed-via-methodsource-junit-5-1), on `5.4.

[2018-11-03 18:54] sormuras commented on #1665
There exists an integration test for 2D arrays, but it is targetting a test template with two parameters:

https://github.com/junit-team/junit5/blob/master/junit-jupiter-params/src/test/java/org/junit/jupiter/params/ParameterizedTestIntegrationTests.java#L319-L327

[2018-11-03 23:04] jbduncan commented on #1663
You're very welcome, and cheers! :+1:

[2018-11-04 06:29] sormuras commented on #1665
Using an `ArgumentsAccessor` as the parameter...
[code]
....yields:
[code]

[2018-11-04 09:45] marcphilipp commented on #1621
Nope, I think we‘re good now thanks to your work. 👍

[2018-11-04 11:18] sbrannen commented on #1665
We currently do not support multi-dimensional arrays within a `Stream` returned by a factory method used with `@MethodSource`.

The workaround is to generate a stream of arguments (i.e., `Stream<Arguments>`) as follows.

[code]

[2018-11-04 11:28] sbrannen commented on #1665
In case you want to see that... it happens here:

https://github.com/junit-team/junit5/blob/685c14dffa50f04e304cc305ad5ee9a5a36a33ba/junit-jupiter-params/src/main/java/org/junit/jupiter/params/provider/MethodArgumentsProvider.java#L86-L94

FYI: It's the final return statement.

[2018-11-04 11:33] sbrannen commented on #1665
_in progress_: I'm investigating a fix.

[2018-11-04 14:30] sbrannen commented on #1665
And the following is a revised version of the `Arguments` approach that retains the desired `int[][]` parameter type.

[code]

[2018-11-04 14:41] sbrannen commented on #1665
FYI: I've pushed a _WIP_ to the following feature branch.

https://github.com/junit-team/junit5/commits/issues/1665-method-source-n-dimensional-arrays

@junit-team/junit-lambda, now up for _team discussion_.

[2018-11-04 14:48] sbrannen commented on #1665
FWIW, my _fix_ on the feature branch does in fact support the failing use case described in this issue.

However, it also brings to light some oddities with regard to support for Object and primitive arrays.

1. If you have a factory method that returns `Stream<Object[]>`, that will **NOT** allow you to have a `@ParameterizedTest` method that accepts a single `Object[]` argument.
  - Rather, if th

[2018-11-04 14:52] sbrannen commented on #1665
@junit-team/junit-lambda, this is one of the points we need to decide on: what is actually "expected" here with regard to the previous points I made.

[2018-11-04 15:14] sbrannen commented on #1621
OK... but now this issue is **blocked** until #1663 is complete. 😉

[2018-11-05 13:47] marcphilipp commented on #580
Not sure how it works, but Antora has a version selector built-in:
https://docs.antora.org/antora/1.1/

[2018-11-05 13:58] sbrannen commented on #1663
_in progress_

[2018-11-05 14:28] #1663 closed

[2018-11-05 14:29] sbrannen commented on #1663
And... Voilà!

Pushed to `master` in commit https://github.com/junit-team/junit5/commit/dfce0a78c61d93742f1907210aaf5009569678b6

[2018-11-05 14:34] sbrannen commented on #1621
This issue is no longer **blocked** since #1663 has been resolved.

[2018-11-05 15:03] sbrannen commented on #580
Sounds quite nice!

https://docs.antora.org/antora/1.0/navigation/#page-dropdown

[2018-11-06 09:08] jbduncan commented on #1663
Brilliant! Thank you very much Sam. :)

[2018-11-06 13:53] sbrannen commented on #1663
😊

You (and the community) are very welcome! 🙇

[2018-11-06 15:33] mbaechler opened #1666 "Exception thrown by a static @RegisterExtension field is swallowed"
## Steps to reproduce

Running this test case

[code]

should report:

[code]

instead of:

[code]

## Context

 - Used versions (Jupiter/Vintage/Platform): JUnit Jupiter 5.2.0
 - Build Tool/IDE: Intellij Idea 2018.2

## Related Issues

- #602

[2018-11-06 15:35] sbrannen commented on #1666
FYI: I authored `ExplosiveTests` and verified the behavior against the status quo on `master`.

[2018-11-06 15:39] sbrannen commented on #1666
See also: #602

[2018-11-06 15:40] sbrannen commented on #1666
Tentatively slated for 5.4 M1 for _team discussion_.

[2018-11-06 15:47] sbrannen commented on #1666
Please note that the described (undesirable) behavior only exists if the field is `static`!

If the `@RegisterExtension` field is non-static, JUnit properly propagates the `java.lang.Error: boom` exception.

[2018-11-06 15:51] sbrannen commented on #1666
The reason for the latter is that `org.junit.platform.commons.util.ReflectionUtils.newInstance(Constructor<T>, Object...)` does _not_ swallow the exception; whereas, `org.junit.platform.commons.util.ReflectionUtils.readFieldValue(Field, T)` silently swallows the exception and returns `Optional.empty()`.

[2018-11-07 13:58] sbrannen commented on #13
Update: _validation_ has been added in commit c07b521e0db566fa8e88372724258986f3f06c93.

[2018-11-07 14:34] sbrannen commented on #13
Update: support for parallel test execution has been tested in commit 8d1e74997f34775e7f7fee5b2cfca9f37159bbb0.

[2018-11-07 17:17] sbrannen commented on #13
Update: _Configuration Parameter_ support for setting the seed used in random ordering has been introduced in commit 7939b4cd634c2787b61384fb496f6bf63057ec04.

[2018-11-08 00:10] xenoterracide opened #1667 "Assumptions.assume(not)Throws"
I have this test

[code]

currently it's failing for reasons not relevant here, verify returns void and throws an exception. I was hoping I could wrap it in an assumption of some kind.  Instead I guess I'll mark it disabled.

[2018-11-08 06:30] Gabology opened #1668 "Supply invocation index for @ParameterizedTest to test author"
## Overview

The invocation index of a parameterized test is accessible for templating when setting the display name of the test.

When it comes to accessing the invocation index using `TestInfo` it is not possible as it looks like the `TestInfo` implementation for `@ParameterizedTest` is of the default type. I would expect to get an `RepetitionInfo` instance so that I can access the invocation in

[2018-11-08 06:56] marcphilipp commented on #1667
TBH I'm not sure how generally useful such an assumption would be. I've added this issue to the general backlog for the time being to see if other people come up with similar use cases.

[2018-11-08 07:43] sormuras opened #1669 "Introduce runtime dependency from Jupiter API to its Engine"
## Engine Implementation Artifact Hint

A test engine API should be able to hint/point to its default implementation artifact. Build tools could use that hint to dynamically resolve an engine implementation artifact and its transitive dependencies at runtime.

For example, in Gradle, it should be enough to state
[code]
From this fact, the "missing" `testRuntime('org.junit.jupiter:junit-jupiter-eng

[2018-11-08 09:54] sbrannen commented on #1669
How do you propose to provide such a _hint_?

[2018-11-08 09:58] sbrannen commented on #1668
FYI: this is closely related to #944.

[2018-11-08 10:00] sbrannen commented on #1668
Tentatively slated for 5.4 M1 for _team discussion_

[2018-11-08 10:13] sormuras commented on #1669
Mh, good question. Those solutions are in my mind:

1. Define a JAR MANIFEST key that may contain the hint.
2. Introduce an interface `DefaultEngineImplementationArtifactHint` in `junit-platform-commons` and the `ServiceLoader` facility.
3. Scan all optional dependency entries of the engine API artifact's `pom.xml`... and pick the right one?!

[2018-11-08 14:34] sbrannen opened #1670 "Add missing Precondition checks to published *Support methods"
## Overview

As currently implemented, invocations of many of the methods in `AnnotationSupport`, `ReflectionSupport`, etc. could result in a `NullPointerException`.

## Deliverables

- [x] Implement and document (in method-level Javadoc) preconditions in `AnnotationSupport`, `ClassSupport`, `ModifierSupport`, `ReflectionSupport`, and their corresponding `*Utils` classes.
- [x] Unit test precondit

[2018-11-08 16:11] sbrannen commented on #13
Update: Javadoc pushed in commit b1a4726dfd98d4be1fb323cbbbcd47da9e4aef83.

[2018-11-08 20:31] smoyer64 opened #1671 "SNAPSHOT javadocs are missing "framed" version"
Please provide us the version of JUnit 5 you are using and, if possible, a failing unit test with your bug report. Don't forget to describe the rationale for this issue (e.g. expected vs. actual behavior).

## Steps to reproduce

1.  Browse to https://junit.org/junit5/docs/current/api/index.html?overview-summary.html and you'll
    have the option to select "Frames" or "No Frames".  Note that this

[2018-11-09 08:30] sormuras commented on #1555
Absolutely! I'm preparing a new default extension which will provide a `@Singleton` annotation to support exactly those use cases.

[2018-11-09 11:38] marcphilipp commented on #1671
I'm afraid that's because we're building the Javadocs using Java 11 and it seems to no longer support frames (cf. [JDK 11 Javadocs](https://docs.oracle.com/en/java/javase/11/docs/api/index.html)).

Unless I'm missing sth., I think we should close this issue.

[2018-11-09 12:07] marcphilipp opened #1673 "Navigating to search results broken in snapshots Javadocs"
When using the search box in the current [snapshot Javadocs](https://junit.org/junit5/docs/snapshot/api/), clicking on one of the results takes one to an invalid URL.

For example, when typing `TestDescriptor` and clicking on the first link, on ends up at https://junit.org/junit5/docs/snapshot/api/undefined/org/junit/platform/engine/TestDescriptor.html.

Note the `undefined` in the URL. Root cause

[2018-11-09 12:20] marcphilipp commented on #1673
Comparing it with this URL, it looks the `undefined` part is supposed to be the module name: https://docs.oracle.com/en/java/javase/11/docs/api/java.base/java/util/ArrayList.html

[2018-11-09 12:45] marcphilipp commented on #1673
Looks like there' a `var useModuleDirectories = true;` JavaScript definition in each generated HTML file. If we can get that to generate to set `false`, we should be good.

[2018-11-09 13:01] #1673 closed