[2018-06-01 16:16] sbrannen commented on #1438
FYI: current work on this issue can be seen in the following branch.

https://github.com/junit-team/junit5/tree/issues/1438-safe-discovery-in-jupiter

[2018-06-02 09:40] mibutec opened #1440 "Introduce support for annotation attribute overrides within annotation hierarchies"
## Overview

I'm working on some tests using scenario based testing. To mark those tests I'm using an annotation `@Scenario("Description of my scenario")`. This results in some reports containing the scenario title and some information about execution of that scenario. The scenario title works for my custom reports, but not for JUnit reporting, since `@DisplayName` isn't set.

A possible solution

[2018-06-02 13:06] sbrannen commented on #1440
Hi @mibutec,

What you are proposing is essentially the support for `@AliasFor` that I introduced in the Spring Framework a few years ago (building on Spring's previous support for "annotation attribute overriding" based on naming conventions alone).

Due to the complexity of the implementation of such a feature, I do not foresee the JUnit Team supporting that any time in the near future.

Note, h

[2018-06-02 13:13] sbrannen commented on #1440
FYI: I took the liberty to reword the title and description of this issue to align with terminology we typically use within JUnit 5 (which aligns with [terminology used by Spring](https://github.com/spring-projects/spring-framework/wiki/Spring-Annotation-Programming-Model)).

[2018-06-02 13:53] sbrannen commented on #1327
@davethehat, thanks for confirming that this is not an issue with JUnit Jupiter!

I am re-closing this issue.

[2018-06-02 13:53] #1327 closed

[2018-06-02 16:08] sbrannen commented on #1298
_in progress_ by @gaganis in  #1399

[2018-06-02 16:18] #1298 closed

[2018-06-02 17:21] sormuras commented on #1425
This feature will be realized by the provider shipping with Surefire 2.22.0 -- see https://github.com/apache/maven-surefire/pull/184/files#diff-794c5135083cc0a67561991ccd77fa43R144

Keeping this issue open until Surefire version 2.22.0 or later is available that includes the support for `<groups>` and `<excludedGroups>`

[2018-06-02 19:16] mibutec commented on #1440
Hi @sbrannen,

if we are only talking about efforts, I could provide a Pull Request. What would be the minimal solution?

1. A solution as described above would be quite fast to implement. It might not be that convenient as `@AliasFor`, but when implemented as repeatable Annotation it would be that powerful.
2. Re-implementing `@AliasFor` would be the next level, seeming to blow up JUnits code qui

[2018-06-02 19:37] mibutec opened #1442 "Introduce AroundEachCallback"
I wonder if there was really no request for this, but I could find no issue.

With the given extension-points, it is possible but clumsy to implement functions like [rerunning failing test](https://github.com/artsok/rerunner-jupiter) or things like

[code]

Something like an AroundEachCallback would be quite helpful. Usage should be something like this:

public class RerunningExtension implements

[2018-06-02 20:05] mibutec commented on #378
For me Dynamic Tests are handled far to stepmotherly. I'd love to:
- have Lifecycle support for them (as already discussed in this Thread)
- have some kind of usable Surefire feedback for them (see #990)
- discover them early (see #1338)
- add any annotation (`@Tag("myTag")`, `@MyVeryOwnTestAnnotation(myVeryOwnParameter=42)`) to them.

[2018-06-02 20:14] sormuras commented on #378
Dynamic tests are just grouped assertions that show up in the test plan. Think of them as `assertAll(...)` calls on steroids! Nothing more, nothing less. I like to call them "Testlets" on my mind. Dynamic tests are good as they are. They fill a small gap that grouped assertions have: you see all assertions and you can pick a single one an re-run only that ... testlet.

Most of your requested featu

[2018-06-02 20:19] sormuras commented on #1440
Great! File such a PR against openjdk please. Would really be a great addition to the language.

Why not JUnit?

I agree with Sam here.

[2018-06-03 07:01] koretzki commented on #60
@marcphilipp, great to hear, this (no parallelism) was a road blocker for us to adopt fully JUnit 5.

[2018-06-03 10:30] sbrannen commented on #1440
For me the bare minimum would be something on par with Spring's `@AliasFor` support, and as I mentioned that is out of scope for JUnit at the moment.

I am against any kind of half-baked solution to be replaced at a later date.

The JUnit 5 Team has actually discussed _something similar to `@AliasFor`_ on several occasions and repeatedly, unanimously decided against implementing it within JUnit.

[2018-06-03 10:41] sbrannen commented on #378
@mmichaelis,

What's keeping you from doing that?

Are you just saying you want to access Spring beans from within a custom test template implementation?

If so, that's already possible.

[2018-06-03 10:44] sbrannen commented on #990
Since JUnit 5's Surefire provider is currently being taken over by the Maven team, the JUnit Team is not actively working on Surefire related issues.

[2018-06-03 11:03] sbrannen commented on #378
That's unfortunately not possible in Java with Java's standard reflection APIs, and any attempt to support such annotation lookups would rely on lambda expression implementation details that may change in future JDK releases.

[2018-06-03 11:10] sbrannen commented on #378
However, if you're curious about some hacky way to achieve that, feel free to take a look at my serialized lambda PoC here: https://github.com/sbrannen/junit-lambda-playground/commit/ef38ddea56ef21771aafcd2b3520f22ee5527973

[2018-06-03 11:27] sbrannen commented on #157
Tentatively slated for 5.3 to be investigated in conjunction with #20.

[2018-06-03 11:29] sbrannen commented on #20
Closing this issue as _superseded_ by #157.

Please continue the discussion on this topic there.

[2018-06-03 11:29] #20 closed

[2018-06-03 11:46] sbrannen commented on #157
FYI: I have reworded the title of this issue to make its purpose more clear to the casual observer.

[2018-06-03 14:55] sbrannen commented on #1436
Fixed in d0e31388252275cc873d8d0bcb907331cec89f67 and d0b759229b5a0c4eb62d95a75fe61f980482b38f

[2018-06-03 14:55] #1436 closed

[2018-06-03 14:56] sbrannen commented on #1438
Fixed in 3e84838c16eeef7bde8b37f049da0b0e0423e244

[2018-06-03 14:56] #1438 closed

[2018-06-03 16:43] marcphilipp commented on #1435
Since JUnit 4, does not have the notion of dynamic tests, there's not much we can do to improve the situation for the `JUnitPlatform` runner. Triggered by this and other requests for first-class support of suites on the JUnit platform, I've spiked an implementation on a [branch](https://github.com/junit-team/junit5/tree/experiments/platform-suites). Please subscribe to #744 to follow our progress.

[2018-06-03 16:43] #1435 closed

[2018-06-03 16:43] marcphilipp commented on #744
Experimental branch:
https://github.com/junit-team/junit5/tree/experiments/platform-suites

[2018-06-03 17:17] sormuras commented on #744
The experimental branch is available via @jitpack and you can use it with Gradle (4.6+) like:

[code]

[2018-06-04 03:11] adamvoss commented on #157
Would it be possible that an annotation on a test method would cause the just that method to run in the context, but an annotation of the class (fixture) itself would cause everything to execute in the context?

The case I'm looking at is basically interacting with JAAS security and wanting to [transparently] wrap tests in [`Subject.doAs`](https://docs.oracle.com/javase/10/docs/api/javax/security/

[2018-06-04 07:35] vmassol commented on #672
Hi guys, I currently have a JUnit4 custom Suite https://github.com/xwiki/xwiki-rendering/blob/2e7af2e60fd6661ec48142324cd3fe10411fe0bc/xwiki-rendering-test/src/main/java/org/xwiki/rendering/test/integration/RenderingTestSuite.java#L78 which automatically registers new tests to the junit runner and which allows to write very simple tests:

[code]

The custom suite reads *.test files found in the CL

[2018-06-04 08:06] vmassol commented on #672
@sormuras Ok too bad, should I open another issue for this use case?

[2018-06-04 08:09] sormuras commented on #672
Yes, please.

[2018-06-04 08:13] vmassol opened #1444 "Ability to generate Dynamic Tests in an Extension"
Hi guys, I currently have a JUnit4 custom Suite https://github.com/xwiki/xwiki-rendering/blob/2e7af2e60fd6661ec48142324cd3fe10411fe0bc/xwiki-rendering-test/src/main/java/org/xwiki/rendering/test/integration/RenderingTestSuite.java#L78 which automatically registers new tests to the junit runner and which allows to write very simple tests:

[code]

The custom suite reads `*.test` files found in the

[2018-06-04 08:13] vmassol commented on #672
Done, thx, see https://github.com/junit-team/junit5/issues/1444

[2018-06-04 10:33] k1w1m8 commented on #1439
Hi, thanks for the feedback.

My intention with being able to "ignore" dynamic tests is not to actually "run" a test, simply to call a method to declare that the underlying test (stored on the fs) is disabled and to show the test as being ignored in the test plan tree.

If I can achieve that result by creating a fake dynamic test which simply generates an assertion failure, it will be good enough

[2018-06-04 11:56] sbrannen commented on #1439
Don't throw an `AssertionError` (or "generate an assertion failure").

As @sormuras mentioned, [`Assumptions`](https://junit.org/junit5/docs/current/api/org/junit/jupiter/api/Assumptions.html) are the appropriate mechanism for aborting a test (or dynamic test) mid-flight.

[2018-06-04 12:19] sbrannen commented on #1444
Tentatively assigned to the 3.x backlog for _team discussion_

[2018-06-04 12:22] vmassol commented on #1444
Thanks @sbrannen

[2018-06-04 13:30] sbrannen commented on #1444
Closely related to #371.

[2018-06-04 14:06] vinayf opened #1445 "Executing large number of dynamic tests results in OutOfMemoryError: GC overhead limit exceeded"
## Overview

When trying to run a large number of dynamic tests the framework throws an out of memory error.

For the sake of simplicity, below is a sample test I ran.

[code]

I have run this using both `ConsoleLauncher` and `maven-surefire-plugin` 2.21.0, but both approaches give the same problem. Below is the error.

[code]

## Versions

- JUnit 5.2.0
- maven-surefire-plugin 2.21.0

## Use Case

[2018-06-04 14:11] sbrannen commented on #1445
Related Stack Overflow thread: https://stackoverflow.com/questions/50629005/java-gc-overhead-limit-error-using-junit-5-testfactory-with-large-stream-of-dyna

[2018-06-04 14:20] sbrannen commented on #1445
Thanks for verifying that you encounter similar behavior with the `ConsoleLauncher` in addition to with Maven.

We'll look into it.

[2018-06-04 14:21] sbrannen commented on #1445
Tentatively assigned to the 5.3 backlog for _team discussion_

[2018-06-04 20:18] gaganis commented on #1445
I have tried running the provided test code on the current master and my conclusion is that trying to run such number of tests is expected for the platform to run out of memory.

The platform is storing all generated `TestIdentifier` instances(ie the information about each test) and also -for failing tests- the `AssertionFailedError` instances(ie all information about how a specific test failed).

[2018-06-05 09:39] sarod opened #1446 "Snapshot testing support"
## Overview

**Feature request.**
When the method under test returns large text blocks it is useful to be able to store the text snapshot outside of the text class in a snapshot file.

This can be achieved outside of the test framework and can be done for Junit with something like with https://json-snapshot.github.io/

However having built-in support in the framework would allow for better develop

[2018-06-05 09:44] sormuras commented on #1446
Neat idea and perfectly suited for an [extension](https://github.com/junit-team/junit5/wiki/Third-party-Extensions#junit-jupiter-extensions), methinks.

[2018-06-05 09:45] sormuras opened #1447 "Ensure discovered test descriptor graphs are acyclic"
## Overview

At the moment, the `DefaultLauncher` only ensures that an engine root descriptor is non-null. If an engine implementation returns a cyclic test descriptor graph, that graph is passed without any checking to internal filtering and then back to the engine for execution. This may lead to stack overflow issues when traversing the graph without checking for cycles.

For example here:

http

[2018-06-05 09:55] sbrannen commented on #1446
I agree with @sormuras: a feature like this should be implemented in a third-party extension.

[2018-06-05 10:08] sbrannen opened #1448 "Improve error messages for ParameterResolutionExceptions"
## Overview

When a `ParameterResolutionException` is thrown, the message currently states something similar to the following.

[code]

In the above example, the "executable" is actually a constructor, but many developers might not recognize that immediately based on the somewhat cryptic error message.

In addition, the cause of the above exception is that the developer introduced a constructor in

[2018-06-05 10:13] sbrannen commented on #1448
_in progress_

[2018-06-05 10:45] sbrannen commented on #1448
Deliverable # 1 has been addressed in 3398c171e2572a0d6884ff155e576dcbb44ed188.

Specifically, the error message in this issue's _Description_ is now generated as follows (i.e., "in executable" has been replaced by "in constructor").

[code]

[2018-06-05 10:45] sbrannen commented on #1448
@junit-team/junit-lambda, let's decide if we think it is necessary to implement Deliverable # 2.

[2018-06-05 11:07] sbrannen commented on #1414
Actually... after a bit of investigating, it turns out that half of our existing tests now use the `ThrowingSupplier` variants of `assertThrows()` instead of the `Executable` variants against which they were originally written and tested.

So that means the JUnit 5 test suite is not even testing what it's supposed to be testing.

We simply overlooked that since the tests continued to compile and p

[2018-06-05 11:09] sbrannen commented on #1414
For example, for our *very first test* in `AssertThrowsAssertionsTests`:

[code]

... the lambda expression there is inferred to be a `ThrowingSupplier` instead of an `Executable` (at least in Eclipse IDE).

[2018-06-05 11:09] sbrannen commented on #1414
Why on Earth the Java/Eclipse compiler thinks it returns something because it throws something... well... that's beyond my comprehension. 😛

[2018-06-05 11:27] sbrannen commented on #1414
@cushon,

Is your compiler selecting the "correct" overload in such cases (i.e., in contrast to the behavior I reported above in Eclipse)?

[2018-06-05 11:28] sbrannen commented on #1414
Or.... is your compiler simply selecting "an" overload that just happens to compile and work?

[2018-06-05 11:29] mibutec opened #1449 "Surefire provider truncates stacktraces"
Running tests in JUnit 4, I get for each test error/failure the whole stack trace shown.
Using `junit-platform-surefire-provider` there is a truncated stacktrace, as far I can see, it shows only the part of stacktrace happening in the test class itself.

Found same issue here: https://stackoverflow.com/questions/47282983/junit-5-truncates-stacktraces-and-crash-jvm-in-debug-mode but sadly with no s

[2018-06-05 11:32] sormuras commented on #1449
https://www.igorkromin.net/index.php/2017/08/17/how-to-enable-the-full-stack-trace-in-mavens-surefire-plugin-for-junit-testing/

Did that help?

[2018-06-05 11:38] mibutec commented on #1449
That's fine. Thanks for the fast answer.
Is there a reason why default behavior has been changed?

[2018-06-05 11:39] sbrannen commented on #1414
I can confirm that given the following test...

[code]

It compiles and passes without the `ThrowingSupplier` variants in place.

And... when I reintroduce the `ThrowingSupplier` variants, I get the following compiler error in Eclipse.

[code]

[2018-06-05 11:40] sormuras commented on #1449
Mh, I don't know. @tibor17 might have an answer to that question.

[2018-06-05 11:40] #1449 closed

[2018-06-05 11:49] sbrannen commented on #1414
I can also confirm that using the _trick_ proposed by @cpovirk _works_ with the above `future::get` test method. It compiles and passes.

So, with the proposed _trick_, it would appear that everything still technically "works".

But... invocations of `assertThrows()` that were previously compiled against `Executable` will be compiled against `ThrowingSupplier` once recompiled.

I suppose that does

[2018-06-05 11:57] sbrannen commented on #1414
In summary, it all boils down to two things.

1. Are we OK with having this _trick_ in place?
  - see https://github.com/junit-team/junit5/issues/1414#issuecomment-394673920
2. Are we OK with the fact that code previously assumed to be executing as an `Executable` will now (in certain cases) be executed as a `ThrowingSupplier` even if the lambda expression does not return anything?

[2018-06-05 12:07] sbrannen commented on #1414
With the current _trick_ in place, I've also rewritten the `future::get` test method as follows.

[code]

Thoughts?

This technique allows us to verify that both variants work and simultaneously that type inference works regardless of what the current compiler thinks the lambda expression or method reference should be.

[2018-06-05 12:20] sbrannen commented on #1414
For anyone interested in playing around with this, I've pushed my work to the following feature branch.

https://github.com/junit-team/junit5/commits/issues/1414-assertThrows-type-inference

[2018-06-05 12:42] sbrannen commented on #1414
And anyone interested in seeing the currently broken state of affairs can check out the change in 2b4ed35c2a47a2484dfdd503dec10d970176ce23 in `master` and uncomment the following line in an IDE: https://github.com/junit-team/junit5/commit/2b4ed35c2a47a2484dfdd503dec10d970176ce23#diff-bffc17213ec5b62b070d22200601c830R52

[2018-06-05 12:50] sbrannen commented on #1449
For future reference, please refrain from asking questions of this nature in this issue tracker.

Questions of that sort are better suited to Stack Overflow, Google Searches, etc.

[2018-06-05 13:55] mibutec commented on #1449
Sure, since there was already an unanswered stackoverflow question I didn't know how to get your attention to that. Didn't want to create a duplicate

[2018-06-05 14:38] Frontrider opened #1450 "Introduce support for grouping tests with @TestTemplate"
## Overview

I have a `@TestTemplate` method, which tests a group of classes that are different implementations of the same `interface`. The test method is extended with multiple `TestTemplateInvocationContextProvider`-s, each providing the different implementation, with their own test cases.

I'd like to have a way give them a parent dynamically, so the different classes (`TestTemplateInvocationC

[2018-06-05 16:05] sormuras commented on #1414
I am OK with having the _trick_ in place, as long as the semantic of the assertion, the expected result, isn't changed.

[2018-06-05 16:21] sormuras commented on #1178
About to merge #1428 tonight which introduces the support for custom `TestSource`s for dynamic containers and tests.

Tags won't be supported in the near future for reasons mentioned above, like in https://github.com/junit-team/junit5/issues/1178#issuecomment-346371161

[2018-06-05 17:13] AJNeufeld commented on #157
No, it isn't what I would want.

To "let a test execute in the Swing EDT Thread"([sic](https://en.wikipedia.org/wiki/RAS_syndrome)), you'd first have to set up the GUI for the test, then run the test, then tear down the GUI.  If you want several related tests, you'd want to factor out the set up and tear down code into separate methods, annotated with `@BeforeEach` and `@AfterEach` .  If these met

[2018-06-05 23:40] xenoterracide opened #1452 "ParameterizedTest not playing nice with Collections"
@ParameterizedTest
    @ArgumentsSource( PluginProvider.class )
    void codeQuality( Collection<Class<?>> toApply ) {
        Project project = ProjectBuilder.builder().build();
        toApply.forEach( project.getPluginManager()::apply );
        PluginContainer plugins = project.getPlugins();

        assertAll( "plugins",
                () -> assertTrue( plugins.hasPlugin( IdeaPlugin.class ),

[2018-06-06 05:05] marcphilipp commented on #1452
Although the error message could be better (could you please create a new issue for that?), the nested class needs to be static. Otherwise, it doesn‘t have a no-argument constructor.

[2018-06-06 05:05] #1452 closed

[2018-06-06 08:13] aaronhonra commented on #744
hi guys,  from the overview mentioned above, @Suite annotation exists.  What package does this reside exactly?  Can't seem to find it junit-platform-suite-api from 1.2 Junit platform version.  Is this still in experimental stage?

[2018-06-06 08:18] sormuras commented on #744
You need to browse and use the experimental branch: https://github.com/junit-team/junit5/tree/experiments/platform-suites ... which might be merged into 1.3-SNAPSHOT, soon.

[2018-06-06 08:44] sbrannen commented on #1449
You can use the [JUnit 5 Gitter channel](https://gitter.im/junit-team/junit5) to _ping_ the community.

[2018-06-06 08:50] sbrannen commented on #1450
Would support for "container templates" as proposed in #871 meet your needs?

[2018-06-06 10:25] sbrannen commented on #1414
For anyone interested in why `future::get` (which returns a value) worked when we only supported `Executable` (which does not return a value), here's an [explanation from Brian Goetz](https://stackoverflow.com/questions/37308294/why-does-a-java-method-reference-with-return-type-match-the-consumer-interface#comment62144050_37308580):

[2018-06-06 12:05] Frontrider commented on #1450
Not exactly. Mine would look more like this:

* `the declared test`
    * `extension one`
        * `test case 1`
        * `test case 2`
        * `test case 3`
    * `exension two`
        * `test case 1`
        * `test case 2`
        * `test case 3`

for this case that method would produce something like this:
* `test case 1,extension one`
    * `the declared test`
* `test case 2,extension on

[2018-06-06 13:18] IrisPallida opened #1453 "Unexpected execution order of JUnit 4 and 5 test methods"
With the following test class I wanted to show, that JUnit 4 and 5 tests can be run in parallel using the JUnit platform runner.

[code]

Running this test class in Eclipse, I get the following output:

[code]

I expected the method annotated with @BeforeClass to be executed at first, but this wasn't the case. Is this a bug or intentional?

This are the dependencies resolved in my project:
[code]

[2018-06-06 13:23] sormuras commented on #1453
What did you expect the output took look like?

### 5 (Jupiter)
[code]

### 4
[code]

[2018-06-06 13:31] IrisPallida commented on #1453
I expected `beforeClassTest()` to be the first method being executed. So I thought the output would look like that (or the last two methods vice versa):

[code]

[2018-06-06 14:13] beluha opened #1454 "Introduce extension APIs to handle exceptions from lifecycle callback methods"
## Overview

I need to handle exceptions thrown during the execution of each `@BeforeAll`, `@AfterAll`, `@BeforeEach`, and `@AfterEach` method.

There are [test lifecycle callbacks](https://junit.org/junit5/docs/current/user-guide/#extensions-lifecycle-callbacks). Just for error tracking needs these callbacks are useful, but if I need to capture AUT (application under test) state (for example to t

[2018-06-06 14:42] xenoterracide opened #1455 "Improve Exception Message for non static provide"
see #1452

class PluginProvider implements ArgumentsProvider {

        @Override
        public Stream<? extends Arguments> provideArguments( ExtensionContext context ) {
            return Stream.of(
                    Collections.singletonList( XenoJavaLibPlugin.class ),
                    Arrays.asList( JavaLibraryPlugin.class, XenoCodeQualityPlugin.class )
            ).map( Arguments::of )

[2018-06-06 14:48] sbrannen commented on #1454
Tentatively slated for the 5.3 backlog for _team discussion_

[2018-06-06 14:58] sbrannen commented on #1453
I am closing this issue since this is the expected behavior.

[2018-06-06 14:58] #1453 closed

[2018-06-06 15:05] sbrannen commented on #1455
Thanks for raising the issue.

[2018-06-06 15:13] xenoterracide opened #1456 "Doubly Parameterized tests within a nested test class"
I'm not sure if this is a doc improvement or request for feature, from the docs I'm not sure if what I'm trying to do is possible which is why I'm posting here

[code]

What I really want here, `codeQuality` runs twice, once for each plugin class list (this works). `hasSourceSets` runs *4* times. The `@Nested` runs twice for each plugin class, and then `hasSourceSets` would run twice fore each of

[2018-06-06 15:45] xenoterracide commented on #1456
I think so? at the very least related. I believe the solution proposed in #871  would work, that would make my test look like this?

[code]

[2018-06-06 15:55] xenoterracide commented on #878
I think this might work for my use case #1456, but I'm not certain what the exact syntax would look like reading this issue.

[2018-06-06 16:59] sbrannen commented on #1456
Actually, I don't think it would look like that.

Take a look at the proposal in https://github.com/junit-team/junit5/issues/878#issuecomment-354544841.

What I was alluding to is that you parameterize the container/class and access the "arguments" via `@Param` (or similar) via fields. Then you'd have a `@ParameterizedTest` method directly in that class that would do what you are currently proposi

[2018-06-06 17:00] sbrannen commented on #1456
By the way, your `ExtensionProvider` is overkill.

You can achieve that simply via the following:

[code]

[2018-06-06 17:02] smoyer64 commented on #1453
@IrisPallida

If the desired behavior is for the ``beforeClassTest`` method to perform the set-up for all tests in the class, there's nothing that keeps you from annotating that method with both JUnit 4 and JUnit 5 annotations as follows:

[code]

It should be noted however that, since JUnit 4 and JUnit 5 tests are executed using different engines, this method will be executed twice:

[code]

Note

[2018-06-06 17:02] sbrannen commented on #878
Fret not: we also don't know what the syntax will look like. It's up for debate. 😉

[2018-06-06 17:04] sbrannen commented on #1453
@smoyer64 is of course correct.

You _could_ do that, but I personally would not recommend that anyone combine elements from two different testing frameworks in the same physical class. 😉

[2018-06-06 17:09] smoyer64 commented on #1453
@sbrannen of course ... anytime you have to in-line package names you should look for an architectural flaw!

[2018-06-06 17:51] marcphilipp commented on #1414
Thanks for the excellent analysis, @sbrannen!

I think the "trick" is ok since a `ThrowingSupplier` is _executable_.

I was wondering in which cases that might be because I was worried we might end up printing `null` as the actual returned result even though nothing ever returned a result. After a little experimentation it appears that the lambda needs to be written in a way so that all code paths

[2018-06-06 18:22] marcphilipp commented on #1454
Alternatively, we could add these callback methods to `TestExecutionExceptionHandler`, e.g. `handleExceptionInBeforeEachMethod(ExtensionContext context, Throwable throwable)`.

[2018-06-06 18:31] marcphilipp commented on #1445
@gaganis Thanks for the excellent analysis! We'll discuss this issue in the team. I think there's certainly room for improvement but I don't see us moving away from the 2-step model.

[2018-06-06 18:42] marcphilipp commented on #1450
I think we could determine whether or not to group the invocations based on the number of supporting providers which is known up front. We would group them iff there is more than one provider that supports the template method.

[2018-06-06 18:47] marcphilipp commented on #1427
Interesting idea! However, it wouldn't support multiple parameters per source at all. For starters I think we should define the `cartesianProduct` method in `Arguments`.

@jhorstmann Would you like to submit a PR with your implementation?

[2018-06-06 18:52] Frontrider commented on #1450
I'd really like if there was a way for me to name the groups. Preferebly via a method and not an annotation.
It's a small thing, but that is one of my favourite features compared to JUnit4.

I would also add an another thing to consider while grouping: Weather or not the providers provide the exact same class (not if they are instance of the required class).

[2018-06-06 19:49] xenoterracide opened #1457 "Deprecate @ParameterizedTest and add required annotation to @ArgumentSource"
In order to avoid [PEBCAK](https://www.webopedia.com/TERM/P/PEBCAK.html) errors and refactoring mistakes, I think it would be better to be able to simply write:

[code]

... such that the "parameterized" portion becomes inferred.

This could also simplify conventions for #871, since you could simply put `@ArgumentSource` on the class as well... however this probably means more complicated code in

[2018-06-07 05:58] IrisPallida commented on #1453
Thank you all for you explanations!
I was experimenting with the behaviour of JUnit 4 and 5. After your clarification it seems pretty obvious why it works that way.

[2018-06-07 07:05] marcphilipp commented on #1450
Sure, we could let them provide a name. I don‘t understand what you mean regarding the same class. Could you please provide some more details?

[2018-06-07 07:33] Frontrider commented on #1450
On a second thought. I was actually thinking something stupid.

The ability to just merge groups if desired is more proper approach to what I actually wanted.

[2018-06-07 07:59] Frontrider commented on #1450
I was thinking something stupid.
The ability to do manual merge is the answer for the thing what I actually wanted. Probably overkill, but should still be there as an option.

[2018-06-07 08:30] sbrannen commented on #1454
Yep, that's also an option.

[2018-06-07 08:38] sbrannen commented on #1457
`@Test` signifies that the method is a standard test method.

`@ParameterizedTest` signifies that the method is parameterized and is actually a specialization of `@TestTemplate` which is discovered and executed completely separate from `@Test` methods.

We can therefore not reasonably treat a `@Test` as a `@TestTemplate` for technical reasons.

[2018-06-07 08:38] sbrannen commented on #1457
In any case, I do not see why the JUnit team would ever deprecate `@ParameterizedTest`.

[2018-06-07 08:51] sbrannen commented on #1450
@Frontrider, what do you mean by "merge"?

[2018-06-07 08:57] sbrannen commented on #1450
@marcphilipp,

I think that's a pretty good idea.

Are you suggesting we do that by default or make it an opt-in feature?

Also, we'd need to consider how we build (default and custom) display names and UIDs for those nodes, ensuring that filtering works as well.

For a default display name, I think we could simply use the result of invoking `toString()` on the argument source annotation, except t

[2018-06-07 10:00] sbrannen commented on #1457
In light of the above, I am closing this issue as _declined_.

[2018-06-07 10:00] #1457 closed

[2018-06-07 10:40] marcphilipp commented on #1450
Agreed.

This request is more general than parameterized tests and should work for all `TestTemplateInvocationContextProviders`. I think by default we could use the extension's class name.

[2018-06-07 10:44] Frontrider commented on #1450
And a second tough it's probably better to split the tests by extension as the default behavior, than by "merge", I mean to manually declare extensions to show up under the same label. That is an option which should be there, for the cases where we want to have them under the same label.

Yeah, that is something that I need, do I can integrate documentation a little better.

[2018-06-07 13:06] Frontrider opened #1458 "Use custom method to resolve name of parameterized test invocation"
## Overview

Currently we can do this to set a name in parameterized tests:
`@ParameterizedTest(name="{index}->{0}")`

But, I have a test where I need a little more in terms of how I customize the name (if I want to make it easy to read). Preferably something like this:

[code]

This allows us to dynamically generate the name of the test, based on something other than `toString()`.

## Workaround

[2018-06-07 13:09] sormuras commented on #1458
This.

[2018-06-07 13:13] sbrannen commented on #1458
Lambda expressions and method references are not valid assignment values for annotation attributes in Java.

It is therefore impossible to implement the proposal "as is".

[2018-06-07 13:15] sbrannen commented on #1458
See also #1309.

Would something like that meet your needs?

[2018-06-07 13:26] sbrannen commented on #1414
@cpovirk, thanks again for sharing your insightful _solution_ to this problem! 👏

[2018-06-07 13:28] sbrannen commented on #1414
@jbduncan,

Does this following _wordsmithing_ suffice for you? 😉

https://github.com/junit-team/junit5/blob/29911f2408c72b5873d63c5fe43cc51bedabe818/junit-jupiter-api/src/main/java/org/junit/jupiter/api/function/ThrowingSupplier.java#L26-L33

[2018-06-07 15:29] sbrannen commented on #1445
Base 64 encoding? 😝

[2018-06-07 15:31] sbrannen commented on #1445
All kidding aside, when the issue was first raised I actually assumed the tracking of all test identifiers and test descriptors could be one of the culprits.

[2018-06-07 15:35] sbrannen commented on #1445
Out of curiosity, did you see anything alarming with regard to annotation caching in `org.junit.platform.commons.util.AnnotationUtils.annotationCache`?

I'd be interested in knowing if that causes any issues.

[2018-06-07 15:37] sbrannen commented on #1445
Oh wait... the annotation cache could never be an issue if all that's run are dynamic tests.

We'd need an actual, realistic, large test suite to see any issues there. 😉

[2018-06-07 15:48] gaganis commented on #1445
I saw no issues there :)

I can see why you are worried after taking a look at the code. This cache has no size limit. :)

[2018-06-07 15:55] sbrannen commented on #1445
Mmmmmm... I've always pondered converting that to a bounded cache with an LRU eviction policy (like I did with the application context caching in the _Spring TestContext Framework_).

Maybe I really should do that. 🤔

[2018-06-07 15:59] sbrannen opened #1459 "Convert annotation cache to bounded cache with LRU eviction policy"
## Overview

The annotation cache in `AnnotationUtils` is currently unbounded.

I am considering converting it to a bounded cache with an LRU (least recently used) eviction policy.

## Deliverables

- [ ] Decide if we want to make this change.

[2018-06-07 15:59] sbrannen commented on #1445
Voila!

#1459

[2018-06-07 16:05] sbrannen commented on #1459
For an example of how easy it is to implement, see my [`LruCache`](https://github.com/spring-projects/spring-framework/blob/25559b9e44ae97184c5a669d7e6a94f8762fd4cd/spring-test/src/main/java/org/springframework/test/context/cache/DefaultContextCache.java#L313-L343) implementation in Spring.

[2018-06-07 16:20] gaganis commented on #1459
A consideration for using this `LruCache` is that it would replace the thread-safe `ConcurrentHashmap` with in essence the non-threadsafe `LinkedHashmap`.

[2018-06-07 16:33] sbrannen commented on #1459
Not a problem.

You just wrap it like this:

[code]

😉

[2018-06-07 16:37] sbrannen commented on #1459
**Food for Thought**:

Truth be told, we may not even really need to cache annotation lookups: it may have been a premature optimization.

It's essential in Spring, but it may not be required in JUnit, at least not the way JUnit Jupiter behaves. Though, other frameworks/engines using `AnnotationSupport` might still benefit from the cache.

In summary, it's difficult to know whether or not we shoul

[2018-06-07 17:08] jbduncan commented on #1414
@sbrannen Yep, LGTM. Thank you very much! :smile:

[2018-06-07 18:11] gaganis commented on #1459
@sbrannen Could you give me some time before making a decision on this. A thought I want to explore would be to make the cache more local to where it is needed. Similarly to how I have implemented #1397 in #1433 where in essense I have used a cache. This way we would not have to worry about a static GC root and cache only where needed.

__Please bear in mind__ this is currently just an idea I woul

[2018-06-07 18:37] Frontrider commented on #1458
And you're right. And yes, that could fit my needs.

[2018-06-07 19:15] Frontrider commented on #1309
Additional request is here.

If you put an argument like `isDescripted` (I think a boolean is enough for this) into `@ParameterizedTest`, than that can mark that the last argument in the source should be used as/in the description, even if the test does not uses it. That should also be compatible with every argument source we can think of.

[2018-06-08 04:11] k1w1m8 commented on #1439
Sigh. Bad typo there on my part. I meant Assumption rather than Assertion.

However, looking further at Assumptions rather than "assuming", it seems they are the correct way of dealing with my issue.

Thanks for your patience.

Looking forward to using DynamicTests combined with Assumptions to allow my QA staff to re-run any test via right click, they will be so happy.

[2018-06-08 04:53] marcphilipp commented on #1458
Duplicate of #1309.

[2018-06-08 04:53] #1458 closed

[2018-06-08 06:10] mibutec commented on #48
In my company we are using a JS (i.e. Jasmine) inspired way of writing Scenarios.

[code]

It lecks usage of JUnit default reporting, otherwise it has all the abilities of using extensions and all the abilities of java (decisions, loops, ...) to describe tests. Just as an idea.

[2018-06-08 07:08] beluha commented on #1454
I'm also concerned about handling exceptions in time in constructors.
Introduction of additional callback methods or exception handlers for constructors could be a good option as well taking into account `@TestInstance` values `Lifecycle.PER_METHOD` and `Lifecycle.PER_CLASS`.

[2018-06-08 08:06] sbrannen commented on #1458
OK. In that case, I will close this issue as a _duplicate_ of #1309.

[2018-06-08 08:07] sbrannen commented on #1458
Oh wait... @marcphilipp had already done that.

I just hadn't refreshed the page in my browser. 😉

[2018-06-08 08:13] sbrannen commented on #1439
👍

Thanks for the feedback.

[2018-06-08 08:55] beluha opened #1460 "AfterAllCallback should not be invoked when exception is thrown in constructor or static block"
## Overview

The `afterAll(ExtensionContext)` callback method from the `AfterAllCallback` interface is invoked when an exception is thrown in a constructor static initialization block when using `@TestInstance(Lifecycle.PER_CLASS)`.

However, no other callback methods are invoked. `@BeforeAll` and `@AfterAll` methods are also not executed.

## Code examples

### Test Class

[code]

### LoggerExten

[2018-06-08 10:22] marcphilipp commented on #1448
Moving this to General Backlog for now...

[2018-06-08 10:56] #1447 closed

[2018-06-08 22:00] dlanaghen opened #1462 "@ParameterizedTest annotation does not appear to be valid in Groovy file"
I get a compile error using the `@ParamterizedTest` annotation in a Groovy file.  `@Test` works fine.

Using JUnit 5 parallel-exectution branch, but just testing a simple JUnit 5 test in a groovy file.

File:  ParamerizedTests.groovy

[code]

I get a compile error.

[code]

This is a springboot application and the following dependency has been added to allow for Groovy compilation:

[code]

[2018-06-09 04:43] sormuras commented on #1462
Any chance that the `org.junit.jupiter:junit-jupiter-params:5.2.0` is missing?

[2018-06-09 04:50] memelet commented on #1104
I have `compile 'org.apiguardian:apiguardian-api:1.0.0'` but still get the warning

[2018-06-09 04:53] sormuras commented on #1104
`NeedMoreInformationToHelpException` ;-)

[2018-06-09 09:19] sbrannen commented on #1462
As @sormuras pointed out, you'll need to add the following to your POM:

[code]

Please try that out and let us know if it solves your problem.

[2018-06-09 10:01] sormuras opened #1463 "Does the default class name filter work as expected?"
## Question

Originating from Stack Overflow: https://stackoverflow.com/questions/50730460/tests-not-being-discovered-in-junit-5-consolelauncher-no-errors

The `-c com.test.package.testsets.TestClass` should work, as the class name starts with `Test`.

According to https://junit.org/junit5/docs/current/user-guide/#running-tests-console-launcher-options the default regex should match that class nam

[2018-06-09 10:16] sbrannen commented on #1463
Related commit: ce303c347e42b606ce51eaf72294dabf19a0ae72

[2018-06-09 10:18] sbrannen commented on #1463
Actually, that could never work. `package` is not a valid identifier as a Java package name.

So, my assumption is that the fully qualified class name supplied on Stack Overflow was merely an example, and that leads me to believe that the test class name was in fact not `TestClass` to begin with.

I have asked the OP on Stack Overflow to confirm that.

[2018-06-09 10:28] sbrannen commented on #1463
FWIW, I personally do not see how the current regular expression could be broken with regard to the example FQCN provided on Stack Overflow (assuming the `package` subpackage has a valid name), since all tests in the following package are discovered in our test suite.

https://github.com/junit-team/junit5/tree/master/platform-tests/src/test/java/org/junit/platform/console/subpackage

[2018-06-09 10:29] sbrannen commented on #1463
Specifically, the following assertion passes:

https://github.com/junit-team/junit5/blob/bf8719cb68989619a1845b9b6e593578ecca0eb6/platform-tests/src/test/java/org/junit/platform/console/ConsoleLauncherIntegrationTests.java#L40

[2018-06-09 10:30] sbrannen commented on #1463
But I certainly welcome another member of the @junit-team/junit-lambda to check it again. 2 heads are better than 1. 😉

[2018-06-09 10:39] sbrannen commented on #1460
Behavior when no exception is thrown in the constructor:

[code]

[2018-06-09 10:43] sbrannen commented on #1460
FYI: I modified the output text to include indentation via tabs.

[2018-06-09 10:45] sbrannen commented on #1460
I can confirm that the following is the output when an exception is thrown in the constructor:

[code]

[2018-06-09 10:47] sbrannen commented on #1460
_in progress_

[2018-06-09 10:50] sbrannen commented on #1460
This issue is closely related to #359.

[2018-06-09 10:56] sbrannen commented on #1460
I already have a fix in place based on the work I did in #359.

So I basically just need to put the appropriate test in place. 😉

[2018-06-09 11:07] marcphilipp commented on #1462
Compilation fails because you have to use `[` and `]` instead of `{` and `}` in Groovy:

[code]

[2018-06-09 11:07] #1462 closed

[2018-06-09 11:10] sbrannen commented on #1460
Hmmm.... looks like I spoke too soon: `ExceptionHandlingTests.exceptionInAfterAllCallbackDoesNotHideFailureWhenTestInstancePerClassIsUsed()` now fails with my proposed _fix_.

[2018-06-09 12:33] gaganis commented on #1460
In attempt to convey our discussion on gitter, I think we discussed 3 different topics. All the case below are referring to Classes annotated with the `PER_CLASS` instantiation method.

- a) Why jupiter would not run instance methods annotated with `@BeforeAll` or `@AfterAll` when we have a failing constructor. The conclusion for this was that it is _impossible_ for these methods to run since no i

[2018-06-09 14:39] marcphilipp commented on #1462
FWIW I added a Groovy-based starter projects to our samples:
https://github.com/junit-team/junit5-samples/tree/master/junit5-jupiter-starter-gradle-groovy

[2018-06-09 15:00] marcphilipp commented on #1432
_in progress_

[2018-06-09 15:06] adamvoss commented on #157
It looks like there are actually 4 options from those for all the combinations of:

 1. `Executable` vs `Runnable`
 2. _Extension point as a provider_ vs _Extension point as the executor_

I don't currently have an opinion on which is better on the first question.

Regarding the second, I can't think any behaviors that would be possible with one but not the other.  My first thoughts are that the "

[2018-06-09 15:21] #1432 closed

[2018-06-09 15:31] memelet commented on #1104
I don't even know (yet) if the problem is due to junit. I stated to get the error after I added `exclude group: 'junit', module: 'junit'` so IDEA and Gradle would use the correct runner, but that could be a decoy.

I was able to remove the warnings by adding `compileOnly 'com.google.code.findbugs:jsr305:3.0.2'`. apiguardian had no effet.

[2018-06-09 15:43] sbrannen commented on #1460
That's correct: we cannot achieve the literally impossible. 😉

[2018-06-09 15:47] sbrannen commented on #1460
- By the current title of this issue this point is the one handled by this issue.

That's correct: as a general rule of thumb, JUnit Jupiter never runs AfterX methods or callbacks unless it ran (or attempted to run) BeforeX methods or callbacks.

The framework has been consistent in this regard, and whenever notice anything to the contrary... we fix it (like in this issue).

[2018-06-09 15:49] sbrannen commented on #1460
I'm not sure if you are referring to the callbacks (extensions) or user methods here.

In any case, I understand her desire differently.

So, yes, @beluha, could you please clarify what you expected?

[2018-06-09 15:54] sbrannen commented on #1460
@gaganis, thanks for taking the time to document the discussion on Gitter!

Regarding point _B_, that's an interesting debate but beyond the scope of _this_ GitHub issue.

Would you mind opening a separate issue to discuss that on its own?

[2018-06-09 16:19] sbrannen commented on #1460
FYI: the current work on this issue can be viewed in the following feature branch.

https://github.com/junit-team/junit5/commits/issues/1460-invoke-AfterAllCallback-only-if-BeforeAllCallbacks-invoked

[2018-06-09 18:48] gaganis commented on #1460
Sorry there is a typo. Please replace _callbacks_ -> _methods_

Sure, will do ;)

[2018-06-09 18:54] beluha commented on #1460
For me BeforeAllCallback and AfterAllCallback should not be invoked, if an  exception is thrown in constructor.

[2018-06-10 11:08] #1460 closed

[2018-06-10 11:13] sbrannen commented on #1460
This bug has been fixed in 7ada7e823a2afcece4fc7af715a7ded6b17f62d8 and further polished in 9693d53891219547963fb0afc4b82979c03732fa and 5d1e6ef203abe68e2a601fa7c9283d630e698e4b.

[2018-06-10 11:17] sbrannen commented on #1460
@beluha, thanks for the clarification!

The aforementioned fix makes it work like you expect.

[2018-06-10 11:35] sbrannen commented on #1459
There's no rush one way or the other, and even if we make changes now, that would not preclude further changes at a later date.

Let's not confuse Jupiter with the Platform.

The caching in `AnnotationUtils` is at the platform level and therefore beneficial to any third parties accessing that functionality via the Platform's `AnnotationSupport` or Jupiter's `ParameterContext`.

Moving caching "mor

[2018-06-10 13:50] sbrannen commented on #1462
Good catch!

[2018-06-12 11:28] sormuras commented on #1169
Thanks for the heads-up.

The underlying reason here was an out-dated ASM version used by the Kotlin compiler.

[2018-06-12 13:14] k1w1m8 commented on #1439
Well it seems to work
[code]

[code]

Slightly klunky, but gets the job done.

I've yet to test it with Maven FailSafe yet. Hopefully that works just as well.

[2018-06-12 15:28] sebersole commented on #871
Would `@RepeatedContainer` allow parameterization of the container itself?  For us (Hibernate) this approach would be useful, but ideally we would be able to parameterize the container (class) itself, not each test.

[2018-06-12 15:53] sormuras commented on #871
I don't think so. Look at how `@RepeatedTest` and `@ParameterizedTest` work. The former only counts an invocation counter up and executes the annotated method _n_ times. The latter invocation count is predefined by the size of the `Arguments` passed to the annotated method.

Both **do** support default the `ParameterResolver` API. So, `@RepeatedTest` may be parameterized in a limited way.

[2018-06-12 21:10] mkobit commented on #373
As of right now, is the only way to consume the `ExtensionContext.publishReportEntry` from extensions/what not is to implement [a `TestExecutionListener`](https://junit.org/junit5/docs/5.2.0/api/org/junit/platform/launcher/TestExecutionListener.html#reportingEntryPublished-org.junit.platform.launcher.TestIdentifier-org.junit.platform.engine.reporting.ReportEntry-)? Can that be used from Gradle?

[2018-06-13 06:56] k1w1m8 commented on #1320
I have also found this issue.

In my Jenkins HTML report generated from Surefire I get a bunch of links to failures which have a synthetic id where you would expect the DynamicTest name, like so:

[code]

Unfortunately, this makes using any kind of dynamic or parameterised test with Jenkins very painful, and is a powerful reason to avoid teams adopting JUnit 5 dynamic or parameterised tests for re

[2018-06-13 13:12] sbrannen commented on #1439
That will work just fine.

[2018-06-13 13:14] sbrannen commented on #1439
By the way, the following would be the idiomatic way to use assumptions in this scenario.

Well it seems to work

[code]

[2018-06-13 13:28] sbrannen commented on #871
Well, the main point of having container templates (where the container is a test class in this context) would in fact be to provide configuration that varies across invocations of the container. It's basically analogous to the existing support for test templates, just at a higher level.

So I don't see any reason why you couldn't "parameterize the container (class) itself".

Of course, if JUnit i

[2018-06-13 13:46] sebersole commented on #871
I just want to be able to run the same "set of tests" (test methods within a class) multiple times using slightly different configurations but ordered such that all tests within that class for a given configuration are run before the tests for that class for the next configuration.

JUnit has a number of mechanisms to help with those first parts already.  However it has no support for controlling

[2018-06-13 14:04] sbrannen commented on #373
Yes, AFAIK, that's correct.

AFAIK, you cannot register a custom `TestExecutionListener` within a Gradle build script, but @marcphilipp can perhaps correct me if I'm wrong.

In any case, you can have your custom `TestExecutionListener` registered automatically. Details here: https://junit.org/junit5/docs/current/user-guide/#launcher-api-listeners-custom

[2018-06-13 14:14] sbrannen commented on #871
True... it's usually difficult to predict the future.

But...

AFAIK, that is exactly the plan for container templates and consequently for parameterized containers. At least, that's how I envision it working as well. Otherwise, IMHO, it would not be a very useful feature.

[2018-06-13 14:16] sbrannen commented on #871
Present: I think you're finding your own way at the moment (based on Gitter, etc.), using the tools currently available to you.

Future: I think container templates will make these types of use cases easier to implement and reason about.

[2018-06-13 14:34] rlundy commented on #878
Would it help to have a concrete example to start from?

I'm using JUnit 4 for Selenium tests.  I want to run them in multiple browsers.  I'm using test class parameterization to do it.

As I have it set up now, a test looks like this:
[code]
`TestBase` looks like this:
[code]
In `TestBase`, I parse the browser string (which ultimately comes from a configuration file) and then pass that to the tes

[2018-06-13 14:50] sbrannen commented on #878
I think it could look very similar to what @marcphilipp proposed here: https://github.com/junit-team/junit5/issues/878#issuecomment-354544841

So, perhaps something like the following:

[code]

[2018-06-13 23:07] k1w1m8 commented on #1439
Thanks for that, my code is now "idiomatic". Love that term ;-).

Surefire indeed works, in that it reports test success, failures and now ignores!

Unfortunately, the surefire reporting of Dynamic Tests is not able to report the test names properly (we get the synthetic ids instead), which means our CI will need to remain using JUnit 3 Suite/Test "dynamic" tests for now.

This was already reporte

[2018-06-14 02:27] k1w1m8 opened #1464 "JUnit Platform Surefire Provider silently ignores tests when run using Java 7"
I tried to use JUnit 5.2 surefire/failsafe provider in maven to run my tests.

I accidentally had the JDK set to 1.7. In that case I got this

[code]
Eventually I figured out the JVM was wrong so I changed it to JDK 1.8.

Then I got

[code]

So it seems that if you specify the wrong JDK, the provider silently ignores the tests. An obvious mistake on my part, but the error handling made it very dif

[2018-06-14 07:14] sormuras commented on #1178
Addressed via https://github.com/junit-team/junit5/commit/54f11a279cd14d909409a0ee4943ce32af343bcd

[2018-06-14 07:14] #1178 closed

[2018-06-14 08:48] sbrannen commented on #1178
👍

[2018-06-14 08:49] sbrannen commented on #1178
I updated the _Deliverables_ to reflect what has been done.

[2018-06-14 11:23] gaganis opened #1465 "Should static @BeforeAll/@AfterAll methods in class annotated with @TestInstance(PER_CLASS) be executed if constructor throws exception?"
## Overview

Given a test class annotated with `@TestInstance(PER_CLASS)` with `static` `@BeforAll` and `@AfterAll` methods, if the constructor for the test class throws an exception, these callback methods are currently not executed.

Technically there is no restriction why these would not run (since an instance of the test class is not required to execute `static` methods in that class), so it i

[2018-06-14 12:08] sbrannen commented on #1465
Tentatively slated for the 5.3 backlog for _team discussion_

[2018-06-14 12:09] sbrannen commented on #1465
@gaganis, thanks for starting the discussion.

[2018-06-14 14:19] gaganis opened #1466 "Document exception handling regarding user code and extension interactions in User Guide"
## Overview

In the User Guide we have [section 5.11](https://junit.org/junit5/docs/current/user-guide/#extensions-execution-order) where the _happy path_ relative execution order is described.

During our work on #1465 and #1460 I was trying to find in the user guide what would be the expected behavior when something fails. Specifically in that case I wanted to know what is expected to run when t

[2018-06-14 17:38] valodzka commented on #1320
Just want to add that for my team this issue is main reason to postpone upgrade from junit 4. It's much harder to use jenkins reports when test names isn't readable.

[2018-06-14 20:00] smoyer64 commented on #1466
Related to #1022 (this may be a case where javadocs don't make sense but I prefer javadocs as they show up in my IDE).

[2018-06-15 08:16] sbrannen opened #1467 "Support classpath resource for custom test source in dynamic tests"
## Background

In conjunction with #1178, support was added for creating a `UriSource` from a `URI` supplied for a dynamic container or dynamic test.

In addition, the new `UriSource.from(URI)` static factory method currently supports creation of a `FileSource` or `DirectorySource` if the supplied `URI` represents a file or directory in the local filesystem. Otherwise, a `DefaultUriSource` is crea

[2018-06-15 08:17] sbrannen commented on #1467
Tentatively slated for 5.3 M1 for _team discussion_

[2018-06-15 08:19] sbrannen commented on #1178
See #1467 for potential support for classpath resources as custom test sources.

[2018-06-15 08:34] sbrannen commented on #1466
@smoyer64, since the information required to document this would have to span multiple annotations and extension APIs, I don't think it would be feasible to cover it in the JavaDoc.

We could, however, consider linking to the User Guide from the JavaDoc for various annotations extension APIs.

[2018-06-15 09:58] smoyer64 commented on #1466
package-info.java?

[2018-06-15 12:38] sbrannen commented on #1466
`package-info`: the question then is which package?

- `org.junit.jupiter.api`?
- `org.junit.jupiter.api.extension`?
- both?

[2018-06-15 13:04] smoyer64 commented on #1466
Yeah ... I don't think it's optimal.  I've admitted I like javadocs due to their IDE integration but that makes the contents of package-info pretty invisible (or I don't know how to show them?)

[2018-06-16 05:28] BeyondW opened #1468 "Why doesn't Junit include a stub or mock feature?"
## Overview
**Feature request.**
Usually, I use Junit to do unit testing and integration testing. However, I need another framework like easymock to generate stub. Wouldn't it be better to integrate the feature within Junit?
## Deliverables

[2018-06-16 06:34] marcphilipp commented on #1468
We see mocking out of scope for JUnit because there are already excellent mocking frameworks available, e.g. Mockito, EasyMock, and JMock. We believe users should be able to use their mocking framework of choice instead of another baked-in solution.

[2018-06-16 06:34] #1468 closed

[2018-06-16 12:30] sormuras commented on #1464
@k1w1m8 As Surefire 2.22.0 is released can you please re-run your setup and verify if the issue still persists using the latest-and-greatest version with native JUnit Platform support?

Thanks in advance.

[2018-06-16 12:40] sormuras commented on #1425
As Surefire 2.22.0 is released you now may use `<groups>` and `<excludedGroups>` directly to configure which JUnit Platform Tags are included and excluded. Copied from http://maven.apache.org/surefire/maven-surefire-plugin/examples/junit-platform.html

### Filtering by Tags
You can use JUnit5 Tags and filter tests by tags or tag expressions.

To include tags or tag expressions, use `groups`.
To ex

[2018-06-16 12:40] #1425 closed

[2018-06-16 12:44] sormuras commented on #1367
@joakime @triceo @bigkahuna1uk @chibenwa As Surefire 2.22.0 is released, may you please re-run your setup and verify if the issue still persists using the latest-and-greatest version with native JUnit Platform support?

Thanks in advance.

[2018-06-16 12:52] sormuras commented on #1346
@huffstler As Surefire 2.22.0 is released, may you please re-run your setup and verify if the issue still persists using the latest-and-greatest version with native JUnit Platform support?

Thanks in advance.

[2018-06-16 14:52] triceo commented on #1367
Works like a charm, @sormuras. Thanks!

[2018-06-16 16:47] giacgbj commented on #1367
@joakime Just tried it and…I'm still using 2.19.1!

[2018-06-17 01:03] testphreak opened #1469 "Java 10/JUnit 5/Spring Boot 2: Unit tests fail when Surefire forkCount > 0 or not specified"
**Dependencies**
`JUnit`: 5.2.0
`Spring Boot`: 2.0.3-RELEASE
`Java`: 10 *(in module mode)*
`Surefire`: 2.22.0

**Error**
When I run the tests, I see the following error:

[code]

**Test Case**
One of my tests:

[code]

**Expected behavior:**
Tests run successfully when `forkCount` != 0

**Actual behavior:**
All tests fail, unless I set `forkCount` to 0 in my `surefire` configuration

[code]

[2018-06-17 04:14] sormuras commented on #1469
Please **remove** this provider from the configuration and run your tests again:

[code]

Surefire now ships with its own JUnit Platform provider.

[2018-06-17 06:30] testphreak commented on #1469
Hi @sormuras, neither solution worked. Still seeing the same error. Does `SureFire` after it's latest update to `2.22` still have the fork issues?

Looks like the the author of this [post](https://medium.com/criciumadev/java-10-migration-5d853f5b5f7e) in point 5 states:

[code]
It appears to me that SureFire still has issues when using modules.

[2018-06-18 16:50] Andrei94 commented on #970
Is this issue still open?

[2018-06-18 17:41] marcphilipp commented on #970
Please do!

[2018-06-18 19:47] Andrei94 opened #1471 "Introduce assertDefaultValue method"
### **Feature request**
Provide convenient assertion methods for commonly used assertions, for example empty strings, assertIsZero etc, as well as a way to define a default value for your own objects.

### **Deliverables**

- [ ] convenience methods(`assertEmptyString`, `assertIsZero`...)
- [ ] way to define default value for objects

### **Possible solutions for defining default values**
- use th

[2018-06-18 19:59] jbduncan commented on #1471
@Andrei94 Nice suggestion, regarding the convenience methods! However, in my personal opinion, existing _fluent_ assertion libraries like [Truth](https://google.github.io/truth/) and [AssertJ](https://joel-costigliola.github.io/assertj/) are the perfect solution for this problem, as they are more well-equipped to deal with _all_ the possible combinations of convenience assertions that one could wa

[2018-06-19 07:39] sormuras commented on #1471
I'm with @jbduncan here. Here's an excerpt from the User-Guide:
_**3.4.1. Third-party Assertion Libraries**_
_Even though the assertion facilities provided by JUnit Jupiter are sufficient for many testing scenarios, there are times when more power and additional functionality such as matchers are desired or required. In such cases, the **JUnit team recommends** the use of third-party assertion lib

[2018-06-19 09:20] marcphilipp commented on #1471
+1 to what @sormuras wrote above.

@Andrei94 Feel free to reopen the issue if you think we've misunderstood your use case.

[2018-06-19 09:20] #1471 closed

[2018-06-19 10:53] sbrannen commented on #1471
+1 to what @sormuras wrote above.

[2018-06-20 06:43] k1w1m8 commented on #1320
Will this be fixed in the maven repo now that the junit 5 surefire reporter has been donated to maven and maven surefire plugin 22.0 has been released?

[2018-06-20 06:53] sormuras commented on #1320
Yes, that's the plan.

[2018-06-20 10:59] sbrannen commented on #1471
Yes, things like `assertEmptyString`, `assertEmptyCollection`, etc. are better suited for a dedicated assertion library.

[2018-06-22 10:33] marcphilipp commented on #1463
We have tests in place to check that it works as expected and never received a reply on StackOverflow. So, I'm closing this issue as _works-as-designed_.

[2018-06-22 10:33] #1463 closed

[2018-06-22 10:43] marcphilipp commented on #1459
**Team Decision:**

Since the cache currently rarely has any hits (in particular because we don't cache repeated annotations), let's remove it for now. If we find out there's a real use case for caching, we can reconsider at a later point in time.

[2018-06-22 11:05] marcphilipp commented on #1467
I think `ClasspathResourceSource` should not implement `UriSource` because that would break code like the following:

[code]

[2018-06-22 14:04] sbrannen commented on #1459
_in progress_

[2018-06-22 17:53] #60 closed

[2018-06-22 19:38] dotCipher opened #1473 "Ignore JEnv specific files from version control"
## Overview

- **Feature request:** `.gitignore` [jenv](https://github.com/gcuisinier/jenv) specific local files

If you are a developer who works with multiple versions of the JDK for multiple projects and want to easily specify Java 9+/10 for JUnit5, running `jenv local 10` will create a local dotfile specifying the `JAVA_HOME` etc shims to use for the local project (dotfile is called `.java-ver

[2018-06-22 19:41] dotCipher commented on #1473
See PR with proposed change: #1474

[2018-06-22 21:31] marcphilipp commented on #1473
Why don’t you just add that to your global Ignore list?

[2018-06-22 23:48] jhovell commented on #1334
@marcphilipp can you elaborate?

The current documentation says suites are supported via the syntax that @PE-test provides.

https://junit.org/junit5/docs/current/user-guide/#running-tests-junit-platform-runner-test-suite

Is the documentation incorrect? Is there a way to run the following command? If MySuiteOfTests is a test class, the tests run. If it is defined as a suite per the documentation,

[2018-06-22 23:49] jhovell commented on #1334
Also using maven-failsafe-plugin:2.22.0

[2018-06-23 01:00] dotCipher commented on #1473
I honestly didn't even know that was possible!  Thanks for the pointer.  I would be fine closing this out if that is the suggested path of action here.

[2018-06-23 10:29] marcphilipp commented on #1473
Personally, I use [jabba](https://github.com/shyiko/jabba) which uses a `.jabbarc` file and have added it to my global ignore list. Other people might be using yet another such tool so I'd rather not add it to our `.gitignore` file. Thanks for the issue and PR, though! 👍

[2018-06-23 10:29] #1473 closed

[2018-06-23 10:50] marcphilipp commented on #1334
Test suites that use `@RunWith(JUnitPlatform.class)` can only be executed using JUnit 4 directly. The `JUnitPlatform` runner is merely a way to run tests written using the Jupiter API in tools that only support JUnit 4. Thus, you cannot use it when Surefire uses the JUnit Platform provider. You should be able to [force it to use its JUnit 4 provider](https://maven.apache.org/surefire/maven-surefir

[2018-06-23 14:18] sbrannen commented on #1334
The use of `@Tag("xyz")` is also an option for achieving something _similar_ to suites in the interim.

[2018-06-23 14:21] marcphilipp commented on #373
Gradle has its own `TestListener` that you can register on a `Test` task: https://docs.gradle.org/current/dsl/org.gradle.api.tasks.testing.Test.html#org.gradle.api.tasks.testing.Test:addTestListener(org.gradle.api.tasks.testing.TestListener)

It does not currently report events for intermediate nodes in the test tree, though.

[2018-06-23 19:00] Xuhui-Wang opened #1476 "Allow configuring max characters per column in CSV input to @ParameterizedTest"
## Overview

Cannot configure maximum characters per column for CSV input for a `@ParameterizedTest`.

[code]

## Deliverables

- Add new annotation attribute such as `maxCharsPerColumn` to `@CsvSource`
- Add new annotation attribute such as `maxCharsPerColumn` to `@CsvFileSource`

[2018-06-23 19:28] johnchurchill opened #1477 "Introduce support for zero invocations in test templates and parameterized tests"
## Overview

Using: JUnit: 5.2.0

Great job on the new `ParameterizedTest` support in v.5. The replacement of the static, one-per-class Parameters annotation with more flexible `MethodSource`, etc. has been like a breath of fresh air and allowed me to remove thousands (!!) of lines of supporting code from my system. I'm really loving it.
However, someone decided to disallow zero parameters with th

[2018-06-23 20:19] sbrannen commented on #1476
Sounds reasonable to me, except that it's rather unlikely that someone would type in (or copy-n-paste) more than 4096 characters into a string supplied to `@CsvSource`.

@junit-team/junit-lambda, thoughts?

[2018-06-24 11:28] marcphilipp commented on #1477
@johnchurchill Could you please provide a few more details about your use case, particularly how you've written your tests? I assume it involves base classes that inherit `@ParameterizedTest` methods?

[2018-06-24 11:56] gaganis commented on #1477
I have also been trying to envision what you are trying to do and was not able.

My best guess is that you have some sort of `ArgumentsProvider` that returns no elements, but still I am not sure. If my guess is valid, this behaviour was explicitly added as a solution for #923.

It would be great if you could provide a skeleton test that exhibits your issue.

[2018-06-24 15:37] sbrannen opened #1478 "Fix broken tests in DefaultParallelExecutionConfigurationStrategyTests"
## Overview

Various tests in `DefaultParallelExecutionConfigurationStrategyTests` are broken (presumably) due
to issues with Mockito on Java 10. Specifically, the mocked method invocations appear not to work at all.

## Deliverables

- [x] Fix broken, `@Disabled` tests in `DefaultParallelExecutionConfigurationStrategyTests`.

[2018-06-24 17:15] marcphilipp commented on #1478
Fixed in 2ffddb5632880440ed61618a49792ff36dd7f54c.

[2018-06-24 17:15] #1478 closed

[2018-06-24 19:15] cremich opened #1479 "SurefireBooterForkException with maven-surefire-plugin 2.22.0 and JDK 10.0.1"
## Overview

Using JUnit 5.2.0

I built a small sample project to evaluate JDK 10 with maven. Unfortunately I am running into several errors with the `maven-surefire-plugin`.

Here my sample `pom.xml`

[code]

And here is the error after executing `mvn test -e`

<details>

[code]

</details>

Also tried to update the `org.ow2.asm dependency` to the latest version (6.2), but I'm still getting some

[2018-06-24 20:07] cremich commented on #1479
Some additional information:

i use modularized approach by providing a module-info.java

[2018-06-24 20:31] cremich commented on #1479
hmm...maybe this is a maven-surefire issue and not a junit issue? :)

[2018-06-24 20:39] johnchurchill commented on #1477
Yes, there is a superclass of all tests which does the parameter loading and execution. There are thousands of subclasses that implement all kinds of functionality. Each (non-test) class is the logic behind an interactive web page in the system. Here is a boiled-down version of that superclass:

		@ExtendWith(SpringExtension.class)
		@SpringBootTest(classes = SpringDevTestServerConfiguration.class

[2018-06-24 21:53] sbrannen commented on #1477
In any case, we should improve the error message.

`"Configuration error: You must provide at least one argument for this @ParameterizedTest"` --> `"Configuration error: You must provide at least one invocation context for this @ParameterizedTest"`.

The difference being "argument" vs. "invocation context".

And the invocation context can still supply zero "arguments" to the method, though that's

[2018-06-24 21:55] sbrannen commented on #1477
FYI: I reworded the title of this issue accordingly.

[2018-06-24 22:03] sbrannen commented on #1477
Keep in mind that a `@TestTemplate` method in general cannot currently have zero invocations.

[2018-06-24 22:03] sbrannen commented on #1477
In other words, see `org.junit.jupiter.engine.descriptor.TestTemplateTestDescriptor.validateWasAtLeastInvokedOnce(int)`. 😉

[2018-06-24 22:41] Xuhui-Wang commented on #1476
like this:
[code]

my "serializeSource.csv":
[code]

[2018-06-24 23:07] johnchurchill commented on #1477
I took a look at `TestTemplateTestDescriptor`, and yes the zero invocations would be stopped there too. I tried taking both of those preconditions out (`TestTemplateTestDescriptor` and `ParameterizedTestExtension`) and making a simple class with one `@Test` and one `@ParameterizedTest` which refers to a `@MethodSource` which returns an empty list. The result is that 1/1 tests pass (just `bar2()`),

[2018-06-25 08:29] sbrannen commented on #1477
In such cases, I don't think the parameterized test container should be marked as "successful".

Rather, I think we should mark the parameterized test container as "skipped" and provide a "reason" why it was skipped.

@junit-team/junit-lambda, thoughts?

[2018-06-25 09:22] sbrannen commented on #1476
That's generally not how CSV files are supposed to be used.

Having a single column/string per line is really just a normal text file.

If you remove the enclosing double quotes, that would resemble a typical CSV file.

Can you please explain why the first line has 7 columns and the second has so many more?

Just trying to better understand your use case.

Thanks!

[2018-06-25 09:36] sbrannen commented on #1477
As a side note, since I'm the author of the _Spring TestContext Framework_...

@johnchurchill, out of curiosity, why do you disable **all** Spring test listeners except `DependencyInjectionTestExecutionListener`?

That's enabled by default.

Were other listeners somehow causing problems?

[2018-06-25 11:37] gaganis commented on #1477
This case reminds me of the similar case #1298 which was handled by the `--fail-if-no-tests` cl option.

The similarity is that they both exhibit the same core dilemma:
_If I have zero elements to process, is that because the user has done some error __or__ is this lack of items actually valid and intentional?_ The error could be in configuration as in both cases or programmatic in the case of pro

[2018-06-25 14:03] Xuhui-Wang commented on #1476
Yeah, the problem is ~ sometimes I need to test on data structure with gigantic size(e.g. a very large Binary Tree). I don't know if there is a good one-stop solution to solve this problem in Junit 5.

In this case, the 1st and 2nd line are separate test cases (i.e. one is very large)

[2018-06-25 14:05] marcphilipp commented on #1476
I think you might be better off to implement your own `ArgumentsProvider` for such cases. Have you tried unquoting the string in the CSV file and using an `ArgumentsAccessor` instead of a `String` parameter?

[2018-06-25 14:37] gaganis commented on #1477
I don't think _invocation context_ would be more meaningful for the normal user. Though indeed it is more meaningful for someone who understands the internal of the platform.

If you consult the relevant section in the User Guide about `ParameterizedTests` there is no mention, let alone an explanation, of "Invocation Context".

[2018-06-25 14:46] sbrannen commented on #1476
+1 for the suggestions from @marcphilipp. 👍

[2018-06-25 14:48] sbrannen commented on #1477
Sure.... "invocation context" is very technical.

How about the following instead?

`"Configuration error: You must configure at least one set of arguments for this @ParameterizedTest"`

[2018-06-25 14:53] sbrannen commented on #1477
Good points, @gaganis.

I tend to agree that adding an opt-in flag as a annotation attribute in `@ParameterizedTest` would be a better, more robust, and more user friendly solution.

How about the following?

[code]

... with the `default` being `true`.

Though, `failIfNoArgumentSets` is a bit verbose. Perhaps we can come up with something more succinct.

[2018-06-25 14:55] sbrannen commented on #1477
Maybe the following is better:

[code]

[2018-06-25 19:14] gaganis commented on #1477
That is exactly was I was thinking now too :)

[2018-06-25 20:41] sormuras commented on #1479
Where is your `module-info.java` located? I guess, in the `main` source set, right?

[2018-06-26 14:03] sbrannen opened #1480 "Prune Release Notes for 5.3"
## Overview

The release notes in `master` currently include:

That should be "since 5.2 GA", and we should _prune_ the release notes like we have done previoulsy (see ef576cafe55e62e69a0cca8940e342c64f6d8ee5).

## Related Issues

- #1349

## Deliverables

- [ ] Prune Release Notes for 5.3.

[2018-06-26 15:09] sbrannen commented on #1480
_in progress_

[2018-06-26 15:25] #1480 closed

[2018-06-26 16:01] sbrannen commented on #1477
@johnchurchill, would the following proposal suit your needs?

[code]

[2018-06-26 16:07] sbrannen commented on #1477
FYI: I improved the error message in b1e533cf64bedb7ebbb8c80e9141fbb4cd515d0d.

[2018-06-26 16:30] johnchurchill commented on #1477
Yes, requireArguments = false would suit my needs perfectly. I hate to see more corner-case parameters being introduced though. The simple API is what makes JUnit so approachable.

[2018-06-26 19:00] sbrannen commented on #1334
I imagine that might be useful to some people as an interim solution.

Yes, of course we do!

[2018-06-26 19:06] sbrannen commented on #1477
Thanks for the feedback.

Well, therein lies the rub: _We can't have our cake and eat it, too._

As already pointed out, switching the behavior would no longer be user friendly regarding user configuration errors. So, IMHO, the only viable option is to make it an _opt-in_ feature while retaining backwards compatibility and upholding UX.

Of course, if anyone has any better ideas, I'm all ears.

[2018-06-26 19:32] sbrannen commented on #970
Assigned to @Andrei94 due to ongoing work in #1475.

[2018-06-26 19:34] sbrannen commented on #970
... except that... well... I apparently cannot actually assign it to @Andrei94.

Weird.

[2018-06-26 19:36] Andrei94 commented on #970
Perhaps because assignment only works for members? 🤔

[2018-06-26 19:40] sbrannen commented on #970
No... the menu suggests @akozlova and @geo-m as options for an assignee, and they are not members of this repository. Of course, @akozlova created this issue, but @geo-m is not even involved in this issue AFAICT.

And I can't manually add anyone.

That's why I find it odd.

[2018-06-26 19:44] sbrannen commented on #1193
@nishant-shah-spider, this repository is for **JUnit 5**.

If you are having issues with **TestNG** and Maven Surefire, please raise an issue against Maven Surefire.

[2018-06-27 19:43] sbrannen commented on #970
This has been addressed in c6ce0138668d1ef4d67df5073962b4f1d708809f.

[2018-06-27 19:43] #970 closed

[2018-06-28 14:31] adamvoss commented on #1367
When you update to Surefire 2.20.0, make sure to remove your `junit-platform-surefire-provider` plugin dependency declaration for the surefire plugin or you will keep getting this error.

[2018-06-28 17:12] sormuras opened #1481 "Nashorn is deprecated in Java 11"
## Overview

With _"Deprecate the Nashorn JavaScript Engine"_ http://openjdk.java.net/jeps/335 integrated in JDK 11 we need to find another default value for `DisabledIf::engine() default "Nashorn";`:

- https://github.com/junit-team/junit5/blob/master/junit-jupiter-api/src/main/java/org/junit/jupiter/api/condition/DisabledIf.java#L176

and also `EnabledIf::engine() default "Nashorn";`:

- https:/

[2018-06-28 18:43] dlanaghen opened #1482 "Kotlin @ParameterizedTest with @MethodSource results in failed test with No ParameterResolver registered"
I am beginning to write some unit tests in Kotlin and tried to create a @ParameterizedTest, but there appears to be an issue.  Oddly, the test actually runs and succeeds, but the IntelliJ UI also shows that the test class fails presumably in some setup phase.  The test class shows a failure, the test itself succeeds.

I see the following error message:

`org.junit.jupiter.api.extension.ParameterRe

[2018-06-28 19:07] #1482 closed

[2018-06-28 19:08] dlanaghen commented on #1482
Ooops.  I needed to remove the @Test annotation.

[2018-06-28 21:28] jbduncan commented on #1481
Kotlin may also work as a default, apparently: https://discuss.kotlinlang.org/t/embedding-kotlin-as-scripting-language-in-java-apps/2211/10

[2018-06-28 23:03] mkobit commented on #1481
May be worth thinking about https://github.com/graalvm/graaljs (or something like it)

[2018-06-29 15:13] Klaboe commented on #1332
Not sure if this falls in the same category as the described issue, but mocking around with Nested tests, i observed that a defined BeforeAllCallback is called twice when using `@Nested`

Simplified example:

I have defined an Extension that starts a Wiremock-server (with a fixed port), using an overidden beforAll from the BeforeAllCallback interface.

Extending my testclass with this Extension an

[2018-06-30 06:06] sormuras commented on #1367
Closing this issue -- please report new issues at https://maven.apache.org/surefire/issue-tracking.html

[2018-06-30 06:06] #1367 closed

[2018-06-30 06:11] sormuras commented on #1346
Closing this issue for now -- please report new issues at https://maven.apache.org/surefire/issue-tracking.html

@huffstler We're interested in your feedback regarding your issue when using Surefire 2.22.0.

[2018-06-30 06:11] #1346 closed

[2018-06-30 06:15] sormuras commented on #1424
Closing this issue -- please report new issues at https://maven.apache.org/surefire/issue-tracking.html

Jupiter 5.3 will support parallel test execution as an opt-in feature. See https://junit.org/junit5/docs/snapshot/user-guide/#writing-tests-parallel-execution for details.

[2018-06-30 06:15] #1424 closed

[2018-06-30 13:22] sbrannen commented on #1477
Indeed, a failed assumption in the factory method is an easy way to achieve this _without_ changes to existing APIs.

Nice idea, @marcphilipp! 👍

[2018-06-30 13:31] marcphilipp commented on #1477
Actually, it was @sormuras who had the idea during yesterday’s team call. 😉

[2018-06-30 13:33] sbrannen commented on #1477
Aha... well then... in case that.... @sormuras 👏

[2018-06-30 16:41] sbrannen commented on #672
This has been addressed in `master` in 5b4c642be9b1d09f9b9cebad7dd55fa40aae78bc and further refined in 87a3005b96c99f7a30fa89d6466058771683ac3b, 8f8e94752528127d90e18e6a06f3f31cb8de83f9, and aae5f5df3053dc45de1eb32fae864973dccc51d3.

[2018-07-01 09:21] marcphilipp commented on #1332
@Klaboe You're describing the expected behavior. If you want to start it only once, you can do sth. like this:

[code]

[2018-07-01 10:29] marcphilipp opened #1483 "@ParameterizedTest performance deteriorates with number of parameters"
## Overview

A user recently approached @sormuras with a `@ParameterizedTest` with 200 parameters that uses `@CsvFileSource` with 25,000 rows. Each invocation took about 700 ms. When using an `ArgumentsAggregator` each invocation took less than a millisecond.

While this scenario is certainly on the extreme end, I profiled it and found parameter annotation lookup to be the culprit: 99% of the time

[2018-07-01 13:12] lgoldstein opened #1484 "Allow Assertions and Assumptions classes to be extended"
The current class is `final` and has a `private` constructor. This means that in order to use its methods without having to qualify them as `Assertions.assertEquals/assertTrue/etc...` one has to use static imports. In many projects (including ours) this is not allowed due to various concerns (here is neither the place nor the time to discuss them). In _JUnit 4_, the `Assert` class was not final, s

[2018-07-01 13:23] lgoldstein commented on #878
My 2 cents: I like the flexibility that JUnit 5 provides in this context, but I think that the JUnit 4 parameterized tests paradigm still has a lot of value. The main use-case for it is this: have a test class that accepts the *same* parameter type/value for **all** tests. In other words, avoid copy/paste `@ParameterizedTest` annotation on each method since it is implied from the class-level capab

[2018-07-01 13:36] marcphilipp commented on #1484
I don't think it would be wise to allow subclassing `Assertions` because it would blur how it's supposed to be used.

@junit-team/junit-lambda Thoughts?

[2018-07-01 14:35] #1397 closed

[2018-07-01 15:54] sbrannen commented on #1397
Thanks, @gaganis and @marcphilipp! 👍

[2018-07-02 11:37] sbrannen commented on #1483
Good catch!

[2018-07-02 12:13] sbrannen commented on #1484
This limitation does not in any way prevent you from using JUnit Jupiter (a.k.a., _JUnit 5_).

You are free to use other assertion libraries such as AssertJ, Hamcrest, Truth, etc.

You can in fact continue to use `org.junit.Assert` if you so desire.

See [Third-party Assertion Libraries](https://junit.org/junit5/docs/current/user-guide/#writing-tests-assertions-third-party) in the User Guide for d

[2018-07-02 12:15] sbrannen commented on #1484
Based on principle, I agree.

Assertions are indeed supposed to used via static imports.

However, if a significant number of users request that `Assertions` be extensible we could reconsider.

[2018-07-02 12:39] sbrannen commented on #878
@lgoldstein, isn't your `@Parameterized` proposal identical to the aforementioned `@ParameterizedContainer` proposal?

[2018-07-02 13:16] swaechter commented on #1469
Using `<forkCount>0</forkCount>``works for me, but I receive the following warning:

[code]

@sormuras Do you need a reproducible & minimal example to reproduce the problem?

[2018-07-02 15:38] sormuras commented on #1484
How about wrapping the assertions you need into your custom extensible type?

[code]

Usage:
[code]

No `static` imports, only the assertions you need, customizable with custom assertions and only need to adopt the package of the `Assert` type you extend.

If you're low on time, keep your unit tests running "as-is" with the `Vintage` engine. Write new ones with `Jupiter` API.

[2018-07-02 15:52] lgoldstein commented on #1484
Not really a solution since I need to copy-paste all the delegated methods (and there are many of them) - not to mention that if there is a new or modified method on a new version I need to keep updating my class.

Again, not really a solution - the whole idea is to get rid of obsolete code. If all I do is use the `Vintage` engine why switch to JUnit 5 and not remain with 4 ?

Again, without going

[2018-07-02 15:55] lgoldstein commented on #878
Seems like it, a few more thing though

* the `@Parameter` annotation should be allowed on constructor **parameter(s)** as well
* If no `@Parameter` annotation present then behavior should be like JUnit 4 - i.e., vs. implicit positional parameters of the constructor

[2018-07-02 16:13] sormuras commented on #1484
Do you also extend `java.lang.System` in order to use static methods like `arraycopy` and friends?

If test code is obsolete, delete it.
If test code is hard to change but fulfills a purpose, keep it. `Vintage` to the rescue for **legacy** tests.
If **new** test code is developed, choose the right tool to achieve your (testing) goals. Be it 4 or 5 or any other framework.

Your design decision are

[2018-07-02 16:41] lgoldstein commented on #1484
The example is not equivalent for a variety of reasons...

 this issue is just convenient, nothing more. If this were the only issue, it would not have prevented us from adopting version 5. For now though 4 is the choice ) - not because of this issue but rather because of several others much more problematic...

[2018-07-02 17:08] jbduncan commented on #1484
It sounds to me that perhaps the best solution, at least in the interim, would be to upgrade to JUnit 5 but continue using JUnit 4's `Assert` class.

@lgoldstein WDYT?

[2018-07-02 17:35] lgoldstein commented on #1484
Like I said, why would we do that if we remain bound to the JUnit 4 API(s) ? What about the extra work it would take to retro-fit the code to JUnit 5 once it catches up and provides the features that are missing from it (and exist already in JUnit 4) ...

Maybe next project - after JUnit 5 matures some more...

[2018-07-02 18:04] marcphilipp commented on #1484
@lgoldstein have you considered using `Assertions.assertEquals()` etc. without static imports?

We're always interested in feedback on missing features. Are this and #878 the only things you're missing or is there something else?

[2018-07-02 18:08] marcphilipp commented on #878
@lgoldstein Thanks for your 2 cents! 😉

While I haven't made it explicit [above](https://github.com/junit-team/junit5/issues/878#issuecomment-354544841), I agree that `@ParameterizedContainer` should support constructor injection in the same manner we currently support method injection for `@ParameterizedTest`.

[2018-07-02 18:13] jbduncan commented on #1484
Hmm. Apologies if I've missed something,, but the way I personally see it, from what you've explained so far, it sounds to me that you sincerely want to upgrade to JUnit 5 but you're frustrated because you can't do so fully due to various issues.

I can't talk about your other issues, but if it were me, I'd happily take a sort of incremental approach where for new tests, I'd use JUnit 5's annotati

[2018-07-03 12:09] sbrannen commented on #1484
**Team Decision**:

Allow `Assertions` to be extended via a `protected` constructor.

[2018-07-03 12:11] sbrannen commented on #1484
_in progress_

[2018-07-03 12:52] #1484 closed

[2018-07-03 12:52] sbrannen commented on #1484
This has been addressed in `master` in dc893654e6071c4c71631db46c870cc7030e0ac5 and will be available in JUnit 5.3 RC1.

[2018-07-03 12:53] sbrannen commented on #1484
It will of course also be available in the next `SNAPSHOT` build.

[2018-07-03 13:02] sbrannen commented on #1467
Yeah, I pondered that as well.

Thanks for sharing the concrete example.

[2018-07-03 13:31] sbrannen commented on #878
+1

+1

[2018-07-03 14:40] mayowa-egbewunmi opened #1486 "Package test from Android Studio runs all the tests in a project"
## Overview

**Bug report.** When you run tests for android project package from Android Studio it will run all the tests in the project.

[2018-07-03 16:03] lgoldstein commented on #1484
Unfortunately, we do not use snapshots and cannot afford to wait until such time as 5.3 is released - but thanks for listening and discussing the issue.

[2018-07-03 16:46] xenoterracide commented on #878
Yeah, my thought is that the Constructor should have an optional argument
supplier. So that you could have multiple arguments to the Constructor and
it runs for each set of those and then multiple even more for the methods
so you might end up with two sets of arguments for the Constructor and two
sets of arguments for a test method. Resulting in each test method being
executed four times. And of c

[2018-07-03 17:51] #1483 closed

[2018-07-04 06:50] sormuras opened #1487 "Build broken on 11-ea+20"
## Overview

Travis CI Build `#6501.4` using `OpenJDK Runtime Environment 18.9 (build 11-ea+19)` worked fine: https://travis-ci.org/junit-team/junit5/jobs/399160225

Travis CI Build `#6506.4` using `OpenJDK Runtime Environment 18.9 (build 11-ea+20)` failed: https://travis-ci.org/junit-team/junit5/jobs/399549280

Same Build `#6506` works fine on `OpenJDK Runtime Environment (build 10.0.1+10)`. Linu

[2018-07-04 06:53] marcphilipp commented on #1487
Corresponding Gradle issue: https://github.com/gradle/gradle/issues/5850

[2018-07-04 09:51] sbrannen opened #1488 "Configure Eclipse test source sets in Gradle build"
## Overview

Since Eclipse Photon supports separation of test source sets in the classpath, we should configure that within the Gradle build.

## Workaround

The following workaround has been proposed by @howlger until Gradle and Buildship properly support the new feature in Eclipse.

[code]

## Related Issues

- [Gradle Issue](https://github.com/gradle/gradle/issues/4802#issuecomment-396165166)
-

[2018-07-04 18:02] marcphilipp commented on #1486
While Android Studio passes a `PackageSelector` with the empty string as the `packageName` (which will cause all tests from all packages to be discovered), IntelliJ IDEA passes the package name correctly.

### Android Studio ()

<img width="505" alt="screen shot 2018-07-04 at 19 58 08" src="https://user-images.githubusercontent.com/214207/42290291-a2db473e-7fc4-11e8-8354-71fac3768046.png">

### In

[2018-07-04 18:09] #1486 closed

[2018-07-04 19:32] jonpeterson commented on #1248
I'd like to see something like this so I could write an invoker and stop having to wrap all my tests that call Kotlin Coroutines `suspend` functions in `runBlocking { ... }`.

[2018-07-04 22:31] Xuhui-Wang commented on #1476
actually, the problem still exists when I used ArgumentsAggregator:

[code]

Still this problem exists:
[code]

[2018-07-04 23:06] Xuhui-Wang commented on #1476
@marcphilipp pls reopen this issue

[2018-07-05 06:44] marcphilipp commented on #1476
That seems to be a different limit.

@Xuhui-Wang Please open a new issue for the column limit.

[2018-07-05 07:17] akozlova commented on #1486
There are some customizations in AS. Moreover 3.1.2 is build over IJ 2017.3, so probably there was a bug in IJ as well (though I don't remember to see something similar). Sorry, but it's better to contact AS developers as I am not sure when they use which customization.

[2018-07-05 07:47] mayowa-egbewunmi commented on #1486
@marcphilipp thanks for the feedback, I will open a bug report with AS.

[2018-07-05 16:13] sbrannen commented on #1467
_in progress_

[2018-07-05 19:37] sormuras commented on #1487
Still not working with `11-ea+21`: https://travis-ci.org/junit-team/junit5/jobs/400546458

Error seems to be the same.

[2018-07-06 12:18] sbrannen opened #1489 "FilePosition.fromQuery() fails if any query parameter has a non-integer value"
## Overview

The following results in an empty `Optional` with a swallowed (but logged) `java.lang.NumberFormatException: For input string: "bar"`.

[code]

## Related Issues

- #1178

## Deliverables

- [ ] Ensure that `FilePosition.fromQuery()` properly parses query strings containing key-value pairs other than the supported `line=#` and `column=#` pairs.

[2018-07-06 12:19] sbrannen commented on #1489
_in progress_

[2018-07-06 12:34] #1489 closed

[2018-07-06 12:56] vandanasingh9999 commented on #1489
is any body working on it?
if no can i work on it?

[2018-07-06 12:58] sbrannen commented on #1489
I already fixed it.

[2018-07-06 12:58] sbrannen commented on #1489
See commit 336549129f9b22866dbfc3f82e2e216c0fed1bf1. 😉

[2018-07-06 13:00] sbrannen commented on #1489
By the way, whenever the status for an issue is "in progress", that means that somebody is already working on it, and if an issue is "closed", that means it has already been addressed.

[2018-07-06 14:18] sbrannen commented on #1467
FYI: the current work on this issue can be viewed in the following branch:

https://github.com/junit-team/junit5/commits/issues/1467-classpath-resource-as-custom-test-source

[2018-07-06 14:21] sbrannen commented on #1467
**Team Decision**: implement this feature, but `ClasspathResourceSource` should not implement `UriSource` .

[2018-07-06 16:06] sbrannen commented on #1467
This has been addressed in `master` in 5d4a5d3eb7c259e141619d8fa20fde028cf359a1.

[2018-07-06 16:06] #1467 closed

[2018-07-07 20:15] #1313 closed

[2018-07-08 06:26] juergenzimmermann opened #1490 "Kotlin extension function ArgumentsAccessor.get<T> is unusable, i.e.compiled to private"
The extension function ArgumentsAccessor.get<T>(...) was introduced in https://github.com/junit-team/junit5/issues/1382. However, I cannot `import org.junit.jupiter.params.aggregator.get` because the extension function is compiled to a _private static_ method:
[code]

[2018-07-08 10:33] marcphilipp commented on #1375
@cburgmer Is this issue still relevant to you?

[2018-07-08 11:50] sbrannen commented on #1477
Can you be more explicit about what error you see (i.e., reported for what)?

[2018-07-08 11:57] sbrannen commented on #1477
Never mind. I simplified the test case as follows in order to reproduce the error locally.

[code]

[2018-07-08 12:01] sbrannen commented on #1477
For the above `TestCase`, I can confirm that a failed assumption results in a failure as follows when executing against the current `master`.

Note the _suppressed_ `PreconditionViolationException: Configuration error: You must configure at least one set of arguments for this @ParameterizedTest`.

[code]

[2018-07-08 17:37] marcphilipp commented on #1477
Works for me:

[code]

I added a test to `master` that documents the current behavior: d5df07c5992440f2c93a68ebd642b036247c406b

@johnchurchill @sbrannen Where did you see the failing test? Was it in an IDE?

[2018-07-08 18:06] marcphilipp commented on #1490
@juergenzimmermann Thanks for reporting!

`javap` reports the same thing for the `assertThrows` extension function, though:

[code]

IDEA's decompiler shows this:

<img width="1206" alt="screen shot 2018-07-08 at 19 56 48" src="https://user-images.githubusercontent.com/214207/42422590-1ae64748-82e9-11e8-9843-e1e5ee5b08e2.png">

However, when I try to use it from a sample project, I cannot import i

[2018-07-08 18:47] wilder commented on #1490
This happens because ```inline``` functions with ```reified``` type can't be accessed from Java code.

The ```reified``` type is used so we can access the value of ```T``` at runtime without requiring the class type to be passed as argument to the function.

It would work in Java code if we removed the ```reified``` type and added a Class parameter to the function, but I don't think that would mak

[2018-07-08 19:44] wilder commented on #1490
Hm... If the function isn't accessible even from Kotlin code then I think the problem is not related to ```reified```.

The ```inline``` is necessary so the ```reified``` can be used. And the ```reified``` is required so we can get the value of the class we called the extension function at.

In the [Pivotal's Project Reactor extension function](https://github.com/reactor/reactor-core/blob/master/r

[2018-07-08 21:05] cburgmer commented on #1375
As in "will be implemented and released eventually"? If so, feel free to close now. We are running our own version right now, but in the long run it might be nice to replace with upstream.

[2018-07-09 06:12] juergenzimmermann commented on #1490
`import reactor.core.publisher.cast` works fine:

![grafik](https://user-images.githubusercontent.com/734334/42433408-8a6e179c-834f-11e8-97c6-6cdd64e867b6.png)

[2018-07-09 06:55] marcphilipp commented on #1490
Could you please put together and share a small sample project, e.g. based on the Kotlin sample in junit5-samples, that demonstrates the issue so we‘re all talking about the same thing here?

[2018-07-09 11:31] sbrannen commented on #1375
Well, if we close this issue now, that means the task will no longer be in any backlog (which means it will not be done). 😉

On the other hand, if nobody in the community needs it urgently, the issue may potentially remain open but assigned to a later _milestone_.

[2018-07-09 11:32] sbrannen commented on #1477
That was in Eclipse Oxygen (4.7.3a).

[2018-07-09 11:33] sbrannen commented on #1477
Thanks, @marcphilipp

[2018-07-09 16:02] juergenzimmermann commented on #1490
Here is a reduced testcase. Just invoke `.\gradlew`, since "test" is the default task.
[testcase1490.zip](https://github.com/junit-team/junit5/files/2176987/testcase1490.zip)

[2018-07-09 16:15] Korop commented on #1320
The same issue with the @DisplayName ignoring is valid for maven-failsafe-plugin

[2018-07-09 17:16] jarnbjo opened #1491 "Memory issues with concurrent ParameterizedTest"
**Bug report**

I am trying to make use of the new concurrency features in 5.3.0-M1 to speed up some long running parameterized tests. With JUnit 5.2 or with 5.3.0-M1 using `SAME_THREAD` execution mode, everything works as expected. With 5.3.0-M1 and `CONCURRENT` execution mode, the test runs only for a short while, after which the VM starts getting very busy with garbage collection and the execut

[2018-07-09 19:16] wilder commented on #1490
@marcphilipp I run some tests here and figured out that the problem is really what you've mentioned...

The function is being shadowed by [org.junit.jupiter.params.aggregator.get](https://github.com/junit-team/junit5/blob/master/junit-jupiter-params/src/main/java/org/junit/jupiter/params/aggregator/ArgumentsAccessor.java#L55).

I've changed the name of the extension function locally and could acce

[2018-07-09 19:57] juergenzimmermann commented on #1490
Maybe `getAt(index: Int)` or `from(index: Int)`

[2018-07-09 20:44] johnchurchill commented on #1477
A couple of things.

First, I am running Photon 4.8 when I got the error. But if I run the test in Gradle, the assumption (within the method source) causes the test to be **ignored**, no error. So, it seems like the issue is more a problem for the way Eclipse is running tests, not JUnit itself. But only because of the `TestAbortedException` which is thrown from within the assumption.

Second, I st

[2018-07-10 07:53] britter commented on #1247
Still waiting on the first junit-pioneer release... :(

[2018-07-10 07:54] sormuras commented on #1247
Only some more minutes...

[2018-07-10 09:33] johnsoneal opened #1492 "Safely generate display name for @ParameterizedTest if argument.toString() throws exception"
## Overview

Using JUnit 5.2.0

I am using parameterized tests, and for the most part everything works as expected. However the name with pattern fails if any object has a bad `toString()`, even if the object is not referenced by the pattern. For example:

[code]

In the example an exception is thrown as all arguments are formatted not just the specified pattern.

I understand that throwing an exc

[2018-07-10 10:01] sormuras commented on #780
#60 was closed. What about this issue @marcphilipp?

[2018-07-10 11:03] sbrannen commented on #780
Good question.

Technically speaking, the information is now available to report generators via `org.junit.platform.launcher.TestExecutionListener.reportingEntryPublished(TestIdentifier, ReportEntry)`, but that doesn't mean the information actually gets included any in reports (other than those generated by the `ConsoleLauncher`).

But... developers can obviously generate a custom report by implem

[2018-07-10 11:55] sbrannen commented on #1492
Thanks for raising the issue and including a test case that reproduces the behavior!

[2018-07-10 11:56] marcphilipp commented on #780
I think we should properly include it in the XML report, if capturing is enabled, before closing this issue.

[2018-07-10 11:57] sbrannen commented on #1492
### Analysis

This issue occurs because `toString()` is invoked on all "consumed arguments" in `ParameterizedTestNameFormatter.makeReadable(Object[])`.

In the provided example `Object bad` is _consumed_ by the method even though it is not included in the custom display name.

[2018-07-10 11:57] sbrannen commented on #1492
FYI: I added _Deliverables_ and slated this for 5.3 RC1.

[2018-07-10 11:58] marcphilipp commented on #1492
If/when we implement this, it should be a common utility that we can reuse for assertions etc. as well.

[2018-07-10 11:59] sbrannen commented on #1492
I also updated the title accordingly.

[2018-07-10 12:01] sbrannen commented on #1492
@marcphilipp, the code in question already uses `org.junit.platform.commons.util.StringUtils.nullSafeToString(Object)`.

So we could either add the exception handling support there or introduce a new method (e.g., `safeToString(Object)`) that delegates to `nullSafeToString()` but returns a default _toString()_ if an exception occurs.

[2018-07-10 12:03] sbrannen commented on #1492
FWIW, `org.junit.jupiter.api.AssertionUtils.toString(Object)` also currently delegates to `StringUtils.nullSafeToString(Object)`.

[2018-07-10 12:06] marcphilipp commented on #1492
I think changing `nullSafeToString()` is fine. Having both `safeToString()` and `nullSafeToString()` would be weird IMHO.

In any case, I think we shouldn't call `toString()` unnecessarily for `@ParameterizedTest` arguments.

[2018-07-10 12:14] sbrannen commented on #780
What do you mean by "properly"? 😉

We already include all report entries in the `system-out` element via `org.junit.platform.console.tasks.XmlReportWriter.writeReportEntriesToSystemOutElement(TestIdentifier, XMLStreamWriter)`.

[2018-07-10 12:15] sbrannen commented on #780
Tentatively slated for 5.3 RC1 in light of #60.

[2018-07-10 12:40] sbrannen commented on #1492
@johnsoneal, out of curiosity, how did you realize you could return a 2D array from a `@MethodSource` factory method?

I don't think I've ever seen anyone do that, and the JavaDoc explicitly states the following.

So, I'm guessing we should update the JavaDoc for `@MethodSource`. 😉

[2018-07-10 12:42] marcphilipp commented on #780
We could use a separate `system-out` element for the actual system output (the XSD seems to allow that, not sure which tools support it) and exclude the report entry from the other report entries. Moreover, there's a `system-err` element that we should use for stderr output.

[2018-07-10 12:44] marcphilipp commented on #1492
... and add a test case for it. 😉

[2018-07-10 12:47] sbrannen commented on #780
SGTM. Thanks for expounding.

[2018-07-10 12:57] sbrannen commented on #1492
`@MethodSource` factory methods can return anything supported by `org.junit.platform.commons.util.CollectionUtils.toStream(Object)`. So we need to update the JavaDoc for `CollectionUtils.toStream(Object)` and then sync that with the class-level JavaDoc for `@MethodSource`.

[2018-07-10 13:56] britter commented on #1247
There it is! Thank you! :pray:

[2018-07-10 13:59] artem-fedorov opened #1493 "DiscoverySelectors#selectPackage does not select packages from JAR"
Hi,

I use JUnit 5.2.0 and I want to select classes from package that locate in jar file.
[code]

If my package exists as file: URL=`file:/path_to_project/target/my/custom/package` it works fine, but if this package locate in jar: URL=`jar:file:/path_to_jar/tests.jar!/my/custom/package/` org.junit.platform.commons.util.ClasspathScanner does not find it.

Solution:

[ClasspathScanner](https://githu

[2018-07-10 13:59] artem-fedorov commented on #1493
@undera

[2018-07-10 14:36] johnsoneal commented on #1492
@sbrannen

Nice to see I have done something not seen by you guys before!

Their where two main reason for doing it this way. First the `ParameterizedTest` documentation references every thing as being indexed in a `ArgumentsProvider`:

And secondly the documentation for `ObjectArrayArguments`

To me this implied I could supply a 2D array and the _automatic type conversion_ would handle the creati

[2018-07-10 16:57] mkobit commented on #1356
Really looking forward to this in https://github.com/junit-team/junit5/pull/1392 - hopefully it gets into 5.3!

[2018-07-10 20:28] cburgmer commented on #1375
Let's say, we can work with the solution we have now. I'll get out of your hair, so you can decide best what the priorities are for the next weeks :)

[2018-07-10 20:47] marcphilipp commented on #1493
Thanks for the bug report! Since we have tests in place that verify the implementation works correctly, we need a few more details in order to reproduce the issue. Could you please provide a minimal sample project that reproduces the issue?

[2018-07-10 20:53] marcphilipp commented on #1491
Thanks for reporting this issue! Your suspicion is indeed correct. Every invocation is wrapped and submitted to the `ForkJoinPool` which does not limit the queue size or block in any way. I‘ll take a closer look in the next few days.

[2018-07-10 21:20] ghuangups opened #1494 "maven-surefire-plugin is skipping/not finding tests"
Hi,

Recently in our hadoop project, we added maven-surefire-plugin for running unit tests by categories.

in hadoop root pom.xml:

      <dependency>
        <groupId>junit</groupId>
        <artifactId>junit</artifactId>
        <version>4.11</version>
      </dependency>
.
.
<properties>
    <test.groups>org.apache.hadoop.classification.TestJUnitCategory$AllTests</test.groups>
    <junit.versio

[2018-07-10 21:21] ghuangups commented on #1494
<dependencyManagement>
    <dependencies>
      <dependency>
        <groupId>com.cenqua.clover</groupId>
        <artifactId>clover</artifactId>

        <version>3.0.2</version>
      </dependency>
      <dependency>
        <groupId>junit</groupId>
        <artifactId>junit</artifactId>
        <version>${junit.version}</version>
      </dependency>
    </dependencies>
  </dependencyManagement>

[2018-07-11 09:43] artem-fedorov commented on #1493
@marcphilipp look at this repo, please
https://github.com/artem-fedorov/junit5-tests/blob/master/src/main/java/TestRunner.java

[2018-07-11 11:45] sbrannen commented on #1493
Thanks for the repo, @artem-fedorov.

We'll look into it.

[2018-07-11 11:45] sbrannen commented on #1493
Tentatively slated for 5.3 RC1 for further investigation.

[2018-07-11 12:50] ViToni opened #1496 "Introduce displayName placeholder for @ParameterizedTest name"
## Bug Report

Using:

[code]

Using `TestInfo.getDisplayName()` for regular tests yields the method name.
Using `TestInfo.getDisplayName()`  on `@ParameterizedTest` yields the injected parameter which is not very distinctive / descriptive by itself.

Some kind of FQN for tests would be more useful especially for test NOT executed in an IDE where one has a hierarchical view which gives this inform

[2018-07-11 13:54] sbrannen commented on #1496
That is intentional. A _display name_ is short by default and intended to be "displayed" in a UI.

The underlying `TestIdentifier` supplied to `TestExecutionListener` implementations provides access to both the `TestSource` and the "legacy reporting name". Thus, tools that generate reports have the ability to access the FQCN or FQMN if they desire.

And you as a developer have the option to overri

[2018-07-11 14:08] sbrannen commented on #1496
Actually, now that I think about it in greater detail, I realize that although the default display name for parameterized tests indeed works by design, there is room for improvement here.

For example, a custom display name for a `@RepeatedTest` can optionally include the _display name_ of the repeated test method via the `{displayName}` placeholder.

Thus, if we were to introduce analogous suppor

[2018-07-11 14:09] sbrannen commented on #1496
@junit-team/junit-lambda, thoughts?

[2018-07-11 14:09] sbrannen commented on #1496
Tentatively slated for 5.3 RC1 for _team discussion_.

[2018-07-11 14:12] sbrannen commented on #1496
FYI: I have rename this issue to address the redefined scope.

[2018-07-11 14:15] sbrannen commented on #1496
Note, however, that the method parameter types would also be included in the display name.

Thus, if we implement the above proposal for a `{displayName}` placeholder, the "Expected Output" we actually be the following

[code]

[2018-07-11 14:34] sbrannen commented on #1492
I agree: quite amusing.

`ObjectArrayArguments`? Where did you come across that? I think that's be gone for half a year or more. That's just `Arguments` now. 😉

We ultimately use a `Stream<Arguments>` internally. So the automatic type conversion support doesn't come into play here. Rather, it's the simple fact that `Object[][]` is and `instanceof` `Object[]`, and our `CollectionUtils.toStream(Obje

[2018-07-11 14:36] sbrannen commented on #1492
True... it wasn't intentional. But... if it works, it works.

[2018-07-11 15:03] ViToni commented on #1496
Thanks for the swift response @sbrannen.

My personal approach is that it would be really helpful to have some useful defaults (being it an improved `TestInfo` or another class which can be injected easily) provided by JUnit itself.

The reasoning is that it's better to invest time and effort once into the API and provide something once which can be reused by many instead of putting many to do a t

[2018-07-11 15:14] sbrannen commented on #1496
If you want to include the full class/method information, why don't you just use `testInfo.getTestMethod().get().toString() + " - " + testInfo.getDisplayName()` for whatever it is you're logging?

[2018-07-11 15:16] sbrannen commented on #1496
Perhaps you could describe what it is you are actually trying to achieve so that we can best consult you.

For example, it may well be that you would be better off implementing an extension, but without knowing your use case, it's difficult to provide you guidance.

[2018-07-11 18:33] marcphilipp commented on #1491
I pushed 4831d24 to master that solved the issue for me locally.

@jarnbjo Before closing this issue, could you please test with the latest 5.3.0-SNAPSHOT from [Sonatype's snapshot repository](https://oss.sonatype.org/content/repositories/snapshots/) in your project?

[2018-07-11 18:37] xenoterracide commented on #878
I've had a thought on this, and possibly one I should encode in another ticket...

Parameterized tests are nicer for running tests in functions; syntactically, and log wise. However... one of the problems I've had with tests in the past is with long tests. Imagine I want to test security for 3 different Roles, that have overlapping permissions, and this is a selenium test, each "parameter" (the ro

[2018-07-11 19:18] sbrannen commented on #1492
I just realized this is the _Columbus_ issue: "In August #1492, Columbus sailed the ocean blue."

[2018-07-11 20:06] jarnbjo commented on #1491
@marcphilipp I appreciate the very quick fix! I hope that I have time tomorrow to take a look at it, but then I'm away for two weeks and won't be able to verify the fix until I'm back.

[2018-07-11 20:15] jbduncan commented on #1492
Wow, JUnit 5 has now received almost 1500 issues and PRs! I'd consider that a great milestone. :clinking_glasses:

[2018-07-11 20:33] ViToni commented on #1496
Sometimes I have classes with many test cases where I want to print results, or e.g. when I use a randomizer for fuzzy tests I want to print the seed so that I could reproduce the situation.
A one liner is often already enough information. What is missing is some easy way to get an identifier  of the test method called (especially a parametrized one).

Using the methods from `TestInfo` I came up w

[2018-07-12 08:50] jarnbjo commented on #1491
I have tried the snapshot version from the repository you linked to, your commit is included there, but it does not quite work as expected.

The memory issue is solved, but now, something seems to block the creation of new test cases, even if there are worker threads available to run the actual test. I have a configuration with 16 worker threads and when I start my real test case, I seem to observ

[2018-07-12 09:13] marcphilipp commented on #1491
Thanks for testing and providing an updated sample. I'll dig deeper in the next few days.

[2018-07-13 08:35] sormuras commented on #1487
Build on `11-ea+22` _in progress..._

https://travis-ci.org/junit-team/junit5/jobs/403458379

[2018-07-13 08:46] sormuras commented on #1487
✔️

`BUILD SUCCESSFUL in 3m 52s`

[2018-07-13 08:46] #1487 closed

[2018-07-13 16:16] sbrannen commented on #1492
**Update**:

✅

✅

✅

[2018-07-14 03:45] asarkar commented on #201
Unfortunately, the only ones at the receiving end of this "you first" tug of war are the users of both JUnit 5 and Powermock.

[2018-07-15 08:34] marcphilipp commented on #201
@asarkar We really want to help, but (to cite myself):

[2018-07-15 22:47] codecholeric commented on #1355
It took me quite a while, but I think I have a working sample now. I would be really happy about any feedback; if I've understood the concepts, etc. It seems to do what I want in the situations I've tested, but it's really hard for me to tell, if I've covered all corner cases of all build tools, etc.

The current state of the implementation can be checked out at https://github.com/TNG/ArchUnit/tre

[2018-07-16 10:21] marcphilipp commented on #1493
Possibly related: #1430.

[2018-07-16 10:49] marcphilipp commented on #1490
Team Decision: Let's go with `getAs<Type>(Int)`.

@wilder Do you have time to take care of changing it?

[2018-07-16 17:55] sbrannen commented on #1492
Addressed in 5bada91048eb1e9bcc6fba2d37cdee8f627e6f6a.

[2018-07-16 17:55] #1492 closed

[2018-07-16 23:46] wilder commented on #1490
@marcphilipp yes, I do!

[2018-07-17 00:47] wilder commented on #1490
Done.

[2018-07-17 10:12] yyoncho opened #1498 "Feature Request: pass command line arguments via file to console launcher"
There is a command line limit on OS-es like Windows(8081) so it would be good if it is possible to pass command line arguments of `junit-platform-console-standalone` via file since classpath might be very big.

[2018-07-17 11:15] sormuras commented on #1498
The implementation c-/should follow most of the features supported `java`s `@file` option: https://docs.oracle.com/javase/10/tools/java.htm#JSWOR-GUID-4856361B-8BFD-4964-AE84-121F5F6CF111

[2018-07-17 12:30] atkawa7 commented on #1469
@sormuras  @swaechter I have the same issue but it only happens when I am on windows and not on linux. @swaechter your solution works in my case

[2018-07-17 21:32] lutovich opened #1499 "Unable to run single test that inherits all test methods with surefire"
Hello JUnit team,

I noticed that running a single test which inherits all test methods does not work with Maven.
JUnit 5.3.0-M1, surefire 2.22.0.

Base test class:

[code]

child class:

[code]

Maven command `mvn test -Dtest=ConcreteTest`.

Surefire provider is now part of the surefire plugin but this issue might be JUnit related. I think this is what happens:

 1. surefire parses the command li

[2018-07-17 21:46] lutovich commented on #1499
It does look like a duplicate. Sorry I did not check existing issues.
Does my description of the problem look right and it should be fixed in JUnit code?

[2018-07-18 09:18] dasAnderl commented on #13
are you kidding me ? you cant set the execution order of tests? this was opened 3 years ago!
this is a very fundamental feature no ?. is there any prospect when this will come?

[2018-07-18 10:07] jbduncan commented on #13
@dasAnderl I think you'd be surprised just how far one can go without needing one's tests to run in a certain order!

In my experience, most tests are actually very independent of one another, even when they're in the same test class, so it's usually not that important that they run in a specific order. :wink:

But having said this, I do understand the frustration of seeing a feature request that'

[2018-07-19 07:35] dasAnderl commented on #13
We do big test automatization projects for german car companies. although im aware that in most cases workarounds can be found for the issue, this does not work for us. we need to be able to execute tests (teststeps) in a testclass in a defined order. this feature is an absolute must for any testing framework. for us this probably means we have to go back to junit4 :/

[2018-07-19 07:59] RupprechJo commented on #13
As I posted a year ago, I totally agree to @dasAnderl. We also cannot migrate our 10.000+ tests to junit 5 due to that open ticket.

[2018-07-19 11:28] stefano-m opened #1500 "Document how to use @RegisterExtension for static extensions from Kotlin"
## Overview

- JUnit 5 version: **`5.2.0`**
- Kotlin version: **`1.2.30`**

Hello, I am trying to use the [Programmatic Extension Registration via Static Fields](https://junit.org/junit5/docs/current/user-guide/#extensions-registration-programmatic-static-fields) to register an extension in tests written in the Kotlin programming language.  However, I cannot get the `beforeAll` method to be called

[2018-07-19 18:45] sormuras commented on #1481
Graal VM offers a compatibility mode with _ScriptEngine_ support: https://medium.com/graalvm/oracle-graalvm-announces-support-for-nashorn-migration-c04810d75c1f

[2018-07-20 08:38] RomanIovlev opened #1502 "Feature: MethodSource provider add source"
My request related to implemented feature #1088 for `@MethodSource`.

Can we also implement case 2?

Reason: sometimes full path is too long and most important part, the method name become not obvious.

Example:

[code]

vs

[code]

And `Class` is more stable than `String` during refactoring.

If you agree I can do pull request.

P.S. In any case this is just an additional way and if you want you

[2018-07-20 10:25] RomanIovlev opened #1503 "Feature: Introduce Steps"
Add Steps support for JUnit Jupiter.

The idea is to allow the user to mark some methods with a `@Step` annotation and have the ability to do something with these _steps_ -- for example, logging, monitoring, timing, etc.

In addition it will be good to have access on JUnit asserts in same extension.

So for test

[code]

I can see log:

[code]

See project example on [GitHub](https://github.com/Ro

[2018-07-20 10:30] RomanIovlev opened #1504 "Suggestion: Move @ DisplayName in @ Test"
so I can write
@ Test("Awesome tests")
instead of
@ Test
@ DisplayName("Awesome tests")

[2018-07-20 10:31] RomanIovlev opened #1505 "Suggestion: rename 'name' variable to 'value' in ParametrizedTest"
So you can write
@ ParametrizedTest("Calculate {0} ")
instead of
@ ParametrizedTest(name = "Calculate {0} ")

[2018-07-20 13:52] sbrannen commented on #1505
Thanks for the suggestion.

We naturally considered that option when the annotation was created but decided against.

Since changing it now would be a breaking change, I am closing this issue as "won't fix".

[2018-07-20 13:52] #1505 closed

[2018-07-20 13:55] sbrannen commented on #1504
Custom display name support is not limited to conventional `@Test` methods. Test classes, parameterized tests, repeated tests, dynamic test factory methods, etc. can all have custom display names.

Thus, it would not make sense to make the proposed change.

In addition, the team is not in favor of adding any attributes at all to the `@Test` annotation.

I am therefore closing this issue as "declin

[2018-07-20 13:55] #1504 closed

[2018-07-20 14:05] sbrannen commented on #1503
The proposal is not feasible from the perspective of a framework like JUnit Jupiter.

1. JUnit annotations are "test" annotations and should never be present in "application" code.
2. JUnit does not inspect or manipulate byte code, which would be required to analyze what "steps" were being executed.
3. Assertions are `static` utility methods that do not track state or interact with the JUnit Jupit

[2018-07-20 14:05] #1503 closed

[2018-07-20 14:06] sbrannen commented on #1503
For what it's worth, if you are interested in the general notion of "steps", you may be interested in participating in the discussion of "scenario tests" (#48).

[2018-07-20 14:21] sbrannen commented on #1502
Thanks for making the suggestion.

Please note, however, that the `value` attribute in `@MethodSource` is actually an array (i.e., `String[]` instead of simply `String`).

Thus, adding a `Class<?> source();` (or `Class<?>[] sources();`) attribute would result in an awkward API at best.

Since the team has already weighed the pros and cons of this and implemented the _team decision_ in conjunction

[2018-07-20 14:21] #1502 closed

[2018-07-20 14:46] sbrannen commented on #1500
Thanks for raising the issue.

We'll do our best to look into this in time for 5.3.

[2018-07-20 14:49] sbrannen commented on #13
Hi everybody,

Yes, we hear your cries and concerns, and we **will** implement support for ordering test methods within a given test class.

This is still tentatively slated for the 5.3 backlog; however, realistically this will be addressed in 5.4 later this year.

We apologize sincerely for the delay.

[2018-07-20 15:24] RomanIovlev commented on #1502
@sbrannen Ok and why it is and array? Where I can find how to use it as array?

[2018-07-20 15:39] sbrannen commented on #1502
`@MethodSource` is not a `@Repeatable` annotation, but you can supply multiple values via the array in order to use multiple factory methods.

[2018-07-20 15:41] sbrannen commented on #1504
`@DisplayName` will be used for the container. The `name` attribute of `@ParameterizedTest` is used for invocations of the parameterized test underneath that container.

[2018-07-20 15:43] sbrannen commented on #1503
Using something like AspectJ is beyond the scope of the JUnit framework.

Generally speaking we have a "zero external dependencies" rule with very few exceptions.

[2018-07-20 15:46] sbrannen commented on #1503
You're welcome!

And thanks for raising all of the issues today: it shows you're interested in the framework! 😉

[2018-07-20 16:40] sbrannen commented on #1499
Closing this issue as a duplicate of #1406.

[2018-07-20 16:40] #1499 closed

[2018-07-20 16:42] sbrannen commented on #1499
Appears so, but I have not verified it.

If the above is true, then yes. :wink

[2018-07-21 14:48] sbrannen commented on #1406
This has been fixed in 8856b48a950ca05a19491d8e59d92962bba0917c by @lutovich.

[2018-07-21 14:51] sbrannen commented on #1406
For an explanation of the cause of this bug, please see the analysis in #1499.

[2018-07-21 15:37] sbrannen commented on #1406
Reopening this issue to ensure that we don't forget to document the fix in the Release Notes for 5.3.

[2018-07-21 15:43] sbrannen opened #1506 "ClassSource implementation is broken regarding equals(), hashCode(), and precondition"
## Overview

`ClassSource` is broken on many levels.

- The precondition is not verified for a class name.
- `equals()` is based on `javaClass` which may be `null`.
- `hashCode()` is based on `javaClass` which may be `null`.

## Deliverables

- [x] Add precondition check for class name.
- [x] Fix `equals()` and `hashCode()` so that they are based on `className` instead of `javaClass`.

[2018-07-21 16:36] sbrannen commented on #1506
_in progress_

[2018-07-22 16:11] #1506 closed

[2018-07-24 22:44] ghuangups opened #1507 "Help with maven surefire plugin configurations"
Hi,

I need some help with maven surefire plugin. My original post is at here: https://github.com/junit-team/junit5/issues/1494 which was two week ago :(

However, it has been a long time and I'm not getting anywhere. Can some one please help? Is there anyone I can contact/talk to besides post an issue here? I can be reached at j.huang@cloudera.com.

Thanks in advance,
George

[2018-07-25 00:33] smoyer64 commented on #1507
@ghuangups - George ... I for one totally missed your earlier issue.  Unfortunately you're posting an issue on the JUnit5 issue tracker and you're using JUnit 4 in your project.  JUnit5 is a complete rewrite that targets Java SE 8 and above and so this team probably won't be as helpful in troubleshooting the issue.

For JUnit5 discussion without the impedance of using the issue tracker, a lot of u

[2018-07-25 10:00] dasAnderl commented on #13
Its great to hear that junit will implement this feature. however i migrated our new testing project to TestNg. Ordering is one reason (although possible in Junit4), but motivating reason was dependsOn in TestNg. This goes much further as just ordering, it allows for skipping tests on failed preceding tests or unmet assumptions in previous test. i could not find a way to do this in Junit without u

[2018-07-25 13:05] plorenz commented on #13
@dasAnderl Be warned that the TestNG ordering implementation has its own problems. It builds a graph of dependencies from method to method (not just within a class, but across ALL of your tests). So all tests of a given priority will depend all tests of a lower priority across your whole project. The implementation in 6.14.3 is so inefficient that we couldn't upgrade to it. We have ~10k tests and

[2018-07-25 16:01] phoenix384 opened #1508 "Introduce Before/AfterEachExceptionHandler"
To handle exceptions thrown by test methods there is the TestExecutionExceptionHandler interface an extension can implement.
But I did not find a possibility to handle exceptions thrown by any user defined BeforeEach or AfterEach method.
Would it be possible to introduce something like a BeforeEachExceptionHandler/AfterEachExceptionHandler as well?

[2018-07-25 17:38] smoyer64 commented on #1507
@ghuangups I see that you've already put issues into the JUnit4 team's issue tracker so I guess you found the answer to question 1 above.  Switching to JUnit5 is probably a better long-term strategy - JUnit5 doesn't have ``@Category`` but instead uses ``@Tag`` (see: https://junit.org/junit5/docs/current/user-guide/#writing-tests-tagging-and-filtering).

@boyarsky wrote a cool tool that can migrate

[2018-07-25 18:21] marcphilipp commented on #1494
This question is not related to JUnit 5 at all. I would try the latest Surefire version (2.22.0 at the time of writing). If that doesn't work, please open an issue with Maven Surefire.

[2018-07-25 18:21] #1494 closed

[2018-07-25 18:23] marcphilipp commented on #1507
@ghuangups Posting a minimal sample project that reproduces the problem to StackOverflow is probably the fastest way to get help.

[2018-07-25 18:23] #1507 closed

[2018-07-25 18:32] marcphilipp commented on #1508
Duplicate of #1454

[2018-07-25 18:32] #1508 closed

[2018-07-25 18:37] marcphilipp commented on #1320
Surefire does not yet support it. Please open an issue with the Apache Maven Surefire project at https://issues.apache.org/jira/browse/SUREFIRE.

[2018-07-25 18:59] marcphilipp commented on #1500
Using `@JvmField` instead of `@JvmStatic` works, otherwise Kotlin generates a private field which we filter out.

@stefano-m Would you be interested in documenting this in the User Guide?

[2018-07-25 19:00] marcphilipp commented on #1500
I changed the issue title to improve documentation.

[2018-07-25 19:36] marcphilipp commented on #1493
I checked out the sample project but it seems to work for me. When I run `TestRunner` it succeeds with the following output:

[code]

@artem-fedorov What am I missing? 🤔

[2018-07-25 19:41] marcphilipp commented on #1469
Closing because this issue won't be fixed in this repo since we've donated our implementation to the Maven Surefire project. Please open an issue in [Surefire's bug tracker](https://issues.apache.org/jira/browse/SUREFIRE) instead.

[2018-07-25 19:41] #1469 closed

[2018-07-25 19:42] marcphilipp commented on #1498
@yyoncho Have you tried using the `CLASSPATH` environment variable instead?

[2018-07-25 19:47] marcphilipp commented on #1355
You mean Gradle's `Test` task, right? I'm afraid currently there isn't. Maybe we could come up with a URI-like syntax to express selectors which tools like Gradle could support generically. 🤔

[2018-07-25 20:43] artem-fedorov commented on #1493
@marcphilipp
interesting, I tested on 3 machines and I have the following output:
* Ubuntu 16.04.2 LTS (Xenial Xerus), Oracle Java 1.8.0_131, Idea 181.5087.20
[code]
* Windows 10, Oracle Java 1.8.0_161, Idea 181.4668.68
[code]
* Ubuntu 16.04.2 LTS (Xenial Xerus), Oracle Java 1.8.0_181, Idea 182.3684.101
[code]
Is it possible depends my Java version?

[2018-07-25 23:05] codecholeric commented on #1355
Yeah, I mean Gradle's test task. I don't know how exactly that would look like, but maybe sth. like

[code]

And then you could write

[code]

or similar? I don't know how hard that would be (and if it's feasible at all).
Or something more generic that would work for other build tools as well (what you probably meant).
I guess some way of specifying a factory method to create a selector and string

[2018-07-26 06:19] marcphilipp commented on #1493
Looks like it. Could you try JDKs with 1.8.0_131 < version < 1.8.0_161 so we can find out when this was changed/fixed?

[2018-07-26 06:49] yyoncho commented on #1498
@marcphilipp if you try to set env variable you will hit the command line limit again ...

[2018-07-26 09:15] stefano-m commented on #1500
Awesome! I'm going to try that out ASAP.

@marcphilipp I can surely do that, but I'd need a pointer or to to get started.

Thanks!

[2018-07-26 13:17] marcphilipp commented on #1500
Basically, I think we should add a short paragraph and a sample here:
https://junit.org/junit5/docs/current/user-guide/#extensions-registration-programmatic-static-fields

The source code for that lives in the documentation subproject:
https://github.com/junit-team/junit5/blob/master/documentation/src/docs/asciidoc/user-guide/extensions.adoc#static-fields

See https://github.com/junit-team/junit5/

[2018-07-26 15:15] stefano-m commented on #1500
Cool! I can give it a shot.

Hopefully I'll submit a PR in the next few days.

Thanks.

---
P.S.

FWIW I can confirm that using `@JvmField` fixes the issue (see below example).

[code]

[2018-07-26 15:54] phoenix384 commented on #1454
I made PR 1509. It handles exceptions for BeforeEach and AfterEach methods. BeforeAll and AfterAll is still missing - it's just to get the idea.
@marcphilipp Is this what you had in mind?

[2018-07-26 16:51] artem-fedorov commented on #1493
I checked
1.8.0_141 - does not work
1.8.0_144 - fixed

[2018-07-27 11:01] sbrannen opened #1510 "DiscoverySelector implementations are missing custom equals() and hashCode()"
## Overview

Due to an oversight of the team, implementations of `DiscoverySelector` do not currently have custom implementations of `equals()` and `hashCode()`. This is in contrast to implementations of `TestSource`, `TestDescriptor`, etc.

## Deliverables

- [ ] Implement `equals()` and `hashCode()` in all `DiscoverySelector` implementations.

[2018-07-27 12:08] sbrannen commented on #864
Related discussion on Twitter about being able to register extension on parameters:

https://twitter.com/olivergierke/status/1022802925603758080

[2018-07-27 16:38] sbrannen commented on #1313
@marcphilipp, are you planning on documenting this _fix_ in the 5.3 Release Notes?

[2018-07-27 17:52] #483 closed

[2018-07-27 18:38] dlanaghen opened #1511 "Parallel execution and @TestInstance(PER_CLASS) result in concurrency issues for instance fields mutated in test and lifecycle methods"
`@TestInstance` annotation seems to cause threading problems with tests in Spring Boot.

[code]

I was able to replicate this problem by creating a small Spring Boot application using the Spring Initializer (https://start.spring.io/).

The application:

[code]

A dummy class for testing:

[code]

My test class:

[code]

Output when not using `@TestInstance`:

[code]

Output when using `@TestInstan

[2018-07-27 20:03] sbrannen commented on #1406
Documented in Release Notes in cb779c06522546ead6e684f10a0821716657dc2d

[2018-07-27 20:03] #1406 closed

[2018-07-27 20:17] sbrannen commented on #1511
Thanks for raising the issue.

We'll look into it.

[2018-07-28 13:55] marcphilipp commented on #1511
This behavior does not surprise me: You're using the same instance of `DemoApplicationTests` and call `beforeEach()`, `parallel()`, and `afterEach()` from different threads. When one of the threads prints in `afterEach()`, another thread is very likely to have already called `beforeEach()` or `parallel()` which modifies the test instance.

Since issues like this one are inevitable when using `@Tes

[2018-07-28 13:57] marcphilipp commented on #1511
@dlanaghen `@TestInstance(PER_CLASS)` is not "Needed for BeforeAll", only if you want your `@BeforeAll` methods to be not `static`.

[2018-07-28 14:18] dlanaghen commented on #1511
I realize that, but I had put that notation in a base test class because some of my other classes might need that and I saw no reason not to just include it in my base class.  
This is not going to be problem currently for us, but I thought I would report my finding.
- Dave

    On Saturday, July 28, 2018, 7:57:55 AM MDT, Marc Philipp <notifications@github.com> wrote:

@dlanaghen @TestInstance(PER

[2018-07-28 14:41] marcphilipp commented on #1491
I finally got around to looking into this issue again and increased the queue size limit in 95fbba8.

@jarnbjo Could you please give it another try?

[2018-07-28 14:46] marcphilipp commented on #1493
Thanks for the analysis!

Sounds like it's this issue:

Source: http://www.oracle.com/technetwork/java/javase/8u144-relnotes-3838694.html

[2018-07-28 15:02] sbrannen commented on #1511
This is actually not related to Spring Boot.

I have therefore renamed this issue accordingly.

[2018-07-28 15:03] sbrannen commented on #1511
The following simplified example demonstrates the same behavior without Spring Boot in the picture.

[code]

[2018-07-28 15:09] sbrannen commented on #1511
Without a change in JUnit itself, you have two options for avoiding the undesired behavior.

### Disable Parallel Execution

[code]

### Store test instance state in a `ThreadLocal`

[code]

The first option completely disables parallel execution, thereby avoiding the undesired behavior completely but obviously executing each test sequentially.

[code]

The second option allows the tests to contin

[2018-07-28 15:30] sbrannen commented on #1511
Yes, I'm _thinking_. 😉

And I'm leaning toward saying "yes".

The use of a `ThreadLocal` as I demonstrated above certainly works, but I imagine that most developers would either not want to hassle with a `TheadLocal` or might not even know what a `ThreadLocal` is.

So, switching the default parallel execution mode for `@TestInstance(PER_CLASS)` to `SAME_THREAD` would follow the "principle of least

[2018-07-28 17:53] marcphilipp commented on #1493
Since it works with every JDK I tried >= 1.8.0_144 (9, 10, 11-ea), I'm closing this issue. Please use a recent JDK.

[2018-07-28 17:53] #1493 closed

[2018-07-28 18:18] marcphilipp commented on #1313
Thanks for the reminder! Done in d39730591e.

[2018-07-28 18:41] dlanaghen commented on #1511
Thanks for the reply Sam.  This is not a show stopper for us and since our application is a Spring application, most of the BeforeAll kinds of things are already out there for us.
BTW, I did experiment with a ThreadLocal in my application last week and it actually did not work for me.  I still had similar behavior.  I have not tried it in the stripped down test I included with the report.
- Dave

[2018-07-28 19:04] marcphilipp commented on #1511
@dlanaghen Would you agree that changing the default execution mode to `SAME_THREAD` for test classes that use `@TestInstance(PER_CLASS)` is a sensible thing to do?

[2018-07-28 19:08] marcphilipp commented on #1454
@phoenix384 Yeah, that looks promising! Would you mind adding the same for `@BeforeAll` and `@AfterAll`?

[2018-07-28 19:13] marcphilipp commented on #1498
@sormuras Is this `@file` thing new?

@yyoncho Given `@file` options, can you already use that like in the following example?

[code]

[2018-07-28 19:49] yyoncho commented on #1498
@marcphilipp yes, if this is the equivalent to passing the classpath as -cp param.

[2018-07-28 20:22] dlanaghen commented on #1511
I would agree that the default should probably be SAME_THREAD.  
Running things in parallel though, is extremely useful and most will want to run their tests that way.  The JUnit5 documentation is pretty good, so I assume that these kinds of issues and potential work arounds could be included.
BTW, like I said, I experimented with ThreadLocal expecting it to solve my problem in my real test applic

[2018-07-29 09:00] marcphilipp commented on #1511
If we decide to go that route, I think we should default to `ExecutionMode.SAME_THREAD` for nested classes that don't use `Lifecycle.PER_METHOD` if one of their enclosing classes uses `Lifecycle.PER_CLASS`, too.

[code]

[2018-07-29 12:58] sbrannen commented on #1511
I'm actually not 100% convinced of that.

I know a lot of people like to run their tests in parallel, but not everybody. Lots of use cases don't actually work with parallel execution (e.g., transactions committing to a shared database), and some use cases simply don't need it (e.g., fast _unit_ tests).

I'm actually wondering if we shouldn't make parallel execution an opt-in feature on a per-class

[2018-07-29 12:59] sbrannen commented on #1511
Sure. If you find something, please do report back!

[2018-07-29 13:00] sbrannen commented on #1511
Mmmmm.... interesting. I suppose that would make sense as well.

[2018-07-29 15:08] #780 closed

[2018-07-29 15:36] marcphilipp commented on #1498
@yyoncho Yes, it should be. Could you please give that a try?

[2018-07-29 15:37] dlanaghen commented on #1511
Sam, I think you are right that many won't need parallel execution.  But I believe that if what people are doing is truly 'unit' testing, especially with mocking, parallel should always work.  
In our case, we are actually doing functional/integration testing which is where things like shared resources come into play and parallel execution requires much more thought and caution.  But in our case,

[2018-07-29 16:30] sbrannen commented on #1511
Yep.

[2018-07-29 16:33] sbrannen commented on #1511
I was indeed thinking about something like we have in place for the test instance lifecycle mode.

I think that's a good trade-off and improvement over the status quo.

[2018-07-29 16:37] sbrannen commented on #1511
Hmmm... I'm obviously not as familiar with the new "parallel execution" code as you are.

I was actually hoping it would be possible for the `JupiterTestEngine` to select the execution style (i.e., `SameThreadHierarchicalTestExecutorService` vs. `ForkJoinPoolHierarchicalTestExecutorService`) _dynamically_ based on annotations and/or configuration parameters, analogous to how it currently dynamical

[2018-07-29 17:33] nicolaiparlog commented on #1477
Accidentally stumbled into this very interesting issue and discussion... @johnchurchill Are you happy with dynamic tests? If they solve your problem, can this issue be closed? Is the JUnit team still considering implementing the option on `@ParameterizedTest`?

[2018-07-30 10:05] sbrannen commented on #242
Also related to #121.

[2018-07-30 11:59] sbrannen commented on #378
I am sad to say that the "serialized lambda" technique no longer works. See the following JDK issues for details.

- https://bugs.openjdk.java.net/browse/JDK-8138729
- https://bugs.openjdk.java.net/browse/JDK-8140279

It is therefore not possible to perform parameter resolution based on annotations.

Thanks to @nicolaiparlog for bringing this to my attention.

[2018-07-30 12:21] sbrannen commented on #1477
This issue was assigned to the General Backlog to see if there is (eventually) significant interest from the community before outright closing it.

[2018-07-30 12:51] sbrannen commented on #13
@dasAnderl, please note that support for "dependencies" between test methods will be addressed in #48 (support for "Scenario Tests").

[2018-07-30 12:53] sbrannen commented on #13
@plorenz, thanks for sharing your experience with TestNG. I was aware of the fact that TestNG builds up a dependency graph across the test suite, but I was not aware of such performance issues. So that's good to know about. In any case, in #48 we do not plan to build up a dependency graph across anything more than a single test class for JUnit Jupiter.

[2018-07-30 15:22] smoyer64 commented on #13
@sbrannen I'm assuming from previous discussions that when you say "a single test class" it will include super-classes and interfaces.  For my use cases, this is sufficient and suites take care of the rest.

[2018-07-30 16:48] JLLeitschuh commented on #780
@marcphilipp Can this be integrated into the official Gradle Plugin somehow? What is the overhead required to achieve this?

[2018-07-31 04:05] xenoterracide opened #1513 "Use `@BeforeEach` method return value as an implicit `ParameterResolver`"
**Feature request.**

Been reading https://junit.org/junit5/docs/current/user-guide/#writing-tests-dependency-injection and thinking I often write things like:

[code]

where I create a new instance of something simply to ensure the state is known prior to running the test, however it would be nice to be able to achieve this same thing by writing:

[code]

this seems more functional and certainly

[2018-07-31 09:59] sbrannen commented on #13
Yes, by "single test class", I mean all methods _visible_ in a given concrete test class.

[2018-07-31 10:02] sbrannen commented on #13
Methods are not inherited within a `@Nested` class structure, simply because it is in fact not a conventional "class hierarchy". So the rules for ordering would be identical, applying to testable methods visible within a single concrete `@Nested` class.

[2018-07-31 10:40] phoenix384 commented on #1454
@marcphilipp done

[2018-07-31 10:45] sbrannen commented on #1513
As a general rule, we do not allow lifecycle callback methods to have a return value, and to be honest, I don't foresee us diverging from that rule.

In any case, if you want to have a _simple_ way to create an object that will later be injected into test methods _by type_, you can do something like the following

[code]

[code]

What do you think about that?

[2018-07-31 11:07] sbrannen commented on #1454
Tentatively slated for 5.3 RC1 due to work being performed in #1509.

[2018-07-31 13:51] xenoterracide commented on #1513
I think that's comparatively complicated, and verbose, compared to what I propose. similar things that you might have to do in other frameworks that support injection, like CDI or Spring (though they often have similar things under the hood). Usually those same frameworks allow you to register a "bean" with a lifecycle, hence why I suggested `@BeforeEach` though you could use a different annotatio

[2018-07-31 14:05] sbrannen commented on #1513
Tentatively slated for 5.3 RC1, though primarily for the sake of _team discussion_ in the near future.

[2018-07-31 17:54] r0e commented on #1375
I would also like to make use of the XML Report generator

[2018-07-31 20:57] johnchurchill commented on #1477
Yes, I am happy with the dynamic tests, although Eclipse doesn't really display them properly (it undercounts the total, so I get something like `Runs: 392/23`, and the tests themselves are unrooted), but that is just cosmetic).

I don't think the `@ParameterizedTest` should be cluttered with another parameter. It doesn't make sense to have it when the parameter data will ordinarily be static.

Th

[2018-08-01 08:57] sbrannen commented on #1477
@johnchurchill, that just means you're using an old version of Eclipse. Eclipse has first-class support for JUnit 5 since Eclipse Oxygen 4.7.1a. The latest version of Eclipse (Eclipse Photon 4.8) naturally also supports JUnit 5.

Long story, short: just upgrade to the latest Eclipse release. 😉

[2018-08-01 09:00] sbrannen commented on #1477
Hmmm... I just noticed that you sated:

Are you certain you saw unrooted entries for dynamic tests in Eclipse Photon, b/c if so that would be a regression in Eclipse.

[2018-08-01 09:39] sbrannen commented on #1375
@r0e, can you tell us what your concrete use case is?

[2018-08-01 11:25] remkop commented on #1498
If there is interest, I can provide a pull request to replace the current jopt-simple command line parser with [picocli](https://github.com/remkop/picocli). That will give these benefits:

* picocli has built-in [support for @-files](https://picocli.info/#AtFiles) - this feature request
* usage help with [ANSI colors](https://picocli.info/#_ansi_colors_and_styles)
* [TAB autocompletion](https://pi

[2018-08-01 11:35] sbrannen commented on #1498
@remkop, thanks for the offer!

@marcphilipp, I think the request is for `@file` support for the Console Launcher itself (i.e., not the `java` executable):

[code]

So, if jOpt Simple doesn't support that, perhaps we should consider the proposal from @remkop.

@junit-team/junit-lambda, thoughts?

[2018-08-01 11:36] sbrannen commented on #1498
Tentatively slated for 5.3 RC1 though currently only for the sake of _team discussion_.

[2018-08-01 11:48] remkop commented on #1498
Out of interest, what is the timeline for 5.3 RC1?

[2018-08-01 11:59] nicolaiparlog opened #1514 "Mention containers and tests that were ignored because of their tags"
Tagging and filtering works great, but developers could be irritated when their test is not executed (because of a tag) and they don't know why (maybe being new to the code base).

Jupiter could print a message that tests were ignored because their tag was not activated. If these information are easy to gather without performance impact, it could even print some numbers, something like:

[code]

[2018-08-01 11:59] nicolaiparlog opened #1515 "Clarify how TestReporter's keys and values are to be used"
About `TestReporter`, the documentation says:

This does not clarify the intend behind key value pairs, though, and since leaving them empty is an error, it would help to explain how to use them. Otherwise users might be under the impression that the reporter is only useful to output test data (like in `reportSeveralValues` in [the user guide](https://junit.org/junit5/docs/current/user-guide/#writ

[2018-08-01 12:00] yyoncho commented on #1498
@marcphilipp @remkop I tried it with java 8 and it failed to find main class. Just for the record, you cannot use -jar + classpath. Here it is what I tried to use.
[code]

[2018-08-01 12:01] nipafx opened #1516 "Pass ArgumentConverter to ArgumentAccessor::get"
TL;DR: On `ArgumentAccessor`, implement `<T> T get(int, Class<T>, ArgumentConverter)` or `<T> T get(int, ArgumentConverter<T>)`

## Current situation

Say there's a parameterized test that uses `ArgumentAccessor` and wants to convert a single argument to a custom type. This doesn't work out of the box if that type has no suitable factory:

[code]

## Proposal

Would be nice to convert that `String

[2018-08-01 12:06] nipafx opened #1517 "Identify expected value in parameterized test arguments"
## Overview

Add `expected` attribute to `@ParameterizedTest` and if present change default output to `[{index}] {input} ~> {expected}` (or similar).

## Status Quo

When writing parameterized tests it is common to pass in input data together with the expected output, e.g.:

[code]

[code]

This is nice, but can be improved by pointing out what is input and what is expected:

[code]

[code]

But..

[2018-08-01 15:07] stefan-hornea opened #1518 "[bug] Spek tests not executed with junit-jupiter-engine:5.3.0-M1"
## Overview
Trying to create Kotlin project with maven build.
The Spek tests are not executed with jupiter 5.3.0-M1, although they are executed correctly with jupiter 5.2.0.
I have attached complete Maven + Kotlin project
[test_prj.zip](https://github.com/junit-team/junit5/files/2249959/test_prj.zip)

to reproduce the behavior.
To switch between jupiter versions please change the  Maven _jupiter.v

[2018-08-01 15:40] marcphilipp commented on #1516
Thanks for the proposal! However, `ArgumentsAccessor` can't just create a `ParameterContext` for a non-existing parameter either, can it? 🤔

[2018-08-01 15:52] marcphilipp commented on #1515
I think key-value pairs should be fine for now.

@nicolaiparlog Do you have time to improve the documentation and send a PR?

[2018-08-01 15:53] marcphilipp commented on #1498
@yyoncho What was in `classpath.txt`?

@sbrannen I know, I was just trying to come up with a workaround. 😉

@remkop picocli does look very nice! We're shading/relocating jopt-simple so JUnit users can use a different version of it in their own applications. Would that also be possible with picocli?

[2018-08-01 15:59] remkop commented on #1498
@marcphilipp  Yes, I know that Groovy and Micronaut are shading picocli in their distributions so it is certainly possible.

[2018-08-01 17:15] marcphilipp commented on #1518
@stefan-hornea Thanks for reporting!

Spek seems to completely ignore the passed `DynamicTestExecutor` [1] and instead add the test descriptor and call the execution listener directly [2] which is not how `HierarchicalTestEngine` is supposed to be used. 🤔

[1] https://github.com/spekframework/spek/blob/v1.1.5/spek-junit-platform-engine/src/main/kotlin/org/jetbrains/spek/engine/Scope.kt#L44-L53

[2

[2018-08-01 17:19] bitcoder commented on #1182
Hi guys,
as of 5.2.0, the XML report generates something like this for a parameterized test.

`
	@DisplayName("Roman numeral")
	@ParameterizedTest(name = "run #{index} with [{arguments}]")
	@ValueSource(strings = { "Hello", "JUnit" })
	void test2(String word) {
		assert(word.length()>4);
	}
`

`
  <testcase name="test2{String}[1]" classname="com.xpand.java.SimpleTest" time="0.001"/>
  <testcase na

[2018-08-01 17:57] nicolaiparlog commented on #1515
I have the time, but not the answer, meaning I don't really know either what you guys had in mind regarding simple status messages. My intuition was to use an empty key and the message as value, but since that doesn't work, I don't really know what to do. :)

[2018-08-01 18:03] nicolaiparlog commented on #1516
That's a pretty good and fairly obvious point... 😆

We could use the `ArgumentsAccessor arguments` parameter itself to generate a `ParameterContext`, but I can see how that would be a little shady... On the other hand, I think it would still cover a lot of use cases as conversion will often be possible just from input data alone, i.e. without even having to look at the parameter context.

Even if

[2018-08-01 18:35] marcphilipp commented on #1515
Well, as you empirically discovered, one has to supply both key and value. 😉

Could you please provide an example for the use case? I think that might help in talking about it.

[2018-08-01 18:42] marcphilipp commented on #1182
I absolutely agree that both the display name and the parameters should be visible in the report. However, the XML format does not support it and the current output is carefully curated to be compatible with widely used tools. You're using Maven, right? In that case the report is written by Surefire which does not support display names and parameters in its internal API, either.

What we really ne

[2018-08-01 18:44] marcphilipp commented on #1498
@remkop Cool, in that case I don't see a reason why we shouldn't explore this option. So, feel free to submit a PR, if you feel up for it. 🙂

[2018-08-01 20:50] bitcoder commented on #1182
Yes @marcphilipp, I'm using maven and surefire plugin.
It seems that the output generated with JUnit4 generates a "standard" JUnit xml where the "name" attribute contains the parameters as seen below (using two different runners).

`
  <testcase name="testCompute[0: fib(0)=0]" classname="com.xpand.java.Fibonacci3Test" time="0.002"/>
 <testcase name="personIsAdultInline(17, false) [0]" classname="c

[2018-08-02 08:58] bitcoder commented on #1182
My suggestion would be to provide some interim solution.
We're a  Test Management vendor for Jira and our addon (Xray) (https://marketplace.atlassian.com/apps/1211769/xray-test-management-for-jira?hosting=server&tab=overview)  provides already handling of JUnit XML reports. However, our users have the need of:

- parameterized tests support
- allow to tag Tests with certain labels / Jira issue keu

[2018-08-02 09:54] marcphilipp commented on #1182
Understood. In this case Maven Surefire generates the XML report and the format does not support tags. As far as the name is concerned, I'd be happy to look into options to improve it for parameterized tests. As this issue is closed, please open a new issue so we can discuss potential options. Thanks!

[2018-08-02 12:05] bitcoder opened #1519 "add support for parameterized tests in JUnit XML reports"
## Overview

 **Feature request.**
We're a Test Management vendor for Jira and our addon (Xray) (https://marketplace.atlassian.com/apps/1211769/xray-test-management-for-jira?hosting=server&tab=overview) provides already handling of JUnit XML reports. However, our users have the need of have visibility of the results from parameterized tests so they can properly analyze them.
The problem that we're

[2018-08-02 12:05] bitcoder commented on #1182
Thanks @marcphilipp .
https://github.com/junit-team/junit5/issues/1519

[2018-08-02 12:24] marcphilipp commented on #1518
Fixed by https://github.com/spekframework/spek/pull/463.

[2018-08-02 12:51] clevertension commented on #1510
@sbrannen are you working on this issue?

[2018-08-02 15:20] sbrannen commented on #1510
@clevertension, I am not actively working on this very second, but I plan to address this in the coming days.

However, if you think you can put together a PR within the next day or two, feel free to do so. Just make sure you add a comment here stating that you are actively working on it. Otherwise, I'll do it.

Please keep in mind that we will not accept a PR without complete test coverage for ne

[2018-08-03 09:53] sbrannen commented on #1510
_in progress_

[2018-08-03 10:11] marcphilipp commented on #1513
*Team decision:* While it's an interesting idea, it would result in added complexity and is beyond the scope of JUnit Jupiter. All of the building blocks are in place so this feature could easily be implemented as an extension should you so desire.

[2018-08-03 10:11] #1513 closed

[2018-08-03 11:51] phoenix384 opened #1520 "Cannot execute nested suites"
When I create a suite like this:

[code]

I can execute this suite e.g. with Eclipse.

But if I nest this suite inside another, like this:

[code]

nothing is executed.

Using the console launcher I can't even execute `Suite1`:

[code]

(Versions: JUnit Jupiter 5.2.0, Platform 1.2.0)

With JUnit 4 this was possible.

[2018-08-03 12:16] #1510 closed

[2018-08-03 12:22] nicolaiparlog commented on #1520
Just to clarify, you are running this test [as part of JUnit 4](https://junit.org/junit5/docs/current/user-guide/#running-tests-junit-platform-runner), right? Do you have to do that or could you switch to running tests with JUnit 5 - with regards to Jupiter tests, that would make your life easier.

[2018-08-03 12:30] sbrannen commented on #1510
FYI: this issue has been resolved in `master`.

[2018-08-03 13:07] sbrannen commented on #1520
Execution of nested suites using the `JUnitPlatform` runner is not supported by design, in order to avoid infinite recursion:

https://github.com/junit-team/junit5/blob/87bed874647c9425bc825b3eff4629fda82a993a/junit-vintage-engine/src/main/java/org/junit/vintage/engine/discovery/DefensiveAllDefaultPossibilitiesBuilder.java#L96-L115

Given the above, I still would have expected a warning to be logg

[2018-08-03 13:16] sbrannen commented on #1520
FWIW, if you select non-suite test classes alongside the suite class as follows, you will see that the non-suite classes do get executed.

[code]

So it's not the case that "nothing is executed", but I can confirm that the _nested suited_ does in fact get silently ignored.

[2018-08-03 13:18] sbrannen commented on #1520
Tentatively slated for 5.3 RC1, but only for _team discussion_ and triaging.

[2018-08-03 14:13] nicolaiparlog opened #1521 "@TestFactory should be able to return a single DynamicNode"
I [experimented](https://github.com/CodeFX-org/demo-junit-5/blob/0dbfbfdade3995cbf35541449fe60ebde95d9aa3/src/test/java/org/codefx/demo/junit5/dynamic/ArithmeticTreeTest.java) with using dynamic tests to generate a hierarchical structure that mirrors the test data's structure (went well), and I came up with one minor possible improvement:

Allow test factory methods to return a single `DynamicNode

[2018-08-03 14:23] nicolaiparlog opened #1522 "Use field injection for TestReporter et al"
Do not require Jupiter users to create a constructor to use fields of type `TestReporter` (and other types Jupiter injects by default). Instead, inject instances into such fields after construction.

**PS**: This is a straw man, I don't actually want this feature, but I'd like to have a place to direct people to for explanation on why it doesn't exist. Why I don't think that's a good idea:

* fiel

[2018-08-03 14:25] nicolaiparlog commented on #1515
I will - the next time I want to use the reporter. ;)

[2018-08-03 16:29] marcphilipp commented on #1491
For this simple use case that would work. However, generally speaking, a `TestDescriptor` could spawn additional dynamic children which would have to be executed before finishing the enclosing test descriptor and so on.

Thanks for verifying the fix!

[2018-08-03 16:29] #1491 closed

[2018-08-03 23:26] remkop commented on #1498
Question about the expected behaviour:

In JOptSimple options are defined without specifying hyphens: `parser.acceptsAll(asList("o", "select-module"), ...`. It appears that JOptSimple accepts any number of leading dashes when recognizing options. The unit tests expect that any option is recognized with one dash as well as with two dashes:

[code]
This surprised me a bit, since the JOptSimple usage

[2018-08-04 02:29] remkop commented on #1498
I thought of a way to keep the current lenient parser behavior and still display the current usage help message. Picocli allows `hidden` options that are not shown in the usage help.

[code]

I’ll proceed with this for now. Let me know if you prefer one of the other possibilities I mentioned in my previous comment.

[2018-08-04 07:44] nicolaiparlog commented on #1515
Found one. As a demo for the extension model, I wrote [a benchmark extension](https://github.com/CodeFX-org/demo-junit-5/blob/master/src/main/java/org/codefx/demo/junit5/BenchmarkExtension.java) and it publishes entries like this:

[code]

Result in IntelliJ:

"Benchmark" is a lousy key, but what else could I use? I only really care about the message.

[2018-08-04 07:51] sormuras commented on #1515
What about adding the following convenience method to `ExtensionContext`?

[code]

It'd yield:

`timestamp = 2018-08-04T09:41:46.305890, message = Test 'benchmarked()' took 100 ms.`

[2018-08-04 08:44] sbrannen commented on #1498
Since we want the usage to be backward compatible, let's just go with the "hidden options" approach.

[2018-08-04 08:46] sbrannen commented on #1515
I think the default `message` key is a good idea.

[2018-08-04 09:00] sbrannen commented on #1521
Tentatively slated for 5.4 for _team discussion_

[2018-08-04 09:01] nicolaiparlog commented on #1515
Great, I'll create a PR later this weekend. :smiley:

[2018-08-04 09:01] sbrannen commented on #1521
I think that's a valid feature request.

So, let's see what the rest of the @junit-team/junit-lambda says.

[2018-08-04 09:04] sbrannen commented on #1515
Whoa, horsey.... _Immer langsam mit den jungen Pferden_. 😋

(That's German for "Hold your horses")

[2018-08-04 09:05] sbrannen commented on #1515
j/k... go ahead with the PR. The testing and documentation will take you 20 times longer than implementing (copying-n-pasting) the method. 😇

[2018-08-04 09:13] sbrannen commented on #1496
_in progress_

[2018-08-04 10:24] sbrannen commented on #1496
Note that it properly handles any number of arguments to a `@ParameterizedTest`.

[2018-08-04 14:50] sbrannen commented on #1496
Addressed in `master` in bf0369448c434db0704872823fd7b10312c6a409.

[2018-08-04 14:50] #1496 closed

[2018-08-05 07:25] nicolaiparlog commented on #1515
Wow, 20x? It I spent about an hour to prepare the console launcher test input files. That's a quagmire! Otherwise, I think I'm done with one little question - see #1523.

[2018-08-05 09:29] sormuras commented on #1515
Back fire of the generated/dynamic test feature. :P

[2018-08-05 15:37] phoenix384 commented on #1520
I have to annotate the suites with @RunWith(JUnitPlatform.class) to be able to execute them with Eclipse.
But I also need to be able to execute nested suites or I will never be able to switch to JUnit 5.

Also I want to repeat from my first comment that I wasn't able to execute Suite1 using the Console Launcher.

[2018-08-05 16:20] littleclay opened #1524 "Inconsistent output from TreePrinter in ConsoleLauncher with parallel test execution"
When running all the tests in a few simple test classes with the 1.3.0-M1 ConsoleLauncher standalone jar with the parallel test execution, I am seeing inconsistent output. Sometimes there will be a NullPointerException in the TreePrinter, sometimes it will execute but some of the executed tests will not show up in the tree output (though they are in the final summary), sometimes it will display th

[2018-08-05 17:38] sormuras commented on #1524
Thanks for the report. Can you please provider the complete source of `tests.jar`? That will help us triage the problem you encountered.

[2018-08-05 18:15] sormuras commented on #1524
Adding 3 copies of your `BarTest` class to our documentation subproject works like expected.

![image](https://user-images.githubusercontent.com/2319838/43688603-24c399c8-98ec-11e8-9a5e-6d701c397833.png)

Perhaps the `java -jar ...` launcher works differently? Which Java version do you use?

[2018-08-05 18:18] sormuras commented on #1524
Found another minor issue: report entries that are published by a container context, like the `started class ...` and `finished class ...` messages above, are lacking the vertical bars. Will create a new issue for that.

[2018-08-05 18:25] littleclay commented on #1524
@sormuras I pushed the sample project to a repository along with a README that has the repro steps and version info for my machine. From the output, I expect it is an issue with parallel test execution and the ConsoleLauncher's TreePrinter.

https://github.com/littleclay/junit5-issues-1524

[2018-08-05 18:29] littleclay commented on #1524
Example of running the same command twice in a row without any changes to the files or jars, etc:
<img width="962" alt="01" src="https://user-images.githubusercontent.com/14144383/43688709-b9ff41da-98a2-11e8-8b7e-109bfc5e4812.png">
<img width="962" alt="02" src="https://user-images.githubusercontent.com/14144383/43688710-bc679378-98a2-11e8-91f2-cd9052917b5d.png">

[2018-08-05 18:32] sormuras commented on #1524
Thanks. Will look into it soon.

Which Java version do you use ... on your Mac?

[2018-08-05 19:30] dpreussler commented on #672
@sbrannen  i just looked at the implementation. It seem's is not possible to use a different class loader to instantiate the tests.
i think a few of us where hoping that this extension will bring sth back Runners easily supported: using a different class loader.

Use cases would be for sth like https://github.com/robolectric/robolectric

I tried to test convert more simple Runner of:
https://githu

[2018-08-06 06:12] sourabh1512 opened #1525 "launcher"
## Overview

_Replace the following bullet points with your issue description,
after answering yourself: **"What kind of issue is this?"**_

- ( ) **Question.** This issue tracker is not the place for questions.
If you want to ask how to do something, or to understand why
something isn't working the way you expect it to, use Stack Overflow.
https://stackoverflow.com/questions/tagged/junit5

- ( )

[2018-08-06 09:03] sbrannen commented on #1515
Did I say 20x? I meant "at least 2000x". 😝

[2018-08-06 09:44] sbrannen commented on #672
Hi @dpreussler,

We do indeed need to ensure that the returned object is of the correct type; otherwise, method invocations will fail against an incompatible target object.

Comparing the names would not suffice, since a factory could return a proxy for the test class type.

With regard to using a different `ClassLoader` to instantiate the test class, that is a topic that has been discussed in #20

[2018-08-06 09:44] sbrannen commented on #672
Reopening to discuss the previous comments.

[2018-08-06 10:37] sbrannen commented on #672
For example, if the test class is instantiated by a different `ClassLoader`, attempts to invoke `@BeforeAll` methods (that were loaded reflectively via the original test `Class`) will result in an error like the following.

[code]

[2018-08-06 10:39] sbrannen commented on #672
Thus, if an extension wishes to use a custom `ClassLoader` for instantiating the test class, that `ClassLoader` would have to be provided to the `JupiterTestEngine` early in the test execution process (i.e., before Jupiter attempts to load lifecycle callback methods for the given test class).

[2018-08-06 11:02] sbrannen commented on #672
I suppose the Jupiter engine could alternatively _lazily_ look up callback methods instead of performing an eager lookup with caching. Note, however, that doing so would result in a slight decrease in performance for all test classes that contain more than one testable method.

[2018-08-06 11:07] marcphilipp commented on #1525
@sourabh1512 Sorry, just the word "launcher" is not enough. Feel free to open a new issue with a more extensive description. 😉

[2018-08-06 11:07] #1525 closed

[2018-08-06 11:10] sbrannen commented on #672
[code]

Thanks for pointing that out, @dpreussler! 👍

I just added a test for this (currently expected) behavior in 2d1c81c23e3438eb5740a4e8d3352e122fd929b7.

[2018-08-06 11:25] marcphilipp commented on #1498
@sbrannen Do you really think we need to keep supporting those? Since they were not documented, I think it would be fine to get rid of those for the sake of maintainability.

[2018-08-06 11:27] marcphilipp commented on #1521
Does a single top-level container really make sense? Why not just use the `@TestFactory` method to group things instead?

[2018-08-06 11:27] #1518 closed

[2018-08-06 11:43] nicolaiparlog commented on #1521
Two reasons:

* A recursive approach to generating dynamic tests for a recursive data structure will typically yield the root node as top-level element, not a list of its children. Special-casing that or unpacking the children is meaningless boilerplate.
* The top-level container is associated with a concrete node in the graph and might be named accordingly whereas the test method itself could hav

[2018-08-06 11:59] marcphilipp commented on #1521
Thanks for the example! No objections from my side.

[2018-08-06 12:43] sbrannen commented on #672
And... I just improved the error message for such use cases in a4de34402a23335e0d3cfd42ab89c02baf5035e0.

[2018-08-06 12:47] marcphilipp commented on #1522
The `ParameterResolver` extension point is designed to support parameter injection. Technically, it relies on a `java.lang.reflect.Parameter` being present which would not work for fields. Fields are different, e.g. there's no defined order. Extensions that wish to support field injection can do so by implementing the `TestInstancePostProcessor` interface. Moreover, I don't really see the use case

[2018-08-06 13:05] marcphilipp commented on #1520
@sbrannen What do you mean by nested? Your example `Suite3` includes `Suite1`. Did you mean to reference `Suite2` instead?

[2018-08-06 13:08] sbrannen commented on #1520
Yes, I was referring to the fact that `Suite3` _asks_ for `Suite1` to be executed as well.

So in a sense, `Suite` is _nested_ under `Suite3`.

That's the term used by the OP as well, but we can come up with better terminology if you think "nested" does not describe the scenario well. 😉

[2018-08-06 13:10] sbrannen commented on #1520
I think somebody else referred to this construct as "suites with arbitrary levels".

[2018-08-06 13:18] marcphilipp commented on #1520
Now I'm confused. 🤔

Given the following (slightly modified) classes, when executing `Suite3` via JUnit 4 we warn for `Suite2`, but not for `Suite1` which is fine IMHO.

[code]

[code]

[code]

[2018-08-06 13:26] nicolaiparlog commented on #1522
In this hypothetical, many tests use the reporter; enough that it was decided that a field and constructor would be a better choice than repeating the same parameter everywhere. Even more ~~laziness~~ desire for succinctness lead to the wish to get rid of the constructor.

[2018-08-06 13:30] sbrannen commented on #1520
Ummm.... so you're saying that the execution of `Suite3` _ignores_ everything from `Suite2` and `Suite1`?

And that you get a warning about `Suite2` being ignored but not about `Suite1` being ignored?

If so, then that would appear to be different from what I observed.

Maybe I need to test it again. 😉

[2018-08-06 13:33] sbrannen commented on #1520
I'm about to check in these examples in an "issue" branch so that we know we're talking about the same thing...

[2018-08-06 13:49] sbrannen commented on #1520
@marcphilipp, how are you executing the tests? Did you configure anything special regarding logging (log level, log manager, etc.)?

[2018-08-06 13:55] sbrannen commented on #1520
OK, here's the "issue" branch:

https://github.com/junit-team/junit5/compare/issues/1520-nested-suites

[2018-08-06 13:58] sbrannen commented on #1520
So... when I execute `TestSuite3` from that branch in Eclipse 4.7.3 (with `-Djava.util.logging.manager=org.apache.logging.log4j.jul.LogManager` set), no tests are executed, and the only log output I see is the following.

[code]

[2018-08-06 14:02] phoenix384 commented on #1520
I am using a modern version of Eclipse (Photon). But without `@RunWith(JUnitPlatform.class)` "Run as JUnit Test" is not selectable from the context menu. Running the class via "Run configurations" explicitly with the JUnit5 test runner leads to "No tests found".
So I thought the RunWith annotation is still necessary.

[2018-08-06 14:17] sbrannen commented on #1520
Hi @phoenix384,

If the _class_ you're attempting to run as a test class does not contain any methods such as `@Test`, `@TestFactory`, `@RepeatedTest`, `@ParameterizedTest`, or `@TestTemplate`, then that is the expected behavior. All of those annotations are meta-annotated with `@Testable`, and Eclipse looks for `@Testable` methods to determine if the test class can be executed as a "JUnit 5 Test"

[2018-08-06 14:33] sbrannen commented on #1498
Hmmm... it's a bit of a tough call.

We could always "just go for it (the removal) and see if anybody complains strongly".

But the support _did_ exist. So technically speaking it would be a breaking change.

And yet... you are of course correct that that support was undocumented.

So I'm OK with only supporting the _documented_ variants if the rest of the team wants to go that route. 😇

[2018-08-06 14:44] phoenix384 commented on #1520
I am not talking about executing test classes. That works.
This issue is only about executing suites.

vs.

I'm confused, that is a contradiction.
In fact it is not possible for me to execute suites right now since Eclipse needs `@RunWith(JUnitPlatform.class)` but does not execute nested suites and the Console Launcher (just tested it again) does not execute the suite at all (with or without `@Run

[2018-08-06 14:50] phoenix384 commented on #744
From the referenced issue #1520: It would be great, if nested suites would be supported:
[code]

[code]
So that executing Suite2 would execute Suite1 and its contents.

[2018-08-06 14:58] sbrannen commented on #1522
Whenever something like a `TestReporter` is needed in multiple test methods, I also condone the use of `private final` fields (i.e., immutable and set via _constructor injection_).

Of course, that's assuming one has not opted for the per-class test instance lifecycle. 😉

In general, I think it would be out of scope for JUnit Jupiter to provide direct support for _field injection_. Moreover, as @m

[2018-08-06 15:04] dpreussler commented on #672
yes so far I was only be able to use different classloader when building a custom engine but that's overkill for cases like this.

I guess `TestInstanceClassLoaderProvider` from https://github.com/junit-team/junit5/issues/201 might be a way.
My question would be if it so different the instantiate a test and to load that class behind?
`TestInstanceFactory` is nice if would not already have loaded t

[2018-08-06 18:07] #1515 closed

[2018-08-06 18:21] peter-lyons-kehl opened #1526 "Add JUnit5 to Maven Central repo"
Dear JUnit team,

Thank you for JUnit. And for new features of JUnit5. Could you add it to Maven Central repo, please.

Building JUnit5 and plugging it to my project seems too complicated. Currently my build fails: "Could not find artifact junit:junit:jar:5.2.0 in central (https://repo.maven.apache.org/maven2)". JUnit5 is listed under http://repo1.maven.org/maven2/org/junit/, but from 2016 - old.

[2018-08-06 19:08] smoyer64 commented on #1526
JUnit 5 has been in Maven Central since the alpha (prototype) release but no longer shares the org.junit groupId.  There are a lot of different artifacts but, as a Maven user I typically only use three or four of them.  You're going to need to learn its architecture a bit - here are the packages available in Maven Central - https://junit.org/junit5/docs/current/user-guide/#dependency-metadata

[2018-08-06 20:17] nicolaiparlog commented on #1526
TL;DR, use these artifacts:

[code]

And define:

[code]

Have, fun writing tests! :smiley:

If the user guide isn't for you, I wrote [a post about JUnit 5 setup](https://blog.codefx.org/libraries/junit-5-setup/).

[2018-08-07 02:25] littleclay commented on #1524
@sormuras I was looking at the code in the TreePrintingListener and am pretty sure I spotted the issue. I made the change and built the standalone console launcher locally and tried to reproduce the bug. With the changes in place I was no longer able to reproduce the inconsistent behavior. I created a fork with the changes and pushed a pull request. This is my first code contribution and I think I

[2018-08-07 05:23] #1526 closed, assigned to nobody

[2018-08-07 10:57] marcphilipp commented on #1517
For this to work, test classes would have to be compiled with `-parameters`, right?

[2018-08-07 11:43] sbrannen commented on #1515
Revised in 1cbda447f499cff7e457790ec67f34c7d5198b8f

[2018-08-07 12:24] sbrannen commented on #1517
Yes, that's correct, Marc.

Otherwise that `arabic` parameter would be known as `arg1`. 😉

[2018-08-07 16:35] sbrannen commented on #1517
Related to #1309.

[2018-08-07 17:57] marcphilipp commented on #1520
I added a [`JUnit4Executor`](https://github.com/junit-team/junit5/blob/issues/1520-nested-suites/platform-tests/src/test/java/org/example/JUnit4Executor.java) class to Sam's branch that prints the following when executing the main method, regardless of the used IDE:

[code]

So, the Vintage engine actually warns twice about the ignored classes (because we call `Launcher.discover()` when creating t

[2018-08-07 18:02] marcphilipp commented on #1524
@littleclay When I try to build the sample project I get the following output. Any idea what's wrong?

[code]

[2018-08-07 18:16] marcphilipp commented on #1524
Hmm, looks like the checksum is wrong.

Fix: https://github.com/littleclay/junit5-issues-1524/pull/2

[2018-08-08 10:37] sbrannen commented on #1248
This issue is related to #157.

[2018-08-08 12:37] remkop commented on #1498
I pushed PR https://github.com/junit-team/junit5/pull/1530 for review.

This still has the "hidden options" and follows the jopt-simple behaviour. If there is consensus to only support the documented options I'm happy to make the required changes.

Please take a look and provide feedback when you have time.

[2018-08-08 13:35] sbrannen commented on #1520
I apologize: I must have misconfigured the logging when I ran that.

When I run that now within Eclipse with `<Logger name="org.junit.vintage.engine" level="warn" />`, I actually see the following:

[code]

So that is the warning I was expecting to see.

[2018-08-08 13:35] sbrannen commented on #1520
@marcphilipp, I think that's fine.

[2018-08-08 13:38] sbrannen commented on #1520
@phoenix384,

You're totally right: that was a contradiction. 😱

I apologize.

I somehow thought you wrote "tests" instead "suites" there.

[2018-08-08 13:42] sbrannen commented on #1520
Is that correct?

Yes, that is correct.

1. Nested suites are not supported.
2. `@RunWith(JUnitPlatform.class)` is not supported when launching the JUnit Platform via the Console Launcher since the `VintageTestEngine` does not support `@RunWith(JUnitPlatform.class)`.

The latter is also true when executing tests on the JUnit Platform via Maven Surefire, Maven Failsafe, Gradle, Eclipse, or IntelliJ

[2018-08-08 13:48] marcphilipp commented on #1520
Alright, closing this issue as "works-as-designed". We really should introduce first-class support in the Platform soon, though.

[2018-08-08 13:48] #1520 closed

[2018-08-08 13:51] sbrannen commented on #672
Custom test instantiation and custom class loading may at times be related, but they may well be orthogonal concerns.

More importantly, adding support for a custom `ClassLoader` is **considerably** more work than supporting custom test instantiation. For example, JUnit Jupiter would have to ensure that the user-supplied `ClassLoader` is used everywhere that Jupiter uses reflection, looks up annot

[2018-08-08 14:59] sbrannen commented on #672
In light of the above discussions, I am re-closing this issue.

Any concerns regarding the need for a custom `ClassLoader` should be discussed in #201 or in a new issue.

[2018-08-08 14:59] #672 closed

[2018-08-08 15:02] sbrannen commented on #201
FYI: I have renamed this issue to focus on the ability to provide a custom `ClassLoader`.

If there are other concerns specific to Powermock, I would suggest that new issues be opened to address those specific concerns.

[2018-08-08 15:54] stefano-m commented on #1500
Hi, the issue went off my radar due to other commitments, but hopefully I'll have some free time to do it in the next couple of days.

[2018-08-08 16:06] sbrannen commented on #1500
@stefano-m, thanks for getting back to us.

If you can tackle this soon, we might be able to squeeze it into 5.3. Otherwise, it'll go into 5.4.

[2018-08-09 07:21] #1524 closed, assigned to marcphilipp, sormuras

[2018-08-09 18:54] dpreussler commented on #201
just to bring the discussion from https://github.com/junit-team/junit5/issues/672 to here:

needed would be the way of loading the test class (and everything from there) by a different class loader.
This was very easily possible with Runners before, example:
https://github.com/dpreussler/kotlin-testrunner/blob/master/kotlin-runner-junit4/src/main/kotlin/de/jodamob/kotlin/testrunner/KotlinTestRunne

[2018-08-10 11:29] sbrannen commented on #767
Closing this issue since the brunt of the work has been completed in #1269.

[2018-08-10 11:30] sbrannen commented on #767
Reopening to address the remaining TODOs from the PR:

- [ ] Public API has [Javadoc](https://github.com/junit-team/junit5/blob/master/CONTRIBUTING.md#javadoc) and [`@API` annotations](http://junit.org/junit5/docs/snapshot/api/org/junit/platform/commons/meta/API.html)
- [ ] Change is documented in the [User Guide](http://junit.org/junit5/docs/snapshot/user-guide/) and [Release Notes](http://junit.

[2018-08-10 14:35] sbrannen commented on #767
All TODOs are now completed in `master`.

[2018-08-10 14:35] #767 closed

[2018-08-10 16:36] sormuras opened #1531 "Missing vertical bars in console tree"
## Overview

Follow up from #1524: the console tree lacks vertical bars when a report entry is issued in the context of a container, i.e. not a test context.

Current output:
[code]

Expected output:
[code]

## Deliverables

- [ ] Add missing vertical bars to console tree

[2018-08-10 16:56] sbrannen commented on #1531
Good catch! 👍

[2018-08-10 17:55] sormuras commented on #1531
_in progress..._

[2018-08-10 18:43] marcphilipp commented on #1511
_in progress_

[2018-08-10 18:55] dotCipher opened #1532 "Improve TestKit API"
## Overview

**Refacting and polishing of the `testkit` API**:
As referenced in #1392 , the API for `testkit` has a lot of duplicate methods, non-symmetrical calls, etc.  It would be my intention to refactor the existing calls into a more concise API for accessing different parts of the underlying test's `Execution` or `ExecutionEvent`s.

To elaborate, the concepts provided from the API should fol

[2018-08-11 05:53] remkop commented on #1498
It would be great if this could be included in 5.3 RC1.  Please let me know if there’s anything I can do to facilitate that.

[2018-08-11 08:27] marcphilipp commented on #1498
Fully agreed! I'll review #1530 today.

[2018-08-11 13:03] #1531 closed

[2018-08-11 17:34] marcphilipp commented on #780
The official Gradle plugin does currently not even support parallel test execution... I think we should fix that first. 😉

[2018-08-11 17:38] marcphilipp commented on #1355
The thing is: Gradle currently does all the discovery and just hands over the partioned set of classes. There are already two Gradle issues on this topic: https://github.com/gradle/gradle/issues/4773 and https://github.com/gradle/gradle/issues/4252.

[2018-08-11 17:42] marcphilipp opened #1535 "Revise documentation on Maven support"
As originally reported in https://github.com/junit-team/junit5-samples/issues/80, the current documentation on how to run tests using Maven in the user guide and sample projects is inconsistent.

## Deliverables

- [ ] Mention `junit-platform-surefire-provider` is deprecated but remove it from all examples in the user guide
- [ ] Move the engine dependencies to the regular `dependencies` section i

[2018-08-11 18:02] #1500 closed

[2018-08-11 18:32] marcphilipp opened #1536 "Deprecate junit-platform-surefire-provider"
The provider is now part of Maven Surefire. Thus, the old provider

## Deliverables

- [ ] Deprecate all public API
- [ ] Emit deprecation warning when it's used.

[2018-08-11 19:57] fduminy commented on #880
I have create jmh benchmarks ([here]()).

Here are the results :
[code]

[2018-08-11 21:28] marcphilipp commented on #880
Hmm, looks like I meant to close this issue back in March.

@fduminy We now have JMH benchmark for assertions [in this repo](https://github.com/junit-team/junit5/tree/master/platform-tests/src/jmh). Please open a new issue if you'd like to contribute additional ones. Thanks!

[2018-08-11 21:28] #880 closed

[2018-08-12 06:27] #1498 closed

[2018-08-12 07:31] remkop opened #1537 "Respect `--disable-ansi-colors` option when showing usage help"
Following up on #1530:

Salient points:
* this is an internal API and can be modified at will
* it may not always be possible to respect the `--disable-ansi-colors` option, e.g., when the input is invalid

[2018-08-12 08:30] remkop opened #1538 "Autocompletion script for ConsoleLauncher"
Would there be interest in a bash/zsh completion script that would allow users to TAB-complete options and option parameters when invoking the `ConsoleLauncher`?

Currently the launcher is started with

[code]

By using the Gradle `application` plugin, it is straightforward to generate a distribution that includes a script for running the application.

This script would become the main way to invo

[2018-08-12 09:26] fduminy commented on #880
I have create the pull request https://github.com/junit-team/junit5/pull/1539

[2018-08-12 09:50] sbrannen commented on #1536
👍

[2018-08-12 09:55] sbrannen opened #1540 "Introduce "Deprecated APIs" section in User Guide"
## Overview

Analogous to the existing [Experimental APIs](https://junit.org/junit5/docs/snapshot/user-guide/#api-evolution-experimental-apis) section in the User Guide, we should introduce a "Deprecated APIs" section as well.

## Related Issues

- #1317
- #1536

## Deliverables

- [ ] Introduce "Deprecated APIs" section in User Guide

[2018-08-12 09:55] sbrannen commented on #1536
See also: #1540

[2018-08-12 09:57] sbrannen commented on #1500
Re-added the `up-for-grabs` label, since we like to be able to refer to such community contributions after they have been resolved. 😉

[2018-08-12 09:58] sbrannen commented on #1500
For example...

https://github.com/junit-team/junit5/issues?q=label%3Aup-for-grabs+is%3Aclosed

[2018-08-12 10:04] sbrannen opened #1541 "Merge milestone and RC release notes for 5.3"
## Deliverables

- [x] Merge milestone and RC release notes for 5.3.
- [x] Add special section for changes between RC1 and GA.
  - Alternatively, introduce a Wiki page for such purposes.

[2018-08-12 10:07] smoyer64 commented on #1535
I'm still running all my tests with the engine as a dependency of the plugin (as described in https://github.com/junit-team/junit5-samples/issues/25) and have never had a problem.  As noted in that issue (and the one I submitted to change the JUnit 5 Users Guide), the primary benefit is that the engine's classes cannot accidentally be used by the test writer.  I haven't seen any of the issues pred

[2018-08-12 11:17] remkop commented on #1538
@sbrannen, sure, like every feature, it needs to be a good trade-off.

For what it's worth, the cost side of this trade-off is very low since the completion script is not hand-crafted code but is generated automatically from the `AvailableOptions` command definition. It could even be automatically generated as part of the build.

[2018-08-12 11:29] sbrannen commented on #1535
@smoyer64, do you use the latest and greatest versions of the JUnit Platform within an IDE for those exact same projects, where the default version of the JUnit Platform supported by the IDE is lower than the version you are using in your Maven build?

[2018-08-12 11:31] sbrannen commented on #1538
OK. That's good to know.

[2018-08-12 14:23] sbrannen opened #1542 "Update JUnit Jupiter Sample Projects section of User Guide"
## Overview

The [JUnit Jupiter Sample Projects](https://junit.org/junit5/docs/snapshot/user-guide/#dependency-metadata-junit-jupiter-samples) section of the User Guide currently only references the `junit5-jupiter-starter-gradle` and `junit5-jupiter-starter-maven` projects; whereas, the sample repository now contains considerably more projects.

## Deliverables

- [x] Update _JUnit Jupiter Sample

[2018-08-12 15:33] oliviercailloux commented on #1535
I suggest still mentioning in the user guide (or in some other appropriate place) that the dependency to -engine can also be placed under the surefire-plugin, together with a dependency to -api for the code, and that solution is perhaps a tad bit more elegant but also longer, thus the shorter one is favored in the user guide. So that users know what the tradeoffs are.

[2018-08-12 17:17] smoyer64 commented on #1535
@sbrannen - I suspect that my IDE has an older version of JUnit Platform as
I'm now using VS Code which uses a headless Eclipse under the covers.  It's
entirely possible that I've just been lucky so far (I haven't used the
newest JUnit 5 platform features that aren't compatible with the one
running in VS Code).  I'm also wondering if I would end up with the issues
that @Tibor17 describes if I enab

[2018-08-12 17:20] ViToni opened #1543 "Merge @Test and @DisplayName annotations"
After reviewing some tests written with JUnit 5 I noticed that parameterized tests can be expressed in a more compact form than "regular" tests because the @ParameterizedTest annotation supports the name parameter whereas the regular tests need a @Test and @DisplayName annotation.

If the @Test annotation would accept a String value the same could be achieved by using just one annotation.

What do

[2018-08-12 18:45] smoyer64 commented on #1543
Duplicate of #614 and #1504

[2018-08-13 06:50] rbfriedman commented on #1542
I can take this

[2018-08-13 06:51] rbfriedman commented on #1455
I can take this issue

[2018-08-13 07:37] sormuras commented on #1437
For example, the output of `jdeps` can be checked for cyclic references.

#### Bad refs found in `org.junit.jupiter.engine`

* `...descriptor.TestInstanceLifecycleUtils` -> `...Constants`
* `...discovery.JavaElementsResolver` -> `...JupiterTestEngine`
* `...execution.ConditionEvaluator` -> `...Constants`
* `...extension.ExtensionRegistry` -> `...Constants`

[2018-08-13 09:00] sbrannen commented on #1535
Indeed.

Sure. We'll cash in on those $0.02.

[2018-08-13 09:01] sbrannen commented on #1535
@oliviercailloux, good points.

We'll try to take that into consideration as well.

[2018-08-13 10:46] sormuras commented on #1437
After #1544 is merged, we should remove `degraph` from the build scripts:

![image](https://user-images.githubusercontent.com/2319838/44027488-eeaff366-9ef6-11e8-8efd-6f544f52f320.png)

[2018-08-13 11:06] #1543 closed, assigned to nobody

[2018-08-13 11:08] sbrannen commented on #1543
related to #1440

[2018-08-13 11:08] sbrannen commented on #614
related to #1440

[2018-08-13 11:08] sbrannen commented on #1504
related to #1440

[2018-08-13 11:10] sbrannen commented on #1440
Related to:

- #614
- #1504
- #1543

[2018-08-13 11:17] sbrannen commented on #1542
@rbfriedman, OK. I've labeled it as "up for grabs" for the time being.

Feel free to submit a PR.

Cheers

[2018-08-13 11:18] smoyer64 commented on #1535
@Tibor17 - not at the moment ... if I run into an issue I'll fall back to putting the engine in the ``<dependencies>`` section as you suggested all those months ago.

[2018-08-13 11:28] sbrannen commented on #1437
Thanks for investigating all of this, @sormuras!

It's a real shame that Degraph failed to warn us about those package cycles. 😞

[2018-08-13 13:12] jbduncan commented on #1437
@sormuras Cool, thanks for clarifying things for me regarding how jdeps would be used!

I'm kinda curious, was ArchUnit considered as an alternative to manually parsing jdeps' output in https://github.com/junit-team/junit5/commit/cf728a4cac330837755f51ae0e4851a8891e9664?

[2018-08-13 13:17] sormuras commented on #1437
Does ArchUnit support scanning for cyclic package references? Does it support such a scan for all generated artifacts, i.e. subprojects?

[2018-08-13 13:25] sormuras commented on #1437
@schauder For example the second line from above:

`...discovery.JavaElementsResolver -> ...JupiterTestEngine`

has a cyclic class reference path:

* `org.junit.jupiter.engine.JupiterTestEngine` uses
* `org.junit.jupiter.engine.discovery.JavaElementsResolver` refers back to
* `org.junit.jupiter.engine.JupiterTestEngine`

[2018-08-13 13:31] schauder commented on #1437
Interesting. If anybody cares: This might be because the reference is only a constant, which probably gets inlined, so it isn't present in the bytecode.

[2018-08-13 13:31] sormuras commented on #1437
Fixed path above with link to affected lines.

[2018-08-13 13:50] sormuras commented on #1437
ArchUnit will soon sport it's own JUnit Platform `TestEngine`: https://github.com/TNG/ArchUnit/pull/94

When this is published, we should use it right-away! ;-)

[2018-08-13 14:10] sbrannen commented on #1437
That's also quite interesting and enlightening!

So, yeah... references to constants are really so problematic; however, we should still do our best to avoid any such cycles.

[2018-08-13 18:51] #1511 closed

[2018-08-13 19:33] marcphilipp commented on #1535
@smoyer64 I agree that we should point users to the Maven documentation. But I think there's value in having the basics documented in the User Guide just like we do for Gradle.

[2018-08-14 08:32] sormuras commented on #1540
_in progress..._

[2018-08-14 08:54] #1540 closed

[2018-08-14 10:12] sbrannen commented on #1540
Thanks for the super quick turnaround... less than 24 hours after the 5.3 RC1 release. 😉

[2018-08-14 10:15] sbrannen commented on #13
Hi @aalmiray,

Since we just released 5.3 RC1 last night, we won't be introducing any new features in 5.3 between now and 5.3 GA.

So, unfortunately, ordering support will have to come in 5.4.

Though... we could potentially try to get that out in an early milestone not too long after 5.3 GA.

Potentially. 😉

[2018-08-14 10:45] sormuras commented on #1093
We want to include `@ParameterizedContainer` (or similar) first: https://github.com/junit-team/junit5/issues/878#issuecomment-354544841

[2018-08-14 11:03] aalmiray commented on #13
@sbrannen Understood. Tonight is HG Bern, HG Basel is set for Aug 28th, unfortunately can't make it to HG Luzern on Sep 6th 🙁

[2018-08-14 14:56] juergenzimmermann opened #1546 "Kotlin extension function ArgumentsAccessor.getAs cannot be imported"
Looks like https://github.com/junit-team/junit5/issues/1490 still doesn't work:

[code]
results in:
[code]

A testcase is attached.
[testcase.zip](https://github.com/junit-team/junit5/files/2287420/testcase.zip)

[2018-08-14 17:33] marcphilipp commented on #1546
Thanks for reporting! I was sure I verified it worked after we made the change but now I'm running into the same issue again. I think it's time for a real integration test for Kotlin extension functions.

@juergenzimmermann Any idea why it doesn't work?

[2018-08-14 17:41] marcphilipp commented on #1546
Eureka! I think I found the root cause: https://discuss.kotlinlang.org/t/solved-extension-functions-not-available-when-exported-to-jar/4939

The JAR file does not include the `META-INF/junit-jupiter-params.kotlin_module`. Looks like it's lost during shadowing. Without it extension function don't work.

[2018-08-14 18:14] juergenzimmermann commented on #1546
Sounds good:
* e.g. `io.projectreactor:reactor-core3.2.0.M3` contains `META-INF/reactor-core.kotlin_module`
* junit-jupiter-params-5.3.0-RC1.jar doesn't have such a metadata file. See also https://blog.jetbrains.com/kotlin/2015/06/improving-java-interop-top-level-functions-and-properties.

[2018-08-14 18:26] marcphilipp opened #1547 "Ship picocli license with junit-platform-console"
The junit-platform-console JAR currently ships with `META-INF/LICENSE-jopt-simple.md`. Instead, it should include picocli's license.

### Deliverables

- [ ] Replace `LICENSE-jopt-simple.md` with `LICENSE-picocli.md`

[2018-08-14 18:27] marcphilipp commented on #1546
_in progress_

[2018-08-14 18:28] marcphilipp commented on #1546
Oops, wrong button. 🙈

[2018-08-14 19:09] #1546 closed

[2018-08-14 19:11] marcphilipp commented on #1490
Now that we've found the root cause in #1546, we should revisit whether `getAs<Type>(Int)` is actually better than `get<Type>(Int)` which is closer to the Java equivalent of `get(int, Class<Type>)`.

[2018-08-14 21:32] marcphilipp commented on #1547
_in progress_

[2018-08-15 07:32] #1547 closed

[2018-08-15 08:49] sbrannen commented on #1546
_Eureka!_

Nice detective work, @marcphilipp! 👏

[2018-08-15 08:50] sbrannen commented on #1490
Awesome!

So, can we now close this issue?

[2018-08-15 08:51] sbrannen commented on #1547
good catch

[2018-08-15 08:51] sbrannen commented on #1547
Though I'm not sure I'd classify this as a 🐛 . 😉

[2018-08-15 09:00] sbrannen commented on #1490
Ahhhh, now I see that commit was from the `issues/1490-switch-back-to-get` branch.

I thought you'd already pushed to `master`.

Methinks you should rename the branch to `issues/1490-get-back-to-basics`. 😝

[2018-08-15 09:01] sbrannen commented on #1490
I vote ✅ for `get()`.

[2018-08-15 14:32] codecholeric commented on #1437
I'll do my best to release this soon :wink: (between today and the weekend I'd guess, just wanna solve one last issue)
However, I have to warn you, ArchUnit also scans bytecode, so it also has the same problems as e.g. Degraph. If a constant gets inlined, the reference is gone from the bytecode and the cycle doesn't exist there anymore and can't be detected.
However this AFAIK only happens with pr

[2018-08-15 14:43] marcphilipp commented on #1490
**Team Decision:** Switch back to using `get<Type>(Int)`.

[2018-08-15 14:43] marcphilipp commented on #1490
_in progress_

[2018-08-15 14:55] #1490 closed

[2018-08-15 15:47] filiphr commented on #506
I am not sure that I completely understood the proposal. From what I can see this would mean that users will have to register the ordering explicitly. However, as a library writer I would like to have control on the way my extensions are ordered, maybe even control how they are ordered in relation to other libraries (`SpringExtension`).

### Proposal

Why not allow `Extension` to have a single def

[2018-08-15 15:55] smoyer64 commented on #1535
I'm just testing out 5.3.0-RC1 with the ``maven-surefire-plugin``'s integrated JUnit 5 support.  It's worth noting that the JUnit 5 provider is only activated if the ``junit-jupiter-engine`` is a dependency (test-scoped works fine).  My configuration (with the engine(s) defined as plugin dependencies) does __not__ work, so for this project I've switched to the recommended configuration.

Since my

[2018-08-15 16:08] sbrannen commented on #506
@filiphr, thanks for the feedback.

The `getOrder()` method you are proposing is actually what I did for _extensions_ in Spring. [AbstractTestExecutionListener](https://docs.spring.io/spring/docs/current/javadoc-api/org/springframework/test/context/support/AbstractTestExecutionListener.html) implements Spring's `Ordered` interface which defines a `getOrder()`.

That seems to work OK for the Spring

[2018-08-15 16:08] sormuras commented on #1437
But how does `jdeps` report those edges? It is scanning `.jar` files, i.e. bytecode.

Anyway, it would be totally fine to use this PR and some (other) checks implemented with ArchUnit.

[2018-08-15 16:11] sbrannen commented on #506
There's likely no need to "order" your extension relative to the `SpringExtension`.

If you need beans from the Spring `ApplicationContext`, you can simply delegate to the `SpringExtension` via the `static` [getApplicationContext(ExtensionContext)](https://docs.spring.io/spring/docs/current/javadoc-api/org/springframework/test/context/junit/jupiter/SpringExtension.html#getApplicationContext-org.ju

[2018-08-15 16:16] sbrannen commented on #506
@tomblench, that's a pretty nice workaround for the time being.

However, such an approach has a few drawbacks.

- it does not have proper exception handling and/or guarantees about which callbacks are invoked in case of failure.
- it invokes "after" callbacks in the order in which they are registered instead of in reverse order.

[2018-08-15 16:30] tomblench commented on #506
That's a good point on the "wrapping", I guess I didn't notice because for my limited use case it didn't matter.

[2018-08-15 16:46] sbrannen commented on #506
Yeah, we take great care to ensure proper wrapping.

Note the use of `registry.getReversedExtensions(AfterAllCallback.class)` below and in other such cases for extensions that happen "after" an extension point.

https://github.com/junit-team/junit5/blob/e2a95a0d19f80e0f90e06e1c760f765e2465b0c8/junit-jupiter-engine/src/main/java/org/junit/jupiter/engine/descriptor/ClassTestDescriptor.java#L397-L404