[2017-04-16 15:59] marcphilipp commented on #358
See #741 for additional motivation to use annotations to support static analysis and Kotlin interoperability.

[2017-04-16 16:07] sbrannen commented on #737
Is that supposed to be a `filter()` in the middle and a `flatMap()` at the front?

Something more like this:

[code]

[2017-04-16 16:14] sbrannen commented on #794
Do you by any chance use Spring in your projects?

If so, I wrote just such a utility in the `spring-test` module called `ReflectionTestUtils`.

[2017-04-16 16:20] marcphilipp commented on #737
probably... 😉

[2017-04-16 16:20] marcphilipp commented on #741
Thanks for the Kotlin example! I've added a corresponding comment to #358. Closing this issue as a _duplicate_.

[2017-04-16 16:21] #741 closed

[2017-04-16 16:27] marcphilipp commented on #754
The behavior is intended but needs better documentation: The methods/callbacks are only executed for test factory methods, not for the dynamic tests they produce.

[2017-04-16 16:29] marcphilipp commented on #789
IDEA-170817 is a different bug. This one is about executing a single JUnit _Vintage_ test method that has parameters.

[2017-04-16 16:51] Andrei94 commented on #794
I use Spring for some of them.

For others, where Spring was not a priority, it would help to have such functionality.

[2017-04-16 17:15] sbrannen commented on #794
Well, I can't promise that we will introduce a utility like that in JUnit itself, but I've added the "team discussion" label so that we can discuss it.

[2017-04-16 18:40] sbrannen commented on #754
See related discussions in #374 and #386 for further inspiration.

[2017-04-16 21:57] sbrannen commented on #793
Based on the current state of affairs (see [KitchenSinkExtension](https://github.com/junit-team/junit5/blob/master/platform-tests/src/test/java/org/junit/jupiter/extensions/KitchenSinkExtension.java)), the following methods should be renamed.

- `org.junit.jupiter.api.extension.ParameterResolver.supports(ParameterContext, ExtensionContext)`
- `org.junit.jupiter.api.extension.ParameterResolver.reso

[2017-04-16 22:23] sbrannen commented on #793
@junit-team/junit-lambda, the following is my first draft for how to rename ambiguous extension methods.

API                                     | Old Name             | New Name
--------------------------------------- | --------             | --------
`ParameterResolver`                     | `supports()`         | `supportsParameter()`
`ParameterResolver`                     | `resolve()`

[2017-04-16 22:31] sbrannen commented on #793
@junit-team/junit-lambda, one additional area where we are inconsistent with regard to naming is the topic of _parameters vs. arguments_.

We have `ParameterResolver.resolve()` and `ArgumentsProvider.provideArguments()`... which essentially do the exact same thing: they provide one or more arguments to be passed to a method.

So if at all possible, I would like to see us standardize on the naming

[2017-04-17 08:11] marcphilipp commented on #704
@smoyer64 Any news?

[2017-04-17 08:21] marcphilipp commented on #793
Thanks for bringing that up, @sbrannen! I absolutely agree with your concerns regarding `Extension` subinterfaces.

However, I don't think an extension should implement `ArgumentConverter` and `ArgumentsProvider`, i.e. I wouldn't throw them into same kitchen sink. 😉

IMHO `ParameterResolver.resolve()` and `ArgumentsProvider.provideArguments()` are not doing exactly the same thing. While the former

[2017-04-17 08:34] marcphilipp commented on #343
@smoyer64 I finally got around to having a look at #660. Overall it looks good but it's missing a listing of `StopwatchExtension` and `Stopwatch`, isn't it?

[2017-04-17 10:46] smoyer64 commented on #343
@marcphilipp - If you say they're missing then they're missing!  I actually had a rationale but I'll bow to the wishes of the JUnit 5 team.

1)  This is only one of seven sub-sections on replacing JUnit 4 rules with JUnit 5 constructs.  Not all of them require extensions as some (like error collector) are really documenting a change in programming technique.  It felt like the section was getting a

[2017-04-17 14:17] smoyer64 commented on #704
I'm not finished yet but it's going to work ... let's close this since it's way better to apply a specific set of extensions to the execution contexts than what I was doing before.

[2017-04-17 14:21] sbrannen commented on #343
Regarding timeouts, it appears you didn't update the description. 😉

[2017-04-17 14:26] sbrannen commented on #343
I don't think that would be a good idea: it would introduce a chicken-and-egg problem regarding dependencies, and that's something we should avoid.

However, _referring to the JUnit-Pioneer project_ from the User Guide should not be a problem. We already do that for the `SpringExtension`.

[2017-04-17 14:53] sbrannen commented on #704
OK. Closing this issue now.

[2017-04-17 14:53] #704 closed

[2017-04-17 14:54] sbrannen commented on #704
Added label _works-as-designed_, due to the workaround proposed by @marcphilipp.

[2017-04-17 15:05] sbrannen commented on #793
Mmmmm.... You're right: while they are in fact _extensions_, technically speaking they are not extensions of `Extension` and therefore should not be implemented by any class that is registered via `@ExtendWith`.

I'll remove them from the kitchen sink.

[2017-04-17 15:14] sbrannen commented on #793
FYI: the kitchen sink can now be found [here](https://github.com/junit-team/junit5/blob/master/junit-jupiter-engine/src/test/java/org/junit/jupiter/api/extension/KitchenSinkExtension.java).

[2017-04-17 15:30] sbrannen commented on #793
Regarding `ParameterResolver.resolve()` and `ArgumentsProvider.provideArguments()`, my primary concern is the wording we currently have in place (e.g., in the JavaDoc).

A `ParameterResolver` clearly _supports_ the resolution of an argument for a given `Parameter`. Thus `supportsParameter()` seems to make sense.

However, a `ParameterResolver` _resolves_ the run-time _argument_ for a given `Parame

[2017-04-17 18:13] smoyer64 commented on #696
I've realized that this is an impractical way to track external issues.  I'm certainly interested in knowing what issues are imposed in related (but technically downstream) projects but none of us really stands a chance of finding them all (and advanced search doesn't provide a way to find projects that refer to JUnit 5 issues).

[2017-04-17 18:13] #696 closed

[2017-04-17 18:36] sbrannen commented on #793
FYI: I have updated the _Deliverables_ and introduced a _Proposals_ section in order to track proposed renamings in a single location.

[2017-04-17 18:38] sbrannen commented on #793
FWIW, I'm not completely happy with the current proposals for `TestTemplateInvocationContextProvider`.

Anyone have any better suggestions for the methods (that aren't 80+ characters long)?

[2017-04-17 18:40] sbrannen commented on #793
How about `provideTestTemplateInvocationContext()` as a replacement for `provide()`?

Or... if we follow the _Factory_ design pattern, we could rename `TestTemplateInvocationContextProvider` to `TestTemplateInvocationContextFactory` and rename the method to `createTestTemplateInvocationContext()`.

Thoughts?

[2017-04-17 19:10] sbrannen commented on #766
Closing this issue since it has been superseded by #793.

[2017-04-17 19:10] #766 closed

[2017-04-17 20:50] sbrannen commented on #602
Slating for 5.0 M5 for the time being, even if only to add more context in select places within the code base in time for 5.0 GA.

[2017-04-17 23:03] mfulton26 commented on #695
I like the idea of a `dynamicContainer` especially if it can be arbitrarily nested.

I think though that it would be best to have it take a container supplier so that test developers can leverage classes to define groups of tests, etc. e.g.:

[code]

[2017-04-18 14:00] sbrannen commented on #763
@sormuras, since you addressed this is bedf19ae8d0f7230de813de3e75758ff6dadac6e, shouldn't we remove the "won't fix" label and assign this to 5.0 M5?

[2017-04-18 14:09] sormuras commented on #763
Good idea.

[2017-04-18 14:13] sbrannen commented on #695
As @sormuras pointed out, _arbitrary nesting_ is already supported in JUnit Jupiter via `@Nested`.

Furthermore, arbitrary nesting is supported by the JUnit Platform (disregarding JUnit Jupiter). See frameworks like Specsy for examples.

So the key question is whether or not JUnit Jupiter should support arbitrary nesting of purely dynamic tests.

[2017-04-18 14:14] sbrannen commented on #695
That ship has already sailed: See https://github.com/junit-team/junit5/issues/48#issuecomment-291397577 for an example. 😉

[2017-04-18 14:22] sbrannen commented on #48
I've been working on it _in my mind_ ... in case that counts. 😉

True: there is no _common_ vision, yet, but I think there is a general idea of how it could work.

For starters, #419 has to be resolved first. Second, even though #13 was _closed_ quite a while ago, I believe a generic mechanism for ordering tests within a container will have to be in place **before** implementing support for scenar

[2017-04-18 14:25] sbrannen commented on #695
@marcphilipp, would `DynamicExecutable` be a super type for `DynamicContainer` and `DynamicTest`?

[2017-04-18 14:43] sbrannen commented on #708
Reopening since this has not been documented in the release notes for M5.

[2017-04-18 14:44] sbrannen commented on #708
In other words, #751 was merged without adhering to the Definition of Done.

[2017-04-18 15:18] marcphilipp commented on #695
Yes, exactly. Maybe `DynamicNode` would be a better name.

[2017-04-18 15:48] marcphilipp commented on #793
Since it usually returns multiple `TestTemplateInvocationContext` instances, I think `provide` is a better fit than `create`. So, I would vote for `supportsTestTemplate()` and `provideTestTemplateInvocationContexts()`.

[2017-04-18 15:53] marcphilipp commented on #343
Actually, while reading it I wondered if we should rather show the Jupiter implementation instead of Vintage. But that might be confusing, too. 🤔

I'm with Sam: Referring is fine, depending isn't.

[2017-04-18 16:18] panchenko commented on #48
@sbrannen Sounds good, indeed solving these 2 parts would be enough here, I am going to start a PoC tomorrow.

[2017-04-18 18:15] sbrannen commented on #48
@panchenko, I already solved and implemented  the first one in the JUnit Lambda prototype.

So I'll most likely just reintroduce that support.

No need for a PoC, since it already exists. :wink:.

[2017-04-18 18:20] Andrei94 commented on #652
Is the provided image good or should I generate a .ico file from it? As far as I know the ico version has better browser compatibility?

[2017-04-18 18:36] sbrannen commented on #793
OK. Thanks for the feedback. I'll update the proposal accordingly.

[2017-04-18 18:38] sbrannen commented on #793
@junit-team/junit-lambda, are there any objections to the current _Proposal_ (see this issue's description)?

[2017-04-18 18:40] sbrannen commented on #793
@junit-team/junit-lambda,

How about the names for the conditions?

Should we stick with the shorter `evaluateContainerCondition()` and `evaluateTestCondition()` variants?

Or should we opt for longer (and more precise) `evaluateContainerExecutionCondition()` and `evaluateTestExecutionCondition()` variants?

[2017-04-18 20:27] mkobit commented on #708
Sorry @sbrannen , I'll follow up with a PR today or tomorrow with the change.

[2017-04-18 21:40] sbrannen commented on #419
_in progress_

[2017-04-18 22:10] sbrannen commented on #708
Thanks, @mkobit!

We are all in the process of adjusting to our _Definition of Done_. 😉

[2017-04-19 07:13] SqAutoTestTeam commented on #737
For some of junit4 (Vintage)  tests that does not work unfortunately.
It at least does not work for parametrized tests
Below there are the test that breaks that code

`
@RunWith(Parameterized.class)
public class ClassTestWithParamsJunit4 {

    protected final int p1;
    protected final double p2;
    protected final String p3;
    protected final BigInteger p4;

    public ClassTestWithParamsJun

[2017-04-19 07:28] marcphilipp commented on #737
For a JUnit Vintage parameterized test, you'll need to go to look at the "grandparent's" test source. A general approach would be to call `getParent()` repeatedly until you find a `TestDescriptor` with a present `ClassSource`.

[2017-04-19 08:27] SqAutoTestTeam commented on #737
Like this I suppose.

http://stackoverflow.com/questions/42781020/junit5-is-there-any-reliable-way-to-get-class-of-an-executed-test/42808147

[2017-04-19 10:30] marcphilipp commented on #793
@sbrannen From our team call: The rest of the team prefers the longer names. 😉

[2017-04-19 11:03] #149 closed

[2017-04-19 11:19] marcphilipp commented on #737
What's your use case? Why do you need to find out the executed class?

[2017-04-19 11:21] marcphilipp commented on #732
If we implement the ideas in https://github.com/junit-team/junit5/issues/508#issuecomment-293544977 we will have to keep pruning in Jupiter because Launcher will no longer do so.

[2017-04-19 11:32] SqAutoTestTeam commented on #737
I collect info of run tests.  If One test class is inherited from another and two classes are run
it is for sure to get two same full tests names
class A {
   @Test
   void a() {
   }
}
class B extends A {
   @Test
   void b() {
   }
}
when two classes are run
there will be (must be) three tests
test A.a()
test B.a()
test B.b()

if there is no info about class from where test is run
test A.a() tes

[2017-04-19 11:52] marcphilipp commented on #737
Can you just print all display names from the root to your test, e.g. "A > a(), B > a(), B > b()"?

[2017-04-19 12:51] sbrannen commented on #793
OK. I've updated the _Proposal_ accordingly.

Cheers

[2017-04-19 12:58] sbrannen commented on #149
Ummm.... wasn't this resolved in 5.0 M4?

[2017-04-19 12:59] marcphilipp commented on #793
Shouldn't `provideTestTemplateInvocationContext` have an `s` at the end?

[2017-04-19 13:01] marcphilipp commented on #149
From a user perspective: yes. Technically, M4 still contained the broken Keynote file that @mmerdes removed later. I changed it anyway 👍

[2017-04-19 13:02] sbrannen commented on #793
Yep. I'll add the "s".

[2017-04-19 13:06] marcphilipp commented on #652
I'm not really concerned with compatibility too much. I'll let you figure out the details. 🙂

The [landing page](http://junit.org/junit5/) already uses it:

[code]

Yes, right now it consists mostly of redirects. You can pretty much ignore it for now.

[2017-04-19 14:24] sormuras opened #797 "ConsoleLauncher implements ToolProvider"
## Overview

`ConsoleLauncher` should implement `java.util.spi.ToolProvider`: _an interface for command-line tools to provide a way to be invoked without necessarily starting a new VM._

For details, see https://docs.oracle.com/javase/9/docs/api/java/util/spi/ToolProvider.html

## Deliverables

- [x] `name()` = `"junit"`

[2017-04-19 15:18] SqAutoTestTeam commented on #737
Could you please clarify your idea?

[2017-04-19 15:44] Andrei94 commented on #652
[798](https://github.com/junit-team/junit5/pull/798)

[2017-04-19 15:59] marcphilipp commented on #737
The test plan is a tree-like structure. It sounds like you implement a custom listener to produce a flattened report with one entry for each test. By only reporting tests, which are usually the leaf nodes, you lose information, i.e. the test class in this case. My idea was to output something that looks almost like a breadcrumb in web design: Root node \ intermediate node \ test node.

[2017-04-19 16:35] marcphilipp commented on #652
The User Guide is generated using AsciiDoctor: https://github.com/junit-team/junit5/tree/master/documentation/src/docs/asciidoc

[2017-04-19 17:24] Andrei94 commented on #652
Do you have problems running the asciidoctor task? I keep getting the rouge gem not installed error, although i did run `gem install rouge`. I am on Windows, by the way.

[2017-04-19 19:02] jbduncan commented on #652
Interestingly, I get the same problem on my machine.

Both `gradle.bat :documentation:asciidoctor` in cmd.exe and `./gradlew :documentation:asciidoctor` in Cygwin give me the following trace:

[code]

My `./gradlew version` is as follows.

[code]

[2017-04-19 19:27] Andrei94 commented on #652
I found in the meantime a "solution": remove the pdf from `backends 'html5', 'pdf' // , 'epub3'` in documentation.gradle. It's not something which will work in the long run, but it might help for now 😄

[2017-04-20 16:47] frkline commented on #605
+1 This turned into a headache/hurdle (read: angry people) when adding JUnit5 to an existing JUnit4 ecosystem, as it broke existing workflows used by developers: @akozlova's *#*3

[2017-04-20 16:47] Andrei94 commented on #652
@marcphilipp shouldn't the link to the image be placed in `head.html`? I saw that you did something similar with the favicon from the landing page.

Also, is there a way to test the output of AsciiDoctor locally?

[2017-04-20 17:51] marcphilipp commented on #652
Hmm, works on my Mac and on Jenkins (Linux). Maybe a Windows issue? Please open a separate issue for it.

No, `head.html` is only used for Jekyll-generated HTML pages. Instead, you need to configure AsciiDoctor as described in https://github.com/asciidoctor/asciidoctor/issues/1574#issuecomment-156698241.

Yep, just run `./gradlew asciidoctor` and look at `documentation/build/asciidoc/index.html`.

[2017-04-20 18:01] marcphilipp commented on #605
@frkline Thanks for letting us know!

[2017-04-20 18:38] Andrei94 commented on #652
Could be a Windows issue. The problem with the gem also appears with the [spring repository](https://github.com/spring-projects/spring-framework). I had to make a local hack there as well. 😄

[2017-04-20 19:29] Andrei94 commented on #652
Are there any possibilities to leave the `index.html` page from javadocs? By leaving, I mean to have for example `http://..../docs/current/api/AfterEach.html`? As far as I understand, the official Java documentation also uses AsciiDoctor and there are cases over there.

[2017-04-20 19:40] Andrei94 opened #799 "AsciiDoctor task does not support Rouge on MS Windows"
## Overview

When running the `asciidoctor` task on Windows, Gradle gives the following error:

:documentation:asciidoctor FAILED

The ruby, jruby and ruby-devkit are installed.
This problem doesn't appear on Linux and Mac systems.

## Related Issues

- #652
- #770
- #777
- https://github.com/asciidoctor/asciidoctor/issues/1040

[2017-04-20 20:04] sbrannen commented on #799
There is unfortunately a known issue with using Rouge on Windows.

See https://github.com/asciidoctor/asciidoctor/issues/1040 for details.

In any case, thanks for raising the issue.

In the interim, you might try running the Gradle build in a Bash shell on Windows (e.g., Cygwin, or Windows Subsystem for Linux (WSL)).

[2017-04-20 20:05] sbrannen commented on #799
FYI: Added _Related Issues_ section.

[2017-04-20 20:06] sbrannen commented on #799
Currently slated for 5.0 M5, in case there is any action we can take.

[2017-04-20 20:19] jbduncan commented on #799
@sbrannen When I personally tried `asciidoctor` on Cygwin, it gave me the same error. So I think the error is so Windows-centric that a UNIX layer does little if anything to resolve the problem.

[2017-04-20 20:23] Andrei94 commented on #799
@sbrannen The problem with the gem also appears with the [spring repository](https://github.com/spring-projects/spring-framework). I had to make a local hack there as well. 😄
For JUnit, a temporary solution is to leave only

from

in `documentation.gradle`.

[2017-04-20 20:25] sbrannen commented on #652
For those interested in the Rouge issue on MS Windows, please see #799 and https://github.com/asciidoctor/asciidoctor/issues/1040.

[2017-04-20 20:26] Andrei94 commented on #799
Good touch 😉

[2017-04-20 20:27] sbrannen commented on #652
@Andrei94

Did you raise an issue in [Spring's JIRA issue tracker](https://jira.spring.io/secure/CreateIssue!default.jspa)?

If not, could you please do so?

Thanks,

Sam (the guy who switched Spring's build to use Rouge)

[2017-04-20 20:28] sbrannen commented on #799
Huh?

[2017-04-20 20:29] sbrannen commented on #799
Glad you figured out the workaround, since I was just about to suggest that as a fallback option.

[2017-04-20 20:30] Andrei94 commented on #799
I was also thinking of referencing the issue.

[2017-04-20 20:42] sbrannen commented on #799
Ah, OK. I didn't make the connection to the "sbrannen referenced this issue..." link, since my brain ignores those entries. 😉

[2017-04-20 20:48] Andrei94 commented on #652
If not, could you please do so?

Done [SPR-15471](https://jira.spring.io/browse/SPR-15471)

[2017-04-20 20:58] sbrannen commented on #652
Thanks. Much appreciated!

[2017-04-20 21:01] sbrannen commented on #652
Thanks. Much appreciated!

[2017-04-20 21:36] sbrannen commented on #793
@junit-team/junit-lambda, please review the current extension method names in the [KitchenSinkExtension](https://github.com/junit-team/junit5/blob/master/junit-jupiter-engine/src/test/java/org/junit/jupiter/api/extension/KitchenSinkExtension.java) and provide comments here if you foresee any issues with the new names.

[2017-04-21 09:14] sormuras commented on #666
With #711 merged, the entire tree is printed in a single "print" call. That prevents Gradle output to mix with the test plan tree.

Closing this issue for now.

[2017-04-21 09:14] #666 closed

[2017-04-21 09:30] jlink commented on #756
I also noticed that IDEA does not propagate test failure display to parent descriptors when the descriptor type is CONTAINER_AND_TEST. I guess this is a related issued.

[2017-04-21 14:33] sbrannen commented on #666
So, can we assign a release version (milestone) or pick an appropriate _status_ label?

[2017-04-21 17:40] vmassol opened #801 "JUnit vintage failing with "The forked VM terminated without properly saying goodbye""
While building https://github.com/xwiki/xwiki-platform/tree/master/xwiki-platform-core/xwiki-platform-oldcore with vintage 4.12.0-M4 I get the error:

"The forked VM terminated without properly saying goodbye. VM crash or System.exit called?"

This module builds fine with "standard" Maven surefire:

[code]

But it fails when using:

[code]

The console has:

[code]

To reproduce:
* Git clone https

[2017-04-22 16:11] sbrannen commented on #799
@mojavelinux figured out the cause and reported the underlying bug here: https://github.com/jneen/rouge/issues/661

[2017-04-22 16:15] sbrannen commented on #777
Changed the scope of this issue to both versions of the User Guide due to https://github.com/jneen/rouge/issues/661.

[2017-04-22 16:16] sbrannen commented on #799
Due to the bug in Rouge that prevents its usage on MS Windows, I am going to revert back to coderay for both the HTML and PDF versions of the User Guide for the time being.

Consequently, I am closing this issue.

[2017-04-22 16:16] #799 closed

[2017-04-22 16:17] sbrannen commented on #799
See #770 and #777 for further details.

[2017-04-22 16:20] sbrannen commented on #652
FYI: in case you're not following the related issues... due to a bug in Rouge that prevents its usage on MS Windows (https://github.com/jneen/rouge/issues/661), we will be switching to coderay for the PDF version of the User Guide for the time being.

[2017-04-22 16:41] sbrannen commented on #770
FYI: the PDF version of the User Guide is actually already published during SNAPSHOT builds and can be downloaded via the following URL.

http://junit.org/junit5/docs/snapshot/user-guide/index.pdf

[2017-04-22 20:41] sbrannen commented on #758
I'm also not convinced that changes to such properties at runtime is a good idea.

I would rather report _special things_ via reporting entries. If the tooling and report generators don't yet support reporting entries, that's a different topic.

We shouldn't introduce new features just to circumvent the (current) lack of tooling support.

If we want tools (e.g., IDEs) to support a feature we alrea

[2017-04-22 20:43] sbrannen commented on #758
@marcphilipp, do you have any concrete use cases for when it would make sense for _legacy reporting name, source, and tags_ to change dynamically?

[2017-04-22 21:51] mojavelinux commented on #770
You may want to consider the javadoc inline macro that Aslak Knutsen created. See https://github.com/asciidoctor/asciidoctor-extensions-lab/blob/master/lib/implicit-apidoc-inline-macro.rb.

The benefit of that macro is that it's implicit, so it will display just fine when the extension is absent (as plain text). It essentially decorates class names with links to JavaDoc, much like how JavaDoc itse

[2017-04-22 21:51] mojavelinux commented on #770
Yes, this is just a matter of create a custom font. I could help you with that. It's almost impossible to find a single font that has all the characters you need, and creating fonts is actually quite simple.

[2017-04-22 21:53] mojavelinux commented on #770
I would like to see the Gradle plugin support an output filename pattern that uses AsciiDoc attributes. I've also considered this for core, but since Gradle doesn't use that part of core, it would have to go in both places.

You might still be able to accomplish it using a doLast block.

[2017-04-22 21:57] mojavelinux commented on #777
I think you should plan to use Rouge 2.0.8 (the next release at the time of this comment). Until then, just stick with CodeRay (which gets the job done).

[2017-04-24 03:22] MichalMichalak opened #803 "Platform 1.0.0-M3 throws exception NoSuchMethodError"
Hello. I tried to run a tests `./gradlew clean test` but it failed with an exception. I need to stick to M3 because of JMockit support, but when I remove it from the class path result is the same. Am I doing anything wrong? How should I set it up properly? Thanks.

Exception:
[code]

I am using Gradle 4.3.1, with below script.
[code]

It happens for any test. Example below.
[code]

[2017-04-24 03:38] mkobit commented on #803
This comes from the `M3` Gradle plugin using a dynamic version for resolution (`1.*`), which causes it to select the "highest" version. You could verify this by running `./gradlew dependencies` as well.

If you aren't going to upgrade to `M4` yet, you should explicitly set the version in the extension, like this:

[code]

This was resolved in `M4` in https://github.com/junit-team/junit5/issues/576

[2017-04-24 05:09] MichalMichalak commented on #803
Solved. Thank you.

[2017-04-24 05:09] #803 closed

[2017-04-24 12:39] iirekm opened #804 ""Test events were not received" and other issues under IntelliJ"
It seems that `junit-platform-gradle-plugin` behaves completely differently than standard `test` task, and this makes problems:
- `gradle cleanTest test` doesn't cause to rerun tests as normally IntelliJ expects
- `Test events were not received` error in IntelliJ test results view
- The plugin seems to ignore `--tests ...` option
- Now I'm unable to reproduce it, but sometimes I got Gradle exit co

[2017-04-24 14:00] sbrannen commented on #804
Yes, this is a well-known issue. For example, see #475, #484, #315, etc.

We could not agree more!

However, the @junit-team/junit-lambda unfortunately has neither the skill set nor the time to address these issues properly. More importantly, the current architecture of Gradle's standard `test` task infrastructure causes multiple hurdles for proper integration of the JUnit Platform in Gradle.

Con

[2017-04-24 14:00] #804 closed

[2017-04-24 14:03] sbrannen commented on #804
@iirekm, thanks for raising the issue!

If you would like to see the issues you raised addressed we strongly encourage you to voice your opinion with the Gradle Team (e.g., via https://github.com/gradle/gradle/issues/1037).

[2017-04-24 22:05] sbrannen commented on #770
@mojavelinux,

Maybe I'm missing something (since I have zero experience with inline macros and how they are applied/configured), but...

It appears to me that such a macro would be hard-coded; whereas, if we switch from relative paths to absolute paths we would then be required to create the base URL dynamically.

For example, the base URL could be any of the following:

- http://junit.org/junit5

[2017-04-24 22:10] sbrannen commented on #770
@mojavelinux,

That would be awesome if you'd submit a PR for that!

Seriously.... such a PR would be very well received. 😉

[2017-04-24 22:14] sbrannen commented on #770
Yep, I'd like to see support for that as well.

Having a web page named `index.html` makes sense (though, only if it's deployed on a web server), but having a PDF named `index.pdf` is next to useless.

Sure. Though we'll likely just _rename_ it in our `prepareDocsForUploadToGhPages` task.

[2017-04-24 23:37] mojavelinux commented on #770
Actually, not at all. I'm proposing taking the link completely out of the AsciiDoc. Then, the macro injects the link into the final result. In other words, what you'd type in the AsciiDoc is:

[code]

or

[code]

or even

[code]

then, the converter, with help from the inline macro, would write it as:

[code]

The whole point is to completely abstract the reference. No absolute base URL. No relati

[2017-04-24 23:38] mojavelinux commented on #770
And inline macro can rewrite any inline pattern in the source. While it's recommend to use the `<name>:<target>[<text>]` format, an inline macro can match anything with up to two placeholders.

[2017-04-24 23:41] mojavelinux commented on #770
But sure, you could also just replace:

[code]

With

[code]

But I'd encourage more laziness than that.

[2017-04-24 23:42] mojavelinux commented on #770
What you can to do is capture the semantics and nothing more. So something like:

[code]

[2017-04-24 23:43] mojavelinux commented on #770
Any time you are typing long APIs to very specific paths, you are probably typing output. You want to be thinking input.

[2017-04-25 09:52] sormuras opened #805 "TestEngines not found by ServiceLoader on Java 9"
## Overview

This issue was discovered in conjunction with tests on Java 9; however, the issue is likely applicable on Java 8 as well.

The following pseudo-code, when run inside a Java 9 JShell session...

[code]

yields the following :

[code]

The problem leads to `org.junit.platform.commons.util.PreconditionViolationException: Cannot create Launcher without at least one TestEngine; consider ad

[2017-04-25 10:15] smoyer64 commented on #666
A quick note to say that **the test tree printer's output looks fantastic!**  I'm going to rerun the examples I'm working on for the JUnit 4 compatibility section of the users manual and we (Penn State University) will update our slide deck next time we're going to present on JUnit 5.

Thanks!

[2017-04-25 14:01] sbrannen commented on #805
I think the _bug_ you've reported is actually a symptom of a larger problem, namely class loading in general.

We (or at least I) always assumed that our use of `ClassLoaderUtils.getDefaultClassLoader()` would only get us so far (i.e., for the most common class loading scenarios).

My proposal is to open a new issue dedicated to the topic of class loading and refer to this issue as a concrete fail

[2017-04-25 16:58] sbrannen opened #806 "Revise ClassLoader lookups across the platform"
## Overview

Although current use of `ClassLoaderUtils.getDefaultClassLoader()` works for the most common class loading scenarios, it is not always appropriate to default to using the thread context `ClassLoader` (TCCL) when loading user types via reflection.

This issue is inspired by the issues discussed in #805 and serves as an umbrella issue for potential class loading issues across the platfo

[2017-04-25 17:02] sbrannen commented on #805
FYI: the _Possibly affected_ section has been moved to #806.

[2017-04-26 13:10] smoyer64 commented on #48
In many cases, explicit test ordering works great.  There are other use cases where implicit ordering may be better:

1.  When testing UI user-stories, the successful path will often execute steps 1 through 10 in order, but there are multiple potential failure paths at each step.  If I have steps 6a, 6b and 6c, only 6a would continue to step 7 and the others would expect some sort of failure respo

[2017-04-26 14:24] sormuras opened #807 "ConsoleLauncher --scan-classpath option fails on Java 9"
## Overview

Classpath scanning fails for some implicit roots (only on Java 9):

[code]

## Deliverables

- [ ] Investigate and fix reason

[2017-04-26 14:53] sbrannen commented on #48
@smoyer64, some of your ideas might be achievable with something like a `TestOrchestrator` extension that I proposed here: https://github.com/junit-team/junit5/issues/14#issuecomment-264680160

[2017-04-26 16:28] smoyer64 commented on #48
@sbrannen I had forgotten about that comment but I agree that it would support use-case #2 above.  Use case #1 is harder as it requires a "fan-out" and if you need a clean context for each success/failure case in a step, we're back to needing to make extra instances.  My intuition is saying we could accomplish use-case #1 by using ```@TestTemplate``` in a way that wasn't envisioned.

[2017-04-26 17:23] sbrannen commented on #48
No problem: I don't expect other people to remember all of the comments I've ever written. Heck, _I_ don't even recall all of my own comments. 😉

Mmmm... possibly.

[2017-04-26 18:46] sbrannen opened #808 "Revise Assertions.assertAll() to track all exceptions"
## Overview

Currently, `Assertions.assertAll()` only _tracks_ instances of `AssertionError`. If any other type of exception is thrown, the invocation of `assertAll()` immediately halts, and the exception is rethrown.

Over time it has become apparent to the JUnit team that this behavior is not intuitive and likely not what the average developer would expect (even though the current behavior is we

[2017-04-26 21:03] sbrannen commented on #808
Resolved in ab0b5bff4e866a09d0e44c21a75336628c48a335

[2017-04-26 21:03] #808 closed

[2017-04-27 01:31] codahale opened #809 "Support maven-surefire-plugin version 2.21"
## Overview

If any of my assertions fail, the Maven build fails with an `OutOfMemoryError`:

<details>

[code]

</details>

### Versions

* Maven 3.5 or 3.3.9
* org.junit.jupiter:junit-jupiter-api:5.0.0-M4
* org.apache.maven.plugins:maven-surefire-plugin:2.20
* org.junit.platform:junit-platform-surefire-provider:1.0.0-M4
* org.junit.jupiter:junit-jupiter-engine:1.0.0-M4

### Repro

You should be

[2017-04-27 06:32] Andrei94 commented on #652
@marcphilipp [PR 802](https://github.com/junit-team/junit5/pull/802)

[2017-04-27 09:52] marcphilipp commented on #737
@SqAutoTestTeam Any news on this issue? Can you please describe your use case in more detail.

[2017-04-27 09:58] sormuras commented on #805
Using the [TCCL](https://github.com/forax/pro/blob/master/plugins/tester/src/main/java/com.github.forax.pro.plugin.tester/com/github/forax/pro/plugin/tester/TesterPlugin.java#L86) solved the issue.

[2017-04-27 09:58] #805 closed

[2017-04-27 10:41] marcphilipp commented on #672
Team decision: Introduce a new `Extension` subinterface `TestInstanceFactory` with a single method `createTestInstance(Class testClass, ClassLoader classLoader)`.

[2017-04-27 11:25] sbrannen commented on #678
Resolved in f7a957b2202aa749cc0d660da58bb29ecf2c55f1

[2017-04-27 11:25] #678 closed

[2017-04-27 12:58] sbrannen commented on #793
I implemented a _dynamic_ kitchen sink extension in db83822190ca9c037fdc2b563ef01ee58b4066e7. 😉

[2017-04-27 14:17] kcooney commented on #672
@marcphilipp what happens if more that one `TestInstanceFactory` is installed​?

[2017-04-27 14:32] sbrannen commented on #672
An exception will be thrown, thereby halting the execution of the affected test class.

[2017-04-27 14:32] sbrannen commented on #672
... as stated in #203:

[2017-04-27 14:45] sbrannen commented on #708
Closing this issue since the release notes were updated in #800.

[2017-04-27 14:45] #708 closed

[2017-04-27 14:55] sbrannen commented on #793
The policy has been documented in the Wiki on the [Releasing](https://github.com/junit-team/junit5/wiki/Releasing) page.

Since that was the last open task, I am now closing this issue.

[2017-04-27 14:55] #793 closed

[2017-04-27 14:58] kcooney commented on #672
@sbrannen cool. Thanks!

[2017-04-27 14:59] sbrannen commented on #809
FYI: I updated the _Deliverables_.

[2017-04-27 15:02] sbrannen commented on #809
@codahale, can you possible provide a stack trace that includes invocations from within the JUnit Platform or JUnit Jupiter?

[2017-04-27 15:29] jlink opened #810 "UniqueId.parse fails for methods with array type parameters"
## Bug description
[code]
will fail with `PreconditionViolation` since array types are described with an `[` in front but `[` chars are currently forbidden as segment values.

## Suggested Solution

Change representation of array types in `ReflectionUtils.findMethod(clazz, methodName, parameterTypeNames)` and `StringUtils.nullSafeToString(classes)`.

Alternative: Don't use `[` as separator char in

[2017-04-27 15:33] sbrannen commented on #809
I figured out the source of the problem.

The `junit-platform-surefire-provider` is not compatible with version **2.20** of the `maven-surefire-plugin`.

Setting the version of the `maven-surefire-plugin` back to **2.19.1** should allow your build to execute as expected.

Can you please confirm that this works for you?

[2017-04-27 15:35] codahale commented on #809
Hah, I was elbow-deep in `maven-surefire-plugin` adding debug logging. Yes, 2.19.1 works just fine.

[2017-04-27 15:39] sbrannen commented on #809
Great! Thanks for confirming. 👍

[2017-04-27 15:42] sbrannen commented on #809
FYI: I have updated this issue's title accordingly.

[2017-04-27 15:49] sbrannen commented on #809
As of commit cc9120321bca910a43a13ae9937626d7037f0210, we are now building against version 2.20 of the Maven Surefire Plugin.

This will be available in 5.0 M5 as well as all upcoming SNAPSHOT builds.

[2017-04-27 15:55] jlink commented on #810
Just thought of a 3rd alternative: Escape/unescape forbidden characters. Seems like a valid approach.

[2017-04-27 16:24] sormuras commented on #810
+1

It is still time for breaking changes. Introducing mangling of IDs is something we can do after GA.

[2017-04-27 17:03] mfulton26 commented on #695
I'm very excited for `dynamicContainer`. If there is anything I can do to assist (testing, etc.) please let me know.

[2017-04-27 17:08] sormuras commented on #695
I almost got working locally - will push a work-in-progress version for testing later today.

[2017-04-27 17:11] brsanthu opened #811 "Feature Request: Convert underscores to spaces while reporting"
It is great that we have DisplayName that helps us give meaningful names for our tests. But it means, we have to type same things twice. Once in `DisplayName` and another type in method name.

What if the junit reporter, converts the method names, changes the underscores to spaces and report it? This way, we can just name the methods longer and it will be reported in a easy to use way.

For ex.,
[

[2017-04-27 17:21] jlink commented on #810
Using a different separator might break another engine's values. Escaping does not have any of those disadvantages.

[2017-04-27 18:09] smoyer64 commented on #809
Hmm ... I created https://github.com/junit-team/junit5-samples/issues/23 because I was starting a new project with M4 and wanted to reduce the configuration boiler-plate.  I didn't realize that I would end up hitting this bug (no code or tests yet) but I guess I'll switch that project to SNAPSHOT!

[2017-04-27 18:42] sormuras commented on #811
Duplicate of https://github.com/junit-team/junit5/issues/162

[2017-04-27 18:42] #811 closed

[2017-04-27 19:11] sormuras commented on #758
Team decision: display names stay immutable at execution time.

#162 will provide means to change ("beautify") display name at discover time.

[2017-04-27 19:11] #758 closed

[2017-04-27 20:13] sormuras commented on #807
`java.class.path` included `.` and `--scan-classpath` without a parameter tried to scan for test classes starting at `.` directory. All discovered `.class` files had a _wrong_ package name.

Solution: explicitely pass classpath roots via `--scan-classpath path1:path2:...` (and don't forget to pass path1:path2... via `--classpath` as well)

[2017-04-27 20:13] #807 closed

[2017-04-27 20:19] sormuras commented on #740
Updated deliverables.

[2017-04-28 07:28] sormuras commented on #695
Still work-in-progress as one test is disabled and there's a total lack of documentation, but here we go: https://travis-ci.org/junit-team/junit5/builds/226708262#L646

[2017-04-28 07:53] marcphilipp opened #812 "Remove Node.isLeaf()"
## Overview

The semantics of `Node.isLeaf()` are unclear. It was introduced to handle dynamic tests. Right now it's not possible to mix dynamic and static children in a container. If `HierarchicalTestExecutor` kept track of already executed `TestDescriptors`, we should be able to get rid of `Node.isLeaf()`.

## Deliverables

- [x] Investigate if we can get rid of `Node.isLeaf()`
- [ ] If so, refa

[2017-04-28 13:46] sbrannen commented on #810
Good catch! 👍

We've been generating unique IDs such as `[engine:junit-jupiter]/[class:org.junit.jupiter.engine.extension.ArrayTests$PrimitiveArrayMethodInjectionTestCase]/[method:primitiveArray([I)]` for quite some time, but we obviously never attempted to parse the string representation back into a `UniqueId` object.

[2017-04-28 13:49] sbrannen commented on #810
FYI: I reproduced this error with a test case run by JUnit Jupiter on `master`.

[code]

The resulting exception is:

<details>

[code]

</details>

[2017-04-28 14:09] sbrannen commented on #810
The most robust solution would be to use a format similar to JSON, where the `segmentType` and `value` are wrapped in quotes (or some other character), and any occurrence of the wrapping character within a supplied `segmentType` and `value` is escaped.

That should solve all problems, future and present.

[2017-04-28 15:09] akozlova opened #814 "Display name for array parameter type can be improved"
## Overview

JUnit 5 M4 introduces parameterized tests.

When a parameter is of type `String[]`, then the default display name contains `[Ljava.lang.String` instead of array presentation, e.g. `["foo", "bar"]`.

The IDE shows this ugly now:
![image](https://cloud.githubusercontent.com/assets/4306070/25534806/4c4e29a6-2c35-11e7-87b1-83e81abceeee.png)

## Analysis

Caused by substitution `org.junit.

[2017-04-28 15:12] sbrannen commented on #814
Hi @akozlova,

Thanks for reporting this.

We'll get to it!

Cheers,

Sam

p.s. this is vaguely related to #810.

[2017-04-28 15:14] akozlova opened #815 "MethodSelector should accept parameter type names supplied in source code syntax"
## Status Quo

`void test(int i) {}` has signature `test(int)`, though `void test(int[] ints)` has signature `test([I)`.

Source: `org.junit.platform.commons.util.ReflectionUtils#primitiveNameToTypeMap`

## Proposal

I'd rather expect the signature to be JVM method signature or presentable method signature.

Could you please consider to change this?

[2017-04-28 15:16] akozlova commented on #815
Also relates to #810

[2017-04-28 15:17] sormuras commented on #814
More related to #764

[2017-04-28 15:21] hglasgow commented on #754
Hi, I've created a pull request that I hope clarifies the callback lifecycle for dynamic tests.

[2017-04-28 15:26] sormuras commented on #754
Thanks @hglasgow

With #813 on the horizon we need to update and clarify the "dynamic tests" documentation, again. :)

[2017-04-28 15:35] sbrannen commented on #814
_in progress_

[2017-04-28 15:58] sbrannen commented on #814
@akozlova, with the commit I'm about to push to `master`, the following will be the new display name for your use case: `[1] [foo, bar]`

How's that?

[2017-04-28 16:02] akozlova commented on #814
Perfect, thanks!

[2017-04-28 20:21] sbrannen commented on #814
When I said, "I'm about to push...", I spoke too soon.

The core of the solution was done, but... there was a ripple effect that forced me to do a bit of refactoring across the code base. C'est la vie. 😉

It's in `master` now via commit 4116a6be2822df730a113dce611f0f88b6900b07.

[2017-04-28 20:21] #814 closed

[2017-04-28 20:38] sbrannen commented on #815
Hi @akozlova,

`[I` is in fact the _JVM method signature_ for an argument of type `int[]` in Java source code.

Or... did you mean something different by "JVM method signature"?

In any case, we can consider supporting "source code array type declarations" in addition to the JVM internal format -- for example, we could support both `int[]` and `[I` as a primitive integer array.

Is that what you w

[2017-04-29 05:43] hglasgow commented on #754
Hmmm. The CI checks are failing. _"Run 'gradlew spotlessApply' to fix these violations."_ But this task has no effect on the file when I run it locally. Eclipse Neon; Windows 10.

[2017-04-29 05:50] akozlova commented on #815
Yep, Int is from source code and [I is from VM signature. For me source code signatures are easier than [Lava.lang.String;

[2017-04-29 10:35] smoyer64 commented on #425
We'll need to keep an eye on JigSaw as apparently there is not yet a consensus in the expert group.  IBM, RedHat and others will vote "no" in the ballot to release the public review.  In the past, we've seen major proposals dropped when they failed to meet Java release dead-lines so the question may well be whether Java 9 has module support or not.

- https://developer.jboss.org/blogs/scott.stark/

[2017-04-29 14:23] sbrannen commented on #754
That sounds a bit odd.

What happens if you run `gradlew spotlessApply` from the command line?

Also, it appears that you simply have trailing spaces at the end of several of those lines. So manually deleting all trailing spaces might resolve the problem for you.

[2017-04-29 16:58] sbrannen commented on #809
Let's not switch the sample projects to build against snapshots.

They are meant to align with the most _current_ release, since that is what average developers are expected to use.

[2017-04-29 17:08] smoyer64 commented on #809
I meant that I'd switch my new project that led me to create that issue to the SNAPSHOT version - not that I'd switch the junit5-maven-provider to SNAPSHOT.  It does mean that https://github.com/junit-team/junit5-samples/issues/23 is blocked until M5 (you can leave it assigned to me if you'd like).

[2017-04-29 18:54] sbrannen commented on #815
@akozlova,

Before I implement the requested change, I'd like to be totally clear about what you mean...

What is the signature "inconsistent" with, the default display name of the method?

Easier in what regard? Easier for you to select a method via `DiscoverySelectors.selectMethod(String, String, String)`?

[2017-04-29 20:01] sbrannen commented on #809
Aha.

Alles klar. Tutto chiaro. Everything clear. 😉

[2017-04-29 20:18] sbrannen commented on #815
In my local branch, I've laid the groundwork for this change with the following passing tests.

[code]

This should then translate to the ability to pass `"int[]"` and `"java.lang.String[]"` as the `methodParameterTypes` argument to `DiscoverySelectors.selectMethod(String, String, String)`.

@akozlova, is that you end goal?

[2017-04-29 20:49] akozlova commented on #815
Sorry if I was not clear. The change in your branch should work for selection of test from sources very well. On the other side I can translate the parameter types to the VM names, like [I or [Ljava.lang.String; if you think that junit should support VM names, like $ instead of . in the qualified names. But the idea that some names are source names and some are VM names looks strange to me - that'

[2017-04-30 05:01] hglasgow commented on #754
Thanks, removing the trailing spaces has fixed the CI builds.

[2017-04-30 09:14] nicolaiparlog commented on #371
Since test templates were introduced in #642, a major use cases for a dynamic test extension point (parameterized tests) has a better solution. This begs the question whether this extension point is still needed. I think it is.

One important reason is that I really like how Jupiter uses extension points to implement its features. It makes the entire engine very customizable and it would be weird

[2017-04-30 11:46] sbrannen commented on #815
_in progress_

[2017-04-30 11:46] sbrannen commented on #815
Thanks for the clarification, @akozlova.

I'll put some more thought into the topic and see what can be done.

[2017-04-30 11:53] sbrannen commented on #815
I think we literally _have_ to support technical VM names, as we do now.

And I think we will continue to use/store the technical names internally.

The only reasonable set of changes I foresee are those that result in the user either _seeing_ the technical name (e.g., in a test display name) or _providing_ the technical name (e.g., via a method selector). For those cases, I agree with you that th

[2017-04-30 11:55] sbrannen commented on #815
In summary, we should follow [**Postel's Law**](https://en.wikipedia.org/wiki/Robustness_principle) in this context:

[2017-04-30 15:53] sbrannen commented on #815
Closing this issue due to the work performed in 6eaeab2de153f334ea09d3328be6e001e617a085 and d2cb326ef1ff71267e99ed2817abff5b9a390747.

[2017-04-30 15:54] sbrannen commented on #815
@akozlova, can you please confirm that I have addressed your needs in the aforementioned commits?

Thanks,

Sam

[2017-04-30 16:03] sbrannen opened #819 "Class loading by name is not supported for multidimensional arrays"
## Status Quo

Due to the investigative work performed in conjunction with #815, I noticed that the JUnit Platform currently has no support for loading classes by name for multidimensional arrays.

Consequently, it is currently impossible to create a `MethodSelector` (e.g., via `DiscoverySelectors`) which selects a method by _fully qualified method name_ if the method accepts a multidimensional ar

[2017-04-30 16:04] sbrannen commented on #815
@akozlova, you might also be interested in #819 which I created as a result of this issue.

[2017-04-30 17:19] akozlova commented on #815
Before your latrst commits. What I don't understand is that you support test (int) and not test(I). Given that other names are VM names, why int?
The commit fixes this as well as far as I can tell now.
Actually I don't insist on 'source signatures', I only want to know what signatures are expected.

[2017-04-30 18:50] sbrannen commented on #815
Executing the following...

[code]

... results in:

[code]

Thus `I` is not supported for `int` in Java in terms of performing a "reverse lookup" as we do in `ReflectionUtils`.

So, perhaps it's not the answer you were expecting, but that it is the reason why we don't support `I` as a type when loading classes by name.

[2017-04-30 18:51] sbrannen commented on #815
The signatures that are _expected_ are those supported automatically by Java's reflection APIs.

The signatures that are _tolerated_ are those correlating to Java source code syntax.

Make sense?

[2017-04-30 19:02] sbrannen commented on #815
In addition to what I've already stated in https://github.com/junit-team/junit5/issues/815#issuecomment-298249666, Java also does not support loading a class named `I`.

In other words, there is no such class named `I` in Java, but there is a class named `[I`.

One could also argue that there is no such class named `int[]` in Java, and that would be correct; however, we are now explicitly supporti

[2017-05-01 14:59] sbrannen commented on #819
Fixed in 43557436c6c2c87c4d3c8e5e52f7252a58b68102

[2017-05-01 14:59] #819 closed

[2017-05-01 16:05] sbrannen opened #825 "MethodSelector returns null for parameter types"
## Status Quo

The `getMethodParameterTypes()` method in `MethodSelector` currently returns `null` if parameter types were not explicitly provided via a constructor.

## Deliverables

- [x] Ensure that `MethodSelector.getMethodParameterTypes()` never returns `null`.
  - [x] If no parameter types were supplied and cannot be deduced, return an empty string instead of `null`.
  - [x] If parameter typ

[2017-05-01 18:37] mfulton26 opened #826 "Add support for dynamic display names"
## Overview

Dynamic tests allow specifying display names dynamically but static tests do not. The `DisplayName` annotation takes a constant `String` as its value.

A user can create a `TestFactory` method to create a single dynamic test in order to dynamically define a single test's display name but this results in undesirable nesting. e.g.:

[code]

## Deliverables

- [ ] A simple way to dynamic

[2017-05-01 18:38] mfulton26 commented on #826
One way to do this might be to support returning `DynamicTest` directly from a `TestFactory` method thereby eliminating the nesting and simply specifying a single dynamic test.

[2017-05-01 20:14] yogurtearl opened #827 "Android plugin: PreconditionViolationException: Cannot create Launcher without at least one TestEngine;"
With Junit 5.0.0-M3 and Android Gradle Plugin 2.4.0-alpha7 I get this error when running tests from gradle CLI.

It works fine with Android Gradle Plugin 2.3.1

[code]

[2017-05-01 22:20] sbrannen commented on #419
FYI: introduced a _Deliverables_ section for this issue.

[2017-05-01 22:34] sbrannen commented on #825
_in progress_

[2017-05-01 22:35] sbrannen commented on #827
@yogurtearl, can you please provide more context -- for example, in the form of a minimalistic project that reproduces the error?

[2017-05-01 22:42] sbrannen commented on #162
In light of recent team discussions, I have renamed this issue to focus on the introduction of a new extension for generating display names.

[2017-05-01 22:43] sbrannen commented on #826
Closing this issue as a duplicate of #162.

[2017-05-01 22:43] #826 closed

[2017-05-01 22:46] sbrannen commented on #162
FYI: I have added a _Deliverables_ section to this issue's description.

[2017-05-02 00:49] mfulton26 commented on #826
I didn't see that one. Thank you.

[2017-05-02 06:34] marcphilipp commented on #810
We could also URI encode/decode `/`, `[`, `]`, `:` etc. in each segment.

[2017-05-02 18:33] nicolaiparlog commented on #395
@bechte Would theories be an example for what I claim in [#371 (comment)](https://github.com/junit-team/junit5/issues/371#issuecomment-298221012), namely that an extension point that provides a whole hierarchy of dynamic tests would be useful? As I see it, theories could use such an extension point to create a test plan from a class any way they like while embedding the resulting tests into Jupite

[2017-05-03 06:23] nicolaiparlog commented on #738
@Vazzilena Is this problem still bugging you or can the issue be closed?

[2017-05-03 06:31] nicolaiparlog commented on #780
Thinking about this... where would the captured output go? Into the report?

[2017-05-03 07:38] marcphilipp commented on #812
_in progress_

[2017-05-03 07:50] nicolaiparlog commented on #638
@mfulton26 Isn't this very similar to #604, which is currently being solved in #813? If you agree, this issue can be closed. If you think about how to best and most flexibly create dynamic tests, chime in in #371.

[2017-05-03 07:57] nicolaiparlog commented on #789
As  @Vazzilena confirmed that this is a duplicate of #549, should this issue be closed?

[2017-05-03 09:11] nicolaiparlog commented on #672
Would it make sense to mirror the parameter resolver's behavior and have a `supports` and a `create` method? (All extensions get asked, only one is allowed to say yes.)

I have to admit that I don't have a use case for that and that due to extensions most likely being added to the class itself (although `ServiceLoader` is now also an option) I don't think there is a high chance. But leave it to us

[2017-05-03 09:52] #812 closed

[2017-05-03 10:19] marcphilipp commented on #810
**Team decision:** Use URI encoding for `segmentType` and `value`.

[2017-05-03 10:41] marcphilipp commented on #671
**Team decision:** Provide an `ExtensionContext` for the engine level.

[2017-05-03 11:07] sbrannen commented on #812
👍

[2017-05-03 11:07] sbrannen commented on #812
BTW, I added a small comment to the commit.

[2017-05-03 11:17] #638 closed

[2017-05-03 11:29] sormuras commented on #638
Duplicate of #604

[2017-05-03 11:36] sbrannen opened #830 "Document annotation attributes for parameterized test configuration"
## Deliverables

- [ ] Document attributes for annotations such as `@ParameterizedTest`, `@CsvFileSource`, `@CsvSource`, etc.
  - [ ] resolve all TODOs in the `junit-jupiter-params` module.

[2017-05-03 11:38] sormuras opened #831 "Document DynamicContainer feature"
## Overview

Followup from #813

## Deliverables

- [ ] Public API has [Javadoc](https://github.com/junit-team/junit5/blob/master/CONTRIBUTING.md#javadoc) and [`@API` annotations](http://junit.org/junit5/docs/snapshot/api/org/junit/platform/commons/meta/API.html)
- [ ] Change is documented in the [User Guide](http://junit.org/junit5/docs/snapshot/user-guide/) and [Release Notes](http://junit.org/j

[2017-05-03 11:40] sormuras commented on #695
Addressed by https://github.com/junit-team/junit5/commit/1a57e4f386a9f8cd6be0a08a4d914349d32a7f01

[2017-05-03 11:40] #695 closed

[2017-05-03 11:41] sormuras commented on #604
Addressed by https://github.com/junit-team/junit5/commit/1a57e4f386a9f8cd6be0a08a4d914349d32a7f01 on master

[2017-05-03 11:41] #604 closed

[2017-05-03 12:11] sbrannen commented on #780
I think we would have to make the captured output available in `TestExecutionResult` which could then be used in report generation.

In addition, we could consider making the same data available to extensions in JUnit Jupiter, much akin to the [OutputCapture](https://github.com/spring-projects/spring-boot/blob/master/spring-boot-test/src/main/java/org/springframework/boot/test/rule/OutputCapture.j

[2017-05-03 12:23] sbrannen commented on #672
That could also be a viable option. Thanks for suggesting it.

[2017-05-03 21:05] sbrannen commented on #825
Resolved in f42d9745a7e128e271cfc41ffd4f60144eb9b340.

[2017-05-03 21:05] #825 closed

[2017-05-04 07:04] sormuras commented on #775
All three open ends are still not resolvable:

- Travis CI (debian trusty) is still on JDK9-B162, see https://launchpad.net/~webupd8team/+archive/ubuntu/java?field.series_filter=trusty
- John did not release Gradle Shadow 2.0.0 yet, see https://github.com/johnrengelman/shadow/releases
- Joel did not release AssertJ 3.7.9 yet, set https://github.com/joel-costigliola/assertj-core/releases

[2017-05-04 07:55] joel-costigliola commented on #775
@sormuras AssertJ 3.7.0 should be released in a week or so.

[2017-05-04 07:56] sormuras commented on #775
Thanks for the information, Joel! 👍

[2017-05-04 08:04] sormuras commented on #679
in progres...

[2017-05-04 08:45] vmassol commented on #801
Would be great if this could be fixed for M5. This is currently preventing us from starting to use JUnit5 (using the vintage engine).

Any thought on this? Thanks a lot!

[2017-05-04 09:17] sormuras commented on #801
Hi @vmassol -- I am no Maven/Surefire expert. But I don't see a class from [JUnit Platform Surefire Provider](https://github.com/junit-team/junit5/tree/master/junit-platform-surefire-provider/src/main/java/org/junit/platform/surefire/provider) in the stacktrace you posted.

See section [4.2.2. Maven](http://junit.org/junit5/docs/current/user-guide/#running-tests-build) for configuration steps.

Ho

[2017-05-04 10:25] #679 closed

[2017-05-04 13:05] vmassol commented on #801
@sormuras Thanks. Here's what I do more precisely:

**Step 1**: Run "mvn clean install" on https://github.com/xwiki/xwiki-platform/tree/master/xwiki-platform-core/xwiki-platform-oldcore with the following surefire configuration:

[code]

Result: passing

**Step 2**: Run "mvn clean install" again but with the following changes to the pom.xml:

[code]

Result: Failing

This is full error with Maven

[2017-05-04 13:08] vmassol commented on #801
My guess is that the `org.junit.platform.surefire.provider.JUnitPlatformProvider` is somehow behaving differently than the default surefire provider for some condition.

[2017-05-04 13:10] marcphilipp commented on #801
@Tibor17 Do you have an idea how to debug this?

[2017-05-04 13:17] smoyer64 opened #833 "ParameterizedTestParameterResolver conflicts with parameterized @BeforeEach"
## Overview

The ```ParameterizedTestParameterResolver``` conflicts with parameter resolution in ```@BeforeEach``` methods in the class containing the ```@ParameterizedTest```.  I would presume that parameterized ```@BeforeEach``` methods in super-classes as well as ```@AfterEach``` methods will have the same problem.

## Bug report
- JUnit 5 version M4
- Current behavior: The ```ParameterizedTest

[2017-05-04 14:53] sormuras opened #834 "Introduce custom logging façade on top of JUL"
## Overview

We are considering to write and use our own custom façade. Something [like ](https://github.com/spring-projects/spring-framework/commit/47277f43da050e5f7caa30449a104082333fa318) was done in Spring.

Add more logging statements to the code, especially when it comes to configuration/setup with engines, listeners, test class/method invocations.

## Related Issues

- #242
- #602

## Deliv

[2017-05-04 14:59] sbrannen opened #835 "Forbid return values from test and lifecycle methods"
## Status Quo

In the JUnit Jupiter programming model it is currently not forbidden for `@Test` and lifecycle methods (i.e., `@BeforeEach`, `@BeforeAll`, etc.) to have a return value, even if it's _assumed_ that no one declares anything other than `void` as a return type for such methods.

For example, the following currently execute.

[code]

[code]

## Related Issues

- #242

## Deliverables

-

[2017-05-04 15:00] sbrannen opened #836 "Rename `names` attribute in @MethodSource to `value`"
## Deliverables

- [ ]  Rename `names` attribute in `@MethodSource` to `value`.

[2017-05-04 15:03] sbrannen commented on #834
I am currently not in favor of introducing a custom logging façade.

I think JUL should continue to suffice for our needs.

[2017-05-04 15:04] sbrannen commented on #834
Having said that, I am in favor of introducing more logging and/or proper error handling.

[2017-05-04 15:04] sbrannen commented on #834
Error handling will be addressed in #242.

[2017-05-04 15:06] sbrannen commented on #834
Providing additional context in error messages will be addressed in #602.

[2017-05-04 15:06] sbrannen commented on #834
FYI: added _Related Issues_ section to issue description.

[2017-05-04 15:09] sbrannen commented on #834
Currently slated for 5.0 M5 in order to discuss this topic in a timely manner.

[2017-05-04 15:13] sbrannen commented on #833
You raise a very valid point, so thanks for creating the issue!

We'll look into it.

[2017-05-04 15:14] sbrannen commented on #833
Labeled as a _bug_ for the time being

[2017-05-04 15:46] sbrannen commented on #754
@hglasgow, glad that sorted it out for you!

Let's see what @avandeursen has to say about your proposal.

[2017-05-04 15:47] smoyer64 opened #837 "Document JUnit 5 integration with JaCoCo and SonarQube in Maven builds"
## Feature Request

Add documentation to the User Guide that describes how to enable Jacoco test coverage in Maven builds and how to make it report with SonarQube.  I currently have this running with the following configuration sections in my Maven POM:

[code]

Note that while Jenkins builds have the correct test count, SonarQube does not.  SonarQube's percent-covered is however correct.  There m

[2017-05-04 15:48] sbrannen commented on #837
Currently slated for 5.0 M5 for _team discussion_.

[2017-05-04 16:03] smoyer64 commented on #837
The discussion on #240 is related (although targeted at the JUnit 5 build system as opposed to general use).

[2017-05-04 16:12] Tibor17 commented on #801
@marcphilipp
Try to use version `2.20` and folow the message. It tells you to lookup *.dump* files in `target` folder with root cause happened in the fork.

[2017-05-04 16:14] Tibor17 commented on #801
target/surefire-reports

[2017-05-04 18:51] mfulton26 commented on #48
It seems to me that the existing support for dynamic tests almost covers the needs for scenario tests:

[code]

The main drawback I see here other than the lack of injection of `TestInfo`, etc. is that if a `dynamicTest` fails the remaining tests are still executed instead of skipped/aborted due to a failed dependency.

What about the following?

[code]

Where `step` is a static method similar to

[2017-05-04 18:52] marcphilipp commented on #801
@vmassol Can you try using the latest snapshots of all JUnit 5 artifacts and see if the issue is still present?

[2017-05-04 18:55] marcphilipp commented on #833
Thanks for reporting, @smoyer64! I think for the time being we should only inject arguments into `@ParameterizedTest` methods. We could later add explicit support for `@BeforeEach` etc. methods, e.g. by injecting `Arguments` or using an annotation like `@Argument(0)`.

[2017-05-04 18:58] marcphilipp commented on #836
I chose `names` to have the possibility of later introducing sth. like `keys`, e.g.:

[code]

[2017-05-04 19:03] marcphilipp commented on #48
Interesting idea! I think that might actually be more readable than using annotations. One thing that's missing is that you might want to re-use similar steps (e.g. the first two and the last one). So, instead of the third `step` we'd need something like `alternativeSteps(step("Visit 2nd page", ...), step("Visit third page", ...), ...)`. Thoughts?

[2017-05-04 19:19] mfulton26 commented on #48
Or just use [`dynamicContainer`](https://github.com/junit-team/junit5/commit/1a57e4f386a9f8cd6be0a08a4d914349d32a7f01) directly, right?

[code]

With that in mind it might make more sense to name a step "dynamicStep" and then whenever test developers doesn't care what order tests are executed in and there is no execution dependency they can use "dynamicTest" too. e.g.:

[code]

[2017-05-04 19:22] mfulton26 commented on #48
I just realized though that `dynamicContainer` wouldn't necessarily be run after a `dynamicStep` nor would it necessarily prevent the execution of further steps if a step within the container failed so perhaps a `dynamicSteps`, dynamicStepContainer`, or something similar would also need to be added...

[2017-05-04 19:35] sormuras commented on #48
Mh, what about an optional flag passed to `@TestFactory` allowing to alter the "fail fast" or "assert all" mode?

[2017-05-04 20:26] smoyer64 commented on #833
It feels like having the scope of the ```ParameterizedTestParameterResolver``` encompass the instance methods would be useful but I couldn't reason through any concrete examples.  Maybe someone else will come up with a compelling reason.  I mulled this over for a couple hours (in the background) because it didn't seem like it should be marked as "bug".  My ultimate rationale was that I couldn't wr

[2017-05-04 21:05] vmassol commented on #801
@marcphilipp will do ASAP and report back, thanks

[2017-05-04 21:41] nicolaiparlog commented on #834
@sormuras: Could you describe the rationale for creating a facade (excuse me if I forego the fancy "c" :wink:)? What would the different backends be?

[2017-05-04 21:42] mfulton26 commented on #48
I like that. Another idea I just had would be to introduce `DynamicScenario` in addition to a `DynamicStep`. A "Scenario" is a "Container" like a "Step" is a "Test" but the prior have dependencies while the later do not. e.g.:

[code]

[2017-05-04 21:58] sormuras commented on #48
I had some fun to implement a variation of my suggestion above. Assume your example scenario outputs:
[code]
Now, insert some failing check, like:
[code]
...and it takes the short way out:
[code]

[2017-05-04 22:45] sormuras commented on #48
Meta-annotated `Scenario` annotation added: https://github.com/junit-team/junit5/commit/9b1f57be9f2f97209b04e22e65c1f3555824c64c ... looks nice, but feels like an overkill.

[2017-05-04 22:47] mfulton26 commented on #48
Neat.

One of the reasons I was thinking of being able to mix tests with steps (and containers with scenarios) was so that you can specify non-impeding tests (or containers) so that during a scenario you could specify some tests/containers that if they failed they wouldn't impede execution of the remaining steps/scenarios.

As such, I do not believe that a single `Scenario` annotation is sufficien

[2017-05-04 23:24] sormuras commented on #48
[`dynamicStep`](https://github.com/junit-team/junit5/compare/issues/48-testfactory_failfast#diff-c1dd7bf1ba6a5ab0409a658da3fe71a9R58) introduced. That simplified the implementation as well.

I left `dynamicScenario` out on purpose, because a container can not produce an execution result. If one its blocking nodes fails, the container fails too. If all nodes are executed successfully, it is marked

[2017-05-05 07:08] sormuras commented on #834
A true _façade_ was not intended, we should stick with JUL as our framework of choice.

Maybe an internal `LogUtils` class that provides documented, often used and better named methods à la `LogUtils.warn(Class, Supplier<String>)` and `.info(...)`, `.config(...)`, `.debug(...)` variants is what I wanted.

[2017-05-05 07:20] jillesvangurp commented on #48
@sormuras awesome; I like where this is going. Just occured to me that it would be nice if methods like dynamicContainer could accept a varargs of `DynamicTest...subTests`. There are a lot of calls to Stream.of in the example.

[2017-05-05 07:27] jillesvangurp commented on #48
Likewise, it would save a bit of boilerplate and nesting if you could make the testFactory an annotated field instead of a method:

[code]

Just a thought; this might violate some notions people have about statefulness.

[2017-05-05 07:27] vmassol commented on #801
@marcphilipp could you tell me where to get the latest snapshots? I've found the CI job at https://junit.ci.cloudbees.com/job/JUnit5/ but I don't see where the generated artifacts are deployed to. Thanks

[2017-05-05 07:34] vmassol commented on #801
Found https://oss.sonatype.org/content/repositories/snapshots/org/junit/ but it doesn't contain any recent snapshot..

[2017-05-05 07:50] sormuras commented on #48
Good idea, @jillesvangurp -- already added via https://github.com/junit-team/junit5/commit/a1edcb1cce3aff387901049789c3fe530359a0a4

Hm, I don't like the _"annotated field instead of a method"_ idea at all. Methods should stay the preferred entry points for Jupiter tests.

[2017-05-05 07:57] nicolaiparlog commented on #801
@vmassol Maybe you took the wrong turn somewhere (the old `junit5-...` folders are really confusing)? Here are the recent snapshots of [Vintage](https://oss.sonatype.org/content/repositories/snapshots/org/junit/vintage/junit-vintage-engine/4.12.0-SNAPSHOT/), for example, from yesterday.

[2017-05-05 07:58] vmassol commented on #801
Thanks @nicolaiparlog , indeed I got confused initially but found the right artifacts by following the artifact ids from my pom :) Thx

[2017-05-05 08:22] nicolaiparlog commented on #834
@sormuras I find this intriguing. With a slim facade like the one you propose (please don't call it `LogUtils`, though! :wink:) it would be possible to take a different logging route based on configuration or Java version.

In Java 9 in particular, there's [redirected platform logging](https://www.sitepoint.com/ultimate-guide-to-java-9/#redirectedplatformlogging), which allows logging backends to

[2017-05-05 08:56] sbrannen commented on #48
@pgpx,

Using lambda expressions and a builder pattern for implementing scenario tests is great for pure unit testing but not a good fit for complex integration and system testing.

For more complex use cases one needs the power of third-party (or self-built) extensions that tie into JUnit Jupiter's extension model and test execution lifecycle. With lambda expressions, however, that is not possibl

[2017-05-05 09:15] sbrannen commented on #48
I'm very familiar with the _Spring TestContext Framework_ (since I'm the author of said framework 😉), so let me provide some additional context here.

It's true that one does not want to needlessly repeat expensive setup, but that's only piece of the puzzle. The other piece of the puzzle is interaction with extensions between/around steps.

Although I did not state it in this issue's description,

[2017-05-05 09:23] sbrannen commented on #48
And for those interested in seeing live, working examples...

- TestNG: [SimpleScenarioTestNgTests](https://github.com/sbrannen/spring-events/blob/master/src/test/java/com/sambrannen/spring/events/SimpleScenarioTestNgTests.java)
- JUnit 4: [RestEventsControllerTests](https://github.com/sbrannen/spring-events/blob/master/src/test/java/com/sambrannen/spring/events/web/RestEventsControllerTests.java)

[2017-05-05 09:26] sbrannen commented on #48
Now, having said all that...

I am not saying that I am totally against some form of scenario tests based on lambda expressions and a DSL, but I think that is a separate topic that should be addressed independently.

[2017-05-05 09:38] elliotcm commented on #809
I've also experienced this issue with the same combination of versions as @codahale.  Switching down to 2.19.1 also unblocks the issue.  I'll chip in with verification of my project against M5 when it comes out.

[2017-05-05 09:50] sormuras commented on #48
[...]

I totally agree, @sbrannen -- that's why I put the "does not solve" disclaimer at the top of #838

All further discussion of the **"fail-fast DSL dynamic tests"** feature should be made at #838

[2017-05-05 10:14] sbrannen commented on #836
OK.

But... what are "keys"? 😕

[2017-05-05 10:21] vmassol commented on #801
ok I've tried by adding the following to my pom.xml:

[code]

And I get:

[code]

Any idea?

[2017-05-05 10:22] vmassol commented on #801
Maybe the snapshot version of the junit provider is not compatible with surefire 2.19.1 anymore?

[2017-05-05 10:23] sormuras commented on #836
![keys](https://encrypted-tbn3.gstatic.com/images?q=tbn:ANd9GcScEkfquCxV7Oza20aBisQ1r18Am-OQlGFULVehtl5wefSbH0K5)

[2017-05-05 10:24] marcphilipp commented on #801
Yes, you have to switch to Surefire 2.20.

[2017-05-05 10:24] marcphilipp commented on #836
Call it `id` if you like that better.

[2017-05-05 10:52] marcphilipp commented on #835
**Team decision:** Forbid via test predicates that exclude such methods.

[2017-05-05 10:59] vmassol commented on #801
ok so I get some more info:

[code]

The dump file has tons of those:

[code]

Any idea why this is passing fine with standard surefire but failing when using the junit5 surefire provider?

Thanks! We're getting closer...

[2017-05-05 11:08] vmassol commented on #801
So the new thread dump stuff seems to be something new in surefire 2.20 (We also got it when trying to upgrade our build to surefire 2.20: https://jira.xwiki.org/browse/XCOMMONS-1190).

However the "The forked VM terminated without properly saying goodbye. VM crash or System.exit called?" is still there even when using the latest junit5 snapshot.

[2017-05-05 11:09] marcphilipp commented on #836
**Team decision:** Rename `names` to `value`.

[2017-05-05 11:14] marcphilipp commented on #833
**Team decision:** For the time being we will only inject arguments into `@ParameterizedTest` methods.

[2017-05-05 11:15] Tibor17 commented on #801
You must be doing something in the fork like sending bytes to native
std/out via {{FileDescriptor.out}} or {{ProcessBuilder and inherited
channel}}.

On Fri, May 5, 2017 at 1:08 PM, Vincent Massol <notifications@github.com>
wrote:

--
Cheers
Tibor

[2017-05-05 11:16] Tibor17 commented on #801
I guess it's the logger.

On Fri, May 5, 2017 at 1:15 PM, Tibor Digana <tibor.digana@googlemail.com>
wrote:

--
Cheers
Tibor

[2017-05-05 11:20] vmassol commented on #801
Thanks! I'll try to understand that more and review our tests to check this out. What logger are you referring to BTW?

However on this comment https://issues.apache.org/jira/browse/SUREFIRE-1359?focusedCommentId=15969287&page=com.atlassian.jira.plugin.system.issuetabpanels:comment-tabpanel#comment-15969287 you say that it shouldn't fail the build.

So I'm still facing the issue of "The forked VM

[2017-05-05 11:42] mfulton26 commented on #48
One issue I see with `@Step(next = "$methodName")` is that there is no way to express that multiple tests follow this test but in no particular order (which would be especially useful in integration tests if concurrent execution is supported). TestNG takes the "dependsOn" route which seems to me currently to be a better route. Thoughts?

[2017-05-05 11:50] vmassol commented on #801
So to make it clear:
* Regarding "the logger" you were referring to the log appearing in the content of the dump file. So tests are not allowed to log anything to the console anymore? However this is not failing the build and is not related to this junit5 issue per see. However when executing with plain surefire I get to see the logs printed on the console and they're not with the junit5 surefire

[2017-05-05 14:24] marcphilipp commented on #801
The JUnit platform logs a few things (e.g. which engines are present) to stdin/stderr. You should be able to install a custom JUL LogManager (e.g. Log4J) and provide a config that suppresses all logging. Does that help?

[2017-05-05 15:19] codecholeric opened #839 "Introduce BeforeTestInstantiationCallback extension API"
## Short story:

For our test infrastructure to create test data, we must distinguish calls during the static initialization of each test class from calls during test instantiation for each test method.
This could be solved by the proposed `BeforeTestInstantiationCallback`.

## Long story:

When we write our tests, we want to restrict the data that have to be set explicitly to those that the speci

[2017-05-05 15:30] Tibor17 commented on #801
See `ForkedBooter` class in surefire.
We are overriding system out/err in the beginning of the `main()` method.
If you have any mechanism, like static code init, you can easily fetch
`System.out` beforehand and this means you cached PrintStream and later you
wrote bytes to the native stream and this is the issue.

On Fri, May 5, 2017 at 4:24 PM, Marc Philipp <notifications@github.com>
wrote:

--
C

[2017-05-05 16:59] nicolaiparlog commented on #839
Thanks for opening the issue! There are some details I need clarifications on because I'm not quite getting what you describe. (Excuse me if these are dumb question. :smiley:)

What exactly do you mean by "note"? Since `staticAddress` is initialized as part of the class' initialization, the `Random` instance must also already have been constructed before any `BeforeAllCallback` is called. How can

[2017-05-06 13:54] marcphilipp commented on #836
_in progress_

[2017-05-06 14:10] #836 closed

[2017-05-06 15:56] vmassol commented on #801
`System.out` beforehand and this means you cached PrintStream and later you
wrote bytes to the native stream and this is the issue.

ok that must be it. We do have code like this using SLF4J:

[code]

I don't know what SLF4J does but maybe it caches PrintStream.

[2017-05-06 17:23] smoyer64 commented on #801
I think that depends on which implementation you bind into your test scope.  If you don't provide an implementation, ```slf4j-nop``` will be used and I suspect it doesn't use ```System.out``` or ```System.err``` at all.  It's also my recollection that ```slf4j-simple``` uses ```System.err``` though I can't comment on whether it's cached.

[2017-05-06 18:33] smoyer64 commented on #780
I've got a couple of extensions for testing methods that interact with stdio that I'm going to move into junit-pioneer.  For System.out and System.err, the test can capture the method's outputs and make assertions against that output.  the interplay between the proposed feature (which is ostensibly writing log messages to one of these output streams and an application which is naturally writing to

[2017-05-06 19:56] Tibor17 commented on #801
What happens if you comment out the logger?

On Sat, May 6, 2017 at 7:23 PM, Steve Moyer <notifications@github.com>
wrote:

--
Cheers
Tibor

[2017-05-06 20:09] Tibor17 commented on #801
See this
https://jira.qos.ch/browse/SLF4J-395
https://jira.qos.ch/browse/SLF4J-389
and system property org.slf4j.simpleLogger.cacheOutputStream see the
Javadoc https://www.slf4j.org/api/org/slf4j/impl/SimpleLogger.html

On Sat, May 6, 2017 at 9:56 PM, Tibor Digana <tibor.digana@googlemail.com>
wrote:

--
Cheers
Tibor

[2017-05-06 20:12] marcphilipp commented on #837
I think this documentation should rather be done in JaCoCo/SonarQube. 🤔

[2017-05-06 20:16] marcphilipp commented on #602
@sormuras Did you have a chance to look into this, yet?

[2017-05-06 20:38] sormuras commented on #602
No, yet. M6 is a good goal.

[2017-05-06 21:11] sormuras commented on #431
With #838 in the works, it is easy to get and store the initial time instant when a "@TestFactory"-annotated methods started. The user-supplied code then could calculate the difference to now and throw an (time out) exception in a "`requiredTest`" executable. That breaks the execution loop.

Or, a time-out value could be passed at the "@TestFactory" annotaion level and the interpreted internally.

[2017-05-06 21:13] sormuras commented on #431
Or the user may supply a predicate object that is asked before every dynamic test execution whether the execution loop should continue or not.

[2017-05-06 21:37] sormuras commented on #431
The time-out use-case is already achievable via:
[code]

[2017-05-06 21:41] sormuras commented on #431
tl;dr #838 will solve this issue.

[2017-05-07 03:12] Tibor17 commented on #801
We have two issues here. One is corrupted stream and the second is some error which crashed forked jvm which can be seen in dump files *`.dump` and *`.dumpstream`.

[2017-05-07 03:19] Tibor17 commented on #801
See this in logs
[ERROR] Crashed tests:
[ERROR] com.xpn.xwiki.internal.xml.DOMXMLWriterTest
It is obvious that this test could not complete.
Maybe due to `System.exit()` .
The `*.dumpstream` is reported by Maven process because corrupted stream was received by `ForkClient` in Maven process. The `*.dumpstream` can be reported with another name if Maven process sends corrupted stream or forked jvm r

[2017-05-07 07:07] vmassol commented on #801
@Tibor17 The reason I raised this issue is because of the different surefire behavior I get when I run "mvn test" with the junit5 surefire provider (with the vintage engine) and when I run it without it. Without it, the test doesn't crash and the build is successful (even with surefire 2.20). So I raised this issue because I thought that you guys would be interested in ensuring the same behavior s

[2017-05-07 07:36] marcphilipp commented on #801
Sure! However, right now I don't have any idea what causes Surefire to choke when using our provider.

@Tibor17 Do you?

[2017-05-07 08:07] Tibor17 commented on #801
We received blockers and we understood that people corrupt stream which is
used for surefire's internal communication. Dumping the steam which does
not have our markers is the way to prove it. We have also such users which
send such binary stream we recognize as ours and the plugin then hangs.
In the next release I am going to change the format of the stream and add
"magic number". If the magix nu

[2017-05-07 08:26] Tibor17 commented on #801
I do not see the test `DOMXMLWriterTest` in JUnit 5 sources.
Is there any typo?

[2017-05-07 08:30] Tibor17 commented on #801
@vmassol
Try to add `DOMXMLWriterTest.java` with all dependencies it needs to have in a pull request or in separate project with POM and we all should have a look. But it must be isolated from all unnecessary dependencies and code.

[2017-05-07 08:35] vmassol commented on #801
It's here: https://github.com/xwiki/xwiki-platform/blob/master/xwiki-platform-core/xwiki-platform-oldcore/src/test/java/com/xpn/xwiki/internal/xml/DOMXMLWriterTest.java

I'll try to create a smaller project to make it simpler for you to reproduce.

Thanks
-Vincent

[2017-05-07 08:43] Tibor17 commented on #801
Do you reproduce it with Java Agent like in Jenkins?

[2017-05-07 09:02] Tibor17 commented on #801
@marcphilipp
Do you have SNAPSHOT deployments in Maven Central?

[2017-05-07 09:04] sormuras commented on #801
Snapshots are here: https://oss.sonatype.org/content/repositories/snapshots

[2017-05-07 09:06] Tibor17 commented on #801
@vmassol
Pls add SNAPSHOT dependency to JUnit 5 and plugin repository URL.
Thx.

[2017-05-07 12:02] vmassol commented on #801
@Tibor17 Yes, I've been running junit5 SNAPSHOT artifacts since https://github.com/junit-team/junit5/issues/801#issuecomment-299276442. Have you made any recent change that you'd like me to test?

Yes, the error was noticed on a jenkins agent. That's when I reverted my change to support junit5. See https://jira.xwiki.org/browse/XCOMMONS-1189?focusedCommentId=94726&page=com.atlassian.jira.plugin.sy

[2017-05-07 12:37] bedert commented on #672
Perfect - i was just trying to replace my `WeldJunit4Runner` with a JUnit5 equivalent and came across this issue. With the proposed solution I could initialize Weld in the `TestInstanceFactory` and retrieve the instance of the test class from Weld. Just wondering what the best place for Weld  shutdown would be, assuming that Weld is started/stopped once per test class. Probably in a `AfterAllCallb

[2017-05-07 12:55] marcphilipp commented on #671
_in progress_

[2017-05-07 13:09] sbrannen commented on #431
Using a "required test" that throws an exception seems to be a hack to me.

I definitely would not call that intuitive in terms of the programming model.

Similarly, consider what the user's code would look like when implementing a custom `Iterable` instead of returning a stream. At some point the iterable would have to return a "required test" that only throws an exception, and that just seems wr

[2017-05-07 13:21] sbrannen commented on #431
Supporting a user-defined timeout per test factory and/or a predicate that is provided a contextual object (containing information such as number of successful test, number of failed tests, number of aborted tests, number of skipped tests, duration of execution thus far, etc.) would be more intuitive.

[2017-05-07 13:45] sbrannen commented on #671
FYI: changed title and formatted description

[2017-05-07 13:59] sbrannen commented on #672
yes

[2017-05-07 14:06] vmassol commented on #801
@Tibor17 Here's a small project reproducing the problem I have:

[xwiki-junit5-vintage.tar.gz](https://github.com/junit-team/junit5/files/981632/xwiki-junit5-vintage.tar.gz)

Let me know if you can reproduce. Thanks

[2017-05-07 14:07] sbrannen commented on #837
I agree with @marcphilipp: I don't see how this information is specific to the JUnit Platform.

Or, @smoyer64, am I missing something?

[2017-05-07 14:17] sbrannen commented on #436
Currently slated for 5.0 M5 in order to be discussed amongst the team.

[2017-05-07 14:48] marcphilipp commented on #837
On second thought, we could provide a sample project in junit5-samples. Thoughts?

[2017-05-07 15:00] sbrannen commented on #837
Given the request:

... I don't even see how this pertains to JUnit. Unless I'm missing something, this could just as well pertain to JUnit 4, TestNG, etc.

In other words, it's not our job to explain to people how to use features of a build tool or IDE that do not pertain to the JUnit Platform.

So, unless the proposal is updated to address specific needs related to the JUnit Platform, I think we

[2017-05-07 17:24] sormuras commented on #775
AssertJ 3.7.0 now used in master via https://github.com/junit-team/junit5/commit/30581c788501729090f3490fe933013420d943fa

[2017-05-07 17:28] marcphilipp commented on #775
@johnrengelman Are there any updates regarding Shadow 2.0.0?

[2017-05-07 18:19] smoyer64 commented on #837
There are lots of things that don't necessarily pertain to JUnit but will impede adoption ... this suggestion was aimed at the latter.  Can someone with the appropriate privileges add a "won't fix" label?

[2017-05-07 18:19] #837 closed

[2017-05-07 19:59] Tibor17 commented on #801
@vmassol
I've got this in dumpstream:
`Unexpected IOException: 6,1,com.xpn.xwiki.internal.xml.DOMXMLWriterTest,writeVersusWriteOpen,null,null,null`
and
`Unexpected IOException: 2,1,org.junit.platform.surefire.provider.JUnitPlatformProvider,com.xpn.xwiki.internal.xml.DOMXMLWriterTest,null,null,null`
The code 6 and 2 mean `BOOTERCODE_TEST_SUCCEEDED` and `BOOTERCODE_TESTSET_COMPLETED`.
This happens i

[2017-05-08 06:01] marcphilipp opened #843 "Switch to Spotless Groovy formatter"
## Overview

We currently use a custom formatting config for Groovy source files. Now that diffplug/spotless#13 is fixed, we should switch to use GrEclipse formatting for Groovy files.

## Deliverables

- [ ] Change Spotless config to use Groovy extension with GrEclipse formatter settings

[2017-05-08 09:41] sormuras commented on #431
The current iteration of #838 supports a `DynamicTest.dynamicTest()` overload that takes an user-provided `Predicat<Boolean>` that is evaluated after the executable ran. The `Boolean` parameter can easily replaced with the contextual object @sbrannen mentions above.

[2017-05-08 12:05] Tibor17 commented on #801
@vmassol
@marcphilipp
Now I changed the command to `mvn test -DforkCount=0 -e -nsu` and this is the exception:
[code]
AFter I have removed the plugin dependencies I get:
[INFO] Tests run: 1, Failures: 0, Errors: 0, Skipped: 0
[INFO]
[INFO] ------------------------------------------------------------------------
[INFO] BUILD SUCCESS

[2017-05-08 12:11] vmassol commented on #801
@Tibor17 Thanks for looking into this. I'm trying to understand your last 2 messages and whether there's something I can do on my side to make the test pass with junit5+vintage? I don't understand why you're getting this exception in your last test and why surefire would miss some class. Any idea?

Thanks!

[2017-05-08 12:18] Tibor17 commented on #801
@vmassol
@marcphilipp
hm, why you use the dependencies within the plugin?
It must not be there!
The classloader in provider and plugin itself are two different and therefore all dependencies must be in the project, like it always was with junit:4.12 using the scope test.
What you can do is to deploy BOM like Arquillian Universe having dependencyManagement. Once you have it in your POM you can inhe

[2017-05-08 12:24] vmassol commented on #801
@Tibor17 I'm not sure what dependency you're referring to... I'm just following the junit5 tutorial for maven, see section 4.2.2 in http://junit.org/junit5/docs/current/user-guide/#running-tests-build

So I have which matches the doc AFAICS:

[code]

What's wrong?

Thanks

[2017-05-08 12:37] Tibor17 commented on #801
If the provider `junit-platform-surefire-provider` is in plugins dependencies the provider crashes.
I have no idea why it fails but providers like `surefire-junit47` was always documented in plugin dependencies, but not the other dependencies. The provider has SPI and such jar is added to IsolatedClassLoader or to the Manifest of jar of forked JVM.

[2017-05-08 12:43] smoyer64 commented on #801
I've been using that configuration for months and am not having the problem experienced by @vmassol.  I'm still using version 2.19.1 of the ```maven-surefire-plugin``` with JUnit 5 version M4.

[2017-05-08 12:44] Tibor17 commented on #801
Now I used Surefire version 2.19.1 with command `mvn test -nsu -DforkCount=0` and the result is different.
There is difference against 2.20 because you do NOT see test summary.
It looks to me like `System.exit`, notice I used `forkCount=0` in CLI.
[code]

[2017-05-08 12:46] Tibor17 commented on #801
@smoyer64 Do not use dependencies within plugin except for provider.

[2017-05-08 13:00] Tibor17 commented on #801
After I removed only provider `junit-platform-surefire-provider` the test passed successfully.

[2017-05-08 13:27] vmassol commented on #801
@Tibor17 I don't understand. If I remove `junit-platform-surefire-provider` then how does surefire know that it should use the junit5 surefire provider?

In the logs (maven executed with -X) I see it's not using it:

[code]

So I'm pretty sure junit5 wasn't executed...

[2017-05-08 13:27] vmassol commented on #801
@Tibor17 could you paste my modified POM so that I can understand what I should use? Thanks!

[2017-05-08 14:22] Tibor17 commented on #801
Add junit:junit:4.12 instead. With junit5 there are two issues
ClassNotFound (forkCount=0), and PrintStream checkError() return true
otherwise.

On Mon, May 8, 2017 at 3:27 PM, Vincent Massol <notifications@github.com>
wrote:

--
Cheers
Tibor

[2017-05-08 14:23] Tibor17 commented on #801
Any bytecode manipulation, mocking/intercepting and changing ClassLoaders?
Could be ClassNotFoundError.

On Mon, May 8, 2017 at 4:22 PM, Tibor Digana <tibor.digana@googlemail.com>
wrote:

--
Cheers
Tibor

[2017-05-08 14:41] vmassol commented on #801
@Tibor17 sorry but I still don't understand what you mean. My whole goal is to be able to run both junit4 and junit5 tests at the same time (that's why I added the junit5 vintage engine). Isn't that possible?

Re junit 4, I already have the dep in the pom.

[2017-05-08 14:49] Tibor17 commented on #801
In all my posts you could see how I isolated components and identified
problems. The root cause must be found by JUnit5.

On Mon, May 8, 2017 at 4:41 PM, Vincent Massol <notifications@github.com>
wrote:

--
Cheers
Tibor

[2017-05-08 19:04] vmassol commented on #801
@Tibor17 so I've tried to reduce the test to the minimum and here's a test that makes junit5 w/ vintage fails:

[code]

Maybe that can help trace the problem?

Thanks

[2017-05-08 19:09] vmassol commented on #801
So I guess the issue is that it closes the replacement of System.out done by the JUnit5 surefire provider, and then the provider tries to do something on it but failing since it's closed already. Or something like this...

[2017-05-08 19:38] marcphilipp commented on #801
It sure is!

The JUnit 5 Surefire provider does not replace System.out. But we need more time to look into this issue as everyone is busy with their day jobs.

[2017-05-08 20:30] smoyer64 commented on #801
@vmassol - Do you really want to close System.out in your test?  Looking at ```ForkStarter.java``` in the ```maven-surefire-plugin``` source code, it looks like Surefire pipes the forked process' ```OutputStream``` into the controlling process.  I've briefly gone through the class and I'm thinking that by closing ```System.out``` you're also preventing the communication between the parent and chil

[2017-05-08 20:36] Tibor17 commented on #801
This is pipe. Especially if we closed System.in in the fork, the
CommandReader is closed consequently and it suggested the Maven process was
stopped by CTRL+C, the testset the interrupted, ForkStarter will see that
event BYE has not been sent from the fork, and some test crashed in the
middles "Crashed tests:".

On Mon, May 8, 2017 at 10:30 PM, Steve Moyer <notifications@github.com>
wrote:

--
Che

[2017-05-08 21:43] vmassol commented on #801
@marcphilipp I wanted to apologize if I appeared to be pushy. That wasn't my intent. TBH you guys are amazing. You've kept answering all my messages promptly and even during your weekend! Kudos to you all.

[2017-05-08 21:46] vmassol commented on #801
@smoyer64 No I do not want this. It appears that we used the default constructor of DOM4J's XMLWriter in XWiki's code and that default constructor uses System.out as the output stream. I've now refactored our code to not use that constructor and instead to pass some other output stream. The problem no longer appears.

I'll let you guys decide what you want to do regarding this issue. I guess you c

[2017-05-08 22:04] Tibor17 commented on #801
Can you show me in GitHub what exactly was your change?
I guess more users may do the same.

On Mon, May 8, 2017 at 11:46 PM, Vincent Massol <notifications@github.com>
wrote:

--
Cheers
Tibor

[2017-05-08 22:08] sormuras commented on #801
Looks like the change is done in https://github.com/xwiki/xwiki-platform/commit/1eb6481f4e063a48cfb889b51b0b4a5b89a51a31

[2017-05-09 00:37] smoyer64 commented on #801
@vmassol - I'm glad to hear your problem has been solved!

I'm going to have to take a look at some of my code too as I have a JUnit 5 extension that allows the testing of what's sent to the stdout and stderr.  I suspect there are two factors that have kept me from experiencing this problem.  So far, JUnit 5 doesn't run tests in parallel, so it doesn't need to fork another JVM process.  And even o

[2017-05-09 00:49] smoyer64 opened #844 "Check Travis build configuration for compromised Github tokens"
See https://blog.travis-ci.com/2017-05-08-security-advisory.

[2017-05-09 05:17] fvgh commented on #843
If you like can provide you with a proposal (PR) next week. We would need to switch to spotless 3.3.2, since I will need the fix for diffplug/spotless#106.

[2017-05-09 05:34] marcphilipp commented on #843
That would be great! 👍

[2017-05-09 05:45] fvgh commented on #843
Happy that you are interested in my work.
But I just used is on a very small code base till now.
Thanks for volunteering to be my guinea pig :wink:.
Just kidding. I will have a careful look, but it might be possible that I find some issues, so that we need to postpone this issue if I still need to fix some minor things in my diffplug/spotless#13 implementation.

[2017-05-09 06:08] marcphilipp commented on #843
Sure, no worries.

[2017-05-09 06:47] vmassol commented on #801
ok, I have a new problem now but it seems different. Seems using surefire 2.20 + JUnit5 is causing a java heap space issue, see https://jira.xwiki.org/browse/XCOMMONS-1189?focusedCommentId=94953&page=com.atlassian.jira.plugin.system.issuetabpanels:comment-tabpanel#comment-94953

Note that running the exact same build by commenting out the following part doesn't exhibit the "Java Heap Space" issue

[2017-05-09 07:48] sormuras opened #845 "Make Assertions.fail usable as an expression"
## Overview

Change return value of `Assertions.fail` from `void` to `<V> V`, in order to make `fail` directly usable in places where an expression is needed. The original request can be found [here](https://github.com/forax/pro/commit/eb5f1b7b6df63c75ffa7a14a61d8d4c596b627bc#commitcomment-22058065).

Like:
[code]
which would allow end-users to write:
[code]
without creating a lambda on their own.

[2017-05-09 07:56] sormuras opened #846 "Add Assertions.assertTrue/False() taking an user-defined Predicate instance"
## Overview

Instead of `assertTrue(StableList.of().isEmpty())` an `assertTrue/assertFalse` that takes a predicate will make things more clear, like:

[code]

The original request can be found [here](https://github.com/forax/pro/commit/eb5f1b7b6df63c75ffa7a14a61d8d4c596b627bc#commitcomment-22058065).

The signature of `assertTrue` is
[code]

## Deliverables

- [ ] Implement and test `Assertions.as

[2017-05-09 08:13] #671 closed

[2017-05-09 09:10] nicolaiparlog commented on #846
Just my 2 ct but I don't think this is a particularly good idea. While adding complexity to the assertion it does not even make it easier to read. I know it's an easy addition but that does not mean it should be implemented.

Maybe another example would be better?

[2017-05-09 09:18] nicolaiparlog commented on #431
As far as I know the dynamic test API makes no promise about when the tests will be executed - it is possible to change the implementation so that the factory method is called and the dynamic tests are executed much later. I think this is a good thing and maybe should even be documented.

If you share that view, any implementation of this feature should make sure to not accidentally rely on the im

[2017-05-09 09:20] nicolaiparlog commented on #837
@smoyer64 I think a well-written blog post would do the trick. If you want to collaborate on one, you know how to reach me. :wink:

[2017-05-09 10:25] sormuras commented on #431
Too many concerns and open ends with #838

 _"we should think it over more and brainstorm about the user experience and programming model before doing any actual coding. In other words, we need to design the feature first."_

[2017-05-09 13:18] smoyer64 opened #848 "Update JUnit 5 dependency recommendations in Maven section of the Users Guide"
- (X) **Bug report.**

When I submitted https://github.com/junit-team/junit5-samples/pull/16 (Alters POM to minimize test-compile dependencies), I purposely included only the ```junit-jupiter-api``` artifact as a test-scoped dependency and included the other packages that were needed at test-execution time as a dependency of the ```maven-surefire-plugin```.  My intention was to only expose the cla

[2017-05-09 13:41] smoyer64 commented on #675
@nicolaiparlog and @smoyer64 are collaborating as the maintainers of https://github.com/junit-pioneer/junit-pioneer.  Feel free to submit useful extensions, libraries and frameworks there!

[2017-05-09 13:41] #675 closed

[2017-05-09 14:44] johnrengelman commented on #775
@marcphilipp I'm going to publish it tonight when I get home.

[2017-05-09 16:08] sormuras commented on #600
[ModuleDescriptor](http://download.java.net/java/jdk9/docs/api/java/lang/module/ModuleDescriptor.html) is here to help:
- `Optional<String> rawVersion​()` Returns the string with the possibly-unparseable version of the module
- `toNameAndVersion` Returns a string containing the module name and, if present, its version.

[2017-05-09 17:35] Tibor17 commented on #848
We can check `AbstractSurefireMojo` if really needed. This is to my memory that we pickup such artifact which has Surefire SPI. This artifact is provided in classpath when you run your test. Surefire documented adding provider in plugin's dependency section.

is there any reason to not to use project dependencies?

[2017-05-09 17:51] Tibor17 commented on #848
Pls follow https://github.com/junit-team/junit5-samples/pull/26.

[2017-05-10 08:58] danielolszewski opened #850 "EnumSource filtering"
## Overview

Many times I run into a situation where some test should be repeated only for a subset of enum values. Currently we can filter which values should be used for a test using the `names` attribute, but this solution has one big drawback. Every time someone adds a new value to the enum, the same value must be added to the test in the `names` attribute. If the developer forgets to do so, t

[2017-05-10 12:25] sormuras commented on #850
I like to extend the filter options as well. Locally, I'm playing with an `EnumSource.ConstantSelectionMode` that can easily enhanced in the future:
[code]

[2017-05-10 13:46] ghost opened #851 "Introduce `@RangeSource` for parameterized tests"
## Overview

I was reading up on `@ParameterizedTest` and considering the `@ValueSource` test.

If you wanted to run a test over a large range of values, it could be quite a lengthy process to write out each test value.

Would it be worth including a `@RangeSource` test? Something like:

[code]

I'm happy to have a go at creating a PR for this if it would be useful.

[2017-05-10 14:09] marcphilipp commented on #851
I think this is already sufficiently covered by using a method source:

[code]

However, we could add support for `IntStream` etc. directly.

[2017-05-10 14:11] marcphilipp commented on #851
@smoyer64 @nicolaiparlog Maybe something for [junit-pioneer](https://github.com/junit-pioneer/junit-pioneer)?

[2017-05-10 14:35] marcphilipp commented on #851
I've added support for returning a "primitive" stream directly in 66cfa8aecb6dcadacd4c2c09eaa3f1f3855db080.

[2017-05-10 18:26] marcphilipp commented on #846
This is already supported in AssertJ and more readable, too:

[code]

[2017-05-10 18:28] marcphilipp commented on #846
**Team Decision:** We don't want to introduce additional complexity to Jupiter's Assertions. Please use AssertJ. 🙂

[2017-05-10 18:28] #846 closed

[2017-05-10 18:36] marcphilipp commented on #851
**Team Decision:** Closed in favor of junit-pioneer/junit-pioneer#44.

[2017-05-10 18:36] #851 closed

[2017-05-11 07:39] sormuras commented on #850
Usage [demo](https://github.com/junit-team/junit5/pull/852/files#diff-0fa4104a4390c34de08dfe177d56f88c):
[code]

[2017-05-11 07:46] danielolszewski commented on #850
I really like this proposal. Very clean and readable.

[2017-05-11 12:02] Vazzilena commented on #549
Hey junit team, will the fix for this issue be in milestone 5 or milestone 6?

[2017-05-11 20:30] sormuras commented on #850
Addressed via PR #852 -- just merged into master with https://github.com/junit-team/junit5/commit/dea8473ffa912510c51cd2efc24f753206670b80

[2017-05-12 12:59] manueljordan commented on #752
Thanks by the link. I appreciate your support. Thanks again

[2017-05-13 13:24] sbrannen commented on #850
Reopening due to discovered issues.

[2017-05-13 13:25] sbrannen commented on #850
The "no duplicate constant names" precondition does not actually test for duplicates.

For example, changing the existing test for this precondition to the following still causes the test to _pass_.

[code]

[2017-05-13 13:58] sbrannen commented on #850
Never mind: I thought it was supposed to detect duplicate _valid_ enum constants names, but it apparently was only ever intended to check that the user didn't supply duplicates.

Since the _validation_ of the supplied constant names is applied later, I think we have all bases covered here.

Closing this issue again.

[2017-05-13 13:58] #850 closed

[2017-05-14 09:21] marcphilipp commented on #833
_in progress_

[2017-05-14 09:59] #833 closed

[2017-05-14 14:07] marcphilipp commented on #844
Thanks for the pointer! However, since we don't use any secrets in our Travis build, we're not affected.

[2017-05-14 14:07] #844 closed

[2017-05-15 18:12] #775 closed

[2017-05-16 07:18] nipafx opened #853 "Create extension point for ArgumentConverter"
As it stands argument converters need to be applied (with `@ConvertWith`) either to a custom annotation (at least it looks like that; couldn't make it work) or to the argument. When the former is not an option (for example because you can't make it work :wink:), the latter quickly becomes repetitive.

An extension point that allows registering argument converters as the class and method level (muc

[2017-05-16 12:10] leonard84 commented on #497
I'd like to add some wishes here:

1. It should be possible to use injected extensions, e.g. via `@Inject`/`@Autowired`
2. It should be possible for the test code to interact with the extension object similar to `TemporaryFolder#newFile(String)`

[2017-05-17 12:55] marcphilipp commented on #853
Please take a look at `JavaTimeConversionPattern` and `JavaTimeArgumentConverter` for an example of a custom annotation. It should really not be that hard to make it work. 😉

I'm not sure it makes sense to register `ArgumentsSources` on the class level since it would require all methods to have take the same parameter types.

However, I think registering additional implicit argument converters mak

[2017-05-17 14:10] marcphilipp commented on #549
This could be solved using a custom `Filter`. This is what IntelliJ does:
https://github.com/JetBrains/intellij-community/blob/master/plugins/junit_rt/src/com/intellij/junit4/JUnit4TestRunnerUtil.java#L234

It depends on when we'll find time to work on this. For now, it's slated for M6. Any help would be appreciated! 😉

[2017-05-17 14:27] marcphilipp commented on #801
Please do!

[2017-05-17 14:27] #801 closed

[2017-05-17 14:29] vmassol opened #855 "Java heap space issue"
Note: Issue created from #801

Seems using surefire 2.20 + JUnit5 is causing a java heap space issue, see https://jira.xwiki.org/browse/XCOMMONS-1189?focusedCommentId=94953&page=com.atlassian.jira.plugin.system.issuetabpanels:comment-tabpanel#comment-94953

Note that running the exact same build by commenting out the following part doesn't exhibit the "Java Heap Space" issue so for some reason the

[2017-05-17 14:31] marcphilipp commented on #855
Can you please post step-by-step instructions how I can reproduce this locally? Can you please take a heap dump and share it with us?

[2017-05-18 19:04] #754 closed

[2017-05-18 19:17] marcphilipp opened #856 "Revise declarations of all @API annotations"
## Overview

Right now, most of our API is marked as "experimental".

## Deliverables

Before the GA release...

- [x] Remove `@API` declarations on non-public types.
- [x] Go through all public APIs and decide on the correct `value` of all `@API` annotations.
- [ ] Apply `@API` annotations to Groovy source code for the Gradle plugin.
- [x] New section/warnings in User Guide for _experimental_ API

[2017-05-18 20:21] abarhub opened #857 "Associate a test with a method"
Hello,

Why i can't set the method tested in the Test annotation ?

I think it is a good practice to test a single method.
And with that, you can run all test associate with a method.
It can be a string in the annotation.

For exemple :
`
@Test(method="Class1.method")
public void test1() {
...
}
`

Thank you

[2017-05-18 20:40] jbduncan commented on #857
Hi @abarhub, can you explain what purpose this would serve? Your current explanation is very sparse.

[2017-05-19 03:58] vvelrath commented on #512
Our team has been using ANT to run the junit tests. Now that I am upgrading to junit 5 to try out dynamic tests with the @TestFactory annotation, and the ANT task is failing with the following exception
    [junit] Testcase: initializationError took 0.003 sec
    [junit] 	Caused an ERROR
    [junit] No runnable methods
    [junit] java.lang.Exception: No runnable methods
    [junit] 	at java.lang.

[2017-05-19 04:03] sormuras commented on #512
@vvelrath You could use the [Console Launcher](http://junit.org/junit5/docs/current/user-guide/#running-tests-console-launcher) standalone JAR from within ANT as a work-around. For example, use [ANT java talk](https://ant.apache.org/manual/Tasks/java.html) to try out `@TestFactory`.

[2017-05-19 21:00] codecholeric commented on #839
Sorry, that it took me a while to answer!! Thanks for taking the time to look into this :smiley: I'm not amazed, that I did not get across clearly, it's not the easiest thing to describe somehow :wink:

By "note" I just meant to set and store the current seed somewhere for later (set and store static seed -> static init -> set and store instance seed -> instance init)

The `BeforeAllCallback` is e

[2017-05-21 11:42] nicolaiparlog commented on #853
Thanks for the hint, that worked fine. I was so stuck in the extension model thinking that I applied the custom annotation to the method, not the argument. But my point still stands, then: I have to apply that annotation to every single parameter that wants to use that converter.

Unless I'm missing something that would only be the case if the `ArgumentConverter` API was left unchanged. I wanted t

[2017-05-21 12:20] nicolaiparlog commented on #839
Thanks for clearing this up, this is an interesting problem. :smiley:

Forgot to answer that... No, not at all. It's of course up to people with more knowledge of the internals (summoning @sormuras) to decide that but I see no conceptual reason why that would be a bad idea.

Still, gnawing on your problem as it is... Did you ever consider injecting `Random` into setup methods? I created a little [

[2017-05-22 13:38] nicolaiparlog opened #858 "Remove separate artifact for parameterized tests"
Parameterized tests require a dependency on `junit-jupiter-params`, which is surprising and will surely be seen as superfluous by many users. Doing some research I only found #728, which references a team call but gives no background. I assume there are good reasons for that decision (in which case this issue might force them into the light) but until then I will make a suggestion based on my igno

[2017-05-22 16:10] mfulton26 commented on #780
If concurrent test execution becomes supported then stdout/stderr will have much less value. I like how `TestReporter` is independent of such but `System.out` cannot be so. It is almost as if what is really needed is something like a `TestReporter.out`. Users would have to redirect their logging, etc. to `TestReporter.out` instead of `System.out` (and same for a `TestReporter.err`).

[2017-05-22 18:47] sbrannen commented on #855
Please note that `junit-platform-surefire-provider:1.0.0-M4` is not supported with `maven-surefire-plugin:2.20`.

`junit-platform-surefire-provider:1.0.0-M4` is only supported with `maven-surefire-plugin:2.19`.

If you want to use `maven-surefire-plugin:2.20` you will then have to build against a snapshot of the `junit-platform-surefire-provider` -- for example, version `1.0.0-SNAPSHOT`.

[2017-05-23 11:59] smoyer64 commented on #858
```@TestTemplate```, ```TestTemplateInvocationContext``` and ```TestTemplateInvocationContextProvider``` are all in ```junit-jupiter-api``` and provide the interfaces I needed for upREST.  I guess I'm viewing ```junit-jupiter-params``` as one implementation of ```@TestTemplate```.  To be fair, I've been using the ```JUnitParams``` runner for so long that I don't really notice it but I'm wondering

[2017-05-23 12:49] nicolaiparlog commented on #858
Yes, `junit-jupiter-params` is just one implementation of test templates and maybe that's why it's in its own artifact (although what about `@Disabled` and execution conditions, then?). I assumed that was not the reason, though. If it is, I will reconsider and maybe make another argument.

If the rationale is indeed to keep out the dependency on Univocity CSV parsing, then my proposal is this:

*

[2017-05-23 13:11] smoyer64 commented on #858
I have to admit I like the idea of parameterized tests being "built in".

[2017-05-23 13:53] nicolaiparlog opened #861 "Create more informative exception for invalid parameterized test name"
The name given to `@ParameterizedTest` is used by `MessageFormat` to create the final name. If the string contains an error, e.g. missing a closing bracket, the result is a not particularly informative exception:

[code]

It might be helpful to users to make it blatantly obvious where the problem comes from because I think the tendency is to look into the tests instead of at the setup.

[2017-05-25 08:13] nipafx opened #864 "Support declarative extension registration on fields and parameters"
## Overview

Original title: "Support ParameterResolver registration via @ResolveWith on parameter"

While experimenting with parameter resolvers I realized that they can not be applied like argument converters can, i.e. by annotating the parameter directly. This complicates their application and implementation if they are "annotation based".

An example is the `@Mock` proof of concept. The resolv

[2017-05-25 08:26] sormuras commented on #864
Like?
[code]

[2017-05-25 08:47] nicolaiparlog commented on #864
Yes. But without registering any parameter resolver on the class level and without the chance of `@Random` conflicting with them.

[2017-05-26 06:05] aaschmid commented on #518
Seems that `@TestTemplate` (#14) is an alternative solution for this ...

[2017-05-26 09:25] nicolaiparlog commented on #518
@aaschmid It would be interesting to give it a try and report back whether the API is powerful enough.

[2017-05-26 10:16] erikhakansson opened #865 "Upgrade Gradle version to 4.0"
When using Gradle 4.0, a deprecation warning is displayed for the junit-platform-gradle-plugin.

Here's the full stack trace:

<details>

[code]

</details>

Here's Gradle's API reference documenting this deprecation and what can be done to workaround.
https://docs.gradle.org/4.0-milestone-2/release-notes.html#deprecated-apis

[2017-05-26 11:41] aaschmid commented on #518
Of course, but first PoC is promising :-)

[2017-05-26 13:04] sormuras opened #866 "Set JPMS module names in all published artifacts"
## Overview

The artifacts listed here https://github.com/junit-team/junit5#dependency-metadata should define their JPMS module names.

http://openjdk.java.net/projects/jigsaw/spec/issues/#ModuleNameInManifest

See http://mail.openjdk.java.net/pipermail/jpms-spec-experts/2017-May/000687.html for details.

## Naming proposal

Follow reverse DNS naming convention described here http://blog.joda.org/

[2017-05-27 08:07] wicksome opened #868 "Transaction roll back is not working in test case in @Nested class of JUnit5"
when use spring-boot, JUnit5 and Mybatis, Rollback of test case in nested class is not working.

[code]

(1) is working rollback. And following log is output.

	2017-05-26 22:21:29 [INFO ](TransactionContext.java:136) Rolled back transaction for test context ...

But, (2) is not working. I want to be able to roll back into `@Nested`.
I have solved it in the following way, is this normal?

[code]

[2017-05-27 10:49] evantill opened #869 "honor @Disabled on custom annotations"
## Overview

does not honor custom tags
tagging a test with ```@org.junit.jupiter.api.Disabled``` will work as expected but using a custom ```@MyCustomDisabled``` tag will not be honored.

Steps to reproduce the bug:

- create a custom tag
- tag a junit5 test with it
- run the test

custom tag example:
[code]

- Expected:  not to run the test
- Actual: test executed

Tested using maven and **junit

[2017-05-27 11:19] marcphilipp commented on #869
You're missing `@Retention(RUNTIME)`.

[2017-05-27 11:19] #869 closed

[2017-05-27 11:21] sormuras commented on #425
Strict module boundaries and JUnit 5 works like a charm: https://github.com/forax/pro/tree/master/src/test/java

[2017-05-27 12:26] evantill commented on #869
thank you and sorry for wasting your time.

[2017-05-27 12:29] marcphilipp commented on #869
No worries! Sorry for my very brief answer. 🙂

[2017-05-28 12:14] sbrannen commented on #868
For future reference, please do not report issues about Spring in the JUnit repository.

The best place to report issues about Spring is Spring's own JIRA issue tracker. ;-)

[2017-05-28 12:15] sbrannen commented on #868
Closing this issue since it is already addressed in Spring's issue tracker as
[SPR-15366](https://jira.spring.io/browse/SPR-15366).

[2017-05-28 12:15] #868 closed

[2017-05-28 12:36] sbrannen commented on #865
Thanks for bringing this to our attention.

I've added it to the general backlog for the time being.

[2017-05-28 13:10] nicolaiparlog commented on #868
That was my fault. I [commented](https://stackoverflow.com/questions/44203244/transaction-roll-back-is-not-working-in-test-case-in-nested-class-of-junit5#comment75427304_44204171) on the StackOverflow question and recommended to open an issue here. Sorry for that.

[2017-05-28 14:12] sbrannen commented on #866
When you say...

I'm assuming you mean:

- `junit-platform-commons` ➡️ `org.junit.platform.commons`

😉

[2017-05-28 17:35] sormuras commented on #866
Too much copy'n paste...

[2017-05-30 12:21] bokysan commented on #607
Let me put my kettle to the flame: dependencies do not make a lot of sense when writing **unit** tests. However, I believe they are essential for **integration** tests.

Let me explain:
- I agree unit tests should be **completely atomic** -- e.g. they shouldn't depend on any specific state of the component or previous tests.
- However, **integration tests _are often not atomic_**: when running a s

[2017-05-30 12:58] mlevison commented on #607
Boky - I've got 5 minutes before the start of a class I'm running.

Suggestion, use the Junit5 capability for different engines. Implement an
integration engine. As separate engine it will be harder people to
accidentally misuse.

Sorry for the brevity.

Cheers
Mark

On May 30, 2017 8:21 AM, "Boky" <notifications@github.com> wrote:

[2017-05-30 19:31] nicolaiparlog commented on #371
I had a discussion with @sormuras, in which he convinced me that dynamic tests are not quite what I thought they were. Instead of seeing them as a way to easily create complex test plans at run time (which they are currently not and lacking this issue and #378 can't be) it makes more sense to use them to break longer tests into smaller pieces - a nice to have, not important infrastructure.

As suc

[2017-05-30 20:04] nicolaiparlog opened #871 "Create Container Template Extension Point"
Test templates are a great way to create extensions that generate test cases per method. If an extension wants to generate suites of tests per class, though, this is not easily possible. I propose to implement a container template extension point that functions similarly to test template:

* it defines the number of executions `n` - but in this case per container, which makes Jupiter work all its

[2017-05-31 10:30] sormuras opened #872 "ParameterResolutionException when non-String arguments are used"
## Overview

Converting arguments to [human readable formats](https://github.com/junit-team/junit5/commit/4116a6be2822df730a113dce611f0f88b6900b07#diff-bad02b6a1de0377075f17a70e70343e2R45) introduced a regression that caused following use-case to break:
[code]
Source: https://stackoverflow.com/questions/44275057/can-collections-iterables-streams-be-passed-into-paramterizedtests

## Deliverables

-

[2017-05-31 10:42] #872 closed

[2017-05-31 19:50] sormuras commented on #865
@erikhakansson can you please look at #873 -- I don't see the deprecation warnings you posted here. Do I need to set an option/flag when running Gradle to get the deprecation warnings?

[2017-06-02 00:17] thiagogcm commented on #865
I guess you already fixed it in your commit
https://github.com/junit-team/junit5/pull/873/files#diff-9aa77cd7dadba00b2b057304763c811cR96

[2017-06-03 21:40] sormuras commented on #866
3 module names do not match their super [package names](https://twitter.com/jodastephen/status/870888939091103744).

## junit-jupiter-migration-support

Automatic-Module-Name: `org.junit.jupiter.migration.support`
Contains classes in packages that start with: `org/junit/jupiter/migrationsupport/**/*`

- [ ] rename Automatic-Module-Name to `org.junit.jupiter.migrationsupport` without the dot before

[2017-06-04 04:11] marcphilipp commented on #866
Looks good to me! 👍

[2017-06-04 04:17] jodastephen commented on #866
"all-in-one" or "uber" jar files should not have the MANIFEST.MF entry, as they are unsuitable for the module path.

Shaded jars do need to be under the main super-package. It may be worth using `org.junit.platform.console.shaded.joptsimple` to emphasise what has happened.

[2017-06-04 08:28] sormuras commented on #866
Thanks for the review!

- Rename sub-project directory from `junit-jupiter-migration-support` to `junit-jupiter-migrationsupport` or treat it as a special case in the integration test?
- Move shaded joptsimpel to `org.junit.platform.console.shaded.joptsimple`
- Remove `AutomaticModuleName` from standalone JAR an skip it when testing the module names.

[2017-06-04 09:01] sormuras commented on #866
All three items went into https://github.com/junit-team/junit5/compare/issues/866_package_names?expand=1

[2017-06-04 11:02] shakuzen commented on #855
@marcphilipp
Here is a small project that reproduces the (I believe) same issue: https://github.com/shakuzen/junit-surefire-heap
As the README states, just running `./mvnw test` will reproduce.

This may be more of a Surefire 2.20 issue than a JUnit 5 issue*, but I personally was not able to reproduce it with JUnit 4 and Surefire 2.20.
In my reproduction example, the equivalent test in JUnit 4 wor

[2017-06-06 08:45] ksuzu opened #874 "Custom gradle task for run jUnit 5 tests"
Hello!
I need to have a custom task in a gradle script for running integration tests of a project.
Can you suggest how to create another gradle task (with different name, not "junitPlatform") with another filtration settings? I mean that I want to have two tasks: 1) one for fast tests and 2) for integration_test.
I think it will be like a:
task IntegrationTest {
    filters {
        engines {

[2017-06-07 06:52] jankotek commented on #769
Also please note that it tries to execute JUnit 3 classes which extends TestCase

[2017-06-07 10:44] marcphilipp commented on #769
That's actually on purpose. Why shouldn't it?

[2017-06-07 11:23] jankotek commented on #769
@marcphilipp I forgot to add **abstract** classes which extends TestCase

[2017-06-07 13:01] sormuras commented on #866
Addressed via #875

[2017-06-07 13:01] #866 closed

[2017-06-08 18:11] #831 closed

[2017-06-08 20:18] sormuras commented on #865
Found a single deprecation warning when upgrading to 4.0-rc-2:
[code]

[2017-06-09 08:00] erikhakansson commented on #865
Sorry for not getting back to you. I've been away. I'll try to have a look at it this evening. But as @thiagogcm mentioned, it looks like my issue should be solved by your previous commit.

I'll report back!

[2017-06-09 08:04] sormuras commented on #865
No problem!

Only a single warning is left: somewhere in the `documentation` project...

[2017-06-09 08:53] ctapobep opened #876 "Improve error message if multiple "test" annotations are present on a method"
For the following test two descriptors will be created -- one for `@ParameterizedTest` and another for `@Test`:

[code]

The parameterized test passes, while the other one fails because JUnit Juiter cannot resolve the parameter:

[code]

I don't know if it's a bug or a feature, but because I didn't know about this I spent an hour debugging JUnit. I assume many more people could step on this, so wo

[2017-06-09 09:09] jochenchrist opened #877 "Upload Gradle Plugin to plugins.gradle.org to support Gradle DSL"
I'd be great to use the nice [Gradle Plugin DSL](https://docs.gradle.org/3.5/userguide/plugins.html#sec:plugins_block) for running JUnit Platform in Gradle builds.

I suggest to upload the _junit-platform-gradle-plugin_ to https://plugins.gradle.org

Instead of
[code]

the build.gradle could then look like:

[code]

Which is much more compact.

[2017-06-09 09:11] sormuras commented on #877
Duplicate of https://github.com/junit-team/junit5/issues/768

[2017-06-09 09:11] #877 closed

[2017-06-09 09:15] jochenchrist commented on #768
The plugin id should simply be
[code]

as the suffix in `.gradle.plugin` is quite obvious in the Gradle plugin repo.

[2017-06-09 09:19] sormuras commented on #768
I really hope, after the [4.0](https://docs.gradle.org/4.0-rc-2/release-notes.html) dust settles, the native/core plugin will be designed and implemented: https://github.com/gradle/gradle/issues/1037

[2017-06-09 18:57] jkschneider opened #878 "Introduce support for parameterized classes"
## Overview

Currently, the target of `@ParameterizedTest` is constrained to methods. When creating technology compatibility kits, it would be awesome to be able to apply this (or a similar annotation) to the test class so that all tests in that class are parameterized the same way.

## Proposal

Rather than:

[code]

Something like:

[code]

## Related Issues

- #14
- #871
- #1141
- #3157
- #4320

[2017-06-10 08:50] fvgh commented on #843
@marcphilipp Sorry Marc, I am not familiar with the JUnit PR cycle. Is there anything your are waiting for regarding #860? I currently waiting for a feed back whether the proposal is as such acceptable before applying the changes agreed upon (like [this finding](https://github.com/junit-team/junit5/pull/860#pullrequestreview-39802658)).

[2017-06-10 13:23] marcphilipp commented on #843
@fvgh Sorry for the delay! We were just busy with other things. I've reviewed #860 now.

[2017-06-10 13:24] marcphilipp commented on #878
I can imagine supporting something like

[code]

Would that suit your needs?

[2017-06-10 13:55] marcphilipp commented on #876
Agreed, there should definitely be a better error message.

[2017-06-10 14:00] fvgh commented on #843
@marcphilipp I did not want to rush the things, was just not sure whether you guys waited for something I should do. Thanks for the review. There is something I want to check on the [auto paddedCell feature](https://github.com/diffplug/spotless/blob/master/PADDEDCELL.md) applied by Spotless, before I answer your review comments.

[2017-06-10 14:01] marcphilipp commented on #843
Sure, no worries.

[2017-06-10 14:06] fvgh commented on #843
Last question: Are you (in a separated PR) interested to apply the formatter on the Gradle files as well?

[2017-06-10 14:07] marcphilipp commented on #874
Unfortunately, that's currently not very easy to do. The medium-term plan is to get Gradle core support so it will be able to configure an additional test task.

Right now, you can define your own task for the integration tests and use `ConsoleLauncher` directly as described in https://github.com/junit-team/junit5/issues/700#issuecomment-283374073.

I'm closing this issue for now but feel free to

[2017-06-10 14:07] #874 closed

[2017-06-10 14:08] marcphilipp commented on #843
Apply the formatter? I thought that was what #860 is doing, isn't it? I'm sure I'm missing something. Please try to clarify. 🙂

[2017-06-10 14:10] marcphilipp commented on #855
@Tibor17 Are you aware of a memory leak in Surefire 2.20 as claimed by Spring Boot (see above)?

[2017-06-10 14:14] marcphilipp commented on #871
Defining `@ArgumentsSource` on the test class (as proposed in #878) would be an equivalent solution, right?

[2017-06-10 14:30] fvgh commented on #843
Currently it only [selects the groovy files](https://github.com/junit-team/junit5/pull/860/files#diff-c197962302397baf3a4cc36463dce5eaR418).
Question is, whether you want to have a (slightly different) configuration for *.gradle as well.

[2017-06-10 14:33] marcphilipp commented on #848
Closing because the current recommendations work fine (see https://github.com/junit-team/junit5-samples/issues/25#issuecomment-307568647 for details).

[2017-06-10 14:33] #848 closed

[2017-06-10 14:36] marcphilipp commented on #843
Sorry, I mixed up Gradle and Groovy... 🙈

A formatting check for Gradle files sounds like a good idea! Please open a new issue/PR for that if you have time!

[2017-06-10 14:41] marcphilipp commented on #618
@ehborisov @baev Since M4 you can register extensions via `ServiceLoader` (see http://junit.org/junit5/docs/current/user-guide/#extensions-registration-automatic). Can you please try and check if the lifecycle callbacks (see http://junit.org/junit5/docs/current/user-guide/#extensions-lifecycle-callbacks) are sufficient for your use case?

[2017-06-10 14:43] fvgh commented on #843
Ok. Will come back to you on #860 next week (no time this weekend). When this issue is solved to everybody's convenience, I'll provide you with another PR. The difference between groovy and gradle is just that the import sorter and license header check needs to be removed.

[2017-06-10 14:51] marcphilipp commented on #769
@jankotek Thanks for reporting. In 811ab782c6651f89a964c23db164f71ec109b173 I've now added another test to ensure that this has been fixed (in M5), too.

[2017-06-10 14:54] jkschneider commented on #878
I think that is a good solution.

[2017-06-10 14:58] marcphilipp opened #879 "Surefire: TestPlanScannerFilter should only accept test classes with non-empty test plans"
Right now, the Surefire provider tries to execute every test class that satisfies the naming pattern because it has no way of knowing whether the test plan for the test class contains any nodes that are going to produce dynamic tests.

Once #508 is solved, the `Predicate` in `TestPlanScannerFilter` should be changed to use the new API.

This is a follow-up for #769.

## Deliverables

- [ ] `TestPl

[2017-06-10 14:58] marcphilipp commented on #769
I've created #879 as follow-up to improve the Surefire provider.

[2017-06-10 14:58] #769 closed

[2017-06-10 15:03] marcphilipp commented on #419
@sbrannen Any news on this one? Is it still _in progress_?

[2017-06-10 15:32] Tibor17 commented on #855
No we dont have any leak.

[2017-06-10 15:38] vmassol commented on #855
@sbrannen thanks. Yes, I'm using `maven-surefire-plugin:2.20` with `junit-platform-surefire-provider`version `1.0.0-SNAPSHOT` (see thread  #801 for details).

Similar to @shakuzen, I get the Java Heap space only with surefire 2.20 and `junit-platform-surefire-provider`version `1.0.0-SNAPSHOT`. I don't get it with surefire 2.19 and JUnit4 or surefire 2.20 and JUnit4.

[2017-06-10 15:44] Tibor17 commented on #855
Guys find the root cause. 2.20 is a big change. I have no idea what leaks.

On Sat, Jun 10, 2017 at 5:38 PM, Vincent Massol <notifications@github.com>
wrote:

--
Cheers
Tibor

[2017-06-10 15:49] vmassol commented on #855
@Tibor17 I'm just trying to help you guys stabilize JUnit5 by reporting issues before you release JUnit5 as final (so that it's as stable as possible). However I don't have the time to help you debug it at this point, I'm quite busy with XWiki development itself... :) If I get some time in the future I'll sure help out more but don't wait for me.

[2017-06-10 15:50] marcphilipp commented on #855
Since Spring Boot also has a problem with 2.20 (without using JUnit 5), the link is most likely in Surefire and not in JUnit 5.

@Tibor17 Can you get in touch with Spring Boot?

[2017-06-10 15:52] vmassol commented on #855
@marcphilipp Are you sure that's what @shakuzen said? AFAICS he said:

So to me it's more a JUnit5 issue (at least a JUnit5 + Surefire 2.20 combination issue).

[2017-06-10 15:57] marcphilipp commented on #855
Well, Spring Boot seems to think it's Surefire: https://github.com/spring-projects/spring-boot/issues/9414

[2017-06-10 16:02] Tibor17 commented on #855
You can use some tool from Oracle or divide the commit list, rebuild
surefire, test and find the commit. Difficult.

On Sat, Jun 10, 2017 at 5:57 PM, Marc Philipp <notifications@github.com>
wrote:

--
Cheers
Tibor

[2017-06-10 16:51] ctapobep opened #880 "JUnit 5 is 10x slower than JUnit 4"
# Code to reproduce

## JUnit Jupiter

[code]

## JUnit 4

[code]

# Results

**Results** on my machine (i5): ~10sec (JUnit5) and ~1sec (JUnit4).

# Environment

* IntelliJ 2017.2 EAP (see screenshot on how to setup 1K repeats)
* JUnit 4.11
* Jupiter 5.0.0-20170610.145620-613
* Platform Launcher 1.0.0-20170610.145632-612
* Platform Engine 1.0.0-20170610.145629-613
* Surefire Provider 1.0.0-2017061

[2017-06-10 17:00] sbrannen commented on #419
Yep. Still in progress.

[2017-06-10 19:38] marcphilipp commented on #855
Ok, I checked out @shakuzen's [sample project](https://github.com/shakuzen/junit-surefire-heap).

Here are a couple of things I observed:

1. The OutOfMemoryError happens in the Maven JVM, not in the forked JVM. That means that there's no memory leak in JUnit 5.
2. In the heap dump, there's a single very large (>1GB) char array that contains the same content all over again "systemEnvironment]syste

[2017-06-10 20:10] deen13 opened #881 "Unable to setup dev environment"
## Extending the gradle plugin

I would be very grateful if someone could help me in setting up my development environment.

Setup:
- Groovy 2.4.9
- IntelliJ IDEA 2017.1 - Build #IU-171.3780.107, built on March 22, 2017
- JRE: 1.8.0_112-release-736-b13 x86_64
- JVM: OpenJDK 64-Bit Server VM by JetBrains s.r.o
- Mac OS X 10.12.5
- Gradle 3.4.1

### What ive tried

- Resolving the dependencies by `g

[2017-06-10 20:22] sormuras commented on #880
Thanks for the report, @ctapobep -- what happens to the timings when you leave IDEA out off the setup?

Maybe you want to setup a [JMH](http://openjdk.java.net/projects/code-tools/jmh/) suite to compare JUnit 4 and JUnit Platform + JUnit Jupiter again?

[2017-06-10 20:58] deen13 opened #882 "TestReporter fails on numeric map keys"
[code]

Fails with:
[code]

Where alphabetic keys working fine

[2017-06-10 21:00] marcphilipp commented on #881
From your path it looks like you're running Java 9. can you try `./gradlew` instead of `gradle`, please?

[2017-06-10 21:03] marcphilipp commented on #882
`publishEntry` takes a `Map<String, String>`. Please change your `map` declaration accordingly and don't use raw types.

[2017-06-10 21:03] #882 closed

[2017-06-11 05:37] shakuzen commented on #855
Just to add some information, in the dump file it contains messages like this for presumably every log message during test execution:

[code]

[2017-06-11 09:01] deen13 commented on #881
The gradle wrapper ends up with the following exception

[code]

[2017-06-11 09:24] ctapobep commented on #880
Um.. I don't know how relevant that would be:

1. You need to run the test many times - JUnit4 doesn't support this. Though I assume it's possible to write a rule for this, but this is not the same as testing multiple test launches. So such a test would check different performance.
2. I'm particularly interested in the speed of tests in IDE because that is usually the environment where I run them

[2017-06-11 13:11] marcphilipp commented on #881
Can you switch to Java 8 and try again?

[2017-06-11 13:12] marcphilipp commented on #880
@akozlova Any idea what might cause this?

[2017-06-11 17:35] ctapobep commented on #111
I just stumbled upon the fact that the order of methods changes from run to run. Specifically if there are 2 methods where one name contains another:

[code]

For me this appeared to be critical since I'm writing an [extension for randomization](https://github.com/qala-io/datagen/blob/master/junit5). If tests fail I'd like users to be able to explicitly specify the seed to get exactly the same dat

[2017-06-11 18:56] deen13 commented on #881
Thank you Marc! I solved it by adding `org.gradle.java.home = /Library/Java/JavaVirtualMachines/jdk1.8.0_121.jdk/Contents/Home` to the project specific gradle.properties file

[2017-06-11 18:56] #881 closed

[2017-06-11 20:20] ctapobep opened #883 "Add BeforeEachTemplating callback"
Current `BeforeEachCallback` and `BeforeTestExecutionCallback` are invoked after ArgumentProvider finished. Would be either add more methods to the existing callbacks or to create a new callback that would run before the ArgumentProvider starts.

*Rationale*: in my extension I'd like to impact how the data is generated in the ArgumentProviders (I'm interested in `@MethodSource` in particular). So

[2017-06-11 23:15] Tibor17 commented on #855
These errors have nothing to do with memory leaks.
This is still the same bug you had with "XMLWriter" from dom4j.
You are sending logs to the native stream System.out . Surefire overrides
this stream and every test which calls System.out.println(data) the data is
encoded in another stream which starts with command number. ForkClient
recognizes the command number. If the format is broken you see :

[2017-06-11 23:18] Tibor17 commented on #855
Stream format till version 2.20 has not changed.
We only made users error more visible.
We cannot fix users error.
All these suspicions are now visible and we want to prevent from
permanently opening Jira bugs.

On Mon, Jun 12, 2017 at 1:15 AM, Tibor Digana <tibor.digana@googlemail.com>
wrote:

--
Cheers
Tibor

[2017-06-12 10:18] noopur2507 opened #884 "Running tests in certain order"
I do not see any equivalent of the JUnit 4 method `org.junit.runner.Request.sortWith(Comparator<Description> comparator)` in JUnit 5 M4, which can be used to run the tests in a certain order, defined by the comparator.

Is it planned to provide such support or can it be done in some other way?

Eclipse uses this to rerun a test with failures first, which has been disabled for JUnit 5: [bug 518052]

[2017-06-12 20:51] fvgh commented on #843
@marcphilipp I am not so firm with the review process. Do you expect my changes as another commit so that you can see differences, or do you prefer a squashed PR to keep the history clean?

[2017-06-13 04:25] marcphilipp commented on #843
Feel free to push additional commits to the existing branch. We can squash it when we merge it if we see fit.

[2017-06-13 05:59] sormuras commented on #884
Related issue: #111 (and #90)

[2017-06-13 06:18] ctapobep opened #885 "Global activation for chosen extensions"
While JUnit5 provides an ability to look use SPI for extension activation, right now it activates all of the extensions.

In reality extensions could be very different - you wouldn't want to activate SpringExtension for all your tests, but others (like Reporting) would be convenient to turn on globally instead of marking literally each test class with `@ExtendWith`.

So would be great to pass some

[2017-06-13 07:50] nicolaiparlog commented on #371
Looks like nobody strongly disagrees, so I'll close this.

[2017-06-13 07:50] #371 closed

[2017-06-13 12:05] sbrannen commented on #883
See also: https://github.com/qala-io/datagen/blob/master/junit5/README.md

[2017-06-13 14:44] akozlova commented on #880
Were junit 5 tests repeated with IDEA means or with RepeatedTest? I checked that IDEA starts Launcher#discover and Launcher#execute for each test. When all discovery was done on IDEA's side (junit 4.-), this part was mostly trivial. With junit 5, that's not the case anymore and looks like it causes the slowdown. The snapshot from run with "until stopped" condition:
![pasted image at 2017_06_13 04_

[2017-06-13 17:23] nicolaiparlog commented on #883
@ctapobep Would #853 cover your use case.

[2017-06-13 17:28] nicolaiparlog commented on #885
I would say that's an argument against the Spring extensions using the SPI mechanism. Only truly cross-cutting concerns that (ideally) do not change the test outcome should be addressed via SPI (like reporting or benchmarking).

This was meant as an argument against such an explicit activation mechanism but it might actually end up supporting it. Imagine a useful or even required test dependency r

[2017-06-14 06:09] ctapobep commented on #883
I don't think so - I need a hook *before* argument providers are run.

[2017-06-14 15:11] sbrannen commented on #884
Hi @noopur2507,

At the moment there is currently no mechanism for ordering the execution of tests.

Once #48 is addressed this will likely change since _ordering_ is a requirement of scenario tests. Having said that, however, that support may only exist within JUnit Jupiter instead of the Platform proper.

I am therefore going to reopen #13 and am closing this issue as a duplicate of #13.

[2017-06-14 15:11] #884 closed

[2017-06-14 15:12] sbrannen commented on #13
Reopening in order to address concerns raised in #884 and #48.

[2017-06-14 15:14] sbrannen commented on #13
Introduce _Deliverables_ section.

[2017-06-14 16:03] sbrannen commented on #810
_in progress_ by @sormuras

[2017-06-15 09:35] nicolaiparlog commented on #883
Why not create your own `@RandomMethodSource` argument provider, then?

Regarding your proposal to modify existing callbacks: Note that argument providers are slightly separate from the rest of Jupiter because, strictly speaking, they are part of an extension (`junit-jupiter-params`). In my opinion this closes off the possibility to modify existing extension points to interact with them. On top of

[2017-06-15 13:50] sbrannen commented on #865
I am reopening this issue since the changes to `JUnitPlatformPluginSpec.groovy` appear to remove classpath scanning support for tests written in other JVM languages such as Groovy, Scala, Kotlin, etc.

[2017-06-15 13:55] shakuzen commented on #855
After analyzing the heap dump, I realized there was an infinite loop in the surefire code. It looks like someone else also realized this and already fixed it in https://github.com/apache/maven-surefire/commit/7176d3c17b438c60e48a525ef96e6812f00bec46 which will be in surefire 2.20.1 per [SUREFIRE-1382](https://issues.apache.org/jira/browse/SUREFIRE-1382). Therefore, I believe this issue can be clos

[2017-06-15 14:07] vmassol commented on #855
@shakuzen Thanks for posting the explanation and links! Great that it's fixed. Waiting eagerly for Surefire 2.20.1 :)

[2017-06-15 14:35] sormuras commented on #865
Good catch.

How to solve this correctly? Iterate over all "language" directories like `build/classes/<language>`?

[2017-06-15 14:45] akozlova opened #889 "Request for a warning in release notes: Unable to start tests in IntelliJ with current SNAPSHOT version using launcher bundled in the IDE"
my build.gradle looks like:
[code]
This way launcher is added by IDE and the exception appears:

[code]

I guess, after releasing M5, many users would face this issue as well. Though they may already know how to trick the IDE and use the launcher delivered by the same version as their api, please add corresponding warnings to the user guide and in release notes. We would have to repeat this anyway

[2017-06-15 17:09] marcphilipp commented on #865
I think in `JUnitPlatformPlugin` instead of

[code]

we need to write

[code]

[2017-06-15 17:21] marcphilipp commented on #855
@Tibor17 When is 2.20.1 going to be released?

[2017-06-15 17:25] marcphilipp commented on #732
_in progress_

[2017-06-15 20:42] marcphilipp commented on #879
_in progress_

[2017-06-15 20:43] marcphilipp commented on #508
_in progress_

[2017-06-15 20:56] #810 closed

[2017-06-16 11:52] #843 closed

[2017-06-16 12:33] nicolaiparlog commented on #871
In parts. But it would still make the method the container for multiple tests instead of the class. And it would also require all methods to have the same parameters.

[2017-06-16 12:35] nicolaiparlog commented on #878
Related issues: #871, #853

[2017-06-16 12:36] #652 closed

[2017-06-16 12:56] marcphilipp commented on #889
Will do, thanks @akozlova!

[2017-06-16 13:00] marcphilipp commented on #880
Thanks for looking into this, @akozlova! Which version did you use? M4? Are you using a `MethodSelector` in the `DiscoveryRequest`?

[2017-06-16 13:03] akozlova commented on #880
I checked M4 with class selector (can check method selector if necessary). But looks like the slowdown in such setup is expected.

[2017-06-16 13:12] akozlova commented on #889
Thanks!

[2017-06-16 14:32] sormuras commented on #378
Related issues updated.

[2017-06-16 14:42] jkschneider commented on #878
For real-life examples, see [GaugeTest](https://github.com/spring-projects/spring-metrics/blob/master/src/test/java/org/springframework/metrics/instrument/GaugeTest.java) and most of the other tests in its package.

[2017-06-16 15:03] sormuras commented on #865
@marcphilipp That won't fix the hard-coded property in `JUnitPlatformPluginSpec.groovy`:
[code]

[2017-06-16 15:20] sormuras commented on #865
@mkobit Can you please help us here?

[2017-06-16 15:32] sbrannen commented on #865
I think the answer to that is likely something along the lines of "...because somebody initially coded it like that, and nobody bothered to change it".

So feel free to change to a more robust (future proof) mechanism. 😉

[2017-06-16 15:39] marcphilipp commented on #865
AFAIK tests tend to "hard-code" expected outputs... 😉

[2017-06-16 15:41] sbrannen commented on #111
@marcphilipp, I've already reopened #13 and assigned it to M6 to address the _ordering_ issue for tests.

[2017-06-16 15:42] sbrannen commented on #111
As for whether #13 will adequately address the "order of tests in test reports" issue, that remains to be seen.

[2017-06-16 15:59] sormuras commented on #865
[code]

Now only the ordering of the paths does not fit:

**actual**

1. - Z:\gradle8805065691059893988projectDir\build\classes\java\main;
2. - Z:\gradle8805065691059893988projectDir\build\classes\java\test;
3. - Z:\gradle8805065691059893988projectDir\build\resources\main;
4. - Z:\gradle8805065691059893988projectDir\build\resources\test

**expected**

1. Z:\gradle8805065691059893988projectDir\buil

[2017-06-16 16:02] sormuras commented on #865
Which makes me wonder, if the test was okay as it has been.

The plugin itself needs the change @marcphilipp noted yesterday: `rootDirs.addAll(sourceSet.output.classesDirs)`

[2017-06-16 16:08] sormuras commented on #865
Summary: copying the root directory gather code from the plugin source makes the test happy again.
[code]

No change needed at the plugin. It was already fixed via https://github.com/junit-team/junit5/commit/0aea314bc82c2907ca6264c65ddca7315a2f3b6d

[2017-06-16 16:13] #865 closed

[2017-06-16 17:19] Andrei94 commented on #857
@jbduncan I think he means to be able to run all the tests for a method by specifying the name in the `@Test` annotation.
For example, if you have a method which finds the prime factors of a number, you should be able to discover, based on the parameters of the annotation, which test methods correspond to this method(prime factors of 2, prime factors of 4 and so on...).

[2017-06-16 18:48] #861 closed

[2017-06-16 19:01] Andrei94 commented on #13
How about introducing a mechanism like the following: add an annotation `@ScenarioBuilder` for a method and make that method return `Collection<String>` which would hold the order of the tests.
In order to create the setup and teardown of the scenario, I believe the `@BeforeClass` and `@AfterClass` would work just fine. Also, the `@BeforeEach` and `@AfterEach` could work just the way they are.

[c

[2017-06-16 20:29] mfulton26 opened #891 "Dynamic containers: Support partial dynamic tree errors"
## Overview

**Feature request.** Dynamic containers provide the ability to create entire trees of tests and containers dynamically. However, if an exception is thrown while creating a sub portion of the tree then the entire tree results in an error and no test results are gathered.

Consider the following example:

[code]

The actual test result tree is
* :x: Test Results
  * :x: DemoTests
    *

[2017-06-17 10:15] marcphilipp commented on #830
_in progress_

[2017-06-17 12:28] #830 closed

[2017-06-17 17:56] baev commented on #618
Nope. We need to have around callbacks for all user code that executed during test execution, including configuration methods (`@BeforeAll`, `@BeforeEach` etc) and even test data generation methods for parameterized tests

[2017-06-17 18:07] marcphilipp commented on #618
Have you looked at http://junit.org/junit5/docs/current/user-guide/#extensions-execution-order. There's a lifecycle callback around all test class methods except test data generation methods.

In case that's really not sufficient, we could add a generic method to `TestExecutionListener`, e.g.

[code]

However, I'm not sure what events we need and which information needs to be contained in such eve

[2017-06-17 18:30] marcphilipp commented on #809
We cannot update to 2.20 because it contains a critical bug that causes an OutOfMemory error (see #855 for details). This issue is blocked until #855 has been resolved with Surefire 2.20.1.

[2017-06-17 18:36] marcphilipp commented on #809
I updated the deliverables.

[2017-06-18 12:54] #508 closed

[2017-06-18 12:54] #879 closed

[2017-06-18 12:56] marcphilipp commented on #732
Rather than removing the pruning call in Jupiter, we have decided to remove the pruning call in `DefaultLauncher`.

[2017-06-18 12:59] marcphilipp commented on #407
There's now the `Type` enum that gets rid of invalid cases, such as container == false and test == false. In addition, a test descriptor may now state that it will eventually register dynamic tests (see #508).

[2017-06-18 12:59] #407 closed

[2017-06-18 13:02] marcphilipp commented on #625
If we merged `ContainerExtensionContext` and `TestExtensionContext` (which we will probably have to do for #455 and #48 anyway), this would no longer be a problem. Since #455 is already _in progress_, I'm setting this issue to _blocked_.

[2017-06-18 13:09] jbduncan commented on #857
Okay, that would make some sort of sense. Thanks @Andrei94.

@abarhub Does @Andrei94's hypothesis-explanation accurately convey what you'd like to come out of this issue?

[2017-06-18 13:53] marcphilipp commented on #732
It seems sometimes you have to spell things out to realize that something is off...

Pruning in `DefaultLauncher` is actually necessary, because it applies `PostDiscoveryFilters` (e.g. tags) and then needs to remove empty containers that will not register dynamic tests from the `TestPlan`. Thus, I've

[2017-06-18 13:55] marcphilipp commented on #732
In d438a97, I've reintroduced pruning in `DefaultLauncher`. So, the question remains: Do we need to prune in Jupiter's `DiscoverySelectorResolver`. It doesn't hurt, but could have an impact on runtime.

[2017-06-18 17:53] abarhub commented on #857
Yes, @Andrei94 said exactly what I meant.

I do not master English enough to explain it better.

Sorry for my bad English.

[2017-06-19 10:25] sta-szek opened #892 "How to separate integration tests from unit tests using testSets plugin"
I have problem with test separation.
We use test sets plugin to separate integration tests from unit (we keep them in different directories):

[code]

As far as we were using Junit4, there was a simple step to set up new `test module`:
[code]

Is there any way to acheive the same with Junit5 and testSets plugin?

[2017-06-19 11:43] marcphilipp commented on #892
Since the `test` task currently does not support the new JUnit platform the testsets plugin will not work. For the test task to work, we need core Gradle support. Feel free to follow gradle/gradle#1037 for details.

[2017-06-19 12:35] sta-szek commented on #892
@marcphilipp thanks.

[2017-06-19 14:50] sbrannen commented on #857
I am closing this issue since it is a duplicate of #510.

[2017-06-19 14:50] #857 closed

[2017-06-19 16:17] shammancer commented on #865
Hello everyone. I would like to turn your attention to the following SO [question](https://stackoverflow.com/questions/44578302/splitting-all-ouput-directories-gradle). What could be some troubleshooting steps I could do to figure what is causing this assumption.

Let me know if you guys need more information.

[2017-06-19 16:55] mkobit commented on #865
Sorry for not responding @sormuras , was on vacation last week! Thanks for following up and documenting the fix!

[2017-06-19 18:30] sormuras commented on #865
@mkobit The `documentation` project still emits a warning

Gradle now uses separate output directories for each JVM language, but this build assumes a single directory for all classes from a source set. This behaviour has been deprecated and is scheduled to be removed in Gradle 5.0

I did not find any (direct) usage of a single classes directory in https://github.com/junit-team/junit5/blob/master/

[2017-06-19 18:51] marcphilipp commented on #865
Maybe the asciidoctor plugin?

[2017-06-19 19:02] marcphilipp commented on #891
How about adding an overload `dynamicContainer(String, Supplier<Stream<? extends DynamicNode>>)`?

[2017-06-19 19:04] marcphilipp commented on #889
_in progress_

[2017-06-20 12:01] sormuras commented on #891
Having such an overload, one could write the example from the user documentation as:
[code]

Note the redundant but necessary `(Executable)` casts... strange.

The result looks like:

![dynamic_nodes_891](https://user-images.githubusercontent.com/2319838/27332121-d94c8082-55c0-11e7-8855-8966255b4f5f.png)

[2017-06-20 13:46] sbrannen commented on #510
@signed agreed: `@TestsFor` is a better name. Updating the title accordingly.

[2017-06-20 14:27] mfulton26 commented on #891
That is strange that the case to `Executable` is necessary for the nested
dynamic tests.

I found in the `DynamicContainer` constructor that the stream is colleced
to an unmodifiable list in the constructor. I wonder if instead of adding a
`Supplier` overload if this collection to a list can be delayed to
elsewhere in the test engine so that if it throws an exception it can be
caught and dealt wit

[2017-06-20 18:02] #732 closed

[2017-06-20 18:12] marcphilipp commented on #891
Team decision: Store `Stream` in `DynamicContainer` and iterate over it lazily.

[2017-06-20 18:24] marcphilipp opened #893 "Make Gradle plugin compatible with Gradle 3.x again"
## Deliverables

- [ ] Check for `sourceSet.output.classesDirs` (note the extra **s**) and fallback to `sourceSet.output.classesDir` if it's not present

[2017-06-20 21:00] mkobit opened #894 "Gradle "clean build" failure due to deprecated "junit-jupiter-migration-support""
Tried to build master on my Mac but `:platform-tests:junitPlatformTest` failed.

[code]

* At SHA - 155a2dd995e98ad7ce8e6615a74e127598a0173b
* Build Scan: https://scans.gradle.com/s/i7fnzauqooo36#summary

## Reason

See https://github.com/junit-team/junit5/commit/a19e6ee83bace8554c761ff20d2a9a0cbcd1f6ec for details

## Solution
Manually remove `junit-jupiter-migration-support` or use `git clean -d

[2017-06-20 22:55] sormuras commented on #894
Known issue, working on it... see https://github.com/junit-team/junit5/commit/cadce8a9ad068e6e10f40967fd25d5fd3946afcb

Try a `gradlew clean build` to force all jars to be rebuild.

[2017-06-20 23:19] sormuras commented on #894
Adding following lines to `platform-tests/platform-tests.gradle` seems to solve the issue.
[code]

I guess, there's a more Gradle-y way to solve it.

[2017-06-20 23:31] sormuras commented on #894
Addressed via commit https://github.com/junit-team/junit5/commit/58d5c34876992c3833016b82f0b5dbdd4cf3ff05

Leaving this issue open for review.

[2017-06-21 00:01] sormuras commented on #755
**Team decision**: Remove the `Type.ENGINE` enum constant, change `EngineDescriptor` to return `Type.CONTAINER` and remove the `final` modifier from `EngineDescriptor.getType()`

[2017-06-21 01:23] mkobit commented on #894
Still seeing same issue in 58d5c34876

* Another scan at https://gradle.com/s/e7xjw5b6rv2xwg will hopefully give some more insight, I'm trying to take a look at it now

[2017-06-21 01:26] mkobit commented on #894
Oh! Never mind! I think it was because `junit-jupiter-migration-support` was renamed to `junit-jupiter-migrationsupport` and the directory is still present in my repository.

[2017-06-21 06:52] sormuras commented on #894
Closing this issue.

Any Gradle build configuration improvements should go into a new issue.

[2017-06-21 06:52] #894 closed

[2017-06-21 07:59] #755 closed

[2017-06-21 16:26] born2snipe opened #895 "Question about gradle integration"
Why was it decided to make a separate gradle plugin instead of integrating with gradle's [`TestFramework`](https://github.com/gradle/gradle/blob/master/subprojects/testing-jvm/src/main/java/org/gradle/api/tasks/testing/Test.java#L1103)?

[2017-06-21 16:38] sormuras commented on #895
1. Historical reasons, I guess.
2.  `org.gradle.api.internal.tasks.testing.TestFramework` looks like **internal** API
3.  Results emerging from [Design Specification for JUnit 5 Support](https://github.com/gradle/gradle/issues/1037) will use it, I guess.

[2017-06-21 18:41] #895 closed

[2017-06-21 19:03] #889 closed

[2017-06-22 04:46] #891 closed

[2017-06-22 04:51] marcphilipp commented on #889
I've added a [warning](http://junit.org/junit5/docs/snapshot/user-guide/#release-notes-5.0.0-m5) to the Release Notes and a [section](http://junit.org/junit5/docs/snapshot/user-guide/#running-tests-ide-intellij-idea) to the User Guide.

@akozlova Would be great if you could review those. 🙂

[2017-06-22 05:16] #893 closed

[2017-06-22 09:30] akozlova commented on #889
Yep, I've read that yesterday. Looks good to me. I am happy that I have a place where to point users. Many thanks!

[2017-06-22 10:14] sbrannen commented on #893
👍

[2017-06-22 12:57] sbrannen commented on #831
@sormuras, have the _Deliverables_ all been addressed now?

[2017-06-22 13:03] sormuras commented on #831
Aye. Updated bullet list in the description.

[2017-06-22 16:42] FilipJirsak opened #896 "Assertions dependency on another assertion"
## Overview

It would be nice to have possibility to execute some assertions only if another assertion was successful. For example I test if some object is not null and then I test object's properties. It is useless to test properties when non-null check failed.

It is different  from assumes, because test should fail if condition is not fulfiled.

## Deliverables
There can be new methods in Asser

[2017-06-22 18:29] sbrannen commented on #896
This is already possible with the following construct:

[code]

Assuming that meets your needs, I am closing this issue.

If it doesn't meet your needs, feel free to provide additional input.

[2017-06-22 18:29] #896 closed

[2017-06-23 13:48] FilipJirsak commented on #896
Nice. Logical but not obvious :-) I have prepared a pull request #897 with an example fot the documentation. Thanks.

[2017-06-23 14:15] akozlova opened #898 "Ignore disabled annotations when they appear on element from DiscoverySelector"
Given the code

[code]

When user runs `testIgnorance`, IDEA disables the `DisabledCondition` and allows to run the test. Works as it was in JUnit 4. But when user runs the whole class, the same idea not really works: the disabled method also runs. I don't see how to influence the discovery mechanism to ignore `@Disabled` annotations differently. Please correct me if I am wrong.

On the other hand

[2017-06-23 14:55] marcphilipp commented on #898
Do I understand you correctly that you expect that `@Disabled` in merely ignored for the executed selector, not everywhere?

[2017-06-23 15:07] sbrannen commented on #898
That's correct. If you deactivate a condition (such as `org.junit.jupiter.engine.extension.DisabledCondition`), then that condition will be deactivated completely (i.e., for all occurrences).

In other words, there is currently no way to deactivate a condition for a single location within the code.

[2017-06-23 15:08] sbrannen commented on #898
I'm not sure what I think... because I didn't totally follow you. 😉

Would you mind expounding on your idea a bit more?

[2017-06-23 15:14] akozlova commented on #898
In IDEA with junit 4 (disabled -> ignore): when you run a class, only 'shouldBeExecuted' method would be executed and the second method would be ignored. We would like to have the same behaviour with junit 5. I don't think that it's possible now.
My idea to implement it inside junit itself was to mark 'root' somehow and don't apply DisabledCondition to it

[2017-06-23 16:35] sormuras commented on #756
Work in progress... see https://github.com/junit-team/junit5/compare/issues/756_container_and_test

At the current implemetation state, it seems like an issue within IDEA. Not 100% confirmed, though.

[2017-06-24 11:24] marcphilipp commented on #756
Ok, so @sormuras and I wrote some additional tests and tried to reproduce this bug. However, everything worked as expected.

As an experiment, I changed `getType()` of `TestFactoryTestDescriptor` to `CONTAINER_AND_TEST` and executed the following test in IntelliJ and using the Gradle plugin:

[code]

The Gradle plugin produced the expected result:

[code]

However, in IntelliJ the tree looks like

[2017-06-24 12:09] marcphilipp commented on #898
We could add a second system property, e.g. `junit.conditions.deactivate.location`, that let's you specify the location as a unique ID where the conditions specified in `junit.conditions.deactivate` should be deactivated.

@junit-team/junit-lambda Thoughts?

[2017-06-24 12:13] marcphilipp commented on #756
@akozlova Looks like this would be on of those places:
https://github.com/JetBrains/intellij-community/blob/73e5af46ecfb3c284713b8505da0c97eba878a5b/plugins/junit5_rt/src/com/intellij/junit5/JUnit5TestExecutionListener.java#L113

[2017-06-24 12:17] sbrannen commented on #898
I had the exact same idea, @marcphilipp. 😉

Though I was thinking about calling it `unique-id` instead of `location`.

[2017-06-24 12:17] sbrannen commented on #898
This proposal obviously requires that the Unique ID be known up front.

[2017-06-25 12:40] sbrannen opened #899 "Introduce support for tracking exceptions thrown at the container level"
## Status Quo

JUnit Jupiter currently tracks exceptions during the execution of test methods and test factory methods (and their corresponding callbacks) and then makes such exceptions available to extensions via `TestExtensionContext.getTestException()`; however, there is no analogous support for exceptions thrown during the execution of container-level callbacks.

## Related Issues

- #419

##

[2017-06-26 08:00] akozlova commented on #756
Yes, I didn't change the code since the beginning as I am waiting here for the stable version, sorry. Is it supposed to be stable now?

[2017-06-26 08:03] akozlova commented on #898
I'd prefer to specify source only as I won't have uniqueId before I start the discovery process and at that time it would be probably too late to specify any properties, or?

[2017-06-26 08:49] marcphilipp commented on #898
Well, you could call `discover` first, find the identifier with the correct `TestSource` and get its unique ID. Then you can set the system property and launch the tests.

Or, we could think about a different format to specify the location, e.g. `class:com.acme.Foo` or `method:com.acme.Foo#test(String)`.

[2017-06-26 08:54] marcphilipp commented on #756
As far as I can predict the future, it will be stable as soon as we ship M5. 🙂

[2017-06-26 09:33] akozlova commented on #898
I can provide TestSource directly or do it under the hood, I don't think that different format is required.

[2017-06-26 17:28] sajjusajuu opened #900 "Random Java Object Generator"
## Random java Object Generator

- ( ) **Feature request.** In most cases while writing Junits we supply sample input to the methods to test. And this sample input is mostly some domain object or a list of domain objects. I feel it would be helpful, if there is a feature/class which generates the domain objects from its classes, after taking into consideration, the data types of the fields in it.

[2017-06-26 17:34] sormuras commented on #900
Perhaps https://github.com/pholser/junit-quickcheck already does what want?

[2017-06-26 21:37] sormuras commented on #707
We could start an JUnit 5 room at https://chat.stackoverflow.com

[2017-06-26 22:33] sbrannen commented on #707
That might in fact be the easiest route for creating such a group chat (alongside the existing `junit5` on Stack Overflow).

I'd say it's worth a shot to see how it goes.

[2017-06-26 22:38] mkobit commented on #707
Great idea - easy way to see if there is interest. Do users need a certain
reputation to join chat?

On Mon, Jun 26, 2017, 17:33 Sam Brannen <notifications@github.com> wrote:

[2017-06-27 02:22] smoyer64 commented on #707
I'd also be interested in a read-only (hear-only) participation in the team meetings - sometimes if feels like I'm missing a perspective that's considered "common knowledge" within the team.  Alternately, transcripts after the fact might help and would be searchable.

[2017-06-27 06:28] marcphilipp commented on #707
👍

They need at least a reputation of 20. Is that too restricted?

I'd say let's start with a chat room where it's easier to ask questions about perspectives and see how that goes.

[2017-06-27 06:29] marcphilipp commented on #900
Populating objects with random values is outside the scope of JUnit and should be done in an extension.

[2017-06-27 06:29] #900 closed

[2017-06-27 06:57] jlink commented on #900
you might also consider using http://jqwik.net which provided a Junit5 test engine for the exact purpose.

[2017-06-27 13:18] jbduncan commented on #707
That sounds too restrictive to me. I barely have 22 reputation on StackOverflow, so I wouldn't want to restrict people who don't have that much rep or even have StackOverflow accounts.

[2017-06-27 13:41] marcphilipp commented on #707
Does anyone have any experience with Gitter?

[2017-06-28 09:26] sormuras commented on #707
Testing the Gitter badge: [![JUnit 5 Chat](https://img.shields.io/badge/Gitter-JUnit5%20Chat-blue.svg)](https://gitter.im/junit-team/junit5)

[2017-06-28 10:15] sbrannen commented on #707
@smoyer64,

We do our best to document _Team Decisions_ as a comment in the corresponding issue.

Do you have a concrete example in mind?

[2017-06-28 10:19] jbduncan commented on #707
@sormuras The badge works for me. Thanks!

[2017-06-28 11:58] smoyer64 commented on #707
"Sign in to start talking" for me

[2017-06-28 12:25] smoyer64 commented on #707
@sbrannen - I didn't mean to imply that the team wasn't always willing to answer questions - if I find a post that includes "team decision - xxx" I'll link it here.  I agree that the decision is generally well documented (or perhaps obvious from the context) but there are some where I feel I'm missing something philosophical - it's entirely possible that I wouldn't achieve that zen-like state read

[2017-06-28 13:03] marcphilipp commented on #707
Well, now you can ask us in the chat room. 🙂

[2017-06-28 16:02] sbrannen commented on #419
FYI: current work on this issue can be see in the following branch.

https://github.com/junit-team/junit5/commits/issues/419-test-instance-lifecycle

[2017-06-28 16:11] sbrannen opened #901 "Merge [Container|Test]ExtensionContext into ExtensionContext"
## Overview

`ConatinerExtensionContext` is already just a _marker interface_, and with the changes being introduced in #419 the `TestExtensionContext` will soon contain a single `Optional<Throwable> getTestException()` method.

With these points in mind, now may be an opportune time to take the plunge and completely remove both the `ConatinerExtensionContext` and `TestExtensionContext` APIs and a

[2017-06-28 16:11] sbrannen commented on #901
@junit-team/junit-lambda This issue is _open for team discussion_ within the 5.0 M5 time frame.

[2017-06-28 16:17] sbrannen commented on #901
Thinking out loud...

One thing I find controversial about the proposal is the merging of `ContainerExecutionCondition` and `TestExecutionCondition`.

I know that the same contextual information will available to extension authors; however, extension authors may wish to implement entirely different logic for the container level and the test level.

Perhaps it's a non-issue, but it's definitely som

[2017-06-28 16:21] sbrannen commented on #419
Note that deliverables 1 and 2 have already been addressed in the aforementioned branch.

[2017-06-28 20:34] JLLeitschuh opened #902 "Gradle JunitPlatform sub extensions are not Gradle Kotlin DSL friendly"
## Feature request

The Junit5 Gradle plugin configuration does not lend itself well to being configured with the new [Gradle Kotlin DSL](https://github.com/gradle/kotlin-dsl).

I would like to be able to use the following syntax in my Gradle Kotlin DSL build file:

[code]

The problem is rooted in the fundamental design decision to dynamically add properties to the `JunitPlatformExtention` at run

[2017-06-29 08:18] sormuras commented on #902
Thanks for creating the issue including a work-around, @JLLeitschuh -- do you want to provide a PR with the member functions you mentioned?

Hoping that all those shortcomings of the current implementation will be gone for good, when https://github.com/gradle/gradle/issues/1037 is finally addressed.

[2017-06-29 09:15] marcphilipp commented on #902
`packages`, `tags`, and `engines` should be part of `FiltersExtension`, though, right?

[2017-06-29 12:55] sbrannen commented on #419
FYI: the aforementioned branch is now feature complete.

The _Deliverables_ have been updated accordingly.

[2017-06-29 12:58] sbrannen commented on #419
@sdeleuze, can you please confirm that annotating Kotlin test classes with `@TestInstance(Lifecycle.PER_CLASS)` will address your concerns (at least theoretically since it's difficult for you to verify against the branch)?

[2017-06-29 13:53] sdeleuze commented on #419
Thanks for working on this I was not thinking this was so much work!

Is it true that `@BeforeAll` and `@AfterAll` on non-static methods currently require `@TestInstance(Lifecycle.PER_CLASS)` annotation on the class as shown in [this test](https://github.com/junit-team/junit5/blob/b0ee612ac89be4eb45fd22888379d9e3746d2931/junit-jupiter-engine/src/test/java/org/junit/jupiter/engine/TestInstanceLifec

[2017-06-29 13:58] sbrannen commented on #419
Yeah, I wasn't really either... until I started digging deeper!

It was much easier to implement in the JUnit Lambda prototype. 😉

[2017-06-29 14:12] sbrannen commented on #419
Yes, that is correct.

The default behavior is `Lifecycle.PER_METHOD`... in order to align with _presumed_ expectations of developers accustomed to the behavior in previous versions of JUnit, although based on my rather extensive experience... 95% of the developers in this world never ever realize that JUnit 4 instantiates the test class for each test method.

In fact, in the JUnit Lambda prototyp

[2017-06-29 14:40] JLLeitschuh commented on #902
@marcphilipp You are correct.

[2017-06-29 14:57] marcphilipp commented on #419
I feel very strongly about this, almost to a point were I'd say this is not even up for debate.

Using a separate test instance for each test method avoids so many problems developers, especially inexperienced ones, would otherwise run into. In particular, it avoids state problems by giving each test a clean slate, thereby decoupling them so you do not end up depending on their order etc.

I under

[2017-06-29 15:04] sbrannen commented on #419
I suspected that might be the case. 😉

Even if it's technically possible to change the default test instance lifecycle semantics based on the programming language in use, would it really be a good idea to have different behavior in Java vs. Groovy vs. Kotlin...?

[2017-06-29 15:08] marcphilipp commented on #419
I think it would be a clear rule with a sound justification in the case of Kotlin.

[2017-06-29 15:10] sormuras commented on #419
I don't think so. It should be up to the end-user to define a lifecycle behaviour explicitly w/o some magic within the framework.

In general I share @marcphilipp 's point of view regarding the lifecycle behaviour: `Lifecycle.PER_METHOD` should stay the default one.

[2017-06-29 15:23] sbrannen commented on #419
Brainstorming...

Another option would be to introduce a configuration flag (e.g., system property) that allows teams to set the default test instance lifecycle semantics on a per-project basis.

That would at least make it less cumbersome to adopt per-class semantics within a team without forcing developers to copy-n-paste `@TestInstance(Lifecycle.PER_CLASS)` across the code base.

It would remai

[2017-06-29 15:49] #707 closed

[2017-06-29 15:59] sdeleuze commented on #419
Interesting discussion ... Indeed I admit I was not aware that JUnit create a new test instance for each test method.

I am not aware of JUnit internals but I don't totally understand what prevent so strongly to support `@BeforeAll` and `@AfterAll` with the default behavior of one instance per method? Sorry if you already explained it but that's not clear to me. Could you give me more hints about

[2017-06-29 16:04] marcphilipp commented on #419
If I understand you correctly (please correct me if I'm wrong), you're asking what prevents us from supporting non-static `@BeforeAll`/`@AfterAll` methods with instance per method semantics.

Well, to invoke a non-static method we need an instance of the test class. Since a `@BeforeAll`/`@AfterAll` method must only be invoked once, what instance(s) should it be invoked with?

[2017-06-29 16:22] sbrannen commented on #419
I think he means that we could create a throw-away instance (or two) and just invoke the `@BeforeAll`/`@AfterAll` methods against that/those instance(s).

@sdeleuze, please correct me if I'm wrong with that assumption.

[2017-06-29 16:25] sbrannen commented on #419
But again, if my assumption is correct, I would not condone that approach since the test methods would then have no means to access any state managed by `@BeforeAll`/`@AfterAll` methods (e.g., something like a _server_ that is started in a `@BeforeAll` method). The only way to share such _global_ state in such a scenario would be to store it in static fields, but then it wouldn't make much sense t

[2017-06-29 16:27] sbrannen commented on #419
BTW, when I said:

... I was not proposing that such a change be incorporated in this issue. Rather, that would be a topic for M6.

[2017-06-29 16:35] sbrannen opened #905 "Introduce configuration parameter for setting default test instance lifecycle semantics"
## Overview

For teams that prefer _per-class_ test instance lifecycle semantics, in order to prevent such teams from having to copy-n-paste `@TestInstance(Lifecycle.PER_CLASS)` across the code base, it would be beneficial to introduce a configuration flag (e.g., system property) that allows the default test instance lifecycle semantics to be set on a per-project basis (e.g., for a build).

Switch

[2017-06-29 16:36] sbrannen commented on #419
New issue created: https://github.com/junit-team/junit5/issues/905

[2017-06-29 16:40] sdeleuze commented on #419
@sbrannen Yes, this is what I had in mind, but you are right it seems what I would like ideally is `TestInstance(Lifecycle.PER_CLASS)` by default. If this is not doable in Junit 5, a configuration flag as proposed in #905 is maybe the best tradeoff we could find.

[2017-06-29 16:50] sdeleuze commented on #905
Strong +1 for this one and not only from a Kotlin developer perspective, to me `@TestInstance(Lifecycle.PER_CLASS)` makes sense as the default behavior in Java as well. Since it seems not possible to set that as the default in Junit 5, beeing able to set such default globally would be super useful.

[2017-06-29 18:54] sbrannen commented on #901
Added a sub-deliverable regarding `getExecutionException()` and #899.

[2017-06-29 19:12] klamse opened #906 "Current master build is broken"
## Bug report

[code]

[2017-06-29 19:15] sbrannen commented on #906
The current `master` build is actually passing: https://junit.ci.cloudbees.com/job/JUnit5/

[2017-06-29 19:16] sbrannen commented on #906
What version of the JDK are you using?

[2017-06-29 20:31] klamse commented on #906
jdk1.8.0_91 on mac

[2017-06-29 20:42] sbrannen commented on #906
What happens with the build if you upgrade to JDK 1.8.0_121?

[2017-06-29 20:53] klamse commented on #906
Upgraded to
java version "1.8.0_131"
and it works!
Thanks

[2017-06-29 20:53] #906 closed

[2017-06-30 08:38] akozlova commented on #20
Looks like relates to #157, I tried to have a custom engine for this issue.

This engine delegates to jupiter like:
[code]
works well by itself but as discovery mechanism is the same, all tests are discovered twice. This problem could be solved with EngineFilters but unfortunately engine filters are not provided as extensions: one can register them on launcher request or for JUnitPlatform runner.

[2017-06-30 11:38] sbrannen commented on #906
Glad that fixed it for you.

Thanks for letting us know!

[2017-06-30 11:43] sbrannen commented on #20
I think it's best to wait for this issue to be resolved.

[2017-06-30 12:41] marcphilipp commented on #901
_in progress_

[2017-06-30 14:23] sbrannen commented on #419
Update: the _User Guide_ (in the branch) now contains documentation on the new features associated with test instance lifecycle.

[2017-06-30 15:03] sbrannen opened #907 "Find annotations on interfaces"
## Overview

We currently have a discrepancy between the search algorithms in `findRepeatableAnnotations()` and `findAnnotation()` in `AnnotationUtils`. The former finds annotations on interfaces; whereas, the latter does not.

Consequently, `@ExtendWith` and `@Tag` can be placed on an interface, but `@TestInstance` cannot.

## Related Issues

- #419

## Deliverables

- [x] Refactor `AnnotationUti

[2017-06-30 16:20] sbrannen commented on #419
This issue has been addressed in `master` in 502fc31f9dffcd494607cb5d17de422d5202ca65.

[2017-06-30 16:20] #419 closed

[2017-07-01 16:10] #899 closed

[2017-07-01 16:10] #901 closed

[2017-07-01 16:11] marcphilipp commented on #625
This issue has become obsolete since [Container|Test]ExtensionContext have been merged into ExtensionContext in #901.

[2017-07-01 16:11] #625 closed

[2017-07-02 15:52] #762 closed

[2017-07-02 20:04] sbrannen opened #910 "Remove testInstance parameter from TestInstancePostProcessor"
## Overview

Due to recent refactorings that made the test instance available in the `ExtensionContext`, a `TestInstancePostProcessor` now has two ways to access the test instance object in the `postProcessTestInstance()` method, thereby making the `Object testInstance` parameter superfluous.

## Deliverables

- [x] Delete the `Object testInstance` parameter from `TestInstancePostProcessor.postPro

[2017-07-03 12:09] sbrannen commented on #910
FYI: the current work on this issue is being performed in the following branch.

https://github.com/junit-team/junit5/tree/issues/910-remove-test-instance-from-TIPP

[2017-07-03 12:52] sbrannen commented on #910
Merged into `master` in 1d30b7670975dfe50701811130b90c4d58a55769.

[2017-07-03 12:52] #910 closed

[2017-07-04 10:06] sbrannen opened #912 "Ensure correct test class is supplied to extensions registered on outer classes"
## Overview

Changes in #910 introduced a regression: the test class supplied via `ExtensionContext.getTestClass()` to extensions that are registered on outer test classes is no longer the test class where the extension is registered but rather the test class for the currently executing `@Nested` test class.

## Deliverables

- [x] Ensure that the correct test class is supplied to extensions regis

[2017-07-04 10:09] sbrannen commented on #912
A working solution has been pushed to the following branch for discussion.

https://github.com/junit-team/junit5/tree/issues/912-correct-test-class-for-outer-extensions

[2017-07-04 10:39] sbrannen opened #913 "Introduce getRequired*() methods in the ExtensionContext API"
## Overview

Along the lines of the work performed in commits 0836f8f28601d1d27d07ad302c6aa1ef9f2ab023 and 7b9267e3665c8550f4d2c9fda4cc6ce24e054cff, it would be beneficial to extension authors to provide similar `getRequired*()` methods for things like the test class, test instance, and test method.

## Deliverables

- [x] Introduce `getRequiredTestClass()` method in the `ExtensionContext` API.
-

[2017-07-04 11:35] sbrannen commented on #910
FYI: the work associated with this issue has been reverted in `master`.

[2017-07-04 11:37] sbrannen commented on #913
@junit-team/junit-lambda This issue is up for discussion.

[2017-07-04 11:39] sbrannen commented on #912
Closing this issue since:

1. The changes made in conjunction with #910 have been reverted in `master`.
2. Commit 7c00dfb235dc4e2db4d9817f5a83fe4569c2becb introduced tests which verify the expected behavior described in the description of this issue.

[2017-07-04 11:39] #912 closed

[2017-07-04 14:51] sbrannen opened #914 "Include @author tags in Java source code"
## Background

Historically, Java source code within the JUnit code base has not included `@author` tags.

As an exception to the rule, there are (as of the time of this writing) 15 occurrences of `@author` tags within the JUnit 4 code base.

The JUnit Lambda prototype included `@author` tags in the Javadoc for all top-level types, but those tags were removed before JUnit 5.0 Alpha was released.

[2017-07-04 15:14] sbrannen commented on #914
Update: added note on potential legal ramifications.

[2017-07-04 15:17] Andrei94 commented on #914
We could use more `@author` tags inside the header of the source file. That way, there wouldn't be a lot of `@author` tags inside actual code that may remain there even though someone else changed some parts of it.

[2017-07-04 15:37] Andrei94 commented on #914
Or how about a custom tag `@contributor`? [They seem to be doable](https://stackoverflow.com/questions/2677564/how-to-create-custom-javadoc-tags) We would just have to modify gradle build 😉

[2017-07-04 16:02] jbduncan commented on #914
@sbrannen Would the addition of `@author` tags be applicable for contributors such as myself who made contributions in the past but, in light of this issue, would quite like their past contributions to be properly attributed as well?

[2017-07-04 16:28] #902 closed

[2017-07-04 17:23] slu-it commented on #914
Found this issue over Twitter. The problem with `@author` tags is, that over time they generally turn into lies. If I look at some 5 year old code, with a hand full of `@author` tags, I can't tell who did what, and who's code is even still part of the class. I always interpreted their original intend to be a reference for people to ask questions in case something doesn't work anymore. But that's h

[2017-07-04 18:29] Andrei94 commented on #914
@slu-it I agree with the fact that they eventually turn into lies. Isn't it because nobody ensures that they stay up to date? I see these `@author` tags in most of the files from the work and they don't add very much value to the code.

@sbrannen Perhaps we can have some gradle task to run and dynamically generate the `@author`/`@contributor` tags by looking at who commited changes to a file and a

[2017-07-04 18:31] jbduncan commented on #914
Now that @slu-it mentions it, I think I actually agree with his viewpoint on this.

IIRC, Google is currently in the process of removing `@author` tags from their Java open source projects, because they don't accurately reflect who initially wrote certain source files and who made additions/changes/deletions to particular areas in those source files over time. So I'd be tempted to follow their exa

[2017-07-04 18:40] jbduncan commented on #914
But having said that, @Andrei94's idea of generating `@contributor` tags automatically sounds neat to me in theory, so I'd be interested to see it developed further. It may turn out to be practical, it may turn out not to be. But if it does, then it may make contributor's efforts a bit more visible (leaving people who are interested to know more about who did what to use appropriate tools to dig i

[2017-07-04 18:46] jbduncan commented on #914
Regarding the potential legal ramifications of _not_ including `@author` tags, well that's a tricky area where I have little to no experience, as (admittedly) my understanding of EPL 1.0 is far from comprehensive... :thinking:

[2017-07-04 18:47] jbduncan commented on #914
How do companies like IBM (who use EPL 1.0 IIRC) deal with this situation?

[2017-07-04 18:50] slu-it commented on #914
@Andrei94 as far as I've observed over the years, people there a couple of reasons:

1. people tend to not want to remove credit from other people (seen as rude)
2. it's to much effort to track back whether or not an `@authot` tag is still reasonable
3. people don't care

In every project I head some form of control over things like this, I killed `@author` tags and nobody ever missed them. But th

[2017-07-04 19:10] jbduncan commented on #914
It seems that Eclipse (and by extension IBM) deal with this sort of legal situation by specifying who did what at the bottom of the license header of each source file in their EPL-v1.0-licensed projects.

To give an example: https://github.com/eclipse/eclipse.jdt.core/blob/master/org.eclipse.jdt.core/compiler/org/eclipse/jdt/core/compiler/CharOperation.java

Might this be a good pattern for JUnit

[2017-07-04 19:32] Andrei94 commented on #914
@jbduncan the message alongside the person name could be taken from the commit message. Nevertheless, as @slu-it pointed out, official mentions of your contribution such as pull requests, commits and issues are your best solution.

[2017-07-04 22:42] rstoyanchev commented on #914
I think it's more than just credit and legal. Open source projects are all about people. Seeing author tags tells fly by tells me who left a mark in a particular area. After a while If a specific name flies by a lot in some subsystem I begin to associate that person with that functionality and that helps me to learn about a project, about the people's style, and could also be beneficial when discu

[2017-07-04 23:12] garyrussell commented on #914
I don't understand all the angst about staleness; the word "lies" seems a bit extreme too.

`git blame` (and commit history) will show you who actually changed what.

`@author` also provides credibility when somebody talks about a project at a conference.

As a (relatively new, but now 7yr) Spring ecosystem committer, recognition is generally not an issue for me but, in my first few years, I can't

[2017-07-05 06:47] slu-it commented on #914
I think @sbrannen 's poll on twitter is a good way of getting some data from the community. Currently it seems to be: a lot of people don't care either way and of those who do, the pro-author tags are in the lead. The topic itself is very subjective (possible legal specialities from the Eclipse license aside) - kinda like spaces and tabs and where to put the curly braces...

Even though I dislike

[2017-07-05 07:41] #845 closed

[2017-07-05 14:27] ttddyy commented on #914
As a contributor to opensource, I feel good if my name shows up on sourcecode.
On the other hand, I agree opinions pointed by others in this thread about `@author` tag.

Alternatively, how about adding contributors on release notes or dedicated file(e.g. `CONTRIBUTORS.md`) for each release.
Format can be vary. It can be just a list of names or can include who did what.
Also, it can include contrib

[2017-07-05 15:41] sbrannen commented on #913
FYI: a primary impetus for this issue can be seen in the following lines of the `SpringExtension`.

https://github.com/spring-projects/spring-framework/blob/74b4c028819c67b90d4d06d352d3083d91d8a3f8/spring-test/src/main/java/org/springframework/test/context/junit/jupiter/SpringExtension.java#L202-L236

My fear is that Spring will not be the only third-party to introduce convenience methods like `ge

[2017-07-06 17:45] rstoyanchev commented on #914
Subjective adding `@author` tags is not as bad as it sounds. It's one of those things where it's easy to understand and adhere to the principle but there will always be some degree of subjectivity. The goal is not to create a strict cut-off line but rather to eliminate certain obvious cases that would simply dilute the `@author` tags.

One could compare to book authors where you also have reviewer

[2017-07-06 22:08] Thunderforge commented on #914
To be brutally honest, if I could get a JUnit `@author` tag, I would do as little work as possible to warrant earning an `@author` tag, preferably on a commonly used class, then move to some other project once I have the bragging rights that I'm a JUnit `@author`.

While I suppose it's a good thing that I worked on a project I wouldn't have otherwise contributed to, I'm not sure that this is the s

[2017-07-07 09:41] jhoeller commented on #834
Just a note since this thread started with Spring 5: That step came out of a special situation with 13 years of history, so our choice of implementing a custom Commons Logging variant happens to be our smoothest way out of this: preserving binary compatibility while having first-class support for Log4J 2, SLF4J and JUL... by default, without custom Maven setup. I wouldn't recommend this to anyone

[2017-07-07 11:55] mmerdes commented on #835
in progress

[2017-07-07 11:57] sormuras commented on #834
Thanks for the background information, Jürgen.

As stated above, I'm totally fine with stickting to JUL.

The current 16 usages of the `Logger.getLogger(...)` pattern are:
![junit5-loggergetlogger](https://user-images.githubusercontent.com/2319838/27956577-c5c2dfb8-631a-11e7-942c-c5f7e9fc7090.png)
This is the basis to build on for more meaningful logging, like Sam mentioned above. Perhaps, we shou

[2017-07-07 11:59] sbrannen commented on #834
Hi @jhoeller!

Thanks for sharing your insight with regard to Spring's special needs. We'll definitely take those points into consideration.

If we end up creating any kind of logging _facade_ for JUnit, I think it would simply be a wrapper around JUL that provides us a better API than the one in JUL itself. In other words, I don't foresee us aiming for interoperability with multiple logging frame

[2017-07-07 11:59] sbrannen commented on #834
@sormuras, looks like we're on the same page. 😉

[2017-07-07 12:02] sbrannen commented on #834
In such a utility class / façade, I'd actually like to use _common_ log level names to avoid the confusion caused by the bizarre log level names in JUL. Plus, I'd like to make sure that it's easy to log warnings with an exception, etc.

[2017-07-07 15:07] sbrannen opened #923 "Improperly configured @ParameterizedTest should fail instead of being disabled"
## Overview

Currently, if a `@ParameterizedTest` is not configured properly (at least as demonstrated below), it will be silently _disabled_; whereas, the improper configuration is actually an error.

For example, the following test configuration...

[code]

... results in:

[code]

... but the above is clearly a user error and not the result of a missing `TestTemplateInvocationContextProvider`.

[2017-07-07 16:25] JLLeitschuh opened #924 "Introduce Kotlin Assertion Helper Library"
## Feature Request

This is mostly a "nice to have" syntactically but the current a select few methods that all take `[SomeWrapperType]<Executable>` don't play as nicely as they could in kotlin.

Someone could easily create a kotlin DSL library wrapper over junit 5.
I did this with the [Google Guice DI library](https://github.com/google/guice) creating [Kotlin Guiced](https://github.com/JLLeitschu

[2017-07-07 20:08] marcphilipp commented on #924
Are there Kotlin-friendly assertions libraries you could use instead?

[2017-07-07 20:22] JLLeitschuh commented on #924
There are a few. Many of them that provide full runtime syntax helpers  piggyback off of Junit4.

I've been using [hamkrest](https://github.com/npryce/hamkrest) for some nicer `assert.that([something])` syntax.

Are there any particular complexities of implementing your own `assertAll` method to be wary of?

Perhaps I just need to have something that throws the `org.opentest4j.MultipleFailuresErro

[2017-07-08 11:27] marcphilipp commented on #924
Yes, that's all you'd need. Do you want to give it a shot?

[2017-07-09 20:01] sbrannen commented on #924
@sdeleuze, since you've introduced several Kotlin improvements for Spring Framework 5.0, can you provide us any guidance here on how to achieve a nice user experience with Kotlin with the least amount of work on the JUnit side?

[2017-07-09 20:49] paul-hammant opened #926 "Scopes + Dependency Injection discussion"
**Feature request.**

Note: this is a continuation of one part of the conversation of https://github.com/junit-team/junit5-samples/issues/29

Can we have a new callback `BeforeTestInstantiationCallback` please?

I want to be able to compose a container that is scoped for the test invocation like this https://github.com/paul-hammant/junit5-maven-picocontainer/blob/master/src/test/java/com/example/p

[2017-07-10 10:32] marcphilipp commented on #756
@akozlova Shall we open a ticket over at YouTrack or are you already working on it?

[2017-07-10 10:33] marcphilipp commented on #756
Closing this issue as it needs to be addressed by the IDEA integration.

[2017-07-10 10:33] #756 closed

[2017-07-10 10:39] marcphilipp commented on #609
Shadowing does not seem feasible after all, we'll have to take care not to introduce breaking changes in commons, not even in internal code.

[2017-07-10 10:39] #609 closed

[2017-07-10 10:41] marcphilipp commented on #855
Closing in favor of #809.

[2017-07-10 10:41] #855 closed

[2017-07-10 10:44] marcphilipp commented on #926
Duplicate of #839.

[2017-07-10 10:44] #926 closed

[2017-07-10 11:15] Tibor17 commented on #855
This issue was fixed in 2.21-SNAPSHOT.

On Mon, Jul 10, 2017 at 12:41 PM, Marc Philipp <notifications@github.com>
wrote:

--
Cheers
Tibor

[2017-07-10 11:23] sormuras opened #934 "Execute test methods in a stable order"
## Overview

Related issue #13

## Deliverables

- [ ] Internally "sort" (stable but not predictable) test methods before executing them

[2017-07-10 11:25] marcphilipp commented on #855
@Tibor17 Thanks for chiming in! So, will there be a 2.20.1 or do we have to wait for 2.21?

[2017-07-10 13:54] sbrannen commented on #907
_in progress_

[2017-07-10 14:28] JLLeitschuh commented on #924
Maybe this is something that `hamkrest` would like to support? I'll open an issue there and ask. Otherwise I'll look into implementing these things in my own library.

If this is outside of the scope of the Junit mission statement I totally understand. I just wanted to run it by the devs here before charging off on my own path.

Is the `org.opentest4j. MultipleFailuresError` object stable enough t

[2017-07-10 15:22] sbrannen commented on #907
Resolved in dd99bb33f5e637e54da5ddc2d5396b38b133bd4a

[2017-07-10 15:22] #907 closed

[2017-07-10 15:28] sbrannen commented on #913
**Team Decision**: _green bar_

[2017-07-10 15:29] sbrannen commented on #913
_Updated Deliverables_

[2017-07-10 15:37] sbrannen commented on #924
`org.opentest4j.MultipleFailuresError` should in fact be _relatively_ stable by this point, but keep in mind that it's also still in _milestone_ phase.

[2017-07-10 16:36] sbrannen commented on #913
Addressed in bef03b5ce4c2385a99b13ac1a3354ac2ca8acc96 in `master`.

[2017-07-10 16:36] #913 closed

[2017-07-10 16:45] littleclay opened #935 "ParameterResolutionException with TestInfo and Parameterized Tests"
When trying to get the TestInfo as an argument to a parameterized test method an error is thrown. I'm attaching the pom and test java file in the simple testing project I'm seeing this with.

[Archive.zip](https://github.com/junit-team/junit5/files/1136396/Archive.zip)

The error being thrown when I run `mvn clean test` is:
[code]

[2017-07-10 18:17] marcphilipp commented on #935
As stated in the [User Guide](http://junit.org/junit5/docs/current/user-guide/#writing-tests-parameterized-tests-lifecycle-interop):

Thus, if you swap your parameters, it works:

[code]

[2017-07-10 18:17] #935 closed

[2017-07-10 18:35] marcphilipp commented on #923
_in progress_

[2017-07-10 19:44] marcphilipp commented on #923
Done in master. Please see above commits for details.

[2017-07-10 19:44] #923 closed

[2017-07-11 08:35] littleclay commented on #935
Doh, somehow missed that. Sorry and thanks!

[2017-07-11 08:54] marcphilipp commented on #935
No worries!

[2017-07-11 11:19] sbrannen commented on #839
@codecholeric,

When you say that the "`BeforeAllCallback` is executed before the class initialization," are you referring to a _static initialization block_? If so, then I don't see how that could be true since JUnit must have access to a `Class` object for the test class before invoking any `BeforeAllCallback`. Hence, the class would already have been loaded in the `ClassLoader` by that point, a

[2017-07-11 11:20] akozlova opened #937 "Spock tests with @Unroll are not supported by Vintage engine"
Tests are executed but no notifications are received for the following sample code:

[code]

[code]

Checked with M5.

Linked IDEA issue: https://youtrack.jetbrains.com/issue/IDEA-159975

[2017-07-11 11:45] jbduncan opened #938 "Document which classes support inheritance and which do not"
## Overview

Currently, AFAICT, no classes (apart from utilities classes) document their support for inheritance (that is, whether they are designed to be subclassed or not). _Effective Java 2nd edition_, Item 16 describes the dangers of allowing users and extension writers to subclass JUnit 5 classes that aren't designed for inheritance. Therefore we should follow Item 17's advice to prevent this

[2017-07-11 11:57] jbduncan opened #939 "Consider static factory methods instead of constructors"
## Overview

Currently, there aren't many classes (if any) in JUnit 5 that are instantiated via _static factory methods_, as opposed to constructors. _Effective Java 2nd Edition_, Item 1 gives a number of compelling reasons for preferring static factory methods. Therefore we should consider adopting them more, skipping over those classes where there is a more compelling reason for them to have pub

[2017-07-11 15:34] sbrannen commented on #938
slated for RC1 for team discussion