[2016-09-13 21:08] marcphilipp commented on #504
@bechte We are planning to annotate `@TestFactory` with `@Testable` as well. So there shouldn't be any problems with dynamic tests in Jupiter.

We probably should add that if any method in a class or any inner class is meta-annotated with `@Testable` it must be considered as being annotated with `@Testable` as well, right?

[2016-09-13 21:38] jbduncan commented on #509
This sounds like a good idea to me! I agree that they're getting too large - they're so much so that sometimes I get confused and I have to retrace my steps to find particular methods.

[2016-09-14 05:13] mmerdes commented on #504
@akozlova
What do you think of the current state of the proposal?
If you have any ideas for improvements please let us know.

[2016-09-14 06:19] britter commented on #496
@marcphilipp I was thinking about providing the following methods to make the API sound:

* `notNull(Object[])`, `notNull(Collection)` -> Reference not null, contains no null references
* `notEmpty(Object[])`, `notEmpty(Cpllection)` -> Reference not null, contains no null references, is not empty

This way both use cases described by @sbrannen can be covered.

[2016-09-14 07:18] schauder commented on #448
I very often wished there was a feature like this. Most often the scenario was like this:

- I create a test that works just fine on its own
- I run it with the complete test suite with a gazillion other tests and my new test fails.
- I realize one of the other tests is missing a teardown/after logik and leave some dirty state behind it.

What I ended up doing is: manually splitting all test in tw

[2016-09-14 07:37] schauder commented on #169
I know you don't want to offer the full complexity of JUnit Rules in extensions, but I just had an idea:

How about creating a completely separate module, that offers an additional ExtensionPoint with Rule like behavior?

One could make it as discouraging to use as one whishes, by using separate artefact ids and even making it Deprecated right from the start, as a sign that this should only be use

[2016-09-14 08:49] bechte commented on #496
To me it looks like we have both cases:

- cases where we do not accept `null`, but accept `null` values within the array/collection
- cases where we do not accept `null` for the instance and values with the array/collection

Having a closer look at our implementation of `notNull(Collection)`, it clearly does not reflect what is stated in the JavaDoc: _"Assert that the supplied {@link Collection}

[2016-09-14 09:00] bechte commented on #477
Good catch. I would like to take care about the discovery mechanism. Let's talk about this issue together with #489 within the team. If all agree, I could work on this for M3.

[2016-09-14 10:12] sbrannen commented on #509
SGTM 👍

[2016-09-14 10:20] sbrannen commented on #477
Since #489 essentially supersedes this issue, I have marked this issue as _blocked_ until #489 is completed.

But let's leave this issue here since it was the original bug report that inspired #489. Furthermore, I'd like to leave it in M3 so that we can list it as a bug fix in the release notes.

[2016-09-14 10:21] sbrannen commented on #477
In addition, we have to ensure that changes made in conjunction with #489 actually _fix_ this bug. 😉

[2016-09-14 10:50] sbrannen commented on #496
I actually already decided (in my own brain over the past days) that we do in fact have 3 distinct use cases. So based on that principle, I agree with @bechte; however, I see a few things differently.

1. We don't need `notNull(Object[])` or `notNull(Collection)` since those are both covered by `notNull(Object)`.
1. The `notEmpty(Object[])` and `notEmpty(Collection)` variants should _only_ ensure

[2016-09-14 10:56] sbrannen commented on #496
Since I'm sure somebody will ask...

To address the original issue regarding discovery filters, with my above proposal the corresponding factory methods would have precondition checks similar to the following.

[code]

[2016-09-14 11:06] mmerdes commented on #369
@sormuras
Yes, do create a PR.

[2016-09-14 11:20] britter commented on #496
How about `isFilled(Object[]/Collection)` ? This is what I need for #493.

[2016-09-14 11:21] jbduncan commented on #496
I personally agree with @sbrannen's proposed method names and behaviour.

It sounds pretty similar to how Guava does things regarding their own public Preconditions class and other classes like com.google.common.collect.CollectPreconditions, in that their method names are intuitive, clearly state what they're checking for, and don't try to do anything beyond what's expected.

[2016-09-14 11:26] jbduncan commented on #496
I also think the "drawback" of not having an "all in one" precondition for not null, not empty and contains no null elements is not really be drawback at all. But then again I'm not in need of such a method myself, so my opinion here is probably not so meaningful. :P

[2016-09-14 11:28] britter commented on #496
As far as I understand the potential users are only the JUnit maintainers, since Preconditions should not be part of JUnits external API.

[2016-09-14 11:34] sbrannen commented on #496
It affects not just the maintainers (i.e., core committers) but also contributors like yourself. 😉

[2016-09-14 11:35] sbrannen commented on #496
@britter

That's equivalent to `notEmpty` and `containsNoNullElements` -- right?

[2016-09-14 11:49] sbrannen commented on #169
Yes, that's correct. It would end up being an _optional_ dependency in the Maven POM.

Sure, if you want concrete examples, I can point you to them.

In general, however, what you do is....

1. write a utility method that checks if a given class can be loaded with the current class loader (based on a hard coded fully qualified class name that you store as a string).
1. invoke that utility method a

[2016-09-14 11:52] britter commented on #496
It's the "all in one" precondition (not null, not empty, and contains no null elements).

[2016-09-14 11:59] sbrannen commented on #448
The _Spring TestContext Framework_ supports this for the `TestExecutionListener` and `ContextCustomizerFactory` APIs, and this can be extremely useful.

For example, Spring Boot and Spring Security can auto-magically contribute custom testing features without requiring the user to do anything other than add the `spring-boot-test` or `spring-security-test` JAR to the classpath.

But that automatic

[2016-09-14 12:05] sbrannen commented on #504
Yes. That is exactly what I meant when I wrote the following:

It is phrase as a question and targeted at IntelliJ... but only because it was meant for Anna specifically. 😉

In general, I intended that to be a requirement.

[2016-09-14 12:11] sbrannen commented on #504
Update: in order to avoid further confusion, I moved two of the open questions to a new _Requirements_ section.

[2016-09-14 12:15] akozlova commented on #504
Guys,

I think the proposal would work and of cause all meta-annotations would be processed (Testable as well as Test, etc). IDE could check if a class contains testable method, then the class would be automatically be testable - that's how it works now - no problem here.

I'll try to check if I can write annotation processor so this would help for initial run when there is no compiled code - but

[2016-09-14 12:45] sbrannen commented on #496
Right!

... which is logically equivalent to `notEmpty` and `containsNoNullElements`, because _not empty_ implies _not null_. 😉

So let me rephrase my question:

Could you live with using `notEmpty` and `containsNoNullElements` to achieve that goal?

[2016-09-14 12:49] sbrannen commented on #504
Hi @akozlova,

That all sounds good.

Thanks for the feedback!

[2016-09-14 12:52] sbrannen commented on #504
@akozlova, just one more thing...

Can you please comment on the following _open question_?

* If a class is annotated or meta-annotated with `@Testable` but contains methods that are _not_ annotated or meta-annotated with `@Testable` but should be considered test methods (e.g. some TestNG-like use cases), will IntelliJ consider the methods to be "testable"?

[2016-09-14 12:59] britter commented on #496
If the LauncherDiscoveryRequestBuilder is the only place where a combination of `notEmpty` and `containsNoNullElements` is needed, then I think it does not make sense to introduce a new method just for this use case. If we have more places where we need this kind of check, I think creating a specific method is justified to reduce duplicate code.

[2016-09-14 13:08] akozlova commented on #504
I think yes, for non-private methods. In the worst case the engine won't be able to run it.

[2016-09-14 13:21] sbrannen commented on #496
Sure.

Let's see how many places we actually need the "all in one" behavior.

[2016-09-14 13:27] sbrannen commented on #504
OK. Thanks!

[2016-09-14 14:41] bechte commented on #489
First step: Ensure that each DiscoverySelector implementation stores the selected element in a raw format

- [ ] ClasspathResourceSelector
- [ ] ClasspathRootSelector
- [ ] DirectorySelector
- [ ] FileSelector
- [ ] JavaClassSelector
- [ ] JavaMethodSelector
- [ ] JavaPackageSelector
- [ ] UniqueIdSelector
- [ ] UriSelector

[2016-09-14 18:57] kcooney commented on #169
@schauder https://github.com/junit-team/junit4/pull/1336 is an extension point with Rule-like behavior, and I think one that the Junit5 team would be comfortable supporting without deprecated APIs or warnings. Is it missing something you think our users would need?

[2016-09-15 06:57] sormuras commented on #369
Where to place the `TreePrintingTestListener` implementation?

1. `package org.junit.platform.console.tasks;` in `junit-platform-console` ... next to `ColoredPrintingTestListener`
2. `package org.junit.platform.launcher.listeners;` in `junit-platform-launcher` ... next to `SummaryGeneratingListener`

[2016-09-15 07:31] rolandkrueger opened #510 "Introduce @TestsFor annotation to define the test subject"
The idea is to be able to define the concrete class which is subject of a given test class. An example could look like the following:

[code]

`@TestsFor` should be a class level annotation. Usage should be optional.

Having such an annotation makes it explicit which class is tested by a test class without having to rely on the test class's name to obtain this information. IDE vendors can use this

[2016-09-15 08:00] marcphilipp commented on #369
Since I don't think it's useful outside the console (is it?) I'd put it into _ org.junit.platform.console.tasks_.

[2016-09-15 08:04] marcphilipp commented on #504
@akozlova If I understood you correctly, you need to check if you can write such an annotation processor based on the AST first, before you can tell whether this proposal is feasible, right? If so, how long do you think you will need for that?

[2016-09-15 10:16] sbrannen commented on #369
FWIW, I think we may eventually want to introduce a separate `junit-platform-reporting` module to serve as the home of XML report generation, tree-based reporting, etc.

However, for the time being I agree with @marcphilipp. Just put the tree printing listener in `org.junit.platform.console.tasks` and make it package-private.

[2016-09-15 10:19] sbrannen commented on #510
@akozlova, what do you think about this proposal from the perspective of the IDE?

[2016-09-15 10:20] sbrannen commented on #510
Let's keep in mind that something as generic as this may be better positioned as part of the Open Test Alliance instead of limited to the JUnit Platform.

[2016-09-15 10:21] sbrannen commented on #510
IMO, the annotation would actually need to support `Class[]` instead of a single `Class` reference.

[2016-09-15 10:28] sbrannen commented on #369
@sormuras, I admittedly have not checked this in your current code, but... does your implementation support _dynamic tests_?

[2016-09-15 10:38] sormuras commented on #369
@sbrannen Yes, as all dynamically registered tests executions are published via `executionStarted` and `executionFinished` as well, the tree does include those. See https://travis-ci.org/sormuras/beethoven/builds/159849098 which sports 106 static tests - and all 131 real tests are printed by the tree renderer. Will add a test to `TreePrintingTests` later.

[2016-09-15 10:50] sbrannen commented on #369
Thanks for the link.

Are the "annotatable(...)" tests _dynamic_?

And yes, adding a dedicated test would be great.

[2016-09-15 10:56] sormuras commented on #369
Aye. They are generated via classpath scanning at runtime. Same goes for these `primitives()` and `types()` containers some lines above. `TestFactory` sources: [AnnotatedTest](https://github.com/sormuras/beethoven/blob/master/src/test/java/com/github/sormuras/beethoven/AnnotatedTest.java)s and [AnnotatableTest](https://github.com/sormuras/beethoven/blob/master/src/test/java/com/github/sormuras/bee

[2016-09-15 11:01] sbrannen commented on #369
cool. thanks for the clarification.

[2016-09-15 11:12] sormuras commented on #369
The current iteration adds the `TreePrintingExecutionListener` to the default listeners of the console launcher - right next to the `SummaryGeneratingListener`. See forests grow at

- Linux, extended ASCII art https://travis-ci.org/junit-team/junit5/jobs/160133751
- Windows, simple ASCII art https://ci.appveyor.com/project/marcphilipp/junit5/build/179

Next task on my list: introduce an enable tre

[2016-09-15 11:21] sbrannen commented on #369
I'd recommend using `├──` instead of `┌─` and `-` instead of `o`.

[2016-09-15 11:25] sormuras commented on #369
Will replace them accordingly.

What do think about the `// ` signs in the (multi-line) comments section used when printing skip reasons, stack traces and report entries?

[2016-09-15 11:45] akozlova commented on #504
I thought about asm instrumentation so I would have class bytes and would define them in my classloader to check if junit can find tests there, and what tests would be found. I have no idea of timing, sorry. Looks pretty simple but the devil is in the details ...

This won't work for initial case when user checks out a new project and want to start a test right after that. So I think that the anno

[2016-09-15 11:53] akozlova commented on #510
As stated in the issue: IDEA searches for *MyKlass*Test pattern to detect tests (and create tests accordingly). So if people prefer to have Test e.g. as prefix, this won't work. With such annotation this ad hoc approach won't be needed and that's good. I agree that this could be more general than junit.

What about an opposite annotation '@TestOf' so the navigation from test to class could be easi

[2016-09-15 11:55] sbrannen commented on #504
OK. So if I understood @akozlova correctly, we should go ahead with the `@Testable` support in any case.

[2016-09-15 12:02] sbrannen commented on #510
@akozlova, the proposed `@TestFor` annotation would reside on a test class. So that already takes care of navigation from the test class to the production class being tested. And, in theory, an IDE could preprocess classes in the test source tree for the presence of `@TestFor` and thereby infer a bidirectional relationship from that annotation alone.

The flip side would therefore logically be `@T

[2016-09-15 12:07] sbrannen commented on #369
Hmmmm.... not sure what I think of that yet.

Other than:

1. detailed output should be an opt-in feature
1. in the very least, I would indent such information another two spaces to align underneath the test display name.

[2016-09-15 12:09] smoyer64 commented on #510
I like this proposal for unit tests and if @TestFor supports Class[] perhaps some integration tests but it may not work so well for system and acceptance tests.  I think it would be useful to be able to pass a String as an alternative to a Class[].  Test classes could be annotated with the name of a user story, use case or requirement (section?) for traceability.

[2016-09-15 12:19] sbrannen commented on #510
That's also worth considering. Thanks for bringing it up.

[2016-09-15 12:29] akozlova commented on #510
Sorry, was not reading the issue :/ The suggestion indeed covers both searches and would work for both directions perfectly well.

[2016-09-15 12:48] schauder opened #512 "Introduce Ant build support for the JUnit Platform"
This question came up after a JUnit5 talk of mine:

Is anybody working on a JUnit5-Ant integration?

[2016-09-15 12:54] akozlova opened #513 "Reduce log level for detected test engines to DEBUG"
Starting within the IDE, the default log level of `INFO` results in `System.err` output by the `ServiceLoaderTestEngineRegistry` which lists the detected engines.

Should that really be the case, or should the log level be `DEBUG` for that information?

I can imagine this could be handy when a user writes a custom test engine. In all other cases, this information is perhaps of little interest.

[2016-09-15 13:43] sormuras commented on #513
👍 tuning it down to `LOG.DEBUG`

First thing in an IDE launch is, I always mute it via `org.junit.level=WARNING` in a `logging.properties`.

[2016-09-15 13:48] sbrannen commented on #512
Nope. Not that I'm aware of.

With that in mind, I'll reword the subject of this issue and make it "up for grabs". 😉

[2016-09-15 13:52] sbrannen commented on #513
The rationale for having it at `INFO` level is that it helps us to better assist users who are trying out the JUnit Platform for the first time.

For example, from that information alone we are immediately able to discern whether or not the user has the classpath configured correctly (e.g., hasn't forgotten to include the JUpiter or Vintage `TestEngine` as a dependency).

So I'm personally incline

[2016-09-15 14:15] schauder commented on #169
@kcooney junit-team/junit4#1336 mentiones the constraints itself:

It doesn't seem possible to change the way the test code executs:
- run it in a special thread (e.g. EDT)
- run it 10 times and consider it failed when it fails in more then two cases
- run it 100 times in 10 threads in parallel

All these can be implemented with Rules easily.

They can also be done with DynamicTests (I think), but

[2016-09-15 14:30] akozlova commented on #169
+1 to support execution in a special thread without DynamicTests. It's hard to start only one DynamicTest - and that's essential in many cases.

[2016-09-15 14:32] sbrannen commented on #169
You're right: if we don't get the extension model right (i.e., powerful enough), we will in fact face that risk.

However, I think most (if not all) of these concerns will be addressed in one or more of the following issues:

- #14
- #60
- #276 (maybe)
- #371 (maybe)

[2016-09-15 14:34] sbrannen commented on #169
@akozlova, that will be addressed in #157.

[2016-09-15 14:36] sormuras commented on #369
Based on your last comment, I tweaked the layout to

- Windows https://ci.appveyor.com/project/marcphilipp/junit5/build/184
- Linux https://travis-ci.org/junit-team/junit5/jobs/160183009

Working on the opt-in for details feature now.

[2016-09-15 14:44] sbrannen commented on #369
cool. thanks.

[2016-09-15 15:15] sormuras commented on #369
I hooked into the `options.isHideDetails` switch from the console options:
[code]
Or should I introduce a new one?

[2016-09-15 15:17] sbrannen opened #514 "DisabledCondition fails to unwrap Optional element when generating reason"
## Status Quo

When a test class or test method is annotated with `@Disabled` but does not provide a custom `reason`, a default reason is generated. However, the default reason currently does not _unwrap_ the `Optional` element, resulting in a reason such as the following.

[code]

Whereas, the reason for the above should in fact be:

[code]

## Deliverables

- [ ] Unwrap `Optional` element when g

[2016-09-15 15:18] sbrannen commented on #369
I don't think we need a new switch for that.

"Details" are "details". 👍

[2016-09-15 15:19] sbrannen commented on #369
By the way, seeing your output made me notice bug #514. 😉

[2016-09-15 15:40] sormuras commented on #369
:bow: Saw it too, but thought it was intended.

New, close-to-final layout visible at:

1. https://travis-ci.org/junit-team/junit5/jobs/160195205
2. https://ci.appveyor.com/project/marcphilipp/junit5/build/186

Are `ReportEntry`s considered details? If yes, I'll guard them as well.

[2016-09-15 15:41] #514 closed

[2016-09-15 15:42] sbrannen commented on #369
Nope. That was definitely unintentional.

So if you notice other odd things like that, please speak up!

[2016-09-15 15:43] sbrannen commented on #369
Yes, I consider those _details_.

[2016-09-15 15:49] sormuras commented on #369
Consider them hidden. If `--hide-details` is true.

[2016-09-15 16:01] rolandkrueger commented on #510
Thanks for the positive feedback to my proposal.

@sbrannen, I agree that this feature belongs to the more general OTA project.

Regarding the idea for an opposite annotation `@TestedBy`, I also see that such an annotation couldn't be used since every well-configured project includes testing libraries only with test scope. So, I wouldn't propose to introduce such a feature.

When thinking about th

[2016-09-15 16:10] jbduncan commented on #510
Regarding unit tests, there's a proposal going on to split `AssertionsTests` into multiple logical units, e.g. `AssertionsEqualsTests` (https://github.com/junit-team/junit5/issues/509), so I think it's worth having a potential `@TestFor` or `@UnitTestFor` annotation which accepts `Class[]` (not just `Class`).

[2016-09-15 16:14] jbduncan commented on #510
Oh wait, spoke too soon!

For that proposal, it wouldn't matter whether `@(Unit)TestFor` accepted `Class` or `Class[]`, since all the subtests would test the same public class anyway.

You may ignore my previous comment. :sweat_smile:

[2016-09-15 17:11] smoyer64 commented on #510
@rolandkrueger  Your code snippet looks great but remember that it also requires that whatever attribute is assigned for the Class[] is also nullable (or defaults to empty.)  Are there cases where you might want more than one String?  (And yes, you could always put more than one use case number in a single String instead.)

[2016-09-15 18:07] sbrannen commented on #510
If such an annotation supports a `String` or `String[]`, I would suggest calling it `usecase` or `usecases` (or perhaps `useCase` or `useCases`).

[2016-09-15 18:11] sbrannen commented on #510
While that is technically true, in practice it doesn't have to be so. In other words, it can be documented as part of the contract that either `classes` or `usecases` must be supplied and that an exception should be thrown otherwise. Of course... it's then up to the consumer to enforce the contract and out of our hands as API designers.

Just playing devil's advocate...

[2016-09-15 18:23] rolandkrueger commented on #510
@smoyer64 I'm not sure if I correctly understand your point. I assume you mean that when the annotation has a second optional attribute `scenario`, the `Class[]`-typed `value` parameter needs to be optional, to which I agree. This would mean that `@TestFor` could be used standalone without any specified values which wouldn't hurt since a solitary `@TestFor()` would simply be a truism without any e

[2016-09-15 18:39] smoyer64 commented on #510
@sbrannen @rolandkrueger

Yes ... that's what I meant but it was obviously unclear!

[2016-09-16 02:47] ravikulkarni opened #515 "Support parallel execution of legacy Junit Tests"
Requesting to add support for parallel execution of legacy JUnit tests.

**Use case:**
- Ability to execute legacy JUnit tests in parallel  - Legacy tests are implemented in older versions of JUnit. The tests and their helper classes have shared static and singleton  variables all over the place. The classes need not be modified before running (or could not be modified because there are lots of te

[2016-09-16 07:30] sormuras commented on #369
In other words, if you start test execution via the `ConsoleLauncher`, you automatically get the `SummaryGeneratingListener` *and* the `TreePrintingTestListener` registered?
If yes, this behaviour is already implemented by this PR.

Nit, if `--hide-Details = false`, the `ColoredPrintingTestListener` is actived as well. The resulting output is ... verbose. Meaning, very detailed. May be, a dedicate

[2016-09-16 08:09] akozlova opened #516 "Cannot select default method by fully qualified method name"
Given the code:

[code]
I expect that passing `BTest#testSmthCommon` as the _fully qualified method name_ would discover test method in `BTest` class.

Instead, the JUnit Platform discovers method in the interface and then the `JupiterTestEngine` fails to run it.

I believe the problem is due to the use of `method.getDeclaringClass()` in `DiscoverySelectors#selectJavaMethod(String)`.

This was not

[2016-09-16 09:21] sbrannen commented on #369
Note, however, that `--hide-tree` should be provided to the `ConsoleLauncher` via the Gradle plugin by default, analogous to `--hide-details`.

[2016-09-16 09:22] sormuras commented on #369
`--hide-Tree`

[2016-09-16 09:22] sbrannen commented on #369
Yes, I meant `--hide-tree` (with a lowercase "t").

I updated my comment accordingly.

[2016-09-16 09:26] sbrannen commented on #369
Thanks! 👍

[2016-09-16 09:54] sbrannen commented on #369
In the `ConsoleLauncher`, as with `--hide-details`, `--hide-tree` should also default to `false`.

In other words, the absence of `--hide-tree` as a command-line argument means implicitly that the tree is displayed.

[2016-09-16 10:02] sormuras commented on #369
But then, if both are absent, you'll get the verbose and interleaved output of both printing listeners.

What about this decision matrix, that only one plan execution printer can be active?

hide-details | hide-tree | resulting print out
-------------|-----------|--------------------
**true** | **true** | no colors, no tree -- just **summary**
false | true | no tree -- **colors** + summary
true |

[2016-09-16 10:23] sbrannen commented on #516
Thanks for raising the issue @akozlova!

I have confirmed that this is a bug.

[2016-09-16 10:24] sbrannen commented on #516
I have also reworded the title accordingly.

[2016-09-16 10:32] sbrannen commented on #516
FYI: I have introduced a failing test that reproduces this issue. See c8a589947f8073a00a35044dbb2c1138480a1f58.

[2016-09-16 10:35] sbrannen commented on #369
Hmmmm... I haven't looked into it with that level of detail.

You may be right.

But, FWIW, there is already `--disable-ansi-colors` to disable ANSI color output. So that precludes the need for `--hide-colors`.

[2016-09-16 10:46] sormuras commented on #369
Pardon my misleading wording: `--hide-colors` was short for `--hide-potentiallyColorfulTestExectionListener` ... which could replace the `--hide-details` switch.

Maybe too much configurability is an overkill here. As IDEs will take over soon, anyway. Perhaps it's easier to merge the `Colored`- and the `TreePrintingListener` into one `DetailsPrinter` and keep the already introduced switches `--hid

[2016-09-16 11:14] sbrannen commented on #489
@bechte, could you please take a look at #516 and keep that bug in mind as you address #489?

Cheers!

[2016-09-16 11:15] sbrannen commented on #516
Tentatively assigned to @bechte in conjunction with his work on #489.

[2016-09-16 11:19] sbrannen commented on #369
I think that sounds fairly reasonable.

@junit-team/junit-lambda, what do you the rest of you think about that proposal?

[2016-09-16 11:25] sormuras commented on #369
It could, imagine colors and test identifier unique ids, look like:
[code]

[2016-09-16 11:40] sormuras commented on #369
Proof-of-concept with colors and unique ids:

- https://travis-ci.org/junit-team/junit5/jobs/160420698
- https://ci.appveyor.com/project/marcphilipp/junit5/build/200

[2016-09-16 14:27] kcooney commented on #169
Having a Rule run a test multiple times violates some of the assumptions in JUnit 4 (ex: each test method runs in a unique instance) , so I wouldn't want to support it in Fixtures.

[2016-09-16 16:34] bechte commented on #489
Sure, thanks for pointing that. 👍

[2016-09-17 08:25] marcphilipp commented on #515
Parallel support is being discussed in #60. Sounds like you'd need to provide a custom class loader, too. Can you show us how you implemented this using JUnit 4?

[2016-09-17 08:27] marcphilipp commented on #513
I think it might make sense to disable logging by default and provide a simple way (e.g. by setting a system property) to enable it that we could document in the user guide.

[2016-09-17 11:15] sormuras commented on #369
Better layout, more details. https://travis-ci.org/sormuras/beethoven/builds/160647651
If you like this approach, I'll tackle skipped tests, exception stack trace and other layout improvements.

[2016-09-17 11:36] sbrannen commented on #513
If we go that route, I think we'd need to introduce our own custom logging façade to hide that additional level of indirection. Otherwise, everywhere we use logging will need to be modified with additional conditional checks. So I'm not really a fan of that... unless there is some feature of JUL that I'm unaware of which simplifies matters.

IMHO, I think it's a good idea to have logging enabled b

[2016-09-18 08:21] bechte commented on #169
I don't think that dynamic tests will be the answer to many problems. Those are very special and (still) do not support the powerful `setup`, `test`, `teardown`, nor do they support hierarchies. So I believe, people would rather use the more powerful extension model and if it does not fit their needs, they will open a feature request (hopefully).

Moreover, I think that we can support most of the

[2016-09-18 10:52] sormuras commented on #369
Last tweak results in full-details mode:
[code]
Entire output with colors is here: https://travis-ci.org/sormuras/beethoven/builds/160805090

[2016-09-18 16:09] aaschmid opened #518 "Possibility to customize element resolving"
Hi @sbrannen,

according to your last comment on https://github.com/TNG/junit-dataprovider/issues/75, I looked deeper into the `Extension` API. I agree that I do not  want to provide a custom test engine. Maybe you can help me about implementing an extension for junit-dataprovider to run the tests with junit-jupiter rather than a complete test engine.

Correct me if I am wrong but as far as I unde

[2016-09-19 09:19] britter commented on #496
@sbrannen I had some time to look at this again. Your proposal was to drop `notNull(Object[], String)` and to introduce `notEmpty` and `containsNoNullElements`variants for both, arrays and collections.

The problem with removing `notNull(Object[], String)` is, that the behavior currently implemented can't be replaced by `notEmpty` and/or `containsNoNullElements`:

* `notNull(Object[], String)` ->

[2016-09-19 16:41] sormuras opened #519 "Container successful, even if tests failed."
`TestExecutionListener`s receive a successful container finish status, even if it contained a failing test. Should a container report also as `FAILED` if it has more than zero failed tests?

See https://travis-ci.org/sormuras/beethoven/builds/161083042
Line 766 points to a failing test, line 872 is the end of the enclosing container, which reports a successful execution.

[2016-09-19 19:44] akozlova commented on #504
I've made a proof of concept to start launcher api from compiler task and looks like it's doable. But when I try to discover everything in our project: it took 3.5 mins (detected around 140 000 tests, actually suspicious number, will try to check it) where full rebuild takes around 10 mins. I just run classpath selector over test output including the test + production output in the classpath of my

[2016-09-20 03:03] jlacar commented on #162
Two edges to this sword:
1. Bad examples: https://www.youtube.com/watch?v=bpKbvb95Bv0 (first 15 mins)
2. Good examples: http://blog.codefx.org/libraries/junit-5-basics/#Naming-Tests

YMMV but my experience often shows that more people will find and follow bad examples than the good ones. I fear the most common usage we'll end up seeing is where the display names basically repeat what the method na

[2016-09-20 16:28] smoyer64 commented on #219
I wanted to add a use-case to this issue that was described during the "Metrics-Driven Continuous Delivery in Practice [TUT5941]" session at JavaOne.

The presenter's company (Dynatrace) has developed a custom @Ignore annotation which allows tests to be ignored only if the issue (in this case in Jira) it's testing against is still open.  This seems like a pretty clever TDD trick too.

[2016-09-20 17:22] sbrannen commented on #219
Yep, that's also a clever use case.

But something like that is very specific to a particular technology. So I don't foresee that being implemented as a generic solution within JUnit itself.

[2016-09-20 17:53] smoyer64 commented on #219
No ... but the "condition =" idea above would satisfy both this use case and the @DisableUntil use case.

[2016-09-21 12:26] sormuras commented on #369
@sbrannen Any decision taken regarding the `DetailsPrinter`?

The current p-o-c version looks like:

* Simple tree https://travis-ci.org/sormuras/beethoven/builds/161607359
* Verbose tree https://travis-ci.org/sormuras/beethoven/builds/161608341

[2016-09-21 13:08] noopur2507 opened #520 "TestIdentifier methods: isTest() and isContainer()"
TestIdentifier has these two methods: `isTest()` and `isContainer()`. As per my understanding, `isTest()` is used to identify a test case that is executed and `isContainer()` is used to identify a container of these test cases. Hence, a `@TestFactory` method is a container and not a test.

Is there anything else to the meaning of `isContainer()`? If not, these two are exactly opposite of each othe

[2016-09-21 13:38] orfjackal commented on #520
Related: #407

[2016-09-21 19:18] signed commented on #510
As this is a class level annotation and most of the time a test class contains multiple tests how about Test**s**For(...) instead of TestFor(...)

I do not like the additional useCase/scenario attribute. Seems to me like mixing different concerns into a single annotation (IDE navigation vs. Test documentation / grouping).

[2016-09-22 11:11] sormuras commented on #369
In #511 I replaced the simple `--hide-details` switch with an enum called [DetailMode](https://github.com/sormuras/junit5/blob/f711d3713c8e0702920229becb373b041382fdf0/junit-platform-console/src/main/java/org/junit/platform/console/options/DetailMode.java). It provides an `HIDDEN`, `FLAT` and two tree variants. With this, the user can select the desired detail mode by naming it - no need for the d

[2016-09-24 09:46] britter commented on #435
apache/maven-surefire#118 has been fixed. The Apache Maven team has set up a branch in the surefire repository for working on the surefire integration. I'm going to add more integration tests. I'm currently not sure when/how we're going to handle the contribution of the provider implementation. I'll comment again, when I have a better overview of surefire.

[2016-09-24 11:36] marcphilipp commented on #435
@britter Awesome, thanks for your perseverence!

[2016-09-24 17:13] juergenzimmermann commented on #497
@sbrannen do you have a coarse estimation when M3 might be available?

[2016-09-25 06:55] #500 closed

[2016-09-25 21:02] ravikulkarni commented on #515
Here is an example of how I have implemented this. [Github Link](https://github.com/ravikulkarni/parallel_junit)

I was considering implementing this in JUnit 5 using Launcher APIs. Thoughts?

[2016-09-26 12:16] schlauergerd opened #523 "@BeforeEach & @AfterEach methods are not invoked using extensions registered at the test method level"
A ParameterResolver, which is configured at test-method-level, is not used for the corresponding BeforeEach-method.

Given this test class:
[code]

I expected this output:
[code]

but got: org.junit.jupiter.api.extension.ParameterResolutionException: No ParameterResolver registered for parameter [mypackage.DummyTest$MyParameter arg0] in executable [public void mypackage.DummyTest.setUp(mypackage.D

[2016-09-26 20:51] marcphilipp commented on #523
Thanks for reporting! Looks like a bug at first sight. We'll look into it and get back to you.

[2016-09-27 18:00] marcphilipp commented on #519
That's by design, see Javadoc of TestExecutionListener.

[2016-09-27 18:00] #519 closed

[2016-09-28 12:02] bechte commented on #489
Second Step: Ensure that each `TestSource` implementation stores the source in a raw format.
Add getter methods for retrieving the raw format as well as technology specific representations.

- [ ] JavaClassSource
- [ ] JavaMethodSource
- [ ] JavaPackageSource

[2016-09-29 15:52] bechte commented on #516
This issue makes the difference of `JavaMethodSelector` and `JavaMethodSource` very obvious. A selector references to the _Thing Under Test_ (also requiring the explicit `Class` to run the tests with), while the source points to the place _where_ the code is defined. Therefore, for the selector we have to extract the class from the fully qualified name and cannot use the `getDeclaringClass()`. For

[2016-09-29 15:54] bechte commented on #489
I did some rework on the classes to provide a good base for further discussion, see feature branch *sb_userawvaluesfordiscovery*. There are still some questions open that we will discuss in the team. Afterwards, I will prepare a pull request for the changes.

[2016-09-30 00:04] bechte commented on #496
@britter

One could replace `notNull(Object[], String)` by calling `notNull(Object, String)` and `containsNoNullElements(Object[], String)`. This would fit the need.

For the replacement of the current `notEmpty(Collection)`, one could do a little refactoring trick:

- rename the current method to `notEmptyOld(Collection)`
- introduce the new `notEmpty(Collection)`
- rewrite `notEmptyOld(Collectio

[2016-09-30 00:35] jbduncan commented on #496
And just to make things even _more_ complicated (because I'm mean like that 😉), we may want to consider replacing the parameters of the `Preconditions.*(Collection)` methods with `Iterable` to expand their potential usefulness.

But considering that `Preconditions` is internal, this is may be premature until we know that we actually need to work with pure iterables rather than just collections.

[2016-09-30 15:24] JingMa87 opened #528 "Beginner needs help!"
Hi JUnit5 community,

Sorry for asking my question like this, I hope I'm not offending anyone. If I did offend anyone, I'll remove this message asap.

I'm an intermediate programmer who's new to open source and would love to contribute to JUnit5. However, there's no info here for people who are new to open source and no mailing list or common chat. Can anyone help me get started? Or is JUnit5 for

[2016-09-30 16:51] jbduncan commented on #528
Hi @JingMa87, no need to apologise! You haven't offended me at least, and I'm sure any other reasonable person here wouldn't be offended by your perfectly reasonable question either.

I'm not personally on the JUnit 5 team, but I could perhaps give you some pointers on contributing to the project, as I'm also relatively new to open source. (However, despite what I say next, I'd recommend you wait

[2016-09-30 18:13] JingMa87 commented on #528
Wow @jbduncan, I read your commit and there's a lot of code that I don't understand yet. For example stuff like Iterator<?>. Does that mean I shouldn't contribute code yet? I never learned this stuff in my compsci courses. Are other open source projects easier? I'm almost getting nervous since I already spend 4 days researching open source and it seems impossible for me to get started. I've been p

[2016-09-30 21:35] cpovirk opened #531 "Deprecate expectThrows in favor of assertThrows returning the exception"
Is it possible to rename `expectThrows`?

As we introduce people to `expectThrows`, we keep hearing:

- (almost always) This is great.
- (occasionally) This isn't what "expect" usually means.

I (and the people I'm hearing from) seem to be used to to "expect" as meaning: "If this fails, record the failure in a list. When the test fails, show all the failures." For example: https://github.com/googl

[2016-10-01 01:39] smoyer64 commented on #531
The @Rule available in JUnit 4.12 is called [ExpectedException](http://junit.org/junit4/javadoc/4.12/org/junit/rules/ExpectedException.html).  I guess I never really thought about the method name "expectThrows" since it's so close.

[2016-10-01 13:28] sbrannen commented on #531
TBH, I've personally never been a fan of the `expectThrows` method in the `Assertions` class.

Aside from the two `fail` methods in `Assertions`, `expectThrows` is the only method not named `assert*`.

## Proposal

If it were up to me, I would simply delete the existing `assertThrows` method and rename `expectThrows` to `assertThrows`.

Rationale:

1. Assertions should _assert_ something.
2. We do

[2016-10-01 14:08] jbduncan commented on #528
Hi @JingMa87, I don't know what CompSci courses you took, but I can share with you my own background, in the hope that it lets you feel more confident about approaching open source.

I'm currently in my final year of university where I'm studying Computer Science. I developed an interest in Java in my first year, and since then I discovered [Guava](https://github.com/google/guava), a library which

[2016-10-01 14:21] mlevison commented on #531
Sam - Not a team member, but as a user and someone who educates others this
an nice tidy up. One fewer exceptions to the rule. Less cognitive load.

Cheers
Mark just off a red eye

On Oct 1, 2016 9:28 AM, "Sam Brannen" <notifications@github.com> wrote:

[2016-10-01 14:33] bechte commented on #531
I have also been stumbled upon those methods being confused. Totally agree. 👍

[2016-10-02 18:50] JingMa87 commented on #528
Hi @jbduncan, thanks a lot for your extensive answer. It helped me a lot and I think I'm going to browse through the Issue Tracker to see if there's something I can work on. I also subscribed to a mailing list of the NetBeans open source project.

Good luck on your studies!

[2016-10-03 07:13] marcphilipp commented on #528
I think @jbduncan's advice is excellent and I agree that JUnit might not be the easiest open source project to start contributing. I'm closing this issue as @jbduncan has provided you with very good pointers on how to get started.

[2016-10-03 07:13] #528 closed

[2016-10-03 08:08] marcphilipp commented on #531
I only remember there being some argument about some static analysis tools (I don't remember which) that would give you warnings when calling a method that returns an exception which you don't consume. IIRC that was the reason a void variant was introduced and, since overloading was not an option, a different name was used for the method that is now called `expectThrows` probably to sound similiar

[2016-10-03 11:06] sbrannen commented on #531
Thanks for chiming in guys.

@marcphilipp, yep, I believe you are correct that the second method was added in order to avoid warnings, but I also don't recall which IDE/tool emits warnings for an used/unassigned return value.

@mmerdes, do you also agree with my proposal?

[2016-10-03 11:18] jbduncan commented on #531
@sbrannen, I know that IntelliJ and Google's error-prone compiler emit warnings if the return values of methods annotated with `@CheckReturnValue` are not assigned to a variable.

Might one of both of these be the offender(s) that prompted the existence of `expectThrows`?

[2016-10-03 11:21] sbrannen commented on #497
@juergenzimmermann, perhaps by the end of October. The core team is swamped with work, so we are unfortunately forced to push back the release dates.

[2016-10-03 11:24] noopur2507 opened #534 "DiscoverySelectors#selectJavaPackage not restricted to the provided package name"
I have two packages in my Java project:
- package `samples` containing a test class `FirstTest.java`
- package `samples.one` containing a test class `SecondTest.java`

I am using the API `DiscoverySelectors.selectJavaPackage(String)` to create the request and discover the test plan while passing the package name as `samples`. The returned test plan contains both the test classes `FirstTest.java` a

[2016-10-03 11:26] sormuras commented on #531
IntelliJ reports the following warning: [Result of 'expectThrows()' not thrown](https://drive.google.com/file/d/0B3R-vZl2xCYUX25GWnNhR0x1Vkk/view?usp=sharing)

[2016-10-03 11:34] sbrannen commented on #531
@sormuras, thanks for sharing the screenshot.

I'm guessing there's a way to disable that in IntelliJ as well -- yes?

I'm also guessing that IntelliJ IDEA could be improved to _not_ report a warning for such methods in assertion utilities. 😉

@akozlova, what are your thoughts?

[2016-10-03 11:35] sbrannen commented on #531
@jbduncan, it looks like Goggle's error-prone will address that here: https://github.com/google/error-prone/issues/452

[2016-10-03 11:35] sormuras commented on #531
Yes. See second shot linked above.

[2016-10-03 11:36] sbrannen commented on #531
For anyone interested, the _source_ of `expectThrows` can be seen here:

- https://github.com/junit-team/junit4/pull/1153
- https://github.com/junit-team/junit4/pull/1154

[2016-10-03 11:40] sbrannen commented on #504
@akozlova, we have made significant improvements to performance with regard to classpath scanning in `master`.

These improvements will be generally available once 5.0 M3 is released (which we _hope_ to achieve by the end of October or mid November). So if you're using M2 right now, you won't see these performance improvements.

[2016-10-03 11:42] sbrannen commented on #504
@akozlova, please note that the classpath scanning improvements (coming in M3) are most effective if you provide a regular expression for test class names since that allows JUnit to avoid unnecessary loading of classes that shouldn't be considered as possible test classes.

[2016-10-03 11:46] sbrannen commented on #534
Hi @noopur2507,

Thanks for raising the issue!

You're correct: package selection results in recursive classpath scanning beginning with the supplied package.

We are aware of this shortcoming and have already opened #313 to address this issue.

I am therefore closing this issue as a _duplicate_. So feel free to _subscribe_ to #313 and participate in the discussion there.

Cheers!

Sam

[2016-10-03 11:46] #534 closed

[2016-10-03 11:52] sbrannen commented on #534
@noopur2507, in the interim you should be able to achieve filtering by providing a pattern to `org.junit.platform.engine.discovery.ClassFilter.includeClassNamePattern(String)` that matches against the specific package name you want to include; all other packages would then be excluded.

[2016-10-03 13:17] noopur2507 commented on #534
Thanks, I will subscribe to  #313.

In my case, if I use the pattern `samples.*` with `ClassFilter.includeClassNamePattern(String)`, it will also include the tests present in its sub-packages e.g. from `samples.one` package. So, it doesn't solve the problem.

[2016-10-03 14:40] sbrannen commented on #534
@noopur2507,

That's because `.*` is a _greedy_ regular expression which results in the exact same behavior as the default (i.e., eager inclusion of sub-packages).

What happens if you use `"^samples\\.[^.]+Tests?$"` as the pattern?

[2016-10-03 14:55] cpovirk commented on #531
Google's Error Prone cares only about methods with `@CheckReturnValue`, not with other methods that return `Throwable` (in contrast, it appears, to IntelliJ IDEA).

That bug report was to address a slightly different problem:

    IndexOutOfBoundsException thrown = expectThrows(
        IndexOutOfBoundsException.class,
        () -> {
          list.get(99); // problem reported here
        });

T

[2016-10-03 16:11] sbrannen commented on #531
Hi @cpovirk,

Thanks for the clarification!

[2016-10-03 16:14] sbrannen commented on #531
@cpovirk, please note that `ThrowingRunnable` is from JUnit 4; whereas, JUnit Jupiter (i.e., the programming model for JUnit 5) has an `Executable` functional interface which serves the same purpose (just with a more generic name). So if you're explicitly supporting `ThrowingRunnable`, you'll want to add explicit support for `Executable` as well. 😉

[2016-10-03 16:30] cpovirk commented on #531
@sbrannen Thanks, I didn't realize that. It looks like the person who made the fix did, and he's keying off the method: `org.junit.Assert`/`org.junit.jupiter.api.Assertions` `assertThrows`/`expectThrows`. So I think we're in good shape.

https://github.com/google/error-prone/commit/f9ea34b52ace79c5f3e1d39fd0f1ade2eba9b06a#diff-cf2cabfe009902419c7dde78f91abe3aR243

[2016-10-03 16:42] sormuras commented on #369
@sbrannen Closing #521 and opening #524 didn't transfer the labels you attached. What do you guys think about the `-details=[hidden, flat, tree, verbose]` switch?

[2016-10-04 06:30] noopur2507 commented on #534
Ah, didn't look into it properly.
The given pattern works fine. Thanks!

[2016-10-04 06:47] akozlova commented on #504
I think that I tried with snapshot dependency but I am not really sure.

As for patterns: surely IDE doesn't have them, people can name their tests whenever they want and nobody would want to support pattern list just for the IDE be faster. So looks like we can provide the option with discovered index of tests on compilation for those people who can't annotate their classes, for everyone else anno

[2016-10-04 07:02] mmerdes commented on #531
@sbrannen
yes, sounds reasonable to me

[2016-10-04 10:04] sbrannen commented on #534
Great. Glad that works for you!

[2016-10-04 11:15] marcphilipp commented on #496
Team decision:

- Implement @sbrannen's proposal (see https://github.com/junit-team/junit5/issues/496#issuecomment-246975855)

[2016-10-04 11:26] marcphilipp commented on #504
@akozlova How exactly do you set your `directories` variable in your [previous comment](https://github.com/junit-team/junit5/issues/504#issuecomment-248101363)?

Did you ever find out if 140,000 is actually accurate?

[2016-10-04 12:23] #531 closed

[2016-10-04 12:24] sbrannen commented on #531
FYI: `expectThrows` is now deprecated and will be removed in 5.0 M4.

[2016-10-04 12:26] sbrannen opened #535 "Remove deprecated expectThrows() methods in Assertions."
## Overview

This issue picks up where #531 left off.
## Deliverables
- [ ] Completely remove `Assertions.expectThrows()`.

[2016-10-04 12:36] akozlova commented on #504
directories - are test output roots of our project, it's about ~400 folders. I think that it was the number of tests + test classes which is about to be correct. On my win machine with M2 it takes about 8 mins when the whole rebuild is about 9 mins.

[2016-10-04 13:54] marcphilipp commented on #504
How long did it take previously?

[2016-10-04 14:46] noopur2507 commented on #534
Using `DiscoverySelectors.selectJavaPackage(..)` is filtering out all the test suite classes, so if the selected package contains only a test suite class, no tests are run.

Example:

I have a test suite in a separate package in that project as follows:
`package suite;`
`import org.junit.platform.runner.SelectPackages;`
`@SelectPackages("samples")`
`public class AllTests {}`

I created the request

[2016-10-04 16:02] akozlova commented on #504
Sorry, not sure that I understand the question. The first time I run the check on my Mac (3.5 mins discovery), today I checked it on my win workstation (8 min of discovery), and today I've used bundled M2 though 2 weeks ago I was playing with the snapshot.

I note the rebuild times just to give the feeling if it's slow or not. To me it feels very slow to make my rebuild around 2 times slower. The

[2016-10-05 04:29] bechte commented on #508
I will work on a proposal for this.

[2016-10-05 04:32] bechte commented on #508
See also: #407 and #520

[2016-10-05 04:34] bechte commented on #520
This issue is related with #508 and we might find a common solution. Therefore, I set it to blocked, until #508 is solved or closed.

[2016-10-05 04:34] bechte commented on #407
This issue is related with #508 and we might find a common solution. Therefore, I set it to blocked, until #508 is solved or closed.

[2016-10-05 12:26] sbrannen commented on #534
@noopur2507,

First and foremost, please do not start discussions on a new topic in a closed issue. Instead, please open a new issue to address the separate problem.

Secondly, as stated in the documentation, `@SelectPackages` can only be used on a class annotated with `@RunWith(JUnitPlatform.class)`. So that's why your `AllTests` class gets ignored (i.e., because it is not a test class).

Thirdly

[2016-10-05 14:17] sbrannen commented on #496
This has been resolved in the three most recent commits to `master`.

[2016-10-05 14:17] #496 closed

[2016-10-05 14:18] sbrannen commented on #493
This issue is no longer _blocked_ since #496 has been resolved.

[2016-10-05 14:22] sbrannen commented on #493
_in progress_

[2016-10-05 14:42] #493 closed

[2016-10-05 14:42] sbrannen commented on #493
Resolved in `master`.

[2016-10-05 16:51] jbduncan opened #536 "Add assertion methods to handle iterators and streams"
With the merging of https://github.com/junit-team/junit5/pull/294 into master, I think it's a good time now to discuss whether deep equality assertion methods for iterators and streams, like `assert(Iterator|Stream)Equals`, should be introduced.

In my opinion, since `assertIterableEquals` exists now, it would be a silly oversight to not have support for the other two enumera(ble|tor) concepts as

[2016-10-05 17:44] sbrannen opened #537 "Introduce @Testable to facilitate test discovery in IDEs"
## Overview

This issue is a direct result of discussions in #504.

## Deliverables

- [ ] Introduce and use `@Testable` annotation

[2016-10-05 17:45] sbrannen commented on #504
FYI: I moved the introduction of `@Testable` to #537 so that this issue can remain open for further discussion.

[2016-10-06 08:09] noopur2507 commented on #534
Sure, thanks!

[2016-10-06 17:56] leejoon opened #539 "Junit5 console launcher hard codes System.out, System.err streams"
In https://github.com/junit-team/junit5/blob/master/junit-platform-console/src/main/java/org/junit/platform/console/ConsoleLauncher.java#L38, instead of hard coding System.out and System.err, can we instead use a standard logger that we can configure?

When using the gradle plugin, we get an enormous amount of console output that we would like to reduce.

[2016-10-06 20:24] #539 closed

[2016-10-06 20:25] leejoon commented on #539
The code I cited was only responsible for a tiny bit of logging.

[2016-10-07 15:54] sbrannen commented on #523
Marked this issue as a _bug_ slated to be addressed in M3 so that we are reminded to look into this in the near future.

[2016-10-07 17:16] sbrannen commented on #537
_in progress_

[2016-10-07 17:59] sbrannen commented on #537
Resolved in `master` in a1168ec7f4cecd3f9d9aa3a19e16ff58e1ad85bf.

[2016-10-07 17:59] #537 closed

[2016-10-07 18:00] sbrannen commented on #504
FYI: `@Testable` has been introduced in a1168ec7f4cecd3f9d9aa3a19e16ff58e1ad85bf and will be ready for public consumption in 5.0 M3.

[2016-10-07 19:03] sormuras commented on #475
Is it #583 related?

[2016-10-07 19:22] sbrannen commented on #475
@sormuras, #538 is related in the sense that both are related to improving the Gradle plugin; however, _this_ issue has a much broader scope than #538.

[2016-10-07 19:34] sbrannen commented on #523
FYI: I have confirmed the described _unexpected_ behavior against `master`. So I am inclined to say that this is in fact a _bug_.

[2016-10-07 19:40] sbrannen commented on #523
That's actually expected since `@ExtendWith` can currently only be declared on classes, interfaces, or `@Test` / `@TestFactory` methods.

[2016-10-07 19:50] sbrannen commented on #523
_in progress_

[2016-10-07 19:52] sbrannen commented on #523
I have confirmed that is in fact a **major bug**.

Specifically, `@BeforeEach` and `@AfterEach` methods are invoked with the `ExtensionRegistry` for the test class instead of the `ExtensionRegistry` for the test method.

Consequently, extensions registered at the method level are never invoked for `@BeforeEach` and `@AfterEach` methods.

[2016-10-08 16:43] #523 closed

[2016-10-08 16:45] sbrannen commented on #523
This has been fixed in `master`.

@schlauergerd, I ran your `DummyTest` against `master` and verified your expected output. Thus, you should be able to confirm this in the next available snapshot.

[2016-10-11 06:18] SqAutoTestTeam commented on #512
As users of JUnit5 we can say.
The project we work with is built with Ant.
Actually Ant compiles, runs tests, checks code, checks project files, and does many other things.
Now we consider migrating to Junit5 because we find it a modern tool that takes into account mistakes made in past.  Although Ant is an old framework that that seems to be at the point of extinction it is still required and we

[2016-10-11 10:44] marcphilipp opened #541 "Re-license Surefire Provider under ASL"
## Deliverables
- [x] Get agreement from all contributors of code under `junit-platform-surefire-provider` to change license to ASL 2.0
  - [x] @lutovich
  - [x] @hotchemi
  - [x] @sbrannen
  - [x] @bechte
  - [x] @marcphilipp
  - [x] @mmerdes
  - [x] @jlink
- [x] Change license header to ASL for `junit-platform-surefire-provider`
- [x] Package correct LICENSE file in JAR
- [x] Update Contributor

[2016-10-11 10:55] SqAutoTestTeam commented on #497
We are migrating project from Juni4 to Junit5.
Some of functionality written in Juni4 is based on usage of Rule.  The custom rule is used to
send tests results to outer system - where they can be seen later .

Rule provides me with three  callback methods
   protected void succeeded(Description desc);
   protected void failed(Throwable e, Description desc);
   protected void skipped(AssumptionViol

[2016-10-11 11:18] sbrannen commented on #497
@SqAutoTestTeam, this issue focuses solely on programmatic extension registration via fields. Consequently, we are not considering any changes to extension APIs in conjunction with this issue.

If you would like to propose additional Extension APIs, please create a new issue dedicated to your proposal.

Thanks

[2016-10-11 11:45] akozlova commented on #537
I think it would be useful to add link in javadoc from TestEngine to Testable so people who implement custom engine would see it.

[2016-10-11 11:55] SqAutoTestTeam opened #542 "[Extension model] - Test result extension."
Some of functionality written in Juni4 is based on usage of Rule.
There is a custom rule is used to send tests results to outer system - where they can be seen later.

instance of subclass TestWatcher(Junit 4) provides me with three callback methods
protected void succeeded(Description desc);
protected void failed(Throwable e, Description desc);
protected void skipped(AssumptionViolatedException e

[2016-10-11 19:02] sbrannen commented on #537
Good idea, @akozlova.

Done: 073100f4739c99ff705471b803e91c79d8aaa7ae

[2016-10-11 19:13] marcphilipp commented on #542
Does this need to be a Jupiter extension or would a Platform TestExecutionListener work for you (if there was a more dynamic way to register it as proposed in https://github.com/junit-team/junit5/pull/19#issuecomment-166610979)?

[2016-10-11 19:15] marcphilipp commented on #512
It's been a long time since I've used Ant. I believe it shouldn't be too hard to write an adapter for `ConsoleLauncher` in Ant, right?

[2016-10-11 20:48] marcphilipp commented on #474
FYI I'm continuing to work on this issue and have added one additional deliverable.

[2016-10-12 05:31] bechte commented on #516
Merged into master.

[2016-10-12 05:31] #516 closed

[2016-10-12 05:32] bechte commented on #489
Merged into master.

[2016-10-12 05:32] #489 closed

[2016-10-12 05:32] bechte commented on #477
Merged into master.

[2016-10-12 05:32] #477 closed

[2016-10-12 05:34] SqAutoTestTeam commented on #542
@marcphilipp

From my point of view :
Does this need to be a Jupiter extension ?
Yes this needs to be a Jupiter extension - because I need to know test result from extension.
For now there is no way to do so.

Or would a Platform TestExecutionListener work for you ?
No. Not at the moment
Typical use of TestExecutionListener is

Launcher launcher = LauncherFactory.create();
launcher.registerTestExe

[2016-10-12 13:18] SqAutoTestTeam opened #543 "Always evaluate all TestExecutionConditions"
As a part of extension model TestExecutionCondition is described as :

First. Description does not say that in case when there are more than one TestExecutionCondition - extension are used the actual evaluation is executed till first DIsabled status is returned.
Later I found it in source code - but it is not obvious from interface point of view.

This feature causes some unwelcome effects

Exampl

[2016-10-12 16:49] sbrannen commented on #543
That is irrelevant. If no conditions evaluate to _disabled_, a test is enabled. If at least one condition evaluates to _disabled_, the test is disabled. It does not matter if additional conditions would potentially also evaluate to _disabled_.

Disabling of a test is therefore analogous to boolean `OR` logic. Given conditions `x`, `y`, and `z`, a test is disabled if `x OR y OR z` evaluates to disa

[2016-10-12 16:50] sbrannen commented on #543
even though the final result is clear on previous ones.

I fail to see how that would be useful.

Do you have a concrete use case in mind?

[2016-10-13 06:29] SqAutoTestTeam commented on #543
Yes, I do
For instance - there is a necessity to log state of a passed context.
If no methods are called - no logs are written.

yes - you are talking of an expression
disabled =  disabledX || disabledY || disabledZ
(short evaluation)
closer to described situation
`disabled =  evaluateDisabledX() || evaluateDisabledY() || evaluateDisabledZ()
`

and in this case - if evaluateDisabledX() returns tru

[2016-10-13 14:02] sbrannen commented on #543
`@Disabled` is evaluated by the `DisabledCondition` which is registered automatically _before_ any user supplied conditions. So that's why your "custom extension is never called."

[2016-10-13 14:04] sbrannen commented on #543
Since the current behavior is _by design_, I am not inclined to change it.

However, I agree that the current _algorithm_ should be better documented to make it clearer to users.

[2016-10-13 14:06] sbrannen opened #545 "Document conditional test execution evaluation algorithm"
See https://github.com/junit-team/junit5/issues/543#issuecomment-253425801 for further input.

[2016-10-13 14:07] sbrannen commented on #543
FYI: I have created #545 in order to address the documentation.

[2016-10-13 16:01] bechte commented on #543
Are a framework, one cannot be sure about this argument. We simply don't know about _how expensive_ operations are, that are performed by extensions.

There is no guarantee for an Condition to be called, that's true. As @sbrannen already mentioned, this is _by design_. I also think, that we should stop the evaluation as soon as possible. Running tests should be as fast as possible.

+1 for the doc

[2016-10-14 14:32] leejoon opened #546 "Introduce support for disabling --hide-details with JUnit Platform Gradle Plugin"
The gradle plugin always passes --hide-details to the console launcher. I find the details to be informative without causing too much extra output.

I think it would be nice if the platform gradle plugin had a property to enable details. The default should still be to pass --hide-details.

[2016-10-14 18:18] sbrannen commented on #546
Good idea. 👍

I'll add this to the backlog.

[2016-10-14 20:20] sormuras commented on #546
PR #524 already has this _solved_.

[2016-10-16 18:42] sbrannen commented on #543
**Team Decision**:

- keep the behavior as it currently is
- document current algorithm (see #545)

[2016-10-16 18:43] sbrannen commented on #543
In line with the aforementioned team decision, I am closing this issue as "works as designed".

[2016-10-17 08:38] mmerdes commented on #541
in progress

[2016-10-17 09:29] sormuras commented on #546
Just for quick access: https://github.com/junit-team/junit5/pull/524/files#diff-e76d1c3389aef8c3546d60bb6ed45cabR100

[2016-10-17 10:25] mmerdes commented on #541
@lutovich
@hotchemi
@sbrannen
@bechte
@marcphilipp

Dear contributors to the junit-platform-surefire-provider module,
we would like to ask for your consent to re-license said module under the Apache License (ASL).
Please state your agreement by commenting on this issue.

Thanks a lot,
The JUnit 5 Team

[2016-10-17 10:39] lutovich commented on #541
I agree on re-licensing junit-platform-surefire-provider under the Apache License (ASL).
Thank you!

[2016-10-17 11:21] hotchemi commented on #541
Agreed. Haven't contributed recently but I'll try something again, thx!

[2016-10-17 11:30] smoyer64 commented on #541
If the plan is to eventually donate this code to the Surefire team, you might also need iCLAs from each contributor (https://www.apache.org/licenses/icla.pdf).  Are you working with someone from the ASF?

[2016-10-17 11:41] marcphilipp commented on #541
Yes, we're working with @britter.

[2016-10-17 12:02] britter commented on #541
@marcphilipp thank you for taking care of this! I'll start working on the provider lookup code in surefire. For start, we will implement a lookup that pulls in the junit5 snapshot provider. After we have finished that, we're planning to integrate the provider code from Junit.

[2016-10-18 10:17] marcphilipp commented on #541
Agreed, too! :-)

[2016-10-18 10:18] marcphilipp commented on #541
@britter Do we need signed ICLAs?

[2016-10-18 10:18] bechte commented on #541
we would like to ask for your consent to re-license said module under the Apache License (ASL).
Please state your agreement by commenting on this issue.

I agree.

[2016-10-18 10:27] sbrannen commented on #541
I hereby agree to the re-licensing of all work that I have contributed to the `junit-platform-surefire-provider` module under the Apache Software License (ASL 2.0).

[2016-10-18 10:57] mmerdes commented on #541
I hereby agree to re-licensing the junit-platform-surefire-provider module under the Apache License (ASL 2.0).

[2016-10-18 11:04] mmerdes commented on #541
@britter
Would the version of the ASL license used, e.g., here be fine?
https://github.com/apache/maven-surefire/blob/master/maven-failsafe-plugin/src/main/java/org/apache/maven/plugin/failsafe/VerifyMojo.java

Or do we need the version quoted at the bottom of this file:
https://www.apache.org/licenses/LICENSE-2.0
?

[2016-10-18 11:45] britter commented on #541
@marcphilipp

I don't think so but I can check with our legal team.

@mmerdes

Yes, that one can be used.

[2016-10-18 12:00] jlink commented on #541
Everything good.

2016-10-18 12:47 GMT+02:00 Matthias Merdes <notifications@github.com>:

[2016-10-18 18:01] marcphilipp opened #547 "Delete deprecated ClassFilter.includeClassNamePattern(String) and @IncludeClassNamePattern"
Both `ClassFilter.includeClassNamePattern(String)` and `@IncludeClassNamePattern` were deprecated for M3 in #474.
## Deliverables
- [x] Delete `ClassFilter.includeClassNamePattern(String)`
- [x] Delete `@IncludeClassNamePattern`
- [x] Update release notes

[2016-10-18 18:04] marcphilipp commented on #474
All deliverables are done, follow-up task for M4 is created (#547) -> I'm closing this issue.

[2016-10-18 18:04] #474 closed

[2016-10-18 18:29] marcphilipp commented on #490
_in progress_

[2016-10-18 18:38] #490 closed

[2016-10-19 20:56] signed commented on #509
I like the approach hamcrest is taking with there [CoreMatchers](https://github.com/hamcrest/JavaHamcrest/blob/master/hamcrest-core/src/main/java/org/hamcrest/CoreMatchers.java) and [Matchers](https://github.com/hamcrest/JavaHamcrest/blob/master/hamcrest-library/src/main/java/org/hamcrest/Matchers.java) classes. They are just a collection of method delegating to the classes actually implementing t

[2016-10-20 12:28] nicolaiparlog commented on #543
Was this issue intentionally left open?

[2016-10-20 12:57] SqAutoTestTeam opened #548 "Improve error reporting for failed dynamic test registration"
## Overview

End-user does not have any error info about why the tests are not executed in case when @TestFactory annotated method call ends up throwing exception.

It seems like I've encountered a bug while working on description of another bug
https://intellij-support.jetbrains.com/hc/en-us/requests/789874

Having method declared, it is not obvious where the error is

[code]

Actually the reason

[2016-10-20 14:50] SqAutoTestTeam opened #549 "Selecting one method in JUnit 4 parameterized test has no effect - test method is not executed"
## Example test code

[code]

## Test that reproduces the bug

[code]

Not that using `DiscoverySelectors.selectJavaMethod(JUnit4ParametrizedExample.class, JUnit4ParametrizedExample.class.getMethod("test1"))` instead of `DiscoverySelectors.selectJavaMethod(JUnit4ParametrizedExample.class, "test1")` has the same effect.

[2016-10-20 14:51] SqAutoTestTeam commented on #549
I will provide more info should it be required.

[2016-10-20 22:18] hastebrot commented on #296
Very interesting and useful work! I appreciate this and will reuse your `.travis.yml` for my projects (and move from JUnit 4 to 5).

[2016-10-22 11:27] marcphilipp commented on #509
I think that sounds like a good idea!

[2016-10-22 11:34] marcphilipp commented on #543
I don't think so. :-)

[2016-10-22 11:34] #543 closed

[2016-10-22 12:32] marcphilipp commented on #309
I will go ahead and add the modified version of the PropertiesFileTransformer to our build even though it was not officially released, yet.

[2016-10-22 18:38] jbduncan commented on #536
FYI I'd be happy to implement this if it's worthwhile and noone else has the time to do so.

[2016-10-23 12:58] #309 closed

[2016-10-23 13:23] jbduncan commented on #282
FYI, [Google Truth](https://github.com/google/truth) produces IMO rather nice error messages that show how `actual` and `expected` differ to each other if they are both strings. Perhaps their error message format could be a source of inspiration for this issue.

[2016-10-23 21:06] pgpx commented on #48
Sorry for maybe missing the point, but what is the main goal of scenario tests?  Is it just to add steps, which effectively seem to be grouped assertions?  Could you just make this a first-class concept and do something like (following on from the suggestion from @thomasdarimont):

[code]

Or alternatively/in addition you could maintain a stack for a hierarchical assertion context:

[code]

Also,

[2016-10-26 11:16] Ernesto-Maserati-CH commented on #48
To me it seems that you will have too little time to design the "scenario testing" feature in a really good way. Then I would suggest to postpone it for a future JUnit version 5.1 maybe.

[2016-10-26 13:57] jillesvangurp commented on #48
@Ernesto-Maserati-CH I think the semantics of scenario tests and how to fit them with junit is still a good topic for a major release like v5; especially because it is apparently hard/impossible currently with junit. Reading across the different issues (e.g. #48, #87) there are a lot of unresolved issues that all boil down to having more control over before and after semantics on things: in other

[2016-10-26 15:04] pgpx commented on #48
@jillesvangurp I take your point, but I still don't really understand the need for steps vs just having ordered tests.

For example, in Cucumber you define your scenarios with Gherkin/feature files and only write your step definitions/matchers in Java (where JUnit annotations wouldn't be directly needed).  I assume that the test runner would dynamically a single test for each scenario (or entry in

[2016-10-26 15:39] Ernesto-Maserati-CH opened #551 "@Check instead of @Test"
In JUnit there is the @Test annotation. According to James Bach and Michael Bolton, "test" can be considered a misleading label in that context.

More appropriate would be **@Check** because testing can't be automated whereas checking can be done by a machine.

See Bolton's blog where he explains what a test is and what an automated check is: http://www.developsense.com/blog/2009/08/testing-vs-che

[2016-10-26 15:42] mlevison commented on #551
James is an interesting character and the idea useful. However mainstream acceptance of the idea is poor. I wouldn’t get upset about a synonym but changing the nature of unit testing (another imperfect name) to fit his world view is not useful.

Cheers
Mark

On October 26, 2016 at 11:39:18 AM, Ernesto-Maserati-CH (notifications@github.com) wrote:

In JUnit there is the @Test annotation. According

[2016-10-26 19:06] smoyer64 commented on #551
If you want @Check, you can create an alias for @Test through the beauty of JUnit 5's meta-annotations.

[2016-10-26 22:31] sbrannen commented on #551
I agree with @smoyer64: If you want to create a custom alias for `@Test`, you are perfectly free to do so using JUnit Jupiter's first-class support for composing annotations.

Similarly, I agree with @mlevison: the term _testing_ as used in frameworks like JUnit is beyond well established in the world of computing. As such, there is no confusion regarding the meaning of an annotation such as `@Tes

[2016-10-26 22:31] #551 closed

[2016-10-27 22:07] sbrannen commented on #549
What version of the JUnit Platform are you using?

[2016-10-27 22:10] sbrannen commented on #548
Thanks for pointing this out.

We'll look into it.

[2016-10-27 22:13] sbrannen commented on #548
A few tips:

1. Please keep issue subjects as short and concise as possible (i.e., around 50-80 characters); use the body of the issue to provide details.
1. Please do not provide code as ZIP archives. Instead, please provide a link to a Git repository or submit a pull request containing a failing test.

[2016-10-27 22:16] sbrannen commented on #548
Also, please format blocks of Java source code using "```java ..." (i.e., three back ticks followed by the word "java", the source code, and then three back ticks).

[2016-10-27 22:16] sbrannen commented on #548
The IntelliJ issue you've linked to does not exist.

Do you have the correct URL?

[2016-10-27 22:18] sbrannen commented on #548
FYI: I fixed the title and formatting for you, so that you can use them as examples for the future.

[2016-10-27 22:50] sbrannen commented on #548
I cannot reproduce the behavior you are experiencing.

When I execute the code you supplied, I get the following very clear exception.

[code]

Can you please provide an example project (not via a ZIP file or other such archived format) that demonstrates the lack of an exception like the above being thrown?

If not, I will close this issue as "invalid".

Cheers

[2016-10-28 14:54] sbrannen commented on #548
This issue is _blocked_, awaiting feedback from reporter.

[2016-10-31 14:29] marcphilipp commented on #542
Let me try to sketch out what I meant in a bit more detail.

You would create a JAR with your TestExecutionListener and include a file `META-INF/services/org.junit.platform.launcher.TestExecutionListener` with the following content.

[code]

The JUnit Platform launcher would look for your listener implementation using the ServiceLoader API (i.e. the same way it finds TestEngines) and register it a

[2016-10-31 14:34] marcphilipp commented on #548
@SqAutoTestTeam Any news on this issue?

[2016-10-31 14:35] marcphilipp commented on #536
Personally, I think we should refrain from adding too many assertions. Both Iterators and Stream are easily converted into a Collection or Iterable in order to use the existing assertion methods.

@junit-team/junit-lambda What do you guys think?

[2016-10-31 15:04] mlevison commented on #536
Simplicity is preferable. There should be one and only one option for each type. The more options - the more cognitive load, the more tiny mistakes. In addition we will be fuelling years of future debate over which one to use when :-)

Cheers
Mark

On October 31, 2016 at 11:01:58 AM, Marc Philipp (notifications@github.com) wrote:

Personally, I think we should refrain from adding too many assertio

[2016-11-01 01:28] MarioKusek opened #553 "Running tests from directory not in class path"
I am trying to run tests that are in directory `src/main/resources/Calculator-1.0-SNAPSHOT-tests`, which is **not in classpath**. The launcher does not find any test. If I put tests in code in IntelliJ project it works fine, so there is no problem in actual tests. The name of the test class is CalulatorAdditionTest.

Here is code that I run:

[code]

The result of running is:

[code]

In this proj

[2016-11-01 01:53] smoyer64 commented on #553
Without overriding Maven conventions, .java files placed in src/main/resources won't be compiled into .class files.  Is there some reason you're not putting your tests into src/test/java?

[2016-11-01 03:33] sbrannen commented on #536
I agree.

[2016-11-01 03:49] sbrannen commented on #553
Classpath roots must contain compiled code (i.e., `.class` files).

JUnit does **not** compile your code for you.

So unless "src/main/resources/Calculator-1.0-SNAPSHOT" or "src/main/resources/Calculator-1.0-SNAPSHOT-tests" contains `CalulatorAdditionTest.class`, what you are attempting will never work, and that's by design.

I am therefore closing this issue as _invalid_.

However, if you determi

[2016-11-01 03:49] #553 closed

[2016-11-01 07:06] MarioKusek commented on #553
I have not been clear. I have compiled classes in src/main/resources and they are not picked up by engine. Here is structure of those directories:

[code]

[2016-11-01 08:25] marcphilipp commented on #553
It will only work if the class files are _on_ the classpath. In order to achieve that you can create a custom ClassLoader (see [ExecuteTestsTask](https://github.com/junit-team/junit5/blob/master/junit-platform-console/src/main/java/org/junit/platform/console/tasks/ExecuteTestsTask.java#L70-L79)) and replace the current thread's context class loader (see [CustomContextClassLoaderExecutor](https://g

[2016-11-01 08:30] marcphilipp commented on #536
@mlevison The assertions included in Jupiter are only meant as a starting point. You almost always want better assertions as provided by Hamcrest or AssertJ.

[2016-11-01 09:00] MarioKusek commented on #553
OK, thanks for clarification. I will try that way.

To get back to ClasspathRootSelector. So, setting ClasspathRootSelector in LauncherDiscoveryRequest is not intended for external use. Am I correct?

[2016-11-01 09:01] marcphilipp commented on #553
What do you mean by external use?

[2016-11-01 09:15] MarioKusek commented on #553
I mean setting ClasspathRootSelector to find classes outside of classpath of current thread's context class loader, like in this example:

[code]

[2016-11-01 09:16] marcphilipp commented on #553
By "classpath root" we're referring to a directory or JAR file that's on the classpath. So, yes, if it's not on the classpath it will get silently ignored.

[2016-11-01 09:48] marcphilipp commented on #549
This is caused by JUnit Vintage's inability to filter for the method: junit-team/junit4#664.

[2016-11-01 09:51] marcphilipp commented on #541
All source files in junit-platform-surefire-provider now use the appropriate header and the correct license is packaged in the JAR files.

[2016-11-01 09:51] #541 closed

[2016-11-01 10:03] jbduncan commented on #536
All the arguments given here against my proposal actually sound very reasonable to me! In light of those arguments, I'd be happy to this issue to be closed if no one has any objections. :)

[2016-11-01 10:12] MarioKusek commented on #553
Thanks

[2016-11-01 12:25] britter commented on #541
Great work everybody, thank you!

[2016-11-01 12:38] marcphilipp commented on #470
_in progress_

[2016-11-01 15:48] marcphilipp commented on #536
Alright, I'll close it for now.

[2016-11-01 15:48] #536 closed

[2016-11-01 16:51] SqAutoTestTeam commented on #548
Here are (below) three java class source files. Put them all to one package called test compile and run test method testBugExecution()  of class  JUnit5DynamicTestsBugCheck.

I use JUnit5 API to run test from another test
Test fails for the reason that expected test count is not equal to actual.
Dynamic tests provided by factory method that "has" tests with blank names are not executed.
The fact t

[2016-11-01 16:56] SqAutoTestTeam commented on #549
Version M3 -  Built from  Sources snapshot on 11-10-2016

OK.

[2016-11-01 17:29] SqAutoTestTeam commented on #542
@marcphilipp   I apologise in advance if I still misunderstand your point.
What I initially wanted is to know  test execution result (status) from within a test class just like it is implemented in junit4 rules.   JUnit5 provides well formed extension model but it does not have that feature.

It does not take much efforts to implement this feature
[code]
but it will not give much of advantage. bec

[2016-11-01 17:41] marcphilipp commented on #542
@junit-team/junit-lambda Can one of you chime in? 🤔

[2016-11-01 17:53] sbrannen commented on #542
I think that we in general do need such functionality.

For example, in order to implement something like quickcheck as a JUnit Jupiter extension, the extension would need a real-time mechanism for determining whether previously _submitted_ tests (e.g., dynamic tests or parameterized tests) succeeded in order to determine if additional tests should be submitted/generated.

The discussion in this i

[2016-11-01 17:56] marcphilipp commented on #470
This issue is blocked until we've defined the syntax to be used by the Gradle plugin.

[2016-11-01 17:58] marcphilipp commented on #437
I've updated the issue's description and removed the `java` part of the long options to be in sync with our decision wrt. DiscoverySelectors for packages, classes, and methods.

[2016-11-01 18:08] marcphilipp opened #554 "Gradle: Wrap engines and tags in filters extension/closure"
[code]

[2016-11-01 18:11] marcphilipp commented on #470
Team decision wrt. the Gradle syntax:

[code]

[2016-11-01 18:12] marcphilipp commented on #470
I'll continue to work on this issue.

[2016-11-01 18:49] marcphilipp opened #555 "Document new selector/filter options of Gradle plugin and ConsoleLauncher in User Guide"
The selector/filter options that will be added in #313, #470, #453, #452, #437, and #554 need to be documented in the User Guide.

[2016-11-01 18:50] #470 closed

[2016-11-02 08:19] marcphilipp commented on #453
_in progress_

[2016-11-02 10:38] #453 closed

[2016-11-02 11:59] marcphilipp commented on #437
Done.

[2016-11-02 11:59] #437 closed

[2016-11-02 12:00] marcphilipp commented on #452
_in progress_

[2016-11-02 12:27] #452 closed

[2016-11-02 16:37] sbrannen opened #556 "Configure Eclipse plugin to include JOpt Simple in generated .classpath file"
## Status Quo

Due to the changes introduced in #309, executing `gradle cleanEclipse eclipse` no longer results in a generated `.classpath` file that includes the JOpt Simple dependency. Consequently, it is impossible to build the `junit-platform-console` module within Eclipse when using this mechanism.

## Deliverables

- [ ] Modify `junit-platform-console.gradle` so that the JOpt Simple dependen

[2016-11-02 16:59] sbrannen opened #557 "Document nullability in TestExecutionSummary.Failure"
## Status Quo

This issue picks up where #552 left off. Specifically, since `Failure` is now a public API, the nullability of values returned by its accessor methods must be properly documented.

## Deliverables

- [ ] Document nullability in `TestExecutionSummary.Failure`

[2016-11-02 17:00] sbrannen commented on #557
Food for thought: if `null` is permissible as a return value in the affected methods, we should then perhaps consider returning a non-null `Optional` instead.

[2016-11-02 18:13] marcphilipp commented on #557
But `null` isn't permissible, is it?

[2016-11-02 19:40] sbrannen commented on #557
No, likely not.

I'm just saying one needs to analyze it, add precondition checks, and document it. 😉

[2016-11-03 15:12] marcphilipp commented on #556
_in progress_

[2016-11-03 16:57] #556 closed

[2016-11-03 16:58] #554 closed

[2016-11-03 17:11] marcphilipp opened #558 "Align selectors and filters in Surefire provider with request builder API and Gradle plugin"
Follow-up on #485:

### Related Issues

- #485
- #554

### Goal

[code]

### Deliverables

- [ ] Change `includeTags` and `excludeTags` to `include`/`exclude` and wrap them in a `tags` element that is wrapped in a `filters` element

[2016-11-03 17:11] marcphilipp commented on #558
@Tibor17 Does Surefire support nested `properties`?

[2016-11-03 17:16] marcphilipp commented on #558
@junit-team/junit-lambda I've changed the issue description and deliverable. Please take a look.

[2016-11-03 18:08] sbrannen commented on #558
@marcphilipp, LGTM

[2016-11-03 19:11] smoyer64 commented on #558
I didn't want to say anything that would have biased your discussion in the other thread but I don't think you will end up with unmarshaled Java objects if you try to nest tags within <properties>.  It looks like you've found an expert to ask (above).

One important reminder is that the <groups> and <excludedGroups> tags (the aliases we created during the course of designing #485) have to remain c

[2016-11-04 14:42] ogregoire opened #560 "Link to AssertionFailedError in the Javadoc"
In the [Javadoc for the `Assertions` class](http://junit.org/junit5/docs/current/api/org/junit/jupiter/api/Assertions.html), the following is mentioned:

Junit doesn't declare that `AssertionFailedError` class, nor does the JDK (see [Junit's Javadoc](http://junit.org/junit5/docs/current/api/allclasses-frame.html) and [JDK's Javadoc](http://docs.oracle.com/javase/8/docs/api/allclasses-frame.html)).

[2016-11-04 14:55] smoyer64 commented on #560
You can find that class here:

https://github.com/ota4j-team/opentest4j/blob/b6305430b88f3036c71fcf3a20522bfc9c7bd498/src/main/java/org/opentest4j/AssertionFailedError.java

This is one of the few dependencies allowed by the JUnit 5 team.

[2016-11-04 15:08] ogregoire commented on #560
Thank you, I know that: I've done my research before asking. But this specific piece of information is missing from the documentation itself. My request is that the documentation provides a link to the documentation, or at the very least provide the full name of the class (rather than the simple name). I want to be able to identify the class from the Javadoc. It's currently not possible.

[2016-11-04 15:28] smoyer64 commented on #560
See PR #561 ... the "simple name" has been replaced by the FQCN for AssertionFailedError in the TOC javadoc.

[2016-11-04 15:58] marcphilipp commented on #560
Good catch! I think we should publish the Javadocs for opentest4j separately and then configure the Gradle Javadoc task to generate links to it.

[2016-11-04 17:41] sbrannen commented on #560
I agree. 👍

[2016-11-04 20:02] marcphilipp commented on #557
_in progress_

[2016-11-04 20:05] #557 closed

[2016-11-04 20:13] marcphilipp commented on #560
This issue is blocked by ota4j-team/opentest4j#28.

[2016-11-04 20:47] marcphilipp commented on #560
_in progress_

[2016-11-04 20:48] #560 closed

[2016-11-04 21:14] marcphilipp commented on #560
The latest snapshot Javadocs now link to Javadoc of OpenTest4J as well as the JDK APIs: http://junit.org/junit5/docs/snapshot/api/.

[2016-11-04 23:01] ogregoire commented on #560
Wow, that was fast! Thank you very much! :-)

[2016-11-05 16:38] sbrannen commented on #560
👍

[2016-11-07 09:02] SqAutoTestTeam commented on #542
I think that we in general do need such functionality.

When approximately are you planing to implement it ?

[2016-11-07 19:51] #287 closed

[2016-11-08 12:47] smoyer64 commented on #144
As noted in PR #564, I've started working on a small set of tools to perform the functions listed above.  As I've been working through that code, I found that I have a few more questions:

-   Should @API also be applied to protected-scoped and package-scoped elements as well as publicly-scoped elements?  I can argue both ways on this one but if the policy is that you only use public fields, metho

[2016-11-08 20:38] ericjturley commented on #476
So then it appears as if the intended fix for this issue (both in JUnit and Idea) is just to log a warning.
Which, I think, means that this current method to create a test suite just won't work in Idea.
Am I missing something? Is there a plan for some way to make a test suite work?

[2016-11-08 21:37] aaschmid commented on #518
As I haven't got an answer, I assume you either did not consider it yet as important enough or you have no clue how to do it (as I do / did).

Therefore I looked deeper into the code, played around a bit and got the following ideas how this could be solved (only ideas in arbitrary order):

* change / override the ```org.junit.jupiter.engine.discovery.TestMethodResolver``` via extension
* add some

[2016-11-09 15:57] SqAutoTestTeam commented on #549
Are there any plans when it's going to be fixed ?

[2016-11-10 14:46] akozlova opened #565 "Classpath scanner should not load JDK 9 module-info.class"
[code]

Initially reported https://youtrack.jetbrains.com/issue/IDEA-163795

[2016-11-11 21:22] aaschmid commented on #518
I tried some things and like the following quite well at the momemt:
https://github.com/junit-team/junit5/compare/master...aaschmid:issue518-custom-element-resolver

It fits quite nice into the existing code by resolving the `ExtensionRegistry` earlier within the affected test descriptions. This could also be more generalized by moving the new property up to `JupiterTestDescription` and add the cu

[2016-11-12 03:24] sbrannen commented on #509
Resolved in #550 and #559.

[2016-11-12 03:24] #509 closed

[2016-11-12 17:54] bechte commented on #313
When specifying filters for packages we have different options how to evaluate the filter rules:

1. Use one filter that handles included and excluded packages (filter rules also apply for sub packages)
2. Use one filter that handles included and excluded packages (filter rules only apply for their specified package)
3. Use two different filters, one for included packages and one for excluded pack

[2016-11-13 03:04] sbrannen commented on #565
Good catch, @akozlova.

We'll fix it.

[2016-11-15 16:43] Mathreyu commented on #155
Hey there, I recently got interest in helping to this awesome project. How can I help in this issue? (I'm rather new to this so bare with me if I take a while :P)

[2016-11-15 17:06] sbrannen commented on #155
@Mathreyu, glad to hear you're interested in helping out!

At the moment, however, I think it's probably better to wait on the outcome of #258 before we spend too much time documenting how to use the `ConsoleLauncher` since that will certainly change.

In the meantime, you are free to check out any of the other [up-for-grabs](https://github.com/junit-team/junit5/labels/up-for-grabs) issues.

[2016-11-15 17:09] sbrannen commented on #565
_in progress_

[2016-11-15 17:13] Mathreyu commented on #155
@sbrannen Thanks :D Will do.

[2016-11-15 17:13] sormuras commented on #565
#567 too simplistic?

[2016-11-15 17:16] #565 closed

[2016-11-15 17:20] sbrannen commented on #565
@sormuras, I don't think catching `NoClassDefFoundError` is appropriate in this scenario.

We have a different approach for explicitly excluding `package-info` and `module-info` class files. See d065ec688c2f442942215081eca780a2e5d384ca for details.

Of course, if the community determines the current fix is inappropriate, we will reassess the issue.

Cheers!

[2016-11-15 17:21] sbrannen commented on #565
@akozlova, please give the fix a try in the next snapshot and let us know how it works for you.

Thanks!

[2016-11-15 17:22] sormuras commented on #565
As being the reporter of the issue, I'll test driving your explicite fix just now...
[code]
...

[2016-11-15 17:29] sormuras commented on #565
Warning vanished. Works like a charm! Thanks, @sbrannen

[2016-11-15 17:32] sbrannen commented on #565
Awesome!

Thanks for letting us know so quickly! 👍

[2016-11-15 17:39] akozlova commented on #565
Thanks Sam, Christian!
BTW Any chances to have M3 this week so we could include it for our upcoming release?

[2016-11-15 17:47] sbrannen commented on #565
Hmmmm.... M3 this week? 😱

We're close, but we still have 8 open issues assigned to M3.

So, we'll do our best, but I can't make any promises.

Maybe we can reduce the scope and get M3 out the door earlier.

@junit-team/junit-lambda thoughts?

[2016-11-15 17:58] sormuras commented on #565
Move https://github.com/junit-team/junit5/issues/369 to M4 -- it's screen candy, only. 😉

[2016-11-15 18:15] akozlova commented on #565
I'll check the snapshot tomorrow, as we use M2 now.

[2016-11-15 18:27] sbrannen commented on #518
@aaschmid, I apologize for the belated reply.

For personal reasons, I currently have practically zero time to devote to JUnit for the moment.

So, perhaps another member of the @junit-team/junit-lambda team can assist you.

Regards,

Sam

[2016-11-15 18:29] sbrannen commented on #476
@ericjturley, can you please open a new issue to address your concerns?

Thanks!

[2016-11-15 18:48] marcphilipp commented on #548
I think this might be a bug in IntelliJ. @mmerdes had a similar problem with `@AfterAll` throwing an exception that IntelliJ didn't pick up. However, I haven't had time to look at the example provided by @SqAutoTestTeam closely. Will try to do so tomorrow.

[2016-11-15 19:57] aaschmid commented on #518
Hi @sbrannen, thanks for your response as I really appreciate it. It is much better to get a response saying that there is no time currently, compared to getting non at all. Last can be really frustrating.

All other help is also appreciated. Please note that I already created a draft for "make it possible to register a new element resolver in `org.junit.jupiter.engine.discovery.JavaElementsResolv

[2016-11-16 08:16] marcphilipp commented on #548
_in progress_

[2016-11-16 08:34] marcphilipp commented on #548
When you change `testBugExecution` to the following (adding a `System.out.println` to the listener), you'll see that JUnit actually reports a failing container.

### testBugExecution

[code]

### Output

So, as I mentioned earlier, it looks like it's a bug in IntelliJ. I'll open a ticket there.

[2016-11-16 08:34] #548 closed

[2016-11-16 09:00] marcphilipp commented on #548
I've created https://youtrack.jetbrains.com/issue/IDEA-164028.

[2016-11-16 10:22] #555 closed

[2016-11-16 10:24] marcphilipp commented on #488
@sta-szek Is this still an issue for you?

[2016-11-16 10:25] marcphilipp commented on #549
Have you tried using selectors for unique IDs instead?

[2016-11-16 11:46] marcphilipp commented on #144
There's (at least) two ways to look at it: (1) protected-/package-scoped elements are implicitly annotated with `@API(Internal)`, or (2) we only look at public elements. I think either way, the outcome is the same, right?

I think we should enforce that an overridden method needs to explicitly re-declare an `@API` annotation.

@junit-team/junit-lambda What do you think?

[2016-11-16 12:31] smoyer64 commented on #144
@marcphilipp

As I've gotten a bit deeper into this coding, I agree that explicitly overridden methods should re-declare the @API annotation.  This should also apply to interface method implementations as it eliminates a form of "the diamond problem".

I was hoping to be able to "lint" M3 but I'm not sure I'll finish in time for that.

[2016-11-16 13:17] sta-szek commented on #488
not anymore with snapshot version (using it for 2 months)

[2016-11-16 15:34] ericjturley opened #569 "JUnit 5 Test Suites don't run in Intellij Idea"
## Background
Using these annotations is the existing means to make a test suite in JUnit 5:

[code]
## The Problem
But on running the suite in Idea, no tests run, and it declares: `Empty test suite.`

## Related Resources
#476 explains the reasons, but only offers to log a warning. (It also contains additional links to SO and an Idea bug for context)

## Acceptance Criteria
Resolution of this iss

[2016-11-16 16:13] marcphilipp commented on #569
Just for clarification: The `JUnitPlatform` runner is a means to execute tests via the JUnit Platform using JUnit Vintage's `JUnitCore`. It is intended to bridge the gap for IDEs and build tools that don't support the new JUnit Platform.

However, it looks like IntelliJ IDEA now always uses the JUnit Platform to execute the Vintage suite class.

@akozlova Can you give us some details on how IDEA d

[2016-11-16 16:17] marcphilipp commented on #488
Then I'd say we can close this issue for now. Feel free to reopen should it become a problem again.

[2016-11-16 16:17] #488 closed

[2016-11-16 16:29] akozlova commented on #569
I believe that running single class with @RunWith annotation, IDEA should treat the class as JUnit 4. Given that classpath would contain jupiter classes, I need to check if it's really the case.

[2016-11-16 16:44] marcphilipp commented on #549
This issue is blocked by junit-team/junit4#664.

[2016-11-16 16:45] akozlova commented on #565
If I have dependency on M2 api in my project and IDEA uses current SNAPSHOT, I get
java.lang.BootstrapMethodError: java.lang.NoClassDefFoundError: org/junit/jupiter/api/function/Executable

	at org.junit.jupiter.engine.descriptor.MethodTestDescriptor.invokeBeforeEachCallbacks(MethodTestDescriptor.java:170)
	at org.junit.jupiter.engine.descriptor.MethodTestDescriptor.execute(MethodTestDescriptor.ja

[2016-11-16 16:58] marcphilipp commented on #565
We're not paying close attention to backwards compatibility, yet. This will change when we release the first GA release. For now, the version of the Jupiter engine should match the version of the Jupiter API. Is there a way to ensure that?

[2016-11-16 17:24] akozlova commented on #569
I assumed wrong. Suppose user ask to run all tests in a package. IDEA finds junit 5 in the classpath and just compose a request like DiscoverySelectors.selectPackage(packageName). I expected that everything else would be done by junit, is it wrong? What should be changed here?
Please note that IDEA still uses junit 5.0.0-M2 to discover and launch tests.

[2016-11-16 17:26] akozlova commented on #565
As the Jupiter engine is shipped with IDEA, then the only solution I see: we would have to ship all versions to match the user's version. Looks not really great for us, but may be I miss something

[2016-11-16 20:16] bechte commented on #313
Team decision: Follow the recommendation and start with option 3.

[2016-11-17 22:32] nicolaiparlog opened #571 "Discover @BeforeAll/@AfterAll on static interface methods"
Currently static interface methods are not considered and thus the `@BeforeAll` / `@AfterAll` lifecycle annotations can not be used in interfaces. It would be possible to use reflection to find these methods, though.

[2016-11-18 01:14] sbrannen commented on #571
### Analysis

`ReflectionUtils.getInterfaceMethods()` currently only detects _default methods_ in interfaces.

[2016-11-19 02:04] #571 closed

[2016-11-19 02:05] sbrannen commented on #571
This has been addressed in `master` in d1657ae69d7c8c885aba8a6aad2152a5aa3e3ebb.

[2016-11-19 09:14] nicolaiparlog commented on #571
Damn, Sam, I planned on doing this this weekend. You're too fast for your own good! :wink:

[2016-11-19 14:44] marcphilipp commented on #169
_in progress_

[2016-11-19 16:07] nicolaiparlog opened #572 "Access To Test Artifacts"
I started working on a [collection of JUnit extensions](https://github.com/CodeFX-org/junit-io) and would like to stay as close to JUnit as possible, e.g. regarding build tools, code style, etc. The same goes for testing so it would be great to have access to the `ExecutionEventRecorder` but, as far as I see it, the test jar [is not published](https://oss.sonatype.org/content/repositories/snapshot

[2016-11-19 16:29] sbrannen commented on #571
Well, the actual change was literally less than a single line of code.

The testing and documentation took considerably longer. 😉

[2016-11-19 16:34] sbrannen commented on #572
We have considered this in the past but simply did not want to focus on maintaining the test utilities at this time. However, it is obviously worth considering. So it's basically a question of resources in terms of who has time to make it happen.

As for git/Gradle magic to access those classes outside of the JUnit 5 build, I can't think of anything off the top of my head.

[2016-11-19 16:35] sbrannen commented on #572
Assigned to the 5.0 Backlog for the time being.

[2016-11-19 16:41] nicolaiparlog commented on #572
Regarding maintenance, wouldn't it be a cheap way out to mark the whole thing `@API(Internal)`?

[2016-11-19 16:42] sbrannen commented on #572
Sure. We could do that. Though it's a bit of a hack if the whole published artifact is "internal".

[2016-11-22 14:27] bechte commented on #313
Merged into master with #570

[2016-11-22 14:27] #313 closed

[2016-11-23 10:14] bechte commented on #547
see feature branch "sb_547_remove_includeClassNamePattern".

[2016-11-23 18:46] sbrannen commented on #313
Thanks, @bechte! :+1:

[2016-11-23 21:05] 33epico commented on #144
Hi all:

I just finish muy java SE study, I would like to help and learn in any open source project. I just arrive here  surfing the web and I am a little bit lost. Please anybody  can give to me a path to help in this kind of proyects.

Thanks in advance

[2016-11-24 05:38] kcooney commented on #531
@sbrannen I just found this thread. Shouldn't we make the same change in JUnit 4.13?  We haven't started the release process for 4.13.

Did we decide that IntelliJ users should simply disable the warning, or did the warning only happen if the method was annotated with `@CheckReturnValue`?

[2016-11-24 09:17] sbrannen commented on #531
Yes, I would recommend making the same change in JUnit 4.13.

Google error-prone already has it covered (see link by @cpovirk), and IntelliJ users can simply disable that warning if it bothers them (see attached screenshot above in this thread).

[2016-11-24 09:46] sormuras commented on #531
The screenshot is [here](https://drive.google.com/file/d/0B3R-vZl2xCYURzRCUnZsRlFKbkk/view):
![IDEA](https://lh6.googleusercontent.com/SGB07W1w2sb_v6UFLtOXYqwFTi0DhRZB2Vx0x3HSGVE-1P5g5H-aevO79Gm224lSDFNfGLzuMTJnE0Y=w1920-h1070)

[2016-11-24 16:22] jbduncan commented on #144
Hi @33epico, it's not clear to me how much experience you have with Java, but I think [this issue](https://github.com/junit-team/junit5/issues/528) in which @JingMa87 asked a similar question may prove to be a good starting point for you.

If after reading it you're still confused or have any specific questions, please feel free to [raise a new issue](https://github.com/junit-team/junit5/issues/ne

[2016-11-24 23:25] 33epico commented on #144
thanks a lot @jbduncan I just read the @JingMa87 post and its ok, Im gonne to read the documentation and start using the Junit5 to know it at all.

Regards!!

[2016-11-25 03:27] JingMa87 commented on #144
Good luck @33epico! 😄

[2016-11-25 16:28] marcphilipp opened #574 "Move TestRuleFieldSupport.findAnnotatedFields to AnnotationUtils"

[2016-11-25 17:34] marcphilipp commented on #569
What do you do when you have a project that only uses JUnit 4? Will running a test use the Launcher API? Or will it use JUnit 4's mechanism (JUnitCore or Runner/RunNotifier) directly?

[2016-11-25 18:33] akozlova commented on #569
If there is no junit 5 dependency then IDEA detects all classes to run by IDE means and then start tests with JUnitCore. If there is junit 5 in the classpath, then I rely completely on junit mechanism. Is it ok?

[2016-11-26 01:20] jbduncan commented on #297
[JUnit Io](https://github.com/CodeFX-org/junit-io) should probably be added to this list. :)

[2016-11-26 01:25] jbduncan commented on #383
Ah, now that I read back over this issue, I think I understand the principle behind what are you were describing @mfulton26.

I wonder if there's a simpler way of representing this concept...

[2016-11-27 12:35] avalez commented on #425
Hi JUnit team,

Is there a plan to add module-info to junit5 or even better to junit4?

I have a problem using junit4 as unnamed module when testing jdk module, e.g. jaxb-api. It might need to be fixed in JDK though, thus just a question above.

Thank you.

[2016-11-28 15:57] nskvortsov commented on #475
Also, support for Gradle common [test listeners](https://docs.gradle.org/current/dsl/org.gradle.api.tasks.testing.Test.html#org.gradle.api.tasks.testing.Test:addTestListener(org.gradle.api.tasks.testing.TestListener)) would be very useful

[2016-11-29 00:14] sbrannen commented on #425
Regarding JUnit 4, I am not aware of any intent to provide explicit JDK 9 support (even in the form of `module-info`), especially since JUnit 4 is based on JDK 5. However, perhaps @kcooney or @marcphilipp can better answer that.

Regarding JUnit 5, we are not currently planning to include `module-info` in JUnit 5 JARs during the 5.0 GA timeline. However, we will keep this on our radar and consider

[2016-11-29 04:08] kcooney commented on #425
@avalez we don't want JUnit 4 to require JDK 9, so JUnit 4 will not have a `module-info`

[2016-11-29 06:08] kcooney opened #575 "assertThrows() should use getCanonicalName() for printing exception type"
In JUnit 4, we changed `assertThrows()` to use `Class.getCanonicalName()` so the exception messages are more readable. See https://github.com/junit-team/junit4/pull/1394 for details.

Note in that same pull, I ensured that the message would remain readable even if the string representation of the exception classes are identical (which could happen if there are multiple classloaders). Previously, t

[2016-11-29 07:32] avalez commented on #425
Thank you for the information!

[2016-11-29 13:58] estekhin opened #576 "Gradle plugin JUnitPlatformExtension.platformVersion should default to plugin version"
`JUnitPlatformExtension.platformVersion` is defined as "1.+" (dynamic version style, the most relevant documentation seems to be https://docs.gradle.org/current/userguide/dependency_management.html#sub:dynamic_versions_and_changing_modules and https://docs.gradle.org/current/userguide/dependency_management.html#sec:controlling_caching).

When building the project which uses JUnit5 Gradle plugin, G

[2016-11-29 17:43] marcphilipp commented on #576
Sounds like a sensible thing to do.

@junit-team/junit-lambda What do you think?

[2016-11-30 04:13] sbrannen commented on #576
Yep, sounds reasonable to me.

We just have to make sure that our own internal use of the Gradle plugin picks the correct version, which -- as we know -- is a bit of a Texas Two-Step. 😝

[2016-11-30 04:22] sbrannen commented on #575
Thanks, @kcooney.

I've slated this for M4.

[2016-11-30 07:48] #433 closed

[2016-11-30 07:49] marcphilipp commented on #169
`ExpectedException` can now be used in Jupiter by enabling an extension. See http://junit.org/junit5/docs/snapshot/user-guide/#migrating-from-junit4-rulesupport for details.

[2016-11-30 07:49] #169 closed

[2016-11-30 07:50] marcphilipp commented on #442
_in progress_

[2016-11-30 09:01] marcphilipp commented on #442
I went through all issues assigned to M3 and made sure they are documented in the release notes, if relevant.

[2016-11-30 09:01] #442 closed

[2016-11-30 09:06] sormuras commented on #442
**5.0 M3** _done_ by November 30, 2016 **100% complete**

Great way to start December. 🎁

[2016-11-30 10:02] marcphilipp commented on #442
Indeed, finally! 🎉 😊

[2016-11-30 10:22] apupier commented on #217
The work to support JUnit 5 in Eclipse can be tracked here: https://bugs.eclipse.org/bugs/show_bug.cgi?id=488566

[2016-12-01 01:38] Alxandr commented on #479
I have `-M2` specified everywhere wrt junit packages, and I still just started to get this error.

[2016-12-01 02:19] #535 closed

[2016-12-01 02:30] #410 closed

[2016-12-01 03:20] sbrannen commented on #479
@Alxandr, what happens if you add an explicit dependency on `org.junit.platform:junit-platform-console:1.0.0-M2`?

[2016-12-01 03:22] sbrannen commented on #479
@Alxandr, as an alternative, what happens if you set `platformVersion = 1.0.0-M2` within the `junitPlatform` configuration block in your Gradle build?

[2016-12-01 03:35] sbrannen commented on #217
I am closing this issue since the Eclipse team has already begun work on official support for JUnit 5 in Eclipse 4.7 M3.

I in fact used it in my demos during my ["Deep Dive into JUnit 5" talk at Devoxx BE 2017](https://www.youtube.com/watch?v=UHN_HcjZa7o). 😉

[2016-12-01 03:35] #217 closed

[2016-12-01 09:53] vw-reisepass opened #578 "Error while running junitPlatformTest Gradle task"
We're using Junit platform Runner for `Spek` tests in Kotlin.
Since yesterday, our gradle junitPlatformTest task has been failing with the following error.

[code]

Our  build.gradle  file looks like below:

[code]

Seems like, even though we specify the version of junit-platform-runner to be `1.0.0-M2`, it uses latest `1.0.0-M3`. And it runs with `ConsoleLauncher` with a `--all` option which is n

[2016-12-01 11:47] estekhin commented on #576
This is how it looks when the build depends on `junit-platform-gradle-plugin:1.0.0-M2`, plugin depends on `junit-platform-launcher:1.+` and `junit-platform-console :1.+`, and 1.0.0-M3 was released:

The build which was running fine yesterday has failed today without any changes to the project itself.
It happened because plugin:1.0.0-M2 is not compatible with launcher:1.0.0-M3 due to
•The -a and --

[2016-12-01 11:49] sormuras commented on #576
Happend at https://github.com/junit-team/junit5/issues/578 too.

[2016-12-01 13:40] Alxandr commented on #479
Well, I saw that M3 was released, so I rather went through the process of upgrading to that. I'm guessing the gradle plugin downloaded the latest something from maven central which broke it when a new release was uploaded.

[2016-12-01 13:54] netzwerg opened #579 "Support tag-specific Gradle tasks"
_(This is a question I asked on [StackOverflow](http://stackoverflow.com/questions/40891867/junit5-tag-specific-gradle-task) – I am filing this issue as requested by @sbrannen)_

I use the following annotation to tag my integration tests:

[code]
This is the filter I use in build.gradle to exclude these tests from gradle build:

[code]
So far, so good.

Now I would like to offer a Gradle task whic

[2016-12-01 14:05] marcphilipp commented on #578
Please try to set `platformVersion` to 1.0.0-M2 as mentioned here: https://github.com/junit-team/junit5/issues/479#issuecomment-264068538 and let us know if that helps.

[2016-12-01 15:34] sbrannen commented on #579
See workaround on Stack Overflow: http://stackoverflow.com/a/40912322/388980

[2016-12-01 22:06] arturbosch commented on #578
Adding an explicit dependency on org.junit.platform:junit-platform-console:1.0.0-M2 in all sub modules solved this issue for me.

[2016-12-01 22:39] sbrannen commented on #578
@arturbosch, thanks for confirming that that worked for you.

[2016-12-02 09:18] SqAutoTestTeam commented on #549
@marcphilipp

No I haven't.

[2016-12-02 17:55] marcphilipp commented on #549
Can you try?

[2016-12-02 19:21] nipafx opened #580 "Improve version display/selection in User Guide and Release Notes"
As it stands the JUnit 5 project publishes a user guide (which is awesome, btw) with every milestone and also has a current one tracking master (so to speak). This is pretty cool but suffers from the problem that a lot of very similar texts exist that Google, SO, blogs and other sites index and link to in a pretty random fashion. User can easily get lost in a guide that does not apply to their ver

[2016-12-02 20:49] littleclay opened #581 "Is it possible to have test filters use full boolean semantics?"
I see in the User Guide that filters for tests use the same OR semantics as JUnit 4's categories. Unfortunately, we've run into multiple instances where the OR semantics were not powerful enough. Take the following setup:

[code]

If you want to run all tests with just `Foo` or `Bar` that's easy. But what if you **only** want to run tests with **both** `Foo` and `Bar` (e.g. just the method `testBo

[2016-12-02 21:33] smoyer64 commented on #581
@littleclay There have been other discussions about how complex the include/exclude logic should be.  Since I've just completed adding the filtering to the maven-surefire-plugin, I can tell you that the semantics of the filter specifications in the Maven configuration file (POM) will still be a limiting factor (groups and excludedGroups are synonyms for includeTags and excludeTags for JUnit 5):

-

[2016-12-03 11:30] marcphilipp commented on #580
That's very good feedback and very good ideas, thanks! 👍

[2016-12-03 11:31] Jessevanbekkum opened #582 "Add method name to report"
I used to work on a tool that parsed test results generated by different junit like tools (junit, karma, etc). One of the advantages of junit was that you could construct a unique name for each test result, because the combination of package + class + method is guaranteed to be unique in java.

This advantage has been lost, because of the `@DisplayName`. It is possible to generate output like this

[2016-12-03 11:32] marcphilipp commented on #569
IMHO that makes sense. However, in the case of `@RunWith(JUnitPlatform.class)` that doesn't work. 🤔

@junit-team/junit-lambda What do you guys think?

[2016-12-03 11:38] marcphilipp commented on #582
Actually, we have a unique ID for each test case. However, the legacy XML format doesn't support it. We currently output it as a XML comment.

[code]

Having said that, we've already switched to using the method name in the `name` attribute of the `testcase` element as you suggested in #372.

[2016-12-03 11:38] #582 closed

[2016-12-03 11:41] marcphilipp commented on #582
Better example:

[code]

[2016-12-03 20:11] marcphilipp commented on #14
_in progress_

[2016-12-04 01:29] sbrannen commented on #569
The main issue here is that the JUnit Platform does **not** provide a means for declaring a test suite decoupled from all testing frameworks (or TestEngine implementations) running on the platform.

So, without solving that issue, we will not resolve this GitHub issue (at least not in general purpose fashion).

Keep in mind that the `JUnitPlatform` _Runner_ was only ever intended as a temporary wo

[2016-12-04 02:32] sbrannen commented on #14
@marcphilipp, whenever you start active work on this feature, let's make sure we introduce abstractions that are usable across numerous unsupported use cases (i.e., features in the backlog like this one, support for executing dynamic tests with parameters, etc.).

With that in mind, a few ideas I've been tossing around in my head are `TestOrchestrator` and `ExecutableTest`.

`TestOrchestrator` wou

[2016-12-04 06:45] goerge commented on #479
Although I set all JUnit related versions to -M2,  I had this issue, too.

Setting either
[code]
or
[code]
fixed the issue.
Is this really intended?

[2016-12-04 06:48] goerge commented on #578
As mentioned in #479 :

Although I set all JUnit related versions to -M2, I had this issue, too.
Setting either
[code]
or
[code]
fixed the issue.
Is this really intended?

[2016-12-04 07:23] nicolaiparlog commented on #14
Should there be a meta issue that collects the "numerous unsupported use cases" and allows for discussions of proposals? It would make it easier to see the scope of what is tackled and compare proposals.

I would like to chime in with some thoughts I had regarding lifecycle integration of dynamic tests and their factory methods.

[2016-12-04 08:42] sormuras commented on #513
Reducing logging level from `INFO` to `Level.`[CONFIG](https://docs.oracle.com/javase/8/docs/api/java/util/logging/Level.html#CONFIG) should be enough.

[2016-12-04 10:24] sormuras opened #583 "Load and register custom TestExecutionListener implementations automatically"
What about adding support for loading custom `TestExecutionListener` implementations via the Service API to the console launcher?

Enhance (and document) [ExecuteTestsTask#registerListeners](https://github.com/junit-team/junit5/blob/master/junit-platform-console/src/main/java/org/junit/platform/console/tasks/ExecuteTestsTask.java#L90) with:
[code]

Or add the load and register functionality to the

[2016-12-04 10:40] marcphilipp commented on #578
Definitely not! I'm closing this issue as there's already a proposed solution in #576.

[2016-12-04 10:40] #578 closed

[2016-12-04 10:41] marcphilipp commented on #479
Definitely not! Let's continue the discussion in #576.

[2016-12-04 10:44] marcphilipp commented on #583
I think we should add them to the DefaultLauncher not just when using ConsoleLauncher. I also proposed we do this in https://github.com/junit-team/junit5/issues/542#issuecomment-257308591.

[2016-12-04 10:45] marcphilipp commented on #583
@junit-team/junit-lambda Any objections?

[2016-12-04 10:49] marcphilipp commented on #513
We could go for one of the proposed solutions in [this StackOverflow post](http://stackoverflow.com/questions/2533227/how-can-i-disable-the-default-console-handler-while-using-the-java-logging-api) to disable logging of `org.junit` completely unless e.g. a system property is set.

[2016-12-04 10:52] marcphilipp commented on #14
Is there a way to provide a bit more restrictions on the topic? Otherwise, this might get out of hand quickly. 🤔

Please share them in #378. 🙂

[2016-12-04 13:16] panzhuowen9527 opened #584 "How can I use junit5 for spring5"
My Email is 18643916953@163.com

[2016-12-05 02:03] sbrannen commented on #584
Please note that questions like this are more suitable for Stack Overflow using the `junit5` tag.

In any case, it's quite easy to use Spring with JUnit 5 via the `SpringExtension` for JUnit Jupiter.

If you are using Spring Framework 5.0 milestone releases, the `SpringExtension` is available in the `spring-test` JAR. If you're using Spring Framework 4.3, the `SpringExtension` is only available if

[2016-12-05 02:03] #584 closed

[2016-12-05 02:05] sbrannen commented on #583
No objections. Go for it!

[2016-12-05 11:35] elygre commented on #14
As time passes, I've come to realize that our most frequent use case has a few simple alternative values. Hence, I'd like to suggest an optional simplification:

[code]

[2016-12-05 14:35] mkobit commented on #378
I think it could also be useful/interesting for extensions in this case to do be able to compute "test matrix" by using multiple different parameter resolver extensions and different declarative parameterized values.

For example:

[code]

I would like to have the ability to have an extension that can register additional tests by looking at the context of a method or class.

[2016-12-05 15:43] smoyer64 commented on #378
@mkobit Take a look at PR #577 and the associated proposal in issue #354 ... the idea is to be able to alter the test plan before it's made immutable.

[2016-12-05 21:40] tetrodoxin opened #586 "Error with 5.0.0-M3 in IntelliJ"
When I changed the build from 5.0.0-M2 to 5.0.0-M3 within a project in IntelliJ 2016.3 I got following error, when trying to run tests;
[code]
This error even comes up within the `junit5-gradle-consumer` sample project. M2 is fine, M3 produces this error, which tells me, that allegedly a method `notNull(Object, String, Object)` was called, which doesn't exists, but I don't find no clue for this st

[2016-12-05 23:31] sbrannen commented on #586
The problem is that IntelliJ IDEA is using `org.junit.platform:junit-platform-launcher:1.0.0-M2` (the JAR that contains the `DefaultLauncher`) in conjunction with `org.junit.platform:junit-platform-commons:1.0.0-M3` (the JAR that contains the `Preconditions` class) which is transitively pulled in via your `org.junit.jupiter:junit-jupiter-api:5.0.0-M3` dependency.

To solve this problem, IntelliJ w

[2016-12-05 23:35] sbrannen commented on #586
This is somewhat related to #576.

[2016-12-05 23:37] sbrannen commented on #586
@junit-team/junit-lambda and @akozlova,

I'm inclined to say this is a bug in IDEA.

What are your thoughts on the matter?

[2016-12-06 00:51] tetrodoxin commented on #586
Thanks to you.
Indeed that line helped, although I has to find out at first, that the order of these lines seem to be important. Got still a lot to learn about gradle...

[2016-12-06 09:54] akozlova commented on #586
See https://youtrack.jetbrains.com/issue/IDEA-164865 and https://github.com/junit-team/junit5/issues/565

IDEA bundles junit launcher jar, for 2016.3 it was the one from M2 as when IDEA was released it was the last one available. 2016.3.1 will be released this week with bundled M3. This means though that people who use M2 would see similar problems. We would publish the instruction how to deal wit

[2016-12-07 05:04] sbrannen commented on #583
Resolved in 3c52d958f1e3de36726724c62012d75f55db6d8b.

[2016-12-07 10:19] sormuras opened #587 "Rename test methods not to start with `test` literal"
At the current state, there're 1.281 `@Test` annotation usages in JUnit 5 testing code.
70 of the annotated methods do start with `test` literal. Namely:
[code]

Cleanup by removing `test` and lower-case new initial character? Where there's only a `1` (number) or `A` left, give it meaningful name.

[2016-12-07 10:54] marcphilipp commented on #583
This still needs to be documented in the User Guide and Release Notes. We haven't really used a consistent strategy to address that need in the past. We could reopen this issue, create a new one, or procrastinate until some poor guy wants to do a release and has to go through all the issues.

I'm in favor of the first option.

@junit-team/junit-lambda What do you think?

[2016-12-07 12:11] estekhin commented on #586
IntelliJ IDEA with M3 support has been released (https://blog.jetbrains.com/idea/2016/12/intellij-idea-2016-3-1-rc-updates-junit-5-support-to-m3/).
This issue should be closed as there is nothing to do on JUnit side.

[2016-12-07 12:18] estekhin commented on #475
JUnit should use the logging system provided by Gradle by default when running as a part of Gradle-based build.

`junitPlatform.logManager` should be used to override this default behavior, but the default should be that all logging done by JUnit inside Gradle should go to the logger provided by Gradle and be affected by Gradle log-related command-line options (https://docs.gradle.org/current/user

[2016-12-07 16:36] RobLewis commented on #586
I am using the 163.9166.20 build (Mac) and am getting the following when I try to run a simple method test:

Dec 07, 2016 8:25:12 AM org.junit.platform.launcher.core.ServiceLoaderTestEngineRegistry loadTestEngines
INFO: Discovered TestEngines with IDs: [junit-jupiter]
Internal Error occurred.
org.junit.platform.commons.util.PreconditionViolationException: Could not load class with name: DirectoryT

[2016-12-07 18:54] akozlova opened #589 "Unable to discover 2 methods in the same class"
IDEA allows users to run 2 test methods of the same test class. This is done now through `LauncherDiscoveryRequest`, like:

[code]

Works well in most cases, but if both methods belong to the same class, then only the first one would be executed. After debugging it turns out that `org.junit.jupiter.engine.discovery.JavaElementsResolver#tryToResolveWithResolver` detects that there is already a corr

[2016-12-07 19:24] marcphilipp commented on #589
Thanks for reporting, @akozlova! I'll look into it right away.

[2016-12-07 20:05] smoyer64 opened #590 "Log version numbers with discovered engines"
There have been several instance where users ended up with mismatched versions of the JUnit 5 artifacts, such as #586.  Debugging these problems would be easier if the INFO-level log message also printed out the version number of the engine.  So this message:

[code]

Would become:

[code]

Note that the engine name can remain a constant but the version could be pulled programmatically from the JA

[2016-12-07 20:12] marcphilipp commented on #590
Good idea! Do you want to give it a shot?

[2016-12-07 20:24] smoyer64 commented on #590
I've made a couple other promises to the junit-team and need to catch up on those ... if this is *not* an M4 issue, feel free to assign it to me.

I know that there are some gotchas when parsing META-INF (we've done it for most of our REST services), so maybe I can short circuit the work a bit by getting Penn State to donate the resource scanning/matching code.

[2016-12-07 20:27] marcphilipp commented on #590
You're right, it's more a nice-to-have. I'll add it to the 5.0 Backlog for now and make it up-for-grabs.

[2016-12-07 20:31] marcphilipp commented on #475
The current plugin uses the Java task to start a new JVM. How can it use Gradle's logging system?

[2016-12-07 20:35] marcphilipp commented on #587
Thanks for the analysis! I think most of these are false-positives, though. So I wouldn't want to rename them. Only the following seem relevant to me:

[code]

[2016-12-07 20:42] marcphilipp commented on #589
@akozlova Please take a look at #591. That's what you meant, right?

[2016-12-07 21:06] akozlova commented on #589
Looks like your commit should fix my issue. Thanks!

[2016-12-08 00:58] sbrannen commented on #590
Providing the version number is a good idea; however, we cannot simply concatenate it with the ID, separated by a hyphen like `junit-jupiter-5.0.0-SNAPSHOT`. The reason is that _that_ is actually _not_ the engine's ID, and a user should be able to copy-n-paste an ID from the log to explicitly _include_ or _exclude_ a registered engine based on its official ID.

In other words, we would need to inc

[2016-12-08 01:02] sbrannen commented on #590
Slated for M4 due to work in #592.

[2016-12-08 01:20] sbrannen commented on #583
Oooooops. Yes... you are totally correct!

I'm in favor of reopening the original issue in such cases: no need to multiple issues for the _same issue_.

Since I prematurely closed it, I'll reopen it. 😉

[2016-12-08 01:22] sbrannen commented on #583
In retrospect, we need to (re)define our _Definition of Done_ for issues. Though perhaps we should discuss that amongst the team and then document it in the wiki (and of course actually adhere to the rules).

[2016-12-08 01:22] sbrannen commented on #583
Actually, I'll create an issue to address the DoD.

[2016-12-08 01:38] sbrannen opened #593 "Define and document Definition of Done for issues"
## Overview

In order to avoid forgetting to document issues in the User Guide and Release Notes, to avoid having appropriate tests and Javadoc in place, etc., we need to formulate an explicit _Definition of Done_ for accepting pull requests and closing issues.

## Related Material

See the discussion spawned by https://github.com/junit-team/junit5/issues/583#issuecomment-265417246.

# Deliverable

[2016-12-08 01:38] sbrannen commented on #583
See #593 regarding the _Definition of Done_.

[2016-12-08 02:26] smoyer64 commented on #590
@sbrannen I like that format much better.

For Maven, Gradle and Ant+Ivy users it would be really nice to have the entire GAV.  Unfortunately most of my configuration problems are that I didn't provide any engines!

[2016-12-08 02:35] sbrannen commented on #587
I agree with @marcphilipp. 👍

[2016-12-08 02:41] sbrannen commented on #587
Just to be clear, if "test" is part of a noun (like `@TestFactory`), then the use of "test" (like `testFactoryMethod...()`) is perfectly correct.

On the other hand, it's typically incorrect (according to our conventions) if "test" is used as a verb.

And for all "test cases" that serve as test fixtures for our actual tests, the use of "test" (as in "test1") is also acceptable since 1) those are n

[2016-12-08 02:47] sbrannen commented on #475
@estekhin, you are confusing two different things.

1. JUnit uses Java's built-in logging framework (regardless of how JUnit is executed: Gradle, IntelliJ IDEA, command-line, etc.).
1. Gradle tasks can participate in Gradle's logging support.

The `junitPlatform.logManager` you refer to can therefore only apply to category 1 above.

Thus your proposal can only be applied to what the JUnit Platform

[2016-12-08 03:18] sbrannen commented on #586
@RobLewis, could you please open an issue directly with IntelliJ IDEA for the problem you're encountering?

[2016-12-08 03:24] sbrannen commented on #586
Hi @akozlova,

Thanks for the link.

Glad to hear you're releasing 2016.3.1 with JUnit 5 M3 support so quickly. Awesome!

Publishing the instructions is, IMHO, the best solution to the problem for the time being.

The real issue is that we occasionally make breaking changes from one milestone to the next. However, this will not be the case once the GA releases are out the door. At that point, ther

[2016-12-08 03:27] sbrannen commented on #586
@estekhin

Well, that's only a release candidate, but yes... there will soon be a version of IDEA that supports JUnit 5.0 M3. However, that does not address the underlying issue. I am therefore leaving this issue open a bit longer in order for the @junit-team/junit-lambda team to discuss the topic internally (e.g., to decide if we want to include documentation for the work-around in the User Guide

[2016-12-08 07:43] nicolaiparlog commented on #593
Good idea! I think documenting it in the Wiki is a little too far away for everyday coding, though. What about extending the pull request template (e.g. with a checkbox list)? Similarly an issue template could be created.

[2016-12-08 20:54] sbrannen commented on #593
Great ideas, @nicolaiparlog! 👍

I think we'll document it in the wiki for thoroughness and update our templates as well.

Cheers

[2016-12-08 22:25] FaustXVI commented on #297
I'd love to see the [docker extension](https://github.com/FaustXVI/junit5-docker) added to this list :)

[2016-12-09 02:04] #587 closed

[2016-12-09 02:25] sbrannen commented on #297
I added JUnit 5 Docker to this issue's description.

[2016-12-09 05:33] #583 closed

[2016-12-09 05:51] sbrannen commented on #414
Our utility classes should remain utility classes. We should not convert them to interfaces.

So, unless another member of @junit-team/junit-lambda objects, we should decline this proposal.

[2016-12-09 06:06] marcphilipp commented on #414
Agreed.

[2016-12-09 06:59] #414 closed

[2016-12-10 04:44] sbrannen commented on #590
Work on this issue is currently _in progress_ in #592.

[2016-12-10 05:01] sbrannen commented on #590
Since we use the artifact ID for the `Implementation-Title` in the manifest for all of our published JARs, we can easily include the artifact ID in the log output; however, we will not be able to access the group ID via the package info.

@sormuras, would you mind updating #592 to generate the output as follows?

`[junit-jupiter (artifact ID: junit-jupiter-engine, version: 5.0.0-M3), junit-vintage

[2016-12-10 09:25] sormuras commented on #590
@sbrannen That single logging line is getting convoluted, a bit. How about splitting it into multiple lines? Like:
[code]

[2016-12-10 12:23] smoyer64 commented on #590
@sormuras I like the idea of one line per discovered engine but I'd like to confirm that you meant that each line would be issued via a separate log statement.  (Allowing newlines in log messages is a security issue in many static code analysis systems).

[2016-12-10 12:43] sormuras commented on #590
@smoyer64 Good point. Refactoring my String concatenation code... before committing next iteration.

[2016-12-10 13:34] sormuras commented on #590
Mh, the log level discussion in #513 indicates, that even the single line is too much information, when printed to `System.err` by default.

Here's my current rendering so far, running a single test from within IDEA 2016.3.1:
* log level is configured at single place, namely `logDiscoveredTestEngines(Level level, Iterable<TestEngine> testEngines)`
* new details, like artifact id, group id or other

[2016-12-10 13:53] marcphilipp commented on #590
I would go with a single line.

[2016-12-10 16:01] sormuras commented on #590
Single line is back:
[code]

[2016-12-11 00:39] #590 closed

[2016-12-11 00:39] sbrannen commented on #590
This has been resolved in 716efc8c439ecc93ea8cf05019130d59bedb2b9a.

[2016-12-11 14:24] marcphilipp commented on #146
AppVeyor wants to have separate steps for building and testing. I've changed the config so we now use

1. `gradlew --refresh-dependencies clean assemble` to build
2. `gradlew build` to test

I know that looks confusing. But when you look at the [task graph](https://docs.gradle.org/current/userguide/java_plugin.html#N15A90) of Gradle's Java plugin, that should do the trick:
![javaplugintasks](https

[2016-12-11 14:32] #589 closed

[2016-12-11 15:36] sbrannen commented on #146
@marcphilipp, I think you meant to post that comment on #596. 😉

[2016-12-11 15:39] marcphilipp commented on #146
Oops, indeed. 😳

[2016-12-12 00:44] sbrannen opened #600 "PackageUtils do not work with modules on Java 9"
## Background

Invoking `clazz.getPackage().getImplementationVersion()` can currently return `null` on Java 9 while returning a valid implementation version on Java 8. See the discussion in #598 for details.

For example `PackageUtils.getAttribute(Object.class, Package::getImplementationVersion)` returns an empty `Optional` on Java 9 when passed a class that resides in a module (e.g., `java.base`)

[2016-12-12 01:16] sbrannen commented on #600
Overhauled this issue's description based on my _Analysis_.

[2016-12-12 09:06] kcooney commented on #531
FYI: there is some discussion at https://github.com/junit-team/junit4/pull/1396 about whether `assertThrows()` is a good name considering the methods returns something. Having the name be different than the other methods might reduce confusion..

[2016-12-12 11:41] sormuras commented on #600
The special case, retrieving an attribute from `Object.class`'es package object, used in a test of #598 should be changed to a more robust assertion route, that already works on Java 8 and won't break on Java 9. I'm preparing a PR that uses `ValueWrapper` from `opentest4j.jar` as a probe for an externally loaded class -- which does not result in a undefined state on Java 9.

Side note: http://down

[2016-12-12 12:06] avandeursen commented on #586
I had this problem too, for the junit5-maven-consumer example project (importing the dependencies via the pom into IntelliJ).

I can confirm that IntelliJ 2016.3.1 as mentioned by @estekhin https://github.com/junit-team/junit5/issues/586#issuecomment-265431975 fixes this problem (thanks everyone!)

What did _not_ work for this maven example was adding the launcher to the pom, inspired by the sugge

[2016-12-12 16:29] sbrannen commented on #586
@avandeursen, does the JUnit 4 test work for you if you add an explicit project dependency on the `junit-vintage-engine` (i.e., copied from the configuration of the `maven-surefire-plugin`)?

[2016-12-12 16:50] sbrannen commented on #600
Well... AFAIK, if we were ever to load `opentest4j.jar` via the module-path within the Gradle build or within the IDE then the test that loads the `Package` for `ValueWrapper` would also start to fail. 😉

Yeah... looking forward to being able to use `Runtime.version()`! But JUnit 5 only requires Java 8, so we can't use that yet.

[2016-12-12 16:59] sormuras commented on #600
True.

A foresee a `ModuleUtils` helper and `VersionUtils` - the later deciding contains switch that decides who can answer the "implemenation version" query. **Or**, shift the versioning text creation duty to the engine supplier: make `TestEngine.getVersion()` and friends abstract (or return an empty `Optional`) to force a hard-coded, a dynamic, a package/module-scanned, what-ever implementation.

[2016-12-12 17:41] nicolaiparlog commented on #600
If you hide the version access behind an API you could build a Multi-Release JAR. Then you could use `Runtime.version()` on Java 9+ and are only required to do special shenanigans for Java 8.

[2016-12-12 19:04] sormuras commented on #600
Getting the version from the Java runtime was only required by an already removed test case. See #601.

The main purpose of introducing `PackageUtils` is to provide an convenient default for the `TestEngine.getMetadataAttributeForLogging` interface methods. It should ease the work for `TestEngine` vendors when implementing their test engines.

[2016-12-12 19:11] RobLewis commented on #586
General comment: _apparently_ (I say because I can't be sure) my issue was due to compiler errors. I thought that selecting "Build, no error check" would prevent that from happening, but evidently not.
As a relative newcomer, it's a bad feeling being squeezed at the intersection of two complex systems (IDEA and JUnit), with so many obscure options and settings to deal with. And is it conceivable t

[2016-12-12 20:37] sbrannen commented on #586
@RobLewis,

Yes, that is conceivable. 😉

Please create a new issue to address that, and we'll see what we can do.

Thanks

[2016-12-13 19:28] RobLewis opened #602 "Provide additional context in error messages"
## Overview

As requested I am opening a new issue on this. See https://github.com/junit-team/junit5/issues/586#issuecomment-266522369 for background.

I'm new with JUnit, and my early attempts have been frustrated by messages such as:
`PreconditionViolationException: Could not load class with name: DirectoryTest`

Well, WHY couldn't you load the class??

I'm left trying to guess what the problem

[2016-12-14 01:06] sbrannen commented on #602
Thanks for raising the issue.

[2016-12-14 01:06] sbrannen commented on #602
Added _Deliverables_ and reworded title.

[2016-12-14 02:45] sbrannen commented on #531
@kcooney, we have already hashed this out and implemented what we decided on.

Basically, this is one of those areas of API design for which you'll only please half of the audience. Some people love that there is only a single assertion method for exceptions. Others (as in the JUnit 4 thread) dislike it severely.

As for the name, "expect" is definitively no better than "assert" or "verify" or "ch

[2016-12-14 04:03] mlevison commented on #531
@sbrannen - there's truth? cool why didn't someone tell me. Are beauty,
strange and charmed all part of the same package? If so I will forever use
this library.

Sorry for late night humour
Mark

On Tue, Dec 13, 2016 at 9:45 PM, Sam Brannen <notifications@github.com>
wrote:

--

[image: headshot-square-300x300]
<http://www.flickr.com/photos/36331075@N00/9674877046/> *Mark Levison* | 1
(877) 248-82

[2016-12-14 12:46] slu-it opened #603 "InstancePostProcessor not invoked when extension is defined on test method"
I was testing JUnit 5's lifecycle in regards to the different extension types for a blog I wrote. In doing so I found out that `TestInstancePostProcessor` extensions are not invoked when declared on a test method like this:

[code]

Was this an oversight, or a deliberate decision? On the one hand I find it hard to formulate a viable usecase for having a special post processor just for a single met

[2016-12-14 16:49] marcphilipp commented on #531
I totally agree with @sbrannen on this one.

[2016-12-14 17:08] marcphilipp commented on #603
I was more of a forward-looking design decision because we're planning on introducing "scenario tests" (see #48) where not every test method would habe its own personal test class instance.

However, we could still consider taking TestInstancePostProcessors registered on methods into account for regular tests. I guess we would then have to throw an exception if someone tries to do that in a scenar

[2016-12-14 19:39] nicolaiparlog commented on #603
I think a lot speaks for including the extension point:

* unit tests will likely be the much more common case so I'd say it has prerogative
* that the extension is not included in unit tests is more surprising than that it is not included in scenario test
* throwing an exception is much more explicit than ignoring an extension

I consider the second point to be the strongest. A user can deduce wh

[2016-12-14 20:09] aaschmid commented on #518
If I understand #506 correctly, it could be an alternative of solving this. Namely, by replacing some the element resolver with a custom one.

[2016-12-15 09:03] nicolaiparlog opened #604 "Allow hierarchical parameterized/dynamic tests"
However an extension point that allows dynamic or parameterized tests turns out (see for example #14, #371, #395 ), it would be great if it allowed to structure tests hierarchically. If, for example, two test methods `testA` and `testB` were run three times each, the test tree should be able to look as follows:

[code]

Allowing extensions to create a plan like that gives them the ability to bette

[2016-12-15 09:08] sormuras commented on #604
Like turning test methods into containers? Why not annotated `testA` as a `TestFactory`? That already leads to [trees](https://travis-ci.org/junit-team/junit5/jobs/180752503) like:
[code]

[2016-12-15 09:52] nicolaiparlog commented on #604
But in your example it is not the _extension_ that creates the hierarchy but the _engine_. If as an extension developer I want my own hierarchy, I can't do it.

[2016-12-15 14:03] PeterWippermann commented on #505
I had a look into `TestFactory` and it doesn't really work for me. The drawbacks of `DynamicTest`s (e.g. there's no integration with `@BeforeEach` ) and the need for parameterized tests have already been discussed in other issue tickets (I wasn't aware of these when opening this issue), so I'll stay tuned for updates there.

[2016-12-15 14:21] klopfdreh commented on #414
@martin-g : good suggestion. Even if this issue has been rejected you got my 👍

[2016-12-15 15:13] marcphilipp commented on #505
Rest assured, we're working on it! We plan to address this in the next milestone release.

[2016-12-15 15:54] akozlova opened #605 "Execution of @Ignore junit 4 tests is not possible with junit 5 launcher"
I have a project with mixed junit 4 and junit 5 tests, one of junit 4 test method is disabled with @Ignore annotation. If there is no junit 5 in the classpath, then IDEA is able to run the test when explicitly selected, e.g. to ensure that it still fails, etc. When there is junit 5, IDEA pass launcher with the method name has no influence on the org.junit.vintage.engine.discovery.DefensiveAllDefau

[2016-12-16 01:06] smoyer64 commented on #604
@nicolaiparlog That's why I proposed allowing an extension to alter the test plan after discovery.  See #354 and the associated PR #577.

[2016-12-16 14:00] sbrannen commented on #603
If we throw an exception in cases such as scenario tests, I can live with supporting `TestInstancePostProcessor` at the test method level.

Please keep in mind that the _switch_ that turns on "test instance per class" semantics will almost certainly be a generic feature that anyone can enable whenever he or she wishes (i.e., like it was in the JUnit Lambda prototype).

[2016-12-17 14:55] marcphilipp commented on #605
I agree that this would be desirable! However, the `ignoredBuilder` is only used if the `@Ignore` annotation is present on the test class level, not when used to annotate methods. So, to implement this feature, JUnit 4 also needs to add support for this feature. In JUnit 4 the runner is responsible for determining which of its children should be ignored. The `@Ignore` annotation is being checked f

[2016-12-17 15:03] marcphilipp commented on #605
@kcooney Would you support deactivating the `@Ignore` annotation via a system property like Jupiter does it?

[2016-12-17 22:32] sbrannen commented on #586
@avandeursen, ping!

[2016-12-17 23:25] sbrannen commented on #574
_in progress_

[2016-12-18 11:15] sdeleuze commented on #419
@sbrannen Allowing `@BeforeAll` and `@AfterAll` to be non-static would make usage of JUnit 5 much more pleasant with Kotlin where we currently have to use crappy code (even if you can blame Kotlin for that, but I believe they really did the best they could in finding a good tradeoff between good Java interrop and clean design) to make it work.

As [described here](http://stackoverflow.com/question

[2016-12-18 11:57] sbrannen commented on #419
Hi @sdeleuze,

Nice to see a fellow core Spring committer chiming in here! 😉

As for your request... you're preaching to the choir (at least when addressing me). In the JUnit Lambda prototype @bechte and I implemented support for `@BeforeAll` and `@AfterAll` that only required such methods to be `static` if the test class was configured with "test instance per method" semantics.

I am personally t

[2016-12-18 12:07] sbrannen commented on #419
@junit-team/junit-lambda what do you guys think about reinstating the `@TestInstance` annotation for M4 since we'll need it (or something equivalent) for scenario tests in M5?

[2016-12-18 12:19] sbrannen commented on #281
_in progress_ due to #606

[2016-12-18 12:53] sdeleuze commented on #419
My pleasure to be here :-)

I think both could make sense depending on the use case. For functional Spring + Kotlin applications like the one I develop on https://github.com/mix-it/mixit, I think Spek could be a better fit (we are going to use it shortly, it is on our TODO), while for regular Spring Boot annotation based applications, being able to take advantage of Spring TestContext Framework wi

[2016-12-18 13:37] #574 closed

[2016-12-18 19:18] kcooney commented on #605
@marcphilipp while I wouldn't be opposed in theory, there are a number of placers where this would need to be done

- JUnit4TestAdapter
- TestMethod
- BlockJUnit4ClassRunner
- IgnoredBuilder

For `IgnoredBuilder` there is the question of whether you can run an individual method in a test class annotated with `@Ignore` and ignore the other methods.

[2016-12-19 18:05] radai-rosenblatt commented on #60
+1. would definitely help in shortening build times

[2016-12-19 18:11] radai-rosenblatt opened #607 "inter-test dependency mechanism"
would be nice to have _some_ way of specifying inter-test dependencies.
this could be between different methods within the same class or between classes.

such a feature is very useful in large codebases with hundreds or thousands of tests. if something really basic breaks it could cause dozens of test classes to fail, and then tracking down the root cause depends on the developer choosing which t

[2016-12-19 18:37] mlevison commented on #607
Radai - why not simply tag some unit tests: core, primary or simple? Then use the command line to run those first.

As a Scrum guy (odd person out here), I cringe at maintaining dependencies. I spend my days rooting them out of organizations not adding them back in.

Cheers
Mark

On December 19, 2016 at 1:11:06 PM, Radai Rosenblatt (notifications@github.com) wrote:

would be nice to have some way

[2016-12-19 20:44] radai-rosenblatt commented on #607
@mlevison - maintenance and usability nightmare, let me explain:

suppose i have a multi-module project. every module has "layered" test cases - starting at crud tests, then inter-class integration, then component integration etc. the number of "layers" is really up to the developers of every module, and it not fixed.

if i would like to get value out of these tags i'd need to encode them into my

[2016-12-19 21:14] mlevison commented on #607
@Radai - key point I'm not on the JUnit team just an interested bystander.
Feel free to throw rotten fruit my way. BTW the best rotten fruit is
fermented into wine or beer.

I understand your need. What we need to consider is how your need will be
mis-used most of the time when its used outside of your team.

Imagine someone who doesn't deeply understand the JUnit way:

- Test A sets up a database

[2016-12-19 21:27] sbrannen commented on #281
Implemented in f4b67dacc8dab2b2fa6499522f6f480c20fc1f31.

[2016-12-19 21:27] #281 closed

[2016-12-19 22:45] radai-rosenblatt commented on #607
anything can be abused. I dont think something potentially being abused is reason not to include it.

dependencies are not really a scenario:

1. they are meant to describe completely different "layers" - so i can have a "crud" test layer, that tests the low level basic storage classes, then a "mid-tier" integration tests that tests my higher-level logic (and might spin up an in-mem DB and crud cl

[2016-12-19 23:15] devrandom commented on #13
There is a specific need to have a pseudo-random test order, since that allows finding unintended test interactions, and repeating the test using a seed.

#48 does not cover that use case.

[2016-12-20 06:45] nicolaiparlog commented on #607
## Potential for Abuse

Yes, anything can be abused but the likelihood of it happening and the damage it does depends a lot on what it is and how easy it is to misuse it. It is hence very necessary to look at the potential downsides of any feature.

Then you've not been following the development of Java very closely. Literally _every_ feature that goes into the language and libraries is vetted clo

[2016-12-20 16:46] radai-rosenblatt commented on #607
loose groups (tags) and the ability to specify high level layers of tests as you describe would suit my purpose very well. it would allow the low layers to run 1st and the higher layers to be skipped if the lower ones fail and yet be loose enough to allow concurrency in test execution.

[2016-12-21 18:31] bmuschko commented on #576
+1 for declaring a concrete version for additional dependencies that need to be resolved at build time. I'd consider using a dynamic versioning scheme a bad practice as it makes the build unreproducible. It's also puts an additional burden on the end user as she/he has to declare a version through the extension in any of their builds that uses the Gradle plugin.

[2016-12-21 21:00] danilofaria opened #608 "ConsoleLauncher does not work on M3"
I just migrated from M2 to M3 and found that the console launcher does not work.
In the past I had something like the following:
```java -cp "lib/*" org.junit.platform.console.ConsoleLauncher -p src -a -D```
Then after migrating to M3, I updated it to:
```java org.junit.platform.console.ConsoleLauncher -cp src --scan-class-path --hide-details```
Then I found out that it was not picking up any of m

[2016-12-21 21:23] marcphilipp commented on #608
`-cp src` looks strange to me. You should add directories that contain class files there.

In addition, we've added a default class name filter that only picks up classes that end with Test or Tests.

Does that help?

[2016-12-21 21:28] sormuras commented on #608
`java -cp "lib/*" org.junit.platform.console.ConsoleLauncher -d src --scan-class-path --hide-details`

I guess. If you're compiling from and to `src`.

[2016-12-22 09:23] marcphilipp opened #609 "Investigate if dependency of launcher and engine API to commons can be avoided"
Follow-up on #586.

Possible solutions from team brainstorming:

- Shadow commons into all artifacts that use it
- No breaking changes in commons, not even in internal code
- Isolate Launcher from rest of platform

If not possible, document [workaround](https://github.com/junit-team/junit5/issues/586#issuecomment-265012600) for IntelliJ and other IDEs.

[2016-12-22 09:24] marcphilipp commented on #586
Will be addressed in #602 and #609.

[2016-12-22 09:24] #586 closed

[2016-12-22 09:29] marcphilipp commented on #343
@smoyer64 Would you be interested to add a section that documents the migration strategy for rules to the User Guide? There are already sections for "Migration Tips" and "Limited JUnit 4 Rule Support".

[2016-12-22 09:31] marcphilipp commented on #575
As in JUnit 4, when canonical name is undefined (returns null) we should fallback to using the FQCN.

[2016-12-22 09:35] marcphilipp commented on #576
Instead of hard-coding the version in the code we should try to determine the version at runtime.

Possible solutions from team brainstorming:
- Find out plugin version from JAR manifest
- Generate properties file at build time

[2016-12-22 09:35] akozlova commented on #609
Please treat the workaround as the very last solution. Since M3 is released, I get multiple error reports though we put the warning with a workaround everywhere we could think of. I think that I can just reject to work if the versions won't match but this could break M4 if it won't contain incompatible changes to M3 so I am hesitating before such step

[2016-12-22 09:52] marcphilipp commented on #558
I will discuss with @britter when this issue can be moved to Surefire's issue tracker.

[2016-12-22 09:59] marcphilipp commented on #546
_in progress_ due to #524

[2016-12-22 09:59] marcphilipp commented on #369
_in progress_ due to #524

[2016-12-22 12:30] marcphilipp commented on #483
@schauder @oehme Any news on the dedicated degraph Gradle plugin?

[2016-12-22 12:35] marcphilipp commented on #386
Closed as duplicate of #374.

[2016-12-22 12:35] #386 closed

[2016-12-22 12:56] marcphilipp commented on #258
Team decision:
We will publish an additional artifact that includes console + dependencies, jupiter, and vintage. called `junit-console-x.y.z-standalone.jar`.

[2016-12-22 12:58] marcphilipp commented on #155
We have decided to get rid of the ZIP archive distribution in favor of providing a fat JAR (see #258).

[2016-12-22 12:58] #155 closed

[2016-12-22 13:03] marcphilipp commented on #435
Will be addressed within Surefire.

[2016-12-22 13:03] #435 closed

[2016-12-22 13:17] marcphilipp commented on #504
@akozlova Have you tried using `@Testable` to discover testable classes/methods?

[2016-12-22 13:26] marcphilipp commented on #484
Since we're in the process of handing over the Gradle plugin to the Gradle team in gradle/gradle#1037, I'm closing this issue.

[2016-12-22 13:26] #484 closed

[2016-12-22 13:27] marcphilipp commented on #315
Since we're in the process of handing over the Gradle plugin to the Gradle team in gradle/gradle#1037, I'm closing this issue.

[2016-12-22 13:27] #315 closed

[2016-12-22 13:28] marcphilipp commented on #475
Since we're in the process of handing over the Gradle plugin to the Gradle team in gradle/gradle#1037, I'm closing this issue.

[2016-12-22 13:28] #475 closed

[2016-12-22 13:35] marcphilipp commented on #432
Team decision: Since parameters are not available during discovery and there's currently no way to signal a different display name for an existing test descriptor, we will close this ticket for now.

[2016-12-22 13:35] #432 closed

[2016-12-22 14:31] akozlova commented on #504
Not yet, sorry. I don't expect problems there but I'll need to do this soon, indeed. Thanks for pinging me!

[2016-12-22 14:45] nicolaiparlog commented on #354
I finally took some time and thought this through. I'm still not sure what my opinion on the extension point per se is, but I did come to the conclusion that I find it is no good replacement for extension points for scenario, parameterized, or dynamic tests. Reasons (all "in my opinion"):

* **Usability**: Operating on the test descriptor is rather abstract. More focused extension points are hopef

[2016-12-22 14:47] nicolaiparlog commented on #604
See [my comment there](https://github.com/junit-team/junit5/issues/354#issuecomment-268813744) why I am not convinced that sufficiently addresses this use case.

[2016-12-22 14:55] oehme commented on #483
I have added my ideas to the Degraph issue tracker: https://github.com/schauder/degraph/issues/69

[2016-12-22 14:58] nicolaiparlog commented on #378
Regarding lifecycle integration for dynamic tests... What exactly should that look like? Would the whole extension shebang (test instance processing, test parameter injection, before/after, ...) be run for test factory methods and then again for each individual dynamic test?

Mmmh, now that I'm writing this I don't actually see a problem with that anymore. But I'm sure I saw one when creating #530

[2016-12-22 15:00] schauder commented on #483
I'm sorry, no news yet. I just started my xmas vacation, so maybe I find some time.

[2016-12-22 15:50] sbrannen commented on #378
That's certainly what I have in mind!

[2016-12-22 15:55] sbrannen commented on #504
FYI: AFAIK, the beta JUnit Platform support in Eclipse already makes use of the `@Testable` annotation. So perhaps we should follow up with them to inquire about the experience thus far.

[2016-12-22 16:05] sbrannen commented on #609
I think this is a reasonable and robust approach. Thus, I would vote for this option.

We can only make that guarantee once 5.0 GA is released; otherwise, we are binding our own hands unnecessarily. Thus, I would personally veto this option.

Can you please expound on that proposal?

[2016-12-22 16:06] sbrannen commented on #609
Also, shouldn't this be slated for M4?

[2016-12-22 16:07] sbrannen commented on #576
Relates to #609

[2016-12-22 16:08] sbrannen commented on #576
We have to keep in mind that this may be (more) challenging when running on Java 9 since the `Implementation-Version` is not available via the `Package` API when running as a _module_.

[2016-12-22 16:09] danilofaria commented on #608
Adding ` --include-classname "^.*IT?$"` fixed it for me. My test files end with IT (for integration test), so they were not being picked up. Thanks for the hint, @marcphilipp

[2016-12-22 16:13] sbrannen commented on #608
@danilofaria thank you for confirming that you got it working.

Closing this issue since it is not a _bug_.

[2016-12-22 16:13] #608 closed

[2016-12-22 17:34] nicolaiparlog opened #611 "Allow distinction of talk title and event name in events.json"
In [`events.json`](https://github.com/junit-team/junit5/blob/gh-pages/data/events.json) individual events are specified as follows:

[code]

Unfortunately, `title` includes the name of the talk as well as of the event - or both. It would be better to have another field for that, preferably `event`:

[code]

Jekyll can then create better and more flexible output.

[2016-12-22 17:37] nicolaiparlog commented on #609
I hope this would be a temporary measure until GA? Not only do I consider this bad practice, as the Java 9 module system is implemented at the moment that would prevent using the JUnit artifacts as modules (_ packages_).

[2016-12-22 17:37] nicolaiparlog commented on #609
I hope this would be a temporary measure until GA? Not only do I consider this bad practice, as the Java 9 module system is implemented at the moment that would prevent using the JUnit artifacts as modules (_split packages_).

[2016-12-22 17:58] sbrannen commented on #609
@nicolaiparlog,

No, that would not introduce split packages.

When we use the Shadow plugin to incorporate code from a different JAR we _move_ the code to a different _local_ package.

So there are no concerns with regard to Java 9.

[2016-12-22 17:59] sbrannen commented on #609
The commons JAR can still be made available with its original, untarnished packages as is the case today.

[2016-12-22 18:05] sbrannen commented on #609
Hmmmm... wait!

Now that I think about it, using the Shadow plugin to move types to different packages is a "no go" for the following reasons.

1. `JUnitException` and its subtypes (e.g., `PreconditionViolationException`) cannot live in different packages since that results in different types at runtime.
1. `@Testable` cannot be moved to a different package; otherwise, it becomes useless.
1. `@API

[2016-12-22 21:54] nicolaiparlog commented on #609
Oh, that sounds like fun - what could possibly go wrong.  :innocent:

[2016-12-23 00:08] #611 closed

[2016-12-23 13:28] danilofaria opened #613 "Issue with JUnit 5 M3 console launcher with JAR files"
I would like to run the console launcher using JAR files instead of .class files for the tests. According to the M3 release notes, it should work ("Classpath scanning now supports JAR files.")
It won't pick up the tests when I run the command, though. Do I need to add any other flags or do something else?

[2016-12-23 14:36] nicolaiparlog commented on #613
I'm not sure whether this still applies but for a while you had to add an engine to the console launcher's class path. Can you successfully run `.class` tests with the same configuration? Does the command line contain any complaints talking about engines?

[2016-12-23 14:45] danilofaria commented on #613
@nicolaiparlog The command I'm using is
`java -cp "lib/*" org.junit.platform.console.ConsoleLauncher -cp src --scan-class-path --hide-details --include-classname "^.*IT?$"`
It does work with `.class` tests, that's what we're using right now.
However, when I switch to JAR files, it does not pick up the tests.
Part of the output is:
[code]

[2016-12-23 14:58] marcphilipp commented on #613
We don't scan JARs by default. Please add the path of your JAR file as argument to `--scan-class-path`.

[2016-12-23 15:01] marcphilipp commented on #613
This definitely needs better documentation… 🤔

[2016-12-23 16:33] danilofaria commented on #613
Hello @marcphilipp, I tried adding the path as you said (` --scan-class-path "src/testing-app-tests.jar" `), but it still did not pick it up.

[2016-12-23 19:26] brsanthu opened #614 "DisplayName value as part of @Test?"
May be this was discussed earlier but I couldn't find any references. As we are building new api, is there a reason why we cannot specify test name as part of test itself? Like below

Instead of
[code]
Can we write this as,
[code]

This would save one additional annotation we need to specify for each test.

[2016-12-23 19:53] akozlova opened #615 "Assert that parent and child have different ids in AbstractTestDescriptor#addChild?"
If child and parent have same uniqueId, things go wrong. An assertion could help engine writers to find that more quickly.

[2016-12-24 00:16] sbrannen commented on #575
_in progress_

[2016-12-24 14:20] sbrannen commented on #575
This has been addressed in commit 3a1bc3e7aec1a382328c04dd43be557732a790dc.

[2016-12-24 14:20] #575 closed

[2016-12-24 14:23] sbrannen commented on #575
Since `AssertionFailedError` does not currently build an error message from expected and actual values, JUnit Jupiter's assertion facilities manually take `Class` expected and actual values into account when generating error messages.

If we want to push this custom formatting off to the OTA, we will need to address that there first.

[2016-12-24 16:01] avandeursen opened #616 "Running Cucumber with JUnit5 and Surefire exposes base64 ids."
The classname set for Cucumber tests when run with Surefire in JUnit5 exposes the base64 encoding used internally in the generated XML test reports.

Original outcome when running junit4:

    grep classname target/surefire-reports/TEST-nl.tudelft.cucumber64.CucumberTest.xml

Output:

[code]

Note that the classname is not a real class, but the name of the scenario executed extracted from a `.feat

[2016-12-26 12:01] janschaefer opened #617 "Problems with 5.0.0-M3 when using snapshot repositories"
Apparently the artifacts `junit-jupiter-api` and `junit-jupiter-engine` are published in version `5.0.0-M3` on Maven central as well as the Sonatype snapshot repository `https://oss.sonatype.org/content/groups/public/`. This seem to cause problems when both repositories are used at the same time. When I add the Sonatype snapshot repository (because I need it for a different library) and try to exe

[2016-12-26 14:22] ehborisov opened #618 "Add support for test lifecycle events in TestExecutionListener"
Now there's no ability to track invocations of Before/After methods with TestExecutionListener, we need it there to be able to link test invocations with all corresponding fixtures and their timings in the reporting tool (Allure). Extensions are not entirely a solution for that, since we want to track events around fixture, one callback on the finish is not enough. And also registering such an ext

[2016-12-26 17:27] sbrannen commented on #617
Milestones in fact are _not_ published in the snapshots repository:

https://oss.sonatype.org/content/repositories/snapshots/org/junit/jupiter/junit-jupiter-api/

Milestones are only published here:

http://repo1.maven.org/maven2/org/junit/jupiter/junit-jupiter-api/

[2016-12-26 17:30] sbrannen commented on #617
This is likely related to #576 and #578.

[2016-12-26 17:37] janschaefer commented on #617
Yes you are right. My fault. I had the wrong URL in my configuration:

    repositories {
        mavenCentral()
        maven {
            url "https://oss.sonatype.org/content/groups/public/"
        }
     }

However, the problem is still there after changing the configuration to

    repositories {
        mavenCentral()
        maven {
             url "https://oss.sonatype.org/content/repos

[2016-12-26 17:37] sbrannen commented on #617
It sounds like the JUnit Platform Gradle Plugin is automatically pulling in snapshot dependencies.

As I mentioned in #459:

If you don't want to use snapshots with the plugin, make sure you set the version of the plugin **and** your other JUnit Platform dependencies to `1.0.0-M3`.

FYI: to configure the platform version used by the plugin you can do the following.

[code]

Please let us know if t

[2016-12-26 17:39] janschaefer commented on #617
Yes. This helped. It works now. Thank you!

[2016-12-26 17:39] sbrannen commented on #617
Great!

Thanks for letting us know.

I'm closing this issue.

[2016-12-26 17:39] #617 closed

[2016-12-26 17:42] janschaefer commented on #617
I think the ticket #459 is not the one you meant, right?

[2016-12-26 17:44] sbrannen commented on #618
Changed title to reflect terminology used in JUnit Jupiter.

[2016-12-26 17:46] sbrannen commented on #618
Is the proposal here intended to replace #542?

[2016-12-26 17:51] sbrannen commented on #617
Right. I changed it to #479.

[2016-12-26 17:51] baev commented on #618
I think that is much better to have engine-independent listener for base test events such as TestGroupStarted/Finished TestFixtureStarted/Finished and TestCaseStarted/Finished

[2016-12-26 17:57] sbrannen commented on #618
Please keep in mind that the JUnit Platform and JUnit Jupiter do not have groups, fixtures, or cases.

Thus, we will need to use terminology in line with _containers_, _tests_, and _lifecycle events_.

[2016-12-26 18:06] sbrannen commented on #297
Added link to JGiven

[2016-12-26 22:44] ehborisov commented on #618
What @baev wrote about TestGroupStarted/Finished TestCaseStarted/Finished is basically a question of splitting general executionStarted/executionFinished events in TestExecutionListener into separate events for containers and for tests, at least as I got it, which is a slightly different discussion. Though it would simplify things a bit, I agree.

What is needed at the least is engine independent

[2016-12-27 09:43] marcphilipp commented on #504
@noopur2507 Do you have any feedback for us?

[2016-12-27 13:53] danilofaria commented on #613
Hello @marcphilipp @sbrannen @nicolaiparlog, can you confirm whether what I'm trying to do is possible? I've already tried what was suggested here but still does not work. Your help is immensely appreciated.

[2016-12-27 14:24] marcphilipp commented on #613
I am currently on vacation but will check when I return tomorrow.

[2016-12-28 19:23] marcphilipp commented on #613
I'm afraid "Classpath scanning now supports JAR files" is misleading and my previous comment was wrong. At the moment we only support resolving package selectors, not JARs as classpath roots (see #399).

So, you have to switch from `--scan-class-path` to `--select-package $YOUR_ROOT_PACKAGE`.

However, I think explicitly selecting a JAR to be scanned like I suggested above makes sense and we shoul

[2016-12-28 23:20] danilofaria commented on #613
@marcphilipp So you're saying that if I switch from `--scan-class-path` to `--select-package $YOUR_ROOT_PACKAGE`, then the console launcher should work with my JAR file?
I did that and it did not work.
Or are you saying that JAR files are not support at all for the console launcher?

[2016-12-29 06:59] marcphilipp commented on #613
Selecting a package that resides within a package does work; I tried that yesterday. Can you please post your complete command?

[2016-12-29 11:49] marcphilipp commented on #615
Did that happen for you or some engine?

[2016-12-29 11:56] akozlova commented on #615
It was a custom engine, which results in SOE in the IDE (fixed).
To me it looked like a bug in the engine and the assertion could help to see the bug. If it's ok to have same ids, then just close the ticket. Thanks

[2016-12-29 12:05] marcphilipp commented on #615
No, it's definitely not ok to have the same ID twice. I'm just thinking about a more general approach in the Launcher, because there must not be any duplicate ID within the complete test plan.

@junit-team/junit-lambda What do you guys think?

[2016-12-29 12:19] marcphilipp commented on #616
@avandeursen BTW I think @signed already had some ideas about a custom Cucumber engine.

The unique IDs of the `TestIdentifier` are used by our `RunListenerAdapter` implementation when the Java class name cannot be determined. We could instead fallback to the parent's display name.

[2016-12-29 12:29] marcphilipp commented on #605
@akozlova Does IntelliJ IDEA allow to run test methods when the class is annotated with `@Ignored`?

[2016-12-29 12:51] akozlova commented on #605
With junit 4:

1. If you run the test class and it has Ignore annotation, then all test methods of the class would be executed.
2. If you run a method in the test class where the test class is annotated as Ignore, the test method would be executed.
3. If you have a test method, annotated as Ignore and you run this method, then the method would be executed.
4. If you run the class with some methods

[2016-12-29 13:45] avandeursen commented on #616
Thanks!

The `RunListenerAdapter` code you are talking about is here I think:

https://github.com/junit-team/junit5/blob/r5.0.0-M3/junit-platform-surefire-provider/src/main/java/org/junit/platform/surefire/provider/RunListenerAdapter.java#L89

At that program point, the `testIdentifier` can indeed be used to get the `parentId()`, which is quite similar to the uniqueId of the testIdentifier itself

[2016-12-29 13:48] danilofaria commented on #613
@marcphilipp the complete command looks like the following
[code]

[2016-12-29 15:15] sbrannen commented on #615
`AbstractTestDescriptor` already implements `equals()` and `hashCode()` based on the immutable `UniqueId` and stores children in a `Set`.

Thus, within any given level in the hierarchy, duplicates are not allowed, except that `addChild()` silently replaces an existing child if a duplicate unique ID is provided. So there is likely room for improvement there.

As for uniqueness at the level of the t

[2016-12-29 15:25] marcphilipp commented on #616
`RunListenerAdapter` needs to implement `testPlanExecutionStarted()` and store a reference to the current `TestPlan`. It can then use `TestPlan.getParent()` to get the parent `TestIdentifier` of the test.

[2016-12-29 15:37] marcphilipp commented on #613
Is your test JAR still in src? Where do you add it to the classpath? `-cp src` only adds the src directory to the classpath.

[2016-12-29 16:23] marcphilipp commented on #545
_in progress_

[2016-12-29 16:23] #545 closed

[2016-12-29 16:59] marcphilipp commented on #292
_in progress_

[2016-12-29 17:17] #292 closed

[2016-12-29 17:45] danilofaria commented on #613
@marcphilipp yes, the JAR is inside of the src directory. Do I need to provide any extra information?

[2016-12-29 18:20] sbrannen commented on #613
@danilofaria, your JAR has to be on the classpath, not in a folder that happens to be on the classpath.

[2016-12-29 21:24] danilofaria commented on #613
@marcphilipp @sbrannen I got it to work with the following command:
[code]
Thanks very much for the help.

[2016-12-29 21:44] sbrannen commented on #613
@danilofaria, Great!

Thanks for letting us know you got it working.

[2016-12-29 21:48] avandeursen commented on #616
Ok, thanks. I will look into this.

[2016-12-29 22:25] bmuschko opened #619 "Support for discovering and launching tests on Java 7"
Tool providers that want to discover and launch JUnit 5-based tests with the help of the [JUnit Platform Launcher API](http://junit.org/junit5/docs/current/user-guide/#launcher-api) are currently limited to the use of Java 8. Some of the methods exposed by the Launcher API only work with Java 8 language level and do not provide an alternative e.g. the use of static interface methods like [`ClassNa

[2016-12-30 10:03] marcphilipp commented on #619
I am not sure I understand you completely. Even if we wouldn't use Java 8 language features in our public APIs we would still require a Java 8 runtime. How would that help?

Since you fork a new JVM for test execution, the code that is being executed on that JVM could make use of Java 8 language features, couldn't it?

[2016-12-30 15:18] bmuschko commented on #619
Maybe there's something that I am still missing. Let me try to explain in more detail.

The [Gradle source code](https://github.com/gradle/gradle) in its current form is built as a multi-module project and distributed as a single ZIP file. The [source compatibility version for the most part is 1.7](https://github.com/gradle/gradle/blob/master/gradle/groovyProject.gradle#L10). When compiling the co

[2016-12-30 18:36] marcphilipp commented on #619
I'm assuming that you need to have some code in addition to the Launcher and its dependencies running on the forked JVM, e.g. to handle inter-process communication of discovery/execution request and events. Can you move that code into a separate module that has a different source compatibility?

[2016-12-30 21:17] bmuschko commented on #619
Yes, we do but I'd have to check how much of the code has to be detangled. We'll have to rethink the Gradle support for our testing infrastructure anyway. Moving the code to a different module and using 1.8 as source compatibility might work. Something we'd have to evaluate and discuss internally first. I'd be a bit concerned about bundling the Java 8-based JARs for `junit-platform-engine` and `ju

[2016-12-30 22:30] devrandom commented on #13
@marcphilipp - I see actually that junit4 has a deterministic test order (based on `String.hashCode`) by default.  I couldn't quickly find the default ordering in junit5.  Can you tell me where it is defined?

[2016-12-30 22:44] sbrannen commented on #619
To answer your original question: No, we do not currently have any plans to support any version of Java prior to Java 8 for the JUnit Platform or JUnit Jupiter.

[2016-12-30 23:38] sbrannen commented on #13
You couldn't find it... because it's simply not defined.

The ordering of execution of tests within a test class in JUnit Jupiter is based solely on the order in which the methods are returned from the JVM via reflection, which since Java 7 is undefined. In other words, there is no guaranteed order.

[2016-12-31 09:24] marcphilipp commented on #619
I know for other "core" plugins, e.g. Checkstyle, there's a `toolVersion` property. How is dependency resolution done in those cases? I'm assuming it uses the regular dependency resolution mechanism. Is the default version of the tool bundled with the Gradle distribution in these cases?

[2017-01-02 10:32] #613 closed

[2017-01-02 12:01] marcphilipp opened #620 "Add support for scanning JAR files as classpath roots"
## Overview

We currently scan JAR files but only when resolving package selectors. We should add support for explicitly selecting a JAR as a classpath root to be scanned, i.e. using the `ConsoleLauncher` with  `--scan-classpath some.jar` should scan that JAR.

## Deliverables

- [ ] Change `DiscoverySelectors.selectClasspathRoots(Set<Path>)` to accept JAR files in addition to directories.
- [ ] C

[2017-01-02 12:01] marcphilipp commented on #613
I've added a warning to the User Guide and clarified the release notes. Both changes have been published to http://junit.org/junit5/docs/5.0.0-M3/user-guide/ and http://junit.org/junit5/docs/current/user-guide/.

Adding the ability to scan JAR files as classpath roots will be addressed in #620.

[2017-01-02 12:10] marcphilipp commented on #620
_in progress_

[2017-01-02 15:33] nicolaiparlog opened #621 "Console Launcher has no flag to run all discovered tests"
It looks like in M3 `-a` is gone which allowed to simply run all discovered tests. I can see no alternative - do I have to use `-p org` or is there something shorter?

[2017-01-02 15:39] marcphilipp commented on #621
`-a` has been superseded by `--scan-classpath`.

[2017-01-02 15:41] nicolaiparlog commented on #621
True, damn. I tried that option before but couldn't make it work so I filed it under "don't know what it does". 😄

[2017-01-02 15:41] #621 closed

[2017-01-02 17:44] akozlova commented on #504
Done. For sample cases works fine here. Next IDEA 2017.1 EAP (planned for the next week) would contain the support.

[2017-01-02 17:45] marcphilipp commented on #504
Great to hear! 👍

[2017-01-02 18:37] smoyer64 commented on #354
@nicolaiparlog

I agree that there is a great danger of extensions stepping on each other and it's not just confined to Ordered tests and Parameterized tests ... there's clearly a difference between these two categories just when multi-threaded testing is considered.  And what happens when you create a test "Scenario" that is also parameterized.

This RFC as submitted as a means of fostering discu

[2017-01-02 20:03] #620 closed

[2017-01-02 20:28] sbrannen commented on #613
@marcphilipp, wow... you even updated the _current_ online docs. Kudos!

[2017-01-02 20:28] signed commented on #616
I have not spend much thought about the report format yet.
Currently my [implementation][junit-cucumber-engine] produces the following report when running your example (no vintage or jupiter engine present on the surefire classpath):
[code]

I guess the classname is derived from the *MethodSource* I attached to the TestDescriptor.
But no clue where this happens within junit. For navigation in the

[2017-01-02 20:34] sbrannen commented on #504
👍

[2017-01-02 20:42] sbrannen commented on #297
Added link to junit-cucumber-engine

[2017-01-03 08:44] marcphilipp commented on #614
The reason it's a separate annotation is that is can also be used to specify display names for top-level or nested classes as well as `@TestFactory` methods.

[2017-01-03 12:52] bmuschko commented on #619
Thanks for clarifying.

For the static code analysis plugins that come with Gradle we use the Ant libraries provided by the corresponding tool. Gradle does not use a programmatic API when for those tools - meaning we don't need to have a compile-time dependency on their API. Instead we build the Ant syntax at runtime, resolve the declared dependency for the `toolVersion` and execute the command us

[2017-01-03 12:52] #619 closed

[2017-01-03 14:51] avandeursen commented on #616
Thanks @signed. I'll have a look at your implementation and your question.

Almost done with the change suggested by @marcphilipp in https://github.com/junit-team/junit5/issues/616#issuecomment-269645324 -- pull request will follow shortly.

[2017-01-03 18:39] brsanthu commented on #614
Thank you for the comment. Then is it possible to overload that if there is a @DisplayName, that will take precedence over name within the @Test?

[2017-01-03 18:42] sormuras commented on #614
I do like the optional `@Test("use this string if no @DisplayName is attached")` notation.

[2017-01-03 20:13] bechte commented on #614
You could have your own

[2017-01-03 20:13] bechte commented on #614
You could have your own

[2017-01-03 20:14] bechte commented on #614
Sorry my iPhone crashed during posting and resulted in strange comments and closing this issue. I reopened it.

[2017-01-03 20:23] bechte commented on #614
We did not want to have the @Test annotation spoiled with several concerns and also wanted to have @DisplayName to be supported on different level as mentioned previously by Marc. Bringing it back to life with a fallback or overriding mechanism could lead to misunderstanding in reading a test case which I think we should avoid.

How do the others feel?

[2017-01-03 22:24] sbrannen commented on #614
I agree with @marcphilipp and @bechte regarding the rationale for the status quo.

Furthermore, I am strongly opposed to looking up anything in multiple ways with regard to annotations.

Unlike the Spring Framework -- which supports merged annotation attribute overrides within annotation hierarchies -- JUnit's annotation search algorithms only support simple look-ups of a given annotation which ma

[2017-01-03 22:25] sbrannen commented on #614
This is exactly the type of _special case code_ that we want to avoid.

[2017-01-03 22:26] sbrannen commented on #614
@bechte

I'm not quite sure what you meant by that.

Care to expound (taking into consideration the shortcomings of JUnit's annotation search algorithms that I've already mentioned)?

[2017-01-04 17:01] gabrielefalace commented on #395
In Theories, being the _universal quantification_ implicit, was (at least in some cases) nice to write very sharp tests _declaratively_, avoiding many "for" or "if" statements. I think that is the most important aspect. Will this be in any way similar with dynamic tests?

[2017-01-04 17:32] marcphilipp commented on #395
You can certainly use dynamic tests to emulate what you could do with Theories.

However, there's no lifecycle support, e.g. no _before/after each_. We plan to provide an extension point that will make it possible to formulate a theory as a method that will support the full lifecycle including all extensions for #14. We might even provide migration support for Theories.

[2017-01-04 18:25] sbrannen commented on #395
Although there is currently no lifecycle support for dynamic tests, we plan to address that in #378.

[2017-01-04 18:27] marcphilipp commented on #616
Indeed! That made me realize that it's actually wrong to derive it that way, e.g. in the following case.

### AbstractTestClass.java
[code]

### Sub1Tests.java
[code]

### Sub2Tests.java
[code]

In this case the Surefire reports will look like this:

### TEST-com.example.project.Sub1Tests.xml
[code]

### TEST-com.example.project.Sub2Tests.xml
[code]

In both cases, the `classname` is derived from

[2017-01-04 18:31] sbrannen commented on #616
As long as its optional (i.e., has a _default_ implementation) and well documented, I think it would be OK to introduce those.

[2017-01-05 21:04] avandeursen commented on #616
The `RunListenerAdapter.java` class presently has a `getMethodName` and `getClassName` method for a `TestIdentifier`. That is a feature envy smell indeed, so these could be moved as default implementations to the `TestIdentifier` class.

All `TestIdentifiers` appear to be created from `TestDescriptions`. Does every `TestDescription` subclass have a natural response for getMethod/Class-Name?

The `

[2017-01-06 02:53] mkobit opened #623 "Discussion: Switch the order of 'actual' and 'expected' in `Assertions` APIs"
One of the things that I find unnatural is the ordering in JUnit 4 assertions. They mostly all follow the  `assert(expected, actual)` format. Hamcrest assertions have the reverse with `actual, expected` which has a more natural flow when reading the code (my opinion) and results in more fluent assertions. The [`Assertions` class](http://junit.org/junit5/docs/current/api/org/junit/jupiter/api/Asser

[2017-01-06 12:22] marcphilipp commented on #623
Thanks for bringing this up! We discussed this early in the project and decided against it for two reasons. First and foremost, we didn't want to increase the burden for migrating a test to the Jupiter API. Second, we think that people who use `assertEquals` are used to that order by now. Thus, we think reversing the order would do more harm than good.

Please note that we only consider `Assertion

[2017-01-06 12:22] #623 closed

[2017-01-06 14:49] marcphilipp commented on #616
A `TestIdentifier` is the final and serializable DTO used in the Launcher API to report the test plan to IDEs and build tools. It's just a data container without any behavior that may even be transferred across VMs/processes. `TestDescriptors` are used by test engines to represent the test tree they have discovered and potentially also to attach execution behavior to it. It is designed to be subcl

[2017-01-06 19:55] smoyer64 commented on #620
I ran into this when I was working on the beginnings of the API tools but didn't have time to determine what was happening.  It appears that the code I already have might just work when I get back to it!

[2017-01-06 23:19] sbrannen commented on #616
@marcphilipp, your proposal sounds reasonable to me.

But please make sure to call the thing `LegacyReportingInfo` without the "s". Pluralizing "info" is _typisch deutsch_ (and I'm hoping you don't take offense at that). 😉

[2017-01-07 11:02] marcphilipp commented on #616
@sbrannen Ah, makes sense, thanks for the info(s). 😉

[2017-01-07 17:01] sbrannen commented on #616
@marcphilipp, I'm always glad to provide _Infos_ [sic]!

[2017-01-07 20:55] marcphilipp opened #625 "@TestFactory methods should evaluate ContainerExecutionCondition extensions instead of TestExecutionCondition extensions"
Currently, `@TestFactory` nodes provide a `TestExtensionContext` and evaluate `TestExecutionConditions`. Since they are containers they should rather provide a `ContainerExtensionContext` and evaluate `ContainerExecutionConditions`.

### Implementation Note

After changing this, `JupiterTestDescriptor` can implement `shouldBeSkipped` like this:

[code]

[2017-01-07 22:17] sbrannen commented on #625
Good catch! 👍

[2017-01-08 20:01] marcphilipp commented on #603
I have assigned this issue to M4 since it's required to inject parameters into fields which is a common use case for parameterized tests, e.g. when providing migration support for the `Parameterized` runner.

[2017-01-08 20:29] #603 closed

[2017-01-08 20:44] sbrannen commented on #425
*UPDATE*

We cannot even test now with Gradle. 😢

https://github.com/gradle/gradle/issues/723

Attempting to build JUnit 5 against JDK 9-ea+149 results in the following:

[code]

*NOTE*: this happens even if you add the following to `~/.gradle/gradle.properties`.

[code]

[2017-01-08 23:13] sbrannen commented on #547
@bechte, it looks like https://github.com/junit-team/junit5/commits/sb_547_remove_includeClassNamePattern is ready to be merged into `master` -- right?

[2017-01-10 22:43] sbrannen commented on #425
*UPDATE*:

The following gets us one step closer.

[code]

But even with that, we now run into the following issue with Ruby regarding `java.util`.

[code]

It looks like we'll have to wait for Gradle to publish something that works with JDK 9, unless somebody else can provide further guidance in the interim.

[2017-01-11 05:50] bechte commented on #547
yes it is. I will do it right away. sorry for the delay.

[2017-01-11 06:37] bechte commented on #547
Merged into master with #627.

[2017-01-11 06:37] #547 closed

[2017-01-11 16:43] sbrannen commented on #547
@bechte, thanks for the quick turnaround!

[2017-01-11 21:34] signed commented on #569
This IDEA behaviour surprised me as well, even with the log messages printed.
Adding the following test to the [junit5-maven-consumer][junit5-maven-consumer] sample project

[code]
and running in IDEA @RunWith(JUnitPlatform.class) is ignored.
The test is executed with the jupiter engine instead of junit 4 and the JUnitPlatform.class Runner what I expected.
And for some reason the warning is printe

[2017-01-12 11:58] noopur2507 opened #628 "Register TestExecutionListener specific to a LauncherDiscoveryRequest"
I am using a single instance of `Launcher` to execute multiple requests. For each request, I want to register a separate instance of `TestExecutionListener` with the launcher so that a listener is notified of the events only for that particular request/test plan. The listener should also provide access to the `TestPlan` to which it is listening.

I am using the existing APIs in Eclipse in the foll

[2017-01-12 16:16] sbrannen commented on #628
Hi @noopur2507,

You're not missing anything: the architecture was never designed to support registration of  a `TestExecutionListener` per `LauncherDiscoveryRequest`.

Rather, a `TestExecutionListener` is registered for a specific `Launcher` instance.

Is it a problem for you to create multiple `Launcher` instances? If so, then the architecture will have to be changed to support such use cases; h

[2017-01-12 16:19] sbrannen commented on #628
@noopur2507, while we have your attention, would you mind commenting on https://github.com/junit-team/junit5/issues/504#issuecomment-269302164? 😉

[2017-01-12 16:29] sbrannen commented on #625
The problem with making such a change is that extensions for `@TestFactory` methods would no longer have access to the test instance (which is currently only available via the `TestExtensionContext` API), even though there is in fact an _instance_.

Consequently, such extensions would no longer have access to instance state (i.e., fields that may have been initialized or injected).

In other words

[2017-01-13 07:17] noopur2507 commented on #504
`@Testable` works well with no issues.

[2017-01-13 07:26] noopur2507 commented on #628
No, creating separate `Launcher` instances is not a problem and solves the issue. But for a single launch having multiple requests, it results in an unnecessary overhead of discovering/loading the test engines with each instance of `Launcher`.

[2017-01-13 07:26] noopur2507 commented on #628
Done.

[2017-01-14 18:17] sbrannen commented on #504
@noopur2507, great!

Thanks for letting us know.

[2017-01-14 18:20] sbrannen commented on #628
Yes, that's true. But... out of curiosity, how long does that take on your machine?

I would imagine that's actually a pretty fast process, though I admittedly have not benchmarked it.

[2017-01-15 23:49] ehborisov commented on #618
Any updates?

[2017-01-16 08:13] mmerdes commented on #314
in progress

[2017-01-16 09:48] sormuras opened #629 "Remove 'hide-details' from console options"
## Background

Option `--hide-details` is deprecated by #524 and replaced by `--details none`.

## Deliverables

- [ ] Remove the following lines in class `org.junit.platform.console.options.AvailableOptions`:
[code]

- [ ] Update `documentation/src/docs/asciidoc/running-tests.adoc` by removing line:
[code]

- [ ] Update `documentation/src/docs/asciidoc/release-notes-5.0.0-M5.adoc` by adding line:

[2017-01-16 10:14] noopur2507 commented on #628
It is fast i.e. takes around 40 ms for `LauncherFactory.create()` call for the first time. For further invocations in the same run, it reduces to 2-4 ms. So looks like some internal caching/optimization is available.

Another issue with multiple `Launcher` instances could be related to memory consumption.

It can be used as the solution for now but would not be the preferred way to handle it.

[2017-01-16 14:21] marcphilipp commented on #628
@noopur2507 Thanks for checking!

We could add an overloaded `execute(LauncherDiscoveryRequest, TestExecutionListener)` method that uses the supplied `TestExecutionListener` in addition to already registered listeners but only for the supplied `LauncherDiscoveryRequest`.

@junit-team/junit-lambda What do you guys think?

[2017-01-17 01:10] sbrannen commented on #314
FYI: I updated the deliverables with regard to plurality.

[2017-01-17 01:18] sbrannen commented on #629
Thanks for creating this follow-up ticket.

[2017-01-17 02:01] sbrannen commented on #628
👍

Yes. That seems plausible.

[2017-01-18 10:05] marcphilipp commented on #614
I'm closing this issue since the team agrees to keep the status quo.

[2017-01-18 10:05] #614 closed

[2017-01-18 18:24] brsanthu commented on #614
Thank you team for discussing this.

[2017-01-19 00:09] sbrannen commented on #369
This has been addressed in `master` in a64e354fa285ecd9297521ca327d9fbed34c21c9.

[2017-01-19 00:09] #369 closed

[2017-01-19 00:09] sbrannen commented on #546
This has been addressed in `master` in a64e354fa285ecd9297521ca327d9fbed34c21c9.

[2017-01-19 00:09] #546 closed

[2017-01-19 01:03] sbrannen opened #631 "Task inputs for junitPlatformTest are broken"
## Status Quo

Executing `gradlew clean test; gradlew test; gradlew test` results in **all** `junitPlatformTest` tasks being executed **thrice** instead of just once. In other words, the _task inputs_ for the task created by the `JUnitPlatformPlugin` no longer work, thus rendering incremental builds with Gradle not so very useful.

## Deliverables

- [ ] Revise task inputs for `junitPlatformTest`

[2017-01-19 01:04] sbrannen commented on #631
This issue is "up for grabs"!

[2017-01-19 11:28] sormuras commented on #258
Does the decision imply the removal of the ZIP-based distribution?

[2017-01-19 13:10] noopur2507 commented on #628
+1.

[2017-01-19 15:06] marcphilipp commented on #258
Yes, it does.

[2017-01-19 15:25] sormuras commented on #258
Then, I'll enhance PR https://github.com/junit-team/junit5/pull/633 to include the removal of the ZIP distro.

[2017-01-19 15:25] marcphilipp commented on #258
Thanks! 👍

[2017-01-19 20:36] sbrannen commented on #258
@junit-team/junit-lambda

Did we agree to call it `junit-console-x.y.z-standalone.jar` or `junit-platform-console-x.y.z-standalone.jar`?

I'm in favor of the latter, since the module itself is aptly named `junit-platform-console`.

[2017-01-19 21:50] SoftwareInventions commented on #602
If no one else wants this one, I'd like to give a small software engineering class a shot at understanding enough of the codebase to help with this issue.  If there is more detail on what sort of detail would be of value, pls let me know.

[2017-01-19 23:18] sbrannen commented on #602
Hi @SoftwareInventions,

Nobody is currently working on this issue, so it's still "up for grabs".

The scope of this issue is rather broad in nature, but a specific area that your class could work on is [ReflectionUtils](https://github.com/junit-team/junit5/blob/master/junit-platform-commons/src/main/java/org/junit/platform/commons/util/ReflectionUtils.java). The corresponding tests can be found i

[2017-01-19 23:19] sbrannen commented on #602
Of course, if you encounter cryptic errors elsewhere in the code base, feel free to propose better exception handling and/or error messages in such cases as well.

[2017-01-20 22:27] sormuras commented on #258
Let's clarify the `x.y.z` part, too: use the main project version `5.0.0` or the platform version `1.0.0` ?

[2017-01-20 22:52] sbrannen commented on #258
It is an artifact for a _Platform_ module that happens to include Jupiter and Vintage modules.

So, following that logic, the only version that makes sense is the platform version.

[2017-01-20 22:53] sbrannen commented on #258
In other words, the first GA release of this artifact would be called `junit-platform-console-1.0.0-standalone.jar`.

[2017-01-20 22:54] sbrannen commented on #258
Though, now that I think about it -- in order to align with Maven versioning semantics -- I believe it should actually be called `junit-platform-console-standalone-1.0.0.jar`.

@junit-team/junit-lambda, thoughts?

[2017-01-20 23:03] sormuras commented on #258
Updated #633 accordingly, see screenshot in the description:
![junit-platform-console-libs](https://cloud.githubusercontent.com/assets/2319838/22168312/303c5f00-df6c-11e6-810a-c665ea933adf.png)

iirc, that indicates an entire and self-contained module with the base name of `junit-platform-console-standalone`. The former feels more like "an additional artifact".

[2017-01-21 19:55] sbrannen commented on #419
Slated for M4 now in order to ease adoption for Kotlin users.

[2017-01-21 20:01] sbrannen commented on #419
Disclaimer: _slated_ for M4, but might get shifted forward to M5 again. 😉

[2017-01-21 20:04] sdeleuze commented on #419
That would be awesome in M4, but I notice the disclaimer ;-) Kotlin support is now one of the major themes of Spring Framework 5 as [announced in my recent blog post](https://spring.io/blog/2017/01/04/introducing-kotlin-support-in-spring-framework-5-0) and this issue is the only really annoying issue with Kotlin + Junit 5 I am aware of, so fingers crossed ;-)

[2017-01-22 10:26] marcphilipp commented on #419
I'm ok with reinstating it. We need to make sure to validate that test methods don't add instance level extensions like `TestInstancePostProcessor` then, though.

[2017-01-22 10:36] marcphilipp opened #635 "Ensure bridge/shadowed methods are handled correctly"
Ensure the Jupiter engine behaves correctly for bridge methods (see junit-team/junit4#1411).

[2017-01-23 00:59] nickgrealy opened #636 "Introduce Supplier variants of timeout assertions"
To whom it may concern,

I'd like to be able to have a test, which fails if a particular code snippet takes longer than a certain amount of time to execute.

As far as I can tell, there is currently only the ability to set a [timeout at the test level](https://github.com/junit-team/junit4/wiki/timeout-for-tests)... however I feel this has the undesirable side effect of validating the execution tim

[2017-01-23 05:06] SoftwareInventions commented on #602
@RobLewis: Would be helpful to see just what usage case engendered the cryptic message for you.  What JUnit feature were you using that got you that message?

[2017-01-23 07:47] jbduncan commented on #636
Hi @nickgrealy, please correct me if I've misunderstood what you're requesting, I believe this has actually been implemented already in JUnit 5 via `Assertions.assertTimeout` and `Assertions.assertTimeoutPreemptively`.

I'm wondering if your confusion is coming from the fact that the documentation you linked applies to **JUnit 4** rather than JUnit 5. :smile:

[2017-01-23 10:35] sormuras commented on #631
With https://github.com/sormuras/junit5/commit/2a0d0ba9d909d6dbf902ffecd57382b9a7347e30 applied, the second and third invocation of `gradlew test` results in:
[code]

[2017-01-23 14:06] sormuras commented on #631
Moved fix to own PR for clarity.

[2017-01-23 17:50] RobLewis commented on #602
Hello. It was my first attempt at using JUnit and I didn't really know what I was doing. Did you see my comment on the earlier issue? It gives the best explanation I have: [https://github.com/junit-team/junit5/issues/586#issuecomment-266522369](url)
_DirectoryTest_ was the first JUnit test class I was trying to create and use.
I'll try to answer any other questions you might have.

[2017-01-23 17:56] RobLewis commented on #602
If you didn't see my initial report, start there: [https://github.com/junit-team/junit5/issues/586#issuecomment-266522369](url)
Hmm, for some reason that link doesn't work. Try this: https://github.com/junit-team/junit5/issues/586#issuecomment-266522369 (appears to work). See my comments on Dec. 7 and Dec. 12.
If you have more questions I'll try to answer them.

[2017-01-23 20:21] mfulton26 opened #638 "Add support for dynamic test instances"
Dynamic tests can be generated by defining test factories using `@TestFactory` but these methods cannot be used to define groups of tests or to dynamically generate nested tests. Adding support for dynamic test instances would allow defining test instance factories containing tests, test factories, and/or nested test instance factories.

e.g.

[code]

[2017-01-23 20:21] mfulton26 commented on #383
FYI: I'm closing this issue as it seems a bit unclear (especially with my overly detailed Selenium WebDriver example). I've created #638 as a fresh start.