[2022-01-28 13:51] marcphilipp commented on #456
**Team decision:** Investigate the feasibility of adding `@BeforeSuite` and `@AfterSuite` support in `@Suite` classes.

[2022-01-28 14:00] marcphilipp commented on #2791
@scordio We discussed this in our team call today and were not sure about your use case.

Wouldn't the following be easy enough and not require any changes in JUnit?

[code]

[2022-01-28 14:16] marcphilipp commented on #1794
The following is already supported today:

[code]

@dotCipher and others: isn't that sufficient?

[2022-01-28 17:20] ksobolew commented on #1558
Yeah, this is inconsistent with the general pattern. More "regular" way would be to add `@FlakyTest`, `@FlakyParameterizedTest` etc., which may be even worse.

[2022-01-28 20:24] scordio commented on #2791
@marcphilipp Sorry, I forgot to provide the full background. My example goes together with the usage of `@NullSource`, something like:

[code]

Your example would fail with an NPE at `new ArrayList<>(list)`.

`@NullAndEmptySource` would be the target if `@EmptySource` would support concrete types.

In the end, this is not a blocker and is mostly a cosmetic issue. We have a workaround but also the

[2022-01-28 21:06] dotCipher commented on #1794
Yea this was sufficient for my use cases

[2022-01-31 08:57] verhas commented on #1794
I have developed Yaml file source as a separate project.

https://github.com/verhas/yamaledt

You can have a look at it for ideas.

On Fri 28. Jan 2022 at 22:07, Cody Moore ***@***.***> wrote:

--
Peter Verhas
***@***.***
t: +41791542095
skype: verhas

[2022-01-31 09:06] verhas commented on #1794
Have you tried github/verhas/yamaledt?

[2022-02-03 10:53] stephan-bosch opened #2818 "Parametrized test with Methodsource using arguments(Named.Of) not extracting payload"
Greetings,

Today i wanted to name the parameterized test using the Named.of taken from [https://junit.org/junit5/docs/current/user-guide/#writing-tests-parameterized-tests-display-names](https://junit.org/junit5/docs/current/user-guide/#writing-tests-parameterized-tests-display-names)

Running example in documentation in JUnit 5.8.2 or even 5.8.0 where it was introduced.

[code]

When running the

[2022-02-03 11:28] sbrannen commented on #2818
The supplied test method works as expected for me in Eclipse IDE.

You should certainly remove the `junit-platform-surefire-provider` dependency since that is deprecated and potentially conflicts with the rest of your dependencies and Maven Surefire.

What happens if you remove that?

[2022-02-03 14:13] sbrannen commented on #2818
Thanks for trying, @stephan-bosch.

Please put together a minimal example project that we can download (Git repo, ZIP file, etc.) so that we can experiment with it to reproduce the behavior you are experiencing.

[2022-02-03 16:11] escay opened #2819 "Feedback when Suite does not contain tests or IncludeEngines does not find engine"
As a user I want to use the Junit5 way to start a cucumber engine test by using a Suite and I want to get feedback from Junit when I made a configuration mistake.

Example code:

[code]

## Deliverables

It would be very useful to make a build fail when:
- Suite does not run any tests at all.
- IncludeEngines fails to find the correct engine, e.g. when I enter 'cucumper' for which there is no engi

[2022-02-03 20:36] stephan-bosch commented on #2818
@sbrannen hi. it took me a while. but here is the project. This is the project our main program uses but is completely stripped of besides the single class that can be found in org.junit5.example.ParameterizedTestFailExample.

[application.zip](https://github.com/junit-team/junit5/files/7998039/application.zip)

I really appreciate the assistance.

[2022-02-03 23:54] mpkorstanje commented on #2819
Some preliminary thoughts, I'm not part of the JUnit team, but I did write the suite engine and Cucumbers JUnit5 implementation.

Adding an annotation based equivalent of `--fail-if-no-tests` shouldn't be too difficult.

I'm undecided wether or not this should be the default.

Checking if an explicitly included engine exists and failing if it does not would also make sense for the ConsoleLauncher

[2022-02-04 10:14] #2393 closed

[2022-02-04 11:39] marcphilipp commented on #2819
**Team decision:** Add `failIfNoTests` attribute to `@Suite` with default of `true` since that would benefit more users in the future.

**Team decision:** Fail test discovery (regardless whether used via `@Suite` or not) if an include filter is configured that doesn't match any engine. Log a warning if all engines have been filtered out by an exclude filter. Log a warning (instead of `config`) in

[2022-02-04 11:56] marcphilipp opened #2820 "Document how to manage JUnit version in Spring Boot Gradle/Maven builds"
Starting point: https://stackoverflow.com/a/54605523/6327046

## Deliverables

- [x] Add subsections or notes about overriding versions in Spring Boot builds to the Gradle and Maven sections of "Running Tests > Build Support" in the user guide.

[2022-02-04 11:58] marcphilipp commented on #2818
@stephan-bosch We took a look at your POM and noticed that you're using Spring Boot. Therefore, the problem is highly likely to be caused by having different versions of JUnit artifacts on the classpath. We've created #2820 to add that to our documentation. For now, please see https://stackoverflow.com/a/54605523/6327046 for more information.

[2022-02-04 11:58] #2818 closed

[2022-02-04 12:04] sbrannen commented on #2819
Slated for 5.9 M1 until the individual tasks have been split out into separate GitHub issue.

[2022-02-04 13:43] ledoyen commented on #2393
If I may, can we imagine this as a building block for the classloader extension discussed in #201 ?

The next move can be to build (and run with it) this kind of class loader when JUnit starts: boot -> platform -> junit-related urlCL -> what's left urlCL

This later would allow an extension point to let users decide how to build their custom classloader as long as the *junit-related urlCL* is in t

[2022-02-04 14:15] sbrannen commented on #2393
@ledoyen, I don't see how _this_ new Jupiter feature is related to the Platform-level `ClassLoader` issue.

This particular new feature doesn't have anything to do with class loading.

[2022-02-04 15:44] stephan-bosch commented on #2818
@[marcphilipp](https://github.com/marcphilipp) thanks. i had to do a pom overhaul but confirmed working.

[2022-02-04 17:02] sbrannen commented on #2818
Thanks for letting us know that solved the issue for you.

[2022-02-04 17:20] ledoyen commented on #2393
@sbrannen, sorry I rushed into this a little fast, I was thinking of my [current implementation](https://github.com/fridujo/classpath-junit-extension/blob/fea10bd9eb0d465c5e3bd47d1d7c20f97a54213e/src/main/java/com/github/fridujo/classpath/junit/extension/jupiter/AbstractClasspathExtension.java) which lacks compatibility with other extensions and will benefit from this new feature.

However, from t

[2022-02-04 19:05] sbrannen commented on #2393
No worries, @ledoyen 👍

[2022-02-06 17:19] juliette-derancourt opened #2823 "Add `failIfNoTests` attribute to `@Suite`"
Add `failIfNoTests` attribute to `@Suite`.
The default value should be `true` since that would benefit more users in the future.

Issue opened following decision taken in https://github.com/junit-team/junit5/issues/2819#issuecomment-1029910273.

[2022-02-06 17:25] juliette-derancourt opened #2824 "Fail test discovery if an `IncludeEngines` filter is configured and doesn't match any engine"
As stated in #2819, it would be useful to make a build fail when engine filters are not well configured.

## Deliverables

- [x] Fail test discovery if an `IncludeEngines` filter is configured and doesn't match any engine.
- [x] Log a warning if all engines have been filtered out by an exclude filter.
- [x] ~Log a warning (instead of config) in case no engine is on the classpath (in `ServiceLoader

[2022-02-06 17:29] juliette-derancourt opened #2825 "Document that test engines should use a unique namespace for their properties"
As mentioned in https://github.com/junit-team/junit5/issues/2819#issuecomment-1029910273, all test engines should prefix the names of their configuration properties with their engine id.

We should document that recommendation in the test engine section of the user guide.

[2022-02-06 17:32] juliette-derancourt commented on #2819
I opened #2823, #2824 and #2825 to follow up on decisions taken in https://github.com/junit-team/junit5/issues/2819#issuecomment-1029910273.

[2022-02-06 17:32] #2819 closed

[2022-02-07 13:11] sbrannen commented on #2825
The prefix doesn't have to be exactly the engine's ID, but it should be unique to the engine (or the entity that develops the engine), much like package names in Java.

For example, JUnit Jupiter doesn't use `junit-jupiter` (its engine ID) as the prefix but rather `junit.jupiter`.

[2022-02-07 16:06] jabby opened #2826 "Improve documentation about registering a `LauncherSessionListener`"
Hello JUnit team.

Thanks for your work.

## Steps to reproduce

* Clone the following repository: https://github.com/jabby/junit5-launcher-session-listener-problem
* run `mvn test`
* check the following output

[code]

`SetupTeardownLauncherSessionListener` is execute twice.

As a non-native english speaker, I think the [documentation here](https://junit.org/junit5/docs/current/user-guide/#launch

[2022-02-09 16:40] titusfortner commented on #2273
So, it turns out that it works with Java 11, but not Java 8 or Java 17. Discussion from Selenium here:  https://github.com/SeleniumHQ/selenium/issues/10113
Which references open JUnit 5 issues:  #2787 & #2792

[2022-02-15 11:22] aSemy commented on #2723
I'm still getting this error even after I've added the JUnit BOM. I'm really at a loss.

[code]

I've used [the Gradle dependency report plugin](https://docs.gradle.org/current/userguide/project_report_plugin.html) to verify that junit-platform-engine is 1.8.2

[code]

But I still get an exception when running any tests with `./gradlew test`

[code]

Versions
* Spring Boot 2.5.5
* Kotlin 1.6.10
*

[2022-02-15 11:23] aSemy commented on #2723
I'm still getting this error even after I've added the JUnit BOM. I'm really at a loss.

[code]

I've used [the Gradle dependency report plugin](https://docs.gradle.org/current/userguide/project_report_plugin.html) to verify that junit-platform-engine is 1.8.2

[code]

But I still get an exception when running any tests with `./gradlew test`

[code]

Versions
* Spring Boot 2.5.5
* Kotlin 1.6.10
*

[2022-02-15 11:28] sbrannen commented on #2723
@aSemy, you should not use the JUnit BOM if you are using Spring Boot.

Rather, you should upgrade JUnit using Spring Boot's mechanism for that.

See:

- #2820
- https://stackoverflow.com/a/54605523/6327046

[2022-02-15 17:32] sdeleuze opened #2830 "Introduce `@EnabledInNativeImage` & `@DisabledInNativeImage` conditions for GraalVM"
With [Native Build Tools](https://github.com/graalvm/native-build-tools) supporting JUnit 5 testing of native images, there are more and more requests for being able to run or skip tests if running as native image or the other way around. Conceptually that seems close (but not equivalent) to existing [Java runtime environment conditions](https://junit.org/junit5/docs/current/user-guide/#writing-te

[2022-02-16 09:13] apontini opened #2831 "Allow for BeforeAllCallback and AfterAllCallback extensions methods to be executed only on root class"
I have the following extension:
[code]
Which is used in the following test.
[code]
The standard output result is:
[code]

As far as I could understand from googling, reading docs and from stackoverflow, there's no actual way to tell jUnit to execute the extension's `beforeAll` and `afterAll` methods only on the root class instead of executing them for each nested class. This could be a nice-to-hav

[2022-02-16 09:52] sbrannen commented on #2831
Use cases like this are already supported via the `ExtensionContext.Store`.

In your `beforeAll()` method in your extension, you should use `org.junit.jupiter.api.extension.ExtensionContext.Store.getOrComputeIfAbsent(K, Function<K, V>)` for the creation/retrieval of the `MockServer` instance.

Please give that a try and let us know if you run into any issues.

[2022-02-16 10:04] apontini commented on #2831
I'll try as soon as possible! Thanks for the quick response.

[2022-02-17 06:42] gitorko commented on #2087
`@Test
    public void test_timeout() {
        Assertions.assertTimeoutPreemptively(Duration.ofSeconds(1), () -> {
            Assertions.assertEquals(4, square(2));
        });
    }

    @Test
    public void test_withoutTimeout() {
        Assertions.assertTimeoutPreemptively(Duration.ofSeconds(1), () -> {
            Assertions.assertEquals(9, square(3));
        });
    }

    public int squ

[2022-02-17 16:18] aSemy commented on #2723
Hi @sbrannen, I've followed the documentation but I get the same issue unfortunately.

[code]

[2022-02-18 09:59] sbrannen commented on #2723
@aSemy, glad to hear that you sorted it out.

[2022-02-22 12:03] Michael1993 commented on #2671
Hey, @prdoyle 👋
Just wanted to let you know that JUnit Pioneer just released 1.6.1 with a revamped `@CartesianTest`. If you are interested, take a look!
We might also implement your idea - it sounds fun.

[2022-02-24 20:33] sukhbir-singh opened #2835 "Junit systemProperty for parallel execution is not working inside Gradle Tests Plugin"
## Steps to reproduce

I am trying to run unit tests and smokes tests in parallel in gradle. I was able to achieve it with unit tests by declaring below mentioned two SystemProperties, now unit tests are running in parallel.

[code]

I have used jvm test suites plugin to place all smoke tests at one place, I tried applying same systemProperty in suites block for these smoke tests but it was not wo

[2022-02-25 11:22] #2538 closed

[2022-02-25 11:52] apontini commented on #2831
Sorry for the delay but I haven't had the change to try this sooner.
By using `getOrComputeIfAbsent` I solved this problem on tests initialization but it's still much the same on test teardown:
if I want to close the `MockServer`, I can't do it once every test is completed because if I put close it in the `AfterAllCallback`, `MockServer` will be closed after each test class (and, closed twice at t

[2022-02-25 12:09] #2835 closed

[2022-02-28 02:31] miralexan commented on #2831
@apontini have you looked at [`ExtensionContext.Store.CloseableResource`](https://junit.org/junit5/docs/current/api/org.junit.jupiter.api/org/junit/jupiter/api/extension/ExtensionContext.Store.CloseableResource.html)? It may solve your problem by letting Junit close the mock server once the extension context associated with your test is closed.

<https://junit.org/junit5/docs/current/user-guide/#e

[2022-02-28 16:50] sbrannen commented on #2831
Hi @apontini,

Glad that works for you.

@miralexan is correct: the solution for single tear-down is `CloseableResource`. We are aware of the fact that this is not well documented.

- See #1555 for details.

In light of that, I am closing this issue as effectively a duplicate of #1555; however, if you run into issues implementing the solution feel free to post back here with additional information

[2022-02-28 16:50] #2831 closed

[2022-02-28 19:47] mcwayliffe commented on #372
@sbrannen Apologies in advance for re-hashing such an old issue, but there are some contexts in which I actually want the `name` attribute to be populated with the `@DisplayName` rather than the method name. For example, we often use a single `@ParameterizedTest` to send hundreds of different requests to a test server. In these cases, it's more useful to have a `testcase` named e.g. `Core:GetAllSe

[2022-02-28 21:03] DomGarguilo opened #2837 "Tests are quietly skipped when @Testdir field is static final"
We had some tests with a static final `@Tempdir` field which were silently being skipped, going unnoticed for some time (due to the large number of tests in the project, https://github.com/apache/accumulo). I now understand that its best to keep `@Tempdir` fields static and non-final.

## Steps to reproduce

Here is an example test that illustrates the issue:
[code]

When this test is run it gives

[2022-03-01 10:03] apontini commented on #2831
Alright, I'll give it a try, thank you for your support!

[2022-03-01 16:21] D4nielLa opened #2838 "Suite crashes with JUnitException when a test engine in it is filtered out"
If a suite contains test classes running with different test engines and one of the test engines is filtered out by a `PostDiscoveryFilter`, a JUnitException is thrown and no test is executed.

## Steps to reproduce

Suppose we have the following four classes.
[code]

[code]

[code]

[code]

The class `Filter` is registered as a `PostDiscoveryFilter`. When `SuiteClass` is executed, the test method

[2022-03-01 18:21] sbrannen commented on #2837
Is the combination of `static final` necessary for tests to be silently skipped?

Or is it just because the fields are `final`?

[2022-03-01 18:25] DomGarguilo commented on #2837
Running a quick test leads me to believe it is the combination of `static final` that causes the tests to be silently skipped.

[2022-03-01 18:27] DomGarguilo commented on #2837
I do not see a reason that one would need to do this. I originally did not know that the field is set by JUnit so I manually initialized them which lead me to find this.

[2022-03-01 18:30] sbrannen commented on #2837
Thanks for providing feedback.

We'll look into it.

[2022-03-01 18:34] sbrannen commented on #2837
FWIW, there should be an exception thrown for the container (the test class in this scenario).

In Eclipse, the test class fails as a result.

So I suppose it may just be a bug with Maven Surefire in that it does not report the failure at the test class level.

Which version of Maven Surefire are you using?

[2022-03-01 18:40] DomGarguilo commented on #2837
3.0.0-M4

[2022-03-01 20:42] sbrannen commented on #2837
What happens if you upgrade to Maven Surefire 3.0.0-M5?

Also, what happens is you execute the same tests in your IDE (and which IDE)?

[2022-03-01 20:55] DomGarguilo commented on #2837
I don't think we can update the project to 3.0.0-M5 right now but I created a separate project that just contains the example test from above and does not even have Maven Surefire as a dependency. Running the test there produces the same results.

Running the tests in IntelliJ IDEA produce the same results as well, the tests are skipped.

[2022-03-02 09:33] sbrannen commented on #2837
AFAIK, this was fixed in Maven Surefire 3.0.0-M5.

Resources:

- https://issues.apache.org/jira/browse/SUREFIRE-1688
- https://issues.apache.org/jira/browse/SUREFIRE-1727
- https://issues.apache.org/jira/browse/SUREFIRE-1739
- https://issues.apache.org/jira/browse/SUREFIRE-1741
- https://github.com/junit-team/junit5/issues/2386#issuecomment-675676298

I am therefore closing this as a duplicate of

[2022-03-02 20:36] thecooldrop commented on #2717
Hi @marcphilipp I know that this is closed under the pretense that there is no valid use case for the @Nested abstract classes, but I would like to argue otherwise, as I am facing this very limitation within the framework right now.

I am a developing an application where my domain logic is decoupled from outside things ( usually databases but also some other things ) via interfaces. This is where

[2022-03-03 13:42] sbrannen opened #2839 "Assert that `@TempDir` fields are not `final`"
## Overview

As a follow up to #2837, we have decided to ensure that users do not declare `@TempDir` fields as `final`.

This can be achieved analogous to our field type check in `TempDirectory.assertSupportedType(...)` -- for example, by throwing an `ExtensionConfigurationException` with a descriptive error message instead of allowing the JVM to throw an `IllegalAccessException` for a `static fin

[2022-03-03 13:44] sbrannen commented on #2837
To improve the diagnostics in such use cases, we have created:

- #2839

[2022-03-03 15:28] class101 opened #2840 "Sort test execution by position in source code 'aka' MethodOrderer.SourceCode.class"
I always wanted to get the test executed by JUnit in the order they appear in the source code of the Java class, that way I dont have to fix the order logic with an `@Order(number)` annotation which is boring to manage once the list of test expands itself.

I searched around, and it seems that everyone is suggesting that Reflection can't find this information, but annotation processing can do but

[2022-03-03 15:29] ctubbsii opened #2841 "Dynamic computation of timeouts?"
In JUnit4, it was possible to create a dynamic timeout by placing a `@Rule` on a method that returned a `Timeout` object. This provided the ability to set a timeout based on factors in the environment.

See [this Apache Accumulo integration test class](https://github.com/apache/accumulo/blob/4b66b96b8f6c65c390fc26c11acf8c51cb78d858/test/src/main/java/org/apache/accumulo/harness/AccumuloITBase.java

[2022-03-03 15:38] sbrannen commented on #2840
The code you have supplied does not use reflection to determine the method order in the source file (even though the class is called `Reflect`).

That `getDeclaredMethodsInOrder` method loads the class file and parses the byte code.

Also, this is effectively a duplicate of #1919.

[2022-03-03 15:42] class101 commented on #2840
Thank you for the correction and link @sbrannen, hope this help someone with the porovided sample

[2022-03-03 18:32] ctubbsii commented on #2841
@jbduncan wrote:

Thanks. "not ideal" is a bit of an understatement, though. We have several hundred tests that would need to be modified to make this work. This is a big deterrent to switching to JUnit5 from JUnit4.

[2022-03-03 19:48] jbduncan commented on #2841
@ctubbsii You're welcome! But sure, that makes sense. So I've another suggestion you can try.

JUnit 5 has an extension API called `InvocationInterceptor`, which can be used to wrap tests with `assertTimeoutPreemptively` automatically.

For example:

<details>
<summary>Extension</summary>

[code]
</details>

Here's an example using this extension, adapted from Apache Accumulo's own JUnit 4 `@Rule`

[2022-03-03 20:15] ctubbsii commented on #2841
@jbduncan Thanks! I think the extension mechanism might work well for our case. It would still be nice if this were more easily supported directly, though.

[2022-03-03 21:04] LifeIsStrange commented on #1919
Thanks for sharing!

[2022-03-04 12:29] #2839 closed

[2022-03-04 14:23] sbrannen commented on #2191
Now that #2393 has been completed, work on this feature can begin.

[2022-03-04 16:53] GregJohnStewart opened #2842 "Add way to get test result in `@AfterEach`"
Reference Stack Overflow: https://stackoverflow.com/questions/71354431/junit5-get-results-from-test-in-aftereach?noredirect=1#comment126124314_71354431

It makes sense to me to have some way to get the result of the test that was run in the `@AfterEach`. Pass/Fail status would be bare minimum, but would love to be able to get the exception that was thrown.

Having some object I could have as a par

[2022-03-04 17:34] sbrannen commented on #2842
The test has not yet completed when an `@AfterEach` method is thrown, since another `@AfterEach` method or an extension could still cause the test to fail.

In other words, it does not make sense to provide a yet-to-be-known completion status for a test that has not yet completed.

If you wish to gain access to an exception thrown during a test, you can implement a `TestExecutionExceptionHandler`

[2022-03-04 17:45] GregJohnStewart commented on #2842
Seems counter-intuitive, I wouldn't expect test logic to exist in an `@AfterEach`, but understand there is a tradeoff there in case of exceptions thrown during cleanup or something.

Might still argue that it is helpful to know the status thusfar, or at least if an exception was thrown.

Does that exception handler get called before or after the `@AfterEach`? It might work but hard to say for sure

[2022-03-04 17:56] sormuras commented on #2842
What about using a `TestWatcher`?

https://junit.org/junit5/docs/current/user-guide/#extensions-test-result-processing

[2022-03-04 22:16] iblessings opened #2843 "Add reason alias to @Disabled"
## Deliverables

- [ ] Can you please add the `reason` alias in addition to the `value` in the `@Disabled` annotation to improve readability. It will be much easier to read as `@Disabled(reason="Some message")`. Good work to the JUnit5 Team!!!

[2022-03-04 22:46] sormuras commented on #2843
The Java language does not support aliases in annotations.

You may however omit the `value = ` for "single-element annotations" as specified here: https://docs.oracle.com/javase/specs/jls/se17/html/jls-9.html#jls-9.7.3

Long form: `@Disabled(value = "Because...")`
Short form: `@Disabled("Because...")`

Merci! 🤓

[2022-03-04 22:46] #2843 closed

[2022-03-04 23:23] iblessings commented on #2843
Okay cool thanks will do that. Cheers!

On Sat, Mar 5, 2022, 12:46 AM Christian Stein ***@***.***>
wrote:

[2022-03-06 12:35] sbrannen commented on #2825
That's easier said than done.... since there is no "test engine section" in the user guide. 🤣

The _Advanced Topics_ file has the following commented-out include, but we never actually created that document.

[code]

I suppose I might create the missing Engines file/section with content from the _Registering a TestEngine_ section.

[2022-03-06 14:36] #2825 closed

[2022-03-06 16:04] marcphilipp commented on #2824
_in progress_

[2022-03-07 09:53] fafayqa opened #2845 "resources folder"
...WHY THERE IS NO OPTION FOR DELETING A POST IN HERE?! Unbelievable, like in 80s or something.

[2022-03-07 11:33] #2845 closed

[2022-03-07 11:48] roydekleijn opened #2846 "define AfterTestExecutionCallback class in pom.xml"
Hello,

Can we define AfterTestExecutionCallback class in pom.xml using the surefire-plugin ?

Roy

[2022-03-07 12:20] kostislav opened #2847 "@ExtendWith on instance fields registered only after test instantiation"
### Overview

JUnit version: 5.8.2

Issue #864 is awesome. However, when I tried to use it, I hit a problem and I'm not sure if (or why) it is supposed to work like this. For some reason, non-static fields are only checked for extensions _after_ the test instance is created, so it is impossible to register a `ParameterResolver` extension that would resolve the value of a private final field.

This

[2022-03-07 12:58] sbrannen commented on #2847
I've edited your comment to improve the formatting. You might want to check out this [Mastering Markdown guide](https://guides.github.com/features/mastering-markdown/) for future reference.

[2022-03-07 13:03] sbrannen commented on #2847
Glad you like it!

A `ParameterResolver` does not resolve fields. It resolves parameters. Based on your example, I assume you meant "it is impossible to register a `ParameterResolver` extension that would resolve the value for a constructor parameter".

It's true that the instance is not needed for `@ExtendWith` on fields. We'll investigate if it's feasible to change the logic here.

[2022-03-07 13:06] sbrannen commented on #2846
Thanks for getting in touch, but it feels like this is a question that would be better suited to [Stack Overflow](http://stackoverflow.com/). We prefer to use the issue tracker only for bugs and enhancements. Feel free to update this issue with a link to the re-posted question (so that other people can find it) or add some more details if you feel this is a genuine bug.

----

In any case, the ans

[2022-03-07 13:06] #2846 closed

[2022-03-07 13:10] sbrannen commented on #2845
@fafayqa, please refrain from asking the JUnit team questions about how GitHub works.

If you need help with GitHub, please refer to the [GitHub documentation](https://docs.github.com/en).

[2022-03-07 13:14] roydekleijn commented on #2846
Thanks for your answer!

[2022-03-07 13:16] sbrannen commented on #2847
FYI: your use case is actually already supported if you annotate the constructor parameter instead of the field.

For example, the following test class passes.

[code]

[2022-03-07 14:11] kostislav commented on #2847
@sbrannen Thank you and sorry for the improper formatting. (And the wording, using @RequiredArgsConstructor so much is making me forget to distinguish between final fields and constructor arguments sometimes.)
I guess I could add ElementType.PARAMETER to the annotation target and tell lombok to copy it to the generated constructor. Still, it would be great if it worked out-of-the-box.
I'll be happ

[2022-03-07 16:59] sbrannen commented on #2847
The reason it works like that is that I wanted to minimize code duplication in `org.junit.jupiter.engine.descriptor.ExtensionUtils.registerExtensionsFromFields(...)` and reuse that method as much as possible. From a design perspective, we thought we had covered all reasonable use cases with that logic. In other words, we did not consider the specific use case you tried.

Thanks for offering, but p

[2022-03-07 18:49] TWiStErRob commented on #201
:( sad to see this, I'm all for using JUnit 5, but until this is done, it's not viable to set up a fully Jupiter-based Android project.

[2022-03-08 10:46] mhalbritter opened #2848 "Support architecture in @EnabledOnOs and @DisabledOnOs"
Hi team,

In Spring Boot we [had the issue](https://github.com/spring-projects/spring-boot/issues/30082) that some of our tests don't run on Linux when using an AArch64 architecture. I then added a [custom annotation](https://github.com/spring-projects/spring-boot/blob/24a68fc5953f7de1c485b70692e65002782f4d70/spring-boot-project/spring-boot-tools/spring-boot-test-support/src/main/java/org/springfr

[2022-03-08 20:52] GregJohnStewart commented on #2842
Additionally, finding it super hard to replicate some of the functionality implemented in my `@AfterEach`, as the Object returned by `ExtensionContext.getRequiredTestInstance()` seems to not be the same as the instance used for the test...

[2022-03-08 23:01] mpkorstanje opened #2849 "The JUnit Platform does not receive complete support from IDEs and build tools"
Currently the user-guide states:

However of these I know that:
 - IDEA
   - ~https://youtrack.jetbrains.com/issue/IDEA-276463~
   - ~https://youtrack.jetbrains.com/issue/IDEA-276477~
   - https://youtrack.jetbrains.com/issue/IDEA-227508
   - ~https://youtrack.jetbrains.com/issue/IDEA-292853~
   - ~https://youtrack.jetbrains.com/issue/IDEA-292662~
   - https://youtrack.jetbrains.com/issue/IDEA-153

[2022-03-08 23:22] mpkorstanje commented on #2849
It's almost as if everyone ignored the "What is JUnit 5?" and reused the support code from JUnit 4.  :rofl:

Neat!

[2022-03-11 06:34] kriegaex commented on #2115
Can this be avoided somehow, if the motive for listener use is not nicer reports, but nicer system console logs (which then can also be captured on CI systems as log files)? The naive way of using it, registering an execution listener and then dumping the buffer entries (text only, no timestamps) to the system console in `reportingEntryPublished`, yields duplicate console output.

[2022-03-11 06:35] rgseyvie commented on #2791
@scordio
I would like to work on this issue, could you assign it to me?

[2022-03-11 11:57] marcphilipp commented on #2848
We brainstormed a few alternatives:

## Alternative 1

Enhance existing annotation:

[code]

## Alternative 2

Define new annotation:
[code]

## Alternative 3

Recommend using `@DisabledIf`

[code]

[2022-03-11 16:53] scordio commented on #2791
@rgseyvie this is not really under my control and it's still in discussion with the team.

But I'd be happy to work on it by myself if it gets accepted 🙂

[2022-03-14 10:04] toolateitsme opened #2850 "Provide information about parameterized test iteration in related descriptor"
Hello, everyone. Hope, ill find a solution, but it seems, that current `PostDiscoveryFilter` implementation does not provide filtering parameterized test's iteration

Goal:

Its said, that `PostDiscoveryFilter` is used for customisation of test tree

I want to exclude (not just skip, like `ExecutionCondition`) an iteration of parameterized test. Contract of filter says that i need to manipulate on

[2022-03-14 10:32] marcphilipp commented on #2850
The invocations are created dynamically at runtime and cannot be filtered with a `PostDiscoveryFilter` at the moment. Could you implement an `ExecutionCondition` that skips them instead?

[2022-03-14 10:37] toolateitsme commented on #2850
Yep, of course,  i can implement this solution.

I've just wanted to make an "clear" test report without "redundant" skipped entries

[2022-03-14 10:41] toolateitsme commented on #2850
I was inspired by https://github.com/gradle/gradle/issues/19897 . Its said, that i can provide some rule, and `PostDiscoveryFilter` will work, imho

[2022-03-15 06:49] toolateitsme commented on #2850
@sbrannen Any thoughts? I can close this issue, if we will stuck

[2022-03-15 09:48] hboutemy opened #2852 "stop .asc.${checksums} publication to Central repository"
currently, for each artifact published to Central repository, there are many additional files published: checksums and signature
see for example: https://repo1.maven.org/maven2/org/junit/jupiter/junit-jupiter/5.8.2/

most of the files that I see follow expected  Maven2 repository layout: https://maven.apache.org/repository/layout.html perfect

there is only one series of checksum files that I'm su

[2022-03-15 10:59] marcphilipp commented on #2852
This is done by the [Maven Publish Plugin](https://docs.gradle.org/current/userguide/publishing_maven.html) from Gradle:

I think the checksums for signature files (and all other artifacts for that matter) are useful to determine their integrity after having downloaded them. I don't see any harm in publishing them even if they're not required. Moreover, I don't think we should deviate from what Gr

[2022-03-15 10:59] #2852 closed

[2022-03-15 17:44] hboutemy commented on #2852
IIUC, the issue is more to be reported against Gradle's Maven Publish Plugin: I'll need to find where is the issue tracker (I you know, pointers welcome)

it's just another level of confusion for many people, then I'm trying to remove confusion and remove noise files from Maven Central

thanks for your feedback

[2022-03-16 06:05] marcphilipp commented on #2852
It's just Gradle's usual issue tracker: https://github.com/gradle/gradle/issues

[2022-03-16 08:11] hboutemy commented on #2852
thanks, I'll go there, and explain more my context: I think this deserves a good positive discussion, experience sharing, design explanations from each sides

[2022-03-16 16:22] sbrannen opened #2853 "`@BeforeAll`/`@AfterAll` methods may be `static` in `@Nested` test classes on JDK 16+"
## Overview

The current documentation (user guide and Javadoc) states that `@BeforeAll` and `@AfterAll` lifecycle methods must not be `static` when declared within a `@Nested` test class.

However, as of JDK 16 this is no longer true. See [JDK-8254321](https://bugs.openjdk.java.net/browse/JDK-8254321) for details.

For example, the following compiles and runs as expected on Java 16 or higher.

[c

[2022-03-16 16:29] VasilyFomin opened #2854 "Add an option to list all test found by Console Launcher"
Hi,

I'm wondering if it'd be possible to add an option to list all tests found by the Console Launcher.

For example, Google Test [can](http://google.github.io/googletest/advanced.html#listing-test-names) print all tests using `--gtest_list_tests` option.

[2022-03-18 11:39] marcphilipp commented on #2848
**Team decision:** Let's go with alternative 1.

@mhalbritter Would you be interested in submitting a PR?

[2022-03-18 11:54] marcphilipp commented on #2847
**Team decision:** Let's explore adding support for registering `@ExtendWith` extensions on fields as early as possible so they can be used for `ParameterResolver`, `TestInstancePostProcessor`, and other similar extensions.

[2022-03-18 12:04] marcphilipp commented on #2854
**Team decision:** We agree that having an option (e.g. `--dry-run`) to list the result of test discovery to the Console Launcher would be useful.

[2022-03-18 12:05] marcphilipp commented on #2854
@VasilyFomin Would you be interested in submitting a PR?

[2022-03-18 12:15] class101 commented on #1919
You are welcome @LifeIsStrange

In case this is of interest, I have updated my code today to support the following case when you want to order Classes + Method in source code order like the following sample :

_When you have multiple standalone test classes that you want to maintain standalone, but want to offer the possibility to execute ALL tests in a specific order, you just need to extends you

[2022-03-18 12:20] class101 commented on #2840
In case this is of interest, I have updated my code today to support the following case when you want to order Classes + Method in source code order like the following sample :

_When you have multiple standalone test classes that you want to maintain standalone, but want to offer the possibility to execute ALL tests in a specific order, you just need to extends your test classes in a similar AllS

[2022-03-18 12:50] mhalbritter commented on #2848
Yep, can do it. Is this urgent for you?

[2022-03-18 12:59] sbrannen commented on #2848
Great

No, it's not urgent.

Depending on when you get to it, it could make it into 5.9.

[2022-03-18 13:08] mhalbritter commented on #2848
Great, will put in on my todo list!

[2022-03-18 14:06] LifeIsStrange commented on #1919
Thanks, I will test this for my next spring project!

[2022-03-20 12:28] pbludov opened #2855 "Feature request: Condition for headless environment"
Sometimes we need to write unit tests for UI. The problem is that they will fail in a headless environment.
We need a way to suppress them. One possibility is to use assumptions:
[code]

The more elegant way is to use [conditions](https://junit.org/junit5/docs/current/user-guide/#extensions-conditions). Something like

[code]

Unfortunately, this approach will not work when such property isn't set

[2022-03-21 16:19] sormuras opened #2859 "CI builds time out on Mac OS"
In recent weeks, the CI builds were hit by timeouts when trying to download artifacts from external sources, for example from https://archive.apache.org/dist/maven/maven-3/

A stacktrace reads like:
[code]

❌ Timed out with:
https://github.com/junit-team/junit5/runs/5626012955?check_suite_focus=true
[code]

✅ Worked with Oracle JDK:
https://github.com/junit-team/junit5/runs/5630294877?check_suite_

[2022-03-21 16:22] sormuras commented on #2859
Related? https://stackoverflow.com/questions/71174668/nginx-sometimes-fails-tls-passthrough-to-java-17-application

[2022-03-21 17:25] kosaa opened #2860 "How to pass each single file line as argument"
Is there any equivalent of CsvFileSource for raw text files. I mean something like `@TextFileSource` or just `@FileSource` where input lines isn't parsed before pass as test method argument?

workaround 1:
`@CsvFileSource(resources = "/foo.csv", delimiterString = "\t\t\t\t")` where `delimiterString` is string that never occur

workaround 2:
`@MethodSource("fileLineProvider")` with `Files.readAllLi

[2022-03-21 17:30] sbrannen commented on #2860
No, there is not.

I'm closing this as a duplicate of #1794.

In the future, please search existing issues before opening a new issue.

Thanks

[2022-03-21 17:59] hboutemy commented on #2852
FYI https://github.com/gradle/gradle/issues/20232

[2022-03-22 01:04] ferpalaria commented on #1151
`@CsvFileSource(resources = "file.csv", useHeadersInDisplayName = false, numLinesToSkip = 1)`
This option worked for me

[2022-03-22 09:35] AQS-DTheuke commented on #2859
I don't think that it's related (but I'm not sure). The linked SO question is for incoming requests, this issue is about outgoing requests.

[2022-03-22 10:21] sbrannen commented on #1151
@ferpalaria, yes, `numLinesToSkip` was introduced in JUnit Jupiter 5.1, which is why this issue is closed (see commit 5d9a89ec9590177fcf840e99b848ccfa66c9b4f6).

Also, `useHeadersInDisplayName` defaults to `false`, so there is no need to specify `useHeadersInDisplayName = false`.

[2022-03-22 17:04] marcphilipp commented on #2859
This PR should fix it: https://github.com/junit-team/junit5/pull/2867 🤞

[2022-03-22 18:29] #2859 closed

[2022-03-23 21:32] stoyanK7 commented on #2854
I am interested. May I try?

[2022-03-25 01:11] YomnaZidan commented on #456
Hi @marcphilipp ,

Please feedback what is the alternative of BeforeSuite and AfterSuite , in order to create 1 consolidated Extend Report across all Test Classes .
Same Issue Described by @praveenreddynarala

Regards ,
Yomna Zidan

[2022-03-25 12:39] marcphilipp commented on #373
Please see https://github.com/ota4j-team/opentest4j/issues/9#issuecomment-1078990334

[2022-03-25 12:58] #2853 closed

[2022-03-27 18:42] stoyanK7 commented on #2854
@marcphilipp Should tests always be listed as a tree like Google Test does or should the user be able to specify it(flat, tree, verbose) just like when executing them?

[2022-03-28 12:05] elonderin opened #2869 "Improve error message when FQMN in `@MethodSource` is invalid"
With #1088 came support that `@MethodSource` to spec external Methods via FQMN.

It happened, that I did not carefully read the Javadoc:

And so I put `@MethodSource("org.junit.Foo.bar")` on a `@Nested` test method  and consequently got this error:

[code]

This needlessly lead me in the wrong direction of chasing down the cause for this until I ended up at #1088 which after reading caused me to r

[2022-03-28 14:45] sbrannen commented on #2869
Indeed, the diagnostics can certainly be improved for failure cases with `@MethoSource` factory method lookups.

I've added applicable labels and put this `up-for-grabs`.

[2022-03-29 10:06] sbrannen commented on #2847
Well, if you can use records, Java already does that for you.

For example, the following works out of the box.

[code]

[2022-03-29 14:19] slinkydeveloper commented on #1190
Hey @marcphilipp @sbrannen, can you please re-open this issue? I think it's still relevant, as right now it's not clear how to develop a `ParameterResolver` that doesn't conflict with other parameter resolvers, and in particular to create one that doesn't conflict with `ParameterizedTest`. I'm also willing to help with the review of the doc.

My use case is that I want to create a test matrix comb

[2022-03-29 14:28] sbrannen commented on #1190
Sure. I'll reopen this issue.

That aspect is already covered in the [current documentation](https://junit.org/junit5/docs/current/user-guide/#writing-tests-parameterized-tests-consuming-arguments).

[2022-03-30 12:52] onacit opened #2871 "Add ArgumentAccessor#from(Arguments)"
I still found myself keep failing by writing following code.

[code]

Please add `ArgumentAccessor#from(Arguments)` as once mentioned https://github.com/junit-team/junit5/issues/2081#issuecomment-545964383.

## Deliverables

- [ ] Add `ArgumentAccessor#from(Argument)`

[2022-03-30 14:11] PatelJigarK opened #2872 "How to run @BeforeEach with parameter in junit 5?"
Hey team! I am new to junit 5 and still learning features in junit 5. Recently I came across a situation where I want to run same test for different sets of data. I used parameterization for that. Now as per new requirement, I have to run few steps before each test using parameter that test is using. I am thinking to setup @BeforeEach hook with parameter, so that for a parameter I can run few step

[2022-03-30 15:52] sbrannen commented on #2872
I am closing this as a duplicate of #944, so please add additional comments to that issue as applicable.

If you feel that it is not a duplicate, please provide information why you think it is different.

[2022-03-30 15:52] #2872 closed

[2022-03-30 16:39] Jigar2018 commented on #944
Hey guys! New to junit and doing migration work from junit 4 to junit 5. I asked [this question](https://github.com/junit-team/junit5/issues/2872) but got to know it's kind of a duplicate to this open item. Anyone can help me understand how I can achieve this? (Please check sample code [here](https://github.com/junit-team/junit5/issues/2872)). Thanks team!

[2022-03-30 17:07] uchagani opened #2873 "TestExecutionResult is Successful when ParameterResolver throws ParameterResolutionException"
I'm writing a `ParameterResolver` and trying to test it using `junit-platform-testkit`.  When testing a failure condition, the `TestExecutionResult` object shows the test as pass.

## Steps to reproduce
1.  Create ParameterResolver that simulates ParameterResolutionException
2. Create test that uses parameter resolver.
3. Use `EngineTestKit` to run test and check `TestExecutionResult` object

Expe

[2022-03-31 14:58] uchagani commented on #2873
closing, this seems to be a bug on my end.

[2022-04-02 00:23] jayr-davis opened #2876 "Apparently, # is an illegal character in CSVSource text??"
- Java 17
- IntelliJ IDEA 2021.3.2
- JUnit Jupiter: 5.8.1
- JUnit Platform: 1.8.1

Here is one of my tests:

[code]

This code FAILS with:

[code]

If I change the leading `#` to nearly any other character, it all works fine.

[2022-04-02 05:36] sormuras commented on #2876
A paragraph in the [@CsvSource](https://junit.org/junit5/docs/current/user-guide/#writing-tests-parameterized-tests-sources-CsvSource) section of the User Guide reads:

One possible solution: moving the closing text block delimiter (`"""`) one step to the left, like in ...
[code]
... should make all `#` characters a part of the `descript` string.

[2022-04-02 13:42] sbrannen commented on #2876
Another option is to enclose the `descript` text in single or double quotes, though you have to be on JUnit Jupiter 5.8.2+ to use the `quoteCharacter` attribute to switch from single quotes (the default) to double quotes.

[code]

Similar to the option mentioned by @sormuras in https://github.com/junit-team/junit5/issues/2876#issuecomment-1086552014, you can prefix each line with with a text block

[2022-04-02 13:42] #2876 closed

[2022-04-05 18:19] rsivan opened #2877 "Vintage tests annotated with both @Category and @UseModules should not activate @UseModules when Category is excluded"
junit-vintage-engine 5.8.2

Code contains a test (including Jukito code) annotated as follows:

[code]
Maven has a rule that excludes SystemTests, for example:

[code]

## Steps to reproduce
Under a plan JUnit4 environment, the test is excluded and there are no errors.
Running the same code under jupiter vintage generates errors from the class SomeModule, which is attempting to run Sytem Tests in

[2022-04-06 11:44] sbrannen commented on #2877
Can you please confirm that `@UseModules` is [this annotation](https://github.com/ArcBees/Jukito/wiki/@UseModules) from the Jukito project and that your test class is annotated with `@RunWith(JukitoRunner.class)`?

Also, please provide a simple application that demonstrates the behavior you are describing -- for example, as a GitHub project or a ZIP file attached to this issue that can be download

[2022-04-06 15:06] rsivan commented on #2877
[IntegrationTestJUnit5Vintage.zip](https://github.com/junit-team/junit5/files/8428169/IntegrationTestJUnit5Vintage.zip)
Attached full example

[2022-04-07 13:49] tomerr90 opened #2878 "AllBooleanCombinationsSource arguments provider"
A common use case we have is a test that take a bunch of boolean flags a check very slightly (mostly in expected value) based on this flag.
Classic for a ParameterizedTest, which is what we use today, but for the source we currently use CsvSource with the boolean options:
[code]
Which is annoying, verbose and error-prone.
So I wanted to implement an annotation like `@AllBooleanCombinationsSource(i

[2022-04-07 13:53] sbrannen commented on #2878
Take a look at the [Cartesian product support in JUnit Pioneer](https://junit-pioneer.org/docs/cartesian-product/).

I think that might suit your needs.

[2022-04-08 01:37] scali-at-amazon opened #2879 "InvocationInterceptor Before/AfterEach methods should indicate which test method they apply to."
When a test fails due to something going wrong in a BeforeEach or AfterEach method, it is often useful to know which test they apply to for the purposes of generating reports or emitting metrics.  Currently, the API presents `getTarget() : Optional<Object>`  that may contain an instance of the test class, optional (from my understanding) because it will be empty when intercepting the test class co

[2022-04-08 01:47] scali-at-amazon commented on #2879
My apologies, this information appears to be available in the `ExtensionContext` object.

[2022-04-08 01:47] #2879 closed

[2022-04-08 10:35] #2823 closed

[2022-04-08 11:10] #985 closed

[2022-04-09 11:47] kasdihacene opened #2881 "TestEngine with ID 'junit-jupiter' failed to discover tests v5.8.2 java 17"
## Steps to reproduce

Upgrading the junit-jupiter-api and junit-jupiter-engine from 5.7.0 to 5.8.2 under JDK 17

## Context
I have faced an issue when upgrading my Jupiter version from 5.7.0 to 5.8.2 on Java 17 project with these errors :

[code]

 - Used versions (Jupiter): 5.8.2
 - Build Tool/IDE: Intellij

## Deliverables

- [ ] ...

[2022-04-09 12:00] marcphilipp commented on #2881
[`AnnotationUtils.findAnnotation(java.lang.Class, java.lang.Class, boolean)`](https://junit.org/junit5/docs/current/api/org.junit.platform.commons/org/junit/platform/commons/util/AnnotationUtils.html#findAnnotation(java.lang.Class,java.lang.Class,boolean)) was added in 1.8 so you're probably using a pre-1.8 version of `junit-platform-commons`.

Generally, if you update Jupiter to 5.8.2, you also n

[2022-04-09 12:00] #2881 closed

[2022-04-09 12:33] kasdihacene commented on #2881
The issue is solved after upgrading the version of spring boot from 2.4.x to 2.6.x
Thank you so much @marcphilipp

[2022-04-10 07:09] andrewparmet opened #2883 "TempDir deletion throws StackOverflowError"
I have a unit test that creates some files in a temporary directory. Notably it's a Docker container that is creating the files. The test passes locally on my machine (running on a Mac) but fails in GitHub actions: https://github.com/andrewparmet/buf-gradle-plugin/runs/5959677186?check_suite_focus=true with a StackOverflowError as it's trying to clean up:

[code]

I'm also wondering what kind of I

[2022-04-10 07:34] andrewparmet commented on #2883
I can probably use https://github.com/junit-team/junit5/issues/2159 to get away with this without fixing the problem. Is there a snapshot repository I can use?

[2022-04-10 08:43] sormuras commented on #2883
There used to be a description in the README of the repository -- which seems to be gone for good. 🤔

Here are "code-as-documentation" variants using snapshot builds from JUnit's sample projects:

- [junit5-jupiter-starter-gradle](https://github.com/junit-team/junit5-samples/blob/main/junit5-jupiter-starter-gradle/build-SNAPSHOT.gradle)
- [junit5-jupiter-starter-maven](https://github.com/junit-tea

[2022-04-10 14:18] andrewparmet commented on #2883
@sormuras I found a reference in the docs: https://junit.org/junit5/docs/current/user-guide/#dependency-metadata

[2022-04-10 14:24] marcphilipp commented on #2883
The current code should stop retrying for directories already being retried:
https://github.com/junit-team/junit5/blob/8d8609a8005b40d51b2364983f9d5ef12f888173/junit-jupiter-engine/src/main/java/org/junit/jupiter/engine/extension/TempDirectory.java#L302

I'll take a stab at this.

[2022-04-10 17:18] #2883 closed

[2022-04-10 17:34] marcphilipp commented on #2883
@andrewparmet I've just merged a fix. Could you please try out the latest snapshot?

[2022-04-10 18:08] #2787 closed

[2022-04-10 18:34] andrewparmet commented on #2883
I tried the snapshot and the build no longer fails with a StackOverflowError - now I see the actual failure.

Here's the build: https://github.com/andrewparmet/buf-gradle-plugin/runs/5962954761?check_suite_focus=true

And here's the failure:
[code]

Looks like TempDir tries to give itself permission. Is this potentially a bug or am I doing something unsupported that's a known limitation?

[2022-04-10 20:52] marcphilipp commented on #2883
Yes, it does try to give itself permissions. Could you please check the file's owner and create a new issue with your findings?

[2022-04-10 21:44] andrewparmet opened #2886 "TempDir fails to clean up for certain files"
Follow-up for #2883.

TempDir is failing to delete `Test.java` following a test (GenerateTest). This is a partial listing of the contents of the temporary directory including the problematic file:

[code]

In a separate test (PublishTest), `image.json` is also generated from a call to Docker but TempDir has no trouble deleting it:

[code]

These logs are from build https://github.com/andrewparmet/

[2022-04-10 21:52] mpkorstanje commented on #2838
Looks like the crash has unintentionally been fixed by #2822 as `SuiteTestDescriptor` execute now eventually creates a new test plan from the discovery request in the `EngineExecutionOrchestrator`.

https://github.com/junit-team/junit5/blob/f42118ebbde43816e1213b6f2c57a80585d69637/junit-platform-launcher/src/main/java/org/junit/platform/launcher/core/EngineExecutionOrchestrator.java#L66-L74

The r

[2022-04-10 22:01] mpkorstanje commented on #2838
Looks like `addInternal` assumes that test engines do not have parents:

https://github.com/junit-team/junit5/blob/main/junit-platform-launcher/src/main/java/org/junit/platform/launcher/TestPlan.java#L121-L133

[2022-04-11 05:11] marcphilipp commented on #2886
@andrewparmet Thanks for the analysis! If the files belong to `root` I don't see how `TempDir` can possibly delete them. How are you invoking Docker? Could you change the user you run it with or change the file mask?

[2022-04-11 05:43] andrewparmet commented on #2886
It doesn't look like there's a way to change the Docker user without modifying my plugin user's config (a nonstarter) or changing the Docker image build process (which I do not control).

The short term solution may be to try to change the permissions myself (maybe using Docker?), but the long term solution is to migrate off of Docker; the program I'm executing is also published as a binary for ea

[2022-04-11 05:43] #2886 closed

[2022-04-11 17:38] wzrumich opened #2888 "JUnit suite engine test selection"
We are using the JUnit suite engine feature to group a bunch of tests into a suite, with the `@Suite` annotation.

Currently, we have a bunch of tests with names ending with `TestIT`, e.g. `AddGlobalNumTestIT`.

It seems that these tests could not be identified due to the filter defined here:

https://github.com/junit-team/junit5/blob/43638eb6a870e0d6c49224053dfeb39dcf0ef33f/junit-platform-engine/

[2022-04-11 18:06] sbrannen commented on #2888
Yes. Use `@IncludeClassNamePatterns` to supply your own custom class name pattern.

[2022-04-11 18:06] #2888 closed

[2022-04-11 18:07] marcphilipp commented on #2888
Sam beat me to it.

It's documented in the [Javadoc of `@Suite`](https://junit.org/junit5/docs/current/api/org.junit.platform.suite.api/org/junit/platform/suite/api/Suite.html):

[2022-04-11 22:07] sadhup commented on #878
Hi Junit5 Team,

Thank you for the hard work you all are doing! I need your help on one of the issues I am facing while upgrading from Junit3 to Junit5, if you already have solution for the problem I am facing then it would be great if you can direct me to the solution.

Here is what I am looking for ... I have a csv file with almost 30 columns, first 20 columns are input data which I will be usin

[2022-04-11 22:26] jbduncan commented on #878
Hi @sadhup! JUnit 5 user here.

I don't believe it's possible to split the reading of data across `@BeforeAll` and `@ParameterizedTest` sections like this. It sounds like you should do it all in one or more `@ParameterizedTest`s.

The [`@CsvFileSource`](https://junit.org/junit5/docs/current/user-guide/#writing-tests-parameterized-tests-sources-CsvFileSource) section in the user guide might be what

[2022-04-11 22:45] scordio opened #2889 "Set a custom extension for `@TempDir` via a configuration parameter"
Test suites using `@TempDir` usually pay a performance penalty due to the file system interaction. While this might be ok for a few tests, the penalty becomes more visible when the number of tests increases, like with AssertJ's [`Path`](https://github.com/assertj/assertj-core/tree/main/src/test/java/org/assertj/core/internal/paths) and [`File`](https://github.com/assertj/assertj-core/tree/main/src

[2022-04-11 23:35] sadhup commented on #878
Hi jbduncan,

Thank you for your quick response! Yes, I am using @CsvFileSource like given below :

@ParameterizedTest
@CsvFileSource(resources = "/SupportAPIs.csv", numLinesToSkip = 1)
public void testSupportAPI(String col1, String col2, String col3 ... String col30){
}

Regarding the ~20 inputs and ~10 outputs : Yes, they are related to each other. Each line in a csv file is one test case, I am

[2022-04-12 07:35] #2889 closed

[2022-04-12 07:44] marcphilipp commented on #2400
Now that `@TempDir` is created per declaration by default, that might make an approach that configures it locally feasible.

[2022-04-12 13:27] marcphilipp commented on #2889
Please do! 👍

[2022-04-12 16:45] rsivan commented on #2877
i was hoping the previous posting answers all your questions.

[2022-04-12 16:46] rsivan commented on #2877
Confirmed

[2022-04-12 19:08] jbduncan commented on #878
Sorry @sadhup, I'm not sure what to suggest now.

Are you trying to move the 30 parameters into a common place to reduce boilerplate?

If so, and if you're willing to migrate your CSV files to another data format, then junit-pioneer has [`@JsonFileSource`](https://junit-pioneer.org/docs/json-argument-source/). This would allow you to turn your 30 parameters into two: an "input" object, and an "out

[2022-04-12 20:51] scordio commented on #2400
Although the custom file system could/will be specified per declaration, it'd still be useful to have a way to set it globally, for example with a configuration property (rationale at https://github.com/junit-team/junit5/issues/2889#issue-1200641741).

[2022-04-13 01:49] miralexan commented on #878
@sadhup

If I'm understanding this correctly, the first ~20 lines set up the environment/API request, and the next 10 are expected API response values. If this is a correct understanding, you may look at the [Dynamic test](https://junit.org/junit5/docs/current/user-guide/#writing-tests-dynamic-tests) feature. My off-the-cuff thinking is that you could convert each line of your CSV into a `DynamicC

[2022-04-13 10:23] nilic10 commented on #871
+1

[2022-04-13 18:19] sadhup commented on #878
@jbduncan and @miralexan,
Thanks a lot for your responses and pointers. I will try both the above options and see.

[2022-04-14 12:46] koying commented on #2811
I can confirm.
Same  issue on 5.8.1 but working on 5.7.2

[2022-04-14 17:23] juliette-derancourt opened #2891 "Ask IntelliJ to update `@MethodSource` support"
Following #2191, we should ask IntelliJ to modify its support for `@MethodSource`.

The following example raises a warning: `Method source 'factoryMethod' should have no parameters`.
This should no longer be the case, since we now support factory methods with parameters.

[code]

## Deliverables

- [x] When #2191 is done, open an issue on [IntelliJ issue tracker](https://youtrack.jetbrains.com/iss

[2022-04-14 18:11] juliette-derancourt commented on #2869
Hello @elonderin,

I've added [this commit](https://github.com/junit-team/junit5/commit/42c1add1478053921cf04bc5a082c136a8afbe50) which should improve the error message.
It will read like this: `[org.junit.Foo.bar] is not a valid fully qualified method name: it must start with a fully qualified class name followed by a '#' and then the method name, optionally followed by a parameter list enclosed

[2022-04-15 06:42] elonderin commented on #2869
AH, i missed that b/c `value` being the default property it's not written in code (most the times) and hence it's jdoc not shown. However, the jdoc of the annotation is shown and therefor i proposed in the OP to extend (the 1st paragraph).

[code]
This being said, i acknowledge that `value` is the more proper place for it, alas it's much less visible. So maybe

[2022-04-18 16:47] Vampire opened #2893 "Jupiter static @TempDir behaves unexpected when subclasses are run in parallel"
I wanted to supply an MCVE, but I was not able to, as I was not able to find a way to influence the order in which the `@TempDir` handling extension initializes classes. Even a static initializer in the affected classes is executed after (!?!) the extension injected the static fields, but I try to describe the problem.

If you have a construct like

[code]

and now run `A` and `B` in parallel, the

[2022-04-21 10:35] #2838 closed

[2022-04-21 17:34] michaelfmnk commented on #2848
Hi! Is it still relevant?
Had some spare time to implement this feature.
Should I create a pull request?

[2022-04-22 18:37] AJNeufeld commented on #985
Thank you, very much!

[2022-04-23 06:25] armandino opened #2896 "@AfterAll swallows exceptions"
I expected to see a failure when running the following code, but the error is not propagated up. My use case: I want to aggregate some data generated from a `@ParameterizedTest` and have an assertion in the `@AfterAll` method (maybe there is a better way to achieve this... open to suggestions).

[code]
For comparison, the following does fail as expected.

[code]

Using:
[code]

[2022-04-23 09:34] fll02020 commented on #2748
Could I try this one ? @jlink

[2022-04-23 09:50] jlink commented on #2748
Sure. I was waiting for more input from the JUnit Team about which kind of solution they’d prefer. Apart from that I’m happy about anyone doing the implementation.

[2022-04-23 10:12] fll02020 commented on #2748
Thank you very much. I just read your code. To be frank, I think you done most of the work. Maybe I just need to continue to complete every special type（e.g. Uint, Ushort）and change the code style? Or is there something here that I don't understand what you mean?

[2022-04-23 10:53] Cody-Banks7 commented on #2896
I‘ve met this problem too. What's more, Try-catch can still capture the excption in the method but is unable to throw it. If it's not intentionally designed this way, I would like to try to fix it

[2022-04-23 11:11] #2789 closed

[2022-04-23 11:26] YuanPeiqi commented on #2119
@marcphilipp I'd like to try this. May I?

[2022-04-23 11:37] HeaDHeaD0820 commented on #2482
May I please have a look into it? I'd like to try to enhance it.

[2022-04-23 13:04] jlink commented on #2748
@fll02020 Give it a try. Maybe you can get hold of the Kotlin source to check what’s really happening with those special types UInt etc.

[2022-04-23 17:36] Cody-Banks7 commented on #2896
Hey man , I just find out that It was designed this way on purpose. Although I haven't understood the intention of this design, the handbook did mention this part, you can check it on https://junit.org/junit5/docs/current/api/org.junit.jupiter.api/org/junit/jupiter/api/extension/LifecycleMethodExecutionExceptionHandler.html#implementation-guidelines.

[2022-04-23 21:11] Cody-Banks7 commented on #2087
I'm wondering if this problem is still worth trying? I'd like to try to handle it but find it hard to start with. Some guidance would be very helpful.

[2022-04-23 23:29] mpkorstanje commented on #2896
@armandino to make sure the exception is swallowed by JUnit please use the [platform launcher API](https://junit.org/junit5/docs/current/user-guide/#launcher-api).

I assume you are currently using Surefire to run your tests. If so make sure you have the latest `3.0.0-Mx` version otherwise you may see things such as #2178 .

[2022-04-24 00:46] XIANY1203 commented on #2757
I am interested in this issue, may I have a try?

[2022-04-24 01:24] armandino commented on #2896
Thanks @mpkorstanje. Your mention of Surefire made me realise that it's actually working as expected using `3.0.0-M5`. The issue appears to be with Intellij. I reported it as a [bug](https://youtrack.jetbrains.com/issue/IDEA-292853/Intellij-does-not-propagate-errors-thrown-in-JUnit-5's-@AfterAll).

[2022-04-24 01:24] #2896 closed

[2022-04-24 07:08] fll02020 commented on #2748
@jlink
For special type, I found some rules of it. The 7 characters seems like a hashcode. But the information before hash() may contain too much , it doesn't seem like we can just use methodParameterTypes. To be honestly, I haven't even been able to replicate from UInt to WZ4Q5Ns via hash.  Could you give me some advice?
For internal function, I found your rules maybe not so correct. In my experi

[2022-04-24 14:09] #2824 closed

[2022-04-24 14:36] mpkorstanje commented on #2893
The semantics of `@TempDir` are test or class scoped. By using it as static field in a base class the semantics are engine scoped. JUnit Jupiter has no facilities for this.

The needed facilities may be introduced with  #2816.

Though for `@TempDir` I think the better solution would be to ban the use of a static field in a base class altogether. I don't believe there is a valid use case for it tha

[2022-04-25 22:13] bes1002t commented on #2088
@sbrannen yes I'm using JUnit 5:

        <dependency>
            <groupId>org.junit.jupiter</groupId>
            <artifactId>junit-jupiter-engine</artifactId>
            <version>5.8.2</version>
            <scope>test</scope>
        </dependency>

        <dependency>
            <groupId>org.junit.jupiter</groupId>
            <artifactId>junit-jupiter-params</artifactId>
            <versi

[2022-04-26 06:20] jlink commented on #2748
@fll02020 I'm afraid I don't know more than you do. My code is just handling the examples I stumbled upon by accident. I'd personally try to cover the cases that can be derived from the mangling rules you digged out.

The problem is, of course, that it's not clear to me if those mangling rules are part of the spec or just an implementation detail. If the latter, the only real option is to use Kotl

[2022-04-26 21:54] catshow opened #2903 "Please add additional assertion tests for java Optionals."
It would be nice to have some tests for Optional values that would check to see if the value is present or is empty.  If it is present then it should return the value.  Additional tests would have messages too.

Here is a sample.
[code]

[2022-04-26 23:28] mpkorstanje commented on #2903
The JUnit docs recommend using assertion libraries when more expressive assertions are needed.

And I suppose that building an assertion library beyond what was needed to maintain feature paririty with JUnit 4 would be considered out of scope.

So can you provide a compelling reason why assertions specifically for optionals should be added?

https://junit.org/junit5/docs/current/user-guide/#writin

[2022-04-27 00:00] catshow commented on #2903
No problem. I will just use another library.

[2022-04-27 00:00] #2903 closed

[2022-04-30 09:14] Anne-aaa commented on #1108
/*
 * This file was generated by the Gradle 'init' task.
 *
 * This generated file contains a sample Java application project to get you started.
 * For more details take a look at the 'Building Java & JVM projects' chapter in the Gradle
 * User Manual available at https://docs.gradle.org/7.4.2/userguide/building_java_projects.html
 */

plugins {
    // Apply the application plugin to add support

[2022-05-03 09:23] sbrannen commented on #2869
@juliette-derancourt, if you've already fixed this, can you please assign this issue to yourself and remove the `up-for-grabs` label?

[2022-05-03 12:30] ulrikls opened #2904 "Running JUnit 3 test suite with JUnit Vintage engine with Gradle"
Running a JUnit 3 test annotated to be run with the `AllTests` runner using JUnit 5 may not actually run the test.

## Steps to reproduce

In our project we have quite a few JUnit 3 tests looking like:

[code]

Currently, we're executing them using JUnit 4, but I'm trying to move to JUnit 5. When I change to `useJUnitPlatform()` in the Gradle build file these tests are no longer executed.

There's

[2022-05-03 13:06] sbrannen commented on #2904
The following all-in-one test class runs fine for me in the Eclipse IDE using JUnit 3, JUnit 4, and JUnit 5.

[code]

Thus, I suspect it is an issue with Gradle.

@marcphilipp, thoughts?

[2022-05-03 13:23] alopukhov opened #2905 "Colon should not be used as classpath argument separator on Windows for junit-platform-console"
## Steps to reproduce
Provide absolute path for jar with test located on drive distinct from working dir. E.g.:
Lets use `junit-platform-console-standalone-1.8.2.jar` and jar with test classes `simple-test-case.jar` located in directory on `C:` drive.
Running `java -jar C:\dir\junit-platform-console-standalone-1.8.2.jar --scan-classpath -cp C:\dir\simple-test-case.jar` from working directory on `C

[2022-05-03 13:37] sormuras commented on #2905
Does quoting the value help?
- `... -cp "C:\dir\simple-test-case.jar" ...`

[2022-05-03 13:58] sbrannen commented on #2905
I'm not sure that quoting would help, since it seems that we always let PicoCLI split the input based on `;` or `:`.

We might have to make the splitting platform dependent here:

https://github.com/junit-team/junit5/blob/f58cd419755846f1476e8d15783438de8d7aede4/junit-platform-console/src/main/java/org/junit/platform/console/options/AvailableOptions.java#L74-L80

[2022-05-03 14:48] alopukhov commented on #2905
Nope. This way of quotation doesn't help.
Neither in ordinary "cmd".
Neither in git bash.

[2022-05-06 12:02] jlink commented on #2748
Just stumbled upon this article: https://ncorti.com/blog/name-mangling-in-kotlin

The problem remains that the name mangling result for `internal` method can also be created by a back-ticked function name, e.g.:

[code]

Since the module name used by Kotlin is not necessarily the same as Java's `Class.getModule().getName()` you cannot be sure that a mangled name really is a mangled name :-( Not wi

[2022-05-06 13:07] mpkorstanje commented on #2748
That is unfortunate but it means we can decide on solution architecture.

 - We could introduce a `KotlinMethodSelector` variation on the `MethodSelector` and have API users use this when dealing with Kotlin (presumably they know).

 - We could make the code that sits currently `MethodSelector.lazyLoadJavaMethod` smarter. Where it tries every "known language" using a reflection module specifically

[2022-05-06 13:45] sbrannen opened #2910 "Make `@Order` a stable API"
### Discussed in https://github.com/junit-team/junit5/discussions/2909

<div type='discussions-op-text'>

<sup>Originally posted by **skohlmann** May  6, 2022</sup>
Hi,

the [`@Order`](https://github.com/junit-team/junit5/blob/r5.8.2/junit-jupiter-api/src/main/java/org/junit/jupiter/api/Order.java) annotation is marked as `EXPERIMENTAL` where the type annotation value `OrderAnnotation` implementat

[2022-05-07 07:59] jlink commented on #2748
I'd advise against that. Having seen the slow uptake of the current platform API by many tools it would probably take years.

Don't forget that it's not just `MethodSelector.lazyLoadJavaMethod` but also `MethodSource.getMethodName()` and maybe a few other places. There are at least two ways how the problem reveals itself in the first place:

1. The caller (e.g. IDE) uses the JVM bytecode method (`

[2022-05-09 12:51] arturmkr opened #2911 "Support instance fields as source for `@ValueSource`"
Having following code:

[code]

I would like to pass into `testCar()` method objects `carOne` and `carTwo` using `@ValueSource`.

Currently, there is no such option.

I have to create separate method, which returns `Stream<Arguments>` with `carOne` and `carTwo`.

It would be great to have an option to specify objects using `@ValueSource`, without creating additional method, something like this: `@

[2022-05-09 13:43] alopukhov opened #2912 "Open up ExecutionRequest creation for external usage"
Currently I'm working on a test engine that delegates work to other test engines.

Everything works great, except I have to use `ExecutionRequest`'s constructor which is marked as internal.

https://github.com/junit-team/junit5/blob/80bf93fd3cb841e76fc017dc759d8ef0df158d49/junit-platform-engine/src/main/java/org/junit/platform/engine/ExecutionRequest.java#L39-L41

So please add a _public_ way to i

[2022-05-09 15:51] sbrannen commented on #2912
We cannot replace the class with an interface since it is an existing public type, but we could consider creating a static factory method for creating an instance of `ExecutionRequest` (if we don't make the existing constructor a public API).

Could you please expound on that?

[2022-05-09 15:59] sbrannen commented on #2911
That's unfortunately not possible in Java: annotation attributes cannot reference fields.

What about straightforward use of `@MethodSource` as in the following?

[code]

[2022-05-09 17:47] alopukhov commented on #2912
Thanks for responce @sbrannen

I mean testing test engines like this:
[code]
In a ways similar to:
https://github.com/junit-team/junit5/blob/80bf93fd3cb841e76fc017dc759d8ef0df158d49/junit-vintage-engine/src/test/java/org/junit/vintage/engine/VintageTestEngineExecutionTests.java#L797-L803

[2022-05-09 18:21] sbrannen commented on #2912
Thanks for the feedback, @alopukhov.

We'll discuss this within the team.

[2022-05-10 11:40] juriad commented on #2390
I disagree with closing this as a duplicate. The referred issue does not deal with packages - it only concerns finding annotations.

Let's imagine two packages and a class in each:
[code]

We can then write a table of expected behavior based on the modifiers:

Sub \ Sup | public | protected | none | private
-- | -- | -- | -- | --
public | Before in Sub<br>Test | Before in Sub<br>Test | Before in S

[2022-05-11 09:56] juliette-derancourt commented on #2869
@sbrannen thanks for the reminder! ;)

@elonderin you're welcome, thanks for noticing the issue :)

[2022-05-11 09:56] #2869 closed

[2022-05-12 19:12] juriad opened #2914 "Private lifecycle methods should cause an exception"
The JavaDoc contains the following sentences:

Private methods are executed, even though they should not be (?). The JavaDoc prohibits private methods but does not explain what will happen.

Java defines overriding methods as: https://docs.oracle.com/javase/specs/jls/se8/html/jls-8.html#jls-8.4.8.1, the JavaDoc uses the term "overridden" with a different meaning than Java. JLS even says:

In the p

[2022-05-13 03:04] lwl5219 commented on #2841
Hi @jbduncan
Thanks for your solution.
Is there a way to overwrite the value of `@Timeout` in the method or class? I want to set a different timeout for varieties `@Tag`. For example, I want to set a longer timeout or ignore the timeout in class for all tests with the performance tag.
[code]

[2022-05-13 03:16] ctubbsii commented on #2841
Hi @lwl5219 ; We ended up solving this with the following code:
 https://github.com/apache/accumulo/blob/b00c6d216bca33330755bd0d1fdc26518ae99a59/test/src/main/java/org/apache/accumulo/harness/AccumuloITBase.java#L116-L136

We put this in a common base class for a lot of our tests. You could do the same thing, but instead of reading from a method, you can check the class for an annotation.

[2022-05-13 04:17] lwl5219 commented on #2841
Hi @ctubbsii , Thanks for your example. It works if we get the timeout or timeout factor from other mechanisms instead of `@Timeout` annotation. But the situation is different in our project. All test classes inherit from a common base class, too. We set different values for a test class via `@Timeout`. The `@Timeout` cannot be removed due to some reasons. And we also put tests with performance ta

[2022-05-13 04:41] ctubbsii commented on #2841
Ah, I can't see how to do it if you have that restriction.

[2022-05-13 06:22] thomaszub opened #2915 "assertIterableEquals: StackOverflow for self-iterating Iterable"
`assertIterableEquals`can lead to a StackOverflowError for `Path` or general for `Iterable` that iterates over itself. This is similar to the issue #2157. The PR to this issue fixes the success case only.

I created a PR with a possible fix and test.

## Steps to reproduce

[code]
## Context

 - Used versions (Jupiter/Vintage/Platform): junit-jupiter-api/junit-jupiter-engine 5.8.2
 - Build Tool/ID

[2022-05-13 10:59] marcphilipp commented on #2841
**Team decision:** The `@Timeout` annotation and related configuration parameters could be extended to allow configuring a "provider" of timeouts that could take env variables etc. into account. However, at this time, we're not convinced how generally useful this would be. Therefore, this issue is now "waiting-for-interest" and 👍 reactions can be used to vote for it.

[2022-05-13 11:01] #2191 closed

[2022-05-13 16:54] wyhasany commented on #1558
It passed more then 3 years and there is no reliable solution to retry `@ParameterizedTest` or `@TestFactory`. There are only ones working with build tools (surefire for maven and gradle retry plugin). Maybe console-launcher could be configurable to rerun failing tests?

[2022-05-13 19:13] akozlova commented on #2610
sorry, missed the initial comment. No, I don't think that in IJ we would like to separate this kind of test failures with a separate icon.

[2022-05-15 12:26] Cody-Banks7 commented on #2661
I think it's a quite interesting idea. I would like to try to implement it.

[2022-05-15 13:18] sbrannen commented on #2610
Thanks for the feedback, @akozlova.

In light of that and lack of community interest in such a feature, I am closing this issue.

[2022-05-15 17:06] #373 closed

[2022-05-16 10:48] sbrannen commented on #2914
Quoting my previous feedback in https://github.com/junit-team/junit5/issues/2390#issuecomment-1122362416:

With regard to private methods, those should not be executed. So that sounds like a bug.

With regard to the use of the term "overridden", the documentation should likely be updated to say "overridden or shadowed".

[2022-05-16 11:01] #2610 closed

[2022-05-19 08:42] ZeroOne3010 opened #2919 "Failed assumption in @BeforeEach gets suppressed by exception in @AfterEach"
Greetings! I tried to conditionally suspend a set of tests by adding a failing assumption into a method annotated with the `@BeforeEach` annotation, but much to my surprise the test set failed anyway. Taking a closer look revealed the it was due to an `@AfterEach` annotated method throwing an exception and suppressing the `TestAbortedException` thrown by `@BeforeEach`.

## Steps to reproduce

Plea

[2022-05-20 08:54] sbrannen commented on #2919
This is the expected behavior. See #1313 for details.

In JUnit Jupiter we follow a simple rule when deciding if "after" lifecycle methods get invoked: if any "before" lifecycle method at the same level was invoked, Jupiter invokes all "after" lifecycle methods at the same level.

The rationale is that "before" lifecycle methods may set up something in the environment (for example, file system, da

[2022-05-20 08:54] #2919 closed

[2022-05-20 10:11] marcphilipp opened #2920 "Ask IntelliJ to add `IterationSelector` support"
In https://github.com/junit-team/junit5/issues/2738, `IterationSelector` was introduced to allow IDEs to let users select which iterations of another selector, e.g. a test method, they would like to execute. We should open a feature request for IntelliJ IDEA to add support now that 5.9 M1 is released.

[2022-05-20 10:23] marcphilipp commented on #2914
**Team decision:** Throw an exception when encountering them similar to what is done when they're static.

**Team decision:** Clarify documentation.

[2022-05-20 10:32] marcphilipp commented on #2912
**Team decision:** Introduce `ExecutionRequest.create` factory method.

[2022-05-20 10:38] marcphilipp commented on #2661
@Cody-Banks7 Thanks for the PR but we'd first need to understand the use case so we can ensure the new APIs actually meet the requirements.

@Cody-Banks7 @BerndFarkaDyna Could you please elaborate?

[2022-05-20 10:44] marcphilipp commented on #2911
**Team decision:** We think the current built-in possibilities of providing sources are sufficient. You could create your own `@FieldSource` annotation and `ArgumentsProvider` implementation or use dynamic tests.

[2022-05-20 10:44] #2911 closed

[2022-05-22 15:24] juliette-derancourt commented on #2891
Issue submitted: https://youtrack.jetbrains.com/issue/IDEA-294488

[2022-05-22 15:24] #2891 closed

[2022-05-22 15:39] juliette-derancourt opened #2924 "Introduce TestSourceLocator for DynamicTests"
_This issue has been created following @ST-DDT's pull request #2431._

## Overview

With dynamic tests in large classes (`TestClass`) it is difficult to find out where they were actually defined.
The containing/declaring method (`testMethod()`) helps to get a rough understanding of the source of the test and assertion stacktrace shows where it went wrong, but dynamic tests are meant to test differ

[2022-05-23 05:30] scordio commented on #2400
@marcphilipp @sbrannen is this up for grabs? I would like to work on it if that's fine with you.

[2022-05-23 08:17] Akaame commented on #2470
`junit.jupiter.extensions.autodetection.enabled` gets us the registration of auto-detected extensions (and default extensions):

https://github.com/junit-team/junit5/blob/e69243ae0f3c68f07d075ac3901c98c375d040f0/junit-jupiter-engine/src/main/java/org/junit/jupiter/engine/extension/MutableExtensionRegistry.java#L70

I think a solution would be rolling out a custom implementation of `ConfigurationPa

[2022-05-23 17:25] Akaame commented on #2855
From what I have gathered from your post, you need conditions that act on results `GraphicsEnvironment.isHeadless`. Here is what I have come up with.

Listings:

`DisabledOnHeadlessEnvironment.java`

[code]

`DisabledOnHeadlessEnvironmentCondition.java`
[code]

`EnabledOnHeadlessEnvironment.java`
[code]

`EnabledOnHeadlessEnvironmentCondition.java`
[code]

Simple manual testing says that this hold

[2022-05-24 02:37] joshgold22 commented on #2256
@marcphilipp I would suggest adding a case for when the parameter list is empty, to avoid getting an array with a single null entry.  Perhaps there's a cleaner way, but I used:

        if (result.length == 1 && result[0] == null) {
            return Array.newInstance(componentType, 0);
        }
        return result;

[2022-05-24 09:37] sbrannen commented on #2855
Please note that `GraphicsEnvironment` is part of the `java.desktop` module and is not guaranteed to always be present in the runtime environment for Java 9+.

In any case, if you know that `GraphicsEnvironment` is available have you tried using the following?

[code]

[2022-05-24 09:46] sormuras commented on #2855
The absence of module `java.desktop` could be mapped to the meaning of being headless, not?

[2022-05-24 10:49] sbrannen commented on #2855
Probably, but then a simple `@DisabledIf` declaration pointing statically to `java.awt.GraphicsEnvironment` wouldn't always work post Java 9, in which case you'd need a dedicated extension to check whether the `GraphicsEnvironment` class can be loaded.

[2022-05-24 21:19] pbludov commented on #2855
Yes, this works fine, but only for methods (tested with JUnit 5.8.2, openjdk 17.0.3):

[code]

[2022-05-25 10:07] sbrannen commented on #2855
I cannot reproduce that.

If I run both of those test classes with `-Djava.awt.headless=true`, then `method1` in `SomeTest` is skipped as well as the entire `SomeOtherTest` class.

[2022-05-25 14:32] YuanPeiqi opened #2925 "Allow `@RepeatedTest` to stop after a certain number of failures"
This idea is similar to [issue #2119](https://github.com/junit-team/junit5/issues/2119)

I think the function mentioned in [issue #2119](https://github.com/junit-team/junit5/issues/2119) could be extended to allow users to define tolerable number of failures, by introduce something like `tolerableFailureNumber` attribute (which is an `integer`)

[code]

This can not only fulfill the requirements i

[2022-05-25 20:51] mpkorstanje commented on #2925
I'm not part of the JUnit team. I'm commenting as a contributor to both Cucumber and JUnit. Cucumber has had this feature in some implementations and it is decidedly less trivial then it seems.

Fundamentally it opens three questions, 1) what is considered a failure of a test, and 2) how are the attempts reported, and 3) how does a test continue with the next attempt.

Given a test is repeated N t

[2022-05-25 21:05] mpkorstanje commented on #2119
Currently repeated test can be represented as individual tests. However failing early changes the semantics significantly.  This introduces the concept of an "attempt" which is effectively a sub-test entity.

This has provided some unresolved conceptual difficulty in Cucumber. I've written more about it here: https://github.com/junit-team/junit5/issues/2925#issuecomment-1137837182

So I would stro

[2022-05-27 09:52] KeatsPeeks commented on #944
It's rather infortunate that many years in, Junit 5 still can't do everything that JUnit 4 could.

You can work around this by calling a setup method manually, or creating a (complex) ParameterResolver.

[2022-05-27 10:04] kishoretak commented on #2229
@marcphilipp As you suggested running test classes in parallel with Vintage Engine is straightforward and the same is working fine. Is there any suggestion for running the test methods from the same class in parallel? I tried the solution mentioned [here](https://github.com/junit-team/junit5/pull/2449) but it only supports test classes in parallel.

[2022-05-27 13:10] HeaDHeaD0820 opened #2926 "Add Assumptions.assumeInstanceOf"
Similar to the case descirbed in [issue #2482](https://github.com/junit-team/junit5/issues/2482), I also hope to skip large tests if the target object is even not of expected type, I suggest that ``assumeInstanceOf`` should be introduced.

Before conducting further tests, a validation for expected type with ``assumeInstanceOf`` can skip the tests that produce an unneccessary exception due to the w

[2022-05-27 14:38] XIANY1203 commented on #2878
May I try?

[2022-05-28 21:13] fll02020 opened #2930 "Add a parameter to allow @TestMethodOrder to enforce unique order"
I encountered the same problem as #2757 , in some scenarios I hope that the order I fill in is different, but in fact when faced with a large number of tests, sometimes I can't guarantee this, so I hope to get a boolean switch to detect all of this. At the same time I don't want to do it by adding a class as described in the previous issue, because it actually means that if I have other sorting me

[2022-05-29 11:46] pbludov commented on #2855
My bad. The actual class I tested was [this one](https://github.com/checkstyle/checkstyle/blob/399f1b48b79731d65e824eb927971ef6174c3463/src/test/java/com/puppycrawl/tools/checkstyle/AbstractGuiTestSupport.java#L33):
[code]

Changing this to
[code]
does not work. But this one works fine

[code]

I must admit that proposed solution,
`@DisabledIf(value = "java.awt.GraphicsEnvironment#isHeadless", dis

[2022-05-29 16:07] sbrannen commented on #2855
That's because JUnit Jupiter enabled/disabled annotations are not `@Inherited`. Thus, the declaration on `AbstractGuiTestSupport` is ignored when conditions are evaluated for `MainFrameTest`.

In other words, annotations like `@DisableIf` must be declared locally on the test class to which they apply.

[2022-05-29 16:09] sbrannen opened #2933 "Add @DisabledIf example for headless environments to User Guide"
Add `@DisabledIf(value = "java.awt.GraphicsEnvironment#isHeadless", disabledReason = "headless environment")` as an example in the User Guide.

We could consider adding `@EnabledIf` and `@DisabledIf` examples side by side for comparison.

See #2855 for background.

[2022-05-29 16:10] sbrannen commented on #2855
Very glad to hear that.

I agree. I light of that, this issue is superseded by #2933.

[2022-05-29 16:10] #2855 closed

[2022-05-31 01:13] drekbour commented on #2850
I've tried this and neither `PostDiscoveryFilter` nor `ExecutionCondition` get called per dynamic-test. The new `IterationSelector` https://github.com/junit-team/junit5/pull/2743 is not suitable in this usecase (or mine).

Our usecases both entail a list of `uniqueId` to allow/block as we choose. The key aspect here is that `uniqueId` is opaque.  We previously observed some `uniqueId` and in futur

[2022-05-31 01:15] drekbour commented on #2850
Ps. I could not register `ExecutionCondition` via `ServiceLoader` as I could with `PostDiscoveryFilter`. Is that not allowed (it is an `Extension` so I expected it to work)?

[2022-05-31 06:15] toolateitsme commented on #2850
@drekbour I Know a solution how to start iteration via `ExecutionCondition`

And when you have to autoload some JUnit5 features (Extensions, Listeners) - you have to declare a file with a name equal to FQDN package

ex: when you need to autoload some custom `Extension` - just create a file in *resources/META-INF/services* with name
*org.junit.jupiter.api.extension.Extension* , then declare a FQDN

[2022-06-02 15:16] ST-DDT commented on #378
I like that approach, but for the container it must be clear, whether the before will be `beforeAll` or `beforeEach` (same for after).

[2022-06-02 17:31] Druckles commented on #378
Having thought about it, I would argue that one doesn't need the concept of all/each in this context. It is always before or after whatever container you added it to.

This is equivalent to a `beforeAll`, but the term doesn't make sense semantically on a single node. I.e.

[code]

is misleading (as there's only one test).

And to do the equivalent of a `@BeforeEach`, you can:

[code]

[2022-06-02 18:19] ST-DDT commented on #378
@Druckles Just to confirm, is your api call stored in a new field or is it used to mutate the test instance?

- New field => requires usage changes for the test runners.
- Mutates instance => its only syntactic sugar

If it's only syntactic sugar, I don't see a reason, why I should call before manually for all instances/map them myself.

[2022-06-03 06:55] t1 commented on #378
Just a hint: I found `@Nested` classes a useful solution for grouping test setup/teardown.

[2022-06-03 10:38] marcphilipp commented on #2850
@drekbour Have you tried using `UniqueIdSelectors` for this?

[2022-06-03 10:45] marcphilipp commented on #2926
**Team decision:** Thanks for the proposal but we think `assumeTrue(o instanceof Foo)` is sufficiently short. If you need this a lot we recommend adding a custom assumption method to your project.

[2022-06-03 10:45] #2926 closed

[2022-06-03 11:47] drekbour commented on #2850
Not got a computer near to test but will that Selector allow _exclusion_. My usecase is retaining a small list of good UniqueId from a large data-driven set of generated tests. I want to exclude others by omission . GP wants an explicit deny list (probably of failed tests).

[2022-06-05 14:09] #2933 closed

[2022-06-07 09:23] frankbenoit opened #2938 "Hook before timeout exception is started by calling interrupt()"
The problem: When having sporadic timeout exceptions, it is hard to tell from the stacktrace where the code was hanging.
A debugger might not be available (sporadic, on build system)
Also the stackdump of other threads might be very helpful, because the timeout might be caused by other threads activity or dead lock.

An own extension seems to be not reasonable, as the timeout control also from mav

[2022-06-09 23:50] gregw opened #2942 "The thread context classloader is not reset between tests"
version junit 5.8.2

## Steps to reproduce

If a test that passes leaves the thread context classloader set, it may break a subsequent test, which itself passes if run by itself.   For example:

[code]

Both `testA` and `testB` pass if run by themselves, but if run together, then the second always fails.

I tried a similar test with the thread interrupted status and noted that we reset between tes

[2022-06-10 13:42] delanym commented on #2159
Do I need to modify all my @TempDir annotations or is there a global property I can set via surefire-plugin to set the default cleanup mode?

[2022-06-11 14:02] sbrannen commented on #2942
That was addressed in #1688.

I honestly don't recall exactly. We may have discussed that and came to that conclusion, but I cannot find a related issue either.

These are the major open issues regarding class loaders:

- #201
- #806

[2022-06-11 14:05] sbrannen commented on #2942
Actually, I found the other issue:

- #1799

I'm therefore closing this issue as a duplicate.

[2022-06-11 14:05] #2942 closed

[2022-06-11 14:07] sbrannen commented on #1799
Reopening in light of #2942 and https://github.com/junit-team/junit5/issues/1799#issuecomment-470903309.

[2022-06-13 07:08] delanym commented on #2159
@sbrannen if a tempdir is created and left on disk, it would be nice to have its path in the build log.

I set my test to fail and added surefire config

[code]

The directories remain after the tests. But if I set it to **ON_SUCCESS** or **on_success** the directory is always removed.

[2022-06-13 16:30] sbrannen commented on #2159
That sounds like the expected behavior (for successful tests).

Or are you stating something else?

That should already be the case:

https://github.com/junit-team/junit5/blob/8685a6a7dc7104cac43553a83da81b93e65b33b4/junit-jupiter-engine/src/main/java/org/junit/jupiter/engine/extension/TempDirectory.java#L240-L244

Have you set the appropriate log category to `INFO`?

[2022-06-14 10:03] sbrannen commented on #2159
Thanks for the feedback, @delanym.

Since _this_ issue is closed, please [open a new issue to report that bug](https://github.com/junit-team/junit5/issues/new?assignees=&labels=&template=bug_report.md).

With regard to the logging, you'll need to find out how to set the `org.junit.jupiter.engine.extension` (or `org.junit.jupiter.engine.extension.TempDirectory.CloseablePath`) category to `INFO`. Pl

[2022-06-14 19:42] stoyanK7 commented on #2669
@bondolo Just made a table with the relevant properties, description, accepted values and default value. Is this what you envisioned?

[2022-06-14 20:30] stoyanK7 commented on #2826
@jabby I believe this is a better explanation. What do you think?

[2022-06-14 22:46] jabby commented on #2826
Looks good to me. I'm not fluent in english but I think it's a better explanation of how LauncherSessionListener works.

[2022-06-15 17:50] stoyanK7 commented on #2826
Now that I am reading my explanation a second time, I think the order of the notifications is unclear. Explicitly stating what is happening might be the best way to understand it. Such as

[2022-06-15 20:06] newcron commented on #1724
hey there, also stumbled upon it. same issue: trying to package dependencies via the spring boot fat jar packager to run integration tests in a kubernetes cluster.

I know, the problem does not exist when using other build plugins (e.g. maven shade plugin or assembly plugin). However, these plugins add quite a bit to the build time. The spring plugin is literally over 20x faster when assembling a

[2022-06-16 06:42] jmfayard commented on #1914
This is a recurrent source of bugs for us.
A correct test that test a buggy piece of production code get ignored because of this.
Would be nice to see junit supports this.
In the meantime, I opeend a ticket to prevent IntelliJ users against that mistake

https://youtrack.jetbrains.com/issue/KT-52818/Provide-a-quick-fix-against-using-suspending-functions-in-Unit-Test

[2022-06-16 08:59] HeaDHeaD0820 commented on #2926
Thanks! That makes sense : )

[2022-06-16 17:13] bondolo commented on #2669
@stoyanK7 Yes, that is helpful!

[2022-06-16 19:00] gilbertojrequena commented on #2087
I'm spending some time on this issue. I will create a PR soon.

[2022-06-18 14:25] #2912 closed

[2022-06-19 13:09] marcphilipp commented on #2738
Follow-up issue: #2920

[2022-06-19 13:10] marcphilipp commented on #2920
Done in https://youtrack.jetbrains.com/issue/IDEA-296321/Add-support-for-selecting-iterations-of-parameterizeddata-driven-test-methods.

[2022-06-19 13:10] #2920 closed

[2022-06-19 13:12] #2915 closed

[2022-06-19 13:23] marcphilipp commented on #2826
@jabby I cloned your sample project, updated Surefire and Failsafe to 3.0.0-M6/M7, and added another test class. It now prints:

[code]

This was changed in https://issues.apache.org/jira/browse/SUREFIRE-1935 for 3.0.0-M6

[2022-06-19 13:58] #2826 closed

[2022-06-19 20:02] sormuras commented on #2565
Might have been addressed/superseded by https://github.com/junit-team/junit5/pull/2882

[2022-06-19 22:04] spags-twilio commented on #1767
Hi. I wanted to check in if there is any update or concerns? This is one of the features available in TestNG that I miss when working in JUnit5. It helps isolate problems in tests when you have good dependency management.

[2022-06-20 02:37] kriegfrj commented on #1444
I'm still interested in this one. Haven't given up on the long-term AssertJ plan.

Pinging @joel-costigliola, @scordio from the AssertJ team. I will raise an issue there too and link it to this one.

[2022-06-20 05:36] vlsi commented on #1444
I wonder if generating tests during test execution will be compatible with "restart test from IDE", "run specific test from command line", "filter tests by tag".

[2022-06-20 07:51] #2905 closed

[2022-06-20 18:22] sbrannen commented on #2565
seems plausible

[2022-06-20 19:51] ephemient commented on #1866
Please do this.

[2022-06-21 02:06] ephemient commented on #1914
I have discovered a way to make suspend work with JUnit Jupiter tests by bridging them through a `@TestTemplate`.
https://gist.github.com/ephemient/01d6e5766e6f8ea02839b4d7c3f94e55
However, this is not ideal as it doesn't play well with other extensions (e.g. #378).
There really needs to be either better extension points or built-in support for this.

[2022-06-21 05:27] yschimke commented on #1963
@marcphilipp does remove from General Backlog mean this is closed as won't fix?

[2022-06-21 15:37] sbrannen commented on #1963
No. It's currently in the `status: waiting-for-interest` bucket. Otherwise, the team would have officially closed it.

[2022-06-21 18:36] marcphilipp opened #2950 "Fix inefficient regular expression in ReflectionUtils"
<img width="904" alt="image" src="https://user-images.githubusercontent.com/214207/175013702-508a72b8-ad7a-416d-8263-4c20b4518230.png">

Tracking issue for:
- [ ] https://github.com/junit-team/junit5/security/code-scanning/1

[2022-06-22 06:35] oscargolding opened #2952 "java.nio.file.FileSystemAlreadyExistsException during test discovery"
When using JUnit 5 (and also 4) with version `1.8.2` for the launcher and `5.8.2` for `jupiter` I have been observing the presence of the following warning: `WARNING: Error scanning files for URI jar: ...` followed immediately by `java.nio.file.FileSystemAlreadyExistsException` emitted from the JUnit code `jdk.zipfs/jdk.nio.zipfs.ZipFileSystemProvider.newFileSystem(ZipFileSystemProvider.java:102)`

[2022-06-22 06:57] sormuras commented on #2952
An interesting use-case and thanks for raising this issue.

Seems like the code should first call [FileSystem.getFileSystem(URI)](https://docs.oracle.com/javase/8/docs/api/java/nio/file/FileSystems.html#getFileSystem-java.net.URI-) in order to check whether a file system was already created for the passed URI. Not sure though, how the requested `CloseablePath` instance should be treated: ignore/di

[2022-06-22 07:16] marcphilipp commented on #2952
Could you please elaborate? Are you running the same set of tests concurrently or repeatedly?

[2022-06-22 08:38] oscargolding commented on #2952
Thanks for the quick response. I am running the same set of tests concurrently (this is a hard requirement for my application). I believe if the tests are run in a single threaded environment this issue does not happen.

I did try modifying the JUnit source code to first call `Filesystem.getFileSystem(URI)` when the filesystem already exists. What I found was that there was a subsequent race condi

[2022-06-22 11:05] marcphilipp commented on #2950
https://github.com/junit-team/junit5/blob/5451651b16e5714bad4b89326696012b215c1ccd/junit-platform-commons/src/main/java/org/junit/platform/commons/util/ReflectionUtils.java#L118

[2022-06-22 11:51] sbrannen commented on #2950
It turns out that we can use a [possessive quantifier](https://www.regular-expressions.info/possessive.html) to address the issue, and we should be expecting a PR from @michael-simons.

[2022-06-22 12:00] sewe commented on #1991
Still interested in this, as `@Nested` tests are great, but the set up tax we have to pay for them is rather expensive. So I would really appreciate if this could at least be discussed. If you then say "this is too tricky to implement and/or overly complicated," then fine, so be it.

[2022-06-22 13:48] #2950 closed

[2022-06-22 17:06] wangyihong-yvonne commented on #944
Any instruction on how to create ParameterResolver?

[2022-06-22 17:09] leonard84 commented on #2038
@marcphilipp I thin this can be closed as it has been fixed by my PR AFAIK.

[2022-06-22 17:11] leonard84 commented on #1722
It would still be helpful to have access to the `Store` classes via the platform.

[2022-06-22 17:12] leonard84 commented on #90
I'd say it is still relevant

[2022-06-23 07:45] marcphilipp commented on #2952
What's the use case for that? Why would you run the same tests multiple times concurrently?

[2022-06-23 08:24] oscargolding commented on #2952
I am trying to run JUnit tests at a high load, without having to go through the effort of having to rewrite the tests. I also want to use the JUnit listeners that are provided for each test execution to get summary data on the number of tests which are passing / failing / started.

Similar to my response above, I need concurrency to generate a sufficient level of load to run these tests at. Some o

[2022-06-24 06:01] marcphilipp commented on #2952
@oscargolding Thanks for elaborating! I wonder if you could avoid this situation by only calling `Launcher.discover` with classpath scanning once, inspecting the returned test plan, creating a new discovery request with class or unique id selectors, and using that one for all subsequent, concurrent calls to `Launcher.execute`. Would that work for you?

[2022-06-24 08:43] sormuras commented on #2952
@mpkorstanje Yes, came to the same conclusion checking your second scenario with a trivial `CloseablePath` instance caching via:

[code]

[2022-06-24 16:47] prepstarr opened #2954 "The JUnit 5 build must be executed with Java 17. Currently executing with Java 18."
## Steps to reproduce

follow the instructions, prompts and suggestions of java to upgrade to the latest version and then after try to install JUNIT.

## Context

It's only natural that a programmer would want to be up to date , there may be a way that JUnit could be structured that it still functions with a latest version of Java even if it is not kept up to date.

[2022-06-24 18:38] sbrannen commented on #2954
That's not always possible. In fact it's probably impossible.

The build relies on tools being able to support new versions of Java.

For example, if the version of Gradle in use does not support Java 18, then Java 18 is not an option for running the build.

See the [Gradle compatibility matrix](https://docs.gradle.org/current/userguide/compatibility.html) for details.

Note, however, that we alre

[2022-06-24 18:38] #2954 closed

[2022-06-25 17:07] marcphilipp commented on #2952
Engines _should_ support that fully. Which engines are you using?

[2022-06-26 08:31] #2205 closed

[2022-06-26 11:08] #2952 closed

[2022-06-26 11:14] marcphilipp commented on #2038
Duplicate of #2423

[2022-06-26 11:14] #2038 closed

[2022-06-26 14:23] #2087 closed

[2022-06-26 14:24] marcphilipp commented on #2565
Superseded by #2882

[2022-06-26 14:24] #2565 closed

[2022-06-27 09:38] oscargolding commented on #2952
I am using the JUnit Jupiter Engine. It looks like it supports what you suggest.

[2022-06-27 12:43] ivoanjo commented on #1736
Would still be nice to have this!

[2022-06-28 10:15] gilbertojrequena commented on #1736
This seems like an interesting feature, I would spend some time on it, if the team makes a decision on it.

[2022-06-28 10:36] marcphilipp commented on #2952
@oscargolding Yes, it does. I fixed the race condition in #2956. If you're up for it, please try using the latest snapshots.

[2022-07-01 06:48] #2594 closed

[2022-07-01 06:48] #1372 closed

[2022-07-01 07:08] jbduncan commented on #938
I'm still interested in contributing this eventually.

[2022-07-01 07:09] jbduncan commented on #282
This still seems somewhat useful to me.

[2022-07-01 07:12] jbduncan commented on #981
This might still be a useful issue to keep open?

[2022-07-01 07:16] jbduncan commented on #607
This issue still sounds potentially useful as an extension to #48.

[2022-07-01 12:26] #2820 closed

[2022-07-01 13:46] kuniss commented on #1838
Just for better argumentation:
This would really be a helpful feature as not all tests run such fast as the unit test theory intends it. 😄
E.g., we have JUnit tests which run against HW devices which are quite slow. Having the possibility to re-run failed tests only would make our development faster in the sense of getting less and less failed test and finally make a re-run for all.

[2022-07-02 13:27] #2848 closed

[2022-07-03 00:58] igilbert commented on #48
Note that the workaround offered by StopOnFirstFailureExtension is quite different with inter-test dependency. The latter should work like this: when running a step3 test, its dependence tests would run as well.
this happens when debugging step3 test, while the workaround would not run step1-2 tests at all.

[2022-07-03 01:08] igilbert commented on #607
#48 proposal does not state the "strong" inter-test dependency, which means when running a step3 test, its dependence tests would run as well.
Considering the scenoria of debugging the step3 test,  a ordering mechanism would not run step1-2 tests at all. However, depend mechanism would run step1-2 tests.  This is what is badlly needed in integration test.

[2022-07-04 07:33] #2914 closed

[2022-07-05 05:32] MeravYa opened #2963 "Adding org.junit.platform:junit-platform-console-standalone dependency causes failure in tests discovery"
JUnit 5 version: 5.7.0

When adding org.junit.platform:junit-platform-console-standalone dependency (runtimeOnly), we get a failure in tests discovery (when running on intellij):
org.junit.platform.commons.JUnitException: TestEngine with ID 'junit-jupiter' failed to discover tests

(Once we remove this dependency - tests are running as expected)
Please advise how to overcome this.

Thanks

[2022-07-05 06:22] marcphilipp commented on #2963
@MeravYa Could you please provide more details? Why are you adding `junit-platform-console-standalone`? What does the exception look like?

[2022-07-05 06:28] MeravYa commented on #2963
Sure, we are executing our tests on docker image. Inside the image we are using the Junit console standalone for executing the tests.
That's why we need to have this library jar inside of the project distribution.

Following is the exception:
Internal Error occurred.
org.junit.platform.commons.JUnitException: TestEngine with ID 'junit-jupiter' failed to discover tests
	at org.junit.platform.launch

[2022-07-05 09:43] sbrannen commented on #2963
This means that you have incompatible versions of JUnit artifacts on the class path.

`AnnotationUtils.findAnnotation(java.lang.Class, java.lang.Class, boolean)` was introduced in JUnit Platform 1.8 (JUnit 5.8).

Thus I assume your IDE is using JUnit 5.8; whereas, you have included JUnit 5.7 artifacts on the class path which override the dependencies needed by your IDE.

You need to ensure that yo

[2022-07-05 10:23] MeravYa commented on #2963
It solved the issue :)
Thank you for your support!

[2022-07-05 10:23] #2963 closed

[2022-07-05 11:28] sbrannen commented on #2963
Thanks for the feedback. Glad to hear that solved your issue.

[2022-07-05 12:16] jbee opened #2964 "Introduce assertEquals() variant with equality BiPredicate"
**Use case**: comparing to `BigDecimal`s for equality cannot rely on `equals` because mathematical equality is different from it being the exact same value with the same scale and precision.
On the other hand using
[code]
gives a quite uselss error message:

[code]
Even when using custom message `Supplier` we cannot fix the expected/actual output.

This is why it would be useful to have:

[code]
T

[2022-07-05 13:34] sbrannen commented on #2964
Thanks to the proposal, @jbee.

Please note that we do have `assertEquals` variants for `float` and `double` that accept a `delta`, but we do not plan to support any other such variants.

In line with other team decisions (see https://github.com/junit-team/junit5/issues/1920#issuecomment-499841520), we will not include the proposed assertions in JUnit Jupiter.

[2022-07-06 06:54] twwwt opened #2967 "The class org.junit.jupiter.api.AssertionUtils and its methods should be public"
For our own purposes, we have implemented additional assertion methods (`assert...(...)`) in a test utility class. Motivated by reusing existing functionality, this class makes use of the static methods of  `org.junit.jupiter.api.AssertionUtils`; mostly for throwing assertion errors and for formatting error messages. `AssertionUtils` and most of its methods, however, are package-protected. In orde

[2022-07-06 07:19] sormuras commented on #2967
Having and keeping internal utility classes/methods concealed was a design decision made on purpose. I don't think that will "make `org.junit.jupiter.api.AssertionUtils` public as well as all its methods that are currently package-"private.

As you noted, module `org.junit.platform.commons` exports its package `org.junit.platform.commons.support` with the following comment:

Perhaps something like

[2022-07-06 07:34] marcphilipp commented on #2967
Which of them are you using?

[2022-07-06 07:50] twwwt commented on #2967
[code]

`failNotEqual` has a rather large call tree.

[2022-07-06 07:53] jbee commented on #2967
:+1:

There is some logic in how values are formatted and printed which is inaccessible when building own assertions. To have the same logic applied it would be good to have some way to use these methods. But this could be done in a different way than exposing the utils. For example by exposing another method or exception that later is passing things through these utils.

[2022-07-06 19:05] d-william opened #2968 "DisplayNameGenerator methods should have class test instance as parameter"
Motivation :
Having this instance can be useful to generate dynamic display name.

Example :
[code]

Or maybe we could customize the DisplayNameGenerator via its constructor ?

[2022-07-06 19:12] d-william opened #2969 "DisplayNameGenerator methods should have the JupiterConfiguration as parameter"
Motivation :
Having the configuration can be useful to fallback on the default DisplayNameGenerator

Example :
[code]

[2022-07-07 05:42] marcphilipp commented on #2968
`DisplayNameGenerators` are called during the discovery phase. Test instances are only created during execution. Therefore, we cannot pass the test instance as a parameter.

[2022-07-07 05:42] #2968 closed

[2022-07-07 05:47] marcphilipp commented on #2969
`JupiterConfiguration` is an internal class in junit-jupiter-engine so it cannot be passed as-is to `DisplayNameGenerator` which is in junit-jupiter-api. But I can see that falling back to the default would be useful. I think the smallest API change would be to allow `DisplayNameGenerators` to return `null` which would then be checked in the engine code.

@d-william Would that work for you?

[2022-07-07 06:27] d-william commented on #2969
Yes 🙂

[2022-07-07 08:41] svenkost opened #2970 "New extension with test templates"
I'm creating an **extension** for running tests to different instances.

The test class has an annotation that has all information to discover which instances should be tested. The annotation is a consul service name. I discover all the instances with the ```BeforeAllCallback``` and save them for later in the store that is in the ```ExtensionContext```. (step 1)

The test class has a ```@TestTempl

[2022-07-07 17:09] guw opened #2971 "Report NoClassDefFoundError during test discovery as test failure"
When using the JUnit vintage engine in combination with Maven Surefire plugin it may happen that the test classpath is sometime incomplete. In our particular case some XML Unit classes were missing on the test classpath. A situation like this causes the Maven Surefire build to fail completely.

I think it would be better if the JUnit vintage engine instead catches a problem like this and reports i

[2022-07-07 18:32] marcphilipp commented on #2971
Why would that be better? Wouldn't a test failure also fail the Maven build?

[2022-07-07 18:58] guw commented on #2971
We are running Maven Surefire plug-in in a larger project separately from the main build due to scalability reasons. This may lead top situation when the main build (compile) works successfully and an incomplete test classpath goes unnoticed. Maven Surefire is configured to not fail the build in case of test failures. There is a separate process which takes the test results and bugs code owners di

[2022-07-08 11:07] marcphilipp commented on #2971
Since JUnit does not write the XML reports in your scenario, I think the issue needs to be solved in Surefire.

[2022-07-08 14:13] marcphilipp commented on #2969
**Team Decision:** Allow methods in `DisplayNameGenerator` to return `null` to signal to fall back to the default generator.

[2022-07-08 14:14] marcphilipp commented on #2969
@d-william Would you be interested in submitting a PR for this?

[2022-07-08 14:26] marcphilipp commented on #2971
**Team Decision:** We think the current behavior of failing on classpath misconfiguration is reasonable.

[2022-07-08 14:26] #2971 closed

[2022-07-08 15:01] marcphilipp commented on #2964
**Team Decision:** We think adding these methods might do more harm than good for the following reasons:

* What is checked depends on the implementation of the `BinaryPredicate` and JUnit cannot enforce that it is an equality check
* A `Bi(nary)Predicate` is not a `Matcher` and does not contribute to the failure message
* Readability of the assertion can be impaired, e.g. `assertEquals(4d, 4L, Bi

[2022-07-08 15:01] #2964 closed

[2022-07-08 15:15] marcphilipp commented on #2622
**Team Decision:** We think it should roughly look like the following:

[code]

@Michael1993 Are you still interested in this? If so, could you please submit a PR and change the internal implementations to use it?

[2022-07-08 16:24] jbee commented on #2964
I'll think you missed the point of
[code]
It is comparing a `double` with a `long` using the `doubleValue()`. This is just an example of how existing building blocks in the JRE can be used to build equality functions. Existing libraries would not support such a comparison because expected and actual are not of the same type.

[2022-07-08 17:59] scordio commented on #2964
Have you considered AssertJ's [`usingComparator`](https://www.javadoc.io/doc/org.assertj/assertj-core/latest/org/assertj/core/api/AbstractAssert.html#usingComparator(java.util.Comparator))? This usually gives enough flexibility for these use cases.

Considering your last example, this would work:

[code]

Interestingly enough, this doesn't:

[code]

I assume something goes wrong with generics sign

[2022-07-08 20:19] marcphilipp commented on #2969
@gilbertojrequena Go for it! 👍

[2022-07-09 09:02] d-william commented on #2969
Sorry for the late reply, I think I can handle it if it is still possible

[2022-07-09 12:40] gilbertojrequena commented on #2969
No worries, go ahead :)

[2022-07-09 12:44] gilbertojrequena commented on #2622
I could work on this if the OP is not interested in creating the PR.

[2022-07-09 12:47] Michael1993 commented on #2622
Go for it - I'm interested but don't really have free capacity at the moment.

[2022-07-10 13:31] marcphilipp commented on #2967
@twwwt @jbee Please see the API proposal in https://github.com/junit-team/junit5/pull/2972. Feedback appreciated!

[2022-07-11 07:57] twwwt commented on #2967
@marcphilipp Looks good to me.

Thanks for quickly adding this new class, and for integrating it already in the upcoming release!

[2022-07-11 07:59] marcphilipp commented on #2967
@twwwt Thanks for the feedback!

Reopening the issue since the corresponding PR is not yet merged.

[2022-07-11 12:17] SgtSilvio commented on #2037
randomly stumbled upon this. While one can workaround with `assertTimeoutPreemptively`, it would be great if extensions follow the same timeout principles of being able to configure global default timeouts and overwriting them on specific methods if necessary.
Currently it is not possible to avoid stuck CI builds entirely by defining global timeout properties and all extensions need to carefully i

[2022-07-11 16:23] SgtSilvio opened #2976 "Support timeouts for extensions"
As https://github.com/junit-team/junit5/issues/2037 was closed as stale and I did not want to ping a random person of the junit team there, I decided to create a new issue. Feel free to close this one and open the old one if you want to proceed the discussion there.

The feature request is to unify the definition of timeouts for extensions with the definition of timeouts in the test classes.
- Usi

[2022-07-11 20:21] #1779 closed

[2022-07-11 20:21] #1969 closed

[2022-07-11 20:21] #2002 closed

[2022-07-11 20:21] #2057 closed

[2022-07-11 20:21] #2243 closed

[2022-07-11 20:21] #1942 closed

[2022-07-11 20:31] vlsi commented on #2048
I believe it is still relevanr

[2022-07-11 20:47] ephemient opened #2977 "Why was #1866 closed by stalebot even though the issue was commented on?"
stalebot warning: https://github.com/junit-team/junit5/issues/1866#issuecomment-1159803398
comment to keep alive: https://github.com/junit-team/junit5/issues/1866#issuecomment-1160795948
stalebot close: https://github.com/junit-team/junit5/issues/1866#issuecomment-1180830211

[2022-07-11 22:13] jbduncan commented on #1907
This feedback is still worth acting upon, in my opinion. JUnit team, would you mind re-opening this issue?

[2022-07-11 22:15] jbduncan commented on #1444
JUnit 5 team, it looks like the stale bot forgot to remove the "stale" label for this issue and subsequently closed it too early. Would you mind re-opening it?

[2022-07-12 23:11] #580 closed

[2022-07-12 23:11] #1946 closed

[2022-07-12 23:11] #1604 closed

[2022-07-12 23:11] #1022 closed

[2022-07-12 23:11] #2344 closed

[2022-07-12 23:11] #2023 closed

[2022-07-12 23:11] #2401 closed

[2022-07-12 23:11] #1056 closed

[2022-07-12 23:11] #2345 closed

[2022-07-12 23:11] #1427 closed

[2022-07-13 10:36] jbduncan commented on #1477
This sounds useful to me, so I'm wondering if this issue should be re-opened?

[2022-07-13 10:38] jbduncan commented on #2539
The proposed documentation change sounds useful to me, so I wonder if this issue should be re-opened?

[2022-07-13 22:03] Marcono1234 commented on #2602
Unfortunately that does not seem to be possible, users seem to only be able to reopen issues if they closed them themselves. And at the moment stalebot does not provide a solution for that yet either, see https://github.com/probot/stale/pull/205.

Also for what it's worth, the current status of the stalebot app is not very clear, see https://github.com/probot/stale/issues/349 and https://github.co

[2022-07-14 17:42] kishoretak commented on #737
not completed

[2022-07-15 06:40] fan9704 opened #2979 "MockMvc Only Pass Get Method request other method(POST,PATCH,PUT,DELETE) denied"
My Unittest Code

[code]

----

The Testing Result of DELETE

----

[code]

But it is very strange Unittest only can access all the Get method but POST PUT PATCH DELETE cannot access all of them will reply 404

[2022-07-15 08:17] sbrannen commented on #2979
Thanks for getting in touch, but it feels like this is a question that would be better suited to [Stack Overflow](http://stackoverflow.com/).

In addition, this is the issue tracker for JUnit 5, not for the Spring Framework.

[2022-07-15 08:17] #2979 closed

[2022-07-15 18:05] nmck257 commented on #2811
Adding another diagnostic set, for what I expect is the same root issue:

JUnit version: 5.9.0-RC1
OS version: Microsoft Windows [Version 10.0.14393]
Stack Trace:
[code]
Test Code: https://github.com/openrewrite/rewrite/blob/ded5f0e65e17bfc338c2e5f498cc6ee6e591605c/rewrite-core/src/test/kotlin/org/openrewrite/marker/GitProvenanceTest.kt#L139-L171

/cc @jkschneider

[2022-07-17 16:27] #2967 closed

[2022-07-24 12:32] mpkorstanje opened #2982 "Execution mode is needlessly c"
## Step to reproduce

Originally reported at: https://github.com/cucumber/cucumber-jvm/issues/2589.

Given a tree of test descriptors where one test declares a global resource lock:

[code]

When executed in parallel `Container A` is executed with `ExecutionMode.SAME_THREAD`. This reduces the efficiency of parallel execution somewhat as the serial part of the execution now also includes tests 2 an

[2022-07-25 09:24] jflorez-planittesting opened #2983 "passing parameterised test arguments into @BeforeEach fails when run in parallel"
junit-version: 5.8.2
junit-launcher-version: 1.8.2

I'm using the solution from https://code-case.hashnode.dev/how-to-pass-parameterized-test-parameters-to-beforeeachaftereach-method-in-junit5 to pass @ParameterizedTest arguments into @BeforeEach

I'm doing this to be able to create a test where I can use an annotation to specify one or more browsers for a selenium test.
Full code can be found her

[2022-07-25 15:33] AdrienHorgnies commented on #2088
I'm setting the property using the command line of Maven `-Djava.io.tmpdir=/tmp/parentdir/` and `@TmpDir` doesn't honor the property.

I have a test where I inject the temporary directory by annotating a parameter with `@TempDir` and the parent of this parameter is not `System.getProperty("java.io.tmpdir")`. Instead, the parent is `/tmp`.

I'm surprised, as it seems the advice @marcphilipp gave sh

[2022-07-26 12:56] priyda opened #2984 "Bazel build support in user guide"
## Overview
Hi,

I want to draw attention to the build support provided by Junit 5 user guide.  I found that Bazel build support is missing in the user guide below section

https://junit.org/junit5/docs/current/user-guide/#running-tests-build

It would be great if we have Bazel also. Currently added in the documentation are Maven, Gradel and  Ant. It would be great if we have Bazel also

- ( ) **Q

[2022-07-26 15:45] marcphilipp commented on #2984
There's currently only a sample project: https://github.com/junit-team/junit5-samples/tree/main/junit5-jupiter-starter-bazel

[2022-07-26 15:48] marcphilipp commented on #2984
I've asked @shs96c in https://github.com/bazelbuild/rules_jvm_external/pull/629#issuecomment-1195620295 if he's willing to update that so we can remove some of the boilerplate.

[2022-07-26 22:38] #2657 closed

[2022-07-27 12:01] pandoras-toolbox opened #2988 "Can't transform to a Result of type javax.xml.transform.stax.StAXResult"
When I try to use the new Open Test report format of JUnit 5.9.0 this warning is displayed on console when starting tests:

The XML report file is created, but it does not contain anything in the events section.

I tried to reproduce it with the JUnit 5 sample project "junit5-jupiter-starter-gradle", but there it works as expected, meaning no warnings are printed to the console when starting the t

[2022-07-27 12:08] marcphilipp commented on #2988
@pandoras-toolbox Which version of Java are you running with?

[2022-07-27 12:26] pandoras-toolbox commented on #2988
One of the submodules with tests still has to use Java 8, the other submodules use Java 11. I checked my test setup for "junit5-jupiter-starter-gradle", Java 11 is configured there. So it works with Java 11. And I configured Java 8 for "junit5-jupiter-starter-gradle", that also worked.

[2022-07-27 12:35] sbrannen commented on #2088
@bes1002t, it sounds like something else is setting the temp dir system property.

What is the output of `System.out.println(System.getProperty("java.io.tmpdir"))` in your tests?

If it's the project's working directory, you'll need to figure out what is setting the `java.io.tmpdir` JVM system property to that.

[2022-07-27 12:36] tru3v0r opened #2989 "Execution of a third-level Nested class only executes methods of the top-level class"
When trying to launch a third-level @Nested class (a class inside a class inside the top-level class) using Maven, it only executes the children methods of that top-level class and ignores everything else.

In this case, the execution logs show only two tests executed.
The XML report contains these two testcase tags.

## Steps to reproduce

The command I used to run the test:
`mvn test -Dtest="com

[2022-07-27 12:50] sbrannen commented on #2989
It sounds like Surefire might be filtering out those nested test classes based on their names.

See the [user guide](https://junit.org/junit5/docs/current/user-guide/#running-tests-build-maven-filter-test-class-names) for details.

What happens if you rename the nested test classes so that they have an appropriate `Test` prefix or suffix?

Related Issues:

- #1378

[2022-07-27 13:01] sbrannen commented on #2983
Reliance on `JupiterTestEngine` internals is not supported.

In any case, it appears that your `BrowserParameterResolver` implementation is not thread safe.

What happens if you change the `parameterisedTestParameterResolver` field to a `ThreadLocal`?

[2022-07-27 13:06] tru3v0r commented on #2989
I suffixed both WhenNew and AfterPushing with "Test", the behavior remains the same.

Tried both commands, still only 2 tests run:
- `mvn test -Dtest="com.baeldung.junit5.nested.TestingAStackDemo$WhenNewTest$afterPushingTest"`
- `mvn test -Dtest="com.baeldung.junit5.nested.TestingAStackDemo$WhenNew$afterPushing"`

The class file with suffixes:
[TestingAStackDemo-suffixed.java.txt](https://github.c

[2022-07-27 13:10] sbrannen commented on #2989
What happens if you override Surefire's exclude rules as [documented here](https://junit.org/junit5/docs/current/user-guide/#running-tests-build-maven-filter-test-class-names)?

[2022-07-27 13:21] tru3v0r commented on #2989
I added the exclusion snippet to my project pom file, it still runs both methods but no sign of nested class (I suffixed the top-level class as well and tried prefixing instead as well)

[2022-07-27 13:33] sbrannen commented on #2989
Thanks for experimenting.

Please provide a minimal sample project that we can download and run if you'd like us to investigate further (for example a GitHub repo).

[2022-07-27 13:52] tru3v0r commented on #2989
My pleasure.

You can find the whole code here: https://github.com/tru3v0r/junit5-annotations

[2022-07-27 15:17] khmarbaise commented on #2989
I've taken a look into your referenced project.

1. Why do you use maven-plugin-api as a dependency? This is not correct.
2. Why do you use maven-surefire-plugin as a dependency? This is not correct.
3. You are using an very old maven-surefire-plugin version which does not support JUnit Jupiter. The first release which supports JUnit Jupiter is 2.22.2. But I strongly recommend to use the most rece

[2022-07-27 15:39] Cs4r opened #2990 "Impose an order for `@Before*` and `@After*` lifecycle methods"
Hi all,

I just wanted  to know if there's a possibility we can impose a particular order in execution of methods annotated with `@BeforeEach`. If so, which interface should I implement or which class should I touch?

For me it would be very useful since I use several `beforeEach` methods to improve readability of my tests.

Thanks in advance.

Regards.

[2022-07-28 03:44] t1 opened #2991 "ClassNotFoundException: CleanupMode"
When updating from 5.8.2 to 5.9.0, I get the following stack trace:

[code]

See https://github.com/t1/wunderbar/pull/217

As the class is clearly there, I have no idea what's happening. Other projects can update without a problem.

## Steps to reproduce

Just checkout the PR and run the tests in the `wunderbar.junit` module from IntelliJ. Maven fails, too, but the error message is not very helpfu

[2022-07-28 06:58] sbrannen commented on #2991
It might be because you depend on the BOM instead of importing it.

See https://github.com/junit-team/junit5-samples/blob/main/junit5-jupiter-starter-maven/pom.xml for an example of how to import the BOM and depend on `junit-jupiter-api`.

[2022-07-28 06:58] sbrannen commented on #2991
It might be because you depend on the BOM instead of importing it.

See https://github.com/junit-team/junit5-samples/blob/main/junit5-jupiter-starter-maven/pom.xml for an example of how to import the BOM and depend on `junit-jupiter-api`.

[2022-07-28 09:39] aliaksei-astashenka commented on #2991
Had the exact same issue today. For me it was the mess in project with spring boot dependencies and overriding some versions here and there in the project. The issue is that current Spring Boot still use 5.8.2 which doesn't have this new class org.junit.jupiter.api.io.CleanupMode.
So for me putting ext['junit-jupiter.version'] = <explicit 5.9.0 or variable from properties>solved the issue.

[2022-07-28 15:53] sbrannen commented on #2991
Please note that the [User Guide](https://junit.org/junit5/docs/current/user-guide/#running-tests-build-spring-boot) also documents how to upgrade the JUnit version used in a Spring Boot application.

[2022-07-28 16:34] t1 commented on #2991
I didn't depend on the BOM but directly on `junit-jupiter`. After changing it to importing the BOM and then remove the version from the dependencies, it actually worked! Even though I'm using maven for about 20 years, now, I wasn't even aware that this could be an issue. Thanks.

[2022-07-28 16:34] #2991 closed

[2022-07-29 06:56] TimeInvestor commented on #1139
I have a case:
I would like to implement an extension based on `ExecutionCondition` in which I would check if a test (case) from `ParameterizedTest` which has a parameter `targetTestEnv` should be run for the current test environment.

Sample code
[code]

[code]

[2022-07-30 11:05] khmarbaise commented on #2938
Can you please add more information how your pom file looks like, which Maven versions, JDK version etc. you are using... Also which surefire-plugin versions etc. ?

[2022-07-30 11:34] frankbenoit commented on #2938
maven 3.8.6,
surefire 2.22.2,
JDK 17

To make the problem perhaps even better understandable...
Given a test running code that triggers parallel workers and somehow waits for completion. If then the task (in test-thread) gets interrupted due to timeout, it might catch the InterruptedException and force the parallel workers to be closed before rethrowing. So at the time, the timeout exception can b

[2022-07-31 22:52] jflorez-planittesting commented on #2983
Thanks that pointed me in the right direction. Instead of a threadlocal I'm using **private Map<String, ParameterResolver> parameterisedTestParameterResolvers = new HashMap<>()** and use the test display name as the map key. This solved the issue and I now get all browsers in parallel as expected. Using the display name is not ideal and will replace it with a better test identifier but for now thi

[2022-07-31 22:52] #2983 closed

[2022-08-01 11:56] tru3v0r commented on #2989
Hi and thank you for your help.
I merged your PR to my main branch but I still get a ClassNotFoundException when trying to execute maven commands :
[code]

[2022-08-01 12:27] sbrannen commented on #1794
Blog post on a related topic: https://maciejwalkowiak.com/blog/resource-as-string-junit-extension/

[2022-08-02 08:54] jmrg82 commented on #1858
We have been waiting for the final 5.9.0 version for a long time with many hopes, but this problem is still present for us :(

maven.compiler.source -> 1.8 (with Java 11 this problem is not reproduced)
junit-jupiter.version -> 5.9.0
selenium-java.version -> 4.3.0
selenium-jupiter.version -> 4.2.0
maven-surefire-plugin.version -> 3.0.0-M5

<configurationParameters>
junit.jupiter.execution.parallel.

[2022-08-02 10:19] christophs78 commented on #1858
There is no (good) fix for Java 8 aside from serializing tests.
see https://github.com/SeleniumHQ/selenium/issues/10113#issuecomment-1003543759

[2022-08-02 13:01] gilbertojrequena commented on #2622
Hey guys can you give it a look to the open [PR](https://github.com/junit-team/junit5/pull/2978) for solving this issue? It is being open for some time and it is not that big ;)

[2022-08-03 12:58] jamieredding opened #2993 "ReflectionUtils.findMethods() returns duplicate methods, breaking certain use cases"
I have a working test in Junit 5.8.2 that sees a method source on an interface, but that same method source can be seen from two interfaces that my test implements, because one interface implements the other interface.

After updating to 5.9.0 I now have an exception that "Several factory methods named [xxxx] were found in class [yyyy]"

## Steps to reproduce
[code]

## Context

 - Used versions (

[2022-08-04 08:10] sbrannen commented on #2993
Thanks for reporting your first bug for JUnit 5! 👍

This turns out to be a bug in `org.junit.platform.commons.util.ReflectionUtils.findMethods(Class<?>, Predicate<Method>, HierarchyTraversalMode)`. So I'm changing the title of this issue to reflect that.

[2022-08-04 08:25] #2993 closed

[2022-08-04 14:05] loicrouchon opened #2994 "Support classes selection by FQN in JUnit 5 test suites"
# Context

* In order to highlight flaky tests in our codebase, we are using a randomized test order via the maven surefire plugin. This ensure tests depending on some other test/environment state are fixed to remove such a dependency.
* In order to run our tests faster, we are also using multi-fork execution in surefire.

When a test is failing in this mode but not when ran alone, it is very prob

[2022-08-04 19:25] khmarbaise commented on #2989
What exactly have you tried to execute ? Please post the full command you've tried to execute... ?

[2022-08-05 12:04] jbduncan commented on #506
This issue still seems useful to have around.

[2022-08-06 17:08] Michael1993 commented on #2990
Hi @Cs4r

From [the JUnit 5 documentation of `@BeforeEach`](https://junit.org/junit5/docs/5.5.0/api/org/junit/jupiter/api/BeforeEach.html):

Meaning this is intentional.

You probably _could_ just call your setup methods from a single `@BeforeEach`.

[2022-08-06 17:41] robtimus opened #2995 "Expose more functionality from package org.junit.platform.commons.util"
I have some assertions and extensions. These use some of the functionality from package `org.junit.platform.commons.util`. Now I'm trying to upgrade to Java 11, but that package is only exported to a select set of JUnit modules. That makes it hard to achieve some functionality. I have switched to using classes like `AnnotationSupport` instead of `AnnotationUtils` and `ReflectionSupport` instead of

[2022-08-07 16:01] prepstarr opened #2996 "gradlew clean assemble with Java 18"
## Steps to reproduce

Install the latest recommended version of Java on Java.com

download the latest version of Junit 5 from github repository using git.

type gradlew clean assemble and watch it fail

## Context

 - Used versions (Jupiter/Vintage/Platform): 5.9.1 or latest of everything
 - Build Tool/IDE: git, powershell

## Deliverables

- [ ] ... nothing just a failed program that wants you t

[2022-08-07 16:02] prepstarr commented on #2996
it's definitely holding me back, because I want to be able to work with this application . It's not a gradle issue also cause Gradle 7.5 works with Java 18.

[2022-08-07 16:04] prepstarr commented on #2996
vi E:\can\junit5\settings.gradle.kts I just edited this file and removed the check hopefully that's enough to make it work...

[2022-08-07 16:05] prepstarr commented on #2996
so I will suggest the change and hopefully you can commit I don't need a check on mine but I presume others do so I will make it Java 18 should this work...

[2022-08-07 16:05] sormuras commented on #2996
17 is 17, not 18: https://github.com/junit-team/junit5#building-from-source

![image](https://user-images.githubusercontent.com/2319838/183300009-6faad3a5-6fb7-47ee-81c5-39cc0f7843e1.png)

You may run Gradle on 17 and compile sources with 18, 19, and 20 as shown here: https://github.com/junit-team/junit5/blob/main/.github/workflows/cross-version.yml

[2022-08-07 16:16] prepstarr commented on #2996
I fixed the code so we should the documentation as well...

[2022-08-07 16:18] prepstarr commented on #2996
I need you to approve my pull request and secondly where do we edit this piece of documentation to reflect today's news?

[2022-08-07 16:29] prepstarr commented on #2996
https://github.com/junit-team/junit5/pull/2998 this fixes the documentation so please kindly approve

https://github.com/junit-team/junit5/pull/2997 this fixes the build error on Java 18.

[2022-08-07 18:40] karanshah-browserstack opened #2999 "Achieve Cross Browser Testing at TestPlan level"
Hi,
We want to achieve Cross Browser Testing with Junit5 and run it in parallel.
We checked the documentation but the solution is only possible via adding @TestTemplate or @Parameterized tests which will modify the number of times it could be run.
This can be achieved in TestNG by modifying testng.xml and also using their AlterSuiteListeners.

We want to know the recommended way/approach to achiev

[2022-08-08 09:29] mabre opened #3000 "Timeout incorrectly reported instead of actual failing assertion when using isEqualTo with SEPARATE_THREAD"
In some cases, JUnit reports an exceeded timeout although it is not exceeded. This seems to happen when using `SEPARATE_THREAD` and `isEqualTo`.

## Steps to reproduce

code to reproduce: https://github.com/hhu-progra/junit-timeout/

run `./gradlew test`

### Actual result:

The project contains two unit tests. Both (deliberatly) have failing assertions, but no timeout should occur.

For the first

[2022-08-08 19:41] gilbertojrequena commented on #3000
It seems like [this](https://github.com/junit-team/junit5/blob/e7130723ba11f8a6e14db141f5239d132f8284d4/junit-jupiter-engine/src/main/java/org/junit/jupiter/engine/extension/SeparateThreadTimeoutInvocation.java#L42) handling is not needed since it is catching the wrong type of exception and also because the `assertTimeoutPreemptively` handles internally the timeout. Also, I realized that there are

[2022-08-09 21:24] Michael1993 commented on #2970
Hey @svenkost, I think I finally figured out what you want to do!

If I understood correctly, you want to supply your test with values you store in your `TestTemplateInvocationContext`. The simplest way you can do that is by overriding the `getAdditionalExtensions` method in your `TestTemplateInvocationContext` and returning an anonymous `ParameterResolver` instance there. Here would be my version

[2022-08-10 05:42] marcphilipp commented on #3000
I think usage of `assertTimeoutPreemptively` in user code should continue to throw an `AssertionFailedError`. The `catch` block in `SeparateThreadTimeoutInvocation` currently makes it so they are consistent, doesn't it? But it's not specific enough since the invocation may throw an `AssertionFailedError` for different reasons (hence this issue).

I think we should create an internal overload of `a

[2022-08-11 13:14] gilbertojrequena commented on #3000
Just want to make sure I got it right, so the proposal is to extend the API and give the possibility to the user of `Assertions` to specify which exception should be thrown by the `assertTimeoutPreemptively`?

So it would be something like:

[code]

[2022-08-11 14:02] sbrannen commented on #2995
I'm in favor of making that one public/supported as well as `ReflectionUtils.getFullyQualifiedMethodName`.

That one is really just a convenience for `ReflectionSupport.findMethod`. So I'm not convinced it warrants being public/supported, but on the other hand it's not an issue to introduce it in terms of maintenance.

We intentionally did not make that a supported feature, because we don't want t

[2022-08-11 15:07] pawel-smuga commented on #2296
@marcphilipp Is there any plan to resolve this issue? I'm asking because I'm experiencing entries printed to system out a lot.

[2022-08-11 15:38] marcphilipp commented on #3000
No, this would only be available internally via a package-private method, if possible.

[2022-08-11 16:02] gilbertojrequena commented on #3000
The problem is that it will not be visible for the `engine`, or am I missing something? 😅

[2022-08-11 18:29] robtimus commented on #2995
I get the idea of not exporting `org.junit.platform.commons.util`. The package is meant for use by the JUnit framework itself. The only thing is, it's full with utility classes and methods that are very useful for creating extensions as well. I'm thinking not just these cases, but `Preconditions` as well. Exposing that functionality through `*Support` classes is an option, but maybe a separate mod

[2022-08-12 12:50] marcphilipp commented on #3000
No, you're right. In that case, we'll have to resort to making it public and use `@API(status = INTERNAL)`.

[2022-08-12 19:06] skythor17 opened #3001 "Regression in `@MethodSource` factory method resolution"
Behavior of `@MethodSource` changed with JUnit version 5.9.0. It is no longer possible to use a method source in the following way:

[code]

Please note, that the first test method uses the method source without a parameter (same name as the factory method), while the second test method states the differing name of the method source as a parameter.

In previous JUnit versions, this worked fine. In

[2022-08-13 14:37] sbrannen commented on #3001
Hi @skythor17,

Congratulations on reporting your first issue for JUnit 5! 👍

We will fix this regression in 5.9.1.

In the interim, you can make your `anotherTest` method work by annotating it with the following.

[code]

[2022-08-13 15:03] skythor17 commented on #3001
Great, thanks!

[2022-08-13 15:55] sbrannen commented on #3001
This has been fixed in `5.9.x` and `main`.

Feel free to try it out in upcoming snapshot builds.

[2022-08-14 14:03] sbrannen commented on #3001
Reopening to ensure that "utility methods" with the same name are not considered factory methods.

For example, the following method should not be considered a candidate factory method for `"test"`.

[code]

[2022-08-14 14:38] #3001 closed

[2022-08-15 10:27] YeonCheolGit opened #3003 "junit parallel execution yaml file doesn't work"
_(Maybe this is silly question)_

I've already searched google a lot but couldn't find answer for this.

I am trying to execute junit test parallelly.
Fortunately `.properties` file works.
But `.yml` file doesn't work for this.

Is there any way to configure this in yaml?

- Spring boot 2.7.2
- Gradle 7.5
- Junit5

`Test class`
[code]

`.properties`
[code]

`.yml`
[code]

[2022-08-15 10:42] sormuras commented on #3003
JUnit does **not** support reading configuration properties from `.y[a]ml` files.

JUnit does support reading configuration parameters from `.properties` files.
Find details here: https://junit.org/junit5/docs/current/user-guide/#running-tests-config-params

[2022-08-15 10:46] YeonCheolGit commented on #3003
Thank you for the quick and kind answer [sormuras](https://github.com/sormuras)
I didn't realise Junit only reading `.properties`.
This answer makes me very clear thanks.

Maybe this is additional silly question, you may know why Junit only support .properties file?

[2022-08-15 10:47] YeonCheolGit commented on #3003
Thank you for the quick and kind answer [sormuras](https://github.com/sormuras) 👍🏼
I didn't realise Junit only reading `.properties`.
This answer makes me very clear thanks.

Maybe this is additional silly question, you may know why Junit only support .properties file?

[2022-08-15 10:54] sormuras commented on #3003
Because that's what the JUnit decided to support/implement.

There are so many configuration file formats out there (find a short list at the bottom of https://en.wikipedia.org/wiki/Configuration_file), far too many to support/implement "them all". So, we went with the format that suffices our needs and also is around since the early days of Java.

[2022-08-15 11:20] YeonCheolGit commented on #3003
Thanks!

[2022-08-15 11:20] #3003 closed

[2022-08-15 13:25] abelsromero opened #3004 "Improve documentation for extension registration via `@ExtendWith` on fields"
## Steps to reproduce

I am trying to do the same as shown in documentation in https://junit.org/junit5/docs/current/user-guide/#extensions-registration-programmatic, where the following example appears:

[code]

However, my extension (only implements `BeforeAllCallback`) only gets invoked when `private int randomNumber1;` is made static `private static int randomNumber1;`.
I don't know if this is

[2022-08-15 20:47] abelsromero commented on #3004
I'd be convenient, but now that I understand the issue, to me this is just a docs improvement.

For context, I could manage it with static but it didn't occur to me that the field needed to be static by design, the docs didn't help me much and I even checked the code in this repo, but without an implementation of the `RandomNumberExtension` I could not confirm if this was expected. The implementat

[2022-08-15 21:21] xenoterracide commented on #2516
I would assume this is still needed

On Mon, Aug 15, 2022, 5:18 PM stale[bot] ***@***.***> wrote:

[2022-08-16 13:39] aliiabdii commented on #2811
Happened to me as well.
JUnit version: 5.8.2
Java Version: 16.0.1
OS: Windows 10

[2022-08-17 16:53] wasder opened #3006 "Swallowed exception in TestExecutionExceptionHandler ends test execution"
Hi! I am playing with `TestExecutionExceptionHandler`. Here is an example:
[code]
[code]
I want all assertions to be swallowed during test execution and test must be completed fully.
The test actually completes successfully, but stops its' execution at the first exception.
[code]
I expect the test to continue after first exception. Am I missing something? Is it an expected behaviour or a bug?

[co

[2022-08-18 12:07] sbrannen commented on #3006
This is expected.

Execution of any block of code in Java ends as soon as an exception is thrown. The same applies to your test method. When the assertion error is thrown, execution of the test method ends.

If you wish to perform multiple assertions and continue execution of the test method even if an assertion fails, consider using "soft assertions" from a library such as AssertJ.

For further q

[2022-08-18 12:07] #3006 closed

[2022-08-18 19:52] ephemient commented on #2477
Please reconsider.

[2022-08-18 21:35] GethDeeo commented on #964
@marcphilipp My bad to chime in, but this issue more or less describes my problem, and I saw that the last mention of you contains a typo :)

So I'm trying to reproduce a working parallel suites scenario from JUnit 4 to JUnit 5.
Ok, so I know that Surefire `<parallel>` is off the table.
In itself, parallel execution is working fine in JUnit 5.
In itself, suites are working fine in JUnit 5.
I see t

[2022-08-19 10:13] hikoma opened #3007 "Document that class ordering is not honored for parallel execution for top-level classes"
## Steps to reproduce

Test classes

[code]

junit-platform.properties

[code]

If you run all tests, Test1 and Test3 run first.
I expect that Test1 and Test2 run first.

## Context

 - Used versions (Jupiter/Vintage/Platform): Jupiter 5.9.0
 - Build Tool/IDE: Maven, Gradle

## Deliverables

- [ ] ...

[2022-08-19 13:27] kelunik opened #3008 "OpenTestReportGeneratingListener: Trying to output second root, <e:started>"
Version: 5.9.0

## Steps to reproduce

Launch a test execution inside another test with reporting enabled via Maven Surefire:

[code]

## Context

 - Used versions (Jupiter/Vintage/Platform): 5.9.0
 - Build Tool/IDE: Maven Surefire

## Stacktrace
[code]

[code]

[2022-08-20 06:49] ephemient commented on #2977
Is stalebot not working as expected? My last comment on #2477 did not unstale that issue either. @sbrannen

[2022-08-21 14:49] robtimus commented on #2995
FYI, I have been working on my own method lookup, to remove the need for `parseFullyQualifiedMethodName`. I did this because I needed lookups that supported different possible parameter type combinations, so I had to write this class anyway. I just had to replace the use of `parseFullyQualifiedMethodName`. I've made the formatting rules stricter, by enforcing that each of the parts matches only Ja

[2022-08-23 21:53] kirmerzlikin opened #3010 "@CsvSource.useHeadersInDisplayName does not work with `value` attribute"
## Steps to reproduce

Running this test:

[code]
results in the following exception being thrown:

[code]

## Context

 - Used versions (Jupiter/Vintage/Platform):  5.9.0
 - Build Tool/IDE: Intellij IDEA

## Cause

When `CsvArgumentsProvider` [parses](https://github.com/junit-team/junit5/blob/r5.9.0/junit-jupiter-params/src/main/java/org/junit/jupiter/params/provider/CsvArgumentsProvider.java#L85

[2022-08-23 22:04] kirmerzlikin commented on #3010
I've prepared a PR #3011 with the fix. Please let me know if you think it needs more work or if it conflicts with some other changes.

[2022-08-24 08:00] dominikozi opened #3012 "Introduce `@SelectMethod` for selecting methods in `@Suite` classes"
Feature request to add support to filtering test methods by name in test suites. This could be done by annotation similar to @SelectClasses where user could specify list of method names. This could then be used when tests to run are determined during runtime and there is no possibility to add tags.

[2022-08-24 08:10] sbrannen commented on #3010
Oops! 😱

Looks like I forgot to add a test for that. I apologize.

Thanks for reporting it AND providing the fix! 👍

[2022-08-24 08:25] #3010 closed

[2022-08-25 10:35] shaburov commented on #201
opened this issue on 13 Mar 2016 · 118 comments
**now** - 25 Aug 2022

I wonder how many years to wait for a decision...

The author of the [related problem](https://github.com/robolectric/robolectric/issues/3397) already has grandchildren going to school...

[2022-08-25 20:13] ledoyen opened #3014 "Should ExecutableInvoker#invoke(Method, Object) run all extensions ?"
Hello 👋

Toying around with the new extension point `ExecutableInvoker`, I figured that `ExecutableInvoker#invoke(Method, Object)` does only run `ParameterResolver`s.

Should it not run all extensions applicable ?
My reasoning is the following:
* Any extension can have side effects (such as adding a closable resource into the extension context)
* If `ParameterResolver` extensions are executed, but

[2022-08-26 08:00] darrenluo1993 opened #3015 "The method annotated with @DisabledIf("customCondition") will execute the annotated method regardless of whether the value of customCondition is true or false! ! !"
[code]

Or

[code]

After execution, it will output: Come in disabledIf

[2022-08-26 08:07] sormuras commented on #3015
Please translate your messages into English, thanks.

[2022-08-26 08:42] darrenluo1993 commented on #3015
@sormuras Hello, it has been translated into English.

[2022-08-26 13:26] sbrannen commented on #3014
I'm not quite sure what you mean by "applicable".

So, yes, please expound with concrete use cases.

[2022-08-26 13:32] sbrannen commented on #3015
I cannot reproduce that behavior.

The following prints only "customCondition".

[code]

Are you sure you imported `org.junit.jupiter.api.Test` and not some other `@Test` annotation?

[2022-08-26 16:04] sangameshwar-balur commented on #1858
@christophs78  I am using Gradle instead maven. Do you recommend any specific version for Gradle to be used to mitigate this issue.

From your comment you mean to say that below setting should work fine without any issue. It works based configurations in junit-platform.properties file.

Java version - > 11
junit-jupiter.version -> 5.9.0
selenium-java.version -> 4.3.0
selenium-jupiter.version -> 4.

[2022-08-26 18:35] christophs78 commented on #1858
Gradle-version IMO should not matter for this. On my day job we are using Gradle 7.x

[2022-08-26 20:46] sangameshwar-balur commented on #1858
@christophs78 : Can you please help to resolve this.

I am using JAVA 11 and below version for each but still I see undefined number threads are opening
junit-jupiter.version -> 5.9.0
selenium-java.version -> 4.3.0
selenium-jupiter.version -> 4.2.0
![image](https://user-images.githubusercontent.com/77986336/186988024-3bda8d88-b33b-4b87-9060-f2f67bad084e.png)

Parallel setting looks like this:
![im

[2022-08-27 08:00] kishkk84 commented on #456
@YomnaZidan @praveenreddynarala I am facing same issue as you both with extent report generation. Did you guys find any alternatives, if so can you please share. That would be a great help. Thanks 🙏

[2022-08-29 03:27] TestSmell opened #3016 "Test Smell: it is not a good practice to write a return statement in test case"
Hi!

I notice that you write a test case with a return statement.

<img width="409" alt="image" src="https://user-images.githubusercontent.com/110402847/187116950-cefb6fa4-3a84-42e7-ab6c-7466465f85db.png">

It is not a good idea to write the return statement in your test case.
Since, test cases should not return a value based on the corresponding definition.
So I would like to know if is it really

[2022-08-29 05:26] sormuras commented on #3016
Where did you find that test case?

Yes, I know where it is located - and I know why it is located there.

Are you a bot?

![image](https://user-images.githubusercontent.com/2319838/187128947-78555853-539d-44ef-8c7b-4b8459c4cf9c.png)

[2022-08-29 05:27] #3016 closed

[2022-08-29 06:47] bmarwell commented on #1786
Bump

[2022-08-29 08:00] jmrg82 commented on #1858
Hello @sangameshwar-balur! after @christophs78 's suggestion, I tried to compile with Java 11 and 17, but still no luck with the fixed parallelism :(

So, after a long investigation with many pokes in the dark... I found that setting a Custom Strategy works for me:

maven.compiler.source -> 1.8 / 11 / 17 (I did not find any difference )
junit-jupiter.version -> 5.9.0
selenium-java.version -> 4.4.0

[2022-08-29 12:40] sbrannen commented on #3015
Due to the above comment and lack of a response, I'm closing this as "invalid".

[2022-08-29 12:40] #3015 closed

[2022-08-30 14:18] polyanskih commented on #3007
seems that it's also actual for
`junit.jupiter.testclass.order.default = org.junit.jupiter.api.ClassOrderer$OrderAnnotation`
class with
@Order(DEFAULT)
may run earlier than class with
@Order(MAX_VALUE)

[2022-08-30 14:32] polyanskih commented on #3007
and even if class marked with `@Isolated`
**junit-platform.properties**
[code]
**CustomJunitStrategy.java**
[code]

[2022-08-30 20:52] sangameshwar-balur commented on #1858
@jmrg82 : Thanks for the info. Since mine a gradle project I am not sure how to add this dependency into build file.
    maven-surefire-plugin.version -> 3.0.0-M7

However I have tried all other suggestion along with CustomStrategy.java file in the project. But I am getting compilation errors from CustomStrategy.java

![image](https://user-images.githubusercontent.com/77986336/187540437-a4f37225-b

[2022-08-31 01:10] #2651 closed

[2022-08-31 01:46] darrenluo1993 commented on #3015
@sbrannen Sorry for replying only now, I just tried the case you wrote. If the DisableIfDemoTests class is executed, the expected effect can be achieved, but if the disabledIfTest method is executed, it will output: disabledIfTest.
[code]

[2022-08-31 07:34] darrenluo1993 opened #3017 "@sbrannen Sorry for replying only now, I just tried the case you wrote. If the DisableIfDemoTests class is executed, the expected effect can be achieved, but if the disabledIfTest method is executed, it will output: disabledIfTest."
https://user-images.githubusercontent.com/9458513/187624480-ad78e4c9-71a4-40ae-bfc1-3266a8074ad0.mp4

@sbrannen Sorry for replying only now, I just tried the case you wrote. If the DisableIfDemoTests class is executed, the expected effect can be achieved, but if the disabledIfTest method is executed, it will output: disabledIfTest.
[code]

_Originally posted by @darrenluo1993 in https://github.com

[2022-08-31 09:50] sbrannen commented on #3017
Please do not open a new issue simply to reply to an existing issue.

Thanks

[2022-08-31 09:50] #3017 closed

[2022-08-31 09:52] sbrannen commented on #3015
No worries. Thanks for trying it out and providing the feedback.

That's a feature of IntelliJ IDEA: IDEA disables conditions for a given test method if you ask IDEA to run a single test method.

[2022-08-31 10:57] darrenluo1993 commented on #3015
@sbrannen Okay, I understand now, thanks!

[2022-08-31 10:59] Komdosh commented on #871
+1

[2022-08-31 11:07] darrenluo1993 commented on #3017
Okay

[2022-08-31 13:11] Furrial commented on #456
@kishkk84 @YomnaZidan you can take a look at  [my solution](https://github.com/Furrial/junit5-extentreports-example/blob/main/src/main/java/com/example/reporter/TestReporter.java) implemented based on workaround using ClosableResource (see [456 comment](https://github.com/junit-team/junit5/issues/456#issuecomment-416945159))

[2022-09-02 14:24] dominikozi commented on #3012
Example:

There are two test classes

[code]

I need to generate a test suite during execution of my program that will only run some of avabile methods(which will be chosen during runtime), for example : firstA() and secondB() or secondA(), firstB(). In this scenario tagging will not work as I can not modify test classes code.

If this gets implemented it could for **example** look like this:

@Se

[2022-09-03 04:53] bondolo opened #3018 "Add a utility for iterating through combinations of arguments"
For parameterized tests that take multiple arguments `@MethodSource` is the currently the most commonly used approach for generating tests cases. If the arguments to the test are all the combinations of multiple enums or iterables then the resulting method is usually similar to the following:

[code]

The intention is to provide a utility that allows this same logic to be expressed more concisely

[2022-09-03 13:51] marcphilipp commented on #2988
I added integration tests for running on Java 8 in https://github.com/junit-team/junit5/commit/e1283332882f7060b4a90e371c9834aec13e0683.

Could you please provide more details? What's the exact Java version you experienced this with? A minimal reproducer would be much appreciated.

[2022-09-05 06:38] mabre commented on #3000
I can confirm that #3005 fixes the issue in our original project.

[2022-09-05 07:25] LeggoMahEggo opened #3021 "Add feature to add data to OpenTestReportGeneratingListener-generated events"
The new Open Test Reporting format looks great, though I have need of adding additional data to the events generated by OpenTestReportGeneratingListener (as well as adding some of my own events). It would be mighty handy to be able to do this cleanly through JUnit instead of writing a hacky workaround.

[2022-09-06 11:22] #1803 closed

[2022-09-06 11:22] #2486 closed

[2022-09-06 11:22] #2461 closed

[2022-09-06 11:22] #2471 closed

[2022-09-08 06:51] BhargavChoksi opened #3025 "How to test Redis Time out exception for @Cacheable method with Junit+ Spring integration test"
I have a repository class in which have one repository method which call the database. I have made this method cacheable by using Spring annotation https://github.com/Cacheable.

I do use Redis cache. Now, I have also implemented Spring provided CacheErrorHandler which handles the Redis runtime exceptions. However, I am not able to Unit test this implemented GlobalCacheErrorHandler class because I

[2022-09-08 10:44] mpkorstanje opened #3026 "Support saturating the Forkjoin pool via a property"
Currently [JUnit Jupiter does not guarantee that the number of concurrently executing tests will not exceed the configured parallelism](https://junit.org/junit5/docs/current/user-guide/#writing-tests-parallel-execution-config). The advice is to provide a custom [`ParallelExecutionConfigurationStrategy`](https://junit.org/junit5/docs/current/api/org.junit.platform.engine/org/junit/platform/engine/s

[2022-09-08 11:23] #3025 closed

[2022-09-09 10:18] marcphilipp commented on #3026
**Team Decision:** Follow the proposal.

[2022-09-09 10:19] marcphilipp commented on #3026
@mpkorstanje Thanks for bringing this up! Could you please add the missing documentation to the PR so we can include it in 5.9.1? 🙂

[2022-09-09 10:30] marcphilipp commented on #2878
**Team Decision:** We advise to use the feature from Pioneer and won't include this in Jupiter core for the time being.

[2022-09-09 10:30] #2878 closed

[2022-09-09 10:37] marcphilipp commented on #3018
Have you asked the JUnit Pioneer maintainers if they would consider including this since their `@CartesionTest` extension does something very similar using annotations?

[2022-09-09 10:41] sormuras commented on #3018
➡️ https://junit-pioneer.org/docs/cartesian-product/

[2022-09-09 10:48] marcphilipp commented on #3014
**Team Decision:** `ExecutableInvoker` was introduced as a means to provide support for executing custom methods while reusing Jupiter's parameter resolution support. It's not meant to provide a way to run a test class or method with the full lifecycle.

We think the use case you outline in your extension is very interesting and think we should provide dedicated extension APIs to replace the class

[2022-09-09 10:48] #3014 closed

[2022-09-09 12:59] sbrannen commented on #3014
Providing dedicated `ClassLoader` APIs in Jupiter might also allow the Spring Framework to stop launching the entire JUnit Platform within an intercepted test method as can be see in the `@CompileWithTargetClassAccess` support in [this package](https://github.com/spring-projects/spring-framework/tree/main/spring-core-test/src/main/java/org/springframework/aot/test/generate/compile).

[2022-09-09 13:21] sbrannen commented on #3025
I posted a comment on Stack Overflow.

Please also see [my response](https://github.com/junit-team/junit4/issues/1747#issuecomment-1241967735) to the issue you raised against JUnit 4.

[2022-09-09 15:28] ledoyen opened #3028 "Introduce extension API for customizing the ClassLoader in Jupiter"
Following #201 and #3014, this issue will focus on creating a new extension API in JUnit Jupiter that allows for `ClassLoader` customization.

This extension should be able to work in conjunction with others, such as `@TestTemplate`.

How I see it designed in JUnit Jupiter:

* a new interface `ClassLoaderModifier` with a unique method `ClassLoader modify(ClassLoader current)`
    * the documentati

[2022-09-09 15:29] ledoyen commented on #3014
@marcphilipp , I tried to summarize the idea in #3028

Do not hesitate to modify the content if you feel that is necessary.

[2022-09-10 06:46] bondolo commented on #3018
I have to admit I was entirely unaware of JUnit Pioneer. In part my decision to structure the API as a single static method was to make it easier to justify inclusion in the baseline API. (Heck, some don't even consider "params" part of the core). I will take a closer look at what their Cartesian product annotation does but it seem likely it doesn't quite do everything this proposal does because o

[2022-09-10 08:08] Bukama commented on #3018
@bondolo When you have took time to review the Pioneer documentation (link see above) and think it's close then feel free to contact us over at: https://github.com/junit-pioneer/junit-pioneer/

[2022-09-10 12:32] sormuras opened #3029 "Drop Java 8 support ..."
... and use Java 17 (current LTS) as a the new base Java version would prevent the following warnings, that started appearing with Java `20-ea+14`:
[code]
➡️ https://github.com/junit-team/junit5/runs/8283467469?check_suite_focus=true#step:6:285

Yes, suppressing those warnings via `-Xlint:-options` as suggested is also an option.

No, removing `-Werror` is not an option as all other warning types

[2022-09-11 04:57] voomdoon opened #3030 "Assumptions should support most/all features of Assertions"
I am trying to use something like
[code]
to ignore the test if no exception was thrown.
The test should e.g. check whether cleanup/rollback is done correctly on error.

But `assumeThrows` does not exist.

The idea behind is: There is a separate test with
[code]
that will fail if the method does not throw an exception.

If the method does not throw an exception, there should be one failing test onl

[2022-09-11 15:26] #3000 closed

[2022-09-13 10:49] dkocher opened #3032 "Sponsoring URL redirects to self"
The output from `org.junit.platform.console.ConsoleLauncher` says
[code]

but the page redirects to itself.

[code]

[2022-09-13 12:25] marcphilipp commented on #3032
Fixed. It was caused by GitHub and CloudFlare redirecting to HTTP/HTTPS in turn indefinitely.

[2022-09-13 12:25] #3032 closed

[2022-09-13 16:38] hjohn commented on #1224
I think this entire thing has gone wrong way. `@RepeatedTest` should never have existed, and instead a general `@Repeat` annotation should have been provided that interacts with `@Test` and `@ParameterizedTest` -- taking this one aspect (repeats) and making it into its own annotation just leads to combinatorial expansion:

- Test
- RepeatedTest
- ParameterizedTest
- RepeatedParameterizedTest

What

[2022-09-15 07:39] pandoras-toolbox commented on #2988
It should have been this version:

I will try to repeat it and try to provide something reproducable.

[2022-09-15 11:18] fokevolt commented on #2178
Hi!
I have Gradle + JUnit project (NOT maven, without surefire).
Running my tests using 'junit-platform-console-standalone', version: '1.9.0', and have this issue:
If @BeforeAll failed - no tests shown in the report (my expectation is that all tests from that class may be shown as "skipped" at least).
So that any time when some class failing on @BeforeAll - I am seeing a report where 100% pass rat

[2022-09-15 11:45] fokevolt commented on #2178
Here I'm running tests without exception in @BeforeAll:
`> Task :test

Test 01 failed on purpose
org.opentest4j.AssertionFailedError: Test 01 failed on purpose
	at org.junit.jupiter.api.AssertionUtils.fail(AssertionUtils.java:39)
	at org.junit.jupiter.api.Assertions.fail(Assertions.java:134)
	at BeforeclassTest.test01(BeforeclassTest.java:24)
	at java.base/jdk.internal.reflect.NativeMethodAccessor

[2022-09-15 11:55] fokevolt commented on #2178
Here is how reports look like:
![image](https://user-images.githubusercontent.com/32929260/190397233-f0970148-0900-4883-8ca4-7aebd9a792be.png)

[2022-09-15 12:42] SaherAlSous opened #3033 "TestReporter does not work with Kotlin"
I'm using JUnit Jupiter 5.9.0 with Kotlin, using Gradle, and I used the `TestReporter` in both Java and Kotlin projects.

On Java it prints to the console normally, but in Kotlin nothing prints.

## Steps to reproduce

[code]

## Context

 - Used versions (Jupiter/Vintage/Platform): 5.9.0
 - Build Tool/IDE: IntelliJ, Gradle

## Deliverables

- To have the `TestReporter` work normally with Kotlin.

[2022-09-15 13:38] SaherAlSous opened #3034 "ExecutionCondition: Test fail if the condition doesn't met, and message doesn't print. Kotlin"
I created context execution condition for my test, and tested the code with several contexts. the test is supposed to run if the condition is `regular` or `low`, and if not the test should be disabled.
The test run correctly when the condition is met. but fails when it doesn't. meanwhile it should be disabled.

## Steps to reproduce

[code]
Test file:
[code]

## Context

 - Used versions (Jupiter/

[2022-09-16 08:36] sbrannen commented on #2830
The required syntax is:

[code]

Here's the original condition annotation I wrote 2 years ago:

https://github.com/sbrannen/spring-framework/blob/graalvm-testing/spring-core/src/testFixtures/java/org/springframework/core/testfixture/annotation/DisabledInGraalVmNativeImage.java

[2022-09-16 08:38] sbrannen commented on #2830
Hence other proposals for the naming convention for these two annotations.

- `@DisabledInGraalVmNativeImage`
- `@DisabledInNativeImage`

[2022-09-16 10:14] marcphilipp commented on #2830
**Team Decision:** Add `@EnabledInNativeImage` and `@DisabledInNativeImage`.

[2022-09-16 10:22] marcphilipp commented on #3028
While we might have to add some hooks to the platform to make this happen, I think we should focus this initial issue on providing a Jupiter extension like the one you have in [fridujo/classpath-junit-extension](https://github.com/fridujo/classpath-junit-extension).

@ledoyen Could you please change the issue description accordingly?

[2022-09-16 10:27] marcphilipp commented on #3029
**Team Decision:** Stay backwards compatible with Java 8 until we have a compelling, user-facing reason to adopt a later release.

[2022-09-16 10:27] #3029 closed

[2022-09-16 10:38] marcphilipp commented on #3033
Printing report entries is an IntelliJ feature and I just verified that it works for me for a Kotlin class. If you run the test via Gradle, report entries are not printed, neither for Kotlin nor Java classes.

Did you maybe run the Kotlin test via Gradle?

[2022-09-16 10:41] marcphilipp commented on #3034
Similarly to printing report entries (see https://github.com/junit-team/junit5/issues/3033#issuecomment-1249208795), printing "disabled" reasons is an IntelliJ feature so it only works when running the test via IntelliJ, not Gradle. I suspect that's the root cause here. Therefore, closing this issue as a duplicate of #3033.

[2022-09-16 10:42] marcphilipp commented on #3034
Duplicate of #3033

[2022-09-16 10:42] #3034 closed

[2022-09-16 10:43] marcphilipp commented on #2988
@pandoras-toolbox Did you manage to reproduce it?

[2022-09-16 10:44] marcphilipp commented on #3018
@bondolo Any updates?

[2022-09-16 10:48] marcphilipp commented on #2714
@papegaaij Were you able to leverage `LauncherSessionListener` for the Arquillian use case?

[2022-09-16 10:59] SaherAlSous commented on #3033
Yes Gradle...

[2022-09-16 11:00] #3033 closed

[2022-09-16 11:01] SaherAlSous commented on #3033
hmmm... I run the test also with the "Play" button from IntelliJ and it is the same...

[2022-09-16 11:02] marcphilipp commented on #3033
You can configure how IntelliJ executes tests:

<img width="1094" alt="image" src="https://user-images.githubusercontent.com/214207/190624983-7d0de6b6-af47-416d-974d-8025d3c285d0.png">

[2022-09-16 11:05] SaherAlSous commented on #3033
yes that fixed it... reports and logs are showing up... thank you!

[2022-09-16 11:30] ledoyen commented on #3028
I updated the description as asked.

@marcphilipp Do not hesitate to modify it yourself, if you want to improve it or even change the objective / direction.

[2022-09-16 12:11] marcphilipp commented on #3008
I tried reproducing the issue based on the junit5-jupiter-starter-maven sample project on the [`marc/junit5-3008-reproducer`](https://github.com/junit-team/junit5-samples/compare/marc/junit5-3008-reproducer) branch. Unfortunately, I did not manage to run into this error.

@kelunik Could you please take a look and check what's different in your and the sample project's setup?

[2022-09-16 12:37] papegaaij commented on #2714
@marcphilipp yes, you can find the result here: https://github.com/topicusonderwijs/arquillian-testrunner-spock/blob/spock-2.0-junit5/core/src/main/java/org/jboss/arquillian/spock/ArquillianSetupAndTeardownSessionListener.java . Surefire also supports these sessions now and for our usecase it's working great.

[2022-09-16 13:09] sic-poths commented on #2497
I would still be really interested in a solution to this problem. Are there any thoughts from the team on what a good implementation of a more fine granular "execution-order-control" for dynamic tests could be? Maybe I would give it a try to create a PR, but I only know the codebase as a user.

[2022-09-16 14:54] sbrannen commented on #2830
Reopening to make sure it's backported to the `5.9.x` branch.

[2022-09-16 15:00] sbrannen commented on #2830
Backported to 5.9.x for inclusion in 5.9.1

[2022-09-16 15:00] #2830 closed

[2022-09-16 16:40] marcphilipp opened #3035 "Compatibility with running in GraalVM native images is restored"
## Steps to reproduce

see https://github.com/graalvm/native-build-tools/issues/300

## Context

 - Used versions (Jupiter/Vintage/Platform): 5.9.0
 - Build Tool/IDE: GraalVM native-image

## Deliverables

- [ ] Change `OpenTestReportGeneratingListener` so it doesn't require `--initialize-at-build-time`

[2022-09-16 18:48] #3035 closed

[2022-09-17 00:19] bondolo commented on #3018
I took a look at the Pioneer cartesian product annotation and not surprisingly there is a lot of overlap. It would handle about 60-70% of the tests that I am currently using with method source. For the remainder, the argument dimension is usually something that is computed, such as powers of two. (My exemplar for this work is a set of unit test for a graphics library so powers of two often figures

[2022-09-17 03:51] edudar opened #3037 "Introduce UnrecoverableThrowable abstraction for exception that should terminate test plan"
Only one error terminates the test plan: `OutOfMemoryError`. Sometimes it might be beneficial to have more control over this. In my case, I'm bringing up test containers before the test suite starts. I implement this using `TestExecutionListener`. I start containers in `testPlanExecutionStarted` and stop them in `testPlanExecutionFinished`. It happens from time to time that a container does not st

[2022-09-17 09:37] marcphilipp commented on #3037
I think a more flexible option would be to introduce a configuration parameter for configuring a comma-separated list of fully-qualified class or interface names for such exceptions. WDYT?

[2022-09-17 09:40] marcphilipp commented on #2714
Thanks for the feedback! Closing this issue in the light of that.

[2022-09-17 09:40] #2714 closed

[2022-09-17 15:25] scordio commented on #1786
I started working on a change that could solve this topic: #2958

[2022-09-17 16:59] sbrannen commented on #1786
Now, I'm not saying you should do this at home, but...

Since JUnit Jupiter 5.9, it is _technically_ possible to use `@TempDir` in an extension (or access a parameter provided by any other registered `ParameterResolver`) with a hack like the following.

[code]

And now I'll show myself out. 😇

[2022-09-18 05:15] edudar commented on #3037
Like this https://junit.org/junit5/docs/current/user-guide/#running-tests-config-params? Never had a chance to need them but I think that'll be ok.
[code]
Assuming I can put `junit-platform.properties` into resources in a library so that it can be used by a bunch of independent services.

[2022-09-18 12:23] sormuras commented on #3037
Perhaps, we want to support both at the same time? Having an `Unrecoverable` tagging interface users my extend in their code base and a configurable list of types for exception types they don't control, seem like good thing to support.

🤔 ... if there was a `PleaseStopException extends RuntimeException implements Unrecoverable {}` built-in into Jupiter, would that also be a solution for the underl

[2022-09-18 15:03] sbrannen commented on #3037
I don't think that would work. IIRC, JUnit only looks for a single `junit-platform.properties` file in the root of the classpath.

I think we might have an open (or closed due to inactivity) issue related to specifying a different location for the file or potentially supporting multiple files.

If we don't introduce support for multiple files, a feature like this would have to addressed differentl

[2022-09-19 09:03] pandoras-toolbox commented on #2988
I can still reproduce it on the actual closed real life source project where I am working on but could not manage to reproduce it otherwise given the time I can spend.

We have a test project which contains several Gradle subprojects inside it and using testFixtures of Gradle and also Allure. One of them is using Java 8, and this is the one which produces the errors mentioned here. Another subproj

[2022-09-19 11:40] beluha commented on #1454
Hi team,

Did you have a chance to introduce Constructor exception handler mentioned by me in this comment https://github.com/junit-team/junit5/issues/1454#issuecomment-395669713 ?
Since 2018 many things have been included into JUnit 5. I didn't find in `org.junit.jupiter.api.extension` package required exception handler. Can you please help me to identify, how to handle exceptions thrown in Const

[2022-09-19 16:04] TWiStErRob commented on #1866
@junit-team What is missing to move this forward?

@JLLeitschuh I think these might also be deliverables for full coverage:
 * `assertNull` to get Kotlin compilation protection for `val actual = ...; assertNull(actual); actual.foo()` (`.foo()` would be a 100% NPE with current solution and it wouldn't compile with contracts)
 * `assertInstanceOf` (similar to non-null, but with `implies (actualValue

[2022-09-19 20:28] edudar commented on #3037
Thinking more about multiple files, they may cause more problems than they solve. Considering that there are preferences like `something.enabled=true` with multiple files it would open a can of worms with conflicting preferences coming from different JARs. I'd stick to an interface or some annotation-based solution (that would solve my case) and properties for greater flexibility and 3rd-party exc

[2022-09-19 20:41] cbottomline opened #3038 "getRequiredTestMethod().getAnnotations() doesn't return meta-annotations"
JUnit 5.8.2

I have a meta-annotation that contains a custom annotation is placed on a test method.  In my extension when I call `getRequiredTestMethod().getAnnotations()` I can't get the custom annotation.  `getAnnotations` only returns the meta annotation but not any of the annotations that make up the meta annotation.

## Steps to reproduce

1.  Create 2 custom annotations (CustomA, CustomB).
2

[2022-09-20 07:16] marcphilipp commented on #3038
`getRequiredTestMethod()` returns a `java.lang.reflect.Method` which we can't change the behavior for. In order to find meta-annotations, please use the APIs in `AnnotationSupport` instead of calling `Method.getAnnotations()`.

[2022-09-20 07:16] #3038 closed

[2022-09-20 10:27] sbrannen commented on #1454
Hi @beluha,

_This_ issue has been closed for over 2 years.

Please create a new issue to discuss a mechanism for handling exceptions thrown from a test class constructor.

With regard to handling exceptions thrown from a static block, I don't imagine that we would ever be able to support that reliably since a test class can be initialized outside the control of JUnit Jupiter mechanisms. Furthermo

[2022-09-20 12:34] beluha opened #3039 "Introduce extension APIs to handle exceptions from test class constructors"
## Overview

Let's assume I need to load and initialize some properties in the class ones for all tests and nested tests. I can do this in the class constructor when `@TestInstance(Lifecycle.PER_CLASS)` or in static-block. `@BeforeAll` lifecycle method doesn't work for this purpose, because it is invoked one time for main class and so many times how many nested (`@Nested`) classes we have, even wh

[2022-09-20 13:39] marcphilipp commented on #3039
@beluha Would implementing a `InvocationInterceptor` and overriding `interceptTestClassConstructor` with a try-catch block work for you?

[2022-09-20 13:47] sbrannen opened #3040 "Provide built-in support for GraalVM native images"
## Overview

The GraalVM [Native Build Tools](https://graalvm.github.io/native-build-tools/latest/index.html) (NBT) project provides support for running tests within a native image using the JUnit Platform. Since JUnit 5 has never provided built-in support for running in a native image, the NBT team implemented an internal `PluginConfigProvider` mechanism for contributing native image configuratio

[2022-09-20 14:00] beluha commented on #3039
Hi @marcphilipp , I just tried to implement a `InvocationInterceptor` with overridden `interceptTestClassConstructor` with a try-catch, and it definitely works for me.

Will you consider introduction of separate exception handler for the exceptions thrown in the test class constructor similar to standard approach with exception handlers for other lifecycle methods?

[2022-09-20 16:41] sbrannen commented on #3008
I also spent some time trying to reproduce the error using Marc's branch above, but I have not been able to reproduce the error with Java 8 or Java 17.

As a side note, I would suggest you not set the property as a system property in the test.

If you want to enable Open reporting for a single `Launcher` within a test, it is best to use `.configurationParameter("junit.platform.reporting.open.xml.e

[2022-09-20 17:15] kelunik commented on #3008
@sbrannen @marcphilipp Thank you both for giving this a try! I'll need to have a look at my case and see what's the difference / try to reduce that to something I can share. I'll also try skipping the system property and using the configuration parameter instead.

[2022-09-21 07:43] mpkorstanje commented on #3037
Might the original use case be better supported by https://github.com/junit-team/junit5/issues/2816?

[2022-09-21 09:17] mhlavac opened #3041 "junit-jupiter-params 5.9.1 upgrade fails with NoSuchMethodError"
Dependencies:
[code]

After upgrading to `junit-jupiter-params:5.9.1` the tests started failing with following error `java.lang.NoSuchMethodError: 'boolean org.junit.platform.commons.util.CollectionUtils.isConvertibleToStream(java.lang.Class)'`. It looks like a new method is to be introduced in commons 1.9.1 and got used in the 5.9.1 release already.

From this diff it seems like the method was us

[2022-09-21 09:22] marcphilipp commented on #3041
`junit-jupiter-params:5.9.1` has a transitive dependency on `junit-platform-commons:1.9.1`. Using it with `1.9.0` is not supported. Please also update the junit-platform dependencies to 1.9.1.

[2022-09-21 09:22] #3041 closed

[2022-09-21 09:23] marcphilipp commented on #3041
It was released at the same time as `junit-jupiter-params:5.9.1`:
https://search.maven.org/artifact/org.junit.platform/junit-platform-commons/1.9.1/jar

[2022-09-21 09:25] mhlavac commented on #3041
Confirming this indeed works. I won't trust mvnrepostiory.com again. Thank you @marcphilipp!

[2022-09-21 21:34] edudar commented on #3037
@mpkorstanje, unless I'm missing something about that feature, I don't see how. In this case, I want to stop the test plan because something went wrong during initialization. Not sure how an option to load closable resources into the context would help with that.

[2022-09-21 22:01] mpkorstanje commented on #3037
Your need to stop the test plan with an exception is a solution to a more general need to be able to create a resource prior to the execution of the test plan. Using a listener may not be the right abstraction.

It's my assumption that the test plan would fail before it got executed if the resources could not be created.

[2022-09-22 06:55] marcphilipp commented on #2988
@pandoras-toolbox Thanks for reporting back. Would it be possible to extract a standalone reproducer project from that real life project?

[2022-09-22 06:56] marcphilipp commented on #2178
I think that's an issue that you'd need to raise with the Allure team.

[2022-09-22 09:24] ddscharfe opened #3042 "EngineDiscoveryOrchestrator does not exclude filtered TestDescriptors if they contain children"
Hi,

I'm running into an issue with the junit platform engine discovery mechanism and I wonder if this is intended behavior, a bug, or if I got something wrong.

During test discovery `EngineDiscoveryOrchestrator::discover` applies `PostDiscoveryFilters` and removes `TestDescriptors` according to these filters (`EngineDiscoveryOrchestrator::applyPostDiscoveryFilters`). Additionally `TestDescriptor

[2022-09-22 09:58] marcphilipp commented on #3042
Are you using a custom `PostDiscoveryFilter`? If so, could that case be handled there?

[2022-09-22 10:12] ddscharfe commented on #3042
I am using a `PostDiscoveryFilter` and it returns `FilterResult.excluded("REASON")`, but the descriptor has children and is therefore not excluded due to the implementation of `EngineDiscoveryOrchestrator::isExcluded`.

[2022-09-22 11:11] fokevolt commented on #2178
Sorry for confusing you by mentioning Allure.
The problem is not in Allure, but in that JUnit doesn't invoke tests if @BeforeAll failed.

Basically, the problem described perfectly by initial post on this thread:
If @BeforeAll failed - initializationError shown in console output, and build has status SUCCESSFUL and the number of tests is 1 for the whole class.
![image](https://user-images.githubus

[2022-09-22 11:29] stonerichard opened #3043 "Provides variant of assertThrows which allow doing assertion on thrown throwable instance."
Current `assertThrow` does not give handle of thrown `Throwable` to do further assertions.

[code]

Expected a variant of `assertThrow` which give the thrown `Throwable` for further assertions.

[code]

Sample usage:

[code]

[2022-09-22 11:57] sbrannen commented on #3043
That's incorrect. The actual signature is:

[code]

That returns the "thrown Throwable".

The [Assertions](https://junit.org/junit5/docs/current/user-guide/#writing-tests-assertions) section of the user guide demonstrates this:

[code]

In light of that, I am closing this issue.

[2022-09-22 11:57] #3043 closed

[2022-09-22 12:28] pandoras-toolbox commented on #2988
I can try this, hopefully it can be reproduced without all the things I have to remove for this, but please give me a little time.

[2022-09-22 12:47] marcphilipp commented on #2178
I'm not sure why the build would be successful in that case? Have you configured your `Test` task to ignore failures?

That's by design.

Understood. The `TestIdentifier` that JUnit reports as failed (the one of the class in this case), does provide an API to get and count its children. However, Gradle (which creates both the console output and HTML report) currently doesn't do that. Please raise

[2022-09-23 14:46] marcphilipp commented on #3039
**Team Decision:** Wait for additional interest since there's an existing, viable alternative.

[2022-09-23 14:56] marcphilipp commented on #3042
Could you change your `PostDiscoveryFilter` to also return `FilterResult.excluded("REASON")` for all children of such descriptors?

[2022-09-23 15:28] ddscharfe commented on #3042
It does, but `EngineDiscoveryOrchestrator::isExcluded` ignores the filter result because the descriptor has children (see my first comment).

[2022-09-23 15:41] marcphilipp commented on #3042
I thought it would get pruned of all of its children are excluded but it seems I was wrong (since `isTest()` returns `true` for `CONTAINER_AND_TEST`:

https://github.com/junit-team/junit5/blob/e69243ae0f3c68f07d075ac3901c98c375d040f0/junit-platform-engine/src/main/java/org/junit/platform/engine/TestDescriptor.java#L226-L230
https://github.com/junit-team/junit5/blob/e69243ae0f3c68f07d075ac3901c98c3

[2022-09-23 15:45] marcphilipp commented on #2996
The build will stay on JDK 17 for the time being since it's an LTS release.

[2022-09-23 15:45] #2996 closed

[2022-09-23 17:03] ddscharfe commented on #3042
Thanks for your suggestion @marcphilipp. I thought about that too, however this violates the "contract" (aka JavaDoc) of `PostDiscoveryFilter`, because I would have to set some kind of state on the `TestDescriptor` during filtering. However it's an okay solution for me as it should solve my problem.
So am I right assuming that this is indeed a bug?

[2022-09-24 13:18] mpkorstanje opened #3045 "An invalid ParallelExecutionConfiguration results in a fallback to the Java 8 constructor"
## Steps to reproduce

Using JUnit Jupiter 5.9.1 on Java 9+ with

[code]

[code]

Will cause the constructor of the `ForkJoinPool` to throw an `IllegalArgumentException`:

[code]

That will in turn trigger the fallback for Java 8 because any an all exceptions are caught indiscriminately.

https://github.com/junit-team/junit5/blob/517bfd56ad8ba8d22609b5055f4bb46a3d38c953/junit-platform-engine/src/m

[2022-09-27 06:32] MatteoMolinari93 commented on #2854
What's the status here?

[2022-09-27 08:32] stoyanK7 commented on #2854
@MatteoMolinari93  No idea, did not get much attention on my pull request so I gave up on it. Anybody feel free to take it and finish the issue if they would like to :)

[2022-09-29 02:25] #2708 closed

[2022-09-29 13:24] leonard84 opened #3047 "Hoist the `ExtensionValuesStore` implementation to the platform"
The concept of such a store seems useful to test engines in general,
so having it in the platform would be helpful for other engines.

For example, I'd like to add something like it to Spock.

## Deliverables

- [ ] ExtensionValuesStore or a comparable implementation is available via the JUnit Platform.

[2022-09-29 14:28] sbrannen commented on #3047
## Related Issues

- #2411
- #2816

[2022-10-02 08:17] ben-manes opened #3050 "Extremely slow for large vintage test suites"
## Steps to reproduce
This Gradle project ([junit-example.zip](https://github.com/junit-team/junit5/files/9691974/junit-example.zip)) demonstrates this performance regression using Guava's testlib to generate many test cases against `HashMap`. In total this runs 982,500 tests and that can be adjusted in the `MapTests` iterator size.

[code]

## Context
I am trying to migrate Caffeine onto JUnitPla

[2022-10-03 03:01] ben-manes commented on #3050
Profiling shows that there are some significant performance issues that might be easy to address. This would significantly reduce the cpu time and memory usage.

1. `UniqueIdFormat.parse` is very expensive and the top culprit. It could be much faster and the UniqueId lazily parsed.
2. `Method.getParameterTypes()` should be cached to avoid being copied (due to being an array return type)
3. `Method

[2022-10-04 17:41] tribbloid opened #3051 "`EngineDiscoveryResultValidator` should produce an actionable error message for cyclic TestDescriptor structures"
This is the root cause of the problem reported in this ticket:

https://github.com/helmethair-co/scalatest-junit-runner/issues/83

Due to the flexibility of ScalaTest, A nested suite may cause several test cases to use the same ID, ScalaTest native runner can run it, but JUnit cannot. Instead it will throw a very brief error like this:

[code]

This error information gave no explicit action to ide

[2022-10-04 20:02] edysli commented on #2539
I'd like to give this one a try. :)
Is updating the Javadoc on `org.junit.platform.launcher.TestExecutionListener` enough, or is there another guide to update as well?

[2022-10-05 08:17] mpkorstanje commented on #3051
_I'm not part of the JUnit team, but I've written a few test engines._

JUnit 5 uses a tree of tests and containers where each has a unique ID. This ID allows individual tests to be uniquely selected - for example for rerunning a failed test. So under no circumstances should any two distinct tests have the same unique ID.

 It is up to the Scala Test Engine to construct the tree in such a way that

[2022-10-05 08:49] mpkorstanje commented on #3051
That said, having the error actuality include the cycle it detected would be helpful with debugging and reproduction of implementation problems!

[2022-10-05 19:03] tribbloid commented on #3051
@mpkorstanje thanks a lot, I'm not in the core team of both projects either :)

My point is that error messages like this can confuse both test engine writers and QA engineers alike. A serial UID may be difficult in some context (e.g. in distributed computing, or retrying on volatile smoke tests). Anything that makes debugging easier will help fixing or circumventing such blockers

[2022-10-05 19:21] mpkorstanje commented on #3051
I don't think that is necessary. There is plenty of "unique enough" structure available to map Scala tests to JUnit without issue. It's just that the current mapping implementation is extremely naive.

So ideally, if the test engine authors did their job well, no one would ever see this error. 😄

[2022-10-05 21:04] tribbloid commented on #3051
I'm not qualified enough to judge the engine, but I'll try to get @giurim 's attention to see how feasible it is.

I prefer to have the best of both, human make mistakes: https://github.com/junit-team/junit5/pull/3052

[2022-10-06 12:03] giurim commented on #3051
Thx @tribbloid for summoning me and @mpkorstanje for the suggestions.

Well it seems they did not, but let's fix it.

True, will figure it out something. Suggestions/links to other test engine implementations are welcome, but will do my research. We can use the ID Scalatest have internally it is not descriptive at all, but unique.

I am not sure what do you mean, can you elaborate?

[2022-10-07 09:05] sebastianhaberey opened #3054 "Parametrized tests: misleading error if exception was thrown in static initializer"
When a parametrized test is executed, but an exception is thrown in the test class' static initializer, the error message is:

`"Configuration error: You must configure at least one set of arguments for this @ParameterizedTest"`

This distracts from the actual source of the problem. I know static initializers are generally frowned upon, but they are recommended for some edge cases, e.g. by the [Te

[2022-10-07 12:50] sbrannen commented on #3054
That's the "suppressed" exception.

The actual exception that is thrown is the `java.lang.ExceptionInInitializerError` with the following cause:

[code]

In Eclipse IDE, one sees the `ExceptionInInitializerError` by default and has to scroll to find the suppressed exception.

Does IntelliJ display the suppressed exception instead of the top-level exception?

[2022-10-07 15:58] sebastianhaberey commented on #3054
I am not familiar with the concept of "suppressed" exceptions. Like all Java developers I am used to scrolling down lengthy stacktraces hoping for a clue about what's going on. In my experience it's the plain text phrases that provide the most help. Such as "Configuration error: You must configure at least one set of arguments for this @ParameterizedTest".

Only in this case, that's not what's goi

[2022-10-07 18:26] mpkorstanje commented on #3051
IDs don't have to be descriptive. The IDs are not typically exposed to a user. Though it is certainly nice when debugging.

If the IDs are deterministic and somewhat stable under small changes to changes to the suite they're good candidate to use. This is important for IDEs and other tools that want to (re-)run a specific test. They'll select it by ID.

[2022-10-07 18:43] giurim commented on #3051
Thanks!

[2022-10-07 22:05] beluha opened #3055 "Introduce Extension API to handle passed, failed, successful, aborted and skipped containers like classes and @Nested classes for reporting"
Hello, I'm trying to generate XML and HTML report in runtime using opportunities of Extension API. I have extension class `Junit5LoggerExtension` to handle and log:

- all errors during the whole execution,
- screenshots and snapshots of the AUT (application under test) in right time,
- starting and finishing points for all execution levels (class started/finished, test started/finished, ...),
- m

[2022-10-08 13:00] mpkorstanje commented on #3051
You're welcome. Feel free to tag me if you have any questions.

[2022-10-10 08:36] #2539 closed

[2022-10-11 11:19] anatolyra opened #3056 "Surefire report is not produced with test name when using JUnit5 and Specs2"
Hi,

When running tests from terminal via 'mvn clean test' command, the generated surefire report in 'target/surefire-reports/' does not have a tests name. i.e:
`<testcase name="" classname="samples.MySpecTest" time="0"/>`
This messes up out TC reporting.

## Steps to reproduce

1. Clone my example: [Junit5Specs2SurefireTestName](https://github.com/anatolyra/Junit5Specs2SurefireTestName)
2. Run 'm

[2022-10-11 14:21] Little-Elephant opened #3057 "testMethod parameter provided to generateDisplayNameForMethod doesn't contains test method annotations except "Test""
junit 5.9.1

given test with Tag

`    @Tag("test.id")
    @Test
    void less_than_min_cluster_size() {`

and class implementing DisplayNameGenerator
in which I want to use Tag value to generate DisplayName
But in testMethod parameter provided to generateDisplayNameForMethod implementation i see only one declaredAnnotation:
`{Class@3839} "interface org.junit.jupiter.api.Test" -> {$Proxy15@4049} "

[2022-10-11 16:17] sbrannen commented on #3057
If you are using the standard JDK reflection APIs to look up annotations on the `Method`, it should be able to find any annotations with the proper runtime retention.

If that's not the case, please provide a minimal example that demonstrates the undesired behavior.

Without an example, I'm afraid we likely won't be able to assist you very well.

[2022-10-12 07:02] raddatzk opened #3058 "Gradle toolchain cannot automatically download JDK 8 for aarch64 on macOS"
I am using the current main branch on commit 4a87980a

## Steps to reproduce

Take an Apple Silicon Device and try `./gradlew clean assemble`, it will produce the following output:
[code]

Seems like spotbugs is trying to get aarch64 version of jdk8, but this is not available. Would it be possible to set the platform to amd64?

## Context

 - Used versions (Jupiter/Vintage/Platform): all
 - Build

[2022-10-12 09:36] sbrannen commented on #3058
Adoptium only offers x64 for Java 8 and macOS, which means that Gradle's toolchain support cannot automatically download an appropriate JDK 8 for you.

So you have to manually download and install an aarch64 compatible JDK 8 for macOS for the build to work.

I got this from Zulu, and it works fine.

[code]

[2022-10-12 09:37] sbrannen commented on #3058
Leaving this ticket open for the time being, since we should update the README to reflect this.

[2022-10-12 09:42] Little-Elephant commented on #3057
I tried testMethod.getDeclaredAnnotations() then I dive into debug in IntelJ Idea (I guess it use standard JDK reflection API)

It does not find org.junit.jupiter.api.Tag annotation, That runtime retention and have method in targets

If it matter JVM correto-17.

I will try to make example based on  samples

[2022-10-12 10:37] Little-Elephant commented on #3057
Unable to reproduce on sample. Will debug more.

[2022-10-12 13:19] Little-Elephant commented on #3057
My bad.  There was no Tag because it was another testMethod, without Tag.

[2022-10-12 13:19] #3057 closed

[2022-10-12 14:54] sbrannen commented on #3057
Glad you sorted it out, and thanks for providing feedback.

[2022-10-12 17:34] marcphilipp commented on #3058
FWIW There are plans for Gradle to support using the [foojay Disco API](https://github.com/foojayio/discoapi) instead of the one from Adpotium which will allow provisioning aarch64-compatible JDKs automatically.

[2022-10-12 17:45] marcphilipp commented on #3058
- 👉 #3059

[2022-10-12 17:47] #3056 closed

[2022-10-13 09:28] mpkorstanje commented on #3026
I reckon https://github.com/junit-team/junit5/pull/3044 is good go.

[2022-10-13 11:58] anatolyra commented on #3056
Thanks.