[2020-10-02 07:46] jayjupdhig commented on #2432
OK... so i've downloaded the file `junit-platform-console-standalone-1.7.0-all.jar` and added it to my project's `lib` directory.

Now my question is: What's the name of the class that contains the main()-method?

So what do i need to define here?

![Usdnbenannt](https://user-images.githubusercontent.com/42765391/94899430-961b3080-0493-11eb-9de2-2d19169bc882.jpg)

My idea is to run that launcher a

[2020-10-02 07:54] jayjupdhig commented on #2432
Currently, these 3 files are in the project's `lib` directory. 2 of them are in the classpath on project config: `junit-jupiter-api-5.7.0.jar` and `junit-vintage-engine-5.7.0.jar` ->first one for `@Test` annotations and the 2nd one to retain backward compatibility to older versions.

The `junit-platform-console-standalone-1.7.0-all.jar` i didn't added to the projects classpath. With that file i ju

[2020-10-02 08:13] jayjupdhig commented on #2432
Oh... when i want to go that way, i also need to add the `junit-platform-console-standalone-1.7.0-all.jar` to classpath! ;-)

I also decompiled the class `module-info.class` in `junit-platform-console-standalone-1.7.0-all.jar`... because of the missing `manifest.mf`...

Then i saw that:

![sfwergf](https://user-images.githubusercontent.com/42765391/94901401-df20b400-0496-11eb-94ca-dba2792f9d58.JPG

[2020-10-02 08:14] jayjupdhig commented on #2432
AND: I don't want to use the eclipse built-in JUnit versions (available on the project config classpath tab) - that was NOT the question!! ;-)

[2020-10-02 08:20] jayjupdhig commented on #2432
On a configuration with eclise-built-in JUNit 5 jars, i also can't see what the main class of junit framework is:

![wedvcwdv](https://user-images.githubusercontent.com/42765391/94902669-dc26c300-0498-11eb-997b-ea31e926dbbd.JPG)

...so my question is still pendent.

[2020-10-02 08:23] jayjupdhig commented on #2432
I also opened a bug case on eclipse bug tracker. When a method is annotated with `@Test`, then Eclipse should show "Run As - JUnit Test" automatically. With self-added 4.13 version, that works. with self-added 5.7 version, it works NOT!!
-> https://bugs.eclipse.org/bugs/show_bug.cgi?id=566021

[2020-10-02 08:23] jayjupdhig commented on #2432
If you need more informations, so please don't heistate to ask me ffor them. Thanks.

Kind regards,
Jan

[2020-10-02 09:20] jayjupdhig commented on #2432
Oh, now i've found the manifest.mf file in META-INF directory. The class with main method is: `org.junit.platform.console.ConsoleLauncher`

;-)

[2020-10-02 11:53] sricharankrishnan opened #2433 "@DisplayNameGenerator - not working with Surefire"
I've searched everywhere for a step by step explanation for this but to no avail. The requirement is simple and clear

I have a demo test class in AppTest.java and I am using Junit 5 for this
I am using the @DisplayNameGenerator with a custom Generator static class
But no changes are showing in the termnial
I am not sure what it is I need to do further. Can someone help me please? Here is the code

[2020-10-02 12:28] sbrannen commented on #2433
What exactly do you mean by the "terminal"?

How are you executing the tests (IDE, build tool, ConsoleLauncher, ...)?

[2020-10-02 12:29] sricharankrishnan commented on #2433
I run the test on the terminal using the command mvn test. I am not using and GUI Editors
![Screenshot from 2020-10-02 17-59-22](https://user-images.githubusercontent.com/19187230/94923173-0e581500-04d9-11eb-92bd-1cc21dea1d6a.png)

[2020-10-02 12:33] sricharankrishnan commented on #2433
Ok BTW, this is built using maven. Does that make a difference by chance to answer this?

[2020-10-02 13:09] #2432 closed

[2020-10-02 13:14] jayjupdhig opened #2434 "How to start a JUnit test from Eclipse console with JUnit as an application with main() method?"
I tried at least 10 different parameter combinations - nothing works:

![Unbessdsdnannt](https://user-images.githubusercontent.com/42765391/94926757-8fa3ad80-04c1-11eb-8623-197ab7564066.jpg)

And when i look at https://stackoverflow.com/questions/52373469/how-to-launch-junit-5-platform-from-the-command-line-without-maven-gradle/52373592#52373592 or https://junit.org/junit5/docs/current/user-guide/

[2020-10-02 13:16] jayjupdhig commented on #2434
What i want is:

1. To define a directory location where all test classes are like /ECLIPSE_PROJECT/classes/com/xxx/testing/junit/*

AND

2. To define a path for a singple class like  /ECLIPSE_PROJECT/classes/com/xxx/testing/junit/MyJUnitTest(.class ???)

[2020-10-02 13:39] jayjupdhig commented on #2434
Doesn't work:

`--disable-banner –select-class testing.junit.MyExampleJUnit5UnitTest`

[2020-10-02 13:39] jayjupdhig commented on #2434
Doesn't work:

`--disable-banner –select-class testing/junit/MyExampleJUnit5UnitTest`

[2020-10-02 13:40] jayjupdhig commented on #2434
Doesn't work:

`--disable-banner –select-class testing/junit/MyExampleJUnit5UnitTest.class`

[2020-10-02 13:40] jayjupdhig commented on #2434
Doesn't work:

`--disable-banner testing/junit/MyExampleJUnit5UnitTest.class`

[2020-10-02 13:40] jayjupdhig commented on #2434
Doesn't work:

`--disable-banner testing/junit/MyExampleJUnit5UnitTest`

[2020-10-02 13:41] jayjupdhig commented on #2434
WTF?!?!

[2020-10-02 13:44] jayjupdhig commented on #2434
Doesn't work:

`--disable-banner –select-class=testing.junit.MyExampleJUnit5UnitTest`

-> It's EXACTLY THAT WHAT HELP PARAMETERS SAYS:

`-c, --select-class=CLASS   Select a class for test discovery. This option can be
                               repeated.`

[2020-10-02 13:44] jayjupdhig commented on #2434
Content of my test class:

`package testing.junit;

import org.junit.jupiter.api.Test;

public class MyExampleJUnit5UnitTest {

	@Test
	public void abc() {

	}

	@Test
	public void cba() {

	}
}`

[2020-10-02 13:47] jayjupdhig commented on #2434
PHUCK that s**t!!!!!!!!!!!!!!

[2020-10-02 13:47] #2434 closed

[2020-10-02 13:58] jayjupdhig opened #2435 "Why are strange characters in console output?"
I use org.junit.platform.console.ConsoleLauncher as an eclipse run config.

Output:

[code]

What's that? -> ``

???

[2020-10-02 14:27] sormuras commented on #2433
Do you configure Surefire to emit display names as documented here? https://maven.apache.org/surefire/maven-surefire-plugin/examples/junit-platform.html#Surefire_Extensions_and_Reports_Configuration_for_.40DisplayName

[2020-10-02 14:45] sormuras commented on #2434
Doesn't meet our [Code of Conduct](https://github.com/junit-team/junit5/blob/main/CODE_OF_CONDUCT.md).

[2020-10-02 14:58] sricharankrishnan commented on #2433
@Sormuras - I've copied and pasted the details from the location you sent but still no difference. Here are the screen shots:

![Screenshot from 2020-10-02 20-26-27](https://user-images.githubusercontent.com/19187230/94937778-ab24ad80-04ed-11eb-90d3-ce62cb7991b3.png)
Screen shot from my POM.xml (this is a multi module project)

![Screenshot from 2020-10-02 20-27-57](https://user-images.githubuserc

[2020-10-02 15:01] sricharankrishnan commented on #2433
/* -> this has no effect */ return super.generateDisplayNameForClass(testClass) + "__YES";
The trailing __YES still cannot be seen

[2020-10-02 15:02] SethiPandi commented on #2435
I would assume you've probably run the tests in a console that doesn't have support for [ANSI escape codes](https://en.wikipedia.org/wiki/ANSI_escape_code). If you were in a console that supported them you'd see output that looked more like the following.

![image](https://user-images.githubusercontent.com/22801583/94938234-da78f180-04d0-11eb-8373-b5b33ab21ceb.png)

`�[32m✔ SUCCESSFUL`

![image](h

[2020-10-02 15:47] sricharankrishnan commented on #2433
I'm actually hitting local time here in India for snooz, ill be back in sometime. I;ve uploaded a demo project of this issue @ https://github.com/sricharankrishnan/demo-num3

So the condition is that once the maven project is downloaded, all commands need to be run on the terminal with mvn test etc..

I'm no pro in Java but Id be grateful if someone could take a look and me know. Currently pursuin

[2020-10-02 18:17] sormuras commented on #2433
I filed a PR that updates Surefire from 3.0.0-M3 to -M5 and checked in GitHub Codespaces that the `__YES` suffix is emitted.

[2020-10-02 19:17] thomasdarimont commented on #2301
This could be really useful when replicating Go style table-driven tests with `DynamicTests` and local records from Java 15.

[code]
See: https://twitter.com/thomasdarimont/status/1312100991127285760

With the `Named` interface from above, one could reduce the plumbing for this a bit.

Btw. if the `DisplayName` annotation were a bit more flexible one could do something like this:
[code]

[2020-10-02 22:49] mjustin commented on #960
Is this behavior documented somewhere (and should it be)?

[2020-10-02 23:55] sricharankrishnan commented on #2433
Hello @sormuras - good morning!
yes changing to m5 worked and its great!

![Screenshot from 2020-10-03 05-05-32](https://user-images.githubusercontent.com/19187230/94977411-3de93a80-0536-11eb-8b39-4a7bb1bacde8.png)
Screenshot from my terminal. So the @DisplayNameGenerator Annotation seems to be fine with the class name. Will do more work and let you know if something comes up

I'd also like to cla

[2020-10-03 08:09] b0n541 commented on #985
I would try to take on this issue.

I'm currently not sure about the requirements and the implementation approach:

1. Should each test status be configurable independently or shall there be one option for formatting all test statuses in bold, underline or italic?
2. Should the new option be added to the command line options listed here: https://github.com/junit-team/junit5/blob/main/junit-platfor

[2020-10-03 09:22] jayjupdhig commented on #2434
I'm sorry, now i've deleted / edited my posts...

[2020-10-03 12:14] marcphilipp commented on #960
Yes, it's documented on all method-level annotations, e.g.

[2020-10-03 12:33] marcphilipp commented on #2421
Actually, this works as-designed: the `BeforeAllCallback` is called before every container. Thus, in your case, before all methods in `MainActivityTest` _and_ before all methods in `MainActivityTest$Nested`. You can use the `ExtensionContext.Store` to store something in the first invocation and check for that value in subsequent invocations.

[2020-10-03 12:33] #2421 closed

[2020-10-03 12:36] sbrannen commented on #2435
Thanks for getting in touch, but it feels like this is a question that would be better suited to [Stack Overflow](http://stackoverflow.com/). We prefer to use the issue tracker only for bugs and enhancements. Feel free to update this issue with a link to the re-posted question (so that other people can find it) or add some more details if you feel this is a genuine bug.

[2020-10-03 12:36] #2435 closed

[2020-10-03 12:38] marcphilipp commented on #2435
You can disable ansi colors using `--disable-ansi-colors`.

[2020-10-03 12:51] marcphilipp commented on #985
I think we should make this user configurable, e.g via a properties file that can be specified via a new `--color-theme` cli arg.

`junit-console-color-theme.properties`
[code]

@AJNeufeld Would that work for you or would it be more convenient if we read the theme from an environment variable?

[2020-10-03 16:40] jayjupdhig commented on #2435
Thanks, but that does not work when i remember right. But i will try it again ASAP.

[2020-10-03 19:46] danbosnichill opened #2437 "Cannot find junit-platform-commons pom in maven repository"
I found a bunch of Bazel examples (like the following) that ends up referring to a pom file in maven that does not exist.
https://github.com/junit-team/junit5-samples/tree/main/junit5-jupiter-starter-bazel

"... depends on @maven//:org_junit_jupiter_junit_jupiter_api in repository @maven which failed to fetch. no such package '@maven//': Error while fetching artifact with coursier: Resolution erro

[2020-10-03 19:49] danbosnichill commented on #2437
Nevermind, I figured it out.  Copy-paste error.

[2020-10-03 19:49] #2437 closed

[2020-10-03 20:23] jsedding opened #2438 "junit-platform-commons 1.7.0 does not contain MANIFEST.MF as first JAR entry"
While the JAR file specification doesn't mention this, the `java.util.jar.JarInputStream` implementation assumes that `META-INF/MANIFEST.MF` is the first or second entry in a jar file.

From the `JarInputStream` sources:

Also the [Java Archive Tool Documentation](https://docs.oracle.com/javase/7/docs/technotes/tools/solaris/jar.html) mentions:

Commit 5631ebc (#2217) introduced reproducible build

[2020-10-04 07:32] marcphilipp commented on #2438
Thanks for the comprehensive bug report! I wasn't aware of that assumption. Would you be interested in submitting a PR with a fix?

[2020-10-04 12:14] #2402 closed

[2020-10-05 08:49] jayjupdhig commented on #2435
I was wrong. Now it works with `--disable-ansi-colors` ... thx!! :-)

[2020-10-05 08:52] jayjupdhig commented on #2434
The problem was there seems to be a "long" minus character i've copied from the internet. I works with computers since more than years, but i didn't know there is a min minus character besides the "normal" one.

On my keyboard there are to ones, but both are the same: One one the "normal" keyboard area, the other one one the numberic area.

Sry. again and thanks.

With kind regards,
Jan

[2020-10-05 10:24] sbrannen commented on #2434
Yes, you likely copied an m-dash when you needed a hyphen: https://www.punctuationmatters.com/hyphen-dash-n-dash-and-m-dash/

Glad you sorted it out!

[2020-10-05 10:57] jayjupdhig commented on #2434
Thank you very much for your information!! :-)

[2020-10-05 16:15] Romanzek opened #2440 "Wrong encoding of standard output"
We are using log4j 1.2 for loging purpose in out project. All output is produced in UTF-8. But when we executing our tests on Windows in junit 5 we have broken encoding in standard output and the junit 5 html report. It's seems junit converts stdout according to system encoding - when we change the file.encoding property (jvmArgs '-Dfile.encoding=UTF-8') all become ok.
We need  some settings in ju

[2020-10-06 07:44] sricharankrishnan commented on #2433
Good day to you all. Just wanted to check on my request status.
Looking forward to hearing from your side please

[2020-10-06 08:30] sormuras commented on #2433
As @sbrannen wrote in this [comment](https://github.com/junit-team/junit5/issues/2435#issuecomment-703096979) we "prefer to use the issue tracker only for bugs and enhancements." Thus, I'll close this issue.

From your last question and screenshots, I can tell, everything's working as expected:

Exactly how you did it.

What-ever you want/need. In Jupiter, both end up as a custom display name stri

[2020-10-06 08:30] #2433 closed

[2020-10-06 10:15] jsedding commented on #2438
Thanks for your prompt feedback. I am not familiar with kotlin, but I gave it a shot anyway. It works for me with the proposed change.

[2020-10-07 13:52] MichaelWarnecke opened #2444 "TempDir can't delete subfolders when assertAll is used"
## Steps to reproduce

Executing the following test results in an exception:
[code]

[code]

Debugging shows that `file` can be deleted while `dir` remains existent even after a successful call to `Files#delete` ([TempDirectory](https://github.com/junit-team/junit5/blob/cfdf09aad5ed70fae210fe14fad6d6356f749242/junit-jupiter-engine/src/main/java/org/junit/jupiter/engine/extension/TempDirectory.java

[2020-10-07 14:13] sbrannen commented on #2444
This is potentially a duplicate of #2171.

Can you please try your example against JUnit Jupiter 5.7.0?

[2020-10-07 17:46] sormuras commented on #2444
Or, like in most case, some other file handle holds a lock on the file/directory on Windows.

[2020-10-07 17:59] marcphilipp commented on #2440
JUnit doesn't write an HTML report. How are you running your tests?

[2020-10-08 03:33] wind57 commented on #456
This is great, very much appreciate the hint. It has a few drawbacks:

  - every test goes via that extension. yes, we do filter them by some annotation obviously, but you are still paying for a conditional check in every _other_ test.

 - as soon as you need more then 3 (imho) different `Before/After`Suite, that extension becomes cumbersome to maintain (this has hit us).

 - if tests are run in p

[2020-10-08 05:14] MichaelWarnecke commented on #2444
Using org.junit.jupiter:junit-jupiter:5.7.0, the thrown exception is exactly the same.

@sormuras was actually right. Apparently there was an open file handle due to the stream returned from `Files.list`. Using a try-with-resource around the stream, the code throws no more exceptions:

[code]

[2020-10-08 05:14] #2444 closed

[2020-10-08 10:05] loicmathieu commented on #2399
Hi, is this considered for inclusion ?

I create an example implementation by passing the `Executable` to the interceptor: https://github.com/junit-team/junit5/compare/main...loicmathieu:feat/access-dynamic-test-executable

Of course this is only a proposal implementation to show how it can work. As it would break the existing interceptors maybe it needs to keep the old method for backward compabi

[2020-10-08 13:56] Romanzek commented on #2440
I mean JUnit platform. We just started tests in our gradle build.

[2020-10-08 13:57] Romanzek commented on #2440
The same problem with redirecting standard output with gradle option "testLogging.showStandardStreams = true".

[2020-10-08 14:38] marcphilipp commented on #2440
In that case Gradle writes these reports and setting `file.encoding` actually sounds like what you need.

[2020-10-08 14:39] #2440 closed

[2020-10-09 06:44] wimdeblauwe commented on #1948
Would like this as well. For me the ordering would be based on the Spring Boot test slices used. So first unit tests without any Spring context stuff, then `@JsonTest`, then `@DataJpaTest`, then `@WebMvcTest` and end with `@SpringBootTest`.

[2020-10-09 10:14] marcphilipp commented on #2419
Tentatively slated for 5.8 M1 solely for the purpose of _team discussion_.

[2020-10-09 10:19] marcphilipp commented on #2419
AFAIK the only way to do so is to replace the `SecurityManager` and that has to be done as a VM parameter so that would mean it's out-of-scope for JUnit. Am I missing sth.?

[2020-10-09 10:28] marcphilipp commented on #2399
**Team decision:** Add an overload of `interceptDynamicTest` that takes an `Invocation<Void>`, a `DynamicTestInvocationContext`, and an `ExtensionContext` that delegates to the old `interceptDynamicTest` method (so that existing extensions still work), and deprecate the old method. `DynamicTestInvocationContext` will just have a single method (for now): `Executable getExecutable()`.

@loicmathieu

[2020-10-09 10:37] marcphilipp commented on #2396
**Team decision:** Add `ExecutionMode getExecutionMode()` to `ExtensionContext`.

@kriegfrj Would you be interested in submitting a PR for this?

[2020-10-09 10:39] marcphilipp commented on #2390
Closing with rationale explained in https://github.com/junit-team/junit5/issues/960#issuecomment-698866761.

[2020-10-09 10:39] #2390 closed

[2020-10-09 10:43] marcphilipp commented on #2429
@leonard84 Will Sarek become part of Spock at some point? If so, the `static` initializer "hack" should work when done in the `TestEngine`. 🤔

[2020-10-09 12:09] loicmathieu commented on #2399
@marcphilipp great! I'll be happy to work on a PR for it.

[2020-10-11 05:43] sormuras commented on #2406
CodeQL doesn't support Java 15, yet. See upstream issue: github/codeql#4281

Thus, disable workflow for the time being.

[2020-10-11 07:25] #2406 closed

[2020-10-11 12:13] XN137 commented on #2423
is this still actively being worked on?
if no, i might be willing to take a stab at this

[2020-10-12 13:28] kriegfrj commented on #2396
Thanks for asking - I'll see if I can find some time but I'll be busy for the next couple of weeks at least.

[2020-10-12 18:11] leonard84 commented on #2429
@marcphilipp we currently don't plan to merge the code bases, Sarek will be integrated via ServiceLoader https://github.com/spockframework/spock/issues/1220. And the problem remains that it has to run as early as possible due to the fact that it should transform classes on load, if it is done at the `TestEngine` level then another engine could have already loaded more classes.

`TestExecutionListe

[2020-10-12 18:42] leonard84 commented on #2423
@XN137 go ahead, I still have some stuff to finish over at https://github.com/spockframework/spock before I get to this

[2020-10-13 02:57] Danc2050 commented on #1776
I have this problem. I am using `<junit-jupiter.version>5.7.0</junit-jupiter.version>`. Anyone still willing to work on this issue?

[2020-10-15 09:48] ben-manes opened #2450 "Excessive memory usage with highly parameterized test"
## Steps to reproduce
[code]

When running on Gradle with a 256mb heap, this test performs ~200k executions before an OutOfMemoryError. The memory grab appears to be heavy-weight test results before retained in-memory. This was run against v5.7.0.

1. Download [junit-stress.zip](https://github.com/junit-team/junit5/files/5383847/junit-stress.zip) project.
2. Run `gradlew cleanTest test` until it s

[2020-10-15 11:58] adam11grafik commented on #1372
Hi,
I have similar requirement like @igorstojanovski.
I am working with test management tool like HP ALM and QTest.
I want to use my own engine from junit5 to change a little logic of discovering JUnit5 tests base on executed test set or test suite from test management.
I read carefully all comments here and tried with many options but did not achieved excluding junit-jupiter engine when we run bu

[2020-10-15 13:44] bennetelli commented on #2245
I'm experiencing the same issue as described above. Tried several things like moving the jar around, trying lots of parameters, but it's still not working. The standalone console doesn't find Tests.

[2020-10-15 13:47] sormuras commented on #2245
@bennetelli ... a bit more information about your case would help us to help you. 😉

[2020-10-15 13:56] bennetelli commented on #2245
haha, sorry.. you are right ;-)

I've got a plain Gradle project, build the application and wanted to run the compiled junit jupiter tests by using the standalone-console.

[2020-10-15 18:20] Chealer opened #2451 "Improve user guide for Nested Tests (section 2.11.)"
## Deliverables

- A clear documentation of nested tests. Currently, section _Nested Tests_ contains:

It is unclear what the _test class family_ is.
It is also unclear how the _Nested test suite for testing a stack_ behaves.

[2020-10-15 18:47] Chealer commented on #607
I agree - it would be better to have a mechanism for specifying dependencies than ordering mechanisms.

[2020-10-18 03:48] SarathBabu opened #2452 "@ParameterizedTest display custom names for arguments"
When using `@ParamerizedTest` annotation, will it be possible to display a string other than what is supplied by toString()?
When we are using some big objects the toString value is very large and displays lots of informations which are not relevant

It would be helpful if we can give provision to
* display some parameter on the argument like `{0.shortName}` or `{0.route.origin}` etc
* Provide ano

[2020-10-18 18:05] christianhujer commented on #2087
That depends on the definition of "reliably". The `Thread.stop()` is reliable in the sense that it will reliably stop a Thread. It's also "unsafe" as this may leave objects in an inconsistent state, which is the reason why it is deprecated (but not scheduled for removal). In the context of having a reliable timeout for tests, this may be exactly what some users (including me) might want.

Here's m

[2020-10-19 08:20] sbrannen commented on #2452
Closing this issue since it is effectively a duplicate of  #1154.

I'll link to this issue from  #1154, since this issue targets parameterized tests explicitly; however, a general purpose solution should be implemented in conjunction with #1154 that is usable with display names for parameterized tests as well.

[2020-10-19 08:20] #2452 closed

[2020-10-20 10:53] 3rdstage commented on #1403
Maven Surefire Plugin added **native support** for JUnit Platform (JUnit 5) from **version 2.22.0**.  Apache JIRA issue [SUREFIRE-1330](https://issues.apache.org/jira/browse/SUREFIRE-1330) is for this.

So, the below plug-in declaration is enough to support `@Disabled` tags and other stuffs of JUnit 5.

[code]

[2020-10-21 12:45] filiphr opened #2455 "ExtensionContext.Store#getOrComputeIfAbsent invokes the defaultCreator twice if the defaultCreator throws an exception"
## Steps to reproduce

[code]

I think that the fact that this is a parameter resolver doesn't matter. When this code is run the exception will be thrown twice.

The reason for that is the fact that the `MemoizingSupplier` does not handle the fact that the passed supplier might throw an exception in:

https://github.com/junit-team/junit5/blob/a37f726bc3f5241cdffd7491e16b0266002e0eb9/junit-jupiter-

[2020-10-21 12:59] sbrannen commented on #2455
Tentatively slated for 5.7.1 for investigation based on the assumption that this is in fact a bug, which it appears to be.

[2020-10-21 17:48] PashaTurok opened #2456 "Add @FieldSource for @ParameterizedTest"
For @ParameterizedTest we can use @MethodSource. Consider the following example:
[code]

So, maybe we should add @FieldSource that will allow to have a reference to field?

[code]

[2020-10-21 17:54] sbrannen commented on #2456
Closing as duplicate of #2014.

Feel free to participate in the discussion there or up-vote the issue.

[2020-10-21 17:54] #2456 closed

[2020-10-22 08:38] mikelei8291 commented on #2256
I think it's also worth considering whether you should implement a placeholder to represent a range of arguments for the format string of the display name to be used for individual invocations of the parameterized test.

For example, for the use case stated in this issue, I would like to format the name of each invocation like this:
<blockquote><pre><code>@ParameterizedTest<strong>(name = "[{index

[2020-10-22 11:21] rishiCS commented on #2430
@sbrannen @paschi Assign this issue to me please.

[2020-10-22 12:24] sbrannen commented on #2430
@rishiCS, the fix for this might be rather involved.

Thus, before starting on a PR, why don't you research the issue and outline a proposal for fixing it here?

That way the team could provide feedback before you get knee-deep in a PR.

Or if you feel confident in your proposal, feel free to go ahead and submit a PR.

[2020-10-23 10:22] marcphilipp commented on #2451
**Team decision:** Improve the nested tests section in the User Guide: (1) remove confusing "family" term, (2) add behavior description and IDE screenshot for "testing a stack" example.

[2020-10-23 10:28] martijnhiemstra opened #2459 "Junit 5 - BeforeEach, BeforeAll, AfterAll, AfterEach are completly ignored"
I have a maven project that I have loaded in Eclipse. I have setup a test class with a test method that gets executed when I right click the project and say Run as Junit test. So the tests work.

I now want to add a ```@BeforeAll ``` to my tests so that I can initailize stuff. I create a new class in the src/test/java directory and that class is called TestSuiteTest. I add the follwoing lines:

[c

[2020-10-23 10:38] marcphilipp commented on #2411
Duplicate of #2296

[2020-10-23 10:38] #2411 closed

[2020-10-23 10:39] marcphilipp commented on #2296
@baev Would this suit your needs as well?

[2020-10-23 10:41] marcphilipp commented on #2459
`@BeforeAll` only applies to _all_ tests in that test class, not globally for all test classes.

[2020-10-23 10:41] #2459 closed

[2020-10-23 10:46] marcphilipp commented on #2412
**Team decision:** Always execute explicitly selected test classes regardless of class name filters for the `JUnitPlatform` runner.

[2020-10-23 12:59] mpkorstanje commented on #2296
This would also be usable for Cucumber.

[2020-10-23 13:32] baev commented on #2296
Depends on implementation. The current issue we have is that report entries are published to system out in case you run tests via IDEA. So it would be nice to have some *internal* communication link or storage.

What do you think about building bi-directional communications? It maybe useful to be able to share state managed on platform level with engine extensions.

[2020-10-24 13:09] marcphilipp commented on #2450
Thanks for the detailed report! This is effectively a duplicate of #1445. Let's continue the discussion there!

[2020-10-24 13:09] marcphilipp commented on #2450
Duplicate of #1445

[2020-10-24 13:09] #2450 closed

[2020-10-24 16:00] marcphilipp commented on #1445
I created a draft PR with a bunch of improvements. /cc @ben-manes

[2020-10-24 19:52] leonard84 opened #2461 "Make DefaultParallelExecutionConfiguration public"
As requested in https://github.com/spockframework/spock/pull/1207/files#r511436053

## Deliverables

- [ ] make `org.junit.platform.engine.support.hierarchical.DefaultParallelExecutionConfiguration` public

[2020-10-25 05:07] #2438 closed

[2020-10-25 09:37] marcphilipp commented on #2123
@arturmkr Does the issue persist for you? If so, please create a new issue.

[2020-10-25 09:39] marcphilipp commented on #2338
Juliette's right, `interceptTestTemplateMethod()` is what you're looking for.

[2020-10-25 09:39] #2338 closed

[2020-10-25 09:43] marcphilipp commented on #2419
@sudo-chill Friendly ping.

[2020-10-25 09:50] marcphilipp commented on #1568
Tentatively slated for 5.8 M1 solely for the purpose of _team discussion_.

[2020-10-25 09:53] marcphilipp commented on #456
If you use `Store.getOrComputeIfAbsent` it will do the check for you in a thread-safe manner.

[2020-10-25 09:56] marcphilipp commented on #2296
I'd say let's cross that bridge when we come to it. For now, we don't have a real use case for that so let's focus on getting this issue resolved first.

[2020-10-25 09:57] marcphilipp commented on #2296
Tentatively slated for 5.8 M1 solely for the purpose of _team discussion_.

[2020-10-25 12:51] #2455 closed

[2020-10-25 12:57] marcphilipp commented on #2430
I'll take a look.

[2020-10-25 14:31] marcphilipp commented on #2430
@paschi Here's a workaround that does what you need:

[code]

[2020-10-25 14:39] marcphilipp commented on #2430
Since `TestInstancePreDestroyCallback` is often paired with `TestInstancePostProcessor` we should try to make them more symmetric. While the former is currently called once per test instance, the latter is only called once per extension context. Moreover, while the former is passed the `ExtensionContext` corresponding to the test class, the latter is passed that of the test method. Thus, I think w

[2020-10-25 14:39] marcphilipp commented on #2430
Tentatively slated for 5.8 M1 solely for the purpose of _team discussion_.

[2020-10-25 15:33] sudo-chill commented on #2419
Ah sorry, I should have responded sooner.

In general I wasn't sure if JUnit was the right place for this. But it represents the most visible possible 'injection point' for such a behavior within testing that I thought it was a good place to start asking if there are options.

After doing a bit of reading about the SecurityManager, it sounds like you are correct; a JVM argument is required to spec

[2020-10-25 15:33] #2419 closed

[2020-10-25 16:16] marcphilipp commented on #2461
Tentatively slated for 5.8 M1 solely for the purpose of _team discussion_.

[2020-10-25 16:22] #2399 closed

[2020-10-25 20:18] andreoss commented on #2338
@marcphilipp Thanks, it would be nice to have `@ParameterizedTest` mentioned in the javadoc of `InvocationInterceptor`.

[2020-10-26 02:21] kriegfrj opened #2462 "[junit-platform] Add interrupt/cancellation support"
As part of the Bndtools project we've been working on an interactive OSGi testing environment based on JUnit Platform. It supports hot re-deployment of code (both application code and test code) and re-running of the tests without having to restart the framework. This is extremely useful for speeding up the development cycle for integration tests of code in the framework when that framework has a

[2020-10-26 06:46] marcphilipp commented on #2462
Thanks for raising the issue! We already brainstormed similar ideas in https://github.com/junit-team/junit5/issues/1880#issuecomment-575120923

[2020-10-26 06:46] marcphilipp commented on #2462
Duplicate of #1880

[2020-10-26 06:46] #2462 closed

[2020-10-26 06:53] marcphilipp commented on #2338
Point taken. Added in 6525e176bc53ddc9d6f8471376b5faf1569e3192.

[2020-10-26 10:10] slyoldfox commented on #878
At the moment I am (ab)using(?) `@Parameterized.Parameters` to create Spring Boot Tests with all permutations of a set of profiles.

Each of the profiles exposes a certain set of configurations and beans and represents "a module".

This is very old code and I'm trying to tidy it up for Junit 5. Are there any prettier alternatives for this @sbrannen ? I looked at some Stackoverflow posts but none h

[2020-10-26 13:36] kriegfrj commented on #2462
So sorry! I searched for "interrupt" and "cancel", but not "stop"! :smile: Glad to see similar solutions being proposed in the other issue.

[2020-10-26 13:37] marcphilipp commented on #2462
No problem at all! I struggle finding issues all the time. 😉

[2020-10-26 13:44] kriegfrj commented on #1880
Interesting that in my duplicate issue #2462, I came up with the same idea as the last one - to have an asynchronous `execute()` method that returns a future-like object. The more I think about it, the more I think that this is the cleanest way to go.

[2020-10-27 14:18] Yinjialiang commented on #201
oh, 4 years!  Time flies!!

[2020-10-29 09:01] yschimke opened #2468 "LauncherConfig.builder() appears accidentally package private"
## Steps to reproduce

val config =  LauncherConfig.builder().build() // doesn't compile

## Context

 - Used versions (Jupiter/Vintage/Platform): Jupiter 5.7.0
 - Build Tool/IDE: Gradle/Intellij

## Deliverables

workaround is

[code]

[2020-10-29 09:03] yschimke opened #2469 "Make useful console loggers public API"
## Deliverables

TreePrintingListener should be public

Workaround

[code]

[2020-10-30 11:47] marcphilipp commented on #2331
**Team decision:** We think this would be of limited use since it would only work for single-method test classes and rather involved to implement. Thus, we have decided to decline your request for the time being.

[2020-10-30 11:47] #2331 closed

[2020-10-30 11:52] marcphilipp commented on #2417
**Team decision:** As documented, we pass the format expression to `MessageFormat` which uses the default locale. Thus, this works as designed and documented. If you run your tests on machines with different locales and want consistent test names, please set the JDK's locale via the standard system property. If you need to test with different locales, you could use Pioneer's [`@DefaultLocale`](htt

[2020-10-30 11:52] #2417 closed

[2020-10-30 12:12] marcphilipp commented on #2420
**Team decision:** Introduce `ignoreTrailingAndLeadingWhitespace` attribute to `@CsvSource` and `@CsvFileSource` with default value of `true`.

[2020-10-30 12:13] marcphilipp commented on #2420
@dmsergeevN26 Would you be interested in submitting a PR for this?

[2020-10-30 18:01] yschimke commented on #1963
For context I'm trying to use junit 5 in a graal app that specifically runs our tests. The defaults do a lot of reflection, resource loading and a strictly controlled programmatic approach is a lot better than working around Consolelauncher.main()

[2020-10-30 19:48] yschimke commented on #2468
Appears to be an intellij bug

[code]

But the same build from the command line is fine.

[2020-10-31 10:51] marcphilipp commented on #2468
Is the Kotlin JVM target set in your buildscript?

[2020-10-31 11:02] yschimke commented on #2468
Probably not for some non-obvious reason, but at least it is attempted and works for all other cases.

[code]

[2020-10-31 11:05] yschimke commented on #2468
Raised https://youtrack.jetbrains.com/issue/KTIJ-427 so consider this closed here.

[2020-10-31 12:19] yschimke opened #2470 "Programmatic equivelant of junit.jupiter.extensions.autodetection.enabled"
In Junit 5 how can I register an extension programmatically without doing it per-test. I'm currently using the java services mechanism which is activated by the system property junit.jupiter.extensions.autodetection.enabled, but I'm trying to achieve the same as a JVM system wide without using the services mechanism.

[code]

[2020-10-31 18:59] JojOatXGME commented on #2331
This would also work for test classes with multiple methods. However, all tests would be executed on the same instance which isn't usually the case.

[code]

Anyway, I respect your decision even so I would like to see a more straightforward way to create tests for *Test Kit*.

[2020-11-02 14:37] deionut commented on #1776
I use version 5.7.0 of junit with maven and the @Order(number) annotation is not working; my maven dependency:
  <dependencies>

    <dependency>
      <groupId>software.amazon.qldb</groupId>
      <artifactId>amazon-qldb-driver-java</artifactId>
      <version>2.0.0</version>
    </dependency>

    <dependency>
      <groupId>com.amazonaws</groupId>
      <artifactId>aws-java-sdk-qldb</artifactId

[2020-11-02 14:46] sbrannen commented on #1776
@Danc2050 and @deionut, which `@Order` annotation are you using?

Can you verify that it is `org.junit.jupiter.api.Order`?

[2020-11-03 12:31] sewe opened #2471 "Need alternative to TestInfo.getTestClass for inherited @Nested tests"
I have a shared base class with a couple of `@Test` methods (like [this one](https://github.com/sewe/junit5-samples/blob/reproducer/junit5-jupiter-starter-gradle/src/test/java/com/example/BaseClass.java)).

Now suppose the `TestInfo` object injected into the test methods should be used to derive unique, test-specific directory names.

Unfortunately, no combination of `TestInfo.getTestClass()` and

[2020-11-03 12:59] sewe opened #2472 "The Gradle test runner's XML report lumps together unrelated @Nested tests under the same test/@classname"
Not a 100% sure whether you are responsible for the Gradle test runner and whether the problem is located in the JUnit 5 part of Gradle's `java` plugin, but here is probably a good starting place to file this issue. That being said, feel free to point me to the Gradle project if you think it is their "fault".

## Steps to reproduce

1. Check out the `reproducer` branch from https://github.com/sewe

[2020-11-03 16:08] marcphilipp commented on #2472
Since Gradle writes that XML report, we cannot fix that. Please open an issue on the Gradle side.

[2020-11-03 16:08] #2472 closed

[2020-11-03 16:36] marcphilipp commented on #2471
You could do something like this:

[code]

[2020-11-04 10:53] dmsergeevN26 commented on #2420
@marcphilipp i will give it a try

[2020-11-04 11:56] sewe commented on #2472
Thanks. This now has morphed into https://github.com/gradle/gradle/issues/15075

[2020-11-04 17:20] sewe commented on #2471
Interesting. The exact string is immaterial for me, as long as it is human-readable and unique per executed test. But kudos for all the class name mangling in `getActualName`.

I am just wondering whether something akin to `TestInstances` might make a nice additon to `TestInfo`, which seems ATM unaware of `@Nested` tests. (Or maybe `TestInfo.getParentInfo()`?)

`TestInfo.getDisplayName` also gives

[2020-11-05 13:55] sblumenstock-doubleSlash commented on #990
So Dynamic Tests are not supported with display names in sure-fire plugin?

[2020-11-05 15:41] CRogers commented on #1967
Also just got bitten by this, left me very confused why my tests were failing with files already existing.

[2020-11-06 09:20] rmannibucau commented on #1604
+1, I want to impl a parameter resolver which only handles the parameter if it is not handled by another parameter resolver and it is quite hard ATM without doing a lot of reflection and depending on the engine to get the ExtensionRegistry

[2020-11-06 11:40] silh commented on #2178
Still having the same issue with 3.7.0.

[2020-11-06 11:54] gayanW commented on #201
4 years, 7 months, 24 days, and counting.

[2020-11-07 06:56] jlink commented on #201
Is anyone willing to put a worthwhile bounty on it? If so I’m willing to spent significant time on a solution. If not, then it’s more than ok for the JUnit team to spend their time on stuff which has more value for _them_.

[2020-11-07 08:40] asarkar commented on #201
Pretty sure buying labor isn’t how OSS is supposed to work. Good luck.

[2020-11-07 09:41] jlink commented on #201
You're absolutely right. It's mostly about people investing _their own private time_ at _their own discretion_.

[2020-11-08 14:44] arturmkr commented on #2123
@marcphilipp , I found a root cause.

Using JUnit 5.7.0 and having following build.gradle:

[code]

If I change JUnit 5.7.0 to JUnit 5.6.3 - everything works OK!

[2020-11-08 14:50] sbrannen commented on #2123
@arturmkr, please refer to https://github.com/junit-team/junit5/issues/2123#issuecomment-566224972 for details on how to properly upgrade a dependency version when using Spring Boot.

[2020-11-09 03:07] Frontrider commented on #201
There is actually a PR for this right now...

[2020-11-11 14:14] jimonthebarn commented on #1724
We ran into this issue as well. Our motivation for this is to run E2E-tests within a cluster by deploying a Spring Boot Application executing the tests using the JUnit5 platform launcher.

[2020-11-12 13:55] dpreussler commented on #201
@Frontrider  Nice which one is that?

[2020-11-12 15:52] sormuras commented on #2391
Related follow-up and upstream links:
- https://bugs.openjdk.java.net/browse/JDK-8254023
- https://github.com/openjdk/jdk/pull/622
- https://mail.openjdk.java.net/pipermail/compiler-dev/2020-October/015200.html

[2020-11-12 17:04] filiphr commented on #201
I think that @Frontrider is referring to PR #2457. I've already mentioned in the PR, the PR goal is not to add an extension point for this issue. However, with it is possible to change the thread context class loader such that the classes can be loaded by it during the discovery phase. If however the discovery request is given already loaded classes then this won't work.

[2020-11-13 07:43] dkroehan commented on #1724
Same issue here. Any update on this issue?

[2020-11-13 11:36] marcphilipp commented on #2430
**Team decision:** Investigate fixing this without introducing a new interface.

[2020-11-13 12:10] marcphilipp opened #2473 "Add overloads for all methods in EventConditions that take Condition<Event>"
For consistency with `container(Condition<Event>)` we should add `test(Condition<Event>)`, `nestedContainer(Condition<Event>)` etc. to allow use cases such as `test(displayName("foo"))`.

## Deliverables

- [ ] Add the overloads

[2020-11-13 12:55] marcphilipp commented on #1724
No, but someone could pick up where I left off above: https://github.com/junit-team/junit5/issues/1724#issuecomment-518027950 🙂

[2020-11-13 13:15] mmerdes commented on #2451
in progress

[2020-11-14 15:49] marcphilipp commented on #2471
Tentatively slated for 5.8 M1 solely for the purpose of _team discussion_.

[2020-11-15 14:37] #2451 closed

[2020-11-16 16:10] leonard84 opened #2476 "It should be possible to select inherited methods as tests"
This issue is caused by https://github.com/spockframework/spock/issues/1235

It used to be possible to select an inherited tests in a child class.

`./gradlew test --tests *ChildSpec.parent`

My guess is that it is probably that line here
`return matcher.matchesTest(methodSource.getClassName(), methodSource.getMethodName());`

https://github.com/gradle/gradle/blob/46d60a4c6d72ce8880882e76a73d8db25

[2020-11-16 16:32] marcphilipp commented on #2476
The filtering code that probably needs to be changed is in Gradle, not JUnit Platform. Would you mind opening a Gradle issue instead?

[2020-11-16 16:46] #2476 closed

[2020-11-19 04:34] marcusvoltolim commented on #2154
More clean example:

[code]

[2020-11-19 07:44] amirmuminovic commented on #1967
I've recently started doing Java and I have to admit the behaviour of @Tempdir is not what one would expect. The fact that only one temporary folder is made could be misleading and give you the wrong impression of the test execution. Could we at least provide a warning when multiple TempDirs are used in a test?

[2020-11-19 11:00] nightswimmings commented on #1955
I beg for supporting this feature, so there is an easy way to pick a single assertions framework...

[2020-11-20 15:35] #2473 closed

[2020-11-20 15:51] adil-hussain-84 opened #2477 "Add non-null return type to assertNotNull method"
It would be sweet if the `assertNotNull(actual:)` method returned the object that is passed into it back out as a non-null type.

This would help with writing JUnit 5 tests in Kotlin big time and avoid the need to force unwrap properties like this:

[code]

Instead, tests like the above code snippet could be simplified to the following:

[code]

Note that the [kotlin-test](https://kotlinlang.org/a

[2020-11-20 16:09] marcphilipp commented on #2477
I think that's a good idea but we'd have to investigate whether the return type can be changed without breaking backward compatibility.

[2020-11-20 16:09] marcphilipp commented on #2477
Tentatively slated for 5.8 M1 solely for the purpose of _team discussion_.

[2020-11-20 16:20] sormuras commented on #2477
If such a refactoring breaks the existing API, we could introduce new methods that a) delegate to the existing ones for the null-check and b) return the given values. Similar to [`Objects.requireNonNull`](https://docs.oracle.com/javase/8/docs/api/java/util/Objects.html#requireNonNull-T-) from the `java.util` package.

[2020-11-20 16:43] sbrannen commented on #2477
The proposal is analogous to the signature for `org.junit.platform.commons.util.Preconditions.notNull(T, String)`.

[2020-11-22 12:52] Bukama commented on #1604
Would also love to see this.

My scenario: I use the `selenium-jupiter` extension which has a `ParameterResolver` to pass all configured browsers (`ChromDriver`, FireFoxDriver`, etc.) to the `@TestTemplate` method (which only has the `WebDriver` interface as an parameter.

I know wanted to add another `ParameterResolver`  to wrap the `WebDriver` with an `EventFiringWebDriver` to register an `Event

[2020-11-22 13:06] rmannibucau commented on #1604
A trick to implement it is to integrate with main engine this way: https://github.com/apache/karaf-winegrower/blob/master/winegrower-extension/winegrower-testing/winegrower-testing-junit5/src/main/java/org/apache/winegrower/extension/testing/junit5/internal/engine/CaptureExtensionRegistry.java. Then you can test if another resolve supports it (https://github.com/apache/karaf-winegrower/blob/master

[2020-11-22 13:46] rmannibucau opened #2479 "Allow fields, methods, and constructors in Jupiter to be private"
Hi,

In java there is no real reason to support package scope member but not private ones so let's drop that constraint in next release please.

Romain

[2020-11-22 14:18] Michael1993 commented on #1604
What about classic composition?

If you have a `ParameterResolver` that gets registered with `@ExtendWith` but you want to modify the value - why not just wrap the original `ParameterResolver` with your own? Like so:

[code]

This, of course, presumes that you can change your annotation from `@ExtendWith(AlienParameterResolver.class)` to `@ExtendWith(MyParameterResolver.class)`.

If you can't chan

[2020-11-22 14:50] rmannibucau commented on #1604
@Michael1993 composition is almost immediately blocked by the fact you can't know all potential other extensions and integrate with all others - if it would be true then you would end up having all extensons un jupiter and then drop the extension concept. I think it is saner to have a kind of ranking per parameter (which could have a default value in ParameterResolver). This way extensions can eva

[2020-11-22 15:06] Michael1993 commented on #1604
Yeah, if you look at it from JUnit side, execution order is a big question mark. But my solution is on the client/user side - you control how you wrap the `ParameterResolver`, meaning priority is controlled.

The second solution does have a problem with execution order but it's a last resort hack anyways.

[2020-11-22 15:10] rmannibucau commented on #1604
@Michael1993 hmm, your solution works if the user disables all extensions which are sometimes already composed so - to have tested it before the hack I shared before - it is very complex for end users to use when having multiple extensions - it is doable for simple cases, I agree. There is no issue except the dependency on the engine but I suspect it can be pushed in api module - with the priority

[2020-11-23 10:20] sbrannen commented on #2479
Which type of field are you referring to?

[2020-11-23 10:22] sbrannen commented on #2479
Based on a quick textual search in the code base, I assume you are referring to `@RegisterExtension` fields, but a confirmation would be appreciated.

[2020-11-23 11:18] rmannibucau commented on #2479
@sbrannen yes but guess update must be more general on all members (thinking to TempDirectory too), @BeforeEach/@AfterEach etc...IMHO opening the "not public" door should mean enabling all until "private".

[2020-11-23 13:18] sbrannen commented on #2479
Thanks for the feedback.

We've intentionally not supported finding `private` fields, methods, etc. since the beginning of JUnit 5, but I suppose we can discuss it again amongst the team.

----

Tentatively slated for 5.8 M1 solely for the purpose of _team discussion_

[2020-11-24 20:06] nipafx opened #2480 "Passing TestExecutionListener to engine launched by EngineTestKit"
In junit-pioneer/junit-pioneer#375, we failed to write an integration test for an extension because it includes a `TestExectionListener` and the test run we launch with `EngineTestKit` didn't pick it up (at least it didn't call methods like `reportingEntryPublished` and `executionFinished` for the tests executed by that engine). Is that behavior intentional?

If so and it can't be changed (it woul

[2020-11-25 16:17] Bukama commented on #1900
Just to inform here (and as I'm the opener of this issue i'll close it). We released  [JUnit _Pioneer](https://junit-pioneer.org/) version 1.1.0 with an [`@Issue`](https://junit-pioneer.org/docs/issue/) annotation.

[2020-11-25 16:17] #1900 closed

[2020-11-25 16:47] bitcoder commented on #1900
@Bukama thanks for the feedback; how will that be persisted in the XML results report? Or it won't?

[2020-11-25 17:45] Bukama commented on #1900
It won't. The extension passes the results to registered services. I started to create an [IssueReport](https://github.com/Bukama/IssueReport) for that, but just set up the repo for this, because I was unsure how we (the pioneer team) will name the "API classes". Now that the extension is released I'll move on with it (most probably on Friday/weekend).

[2020-11-25 21:34] alissontenorio opened #2481 "Test class with name Junit 5 do not appear at Suite"
Description:
If I name a test class ending with the name Junit5, Junit Suite ( @RunWith(JUnitPlatform.class) ) will ignore this class at results. Removing this suffix It will appear again.

Example:
If I name a test class public class StackTestJunit5 it will not appear,
 but if I rename the file and the class to public class StackTest it will work normally

Using:
Junit 5
Eclipse

/snap/eclipse/48

[2020-11-26 13:00] sbrannen commented on #2481
I'm closing this as a duplicate of #2412.

[2020-11-26 13:00] #2481 closed

[2020-11-26 13:15] ST-DDT opened #2482 "Add Assumptions.assumeDoesNotThrow"
I wish to skip some of my larger integration tests, if the target environment is not available/healthy.

For that I have to perform a http call.
If the environment is not available/running/health, I get an exception.
If it is healthy I get an OK-Health status with some additional metadata I slightly care about.

Currently I use the following construct for my assumption check.

[code]

I would like

[2020-11-26 14:17] sbrannen commented on #2482
Tentatively slated for 5.8 M1 for _team discussion_

[2020-11-26 16:49] dkandalov commented on #2087
Here is an example in which `@Timeout` does fail (on a "performance bug") but only after 30 seconds instead of 1 second as expected:
[code]

[2020-11-26 20:38] Diego11914 commented on #1592
I am still seen this issue on intelliJ
![image](https://user-images.githubusercontent.com/49316187/100390130-fababd80-2ff4-11eb-93da-bba954d32816.png)

[2020-11-26 20:56] Diego11914 opened #2483 "[IJ IDE] JUnit Jupiter Assumptions do not work in @BeforeAll methods"
I am still seen this issue on intelliJ

org.junit.jupiter
junit-jupiter-api
5.7.0
test
IntelliJ IDEA 2020.2.4 (Community Edition)
Build #IC-202.8194.7, built on November 24, 2020
Runtime version: 11.0.9+11-b944.49 x86_64
VM: OpenJDK 64-Bit Server VM by JetBrains s.r.o.
macOS 10.16
GC: ParNew, ConcurrentMarkSweep
Memory: 725M
Cores: 8

![image](https://user-images.githubusercontent.com/49316187/100

[2020-11-27 11:20] marcphilipp commented on #2479
**Team decision:** We support package-private methods because they're shorter to write and are in accordance with the convention of placing test classes in the same package as production code.

[2020-11-27 11:20] #2479 closed

[2020-11-27 11:25] rmannibucau commented on #2479
Side note: it violates several style validations and common practises in terms of visibility (why Test2 can check Test1 extensions?), in particular when integrating with 3rd parties (which almost all allows private injections) so overal it makes the test class inconsistent. Any hope it gets revised with wider scope than just junit scope?

[2020-11-27 11:26] marcphilipp commented on #2482
**Team decision:** Your request sounds reasonable, but we're unsure how generally useful it is given it hasn't been requested before. Thus, changing the status to "waiting for interest".

[2020-11-27 11:28] marcphilipp commented on #2483
`@BeforeAll` methods have to be `static` unless you change the default test instance lifecycle to `PER_CLASS`.

[2020-11-27 11:28] #2483 closed

[2020-11-27 11:39] marcphilipp commented on #2480
**Team decision:** The `EngineTestKit` is meant for testing engines. We had originally envisioned potentially adding a `LauncherTestKit` or sth. similar later. If you need to integration test with a `TestExecutionListener`, please use the `Launcher` API directly for the time being.

[2020-11-27 11:39] #2480 closed

[2020-11-27 12:16] marcphilipp commented on #2479
What violates style validations?

[2020-11-27 12:38] rmannibucau commented on #2479
@marcphilipp cause it is common to enable private fields and forbids protected or package ones due to the leak it does (regarding encapsulation). In other words it means your test style can't be your main code style (mixed with nested test classes it starts to becomes hard to validate but even when physically split it not not good to code differently depending folders of the same project IMHO).
Mo

[2020-11-27 13:06] marcphilipp commented on #2479
IIUC you're mostly concerned about fields not allowed to be private with `@RegisterExtension`?

[2020-11-27 14:19] rmannibucau commented on #2479
@marcphilipp yep, funnily I was not "hit" by that on methods (guess rules I used are not very strict for methods).

[2020-11-27 14:58] marcphilipp commented on #2479
I can understand your use case but it would be inconsistent to allow `private` on fields but not on methods and I really don't want to allow it for methods. 😕

[2020-11-27 15:32] rmannibucau commented on #2479
@marcphilipp I can understand that as well. How about an engine parameter "allowedVisibility"? I know it is a toggle but not a crazy one IMHO.

[2020-11-27 15:43] marcphilipp commented on #2479
At this point I don't think it's worth the added complexity.

[2020-11-27 15:50] rmannibucau commented on #2479
Fun thing (not sure if "fun" is that right ;)) is that if you drop the "if private fail" check it works on private fields :(.

[2020-12-01 20:27] leobastiani opened #2485 "When calling assertThrows, why isn't it checking the message when its expectedType is an instance of the catched object?"
https://github.com/junit-team/junit5/blob/177d808f886355fac552aee9495212a4041c0316/junit-jupiter-api/src/main/java/org/junit/jupiter/api/AssertThrows.java#L59

[2020-12-01 23:58] JKomoroski opened #2486 "Documentation Request - Improvement to Extension Order Documentation"
I was looking for a complete list of all extension interfaces and the order in which they are executed, but I the closest thing I was able to find was the [User code and extension code](https://github.com/junit-team/junit5/blob/main/documentation/src/docs/asciidoc/user-guide/extensions.adoc#extensions-execution-order-diagram) which is missing several extension user implementable extension interfac

[2020-12-02 06:35] marcphilipp commented on #2485
Duplicate of #2154

[2020-12-02 06:35] #2485 closed

[2020-12-02 06:55] marcphilipp commented on #2486
The Javadoc lists all extension interfaces: https://junit.org/junit5/docs/current/api/org.junit.jupiter.api/org/junit/jupiter/api/extension/Extension.html

`TestInstancePreDestroyCallback` is documented (albeit not very detailed) here: https://junit.org/junit5/docs/current/user-guide/#extensions-test-instance-pre-destroy-callback

The execution order documentation is currently focused on the lifec

[2020-12-02 06:56] marcphilipp commented on #2486
Tentatively slated for 5.8 M1 solely for the purpose of _team discussion_.

[2020-12-03 09:56] ledoyen commented on #1948
From what I understand there are many use cases, that can be covered by the equivalent of the `org.junit.jupiter.api.MethodOrderer` but defined at the root level.

The addition of an optional configuration parameter (something like `junit.jupiter.execution.class.order.config.custom.class`) and a `org.junit.jupiter.api.ClassOrderer` extension point should cover most of it.

If the core team wants t

[2020-12-03 10:35] qeepcologne commented on #2119
really useful, we also have such huge integration tests failing sporadically and needing 20 repetitions to prove that there is no problem, but after the first failure there is no need to run the remaining repetitions.

[2020-12-04 11:39] marcphilipp commented on #2119
[JUnit Pioneer](https://junit-pioneer.org/docs/retrying-test/) has the opposite: `@RetryingTest` stops upon the first success.

@qeepcologne Would you like to bring up the issue there?

[2020-12-04 11:46] marcphilipp commented on #1948
**Team decision:** We feel that this issue has gained enough community interest and are therefore willing to consider a PR along the lines of the proposal summarized in https://github.com/junit-team/junit5/issues/1948#issuecomment-737809799.

@ledoyen Feel free to start working on your PR if you're so inclined.

[2020-12-06 18:34] XenoAmess commented on #2394
@sormuras Got it. Thanks anyway.

[2020-12-07 23:23] jameshilliard opened #2487 "Filter DisabledIfEnvironmentVariable by OS."
I'm looking for a way to scope `DisabledIfEnvironmentVariable` to a particular OS in order to disable certain unreliable tests when run in CI. I see there is a `DisabledOnOs` annotation available but it doesn't seem it can be used in combination with `DisabledIfEnvironmentVariable` for this purpose.

[2020-12-08 06:58] marcphilipp commented on #2487
Are those env vars you'd like to check present locally?

[2020-12-08 07:05] jameshilliard commented on #2487
No, it's only present on the CI system.

I'm basically trying to make this only apply to certain operating systems:
[code]

[2020-12-08 09:08] juliette-derancourt commented on #2487
If you don’t have a `GITHUB_ACTIONS` variable locally, the test is going to be executed anyway :)
So I guess your solution already works?

[2020-12-08 09:31] jameshilliard commented on #2487
Which is intended, I don't want any of these tests getting disabled at all when run locally as the failures only seem to happen on CI.

No, because I don't want to disable the tests on CI for operating systems that the tests are not broken on. I need to disable the tests only when I match both a specific CI ENV variable and specific OS.

For example a test may be broken on CI with Windows but it m

[2020-12-08 11:36] marcphilipp commented on #2487
As a workaround, you could write your own `ExecutionCondition` or maybe use sth. like `@DisabledIfEnvironmentVariable(named = "GITHUB_WORKSPACE", matches = "[A-Z]:.*")` to detect Windows-like paths.

[2020-12-08 11:42] jameshilliard commented on #2487
Well that wouldn't work for disabling flaky OSX tests AFAIK.

Maybe adding an os filtering param would make sense?

Something like this:
[code]

[2020-12-08 17:13] marcphilipp commented on #2487
Tentatively slated for 5.8 M1 solely for the purpose of _team discussion_.

[2020-12-11 18:23] jbee opened #2492 "Add an `assertInstanceOf` to Jupiter assertions"
In cases where `assertThrows` cannot be used as the test setup is more intricate than a single operation there is still the need to assert that expected exceptions are of a certain `instanceof` type.

The naive way to test this would be for example:
[code]
as I had used it here
https://github.com/jbee/purejin/pull/137/files#diff-567a735adbd51f614bf6f2beb67d86ff5ec9d3c7933d59cd0a49b89a6742e39eR68-R

[2020-12-11 18:27] sormuras commented on #2492
Tentatively slated for 5.8 M1 solely for the purpose of _team discussion_.

[2020-12-12 17:01] marcphilipp commented on #2420
@somayaj is working on this issue in #2491.

[2020-12-13 13:30] #2430 closed

[2020-12-13 14:12] markusheiden commented on #201
@jlink @asarkar I understand the frustration on both sides.

The problem is, that JUnit 5 tries to replace JUnit 4 which is now already considered legacy. That is proved by the fact, that e.g. Spring Boot dropped support for it. But JUnit 5 is still not a complete replacement of JUnit 4, even after this many years. So those who need this feature are forced to use a "dead" library.

I hope this wil

[2020-12-13 20:39] wilkinsona commented on #201
That's not the case. While the vintage engine is no longer part of `spring-boot-starter-test`, [you can add a dependency upon it and continue to test your Spring Boot applications using JUnit 4](https://github.com/spring-projects/spring-boot/wiki/Spring-Boot-2.4-Release-Notes#junit-5s-vintage-engine-removed-from-spring-boot-starter-test) if you wish to do so.

[2020-12-14 04:21] kriegfrj commented on #1444
Any movement on this one? I have a use case that I think I can *almost* implement using standard extensions points, but not quite.

You guys are no doubt familiar with soft assertions in AssertJ - it collates the test failures into a single `MultipleFailuresError` and throws that instead so you have perform several assertions per test and not have the first failure prevent the rest of the assertio

[2020-12-14 04:28] kriegfrj commented on #1444
@vmassol, it also occurred to me that your problem could be solved with the existing API, as follows:

[code]

Hope that helps (although I see it was a long time ago... you've probably either solved it or moved on!)

I still would like to push for the API to allow extensions to register dynamic tests, as I don't think my use case has a workaround using the existing API.

[2020-12-14 06:55] jlink commented on #201
@markusheiden

The implementation of Jupiter (especially of the testing lifecycle) differs enough from JUnit 4 that there will always remain some corner cases that are so rare and difficult that they'll never be tackled. The question at hand is if we have such a corner case here.

I'd personally argue that Powermock's approach to do static mocking is sufficiently intrusive and demands so much coll

[2020-12-14 06:59] jlink commented on #201
I really think it's a feasible option to have JUnit 4 engine (vintage) present just for the hopefully rare cases in which Powermock is the best tool. I regularly work in projects that use 2, 3 or even more test engines. It's not a hard burden.

[2020-12-14 07:02] mannodermaus commented on #201
FWIW, this is not solely limited to only Powermock. One of the hardest challenges I face when trying to sell JUnit 5 to Android developers remains to be the fact that [Robolectric](https://github.com/robolectric/robolectric) cannot run on the JUnit Platform due to this ticket. The Vintage engine is great as a workaround, but ultimately a large chunk of the Android ecosystem is excluded from the ad

[2020-12-14 07:16] jlink commented on #201
@mannodermaus Fair enough. So, if Robolectric can get by with a simpler approach than Powermock, it might be possible to convince @junit-team/junit-committers to tackle that first. If I had an interest in Robolectric integration I'd probably research the necessary changes in Jupiter and create a new issue with just that requirement.

[2020-12-14 08:49] marcphilipp commented on #201
+1 for a more focused issue with a concrete use case and suggestion how to achieve it.

[2020-12-14 13:55] markusheiden commented on #201
Yes, that is technically wrong. What I wanted to express is, that JUnit 4 no longer automatically comes along as dependency with the Spring Boot test support.

Yes, you are right, it's not a big effort to achieve that. But the presence of JUnit 4 in the classpath provokes (static) imports (via IDE support) of JUnit 4 assertions in JUnit 5 tests, if one does not check twice on import. So for me it

[2020-12-14 14:41] vmassol commented on #1444
@kriegfrj Yes that could be a workaround. I still consider that a workaround and I'd prefer to have a way to register dynamic tests in a JUnit Extension. That would be cleaner and nicer.

Thanks for the idea!

[2020-12-14 18:07] asarkar commented on #201
Even if it was true, which it isn’t, Spring Boot, while a popular web framework, is neither a goal nor a standard by which other frameworks are measured.

Of late, the discussion is veering again towards where it started half a decade ago, which is why the features asked for in this ticket are useful. At this time, it is clear that this ticket will not be implemented and every now and then someone

[2020-12-14 19:21] marcphilipp commented on #201
I'm not sure how much clearer I can express why this issue isn't resolved after "half a decade". I haven't given up hope that someone will come along with a concrete proposal instead of just complaining, yet. As for the many watchers getting notified unnecessarily, they can always unsubscribe should they no longer be interested.

[2020-12-16 18:15] sebersole commented on #2393
Any word on this?

I looked at the "related issues", though to my noob eyes I was not really seeing the relationship aside from them also asking about ParameterResolvers

- the first 2 specifically related to parameterized tests
- the 3rd may relate, but I really did not understand fully what was being asked there

[2020-12-16 20:59] vlsi commented on #1243
I have a case for suites: integration testing.
Individual tests are like "prepare configuration, upload configuration, perform test method".
However, "upload configuration" is slow (e.g. it takes minutes), so I work around that by combining the configuration from all the test classes and uploading it once.

Of course, certain configurations can't be combined. For instance, test cases for "invalid

[2020-12-18 06:48] LenaShev opened #2496 "BeforeAll block failed and test failed as well"
Configuration:

[code]

### Code example

We've got `BeforeAll` extension in the project

[code]

and a test

[code]
For some reasons `BeforeAll` block may fail and this is valid for us. But than we expect all the tests in the run will be skipped, but they not.

There are two different behaviors:

1. Run single test with RUN button.
Error message is:

[code]
2. Run test with `mvn clean -Dtest=Swag

[2020-12-18 09:20] sormuras commented on #2391
Fixed in
- JDK 16 via https://github.com/openjdk/jdk16/commit/41f312eb647470353f3cf1640ef0fbd32b07f283
- JDK 17+ via https://github.com/openjdk/jdk/commit/41f312eb647470353f3cf1640ef0fbd32b07f283

[2020-12-18 10:17] big-andy-coates opened #2497 "Parallelization control of DynamicNode"
`@TestFactory` can return a stream of `DynamicContainers` and `DynamicTest`.  It would be awesome if we could run containers in parallel, but the tests within containers on the same thread.

The `@Execution` seems to only allow you to switch from everything parallel/concurrent or everything on the same thread.

The configuration parameters `junit.jupiter.execution.parallel.mode.default` and  `juni

[2020-12-18 11:03] mpkorstanje commented on #1243
This looks like a variation of https://github.com/junit-team/junit5/issues/744 and https://github.com/junit-team/junit5/pull/2416 but rather then using annotations to create the discovery request an xml file is used instead.

[2020-12-18 11:18] sbrannen commented on #2496
I've edited your comment to improve the formatting. You might want to check out this [Mastering Markdown guide](https://guides.github.com/features/mastering-markdown/) for future reference.

[2020-12-18 15:53] sormuras commented on #2492
An `assertInstanceOf` assertion sounds good, simple, and useful.

@jbee, would you like to provide a PR?

[2020-12-18 16:04] jbee commented on #2492
@sormuras I'll give it a try

[2020-12-18 16:12] jactor-rises opened #2498 "How to set up a build with junit 4 or junit 5"
https://github.com/navikt/bidrag-cucumber-nais

an application which runs cucumber tests.

when building, I hava two profiles:
- default: runs surefire junit 5 plugin
- cucumber: (activated with `men test -Dtest=cuce`, which should run junit4 (and therefore also cucumber tests)

this do not work... the cucumber profile do not discover junit4 tests.

I have also asked this question on stack overflo

[2020-12-20 11:26] oobles opened #2500 "ClasspathScanner.getRootUrisForPackage returns empty list when package name conflicts with module name"
When developing a multi-module project that has similar package names it is possible that `getRootUrisForPackage` will fail to return a valid list.

## Steps to reproduce

Project1.

[code]

Project2.

[code]

In eclipse (2020-09,2020-12 and other versions) when selecting the package `io.litterat.pep.test` no JUnit 5 tests are found or executed. In 2020-12 no errors or console output is shown.

Th

[2020-12-21 03:10] carlspring commented on #744
Hi,

Are there any updates on this?

[2020-12-21 04:10] bakmei commented on #1967
I also expect the framework to pass in a different temp folder for my tests.  Unfortunately, the test runs OK because of the hindered behavior.  My argument is that if the same value is being passed to Test1.java and Test2.java, then the existing behavior is OK.  If the same value is passed to Test1.method1() and Test1.method2(), then the existing behavior also makes sense.  But if it behaves diff

[2020-12-21 14:33] sbrannen commented on #744
@carlspring, you can follow the current PR (which is a work in progress) in #2416.

[2020-12-21 15:29] marcphilipp commented on #2500
@oobles Thanks for the report! Could you please provide a small reproducer project?

[2020-12-21 21:04] carlspring opened #2503 "JUnit5 tests annotated with @Tag are not executed in suite that has @IncludeTags, unless combined with @SelectPackages"
## Bug description

A test suite with `@IncludeTags({ "foo" })` will not pick up test annotated with `@Tag("foo")`, unless the suite also explicitly has the `@SelectPackages({ "org.foo" )}` annotation. It should be possible to not have to define all the packages.

## Steps to reproduce

* Test class:
[code]

* Suite class:
[code]
When you don't have the `@SelectPackages("org.foo")`, the `SomeIT` w

[2020-12-22 07:05] oobles commented on #2500
Here's a couple of modules created in eclipse that demonstrates the issue. Running ProjectTest directly results in the test running. Running tests on com.project.test results in no test executing. This was run on Eclipse 2020-12 using JDK15 (installed by eclipse).

[junit-error.zip](https://github.com/junit-team/junit5/files/5728295/junit-error.zip)

[2020-12-22 07:33] Avetis009 commented on #2115
Hello! I am using parallel testing from JUnit5 in my Gradle project and it is very cool, but I have a problem. I want the test logs to be written to the console separately, because now when running parallel tests, the logs are written in the heap and are not readable. How can i do it?

[2020-12-22 07:58] marcphilipp commented on #2503
`@IncludeTags` is a filter, not a selector, i.e. it will only ever reduce the number of tests otherwise selected, but never add any.

[2020-12-22 07:58] #2503 closed

[2020-12-22 08:44] marcphilipp commented on #2335
**Revised team decision:** As a Christmas present, we've changed our my mind based on the simplicity of the implementation in #2425.

[2020-12-22 08:47] #2335 closed

[2020-12-22 09:00] marcphilipp commented on #1568
@seanf Is this use case still relevant for you?

[2020-12-22 13:16] carlspring commented on #2503
@marcphilipp ,

Perhaps I'm misusing this, as you're saying, but it's actually not reducing the tests, it's running all of them, regardless of whether they have the tag.

Would you mind showing me what the correct way to do this is?

Many thanks in advance!

[2020-12-22 14:41] sbrannen commented on #2500
@noopur2507, can you provide any input for this?

Is it perhaps an issue due to the module-path?

[2020-12-22 15:13] marcphilipp commented on #2503
If you use `@SelectPackages` _and_ `@IncludeTags` it should only run tests with the correct tag in the selected packages.

[2020-12-22 15:16] marcphilipp commented on #2497
Tentatively slated for 5.8 M1 solely for the purpose of _team discussion_.

[2020-12-22 15:20] marcphilipp commented on #2498
It sounds like that is caused by Maven Surefire's auto-detection picking its JUnit Platform provider in both cases. You can either add JUnit Vintage engine to the test classpath to have it find the Cucumber test classes or [force Surefire to use a JUnit 4 provider](https://maven.apache.org/surefire/maven-surefire-plugin/examples/providers.html) in your cucumber profile.

[2020-12-22 15:20] #2498 closed

[2020-12-22 15:43] carlspring commented on #2503
@marcphilipp ,

But this is what I've also tried and it runs _**all**_ the tests in the packages, regardless of whether they have the `@Tag("foo")`. Would you mind re-testing it with the simple example I've provided above? For me, this is not working.

[2020-12-22 15:47] marcphilipp commented on #2496
`BeforeAllCallback` are executed on each test class before all of its tests, not once for the entire test run. If you want to skip all tests based on a condition, you should implement an `ExecutionCondition` and [register it globally](https://junit.org/junit5/docs/current/user-guide/#extensions-registration-automatic), e.g.:

[code]

[2020-12-22 15:47] #2496 closed

[2020-12-22 15:50] marcphilipp commented on #2503
In the example above, `SomeIT` has tag "foo" and hence runs. I'm happy to dig deeper if you provide a complete minimal example project. 🙂

[2020-12-22 15:52] sormuras commented on #2503
Perhaps, SF/FS's way of passing tags and/or applying own filters interferes here?

See section "Filtering by Tags" of https://maven.apache.org/surefire/maven-surefire-plugin/examples/junit-platform.html

[2020-12-22 15:58] sormuras commented on #2500
FYI: running the JUnit Console Launcher on the module-path and various test-related IDEA run configurations that make use of the module-path do run fine.

How does the command line generated by Eclipse look like?

[2020-12-22 16:20] sormuras commented on #2500
When searching test classes within a Java module, a tool (here Eclipse) should make use of the `--scan-module` option offered by the Console Launcher or class [`ModuleSelector`](https://github.com/junit-team/junit5/blob/main/junit-platform-engine/src/main/java/org/junit/platform/engine/discovery/ModuleSelector.java) if it uses the Platform API directly.

[2020-12-22 21:07] carlspring commented on #2503
It appears that the integration tests that we had were all named `FooBarIT` and the `IT` suffix was confusing it. I renamed these to `FooBarITTest` and things started working. Thanks to @steve-todorov for spotting this!

[2020-12-23 10:42] splatch opened #2504 "Pointing failed assertions in external resource and not Java test"
I come across an interesting question which seems to be unanswered both in documentation and source code.

I have a set of dynamic tests which are really about going over XML document and comparing binary input with expected XML output created out of hex stream. Thanks to `testSourceUri` parameter I am able to hint IDE where to look for tests (`?line=&column=`), now I seek for second step - assert

[2020-12-23 16:55] marcphilipp commented on #2504
You mean something similar to Gradle's `LocationAwareException`, I assume? https://github.com/gradle/gradle/blob/60bfa1f23acf482a270540cfef8e31e76551ec30/subprojects/core/src/main/java/org/gradle/internal/exceptions/LocationAwareException.java

If so, we'd have to check if IDEs already support some kind of syntax to link to a file location, e.g. by parsing the exception message.

[2020-12-23 17:48] splatch commented on #2504
Yes, it seems to match the need - an exception (or assertion error) pointing file and optionally line and column number. Just like `FileSource` does.

[2020-12-24 06:46] SvitlanaMo commented on #2335
Thank you very much for excellent news! Happy Holidays to you!

Svitlana

On Tue, Dec 22, 2020, 10:47 Marc Philipp <notifications@github.com> wrote:

[2020-12-24 14:19] marcphilipp commented on #2503
Glad you figured it out! For the record that's because of the default class name pattern as documented in the runner's Javadoc:
https://github.com/junit-team/junit5/blob/3f7fed61f2edcee2a5551dbde75382b1dbe21267/junit-platform-runner/src/main/java/org/junit/platform/runner/JUnitPlatform.java#L87-L93

The default class name pattern is `^(Test.*|.+[.$]Test.*|.*Tests?)$`. Thus, if you'd like to stick

[2020-12-27 06:03] govi20 opened #2505 "assertThrows doesn't fail if the thrown exception is of child type"
## Steps to reproduce

`assertThrows(FileNotFoundException.class, () -> service.readFile("sampleFile.txt")); `

this assertion will pass even if the thrown exception is IOException or Exception.

I believe this is happening because we are using `Class#isInstance` it will return true for parent types also.

https://github.com/junit-team/junit5/blob/637a78393194737e77d6f9681ad93e9ddac1f399/junit-jup

[2020-12-27 06:33] sormuras commented on #2505
Works for me:

[code]

With `assertThrows(FileNotFoundException.class, this::throwIOException)` it yields:

[code]

[2020-12-27 09:46] govi20 commented on #2505
@sormuras Seems, it's reverse, if the assertion expects Parent type and if the test code throws child type Exception it always passes.

[code]

As a workaround, I am checking the Class type explicitly

[code]

[2020-12-27 09:53] sormuras commented on #2505
The current behaviour is intended. The [API documentation](https://junit.org/junit5/docs/current/api/org.junit.jupiter.api/org/junit/jupiter/api/Assertions.html#assertThrows(java.lang.Class,org.junit.jupiter.api.function.Executable)) of `assertThrows` could need a refinment pass, though.

Be as specific as possible, when using `assertThrows`.

[2020-12-27 09:53] #2505 closed

[2020-12-27 10:11] govi20 commented on #2505
@sormuras thanks for the feedback,
Even if I assert on the specific type, but if the specific type is RuntimeException and somebody changes the behavior and changes it to child type. shouldn't the test fail?

for e.g. below code:

[code]

Now if someone modifies the code as below, I feel the second assertion should fail.

[code]

[2020-12-27 15:18] marcphilipp opened #2507 "Characters not allowed according to XML 1.0 spec are double-escaped"
In #2275, we have replaced characters not allowed according to the XML 1.0 spec with their character reference, e.g. `\0` becomes `&#0;`. However, that's still illegal according to [section 4.1 of the spec](https://www.w3.org/TR/REC-xml/#sec-references):

Thus, we either filter them out completely or double-escape them like [Surefire does](https://issues.apache.org/jira/browse/SUREFIRE-456), e.g.

[2020-12-27 15:22] marcphilipp commented on #2505
The current behavior is designed to work like in a try-catch block. We could introduce another assertion, e.g. `assertThrowsExactly`.

[2020-12-27 15:26] sormuras commented on #2505
Yeah.

Perhaps a better name would have been: `assertCatches(? extends Throwable, try-block)`

[2020-12-27 15:28] sormuras commented on #2505
Also related to #2492, where an `assertInstanceOf(...)` is being introduced.

[2020-12-27 18:14] marcphilipp commented on #2505
@govi20 Could you please create a new issue, describe your use case and propose adding an `assertThrowsExactly` assertion method?

[2020-12-27 18:59] marcphilipp commented on #2504
Could you use report entries for that?

[2020-12-27 19:01] marcphilipp commented on #2393
Tentatively slated for 5.8 M1 solely for the purpose of _team discussion_.

[2020-12-27 20:48] splatch commented on #2504
Not sure what you mean by  "report entries". Can you elaborate a bit more?

[2020-12-27 21:05] mpkorstanje opened #2508 "Document constant value for ExclusiveResource.GLOBAL_KEY"
Cucumber integrates with the JUnit Platform by implementing a test engine. This engine extends the `HierarchicalTestEngine` and inherits its support to lock resources. Because Cucumber uses plain text files we can not references constants from a class e.g:

[code]
but instead have to [reference the plain text value in a configuration file](https://github.com/cucumber/cucumber-jvm/tree/main/junit-p

[2020-12-28 02:03] oobles commented on #2500
Just to demonstrate this a little clearer, the following fails.

[code]

This fails because Java's BuiltinClassLoader.findResources starts with these two lines:

[code]
pn becomes "com.project" instead of "com.project.test". It picks up the wrong module.

It succeeds when you put a / at the end.

[code]

[2020-12-28 03:55] govi20 opened #2509 "Introduce assertThrowsExactly() in Jupiter assertions"
I have a method which I am testing as below:

[code]

Now if someone modifies the code as below, I feel the second assertion should fail.

[code]
But the second assertion is not failing as the JUnit checks it using `instanceof`. Seems we can add an `assertThrowsExactly(Class<T> expectedType, Executable executable)` to assert on the particular type of exception.

[2020-12-28 03:58] govi20 commented on #2505
@marcphilipp hi, created an enhancement issue https://github.com/junit-team/junit5/issues/2509

if you guys are okay with the new API, I am happy to work on the patch.

[2020-12-28 05:44] sormuras commented on #2500
Thanks for the details, David.

Seems that appending a missing `/` before calling `getClassLoader().getResources(...)` should fix this issue without breaking existing working code.

[2020-12-28 07:48] marcphilipp commented on #2508
Sounds like a good plan! We should then also reference the new `Resources.GLOBAL` constant from `@Isolated`. Do you have time to submit a PR for this?

[2020-12-28 08:11] bodewig commented on #2507
I may have raised a false alarm here, I'm sorry. When I commented on #2275 I was looking at the intent and not the effect the change had on the generated XML.

When writing attributes you use `XMLStreamWriter.writeAttribute` which already escapes ampersands. So what gets actually written to the XML file is `&amp;#0;` - the result you suggest to achieve anyway. Since you put the rest into CDATA sec

[2020-12-28 12:51] sbrannen commented on #2509
Tentatively slated for 5.8 M1 for _team discussion_

[2020-12-28 13:13] sbrannen commented on #2487
I'm not sure if we need a workaround or dedicated annotation for the combined use case. I guess it depends on how often people need such a combination for a custom execution condition.

In light of that, I consider the following a viable solution for the stated requirements.

[code]

Now that the `githubActionsOnMacOs()` method could reside in a separate class. I've used the fully qualified method

[2020-12-28 13:20] sbrannen commented on #2487
And if you want to encapsulate that in a custom annotation, the following works.

[code]

You can then rewrite your test method as follows.

[code]

[2020-12-28 22:06] hanipro91 commented on #1108
remove this lib, you don't need it

[2020-12-28 22:09] jameshilliard commented on #2487
In terms of syntax I think being able to pass multiple operating systems at the same time is desirable as it seems fairly common for a test to have issues on multiple operating systems. Most of the tests I was wanting to use this with would fail on CI for both mac and windows seemingly due to timing sensitive tests getting broken by unusually slow `sync()` calls on github CI.

[2021-01-01 13:58] marcphilipp commented on #2507
You're right, I just double-checked. Thanks!

[2021-01-01 13:58] #2507 closed

[2021-01-01 14:07] marcphilipp commented on #2504
I was wondering whether it would help you to write an extension that would [publish report entries](https://junit.org/junit5/docs/current/api/org.junit.jupiter.api/org/junit/jupiter/api/extension/ExtensionContext.html#publishReportEntry(java.util.Map)) (e.g. for file, line and column number) and a custom `TestExecutionListener` that would [receive them](https://junit.org/junit5/docs/current/api/or

[2021-01-01 18:02] mpkorstanje commented on #2508
Done.

[2021-01-02 19:20] #2508 closed

[2021-01-04 13:36] marcphilipp opened #2513 "Javadoc stylesheet is broken when using JDK 15 toolchain"
see https://junit.org/junit5/docs/snapshot/api/

We should adjust the CSS stylesheet to work with JDK 15.

[2021-01-04 17:56] sormuras commented on #2500
I can not reproduce it using Java's module API and JUnit's internal scanner support.

Having this modular JAR file (`jar --list --file com.greetings@1-ea.jar`):
[code]

Yields a successful test like this:
[code]

Perhaps, I didn't reproduce your setup correctly or it's maybe an issue within Eclipse's way of handling (exploded) modules?

[2021-01-05 08:52] #2492 closed

[2021-01-05 13:54] Michael1993 commented on #2509
As a "workaround", you could extend your assertion like this:
[code]
because `assertThrows` returns the exception thrown.

It looks redundant but it gets the job done (until `assertThrowsExactly` gets added?).

(I'd also suggest AssertJ as an alternative option, but the issue seems to be focused on JUnit's own assertions.)

[2021-01-05 14:39] Michael1993 commented on #2504
Can you throw a custom `AssertionFailedError(String message, Object expected, Object actual, Throwable cause)` from your dynamic tests?

IntelliJ supports that, you can click on a nice "click to show difference" button and it highlights the difference for you.
![image](https://user-images.githubusercontent.com/4085611/103658827-068e8d80-4f6c-11eb-8877-eff2308c346a.png)

Sorry if I misunderstood so

[2021-01-05 14:44] govi20 commented on #2509
@Michael1993 I am already using this workaround in my code [ https://github.com/junit-team/junit5/issues/2505#issuecomment-751446470 ], it is nice to have this assertion though as Assertj `assertThatThrownBy(..).isInstanceOf(..)` won't be useful either.

[2021-01-05 14:52] Michael1993 commented on #2509
Sorry, what version of AssertJ are you using? AssertJ offers `assertThatThrownBy(..).isExactlyInstanceOf(..)`.

[2021-01-05 23:41] xenoterracide opened #2516 "ConfigurationParameters values does not appear to be comprehensively documented"
I searched https://junit.org/junit5/docs/current/user-guide/#running-tests-config-params and the surefire plugin (which seems to have some different values from what I found in the user-guide. Could you please add a comprehensive list to this section of documentation?

[2021-01-06 03:49] sormuras commented on #2516
Related to #1803

[2021-01-06 14:56] mythsunwind opened #2517 "Make TreePrintingListener available for custom engines"
The class and the constructor of TreePrintingListener are not public and cannot be used by custom test engines. Code of listener:
https://github.com/junit-team/junit5/blob/main/junit-platform-console/src/main/java/org/junit/platform/console/tasks/TreePrintingListener.java

I'm working on my own HierarchicalTestEngine and would like to reuse this listener instead of re-implementing it. Would it be

[2021-01-07 14:49] marcphilipp commented on #2517
Duplicate of #1963

[2021-01-07 14:50] marcphilipp commented on #2517
Duplicate of #1963

[2021-01-07 14:50] #2517 closed

[2021-01-07 14:51] marcphilipp commented on #2517
@mythsunwind Thanks for raising the issue. Please voice your interest and describe your use case in #1963.

[2021-01-07 14:52] marcphilipp commented on #2516
They should all be documented here: https://junit.org/junit5/docs/current/api/org.junit.jupiter.engine/org/junit/jupiter/engine/Constants.html

[2021-01-07 15:59] xenoterracide commented on #2516
could a link to that be added to the `ConfigurationParameters` javadoc? because that's where I looked, and found via google

[2021-01-07 16:34] mythsunwind commented on #1963
I'm also interested in this case. I'm working on my own custom test engine and used a launcher too. This launcher works well with `LegacyXmlReportGeneratingListener`, but when I want to use `TreePrintingListener` I have to copy the whole source code into my own project right now or use the workaround from https://github.com/junit-team/junit5/issues/2469.

Here is an example:
[code]

I can understa

[2021-01-08 19:34] #1445 closed

[2021-01-08 19:47] jbduncan commented on #1445
I'm not sure why, but I find the result of this exciting! Great work, @marcphilipp. :clap:

[2021-01-08 19:49] marcphilipp commented on #1445
Thanks! 😊

[2021-01-09 10:56] jlink opened #2520 "Add capability to get all configuration parameters"
As a test engine provider I'd like to check if users trying to provide the engine with parameters use the correct parameter keys and warn about unknown keys or potential spelling errors. In order to check that, I need some way to get at all configuration parameters - or at least those specified in file `junit-platform.properties` - with my engine's prefix, e.g. "jqwik.".

The signiature could look

[2021-01-09 12:01] marcphilipp commented on #2520
Would a `Set<String> keySet()` that you could filter for the engine's prefix also work for you? Returning all keys would include all system properties, though, and hence would be inconsistent with `size()` which currently only takes into account explicit configuration parameters passed as part of the discovery request. Technically, we could change the semantics of `size()` but I'm not sure who rel

[2021-01-09 12:02] marcphilipp commented on #2520
Tentatively slated for 5.8 M1 solely for the purpose of _team discussion_.

[2021-01-09 13:25] jlink commented on #2520
`keySet()` would work for me.

As for `size()`, I never understood its intention in the first place. What are typical intended use cases?

[2021-01-10 19:18] SebbaIndustries opened #2523 "Improve failure message for assertNull() when toString() results in "null""
## Steps to reproduce

I didn't find any same issues so I hope this isn't a duplicate.

I get `null != null` when running this test.

[code]

[code]
Full stack trace: https://pastebin.com/B0LFx5HF

## Context

 - Used versions (Jupiter/Vintage/Platform): Jupiter 5.7.0
 - Build Tool/IDE: Gradle 6.7 with IntelliJ IDEA Ultimate 2020.3

## Deliverables

N/A

[2021-01-10 20:41] SebbaIndustries commented on #2523
Never mind, it was serialized as `"null"` and not `null` sorry for this issue, this was a mistake on my end.

[2021-01-11 10:39] sbrannen commented on #2523
I'm glad you figured it out.

However, I think you have raised a valid point. The failure message is indeed very confusing.

To avoid such confusion for failures with `assertEquals(...)`, we use `org.junit.jupiter.api.AssertionUtils.formatValues(Object, Object)` which delegates to `org.junit.jupiter.api.AssertionUtils.formatClassAndValue(Object, String)` if the string representations of the expect

[2021-01-11 11:35] mindhaq commented on #1445
Wow, really great work!

As a former colleague of @vinayf I can really appreciate that, even though the project where we came up with it is a thing of the past.

[2021-01-11 20:42] dmcg opened #2524 "Stack trace is printed when test is aborted with TestAbortedException"
Using 5.7.0

[code]

Prints on the console

[code]

The recommended way of skipping a dynamic test is to throw the exception https://github.com/junit-team/junit5/issues/1439
but then the console prints the stack trace, making people think that something is wrong.

[2021-01-11 21:02] dmcg commented on #2524
Hmm, although on further (extended) debugging, this may be IntelliJ's JUnit5TestExecutionListener

[2021-01-11 21:26] dmcg commented on #2524
Reported to JetBrains as https://youtrack.jetbrains.com/issue/IDEA-259246

[2021-01-11 21:26] #2524 closed

[2021-01-12 09:49] demiurg906 commented on #201
One more use case: in Kotlin compiler we have a lot of independent tests which may be perfectly parallelized besides one fact: when compiler initializes it changes some static state and returns it back after test is finished. So if I just enable parallel test run than this state would be in inconsistent state. Perfect solution for this problem would be have separate classloaders for each thread wh

[2021-01-12 11:49] #2423 closed

[2021-01-13 07:19] marcphilipp commented on #2500
@oobles @sormuras Any updates? I don't want to block the 5.7.1 release because of this issue.

[2021-01-13 08:54] chia7712 opened #2525 "add SHORT_DISPLAY_NAME and LONG_DISPLAY_NAME to ParameterizedTest"
## Status Quo

By default, the display name of ```ParameterizedTest``` is similar to ```RepeatedTest#SHORT_DISPLAY_NAME```. If we want to make display name include "method name", we have to write string formate like ``` "{displayName} - {arguments}"``` for all test cases. It seems to me ```RepeatedTest#LONG_DISPLAY_NAME``` is a good example and it would be better to introduce ```LONG_DISPLAY_NAME`

[2021-01-13 11:54] splatch commented on #2504
I do have assertion error which is thrown from test framework extension itself. There is a diff and information what is wrong (diff from xmlunit), last thing to make it functional is navigation to failed element.

[2021-01-13 13:25] ZeroOne3010 opened #2527 "@CsvSource fails when values start with the number sign (#)"
Greetings,

I'm using **junit-jupiter-api** and **junit-jupiter-params** version **5.7.0**. I was developing a method to parse hexadecimal color strings, such as #BFFF00, into their red/green/blue components. I figured the `@CsvSource` would be a great way to do this:

[code]

As it stands, however, even the stub test above just crashes before it is ever executed, printing out the error message **

[2021-01-13 14:46] sbrannen commented on #2527
Superseded by  #2528.

If you are going to immediately submit a PR, there is no need to create an issue first.

[2021-01-13 14:46] #2527 closed

[2021-01-13 14:48] sbrannen commented on #2525
Superseded by  #2526.

If you are going to immediately submit a PR, there is no need to create an issue first.

[2021-01-13 14:48] #2525 closed

[2021-01-14 08:54] david-m-s opened #2529 "Junit 4.13.1 version can't be parsed by JUnit4VersionCheck"
Using cucumber 6.9.1 which brings junit 4.13.1 and  junit-vintage-engine 5.7.0 at some point there is a check for junit version and the JUnit4VersionCheck class can't handle x.y.z format, just x.y

I'm having this exception:

[2021-01-14 10:24] marcphilipp commented on #2529
That was fixed in #2198 for 5.6.3 and 5.7.0. Are you sure you're using junit-vintage-engine 5.7.0?

[2021-01-14 11:27] david-m-s commented on #2529
True, sorry I see it's actually 5.6.2. Closing.

[2021-01-14 11:27] #2529 closed

[2021-01-14 11:57] marcphilipp commented on #2529
No worries, thanks for reporting back! 👍

[2021-01-14 16:20] marcphilipp commented on #2520
That's a good question. It looks like it was added for testing in https://github.com/junit-team/junit5/commit/6d3cbe6240ef9bcc2aec860f0400a6edd0bdd6bf.

Thus, I think changing it's semantics or even deprecating it would be fine.

[2021-01-15 21:00] #2420 closed

[2021-01-15 21:38] JohnArrowwood commented on #1558
+1 on the need for re-running flaky end-to-end tests.  My personal example:  Change a user's password in AD.  Then confirm that the new password works.  But since the change was written directly to the primary node but the bind happens by connecting to the load balancer, there is a good chance that the attempt to bind will hit the secondary node before the password change was able to propagate to

[2021-01-16 08:01] oobles commented on #2500
@sormuras it doesn't look like your test includes two modules. Create another module with the package com.greetings.test package that requires com.greetings.

[2021-01-16 10:31] sormuras commented on #2500
Well. Now I'm able to reproduce this bug.

With a module named `com.greetings.test` containing following entries:
[code]

...the updated test case:

[code]

...in the last line due to an empty list of class names.

After adding the missing `/` at the end here:

[code]

...the assertion is met, i.e. class `com.greetings.test.Tests` is found when scanning for classes in package `com.greetings.test`.

[2021-01-16 10:36] marcphilipp commented on #2500
As documented at the entry point in `ReflectionSupport`:
https://github.com/junit-team/junit5/blob/3f7fed61f2edcee2a5551dbde75382b1dbe21267/junit-platform-commons/src/main/java/org/junit/platform/commons/support/ReflectionSupport.java#L122-L123

Thus, it should find all classes in package `X` and "subpackages", i.e. packages that starts with `X.`, but not "sibling packages" that start with `X` but

[2021-01-17 15:00] spganes commented on #871
+1. I also have test cases that need to repeat a parametrized test

[2021-01-18 08:48] nipafx commented on #1558
Here are a few options to rerun failing tests:

* [Unreliable](https://github.com/jaksa76/unreliable) by @jaksa76
* [rerunner-jupiter](https://github.com/artsok/rerunner-jupiter) by @artsok
* [`@RetryingTest](https://junit-pioneer.org/docs/retrying-test/) in JUnit Pioneer
    * Disclosure A: I'm one of the maintainers of Pioneer
    * Disclosure B: We really like those other projects and are in th

[2021-01-18 08:58] sbrannen commented on #1558
You may also be interested in the `RetryTemplate` from [Spring Retry](https://github.com/spring-projects/spring-retry#imperative-example) if you are looking for a programmatic approach similar to `UnreliableService`.

[2021-01-19 08:48] dubilyer opened #2537 "Empty report when beforeAll is failing"
## Steps to reproduce

1. Create a testClass with parameterized tests only;
2. Create a beforeAll method throwing NPE;
3. Register LegacyXmlReportGeneratingListener.

Because we have:
[code]
in XmlReportWriter

and all skipped tests are containers (isTest() = false), we have a completely clean xml report with no way to understand, that beforeAll failed and tests were skipped.

Junit version is 5.5

[2021-01-19 10:39] marcphilipp commented on #2537
Very good point, we should also included failed containers.

[2021-01-19 14:22] Adam-Szczeblewski-EPAM commented on #1242
@marcphilipp

I came across this looking for "conditional extension registration", which you mentioned is not supported. Maybe we could turn it into a feature request.

Here's my use case. Please note use of nonexisting @RegisterExtensionIfSystemProperty, consider it a solution proposal.
Hope the below code is self-explanatory, but will be happy to answer questions of course.
I **would like** to e

[2021-01-19 14:56] sbrannen commented on #1242
@Adam-Szczeblewski-EPAM, your proposal unfortunately would not work.

`SpringBootTestWithoutTomcat`, `SpringBootTestWithFeignClient`, and `DockerImageStarter` are _composed annotations_ and therefore cannot be registered as extensions with JUnit Jupiter.

Thus, even if we did add support for an annotation like `@RegisterExtensionIfSystemProperty`, such a feature would not help with your use case.

[2021-01-19 16:10] rieske opened #2538 "Ability to discover test classes multiple times and load them using different classloaders"
I want to run a set of tests where each test is executed multiple times and each time the test class would be loaded using a different classloader. That is, given test classes A, B and C, I want to create two executions for each class where I would load them with a different, custom classloader for one of those executions.

One way to achieve this is to implement a test engine that would delegate

[2021-01-19 16:43] Adam-Szczeblewski-EPAM commented on #1242
@sbrannen , thanks for your input!

I'm also thinking to try out something like:

[code]

where MySpringExtension would be my subclass extending SpringExtension - which I hopefully can programatically force to use `webEnvironment` of my choice. That way I would not depend on composed annotations.

I know, I'll also need to take care of SpringBootTestContextBootstrapper and 10000 other things (defe

[2021-01-20 13:58] sbrannen commented on #2538
Related to #201 and #1987.

[2021-01-22 11:20] marcphilipp commented on #2520
**Team decision:** Let's introduce `keySet()` and deprecate `size()`.

@jlink Do you have time to submit a PR for this?

[2021-01-22 11:28] marcphilipp commented on #2523
**Team decision:** Use `formatValues()` for creating the assertion message for `assertNull` (and check if other assertions have a similar issue).

[2021-01-22 11:32] marcphilipp commented on #2509
**Team decision:** Introduce `assertThrowsExactly`.

[2021-01-22 11:36] marcphilipp commented on #2487
**Team decision:** In light of the above [solution](https://github.com/junit-team/junit5/issues/2487#issuecomment-751710288), we don't feel it's justified to introduce a new specialized annotation for such custom use cases.

[2021-01-22 11:51] marcphilipp commented on #2393
One option would be to introduce a method directly on `ExtensionContext`: `Object invokeWithParameterResolution(Object target, Executable executable)`.

An intermediate interface, e.g `ParameterResolution`, that could be accessed via `ExtensionContext` would allow us to later support additional use cases.

[2021-01-22 11:56] marcphilipp commented on #2393
**Team decision:** Introduce `ExtensionContext.getParameterResolution()` and `ParameterResolution.invoke(Object target, Executable executable)` methods. Investigate how other use cases (see https://github.com/junit-team/junit5/issues/2393#issuecomment-683420815) would be addressed in this new API.

[2021-01-22 12:17] jlink commented on #2520
@marcphilipp I can try.

[2021-01-24 05:02] jaikiran opened #2539 "Document concurrency considerations for TestExecutionListener implementations"
I've been looking at some documentations to see if there is any thread safety semantics to consider when implementing a `org.junit.platform.launcher.TestExecutionListener`. I haven't found any, so asking here.

More specifically, is there ever a case where the same instance of `TestExecutionListener` could get invoked by multiple threads (simultaneously), such that these implementations need to ha

[2021-01-24 10:36] marcphilipp commented on #2539
Good point, we should document that. `testPlanExecutionStarted` and `testPlanExecutionFinished` are always called from the same thread and it's safe to assume there's at most one `TestPlan` at a time (in theory, someone could call the `Launcher` concurrently but AFAIK no tool does that). All other method could be called from different threads concurrently in case one or multiple test engines execu

[2021-01-24 19:35] asafm commented on #1558
From I see, none of them support applying it to all, which uses the standard `@Test` annotation, right?

[2021-01-25 04:27] jaikiran commented on #2539
@marcphilipp, thank you. That answer helps me decide how to go about one of the implementations in Apache Ant.

[2021-01-25 16:05] sic-poths commented on #2497
We have a similar case, but would like to run the first level of dynamic nodes in sequence, but tests under each level can be run in parallel. It would be great to be able to define the `ExecutionMode` on each `DynamicContainer` instance.

[2021-01-25 18:42] marcphilipp commented on #2537
@dubilyer  Are you sure those tests fail in a `@BeforeAll` method? If they did, this method would cause the NPE to be reported for each contained test identifier:
https://github.com/junit-team/junit5/blob/17d3b440f3b6c3ba4616fc927e7782e74582ea86/junit-platform-reporting/src/main/java/org/junit/platform/reporting/legacy/xml/XmlReportData.java#L106-L119

[2021-01-25 21:20] scordio commented on #1427
It seems it was not yet advertised: @Michael1993 brought the feature to life with junit-pioneer/junit-pioneer#321, and I'm proposing some additions in junit-pioneer/junit-pioneer#409 and junit-pioneer/junit-pioneer#416

[2021-01-26 09:23] dubilyer commented on #2537
Hi. Thanks, really cool to see that it's being investigated.

I have a quite complex project, and didn't manage to create a simple
reproducer yet, but I'll share my understanding.

All tests in a class are parametrized. So we have the following structure
(as I remember it :) :

[ test-engine]
    |
    ---- [.../test-class]
             |
             -----[.../test-class/test-method]

[2021-01-26 17:09] PataviniMa opened #2541 "Logs get dumped to console all at once when the execution is over, instead of being printed in real time"
Hello,

I'm working on a test automation project using Maven (with Surefire plugin) and JUnit 5. Since I have very long-running UI scripts (up to 20 minutes), I make intensive use of logging to the console. This is crucial to me, at least in the developing phase of each script. However, logs gets dumped all at once at the end of the execution, instead of being printed in real-time. I realize this

[2021-01-26 17:22] sbrannen commented on #2541
When executing tests via Maven Surefire, aggregation of console output is under the control of Surefire and therefore cannot be influenced by the JUnit Platform itself -- right @marcphilipp and @sormuras ?

[2021-01-26 17:29] PataviniMa commented on #2541
@sbrannen thanks for the answer. Indeed, running the test through the integrated JUnit plugin in my IDE results in real-time logging as expected. However, I can remember having a similar setup a couple of years ago (Surefire 2.x + JUnit 4) and I've never experienced this issue. So, do I have to assume that the culprit is the latest version of Maven Surefire? Is there any JUnit configuration parame

[2021-01-26 17:36] sbrannen commented on #1242
My gut feeling is that that approach would not be feasible.

Your `@BlackBoxTest` annotation would result in your `MySpringExtension` being conditionally registered with JUnit Jupiter, but it would not prevent the `SpringExtension` from being registered by various Spring Boot annotations for _test slices_ (e.g., `@WebMvcTest`).  So it would be impossible to use Boot's test slices with such an appr

[2021-01-26 17:38] sbrannen commented on #2541
If I'm not mistaken, the only way to control the aggregation of console output when using Surefire would be via a mechanism (configuration option) in Surefire itself.

Perhaps @sormuras can shed more light on the subject.

[2021-01-26 18:01] Adam-Szczeblewski-EPAM commented on #1242
Well, the intention is for BlackBox test to be mutually exclusive with test slices - blackbox test should not claim having access to any internals of the app, is might be as well executing against app running in a separate process (e.g. docker image).

Nevertheless, I agree that subclassing SpringExtension is too much fuss, and not worth the effort.

BTW, for anyone who gets here trying to solve a

[2021-01-26 19:14] marcphilipp commented on #2541
AFAIK Surefire prints output directly to the build log unless it's configured to write it to a file. In any case, JUnit is not doing anything special in the above setup so you'll probably be better off asking the Surefire team for help.

[2021-01-27 02:55] tommai78101 commented on #1224
Hello, can someone re-evaluate this ticket? I see that this ticket is closed, because it's superseded by another ticket. However, there is a PR addressed to fix this ticket, and no one has reviewed the PR as of yet.

Is the current status, "open", because a PR is submitted, or is it "closed" and we need to invalidate the PR?

[2021-01-27 09:59] PataviniMa commented on #2541
If there's no configuration I can try on JUnit side, then I'll try to ask the Surefire team.
It feels so strange, however, that such a fundamental piece of information is missing from the docs. Hope I'm not missing something obvious.

[2021-01-27 10:04] sbrannen commented on #1242
@Adam-Szczeblewski-EPAM ,

Tagging is also a good solution for that problem. Glad you sorted it out!

[2021-01-27 10:17] sbrannen commented on #2541
Closing in favor of following up with the Maven Surefire team.

[2021-01-27 10:17] #2541 closed

[2021-01-27 10:26] imavroukakis commented on #1776
Same issue for me on IntelliJ 2020.3.1. I have annotated my class with `@TestMethodOrder(OrderAnnotation.class)` and methods with `org.junit.jupiter.api.Order`

[2021-01-27 11:11] sbrannen commented on #1224
I see a branch with the proposal (https://github.com/danielhodder/junit5/tree/feature/1224_repeatable_and_parameterized_tests), but is there an actual PR associated with that branch?

@danielhodder ?

[2021-01-27 16:36] danielhodder commented on #1224
#2409 is the PR for that branch. There is a description of the change there, but it amounts to changing how combinations of TestTemplates are handled.

[2021-01-27 17:18] sbrannen commented on #1224
The status of this issue is still closed.

PR #2409 will be assessed by the team in order to determine its fate.

[2021-01-28 10:37] marcphilipp commented on #2429
The `LauncherSessionListener` introduced in #2514 is called before any `TestEngine` is initialized and should therefore be sufficient to implement this use case.

[2021-01-28 10:37] #2429 closed

[2021-01-28 17:41] sbrannen commented on #1948
Closing this issue since the new feature has been introduced in conjunction with the PR: https://github.com/junit-team/junit5/pull/2488#issuecomment-769255868

[2021-01-28 17:41] #1948 closed

[2021-01-28 18:14] tommai78101 commented on #1224
Thanks for the clarification.

[2021-01-29 12:01] #2523 closed

[2021-01-31 09:03] marcphilipp commented on #1558
Which build tool are you using? Both Maven and Gradle support retrying on the build level.

[2021-01-31 20:33] sbrannen commented on #2509
@terziele, normally when an issue is already assigned to someone (see the upper right corner of this issue), we don't submit a PR for the issue without first asking permission since the assignee may have already begun work on the issue.

In light of the fact that you have already submitted a thorough PR (#2543), I am removing @mmerdes as the assignee.

@mmerdes, I hope this is OK with you and that

[2021-02-01 09:11] iautushka commented on #2509
@sbrannen Oh, I'm so sorry. I didn't notice that. I'll be more watchful next time.

[2021-02-01 18:30] #2537 closed

[2021-02-01 19:04] marcphilipp commented on #2537
I think I figured it out. 🙂

@dubilyer Do you have time to verify my change with your project against the latest 5.7.1-SNAPSHOT version from https://oss.sonatype.org/content/repositories/snapshots/?

[2021-02-02 08:36] dubilyer commented on #2537
I will check and update. Thanks a lot!

[2021-02-02 10:46] #2487 closed

[2021-02-02 11:30] sbrannen commented on #2509
Superseded by PR #2543

[2021-02-02 15:25] asafm commented on #1558
I'm referring specifically using JUnit with the tools list above and not applying it in build tool level.

[2021-02-02 16:39] jameshilliard commented on #2487
That's pretty messy IMO, especially when this is an issue I've been running into frequently across different projects when adding additional OS CI runners(was doing that a lot recently due to travis-ci no longer offering free CI to open source projects).

Yeah, I agree that a specialized annotation for each combination of annotations is probably not a great solution, something more generalized pro

[2021-02-02 17:19] marcphilipp commented on #1558
That's correct.

[2021-02-02 19:14] marcphilipp commented on #2487
Unfortunately, Java doesn't allow such expressions in annotations.

[2021-02-04 06:22] kriegfrj commented on #2538
In Bndtools' `BundleEngine`, we have a workaround similar to what you have proposed. We fully resolve the classes before passing them into `selectClass()` so that we can handle the OSGi-related classloading issues ourselves.

This is exactly what we do here:

https://github.com/bndtools/bnd/blob/cb1d669b10e38f96b3a7b374fa2cfdce9fa62ee8/biz.aQute.tester.junit-platform/src/aQute/tester/bundle/engine

[2021-02-04 16:37] xerus2000 commented on #1914
Please resolve this! My tests looked all fine until I discovered that they were not run at all anymore after adding suspending functions :/

[2021-02-05 14:55] tmirzoev opened #2545 "Provide more options to configure ForkJoinPoolHierarchicalTestExecutorService's ForkJoinPool"
I've recently encountered a problem similar to https://github.com/junit-team/junit5/issues/1675 , but a bit worse: provided that all tests use Future.get() at some point and there's enough of them, a user can run into situation where tests start failing with  RejectedExecutionException thrown by ForkJoinPool's tryCompensate() method.

This can be avoided by tuning the parameters of ForkJoinPool us

[2021-02-05 15:15] marcphilipp commented on #2545
Thanks for raising the issue! Would your custom `ForkJoinWorkerThreadFactory` implementation be a good default?

[2021-02-05 15:48] tmirzoev commented on #2545
Thank you for quick response!

Basically, my custom implementation checks if (pool.getPoolSize() <= targetParallelism) every time a new ForkJoinWorkerThread is requested, and returns a new thread only if its true, otherwise it returns null.
This limits the number of tests running concurrently strictly to requested parallelism level.

I've yet to see, if it causes any problems in our tests, but for

[2021-02-05 15:54] tmirzoev commented on #2545
I can provide a PR if this idea sits well with Junit team.

[2021-02-07 03:47] DuanYuePeng opened #2546 "MutableTestExecutionSummary.failures is not thread safe"
module: junit-platform-launcher
version: 1.7.1

When running test in multiple threads, the failures recorded might be less than the actual failures.

As a workaround, I could implement my own ConcurrentSummaryListener, like below

[code]

[2021-02-08 02:58] kriegfrj opened #2547 "API Guardian should be optionally imported in OSGi metadata"
From: https://github.com/junit-team/junit5/pull/2095#pullrequestreview-314557992:

From #1353:

My question: if API guardian is not intended to be a runtime dependency, then why is it defined with `RUNTIME` retention? I feel that if it has runtime retention, users would be entitled to expect it to be available at runtime.

Therefore, I feel that for consistency reasons, we should do one of the fol

[2021-02-08 09:59] sbrannen commented on #2546
You would still want to invoke `super.executionFinished(...)` even if `needLock` is `false`.

[2021-02-08 10:57] sbrannen commented on #2547
That sounds reasonable.

The `@API` annotation is supported for runtime access via the Java reflection APIs. Thus changing the retention from `RUNTIME` to `CLASS` is not an option in my opinion.

[2021-02-08 11:24] kriegfrj commented on #2547
If that is an anticipated use case, then we should definitely OSGi-ify the API Guardian jar and change the JUnit 5 bundles to optionally import the packages, otherwise the annotations won't be available for reflection for code running inside an OSGi framework.

[2021-02-08 12:27] #2301 closed

[2021-02-09 10:49] vduhautois commented on #1182
Hello guys, sorry to reopen such an old ticket, but I'm in a tricky situation:
- I'm using junit-jupiter version 5.7.0
- I have parameterized tests with @MethodSource annotation, sometimes with 1 parameter, sometimes with more that 1.
- We use maven and java 11
And this is an extract of one xml file:

`<testcase name="hasSmsRegion(String)[247]" classname="fr.witchbird.cl.negotiation.objectstore.Co

[2021-02-09 13:14] #744 closed

[2021-02-09 16:47] kobynet commented on #2273
I can confirm we are having the same issue, not using any ChromDriver at all. using OpenJDK 11.0.9, Jupiter 5.7.0 and Maven Surefire Plugin 3.0.0-M4

I can confirm the workaround showed in https://github.com/junit-team/junit5/issues/2273#issuecomment-623850954 works for us as well.

[2021-02-09 20:58] #2375 closed

[2021-02-11 10:21] gebezs opened #2550 "Inconsistent @TempDir behaviour"
The `@TempDir` behaves differently if a non-test level resource is annotated than a test-level.

If I annotate an attribute or static field in my test than the annotated parameter will be same as the field.
This is true for `@BeforeAll` and `@BeforeEach` method as well.
[code]

However if I only annotate the test method parameters than they will be different.
[code]

This is an inconsistent behavi

[2021-02-11 11:09] #2546 closed

[2021-02-11 11:37] sbrannen commented on #2429
Superseded by  #2514

[2021-02-12 08:01] AdityaYadav29 commented on #1776
@sbrannen I have the same issue. I have used `org.junit.jupiter.api.Order` and my pom file is

`<project xmlns="http://maven.apache.org/POM/4.0.0" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://maven.apache.org/POM/4.0.0 https://maven.apache.org/xsd/maven-4.0.0.xsd">
  <modelVersion>4.0.0</modelVersion>
  <groupId>testrest</groupId>
  <artifactId>Junit-test-rest</

[2021-02-12 10:53] sbrannen commented on #1776
@imavroukakis, that should work.

@marcphilipp and @sormuras, can one of you verify that a recent version of IDEA properly supports ordered test method execution?

[2021-02-12 10:54] sbrannen commented on #1776
@AdityaYadav29, what makes you think the tests are being executed in the wrong order?

[2021-02-12 11:25] imavroukakis commented on #1776
On latest stable IntelliJ (2020.3.2)
![image](https://user-images.githubusercontent.com/1764981/107761866-f95f7e00-6d23-11eb-9ca4-e0e0f25e0f2d.png)

![image](https://user-images.githubusercontent.com/1764981/107761896-08463080-6d24-11eb-84e7-6d183c4dce55.png)

I think you are correct @sbrannen, this is an IntelliJ presentation issue. Sticking debug `println` statements in the tests shows that the

[2021-02-12 15:56] sbrannen commented on #1776
Indeed. It appears that IDEA is simply displaying the tests in alphabetical order, disregarding the order in which they were executed.

I would consider that a bug in IDEA.

@akozlova, what do you think?

I was going to suggest such a technique for determining the actual execution order. Glad you figured it out on your own.

And... thanks for providing feedback!

[2021-02-12 20:38] akozlova commented on #1776
1. IJ has toggle action `Sort alphabetically`, please check if it is not enabled for you (I don't see a toolbar on the screenshot...)
2. IJ displays tests in order they were discovered because the tests are shown before they were actually executed. [I didn't check] but if the order is applied **after** test plan is ready, then presentation issues are expected as it would be visually strange to re-

[2021-02-13 14:50] #2513 closed

[2021-02-13 15:53] sbrannen commented on #1776
Thanks for the feedback, @akozlova!

@imavroukakis, does that work for you?

The `org.junit.jupiter.engine.discovery.MethodOrderingVisitor` is applied by the `org.junit.jupiter.engine.discovery.DiscoverySelectorResolver` during the _discovery phase_. So the reported test method order should be correct before the `execution phase`.

[2021-02-13 16:33] imavroukakis commented on #1776
🤦  why didn't I think of this in the first place. Yes, once I removed alpha sorting they come out in the right order. I might argue that, in the presence of strict ordering IJ should drop alphabetical sorting and notify the user - principle of least surprise..but at least I know now I should disable sorting permanently 😀

[2021-02-13 18:39] jrbayliss commented on #1776
I'm having trouble with the order too. `Sort alphabetically` is surely UI only and doesn't change the order in which any tests are run.

[code]

Outputs:
[code]

But it works as expected when the second test is renamed to `secondTest`.

Outputs:
[code]

Dependencies:
[code]

[2021-02-13 19:09] sormuras opened #2551 "POM of Jupiter Engine 5.8.0-M1 depends on Kotlin"
Loading "JUnit 5.8.0-M1" via IDEA's libraries support for Maven-based artifacts shows...
![image](https://user-images.githubusercontent.com/2319838/107858799-5d726700-6e36-11eb-95aa-88e31ef4a367.png)

...that [`org.junit.jupiter:junit-jupiter:5.8.0-M1`] has a hard dependency on **Kotlin** (stdlib, stdlib-7, stdlib-8, stdlib-common) and also **JetBrains Annotations**.

## Deliverables

- [ ] Remove

[2021-02-13 19:14] sbrannen commented on #1776
@jrbayliss, you simply forgot to annotate your test class with:

[code]

[2021-02-13 19:55] #2551 closed

[2021-02-13 19:57] sormuras commented on #2551
That was very quick! Thanks, Marc.

[2021-02-17 06:31] dubilyer commented on #2537
Cannot get a platform dependency with this version.

[2021-02-17 07:10] marcphilipp commented on #2537
For platform, it would be 1.7.1-SNAPSHOT. However, we've released 1.7.1/5.7.1 in the meantime.

[2021-02-17 13:16] ftomassetti commented on #2326
Running in the same issue. It seems a bug to me

[2021-02-17 13:36] sormuras commented on #2326
Using Java 16?

If yes, I bet @normanmaurer knows which `--add-exports` & friends are required in generell to get Netty running on Java 16 with illegal access no longer permitted by default.

[2021-02-17 16:48] t1 commented on #378
I wrote an extension that supports `@TestFactory` tests that read tests from files. But I also need setup/cleanup code to run before/after those individual tests, not the whole factory, so I wrote my own `@Before/AfterDynamicTest` annotations. This is a very limited lifecycle that I think is consistent with the `testlet` idea described above.

Maybe it would be an idea to leave the current lifecyc

[2021-02-18 04:11] dakusui opened #2555 "Support declarative extension registration on lifecycle methods"
```@ExtendWith``` annotation attached to a custom "before all" annotation is not respected.
When it is attached to an annotation interface with a "@TestTemplate", it lets JUnit use an extension specified by it.
However, when it is attached to an interface with ```@BeforeAll``` annotation, JUnit doesn't use the extension and keep performing the default behaviour, apparently.

*Expectation:*
If the

[2021-02-18 08:40] dubilyer commented on #2537
Issue resolved! Thanks a lot. Waiting for release version :)

[2021-02-18 09:33] sbrannen commented on #2555
Tentatively slated for 5.8 M2 solely for the purpose of _team discussion_

[2021-02-18 09:34] sbrannen commented on #2555
## Related Issues

- #864
- #1986

[2021-02-18 09:42] sbrannen commented on #2537
@dubilyer, it has already been released: https://github.com/junit-team/junit5/releases/tag/r5.7.1

[2021-02-18 10:59] sbrannen commented on #378
That's another option; however, it would not allow individual dynamic tests to benefit from extensions that provide additional behavior via the standard lifecycle callbacks.

[2021-02-19 01:32] JamesMcGuigan commented on #1101
This functionality has been implemented as part of jUnit Pioneer with their @CartesianProductTest
- https://github.com/junit-pioneer/junit-pioneer
- https://junit-pioneer.org/docs/cartesian-product/

pom.xml
[code]

Test.java
[code]

Maybe this is something that should be considered for addition to junit core?

[2021-02-20 05:53] t1 commented on #378
Yes. So dynamic tests are either 'testlets' or have a fully fledged test lifecycles. I'm fine with both options.

[2021-02-24 01:57] DaeAkin opened #2556 "Document fully qualified method name syntax for custom conditions"
Hi,

I am studying JUnit5 by looking at the official documentation.

While studying, I have a question for custom condition method.

The documents says "Condition methods located in external classes must also be static.", but it does not work .

What did i do wrong?

[code]

In my opinion, it can't seem to find the condition method.

[code]

[code](https://github.com/DaeAkin/JUnit5-Study/blob/juni

[2021-02-24 09:49] sbrannen commented on #2556
The documentation in the User Guide also states the following.

Thus, you have to use the "fully qualified method name" to reference a static method in another class.

For example, if `ExternalClass` resides in the `example` package, you would reference it as follows.

[code]

We do actually have an example for a fully qualified method name in the [`@MethodSource`](https://junit.org/junit5/docs/cu

[2021-02-25 14:44] sormuras opened #2557 "JUnit Platform Console Standalone identifies as Kotlin module"
The `junit-platform-console-standalone` artifact entered the club of `kotlin.stdlib.jdk8` impostors. This is perhaps related to #2551 -- but could also stem from a separate issue when building the uber JAR file.

## kotlin.stdlib.jdk8

<https://repo.maven.apache.org/maven2/org/jetbrains/kotlin/kotlin-stdlib-jdk8/1.4.30/kotlin-stdlib-jdk8-1.4.30.jar>

1. `com.github.hopshackle:NTBEA` -> [`0.1`, `0.

[2021-02-25 15:01] sormuras commented on #2557
`junit-platform-console-standalone-1.8.0-20210224.203515-156.jar` downloaded from https://oss.sonatype.org/content/repositories/snapshots/org/junit/platform/junit-platform-console-standalone/1.8.0-SNAPSHOT/

`jar --describe-module --file junit-platform-console-standalone-1.8.0-20210224.203515-156.jar`

yields

[code]

That's not much better.

@marcphilipp how do we prevent the `module-info.class`

[2021-02-25 16:16] bonigarcia opened #2559 "Provide a way to find out arguments in parameterized tests in setup methods (@BeforeEach and @BeforeAll)"
To the best of my knowledge, arguments in parameterized tests are injected into `@Test` methods, but it is not possible to know these values in the previous stages of the test lifecycle (i.e., in `@BeforeEach` and `@BeforeAll`). I face some use cases in which this is desirable. Would it be possible to implement some mechanism to find out the value of these arguments before the actual test?

As a p

[2021-02-26 09:02] sbrannen commented on #2559
Closing as a duplicate of #944.

[2021-02-26 09:02] #2559 closed

[2021-03-01 04:08] renyiwei-xinyi opened #2560 "Test results for @Disabled @ParameterizedTest are not displayed correctly in IntelliJ"
When combined with parameterized test annotations, the results are not displayed correctly. The expected `test_skip` is `@Disabled`, but is actually not reported.

[code]

[2021-03-01 04:11] renyiwei-xinyi commented on #2560
![image](https://user-images.githubusercontent.com/55709533/109450943-3008f880-7a87-11eb-8851-8143ac9b99ba.png)

[2021-03-01 08:30] sbrannen commented on #2560
I've edited your comment to improve the formatting. You might want to check out this [Mastering Markdown guide](https://guides.github.com/features/mastering-markdown/) for future reference.

[2021-03-01 08:31] sbrannen commented on #2560
This looks like a presentation issue in IntelliJ IDEA.

@marcphilipp and @sormuras, can one of you confirm this?

[2021-03-01 08:37] sbrannen commented on #2560
For example, Eclipse IDE displays the disabled parameterized test method as an "empty container".

![image](https://user-images.githubusercontent.com/104798/109471767-84a17900-7a71-11eb-94e3-39f0f05cfd98.png)

If the parameterized test method is not disabled, Eclipse displays a green check mark for the parameterized test container.

![image](https://user-images.githubusercontent.com/104798/1094718

[2021-03-02 13:38] arturmkr opened #2561 "Dynamic parameters for Parameterized tests"
It would be great, if it would be possible to pass dynamic argument to the method that provides data for parameterised test.

For example, there is following class with methods, which provides test data:

[code]

There is a class with a test:

[code]

I would like from `someTest` method pass `someName` variable to `someDataProvider` method.
And inside `someDataProvider` method filter values.
As a

[2021-03-02 13:49] sbrannen commented on #2561
In general, I understand your overall goal, but how should `someTest` "pass" anything to `someDataProvider`?

`someTest` cannot practically pass/send anything to the `@MethodSource` method, because `someTest` cannot be invoked until after the `@MethodSource` method has been invoked.

On the other hand, I could imagine that JUnit Jupiter could provide the `someDataProvider` method a reference to th

[2021-03-02 13:52] sbrannen commented on #2561
Note that this is a potential duplicate of #2191, since `TestInfo` provides access to the test method.

[2021-03-04 13:04] bitcoder commented on #1139
@foxfortune  and @paul-brooks ,thanks for sharing first of all. The code works fine for getting the argument values; however, how could we obtain the argument names?
btw, @marcphilipp I also think that we need a clean way to obtain parameters and their names so external tools can eventually process them for reporting purposes

[2021-03-04 13:46] paul-brooks commented on #1139
@bitcoder You can now use the `InvocationInterceptor` to obtain the parameter value array more easily, without using reflection, for example in Kotlin:

    // Called for @ParameterizedTest methods
    override fun interceptTestTemplateMethod(
        invocation: InvocationInterceptor.Invocation<Void>,
        invocationContext: ReflectiveInvocationContext<Method>,
        context: ExtensionContex

[2021-03-04 21:49] arturmkr commented on #2561
@sbrannen , thanks you for the reply.

Here is another problem:

[code]
PageA and PageB extends BasePage.
To create instance of PageA and PageB - `String user` variable should be passed to the constructor.
String user - is not static variable, it's always dynamic.

How to pass to the test instance of the class, if for its creation not static variable is needed?

[2021-03-05 11:19] marcphilipp commented on #2561
**Team decision:** We don't think this use case is generally useful enough to change how parameterized tests work. Instead of using parameterized tests for this, you could write your own extension that implements `TestTemplateInvocationContextProvider` and `BeforeEachCallback`.

[2021-03-05 11:19] #2561 closed

[2021-03-05 11:33] marcphilipp commented on #2560
We've verified that JUnit reports the `test_skip(Object)` container as skipped but IntelliJ IDEA shows it as having passed. Please open an issue for IntelliJ to get that fixed.

[2021-03-05 11:33] #2560 closed

[2021-03-05 11:41] marcphilipp commented on #2555
**Team decision:** We don't want to add another way to register extensions, in particular since `BeforeAllCallbacks` should be registered on the class-level.

[2021-03-05 11:41] #2555 closed

[2021-03-05 16:38] jakub-bochenski opened #2563 "Filtering by tags prevents Spock specs from being executed."
Neither Spock 1.x nor Spock 2.x support tags, so they should not be affected by a tag filter. Yet it seems they are

## Steps to reproduce

Update: I was able to spot this in the debugger (somehow the debug output is not printed even when I run gradle with `-d`)
![Screenshot_20210305_175214](https://user-images.githubusercontent.com/2794994/110147304-cfa5ee00-7ddb-11eb-8f6e-927b5f500b6f.png)

I th

[2021-03-06 09:26] marcphilipp commented on #2563
As explained in https://github.com/spockframework/spock/issues/1288#issuecomment-791901698, this works as designed.

[2021-03-06 09:26] #2563 closed

[2021-03-06 18:40] marcphilipp commented on #2545
IIRC there's a reason a `ForkJoinPool` can use more threads than its configured parallelism, e.g. see [`managedBlock`](https://docs.oracle.com/en/java/javase/11/docs/api/java.base/java/util/concurrent/ForkJoinPool.html#managedBlock(java.util.concurrent.ForkJoinPool.ManagedBlocker)) which we use for `@ResourceLock`. Thus, I don't think your solution would be applicable in general.

[2021-03-08 14:28] pavelrappo commented on #1414
Could it be because of [this](https://docs.oracle.com/javase/specs/jls/se8/html/jls-15.html#jls-15.27) in JLS?

I know that this issue is long-closed, but I think it could still be valuable to anyone trying to understand why there is currently no `assertThrows(Class<T> expectedType, ThrowingSupplier<?> supplier)` in JUnit.

[2021-03-10 15:36] dmgorbunov commented on #443
@marcphilipp Hello! What would you say about company website mention?
We developed a tool that can parse JUnit annotations (so it's, like, "JUnit-compatible"). Is that also an example of fair use?

[2021-03-10 16:18] jakub-bochenski opened #2564 "Improve documentation on tags in User Guide"
Opening issue as requested here: https://github.com/spockframework/spock/issues/1288#issuecomment-792803341

I mean this part:

![Screenshot_20210310_171335](https://user-images.githubusercontent.com/2794994/110660582-fbeab180-81c3-11eb-8998-8e7d24dcb532.png)

The way it is written suggests tags are a Jupiter feature, not a platform one.

I think something like:

(source https://github.com/spockfr

[2021-03-10 16:29] tmirzoev commented on #2545
Well, there is a certain possibility that this solution is not for everyone.

I've considered this problem a bit more, and looks like providing more options to configure the ForkJoinPool used by ForkJoinPoolHierarchicalTestExecutorService would be enough.

The ForkJoinPool constructor has parameters maxPoolSize and saturate, which could be configured to achieve the required effect.
These parameter

[2021-03-11 01:32] sormuras opened #2565 "Candidate JEP 400: UTF-8 by Default"
https://openjdk.java.net/jeps/400 's summary reads:

If this JEP is integrated (into Java 17), it may impact at least the following code line:

https://github.com/junit-team/junit5/blob/0d6d21f0d8bcc3d06e1524b87b7dcdd3f308941a/junit-platform-console/src/main/java/org/junit/platform/console/options/CommandLineOptions.java#L38

Where else does JUnit Platform, Jupiter, and Vintage refer to and rely o

[2021-03-11 11:14] sbrannen commented on #2564
Tentatively slated for 5.8 M2 for _team discussion_

[2021-03-14 12:06] juherr opened #2567 "Document implementation of assertEquals() and assertNotEquals() regarding equals()"
I made some tests for the TestNG issue https://github.com/cbeust/testng/issues/2490 and found the same issue on `Assertions.assertNotEquals`.

## Steps to reproduce

https://github.com/cbeust/testng/issues/2490#issuecomment-798894748

## Context

 - Used versions (Jupiter): 5.7
 - Build Tool/IDE: N/A

[2021-03-15 11:26] sbrannen commented on #2567
Tentatively slated for 5.8 M2 for _team discussion_

[2021-03-16 01:39] LY1806620741 opened #2569 "Junit5.7.1 @Nested demo's problem"
## Steps to reproduce
my test
[code]
then I run it,but
[code]
Is there something I didn't do?[link](https://junit.org/junit5/docs/current/user-guide/#writing-tests-nested)

## Context

 - Used versions (Jupiter/Vintage/Platform):
[code]
 - Build Tool/IDE:
[code]

## Deliverables

- [ ] ...

[2021-03-16 02:01] LY1806620741 commented on #2569
这个问题是IDEA引起的，我默认配置运行test使用gradle，但是今天它突然直接使用junit，导致了这个问题，我把jdk切换为12再换回8问题解决.
This problem is caused by idea. By default, I configured test to use gradle, but today it suddenly used JUnit directly, which caused this problem. I switched JDK to 12 and then changed it back to 8 to solve the problem

[2021-03-16 02:01] #2569 closed

[2021-03-16 16:24] paplorinc opened #2570 "Remove PackageUtils package name validation"
Currently the primitive type names aren't considered keywords, even though they can't be package names:
[code]

based on https://docs.oracle.com/javase/specs/jls/se11/html/jls-3.html#jls-Identifier, `int` shouldn't be allowed in package names:
![image](https://user-images.githubusercontent.com/1841944/111344251-7f047f80-867c-11eb-8967-c39b4c4e3bda.png)

[2021-03-16 16:49] sormuras commented on #2570
Good catch, @paplorinc

How did you find it? Entered an invalid package name and JUnit Platform Commons didn't fail?

I wonder, if we, instead of fixing and maintaining this code, should add a `requires java.compiler;` directive to the `org.junit.platform.commons` module descriptor and use the [SourceVersion::isKeyword](https://docs.oracle.com/en/java/javase/16/docs/api/java.compiler/javax/lang/mo

[2021-03-16 16:53] paplorinc commented on #2570
We've been generating packages randomly and using JUnit to validate them.

I've added https://github.com/junit-team/junit5/pull/2571, lemme' know if you think we should require compiler instead.

[2021-03-16 16:59] sormuras commented on #2570
Using hidden (as in not exported) `PackageUtils` directly?

Slated for 5.8 M2 for team discussion - we'll get back to you soon.

[2021-03-16 17:01] paplorinc commented on #2570
I wasn't complaining :)

[2021-03-16 17:11] marcphilipp commented on #2570
Actually, we did this to get rid of that dependency in https://github.com/junit-team/junit5/issues/1995. However, we could add a test-only dependency write a test that checks both behave the same.

[2021-03-16 17:20] sormuras commented on #2570
Yes - yet in 2021, we might want to reconsider this decision.

Or, as this is the only place that method used in out production code...

https://github.com/junit-team/junit5/blob/9558af1961a8f539288f4c7ac59d4666417c9990/junit-platform-commons/src/main/java/org/junit/platform/commons/util/ClasspathScanner.java#L73

...we could also drop the check entirely.

[2021-03-16 21:03] paplorinc commented on #2570
Lemme' know, and I'll update my PR

[2021-03-17 14:52] Phlegethonyarre opened #2572 "Support object field access for ParameterizedTest's name"
@ParameterizedTest(name = "...") provides feature to get it's argument value into it's name by using '{0}'.

The common use is that i want to use an Object within an argument (for example User).
In this case i have to go with providing another string argument into test source, that looks like
@ParameterizedTest(name = "I am testing user with name {0}")
void testUser(String userName, User user) {
.

[2021-03-17 15:26] frascu opened #2573 "Assert Reflection Equals"
It would be useful if it was a method to compare two objects by reflection.

I suppose to have this class:
[code]

In ordet two check if two objects are equals I can create the test in this way:
[code]

This test would work just if I implement the equals method in the class `Person`.
I think that a new method can be added to `Assertions`:
[code]
This new method executes the equals method for each

[2021-03-17 15:38] sbrannen commented on #2572
Closing as a duplicate of #1154.

[2021-03-17 15:38] #2572 closed

[2021-03-17 21:52] sbrannen commented on #2573
**Team Decision**: Thanks for the proposal. We appreciate your desire to extend JUnit Jupiter's assertion support; however, we have decided not implement the proposal in line with previous decisions involving such proposals. See https://github.com/junit-team/junit5/issues/1920#issuecomment-499841520 for details.

[2021-03-17 21:52] #2573 closed

[2021-03-18 14:38] HFSDev commented on #1773
You, SIR, deserve a hug! Thank you!!!!

[2021-03-18 21:42] khmarbaise opened #2575 "JDK 16 Records for Tests not working"
# Actual behaviour
Using JDK 16 records within a test:

## First Test Case
If you define a test class (record) like this:
[code]
## Second Test Case

[code]

In both cases neither within the IDE (IntelliJ) nor with the build tool (Maven / maven-surefire-plugin) identifies the test cases and execute them.

The IDE shows the so called "gutter icon" that you can execute the tests within the class but

[2021-03-19 08:40] marcphilipp commented on #2575
Thanks for the issue report!

Source: https://openjdk.java.net/jeps/395

![image](https://user-images.githubusercontent.com/214207/111753283-f9a8e700-8896-11eb-99cd-d7fe3ad336c8.png)

Hence, JUnit sees nested records as standalone classes and executes them accordingly.

[2021-03-19 08:40] #2575 closed

[2021-03-19 11:31] marcphilipp commented on #2570
**Team decision:** Remove `PackageUtils` class and usage in `ClasspathScanner` and adjust tests accordingly.

[2021-03-19 11:52] marcphilipp commented on #2567
**Team decision:** Clarify the implementation in the Javadoc of `assertEquals` and `assertNotEquals` similar to `Objects.equal` from the JDK.

[2021-03-19 12:00] marcphilipp commented on #2564
**Team decisions:**

- Relocate "Syntax Rules for Tags" section to the Platform section about tags and link to it from Jupiter tags section
- Rename Platform "Tag Expressions" section into "Tags"
- Create "Tag Syntax Rules" and "Tag Expressions" subsections
- Create intro paragraph for "Tags" section similar to the above proposal

[2021-03-19 16:57] #2570 closed

[2021-03-19 17:46] jonnytest1 commented on #1838
quick update into the group as the eclipse bug just got closed by their automatic bugtracker

[2021-03-19 22:41] alexstaeding opened #2577 "Intoduce API to add ParameterResolvers through Launcher"
I am developing a framework that aims to automate grading by running student submissions together with JUnit tests to assign points and produce a graded rubric. Each submission (sources) jar is compiled at runtime together with the JUnit tests for that submission. These tests are all run in parallel on separate ClassLoaders.

I would like to provide a custom instance of my interface `TestCycle` (w

[2021-03-20 00:34] hamiltont opened #2578 "Expose a 'tearDown' method for custom ArgumentsProvider"
I'm using a custom ArgumentsProvider to inject a limited resource (a session object on external hardware that has a limited number of sessions). The ArgumentsProvider allows me to inject multiple implementation types of external hardware, depending upon what is connected to the machine at the time the test suite is run. It also ensures I fetch a new session for each test case (which is important a

[2021-03-20 09:36] sbrannen commented on #2578
`ArgumentsProvider` receives a reference to the current `ExtensionContext`.

The `ExtensionContext` has a `Store` in which you can store a `CloseableResource` that will be automatically closed when its inclosing `Store` is closed (which is closed when its enclosing `ExtensionContext` is closed).

Thus, this feature already exists.

In light of that I am closing this issue, but feel free post back

[2021-03-20 09:36] #2578 closed

[2021-03-20 14:57] hamiltont commented on #2578
That's perfect, thanks @sbrannen !

[2021-03-21 18:37] #2556 closed

[2021-03-23 05:45] #2013 closed

[2021-03-23 06:42] stuartwdouglas opened #2579 "Add ability for InvocationInterceptor to intercept parameter suppliers"
Quarkus needs to run tests in its own ClassLoader, and it achieves this by intercepting all methods through InvocationInterceptor and redirecting them to a new test instance loaded from the Quarkus ClassLoader.

This works really well with the exception of @MethodSource based parameters. As there is no way to intercept this the method is invoked on the original instance, and the parameters may be

[2021-03-24 00:53] asarkar commented on #86
@marcphilipp According to [this page](https://llg.cubic.org/docs/junit/), the XSD between Jenkins, Ant and Maven Surefire plugin are all slightly different. @kcooney posted a [link to the Ant XSD](https://github.com/junit-team/junit5/issues/86#issuecomment-169058238), is that what is officially supported by JUnit5?

[2021-03-24 14:22] lapplislazuli opened #2580 "Add attributes of expected & actual in AssertionFailedError"
Hi,

I am currently working on a small project where I would like to display the differences from a foreign set of run JUnit Tests.
So, someone has Tool A and runs it on Project B with Unit tests, and Tool A gives you nice info.

I would like to give a test-overview similar to what is existing, but also include information how far some of the tests where off if that is possible (depending on the d

[2021-03-24 14:50] marcphilipp commented on #2580
`org.opentest4j.AssertionFailedError` already has fields for expected and actual. Have you seen those?

[2021-03-24 14:53] marcphilipp commented on #86
@asarkar Our tests currently validate that the XML output adhere's to [Jenkins' XML schema](https://github.com/junit-team/junit5/blob/e16bf9e64e6d7bff2e765aee5421314f52307f63/platform-tests/src/test/resources/jenkins-junit.xsd).

[2021-03-24 16:11] Twonki commented on #2580
@marcphilipp Thanks for the quick response!

I indeed did not find that, maybe I was working against an older version of opentest4j. Thank you very much for pointing it out to me!

What do you think about the two points marked as *Maybe*?

[2021-03-25 12:13] Marcono1234 commented on #2567
The point of that TestNG issue was that people misuse the assertion methods to check their `equals` implementations ([example for such misuse](https://lgtm.com/query/6157623132776546027/)). Personally I think it would therefore be better to explicitly state that this is not what the assertion methods are intended for; only documenting the implementation of `assertEquals`, ... might not necessarily

[2021-03-25 13:22] jbduncan commented on #2567
I'm not on the JUnit team, but I agree with @Marcono1234's suggestion!

The Truth team have some similar wording in their [`assertThat(...).isEqualTo(...)`](https://truth.dev/api/1.1.2/com/google/common/truth/Subject.html#isEqualTo(java.lang.Object)) doc, so there's precedence for including this sort of information.

[2021-03-30 11:34] aslakhellesoy commented on #373
I'd like to chime in with our experience defining a new report format in Cucumber a couple of years ago. Cucumber has been able to produce a JSON report for several years, but we're phasing this out and replacing it with a stream of *messages*, encoded as [NDJSON](http://ndjson.org/).

Here is a minimal example: https://github.com/cucumber/cucumber/blob/master/compatibility-kit/javascript/features

[2021-03-31 08:21] rmannibucau commented on #2381
up, any hope to get it in a coming release?

[2021-03-31 16:10] sbrannen commented on #373
@aslakhellesoy, thanks for sharing your insight regarding individual JSON messages. We'll take that into consideration.

[2021-04-01 05:55] marcphilipp commented on #2580
I think both would be specific to JUnit Jupiter while OpenTest4J is more general. For the former, you could derive the information from the stacktrace.

[2021-04-01 05:56] #2580 closed

[2021-04-02 10:40] markus-popp opened #2582 "Exception in close of ExtensionContext.Store.CloseableResource swallows exception from test"
I have a custom written extension with a CloseableResource in the ExtensionContext. When the resource throws an exception while attempting to close it, exceptions thrown in the test are swallowed. In my specific case there is too little information in the exception thrown in the close-method because it could be a follow-up problem from the exception thrown in the test. Therefore i need to see both

[2021-04-02 17:42] khmarbaise opened #2583 "JUnit Jupiter Engine has a dependency to kotlin-stdbli-jdk8"
Currently the 5.8.0-M1 version of `junit-jupiter-engine` has an explicit dependency to `kotlin-stdblib-jdk8`.

[code]
Is this really necessary?

## Context

 - 5.8.0-M1
 - Build Tool/IDE:
 -  Maven / IDEA IntelliJ

[2021-04-02 18:41] sormuras commented on #2583
Duplicate of #2551

[2021-04-02 18:41] #2583 closed

[2021-04-03 22:45] Quicksteve commented on #878
We have a very similar usecase, at the moment we are either forced to duplicate code (or use inheritance/...) or only test a single combination. Implementing this feature could greatly increase our coverage while keeping the tests readable and without duplicates.

[2021-04-05 05:25] mleonhard opened #2584 "Add concrete steps to "Migrating from JUnit 4" docs section."
I have some code that uses jUnit 4.  I want to update it to use jUnit 5.  The first thing I did was try to find out which dependency to add:
1. Go to https://junit.org/junit5/
1. Click "User Guide"
1. Read through the overview.
1. Reach section [1.4.1. Downloading JUnit Artifacts](http://junit.org/junit5/docs/current/user-guide/#overview-getting-started-junit-artifacts)
1. Click [Dependency Metada

[2021-04-05 05:51] mleonhard opened #2585 "Please delete this issue."
DELETED

[2021-04-05 06:41] mleonhard commented on #2585
Hi JUnit Team,
I apologize for the tone of the original content.  I wrote it in a moment of exhausted frustration.  Hamcrest is working OK.  I hope it remains so going forward.

Please delete this issue.

Best Wishes,
Michael

[2021-04-05 06:41] #2585 closed

[2021-04-05 14:37] gayathri-nagidi commented on #1108
@sormuras i am new to this technology and i am also facing same issue could you please help me regarding the same. Thanks in Advance

plugins {
    id 'java'
}

group 'org.hmtmcsc'
version '1.0-SNAPSHOT'

repositories {
    mavenCentral()
}

dependencies {
    testImplementation 'org.junit.jupiter:junit-jupiter-api:5.6.0'
    testRuntimeOnly 'org.junit.jupiter:junit-jupiter-engine'
}

------------

[2021-04-05 16:32] jbduncan commented on #2584
@mleonhard Regarding a working example, I've personally used the Gradle sample by the JUnit 5 team below. I assume the Maven sample works just as well.

- https://github.com/junit-team/junit5-samples/tree/main/junit5-migration-gradle
- https://github.com/junit-team/junit5-samples/tree/main/junit5-migration-maven

I hope this helps.

[2021-04-05 16:37] jbduncan commented on #2584
Regarding migrating JUnit 4 tests to "JUnit Jupiter" tests (not just running old JUnit 4 tests on JUnit 5's "JUnit Platform"), I'm aware of a couple of tools that automate some parts of it. I've never used them though, so YMMV.

- https://github.com/junit-pioneer/convert-junit4-to-junit5
- https://github.com/openrewrite/rewrite-testing-frameworks

[2021-04-05 19:05] titusfortner commented on #2273
@rbok78 / @kobynet were you by chance using Selenium 4 when you had this issue?

[2021-04-06 06:15] marcphilipp commented on #2585
Thanks for coming back and changing the original description. If you have any suggestion how to improve [section 2.4.2](https://junit.org/junit5/docs/current/user-guide/#writing-tests-assertions-third-party), please let us know.

[2021-04-06 10:13] sewe opened #2586 "Consider default value for @EnabledIfEnvironmentVariable.matches"
Sometimes, you want to run a test only if a particular environment variable is present, regardless of its value.

This can be achieved using

[code]

which is a bit verbose.

In the past, this requirement has led to feature requests like https://github.com/junit-team/junit5/issues/1825, asking for a dedicated `@EnabledIfEnvironmentVariableExist` counterpart.

But IMHO, the same could be achieved b

[2021-04-08 07:28] helpermethod opened #2587 "Add static method `named` to the `Named` interface"
Hi!

First of all, great work! JUnit 5 is my favorite testing library of all time!

I've just discovered that JUnit 5.8 will provide a `Named<T>` interface, which is a great addition!
But the thing I don't quite like about is that I have to use `Named.of(...)` to construct such an instance.
I'd rather use a more descriptive method which I could statically import, like `Named.named(...)`, so I coul

[2021-04-08 17:24] sbrannen commented on #2587
I actually intended to introduce the proposed `named()` static factory method but haven't yet gotten around to it, so I'm all for it.

Tentatively slated for 5.8 M2 for _team discussion_.

[2021-04-08 18:19] marcphilipp commented on #2587
I'm also all for it and it would be consistent with `Arguments.arguments`.

[2021-04-08 18:50] mmerdes commented on #2587
As a general proponent of static imports for such use cases I am all for it as well.

[2021-04-09 10:50] marcphilipp commented on #2587
**Team decision:** Add `Named.named`.

@helpermethod Feel free to introduce the helper method (pun intended).

[2021-04-09 10:59] marcphilipp commented on #2586
**Team decision:** Although being a bit verbose, we think the current API is clearer. If you have this use case just for a few environment variables, you could define your own composed annotations like this:
[code]

[2021-04-09 10:59] #2586 closed

[2021-04-09 11:11] sewe commented on #2586
Fair enough.

[2021-04-09 11:29] helpermethod commented on #2587
@marcphilipp The interface methods are currently not documented, and there are no tests. Is this intended? Should I add those, or just add the static method?

[2021-04-09 11:31] sbrannen commented on #2587
Feel free to document the interface methods as well, since that is missing.

[2021-04-09 11:34] sbrannen commented on #2587
As for the tests, a test was introduced in https://github.com/junit-team/junit5/commit/9c4da0934db8e33600a4a8622ec2fc03ffe374be#diff-b433f96680abe9d8f1ade35f0c0412bd65e567b828e5e5f165cb912825ea6752.

So you could modify that to use `Named.of` and `Named.named`, and that should cover it.

[2021-04-09 14:11] sbrannen commented on #2587
Superseded by #2591

[2021-04-09 14:11] #2587 closed

[2021-04-09 22:05] garretwilson commented on #1967
I just ran into this as well. Every time I use `@TempDir`, my intuition is that "I'm using this annotation because I want a new temporary directory." After all, JUnit doesn't combine all the `@Test` annotations into a single test, does it? No, each `@Test` defines a separate unit test. And each time I use Mockito's `@Mock`, it creates a separate mock for the variable I'm annotating. (The list goes

[2021-04-10 14:17] mitch-haraldsson opened #2592 "Annotation @Order is being ignored when building with maven. But adhered when running inside IntelliJ IDEA"
Version: 5.7.1

[code]

## Steps to reproduce
Create a test class:
[code]

## Context
 - Used versions (Jupiter/Vintage/Platform): Jupiter Engine 5.7.1
 - Build Tool/IDE: IntelliJ IDEA 2020.3.3 / 2021.1

# Description
If this code is executed from within IDEA (right click -> Debug), then the execution order is OK.
![image](https://user-images.githubusercontent.com/82228714/114272719-91719f00-9a17-

[2021-04-12 06:26] t1 opened #2594 "Discover tests in suites packaged into jars, e.g. TCKs"
As discussed [in the discussions](https://github.com/junit-team/junit5/discussions/2589), we need a way to package a test suite into a jar and run it for several implementations. This is a common requirement when building Technology Compatibility Kits. There are generally three artifacts:

1. `api` contains some interfaces and a `ServiceLoader` (or similar IoC mechanism) to load an implementation

[2021-04-12 07:59] nipafx commented on #1558
@asafm Unless I'm missing something, there's no way to rerun failed tests from within Jupiter without providing a replacement for `@Test`. If I'm right, you preferred solution doesn't exist.

[2021-04-12 15:19] sbrannen commented on #2592
Can you please share your Maven configuration -- for example, for the Maven Surefire plugin?

[2021-04-12 16:13] mitch-haraldsson commented on #2592
Sure, I just used a very basic plain pom for testing and was able to recreate the issue:
[code]

[2021-04-12 18:04] sbrannen commented on #2592
It looks like you're missing the Surefire configuration.

Does it work as expected if you add the following to your POM?

[code]

[2021-04-12 18:08] mitch-haraldsson commented on #2592
That fixed it. I'll be darned. Thank you!
How is it that it works without surefire plugin, but in the wrong order?

Is there something like an older built-in plugin which does not honor certain configurations in Maven?

[2021-04-12 18:24] sbrannen commented on #2592
You're welcome.

I imagine that's a question that many people have asked over the years.

I got hit by it once, too, many many years ago.

In summary, it sounds like your tests were being executed as [POJO Tests](http://maven.apache.org/surefire/maven-surefire-plugin/examples/pojo-test.html) instead of JUnit tests.

[2021-04-12 18:24] #2592 closed

[2021-04-14 16:11] mpkorstanje commented on #2594
I would expect that running the `ConsoleLauncher` with either  `--select-module`, `--select-package` or `--scan-classpath` should suffice or alternatively a declarative test suite from https://github.com/junit-team/junit5/pull/2416 with the equivalent selectors.

[2021-04-15 03:25] Rohitesh-Kumar-Jain commented on #1108
Can anyone help me resolve the same on maven pls?

[2021-04-15 17:50] marcphilipp commented on #1108
The artifact is available on Maven Central:
https://search.maven.org/artifact/org.junit.jupiter/junit-jupiter-api/5.6.0/jar

[2021-04-16 08:47] mklueh commented on #1967
Same here, was expecting one directory per TempDir field, but they all resolve in the same directory...if one now needs multiple test directories, you have to bloat your code with custom directory initializations in the setup method, which I like to prevent.

This behaviour should also be documented in the JavaDocs in my opinion

[2021-04-16 09:30] sbrannen opened #2597 "Support AutoCloseable for arguments provided to a @ParameterizedTest"
## Overview

Sometimes the arguments provided to a `@ParameterizedTest` are resources that need to be cleaned up after each invocation of the parameterized test -- for example, when testing against various implementations of an API. However, it is currently not possible to clean up such resources without duplicated logic in each `@ParameterizedTest` method that makes use of the arguments source.

[2021-04-16 11:29] marcphilipp commented on #2597
**Team decision:** Introduce a new `autoCloseArguments` attribute on `@ParameterizedTest` which defaults to `true`. If `true`, all arguments provided by `ArgumentsProviders` that implement `AutoCloseable` would be closed after `@AfterEach` methods and `AfterEachCallbacks` have been called (details to be worked out).

[2021-04-16 11:41] marcphilipp commented on #1967
**Team decision:** Based on popular demand, we will add a `value` attribute to `@TempDir` with a default value to preserve backward compatibility that will be part of the key used for storing in `ExtensionContext.Store` and hence lead to different temp dirs being created for `@TempDir("a")` and `@TempDir("b")`.

[2021-04-16 13:06] #2557 closed

[2021-04-17 06:58] t1 commented on #2594
Is there a plan as to when this will be released?

[2021-04-18 09:41] mpkorstanje commented on #2594
#2415 has been released in the latest preview and will presumably be generally available once the 5.8.0 backlog is cleared out.

[2021-04-19 15:12] spc16670 commented on #1682
https://stackoverflow.com/questions/67164642/execute-junit5-test-in-parallel-in-separate-jvms-with-gradle

[2021-04-21 05:07] oehme commented on #1880
This would be great for Gradle users on Windows. Right now, if you cancel a Gradle build, Gradle will shut down the test process, because there is no better API for stopping tests. On Linux/Mac this is a graceful shutdown, so you can clean things up in your tests with shutdown handlers. On Windows, the shutdown is immediate and no shutdown handlers get executed. As a result, your tests won't clean

[2021-04-21 09:50] akozlova opened #2599 "User guide states JUnit 5 can run JUnit 3 tests but it fails to detect them"
but if I have dependency on junit 3.8.1 then I got the following exception
[code]
Looks like the guide should be updated or vintage engine should support junit 3.8 dependencies

Checked with junit-vintage-engine:5.7.0

[2021-04-21 10:02] sbrannen commented on #2599
The `VintageTestEngine` requires JUnit 4.12 or higher, and JUnit 4 includes JUnit 3.8.2 within the same artifact.

Thus, if I recall correctly, only JUnit 3.8.2 bundled with JUnit 4.12+ is supported.

@marcphilipp, do you have any further input on the topic?

[2021-04-21 15:15] marcphilipp commented on #2599
@sbrannen is correct.

@akozlova Can you use the JUnit 4 jar instead?

[2021-04-21 16:41] akozlova commented on #2599
It's IntelliJ IDEA users who struggle.

As far as I understand them, junit 3 is bundled with some android dependencies or similar. Most probably people don't need junit 3 but that jar appears on their classpath and IJ adds vintage engine for them (cause the documentation says that it supports junit 3). So my fix would be to omit vintage-engine if there is no junit 4.12+ on the classpath.

If you w

[2021-04-22 08:41] deepakab03 commented on #1558
Hope this is added to the main JUnit Jupiter soon.
Another use-case for this is when there are unit tests that depend on timeout conditions and said tests run on CI nodes and the nodes are busy or under-powered. These tests randomly fail on assertion conditions like a particular method should have been called twice, but on CI node it is called thrice because the calling thread went to sleep for a

[2021-04-22 19:41] jfuerth commented on #878
My current project supplies a TCK that needs to run test classes a variable number of times: once for each feature module discovered on the API under test.

A few reflections based on what we've explored and landed on:

* A `@ParameterizedTest` annotation on the class or constructor (in our case, with a MethodSource) would solve our needs well.
  * our current workaround is similar to [what @atnak

[2021-04-23 09:22] ndimitry opened #2600 "Beginning with 1.7.1 standalone console does not find tests on Java 8"
## Steps to reproduce

We are launching tests with the following command:
[code]

`jar-file-with-tests.jar` does contain a lot of classes with methods marked with `@Test` annotation.

This command works fine when:

- we use `junit-platform-console-standalone` version 1.7.0 both on Java 8 and Java 11
- we use `junit-platform-console-standalone` version 1.7.1 or 1.8.0-M1 on Java 11

When launching 1

[2021-04-23 09:49] ndimitry commented on #2600
Colleagues use a framework based on JUnit 5 with some enhancements needed for our project. In case they use JUnit 5.7.1 (jupiter) they also faced the same problem: tests were not discovered on Java8.
So possibly this issue is connected with some code reused for both jupiter and platform.

[2021-04-23 10:02] marcphilipp commented on #2600
Potentially related to https://github.com/junit-team/junit5-samples/issues/146

[2021-04-23 10:04] marcphilipp commented on #2600
Potentially caused by #2500

[2021-04-23 10:27] marcphilipp commented on #1919
**Team decision:** Since there's no official API to query this, the implementation would have to rely on parsing class files which we don't feel belongs in JUnit proper.

[2021-04-23 10:27] #1919 closed

[2021-04-23 10:33] marcphilipp commented on #2100
**Team decision:** We're okay with adding the metadata.

[2021-04-23 10:53] ndimitry commented on #2600
Metadata of the testing project contains option
`Multi-Release: true`
Testing project contains no main class.
It was built with no module mentioned in the pom file (no module-info class is present). When I execute (on java11):
[code]
I get no modules for the testing project (possibly I should change that).

[2021-04-23 20:15] jglick opened #2601 "NPE from RunnerTestDescriptor.lambda$logIncompleteFiltering$2"
Given `pom.xml`

[code]

and `src/main/resources/index.jelly`

[code]

then

[code]

passes

[code]

yet

[code]

fails with

[code]

Seems to be some sort of missing null check in https://github.com/junit-team/junit5/blob/ddaec1bb07b6a3ed3afd318bc9412d9e848b499f/junit-vintage-engine/src/main/java/org/junit/vintage/engine/descriptor/RunnerTestDescriptor.java#L117-L119

The situation here is admitt

[2021-04-23 20:20] LifeIsStrange commented on #1919
@t1 @marcphilipp could you make this an optional extension dependency?
It would be so much useful, even if support would break in future JVM versions (seems highly unlikely) I guess it would always be fixable by slightly changing the parsing strategy. Hence it make sense for many to use this opt-in, being warned of this hypothetical sensitivity to JVM version in the Readme.
If such dependency was

[2021-04-23 20:39] forax commented on #1919
you mean likely :)

Part of the OpenJDK project Valhalla is about specializing generics, the current draft proposes to group methods by type parameters (Specialization_Anchor) so a possible side effect is the order of the methods inside a classfile.

And what about when the bytecode is not being available like with Graal Native Image and the OpenJDK project Leyden ?

[1] http://cr.openjdk.java.net

[2021-04-23 21:09] jbduncan commented on #1919
Welp.

The only other way forward I can think of is to use a Java parsing library to parse the tests' source code, but I'm pretty sure won't work, because JUnit needs the tests' compiled form - classfiles in JARs - to run them, IIUC.

Not to mention that asking users to also provide Java source files would be painful, and JUnit would have to be turned into a pseudo-compiler/build tool to link up t

[2021-04-24 14:27] #2601 closed

[2021-04-24 14:28] marcphilipp commented on #2601
Thanks for reporting this issue! We'll include a fix in the upcoming 5.7.2 release.

[2021-04-24 14:39] marcphilipp commented on #1919
@LifeIsStrange `MethodOrderer` is completely extensible so this could be developed as an independent third-party extension or as part of JUnit Pioneer.

[2021-04-24 15:45] #2599 closed

[2021-04-24 15:46] marcphilipp commented on #2599
Thanks for the suggestion! I've done so in ec2afa1.

[2021-04-24 16:00] marcphilipp opened #2602 "Enable stalebot"
In order to close obsolete issues without having to manually go through issues, we should enable [Stalebot](https://github.com/probot/stale) to comment on issues that haven't been updated in a certain timeframe. If nobody responds or attaches a certain label, i.e. the issue is no longer relevant, the bot will close it.

## Proposed config

[code]

## Deliverables

- [ ] Enable the bot using the ab

[2021-04-24 16:01] marcphilipp commented on #2602
Tentatively slated for 5.8 M2 solely for the purpose of _team discussion_.

[2021-04-24 16:34] sormuras commented on #2600
Can you provide us that `jar-file-with-tests.jar` file in order to reproduce this issue you describe? Or better, create a minimal version of it?

`Multi-Release: true` and Java modules should not matter when running on Java 8. Btw, which exact version of Java 8 do you use?

[2021-04-24 17:08] sormuras commented on #2600
### Setup

I could reproduce this bug using the following incredients/commands with JDK `17-ea+19`:

[code]
- `javac --release 8 --class-path junit-platform-console-standalone-1.7.0.jar -d classes SampleTests.java`
- `jar --create --file tests.jar -C classes .`
- `jar --list --file tests.jar`
[code]

✔ Expected Output

[code]

❌ Wrong Output
[code]

### ConsoleLauncher 1.7.0

`java -cp junit-platf

[2021-04-26 16:10] ndimitry commented on #2600
@sormuras thank you for reproducing this issue!

[2021-04-27 12:53] jlink opened #2603 "org.junit.platform.testkit is not compatible with latest version of AssertJ"
Junit Platform 1.7.1, AssertJ 3.19.0 ->

[code]

[2021-04-27 12:59] marcphilipp commented on #2603
Thanks for reporting! We currently compile against 3.19.0 and I don't remember us having to make any source code changes so it sounds like AssertJ broke binary compatibility. Have you already reported an issue for them?

[2021-04-27 13:07] jlink commented on #2603
Yes, I think they do b/c they removed an overloaded method with vararg parameter.

Nope.

[2021-04-27 13:16] jlink commented on #2603
So it should be fixed with the next release.

[2021-04-27 13:32] marcphilipp commented on #2603
@jlink Do you mean in the next release of JUnit Platform or AssertJ?

[2021-04-27 13:34] marcphilipp commented on #2603
I'll report an issue for AssertJ.

[2021-04-27 13:35] shs96c commented on #2273
If I understand the above comments correctly, does this mean that if any code under test (either first or via dependency) calls `ForkJoinPool.managedBlock` the parallelism count used by junit is basically ignored? If that's the case, then I'd suggest we reopen this issue.

Put another way, something in Selenium's deps may have tickled this issue, but it's something that could affect any JUnit 5 us

[2021-04-27 13:37] jlink commented on #2603
Of JUnit platform. Since you compile it freshly.

[2021-04-27 13:37] marcphilipp commented on #2603
Understood. I opened an issue for AssertJ: https://github.com/assertj/assertj-core/issues/2190

[2021-04-27 13:38] shs96c commented on #2273
Having a hunt in the JDK, this should impact anyone who's using `Process.onExit()`, or `CompleteableFuture.get()`, the latter of which is used pretty widely.

[2021-04-28 08:04] kobynet commented on #2273
@titusfortner We're note using any selenium deps.

[2021-04-29 16:45] neilmce commented on #981
@sbrannen I've opened a PR for your consideration. I believe it fixes one of the disabled tests in this issue.

[2021-04-30 15:01] n-miles opened #2605 "@Isolated annotation doesn't work properly when @ResourceLock annotations are also used"
The documentaion for `@Isolated` states

The `@Isolated` annotation is implemented as a global lock. At a glance, it looks like it's just shorthand for
[code]
This has a very surprising and I would argue buggy implication: if you use a `@ResourceLock("something")` annotation on one test and `@Isolated` on another, the `@Isolated` test will run in parallel with the `@ResourceLock`ed test, violating

[2021-05-01 11:05] Nachtfeuer opened #2606 "Failed to see parameter values on parametrized tests"
What I'm looking for: displaying test parameters (the values, not the types) when looking at the list of exected tests.
![grafik](https://user-images.githubusercontent.com/11331611/116780562-dbc9c700-aa7d-11eb-9aa3-d6f1e53389e3.png)

 * Using Windows 10
 * Using Netbeans in version 12.2
 * Using Java 11.0.11
 * Using Maven in Version 3.6.3
 * Using Junit 5 in version 5.8.0-M1 (api, engine and para

[2021-05-03 09:59] asafm commented on #1558
@nipafx You are correct, solution doesn't not exists. I want Jupiter to support the ability to do so :)

[2021-05-03 12:26] sbrannen commented on #2605
Tentatively slated for 5.8 M2 for _team discussion_

[2021-05-04 11:09] koretzki commented on #744
Hi All,
I am trying out this feature, replacing old Junit 4 test suites with this suite.
have a couple of questions :
1. Is there a working example/sample of using the test suite, that I can check out?
2. will it work in mixed Junit 4 / Junit 5 classes inside the same suite or all should be on the same engine?
thanks in advance.

[2021-05-04 11:23] Thihup opened #2607 "Add a way to repeat all test suit"
Currently, the JUnit has the option of using the @RepeatedTest to allow a test to run multiple times.

Using the JITWatch, we can see how the application is behaving, so using the test suit would be a great way to get this information. However, running the tests one time each we cannot give the JIT enough time to really optimize.

In summary, to achieve this, now I'm replacing all `@Test()` with `

[2021-05-04 14:03] neilmce commented on #121
Issue #242 proposes collecting such validation errors during discovery & reporting them all at test execution time.
An alternative, possibly complimentary, approach could be to use a new Java annotation processor within JUnit.

Do the JUnit team have any thoughts on using an annotation processor to produce compilation errors/warnings for ill-configured test classes?

Pros:
* full failure informati

[2021-05-04 19:54] keturn commented on #1786
A function that returned a CloseableResource go a long way. Even just making this public: https://github.com/junit-team/junit5/blob/43638eb6a870e0d6c49224053dfeb39dcf0ef33f/junit-jupiter-engine/src/main/java/org/junit/jupiter/engine/extension/TempDirectory.java#L157-L159

No need to do everything by annotations.

[2021-05-05 09:37] yaroslav-prokipchyn opened #2608 "Add pre and post functions to DynamicContainer. so user have access over DynamicContainerTree execution lifecycle."
Provide the possibility to add functors before and after execution of each DynamicContainer in the dynamic test tree, so users have access to the execution life cycle e.g. populate and clean database for each DynamicContainer (generated test suite).

[2021-05-05 20:12] Philzen opened #2609 "Make @TempDir restore mint permissions before closing context to avoid `AccessDeniedException`"
Suppose the following test which throws an `AccessDeniedException`:

[code]

To make this test functional i'll have to change the last line to:
[code]

But this introduces 4 additional lines of bloat, hence decreasing brevity and readability of an otherwise simple test.

So my basic feature suggestion is to restore initial permissions on the tempFolder before trying to delete it. Bonus feature wou

[2021-05-06 14:18] judepereira commented on #2419
For those stumbling upon this, we had a similar requirement, and created a custom policy which restricts tests from accessing the internet: https://tech.clevertap.com/using-javas-security-policy-to-block-internet-access-for-junit-tests/

[2021-05-06 18:18] verhas commented on #1794
https://github.com/verhas/yamaletdtest

may be this is something you are looking for

[2021-05-07 09:57] verhas commented on #2147
I am using 5.7.0 at the moment and I had to add to exports to the argLine of surefire:

[code]

[2021-05-07 10:10] Michael1993 commented on #2606
I'd like to help, but the best I can do is offer some alternatives:
### Would you consider using a different assertion framework (e.g.: AssertJ)?
This would help you assert the actual data, for example: `assertThat(listData).allMatch(i -> i % 2 == 0);` would tell you _exactly_ what went wrong:
[code]
### Would you consider using a different IDE (e.g.: IntelliJ or Eclipse)?
I am asking because it s

[2021-05-07 10:19] marcphilipp commented on #2603
**Team decisison:** Document incompatibility in user guide when releasing 5.7.2

[2021-05-07 10:39] marcphilipp commented on #2602
**Team decision:** Give the bot a try with the above config and review its activity and effectiveness after a few weeks.

[2021-05-07 10:51] marcphilipp commented on #121
Thanks for the proposal! We discussed it in the team today. We think an annotation processor is too limited to detect all the problems described in #242 and thus think that's we should rather implement a more general mechanism.

[2021-05-07 10:51] marcphilipp commented on #121
Closing in favor of #242 which is more generally applicable and has more info.

[2021-05-07 10:51] #121 closed

[2021-05-07 12:49] sormuras commented on #2500
Reopen this issue due to unwanted side-effects produced by the fix. See #2600 for details.

[2021-05-07 13:37] sormuras commented on #2500
[code]

### Java 8 (-classpath)
[code]

### Java 16 (--class-path)

[code]

### Java 16 (--module-path)

[code]

[2021-05-07 19:13] Michaeli71 opened #2610 "Make `assertTimeout()` more valuable"
Currently there is nearly not functional distinction between `assertTimeout()` and `assertTimeoutPreemptively()`.

`assertTimeout()` is waiting to complete the execution. Therefore it seems to be natural that you can access the result to check it even if timeout exceeded.

Would be great to see that it produces the correct result and is in time or has a timeout.

Perhaps a new type of "error" has

[2021-05-07 19:21] Michaeli71 opened #2611 "Repeated Tests should report amount of failures and succesful runs to make it more valuable"
Right now it is possible to repeat tests for several iterations.
It is even possible to get a lot of conect information from
RepetionInfo.

In a lot of trainings and according to my own experience
 something really relevant seams to be missing: Please
add a possibility to get a summary or information on
how many invocations are succesful and how many failed.
This would be extremly useful for integ

[2021-05-08 12:28] Michael1993 commented on #2611
Hi @Michaeli71 ! 👋

Consider checking out [`rerunner-jupiter`](https://github.com/artsok/rerunner-jupiter), it does exactly what you describe here!

Example:
[code]

[2021-05-10 14:38] hosuaby opened #2612 "ClasspathScanner#determineSubpackageName sometimes resolves to wrong subpackageName starting with '...'"
This bug was introduced in JUnit `5.7.1`. `5.7.0` have no such a problem.

Example:

[code]

The bug is probaby due to commit https://github.com/junit-team/junit5/pull/2531 (Fix package path computation in ClasspathScanner )

I got this bug because I use `ReflectionSupport#findAllClassesInPackage` inside my JUnit Jupiter plugin.

## Steps to reproduce

To reproduce the bug is quite a trick. So pro

[2021-05-10 15:01] sormuras commented on #2612
The URI https://github.com/jlrosa/testwithresources is wrong. Typo?

[2021-05-11 12:37] hosuaby commented on #2612
Hello @sormuras .

Here the repository that can be used to reproduce the bug following steps above:
https://github.com/hosuaby/junit-bug-2612

[2021-05-11 16:13] dotCipher commented on #1794
Probably ok to close this our @sbrannen / @marcphilipp , since it seems like you addressed it in #1996

[2021-05-12 05:59] #2500 closed

[2021-05-12 05:59] #2600 closed

[2021-05-12 05:59] #2612 closed

[2021-05-12 12:44] mschechter-bellese commented on #1668
It would also be helpful to have the index available in the `ExtensionContext`, so that it can be used via the `@EnabledIf` / `@DisabledIf` handler method.

[2021-05-13 06:42] marcin-chwedczuk commented on #48
Extension provided by @mkobit works fine for me. Here is Java version:

[code]

[2021-05-13 11:44] Nachtfeuer commented on #2606
I switched over from Netbeans to Intellij and it works much better. Anyway I still have
following issues (not blocking but could be better):
*  the "null" issue remains. I have to use DisplayName on the test class to avoid this.
* Looking at Jenkins for the tests I see for one class with multiple parametrize tests that the name of the method is not used; that means that the #1 (and so on) appears

[2021-05-13 11:52] marcphilipp commented on #2606
Both of these sound like issues in Maven Surefire. Please raise the topic with them. I'm currently working on a new reporting format that supports the same tree structure as IntelliJ in #373. That will eventually resolve issues like this one (once it's adopted by the relevant reporting tools).

[2021-05-13 11:52] #2606 closed

[2021-05-13 11:56] marcphilipp commented on #1668
A non-intrusive way of adding this would be to add the invocation index to `ArgumentsAccessor`.

@Gabology @mschechter-bellese Would that work in your use case?

[2021-05-13 11:56] marcphilipp commented on #1668
Tentatively slated for 5.8 M1 solely for the purpose of _team discussion_.

[2021-05-13 11:59] marcphilipp commented on #2147
@verhas Which version of JUnit Platform are you using?

[2021-05-13 12:00] marcphilipp commented on #2419
@judepereira Nice, thanks for sharing! 👍

[2021-05-13 12:06] marcphilipp commented on #2610
@Michaeli71 I'm not sure I fully understand what you're asking for. In both cases the thrown `AssertionFailedError` will clearly indicate that the timeout was exceeded. Introducing a new error type would have too many implications but we could talk about a custom exception type that extends `AssertionError`. IDEs could then decide whether they want to show a different icon as they already do by ch

[2021-05-13 12:09] verhas commented on #2147
I think the answer to your question is in my comment: 5.7.0 Possibly, I do not understand what version you are asking about. Anyway, you can see the whole project with all the history at

https://github.com/verhas/yamaledt

[2021-05-13 12:10] marcphilipp commented on #1558
It would be relatively easy to implement this in the platform. However, it might not satisfy the needs of all users since static state, threads that leaked from prior tests and might have caused the flakiness doesn't get reset.

[2021-05-13 12:12] marcphilipp commented on #2607
I don't think this use case is general enough to warrant a new core feature. I'd recommend writing a small `main` method that uses the `Launcher` API directly with a for loop repeating the execution the desired number of times.

[2021-05-13 12:12] #2607 closed

[2021-05-13 12:15] marcphilipp commented on #2273
I'm all ears if anyone has a proposal how to resolve this. The only thing I've come up with would be to wrap the execution of each test in another, non-ForkJoinPool thread but that would double the number of required threads and have performance implications.

[2021-05-13 12:21] marcphilipp commented on #2609
`TempDirectory` already attempts to make all files writable when deleting them fails. It sounds like we should try to make folders executable as well. Would you be interested in submitting a PR for that?

Regarding the API status: don't worry! We know it's widely used so we won't just delete it without providing a migration path. At this point there are no plans to remove it.

[2021-05-13 12:33] marcphilipp commented on #744
There's a sample class in the user guide:
https://junit.org/junit5/docs/5.8.0-M1/user-guide/#test-suite

If that's not clear enough, we should improve it. Please let us know!

Yes, you can freely mix tests from different engines in one suite.

[2021-05-13 12:35] marcphilipp commented on #443
@dmgorbunov Sorry for the late reply. I think that should be ok. Is the website available in the meantime by any chance?

[2021-05-13 12:37] marcphilipp commented on #1101
Tentatively slated for 5.8 M2 solely for the purpose of _team discussion_.

[2021-05-13 12:43] marcphilipp commented on #2577
I think this can be solved by using a globally registered extension that reads the `TestCycle` from an `InheritableThreadLocal`. Would that work for you?

[2021-05-13 12:45] marcphilipp commented on #2545
Tentatively slated for 5.8 M2 solely for the purpose of _team discussion_.

[2021-05-13 12:47] marcphilipp commented on #2516
The problem is that `ConfigurationParameters` doesn't depend on Jupiter. Thus adding a link the `Constants` class is not possible AFAIK. We could add a section to the user guide that lists all configuration parameters and link there, though. Thoughts?

[2021-05-13 12:47] marcphilipp commented on #2516
Tentatively slated for 5.8 M2 solely for the purpose of _team discussion_.

[2021-05-13 12:49] marcphilipp commented on #2608
I think this can already be achieved by composing functions in the way needed. Thus, I don't think a core feature is necessary. Please post a more complete example if you think I'm missing the point. 🙂

[2021-05-13 12:51] marcphilipp commented on #2567
@Marcono1234 Sounds good to me! Would you be interested in submitting a PR with that?

[2021-05-13 12:57] marcphilipp commented on #2504
I think this could be solved by adding an optional URI (cf. `UriSource.from(URI)`) to `AssertionFailedError` that IDEs could resolve.

@splatch Since that needs to be done in OpenTest4J, please open an issue over there in case this is still relevant for you.

[2021-05-13 12:57] #2504 closed

[2021-05-13 13:04] mschechter-bellese commented on #1668
Would that make it available to the methods implemented for `@EnabledIf` / `@DisabledIf`, so that I can skip specific indexes when running a parameterized test? If so, I think the `ArgumentsAccessor` would work.

[2021-05-13 13:09] marcphilipp commented on #1668
No, `ExecutionConditions` are currently only evaluated at the method level, not the invocation level so I think that would be a separate issue.

[2021-05-13 13:14] mschechter-bellese commented on #1668
Yes, that makes sense. I think I would need a different solution, then. Could you please let me know if there's an existing issue that covers this?

[2021-05-13 13:16] marcphilipp commented on #1794
@dotCipher Thanks! 👍

[2021-05-13 13:16] #1794 closed

[2021-05-13 13:18] marcphilipp commented on #2584
@mleonhard Thanks for the suggestions! Would you be interested in submitting a PR with some of these improvements?

[2021-05-13 13:21] marcphilipp commented on #2603
Resolved in 2555cd03901b9d940fbe9a4030e512c29bb349cd.

![image](https://user-images.githubusercontent.com/214207/118131410-ca2ddb00-b3fe-11eb-9e36-9af841462ce3.png)

[2021-05-13 13:22] marcphilipp commented on #1668
I think #1139 is closely related.

[2021-05-13 13:24] sbrannen commented on #2603
Shouldn't the note explicitly state what versions of AssertJ _are_ compatible first?

And then mention AssertJ 3.19.0 and higher is incompatible?

[2021-05-13 13:25] marcphilipp commented on #2147
On second thought, both `util` and `logging` are internal packages and deliberately not exported. What's your use case for accessing them?

[2021-05-13 13:33] marcphilipp commented on #2603
Better?

![image](https://user-images.githubusercontent.com/214207/118132985-92c02e00-b400-11eb-9ab7-d31e82c3e94d.png)

[2021-05-13 13:35] sbrannen commented on #2603
Yes, much better.

Thanks

[2021-05-13 13:35] #2603 closed

[2021-05-13 13:36] marcphilipp commented on #2603
Thanks for the quick review! 👍

[2021-05-13 13:48] mschechter-bellese commented on #1668
Thanks!

[2021-05-13 13:50] mschechter-bellese commented on #1139
Just to add another use case, it would be helpful to also make the parameterized invocation information available to the methods implemented for @EnabledIf / @DisabledIf, so that I can skip specific indexes when running a parameterized test.

Would the `InvocationInterceptor` pattern also work there?

[2021-05-13 14:05] sbrannen commented on #1139
`-g` will include debug symbols in the .class files, which can be retrieved via libraries such as ASM that parse the actual bytecode, but that's more challenging than using the built-in `java.lang.reflect.Parameter` reflection APIs.

To obtain parameter names via the `Parameter` API, the `-parameters` flag must be supplied to the Java compiler.

[2021-05-13 14:28] xenoterracide commented on #2516
up to you in my opinion, you could also do a normal web link. I'm fine with whatever, I just want it to be easier to find ;)

[2021-05-13 14:37] titusfortner commented on #2273
Out of curiosity, how does JUnit 4 / maven surefire approach it? That has always worked extremely well for our purposes.

[2021-05-13 14:48] #2100 closed

[2021-05-13 15:59] marcphilipp commented on #2605
@n-miles Thanks for reporting! This is indeed a bug. I'm working on a fix.

[2021-05-13 17:35] marcphilipp commented on #2582
Thanks for reporting this issue! I took a quick look and think the call to `super.cleanUp()` in `TestMethodTestDescriptor.cleanUp()` should be wrapped in `context.getThrowableCollector().execute(...)`.

@markus-popp Would you be interested in submitting a PR to fix this?

[2021-05-13 17:53] marcphilipp commented on #2611
Closing since there's a community project to achieve the desired behavior. Thanks for pointing that out, @Michael1993! 👍

[2021-05-13 17:53] #2611 closed

[2021-05-13 18:00] #2602 closed

[2021-05-13 18:59] marcphilipp commented on #48
@nipafx Could this be a feature for JUnit Pioneer?

[2021-05-13 19:06] tobiasdiez commented on #944
This is still not possible, and would be helpful indeed.

[2021-05-13 19:32] stellingsimon commented on #1477
@stalebot, this is still an issue I'd like to see a solution for.

[2021-05-13 20:12] jbduncan commented on #1555
It sounds like this issue should be kept open, reading the OP.

[2021-05-13 20:15] jbduncan commented on #2205
This sounds like this would be useful to document still.

[2021-05-13 20:18] jbduncan commented on #2002
This still sounds like a useful feature, although I admit I've never been a big user of nested classes in JUnit. :)

[2021-05-13 20:22] jbduncan commented on #955
I'm happy to close this issue, actually. I've learned since opening it that a judicious use of static analysis tools is the best kind of use.

I still quite like error-prone though. ;)

And if SonarQube is ever deemed useful in the future, a new issue could easily be opened there and then.

[2021-05-13 20:22] #955 closed

[2021-05-13 20:23] #972 closed

[2021-05-13 20:25] jbduncan commented on #1826
I never said so before, but I'm in support of this proposed change.

[2021-05-13 20:34] jbduncan commented on #48
For anyone stumbling upon this, I've found the [Test Robot Pattern](https://blog.codecentric.de/en/2018/11/android-testing-part3-the-power-of-robot-pattern-with-kotlin/) a great way of expressing "steps" or "scenarios" inside a test in a readable manner. My current team uses it in an Android project to great effect, and the pattern also applies to things like Selenium tests.

[2021-05-13 20:39] ivoanjo commented on #1736
Would still be nice to have this!

[2021-05-13 20:41] jbduncan commented on #1907
I think this feedback is still worth acting upon.

[2021-05-13 20:54] jbduncan commented on #1866
This sounds like a useful usability feature!

[2021-05-13 21:37] jbduncan commented on #938
I'd still like for this to be addressed at some point.

[2021-05-13 21:38] jbduncan commented on #938
That being said, I understand if some classes/methods can't be made `final` now for backward-compatibility reasons, but at the very least each and every public class and method should be documented appropriately.

[2021-05-13 21:40] jbduncan commented on #1022
This sounds useful! That being said, the User Guide does exist, so if a javadoc isn't clear, the User Guide usually has the answer, in my experience...

[2021-05-13 21:42] jbduncan commented on #282
Google Truth, AssertJ and Kotest's assertions could still be useful sources of inspiration here?

[2021-05-14 08:06] OrangeDog commented on #1814
When you have a limited bandwidth that's exactly when you don't want a stalebot, because valuable stuff will die simply because you haven't got to uit yet, rather than because it's obsolete.

[2021-05-14 09:31] ben-spiller commented on #1989
+1 for this

[2021-05-14 10:18] marcphilipp commented on #1668
**Team decision:** Add `ArgumentsAccessor.getInvocationIndex()`.

[2021-05-14 10:19] marcphilipp commented on #1668
@Gabology @mschechter-bellese Would one of you be interested in submitting a PR for this?

[2021-05-14 10:21] sebersole opened #2615 "Problem finding tests in IntelliJ using Gradle test runner"
No idea if this is a IntelliJ, Gradle or JUnit issue.  I've tried with both JUnit 5.4 and 5.7 - same issue.  Ditto for JUnit 4 btw

For a reproducer, this is happening with the Hibernate project (http://github.com/hibernate/hibernate-orm) with the `wip/6.0` branch.  Totally understand if you want a smaller reproducer - let me know.

I played around a little bit to see if I could narrow down possib

[2021-05-14 10:27] marcphilipp commented on #1101
**Team decision:** Since the [above syntax](https://github.com/junit-team/junit5/issues/1101#issuecomment-385651395) would only support strings, it would not provide much benefit compared to what's possible with `@CsvSource`. Hence, closing this issue.

[2021-05-14 10:27] #1101 closed

[2021-05-14 10:36] marcphilipp commented on #2545
**Team decision:** Add `ForkJoinPoolExecutionConfiguration` with the additional getters as described above and check for it in `ForkJoinPoolHierarchicalTestExecutorService`.

@tmirzoev Would you be interested in submitting a PR?

[2021-05-14 10:40] marcphilipp commented on #2516
**Team decision:** Add a table containing all config parameters (Platform, Jupiter, Vintage (?)) in the user guide and link to it from the class-level Javadoc of `ConfigurationParameters`.

[2021-05-14 10:53] marcphilipp opened #2616 "Add JBang catalog"
JBang now has an [AppStore](https://www.jbang.dev/appstore/) that makes it nice and short to run Java executables. We should add a small wrapper and a JBang catalog to make the Console Launcher available through that.

## Deliverables

- [ ] Add a `junit-team/jbang-catalog` repo and make it possible to run the Console Launcher via `jbang cli@junit-team`

[2021-05-14 12:36] mschechter-bellese commented on #1668
@marcphilipp,

I am currently more focused on making the invocation index available to `@DisabledIf` / `@EnabledIf` consumers via #1139.

Quick question: if the invocation index is to be accessible from the `ArgumentsAccessor`, how is the invocation index value provided during instantiation? It appears that the invocation index is only available as an `AtomicInteger` in `ParameterizedTestExtension

[2021-05-14 13:31] t1 commented on #2594
I got it working with 5.8.0-M1. Thanks a lot!

[2021-05-14 16:12] JLLeitschuh commented on #1168
I'm not going to implement this, and I don't know there's a huge amount of value. I'll close this.

[2021-05-14 16:12] #1168 closed

[2021-05-14 16:39] ChesterTheCheese opened #2617 "Support for methods from external classes in @MethodSource doesn't work when the method is specified in static inner class"
## Overview

The external classes support for `@MethodSource` annotations (https://github.com/junit-team/junit5/issues/1088) doesn't seem to work when the method providing arguments is located in a `public static Nested/InnerClass`. This might be a bug or an extension to the existing system, depending on how you look at it :)

Best regards, Chester

## Data

Happens with java 15 and junit version

[2021-05-14 20:34] Philzen commented on #2609
Oh that's good to know, maybe worthwhile to add that to the documentation at some point.

I will be sleeping much better tonight :wink:

Interested, yes definitely, would be a great honor to contribute here. But at the moment i'm at the limits regarding my energy and time resources. If you could point me at the bit in the code that tries to make everything writable again that may help me (or someo

[2021-05-14 20:45] leonard84 commented on #90
This feature would have helped with https://github.com/spockframework/spock/issues/1288

[2021-05-14 20:47] leonard84 commented on #1722
This would help with https://github.com/spockframework/spock/issues/1273

[2021-05-14 22:13] beatngu13 commented on #1139
There is a [pending PR](https://github.com/junit-pioneer/junit-pioneer/pull/368) in [JUnit Pioneer](https://junit-pioneer.org) which basically does this. From the [PR's docs](https://github.com/junit-pioneer/junit-pioneer/blob/b90527495c9f8281ee88fb5bf21eb2196c94e9f7/docs/disable-parameterized-tests.adoc#disableifparameter):

The underyling [`DisableIfParameterExtension`](https://github.com/junit-

[2021-05-15 01:48] Philzen commented on #2609
I have done some testing on this and i've found (at least on my linux ext4 filesystem) that this is never necessary – `TempDir` can be deleted no matter what the permissions are on the *files* contained in it.

It's also about making folders writable again – including the `TempDir` itself. I will do some testing and come up with a matrix what combinations throw an exception when Junit tries to clo

[2021-05-15 08:23] marcphilipp commented on #2609
Sure thing:

https://github.com/junit-team/junit5/blob/267ce626491b02a86af7fb94191313adb8959f8e/junit-jupiter-engine/src/main/java/org/junit/jupiter/engine/extension/TempDirectory.java#L220-L249

IIRC the change was introduced for filesystems on Windows.

Yes, the code above was introduced for 5.7.x.

[2021-05-15 08:28] #2605 closed

[2021-05-15 08:59] verhas commented on #2147
I myself nothing. But without those two lines running Maven I get the following error:

[code]

My guess is that this is a bug in the Surefire bug and these two lines are more a workaround than a fix.

[2021-05-15 09:23] sormuras commented on #2147
Surefire/Failsafe/Plexus (or another player) builds up a wrong mix of class-path and module-path here, methinks.

Let's insert some line breaks:

[code]

From that I read:

- artifact `junit-platfrom-console` is on the class-path (in **unnamed** module @0x2f8f5f62)
- artifact `junit-platform-commons` is on the module-path (in "named" module `org.junit.platform.commons`)

Could you please run Maven

[2021-05-15 09:30] sormuras commented on #2147
PS: I scanned the source files of Surefire for usages of not-exported packages and couldn't fine one. Except for a single hit within a test case here:

https://github.com/apache/maven-surefire/blob/e9e5193feee08230e934f5f0fbdc8f69eda0fb0c/maven-surefire-common/src/test/java/org/apache/maven/plugin/surefire/AbstractSurefireMojoJava7PlusTest.java#L463-L466

[2021-05-15 10:55] Tibor17 commented on #2147
Run the build with debug logs. You don't have to analyse the code if you want to see the JPMS attributes. Simply run `mvn -X test`.

[2021-05-15 11:11] marcphilipp commented on #2615
I checked out the project and tried running a few tests. I think there are different problems here:

`:documentation:matrix_derby` is using JUnit 4 not JUnit Platform, but probably not on purpose? I think the `each` should be a `configureEach` in [`java-module.gradle`](https://github.com/hibernate/hibernate-orm/blob/c7e37dc1d7b1fb21a3404f0b9276ab34f48cf4df/gradle/java-module.gradle#L267).

When I

[2021-05-15 11:11] #2615 closed

[2021-05-15 12:26] sebersole commented on #2615
Well this is disappointing...

Yep, as I said... it happens regardless of whether the tests use JUnit 4 or 5.

Regarding the file you link, I'm not sure why you think that links the test tasks in question together.  `hibernate-testing` is a bunch of test-fixtures.  It defines some simple tests for its fixtures (basically our JUnit 5 extensions).  That section you linked is basically saying that fo

[2021-05-15 12:28] sebersole commented on #2615
I guess we will have to re-think using JUnit 5 then.  Not being able to run and debug tests against the various databases is just a killer

[2021-05-15 12:30] nipafx commented on #48
[Yes](https://github.com/junit-pioneer/junit-pioneer/issues/486). 😁 I assume that means that Jupiter will not implement this (for now)?

[2021-05-15 12:43] vlsi commented on #2616
It looks like JBang misses checksum/signature verification for the binaries it downloads :-(

[2021-05-15 12:47] marcphilipp commented on #2615
This is not an issue with using JUnit 5. The same would happen if you would only use JUnit 4 and run tests from IDEA via Gradle.

[2021-05-15 12:50] marcphilipp commented on #2615
For test fixtures, you should consider using Gradle's [`java-test-fixtures` plugin](https://docs.gradle.org/current/userguide/java_testing.html#sec:java_test_fixtures).

[2021-05-15 13:08] marcphilipp commented on #2615
I created a [reproducer](https://github.com/marcphilipp/gradle-sandbox/tree/master/idea-test-filter-issue) raised an issue with IDEA: https://youtrack.jetbrains.com/issue/IDEA-269368

[2021-05-15 13:39] marcphilipp commented on #48
It seems there's a relatively simple way to achieve this using already existing extensible mechanisms so I would tend not to. 🙂

[2021-05-15 13:40] Saljack commented on #48
I do not understand why don't you want to add it directly to JUnit? Or do you want to test it in JUnit Pioneer and then move it to JUnit? Or are there another reasons? Because I think this is one of the most wanted feature.

[2021-05-15 13:52] marcphilipp commented on #2617
Nested classes need to be separated with `$`, not `i`: `example.JUnitNestedMethodSourceTests$Source#getArgs`.

[2021-05-15 13:52] #2617 closed

[2021-05-15 13:58] sebersole commented on #2615
We discussed using the test-fixtures plugin.  But as we understand it, it simply adds that as a variant, and the only way to map that to POM is via classifier.  Classifier simply cannot model this; you'd have to expose your test dependencies as "main dependencies".  Considering we need to support people consuming Hibernate via Maven, that will not work.  Unless I have missed something.

Thanks for