[2019-03-11 15:11] mannodermaus commented on #1800
The way this is usually checked by multi-platform libraries is through a reflective class lookup for `android.os.Build`, followed by a conditional around the `android.os.Build.Version.SDK_INT` constant. [Here is an example of that](https://github.com/square/retrofit/blob/0a89fc5e3f61881bd78f7886e40a039faa4230f8/retrofit/src/main/java/retrofit2/Platform.java#L45-L48)!

[2019-03-11 16:05] Tibor17 commented on #1799
You are closing the door for parallel classes with this solution in the future.

@thekingnothing
Do you override Context Class Loader in Thread in JUnit4 Powermock Runner?
I do not think so. You create a new CL each time a test method runs and you instantiate new mock objects? Or not either and still the same CL is used but different mock type is registered in default CL?

[2019-03-11 16:22] Tibor17 commented on #1799
Still sounds like a workaround of the problem with Mockito. Perhaps it is Mockito bug and not JUnit5 bug.
Regarding #201 this issue #1799 is not a perfect way to customize Thread's CL. The perfect solution is to call an extension API.

[2019-03-11 16:28] antimpatel commented on #1514
@sbrannen I came across this issue looking for `up-for-grabs` on junit5.
I have spent a few days to understand the issue and have been able to reproduce it and perform some tweaks on it. Here is my understanding :

- The exclusion of tests based on tags is done in discovery phase. Exclusions are removed from ExecutionTree itself.
- Reporting or providing a summary is done via listeners that are in

[2019-03-11 21:16] OverMighty opened #1808 "JUnit 5 ignores parameterized tests that are annotated with @MethodSource"
## Overview

I am using JUnit Jupiter 5.4.0.

When I call `gradle clean test build`, JUnit doesn't run my parameterized tests that are annotated with `@MethodSource`.

It runs my other unit tests though, and I can run the parameterized tests that are annotated with `@MethodSource` from IntelliJ IDEA.

For example, this test will run when I call `gradle clean test build`:
[code]

But this one won't

[2019-03-11 21:27] sbrannen commented on #1808
Can you please provide the version of Gradle you're using as well as a `build.gradle` file that reproduces the behavior you have described?

[2019-03-11 21:29] OverMighty commented on #1808
I'm using Gradle 5.2.1.

Here is my `build.gradle` file:
[code]

[2019-03-11 22:29] marcphilipp commented on #1808
You should be using `testCompile` instead of `testCompileOnly`. While jupiter-engine is on the test runtime classpath and will pull in junit-jupiter-api (hence `@Test` works), junit-jupiter-params is not.

[2019-03-11 22:29] #1808 closed

[2019-03-12 05:04] mkobit opened #1809 "Improve ReflectionSupport.newInstance to support creating instances that have polymorphic-accepting constructors"
## Steps to reproduce

* Java 8, Kotlin 1.3.21, JUnit `5.4.0`

[code]

Fails with

[code]

## Context

 - Used versions (Jupiter/Vintage/Platform): `5.4.0`/-/`1.4.0`
 - Build Tool/IDE:

Attempting to build an extension that uses a `ReflectionSupport.newInstance(MyType::class.java, extensionContext)` where the constructor looks like `MyType(private val extensionContext: ExtensionContext)`

but, the

[2019-03-12 06:11] OverMighty commented on #1808
Oh, ok. Thank you!

[2019-03-12 06:28] aepfli commented on #1805
i am also tending toward # 1.

hence that and the fact that i was a little bit bored yesterday, i started the implementation. there are just a few things i do have problems.

1. i cant test the static initializer blog, and if the logging is working properly
2. i did not find a way to verify, which execution mode was used. There is the test class `OrderedMethodTests.java` which i extended/adapted.

[2019-03-12 07:29] sormuras opened #1810 "Polish Azure Pipelines build"
After-math for #1807 and closes #1795.

## Deliverables

- [x] Provide credentials to publish SNAPSHOT assets (artifacts and documentation)
- [x] Update https://github.com/junit-team/junit5/blob/master/README.md#continuous-integration-builds table with shields pointing to Azure Pipelines
- [x] Configure "Publish Test Results Job" to include only propery results: https://github.com/junit-team/junit

[2019-03-12 07:54] sormuras commented on #1810
/cc @ethomson @brunoborges

[2019-03-12 08:06] sormuras commented on #1810
Added the "overall pipeline status badge" via

It is possible to show off all (or some) jobs in a table:

- Linux (OpenJDK 11) 🤜 [![Build Status](https://dev.azure.com/junit-team/junit5/_apis/build/status/junit-team.junit5?branchName=master&jobName=Linux%20(OpenJDK%2011))](https://dev.azure.com/junit-team/junit5/_build/latest?definitionId=1&branchName=master)
- Linux (OpenJDK 12) 🤜 [![Build Status

[2019-03-12 10:12] ugrepel opened #1811 "Add optional order parameter to @ExtendWith"
Extensions can be added to a test class on class level (using `@ExtendWith` on the class) and with `@RegisterExtension` on fields of the test class.

While ordering the `@RegisterExtension` extensions can be achieved with the `@Order` annotation there is no way to do that with the `@ExtendWith` extensions - at least not in a way that the `@RegisterExtension` extensions actually are wrapped by the

[2019-03-12 10:32] sbrannen commented on #1809
Tentatively slated for 5.5 M2 for _team discussion_

[2019-03-12 10:32] sbrannen commented on #1811
Tentatively slated for 5.5 M2 for _team discussion_

[2019-03-12 10:36] sbrannen commented on #1811
Although I've slated this for _team discussion_, I do not foresee us ever mixing extensions registered via `@ExtendWith` and `@RegisterExtension`. Those mechanisms serve two separate purposes.

As it stands now, extensions registered at the class level via `@ExtendWith` are **always** registered before extensions registered at the class level (e.g., via `static` fields) via `@RegisterExtension`.

[2019-03-12 10:39] sbrannen commented on #1809
Although I've slated this for _team discussion_, I do not foresee us changing the semantics of `newInstance()`.

Doing so would open up a whole new can of worms that I do not think should be supported by JUnit.

Such "worms" include: implementing and maintaining an algorithm that picks the "most specific constructor" based on type hierarchies (possibly with generics and parameterized types) for mu

[2019-03-12 10:41] AntonOellerer commented on #1791
@marcphilipp
I am using 2.0.0.BUILD-SNAPSHOT because that's what we use in our organisation.
What do you mean about adding Spring?

[2019-03-12 10:44] sbrannen commented on #1791
The example he linked to does not include the use of Spring.

[2019-03-12 10:54] sbrannen commented on #1809
As @marcphilipp pointed out elsewhere, for your particular use case, you can just look up the `Constructor` on your own via `java.lang.Class.getDeclaredConstructor(Class<?>...)` and then invoke  it via `constructor.newInstance()`.

[2019-03-12 10:57] ugrepel commented on #1811
Two separate purposes which would be able to work together if they could be mixed in a controlled way.

See my example: the Mockito team provided an extension that is designed to work with `@ExtendWith`. That extension basically initializes the class fields marked with `@Mock.` (as well as constructor parameters marked as such). This is just fine.

Now `@ExtendWith` cannot be used in all scenarios

[2019-03-12 10:57] #1811 closed

[2019-03-12 11:57] sbrannen commented on #1805
That should be achievable by using a custom `ClassLoader` and `@TrackLogRecords`.

You can track the name of the current thread in each test -- for example, in a `static` `List<String` -- and assert the results in an _integration test_.

Yeah, sure.

[2019-03-12 12:38] sormuras commented on #1810
I can't find the "Advanced settings..." described here https://docs.microsoft.com/en-us/azure/devops/pipelines/repos/pipeline-options-for-git?view=azure-devops to activate

[2019-03-12 13:05] ethomson commented on #1810
Sorry for the confusion - we have two independent ways to configure CI, either the visual designer or the YAML.  It's pretty much all or nothing (all visual designer or all YAML) and those instructions guide you to the visual designer path.  We're using YAML which is right and true, so I opened #1812 to add the shallow clone rules to the YAML.

[2019-03-12 13:10] sormuras commented on #1810
Understood.

We are trying to insert our secret credentials via UI right now. Looking forward to merge #1812 and proceed with the switch.

[2019-03-12 16:52] sormuras commented on #1810
**Current status**

![image](https://user-images.githubusercontent.com/2319838/54219214-5d051f00-44ef-11e9-94ef-d113a92f912c.png)

**Todo**

- [ ] The two last jobs should only start if the five above were successfully executed.

[2019-03-12 17:23] ethomson commented on #1810
Should be something like:

[code]

@sormuras I can send a PR unless you're in the middle of this.

[2019-03-12 17:25] sormuras commented on #1810
About to push it in a second... ;-)

[2019-03-12 17:28] sormuras commented on #1810
See https://github.com/junit-team/junit5/commit/6706691072bc122b0f54c91856452db1d644e4aa ... chose `linux_11` as single dependency for now.

[2019-03-12 17:29] sormuras commented on #1810
Waiting as expected...

![image](https://user-images.githubusercontent.com/2319838/54221971-c6d3f780-44f4-11e9-91e9-baff7ae3f5f6.png)

[2019-03-12 17:34] sormuras commented on #1810
@ethomson ... those two publish/update jobs (and the coverage job as well) are good candidates for a dedicated "Release Pipeline", aren't they?

[2019-03-12 18:04] ethomson commented on #1810
@sormuras - I actually would not in this case.  There's a couple of reasons:

1. Pipelines are really useful when you have additional levels of complexity.  For example: if you want to deploy to a staging server, then QA, then production, pipelines help manage that.  They're still useful for a single deployment like this but you're not taking advantage of a lot of the complex parts.

2. It also ad

[2019-03-12 18:43] sormuras commented on #1810
Keeping things as-is. Thanks for the details.

[2019-03-12 20:31] thekingnothing commented on #1799
@Tibor17 PowerMock split tests into chunks (a chunk per `@PrepareForTest` annotation), then creates a new Class Loader for each chuck and load everything with this class loader when starts a new test chuck. PowerMock loads a junit runner class with own classloader, when creates loads a test class itself with own class loader.

Right before running a test PowerMock replaces Context Class Loader and

[2019-03-13 03:49] sormuras commented on #1795
Superseded by #1810

[2019-03-13 03:49] #1795 closed

[2019-03-13 03:53] sormuras commented on #1810
Updated deliverables with "clean up" entries.

[2019-03-13 06:02] marcphilipp commented on #1799
@Tibor17 Could you please explain why you think that?

[2019-03-13 06:39] sormuras commented on #1810
**Performance comparison**
- Travis [9 minutes 14 seconds](https://travis-ci.org/junit-team/junit5/builds/505588712)
- Azure [9 minutes 7 seconds](https://dev.azure.com/junit-team/junit5/_build/results?buildId=47)

**But**
- Travis spent [10 seconds](https://travis-ci.org/junit-team/junit5/builds/505588712#L444) to restore cached `/home/travis/.gradle/caches` [scan](https://scans.gradle.com/s/tlcv

[2019-03-13 06:43] sormuras commented on #1810
Caching is not yet supported at Azure Pipelines: https://devblogs.microsoft.com/devops/adding-caching-to-azure-pipelines/

[2019-03-13 06:48] matejdro commented on #1800
I've just checked and `5.5.0-SNAPSHOT` works on Android!

Thanks a lot.

[2019-03-13 06:57] sormuras commented on #1800
Thanks for the heads-up, @mannodermaus and @matejdro!

Regarding `OS.ANDROID` ... how is the relation to `OS.LINUX`? Does `OS.currentOs()` report `LINUX` on Android at the momemt? If we were to introduce `OS.ANDROID` would that also imply `OS.LINUX`? Perhaps we a secondary attribute/enum, like `OS.Flavor`... or something.

The fix for Android will be released soon with version `5.4.1`.

[2019-03-13 08:59] marcphilipp commented on #1794
Hmm, good question. I was purely thinking about this from a user's perspective. Now that I think about it again, these are classpath resources so I don't think neither `File` nor `Path` would work in all cases, would they?

[2019-03-13 09:08] marcphilipp commented on #1514
Thanks for the detailed summary. I think (2) is not an option because it would require all test engines to be adapted and change the current behavior.

As I currently don't have any idea how build tools or IDEs would display such information, how about we collect this information in `DefaultLauncher` and log it (if tests have been excluded)? If we later find a use case for reporting it to tools us

[2019-03-13 09:24] gopinath-langote commented on #1797
Hello @marcphilipp @sbrannen

If this is up for grab, I can do this.

[2019-03-13 10:39] ethomson commented on #1810
![VPffJLd](https://user-images.githubusercontent.com/1130014/54272817-51ac0500-457c-11e9-8872-2c49941a3adb.gif)

[2019-03-13 11:24] Frontrider commented on #1775
What I'm trying to do now, is to fail the tests that took too long to execute (a requirement that we got), but all the assertion errors that I throw in the `afterEach `callback are captured, and ignored, so the tests are passing, even tough they should fail to notify the devs that it's too slow.

[2019-03-13 11:47] Frontrider opened #1813 "Allow extensions to fail tests"
The problem that I have, is that I need to fail all of the tests that took too long. I measured the test's execution time in the `beforeEach` and `afterEach` methods (works well), but when I try to throw the `AssertionFailedError` in the `afterEach` callback nothing happens.
Should be solved by not catching this specific exception from the extensions. Correct me but I do not see a good reason thro

[2019-03-13 12:08] sbrannen commented on #1813
JUnit Jupiter does not swallow exceptions thrown from an `AfterEachCallback`.

Running the following test class...

[code]

... results in the following:

[code]

I am therefore closing this as "works as designed".

[2019-03-13 12:08] #1813 closed

[2019-03-13 12:15] Frontrider commented on #1813
Realized the problem. I was running it with the testkit, and that one definitely not work like this. Gonna open a separate issue for that, when I learnt a bit more.

[2019-03-13 12:21] sbrannen commented on #1813
The `EngineTestKitFailedMethodDemo` class in the [User Guide](https://junit.org/junit5/docs/current/user-guide/#testkit) demonstrates how to verify that a test method failed with an exception.

[2019-03-13 12:30] Frontrider commented on #1813
That is exactly what I copied, and the exception is missing from the events, and the statistics reports that all tests were successful (all should have failed for that case), even tough I confirmed that the code reached the point where the exception should have been thrown.
Gathering more data.

Running the extension outside the testkit worked (It's a lot easier to use that configuring the environ

[2019-03-13 12:42] sbrannen opened #1814 "Introduce cleanup mode in @TempDir"
## Overview

As discussed in https://github.com/spring-io/initializr/issues/862, the `TempDirectory` may fail to clean up the temporary directory due to various reasons, but sometimes the user would prefer that the extension not cause the test to fail if certain files or folders within the temporary directory cannot be deleted.

Introducing a configurable clean up mode would help to support such u

[2019-03-13 12:55] marcphilipp commented on #1810
I guess we could build our own Docker image with a "pre-warmed" cache but it's probably not worth the complexity.

[2019-03-13 12:56] Frontrider opened #1815 "Junit testkit catches exceptions from junit5 extensions."
## Steps to reproduce
Make this extension
[code]
Run this test with the testkit
[code]
This test will pass, even tough we throw an exception.

[code]
In the report I see this:
[code]
(I'm making the assumption, that the number 2 refers to the class and the method in the tree)
Running the test directly from the IDE/Gradle works.
## Context

 - Used versions (Jupiter/Vintage/Platform):
    Jupiter 5

[2019-03-13 13:07] sbrannen commented on #1815
You filtered by containers (`.containers()`) instead of tests.

Thus, there are no test events in what you're asserting against.

Here's the correct implementation of your test case.

[code]

Closing this issue as "works as designed".

[2019-03-13 13:07] #1815 closed

[2019-03-13 13:09] sbrannen commented on #1815
BTW, I highly recommend the use of the `debug()` support in such cases.

You can then visually inspect the events before making any wrong assumptions. 😉

[2019-03-13 13:10] Frontrider commented on #1815
I will, thank you.

[2019-03-13 13:10] sbrannen commented on #1815
For example, the following:

[code]

Results in the following in the console:

[code]

[2019-03-13 13:11] Frontrider commented on #1815
Changing it to `all()`, now displays the expected results.

[2019-03-13 13:15] marcphilipp commented on #1797
Let's use `junit.jupiter.displayname.generator.default` for the new config parameter.

@gopinath-langote Go for it! 🙂

[2019-03-13 13:51] sormuras commented on #1810
Let's wait for ... "SOON".

[2019-03-13 14:53] sbrannen commented on #1794
I think it depends on whether the files in the classpath are directly available in the file system, in a JAR, or remote.

If they are in the local file system, one should be able to use `URL java.lang.Class.getResource(String)` and create a `File` or `Path` from that.

Otherwise, one would have to use `InputStream java.lang.Class.getResourceAsStream(String)` like you did in `CsvFileArgumentsProvid

[2019-03-13 15:04] sbrannen commented on #1775
@Frontrider, you sorted out those issues with an extension being able to fail the tests -- right?

If so, it might be worth mentioning here just to avoid misleading people. 😉

[2019-03-13 15:06] sbrannen commented on #1813
Is it? Exactly? 😉

[2019-03-13 16:27] dotCipher commented on #1794
Yeah, that would definitely work for my case, and having the more generic solution via `InputStream` seems like it would be flexible enough to handle most cases.

[2019-03-13 21:20] gopinath-langote commented on #1797
@marcphilipp
Couple of clarification I want to do before starting PR

1. Configuration `junit.jupiter.displayname.generator.default` will be take `full class path` ex.
   `junit.jupiter.displayname.generator.default=org.junit.jupiter.api.DisplayNameGenerator.Standard`

2. Configuration ill go in `org.junit.jupiter.engine.config.JupiterConfiguration`

3. Both `CachingJupiterConfiguration` & `Defaul

[2019-03-14 07:53] marcphilipp commented on #1797
Yes, the fully qualified class name. I'm wondering whether we should add a fallback so users can say `Standard` and we would first attempt to lookup that class and, in case that fails try `org.junit.jupiter.api.DisplayNameGenerator.$className`. WDYT?

👍

👍

Let's use `getDefaultDisplayNameGeneratorClass()`.

SGTM

[2019-03-14 08:00] marcphilipp commented on #1794
Who'd be responsible for closing the `InputStream`?

[2019-03-14 08:33] gopinath-langote commented on #1797
@marcphilipp

1. If user don't provide configuration we are anyways going to use Standard.
I am not seeing someone who will pu only Standard in configuration.
In case we are providing that, user might get confused with fully classname vs just name as Standard

-
Our documentation will be clear that if no configuration provided we will use Standard one.

that's what I think.
Open for other opinion

[2019-03-14 08:56] Frontrider commented on #1813
That was the problem in the end that I copied it exactly.

[2019-03-14 08:57] Frontrider commented on #1775
Yep.

[2019-03-14 12:18] sbrannen commented on #1797
I think @marcphilipp was only using `Standard` as an example. We would of course not condone that one override the default with the default since that does not make sense.

But... a team may wish to set `ReplaceUnderscores` as the default generator. So following Marc's proposal, we could support `junit.jupiter.displayname.generator.default=org.junit.jupiter.api.DisplayNameGenerator.ReplaceUndersco

[2019-03-14 12:47] sbrannen commented on #1813
Related to #1815

[2019-03-14 12:47] sbrannen commented on #1815
Related to #1813

[2019-03-14 12:55] sbrannen commented on #1794
I think Jupiter should encourage (via documentation) the consumer of the stream to close it in order to handle any exceptions, but Jupiter would still be responsible for ensuring that the stream is closed after test execution -- or at least attempting to close the stream (in a try-catch block).

[2019-03-14 12:59] sbrannen commented on #1794
If we're not comfortable with creating an `InputStream` and providing that as an argument to parameterized test methods, we could opt for a more robust model (and naturally more involved model (in terms of maintenance, etc.)) along the lines of Spring's `Resource` abstraction.

[2019-03-14 14:47] marcphilipp commented on #1797
Fair enough. Let's omit the additional convenience I suggested above and always treat `junit.jupiter.displayname.generator.default` as a fully-qualified class name.

[2019-03-15 11:40] marcphilipp commented on #1809
**Team Decision:** For the reasons mentioned by @sbrannen above, we have decided not to add support for this feature.

[2019-03-15 11:40] #1809 closed

[2019-03-15 11:48] marcphilipp commented on #1805
**Team Decision:** Always use `ExecutionMode.SAME_THREAD` for randomly ordered tests.

[2019-03-15 12:04] marcphilipp commented on #1786
**Team Decision:** Store `Path` in `ExtensionContext.Store` and make it available to other extensions via a well-known key/namespace combination.

[2019-03-15 12:23] aepfli commented on #1805
Nice: I will adapt the code and open the pull request this weekend

[2019-03-15 14:43] mkobit commented on #1786
@marcphilipp I was trying to think around how that would work for other extensions. Aren't `ParameterResolver` extensions one of the "last" callbacks that get invoked? For example, if a `BeforeEachCallback` gets invoked and tried to retrieve from the `ExtensionContext.Store` with the well-known namespace key, wouldn't it see that it isn't in the store? How does ordering/dependent extensions hook i

[2019-03-15 15:15] sbrannen commented on #1786
@mkobit, those are valid questions.

If an extension attempts to look up the temp dir in the `Store` before it has been created (by the internal `TempDirectory` extension), it simply won't be there.

So we probably need to rethink this and provide an on-demand mechanism for acquiring access to the temp dir. One of the potential problems with that is determining what the scope/lifecycle of the temp

[2019-03-15 16:37] marcphilipp commented on #1786
Indeed.

[2019-03-15 20:10] smoyer64 opened #1816 "Add TestSkippedException to black-listed exceptions"
In a DynamicTest it would be nice to be able to programmatically indicate that a test was skipped by throwing the ``TestSkippedException``.  This exception currently causes a test failure but in this case it should be caught and the test execution should be marked as skipped.

[2019-03-15 20:57] sbrannen commented on #1816
What about simply throwing a `TestAbortedException` which is supported for such use cases, and IMO better suited for the actual semantics of what occurs?

[2019-03-15 21:26] smoyer64 commented on #1816
That's what he did in the end ... see gitter for the full transcript.
 After looking at the code I realize that blacklisted isn't really the
correct terminology either.  I would expect that either of those exceptions
were caught by the engine and tallied into the right test result category.
His remaining issue is that the stack trace is shown in intellij.

On Fri, Mar 15, 2019, 16:57 Sam Brannen <

[2019-03-16 09:55] sormuras commented on #1810
"Publish" jobs were executed although "Build+Test" jobs failed?

![image](https://user-images.githubusercontent.com/2319838/54473579-0b53e180-47da-11e9-8861-6ec8334b0609.png)

[2019-03-16 11:45] mannodermaus commented on #1800
Indeed, `OS.LINUX.isCurrentOs()` is `true` when running on an Android device:

[code]

[code]

If we wanted to stay with system property lookups, `java.vm.name` might be another good candidate to detect Android, I suppose. Then again, this would warrant its own ticket and discussion!

[2019-03-16 13:03] marcphilipp opened #1819 "Vintage engine reports intermediate containers as finished before executing dynamic children"
For the demo project below, Vintage reports the `AbcTest` class as finished before starting its dynamic children:

[code]

## Steps to reproduce

run `./gradlew test` with https://github.com/tomekgajdos/tmp-test-lib-a

## Context

 - Used versions (Jupiter/Vintage/Platform): 5.4.0
 - Build Tool/IDE: Gradle

## Deliverables

- [ ] Report intermediate containers as finished lazily, i.e. when a new t

[2019-03-16 13:03] marcphilipp commented on #1819
Originally reported in https://github.com/gradle/gradle/issues/8787

[2019-03-16 13:07] dpreussler commented on #201
@marcphilipp Robolectric is using custom class loader to intercept Android classes and replace them with "shadow" implementations that have basic functionality on JVM. This is needed as lot of classes can't be wrapped as they contain static methods or references that are only their on the Android VMs.
Similar use case I had in a library from the earlier Kotlin days: https://github.com/dpreussler/k

[2019-03-17 07:45] antimpatel commented on #1514
Since junit already provide interface to use for build tools/ IDEs to gather result of each test method /containers , so they can create final test summary in whatever way they want to display.
Similar to this can we provide one more Listener to discovery phase, which will listen events that occurred during discovery phase.
instead of collecting all exclusion reasons  at default launcher we can pa

[2019-03-17 11:12] sormuras opened #1821 "Introduce test report checkpoint support"
Motivation: https://github.com/junit-team/junit5/pull/1768#issuecomment-473538214

Using a proof-of-concept implementation...
![image](https://user-images.githubusercontent.com/2319838/54489542-a2d63480-48ad-11e9-80fa-fb0aabe5aff3.png)

...yields
![image](https://user-images.githubusercontent.com/2319838/54489559-cd27f200-48ad-11e9-85eb-a28218821a97.png)

[2019-03-17 16:55] sbrannen commented on #1800
Agreed. Please open a new ticket if you want to follow up on Android OS detection.

[2019-03-17 17:36] sbrannen commented on #1816
JUnit Jupiter only supports `TestAbortedException` (and as of JUnit Jupiter 5.4, JUnit 4's `AssumptionViolatedException`) for aborting a test _mid-flight_.

Jupiter has conditions (i.e., implementations of `ExecutionCondition`) that handle "skipping" tests _before_ they are executed.

Thus, Jupiter does not have any explicit support for `TestSkippedException`. Consequently, throwing a `TestSkipped

[2019-03-17 17:36] #1816 closed

[2019-03-17 19:00] marcphilipp commented on #1819
Fixed in #1820.

[2019-03-17 19:00] #1819 closed

[2019-03-17 20:59] smoyer64 commented on #1816
Makes sense to me ... as noted in Gitter I'm assuming that the stack-trace is shown by choice by IntelliJ.  Should we copy the Gitter transcript in here for historical purposes?

[2019-03-17 22:15] sbrannen commented on #1816
My comments above are copied (and modified) from Gitter. So feel free to copy yours to here as well.

[2019-03-18 10:36] sbrannen commented on #1821
This is essentially a duplicate of #703, which we declined two years ago.

@sormuras, in https://github.com/junit-team/junit5/issues/703#issuecomment-283982677, you wrote:

What made you change your mind? 😉

[2019-03-18 11:37] sormuras commented on #1821
Nothing.

I consider this new checkpoint feature as a generalization of what is described in #703. Each checkpoint may span `0..n` actual assertions is therefore not 1:1 related to a call to `Assertions.assert...()` or any other assertion library API call.

I'm thinking of an extension to this proposal, that allows you to predefine all expected checkpoints at the beginning of the test method and m

[2019-03-18 17:09] Naros commented on #1816
@sbrannen The ultimate goal is to be able to replicate the existing `@Disabled` behavior that happens for a Jupiter enabled `@Test` method but in my case, a `DynamicNode` I have constructed from a `@TestFactory`.  In those cases, the test is marked as Ignored/Skipped and the output simply states the reason in the `@Disabled` annotation's value attribute; nothing more.

[2019-03-18 18:54] smoyer64 commented on #1816
@sbrannen Re-reading your comments above, I think you've covered the gist of that conversation.

[2019-03-19 06:04] onacit opened #1825 "Consider repeatable @EnabledIfEnvironmentVariableExist"
Apologies, `@IfNotApplicable`.

I faced a problem with my integration test that needs multiple environment variables to run.

[code]

Do we have any chances to get `@EnableIfEnvironmentExist`?

[code]
or
[code]

[2019-03-19 10:43] sbrannen commented on #1825
You can already achieve "exists" behavior by simply matching against anything, like this:

```@EnabledIfEnvironmentVariable(named = "MY_KEY", matches = ".+")```

To enable a test if something does not match, you can use inverse boolean logic with `@DisabledIfEnvironmentVariable(named = "MY_KEY", matches = "does match")`.

As for repeatable annotation support for built-in conditions, that will be a

[2019-03-19 10:43] #1825 closed

[2019-03-19 13:25] marcphilipp opened #1826 "Configure dependency cache on GitHub Actions"
In order to speed up builds on GitHub Actions: https://github.com/marketplace/actions/cache

### Jobs

- [ ] Linux (uses `container: junitteam/build:latest`)
- [ ] Windows
- [ ] Mac OS
- [ ] Coverage (uses `container: junitteam/build:latest`)
- [ ] Publish Snapshot Artifacts
- [ ] Update Snapshot Documentation

[2019-03-19 13:27] marcphilipp commented on #1810
We'll look into caching dependencies in https://github.com/junit-team/junit5/issues/1826.

[2019-03-19 13:27] #1810 closed

[2019-03-19 15:43] mkobit commented on #1786
I've been trying to think of some possible ways for clients to use this, as it seems related to my request at https://github.com/junit-team/junit5/issues/1802.

Maybe there could be a notion of _"extending the `Extension.Store`"_ so that other extensions that request values out of the store can be produced on demand? Everything I think of keeps seeming like the eventuality of dependency injection,

[2019-03-20 03:29] aioobe opened #1827 "Let Assert.fail have an arbitrary return type"
How about letting `Assert.fail(...)` pretend that it returns something of a generic type `T`?

    public static <T> T fail() { ... }

this would be backward compatible in all regards, but also allow for expressions like

    String result = x == 1 ? "one"
                  : y == 2 ? "two"
                  : z == 3 ? "three"
                  : fail();

Refer to this blog post: https://aioo.be/2

[2019-03-20 08:33] marcphilipp commented on #1827
The `Assertions` class in JUnit Jupiter already does that. I'm assuming you're referring to the `Assert` class from JUnit 4. Therefore, I'm closing this issue. Feel free to open an issue in the junit4 repo instead. However, to be honest, it's unlikely that we're going to change it there. In case I misunderstood your request, please let me know.

[2019-03-20 08:33] #1827 closed

[2019-03-20 13:15] aioobe commented on #1827
Look at that. I was looking at JUnit 4 and didn't realize it had been addressed in JUnit 5.
Thanks!

[2019-03-22 11:58] sormuras commented on #1737
https://javadoc.jitpack.io/com/github/sormuras/bach/master-99cefd9f29-1/javadoc/Bach.Action.html
![image](https://user-images.githubusercontent.com/2319838/54821184-b87a9e00-4ca1-11e9-92fe-7349b048a96a.png)

Note: the links point to `5.5-M1` at the moment, but they should point to latest GA version, which is `5.4.1`.

[2019-03-22 11:59] marcphilipp commented on #1788
**Team Decision:** Let's add an `emptyValue` attribute to both `@CsvSource` and `@CsvFileSource`.

@Ciruman Are you interested in submitting a PR?

[2019-03-22 12:15] Ciruman commented on #1788
@marcphilipp yes, I am. I will start next week.

[2019-03-23 06:54] sormuras opened #1830 "Improve documentation for modular testing"
## Overview

Sample module descriptor: `src/test/java/module-info.java`
[code]

[2019-03-24 06:40] yb172 commented on #80
Any updates on this one? Having `assertTimeoutPreemptively(timeout, () -> { ... });` doesn't look like a good solution...

[2019-03-25 06:43] marcphilipp commented on #80
It's on the agenda for 5.5 together with #20.

[2019-03-25 10:18] sormuras opened #1832 "Update API status in User Guide"
## Overview

@fanngrim wrote on Mar 24 20:24 at https://gitter.im/junit-team/junit5

## Deliverables

- [x] Remove outdated warning from Dynamic Tests section: https://github.com/junit-team/junit5/commit/1d9541999b3a38c6aa6c6f45e524753276fdc469
- [x] Verify other sections of the User Guide are in-sync with their annotations
  - [x] Capturing std out/err
  - [x] Parameterized Tests
  - [x] JUnit 4

[2019-03-25 11:22] sormuras commented on #1832
Should we cherry-pick https://github.com/junit-team/junit5/commit/1d9541999b3a38c6aa6c6f45e524753276fdc469 on the 5.4.x branch and update the "current" user guide as well?

[2019-03-25 12:51] sbrannen commented on #1832
Yes, I think that's a good idea.

[2019-03-25 15:03] smoyer64 opened #1833 "Annotate user facing API with @API"
The ``TempDirectory`` extension as well as others in https://github.com/junit-team/junit5/tree/835160321973c08ba03cd5792d6e42b2866aa98f/junit-jupiter-engine/src/main/java/org/junit/jupiter/engine/extension are effectively user APIs and should be annotated with their life-cycle status.

This is an interesting case because these classes are not in the API module, are specific to the Jupiter engine (

[2019-03-25 16:27] marcphilipp commented on #1833
`TempDirectory` is package-private and thus not visible. We don't annotate package-private classes with `@API`. Is there a reason why we should?

[2019-03-25 16:49] sbrannen commented on #1833
In line with the intended and documented usage of `@API`, I don't think we should start documenting non-public APIs.

The team is at liberty to change those as necessary or desired, and the public-facing documentation for the support provided by such implementations should be sufficient.

[2019-03-27 02:49] sambsnyd commented on #80
@yb172 in the meantime, if you're using Gradle 5.0+ you can set [timeouts on your Test tasks](https://docs.gradle.org/5.0/release-notes.html#task-timeouts) to prevent command line/CI builds from hanging indefinitely.

[2019-03-27 07:33] sormuras opened #1835 "Discovery request resolver: apply class (name) filter by default"
The `EngineDiscoveryRequestResolver` introduced in `1.5.0-M1` should apply _class name_ and _class instance_ filter by default.

## Deliverables

- [ ] Find an appropriate way to pass filter predicate(s) when creating a `EngineDiscoveryRequestResolver` builder.

[2019-03-27 08:23] ChristianSchwarz opened #1836 "Regression: Parameterized test written in Kotlin fails after upgrade to v5.4.0"
After upgrading from 5.3.1 to 5.4.0 the following Kotlin test failes.

Note: The Kotlin version (1.3.21) have not been change .

[code]

Fails with Exception:
[code]
<details>
 <summary>Full Stacktrace</summary>

[code]
</details>

[2019-03-27 08:36] sormuras commented on #1836
Thanks for raising this issue. The stack trace points to...

https://github.com/junit-team/junit5/blob/master/junit-jupiter-params/src/main/java/org/junit/jupiter/params/ParameterizedTestNameFormatter.java#L79

...will copy your test into https://github.com/junit-team/junit5/tree/master/junit-jupiter-params/src/test/kotlin to reproduce the error.

[2019-03-27 08:48] sormuras commented on #1836
Mh, I **can't** reproduce it on `master` using Gradle and IDEA. Is it possible that your test run includes multiple versions of `junit-jupiter-params`?

[2019-03-27 09:37] ChristianSchwarz commented on #1836
I think you can't reproduce the issue because my example is wrong. I reduced it too much from my original test).

Can you try it with the following data?

[code]

[2019-03-27 09:56] sormuras commented on #1836
Ah! That changes everything. **Can** reproduce it now.

[2019-03-27 10:20] sormuras commented on #1836
With #1837 applied, it looks better now:

![image](https://user-images.githubusercontent.com/2319838/55068539-63b09c00-5082-11e9-83d9-7f6c12c180ea.png)

[2019-03-27 10:37] sbrannen commented on #80
Good to know. Thanks for sharing!

[2019-03-27 11:16] #1836 closed

[2019-03-27 11:57] ChristianSchwarz commented on #1836
Wow, that was fast! When will your fix land in a stable version?

[2019-03-28 13:40] jonnytest1 opened #1838 "remove or fix rerun failed first"
## Steps to reproduce

run tests that fail
click rerun failed first no change in order

## Context

 - Used versions (Jupiter/Vintage/Platform):
 - Build Tool/IDE: eclipse 2019-03 and previous

## Deliverables

- [ ] ...

[2019-03-28 14:39] marcphilipp commented on #1838
This would be an interesting use case for test ordering which was introduced in JUnit 5.4.

@jonnytest1 Could you please report an issue with Eclipse and link it here?

[2019-03-28 17:36] jonnytest1 commented on #1838
@marcphilipp its not really an eclipse issue though is it ? oO

[2019-03-29 07:01] marcphilipp commented on #1838
Let's say it involves both parties and I'm not sure how Eclipse has implemented it for JUnit 4.

@noopur2507 Do you have time to take a look?

[2019-03-29 08:22] noopur2507 commented on #1838
This was initially discussed in #884. Do we have a corresponding API now where a comparator can be passed?

[2019-03-29 08:46] jonnytest1 commented on #1838
I made a bug report at eclise bugs (I hope this is as imagined ) https://bugs.eclipse.org/bugs/show_bug.cgi?id=545916

[2019-03-29 09:25] noopur2507 commented on #1838
Thanks, I have updated it.

[2019-03-29 09:42] sbrannen commented on #1838
Tentatively slated for 5.5 M2 for _team discussion_

[2019-03-29 10:12] marcphilipp commented on #157
Another iteration that allows to inspect invocation results:

[code]

[2019-03-29 10:31] marcphilipp commented on #157
Updated once again to add support for intercepting dynamic tests and to increase consistency with other `Extension` subinterfaces:

[code]

[2019-03-29 10:51] sbrannen commented on #157
Starting to remind me of AspectJ's [`ProceedingJoinPoint`](https://www.eclipse.org/aspectj/doc/next/runtime-api/org/aspectj/lang/ProceedingJoinPoint.html), with `proceed`, `getArgs`, `getSignature`, `getTarget`, etc. 😉

[2019-03-29 12:05] smoyer64 commented on #1833
Sorry ... I didn't notice those class were packaged scoped.  I guess I assumed that the extensions underlying the ``@TempDir`` annotation were public to allow they're use in custom versions of the extensions.

[2019-03-29 12:05] #1833 closed

[2019-03-29 13:29] tlinkowski commented on #1091
Hi, I don't know if you're still interested in this (`module-info.class` + JDK 8 baseline), but it can be done manually as shown in [my Stack Overflow answer](https://stackoverflow.com/a/55143699/2032415).

I also provided a PR with this feature for https://github.com/java9-modularity/gradle-modules-plugin/pull/73.

Finally, you can find an overview of this in [my recent blog post](https://blog.tl

[2019-03-29 13:39] sbrannen commented on #1833
No worries.

Ahhhh, well... that's another topic: #1786 😉

[2019-03-29 16:02] Ciruman commented on #1788
During the development, I found out that emptyValue in settings another meaning had to the issue I wanted to address.
In CsvParserSettings emptyValue means:
"When reading, if the parser does not read any character from the input, and the input is within quotes, the empty is used instead of an empty string"
[code]
Might be that you understood it like this? If yes, I implemented in the following pul

[2019-03-29 21:17] marcphilipp commented on #157
WIP: https://github.com/junit-team/junit5/compare/issues/157-invocation-interceptor

[2019-04-01 11:22] oboehm commented on #1773
Same problem - in my case I added the following dependency:
[code]
Works for me.

[2019-04-01 12:18] gopinath-langote opened #1841 "PR Codecov report not getting published"
For recent PRs codecov reports are not available.
https://codecov.io/gh/junit-team/junit5/pulls

In the CI pipeline, Codecov `Coverage ` step (Codecov returning 400 for URL.)

[code]

Ex Build: https://dev.azure.com/junit-team/junit5/_build/results?buildId=111

[2019-04-02 07:29] jlink opened #1842 "Provide a way to NOT inherit extensions in nested containers or methods"
Sometimes an extension should not be applied to nested containers, e.g. if the extension wants to open and close a resource just once per annotated container. It seems to me that currently any registered extension will also be applied to its children and I couldn't find a way to switch that off.

The workarounds I can think of require strange things like storing the first context object in order t

[2019-04-02 07:52] sormuras commented on #1842
Test authors should be in full-charge to decide what resource is to be used where. Extension authors should provide means to configure/setup that requirement using the existing model. If the extension model lacks such configuration, we need to improve it.

Said that, I favor a generic and built-in `ResourceSupplier` SPI as layed out here: https://github.com/sormuras/brahms#resource-manager-extensi

[2019-04-02 08:27] jlink commented on #1842
I guess `ResourceSupplier` would solve my problem at hand. I am not sure, though, that the more general problem of deciding where exactly to apply an extension can be solved with it.

[2019-04-02 08:34] sormuras commented on #1842
With extensions comes complexity...

With `ResourceSupplier` you get explicit, type-safe and easy to see resources that you (as a test author) control. No need for an own extension. 3rd-party extensions may use the `ResourceSupplier` SPI to manage resources as well, but should (optionally) pass the control of creating/closing (read managing) to the test author.

[2019-04-02 08:36] sormuras commented on #1842
@testcontainers and other long-living resources are a perfect use-case: https://twitter.com/philipp_hauer/status/1112757852685430785

[2019-04-02 08:53] sbrannen commented on #1842
This is a duplicate of or subtask of #506.

[2019-04-02 09:10] marcphilipp commented on #373
@bitcoder Yes, we still want to define a new schema that supports all Platform features. It's probably not going to make 5.5 but will be our top priority for 5.6.

[2019-04-02 09:12] bitcoder commented on #373
thanks @marcphilipp for the feedback; that means that you will be able to make whatever changes will be necessary on the surefire plugin, if necessary, in order to generate that report?

[2019-04-02 10:46] marcphilipp commented on #373
We'll work with the Surefire team to make it happen.

[2019-04-02 10:48] bitcoder commented on #373
Then, from "Xray Test Management for Jira" team side will make the integration happen ASAP right afterwards :)

[2019-04-02 12:49] sormuras commented on #1091
Started to work on this issue, again. Running into https://github.com/johnrengelman/shadow/issues/425 now.

[2019-04-02 19:39] sormuras commented on #1091
Current `jar` state:

[code]

[2019-04-03 06:26] kamit78 opened #1843 "Need a global extension that run once in test lifecycle"
Right now there is no extension that can be used to run once in the lifecycle of test execution like IExecutionListner in testng which can used to configure or prepare test environment

There should be @GlobalBeforeAllCallback that runs before all and once in test lifecycle

[2019-04-03 06:29] sormuras commented on #1843
You may resort to [`TestExecutionListener`](https://junit.org/junit5/docs/current/api/org/junit/platform/launcher/TestExecutionListener.html) as described here: https://junit.org/junit5/docs/current/user-guide/#launcher-api-listeners-custom

If there was such an extension in Jupiter, you only would wrap the test executed by the Jupiter engine.

[2019-04-03 06:45] sormuras commented on #1091
Working-in-progress branch: https://github.com/junit-team/junit5/compare/issues/1091-explicit-java-module-descriptors -- will create a draft PR soon.

[2019-04-03 07:21] sormuras commented on #1091
[code]
We need to publish `apiguardian` and `opentest4j` as explicit modules as well, methinks.

Or drop `-Xlint` from the `compileModuleJava` task...

[2019-04-03 10:31] kamit78 commented on #1843
Thanks it is working but one other thing that I have noticed is that Launcher execute all classes in a given package instead of define in selectClass() ``

As per below snippet, it should launch test from classes matched with pattern ".*Launcher*" but it is executing test from all classes in PlayGround package

[code]

[2019-04-03 10:47] sbrannen commented on #1843
`selectClass(String)` selects a single class by its fully qualified class name, as per the documentation.

If you want to filter within the selected classes (e.g., those selected within a certain package), you have to provide a filter as demonstrated in the [User Guide](https://junit.org/junit5/docs/current/user-guide/#launcher-api-execution).

[code]

Since it seems you have a solution, I am clos

[2019-04-03 10:47] #1843 closed

[2019-04-03 10:56] kamit78 commented on #1843
Hi,
It is not working as expected....
Actually it runs single class that match pattern not all classes with matched patterns.

[code]

[2019-04-03 11:02] sbrannen commented on #1843
It feels like this is a question that would be better suited to [Stack Overflow](http://stackoverflow.com/). We prefer to use the issue tracker only for bugs and enhancements. Feel free to update this issue with a link to the re-posted question (so that other people can find it) or add some more details if you feel this is a genuine bug.

[2019-04-03 21:43] baev commented on #1773
BTW using Gradle you'll get no warning at all. In our projects we just realised that most important tests are not running for last two weeks

[2019-04-04 10:04] sormuras commented on #1091
Another solution would be @moditect -- see https://github.com/junit-team/junit5/compare/issues/1091-moditect for a spike.

Running into the following errors, though. After invoking `gradlew build` _n_ times, it sometimes works. @gunnarmorling @siordache any idea what's going wrong here? (Already tried to set `requires=""` to avoid the getAutoModuleNameFromInputJar call, to no avail.)
[code]

[2019-04-04 10:40] tlinkowski commented on #1091
@sormuras I don't want to intrude here (or waste your time), but I had a look at `java-library-conventions.gradle.kts`, and I wonder:

Is there a reason for creating an extra source set (`module`) instead of just creating an extra [`JavaCompile`](https://docs.gradle.org/current/dsl/org.gradle.api.tasks.compile.JavaCompile.html) task (and setting its `destinationDir` to [`compileJava.destinationDir

[2019-04-04 10:48] sormuras commented on #1091
You're referring to https://github.com/junit-team/junit5/compare/issues/1091-explicit-java-module-descriptors -- right?

We tried to create the extra source set to be aligned with "common" Gradle-style and also have better IDE support allowing us to set the Java `--release` version to 9 ... and also being able to use `--module-source-path` from `javac`.

[2019-04-04 11:21] tlinkowski commented on #1091
Yes.

Thanks! The IDE support is a very good point, indeed.

Note that by an extra source set I didn't mean an extra directory but an extra Gradle [`SourceSet`](https://docs.gradle.org/current/dsl/org.gradle.api.tasks.SourceSet.html). So you could set `--release` and `--module-source-path` without such a `SourceSet`, too (these options are set for a `JavaCompile` task, not for a `SourceSet` per se

[2019-04-04 12:06] tlinkowski commented on #1091
Good points!
- I forgot to consider how this could affect caching! OTOH, there will never be any overwriting (`module-info.java` and the rest of Java classes are "disjoint"), so perhaps it won't be such a problem? I'll have to consider it closely.
- As to IDE compilation, I use "Delegate IDE build/run actions to gradle". But you're right, you'd need to exclude it in case someone doesn't use this o

[2019-04-04 14:45] siordache commented on #1091
@sormuras It's probably a bug in the moditect-gradle-plugin. The error is caused by the tasks not being executed in the correct order. For example, `:junit-platform-engine:generateModuleInfo` must run after `:junit-platform-commons:jar`, but currently this is not the case.

I will provide a fix soon.

[2019-04-04 14:51] sormuras commented on #1091
@siordache Great news. Looking forward to include it in the `issues/1091-moditect` branch.

[2019-04-04 14:54] sormuras commented on #1091
Meanwhile, I produced another spike using @tlinkowski 's approach. See PR #1844 -- which works _ok-ish_ for the single `org.junit.platform.commons` module.

Let's see which way will prevail... 🥇 🥈 🥉

[2019-04-04 15:07] marcphilipp opened #1845 "Errors in Spock data-provider preparation should be reported by Vintage Engine"
When Spock data-provider preparation fails early, it only calls `RunListener.testFailure` but not `RunListener.testFinished` which causes the Vintage engine to never report the failure. Technically, this violates the `RunListener` interface but due to the established behavior when executing such tests with JUnit 4 in IDEs and build tools, we should provide a handle this case anyway.

## Steps to r

[2019-04-04 15:27] #1845 closed

[2019-04-04 15:49] siordache commented on #1091
@sormuras I just released moditect-gradle-plugin 1.0.0-beta2, which fixes the task execution order. Please give it a try.

[2019-04-04 16:00] sormuras commented on #1091
Looks better. Now, I'm running into:
[code]

https://github.com/moditect/moditect-gradle-plugin/issues/9, methinks.

[2019-04-04 16:09] siordache commented on #1091
Yes. And the root cause is moditect/moditect#70.

[2019-04-04 16:20] sormuras commented on #1091
Mh, I could defer the MR-JAR creation to a very late ... task. When all moditect tasks are finish. Would that help?

[2019-04-04 16:39] siordache commented on #1091
It may help.

But I'm not able to reproduce the MR-JAR error on my machine. I get no error when running `gradlew build` on the 1091-moditect branch. How do you run gradle?

[2019-04-04 16:41] sormuras commented on #1091
`gradlew` from IDEA using `clean spotlessApply build` and `--scan --stacktrace`

[2019-04-04 16:45] sormuras commented on #1091
Branch `issues/1091-moditect` builds locally: https://scans.gradle.com/s/ktuvor6v2xcvs/
Creating a draft PR for it -- thanks @siordache for the quick help!

[2019-04-05 04:29] sormuras commented on #1832
User Guide is in-sync with annotations.

[2019-04-05 04:29] #1832 closed

[2019-04-05 07:07] sormuras commented on #1091
Updated the initial issue description to include all available drafts: four as of now.

Please direct specific comments to appropriate PRs. They are:
- #1593 Modules via using Java 9 as release target (_outdated_)
- #1844 Modules via extra compilation task
- #1846 Modules via @moditect
- #1847 Modules via module source set

[2019-04-05 07:30] tlinkowski commented on #1091
Now you only need the fifth one: "Modules via @java9-modularity (Gradle Modules Plugin)" 🙂

My bet would be on this one, provided you configure your tests to run:
- on classpath only (easier to set up):
[code]
- on both classpath and module-path (harder to set up, but testing is more versatile):
[code]
    and then run Gradle twice:
    1. `./gradlew test` (for module-path testing)
    2. `./gradl

[2019-04-05 07:36] sormuras commented on #1091
You just volunteered to provide no. 5, didn't you? 😄

Our module-path integration tests are stored in the `platform-tooling-support-tests` subproject. So, running all "standard/unit" tests on the class-path is fine.

[2019-04-05 07:58] tlinkowski commented on #1091
I'd actually love to try this, if I only had more time! 🙂

However, it should be rather straightforward, based on no. 2:
1. remove `exclude("module-info.java")` from `compileJava`
2. remove
[code]
    (hmm, this "needed by asm" might be a problem here - if you set `compileJava.targetCompatibility` explicitly, Gradle Modules Plugin will complain :/ )
3. remove `compileModuleInfoJava` task definitio

[2019-04-05 13:57] marcphilipp commented on #1773
@baev That sounds bad! Is there already an issue for Gradle to improve that? If not, could you please create one?

[2019-04-05 14:57] baev commented on #1773
@marcphilipp roger that, sir!

https://github.com/gradle/gradle/issues/8956

[2019-04-05 15:06] sormuras commented on #1773
Wonder if JUnit should check "module" versions at runtime and emit an alert if versions are not aligned...

[2019-04-05 21:00] RomanIovlev commented on #456
Did you plan to introduce before/after test run annotation in JUni5?

[2019-04-06 05:22] sormuras commented on #1091
Added "_#1848 Modules via `src/modules` directory using `javac`_" to the initial issue description.

No. 5 is alive! And it is my absolute favorite draft. It only needs some Gradle-integration love...

[2019-04-06 15:17] marcphilipp commented on #1841
The root cause is that `$(codecovToken)` is not expanded because its value is not being passed to PR builds for security reasons.

@brunoborges Is there a way to integrate Azure Pipelines with Codecov.io? IIRC Travis and Codecov.io were integrated directly without us having to pass a Codecov token.

[2019-04-07 12:10] #1805 closed

[2019-04-07 12:50] brunoborges commented on #1841
I don't see an extension from them in the Marketplace, so I will assume there is no out of the box integration.

https://marketplace.visualstudio.com/search?term=codecov&target=AzureDevOps&category=Azure%20Pipelines&sortBy=Relevance

Hey @ethomson, do you know of anything?

[2019-04-07 13:32] sormuras commented on #1091
- [ ] Include `module-info.class` in https://github.com/ota4j-team/opentest4j/pull/51
- [ ] Include `module-info.class` in https://github.com/apiguardian-team/apiguardian

[2019-04-07 13:54] sbrannen opened #1849 "Introduce support for finding repeatable annotations on repeatable annotations"
## Overview

The current search algorithm for repeatable annotations does not find repeatable annotations if they are used as meta-annotations on other repeatable annotations. However, as a prerequisite for #1793, we need to be able to find such repeatable annotations.

## Deliverables

- [ ] Update the search algorithm in `AnnotationUtils.findRepeatableAnnotations()` to find repeatable annotation

[2019-04-07 13:54] sbrannen commented on #1849
_in progress_

[2019-04-07 14:32] marcphilipp commented on #1836
@ChristianSchwarz I'll release 5.4.2 tonight.

[2019-04-07 14:54] #1849 closed

[2019-04-08 00:55] ethomson commented on #1841
I'm not super familiar with codecov.io, but it _looks_ like it can derive the necessary information from some CI systems for public projects, without needing a token.  Let me see if I can find out how we can give them the necessary information or how they can get it from us...

[2019-04-08 00:55] ethomson commented on #1841
(In the meantime, I think that we'll need to keep providing the token.)

[2019-04-08 09:40] magictractor opened #1850 "Support MethodSource as custom test source in dynamic tests"
## Background

#1467 and #1178 added support for dynamic containers and tests specifying a custom test source via `DynamicNode.getTestSourceUri()`.

These `URI`s can be used to link dynamic tests and containers with a `FileSource`, `DirectorySource` or `ClasspathResourceSource`.

These sources may optionally have an associated line and column number, which is indicated by using a query string in t

[2019-04-08 12:07] marcphilipp commented on #1841
@brunoborges @ethomson Thanks for looking into this! 👍

[2019-04-08 13:30] gilday commented on #1675
Just seeing this now, sorry. Yes, that's definitely clear, thanks for adding the note

[2019-04-08 15:37] DerkSchooltink opened #1851 "Support assertThrows() with suspending functions in Kotlin"
Often when I write a unit test that has to assert that a certain exception is thrown I use the `assertThrows()` method. But I find myself regularly having to test suspending functions, so I have to wrap my function with a `runBlocking()`. This is a lot of repeating code if your entire codebase is heavily based on coroutines.

### Proposed fix

I couldn't possibly have made this issue without also

[2019-04-08 18:23] marcphilipp commented on #1851
Thanks for creating the issue! While I'm not familiar with Kotlin's coroutines and suspending functions, but I can see how that would make sense.

@DerkSchooltink Would you be interested in submitting a PR?

[2019-04-08 18:27] marcphilipp commented on #1850
Thanks for raising the issue. I think that would make sense.

@junit-team/junit-lambda WDYT?

[2019-04-08 18:28] marcphilipp commented on #1850
Tentatively assigned to 5.5 M2 for _team discussion_.

[2019-04-09 19:54] mkobit commented on #1851
Probably related to https://youtrack.jetbrains.com/issue/KT-22228

[2019-04-09 23:24] tcfurrer opened #1855 "Add support for an optional message with assertLinesMatch"
I love assertLinesMatch, but it seems odd that this is the only assertion that doesn't support an associated message.  Please add a version of assertLinesMatch that accepts a third argument for a String message, to be consistent with all other assertion types.  Thanks!

[2019-04-10 05:38] sormuras commented on #1855
Thanks for the feedback and I entatively assigned your request to 5.5 M2 for _team discussion_.

[2019-04-10 06:31] Ciruman opened #1856 "Add nullValue attribute to @CsvSource and @CsvFileSource"
## Description

The idea is when parsing the values, null will be also returned if the value is equals to the string.

I think this parameter name could be nullValue.

Currently:
1;;20.7;6.75;9; 6.25 -> Second Value(not present) is null

In this issue, I would like to address the possibility to set an alternative to "not present/null" values

1;null;20.7;6.75;9; 6.25 here, if nullValue is set to "

[2019-04-10 10:31] sbrannen commented on #1856
Tentatively slated for 5.5 M2 for _team discussion_

[2019-04-10 11:30] Panthro commented on #1386
The issue is happening to me when I change the name of the test.

`@Parameterized.Parameters(name = "{index} - {1} : {0}")`

Then I get:

[code]

If I leave the `@Parameterized.Parameters` without name it works, any idea?

[2019-04-10 12:31] sbrannen commented on #1386
@Panthro, this is the issue tracker for JUnit 5, and your stack trace appears to be unrelated to JUnit 5.

If you wish to raise an issue against JUnit 4, please do that [here](https://github.com/junit-team/junit4/issues).

[2019-04-10 16:33] #1788 closed

[2019-04-11 08:58] Ciruman commented on #1856
I could try to provide a pull request

[2019-04-11 13:33] fredericOfTestfabrik opened #1858 "Parallelism option ignored when using own ForkJoinPool"
I'm using Junit 5.4.1 and am experiencing a weird issue related to parallelism.

I have a set of Tests that I want to execute in parallel. 4 of these tests are tagged with the tag "main". Which I want to execute using maven. However I only want to execute 2 of them at the same time. Thus I configured jUnit 5 as follows:

`junit.jupiter.execution.parallel.enabled=true
junit.jupiter.execution.parall

[2019-04-11 13:38] marcphilipp commented on #1858
Are the 4 tests all in the same test class or different test classes?

Could you please provide a small sample project?

[2019-04-11 14:27] sbrannen commented on #1856
Please await an official "team decision" before investing any time in a PR.

[2019-04-11 14:51] sormuras commented on #1710
@kreinhard found a similar issue using Kotlin here: https://github.com/micromata/projectforge/blob/PROJECTFORGE-3614-ReactJS/projectforge-jax-rs/src/test/kotlin/org/projectforge/rest/json/JsonValidatorTest.kt#L27

It compiles but produces the following at runtime:
[code]

[2019-04-11 15:06] marcphilipp commented on #1710
Sounds like a Kotlin bug...

[2019-04-11 15:06] marcphilipp commented on #1710
@sormuras Please create a new issue. 🙂

[2019-04-11 16:17] sormuras opened #1859 "Overloaded assertions fail for Kotlin"
As described in https://github.com/junit-team/junit5/issues/1710#issuecomment-482147200 the following snippet

[code]

produces an error at runtime:

[code]

Not sure whether this is an issue with Jupiter's overloads or it's bug in Kotlin.

@JLLeitschuh -- any idea?

[2019-04-11 16:20] sormuras commented on #1859
Blind guess: `I` is the `int` primitive generated for `2` and `Ljava/lang/Integer;` is the return type from `Collection::size()`. Right?

[2019-04-11 16:35] fredericOfTestfabrik commented on #1858
Yes all 4 tests are in the same classes.

As I can't share the original testcode I wrote a small sample snippet which tried to reproduce the problem. This is when I found the actual problem. This isn't related to tags but more to concurrency and the meaning of the junit.jupiter.execution.parallel.config.fixed.parallelism parameter. I try  to explain:

`    @Test @Tag("main")
    void done1() throw

[2019-04-11 16:44] sbrannen commented on #1859
I'm not positive, but `org.junit.jupiter.api.Assertions.assertEquals(ILjava/lang/Integer;)V` does not appear to be valid for the description of a method in Java byte code, but perhaps that's coming from something in Kotlin.

Do we have a complete stack trace?

[2019-04-11 16:44] sbrannen commented on #1859
I'm not positive, but `org.junit.jupiter.api.Assertions.assertEquals(ILjava/lang/Integer;)V` does not appear to be valid for the description of a method in Java byte code, but perhaps that's coming from something in Kotlin.

Do we have a complete stack trace?

[2019-04-11 20:59] JLLeitschuh commented on #1859
Any idea what the compiled bytecode for that file actually looks like once compiled? Sounds like possibly a bug in the compiler?

What version of the compiler is being used?

How many overloads for `assertEquals` currently exist?

What version of Junit5 is being used?

[2019-04-12 06:02] kreinhard commented on #1710
Thanx, yesterday I’ve migrated all 179 Testclasses from TestNG to JUnit 5 and all problems disappeared. I guess, that Intellij got into trouble due to multiple test engines: TestNG, JUnit 4 and JUnit 5. There rest half a dozen of JUnit 4 test classes, but they work fine with maven as well as with Intellij now.

BTW: Excellent job, guys! I appreciate JUnit 5.

[2019-04-12 06:08] sormuras commented on #1859
`javac` 1.8 for the "main" code, `kotlinc` 1.3.21 for "test" code ... used via the Maven Plugin here:

https://github.com/micromata/projectforge/blob/PROJECTFORGE-3614-ReactJS/projectforge-jax-rs/pom.xml#L25-L51

Due to SpringBoot being involved, the version of Jupiter is 5.3.2 -- and here are like 30 overloads of `assertEquals`: https://github.com/junit-team/junit5/blob/releases/5.3.x/junit-jupit

[2019-04-12 06:41] sormuras commented on #1859
The following **works** like a charm:

[code]

Perhaps the implementation of [`jsonValidator.getList("actions")`](https://github.com/micromata/projectforge/blob/PROJECTFORGE-3614-ReactJS/projectforge-jax-rs/src/main/kotlin/org/projectforge/rest/json/JsonValidator.kt#L48) (using `Any?` internally in `getElement(path: String)`) erases too much type information? /cc @kreinhard

[2019-04-12 08:42] marcphilipp commented on #1858
The idea behind `ForkJoinPool`'s parallelism setting and by extension also JUnit's is trying to ensure that about _n_ threads are doing work at all times. Thus, if one of the threads is about to be blocked, it spawns an additional one to ensure that work is still being done.

@fredericOfTestfabrik Do your actual tests also start operations that use `ForkJoinPool` in one way or another?

[2019-04-12 10:15] marcphilipp commented on #1859
I think we should definitely get in touch with JetBrains because if it compiles and doesn't find the method at runtime that doesn't right to me.

@sormuras Can you try to create a minimal example and open an issue for Kotlin?

[2019-04-12 10:43] marcphilipp commented on #1856
**Team Decision:** Let's add it.

@Ciruman Feel free to go ahead and submit a PR!

[2019-04-12 10:56] marcphilipp commented on #1855
**Team Decision:** Let's add overloads that take a `String` or `Supplier<String>`.

@tcfurrer Would you be interested in submitting a PR for this?

[2019-04-12 10:57] marcphilipp commented on #1855
@sormuras Or would you like to do this one?

[2019-04-12 11:07] Naresh-Shekkari opened #1860 "while executing the junit4 test in junit5(In migration process) some of the tests are executed bot not showing the output in console."
Please provide us the version of JUnit 5 you are using and, if possible, a failing unit test with your bug report. Don't forget to describe the rationale for this issue (e.g. expected vs. actual behavior).
Junit version : 5.4.1
surefire plugin verions : 2.22.1
Jupiter version 5.4.1
Vintage version 5.4.1
surefire provider version: 1.3.2

## Steps to reproduce
During a migration process from junit 4

[2019-04-12 11:46] sbrannen commented on #1850
**Team Decision**:

Although we do not foresee that many developers would use such a `MethodSource` to _link_ to non-test methods (as in the originally listed use cases), we can imagine that such a feature could be useful for linking to methods used as a method reference and similar use cases. We have therefore decided to go ahead with this proposal modified as follows.

Introduce support for conv

[2019-04-12 11:48] sbrannen commented on #1850
This issue is currently "up for grabs".

[2019-04-12 13:23] JLLeitschuh commented on #1859
@sormuras

Looks like the closest recreation might be something like this:

[code]
Another valid test might be:
[code]

The second one should fail, but not with a `NoSuchMethodError`.

[2019-04-12 13:33] marcphilipp commented on #1860
@Naresh-Shekkari Could you please provide a sample project for us? What does your Surefire configuration look like?

[2019-04-12 14:43] sbrannen commented on #1850
FYI: the implementation of this feature should internally delegate to `org.junit.platform.commons.util.ReflectionUtils.parseFullyQualifiedMethodName(String)` for parsing the FQMN.

[2019-04-12 15:06] fredericOfTestfabrik commented on #1858
First of all thank you for your explanation.

Regarding your Question:

Yes the actual test create fork join pools to let long running operations execute in parallel.

My tests use selenium to test a website. The test code is built in such a way that it can be run in parallel for different browsers. Each test thus runs the selenium code in parallel for 2 different browsers. When I don't use junit5

[2019-04-12 15:06] fredericOfTestfabrik commented on #1858
First of all thank you for your explanation.

Regarding your Question:

Yes the actual test create fork join pools to let long running operations execute in parallel.

My tests use selenium to test a website. The test code is built in such a way that it can be run in parallel for different browsers. Each test thus runs the selenium code in parallel for 2 different browsers. When I don't use junit5

[2019-04-12 16:49] sormuras commented on #1859
Works for me...

[code]

[2019-04-12 16:55] marcphilipp commented on #1859
@sormuras Have you tried with `Any?`?

[2019-04-12 16:56] marcphilipp commented on #1858
Thanks for the explanation! I'll take a closer look in the next few days.

[2019-04-12 16:59] sormuras commented on #1859
`Any` has no `size`.

Tried it with:
[code]
...works, too.

[2019-04-12 17:57] JLLeitschuh commented on #1859
@sormuras Can you upload the compiled `.class` file that the compiler produced?

[2019-04-12 18:05] sormuras commented on #1859
Here you go.

[json.zip](https://github.com/junit-team/junit5/files/3074607/json.zip)

[2019-04-12 18:15] sormuras commented on #1859
No. Don't get more lines, even with `-e` specified.

[2019-04-12 18:48] JLLeitschuh commented on #1859
So, according to IJ, this is what this class decompiles to as Java code:

[code]

The part we are concerned with is:
[code]

[code]

In particular, this line here:
[code]

I'm not all that good at reading Java bytecode, but this looks like the invalid call generated by the compiler.

[2019-04-13 06:08] sormuras commented on #1855
Yes, I do. Unless @tcfurrer has already a PR at hand.

[2019-04-13 10:41] sormuras commented on #1855
Where should the custom message appear? Prepend `(1)` or append `(2)` it to the existing one?

[code]

[2019-04-13 11:09] marcphilipp commented on #1859
@JLLeitschuh Thanks for the detailed analysis! Would you be interested in submitting a bug report to Kotlin?

[2019-04-13 11:13] marcphilipp commented on #1855
I think it should behave like all other assertions and prepend the message (1), possibly calling `AssertionUtils.buildPrefix`.

[2019-04-13 12:37] sbrannen commented on #1838
Related [Stack Overflow question](https://stackoverflow.com/questions/55632208/how-to-set-custom-test-execution-order-for-a-test-suite-in-junit5)

[2019-04-13 12:50] sbrannen commented on #1855
Yes, please be consistent with the rest of the assertion messages.

So, +1 for both of Marc's comments.

[2019-04-13 12:55] sormuras commented on #1855
Alright. Will file a PR later today.

Will also improve the layout of the "difference message". From

[code]

to

[code]

[2019-04-13 13:08] sbrannen commented on #1855
LGTM

[2019-04-13 15:40] sbrannen opened #1862 "Convert methods in TestWatcher API to default methods"
## Overview

Methods in the `TestWatcher` API are currently abstract thereby forcing developers to implement all methods even if all events are not needed by the extension implementing the API.

## Deliverables

- [x] Convert methods in the `TestWatcher` API to default methods.
- [ ] Document in the Release Notes.

[2019-04-13 15:40] sbrannen commented on #1862
_in progress_

[2019-04-13 15:41] sormuras commented on #1862
Covert or convert? ;-)

[2019-04-13 15:53] sbrannen commented on #1862
Ummm.... I'll convert covertly. 😛

[2019-04-13 15:59] #1862 closed

[2019-04-14 13:01] #157 closed

[2019-04-14 13:28] marcphilipp commented on #343
@smoyer64 I've unassigned you and put this issue "up-for-grabs" for someone else to take over.

[2019-04-14 18:52] sormuras opened #1863 "Move PreconditionViolationException to commons base package"
## Overview

Follow-up from #1857

## Deliverables

- [x] Deprecate `PreconditionViolationException` in package `org.junit.platform.commons.util` in favor a new sibling of `JUnitException` in the exported package `org.junit.platform.commons`.

[2019-04-14 21:32] joerg1985 opened #1864 "Introduce TestInstancePreDestroyCallback as counterpart to TestInstancePostProcessor"
## Overview

We use the `TestInstancePostProcessor` to inject handles to external resources. These resources need to be released after the tests is completed.

Depending on the concrete test this might happen after each test method or after the class is completed.

We use the `TestInstance` `Lifecycle` to control the injection of new handles (for each method or for each class) and register to `aft

[2019-04-15 02:30] JLLeitschuh commented on #1859
@marcphilipp Uhhh. I still haven't figured out the root cause. I can certainly submit something though.

[2019-04-15 03:17] #1091 closed

[2019-04-15 03:17] #1216 closed

[2019-04-15 04:15] sormuras commented on #1864
Would it be possible to implement the https://junit.org/junit5/docs/current/api/org/junit/jupiter/api/extension/ExtensionContext.Store.CloseableResource.html interface, pass your resource (or a wrapper object that holds it) to the context store and let store care about calling your close method?

[2019-04-15 04:19] #1855 closed

[2019-04-15 07:45] joerg1985 commented on #1864
@sormuras i had a look into it and the following issues are blocking us from using this approach:
- failures in the cleanup / release of a resource are not related to the original test. The original test is in status "passed", but the cleanup failed.
- all resources are releases at the end of the class, also for Lifecycle.PER_METHOD. Our resources are bound to a limited set of physical devices, sh

[2019-04-15 09:13] sormuras commented on #1863
[code]

Hm...

[2019-04-15 09:30] sormuras commented on #1863
...after deleting the deprecated `PreconditionViolationException` from `org.junit.platform.commons.util`, everything's fine. Breaking (INTERNAL) change incoming?

[2019-04-15 15:35] JLLeitschuh commented on #1859
@sormuras If you can provide the minimal reproducible example of this demo as a project, that would be appreciated.
I don't have the time to create the example, so my current other option is to just point them to the entire project.

[2019-04-15 16:15] sormuras commented on #1859
I tried hard to "deflate" it into a smaller example, to no avail. But I can reproduce it from the linked branch/commit. Maybe it's related to the Maven Plugin setup?

[2019-04-15 16:22] JLLeitschuh commented on #1859
@sormuras, in this Kotlin Slack, Dmitry Savvinov suggested it might be caused by classpath-hell.

https://kotlinlang.slack.com/archives/C7L3JB43G/p1555095135001800

Are you able to reproduce it if you reduce the number of dependencies and extract that one file and its direct dependencies into their own project?

[2019-04-15 16:25] JLLeitschuh commented on #1859
CC: @dsavvinov

[2019-04-15 16:32] dsavvinov commented on #1859
Hi, folks

First of all, let me copy my message to @JLLeitschuh from Kotlinlang Slack:

[code]

That being said, it's absolutely fine to report an issue without minimal repro if you haven't managed to minimize the example; we will try to do it on our own.

[2019-04-15 16:47] marcphilipp commented on #1859
@JLLeitschuh @dsavvinov Thanks for chiming in! 👍

Judging by the comment in https://github.com/junit-team/junit5/issues/1710#issuecomment-482448767 and knowing that it's a Spring boot project "classpath hell" sounds rather likely. I'm therefore closing this issue as the originally reported problem was solved. Feel free to comment or reopen should it appear again.

[2019-04-15 16:47] #1859 closed

[2019-04-15 19:39] marcphilipp commented on #80
_in progress_

[2019-04-16 14:17] Petikoch opened #1865 "Executing pretty small number of dynamic tests (with "large" Executable) results in OutOfMemoryError"
JUnit 5.4.1 (Jupiter)

## Steps to reproduce

Run the following test:

[code]
with e.g. `-Xmx=256m`

After around 22 "DynamicTest" instances you get

[code]

## Context

 - Used versions (Jupiter/Vintage/Platform): Jupiter
 - Build Tool/IDE: IntelliJ 2018.3.6 Community Edition

[2019-04-16 14:19] Petikoch commented on #1865
![Screenshot](https://user-images.githubusercontent.com/9936866/56217334-5a07cc00-6063-11e9-9160-483aa91b6cdc.PNG)

[2019-04-16 14:19] Petikoch commented on #1865
![Screenshot2](https://user-images.githubusercontent.com/9936866/56217406-76a40400-6063-11e9-93be-474282228202.PNG)

[2019-04-16 14:21] Petikoch commented on #1865
I guess this happens because `DynamicTest` keeps a reference to the `Executable`. In our case the  `Executable` is quit large.

[2019-04-16 14:24] Petikoch commented on #1865
Workaround:

[code]

applied:

[code]

[2019-04-16 14:27] sbrannen commented on #1865
Thanks for raising the issue.

We'll look into it.

[2019-04-16 14:27] sbrannen commented on #1865
Tentatively slated for 5.5 M2 for _team discussion_

[2019-04-16 15:38] sbrannen commented on #1865
_in progress_

[2019-04-16 15:38] sbrannen commented on #1865
I already have a local fix that I'll push to `master` soon...

[2019-04-16 16:25] #1865 closed

[2019-04-16 16:27] sbrannen commented on #1865
This has been fixed in `master` in commit 156cd36c07adfe922fdace238bd81e8ae0c698cc and will be available in the next 5.5 snapshot build.

Feel free to try it out once that build has been published.

[2019-04-16 17:35] Petikoch commented on #1865
Excellent, thanks a lot @sbrannen !

[2019-04-16 17:39] sbrannen commented on #1865
You're welcome!

[2019-04-17 12:26] Frontrider commented on #201
@dpreussler I'd be interested in that engine.

[2019-04-17 12:35] sormuras commented on #201
With #157 solved by https://github.com/junit-team/junit5/commit/bb795075870ca1cd988d93fb359a500c72c0e67f ... you might be able to use the `InvocationInterceptor` extension API applied to your use-case. Not?

[2019-04-17 14:18] JLLeitschuh opened #1866 "Add Kotlin contracts to exposed Kotlin API"
## Foreward
First off, I want to thank the Junit 5 team from being so willing to officially support Kotlin as a first-class citizen in the Junit 5 library. It has been absolutely wonderful being able to use my own contributions in all of my Kotlin projects.

## Feature Request

I believe that this API can be further enhanced with the new Kotlin 1.3 feature, [Contracts](https://kotlinlang.org/docs/

[2019-04-18 10:18] gopinath-langote commented on #1850
@sbrannen If no one is picked up this. I would like to pick this issue & submit PR.
Let me know!

[2019-04-18 12:04] sbrannen commented on #1850
@gopinath-langote, you're the first to volunteer. So feel free to submit a PR.

[2019-04-20 06:22] sormuras commented on #1720
Hi @gunnarmorling -- pardon the very late reply. I didn't have the cycles to move our existing and running cyclic dependency check to Deptective. And I don't see much time slot in the near future and tend to revisit this issue/task only if the existing checks fails to work. Therefore, I'll close this issue for now.

[2019-04-20 06:22] #1720 closed

[2019-04-20 06:38] sormuras commented on #1863
...using `-Xlint:-deprecation` a warning like this is shown:

[code]

Not nice either. Which road do we take, @junit-team/junit-lambda?

[2019-04-21 15:00] sbrannen commented on #1863
Did you annotate the new `PreconditionViolationException` class with `@SuppressWarnings("deprecation")`?

[2019-04-22 14:07] JockX commented on #1454
As the work done on #1509 got stalled, I prepared another pull request #1868, that fixes the most outstanding issues, i.e. fulfills the DoD and has no conflicts with master. Appreciate the review.

[2019-04-23 06:00] sormuras commented on #1863
Yes. That helps within the IDE, but `javac` still emits a warning of category `exports`. Adding `exports` to the list of suppressed warning seems to work:

[code]

[2019-04-24 05:21] ekmaughan commented on #1558
My team and I are very anxious to upgrade to JUnit 5, but this has been the hang up for us. May I ask if there are any updates for this? I have noticed that the Rerunner project and Pioneer have yet to implement the ability of stacking a Retry annotation on top of @ParameterizedTests which is key to what we are wanting to accomplish.

[2019-04-25 15:12] Tofel commented on #1555
That code snippet is invalid. As it is, that code is executed after every test class. The correct way is to use root context:

[code]

Anyway, thanks for it. Solved my issue after a bit of digging!

[2019-04-26 14:23] vyarosh commented on #1555
@Tofel I find the statement "invalid" inappropriate to working code. I agree that it's kind of disadvantage that it's executed for each test class, though I did "lazy initialization" ex:
[code]
and I don't care about executing per class anymore

[2019-04-26 15:54] Tofel commented on #1555
@vyarosh don't get me wrong, your snipped helped me to solve the issue, so props for that. But as it is it does not work as expected (executed only 1 after all tests) in case, when you have more than 1 test class. And if you don't have more than 1 test class `afterAll` would the the trick way better.

As I said, thanks for the snippet! I really hope that in jUnit 5.5 we will see a real deal `befor

[2019-04-26 18:16] vyarosh commented on #1555
@Tofel no worries, thank you for reply. I really missed the point that it's executed for class. And yeah surfed really a lot before found working solution and waiting for `before/afterSuite`(fingers-crossed) as well.

[2019-04-29 06:52] #1863 closed

[2019-04-29 14:30] marcphilipp commented on #1558
@ekmaughan Thanks for letting us know that this feature is important for you. I'm afraid I don't have any updates for you at this point. I agree that this would be a useful feature for integration tests that depend on external resources.

@arcuri82 Have you submitted an issue to the Surefire project for this?

[2019-04-29 14:33] marcphilipp commented on #201
@sormuras How so? The test class is already loaded when `InvocationInterceptors` are called, isn't it?

[2019-04-29 14:37] arcuri82 commented on #1558
@marcphilipp Someone else already did: [https://issues.apache.org/jira/browse/SUREFIRE-1584](https://issues.apache.org/jira/browse/SUREFIRE-1584)

[2019-04-30 15:49] dlanaghen commented on #1558
Hey @marcphilipp

One more vote but we would prefer configuration like the surefire rerunFailingTestsCount feature.

We have been using JUnit5 since its experimental days with great success.  We are using it for integration testing of our API and like others, between network issues and platform issues, there is some level of unpredictability which is magnified because we are hitting our api so har

[2019-04-30 16:50] marcphilipp commented on #1558
@dlanaghen Makes sense! We could add a global config parameter for the default.

[2019-05-04 07:51] fredericOfTestfabrik commented on #1858
Is there an update on this? Do you need additional Information?

[2019-05-04 13:02] marcphilipp commented on #1858
@fredericOfTestfabrik I should know better than to make promises like that, sorry! Unfortunately, I haven't had a chance to investigate further, yet.

[2019-05-04 16:46] sbrannen commented on #1793
**Update**: the latest work on this can be seen in the following branch for anyone interested.

https://github.com/junit-team/junit5/commits/issues/1793-repeatable-conditions

[2019-05-04 17:44] sbrannen opened #1869 "Introduce findRepeatableAnnotations(Optional, Class) in AnnotationSupport"
- [ ] Introduce `org.junit.platform.commons.support.AnnotationSupport.findRepeatableAnnotations(Optional<? extends AnnotatedElement>, Class<A>)`

[2019-05-04 17:45] #1869 closed

[2019-05-04 21:34] artsok commented on #1558
Hey @ekmaughan

You can try to use my implementation with support @ParameterizedTests which I did today. As all main parameterized classes have default visibility I need to set mine owns. For that reason, I introduce a new annotation @ParameterizedRepeatedIfExceptionsTest.

Example:

[code]

IDEA Report:
<img width="506" alt="изображение" src="https://user-images.githubusercontent.com/8410018/5718

[2019-05-05 12:38] sbrannen commented on #1793
@junit-team/junit-lambda, I have added the _team discussion_ label in order to discuss the semantics we want for the proposed feature.

Some topics to consider:

- Repeated annotations like `@EnabledIfEnvironmentVariable` and `@EnabledIfSystemProperty` could be supported with `AND` or `OR` semantics but not both simultaneously (at least not with the current approach). Developers could naturally de

[2019-05-05 12:40] sbrannen commented on #1793
[code]

@rocketraman, given the above, are you proposing those checks be treated with `AND` or `OR` semantics?

[2019-05-05 13:25] sormuras commented on #1793
Same same as if you declare
[code]
today.

[2019-05-05 13:42] #1777 closed

[2019-05-05 14:46] rocketraman commented on #1793
@sbrannen I was definitely proposing `OR` semantics for repeatable annotations. I'd like to disable in either situation: if `CI=true`, OR `SKIP_X=true`. As @sormuras says, this is also consistent with the behavior of multiple non-repeated annotations.

[2019-05-05 22:15] mielecmichal opened #1870 "Allow to define parameter source per method argument."
My parametrized test needs to accept two arguments.
[code]
I would like to execute above test for let's say charsets (UTF_8, ISO_8859_1) and 0, 1, 2, 10, 200. Right now the only option is to use ArgumentsSource or MethodSource and write by hand the Cartesian product code.

## Deliverables

Instead we can provide a possibility to define test like this:
[code]
It looks for me it as a very natural us

[2019-05-06 17:04] BlueIce commented on #1870
I think this goes in the same direction as #1427.

[2019-05-09 13:51] snicoll opened #1872 "Consider removing runtime scope on `junit:junit` from the Vintage engine"
The vintage engine currently has a `runtime` scope on JUnit 4. Strictly speaking, I can't argue this is wrong but it has several unpleasant side effects:

* With Maven, adding the vintage engine in `test`scope means that everything that it brings share that scope (`test`) so `junit` is on the test classpath and all is well.
* Gradle, on the other hand, looks at the scope in transitive dependencies

[2019-05-09 14:58] sbrannen commented on #1872
Tentatively slated for 5.5 M2 for _team discussion_

[2019-05-10 12:44] ielatif commented on #1850
@gopinath-langote did you get a chance to work on this? If not, I can pick it up if you don't mind?

[2019-05-11 14:43] juliette-derancourt opened #1875 "Remove parentheses when generating display name with ReplaceUnderscores"
I don't know if this has already been discussed, but I noticed something when I discovered the display name generation (which is a cool feature btw!).

When using `ReplaceUnderscores` as a [DisplayNameGenerator](https://github.com/junit-team/junit5/blob/c4ccb87c6afd33e5a09414dd8bb26728d890a684/junit-jupiter-api/src/main/java/org/junit/jupiter/api/DisplayNameGenerator.java), we can witness the foll

[2019-05-11 15:38] sbrannen commented on #1875
Tentatively slated for 5.5 M2 for _team discussion_

[2019-05-11 15:44] sbrannen commented on #1875
In general, the idea behind it was consistency and simplicity (in terms of the implementation).

But... I suppose the empty parentheses are a bit superfluous for that use case.

Hmmm.... I'd say we should definitely display the parameters if a display name is overloaded.

Unfortunately, a `DisplayNameGenerator` doesn't really have a way to determine if a display name is overloaded (i.e., used mult

[2019-05-11 16:54] juliette-derancourt commented on #1875
Oh yeah you're totally right, I did not think of this case!

About that, I have a (kinda) unrelated question: why display the parameter's type and not its name? Was it a deliberate choice? Because in some cases — mostly with primitives — it doesn't really help understand the role of the parameters...

[2019-05-12 11:33] sbrannen commented on #1875
It was a deliberate choice. The parameter types help to disambiguate between overloaded methods (i.e., methods with the same name). Displaying the names of the parameters would not guarantee that, since two variants of the same overloaded method could be declared with the same parameter names (for different types).

Furthermore, there is no guarantee that JUnit can access the actual parameter name

[2019-05-12 13:42] juliette-derancourt commented on #1875
Hmm I see, that makes complete sense indeed. Thanks for the explanation!

So based on what you said, the only possible improvement would be:

`this_is_a_test()` => `this is a test`
`this_is_a_test_with_arguments(String a, String b)` => `this is a test with arguments (String, String)`

[2019-05-12 14:11] sbrannen commented on #1875
Correct 👍

[2019-05-13 02:34] sormuras commented on #1872
Didn't made up my mind, yet -- but we need to take into account, that JUnit 4 `junit:junit` is the mandated API for the Vintage engine. Additional background regarding `runtime` scope usages in Maven and Gradle by the Jupiter engine: https://sormuras.github.io/blog/2018-12-26-junit-jupiter-aggregator.html#usage-with-gradle-5

[2019-05-13 02:44] sormuras commented on #1872
### Jupiter `pom.xml`  w/o versions
[code]

### Vintage `pom.xml` w/o versions
[code]

I made up my mind. Let's do it as requested by @snicoll.

[2019-05-13 07:36] sormuras opened #1876 "Improve String-based comparison in assertLinesMatch"
Extra new line characters were introduced in https://github.com/junit-team/junit5/pull/1861/files#diff-1d1ebfdfa50596f4e0ecb4039d842b03R167 to improve textual layout of the comparison of non-matching lists of lines on the console. See the changes made to the unit test within the linked commit.

tl;dr
Match two single-line lists, like:
[code]
...yields on the console:
[code]
...but in IDE(a)s the e

[2019-05-13 10:41] ielatif commented on #1872
@sormuras @sbrannen  I would like to pick-up this if it's up-for-graps?

[2019-05-13 10:46] sormuras commented on #1872
It's still scheduled for team discussion, which will happen on Friday.

[2019-05-13 10:55] ielatif commented on #1872
Thanks @sormuras I will watch it :)

[2019-05-13 11:14] sbrannen commented on #1876
This is what it looks in Eclipse running against `master`.

![Screenshot 2019-05-13 at 13 08 39](https://user-images.githubusercontent.com/104798/57617157-660e7d00-7580-11e9-9168-c221fa7bc786.png)

I don't know that it is really disturbing as long as you focus on the differences, but I admit it may make people wonder why there are magically now extra lines.

In summary, I have no problem with reve

[2019-05-13 12:08] sormuras opened #1877 "Missing opens directives in module descriptors"
### Description

Having declared

[code]

or other usages of Jupiter API that internally needs to access _package private_ types yields:

[code]

Module `org.junit.jupiter.api` is declared like follows:
[code]

Exporting _public_ types from all 6 packages doesn't allow deep reflective access to non-public types. Thus, directives like `opens org.junit.jupiter.api.condition to org.junit.platform.com

[2019-05-13 12:57] sbrannen commented on #1870
@mielecmichal, I'm closing this as a duplicate of #1427.

Feel free to comment on #1427 if you think the discussions there do not already cover your use case.

[2019-05-13 12:57] #1870 closed

[2019-05-13 13:49] StefMa opened #1878 "Replace `Path` with `File` in docs for TempDir"
I'm not sure why you use `Path` instead of `File` in your documentation for the `TempDir` feature.
But I think that should be changed to `File` because this is way more common to use instead of `Path`.

[2019-05-13 14:54] sormuras commented on #1878
I'm totally fine with using and documenting `Path` here.

Out of curiosity, do you have any numbers? How much is "way more"? Based on which sample set?

[2019-05-13 15:12] sormuras commented on #1877
Updated initial issue description.

[2019-05-13 16:10] marcphilipp commented on #1878
I agree with @sormuras on this one. Maybe we should switch one of the examples to use `File`?

[2019-05-13 16:11] sbrannen commented on #1878
I see no reason to replace all examples of `Path` with `File`, since `Path` is the more modern API and generally recommended over `File`. Plus, the documentation explicitly states that one can use `Path` or `File`.

The only thing I could imagine us changing is including a separate example using `File` instead of `Path`, but I don't personally see how that would add much value.

[2019-05-13 16:12] sbrannen commented on #1878
Hmmm.... two posts crossed paths in the ether......

[2019-05-13 17:21] StefMa commented on #1878
No, I haven't any numbers 🙃 .
But it based on my experience especially with Junit4. Where we use `newFile()`.
Also - from what I know as an Android Developer - `File` is literally used everywhere when doing something with the file system.

I didn't know that `Path` is more modern than `File`.
But after googling a little bit around it true that `Path` is way younger than `File` 🙃

Maybe I was too o

[2019-05-13 17:21] #1878 closed

[2019-05-13 17:37] sbrannen commented on #1878
No worries. Glad to hear you learned something in the process! 👍

[2019-05-14 02:01] sormuras opened #1879 "Building JUnit 5 on JDK 13-ea fails"
## Description

https://dev.azure.com/junit-team/junit5/_build/results?buildId=238 fails partially.

The underlying reason is that two integration tests in `platform-tooling-support-tests` do fail. Theses two tests try to build the following projects:
- `gradle-missing-engine`
- `gradle-starter`

[code]

Related commit: https://github.com/junit-team/junit5/commit/d611d0e7c8d46746ad9e4ae6acabfc15ca

[2019-05-14 06:50] sormuras commented on #1877
### JUnit 5 - `documentation` as modular test
[code]
- test run module resolution https://gist.github.com/sormuras/9cb94d59805b1435f6e80de2776cf128
- test run tree https://gist.github.com/sormuras/9ce9155988cf2166b0ac28299aa18d48

[code]

[2019-05-14 10:15] sormuras commented on #1481
Just found this https://github.com/graalvm/graaljs/blob/master/docs/user/ScriptEngine.md and https://medium.com/graalvm/oracle-graalvm-announces-support-for-nashorn-migration-c04810d75c1f ... and at first glance it seemed that OpenJDK 11 ships `graal.js` by default. But it doesn't. Does it?

[2019-05-14 11:37] sbrannen commented on #1481
It doesn't appear so, but the truth is in the [build](https://github.com/graalvm/graal-js-jdk11-maven-demo/blob/master/pom.xml).

[2019-05-14 11:46] sormuras commented on #1481
You linked "graal-js" -- we would that to be included into OpenJDK, though: https://github.com/openjdk/jdk/search?q=Graal&type=Commits

[2019-05-14 17:21] drabe8 commented on #1682
We have this need as well. Currently we're using gradle to parallelize our test execution, but it has its own limitations (it's not very smart about how to divide the test classes among multiple threads). Once we have the ability to run multiple test classes in parallel (with all methods in each test class running serially), we can let JUnit parallelize the workload for us!

[2019-05-15 10:43] Tibor17 opened #1880 "Introduce `pleaseStop()` method for `org.junit.platform.launcher.Launcher`"
We would like to send a command to the engine to control the execution and stop the progress of pending tests via the interface `org.junit.platform.launcher.Launcher`.

[2019-05-16 04:12] sormuras opened #1882 "Deprecate "Script-based Conditions" for removal"
Citing our [User Guide](https://junit.org/junit5/docs/current/user-guide/#writing-tests-conditional-execution-scripts)

Additional reasons for removing "Script-based Conditions":
- #1481 -- Nashorn is being deprecated for removal
- https://github.com/sormuras/junit5-class-vs-module-path
- ...
- It was just an experiment.

[2019-05-16 10:45] #1877 closed

[2019-05-17 10:26] marcphilipp commented on #1875
I think omitting parentheses for empty argument lists in the ReplaceUnderscores display name generator as proposed above makes sense.

@juliette-derancourt Would you be interested in submitting a PR?

[2019-05-17 11:10] sormuras commented on #1856
Removing the up-for-grabs tag, as @Ciruman and @Farbauti89 are working on this.

[2019-05-17 12:12] vmassol opened #1884 "Add ability to access the current repetition of a RepeatedTest from afterEach in a custom Extension"
My use case:

* At the end of each test, save a video of the test in a file.
* It has to support the `@RepeatedTest` annotation and thus the computed file name must include the repetition index.

It seems the info is in RepeatedTestInvocationContext but there are 2 issues:

1. I don't know how to get access to that object in my afterEach, i.e. from an ExtensionContext. I guess I could use instance

[2019-05-17 18:36] #1879 closed

[2019-05-18 13:08] juliette-derancourt commented on #1875
@marcphilipp I'd be glad to!

[2019-05-18 19:33] cypris commented on #1558
Thanks @artsok. Looking forward to when you’ve made sure it works parallelized too!

[2019-05-20 11:33] #1875 closed

[2019-05-20 16:11] JLLeitschuh opened #1887 "[Kotlin] Compiler picks assertTimeout(Duration, Executable) over assertTimeout(Duration, ThrowingSupplier<T>)"
## Steps to reproduce

The following does not compile with the Kotlin compiler.

[code]

<img width="413" alt="Screen Shot 2019-05-20 at 12 06 55 PM" src="https://user-images.githubusercontent.com/1323708/58036132-62d33e00-7af8-11e9-989c-079c862aa3d1.png">

## Cause

The Kotlin compiler incorrectly picks the `void assertTimeout(Duration timeout, Executable executable)` over the `<T> T assertTimeou

[2019-05-20 16:20] JLLeitschuh commented on #1887
I believe that these are the required methods to resolve this issue:

[code]

[2019-05-20 17:55] marcphilipp commented on #1887
@JLLeitschuh Looks good to me! Would you be interested in submitting a PR?

[2019-05-20 18:11] marcphilipp commented on #1850
@ielatif Feel free to pick it up, if you're still interested.

[2019-05-20 18:12] marcphilipp commented on #1682
@kelunik Which version are you using?

[2019-05-20 18:18] JLLeitschuh commented on #1887
Yea, I'm working on it currently.

[2019-05-20 21:19] JLLeitschuh commented on #1887
@marcphilipp Any good suggestions for testing these beyond just copy and pasting the existing tests from Java and having them in Kotlin as well?

[2019-05-21 09:50] ielatif commented on #1850
@marcphilipp Yes I still do.

@sbrannen

We can add a new class ex MethodFinder/MethodExtractor in org.junit.jupiter.engine.descriptor to implement the logic of extracting a method from URI `Optional<Method> findMethod(URI uri)`

Or may be reuse org.junit.jupiter.engine.discovery.MethodFinder and add a new method `Optional<Method> findMethod(URI uri)` to it then change it's access level to be acce

[2019-05-21 18:47] marcphilipp commented on #1682
The opposite use case (running test method within a class in parallel but top-level classes sequentially) [just came up on StackOverflow](https://stackoverflow.com/q/56215257/6327046).

We've introduced `junit.jupiter.execution.parallel.mode.default` in 5.4 which can be used to set the default execution mode. If we introduced a new `junit.jupiter.execution.parallel.mode.classes.default` (or simila

[2019-05-22 09:00] marcphilipp opened #1890 "Remove or update translation links in User Guide"
From https://github.com/junit-team/junit5/pull/1198#issuecomment-494631822:

## Deliverables

- [ ] Fix link or remove it

[2019-05-22 09:01] marcphilipp commented on #1890
@sjyuan-cc Please help! 🙂

[2019-05-22 09:36] mrt181 opened #1891 "Error and no ouput when running tests with 5.4.2"
Switched to version `5.4.2` from `5.3.2`

## Steps to reproduce

IntelliJ: Run any tets

`./gradlew cleanTest test`

## Context

 - Used versions (Jupiter/Vintage/Platform):
[code]
also tried:
[code]

 - Build Tool/IDE:
gradle version: `5.4.1`
intellij veriosn: `2019.1.2 (Ultimate Edition) Build #IU-191.7141.44`

## Deliverables
gradle output: not test output

IntelliJ output
[code]

[2019-05-22 10:07] performrumpf opened #1892 "Introduce support to add additional info for TestIdentifiers"
TestExecutionListener is very useful to write custom reports, trace tests or view test plans. Informations like displayname, test source and legacy report name are already very useful for most situations.

But what if those infos from TestIdentifier are not enough? What if for creating reports etc. more informations are needed (i.e. like "usecase_ID", "authors" or "description") even before execut

[2019-05-22 10:09] sormuras commented on #1892
Related to https://github.com/ota4j-team/opentest4j/issues/9

[2019-05-22 10:53] gopinath-langote commented on #1850
@marcphilipp @sbrannen sorry for the late reply.

I did not get time to work on this. Someone else can pick this issue.

I will look for the other one.

Thanks,
Gopinath

[2019-05-22 11:01] ielatif commented on #1850
@gopinath-langote I am on it. Thanks

[2019-05-22 11:54] marcphilipp commented on #1891
Are you using Spring boot?

[2019-05-22 11:57] marcphilipp commented on #1891
If so, this might help: https://stackoverflow.com/questions/54598484/gradle-5-junit-bom-and-spring-boot-incorrect-versions/54605523#54605523

[2019-05-22 12:23] marcphilipp commented on #1850
@gopinath-langote No worries, thanks for letting us know!

[2019-05-22 13:24] kelunik commented on #1682
@marcphilipp I'm using the following versions:

[code]

[2019-05-22 13:34] mrt181 commented on #1891
yes, spring-boot

Adding this to build.gradle fixes the problem
[code]

[2019-05-22 13:34] #1891 closed

[2019-05-22 14:26] marcphilipp commented on #1682
@kelunik Thanks, that explains why you didn't have to set `junit.jupiter.execution.parallel.mode.default=concurrent` which was introduced in 5.4. :wink:

[2019-05-22 20:15] sbrannen commented on #1682
I think it's a good idea to introduce this level of configurability.

[2019-05-23 07:50] #1797 closed

[2019-05-23 09:30] sormuras commented on #1876
@marcphilipp suggested to [only enrich the created failure message](https://github.com/junit-team/junit5/compare/issues/1876-only-add-extra-lines-in-message) with wrapping new line characters and leave the original lists (expected and actual) untouched. That works fine IDEA, and should also in Eclipse and other IDE's that inspect the values of the failure object.

[2019-05-23 12:07] sbrannen commented on #1876
I'm not sure how Eclipse produces the comparison dialog for OTA exceptions.

Though... in the past (i.e., for JUnit 4 assertion failures), I think Eclipse parsed the text of the exception message.

So we'll have to experiment in Eclipse.

@noopur2507, can you provide any insight here?

[2019-05-23 12:20] leonard84 opened #1893 "Provide a public API for creating a MethodSource with a class name, method name, and a Class[] of parameters"
Spock uses AST-Transformations to turn its expressive method names (e.g., "a nice descriptive test name") into "safe" method names in the bytecode `$spock_feature_1_0`.

Due to the issue with Intellij [IDEA-214779](https://youtrack.jetbrains.com/issue/IDEA-214779) we can't use `MethodSource.from(java.lang.reflect.Method)` but have to use the `org.junit.platform.engine.support.descriptor.MethodSour

[2019-05-23 12:30] sbrannen commented on #1893
Thanks for raising the issue.

I'm more in favor of this option.

@junit-team/junit-lambda, thoughts?

[2019-05-23 12:31] sormuras commented on #1893
👍

[2019-05-23 12:47] marcphilipp commented on #1893
+1

[2019-05-23 12:51] sbrannen commented on #1893
OK. It seems we are in agreement.

@leonard84, are you interested in submitting a PR for this?

[2019-05-23 15:53] sormuras commented on #1876
Implemented the suggestion and a bug fix via https://github.com/junit-team/junit5/commit/4fe8b6356178b11c21ee6b3c0dce6268377ced1d -- need to double-check what it looks like in Eclipse. Therefore, I leave the issue open.

[2019-05-23 16:02] sbrannen commented on #1876
I just checked it in Eclipse for `assertLinesMatchFailsWithDescriptiveErrorMessage()` (throwing the error), and here's what it looks like

![Screenshot 2019-05-23 at 18 00 59](https://user-images.githubusercontent.com/104798/58267979-e2753d00-7d84-11e9-8c72-da08a04d0758.png)

So.... all good for Eclipse. 👍

[2019-05-23 16:02] #1876 closed

[2019-05-23 16:04] sormuras commented on #1876
Thanks, Sam!

[2019-05-23 19:06] #1893 closed

[2019-05-23 19:19] #1887 closed

[2019-05-23 20:09] sormuras commented on #990
https://issues.apache.org/jira/projects/SUREFIRE/issues/SUREFIRE-1546 was just closed -- the feature will available in Surefire `3.0.0-M4`, soon.

[2019-05-24 09:32] sormuras opened #1896 "Custom URLClassLoader is not closed"
An instance of [URLClassLoader](https://github.com/junit-team/junit5/blob/master/junit-platform-console/src/main/java/org/junit/platform/console/tasks/ConsoleTestExecutor.java#L81) is created for additional class path entries -- but it is never closed.

## Deliverables

- [ ] Close the instance after usage to free file handles gracefully

[2019-05-24 09:49] wilkinsona commented on #201
This would be useful for Spring Boot's tests where we have a [custom runner](https://github.com/spring-projects/spring-boot/blob/5e62faf7201a8f929c052cab752c41da1b0deb22/spring-boot-project/spring-boot-tools/spring-boot-test-support/src/main/java/org/springframework/boot/testsupport/runner/classpath/ModifiedClassPathRunner.java) that allows tests to be run with a modified class path. I'd be happy

[2019-05-24 10:48] marcphilipp commented on #1793
**Team Decision:**

1. Treat individual annotation declarations as individual execution conditions
1. Don't add support for `@EnabledOnOs` and `@EnabledOnJre` as repeatable annotations

[2019-05-24 10:53] marcphilipp commented on #1682
**Team Decision:** Add `junit.jupiter.execution.parallel.mode.classes.default`

[2019-05-24 11:47] sbrannen commented on #1850
Tentatively slated for 5.5 RC1 since PR #1895 has been submitted.

[2019-05-24 13:39] ielatif commented on #1850
@sbrannen @marcphilipp We should update issue Deliverables to reflect the changes.

[2019-05-24 13:59] sbrannen commented on #1850
Done 👍

[2019-05-24 19:52] sormuras opened #1898 "ConsoleLauncher's class-path scanning sometimes does not work"
## Steps to reproduce

_Working on a minimal non-working example..._

## Context

Starting the `ConsoleLauncher` via reflection and in-process in a layered class loader setup works as expected. Adding multiple drives (on Windows) into the equation results in the class-path scanning no longer finding tests. It is **similar**(!) to the following snippet:
[code]

## Deliverables

- [ ] Investigate un

[2019-05-24 20:03] daggerok opened #1899 "Jupiter doesn't worked in maven project with mixed java + kotlin sources/tests configuration"
Cannot setup maven parent pom with success junit / jupiter test executions in mixed java + kotlin project. I have only Kotlin tests and they are located in src/test/kotlin directory of each submodule, but src/test/java also should be available for java tests in case of  any..

Please help me with some worked example if you have one. Seems like some versions are incompatible, but I just tired searc

[2019-05-25 10:25] Bukama opened #1900 "New annotation "@Requirement""
_On the last JUG I met @sormuras and he motivated me to participate for the first time by presenting a feature-request. So here it is._

**Motivation:**
When we write tests we do this mostly because of two reasons:

1. Avoid technical errors (like NPE)
2. Ensure our code fullfills the defined requirements / avoid functional errors

But as of today (_as far as I know_) the only way to "link" a test

[2019-05-25 11:29] marcphilipp commented on #1899
@daggerok Have you already posted this on StackOverflow? That would likely reduce the time you'll habe to wait for an answer since we maintainers have a lot on our plates already. 😉

[2019-05-25 11:31] marcphilipp commented on #1900
FWIW Spock has an `@Issue` annotation.

@Bukama Have you considered using `@Tag()` instead?

[2019-05-25 16:45] daggerok commented on #1899
Hello @marcphilipp,

Just created [StackOverflow question](https://stackoverflow.com/questions/56306835/pom-xml-maven-configuration-to-run-junit-4-junit-5-jupiter-tests-in-mixed-java) as you suggested

---
Regards,
Maksim

[2019-05-25 19:23] daggerok commented on #1899
Found worked pom.xml maven configuration for mixed java / kotlin project where JUnit 5 Jupiter tests are going to be executed:

[code]

where:

`+` means: tests are going to be executed
`-` means: for some reasons test are not going to be executed...

_pom.xml:_

[code]

worked sample is located [here](https://github.com/daggerok/mixed-kotlin-java-jupiter-tests/tree/junit5)

[code]

[2019-05-25 21:06] #1899 closed

[2019-05-26 11:04] Bukama commented on #1900
Thank you for your response.

According to the [JUnit documentation](https://junit.org/junit5/docs/current/api/org/junit/jupiter/api/Tag.html) `@Tag` exists to only run specific tests. So in this the given context I could use a `@Tag` to only run the tests for a specific requirement - but that's not what I suggested.

Spocks `@Issue` annotation is really what I suggested at least for marking a tes

[2019-05-26 13:59] oohira opened #1901 "@ValueSource explanation in user guide is misleading"
I think the explation of `Null and Empty Sources` section is a little misleading. In the user guide,

* https://junit.org/junit5/docs/current/user-guide/#writing-tests-parameterized-tests-sources-null-and-empty

I think

1. `@ValueSource(strings = {" ", " ", "\t", "\n"})` is typo of `@ValueSource(strings = {" ", "   ", "\t", "\n"})` (NOTE: the 1st argument is 1x space, and the 2nd argument is 3x s

[2019-05-26 15:08] #1901 closed

[2019-05-26 15:09] sbrannen commented on #1901
Thank you for bringing this to our attention.

I have addressed both of these issues in a3d0f53a0bc61cd1695b25465a6114b50535e1ce.

[2019-05-26 16:43] sbrannen commented on #1898
Tentatively labeled as a _bug_

[2019-05-26 22:31] oohira commented on #1901
Thanks for your quick fix!

[2019-05-27 06:26] marcphilipp commented on #1900
I was only looking to Spock for inspiration. You could define your own `@Requirement` annotation for now. We'll look into a new reporting format in #373. I think it might be a good idea to include all (or whitelisted) annotations in there.

[2019-05-27 08:20] #1896 closed

[2019-05-27 08:36] sormuras opened #1902 "Remove "Script-based Conditions" from JUnit Jupiter"
## Overview

Do the second step from "deprecated for removal".

## Deliverables

- [x] Revert the addition of `-deprecation` introduced by https://github.com/junit-team/junit5/pull/1888 in `buildSrc/src/main/kotlin/java-library-conventions.gradle.kts` around line 176.
- [x] Remove `@EnabledIf`/`@DisabledIf` API, documentation and implementation and tests.
- [x] Reset compiler arguments to `"-Xlint

[2019-05-27 11:07] #1882 closed

[2019-05-27 19:45] marcphilipp commented on #1872
@snicoll Thanks for raising this issue! I think the original intention was to signal that users should choose a version of `junit:junit` >= 4.12. While the 4.13 release will come of soonish, we won't upgrade the dependency version in junit-vintage-engine but users can choose a to use the newer version.

Regarding Gradle, you shouldn't add junit-vintage-engine as a `testCompile` dependency, it shou

[2019-05-27 19:50] #1872 closed

[2019-05-27 19:53] marcphilipp commented on #1835
After some internal discussion we've come to the conclusion that applying the class filter by default would add more complexity instead of simplifying things. The main reason for that is that the Jupiter engine does not apply it to nested classes so we'd have to make it configurable etc. Thus, I'm closing this issue for now.

[2019-05-27 19:53] #1835 closed

[2019-05-28 15:57] sormuras commented on #80
_Almost finished..._ Go, Marc, go! 🚴

[2019-05-28 17:53] #80 closed

[2019-05-28 18:28] marcphilipp opened #1903 "Document URI TestSource support of dynamic tests in User Guide"
When URI `TestSource` support for dynamic tests was extended in #1895, we noticed that we don't have any documentation for this feature in the User Guide.

## Deliverables

- [ ] Add a subsection that documents the different supported URI formats with examples

[2019-05-28 18:51] #1850 closed

[2019-05-28 23:00] ielatif commented on #1903
@marcphilipp as discussed in #1895 I will add the documentation for 5.5 GA

[2019-05-28 23:28] obelix74 opened #1904 "Prefer public methods when creating Vintage MethodSource"
I am working on porting a legacy application to JUnit5.  The test framework implements a `TestExecutionListener` which is listening for `executionStarted` and `executionFinished` methods and from the `TestIdentifier`, extract the `TestSource` and find out if it is a `ClassSource` or a `MethodSource` and do some operations based on that (the tests are cached and a TESTSUITES.xml file built at the e

[2019-05-29 08:00] marcphilipp commented on #1903
Great! Feel free to start working on it. If we can get it into 5.5 RC1 that would be even better. 🙂

[2019-05-29 09:43] sbrannen commented on #1904
Thanks for raising the issue and supplying the test case!

I can confirm that this is a bug.

[2019-05-29 11:57] marcphilipp commented on #1904
Ironically, I originally implemented it this way to avoid passing the wrong `TestSource` to the `TestDescriptor` for cases like the following (from our test suite):

https://github.com/junit-team/junit5/blob/5e41ebe612fd67e905f96f1dd3184a071b65be17/junit-vintage-engine/src/test/java/org/junit/vintage/engine/samples/junit4/JUnit4TestCaseWithOverloadedMethod.java#L29-L37

The problem is that the `De

[2019-05-29 12:54] obelix74 commented on #1904
Thank you.  I understand the limitations of Description. I ran into this quite a bit with the way the test framework is designed as well.

I guess the surest fix is to simply port the tests over to JUnit5, but we are talking tens of thousands of tests written over a 15 year period by hundreds of developers :(.

[2019-05-29 13:33] sbrannen commented on #1904
If there is no way to disambiguate otherwise, then yes, I am in favor of applying some sort of "best guess" heuristics.

[2019-05-29 19:43] marcphilipp commented on #358
Inspired by IntelliJ complaining about `ExceptionUtils.throwAsUncheckedException()` maybe returning `null` (a false-positive), I did a little spike in https://github.com/junit-team/junit5/commit/24c843821b1b96a11c1398e9d94adefbda9d49dc. It's a bit tedious, but the improved IDE support is quite nice and we might even save a little code for unnecessary checks on internal code.

@junit-team/junit-lam

[2019-05-29 20:53] jbduncan commented on #358
@marcphilipp By my understanding, `javax.annotation.Nonnull` doesn't work out of the box with JPMS modules because of "split packages" (https://blog.codefx.org/java/jsr-305-java-9/), so I'd personally be inclined to use the Checker Framework's nullability annotations or IntelliJ's (or to create a JUnit 5-internal `@NotNull` annotation). :)

[2019-05-30 08:17] sormuras opened #1906 "Upgrade to JDK 13"
## JDK 13

"JDK 13, the reference implementation of Java 13, is now Generally Available." as of `2019-09-17`.

https://jdk.java.net/13/

-   350: Dynamic CDS Archives
-   351: ZGC: Uncommit Unused Memory
-   353: Reimplement the Legacy Socket API
-   354: Switch Expressions (Preview)
-   355: Text Blocks (Preview)

## Deliverables

- [ ] Upgrade to JDK 13 as the minimum to build "JUnit 5"
- [ ] ~~

[2019-05-30 12:07] smoyer64 commented on #358
@jbduncan commented on the difference between JSR-305 static analysis and the Checker Framework in https://github.com/junit-team/junit5/pull/961#issuecomment-316518668.  If an internal ``@NotNull`` annotation is created, why not make is a plug-in for either error-prone or the Checker Framework?

[2019-05-30 14:49] marcphilipp commented on #358
@smoyer64 Could you please elaborate on that "plug-in" option?

[2019-05-30 15:02] smoyer64 commented on #358
Both the Checker Framework and Error-Prone allow you to write custom ``checks`` - https://checkerframework.org/manual/#creating-a-checker and https://github.com/google/error-prone/wiki/Writing-a-check respectively.  If you want to do something custom to JUnit 5 with your annotation, you could plug it into one of the two systems.

[2019-05-30 18:14] Bukama commented on #1900
Thank you. I am preparing my workarea so this should be ready before I go to hospital in a few days. When back home I'll try to start working - which will be slow as I never had worked with gradle and kotlin (aside from the feature relevated things like annotation processor). But there will always be new challenges :)

[2019-05-30 21:33] mkobit opened #1907 "`junit-testkit` usability feedback"
Thanks for providing the `junit-testkit` module, it has made testing extensions more straightforward and supported. I have been documenting some of my usability concerns with it while it is still in the experimental phase. These can most likely be split into multiple issues to decide what to do, but I thought I would put them here in aggregate to see how the team and other users feel about them.

[2019-05-31 07:50] anatoliy-balakirev commented on #13
Hi. @sbrannen thanks for adding this to Junit!
We are currently using Spring Cloud Contract in conjunction with Junit 5 and would like to start using Wiremock's scenarios there. However, it looks like SCC team is waiting for this functionality to move out of `EXPERIMENTAL` status, so I wonder if you have an idea on when it might happen? Is there some way to track this? What is the process in gener

[2019-05-31 10:27] rimal commented on #1093
@sormuras by when will the status for `@ParameterizedTest` be promoted?

[2019-05-31 16:57] philwebb opened #1908 "Relax RegisterExtension field type restriction"
Due to the checks in [ExtensionUtils.IsNonStaticExtensionField](https://github.com/junit-team/junit5/blob/463a838002b1603853e8e5cb528d4a9ade9a22d7/junit-jupiter-engine/src/main/java/org/junit/jupiter/engine/descriptor/ExtensionUtils.java#L140) and [ExtensionUtils.IsStaticExtensionField](https://github.com/junit-team/junit5/blob/463a838002b1603853e8e5cb528d4a9ade9a22d7/junit-jupiter-engine/src/main

[2019-06-01 09:15] SergiiNik commented on #456
hi All!

Instead of @BeforeSute I used like this:

Add to your Base abstract class (I mean abstract class where you initialize your driver in *setUpDriver()* method) this part of code:

    private static boolean started = false;
    static{
        if (!started) {
            started = true;
            try {
                setUpDriver();  //method where you initialize your driver
            }

[2019-06-01 10:28] marcphilipp opened #1909 "Improve error reporting for exceptions thrown by test engines"
Mixed versions on the classpath often cause test discovery or execution to fail. Currently, the Launcher only logs an error message in such cases which is easy to miss. Instead, it should report it as a failed test descriptor so that the IDE or build tool can handle and report it like a failed test.

## Deliverables

- [ ] Report exceptions thrown by test engines by reporting the engine descriptor

[2019-06-01 10:57] jbduncan commented on #456
@SergiiNik Nice suggestion! However AFAICT, it only works when running tests one after another (which is the default behaviour) instead of in parallel.

By my understanding, when running in parallel, the code `setUpDriver()` may get called multiple times before `started = true` becomes visible to all threads running the tests, so the double-checked locking pattern with a `Lock` may be needed in th

[2019-06-01 11:07] jbduncan commented on #456
...or even better, the [Initialization-on-demand holder idiom](https://en.m.wikipedia.org/wiki/Initialization-on-demand_holder_idiom).

[2019-06-01 11:10] jbduncan commented on #456
...although, I think the holder idiom only works if `setUpDriver()` returns something... 🤔

[2019-06-01 13:22] sbrannen commented on #1908
Sounds legit to me.

I'll see what I can do.

[2019-06-01 13:22] sbrannen commented on #1908
_in progress_: investigating options

[2019-06-02 13:49] szpak opened #1911 "Convenient way to use static Java methods in @Enabled*/@Disabled*"
## Idea

I would like to be able to easily use the logic placed in my static Java methods to determine if a given test(s) should be executed or not.

## Rationale

In some cases it is convenient to delegate the logic in conditional test execution to custom Java code. A real life usage - determine if strong cryptography is available in JDK to [disable all related tests](https://github.com/4finance/

[2019-06-02 15:33] iherasymenko commented on #1911
@szpak

You may implement your own [_ExecutionCondition_ ](https://junit.org/junit5/docs/current/api/org/junit/jupiter/api/extension/ExecutionCondition.html) placing all the necessary logic in there and registering it using [_@ExtendWith_](https://junit.org/junit5/docs/current/api/org/junit/jupiter/api/extension/ExtendWith.html)

You may also create a meta annotation like [this](https://junit.org/

[2019-06-03 06:36] #1908 closed

[2019-06-03 08:04] sbrannen opened #1912 "Improve diagnostics for private @RegisterExtension fields"
## Overview

Currently, if a `@RegisterExtension` field is declared as `private`, JUnit Jupiter silently ignores it. Consequently, it can be difficult for a user to determine why the extension "is not working".

Since the mere presence of `@RegisterExtension` should signal that the user intended for an extension to be registered (see #1908), improper configuration should result in an error instead

[2019-06-03 08:13] sbrannen commented on #1908
Thanks for raising the issue, @philwebb, and for helping to improve JUnit Jupiter!

This has also inspired improved diagnostics for `private` `@RegisterExtension` fields (see #1912).

[2019-06-03 08:15] #1912 closed

[2019-06-03 10:20] Legionivo commented on #456
Hello, we have our own almost similar with @SergiiNik solution and it works perfect in parallel, we use the following Junit parameters:
junit.jupiter.execution.parallel.enabled=true
junit.jupiter.execution.parallel.mode.default=concurrent
junit.jupiter.testinstance.lifecycle.default=per_class
See my gist:
https://gist.github.com/Legionivo/23313f5998284e25af9a4eb6570a6360

[2019-06-03 11:38] wilkinsona commented on #1731
I just found this issue while trying to learn why `@TempDir` isn't permitted on a test class's constructor. FWIW, I share @arend-von-reinersdorff's confusion around constructor parameter injection and would welcome them being test method scoped in the future.

[2019-06-03 12:32] sbrannen commented on #13
You're very welcome.

Do you have a link to an issue for that?

In general, we flag new APIs as experimental for their initial release and then wait a few minor releases to see if the community raises any issues with the API or implementation.

This particular feature was released in JUnit Jupiter 5.4, and 5.5 is currently being worked on. There have been a few improvements to the implementation s

[2019-06-03 14:03] chrisvest opened #1913 "Introduce API to select and execute individual tests in inherited nested classes"
Such an API is necessary for tools to be able to run individual tests, when such tests are defined in a nested class of a (possibly abstract) super-class of the test class. See:

* https://youtrack.jetbrains.com/issue/IDEA-195373
* https://youtrack.jetbrains.com/issue/IDEA-215440

## Deliverables

I won't pretend to know how this should be done. Perhaps @akozlova has ideas.

[2019-06-04 06:51] IRus opened #1914 "Support test methods with Kotlin suspend modifier"
## Goals

Support running suspend test in JUnit Jupiter:

[code]

Currently, such test can be written this way:

[code]

Also, will be nice to provide `CoroutineScope` through params, or as receiver in extension:

[code]
1 and 2 actually the same on bytecode level. `suspend` is optional.

And finally, support for `runBlockingTest`:

[code]

## What can be done currently

`ParameterResolver` can be

[2019-06-04 06:56] sormuras commented on #1914
Related to #1851

[2019-06-04 13:43] anatoliy-balakirev commented on #13
Ok, thanks for info!

Here is the link: https://github.com/spring-cloud/spring-cloud-contract/issues/887

[2019-06-04 19:04] sbrannen commented on #1913
It's already possible to execute such individual tests via their unique ID.

For example, if I right-click on the test method from the linked IDEA issue, Eclipse properly executes the test method by selecting its unique ID:

`[engine:junit-jupiter]/[class:org.example.FirstConcreteTest]/[nested-class:NestedTests]/[method:myTest()]`

In other words, that works in Eclipse and should be supported in I

[2019-06-04 19:09] sbrannen commented on #1913
I forgot to mention that I had to move `FirstConcreteTest` to its own source file to make the above selection by unique ID work in Eclipse.

I imagine that's just an issue with Eclipse and not with JUnit itself, but I honestly didn't investigate that further.

[2019-06-04 19:26] sormuras commented on #1858
Created https://github.com/sormuras/junit5-1858-fixed-parallelism to investigate this issue.

Some notes:
- I could verify the described behaviour - spawning a custom ForkJoinPool inside a test enables other tests to be executed in parallel, exceeding the configured fixed maximum value.
- Using a dead-simple `Thread.sleep(long)` to _simulate_ a long duration test execution works out perfectly.
- *

[2019-06-04 20:51] akozlova commented on #1913
How does Eclipse compose this unique id? My request was to have a dedicated discovery selector for this case indeed

[2019-06-05 06:35] sormuras commented on #1858
Changed the title to reflect that the underlying issue doesn't need tags or Maven to show up.

[2019-06-05 06:42] sormuras commented on #1858
Using an `ExecutorService service = Executors.newFixedThreadPool(4);` within a test method works as expected.

Seems like multiple `ForkJoinPool` instances steal work from each other...

Does anybody know a way to prevent this? By tagging/marking tasks as belonging to a specific pool only?

[2019-06-05 06:56] sormuras commented on #1858
Using `Stream#parallel()` seems **not** to mess with `ForkJoinPool`, though...

[2019-06-05 07:35] sbrannen commented on #1913
Sorry. I misspoke. What I meant to say was:

If I execute the test class and then **right-click on the test method entry in the test results UI to re-run it**, Eclipse properly executes the test method by selecting its unique ID that it obtained from the `TestIdentifier`.

OK. Thanks for confirming that.

[2019-06-05 07:38] sbrannen commented on #1913
We would actually need to ensure that the selector supports arbitrary levels of nested test classes. So we'd probably need to accept a varags array or list for the nested classes.

[2019-06-05 07:38] sbrannen commented on #1913
Tentatively slated for the 5.6 backlog

[2019-06-05 08:00] sormuras commented on #1858
### work-around

Using custom [strategy](https://github.com/sormuras/junit5-1858-fixed-parallelism/blob/master/src/test/java/CustomStrategy.java) that also fixes the maximum (and core?) pool size to same value as the `parallelism` option, solves the issue described here.

[2019-06-05 11:33] marcphilipp commented on #1858
IIRC the problem with that is that the `ForkJoinPool` sometimes spawns additional threads to reach the target parallelism level, e.g. when one is about to be blocked (see [`ManagedBlocker`](https://docs.oracle.com/javase/8/docs/api/java/util/concurrent/ForkJoinPool.ManagedBlocker.html)).

[2019-06-05 17:48] #1682 closed

[2019-06-05 17:51] marcphilipp opened #1917 "Improve documentation for execution mode configuration parameters"
See discussion in https://github.com/junit-team/junit5/pull/1910#discussion_r289649137

## Deliverables

- [x] Add chart/ascii art illustrations for all combinations

[2019-06-05 17:55] marcphilipp commented on #1904
I think as a first step preferring public methods would make sense and add support for this use case so I'll add that.

[2019-06-05 18:24] #1904 closed

[2019-06-05 18:58] marcphilipp commented on #1858
@fredericOfTestfabrik Please give the workaround posted by @sormuras above a try and let us know if that works for you.

[2019-06-06 06:22] t1 opened #1919 "Provide a MethodOrderer that uses the order in the source file"
The `MethodOrderer` implementation `OrderAnnotation` uses an `@Order` annotation to allow sorting the execution order of tests (which is generally a smell, but sometimes necessary). But that means another annotation for every test method. It would be nicer to simply use the order of the methods in the source. As this information is not provided by the Java reflection API, we'd have to parse the cl

[2019-06-06 06:25] t1 commented on #1919
Scanning class files might take some time, but as ordering test execution is generally only useful for integration tests, it should be negligible, shouldn't it?

[2019-06-06 07:01] sormuras commented on #1911
Although I favor the idea of having explicit `ExecutionCondition` implementations doing the job -- I also like the idea of supporting convenient ways to achieve the same job. That was the underlying motivation to implement script-based execution conditions in the first place.

There's prior-art: [MethodSource](https://junit.org/junit5/docs/current/api/org/junit/jupiter/params/provider/MethodSource

[2019-06-06 07:13] sbrannen commented on #1919
Thanks for raising the issue.

I actually already had the same idea, though I was considering using ASM to read the byte code, in which case we would _shadow_ the ASM dependency.

I've tentatively slated this for the 5.6 backlog for team discussion.

In any case, feel free to submit a PR with your handcrafted byte code reader if you like.

[2019-06-06 07:16] sormuras commented on #1919
Wouldn't we have to upgrade the shadowed ASM version every 6 month to be able to scan the latest binaries produced by the latest JDK? /cc @forax

[2019-06-06 07:18] sbrannen commented on #1919
Mmmm.... yes, that is a potential downside of depending on an external framework, especially with the new JDK release cadence.

So, if we can use something handcrafted (that works reliably), that would naturally be a better fit.

[2019-06-06 07:52] t1 commented on #1919
The heuristic I used had the downside that it was confused by fields with the same name as a method, but this should rarely be an issue, shouldn't it?

I will start to work on a first PR.

[2019-06-06 08:54] sbrannen commented on #1454
Resolved in 2844ee40948b9ae14bc7426ad73c3400dbfff3a5

[2019-06-06 08:54] #1454 closed

[2019-06-06 12:16] stolle opened #1920 "Introduce assertions for java.util.Optional"
It would be convenient to have some type safe shortcuts to test the content of an Optional for its presence and value. This has been discussed a few times like: https://stackoverflow.com/questions/38954742/assert-that-optional-has-certain-value

The following Assertions methods shall explain, what I have in mind:

[code]

[2019-06-06 12:18] sormuras commented on #1920
Interesting idea.

`assertPresent()` could also return the object contained in the optional instance...

[2019-06-06 12:20] stolle commented on #1920
Yep, definitely. This would look like:

    public static <T> T assertPresent(final Optional<T> optional) {
        assertNotNull(optional);
        assertTrue(optional.isPresent());
        return optional.get();
    }

[2019-06-06 12:32] stolle commented on #1920
And there should be methods for OptionalLong, OptionalInt and OptionalDouble as well.

[2019-06-06 13:27] sbrannen commented on #1919
I honestly don't know. It's hard to make a call on something like that, and we should try to avoid such shortcomings if possible.

OK. Thanks.

[2019-06-06 13:33] sbrannen commented on #1920
To be perfectly honest, I'm not convinced that we should be adding additional categories of assertions to JUnit Jupiter.

Third-party frameworks like AssertJ already provide excellent support for `java.util.Optional`.

@junit-team/junit-lambda, thoughts?

[2019-06-07 06:49] marcphilipp commented on #1920
I agree.

[2019-06-07 06:50] sormuras commented on #1920
Convinced.

[2019-06-07 10:28] marcphilipp commented on #1890
The Japanese translation is still available but outdated (based on 5.2.0).

@tsukakei Do you have plans to update that?

[2019-06-07 10:48] sbrannen commented on #1920
**Team Decision**: we will not introduce dedicated assertions for `Optional`, and we encourage developers to use third-party assertion frameworks when greater power and/or expressiveness is desired.

Quoting from the [User Guide](https://junit.org/junit5/docs/current/user-guide/#writing-tests-assertions-third-party):

[2019-06-07 10:48] #1920 closed

[2019-06-07 12:50] t1 commented on #1919
Just created a draft PR.

Who is supposed to check the DoD? All but the user guide and release notes should be done.

[2019-06-07 12:59] t1 commented on #1919
Just added to the user guide. I can add to the release notes as soon as it's scheduled.

[2019-06-07 14:34] sbrannen commented on #1919
Thanks. We'll check it out.

You can check off what you think you have accomplished, and we'll review the points before merging if we choose to accept the PR.

[2019-06-07 15:33] forax commented on #1919
It will be a PITA to maintain such feature because the order in the .class file is different from the order in the source code.

As far as i know, javac, ecj, kotlinc, clojure do not provide such guarantee,
worst, the bytecode can be transformed by an agent at runtime, and most agents tend remove methods and add new ones at the end because it's more efficient than changing the bytecode of a method

[2019-06-07 16:31] sbrannen commented on #1919
Well, the byte code typically contains the line numbers (unless the code was explicitly compiled with the flag to turn that off).

So, for example, if we were to look up the value of `[pc: 0, line: ???]` under `Line numbers:` in the byte code for each method, the `???` would be the actual line number from the source code, and we could then sort based on that value.

And that should be reliable --

[2019-06-07 19:15] t1 commented on #1919
AFAIK there is no guarantee, but it actually does work. The scrambling of the method order happens at runtime in the Class class. And even if the heuristic is broken in a future version of Java, it would be possible to fully parse the bytecode.

[2019-06-10 04:58] tsukakei commented on #1890
Hi @marcphilipp
Thank you for asking!
We're sorry to say that we don't have plans to update that...

[2019-06-10 06:40] sbrannen commented on #1890
@tsukakei, thanks for letting us know.

Since we have not heard back from @sjyuan-cc either, we will remove both links for the time being.

[2019-06-10 06:42] #1890 closed

[2019-06-11 10:04] sbrannen opened #1923 "Use nohttp plugin in Gradle build"
## Deliverables

- [ ] Use the [nohttp](https://github.com/spring-io/nohttp) plugin in the JUnit 5 Gradle build.

[2019-06-11 10:04] sbrannen commented on #1923
Tentatively slated for 5.5 GA

[2019-06-12 09:59] ihorppp opened #1924 "Support first/last order for extensions registered via @RegisterExtension"
## Question

Would it be possible to have `@Order` annotation take priority over reverse execution order of `AfterEachCallback` extensions?

## Overview

Assume I want extension annotated with `@Order(1)` executed first:

[code]

However per extension execution order the result is currently:

[code]

To have first extension executed first I have to annotate each and every extension (including supe

[2019-06-12 11:16] sbrannen commented on #1924
Tentatively slated for 5.6 M1 for _team discussion_

[2019-06-12 11:36] sbrannen commented on #1924
Brainstorming:

- Something like JUnit 4's `RuleChain` (discussed with @sormuras) -- though that requires potentially copying a lot of the internal logic of the `JupiterTestEngine`.
- Something like `@javax.annotation.Priority` combined with `@Order`.

[2019-06-12 11:42] sormuras commented on #1924
Um, doesn't Jupiter already support this feature?

https://junit.org/junit5/docs/current/user-guide/#extensions-registration-programmatic

[2019-06-12 11:46] ihorppp commented on #1924
Yes, it works with extensions whose execution order is not reversed. However to make AfterEachCallback extension executed first all others should also be annotated with `@Order`.

[2019-06-12 11:47] sormuras commented on #1924
Meaning, all not annotated one are executed last in the "before" phase and also last in the "after" phase?

[2019-06-12 12:03] ihorppp commented on #1924
In the "after" phase all **not** annotated extensions are executed **before** the annotated ones. Setting extension `@Order(1)`  in the "after" phase makes extension execute **last** instead of being **first**. So there is no way to make an "after" phase extension be executed first, without annotating all others "after" extension with `@Order`.

[2019-06-12 12:14] dmitry-timofeev opened #1925 "RegisterExtension + Nested tests cause ParameterResolutionException"
## Overview

If an extension, implementing ParameterResolver, is registered with `RegisterExtension` in a class with `Nested` test classes, parallel execution of tests from this class results in `ParameterResolutionException`s.

## Steps to reproduce

The minimal example with instructions to reproduce is in a separate repo: https://github.com/dmitry-timofeev/junit-paramresolver-bug

Quick links to

[2019-06-12 12:19] sbrannen commented on #1924
Brainstorming # 2:

- Use `Integer.MAX_VALUE - 1` as the default order. Then `Integer.MAX_VALUE` could be declared by users to signal the very last order, which would be the first order when reversed.
- Otherwise, I think using `@Priority` would be a viable alternative.

[2019-06-12 12:20] sbrannen commented on #1925
Tentatively slated for 5.6 M1 for _team discussion_

[2019-06-12 12:22] sbrannen commented on #1925
What happens if you annotate the top-level test class with `@TestInstance(PER_CLASS)`?

[2019-06-12 12:42] dmitry-timofeev commented on #1925
It will suppress the parallel execution, and all tests will be run in the same thread and pass. If I also add `@Execution(ExecutionMode.CONCURRENT)`, they also pass.

[2019-06-12 12:44] dmitry-timofeev commented on #1925
The extension instance in both cases will be, predictably, the same:

[code]

[2019-06-12 19:42] steinarb opened #1927 "Code coverage percentage dropped drastically with junit-platform 1.4.0"
When I switched to junit-runner 1.4.0 code coverage dropped from around 92% to 6%
 https://github.com/steinarb/authservice/#status-of-the-project

The drop in coverage happened on both coveralls and sonar.

I've used git bisect and found that the change happens with this commit (switching from version 1.1.0 to 1.4.0 of junit-runner):
https://github.com/steinarb/authservice/commit/664ac362e29193824

[2019-06-13 05:13] jbduncan commented on #1927
Hi @steinarb, welcome to JUnit 5. :)

I can't speak for the JUnit 5 team, but it's not clear to me what "junit-runner" is, and I can't seem to find it in your project using GitHub's search function. Would you kindly clarify on this?

[2019-06-13 05:17] sormuras commented on #1927
The latter should read: `1.5.2`

[2019-06-13 06:48] gabriel-ntuc opened #1928 "Setting default display name generator throws exception"
## Steps to reproduce

1. Clone or set up JUnit 5 project (I used the official junit5-samples/junit5-jupiter-starter-gradle but I have been able to reliably reproduce this across different projects)
2. Create `src/test/resources/junit-platform.properties` with following setting:
[code]

## Context

 - Used versions (Jupiter/Vintage/Platform): Jupiter 5.5.0-RC1
 - Build Tool/IDE: Intellij IDEA 2019

[2019-06-13 06:56] sormuras commented on #1928
Use `$` to separate a static nested class from a top-level class:

`org.junit.jupiter.api.DisplayNameGenerator$ReplaceUnderscores`

[2019-06-13 06:58] gabriel-ntuc commented on #1928
@sormuras Thanks that worked. I suggest that the documentation be updated as well because the example that is documented does not use the dollar sign.

[2019-06-13 07:03] sormuras commented on #1928
Good catch!

Will update https://junit.org/junit5/docs/snapshot/user-guide/#writing-tests-display-name-generator-default soon.

[2019-06-13 07:14] #1928 closed

[2019-06-13 08:19] steinarb commented on #1927
@jbduncan Sorry! Mental short circuit on my side, when reading the maven dependencies.

I meant junit-platform, i.e. junit-platform-launcher and junit-platform-runner (that's probably where the "runner" bit came from):
 https://github.com/steinarb/authservice/blob/master/pom.xml#L85

[2019-06-13 08:23] sormuras commented on #1927
https://github.com/steinarb/authservice/blob/master/pom.xml#L91-L96

Looks suspicious. Surefire (2.22.2 or try 3.0.0-M3) works without `junit-platform-runner`. It's purpose is getting "JUnit 5" started where it isn't supported natively, yet.

[2019-06-13 10:58] ihorppp commented on #1924
Thank you. The first option works, event though it's not very convenient to annotate all extensions with `@Order`.
However, to my shame, I haven't figured out how to use `@Priority` with `@Order`. Would you mind giving the example?

[2019-06-13 15:19] sbrannen commented on #1924
My point was that, if we made that change, users would no longer have to declare `@Order` on all extension fields.

We do not yet support `@Priority`. The "brainstorming" is about things that we could decide to do.

[2019-06-13 18:13] jlink commented on #1722
I'm not sure how useful such a feature can be.

As far as I remember most Jupiter extensions are tightly coupled to Jupiter's lifecycle. Some lifecycle stuff will be more or less present in all/most other test engines but other stuff won't. That means that some extensions will work, others won't work and some will partially work. As a user you can never rely on anything.

What could probably be ma

[2019-06-13 19:51] steinarb commented on #1927
I've removed that dependency,
 https://github.com/steinarb/authservice/commit/001ce0982b6cb8471784f2de5c4f5831946f544f
but coverage is still low, unfortunately
 https://github.com/steinarb/authservice#status-of-the-project
both on sonar (6.3%)
 https://sonarcloud.io/dashboard?id=no.priv.bang.authservice%3Aauthservice
and on coveralls (5%)
 https://coveralls.io/github/steinarb/authservice

[2019-06-14 06:59] casid commented on #964
The [parallel test execution feature](https://junit.org/junit5/docs/snapshot/user-guide/#writing-tests-parallel-execution) is exactly what I needed. This is an amazing and truly elegant solution!

For my use case this worked perfectly:

Create junit-platform.properties in src/test/resources:

[code]

Add `@Execution(ExecutionMode.SAME_THREAD)` to classes where methods cannot be run in parallel.

T

[2019-06-14 06:59] #964 closed

[2019-06-14 07:09] fredericOfTestfabrik commented on #1858
Sorry i was busy the last 2 weeks.

I gave the solution a try but unfortunately it did not work with the code I posted above.

I copied the strategy @sormuras posted, set the config.strategy to custom and set the custom.class to the Strategy class. Additionally, i set all configuration options inside the strategy to 1. Thus my expectation was that only 1 tests would start at all, as the test effec

[2019-06-14 07:38] sbrannen commented on #964
@casid, thanks for letting us know.

We are very glad to hear your excitement about the parallel test execution support.

[2019-06-14 11:40] jodastephen opened #1929 "Implicit conversion of complete set of java.time types"
[Implicit conversion](https://junit.org/junit5/docs/current/user-guide/#writing-tests-parameterized-tests-argument-conversion-implicit) is supported for most `java.time.*` types. However, there are some missing ones:

* `Period`
* `Duration`
* `MonthDay`
* `ZoneId`
* `ZoneOffset`

Please can the set of implicit conversion types be extended to support these additional types.

[2019-06-14 11:54] jodastephen opened #1930 "Extend fallback argument conversion"
The [fallback approach to argument conversion](https://junit.org/junit5/docs/current/user-guide/#writing-tests-parameterized-tests-argument-conversion-implicit-fallback) is a good one, however I'd like to see it extended in two ways:

Firstly, it only considers methods that accept `String`, whereas there are cases where the factory method accepts `CharSequence`. Notably, this includes `java.time.*

[2019-06-14 12:00] sbrannen commented on #1929
Yes, I think that sounds feasible.

Would you like to submit a PR?

[2019-06-14 12:02] sbrannen commented on #1930
Supporting `CharSequence` sounds feasible on its own.

Would you like to submit a PR for that?

[2019-06-14 12:03] sbrannen commented on #1930
Regarding support for any annotation named `@FromString`, I think that should be discussed amongst the team.

[2019-06-14 13:28] sormuras commented on #1930
What `@StringConsumingDeserializer`? :wink: https://cr.openjdk.java.net/~briangoetz/amber/serialization.html

[2019-06-14 14:09] jodastephen commented on #1930
The `@Deserializer` concept is different though - it converts the *constituent parts* of the object into the whole object. `@FromString` takes the whole object as a *formalized string* and converts that to an object. As per [VALJOs](https://blog.joda.org/2014/03/valjos-value-java-objects.html), this is suitable for those types where each state of the class can be represented as a unique string, an

[2019-06-14 14:12] sormuras commented on #1930
Aye. Understood.

The initial name used in my comment was `@StringConsumingDeserializer`. Shouldn't have changed it.

[2019-06-14 18:50] sbrannen commented on #1929
Tentatively slated for 5.5 GA due to PR #1931.

[2019-06-14 22:35] koretzki commented on #964
does it work with recent version of Maven Surefire/ Failsafe plugins ?
based on Maven docs here
https://maven.apache.org/surefire/maven-failsafe-plugin/examples/junit-platform.html
the presence of JUnit 5 tests triggers a test runner called "JUnit 5 Platform Engine"
which does not support running tests in parallel.
I tried to with the issue a number of times, even forcing a runner Junit47 to run.

[2019-06-15 02:38] sormuras commented on #964
@koretzki It does work with Maven Surefire/Failsafe.

Consult the [User Guide](https://junit.org/junit5/docs/current/user-guide/#writing-tests-parallel-execution) how to a) enable parallel execution in **Jupiter** and b) how to [configure Maven Surefire](https://junit.org/junit5/docs/current/user-guide/#running-tests-build-maven-config-params).

The Maven documentation states _"Running Tests in Pa

[2019-06-15 06:26] Tibor17 commented on #964
@koretzki
If you want to run the JUnit5 in Maven Surefire you have to add engine in dependencies, see https://maven.apache.org/surefire/maven-surefire-plugin/examples/junit-platform.html
In the next coming version `3.0.0-M4` adding the `jupiter-api` would be enough.

You can use the latest version `3.0.0-M3` of Surefire with parallel execution and the tests will be executed but the statistics in t

[2019-06-15 12:02] sbrannen opened #1932 "Introduce getOrDefault() in ExtensionContext.Store"
## Overview

The `ExtensionContext.Store` currently provides convenience methods such as `getOrComputeIfAbsent(...)` for getting a value or storing one if no such value is currently present in the store; however, there is no such convenience method for when you do _not_ want to store the value.

For example, if you are storing a `Boolean` value in the `Store` under a given `key`, an attempt to ret

[2019-06-15 12:04] sbrannen commented on #1932
I tend to prefer `getOrElse()` as the name of this new method, but I'm OK with `getOrDefault()` if the rest of the team prefers that.

[2019-06-15 12:04] sbrannen commented on #1932
Tentatively slated for 5.5 GA for _team discussion_.

In my opinion, this can be included in GA even though it's technically a new feature.

[2019-06-15 12:18] sbrannen commented on #1932
For example, I crafted mine own local implementation as follows.

[code]

[2019-06-15 12:54] sbrannen commented on #1932
Inspired by my demo [SkipOnFailuresInEnclosingClassExtension](https://github.com/sbrannen/junit5-demo/blob/master/src/main/java/extensions/SkipOnFailuresInEnclosingClassExtension.java).

[2019-06-15 13:36] sbrannen commented on #1932
_in progress_

[2019-06-15 14:37] sbrannen commented on #1932
PR submitted for review: #1933.

[2019-06-15 18:23] sormuras opened #1934 "Extend JRE enum to support Java 14"
## Related Issues

- #1656

## Deliverables

Perform the following for Java 14.

- [ ] Extend `JRE` enum with the new `JAVA_N` constant, with `N` being the latest feature version number.
- [ ] Update `EnabledOnJreIntegrationTests`, `DisabledOnJreIntegrationTests`, `EnabledOnJreConditionTests`, and `DisabledOnJreConditionTests` accordingly.
- [ ] Test against JDK `N`.

[2019-06-15 18:23] sormuras commented on #1934
_in progress..._

[2019-06-15 18:50] sbrannen opened #1935 "Prune Release Notes for 5.5"
## Overview

_Prune_ the release notes like we have done previously (see ef576cafe55e62e69a0cca8940e342c64f6d8ee5).

## Deliverables

- [x] ~Document #1929 in the Release Notes.~ done in 9cf05a36d624535628ea31183f90d7e6eca95772
- [x] ~Document #1932 in the Release Notes.~ done in 9cf05a36d624535628ea31183f90d7e6eca95772
- [x] ~Document #1934 in the Release Notes.~ done in 9cf05a36d624535628ea31183

[2019-06-15 18:55] #1932 closed

[2019-06-15 19:05] #1929 closed

[2019-06-15 19:27] sbrannen commented on #1934
Will be addressed in #1935.

[2019-06-16 02:01] sormuras commented on #1934
Groovy-
[code]
... and Mockito-based tests...
[code]
...failed to compile/run on JDK 14. JDK 11, 12 and 13 are okay.

[2019-06-16 02:05] #1934 closed

[2019-06-16 02:11] sormuras opened #1936 "Build JUnit 5 using JDK 14"
Follow-up from #1934

## Deliverables

- [x] Upgrade to Gradle/Groovy version that supports JDK 14
- [x] Upgrade to Mockito version that supports JDK 14
- [ ] Add Azure build for JDK 14

[2019-06-16 11:57] sbrannen commented on #1923
_in progress_

[2019-06-16 12:05] sbrannen commented on #1923
After the first run of `./gradlew nohttp`, we see that we have quite a few HTTP URLs.

[code]

Time to clean up!

[2019-06-16 13:52] sbrannen commented on #1923
OK... some of the aforementioned URLs were false positives due to some old stuff _lying around_ in my local clone of the repository. So it's not as bad as it first appeared. 😉

[2019-06-16 13:55] #1923 closed

[2019-06-18 11:40] JLLeitschuh commented on #1923
@sbrannen Thanks for taking my article seriously and running with this. I'm really thrilled that you and your team are on top of this!

[2019-06-18 11:57] sbrannen commented on #1923
Thanks for inspiring the industry to take steps in the right direction regarding HTTPS!

[2019-06-19 14:36] marcphilipp commented on #1927
You're using Surefire 2.20:
https://scans.gradle.com/s/ba73pce34mrz6/plugins?expanded=WzE4OF0#sg7w5bi4g3tjg

You need at least 2.22.

This PR should fix the issue: https://github.com/steinarb/authservice/pull/3

[2019-06-19 14:36] #1927 closed

[2019-06-19 14:40] marcphilipp commented on #1093
@rimal Not in 5.5, but very likely in 5.6.

[2019-06-19 14:41] marcphilipp commented on #1519
We plan to address this as part of #373.

[2019-06-19 14:41] #1519 closed

[2019-06-19 20:50] #1925 closed

[2019-06-19 20:53] marcphilipp commented on #1925
@dmitry-timofeev Thanks for reporting this bug! Looks like this bug was around since we introduced `@RegisterExtension`.

[2019-06-20 07:36] dmitry-timofeev commented on #1925
@marcphilipp Thank you very much for the fix!

[2019-06-20 08:30] #1903 closed

[2019-06-20 09:07] marcphilipp commented on #1917
[WIP diagram](https://mermaidjs.github.io/mermaid-live-editor/#/edit/eyJjb2RlIjoiZ2FudHRcbiAgICBkYXRlRm9ybWF0ICBZWVlZLU1NLUREXG5cbiAgICBzZWN0aW9uIChzYW1lX3RocmVhZCwgc2FtZV90aHJlYWQpXG4gICAgQS50ZXN0MSgpIDphc3MxLCAyMDE5LTAxLTAxLCAxZFxuICAgIEEudGVzdDIoKSA6YXNzMiwgYWZ0ZXIgYXNzMSwgMWRcbiAgICBCLnRlc3QxKCkgOmJzczEsIGFmdGVyIGFzczIsIDFkXG4gICAgQi50ZXN0MigpIDpic3MyLCBhZnRlciBic3MxLCAxZFxuXG4gICAgc2VjdGlvbiA

[2019-06-20 10:26] marcphilipp commented on #1907
@mkobit Thanks for providing such detailed feedback! We'll take a closer look once 5.5 is released.

[2019-06-20 10:33] marcphilipp commented on #1884
I agree that this would be useful. 👍

[2019-06-20 11:58] marcphilipp commented on #1761
FWIW you can specify a `URI` like `method:org.junit.Foo#bar(java.lang.String, java.lang.String[])` and pass it to `dynamicTest​(String displayName, URI testSourceUri, Executable executable)` as the second argument to link the dynamic test to the executed method and get navigation support in the IDE.

[2019-06-20 12:27] sbrannen commented on #1761
And... we literally just documented that feature ([URI Test Sources for Dynamic Tests](https://junit.org/junit5/docs/5.5.0-RC2/user-guide/#writing-tests-dynamic-tests-uri-test-source)) *today*: https://github.com/junit-team/junit5/commit/947291ef757e897a36a57d01c4a7027d4f034ccd 😉

[2019-06-20 12:41] sormuras commented on #1761
Blogged about it here https://sormuras.github.io/blog/2018-09-05-junit-5.3-dynamic-test-source

[2019-06-20 17:29] jbduncan commented on #1907
One advantage of decoupling the testkit from AssertJ for me is that I could continue to just use [Truth](https://truth.dev/), which is my assertion of library of choice and what I'm using in https://github.com/jbduncan/jupiter-collection-testers. :)

[2019-06-21 20:50] wkorando commented on #1805
Should the logging level be set to a higher priority (INFO maybe?)? CONFIG doesn't print by default with the Java util logger, which means the seed value that might had exposed a problem in the test suite and/or underlying application will likely not had been printed to console.

[2019-06-25 06:39] sbrannen commented on #1805
@wkorando, feel free to raise a new issue regarding the log level, and we'll do our best to discuss it before release 5.5 GA.

[2019-06-25 15:09] wkorando opened #1937 "Increase log level for when Random prints out default seed value"
As a part of #1805 when no seed value is configured a default one is generated and printed to the console. However that message is currently set to config level which isn't printed by default. It seems this could frequently lead to issues where a generated seed causes a test to fail, but the seed isn't printed to console, because Java util log wasn't configured to print out config messages.

Shoul

[2019-06-25 15:18] sbrannen commented on #1937
Tentatively slated for 5.5 GA for _team discussion_

[2019-06-26 09:49] sbrannen commented on #378
@mmichaelis, this answer I posted on StackOverflow shows how to parameterize tests from Spring beans: https://stackoverflow.com/a/56769619/388980

If you go that route, you have proper test lifecycle method support for each parameterized test invocation.

[2019-06-27 07:23] AlvaHenrik opened #1938 "Regression in 5.5.0-RC2? ParameterResolutionException"
I'm using JUnit 5 together with jmockit-1.46.

When I use JUnit 5.5.0-M1 then my unit tests work properly, but when I use 5.5.0-RC2 then I get a `ParameterResolutionException` for parameters injected into tests with `@Mocked`.

Please guide me how to provide more useful information if needed.

[2019-06-27 08:06] sormuras commented on #1938
@AlvaHenrik thanks for rising this issue.

Any stacktrace, any minimal project to reproduce that issue would help us to find the cause faster.

[2019-06-27 08:47] AlvaHenrik commented on #1938
[code]
And this is my pom.xml:
`<?xml version="1.0" encoding="UTF-8"?>
<project xmlns="http://maven.apache.org/POM/4.0.0"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://maven.apache.org/POM/4.0.0 http://maven.apache.org/xsd/maven-4.0.0.xsd">
    <modelVersion>4.0.0</modelVersion>
    <groupId>com.example</groupId>
    <artifactId>junit-test</arti

[2019-06-27 08:56] sbrannen commented on #1938
Tentatively slated for 5.5 GA for _team discussion_ and investigation

[2019-06-27 08:58] sbrannen commented on #1938
@AlvaHenrik, thanks for providing the example.

We'll look into it.

[2019-06-27 09:42] sbrannen commented on #1938
There were in fact changes to the internals of the Jupiter `TestEngine` from 5.5 RC1 to RC2, but the JUnit 5 team is at liberty to make such changes.

The regression therefore lies with JMockit, and I have raised https://github.com/jmockit/jmockit1/issues/619 so that the JMockit team can address it.

[2019-06-27 09:42] #1938 closed

[2019-06-27 19:11] sormuras opened #1939 "Run `jdeps --check` on all modules"
## Description

Running `jdeps [...] --check org.junit.platform.commons` yields:

[code]

### Analysis

- Directives actually compiled into the the module descriptor (`[Module descriptor]`) do match those listed below `[Suggested module descriptor for <module>]`.
- Directives listed below `[Transitive reduced graph for <module>]` ignored here, as we should favor the explicite declaration of all re

[2019-06-28 11:05] sbrannen commented on #1937
**Team Decision**: print the default seed using the `INFO` log level.

[2019-06-28 11:05] sbrannen commented on #1937
_in progress_

[2019-06-28 11:12] #1937 closed

[2019-06-28 15:27] sormuras commented on #1761
https://twitter.com/jodastephen/status/1144615554579406848

[2019-06-28 18:33] marcphilipp commented on #1761
Since Jupiter methods don't have to be public, I'm not sure we should make it an official sample extension.

[2019-06-28 20:47] sbrannen commented on #1761
Although it's certainly handy if a project enforces that all testable methods are public and likewise that test classes otherwise contain no other public methods, I agree with Marc that it is likely not generally applicable enough to warrant using it as an official example.

For example, even if you switch to `getMethods()` instead of `getDeclaredMethods()` and filter out static methods and lifecy

[2019-06-29 09:43] sbrannen commented on #1935
_in progress_

[2019-06-29 10:19] #1917 closed

[2019-06-30 09:38] #1935 closed

[2019-06-30 16:06] sormuras commented on #1724
Today I stumbled over the same problems. Thanks for creating a demo project @ferstl!
I'll a) push an integration test showing the issue b) tackle the underlying missing feature/enhancement after 5.5 GA is released.

[2019-07-01 08:32] joerg1985 commented on #1864
Would a pull request with this TestInstanceFinalizer feature in principle be accept?
I didn't try to implement it so far, but i would like to give it a chance.

Best regards
Jörg

[2019-07-01 08:38] sormuras commented on #1902
_in progress..._

[2019-07-01 09:54] sbrannen commented on #1864
Since the team has not yet decided to support such an extension API, a PR would not be appropriate at the moment.

However, I'm going to slate this for _team discussion_ for 5.6 since we have received similar requests for a `Store` bound to the current test instance for other use cases.

[2019-07-02 14:09] wkorando opened #1942 "Default MethodOrderer.Random seed is printed even when a custom seed is provided"
Version: JUnit 5.5.0

When MethodOrderer.Random is used a message is printed displaying the default seed that was generated. This is useful when attempting to recreate a build if an issue was discovered, however if a seed has been provided this message should not be printed as it could be confusing as to which seed was used when executing tests in random order.

## Deliverables

- [ ] Default seed

[2019-07-03 06:59] sbrannen commented on #1942
Tentatively slated for 5.6 M1 for _team discussion_

[2019-07-03 07:28] geraldo-netto opened #1943 "Feature request: Allow Abstract parameter resolver"
Dear Friends,

May I suggest to allow the parameter resolver class to be abstract?

Here is my scenario:
I have a single parameter resolver for the whole project (200+ integration tests)
But a few days ago, I was required to add a 'follow redirect' parameter on jersey
but just for one very specific class of integration tests

The thing is that parameter resolver is shared among all integration tes

[2019-07-03 07:41] sbrannen commented on #1943
Hi @geraldo-netto,

Thanks for reaching out to us with your proposal.

Since JUnit Jupiter must use the standard reflection APIs in Java to instantiate any extension registered via `@ExtendWith`, such classes simply must be concrete (i.e., not `abstract`).

In light of that, I am closing this issue.

You can, however, introduce your own abstract base class that implements `ParameterResolver` and o

[2019-07-03 07:41] #1943 closed

[2019-07-03 08:13] nielsbasjes opened #1944 "Unsupported or missing version of JUnit 4 should fail the build"
I'm using junit and vintage from the bom 5.5.0 in a Maven based project.
https://github.com/nielsbasjes/yauaa

In this project I have created a udf for Apache Pig.
In the pig dependency for this udf I also get junit 4.11.

The consequence of this older version of junit is that I get this perfectly fine stack trace during my build:

[code]
and later on
[code]

The bug I'm reporting is that I think

[2019-07-03 08:23] sbrannen commented on #1944
Tentatively slated for 5.6 M1 for _team discussion_

[2019-07-03 10:17] marcphilipp commented on #1944
Related to #242.

[2019-07-03 11:51] #1902 closed

[2019-07-03 17:27] philwebb opened #1945 "Support fallback parameter resolution extension"
Spring Framework would like to be able to resolve parameters from its `ApplicationContext` so that users can easily create tests that inject beans. We'd also like to allow any existing `ParameterResover` instances to take precedent so that Spring only attempts to resolve parameters that have not been otherwise claimed.

i.e., given something like this:

[code]

We'd like to allow the `MockitoExten

[2019-07-03 19:46] jflefebvre06 opened #1946 "@ParameterizedTest Thread count"
could you please add a way to configure the number  of threads running @ParameterizedTest like testng dataproviderthreadcount

[2019-07-03 20:57] arcuri82 opened #1947 "Make MAX_STACKTRACE_LINES in MutableTestExecutionSummary configurable"
Hi,

running tests programmatically with a

[code]

where I register a `SummaryGeneratingListener`. Unfortunately, the failure messages are of limited use, as `MutableTestExecutionSummary.MAX_STACKTRACE_LINES` is a constant set to the low value of 10. It would be good if such value could be configurable in `SummaryGeneratingListener`, or at least provide a higher default (e.g., 30 or 50).

This is

[2019-07-04 08:11] jflefebvre06 opened #1948 "Introduce @TestClassOrder for ordering test classes in JUnit Jupiter"
Like `@TestMethodOrder`, could you please introduce a `@TestClassOrder` annotation to define the execution order of test classes?

[2019-07-04 08:51] marcphilipp commented on #1946
@jflefebvre06 What's your use case for such a setting?

[2019-07-04 09:56] jflefebvre06 commented on #1946
There are mutiple uses case , exemple :
 - low value for test consuming a lot of memory
 - hight value for slow tests

[2019-07-05 10:00] sbrannen commented on #1947
Tentatively slated for 5.6 M1 for _team discussion_

[2019-07-05 10:01] sbrannen commented on #1945
Tentatively slated for 5.6 M1 for _team discussion_

[2019-07-05 10:51] marcphilipp commented on #1947
**Team Decision:** Add an overload for `TestExecutionSummary .printFailuresTo(PrintWriter writer, int maxStackTraceLines)`.

@arcuri82 Would you be interested in submitting a PR?

[2019-07-05 10:54] marcphilipp commented on #1944
**Team Decision:** We agree that this should fail during test execution. 🙂

[2019-07-05 11:02] arcuri82 commented on #1947
yes, a PR should be relative easy to do

[2019-07-05 11:18] marcphilipp commented on #1864
Naming proposals from our team call:

- `TestInstanceFinalizer`
- `TestInstanceCleaner`
- `TestInstanceDestructor`
- `TestInstanceCloser`
- `TestInstancePreDestroyCallback`
- `TestInstanceEraser`
- `TestInstanceCleanupCallback`
- `JustBeforeAfterTestInstanceCallback`

Now we just need to decide on one of those or sth. better...

@joerg1985 Alternative proposals welcome!

[2019-07-05 11:26] sbrannen commented on #1945
@philwebb, thanks for raising the issue.

Are you envisioning that as a marker interface?

[2019-07-05 11:27] sbrannen commented on #1947
Great! Looking forward to it. 👍

[2019-07-05 11:52] sbrannen commented on #1942
**Team Brainstorming Results**: the team discussed this issue and decided that the proposal is reasonable; however, the team did not come up with an immediate solution.

It turns out that this proposal is much more difficult to implement than one might initially assume. For example, a `MethodOrderer` does not have access to a shared data store such as the `ExtensionContext.Store`, which makes it a

[2019-07-05 12:16] sbrannen commented on #1942
If it were possible to save a new configuration parameter at runtime, we could refactor the implementation similar to the following.

[code]

The above code stores the "tracked seed" as a JVM system property merely for demonstration purposes. If we could save a configuration parameter for the current test plan execution, we could replace the above use of `System.getProperty` and `System.setPropert

[2019-07-08 09:00] dlapunas commented on #1884
This would be very useful for us, since we use a custom extension with log4j to separate test logs into different files.
Current workaround:
[code]

[2019-07-08 16:41] sormuras commented on #1936
@mockito 3.0.0 now supports JDK 14, correct @raphw?

[2019-07-08 17:50] joerg1985 commented on #1864
@marcphilipp I my mind the TestInstancePostProcessor and the new class should be named as a common pair of words (like get/set, add/remove, start/stop, ...), because of their logical relation.
But this seems to be not possible due to the naming of the TestInstancePostProcessor or is it possible to rename the existing class? If this would be possible i would prefere to rename TestInstancePostProces

[2019-07-08 18:40] raphw commented on #1936
No, not yet. It really is only possible once ASM supports it properly where ASM is still in beta but I am currently working on a release with experimental support (`-Dnet.bytebuddy.experimental=true`) which should come out today (*1.9.14*).

[2019-07-08 19:46] raphw commented on #1936
The new Byte Buddy version is released now, you can include it manually and set the experimental option and it should work.

[2019-07-09 11:28] joel-costigliola opened #1950 "Improve method names for event filtering in the EngineTestKit API"
## Overview

The `EngineTestKit` API could be more readable by renaming `EngineExecutionResults` methods to show they are dealing with events. This was discussed in this [comment](https://github.com/joel-costigliola/assertj-core/issues/1418#issuecomment-509002192).

The methods rename suggested are:

- EngineExecutionResults.all() to `allEvents`
- EngineExecutionResults.tests() to `testEvents`
- E

[2019-07-09 11:55] sbrannen commented on #1950
Thanks for raising the issue.

We'll look into this for 5.6.

[2019-07-09 13:05] #1950 closed

[2019-07-09 13:05] sbrannen commented on #1950
This has been addressed in 8ce46d91b63857c097b01c4ee83f047046aef93a.

[2019-07-09 16:18] sormuras opened #1951 "Compile and test on Java 12"
## Compile and test with JDK 12

Follow-up from #775

- Java API and runtime target of all published JUnit 5 modules remains Java 8, using `--release 8`.
- Java API and runtime target of Java 9 based MR-JARs remains Java 9, using `--release 9`.
- Test source code may use Java 12 API.

## Deliverables

- [ ] Set minimal required Java feature version to `12` in `settings.gradle.kts`
- [ ] Set `testJ

[2019-07-09 16:58] sbrannen commented on #1864
No, it is not possible to rename `TestInstancePostProcessor`.

[2019-07-10 14:58] mbush8 opened #1954 "Regression: discovery for @Nested test classes with same superclass no longer works"
**Version 5.5.0**

Given the following:

[code]

and

[code]

**Expected Behavior:** `abstractClassAssert1()` to execute twice; once as instance of `Inner1` with a passing test and once as instance of `Inner2` with a failing test.

**Actual Behavior:** `abstractClassAssert1()` executes only once as instance of `Inner1` with a passing test.

If I remove class `Inner1` then `abstractClassAssert1()`

[2019-07-10 15:14] sbrannen commented on #1954
That's rather interesting, because I see the opposite behavior: `abstractClassAssert1()` executes only once as instance of `Inner2` with a failing test.

But I think this is really just what the IDE is reporting. For example, I'm using Eclipse.

And I assume you're likely using something different such as IntelliJ -- right?

[2019-07-10 15:17] sormuras commented on #1954
What is the output when launched on the console? Via https://junit.org/junit5/docs/current/user-guide/#running-tests-console-launcher or Gradle or Maven/Surefire?

[2019-07-10 15:18] sbrannen commented on #1954
I've already got a Test Kit example in the works showing that only one of the nested test classes is executing. So I don't think the console launcher will work any differently. 😉

[2019-07-10 15:22] sbrannen commented on #1954
For example, the following fails since only 4 containers are found instead of 6.

[code]

[2019-07-10 15:23] sbrannen commented on #1954
And here's the debug output for all events.

[code]

Class `Inner2` doesn't show up anywhere.

[2019-07-10 15:25] sbrannen commented on #1954
Tentatively slated for 5.6 M1 since this appears to be a bug.

[2019-07-10 15:29] sbrannen commented on #1954
FWIW, it doesn't matter that the parent class is `abstract`. The test kit test fails in the same manner with the following.

[code]

[2019-07-10 15:38] sbrannen commented on #1954
@marcphilipp, here's everything in one source file to simplify matters.

[code]

[2019-07-10 15:45] sbrannen commented on #1954
**Update**: this passes against the `4.3.x` branch, so it's a regression in 5.5.

[code]

Using _old_ test kit event filter method names.

[2019-07-10 15:46] bhchandra opened #1955 "Publish JUnit Jupiter Assertions as a separate artifact"
AssertJ and Truth are a couple of alternatives which provide fluent assertions.
Assertions provided by JUnit are part of the core `junit-jupiter-api` module.

It would be great if the Assertions are moved into a separate sub-module/module, so that they can be excluded in the dependencies, and provide a better auto complete IDE experience.

## Deliverables

- [ ] Reorganize Assertions into it's own

[2019-07-10 15:48] sbrannen commented on #1955
Tentatively slated for 5.6 M1 for _team discussion_

[2019-07-10 16:03] marcphilipp commented on #1955
I'm afraid that would require us to change the package name as well to avoid issues with split packages.

[2019-07-10 16:17] sbrannen commented on #1955
Indeed, split packages basically make it a no-go. 🙁

[2019-07-10 19:04] marcphilipp commented on #1913
Related to #1954.

[2019-07-11 12:58] steveloughran commented on #80
Thank you! We in the Hadoop team owe you a beer or ice cream of your choice

[2019-07-11 17:58] sormuras commented on #80
Beer-flavored ice cream?! 🍺🍨

[2019-07-11 18:18] steveloughran commented on #80
if you can find some

[2019-07-12 10:13] marcphilipp commented on #1955
**Team Decision:** Since we'd have to move it to a different package and deprecate the old class, we've decided to not make it a separate artifact. As a workaround for your use case, IDEs usually allow to exclude classes from suggested imports, [e.g. in IntelliJ](https://www.jetbrains.com/help/idea/creating-and-optimizing-imports.html#exclude-classes-and-packages-from-auto-import).

[2019-07-12 10:14] #1955 closed

[2019-07-12 10:19] marcphilipp commented on #1942
Alternatively, we could use a special logger that only logs the same message once per call of `discoverTests()`.

[2019-07-12 10:21] marcphilipp commented on #1942
**Team Decision:** Implement a spike with a "log once" feature in our internal logging façade.

[2019-07-12 10:24] marcphilipp commented on #1864
**Team Decision:** Let's go with `TestInstancePreDestroyCallback`.

[2019-07-12 10:31] marcphilipp commented on #1724
**Team Decision:** Move to General Backlog to see whether this use case is relevant for other users as well.

[2019-07-12 10:47] marcphilipp commented on #1930
**Team Decision:** Put on hold until we've gotten more feedback about the importance of this use case.

[2019-07-12 11:03] sbrannen commented on #1955
In Eclipse you can filter out types via Preferences -> Java -> Appearance -> Type Filters.

[2019-07-12 12:38] sbrannen commented on #721
@smoyer64, ping

[2019-07-12 12:40] sbrannen commented on #1145
@hwellmann, does the `InvocationInterceptor` extension API introduced in #1852 meet your needs?

[2019-07-12 12:42] sbrannen commented on #416
@slu-it, in light of #497, is this issue still relevant?

[2019-07-12 14:22] slu-it commented on #416
Hi @sbrannen,

I think it is still relevant (as in not resolved) because #497 does not address the described usecase (`@Mock` without having to declare the corresponding `MockitoExtension`). In cases like that, the annotated field is not itself an extension implementation but rather something the extension should act upon.

But since I did not feel much pain regarding this in the past years, I can

[2019-07-12 15:31] bhchandra commented on #1955
Thank you for your quick response.

[2019-07-12 15:33] sbrannen commented on #416
Indeed, that is something different. Sorry for overlooking that.

In any case, I am closing this as superseded by #1836.

If you feel that is inappropriate, please provide further feedback.

Thanks!

[2019-07-12 15:33] #416 closed

[2019-07-13 05:22] onacit opened #1957 "Introduce Assertions#assertSorted for Iterables"
Introduce methods for asserting sorted state of `java.lang.Iterable`s.

## Deliverables

- [ ] `<T> void assertSorted(Iterable<? extends T> iterable, Comparator<? super T> comparator)`
- [ ] `<T extends Comparable<? super T>> void assertSortedInNaturalOrder(Iterable<? extends T> iterable)`
- [ ] `<T extends Comparable<? super T>> void assertSortedInReverseOrder(Iterable<? extends T> iterable)`

Im

[2019-07-13 11:45] marcphilipp commented on #1948
Where would you declare that? On a package?

[2019-07-13 11:47] marcphilipp commented on #1957
Tentatively slated for 5.6 M1 for _team discussion_.

[2019-07-13 11:52] marcphilipp commented on #1948
Tentatively slated for 5.6 M1 for _team discussion_.

[2019-07-13 11:54] sormuras commented on #1948
And a `@TestPackageOrder` on a module!

[code]

[2019-07-13 14:05] sbrannen commented on #1957
I confirm that the proposed functions work as advertised for lists.

[code]

[2019-07-13 15:47] sbrannen commented on #1957
Also works for sets.

[code]

[2019-07-13 15:54] sbrannen commented on #1957
Having verified that, we should also note that AssertJ already supports this out of the box.

[code]

Thus, in line with other recent decisions (see https://github.com/junit-team/junit5/issues/1920#issuecomment-499841520), we likely should not include the proposed assertions in JUnit Jupiter.

[2019-07-13 16:47] #1951 closed

[2019-07-13 20:02] sormuras commented on #1063
Still relevant, same issue, using [Groovy 2.5.7](https://dev.azure.com/junit-team/junit5/_build/results?buildId=497&view=logs&jobId=761c447c-ac92-5d92-1663-910a0c184c4f&taskId=3186f22b-dd45-5abc-1d8b-0279b829bdb3&lineStart=637&lineEnd=642&colStart=1&colEnd=74) bundled with Gradle 5.5.1 (running on JDK 12):

[code]

[2019-07-13 20:17] sormuras commented on #1481
Removed `@EnabledIf` and `@DisabledIf` via #1902 -- thus closing this issue.

[2019-07-13 20:17] #1481 closed

[2019-07-14 11:37] marcphilipp commented on #1063
We're not using the Groovy version bundled in Gradle anymore. I just tried upgrading our `testImplementation` dependency to to 3.0.0-beta2 and the warning is gone. Since this affects only our tests, I don't think we'll have to wait for the final release. WDYT?

[2019-07-14 12:08] sormuras commented on #1063
_"What are you waiting for, Christmas?!"_

Meaning, yes, let's do it.

[2019-07-14 12:34] #1063 closed

[2019-07-14 12:34] sormuras commented on #1063
Cheers!

[2019-07-14 12:41] sormuras commented on #1936
#1063 was just closed by upgrading to a recent Groovy 3 beta release.

[2019-07-14 13:05] marcphilipp commented on #1936
I've enabled byte-buddy's experimental option in 7b2ed227c276bcb2194a6224dbb604ebbbabd736 and was able to run a local build on OpenJDK 14-valhalla+2-18.

However, there's still no openjdk Docker image that we could use for Azure.

[2019-07-15 12:19] sormuras commented on #1936
Trying with @shipilev 's docker image at https://github.com/junit-team/junit5/compare/issues/1936-jdk-14

Only the correct path to `JAVA_HOME` is missing...

[2019-07-15 12:46] shipilev commented on #1936
`JAVA_HOME` should be fixed now, along with other environment variables in `shipilev:openjdk-latest-*`. Please try again.

[2019-07-15 12:46] sormuras commented on #1936
@marcphilipp Please take over. 😉

[2019-07-15 12:46] nrundle opened #1958 "Add support for String delimiters in @CsvSource and @CsvFileSource"
Configuring the delimiter in `@CsvSource` when using Groovy is extremely limited due to the lack of support of character literals.

The only way to configure the delimiter in the annotation that I could find is to cast it to char which requires the class the use of `@CompileStatic`.

The [univocity parser](https://github.com/uniVocity/univocity-parsers/blob/v2.8.2/src/main/java/com/univocity/parse

[2019-07-15 12:47] marcphilipp commented on #1936
Azure Pipelines seems to create its own users and run commands in the container using it: https://dev.azure.com/junit-team/junit5/_build/results?buildId=508&view=logs&jobId=1aad50ee-49f1-5da3-3759-715a0d68312e&taskId=51f9df4a-090a-49c5-b774-b94af3795e7b&lineStart=47&lineEnd=48&colStart=1&colEnd=1

Which doesn't work with this image because Java is installed in `/root/jdk`.

[2019-07-15 13:04] marcphilipp commented on #1958
You mean like this?

[code]

[2019-07-15 13:07] marcphilipp commented on #1958
Changing it from `char` to `String` would be a breaking change. On the other hand,  `@CsvSource` is still experimental although widely used.

Tentatively slated for 5.6 M1 for _team discussion_.

[2019-07-15 13:13] shipilev commented on #1936
Right. Then `/opt/jdk`, like in updated `shipilev/openjdk:14-fastdebug`?

[2019-07-15 14:06] nrundle commented on #1958
Yes, I experimented with using `@CompileStatic`, but unfortunately then I lose access to other Groovy features that I was using.

So far, I like being able to use the @CsvSource and see the inputs and expected outputs right above the test.

[2019-07-15 14:07] sormuras commented on #1936
Still `ERROR: JAVA_HOME is set to an invalid directory: /opt/jdk`

https://dev.azure.com/junit-team/junit5/_build/results?buildId=509

[2019-07-15 14:11] sormuras commented on #1958
Perhaps something Groovy 3.x will support w/o resorting to `String`?

Because only to support `","` -- a single character sequence -- I'd hesitate to change the API of `@CsvSource`.

[2019-07-15 14:19] nrundle commented on #1958
Perhaps rather than changing the API, a new one could be created.  Since the univocity parser allows string delimiters with more than one character, I thought it might be a nice enhancement which not only supports groovy's lack of a character literal, but also allows for a wider set of delimiters to be used.

[2019-07-15 14:21] marcphilipp commented on #1936
I think the file permissions are still too restrictive:

[code]

[2019-07-15 15:39] shipilev commented on #1936
Grrr. Fixed to `a+rx`:
[code]

[2019-07-15 16:32] sbrannen commented on #1958
I suppose we could introduce something like `delimiterString`. It's not the most elegant and would require a more complicated lookup algorithm (that rejects configuration of both attributes), but it's possible.

[2019-07-15 18:06] sormuras commented on #1936
Restarted at https://dev.azure.com/junit-team/junit5/_build/results?buildId=510 ...

[2019-07-15 18:06] sormuras commented on #1936
... build has started! 🚀

[code]

[2019-07-15 18:07] marcphilipp commented on #1936
FWIW I submitted a PR to the repo that builds the official Docker images:
https://github.com/docker-library/openjdk/pull/343

[2019-07-15 18:23] jportner-hw opened #1959 "@Timeout should support debugging"
We tried to use the new `@Timeout` annotation introduced in https://github.com/junit-team/junit5/pull/1885 to enforce a global timeout. I put it on the base class that all our JUnit Jupiter integration tests extend from.

It works, but unfortunately without any kind of "DisableOnDebug" feature we cannot realistically use it. When debugging a test and stepping through with a debugger it will fail e

[2019-07-15 18:30] sormuras commented on #1936
...the build from above "failed" due to timing issue:

[code]

TL;DR ... it builds on JDK 14-ea.

[2019-07-15 18:32] sormuras commented on #1959
We could implement something similar to the system property we support for execution conditions described here: https://junit.org/junit5/docs/current/user-guide/#extensions-conditions-deactivation

[2019-07-15 18:43] marcphilipp commented on #1959
@jportner-hw Would that work for you, e.g. by setting a system property?

[2019-07-15 19:01] sormuras commented on #1936
...  build is running on that image as well: https://dev.azure.com/junit-team/junit5/_build/results?buildId=512

[2019-07-15 19:09] shipilev commented on #1936
Yes, do note you are running "fastdebug" build: it is slower than default "release", and that is the cost of running more JVM checks.

[2019-07-15 19:20] #1936 closed

[2019-07-15 19:45] philwebb commented on #1945
I didn't give it too much thought to be honest, but I assumed it would have a slightly different signature to `ParameterResolver` since it I wasn't sure if `supportsParameter` made sense. I figured it would have to support all parameter types at that point and throw an exception if it couldn't actually resolve them.

[2019-07-15 19:47] philwebb commented on #1945
To be more precise, something like:

[code]

With the `resolveParameter` method returning an object or `null` to inject and throwing `ParameterResolutionException` on failure.

[2019-07-15 19:51] sormuras commented on #1945
The default implementation would always throw a `ParameterResolutionException`, like the one generated at the moment.

- Having a singleton `ParameterResolver` instance installed as fall-back for an entire test run?
- Chain multiple such instances and the first one win (and resolve) and the last is the throwing resolver?

🤔

[2019-07-15 19:54] philwebb commented on #1945
Ordering becomes important if you have a chain so I was originally thinking of just one and throw an exception if someone tired to add multiple `@ExtendsWith`. I figured that might also match the existing logic where if more than one `ParameterResolver` claims to support a parameter an exception is thrown.

[2019-07-15 21:11] jportner-hw commented on #1959
Hi @marcphilipp .
Would that system property name be configurable by us? If so we could use `intellij.debug.agent` which is set to true during debugging in IntelliJ to disable the Timeout.

If the system property name was defined by JUnit we could edit our "Run/Debug configuration" in IntelliJ to include it. I think the user configurable system property would be preferred so it could just be defin

[2019-07-16 06:52] #1954 closed

[2019-07-16 09:04] sbrannen commented on #1959
How would that make things easier?

Wouldn't we then need a system property (or JUnit Platform "configuration parameter") to set the name of the other system property, thereby forcing you to set two things?

[2019-07-16 09:21] marcphilipp commented on #1954
@mbush8 If you have time, it would be great if you could verify the fix using the latest 5.5.1-SNAPSHOT in your project.

[2019-07-16 09:23] marcphilipp commented on #1959
I'm wondering whether we should simply deactivate timeouts if we can autodetect that a debugger is connected. Is there really a use case for debugging with active timeouts? 🤔

[2019-07-16 09:25] sbrannen commented on #1945
@philwebb, the example you provided is identical to the existing `ParameterResolver`.

Was that perhaps a copy-n-paste error?

[2019-07-16 10:49] sormuras commented on #1945
Ah, translation issue: wanted to say "single `ParameterResolver` class that handles all unresolved parameters".

Totally with you and Sam here. One should suffice.

[2019-07-16 11:05] sbrannen commented on #1959
I agree. As the OP pointed out, JUnit 4's `org.junit.rules.DisableOnDebug.isDebugging(List<String>)` seems like a pretty good way to achieve that.

I doubt it.

I wonder if we should consider doing anything for `assertTimeout*()` as well -- perhaps not, but worth considering nonetheless.

[2019-07-16 11:24] philwebb commented on #1945
It's not quite identical since is doesn't have the `supportsParameter` method.

[2019-07-16 11:45] sbrannen commented on #1945
Well, from our perspective it is identical, since it fails the [Kitchen Sink Test](https://github.com/junit-team/junit5/blob/master/junit-jupiter-engine/src/test/java/org/junit/jupiter/api/extension/KitchenSinkExtension.java). 😉

In all seriousness, we want a single extension to be able to implement all `Extension` APIs without ambiguity.

So, for me, the proposal is effectively a marker interface

[2019-07-16 14:18] #1947 closed

[2019-07-16 14:26] sbrannen commented on #1947
Resolved in c132aed1903176be4c393c23a6f2ecc92ef7010b and refined in 11c95c60fd1ceb9bed6a6d8588113f752b1cc77a.

[2019-07-16 16:39] jportner-hw commented on #1959
Yup. I'm happy if you implement the easy solution of just disabling `@Timeout` when a debugger is connected. "-Xdebug" jvm argument.
I can't think of a reason why someone would want to timeout while debugging.

[2019-07-16 18:39] jportner-hw commented on #1959
I was thinking something like `@Timeout(disabledWithSystemProperty="intellij.debug.agent")`
But like other people have replied maybe it's better to just take the simple approach of disabling timeout by default if debugging.

[2019-07-19 10:07] #721 closed

[2019-07-19 10:08] marcphilipp commented on #1145
Closing due to lack of activity. Please reopen if the issue persists.

[2019-07-19 10:08] #1145 closed

[2019-07-19 10:09] marcphilipp commented on #1242
Closing due to lack of activity. Please reopen if the issue persists.

[2019-07-19 10:09] #1242 closed

[2019-07-19 10:11] marcphilipp commented on #1456
Duplicate of #878

[2019-07-19 10:11] #1456 closed

[2019-07-19 10:12] marcphilipp commented on #1791
Closing due to lack of activity. Please reopen if the issue persists.

[2019-07-19 10:12] #1791 closed

[2019-07-19 10:15] marcphilipp commented on #1860
Closing due to lack of activity. Please reopen if the issue persists.

[2019-07-19 10:15] #1860 closed

[2019-07-19 10:35] marcphilipp commented on #1595
Before implementing such a generator, we should come up with a table of example method names and agree on what the generated display names should be. Thus, I've changed the status to _blocked_ for the time being.

[2019-07-19 10:36] marcphilipp commented on #1595
Blocked due to https://github.com/junit-team/junit5/issues/1595#issuecomment-513181707.

[2019-07-19 10:51] marcphilipp commented on #1139
We talked about this issue in our team call today and agreed that we need to put some more thought into how the extension/API should look before continuing with the PR.

[2019-07-19 11:11] marcphilipp commented on #1959
**Team Decision:** Introduce a new `junit.jupiter.execution.timeout.mode` configuration parameter to configure when timeouts are applied. There are three modes: `enabled`, `disabled`, `disabled_on_debug`. By default it would be `enabled`.

@jportner-hw This way, you could add that to `junit-platform.properties` and comment it out or uncomment it as needed. Would that work for you?

[2019-07-19 17:07] jportner-hw commented on #1959
thanks @marcphilipp . sounds good.

[2019-07-20 09:38] arturdryomov opened #1960 "Support focusing in addition to skipping"
Using traditional JUnit structure there are no problems executing a single isolated test.

[code]
In the snippet above re-running `b` in isolation usually is not an issue in such IDEs as IJ. There is a green arrow nearby which executes a single method. This is great.

However, using non-traditional DSLs, similar to RSpec does not provide such a luxury.

[code]
Since both `context` and `it` are not

[2019-07-20 11:18] sbrannen commented on #1960
To be perfectly honest, I didn't fully understand what you meant by "focusing".

Is that functionality you need within a custom `TestEngine` implementation? Or is that some kind of feature that build tools and IDEs could use?

IDEs perform static analysis to determine what can be executed as a "test" or "container" on the JUnit Platform. To simplify the implementation for IDEs, the JUnit team intr

[2019-07-20 11:44] ming13 commented on #1960
Focusing is basically filtering out everything except focused nodes.

* `xit` (skipping) — everything is executed except skipped nodes.
* `fit` (focusing) — nothing is executed except focused nodes.

I imagine a possible API as a part of the Platform `org.junit.platform.engine.support.hierarchical.Node` abstraction, nothing from the tooling side. Something like this in `Node`:

[code]

The focusin

[2019-07-22 14:22] Sam-Kruglov opened #1961 "Default display name for methods appends empty parentheses"
In JUnit Jupiter 5.5.1 using Kotlin 1.3.41:

[code]

Results in the following display names:

[code]

While I expect it without parentheses:

[code]

[2019-07-22 17:17] sbrannen commented on #1961
That's actually to be expected, since it is the default behavior for display names based on technical method names; where, a Kotlin name like that is in fact the "technical name" of the method.

To remove the trailing parentheses, you could implement a custom `DisplayNameGenerator`.

For example, `org.junit.jupiter.api.DisplayNameGenerator.ReplaceUnderscores` removes the trailing parentheses if th

[2019-07-23 09:41] HK201 opened #1962 "Missing overloads of assertNotEquals for primitive types"
Version: JUnit Jupiter 5.3.2

[code]

Both of the above assertions will work. The reason is that `assertEquals` provides overloads for primitive types, while `assertNotEquals` doesn't. In other words:

- `assertEquals`: Actually compares the numbers -> 0 == 0
- `assertNotEquals`: Compares the types -> Int != Long

I'd expect `assertEquals` to be the opposite of `assertNotEquals`, which is not the

[2019-07-23 10:55] sbrannen commented on #1962
This was addressed in 5.4.

If you upgrade to 5.4 or higher (preferably 5.5.1), you'll see that the latter is invoked for the second assertion.

[code]

And that results in:

[code]

I am therefore closing this issue.

[2019-07-23 10:55] #1962 closed

[2019-07-23 10:57] sbrannen commented on #1962
This is a duplicate of #1607.

Please search closes issues and PRs before opening a new issue.

[2019-07-23 18:12] modakomkar3 commented on #1334
When you create a test case, create it in JUNIT4 not in Jupiter. It works

[2019-07-24 00:10] kriegfrj opened #1963 "Make org.junit.platform.console.tasks.*Listener classes public"
I have a project where it would be nice to be able to plug in arbitrary test listeners to get the output that you want.

It would be nice to be able to use the listeners in the console package to optionally produce nicely-formatted test output. Unfortunately, I can't do this easily because the classes are package private, so I have to use reflection if I want to use them.

[2019-07-24 02:26] kriegfrj commented on #1963
Having played with it a little bit, I think it would also be nice if all the listener-related code were put in a different package to the executor code. I'm looking at an OSGi-type usage of it, and having this separation of packages would make it easier to manage the package dependencies.

[2019-07-24 05:05] kriegfrj commented on #1907
I've been using testkit as well. I haven't used `assertStatistics()`, but I second @mkobit's concerns about using the `Conditions`. I am an AssertJ fan, but I've never been a big fan of conditions - in particular their diagnostic output is not as friendly as some of the other AssertJ assertions. An alternative (or a supplement) would be to come up with custom assertion classes for the various JUni

[2019-07-24 05:14] kriegfrj opened #1964 "Vintage engine to warn/error on mixed JUnit 3/4 tests"
If the Vintage engine encounters a class that extends `TestCase` *and* has `@Test` annotations in it, then it will silently ignore all of the JUnit 4 tests. It would be good if it were not so silent about it, as it could lull people into a false sense of security that all their tests are passing, when some are simply not running at all.

I just encountered the case where a test class had no tests

[2019-07-24 07:33] sbrannen commented on #1964
Tentatively slated for 5.6 M1 for _team discussion_

[2019-07-24 07:35] sbrannen commented on #1963
Tentatively slated for 5.6 M1 for _team discussion_

[2019-07-24 07:55] sherfert opened #1965 "Test discovery is very slow with scalatest"
Our tests are written in scalatest and run by adding the annotation `@RunWith(classOf[JUnitRunner])` and using the maven surefire plugin. In one test class we have 14.000 tests. These tests take roughly 4 seconds to execute but 11 minutes to discover.

The issue seems to be connected with `VintageTestDescriptor`. It tries to find the method of a test using `VintageTestDescriptor.findMethod` which

[2019-07-24 07:56] sherfert commented on #1965
Profile:  [maven2.zip](https://github.com/junit-team/junit5/files/3425621/maven2.zip)

[2019-07-24 08:37] sbrannen commented on #1965
Tentatively slated for 5.6 M1 for _team discussion_

[2019-07-24 12:18] kriegfrj commented on #1964
As an alternative (superior) solution to this problem, possibly Vintage could be changed to support mixed JUnit 3 & 4 tests in a single test class.

[2019-07-24 15:12] sormuras commented on #1963
Iirc, we introduced the "reporting" module to contain such public listeners.

[2019-07-24 20:40] Oleg3n commented on #1724
Yes, this problem is relevant for other users. Please fix it.

[2019-07-25 07:44] jbduncan commented on #1724
If this issue is ever addressed, I wonder if it would be worth including ClassGraph and shadowing it. 🤔

[2019-07-25 09:45] sbrannen commented on #1724
Interesting idea, @jbduncan!

I didn't realize that ClassGraph had explicit support for Spring Boot's proprietary JAR structure [until now](https://github.com/classgraph/classgraph/wiki/Classpath-specification-mechanisms).

`project.jar!/BOOT-INF/lib/dependency.jar`, as required by Spring-Boot, JBoss, and Felix classloaders, and probably others.

[2019-07-25 09:53] onacit commented on #1957
@sbrannen I do agree. Jupiter's Assertions and Assumptions should be remained as simple and clear as possible.

[2019-07-25 09:53] #1957 closed

[2019-07-26 05:29] JesseZhuang commented on #1476
IMHO, the maxCharsPerColumn would be a good feature. Array input is common and String array can easily get long.

[2019-07-26 08:17] knoobie opened #1966 "TestExecutionResult parameter not resolved on AfterEach"
## Steps to reproduce

[code]

## Context

 - Used versions (Jupiter/Vintage/Platform): 5.5
 - Build Tool/IDE: Intellij / Maven

## Result

[code]

## Expectation

- TestExecutionResult can be resolved on Methods annotated with `@AfterEach` containing the information of the last method run

[2019-07-26 08:28] sewe opened #1967 "Multiple @TempDirs should result in multiple directories"
I just got bitten by the (IMHO counter-intuitive) behavior of `@TempDir`: When using it in multiple places, each injection point gets the **same** directory injected. That is, the following does not do what one would intuitively expect:

[code]

Both `source` and `target` point to the same directory!

Of course, you can work around this:

[code]

But this feels unnecessarily complex for this, IMHO

[2019-07-26 08:39] sbrannen commented on #1967
Tentatively slated for 5.6 M1 for _team discussion_

[2019-07-26 08:45] sbrannen commented on #1966
`TestExecutionResult` cannot be supplied to an `@AfterEach` method since the `@AfterEach` method itself (or another `@AfterEach` method) could cause an otherwise successful test execution to fail, which would therefore require mutation of the state of the immutable `TestExecutionResult`.

If you want to find out if a particular test succeeded or failed, you need to implement the `TestWatcher` exte

[2019-07-26 08:45] #1966 closed

[2019-07-28 16:25] steppinrazor opened #1968 "@SelectPackages not working with Maven CLI"
Didn't get a response on SO so reposting here to see if I have any better luck

https://stackoverflow.com/questions/57136247/selectpackages-not-working-with-maven-cli

[2019-07-29 15:20] drodriguezhdez opened #1969 "Getting the values of parameters for ParameterizedTests in TestExecutionListener"
On method execution of `executionStarted(...)`, `executionFinished(...)` in the `TestExecutionListener` class, it seems it's not possible to get the value of the parameters for `ParameterizedTest`, but using `displayName` attribute in the `TestIdentifier`.

**Feature request**: Add the capability to have `parameters` to the `TestIdentifier` class in order to obtain those values.

*Related to*: htt

[2019-07-29 16:39] marcphilipp commented on #1969
Related to #944.

[2019-07-29 16:40] marcphilipp commented on #1969
Tentatively slated for 5.6 Backlog for _team discussion_.

[2019-07-30 17:40] jbytecoder opened #1970 "@CsvFileSource cannot locate resource when used in base class"
When using a relative resource path with `@CsvFileSource` — for example, `"test.csv"` as opposed to `"org/exmaple/test.csv"` — the resource is resolved against the runtime type of test class.

This is valid approach until we use inheritance.  If it happens that we have a base class test and subclass located in different packages then, the subclass test fails with cannot find resource. It runs norm

[2019-07-30 18:44] marcphilipp commented on #1970
Thanks for raising the issue! I tend to agree. Tentatively slated for 5.6 M1 for _team discussion_.

[2019-07-30 18:46] marcphilipp commented on #1968
The [answer on StackOverflow](https://stackoverflow.com/a/57157951/6327046) is correct. There's an open issue to support suites on the Platform: #744.

[2019-07-30 18:46] #1968 closed

[2019-07-31 11:31] sbrannen commented on #1970
I agree that this can be improved, and the change would be along the lines of what we do in the Spring TestContext Framework for various annotations such as `@ContextConfiguration`, `@Sql`, etc.

[2019-08-02 12:15] marcphilipp commented on #1970
**Team Decision:** While we agree that it would be desirable to interpret such paths relative to the declaring class, it would be a considerable effort to rework our annotation search algorithm. Thus, we have assigned the `waiting-for-interest` label for now.

[2019-08-02 12:20] marcphilipp commented on #1967
**Team Decision:** Add to general backlog to await further interest from the community.

[2019-08-02 12:25] marcphilipp commented on #1965
@sherfert Could you please provide a sample project so we can reproduce the issue when working on improving the performance?

[2019-08-02 12:28] marcphilipp commented on #1963
**Team Decision:** Let's polish the listeners to keep the public API small and move them to the reporting module.

[2019-08-02 12:29] marcphilipp commented on #1963
@kriegfrj Would you like to submit a PR?

[2019-08-02 12:47] marcphilipp commented on #1958
**Team Decision:** Let's add `delimiterString`, check that the user does not declare both delimiter attributes, and set the default values in the annotation to `'\0'` and `""`, respectively.

[2019-08-02 13:00] marcphilipp commented on #1913
## API Proposal

Add the following methods to `DiscoverySelectors` for nested classes:

- `selectNestedClass(List<String> enclosingClasses, String nestedClass)`
- `selectNestedClass(List<String> enclosingClasses, String nestedClass)`

... and for methods:

- `selectNestedMethod(List<String> enclosingClasses, String nestedClass, String methodName)`
- `selectNestedMethod(List<String> enclosingClasse

[2019-08-02 13:08] sormuras commented on #1958
...and default to ',' (comma character) when no delimiter is set?

[2019-08-02 13:39] sbrannen commented on #1958
Yes, exactly. That was discussed during the call but didn't make it into the "Team Decision".

[2019-08-02 14:19] kriegfrj commented on #1963
I'll see if I can have a look next week some time. Can't promise anything. I have another couple of suggestions from my experience in trying to use the LegacyXmlGeneratingListener too which might tie in (eg, perhaps `org.unit.platform.launcher.listeners.LegacyReportingUtils` also belongs in the reporting module and in a different package.