[2018-01-04 13:33] marcphilipp opened #1225 "CDATA end marker in exception message of failed test must not break XML output"
## Overview

Exception messages that contain the XML CDATA end marker `]]>` currently cause the XML output to be invalid, e.g. the message `<foo><![CDATA[bar]]></foo>` results in the following document:

[code]

## Deliverables

- [ ] Ensure exception messages that contain the CDATA end marker `]]>` result in valid XML

[2018-01-04 13:41] m-g-sonar commented on #1182
Thanks for reporting this. On SonarJava side (Java plugin from SonarQube handling parsing of surefire reports), we are tentatively going to workaround the issue to not suffer too much of the number of test drop. When fixed, it should get back to normal and be handled correctly. Associated ticket in our JIRA: [SONARJAVA-2580](https://jira.sonarsource.com/browse/SONARJAVA-2580).

[2018-01-04 14:41] #1225 closed

[2018-01-04 14:53] sbrannen commented on #1225
Thanks for the super quick turn-around on that one! 👍

[2018-01-04 14:59] sbrannen commented on #1224
Well, that's actually the expected behavior.

You cannot have two `@TestTemplate` implementations executing at the same time for a single method.

In addition, it was never foreseen that one would _nest_ `@TestTemplate` implementations, which is essentially what you are proposing here.

So I'm a bit torn as to whether or not we should (or could) consider making a change like this.

@junit-team/jun

[2018-01-04 17:40] mkobit opened #1226 "TestTemplateInvocationContextProvider should have type bounded return to allow implementations to more easily return TestTemplateInvocationContext implementations"
## Overview

The signature of `Stream<TestTemplateInvocationContext> provideTestTemplateInvocationContexts(ExtensionContext context);` requires casting under certain implementation conditions. For example, one usage where I am forced to cast the implementation type to the interface type is here: https://github.com/mkobit/jenkins-pipeline-shared-libraries-gradle-plugin/blob/b1d0b2f207cf2d28d96fa8e1

[2018-01-04 18:29] marcphilipp commented on #1226
Hmm, in hindsight `Stream<? extends TTIC>` might have been better. I'm hesistant to change it now because it's a breaking change and very easy to work around.

@junit-team/junit-lambda Thoughts?

[2018-01-05 13:36] franz-see opened #1229 "Cannot create a @ParameterizedTest that uses @MethodSource in a @Nested test class"
## Overview

**Bug report.**
Version : org.junit.jupiter:junit-jupiter-params:5.0.2

Cant create a nested parameterized test that uses `@MethodSource`. `@MethodSource` requires that it points to a static method. But you cannot have a static method from a non-static inner class. And you cant have a nested class that is a static inner class

### Scenario 1

[code]

This code results to a `org.junit.

[2018-01-05 15:07] marcphilipp commented on #1229
Have you tried adding `@TestInstance(PER_CLASS)` on the nested class?

[2018-01-05 18:32] marcphilipp commented on #1025
Jupiter does not throw an exception when resolving a `UniqueIdSelector` for a dynamic test or a test template invocation. It currently resolves it into the test factory or test template method, respectively.

@jlink Am I missing something?

[2018-01-05 19:41] franklinyu commented on #1104
I still got this warning. Tried 5.0.2 and 5.1.0-M1. Any ideas?

[2018-01-05 20:07] jlink commented on #1025
Don't think so. I guess it was a misunderstanding between me and Anna that led me to believe otherwise. So the only thing missing is "the real implementation".

[2018-01-05 21:17] marcphilipp commented on #1025
I've started working on it tonight. 🙂

@akozlova For it to work in IDEA, I'm afraid they'll have to implement support for launching tests using `UniqueIdSelectors`.

[2018-01-05 21:27] akozlova commented on #1025
Already done in master. We will start EAP soon. Thanks!

[2018-01-05 21:27] marcphilipp commented on #1104
You got this warning without including apiguardian, right?

It will become a mandatory dependency again starting in 5.1.0-RC1.

[2018-01-06 06:51] franklinyu commented on #1104
Wait what? Why? And Why didn't Gradle/Maven automatically pick it up?

[2018-01-06 10:50] franz-see commented on #1229
@marcphilipp Interesting. That works! :D can you explain why adding that would work?

FYI, here's the resulting test class that works

[code]

[2018-01-06 11:45] marcphilipp commented on #1229
Sure! By default, JUnit creates a test class instance for each test invocation. Therefore, the method that provides arguments must be `static`. Using `@TestInstance(PER_CLASS)` changes the default behavior. Now, a test class instance is created only once and used for all test invocations of that class. Therefore, it can also be used to call `getTestData()`. Makes sense?

[2018-01-06 11:48] marcphilipp commented on #1104
That's a long story. In short, it is declared as an `optional` dependency in its [POM](http://search.maven.org/remotecontent?filepath=org/junit/jupiter/junit-jupiter-api/5.0.2/junit-jupiter-api-5.0.2.pom). Thus, Gradle/Maven will not pick it up by default. Since it's confusing and annoying we'll remove the `optional` tag starting in 5.1.0-RC. Then, Maven/Gradle will pick it up automatically and yo

[2018-01-06 15:00] kevcodez commented on #672
What is the current status on this? This seems to block CDIUnit aswell as Powermock to properly integrate JUnit 5 - just wondering.

[2018-01-06 15:59] sbrannen commented on #672
@kevcodez, we haven't forgotten about this issue. Rather, we're just busy with other issues.

There are in fact quite a few open issues that we _should_ address, but we unfortunately cannot tackle everything at once.

In any case, this issue is currently in the 5.x backlog which means we will get to it in an upcoming 5.x release. Heck, we might even move it to the 5.2 backlog (once that exists). 😉

[2018-01-06 16:03] sbrannen commented on #1229
FYI: this is actually documented in the JavaDoc for `@MethodSource`: http://junit.org/junit5/docs/current/api/org/junit/jupiter/params/provider/MethodSource.html

I am therefore closing this issue as "works as designed".

[2018-01-06 16:03] #1229 closed

[2018-01-06 16:37] franklinyu commented on #1104
Oh, so I won't need to declare the dependency myself? Looking forward to 5.1.0-RC1 then!

[2018-01-06 16:58] sbrannen commented on #1104
Right. It will then be an automatic transitive dependency.

[2018-01-07 07:04] juergenzimmermann opened #1231 "Use static factory method or constructor as fallback for implicit argument conversion"
## Overview

*Original Title*: Introduce implicit argument conversion for UUID and URL

*Original Description*: In https://github.com/junit-team/junit5/issues/1218 implicit arg conversion was introduced for Locale, URI, and Currency. I'd appreciate if also `java.util.UUID` and `java.net.URL` can be supported, by e.g. `UUID.fromString(String name)` and `new URL(String)` as @hisener did in https://g

[2018-01-07 07:43] sormuras commented on #1231
Good idea.

Which other "Java Foundation" classes should be supported?

[2018-01-07 08:39] juergenzimmermann commented on #1231
Maybe `java.math.BigDecimal`, `java.math.BigInteger`, and `java.io.File​`

[2018-01-07 08:52] sormuras commented on #1231
Mh... thinking about some "general magic" like:

1. For class `T` look for a public constructor with a single `String` parameter - if available, use it.
2. Look for a static factory method `T of(String)` - if available, use it.

This default fall-back would kick in before failing with "no conversion available".

[2018-01-07 13:43] hisener commented on #1231
@sormuras Are you working on this? I tried to implement something you said.

1. Checks a `constructor` with a `String` parameter as you said.
2. Checks `static T methodName(String)`. methodName is also generic instead of `of`.

The code is available on https://github.com/hisener/junit5/commit/8a425d8532e73c17ed57ebe2eea7c4ef76b92c10

[2018-01-07 13:45] sormuras commented on #1231
Ja, I'm on it. Cleanup the current implementation as well.

[2018-01-07 13:56] sbrannen commented on #1231
I'm afraid that technique is too risky: picking the first such possible candidate (via `findFirst()`) is unpredictable due to the fact that the JVM does not guarantee the order in which methods are returned via reflection.

Beyond that, it would be a bit too much of a surprise for my taste.

I think the best we can do is to support:

- constructors that accept a single string
- static factory meth

[2018-01-07 13:58] sormuras commented on #1231
Why the restriction on the factory name?

[2018-01-07 13:59] sbrannen commented on #1231
Let's be a bit cautious there: I don't want us to oversimplify things and use reflection all of the time for common use cases.

In other words, let's let ourselves be inspired by Spring in this regard, too: have hard-coded converters for common types and only use reflection as a _fallback_ mechanism for common types we have yet to support and for user code that the framework cannot knowingly suppo

[2018-01-07 14:00] sbrannen commented on #1231
See my above comments.

In general, we should support a well-documented list of supported factory names. Anything else would be nondeterministic and unreliable.

[2018-01-07 14:03] sbrannen commented on #1231
Actually, to follow Spring's lead here, the list of supported static factory methods would be:

- valueOf
- of
- from

If you have ideas for other _common_ static factory method names, speak up. 😉

[2018-01-07 14:12] hisener commented on #1231
`valueOf`, `of` and `from` cannot cover `java.util`. For example, `TimeZone` has `static TimeZone getTimeZone(String ID)` and `UUID` has `static UUID fromString(String name)`.

So, still need to have a static `Map` for these conversions?

[2018-01-07 14:12] sormuras commented on #1231
Handing over to @sbrannen

[code]

[2018-01-07 14:18] sbrannen commented on #1231
Yes.

See explanation here: https://github.com/junit-team/junit5/issues/1231#issuecomment-355824678

[2018-01-07 14:19] sbrannen commented on #1231
I'll add `fromString` to the list of supported static factory methods.

`TimeZone` would still be supported via the status quo.

[2018-01-07 14:22] sbrannen commented on #1231
**Update**:

Added _Supported Static Factory Methods_ section to issue description.

[2018-01-07 14:25] sbrannen commented on #1231
**Update**:

Updated issue title to reflect new scope.

[2018-01-07 14:36] sbrannen commented on #1231
**Update**:

I will spin off the explicit support for `java.util.UUID`, `java.net.URL`, `java.math.BigDecimal`, `java.math.BigInteger`, and `java.io.File​` into a separate issue and leave this issue as it stands now (i.e., to introduce a new fallback mechanism, since the comments in this issue have focused on that topic).

[2018-01-07 14:39] sbrannen opened #1232 "Introduce implicit argument conversion for UUID, URL, BigDecimal, BigInteger, and File​"
## Overview

See original intent of #1231.

## Related Issues

- #1218
- #1231

## Deliverables

- [x] Introduce implicit argument conversion for `java.util.UUID`, `java.net.URL`, `java.math.BigDecimal`, `java.math.BigInteger`, and `java.io.File​` for parameterized tests.
- [x] Document in Release Notes.
- [x] Document in User Guide.

[2018-01-07 14:40] sbrannen commented on #1231
FYI: the new issue is #1232.

[2018-01-07 14:40] sbrannen commented on #1231
Please note that both #1231 and #1232 are currently assigned to me.

[2018-01-07 14:41] sbrannen commented on #1232
_in progress_

[2018-01-07 15:10] marcphilipp commented on #1231
Proposal: Allow arbitrary names for static factory methods, but require that there's only a single one that accepts a `String` and returns an instance of the class. If there are none or more than one, fallback to the constructor that accepts a `String`, if available.

I'm not sure whether we should require the factory methods or constructors to be public. Thoughts?

[2018-01-07 16:01] sbrannen commented on #1232
Resolved in `master` in 8fd44c668eb973ed85a1788763ea9a2904a4436a.

[2018-01-07 16:01] #1232 closed

[2018-01-07 16:04] sbrannen commented on #1231
@marcphilipp, your proposal sounds good.

That would ensure that we have a deterministic, reliable algorithm, which is my primary goal.

Regarding the requirement that such static factory methods or constructors be `public`, I think we can simply require that such members be non-private as we already do for test methods, etc. That would at least be consistent.

[2018-01-07 16:49] sbrannen commented on #1231
_in progress_

[2018-01-07 18:13] marcphilipp commented on #1154
@sbrannen How would you register such an extension? Right now, we only support extension registration during execution, not during discovery. 🤔

[2018-01-07 18:51] marcphilipp commented on #1166
@geowarin You can redirect the standard output of the junitPlatformTest task like this:

[code]

If you really want to make sure nothing gets stored in memory, you can configure it using an anonymous "/dev/null" implementation:

[code]

[2018-01-07 18:53] marcphilipp commented on #240
IIRC only Codecov has Clover support.

@jbduncan Do you have time to give it a try using your fork?

[2018-01-07 18:58] jbduncan commented on #240
@marcphilipp Sorry, could you clarify for me what you'd like me to try out? :)

[2018-01-07 19:00] sbrannen commented on #1231
_Work In Progress_: current work on this issue can be seen in the following feature branch.

https://github.com/junit-team/junit5/tree/issues/1231-generic-string-to-obj-converter

[2018-01-07 19:01] marcphilipp commented on #1220
Glad you found a workaround! Could you please open an issue with Eclipse for this?

We rely on reflection to determine whether a class is a potential test class, e.g. to look at annotations. Thus, we need to load the class after it passed the name filter. Am I missing something?

[2018-01-07 19:02] jbduncan commented on #240
Do you mean trying out OpenClover on my fork using Codecov?

[2018-01-07 19:04] marcphilipp commented on #240
We're already using OpenClover. Could you try to integrate Codecov with our Travis build?

[2018-01-07 19:08] jbduncan commented on #240
I can't guarantee anything, but I'm certainly happy to give it a go! I will get cracking tonight or within the next few days. :)

[2018-01-07 20:56] cmakshin opened #1233 ""junitPlatformTest" Gradle task does not handle dependencies defined by the Java Library plugin"
Using `JavaExec` as the base for "junitPlatformTest" task breaks Gradle builds which:
* use Java Library plugin for better/proper separation of interface and implementation dependencies;
* have a dependency with direction opposite to the lexicographical order of projects' names.

An example can be found at https://github.com/cmakshin/junit5-bugs:
Java 9
Gradle 4.4.1
JUnit Platform 1.1.+ (tested wi

[2018-01-08 04:05] cmakshin opened #1234 "Setting launcher main class name to an empty string breaks test execution on Linux"
Using Java 9 module path instead of classpath by specifying
[code]
makes Gradle plugin clear the main class name string:
https://github.com/junit-team/junit5/blob/a94ef93a68edd481673a81db86b2f4d844a3e063/junit-platform-gradle-plugin/src/main/groovy/org/junit/platform/gradle/plugin/JUnitPlatformPlugin.groovy#L133

The problem is that Gradle's `JavaExec` task unconditionally adds the main class name

[2018-01-08 07:31] almondtools commented on #1220
I would open an eclipse issue if I knew how to fix it. Unfortunately Eclipse does not distinguish code and test directories, so there could not be a generic way to restrict Junit to the test directory.

I agree that class loading is necessary if one depends on reflection. There may be solutions without selection (e.g. reading the bytecode and filtering on a byte code abstraction), yet my suggestio

[2018-01-08 07:33] sormuras commented on #1220
Almost there: https://bugs.eclipse.org/bugs/show_bug.cgi?id=224708

[2018-01-08 15:39] sbrannen commented on #1231
FYI: I just _force pushed_ my latest changes...

https://github.com/junit-team/junit5/commit/dd66ae68206c0d60e21770ffeba9e13178090e34

[2018-01-08 15:40] sbrannen commented on #1231
`GenericStringToObjectConverter` is now fully tested, refactored, and contains caching for factory lookups.

[2018-01-08 15:41] sbrannen commented on #1231
So, all that's left is documentation... unless somebody sees any issues with the current implementation.

@junit-team/junit-lambda, any comments on the WIP?

[2018-01-08 15:50] marcphilipp commented on #1231
I added one comment on the commit. Other than that, it looks good to me! 👍

[2018-01-08 16:09] sbrannen commented on #1222
Seems like things are A-Okay for the snapshots.

So I'm closing this issue.

[2018-01-08 16:09] #1222 closed

[2018-01-08 18:52] #1183 closed

[2018-01-08 19:01] marcphilipp commented on #1215
I've verified that the resource is only created once for the provided example project. Thus, this issue as a duplicate of #1113.

We still have to decide whether to backport #1113 and release a 5.0.3.

[2018-01-08 20:34] marcphilipp commented on #1182
_in progress_

[2018-01-08 20:40] sbrannen commented on #1231
**Updates**:

- Added `ParameterizedTestIntegrationTests.executesWithImplicitGenericConverter()`
- Implemented "null object pattern" to avoid repeatedly searching for non-existent things.
  - See `GenericStringToObjectConverter.NULL_EXECUTABLE` and related code.

[2018-01-08 20:48] sbrannen commented on #1231
**Update**:

Since I switched to using the null object pattern (and therefore always storing a value in the cache), I have now switched to `factoryExecutableCache.computeIfAbsent(...)` as well.

[2018-01-08 20:49] sbrannen commented on #1231
@marcphilipp, lemme if the switch to `factoryExecutableCache.computeIfAbsent` in the latest (force pushed) commit is along the lines of what you were inquiring about earlier.

[2018-01-08 22:43] lutovich commented on #1193
Hi @marcphilipp, can I work on this issue?

[2018-01-09 09:55] marcphilipp commented on #1193
@lutovich Absolutely!

[2018-01-09 10:16] marcphilipp commented on #1231
@sbrannen Looks good to me! I've refactored it to cache `Function<String, Object>` instead of `Executable` in b3626aaf5eda9460661075c12977f9c34023e434. What do you think?

[2018-01-09 10:32] sbrannen commented on #1231
😄

I'm fine with the Function instead of the Executable: it's certainly cleaner and less code that way. The lambdas might incur a slight performance hit, but I'm sure it's negligible. 😉

Thanks for refactoring!

[2018-01-09 12:20] sbrannen commented on #1231
Merged feature branch into `master` in commit a6ef26bdc329fec12209dade3afbca3784ea6f0c.

[2018-01-09 12:20] #1231 closed

[2018-01-09 13:41] sormuras commented on #1231
As long it is unique, meaning there's no overload like `static T factoryMethodDoingMore(String)`, yes.

[2018-01-09 14:53] sbrannen commented on #1232
Additional commits: a94ef93a68edd481673a81db86b2f4d844a3e063 and 6c7d843bfad5bd5f138e644fe8f727177b59b490

[2018-01-09 15:03] sbrannen commented on #1226
Slated for 5.1 M2 in for _team discussion_ prior to the 5.1 GA release.

[2018-01-09 15:15] marcphilipp commented on #871
Another potential application: #723.

[2018-01-09 15:51] sbrannen opened #1235 "Add support for short, byte, float, char, and Class literals in @ValueSource"
## Overview

`@ValueSource` currently only supports literals of type `int`, `long`, `double`, and `String`.

Although it doesn't make sense to support literals of type `boolean` (since there are only two possible such values), it makes sense to expand the supported set of literal types to include the remaining primitive types as well as classes.

## Deliverables

- [x] Add support for `short`, `by

[2018-01-09 15:51] sbrannen commented on #1235
_in progress_

[2018-01-09 15:54] sbrannen commented on #1235
The expanded API can currently be seen here:

https://github.com/junit-team/junit5/blob/2fffba0f076ec5c1db28b6d293ab7b6c7aba43a5/junit-jupiter-params/src/main/java/org/junit/jupiter/params/provider/ValueSource.java

[2018-01-09 20:55] marcphilipp commented on #1182
@bbilger @obfischer @m-g-sonar I've submitted a PR to fix this (see #1236). It would be great if you could take the XML reports from the PR description and check whether they meet your expectations.

[2018-01-10 09:09] m-g-sonar commented on #1182
@marcphilipp Manually tested the file(s) you are providing with our latest build, works like a charm. Thanks for the follow up.

[2018-01-10 15:03] marcphilipp commented on #1220
Do we have an idea how much loading every class that passes the filter twice would impact the performance of the classpath scanner? Since most people won't run into this problem, we could implement it as an opt-in feature.

[2018-01-10 15:12] sbrannen commented on #1235
Resolved in `master` in commit 4640e7776aa00a036cd3cdc7b56814d32c88949b.

[2018-01-10 15:12] #1235 closed

[2018-01-10 18:44] marcphilipp commented on #1234
Thanks for the bug report, @cmakshin! Tentatively slated for 5.1 M2 for investigation.

[2018-01-10 19:16] marcphilipp commented on #1233
This seems to be related to all the module path specific config you've added. [When I remove it](https://github.com/marcphilipp/junit5-bugs/commit/15d404bd8ee457fb531fd5a680a69deecfe70796), it works as expected:

[code]

Any ideas which part of your configuration might cause this?

[2018-01-10 20:28] sormuras commented on #1169
About to disable Kotlin support on Java 10 for the time being. Seeing 99% of our build run on Java 10 is more important than waiting for Kotlin to update their shadowed ASM dependency. I guess by March 2018, when Java 10 is released, the following commit may be reverted for good.

[2018-01-10 21:33] sormuras commented on #1234
Presumably solved via https://github.com/junit-team/junit5/commit/2584afa91ac53224019cb341a61a760f2110a5b0 -- @cmakshin can you please confirm?

Awaiting your feedback and need some help to get https://github.com/junit-team/junit5/commit/2584afa91ac53224019cb341a61a760f2110a5b0#diff-a497bf488b1e717fd412900d07052bc3R214 running... before closing this issue.

[2018-01-11 05:38] cmakshin commented on #1234
@sormuras yes, that works. Thank you for quick response.

[2018-01-11 06:57] cmakshin commented on #1233
Commenting/removing the "enableModulePath = true" line in "atestproject/build.gradle" without changing anything else fixes the task order. I've done some semi-random experiments, trying to find a connection between these two seemingly unrelated things, but failed to find anything.

[2018-01-11 07:13] sormuras commented on #1233
Mh, I encountered a similar bogus behaviour when testing #1234 here: https://github.com/junit-team/junit5/blob/master/junit-platform-gradle-plugin/src/test/groovy/org/junit/platform/gradle/plugin/JUnitPlatformPluginSpec.groovy#L214

Still trying to find out why that boolean switch causes troubles...

[2018-01-11 08:49] cmakshin commented on #1233
My most plausible guess is that `JavaExec` uses its `classpath` parameter
to find tasks which create the needed JARs and marks these tasks as
dependencies during the task graph generation phase. "Module-path mode"
clears this parameter so `dependsOn` becomes the only source of
dependencies and the task gets executed ASAP.

Unfortunately, I won't be to check this assumption until tomorrow.

[2018-01-11 13:39] jbduncan commented on #240
@marcphilipp, I think I might actually be out of depth with this one.

So far, on my local machine, I've only found one workaround for the problem you experienced yourself with branch [`codecov`](https://github.com/junit-team/junit5/tree/codecov), where Travis fails with a `java.lang.NoClassDefFoundError: com_atlassian_clover/TestNameSniffer`. The workaround I found is to run the following command

[2018-01-11 14:13] marcphilipp commented on #240
No worries, thanks for letting me know! Good luck with your job interviews!

[2018-01-12 07:04] cmakshin commented on #1233
It looks like that guess about the `JavaExec` task was right (https://github.com/cmakshin/junit5-bugs/commit/b4270b29bec23e32f70c45328ba409d36cac6f60).

I added another project, "projectC", and a dummy `JavaExec` task to "atestproject":
[code]

"atestproject" has no explicit (`dependencies` project block, `dependsOn` task property, etc.) dependencies on "projectC" but the new task is scheduled at

[2018-01-12 08:01] marcphilipp commented on #1233
That would indeed explain it, thanks for looking into it!

[2018-01-12 08:04] sormuras commented on #1233
https://github.com/junit-team/junit5/blob/master/junit-platform-gradle-plugin/src/main/groovy/org/junit/platform/gradle/plugin/JUnitPlatformPlugin.groovy#L149

[code]

Locally I added `junitTask.dependsOn project.sourceSets.test.runtimeClasspath`. Would that work?

[2018-01-12 08:08] marcphilipp commented on #1233
I think the dependency on the `testClasses` task is redundant, isn't it?

What about `project.configurations.junitPlatform`? Do we need to depend on that, too? What happens when the local Gradle cache is empty and `enableModulePath` is turned on?

[2018-01-12 08:22] sormuras commented on #1233
All existing tests are still green after I removed that line.

It doesn't hurt and with it, it mimics the default `classpath` configuration. I.e. when `enableModulePath` is `false`.

Good question. I hope "Gradle will handle it". :)

[2018-01-12 09:12] sormuras commented on #1233
@cmakshin now the needed dependencies are always set via `dependsOn`. Can you please re-run your test project?

Wondering whether we should also add something similar to our default VM setup:

https://github.com/cmakshin/junit5-bugs/blob/94129a617f515160308673845e3b509ca032fc72/build.gradle#L75-L90

[2018-01-12 10:30] rmannibucau opened #1238 "Document the extension ordering"
Hi

Can you please ensure the documentation contains how to sort extensions. Since Java sorts the annotations and keeps it into the bytecode, it is just a matter of writing the extension definition order is the one used - including nested levels of repeatable annotations. So using @SetEnv @StartServer will let the server use the env setup whereas @StartServer @SetEnv wouldnt.

Compared to Junit4 R

[2018-01-12 13:27] sbrannen commented on #1187
Addressed in `master` in commit 65d54b1a0e9d73d0e4cb64cc219b7d6cb13be314.

[2018-01-12 13:27] #1187 closed

[2018-01-12 13:37] marcphilipp commented on #1215
Team Decision: We will ship a 5.0.3 bugfix release and include #1113. Closing this issue as a duplicate.

[2018-01-12 13:37] #1215 closed

[2018-01-12 14:16] rmannibucau opened #1239 "No runner equivalent"
What was nice with runners was to be able to delegate a class model logic to another runner and inherit from a full lifecycle. With JUnit 5 the extensions don't allow that and enforces you to integrate in the existing lifecycle which is a lot of work for custom @test.

Only alternative is an engine but is too impacting in terms of setup for end users.

[2018-01-12 15:00] sbrannen commented on #1239
Hi @rmannibucau,

We don't have any plans to support the `Runner` API from JUnit 4 in JUnit Jupiter.

Instead, the extension model for JUnit Jupiter is built on the concept of composable extensions.

Thus, if you have concrete proposals for new extension APIs in JUnit Jupiter, please open a new issue (or issues) with your proposals and we would be happy to discuss them.

Thanks!

[2018-01-12 15:00] sbrannen commented on #1239
Closing this issue as _invalid_ since the JUnit 4 `Runner` API is not supported in JUnit Jupiter.

[2018-01-12 15:00] #1239 closed

[2018-01-12 15:05] sbrannen commented on #1238
This is in fact already documented in the [User Guide](http://junit.org/junit5/docs/current/user-guide/#extensions):

Does the above documentation not meet your needs?

[2018-01-12 15:35] rmannibucau commented on #1238
@sbrannen good catch. yes, it meets my need. Thanks!

[2018-01-12 15:35] #1238 closed

[2018-01-12 15:41] rmannibucau commented on #1239
@sbrannen it is not about supporting runners but the same feature. How can I use a custom execution logic not based on @testable?

Here is the junit4 flavor: https://github.com/Talend/component-runtime/blob/master/component-runtime-testing/component-runtime-junit/src/main/java/org/talend/sdk/component/junit/delegate/DelegatingRunner.java

it allows to inherit from the testing model of the referenc

[2018-01-12 16:05] marcphilipp commented on #1239
This will become possible once #871 is implemented which we intend to do for 5.2.

[2018-01-13 01:04] littleclay commented on #542
Any additional word on this? It would be super useful. Currently we have JUnit rules for some tests that evaluate not only the test result but also some custom timing data and report that to an external service. Using an engine listener wouldn’t work for us since we would need to get access to the timing data which would be stored in an extension store.

[2018-01-13 01:05] littleclay commented on #542
Also, a reactive version that allows for an alteration of the TestPlan sounds very interesting for things like automatically retrying certain tests only on failures, etc.

[2018-01-13 19:22] marcphilipp commented on #1184
Team decision: Closing this issue as "works as designed".

[2018-01-13 19:22] #1184 closed

[2018-01-13 19:26] marcphilipp commented on #1226
Team Decision: Although it is a minor inconvenience, we have decided not to go for this breaking change. It will, at the very least, break tests of implementors of `TestTemplateInvocationContext` that assign the result of `provideTestTemplateInvocationContexts(...)` to a local variable etc.

[2018-01-13 19:26] #1226 closed

[2018-01-13 19:35] #1182 closed

[2018-01-13 19:36] marcphilipp commented on #1182
@m-g-sonar Thanks for checking!

[2018-01-13 19:48] marcphilipp commented on #1025
@noopur2507 This should be fixed in the next available milestone. Would be great if you could give it a try.

[2018-01-13 20:29] marcphilipp commented on #1025
Works in Eclipse! 👍

![rerun-parameterized](https://user-images.githubusercontent.com/214207/34909816-c1f23338-f8a8-11e7-94e7-b3f2db3d23ba.gif)

![rerun-dynamictests](https://user-images.githubusercontent.com/214207/34909817-c20fa184-f8a8-11e7-9889-87095445f72d.gif)

[2018-01-13 20:56] marcphilipp commented on #1025
@akozlova I've checked the latest EAP and it's not working there, yet. Is your fix already included?

[2018-01-13 21:35] akozlova commented on #1025
We don't include features in EAPs of released versions. I was pointing to upcoming EAP of 2018.1. Should be out next week. Thanks!

[2018-01-14 08:45] #1193 closed

[2018-01-14 08:50] marcphilipp opened #1240 "Prepare 5.0.3 Release"
## Deliverables

- [x] Cherry pick all commits from `master` that are now assigned to release 5.0.3.
- [x] Create Release Notes for 5.0.3

[2018-01-14 08:54] marcphilipp opened #1241 "Prune Release Notes"
## Deliverables

- [x] Add 5.0.3 release notes to `master`
- [x] Update "Date of Release" in 5.0.3 release notes on `master`
- [x] Prune all release notes sections prior to 5.0 GA

[2018-01-14 10:22] Lubetkin opened #1242 "Conditional extension registration via @ExtendWith"
I have a use case where I have a custom annotation i.e. `@MyAnnotation` that is annotated by `@ExtendWith(Extension.class)`.

On a test method, I declare `@MyAnnotation` and another annotation, `@OtherAnnotation`.

[code]

I want to be able to deactivate the extension registered in `MyAnnotation` (`Extension.class`) when the second annotation, `OtherAnnotation` is present, because JUnit Jupiter ta

[2018-01-14 10:25] sormuras commented on #1242
Implement a check in `MyAnnotation` that tests for the presence of `OtherAnnotation` (on the same annotatable element) and make `MyAnnotation` perform a "no operation"?

[2018-01-14 11:32] Lubetkin commented on #1242
I want it as an infrastructure for all annotations that being set with MyAnnotation. that was a simple example. Are you saying that each annotation need to implement this "no operation" code?

[2018-01-14 13:03] marcphilipp commented on #1242
Can you provide some more details on your use case? To me, having an annotation change its meaning when another annotation is present sounds confusing.

[2018-01-14 13:09] Lubetkin commented on #1242
@myannotationA
@otherannotation
void test1(){...}

@myannotationB
@otherannotation
void test()2{...}

@myannotationA
void test()3{...}

@myannotationB
void test()4{...}

test1 will ignore myannotationA extensions registered in ExtendWith because otherAnnotation is executing those extensions.

test2 the same as test1, will ignore myannotationB extensions registered in ExtendWith because otherAnnota

[2018-01-14 13:25] #1240 closed

[2018-01-14 15:21] sbrannen commented on #1240
👍

[2018-01-14 15:35] sbrannen commented on #1242
No, there is no built-in mechanism for doing something like this.

In other words, JUnit Jupiter does not have support for "conditional extension registration" -- which is how I would phrase your request.

Rather, as @sormuras pointed out, you would have to implement the conditional logic within your extension implementations, effectively performing a _no-op_ if your "higher ranking" annotation is

[2018-01-14 15:39] sbrannen commented on #1242
**Why?**

Why would you expect users to be able to (or want to) declare `@MyAnnotation` and `@OtherAnnotation` simultaneously if `@OtherAnnotation` always _overrides_ `@MyAnnotation`?

Why not just instruct users to declare _either_ `@MyAnnotation` _or_ `@OtherAnnotation`?

If you truly need _conditional_ configuration, why not just have a single annotation that accepts configuration values (i.e.,

[2018-01-14 15:40] sbrannen commented on #1242
FYI: I reworded the title of this issue to reflect the scope of the discussion.

[2018-01-14 15:52] Lubetkin commented on #1242
@sbrannen
Because the OtherAnnotation is a common annotation that is being used by other test modules. And MyAnnotation is per test module.
I have an option to pass a list of extension to that annotation but want to minimize the boilerplate of that list by abstracting it in another annotation and also for reusable annotation to be used without the common one.

[2018-01-14 15:55] sbrannen commented on #1025
That's awesome to see that working in Eclipse! 🎉

Thanks for making this happen, @marcphilipp!

And... looking forward to seeing it in action in IDEA as well!

Yes... thrice "!".

[2018-01-14 16:01] sbrannen commented on #1242
Hmmmm.... the discussion here is a bit too abstract for me.

Can you perhaps shed some light on the actual use case you have?

That would make it easier for us to understand and perhaps easier for us to make an alternative proposal.

[2018-01-14 16:07] Lubetkin commented on #1242
I want to pass to the extension state in OtherAnnotation a list of extension that are stated in MyAnnotation to execute as well.
the extension state in OtherAnnotation is a test template and I need the ability to add those extensions to the test template as an additional extensions.
And the ability to use those extensions state in MyAnnotation as self contained annotation as well.

[2018-01-14 16:38] sbrannen commented on #1241
Haven't checked... but we might need to update additional `@since` tags in JavaDoc like I just did in commit 4c8c469332e962600ca5dab6165035ee6e9e1677.

[2018-01-14 17:33] sormuras commented on #1242
You could share some common state via the global store:

- http://junit.org/junit5/docs/current/user-guide/#extensions-keeping-state

[2018-01-15 04:50] paul-nelson-baker opened #1243 "Introduce file-based declarative test suite support"
## Overview

I'd like to know if the equivalent exists or is in the works to match `TestNG`'s suite XML file format. I asked on Stack Overflow and was directed by @marcphilipp to open a feature request for this. Here are the details from the [original SO post](https://stackoverflow.com/q/47938209/1478636):

I've been dynamically generating TestNG XML suites in a project I'm working on. In an effor

[2018-01-15 04:51] paul-nelson-baker commented on #744
Hi, I was asked to chime in by @marcphilipp a while back [on stackoverflow](https://stackoverflow.com/q/47938209/1478636). I'm not 100% sure how my use case fits exactly with this particular issue. As I glance through it, I see that this is more specifically looking at annotations to programmatically drive suite building, while I'm looking for a modern JUnit 5 equivalent for TestNG's xml suite. He

[2018-01-15 06:06] cmakshin commented on #1233
@sormuras the code from https://github.com/junit-team/junit5/commit/c597ca3ef67077b73bdfa8967ed51eb9d17e19ee works correctly.

All these options except "-ea" and "-esa" are specific to HotSpot JVM so I'm not sure it would be a good idea to use them by default. On the other hand, that stuff is kind of mandatory for testing classes in Jigsaw modules:
1) `'--patch-module', "$moduleName=" + files(sour

[2018-01-15 08:00] sormuras commented on #1233
Yes. We always should add those two. In class-path and module-path mode. @junit-team/junit-lambda ?

We will support both ways: a) patching test sources into the main modules and b) patching main sources into test modules. The latter way achives the same goal as 2. and 3. do -- without leaving the modular world when designing and implementing tests.

Needed for way a) ... not needed for way b)

Ba

[2018-01-15 11:00] obfischer commented on #1182
@marcphilipp Sorry for the late response. For me it is also ok. I can now compute all values I need.

[2018-01-15 11:49] sbrannen commented on #1241
FYI: I already took care of the `@since` tags.

[2018-01-15 11:58] sbrannen commented on #1025
**Note**: this issue has been resolved but remains open until the feature has been tested in IntelliJ IDEA EAP 2018.1.

[2018-01-15 12:29] sbrannen commented on #1243
That's because JUnit Jupiter does not in any way support those two selectors.

They only exist for _other_ test engines that want to make use of them.

[2018-01-15 12:31] sbrannen commented on #1243
The short answer to that is "no". There is currently no support for suite configuration via a file.

However, the fact that you've raised this issue means that it's now "open for discussion". 😉

[2018-01-15 12:31] sbrannen commented on #1243
FYI: I've renamed this issue to reflect the scope.

[2018-01-15 12:41] sbrannen commented on #744
@ps4os, why don't you just meta-annotate your meta-annotations with `@Tag` from JUnit Jupiter?

That should allow for seamless interoperability between JUnit 4 and JUnit Jupiter. 😉

[2018-01-15 12:47] sbrannen commented on #1233
IMHO: We should support them but not configure them by default. Gradle has never done that by default, so I don't think we should either.

In any case, a user can already set those for the JUnit Platform Gradle plugin.

[2018-01-15 13:03] marcphilipp commented on #1182
@obfischer Thanks for letting us know! 👍

[2018-01-15 14:45] dmitry-timofeev opened #1245 "Document Maven test filtering support in User Guide"
## Overview

Currently it might appear to a reader that only filtering by tags is supported.

Could you consider expanding the JUnit 5 User Guide with a reference to a page in Maven Surefire documentation about filtering of tests by file name or class name?

## Proposal

I think it may be as simple as

[code]

## Related Issues

- #1237

## Deliverables

- [ ]  Document Maven test filtering suppor

[2018-01-15 14:53] sbrannen commented on #1245
Sure. I think it would be easy enough to add such a sentence/link.

Slated for inclusion in 5.1 M2.

[2018-01-15 14:59] sbrannen commented on #1245
Actually, now that I think about it...

It would be beneficial to document this and the `-Dtest` support added in conjunction with #1237.

So, I'll expand the scope of this issue and slate it for possible (last minute) inclusion in 5.0.3.

[2018-01-15 15:03] sbrannen commented on #1245
_in progress_

[2018-01-15 15:42] #1245 closed

[2018-01-15 17:42] anamikam1 commented on #586
Hello,
I am using IntelliJ 2017.2 and trying to run my first JUnit5 test and running into the following exception.
I have attached my POM, would it be possible for someone to please take a look?

Exception in thread "main" java.lang.NoSuchMethodError: org.junit.platform.commons.util.ReflectionUtils.getDefaultClassLoader()Ljava/lang/ClassLoader;
	at org.junit.platform.launcher.core.ServiceLoaderTes

[2018-01-15 19:40] smoyer64 commented on #1182
I suspect those reporting an issue with SonarQube above are seeing the same issue that I am (lowered test counts).  It should be noted that test coverage is still correct based on the execution of multiple tests within a parameterized test.

[2018-01-15 19:54] marcphilipp commented on #1241
Regarding the last deliverable: Actually, I think we need to keep the duplicates in M2 because people are likely going to update from M1.

@junit-team/junit-lambda Thoughts?

[2018-01-15 19:58] marcphilipp commented on #1182
We've just released 5.0.3 which should fix it.

[2018-01-16 05:26] hisener commented on #240
@marcphilipp Anything to do with this issue?

[2018-01-16 06:11] marcphilipp commented on #240
Nope, thanks for the pointer!

[2018-01-16 06:11] #240 closed

[2018-01-16 09:59] #1234 closed

[2018-01-16 15:07] sbrannen commented on #586
@anamikam1, you simply cannot mix different versions like that (especially not _Milestones_): that will never work.

Instead, use compatible versions -- for example, the latest release versions as documented here in the [User Guide](http://junit.org/junit5/docs/current/user-guide/#dependency-metadata).

[2018-01-16 15:10] sbrannen commented on #1241
I guess it would't hurt to leave the duplicates in the milestone release notes since the branches are actually parallel (i.e., `master` and `5.0.x`).

Another thing we could consider is merging all milestone and RC release note sections into a single release notes section for GA releases like 5.1.

I'm thinking the latter would make it easier for people migrating from 5.0.x to 5.1.

@junit-team/ju

[2018-01-16 15:11] sbrannen commented on #1241
Also, we might want to prune all release notes sections prior to 5.0 GA for the 5.1 GA release: I'm not sure that people are interested in the release notes leading up to GA any more. 😉

[2018-01-16 20:55] marcphilipp commented on #1241
I was also wondering whether we should do that. I think that would definitely make it easier. 👍

The 5.0 GA release notes describe the delta to RC3 at the moment. How would we change those?

[2018-01-17 06:44] littleclay opened #1246 "Timeout Rule replacement"
**Feature request**
We have a large number of end-to-end automation tests that have a dependency on an external resource (e.g. network calls, actual db, etc). There have been times that a test run will get caught up waiting for db locks, etc. In JUnit 4 we solve these problems by using the Timeout rule on a base class that our automation test classes extends. I don't see any way to replicate that

[2018-01-17 11:27] sbrannen commented on #1246
I'm closing this issue as a duplicate of #80.

Feel free to provide further input as a comment for that issue.

[2018-01-17 11:27] #1246 closed

[2018-01-17 11:49] sormuras commented on #1169
Java 10 support is expected to arrive with Kotlin **1.2.30**.

[2018-01-17 11:58] sormuras commented on #1233
@cmakshin I refactord the module-path support offered by our Gradle plugin from a simple `boolean` switch to a `FileCollection` taking all entries that should land on the module path at execution time.

See commit comment https://github.com/junit-team/junit5/commit/d9310999fe15b70da7ced5be4f470d4e1dc75ada

Closing this issue for good, as it was resolved. If the new support has bug or prevents your

[2018-01-17 11:58] #1233 closed

[2018-01-17 12:46] sbrannen commented on #1241
Well, that information already got published in the release notes section of the user guide for 5.0 GA. So, the 5.0 section in the release notes for 5.1 could simply provide a link to the 5.0 GA release online.

[2018-01-18 14:44] sbrannen opened #1247 "Introduce a TemporaryFolder extension"
## Overview

See discussion at https://github.com/junit-team/junit5-samples/issues/4.

### Related Issues

- #219

## Deliverables

- [X] ~Introduce an official `TemporaryFolder` extension for JUnit Jupiter analogous to the rule support in JUnit 4.~

[2018-01-18 15:16] MatousJobanek opened #1248 "Provide a way to specify my own test method runner"
## Overview
I'm part of Arquillian team and I've been trying to implement either Arquillian Engine or Arquilian Extension for JUnit 5. Unfortunately, nothing is feasible for now. The Engine is a bigger issue. In case of extension, there is missing only one functionality.

## Specific problem
One of Arquillian modes is running in-container tests - executing test methods/classes inside of a containe

[2018-01-18 16:51] geowarin commented on #1166
Thanks @marcphilipp 👍

My little hack just for you:

[code]

[2018-01-18 21:56] ssanbeg opened #1249 "The 5.0.3 Revisions Having Issues In Repo"
Result of running: mvn help:effective-pom (ran several times after rm-rf ~/.m2/repository and repopulated):

[INFO] Scanning for projects...
[WARNING] Failed to retrieve plugin descriptor for org.junit.jupiter:junit-jupiter-api:5.0.3: Failed to parse plugin descriptor for org.junit.jupiter:junit-jupiter-api:5.0.3 (/Users/ssanbeg/.m2/repository/org/junit/jupiter/junit-jupiter-api/5.0.3/junit-jupite

[2018-01-18 22:02] ssanbeg commented on #1249
The context in which these occurs in when the pom file contains:

[2018-01-18 22:02] ssanbeg commented on #1249
...        <plugin>
          <groupId>org.junit.platform</groupId>
          <artifactId>junit-platform-runner</artifactId>
          <version>1.0.3</version>
        </plugin>
        <plugin>
          <groupId>org.junit.vintage</groupId>
          <artifactId>junit-vintage-engine</artifactId>
          <version>4.12.3</version>
        </plugin>
      </plugins>
    </pluginManagement>

[2018-01-18 22:03] ssanbeg commented on #1249
The context of this occurs when the POM contains:

`        ...
         <plugin>
          <groupId>org.junit.platform</groupId>
          <artifactId>junit-platform-runner</artifactId>
          <version>1.0.3</version>
        </plugin>
        <plugin>
          <groupId>org.junit.vintage</groupId>
          <artifactId>junit-vintage-engine</artifactId>
          <version>4.12.3</version>

[2018-01-18 22:05] ssanbeg commented on #1249
The context in which this occurs is when running a POM containing:

[2018-01-18 22:07] ssanbeg commented on #1249
The context in which this occurs is when running a POM containing:

[2018-01-19 07:01] 01010w4 commented on #809
Hi!
I use jdk1.8.0_152, testng 6.13.1 maven-surefire-plugin - 2.20.1, jenkins-2.89.3(MSI).
And have the following error while running item from jenkins, but while running from intellij Idea 2017.3.2, tests run successfully. What is the reason of errors in Jenkins.

`[ERROR] Failed to execute goal org.apache.maven.plugins:maven-surefire-plugin:2.20.1:test (default-test) on project marketplace.auto.

[2018-01-19 07:03] Tibor17 commented on #809
See this folder if there are any dump files
C:\Program Files (x86)\Jenkins\marketPlaceQAtests\target\surefire-reports
See the test failures before summary in your log file.
Did you setup timeouts in Surefire or in Jenkins CLI?

On Fri, Jan 19, 2018 at 8:01 AM, 01010w4 <notifications@github.com> wrote:

--
Cheers
Tibor

[2018-01-19 07:04] fbiville commented on #809
Hi! This issue is about Junit, not TestNG, feel free to open another issue or find a relevant one.

[2018-01-19 10:54] uhafner opened #1250 "JavaElementsResolver should not warn about abstract classes with test methods"
## Overview

I have an [abstract base class](https://github.com/jenkinsci/analysis-model/blob/master/src/test/java/edu/hm/hafner/analysis/AbstractParserTest.java) that contains a test case. When I run the tests using maven then the class `org.junit.jupiter.engine.discovery.JavaElementsResolver` logs the warning:

[code]
Expected behavior: there should be no warning.

Versions:
Java 8
Maven 3.5.2
p

[2018-01-19 11:18] marcphilipp opened #1251 "Merge milestone and RC release notes for 5.1"
## Deliverables

- [ ] Merge milestone and RC release notes for 5.1

[2018-01-19 11:31] sbrannen commented on #1250
_investigating_

[2018-01-19 11:54] sbrannen commented on #1250
With JUnit Jupiter **5.0.3**, the warning is no longer displayed:

[code]

I am therefore closing this issue as _invalid_ since the issue has been addressed in the latest official release.

[2018-01-19 11:59] sbrannen commented on #1250
**FYI**: #1153 changed the log level from `WARN` to `DEBUG`.

Thus, the log statement is still generated; however, it's simply not displayed on the console by default.

[2018-01-19 12:52] sbrannen opened #1252 "Ensure test classes cannot be private"
## Overview

If a test class is discovered via class path or module path scanning, it cannot be `private`; however, if the test class is _selected_ explicitly (e.g. via `DiscoverySelectors.selectClass(Class)`) it can then be `private`.

The downside is that such `private` test classes will **never be executed** with a typical build configuration that relies on class path or module path scanning.

[2018-01-19 12:53] sbrannen commented on #1252
_in progress_

[2018-01-19 12:59] marcphilipp commented on #1249
These artifacts are not plugins and belong into the `dependencyManagement` or `dependencies` section rather than the `pluginManagement` section.

[2018-01-19 12:59] #1249 closed

[2018-01-19 13:11] marcphilipp commented on #1248
We're going to provide a way to execute a test (for #20 and #60) using a custom "ExecutorService"-like interface. The "Executable" we're planning to hand to this "ExecutorService" would, when executed, fire events to `EngineExecutionListeners`. I'm not sure if that would suit your needs or whether you need something more fine-grained.

Is this request different from #1145?

[2018-01-19 13:48] marcphilipp commented on #1248
I don't think providing an `ExecutableInvoker`would be sufficient. All extension code should also be executed inside the Arquillian container, shouldn't it? In addition, the class-level `@BeforeAll`/`@AfterAll` methods would have to be executed there, too, right?

[2018-01-19 14:14] #1252 closed

[2018-01-19 14:18] sbrannen commented on #1241
last deliverable: _in progress_

[2018-01-19 14:27] sbrannen commented on #1241
Closing this issue since the last task was completed in commit 179dd54547f205b3f5b72d3be4adc25db648c6de.

[2018-01-19 14:27] #1241 closed

[2018-01-19 14:31] sbrannen commented on #1250
On second thought (and since I apparently never actually clicked the "Close" button), I am leaving this open and slated for 5.1 M2 since I think I can improve the code for such situations.

[2018-01-19 15:08] sbrannen commented on #1250
**Results**:

I decided not to change the current behavior, since the log message is only emitted at `DEBUG` level now. Plus, it's good to have this log message available if necessary for diagnostic purposes.

FYI: it is not JUnit that is attempting to run that class. Rather, it is Surefire that picks it up via classpath scanning (based solely on the class name and ignoring the fact that it's `abs

[2018-01-19 15:08] #1250 closed

[2018-01-19 19:46] marcphilipp commented on #1025
With the just release EAP 2018.1, it now also works in IDEA:

![idea-rerun](https://user-images.githubusercontent.com/214207/35168545-9ff84f3c-fd59-11e7-84e4-3484a8fff431.gif)

Thanks for the great work, @akozlova! 🎉

[2018-01-19 19:46] #1025 closed

[2018-01-20 10:52] k1w1m8 commented on #1025
Awesome! Can't wait to try this! Thanks all!

[2018-01-20 15:49] #1209 closed

[2018-01-20 17:43] sbrannen commented on #497
Feature branch merged into `master` in commit 43837920446c24adeb596fcec632d4aaecfbc39d.

[2018-01-20 17:43] #497 closed

[2018-01-21 07:50] dmvk commented on #768
Is there any blocker for this issue? This could make move to junit 5 much less painful for gradle users.

[2018-01-21 14:43] sbrannen commented on #1170
_in progress_

[2018-01-21 16:16] sbrannen commented on #1170
Resolved in `master` in commits 54241c67dc9969134c9108408556611f6d9d1980 and e053eea82ced73e010a85f4f6a1be2a2d17d13e3.

[2018-01-21 16:16] #1170 closed

[2018-01-21 16:49] TimvdLippe opened #1255 "Fresh checkout of source fails with GradleScriptException"
## Overview

_Replace the following bullet points with your issue description,
after answering yourself: **"What kind of issue is this?"**_

- ( ) **Question.** This issue tracker is not the place for questions.
If you want to ask how to do something, or to understand why
something isn't working the way you expect it to, use Stack Overflow.
https://stackoverflow.com/questions/tagged/junit5

- (X)

[2018-01-21 16:55] TimvdLippe commented on #1255
Okay, per the Travis build of JUnit I discovered `./gradlew -version`. This showed that it was loading JDK 8 on my machine, even though `java -version` uses JDK 9. Have to investigate further why it is taking this different JDK for this project.

[2018-01-21 17:04] sbrannen commented on #1255
Closing this issue as "works as designed".

Feel free to report back if you continue to encounter problems.

[2018-01-21 17:04] #1255 closed

[2018-01-21 19:20] jbduncan commented on #1255
@TimvdLippe I actually have this same problem. My workaround is to tell Gradle to use Java 9 explicitly, which can be done with a command like the following (if you're willing to use the terminal):

[code]

I believe you can also configure a setting in IntelliJ IDEA to use Java 9 when running Gradle (I don't have it open in front of me ATM - try going into "Settings" and searching for "Gradle" in

[2018-01-21 19:22] jbduncan commented on #1255
Note that I personally use Windows 7, and that I flip between Git Bash, cmd.exe, Powershell and Cygwin when doing things on the terminal, so the exact command you need to enter may be different in subtle ways to the one I gave above. :)

[2018-01-21 19:51] TimvdLippe commented on #1255
@jbduncan Ah that is great advice, thank you very much! I will try it out tomorrow. Would be great if such instructions or pitfalls could be documented in this project, to make sure new contributors do not encounter the same issue. (rather than closing this issue as invalid)

[2018-01-21 20:30] sbrannen commented on #1255
I'm not exactly sure what we would document in this regard since we've already clearly documented the fact that Java 9 is required to build from `master`.

However, I'm about to push a change that will abort the build with the following detailed error when one attempts to execute `gradlew` on JDK 8.

[code]

Note the "*The JUnit 5 build requires Java 9 or higher. Currently executing with Java 8.*"

[2018-01-21 20:36] sbrannen commented on #1255
FYI: I've removed the "invalid" label, rephrased this issue's title, and introduced detailed diagnostics in commit 29c73167c21d2ec9d98418933c6bb445af2c3ed4.

[2018-01-21 20:37] TimvdLippe commented on #1255
@sbrannen Yes that is a lot clearer, thank you very much.

[2018-01-21 20:37] sbrannen commented on #1255
Great!

Thanks for the feedback.

[2018-01-22 09:05] sormuras commented on #483
https://github.com/obecker/gradle-degraph ?

[2018-01-22 12:42] sbrannen commented on #483
worth a try...

[2018-01-22 13:50] jponge commented on #1188
I can confirm we've observed the same behavior with surefire 2.19.1 and the platform support provider 1.0.2.

[2018-01-22 14:02] marcphilipp commented on #1188
@tibor17 Is there a scheduled date for the release that will include the fix?

[2018-01-22 15:45] JLLeitschuh commented on #1170
@sbrannen Can you give a high level explanation of what the solution was?

[2018-01-22 15:56] sbrannen commented on #1170
Sure...... get rid of the regular expressions and use basic index-based text parsing instead.

Or did you want more details than that? 😉

[2018-01-22 15:57] sbrannen commented on #1170
Basically, the code is in this commit: e053eea82ced73e010a85f4f6a1be2a2d17d13e3

[2018-01-22 15:58] sbrannen commented on #1170
Specifically the changes to `DiscoverySelectors.selectMethod(String)` here:

https://github.com/junit-team/junit5/commit/e053eea82ced73e010a85f4f6a1be2a2d17d13e3#diff-edf29eb7e361599ea92ff18c258be7b9

[2018-01-23 06:36] Tibor17 commented on #1188
Surefire 2.21.0 compliant with Java 9 is about to release quite soon. We
have only one issue to fix and change build process.
I think the users will be able to download artifacts from Maven Central
next week.

On Mon, Jan 22, 2018 at 3:02 PM, Marc Philipp <notifications@github.com>
wrote:

--
Cheers
Tibor

[2018-01-23 06:38] Tibor17 commented on #1188
We fixed Java 10 issue/NPE as well.

On Tue, Jan 23, 2018 at 7:36 AM, Tibor Digana <tibor.digana@googlemail.com>
wrote:

--
Cheers
Tibor

[2018-01-23 16:37] sbrannen commented on #1188
Thanks, @Tibor17!

Glad to hear there will be an official fix soon. 👍

[2018-01-23 20:51] #454 closed

[2018-01-23 23:02] karayv opened #1258 "Certain JUnit Jupiter assertions perform slower than JUnit 4.12's"
## Overview

Accidentally I found out that JUnit 5.0.3 assertion (assertTrue) worked significantly slower comparing to JUnit 4.12.

In my 2 tests I repeat the same assertion many times. One test uses old junit, other - junit5.

https://github.com/karayv/junit-perf-demo/blob/master/src/test/java/my/perftest/JUnit5Test.java
[code]
I was able to pass **288230376151711744 assertions in 1.515 sec with

[2018-01-24 01:03] jbduncan commented on #1258
I believe this issue is related to https://github.com/junit-team/junit5/issues/880. :)

[2018-01-24 01:32] karayv commented on #1258
Oops...
:)

Okay, I took a look myself

It looks like the issue is in creation of _java.util.function.BooleanSupplier_

If I change my JUnit4 test to
[code]
performance degrades to the same level.

[2018-01-24 02:06] karayv commented on #1258
A quick pull-request
https://github.com/junit-team/junit5/pull/1259

[2018-01-24 02:07] jbduncan commented on #1258
My intuition on this is that it's not just `BooleanSupplier`, but all the other lambdas as well which get created by "junit-jupiter-api" and maybe even the rest of the JUnit Platform that cause this performance degradation.

As someone independent of the JUnit 5 team, and from what I've observed so far of Java 8 and the JUnit Platform, it sounds like a worthwhile effort to me to reduce internal la

[2018-01-24 13:10] sbrannen commented on #1258
@karayv, thanks for raising the issue!

And thanks for providing the quick-n-dirty benchmark.

We'll look into it.

[2018-01-24 13:27] sbrannen commented on #1258
I did some quick-n-dirty benchmarking of my own (with a simple for-loop with 1000 iterations), and my empirical results demonstrate that JUnit Jupiter's `assertTrue(boolean)` is on average 1ms slower than JUnit 4's `assertTrue(boolean)`, which is IMHO negligible.

Thus, in order for the team to take any action in this regard, we really need to have some realistic benchmarks that demonstrate a sign

[2018-01-24 13:33] sbrannen commented on #1258
Tentatively slated for 5.1 RC1 in order for the team and community to investigate further prior to the 5.1 GA release.

[2018-01-24 13:56] sbrannen commented on #1258
@karayv, can you please share with us how you _accidentally_ discovered this?

[2018-01-24 17:50] karayv commented on #1258
@sbrannen
Sure, I totally understand your concern, since JUnit probably in 99.9% times not used as a stress tool.

Regarding my discover. I saw a presentation where a presenter was claiming Spring DI is slow. I'm working on performance critical project and we are using Spring, so I wanted to check by myself. I created a module with a test which called a service billion square times, and my IDE was

[2018-01-24 21:49] anamikam1 commented on #586
hi Sam,
Thanks for  your response. I still can't get past the following error. Would it be possible to please take another look at my POM?
Exception in thread "main" java.lang.NoSuchMethodError: org.junit.platform.launcher.Launcher.execute(Lorg/junit/platform/launcher/LauncherDiscoveryRequest;)V
	at com.intellij.junit5.JUnit5IdeaTestRunner.startRunnerWithArgs(JUnit5IdeaTestRunner.java:61)
	at com.

[2018-01-25 14:16] evser opened #1262 "ConsoleLauncher option is not supported"
When I use `--details summary` option, the following exception occurred.
But it's mentioned in documentation
http://junit.org/junit5/docs/snapshot/user-guide/#running-tests-console-launcher-options.

Exception in thread "main" org.junit.platform.commons.JUnitException: Error parsing command-line arguments
        at org.junit.platform.console.options.JOptSimpleCommandLineOptionsParser.parse(JOptSi

[2018-01-25 14:21] #1262 closed

[2018-01-25 14:21] evser commented on #1262
Fixed in 1.0.3

[2018-01-25 14:23] sormuras commented on #1262
`--details summary` is taken from "1.1-SNAPSHOT" or "1.0.3".

[2018-01-25 16:00] Whathecode opened #1263 "`junit-platform-gradle-plugin` requires 'Test' suffix for tests to be discovered"
Currently I am switching from the built-in build system of IntelliJ (Community 2017.3.3) to using Gradle for my project.

I struggled for a long time trying to figure out why when I ran my tests using the 'Platform Test Runner' of IntelliJ, more tests were discovered than when using the `junit-platform-gradle-plugin` (org.junit.platform:junit-platform-gradle-plugin:1.1.0-M1).

After an extensive i

[2018-01-25 16:04] sormuras commented on #1263
See `includeClassNamePattern[s]` here: http://junit.org/junit5/docs/current/user-guide/#running-tests-build-gradle-filters

[2018-01-25 16:21] sbrannen commented on #1263
As @sormuras pointed out, this is documented in the User Guide.

I am therefore closing this issue as "works as designed".

[2018-01-25 16:21] #1263 closed

[2018-01-25 16:24] sbrannen commented on #586
The version for `junit-vintage-engine` should be `4.12.3` (not `4.12.0`).

Also, you don't need to declare the `junit-jupiter-params` dependency twice.

[2018-01-25 16:27] sbrannen commented on #586
Also, it is highly recommended that you use IntelliJ 2017.3 or newer.

[2018-01-25 16:28] sbrannen commented on #586
If you have any further problems, please ask a question on Stack Overflow, since this issue tracker is not intended for Q&A style discussions.

Thanks

[2018-01-25 19:55] rschmitt opened #1264 "junit-vintage-engine coupling to JUnit 4.12"
I noticed that `org.junit.vintage:junit-vintage-engine` had its versioning scheme changed in 1562208a3111d919b5505514baac87912870f533. Since the vintage engine depends directly on JUnit 4.12 (and therefore, transitively, on Hamcrest 1.3), I'm not sure what is going to happen when JUnit 4.13 is released, or how to model these artifacts in my company's build system (which is much stricter than Maven

[2018-01-25 21:04] marcphilipp opened #1265 "Vintage Engine mistakenly executes test methods for non-included/excluded tags"
When using a TagFilter to include/exclude a tag that represents a JUnit 4 category, e.g. `com.acme.Foo`, the Vintage Engine correctly returns a filtered tree of `TestDescriptors` after discovery. However, when executing these `TestDescriptors`, Vintage will run all test methods in a class that contains an included test method.

For example, given the following test class

[code]

and an `includeTa

[2018-01-26 10:31] sbrannen commented on #1258
Well, that likely has nothing to do with the fact that JUnit Jupiter's `assertTrue()` might be slower than JUnit 4's. Rather, the fact that the tests never finished is that you had:

- *1* single test executed in JUnit 4
- *_billion square times_* tests executed in JUnit Jupiter

So the latter probably just overwhelmed the heap and your IDE which was trying to populate a GUI with those *_billion s

[2018-01-26 12:32] sbrannen commented on #1264
No, that should not be necessary.

JUnit Vintage merely requires a minimum of JUnit 4.12. Subsequent releases of JUnit 4 (e.g., 4.13) _should not_ introduce changes that are incompatible with JUnit Vintage.

I say "should not" because they really shouldn't; however, if a subsequent release of JUnit 4 were to be broken in terms of compatibility (albeit highly unlikely), we would address that issue

[2018-01-26 12:32] #1264 closed

[2018-01-26 15:38] sbrannen commented on #1258
@jbduncan, in this case it is in fact just the creation of the `BooleanSupplier`. There is zero other code from JUnit Jupiter or the JUnit Platform that comes into play in his benchmark.

[2018-01-26 20:45] #1265 closed

[2018-01-27 03:26] jaikiran commented on #512
Support for JUnit5 in Ant is currently being implemented. More details here https://www.mail-archive.com/dev@ant.apache.org/msg46487.html and there's a issue in Ant's issue tracker that you can keep a watch on to be notified when the feature is available https://bz.apache.org/bugzilla/show_bug.cgi?id=61796

[2018-01-27 05:35] sormuras commented on #512
This is great news, @jaikiran

Did you see the PR by @dhilario https://github.com/junit-team/junit5/pull/624/files ? If I remember correctly, it was almost ready to run.

[2018-01-27 13:11] sbrannen commented on #1258
This has been addressed in `master` in the following commits:

- 1ac8c653305c608a99f5e8055896ae262aeeb680
- c83d6c1ba49857bb2e99b8a480ed5f854b65bb0b
- 0deced1e8248a17fc47c547a41f642aefef1464e

[2018-01-27 13:11] #1258 closed

[2018-01-27 19:25] marcphilipp commented on #768
We're working with Gradle towards official support so it might be better not to publish it to the Gradle plugin repository in order to avoid confusing future users.

@junit-team/junit-lambda Thoughts?

[2018-01-27 20:34] rschmitt commented on #1264
Fair enough. Thanks for the info!

[2018-01-28 00:40] bobtiernay-okta commented on #801
I'm getting the exact same trace as the above with `2.20.1`.

To summarize, what is the suggested fixed for this?

[2018-01-28 01:06] bobtiernay-okta commented on #801
Debugging this a bit more, I have determined that with:

[code]

my build succeeds as expected.

[2018-01-28 20:28] sbrannen commented on #219
Looks like this was accidentally auto-closed via a commit...

Since we have not yet introduced predefined `@DisabledIf`/`@EnabledIf` variants, I am reopening this issue.

[2018-01-28 20:33] sbrannen commented on #219
Tentatively slated for 5.1 RC1 and "team discussion" to decide if we want to implement a few of the most basic ones before 5.1 GA.

[2018-01-28 21:15] krichter722 opened #1268 "Conditional evaluation of Assert.assertEquals message"
## Overview

In some situations it's convenient to evaluate the `message` argument of `Assert.assertEquals` only if the assertion fails, e.g.

[code]

doesn't work, because `uc.getErrorStream` returns `null` if the request was successful, but it's evaluated for constructing the `message` string and thus fails due to a `NullPointerException`. If there was a possibility to construct `message` in a c

[2018-01-29 11:37] sbrannen commented on #1268
As @jbduncan pointed out, JUnit Jupiter (a.k.a., JUnit 5) has always supported lazy evaluation of assertion failure messages  via a `Supplier<String>` (typically implemented as a lambda expression) for `assert*()` methods in [Assertions](http://junit.org/junit5/docs/current/api/org/junit/jupiter/api/Assertions.html). This is demonstrated in the `standardAssertions()` test method in the [User Guide

[2018-01-29 11:37] #1268 closed

[2018-01-29 13:33] sbrannen commented on #219
Update: added _Candidates for predefined `@DisabledIf`/`@EnabledIf` Variants_ section to issue description.

[2018-01-29 15:58] sbrannen commented on #219
experimentation _in progress_

[2018-01-30 12:05] sbrannen commented on #219
### Proposal

The _proof of concept_ proposal, as can be seen in the feature branch, currently includes the following pairs of annotations.

#### JVM System Properties

[code]
[code]

### Operating System Environment Variables

[code]
[code]

#### Days of Week

[code]
[code]

#### Composed Annotations

Each of these annotations can naturally be used as a meta-annotation to create custom composed a

[2018-01-30 12:08] sbrannen commented on #219
At the moment I have aimed for consistency with regard to naming and style; however, some of the proposed names are rather long.

Thus, I've been considering alternatives like:

- `@EnabledIfSysProp(named = "key", matches = "regex")`
- `@EnabledIfEnvVar(named = "key", matches = "regex")`
- `@EnabledOnDay(MONDAY)`

[2018-01-30 12:20] sormuras commented on #219
I like the long and descriptive names better. The can be read as a complete sentence.

The short ones could also be "senten(ce)-ized":

- `@EnabledIfSystem(property = "key", matches = "regex")`
- `@EnabledIfEnviroment(variable = "key", matches = "regex")`

Mh... 🤔

[2018-01-30 12:20] sbrannen commented on #219
p.s. keep in mind that the current proposal attempts to create a _DSL_ using Java annotations, but users can still declare attributes in the unintended order. For example, it's perfectly valid to declare `@EnabledIfSystemProperty(matches = "regex", named = "key")`, but it does look quite odd.

[2018-01-30 12:23] sbrannen commented on #219
OK

That reads fine, but I'm hesitant to consume the "System" and "Environment" _namespaces_ for this purpose, since we may later want to support other things related to a system or environment.

[2018-01-30 12:42] nikowitt opened #1270 "@MethodSource `value` attribute should not be mandatory"
## Overview

I'm currently playing with JUnit 5, which I really like so far.

[code]

We need `@MethodSource` extensively, but this annotation requires a value. We used a different data provider implementation so far (https://github.com/TNG/junit-dataprovider) where the equivalent of `@MethodSource` has an optional value and just uses the current test method name as method source when nothing is s

[2018-01-30 13:56] nikowitt commented on #1270
A suggestion: https://github.com/junit-team/junit5/pull/1271

[2018-01-30 14:14] sormuras commented on #1270
I like that "smart" default value extraction here.

Will existing compiled tests still work when the API is changed from `String[] value;` to `String[] value default "";`?

[2018-01-30 15:02] sbrannen commented on #1270
Yes, I believe that should be fine.

The method signature will not change; only the _default_ will change.

But previously compiled code always had to declare an actual value, and that value should simply override the default value.

The only thing that would break would be code that looked up the default value via reflection (which would previously have been `null`), but we don't do that, and I d

[2018-01-30 15:05] sbrannen commented on #1270
Of course, it wouldn't hurt to verify my assumptions with some actual smoke-and-mirrors tests from the command running compiled tests against both versions of the API. 😉

[2018-01-30 15:26] sbrannen commented on #1270
Tentatively slated for 5.1 RC1 for "team discussion".

[2018-01-30 20:35] silkentrance commented on #88
@sbrannen a valid position against ``@BeforeAll`` and ``@AfterAll`` being static would be the Spring Framework or any such framework that provides for dependency injection of either configuration or components or services used during the tests.

And, considering that during ``@BeforeAll`` one would establish a required set of data (aka fixtures) in for example a database, one cannot accomplish tha

[2018-01-30 20:46] silkentrance commented on #88
@sbrannen and i do not see why we would need the Scenario abstraction as proposed by #48. perhaps we might be able to accomplish this right now using for example a suitable extension class? Of course, and basically that might be the reason for ``@Before/AfterAll`` are still static is the fact that on instance level one will override existing behaviour inherited from a base test class, e.g.

[code]

[2018-01-30 21:04] jbduncan commented on #219
@sbrannen I admit that I struggle to see how using the words "System" and "Environment" for the purpose of these annotations would prevent their use for other things. Would you kindly clarify things for me? :thinking:

[2018-01-31 10:05] sbrannen commented on #1270
Thanks for adding documentation to the User Guide and introducing an example.

Now we just need:

- test coverage for the new feature in `MethodArgumentsProviderTests` in the `junit-jupiter-params` module, as @marcphilipp requested.
- brief documentation of the "new feature" in the release notes (i.e., `/documentation/src/docs/asciidoc/release-notes/release-notes-5.1.0-M2.adoc`).

Cheers!

[2018-01-31 10:07] nikowitt commented on #1270
Hi, I will do this as soon as possible. Thanks for being so patient with me, I'm very new in using Github and participanting in OSS :)

[2018-01-31 10:07] nikowitt commented on #1270
Hi, I will do this as soon as possible. Thanks for being so patient with me, I'm very new in using Github and participanting in OSS :)

[2018-01-31 10:09] sbrannen commented on #1270
Sure, no problem.

[2018-01-31 10:10] sbrannen commented on #1270
If you feel overwhelmed, we can always take over. You've gotten it pretty far already. 😉

[2018-01-31 10:12] nikowitt commented on #1270
No thanks, I will manage this myself :)

[2018-01-31 13:15] sbrannen commented on #219
Sure...

If we were to introduce annotations named `@EnabledIfSystem(...)` and `@EnabledIfEnvironment(...)`, currently dedicated to system _properties_ and environment _variables_, respectively, those annotations would conflict with any other annotations we may decide to introduce later that also pertain to "system something" and "environment something". So in that sense, based on the names of the

[2018-01-31 13:37] jbduncan commented on #219
@sbrannen Thanks for the detailed explanation! I better understand your concerns now.

I can see now that we may indeed want to use `@EnabledIfSystem` and `@EnabledIfEnvironment` for different interpretations of the words "system" and "environment" for unknown reasons in the future. So I have no problems with rejecting those names and going for ones which are more specific like `@EnabledIfSysProp`

[2018-01-31 13:55] sbrannen commented on #88
Hi @silkentrance,

For starters, *this issue* was only pertinent to the **Alpha** release of JUnit 5 and was closed on Jan 20, 2016 (over two years ago).

More importantly, this issue was superseded by #419 which was closed on Jun 30, 2017.

Thus, it has been possible to have non-static `@BeforeAll` and `@AfterAll` methods for quite some time now.

Please inform yourself of the status quo in JUnit

[2018-01-31 14:38] manueljordan opened #1273 "Documentation: Chart of performance between JUnit 4 vs 5"
Would be possible add a chart about the comparison about performance between JUnit 4 vs 5?

[2018-01-31 14:57] manueljordan opened #1274 "Improve documentation about logManager for Gradle plugin"
Currently in the reference documentation in the [Configuring the JUnit Gradle Plugin](http://junit.org/junit5/docs/current/user-guide/#running-tests-build-gradle-junit-configure) section exists this example:

`logManager 'org.apache.logging.log4j.jul.LogManager'`

Is not clear:

* If that `org.apache.logging.log4j.jul.LogManager` is mandatory or not
* If we are able to change to `logback`, if yes,

[2018-01-31 15:10] marcphilipp commented on #1274
Thanks for letting us know that the documentation is unclear! The `logManager` property is optional. When no `logManager` is set, the default behavior of JUL will kick in. Logback uses a different approach to capture JUL logs: https://stackoverflow.com/a/41592332/6327046

[2018-01-31 15:13] manueljordan commented on #1274
Thanks by the reply, please see my updated post. I will try your suggestion.

[2018-01-31 15:21] manueljordan commented on #1274
I have now:

[code]
Thus working through the _default_ `logManager` and in the dependencies now I have

[code]
The `@Test` method pass, no error shown about the `logManager` **but** the `reports` directory (about `Gradle`) within the `build` directory does not appear

[2018-01-31 15:37] marcphilipp commented on #1274
Unfortunately, the `junitPlatformTest` task does not write any reports at the moment. It merely writes XML files to `build/test-results`. We're working with Gradle at the moment to add support for JUnit 5 to the core `test` task. In the meantime, you could try https://github.com/kncept/junit-reporter.

[2018-01-31 16:02] sbrannen commented on #219
### Proposal for OSes

The _proof of concept_ proposal, as can be seen in the feature branch, now includes the following pair of annotations.

#### Operating Systems

[code]
[code]

### Feedback Requested

Feedback on the naming and style is welcome!

_Please do not comment on the implementation, tests, or lack of documentation at the moment._

[2018-01-31 16:03] manueljordan commented on #1274
Oh I see, thanks by the explanation, correct about `build/test-results`.

So I was wrong, I thought the missing `reports` directory was due the `logManager` configuration. Interesting, could you consider add this situation to the reference documentation? I think is valuable for the community.

Thanks by the two links, I will wait in peace the Gradle support.

Thanks by the advice...

[2018-01-31 19:12] marcphilipp commented on #219
How about `@EnabledOn(WINDOWS)` /`@DisabledOn({LINUX, MAC})`?

[2018-01-31 19:54] sbrannen commented on #219
I'm actually fine with those, @marcphilipp.

In fact, that's how I was going to do it originally, but then we started along the path of being totally consistent across all `@EnabledIf*` and `@DisabledIf*` annotations.

So I've just been sticking with consistency for the sake of consistency.

But... we can certainly decided against consistency in favor of UX if we so desire. 😉

[2018-02-01 03:04] manueljordan opened #1275 "Improve documentation for @ParameterizedTest"
I am migrating a Spring App from JUnit 4 to 5. The purpose is only have the API for JUnit 5.

Currently the following works fine with JUnit **4**

**Alpha**
[code]

After to read the following documentation:

* [3.13. Parameterized Tests](http://junit.org/junit5/docs/current/user-guide/#writing-tests-parameterized-tests)
* [JUnit 5 – Parameterized Tests](https://blog.codefx.org/libraries/junit-5-p

[2018-02-01 11:10] MatousJobanek commented on #1248
Hi,
thanks for your reply and for the links - yeah it is mainly related to the #20 and #1145 - to intercept/replace the execution of the particular phases - whole class or method blocks.

`ExecutableInvoker` is the simplest solution and would be partially sufficient (there are some corner cases) - the execution of the tests inside of the container is invoked by rest calls and then the execution it

[2018-02-01 13:33] sbrannen commented on #219
### Update

I've renamed two of the annotation pairs and renamed their `is` attributes to `value`.

#### Operating Systems

[code]
[code]

#### Days of Week

[code]
[code]

#### Composed Annotations

Each of these annotations can naturally be used as a meta-annotation to create custom composed annotations such as `@EnabledOnWeekends`:

[code]

[2018-02-01 14:25] sbrannen commented on #1270
PR merged into `master` in commit 964618bc15cd0ee80e761bb33e93aa9e192a545e.

[2018-02-01 14:25] #1270 closed

[2018-02-01 15:31] sbrannen commented on #219
FYI: I have moved the "candidates" to the _Deliverables_ section of this issue.

[2018-02-01 19:14] marcphilipp commented on #1275
First of all, thank you for providing feedback – highly appreciated!

So far we've received very positive feedback for `@ParameterizedTest`. So I don't foresee it disappearing. In contrast, I can imagine changing it to `Stable` soon.

Very good point, it's documented in the [User Guide](http://junit.org/junit5/docs/current/user-guide/#writing-tests-parameterized-tests-sources-MethodSource), but no

[2018-02-02 02:59] blindpirate commented on #1265
I've encountered this issue with `5.0.3` just now. It's resolved by `5.1M2`. Could you let me know when `5.1M2` will release? Thanks.

[2018-02-02 03:25] blindpirate opened #1276 "Is there any workaround for using PostDiscoveryFilter on Vintage engine?"
## Overview

### Bug report

Recently I was trying to integrate JUnit 5 and Gradle and encountered a bug, which is `PostDiscoveryFilter` is ignored in `Vintage` engine (similar to #1265 but not exactly same)

[code]

And the output is:

[code]

`5.1M2` solved this issue. However, is there any workarounds for `Vintage` to exclude such tests? I'd like a `5.1` instead of `5.1M2` in production code.

[2018-02-02 05:44] blindpirate opened #1277 "Can't get method details in @Ignore class with Vintage engine"
## Overview

### Bug report

I'm trying to run `Vintage` engine on old JUnit 4 tests and encountered an issue:

[code]

With `org.junit.vintage:junit-vintage-engine:5.1.0-M2` and `org.junit.jupiter:junit-jupiter-engine:5.1.0-M2`, `Jupiter` engine can describe test methods in `@Disabled` class but `Vintage` engine can't describe test methods in `@Ignore` class.

The output is:

[code]

[2018-02-02 06:31] marcphilipp commented on #1277
That's due to how JUnit 4 works: It uses the childless `IgnoredClassRunner` when a test class is annotated with `@Ignore`, i.e. the following code using the JUnit 4 API returns an empty list:

[code]

What's your use case?

[2018-02-02 06:35] marcphilipp commented on #1276
The team will meet today and decide when to release 5.1. It will probably be next week or the week after.

However, we will not make any breaking changes to the Launcher & Engine APIs so using 5.1 M2 should be fine.

Is this a blocker for you?

[2018-02-02 06:35] blindpirate commented on #1277
Thanks for the reply. I expected my JUnit 4 tests with JUnit 4 runner and `Vintage` produce same results, but now they're different. Is there any way to retrieve ignored methods in ignored class via `Vintage`?

[2018-02-02 06:35] marcphilipp commented on #1265
See https://github.com/junit-team/junit5/issues/1276#issuecomment-362499592.

[2018-02-02 06:37] marcphilipp commented on #1277
Running `VintageTest` with JUnit 4 does produce the same result, doesn't it?

[2018-02-02 06:40] blindpirate commented on #1276
Thanks!

[2018-02-02 06:40] #1276 closed

[2018-02-02 07:40] marcphilipp commented on #1277
It's not a bug but I think we can improve it in the Vintage engine so it's more consistent. Thus, I'm reopening this issue. 🙂

[2018-02-02 11:21] marcphilipp commented on #219
Team decision: Only introduce `@Enabled*`/`@Disabled*` for system properties, environment variables, OSes, JVM versions.

[2018-02-02 13:33] marcphilipp commented on #542
@littleclay You can publish the timing data from your extension using `ExtensionContext.publishReportEntry()` and consume it in `TestExecutionListener.reportingEntryPublished()`. However, it currently only supports strings.

It does, but I think it may be a different extension point as pointed out by @sormuras in https://github.com/junit-team/junit5/issues/542#issuecomment-285936859.

@TpSr52 No,

[2018-02-02 14:47] sbrannen commented on #219
### Proposal for Java Runtime Environment versions

The _proof of concept_ proposal, as can be seen in the feature branch, now includes the following pair of annotations.

#### JRE Versions

[code]
[code]

### Feedback Requested

Feedback on the naming and style is welcome!

_Please do not comment on the implementation, tests, or lack of documentation at the moment._

[2018-02-02 17:32] sormuras commented on #1169
Kotlin 1.2.30-EAP was just released: https://discuss.kotlinlang.org/t/kotlin-1-2-30-eap/6479

It will fix this issue. See PR #1278 "Upgrade to Kotlin 1.2.30"

[2018-02-03 11:47] sormuras opened #1279 "Remove unused declarations from code base"
## Overview

Commit https://github.com/junit-team/junit5/commit/6cb99541c09263ced74af1bcf2eb100328a02a17 removed dead code from `AnnotationUtils`. This issues tracks more dead code - meaning unused declarations - that should be deleted. A declaration is also regarded as unused if only tests refer to it.

## Marked For Removal

- ~Unused `private` constructor~: [ClasspathResourceSource.java#L76](ht

[2018-02-03 18:00] sbrannen opened #1280 "Introduce unit tests for predefined @Disabled*/@Enabled* variants"
## Overview

This issue picks up where #219 left off.

## Deliverables

- [x] Introduce dedicated unit tests for `EnabledIfSystemPropertyCondition`.
- [x] Introduce dedicated unit tests for `DisabledIfSystemPropertyCondition`.
- [x] Introduce dedicated unit tests for `EnabledIfEnvironmentVariableCondition`.
- [x] Introduce dedicated unit tests for `DisabledIfEnvironmentVariableCondition`.
- [x] In

[2018-02-03 20:10] sbrannen commented on #219
This issue has been resolved in latest commits pushed to `master`.

[2018-02-03 20:10] #219 closed

[2018-02-03 20:50] #1277 closed

[2018-02-03 23:27] blindpirate commented on #1277
Thanks @marcphilipp , that's amazing improvement!

[2018-02-04 15:24] marcphilipp opened #1281 "Fix or remove PDF version of User Guide"
Fix the PDF version of the user guide OR remove the link to it from the top of the User Guide.

[2018-02-04 15:26] sormuras commented on #1281
Tried to fix it last week. Did not work out: https://github.com/jruby/jruby/issues/4805#issuecomment-361215636

[2018-02-04 15:28] marcphilipp opened #1282 "Document module path requirements for running junit-jupiter-engine"
Document that junit-jupiter-engine does not ship with a module descriptor but requires java.scripting and can be run using `--add-modules ALL-MODULE-PATH,ALL-DEFAULT`.

[2018-02-05 01:32] Pr0methean opened #1283 "@ParameterizedTest times out unless @MethodSource factory has a side effect"
## Bug Report

Using: JUnit 5.0.3

In https://github.com/GlowstoneMC/Glowstone/pull/842/files#diff-05705156f52e5f6dbc6cadca3fb637d1R31 the test suite begins reporting "Killed" on CircleCI if I remove the `System.err.println` call.

Maybe an "optimization" of side-effect-free `@MethodSource` methods is backfiring?

[2018-02-05 14:02] manueljordan commented on #1275
Hello Marc

Thanks. I think any feedback for this software must be shared

Sounds great!

I understand. Thanks by the explanation.

Interesting, I understand the idea just a 50%, a snippet code or example code about what would be available in the future would nice to complement the idea.

**Omicron**

I did realize the following in `JUnit` **5**, if in one Test class I have the following together,

[2018-02-05 14:57] sbrannen commented on #1283
I cloned your fork, modified the `@MethodSource` factory method as below, and the `ParticleTest` class executes without any problems.

[code]

Running on:

[code]

Are you perhaps using older versions of the JDK or Maven?

[2018-02-05 17:05] jaredholdcroft commented on #970
Hi. Is it ok if I take a look at this? I'm keen to make a contribution to the project and this looks like a good place to start.

[2018-02-05 18:49] marcphilipp commented on #970
@jaredholdcroft Sure, go ahead!

[2018-02-05 20:38] manueljordan opened #1284 "Migration to JUnit 5: Correct configuration about static nested classes"
I have the following code for:

* Spring Framework `4.3.x`
* JUnit `4.x`

The following works fine (the experience is already shared in: [Testing one Spring Test Class for many different set of profiles](https://stackoverflow.com/questions/47816959/testing-one-spring-test-class-for-many-different-set-of-profiles))

**Alpha**

[code]

Thus practically through a _static nested class_  (mandatory be

[2018-02-06 03:15] blindpirate opened #1285 "Vintage 5.1.0-RC1 executes @BeforeClass before [runner:VintageBeforeClass$VintageTest] event"
## Overview

This is a bug report. Different behaviors are observed after upgrading to `5.1.0-RC1`:

[code]

With `org.junit.vintage:junit-vintage-engine:5.1.0-M2`:

[code]

With `org.junit.vintage:junit-vintage-engine:5.1.0-RC1`:

[code]

`5.1.0-RC1` executes the `@BeforeClass` method before the `[runner:VintageBeforeClass$VintageTest]` event is triggered. This makes us unable to track which clas

[2018-02-06 07:42] marcphilipp commented on #1285
Thanks for reporting this issue! I know what I've done to cause this. I'll fix ASAP.

[2018-02-06 09:01] sormuras commented on #1285
When this fixed on master, you may refer to our snapshot builds at `https://oss.sonatype.org/content/repositories/snapshots` for re-testing, @blindpirate.

[2018-02-06 09:03] blindpirate commented on #1285
Thanks! @sormuras @marcphilipp

[2018-02-06 10:02] sormuras commented on #1282
This is the stacktrace produced on OpenJDK 10-ea+42:
[code]

[2018-02-06 10:13] sormuras commented on #1282
We should catch that exception while creating the `ExtensionRegistry` and remember the "missing" class for when/if scripting is used the for first time. Then we should emit an error message and mark the annotated tests as "broken" by raising a `ScriptEvaluationException`.

Reasoning:  using script-based `@DisabledIf` or `@EnabledIf` annotation will not be common, most conditional test execution wi

[2018-02-06 10:51] marcphilipp commented on #1282
I think we should try to go that route for now. However, I think we should fail all tests that use `@EnabledIf`/`@DisabledIf` with clear instructions how to solve the problem. Maybe we can check for `javax.script.ScriptException` in `ExtensionRegistry` and only if it's available register the extension by default. Otherwise, we should register an `Extension` that throws an exception when `@EnabledI

[2018-02-06 12:36] sbrannen commented on #1284
That should not be a problem with JUnit Jupiter.

Static nested classes are equivalent to top-level classes in that each such test class can be executed independently.

With the example you have provided you should therefore be able to execute all `static` nested classes in your **Beta** section separately (in the IDE) or simultaneously if you select the containing package.

[2018-02-06 12:44] sbrannen commented on #1284
Ignoring everything from Spring (which does not influence how tests are discovered or executed within JUnit Jupiter), I have reduced your **Beta** example to the following:

[code]

And that outputs the following as expected:

[code]

I am therefore closing this issue as "works as designed".

For future reference please post the simplest version of your tests and exclude the use of third-party fra

[2018-02-06 12:44] #1284 closed

[2018-02-06 12:47] manueljordan commented on #1284
Thanks by the reply.

But how I have reported I have confirmed that **Beta** never is executed. I mean, the two static nested classes never were executed.

[2018-02-06 12:48] manueljordan commented on #1284
I have seen your new comment, I will try your code version. I want confirm this. Thank you

[2018-02-06 12:49] sbrannen commented on #1284
Well, the output I included proves that the static nested classes are in fact executed (verified in Eclipse 4.7.2).

How are you trying to execute them?

[2018-02-06 12:56] manueljordan commented on #1284
I execute through `Jenkins` through a `Gradle` command for a multimodule project, in this case the command is: `gradle :junit-01-service-impl:junitPlatformTest --parallel`.

The same command shown above works fine for the three outer classes, but for the outer with the two static nested classes nothing happens

[2018-02-06 13:03] marcphilipp commented on #1284
It may have to do with the names of the classes. Are you using the default `includeClassNamePattern` (`^.*Tests?$`)?

[2018-02-06 13:03] manueljordan commented on #1284
Interesting, I have tried:

[code]

Nothing happens ...

[2018-02-06 13:07] manueljordan commented on #1284
Correct @marcphilipp now works if I use: `ForJdbcTest` and `ForHibernateTest` (`Test` pattern used in the final of each name). Why the sample code of Sam did work and not mime? Something special does the `Gradle` plugin? ..... It works without any problem in `JUnit` 4

[2018-02-06 13:10] marcphilipp commented on #1284
Sam used Eclipse to execute them explicitly. You used our Gradle plugin which does classpath scanning with a pattern that did not include them.

[2018-02-06 13:11] marcphilipp commented on #1284
The same thing would happen if you name a top-level class `Foo`: Eclipse would run it but our classpath scanning wouldn't find it.

[2018-02-06 13:12] manueljordan commented on #1284
Thanks by your explanation and your time to both. Sorry to bother you but I thought it could be a potential bug. Just all, you know, if it worked in JUnit 4, why not in 5. Thanks by your valuable and friendly support.

[2018-02-06 13:14] manueljordan commented on #1284
Could you share please the link about the Gradle situation to generate the `Test Report`? We talk about this in other post. I want track that "request" for that feature. Thanks.

[2018-02-06 13:18] marcphilipp commented on #1284
Currently there's a community-written extra Gradle plugin to generate a report:
https://github.com/kncept/junit-reporter

However, native support for Gradle (including the ability to generate a report) is being worked on at the moment by the Gradle team and is currently slated for Gradle 4.6.

[2018-02-06 13:20] manueljordan commented on #1284
Thanks by the quick reply and information.

Yes, I want to know if exists a `GitHub` request about the native support. I want keep a track for that. Is there a link for that? or is handled internally?

[2018-02-06 13:26] marcphilipp commented on #1284
https://github.com/gradle/gradle/pull/4116

[2018-02-06 13:28] #1285 closed

[2018-02-06 13:28] manueljordan commented on #1284
Thanks a lot!

[2018-02-06 13:48] sbrannen commented on #1285
@blindpirate

FYI: @marcphilipp fixed the bug in a0a4d6dbbb0e2e1b5066c93a3fd0ce59c688ca3f.

So you should be able to try out the fix in the next snapshot.

[2018-02-06 13:49] blindpirate commented on #1285
Sounds great, thanks! @sbrannen

[2018-02-06 14:46] sbrannen opened #1287 "Document composability of @Enabled*/@Disabled* annotations"
## Deliverables

- [x] Add paragraph to JavaDoc for each `@Enabled*`/`@Disabled*` annotation explaining that only one such annotation will be discovered in the current release, etc.
- [x] Add `NOTE` to User Guide for `@Enabled*`/`@Disabled*` annotations explaining that only one such annotation will be discovered in the current release, etc.

[2018-02-06 15:31] sbrannen commented on #1258
In case anyone is interested, running the following against `master`:

[code]

Results in results similar to the following:

[code]

So it would appear that JUnit Jupiter is now actually faster than JUnit 4 (for a basic `assertTrue(boolean)` invocation)... until the JIT improves the performance of JUnit 4. 😉

[2018-02-06 15:33] sbrannen commented on #1258
But take that with a grain of salt: it's not a benchmark.

In any case, I'd say the two are _comparable_ now.

[2018-02-06 16:04] sbrannen commented on #1283
@Pr0methean

Ping!

[2018-02-06 21:52] Pr0methean commented on #1283
Looking into it.

[2018-02-06 22:12] Pr0methean commented on #1283
I'm using Maven 3.5.2 and Java 1.8.0_151
[code]

[2018-02-06 22:18] Pr0methean commented on #1283
I haven't been able to get the versions on previous runs, but the test now works with `sbrannen`'s refactor.

[2018-02-07 09:02] Navsony commented on #809
@01010w4  : Did you get any solution for this issue Failed to execute goal org.apache.maven.plugins:maven-surefire-plugin:2.20.1:test (default-test) .

Even I am facing the same issue .

jdk 9.0.1, testng 6.13.1 & maven-surefire-plugin - 2.20.1. I am directly running from eclipse IDE(pom.xml )

 ------------------------------------------------------------------------
[INFO] BUILD FAILURE
[INFO] --

[2018-02-07 09:04] marcphilipp commented on #809
@Navsony Please downgrade to Surefire 2.19.1 for now. We're waiting on Surefire 2.21 to move forward.

[2018-02-07 09:05] ilgrosso commented on #809
As @fbiville noted 19 days ago for @01010w4 , dear @Navsony why are you looking for TestNG support in this project? Did you notice it's named `junit-team/junit5`?

[2018-02-07 09:53] sbrannen commented on #1283
Thanks for the feedback!

I will now close this issue.

[2018-02-07 09:53] #1283 closed

[2018-02-07 10:18] Navsony commented on #809
@ilgrosso, sorry i didn't notice it. i just saw the issue description. so replied to it.

[2018-02-07 10:26] Navsony commented on #809
@marcphilipp Getting same error even after changing it to 2.19.1

[2018-02-08 07:44] sormuras commented on #1282
At the moment there's no dedicated "Java 9+" section in the user-guide. Only the main README has a small section regard module names: https://github.com/junit-team/junit5#java-9-module-names

The documentation to be delivered by this issue would make more sense if it was embedded in a dedicated **JUnit Platform on JPMS** section.

[2018-02-08 16:18] sbrannen commented on #1280
_in progress_

[2018-02-08 16:57] KMGraf opened #1289 "Cannot access `package-list` in published Javadoc"
## Bug Report for JUnit 4

`javadoc -link http://junit.org/junit4/javadoc/latest` (i.e. referring JUnit 4's Javadoc pages from 3rd-party Javadoc pages) no longer works because http://junit.org/junit4/javadoc/latest/package-list disappeared.

### Deliverables

- [x] See https://github.com/junit-team/junit5/issues/1289#issuecomment-364247470

## Bug Report for JUnit 5

An upgrade in the JDK used to

[2018-02-08 17:15] sbrannen commented on #1289
Please note that this is the issue tracker for JUnit 5 (not for JUnit 4).

Are you referring to a link to JUnit 4 from the JUnit 5 User Guide or the JavaDoc for JUnit 5?

If not, please open an issue against [JUnit 4](https://github.com/junit-team/junit4/issues).

[2018-02-08 20:48] marcphilipp commented on #1289
Related issue: https://github.com/junit-team/junit4/issues/1500

[2018-02-08 21:03] marcphilipp commented on #1289
I've disabled Cloudflare's Browser Integrity Check.

@KMGraf Can you please try again?

[2018-02-08 21:08] marcphilipp commented on #1289
Oh, have you tried using HTTPS?

[2018-02-08 23:38] KMGraf commented on #1289
I changed to https which alone did not help. But now after your change everything is ok again. Thank you for your quick response.

[2018-02-09 12:09] #1282 closed

[2018-02-09 13:37] sbrannen commented on #1280
Unit tests for all 8 conditions have pushed to `master`.

[2018-02-09 13:37] #1280 closed

[2018-02-10 07:16] sormuras commented on #1099
- Same issue on Jenkins: https://junit.ci.cloudbees.com/blue/organizations/jenkins/JUnit5/detail/issues%2F1099-pdf-user-guide/1/pipeline
On Windows the PDF is created. On Linux it still fails with the error listed above.

- Add `org.jruby:jruby-complete:9.1.15.0` to the `asciidoctor` dependencies: https://junit.ci.cloudbees.com/blue/organizations/jenkins/JUnit5/detail/issues%2F1099-pdf-user-guide/

[2018-02-11 08:46] #1279 closed, assigned to sormuras

[2018-02-11 08:51] sormuras commented on #1281
See #1099 for details -- i think, we have to remove the link to the PDF or upload it manually.

Try this branch https://github.com/junit-team/junit5/compare/issues/1099-pdf-user-guide to "fix" the PDF generation.

[2018-02-11 12:13] mvysny opened #1292 "Add hooks to DynamicContainer which execute beforeall/afterall tests"
## Overview

### Feature request

I'm building a very simple test framework https://github.com/mvysny/dynatest . I would like to add a simple functionality akin to `@BeforeAll`/`@AfterAll`; a code in DynamicContainer that would be run by JUnit5 before/after all nested tests are run.

Implementation proposal: the `DynamicContainer` could have two more fields, `public Runnable beforeAll = null` and

[2018-02-11 12:24] mvysny opened #1293 "Enhance DynamicNode with optional TestSource property"
## Overview

### Feature request

Hi! I'm building a very simple test framework https://github.com/mvysny/dynatest which basically constructs a tree of dynamic containers/tests. The tests are nicely run by Intellij and visualized as a tree. However, selecting any dynamically generated test in the Intellij's "Run" tool window does nothing. I presume that's because the `DynamicNode` lacks the refere

[2018-02-11 17:46] sormuras commented on #1292
@junit-team/junit-lambda  I'm reluctant to add this feature to dynamic test generation and execution. It mimics the lifecycle of what Jupiter already provides.

Maybe you can implement `dynatest` using [Test Templates](https://junit.org/junit5/docs/current/user-guide/#writing-tests-test-templates) instead?

[2018-02-11 17:54] sormuras commented on #1293
What do you mean with "selecting"? "Jump to Source [F4]"?

Navigating to the source method, the method that is annotated with `@TestFactory`, works for me regardless of the depth of nested dynamic containers. I'm using IDEA 2018.1 EAP.

[2018-02-12 06:49] mvysny commented on #1293
Yes, exactly. Sorry for the misunderstanding.

Yes, navigating to the sources of the `@TestFactory`-annotated method works; however navigating to the source method of any dynamic test/container produced by such method does not work for me (using 2017.3).

My framework can provide exact locations for all dynamic tests: the dynamic test is created by calling the `test` function and hence I can detec

[2018-02-12 08:32] mvysny commented on #1292
The Test Templates seems to be very complex; also they allow reuse on the granularity of methods only, and not classes.

Please allow me to digress here from the original feature request. My use-case was to have a test battery for, say, an interface, which I could run on any concrete implementation of that interface. Typically with JUnit you create an abstract test class, then extend it for every

[2018-02-12 09:43] sormuras commented on #1293
Thanks for the explanation. I did a small proof-of-concept hack and the result works like a charm: the jump ends at individual text files that are used as expected fixtures of the `ConsoleDetailsTests`.

One major issue is that `TestSource` is part of `org.junit.platform.engine` which can't be referred to by `DynamicNode` residing in `org.junit.jupiter.api`.

@junit-team/junit-lambda what do you t

[2018-02-12 09:56] mvysny commented on #1293
@sormuras You're right - now `F4` jumps to the `@TestFactory`-annotated method; it must have been a glitch in my IDE which fixed by restart.

Still it would be better if pressing `F4` on a dynamic test would jump towards the actual test body instead of the `@TestFactory` method. Yet I agree it's not simple, precisely because `TestSource` is not present in `org.junit.jupiter.api`.

[2018-02-12 15:14] LucasBullen opened #1294 "JUnit5 Platform Launcher API - Cannot create Launcher without at least one TestEngine"
I am attempting to upgrade the testing abilities of our automated testing suite to accept JUnit5 tests and when following The [JUnit Platform Launcher API instructions][1] I get the error **"Cannot create Launcher without at least one TestEngine; consider adding an engine implementation JAR to the classpath"**. The cause is that the following is unable to find any instances of `TestEngine`:

[code

[2018-02-12 15:18] sbrannen commented on #1099
oh well... 😞

[2018-02-12 15:41] sbrannen commented on #1292
Have you considered using _testing traits_ instead?

See [Test Interfaces and Default Methods](https://junit.org/junit5/docs/current/user-guide/#writing-tests-test-interfaces-and-default-methods) for details.

[2018-02-12 15:50] sbrannen commented on #1293
This is a duplicate of #1178.

I am therefore closing this issue.

[2018-02-12 15:50] #1293 closed

[2018-02-12 16:00] sbrannen commented on #1294
Have you considered asking your question within the Eclipse issue tracker?

I imagine someone there could help you much better than we can. 😉

@noopur2507, thoughts?

[2018-02-12 16:32] sbrannen commented on #1178
Related to:

- #434
- #1293

[2018-02-12 17:00] LucasBullen commented on #1294
Overarching issue being tracked here: https://bugs.eclipse.org/bugs/show_bug.cgi?id=531057

[2018-02-13 12:40] sbrannen commented on #1294
Thanks

[2018-02-13 12:53] sbrannen commented on #1191
Hi @hglasgow,

Thanks for submitting PR #1290.

Unfortunately that is not the direction we would want to go.

If we do anything along these lines, it would have to be a general-purpose `ArgumentConverter` that can be applied to the arguments for any `@ParameterizedTest`. In other words, we would not limit the support to just `@CsvFileSource`. Similarly, we would not bake the support into a single

[2018-02-13 14:36] sbrannen commented on #839
I agree: that's fragile at best.

In your example it's obviously true that static initialization blocks of the test class are not invoked prior to invocation of `BeforeAllCallback` callbacks. That's because there is no "active use" of the class prior to that.

However, the following (a bit contrived) example demonstrates that that will not always be the case.

[code]

If any other class _actively

[2018-02-13 18:26] noopur2507 commented on #1294
It can be tracked further in the Eclipse bug.

[2018-02-14 08:56] sbrannen commented on #1294
Thanks! 🙇

I'll close this issue now.

[2018-02-14 08:56] #1294 closed

[2018-02-14 15:11] childnode commented on #576
still, `junitPlatform.platformVersion` can't be used as reference for further compile dependencies as it is only set if you set it manually, any way to get out of this issue?

[2018-02-14 15:13] childnode opened #1295 "How to use slf4 in gradle as logger"
https://junit.org/junit5/docs/current/user-guide/#running-tests-build-gradle-junit-configure
only shows up to use jul to log4j ... but gradle typically logs via slf4

related to / tried to workaround https://github.com/junit-team/junit5/issues/1166

[code]

still ends up in
`ERROR StatusLogger Log4j2 could not find a logging implementation. Please add log4j-core to the classpath. Using SimpleLogge

[2018-02-14 15:13] childnode commented on #780
releated? https://github.com/junit-team/junit5/issues/1166

[2018-02-14 16:20] childnode commented on #1166
ℹ️  as I see today, output has been suppressed since `id 'org.junit.platform.gradle.plugin' version '1.0.3'`

[2018-02-14 16:23] sbrannen commented on #1295
The JUnit Platform uses JUL (java.util.logging). Thus if you want to use sl4fj, you'll need to configure the JUL support for sl4fj.

In any case, I am closing this issue as a _duplicate_ of #1274.

So please feel free to follow that issue and add comments there.

[2018-02-14 16:23] #1295 closed

[2018-02-14 16:24] sbrannen commented on #1274
Related to #1295.

[2018-02-14 16:28] childnode commented on #1295
thx @sbrannen for pointing out #1274

[2018-02-16 04:27] jaikiran commented on #512
Hi @sormuras, I hadn't seen that PR before. I had a look at it now. The approach I followed in my effort to build this integration is a bit different than what's there in the PR you pointed to.

In the approach that I followed, the new `junitlauncher` task (which is what I call it) is a bit more "native" to Ant. What I mean by that is, it follows/uses existing Ant constructs that users who are fam

[2018-02-16 10:49] sbrannen commented on #316
Tentatively slated for 5.1 GA.

Note, however, that it would be perfectly fine to _publish_ a BOM for 5.1 GA artifacts _after_ 5.1 GA has been released. Ideally we would release the BOM at the same time, but it is technically not an absolute must.

[2018-02-16 11:47] sbrannen commented on #512
@jaikiran, that's looking quite good!

So, your work will be the official Ant support for the JUnit Platform -- is that correct?

If so, I'll close this issue.

[2018-02-16 12:02] jaikiran commented on #512
Yes, that's correct. We currently have a dev discussion going on and a PR [1] open which will be reviewed and merged, depending on some of our upcoming Ant release schedule.

[1] https://github.com/apache/ant/pull/60

[2018-02-16 12:23] sbrannen commented on #512
That's great news!

Thanks for the feedback, @jaikiran.

I am therefore closing this issue since an upcoming release of Ant will provide JUnit Platform support out of the box.

[2018-02-16 12:23] #512 closed

[2018-02-16 12:30] sbrannen commented on #512
@jaikiran, I couldn't find your Twitter handle... that I wanted to include in this tweet: https://twitter.com/sam_brannen/status/964476615160942592

[2018-02-16 13:02] sbrannen commented on #1287
Resolved in commit 544ff56e957f7a8c09d928f55a1e2b98d918e602 in `master`.

[2018-02-16 13:02] #1287 closed

[2018-02-16 13:33] jaikiran commented on #512
@sbrannen, I don't have a twitter account :) Thanks for tweeting it to a wider audience!

[2018-02-16 14:57] jponge commented on #1188
@Tibor17 Any update on the 2.21.0 release?

[2018-02-16 16:30] marcphilipp commented on #1281
Starting from the feature branch, I fixed embedded images and links to Javadoc and enabled the `pdf` backend on Mac and Windows (it does currently not work on Linux). Thus, we're good to go wrt. the release. Fixing it for good will be addresses in #1099.

[2018-02-16 16:30] #1281 closed

[2018-02-16 16:48] sbrannen commented on #1281
I agree that it's "good enough" for now.

Thanks for fixing it guys!

And... I'll add some todos in #1099 for the broken links.

[2018-02-16 16:49] sbrannen commented on #1099
FYI: I added deliverables for the broken links

[2018-02-16 18:06] Tibor17 commented on #1188
We will postpone one issue in another release 2.21.1 and we can wait to
Jenkins build to complete. If everything goes right I will start the
release vote on Apache these days.

On Fri, Feb 16, 2018 at 3:57 PM, Julien Ponge <notifications@github.com>
wrote:

--
Cheers
Tibor

[2018-02-17 06:11] mattcsully commented on #809
I am seeing similar issues with:

Apache Maven 3.5.2 (138edd61fd100ec658bfa2d307c43b76940a5d7d; 2017-10-18T01:58:13-06:00)
Maven home: C:\Program Files\apache-maven-3.5.2\bin\..
Java version: 9.0.4, vendor: Oracle Corporation
Java home: C:\Program Files\Java\jdk-9.0.4
Default locale: en_US, platform encoding: Cp1252
OS name: "windows 10", version: "10.0", arch: "amd64", family: "windows"

maven-cl

[2018-02-17 11:12] marcphilipp commented on #809
@mattcsully Have you tried using 2.19.1?

[2018-02-17 11:55] marcphilipp commented on #1275
Yes, we've plans to add something like this, see https://github.com/junit-team/junit5/issues/878#issuecomment-354544841.

[2018-02-17 11:56] #1275 closed

[2018-02-17 12:13] manueljordan commented on #1275
Thanks for that link ...

[2018-02-17 12:47] codecholeric commented on #839
Okay, I guess this concrete example makes it even more clear, that relying on the order of static vs beforeAll is a bad idea :wink:
I guess the lazy mechanism is the only choice then...

[2018-02-17 13:18] #1274 closed

[2018-02-17 14:38] sbrannen commented on #839
_We're still pondering that._

In other words, we're basically waiting to see if the community at large really needs such a feature (i.e., whether it warrants inclusion in the extension API).

[2018-02-17 16:30] omints opened #1296 "Null elements (excepts the first one) in @CsvSource are interpreted as empty elements"
## Bug Report

Last null element in `@CsvSource` is interpreted as an empty element. The error arrived `junit-jupiter-params` with version `5.0.2`, just before (in versions 5.0.0 and 5.0.1) this error has not existed. To repeat the error you need one "non null" CSV-Line before (as a single "null" CSV-Line it works as designed).

This test runs under 5.0.1 but fails under 5.0.2 and later.

[code]

[2018-02-17 16:45] sbrannen commented on #1251
_unasigned_

[2018-02-17 16:51] sbrannen commented on #316
**Update**:

I overhauled this issue's description and added deliverables.

The name of the BOM is up for debate, but I believe `junit-bom` is a suitable name since:

1. JUnit never had a BOM before.
2. The BOM has to include version information for artifacts from the Platform, Jupiter, _and_ Vintage.

[2018-02-17 16:52] sbrannen commented on #316
So, I guess the main question is: _what should be the Group ID of the BOM be_?

[2018-02-17 16:54] sbrannen commented on #316
Spring's BOM is published as `compile 'org.springframework:spring-framework-bom:5.0.3.RELEASE'`.

So I'm thinking JUnit's should be published as `compile 'org.junit:junit-bom:5.1.0'`.

@junit-team/junit-lambda, thoughts?

[2018-02-17 16:58] sbrannen commented on #316
FYI: I added a _Proposed Maven Coordinates_ section to this issue's description.

[2018-02-17 17:26] sbrannen commented on #1296
Tentatively slated for 5.1 GA in order for the @junit-team/junit-lambda team to have a look.

[2018-02-17 17:42] sormuras commented on #1296
Fails on `master` too:

	@Test
	@Disabled("https://github.com/junit-team/junit5/issues/1296")
	void threeEmptyAndThreeNullElements() {
		Stream<Object[]> arguments = provideArguments(',', "'', '', ''", " , , ");

		assertThat(arguments).containsExactly(
				new String[] { "", "", "" },
				new String[] { null, null, null });
	}

Last array is `new String[] { null, null, "" }` instead of 3x `null`.

[2018-02-17 18:17] mattcsully commented on #809
2.19.1 was my earlier attempt and resulted in the following:
`[INFO] --- maven-surefire-plugin:2.19.1:test (default-test) @ big-number ---
-------------------------------------------------------
Running org.mcsully.bignumber.HackBigDecimalTest
[SUREFIRE] std/in stream corrupted
java.io.IOException: Command NOOP unexpectedly read Void data with length 4.
        at org.apache.maven.surefire.booter.

[2018-02-17 19:42] Tibor17 commented on #809
This is a typical JVM issue because the JVM sends ASCII 0x04 to the
Standard Input Stream when the exit() was called and another thread would
recognize it along with command NOOP as corruption of the stream. The NOOP
is ping sent from Maven process to Surefire process saying that the build
process is up - if you kill Jenkins job this mechanism will kill all forks
JVM down.
This happens randomly be

[2018-02-17 19:51] #1296 closed

[2018-02-17 19:51] marcphilipp commented on #1296
@omints Thanks for the bug report! Do you have a chance to verify with the latest snapshot?

[2018-02-17 19:56] marcphilipp commented on #1251
_in progress_

[2018-02-17 20:26] paulmiddelkoop commented on #378
At the moment my team is using JUnit 4 in all our tests except when we we need data driven tests. We use Spock there and were very happy with table based testing using `where`. Writing Groovy tests inside a Java project worked well for us. But since we switched to Kotlin this does not work very well (for instance using Kotlin data classes in Groovy is kind of weak).

So we switched to JUnit 5 and

[2018-02-17 20:38] sormuras commented on #378
@paulmiddelkoop Please read the comments in https://github.com/junit-team/junit5/pull/735 -- dynamic tests are not _real_ tests. More like testlets or a visible form of the _soft-assert_ `assertAll(...)` method.

Perhaps you may utilize `@TestTemplate` or get used to `@ParameterizedTest` -- both take part in the full life-cycle of _real_ tests.

[2018-02-17 21:04] #1251 closed

[2018-02-17 21:19] pfuerholz opened #1298 "ConsoleLauncher returns 0 although selected class could not be loaded"
We run a set of tests in a CI pipeline and call our test classes like this:

    java -classpath junit-jupiter-api-5.0.1.jar:junit-platform-console-standalone-1.0.1.jar org.junit.platform.console.ConsoleLauncher --select-class xy.Test

If class `xy.Test` cannot be found on the classpath an error message appears but `ConsoleLauncher`'s return value is **0**! Since our CI system runs unattended the

[2018-02-18 03:00] mattcsully commented on #809
Thanks for the feedback.  When I run into issues I typically trim things back to as simple as possible.  The latest
[junit5 809 NOTES.txt](https://github.com/junit-team/junit5/files/1734352/junit5.809.NOTES.txt)

[2018-02-18 08:35] marcphilipp commented on #1298
Thanks for creating the issue! There are use cases when build tools or IDEs pass in test classes and discovering an empty test plan is not considered an error.

Do you execute test classes one by one? If so, we could add a `--fail-if-no-tests` (similar to what the Maven Surefire plugin has) option to `ConsoleLauncher`.

[2018-02-18 09:49] pfuerholz commented on #1298
During the build step we build up a list of a test classes to be executed. During the test step we call `ConsoleLauncher` passing over each class to test by preceding `--select-class` to it.

You can define the classes / methods to be execute in several ways - looked up by classpath or explicitly specified. From my point of view I consider it an error if the explicitly defined test artifacts canno

[2018-02-18 14:19] marcphilipp commented on #1298
Now I'm curious: Why do you build up the list of test classes yourself instead of using JUnit's classpath scanning?

[2018-02-18 14:20] marcphilipp commented on #576
Would #316 help?

[2018-02-18 15:14] pfuerholz commented on #1298
I think this has historical reasons where `ConsoleLauncher` was not available yet.
We have different types of tests which get categorized by a shell script. Thus I wanted to stick to `--select-class`-way. (Otherwise selection would occur at two different places.)

_Coming back to my suggestion:_ What return value would you expect when running?
`ConsoleLauncher --select-class non.existing.Klass`

F

[2018-02-18 16:17] marcphilipp commented on #316
_in progress_

[2018-02-18 18:30] mernst commented on #1044
This bug (probably introduced while fixing #65) was blocking me.  Here is a workaround that others may find useful.

[code]

[2018-02-18 18:45] marcphilipp commented on #316
I've added a `junit-bom` subproject that generates a POM with a `<dependencyManagement/>` block. However, the `junit-platform-surefire-provider` needs to be declared in the `<dependencies/>` block of the `maven-surefire-plugin`. There, the `<dependencyManagement/>` block is not taken into account. We could add a `<pluginManagement/>` block and configure the `maven-surefire-plugin` with our provide

[2018-02-18 20:57] johnrengelman commented on #1044
I'm looking at the shadow code and the only time the classpath attribute gets generated is if you specify dependencies in `configurations.shadow`. This configuration is reserved for compile time dependencies that you *do not* want merged into the final jar.

So if jars that are being merged are also ending up in the the manifest classpath, then my guess is you are configuring something incorrectly

[2018-02-19 00:42] mernst commented on #1044
After discussion [elsewhere](https://github.com/johnrengelman/shadow/issues/324), we concluded this is a bona fide limitation of the shadowJar task and its documentation, so a workaround is necessary.  @johnrengelman provided a simpler workaround than above (thanks!), and hopefully will improve shadowJar to not require a workaround.

[2018-02-19 19:46] Tibor17 commented on #809
@mattcsully
The ideal situation would be to send me your project and I will reproduce.
I think some java process leaks in the directory `C:\HackNOT\java\introduction\target\surefire-reports` because the `maven-clean-plugin` attempts to delete it.
Can you just open the `jconsole.exe` connect to the java processes you see in the application and go to the Tab `VM Summary`. You will see VM arguments.

[2018-02-19 19:52] Tibor17 commented on #809
@mattcsully
If whatever Maven parent process is still alive, like Jenkins or IDEA, the sub-process like Surefire will never be killed by itself. So you have to document all java processes.
How is it going with Java 1.8?

[2018-02-19 20:30] mattcsully commented on #809
Hi, Using 1.8,
[issue.zip](https://github.com/junit-team/junit5/files/1738100/issue.zip)
I stripped it down to a simple project, which worked.  Then I split things into parent/project and it still worked. ref attached zip.  Next, I will I will go back to the HackNOT project and look at memory.
MD5 Checksum: E658149D914D0397EEFC19E3267EEA58
SHA-1 Checksum: B4FF4EEA36B3AEBF6EF7B8F8FE819ADAC99A90EC
S

[2018-02-19 20:30] sormuras opened #1300 "Export `findAllClassesInModule`"
## Overview

The platform-internal method `findAllClassesInModule` in class `org.junit.platform.commons.util.ModuleUtils` is not exported for external usage.

The Jupiter engine uses it here:

https://github.com/junit-team/junit5/blob/master/junit-jupiter-engine/src/main/java/org/junit/jupiter/engine/discovery/DiscoverySelectorResolver.java#L62-L63

3rd-party test engines, as [JQwik](https://githu

[2018-02-19 21:38] Tibor17 commented on #809
@mattcsully
I run these commands:
`mvn test`
`mvn clean`
and the build did not fail.
How should I reproduce this issue?
Try to download the zip from GitHub, extract it and run both commands as me.
This is my JDK:
java -version
java version "1.8.0_121"
Java(TM) SE Runtime Environment (build 1.8.0_121-b13)
Java HotSpot(TM) 64-Bit Server VM (build 25.121-b13, mixed mode)

[2018-02-19 21:40] Tibor17 commented on #809
@mattcsully
My Maven version on Windows 7:
`mvn -V`
Apache Maven 3.5.0 (ff8f5e7444045639af65f6095c62210b5713f426; 2017-04-03T21:39:06+02:00)
Maven home: D:\apache-maven-3.5.0\bin\..
Java version: 1.8.0_121, vendor: Oracle Corporation
Java home: d:\Program Files\Java\jdk1.8.0_121\jre
Default locale: en_US, platform encoding: Cp1250
OS name: "windows 7", version: "6.1", arch: "amd64", family: "windo

[2018-02-19 21:42] Tibor17 commented on #809
@mattcsully
Make sure the path is not longer than 260 characters.

[2018-02-19 21:54] mattcsully commented on #809
Hi Tibor, please find attached a zip of the failing project.
I use a setting
 HKEY_LOCAL_MACHINE\SYSTEM\CurrentControlSet\Control\FileSystem\LongPathsEnabled = 1

MD5 Checksum: 71FD527A4F1584FF8021CB55F88060C5
SHA-1 Checksum: 2DDB8ABFD7CA285B67B83FB7DC0C89017FB0CD2B
SHA-256 Checksum: 3D37A80DA5500C0D2BBF30625FE9690CBF43E74B595EA8414581D2BC09E1C5AE
[junit_issue.zip](https://github.com/junit-team/ju

[2018-02-19 21:59] sormuras commented on #809
I get:

[code]

[2018-02-19 22:02] Tibor17 commented on #809
@mattcsully
This is better. It's a known issue
RunListener.testSetStarting(Lorg/apache/maven/surefire/report/ReportEntry;)V
The Surefire is not compliant with JUnit5 provider.
We want to have it in Surefire project.
We are going to release Jigsaw support in version 2.21.0 and then we will work on JUnit 5.
You can wait for Surefire 2.22.0 or JUnit team will fix it which is very easy or you will use

[2018-02-19 22:02] Tibor17 commented on #809
@sormuras
I do not understand the NPE like this.
Find the root cause.

[2018-02-19 22:04] sormuras commented on #809
The shaded version of "apache.commons.lang3" is not Java 10, methinks.

[2018-02-19 22:05] sormuras commented on #809
This is great news! 👍

[2018-02-19 22:07] Tibor17 commented on #809
We fixed this in 2.21.0 already. We were about to start the release on Sunday but we found some issues in the build process we do not like. So we are working on more stable Jenkins CI. We are testing these combinations: Maven 3.2.x - 3.5.x and JDK 7 -10.

[2018-02-19 22:11] sormuras commented on #809
Which version of commons.lang3 is shaded into surefire?

Copied from https://github.com/apache/commons-lang/blob/master/src/main/java/org/apache/commons/lang3/JavaVersion.java#L83
[code]

which is used `SystemUtils` may be the cause of the `NullPointerException` reported under Java 10.

[code]

https://github.com/apache/commons-lang/blob/master/src/main/java/org/apache/commons/lang3/SystemUtils.ja

[2018-02-19 22:13] Tibor17 commented on #809
We use 3.5 but we avoided calling the method `isJavaVersionAtLeast` which caused NPE. This way we are compliant with JDK6+.

[2018-02-19 22:15] sormuras commented on #809
Fine. Only wanted to report the NPE I encountered under Java 10 with the `junit_issue.zip` provided by @mattcsully

[2018-02-19 22:15] Tibor17 commented on #809
just fine. no problem.

[2018-02-19 23:14] mattcsully commented on #809
Thank you @Tibor17
Since "The Surefire is not compliant with JUnit5 provider." I removed it and everything is working again.

[2018-02-21 07:23] sormuras commented on #1298
What about extending the proposed `--fail-if-no-tests` to an option that takes an integer as a low boundary. If the number of found tests is below that number, the returned value is set to non-zero.

Something like: `--assert-minimum-tests-found 123` or `--assert-maximum-tests-failed 0`

This could be applied to more/all numbers that a gathered by the [test execution summary](https://travis-ci.org

[2018-02-21 08:34] deepakab03 commented on #80
In JUnit 4, if a Test super class specifies a Timeout Rule, then any Test subclass automatically inherits that and it becomes a kind of global timeout - as long as the Test super class is extended of course. This is **very much needed** in JUnit 5 as a **replacement for this JUnit 4 feature** to catch rogue tests that keep running, actual bugs as well as tie up the local build / build server unnec

[2018-02-21 20:32] pfuerholz commented on #1298
Thanks @sormuras for your thoughts.
If I compare this variant with my current workaround (sorry to tell) I still prefer my one: Having `PreconditionViolationException` added to `org.junit.platform.commons.util.BlacklistedExceptions` exactly does what I want: Having a return value != 0 when the class could not be loaded.
There are only two things ugly:
* I have to use Java introspection.
* It is no

[2018-02-21 23:32] sormuras commented on #1063
Updated overview and deliverables.

Only Groovy 3 has to be shipped with Gradle, methinks. :)

[2018-02-23 09:01] buraksarac opened #1302 "Use callable or String supplier to build assertion messages"
## Overview

 Future request on assertion implementation. Assertion messages should build after failure not immediately

- ( ) **Feature request.** i.e. below code block:

[code]
  will throw:

instead of assertion failure.

[2018-02-23 09:22] sormuras commented on #1302
The parameter positions indicate that you're using JUnit 4. The message, a plain `String` comes first. Jupiter Assertions API expected the message as last parameter.

Be sure to import [`Assertions`](https://junit.org/junit5/docs/current/api/org/junit/jupiter/api/Assertions.html#assertFalse-boolean-java.util.function.Supplier-) from package `org.junit.jupiter.api` and provide a `Supplier<String>`

[2018-02-23 09:22] #1302 closed

[2018-02-23 10:02] mmichaelis commented on #378
We just stumbled across this issue because we need the test-lifecycle for dynamic tests. We also thought about using test templates instead, but we need the test instance variables (here wired via Spring) to actually retrieve the test parameters. So our factory method looks something like this:

[code]

So unless we find a solution how to access instance level fields from test-templates the test f

[2018-02-23 10:06] sormuras commented on #378
Why don't you implement `doTestFor(b)` in such a way that it calls custom before/after methods?

[2018-02-23 10:33] michaelsiepmann opened #1303 "Change attribute from name to value"
When using `@ParameterizedTest`, one have to add the name-attribute to create a speaking text. For example:

[code]

When you change this attribute to "value", one can simplier write:

[code]

This is similar to `@DisplayName`.

[2018-02-23 10:45] sormuras commented on #1303
`name` was chosen on purpose here. `value` could be misleading as of _"The value for the parameterized test."_

If only we had an [`@AliasFor`](https://docs.spring.io/spring/docs/current/javadoc-api/org/springframework/core/annotation/AliasFor.html) annotation... ;)

[2018-02-23 10:45] #1303 closed

[2018-02-23 13:09] jorn86 opened #1304 "Feature request: Allow multiple constructors in test class"
Consider the following test code:

[code]

Can  we find a way to allow a second constructor in a test class to support this case? Perhaps by ignoring the private constructor or by annotating the constructor JUnit is supposed to use? There is no way to achieve the same functionality without either duplicating values (it's not a constant in my real-world case) or having a second constructor.

[2018-02-23 13:29] jorn86 opened #1305 "Bug: AfterAllCallback extension hides container failure"
Consider this test code:

[code]

This test is invalid, because it has two constructors. And JUnit will usually tell you exactly that. Unfortunately, the `AfterAllCallback` will still be executed in this case, and will hide the actual informative message.

If I have the thrown exception in an `@AfterAll` method in the test class itself, this will work correctly and give the `PreconditionViolationE

[2018-02-23 14:31] mmichaelis commented on #378
This is what I do as workaround now. But it does not fit to the extension mechanism. So what I do now is to manually create for example _after each_ and _handleTestExecutionException_ by using try-catch-finally. But my impression is, that this is not the expected behavior. It took my a bunch of time to realize that my tests failed, because the cleanup (in after each) was only done when _all_ dynam

[2018-02-23 15:17] marcphilipp commented on #1305
It's not hidden: The test method fails with the `PreconditionViolationException`. The test class fails with the `IllegalStateException`.

@jorn86 How do you execute your tests?

[2018-02-23 15:26] jorn86 commented on #1305
I've tried running the test
* Directly from IntelliJ
* In IntelliJ, using Gradle
* From the command line, using Gradle

In all three cases, I'm only seeing the callback error:
[code]

[2018-02-23 15:29] marcphilipp commented on #1305
Ok, I'll double-check tonight.

[2018-02-23 17:39] sbrannen commented on #316
Thanks! 👍

SGTM

[2018-02-23 19:44] dmitry-timofeev opened #1306 "Allow to reference test parameters that aren't among the method arguments"
### Feature Request
Would you please consider allowing referencing a test parameter in a formatting string when it does not appear in a formal method parameter list?

Consider the following code:
[code]

The IDE highlights `testDescription` variable below as unused, although it is used in the formatting string (as `{1}`). Even if this issue is [fixed](https://youtrack.jetbrains.com/issue/IDEA-1846

[2018-02-24 13:01] dmitry-timofeev opened #1307 "Improve the ease of Arguments transformation"
### Feature Request
Please consider improving the ease of `Arguments` transformation. Currently a user can only get an underlying array of `Object`s, and cast each of them to the desired type manually.

### Uses cases
Consider the following code:
[code]
`invalidUtf8Strings` uses a hex-string representation of binary data, because it's easier to write and read than an array of bytes (`bytes(0xEF, 0

[2018-02-24 13:43] sormuras commented on #1306
I don't like mis-using a parameter here.

But thinking aloud ... I'd prefer an extra field in the `Argument` class which optionally describes the argument. It could be referred in the display via `{argument.description}`.

[2018-02-24 13:58] sormuras commented on #1304
Did you try the built-in "DI" support?

See details at https://junit.org/junit5/docs/current/user-guide/#writing-tests-dependency-injection

[2018-02-24 14:15] jorn86 commented on #1304
I did earlier, but I'll have another look on Monday. Thanks for pointing me in that direction!

[2018-02-24 14:18] sormuras commented on #1307
Did you try the [Argument Conversion](https://junit.org/junit5/docs/current/user-guide/#writing-tests-parameterized-tests-argument-conversion) that Jupiter provides? Especially the [`ArgumentConverter`](https://junit.org/junit5/docs/current/user-guide/#writing-tests-parameterized-tests-argument-conversion-explicit) could help here, I guess.

[2018-02-24 14:18] dmitry-timofeev commented on #1306
@sormuras , Sounds interesting! Do you imagine something like that:
[code]

[2018-02-24 15:23] robstoll opened #1308 "Bug: duplicate --config key reported but value shown"
## Overview
I am using the platform-version 1.0.2. The bug happens when I use the ConsoleLauncher (from a gradle JavaExec Task, but I doubt that matters).
I accidentally provided twice the same key for `--config` as follows:
'--config', 'forgive=".*spec:ch.tutteli.atrium.api.cc.en_UK.Iterable.*error cases.*"',
'--config', 'forgive=".*spec:ch.tutteli.atrium.api.cc.en_UK.Iterable.*failing cases.*"',

[2018-02-24 16:03] dmitry-timofeev opened #1309 "Provide support of parameterized test arguments descriptions"
## Overview

This is a *feature request* and a follow-up to the discussion in #1306. Currently if a user needs to add a description of a set of arguments (e.g., because their string representation is not enough, or the differences between adjacent arguments are subtle), they need to (ab)use the `Arguments` by adding an additional one. This has a couple of drawbacks:
- That argument must be specifi

[2018-02-24 16:06] dmitry-timofeev commented on #1306
@sormuras , I really like your words about mis-using, because that is clearly not a test _parameter_, rather some meta-data about all parameters. I think this feature would be universally useful (personally I had to add descriptions in JUnit 4 ParameterizedTests & JUnit 5 tests), and  your proposal deserves its own issue: #1309

[2018-02-24 16:08] dmitry-timofeev commented on #1307
Thank you for the references! I didn't consider this option. I think I will write a snippet of how the code above looks like with ArgumentConverters. I'll submit it here a little bit later.

[2018-02-24 19:47] marcphilipp commented on #1306
We should not allow to reference extra test parameters because, as you wrote in the issue description, it looks confusing.

[2018-02-24 19:47] #1306 closed

[2018-02-24 19:50] sormuras commented on #1308
Can you please try version **1.1.0** please?

Tried it locally with `"--config foo=bar --config foo=baz"` and results in the expected exception message:
[code]

[2018-02-24 19:50] marcphilipp commented on #1309
According to the discussion in #1306, the new API would look like `Arguments.of(...).describedAs("")` or something similar. How would you use it? Via a special `{description}` placeholder for `@ParameterizedTest(name="{description}: ...")`? If so, what do we use for `Arguments` instances without a description?

[2018-02-24 19:55] sormuras commented on #1309
Default to `lorem ipsum dolor sit amet`... ;)

`{description}` could default to joined string of all arguments, like `Arguments[0={0}, 1={1}, ...]`

[2018-02-24 19:57] marcphilipp commented on #1307
It's outside the scope of JUnit to provide typed Tuple types. Please use a different library, e.g. [Commons Lang](http://commons.apache.org/proper/commons-lang/apidocs/org/apache/commons/lang3/tuple/package-summary.html) and transform those into `Arguments` in case you need intermediate mapping steps. Adding an optional description to `Arguments` instances is being discussed in #1309.

[2018-02-24 19:57] #1307 closed

[2018-02-24 20:16] marcphilipp commented on #1305
I could reproduce the bug, it only happens when `@TestInstance(PER_CLASS)` is used (as can be seen from the logging output).

[2018-02-24 20:26] sormuras commented on #1308
Nevertheless, it should be an instance of `JUnitException` with a message of `Error parsing command-line arguments` and an atttached cause: `java.lang.IllegalStateException: Duplicate key foo (attempted merging values bar and baz)`.

Addressing this in master.

[2018-02-25 08:23] dmitry-timofeev opened #1311 "Improve Arguments documentation."
## Overview

That's an API documentation request, and a follow-up to #1307. As was discussed, it's a _non-goal_ of `Arguments` to be easily _consumed_ by the user-code. Therefore, to avoid future confusions, I propose to include such API note in the Javadoc.

## Deliverables

- [ ] Javadoc update

[2018-02-25 09:11] #1311 closed

[2018-02-25 11:51] dmitry-timofeev commented on #1309
I've updated the questions section in the issue description, based on the feedback on a PoC PR.

As a user of this feature, I'd expect the following:
1. `CsvSource` & `CsvFileSource` with an optional attribute and an empty description by default.
2. I certainly want a sensible default that includes everything that I've put in the `Arguments` and formats that accessibly:
  - If no description -- ke

[2018-02-25 14:49] geo-m commented on #1305
Under default licefycle the precondition single constructor exception is thrown during the preparation phase of the child nodes of the TestClassDescriptor (methods etc), where control immediately returns.

Using PER_CLASS, the exception is thrown during node.before in the try - catch block of HierarchicalTestExecutor#execute(line 80), enters finally block, where the callback exception masks the or

[2018-02-25 15:15] marcphilipp commented on #1305
@geo-m Thanks for the analysis and offering help. I already have a fix locally, though. You could review if you want. 🙂

[2018-02-25 16:12] geo-m commented on #1305
No problem, 145 more issues to choose from

[2018-02-25 16:16] marcphilipp commented on #1305
Indeed. 😁

[2018-02-25 16:42] #1305 closed

[2018-02-25 16:50] marcphilipp opened #1313 "Failures in lifecycle methods should take precedence over TestAbortedException"
## Overview

In the following example, `abortedTest` will be reported as _aborted_, while `successfulTest` will be reported as _failed_ due to the exception in `afterEach()`.

Expected behavior: `abortedTest` should be reported as _failed_ with a suppressed `TestAbortedException`.

[code]

## Deliverables

- [ ] Let other exceptions take precedence over `TestAbortedException`.

[2018-02-25 20:59] robstoll commented on #1308
Nope, looks still the same. You can reproduce it as follows:
1. git clone https://github.com/robstoll/atrium.git
2. open misc/atrium-bc-test/build.gradle
3. add '--config', 'forgive=test', to line 69
4. gr :atrium-bc-test:build

Following the Exception message I got:
[code]

[2018-02-25 21:33] dnccfu opened #1314 "DisplayName not working"
I am currently using junit5 jupiter for all my tests, and would like to report that the displayname has no effect either in the netbeans test results window or launching maven test phase from the terminal. The default java name is used in both cases.

[2018-02-26 08:51] sormuras commented on #1314
Can only guess here -- it looks like you're using JUnit 4 in your setup.

Please provide detailed information about your Maven configuration.

AFAIK, Netbeans does not support "JUnit 5" out-of-the-box.

[2018-02-26 08:54] sormuras commented on #1308
Will try later. But reading the initial error message carefully, I guess the command line configuration you use in the Gradle script is not correct. Your value is interpreted as a key -- see the "missing" tail of your value after the first space character: `.*spec:ch.tutteli.atrium.api.cc.de_CH.Iterable.*(error`

Perhaps, you have wrap the value string into an extra `"`?

[2018-02-26 09:14] dnccfu commented on #1314
I am only using the default dependencies suggested by the user guide for jupiter tests and simply using the jupiter api "Test" and "DisplayName" annotations. Thats pretty much it.

Forgive my lack of deep technical knowledge but reading your user guide i expect the test names that appear either in Netbeans or the console via mvn test to be the values in DisplayName annotation. Perhaps i got it wro

[2018-02-26 09:18] robstoll commented on #1308
That's actually what I figured at the beginning. In the first output in the description of this task I wrapped it in `"` and that was actually the reason why my argument got chopped into two parts (see also https://github.com/gradle/gradle/issues/4510).
See the output in my last comment https://github.com/junit-team/junit5/issues/1308#issuecomment-368344004, the argument is not split up. The error

[2018-02-26 10:51] sormuras commented on #1308
It's a bug in Java 8. See https://bugs.openjdk.java.net/browse/JDK-8040892 for details. It was fixed in Java 9.

@junit-team/junit-lambda shall we roll our own `toMap` helper and always emit the a helpful error message?

[code]

[2018-02-26 11:02] robstoll commented on #1308
Fair enough, I had a quick glance a the source code of junit5 before I reported the issue and thought it could be a bug in JDK8. I keep the issue open as it seems you want to discuss a few things. Close the issue whenever you want, for me it is done.

[2018-02-26 11:33] sbrannen commented on #1308
SGTM

[2018-02-26 12:18] jorn86 commented on #1305
Thanks @marcphilipp for the quick response and fix!

[2018-02-26 12:42] jorn86 commented on #1304
It's a bit heavy to have to make an extension for this, but it works perfectly. Thanks!

[2018-02-26 12:42] #1304 closed

[2018-02-26 15:23] sormuras commented on #1314
There's version mismatch in your `pom.xml` snippets: `1.1.0` vs `1.0.3`

The very basic [Maven Surefire provider](https://github.com/junit-team/junit5/tree/master/junit-platform-surefire-provider) does not pass along the name set via the `@DisplayName` annotation. If I remember correctly, that is due to a limitation of Surefire that expectes tests to be composed of a valid class and method name.

[2018-02-26 15:53] dnccfu commented on #1314
I see. Its weird though that it works in IntelliJ with the same setup (just tried), even with the version mismatch, it shows the display names in the test window. I thought both just use surefire for all maven project tests. Ill look into it.

Anyway thanks for your time

[2018-02-26 16:40] mkobit commented on #1309
Possibly also related to https://github.com/junit-team/junit5/issues/162

[2018-02-26 16:47] dmitry-timofeev commented on #1273
That would be interesting, though the results might be misleading. For example, when you use a mocking framework, it might take almost a second to initialize it, whilst tests take milli- or microseconds. That is, the performance of real-world tests might be dominated by how much it takes to kick-start your mocking framework than by the test framework overhead. On top of that, I'd personally pay a

[2018-02-26 16:52] tomblench commented on #506
I'd just like to add that we have existing JUnit 4 tests which used `RuleChain` and it would be very useful for us to programatically declare extensions _in a certain order_ because there are dependencies between the extensions and therefore the order in which their callbacks run is important.

I can see that if I change the name of my extensions their callbacks will run in the desired order, but

[2018-02-26 18:04] manueljordan commented on #1273
Hello, I understand your point...

but I thought about to test some _use case_ in both `JUnit`, **4** and **5**, it with and without `Mock` .... i.e: `Integration Testing` through `Spring Framework` ...

Even if results are not favorable to `JUnit` 5, its API and new features (work for package level classes and methods) are valuables.

[2018-02-26 18:30] marcphilipp commented on #1314
Yes, this is definitely an issue with the current Surefire Provider SPI and the limitations of the XML reporting format. Closing this issue for now as duplicate (see #990).

[2018-02-26 18:30] #1314 closed

[2018-02-26 19:03] marcphilipp commented on #1296
Thanks for checking! I think it's good that this corner case fails now... 😉

[2018-02-26 20:18] marcphilipp commented on #1044
_in progress_

[2018-02-26 20:19] #1044 closed

[2018-02-27 08:45] tomblench commented on #506
In the meantime I've written a custom extension which runs the callbacks in the order the extensions were passed in to the constructor: https://gist.github.com/tomblench/999634f126e215132dcad2b0eccec870

[2018-02-27 09:15] sormuras commented on #506
Looks like a plain and simple solution. Do you register an instance of `MultiExtension` via 5.1's `@RegisterExtension` in your test class?

[2018-02-27 12:29] tomblench commented on #506
@sormuras that's correct

[2018-02-28 07:14] #1308 closed

[2018-02-28 09:32] jlink commented on #1300
Would be useful and provide an easy means to support module discovery in jqwik.

[2018-02-28 09:45] marcphilipp commented on #1292
It is a well documented decision not to support any lifecycle callbacks for dynamic tests. Thus, I'm closing this issue.

[2018-02-28 09:45] #1292 closed

[2018-02-28 09:48] sormuras commented on #1300
In the meantime, you could resort to temporarily use the "unsupported" `findAllClassesInModule` in [ModuleUtils](https://github.com/junit-team/junit5/blob/master/junit-platform-commons/src/main/java/org/junit/platform/commons/util/ModuleUtils.java#L96) method, though.

[2018-02-28 10:01] marcphilipp commented on #1242
Extensions registered on test template methods will already be registered for each invocation. There's no need to add them to the test template invocation context as additional extensions.

@Lubetkin Am I missing something?

[2018-02-28 10:04] marcphilipp commented on #1192
I'm closing this issue as "declined".

[2018-02-28 10:04] #1192 closed

[2018-02-28 10:52] marcphilipp commented on #1011
Related: https://github.com/apiguardian-team/apiguardian/issues/9

[2018-02-28 18:03] opncow commented on #944
Any news on this? Just migrated to JUnit 5 for the improved parameterized tests. "Forwarding parameters to a setup function in each test case" feels more like a step back, though. :-/

[2018-02-28 22:57] Thunderforge commented on #1024
@domhauton Is there a better solution now that [Gradle 4.6 is out](https://docs.gradle.org/4.6/release-notes.html) with a new way of handling JUnit 5?

[2018-02-28 23:20] sormuras commented on #1024
@Thunderforge I guess, with Gradle 4.6 and `useJUnitPlatform()` you can use the [JaCoCo plugin](https://docs.gradle.org/current/userguide/jacoco_plugin.html) as-is.

[2018-03-01 18:08] jlink commented on #1300
Just noticed that - unlike the Methods in ReflectionSupport - `ModuleUtils.findAllClassesInModule` does not have a classNamefilter predicate as parameter. Any reason for this asymmetry?

[2018-03-01 18:34] #1169 closed

[2018-03-01 18:36] sormuras commented on #1169
Resolved in master via https://github.com/junit-team/junit5/commit/00aa2c4e63fa6e783477b27f55a74a736d180294

[2018-03-01 20:38] sormuras commented on #1300
The two filters `classNameFilter` and `classFilter` are combined into the internal `org.junit.platform.commons.util.ClassFilter` class since version 1.1 of the JUnit Platform. This is class is used by `ReflectionUtils` and `ModuleUtils`.

I'd implement the facading method in `ReflectionSupport ` like:

[code]

Now, only non-internal types are part of the API and the signature is similar to the oth

[2018-03-01 22:27] sormuras commented on #1300
Added the current snapshot version of **net.jqwik** to the `junit5-vanilla-modules` sample via https://github.com/junit-team/junit5-samples/commit/8398dd5136c3c7630ccac93b9982b831e87958c4

See the test plan run tree at https://travis-ci.org/junit-team/junit5-samples/jobs/347992083#L647

[2018-03-02 09:47] jamiewastin commented on #964
@marcphilipp  - Now that there is gradle plugin support via the `junit-platform-gradle-plugin` does this pave the way for parallel test support?

My specific use-case is to be able to run each test in its own isolated JVM to ensure that static state is not carried between unit tests (legacy system). This seems closely related to parallel test support.

[2018-03-02 13:09] robstoll commented on #1298
I could use `--fail-if-no-test` but think `--assert-minimum-tests-found` is even better. I image a scenario where some tests are always run (e.g. tests to verify some conventions) and it is known that they can be discovered. Yet, it happens from time to time that a dev makes mistakes in configuring the discovery for  specific tests. In such a use case the `--fail-if-no-test` would not help to dete

[2018-03-02 13:39] sormuras commented on #1298
Remotely related to #542 and marking this issue as "up-for-grabs" too.

@pfuerholz or @robstoll or s/o else want to file a PR for an `--assert-minimum-tests-found x` option?

[2018-03-02 13:45] sormuras commented on #1298
Btw. I think you may drop the Jupiter API jar from your command's classpath in the initial issue description. The standalone jar contains it.

[2018-03-02 13:50] marcphilipp commented on #1298
I'm not convinced `--assert-minimum-tests-found` is the way to go. How would this work? Someone would set a minimum number in some build script and never update it again?

[2018-03-02 14:14] robstoll commented on #1298
I would say depending on the needs that would suffice and one would increase it from time to time if there are major changes in the discovering mechanism. For instance, if one switches from --scan-classpath to --include-...
Yet, I can also imagine that someone wants even more control/assurance and would like to know if certain new tests have been included. In such a case it would not be enough and

[2018-03-02 14:51] geo-m commented on #1191
Greetings @sbrannen

Is this request still being considered? I could also use this feature and would like to contribute to the project. The implementation i would go for would be an ArgumentConverter as you mentioned, with the target types being collections, and possibly some kind of arbitrary hashing method support, in order to use more than one target parameter. Perhaps the default hashing being

[2018-03-02 17:50] JLLeitschuh commented on #964
@jamiewastin
Consider using the new Junit 5 support that is now built into Gradle 4.6.
When configuring your test you can set the maxParallelForks on the `Test` task.
https://docs.gradle.org/current/javadoc/org/gradle/api/tasks/testing/Test.html#setMaxParallelForks-int-

[2018-03-02 17:57] marcphilipp opened #1317 "Deprecate JUnit Platform Gradle Plugin"
Now that Gradle 4.6 has been released and provides native support for running tests on the JUnit Platform, we can go ahead and deprecate our custom plugin.

## Deliverables

- [x] Emit deprecation warning when `junitPlatform` task is executed
- [x] Deprecate all code in `junit-platform-gradle-plugin` subproject
- [x] Add note to 5.1 User Guide and link to Gradle documentation
- [x] Remove document

[2018-03-02 20:10] sbrannen commented on #1309
Just thinking out loud a bit here...

We need to keep in mind that a `@MethodSource` factory may simply return a stream of objects as opposed to a stream of `Arguments`. Thus, a change to the `Arguments` API would be of zero benefit in such use cases. Similarly, `@ValueSource`, `@CsvSource`, etc. also would not benefit from a custom description that can only be supplied via the `Arguments` API.

P

[2018-03-02 20:15] sbrannen commented on #1309
I think that would be very unnatural in terms of usability.

For `@CsvSource` you'd end up with two arrays which you'd have to keep in sync.

For `@CsvFileSource` it would be worse since changes to the file would require changes to an array in an attribute in a separate file (i.e., the source code of the test).

An alternative for `@CsvFileSource` would be to support a preceding comment line for e

[2018-03-02 20:20] sbrannen commented on #1309
I agree with that: if the optional description is not present, nothing should change from the status quo:

`"[{index}] {arguments}"`

If a custom description is present, I think I'd prefer the following:

`"{description} :: [{index}] {arguments}"`

[2018-03-02 21:23] pfuerholz commented on #1298
I think `--assert-minimum-tests-found` might be useful when test cases get looked by means of `--scan-class-path`. In this case I rely on `ConsoleLauncher` so it finds all the tests I want to get executed. In contrast to this in my case I tell `ConsoleLauncher` by means of `--select-class` exactly which test classes to execute. If the defined class cannot be found I thought it to be common practic

[2018-03-02 21:29] sbrannen commented on #1088
@junit-team/junit-lambda, I think we should go with the FQMN variant (i.e., option # 1) and pull this into 5.2 M1.

Rationale: AFAICT, the only way to reasonably implement option # 2 would require that `@MethodSource` become a `@Repeatable` annotation. That would in turn require that we support both non-repeatable and repeatable source annotations simultaneously (already experimenting locally)  an

[2018-03-02 21:29] sbrannen commented on #1088
Tentatively slated for 5.2 M1 for _team discussion_.

[2018-03-02 21:50] sbrannen commented on #1298
I'm not convinced that such a use case is all that common.

I imagine people would typically implement a custom `TestExecutionListener` if they want to know about specific outcomes.

For your particular use case, you could implement a `TestExecutionListener` that checks that at least one test class was executed and have that `TestExecutionListener` registered via Java's `ServiceLoader` mechanism a

[2018-03-03 11:17] dmitry-timofeev commented on #1309
@sbrannen, Thank you for taking a look at the issue!

Certainly, separate arrays would be terrible. I should've described _what_ optional argument I mean (I'll update the issue description to avoid future confusions):
[code]
, same for `@CsvFileSource`. I believe description support is useful when arguments and their description are adjacent in either source code or test case spreadsheet.

Regardi

[2018-03-03 13:49] dmitry-timofeev commented on #1309
As an alternative to `@CsvXSource#descriptionColumnIndex` we may add an enum specifying where to get description from `#description = Column.{FIRST, LAST, NONE}`. Less flexible, but easier to deal with in providers and more refactoring-friendly (= if you keep last, you don't have to change the column index when adding or removing arguments).

[2018-03-03 18:30] hwellmann opened #1318 "Dependency leak with maven-failsafe-plugin"
# Bug report

## Scenario

When running tests with `junit-platform-surefire-provider` under `maven-failsafe-plugin`, plugin dependencies pollute the test classpath.

This does not happen when running the same test under `maven-surefire-plugin`.

In particular, there is a dependency on `org.slf4j:slf4j-jdk14:jar:1.5.6` and `org.slf4j:jcl-over-slf4j:jar:1.5.6` which may cause `NoSuchMethodError` whe

[2018-03-04 17:02] ajeydudhe opened #1320 "Surefire provider reports @TestFactory method name with invocation index instead of display name"
## Bug report
The maven-surefire-plugin is able to run the JUnit 5 experimental dynamic tests but in the generate report *.xml file the test case names are not reflected.

### Steps to reproduce
- **pom.xml:** Add the required dependencies as per attachement:
[pom.xml.txt](https://github.com/junit-team/junit5/files/1778698/pom.xml.txt)
- Create a dynamic test as follows:
[code]
- Compile the proje

[2018-03-04 18:04] sbrannen commented on #1320
Hi @ajeydudhe,

Thanks for raising the issue.

We are in fact aware of this, and it is _by design_ due to a limitation of the reporting format used by Surefire. See #1182 for details.

I am therefore closing this issue.

[2018-03-05 12:55] marcphilipp commented on #1318
Hmm, very strange.

This is the `MANIFEST.MF` that the maven-failsafe-plugin creates when I run it on my machine:

[code]

In comparison, the one created by the maven-surefire-plugin is much shorter:

[code]

To me, it looks like this is an issue for the Maven Surefire team.

@Tibor17 Can you please shed some light on what's going on here?

[2018-03-05 14:17] Tibor17 commented on #1318
Here the difference between both plugins is tha packaging. The Failsafe
accepts *.jar of your POM and Surefire takes target/classes.
Can you make a diff?

On Mon, Mar 5, 2018 at 1:55 PM, Marc Philipp <notifications@github.com>
wrote:

--
Cheers
Tibor

[2018-03-05 15:30] marcphilipp commented on #1318
Of the `Class-Path` in the manifest?

[2018-03-05 17:57] Tibor17 commented on #1318
Yes, what I see different is *:2.2.1.
I can check it out with the latest 2.21.0 by my own but later.

On Mon, Mar 5, 2018 at 4:30 PM, Marc Philipp <notifications@github.com>
wrote:

--
Cheers
Tibor

[2018-03-05 18:47] marcphilipp commented on #1318
Here's the diff of [surefire.txt](https://github.com/junit-team/junit5/files/1782159/surefire.txt) and [failsafe.txt](https://github.com/junit-team/junit5/files/1782158/failsafe.txt):

[code]

[2018-03-05 21:41] pfuerholz commented on #1298
@sbrannen Have you seen my findings (see a few posts above) that if you try to remove a non-existing file or `javac` a non-existing class the return code will be non-zero? Hence when you select code to test by:

- `--select-class`
- `--select-method`
- `--select-package`

I would expect return code to be non-zero if class/method/package could not be found!
Realizing this change is (at least for `-

[2018-03-06 01:51] evanchaoli opened #1322 "Assertion invoked via reflection works abnormally in dynamic test"
## Bug Report

Version: JUnit 5.1.0.

I want to implement a dynamic test where test cases are defined in a YAML file. Now I'm hitting a problem as the title.

Looking at my sample code:

[code]

In the sample code, I defined a static test case t1 and a dynamic test caes dt1. In both tests, I just do a dynamic assert.

Looking at the test result, for the static test case t1, assert result is as exp

[2018-03-06 08:57] sormuras commented on #1322
Thanks for opening the issue, @evanchaoli

Related SO question: https://stackoverflow.com/questions/49113936/junit5-dynamic-assert-works-abnormally-in-dynamic-test

As demonstrated in commit https://github.com/junit-team/junit5/commit/b65487d1ac53097b67d176a435a7dd75fc79ffc8 you may catch instances of `InvocationTargetException` an rethrow the associated target exception. I'm not sure if we can ac

[2018-03-06 15:49] sbrannen commented on #1322
@evanchaoli, the reason that it _works_ for your `t1()` method is purely by coincidence due to the fact that JUnit has to use reflection to invoke any test method. Note that the same holds for any testing framework using reflection to invoke test methods (e.g., JUnit 4, JUnit Jupiter, TestNG, etc.).

So, although you may consider that to be a feature, it is in fact an unavoidable behavior of any s

[2018-03-06 15:52] sbrannen commented on #1322
As a side note, since we're on Java 8+, there is no need to implement `Executable` as an anonymous inner class.

Just implement it as a lambda expression. 😉

[2018-03-06 16:07] sbrannen commented on #1322
Closing this issue as "works as designed".

Please use `ReflectionSupport.invokeMethod()` to resolve your issue.

Thanks

[2018-03-06 16:07] #1322 closed

[2018-03-06 19:53] sormuras commented on #809
Tested Surefire 2.21.0 locally using Java 10. Works so far using an updated provider. 👍

[2018-03-06 19:57] Tibor17 commented on #809
Good to hear!
We will release 3.0.0-M1 after maybe two or max three weeks and then
3.0.0-M2 with embedded JUnit5 provider in Surefire project.
It was a pressure from the community to release 3.0.0-M1 first. Hopefully
the most complicated part exists in the branch 3.0-rc1.

On Tue, Mar 6, 2018 at 8:53 PM, Christian Stein <notifications@github.com>
wrote:

--
Cheers
Tibor

[2018-03-06 20:46] marcphilipp commented on #809
@Tibor17 We will have to redonate our current implementation of the provider to your repo because we've fixed quite a few bugs.

[2018-03-06 21:24] Tibor17 commented on #809
Can Benedikt do it?
Haven't heard from him long.

On Tue, Mar 6, 2018 at 9:47 PM, Marc Philipp <notifications@github.com>
wrote:

--
Cheers
Tibor

[2018-03-07 06:45] marcphilipp commented on #809
@britter Do you have time to apply the changes in this repo to the branch in the surefire repo?

[2018-03-07 07:15] britter commented on #809
@marcphilipp @Tibor17 I currently don't have time to work on OSS stuff and I don't know when I will get to it again :( @Tibor17 can you do it?

[2018-03-07 08:00] ilgrosso commented on #809
FWIW, we've [just upgraded](https://github.com/apache/syncope/commit/f36457bce55c641ebce5153d448b8b8e5b9e5b53) to Jupiter 5.1.0, maven-surefire-plugin 2.21.0 and junit-platform-surefire-provider 1.2.0-SNAPSHOT and all seems to work fine.
Great job!

[2018-03-07 08:04] marcphilipp commented on #809
@ilgrosso Thanks for trying it out and reporting back! 😊

[2018-03-07 08:05] marcphilipp commented on #809
@britter on which branch in the Surefire repo is it?

[2018-03-07 08:08] marcphilipp commented on #1318
These extra JARs seem to get added by the maven-failsafe-plugin for some reason. They are certainly not added by our Surefire provider.

@hwellmann Can you please open an issue in Surefire‘s Jira project?

[2018-03-07 08:56] k3nda commented on #60
Hi, what is the progress? When you are going to release parallel execution of tests?

[2018-03-07 09:04] Tibor17 commented on #1318
You have tested it with Version 2.19.x.
Repeat it with 2.21.0; otherwise I will ask you to do it in our Jira
anyway. And provide a project to reproduce this issue.
Thx.

On Wed, Mar 7, 2018 at 9:08 AM, Marc Philipp <notifications@github.com>
wrote:

--
Cheers
Tibor

[2018-03-07 09:06] Tibor17 commented on #809
Yes, I will do it. Can you guys tell me which commit of your project was
last time migrated to Surefire project?
Thx.

On Wed, Mar 7, 2018 at 8:15 AM, Benedikt Ritter <notifications@github.com>
wrote:

--
Cheers
Tibor

[2018-03-07 09:07] Tibor17 commented on #809
The branch is called 3.0-rc1.

On Wed, Mar 7, 2018 at 9:05 AM, Marc Philipp <notifications@github.com>
wrote:

--
Cheers
Tibor

[2018-03-07 09:08] Tibor17 commented on #809
Sorry, my bad. Our branch in Surefire is called "junit5" , easy.

On Wed, Mar 7, 2018 at 10:07 AM, Tibor Digana <tibor.digana@googlemail.com>
wrote:

--
Cheers
Tibor

[2018-03-07 10:22] rosolko commented on #60
@k3nda From 4.6 version gradle support parallel execution via forks.

[2018-03-07 10:35] sormuras commented on #60
@k3nda There's an active [feature branch](https://github.com/junit-team/junit5/tree/experiments/parallel-execution) which might be integrated as an experimental feature in 5.2.0-SNAPSHOT ... soon.
If you want to test-drive it now, compile and install it locally, or use jitpack.

[2018-03-07 12:28] sormuras commented on #60
Added a proof-of-concept branch at https://github.com/junit-team/junit5-samples/compare/parallel-execution ... which will never be merged. But it demonstrates that the Jupiter-internal parallel execution mode works.

[2018-03-07 12:31] k3nda commented on #60
@rosolko I am using maven
@sormuras ok, I will try asap. And is it possible execute it with _maven-surefire-plugin_?

[2018-03-07 12:32] marcphilipp commented on #809
The commit was 2f49071dfc9005f556543e34ca41027c63fde927. You should probably take @britter's branch and apply the diff to the first commit and then apply all of his changes. Please let me know if I can help.

[2018-03-07 12:37] sormuras commented on #60
See the Maven instructions shown at jitpack URL above. If it works with Surefire? No idea. Keen on trying it out?

[2018-03-07 12:42] sormuras commented on #60
@marcphilipp The https://github.com/junit-team/junit5/tree/experiments/parallel-execution is still based on 5.1-M2 ... it lacks the final `org.junit.jupiter.api.condition` package and other fixes. Will @leonard84 or you rebased in the near future?

[2018-03-07 13:25] sbrannen commented on #809
@sormuras, can this issue be closed now?

[2018-03-07 14:03] marcphilipp commented on #60
I'll meet with @leonard84 this weekend. I'll try to merge master into the feature branch before.

[2018-03-07 15:24] sormuras commented on #809
Sure. All deliverables are checked.

[2018-03-07 15:28] #809 closed

[2018-03-07 15:38] marcphilipp commented on #1318
Using Surefire/Failsafe 2.21.0 and the latest snapshots resolves the issue:
https://github.com/marcphilipp/junit5-failsafe/commit/ece8ed9579ca1fc408591e844dcbeac9c4655771

[code]

[2018-03-07 15:38] #1318 closed

[2018-03-07 15:46] marcphilipp commented on #1298
No offence, but adding `PreconditionViolationException` to `BlacklistedExceptions` does not sound like a solution to me but a hack that works only by coincidence.

I think we could sanity check selectors and introduce a `--strict` mode. The sanity checks could verify the following:

* `--select-class`: class exists
* `--select-method`: method exists
* `--select-package`: package exists

etc.

@jun

[2018-03-07 15:49] marcphilipp commented on #944
IMHO a setup function that gets parameterized test arguments only makes sense when all test methods in a class are parameterized and use at least similar parameters. Thus, I think it would make sense to support this when the class is parameterized instead of the method (as we plan to do in #878).

[2018-03-07 16:06] sormuras commented on #1188
Re-tested this with Java 9 and Java 10 using Surefire 2.21.0 and JUnit 5.2-SNAPSHOT. Excludes like a charm.

[2018-03-07 16:06] #1188 closed

[2018-03-07 16:11] sbrannen commented on #1298
I think providing such an opt-in feature via an explicit "strict" mode should be fine.

[2018-03-07 16:13] sbrannen commented on #944
I agree with @marcphilipp's analysis.

[2018-03-07 19:36] robstoll commented on #1298
Personally I would do it the other way round, Be strict and provide an option to be loose. I think it is better to have an aha-junit-has-implement-a-check moment than an aha-junit-does-not-care moment -- well yes, I have chosen biased terms, maybe its just a personal taste, as long as it is documented properly it should not matter.

[2018-03-08 07:13] jlink opened #1323 "Move Cross-Engine Annotations to Platform API Package"
## Overview

There are a few annotations (`@DisplayName`, `@Tag`, `@Tags`, `@Disabled`) that will eventually
be implemented by all annotation-based test engines. For example, jqwik just introduced a `@Label` annotation to allow for customized test names.

For test writers it can be confusing why they have to choose different annotations for different types of tests to basically do the same thing.

[2018-03-08 08:03] sormuras commented on #1323
Mh, first thought: good candidate for https://github.com/ota4j-team/opentest4j

Second thought: test writers will usually(?) use a single test engine API. That API should provide all types it supports. What if another engine does not support tagging per-se and the test writer uses the `@Tag` which is ignored?

[2018-03-08 08:28] jlink commented on #1323
@sormuras

I briefly thought about opentest4j but discarded it since the annotation conflict only shows up when running on the junit platform. Running two different test frameworks outside junit platform would be an error-prone setup.

As for "test writers will usually(?) use a single test engine": not necessarily. For projects that require Spring support I  nowadays often choose Jupiter as base b

[2018-03-08 13:00] sbrannen commented on #1323
I certainly cannot deny that.

However, I am not a fan of moving core annotations outside of the Jupiter API.

Once we move annotations outside of our control, we then lose the ability to modify them at a later date to support new features within Jupiter.

For example, if we ever determine that we need to meta-annotate one of those annotations or introduce additional attributes in them, it would b

[2018-03-08 13:02] sbrannen commented on #1323
Assigned to 5.2 M1 for _team discussion_

[2018-03-08 13:42] sbrannen commented on #1298
Well, that would be a breaking change.

So regardless of whether it may be preferential to be strict by default, that ship has already sailed: the JUnit Platform has not performed such a check since its initial release. Consequently, we generally have to err on the side of caution with regard to backwards compatibility.

[2018-03-08 13:48] robstoll commented on #1298
unless you declare it as bug in which case you can fix it ;)

[2018-03-08 13:49] sbrannen commented on #1298
true... but I'm not _convinced_ that it's a 🐛 .

[2018-03-08 13:50] sbrannen commented on #1298
Tentatively slated for 5.2 M1 for _team discussion_

[2018-03-08 20:36] pfuerholz commented on #1298
Thanks for taking my point serious! If you change the default behavior or adding a "strict" mode does not matter me.

[2018-03-10 03:10] ajeydudhe commented on #1320
I have verified the parameterized tests using JUnit4 and there the actual parameter names are getting used instead of just the index names.
![image](https://user-images.githubusercontent.com/2289680/37237765-5307ff4a-243e-11e8-85d3-b2ab4664596e.png)
Also the surefire report uses the name as <testmethod>[parameter_name]

[TEST-ParamTest.txt](https://github.com/junit-team/junit5/files/1799023/TEST-P

[2018-03-10 03:24] ajeydudhe commented on #1320
@sbrannen can you take a look at this? If the parameterized tests use the parameter name properly to identify the test as <test_method_name><parameter_name_from_@Parameters(name=something)> then we should have similar behavior for dynamic tests too.

[2018-03-10 11:36] marcphilipp commented on #60
I've just updated the feature branch. Feel free to try it out using Jitpack.

[2018-03-10 16:59] sbrannen commented on #1320
Hmmm... interesting.

@marcphilipp, since you invested so much effort in #1182, what are your thoughts on including custom display names (if present) vs. the current _indexed_ format?

[2018-03-10 16:59] sbrannen commented on #1320
Reopening for _team discussion).

[2018-03-11 04:37] 7-- opened #1324 "@BeforeAll not running"
The UsersController field isn't getting initialized in the BeforeAll method. It's my understanding the BeforeAll method should run before the test in called, so the field should be initialized.

[code]

https://github.com/7--/GoldTeam-Tomcat/blob/master/src/test/java/com/revature/controller/UsersControllerTest.java

[2018-03-11 08:58] sbrannen commented on #1324
I just cloned your project, and the `@BeforeAll` method is in fact executed.

The error I get is the following.

[code]

That makes perfect sense: you never set the `UsersDao usersDao` field in the `UsersController` that you instantiate in your `@BeforeAll` method. Thus, the `NullPointerException` actually results from the `UserDao` being `null`.

I am therefore closing this issue as _invalid_.

[2018-03-11 08:58] #1324 closed

[2018-03-11 11:32] sbrannen commented on #1191
Yes, we are still considering introducing such a converter in the 5.2.x time frame.

Yes, that adequately describes the status quo.

Yes, `ParameterizedTestParameterResolver` would have to be modified to support both the existing `ArgumentConverter` API and the new `AggregatingArgumentConverter` API, depending on the concrete type of converter configured via `@ConvertWith`.

I'm not quite sure wha

[2018-03-11 15:10] sbrannen commented on #1191
In response to the proposal in #1325, I'd like to outline what I think we should be achieving in terms of the programming model for end users, setting aside implementation details for the moment.

I envision a new `AggregatingArgumentConverter` API similar to the following.

[code]

As for whether or not `AggregatingArgumentConverter` should extend `ArgumentConverter` remains up for discussion. If

[2018-03-11 15:14] sbrannen commented on #1191
@klassounski-daitan, @hglasgow, @geo-m, and @junit-team/junit-lambda,

What do you all think about my above proposal?

[2018-03-11 15:24] marcphilipp commented on #1191
It would be more flexible if `PersonArgumentConverter` wouldn't have to hard-code the indexes. For example, there might be multiple CSV files. In one the first two columns might be first and last name, in another it might be the fifth and sixth etc.

How about a new annotation to register an `AggregatingArgumentConverter` (or `ArgumentAggregator`?), e.g. `@AggregateWith(aggregator = PersonAggregat

[2018-03-11 15:27] sbrannen commented on #1191
To create an aggregating converter that converts multiple arguments into a collection, we would could consider providing some built-in implementations, but even if we don't... the implementations are rather straightforward.

For example, an aggregating converter for a `List` target type:

[code]

[2018-03-11 15:29] sbrannen commented on #1191
@marcphilipp, I was also pondering what to do about the indices... but I intentionally out that detail until we got a bit further in the design discussions.

But... since you've brought it up.... 😉

Yes, I do think we will need to provide a means for an aggregating converter to convert a specific number of arguments, potentially by index or range.

[2018-03-11 15:34] sbrannen commented on #1191
Actually, I can foresee the need for multiple aggregating converters for a single parameterized test method. For example, if a CSV line contains information for a `Person` and an `Address` (and the `Person` object does not _own_ the `Address`), one could imagine wanting to write a test like this:

[code]

[2018-03-11 15:45] sbrannen commented on #1191
Regarding `AggregatingArgumentConverter` vs. `ArgumentAggregator`, the latter might in fact be a better choice since the primary role is aggregation instead of conversion.

Plus having a different name logically results in a different annotation for registering it and avoids the aforementioned issues with trying to treat it as a sub-interface of `ArgumentConverter`.

In other words, I'm basically

[2018-03-11 15:46] sbrannen commented on #1191
Regarding `indices` vs `indexes`, that's a whole other can of worms. 😝

[2018-03-11 15:47] geo-m commented on #1191
@sbrannen

The reason the example collection implementation i provided was a bit more verbose was the impression that the user should choose the list implementation he wants or use custom collection types, for example provide a set for unique arguments, or a treemap for sorting.

Regarding the indices, is there anything inherently different in an Aggregator apart from access to all arguments at on

[2018-03-11 15:50] sbrannen commented on #1191
Yep, I understood what you were doing.

We could potentially consider providing a built-in aggregator that explicitly supports aggregation via collection target types, but we should get the rest of the programming model right before adding on.

[2018-03-11 15:51] sbrannen commented on #1191
Well, as I mentioned in my example, a user may wish to have more than one object aggregated from various elements on the source arguments array.

And as Marc pointed out, the order or the arguments may change based on the source used.

[2018-03-11 15:52] marcphilipp commented on #780
Currently _in progress_ as part of #60.

[2018-03-11 15:54] sbrannen commented on #1191
Tentatively slated for 5.2 M1

[2018-03-11 19:38] sormuras commented on #1191
Mh, the initial request escalated quickly. ;) From simple to over complicated?

I like this more:
[code]

[2018-03-11 20:32] sbrannen commented on #1191
I don't see it like that.

Any such feature should be easy to use for simple use cases but still _usable_ for more advanced use cases (without having to introducing breaking changes in the published API at a later date). So, based on my experience in API design for OSS, if we know (or have a very strong hunch) that people will request the advanced features later, it's generally a good idea to incl

[2018-03-11 21:05] sbrannen commented on #1191
We could of course consider supporting something like that as well, but I don't know if we'd want to support auto-conversion to array component types other than `Object`.

Also, although I certainly appreciate the simplicity in the convention there, I'm not so sure it's really better from a user's perspective in terms of having to pull out the values from the array (and potentially converting them

[2018-03-12 03:10] bechte commented on #1191
Actually, I am in favor of @sormuras' suggestion, because of two reasons:

1.  I am not a big fan of "complex" annotations on parameters, because they tend to become a nightmare to read, especially on auto-formatted project code, as code formatters have troubles in setting thing the nice and smooth readable way as done manually by @sbrannen in the example above.
1.  I share the concerns about comp

[2018-03-12 08:21] sormuras commented on #1191
@bechte Thanks for the detailed answer and you explained my concerns with the annotation-based program logic very well.

The simple factory methods I used, `Person.of` and `Address.of`, are just examples. If such constructors or factory methods don't exist in ones domain model, I'd resort to test-local factories, like:

[code]

Usage in the `aggregatingTest(Object... values)` method:
[code]

The d

[2018-03-12 10:06] bechte commented on #1191
@sormuras I'm with you, that this would be the trivial solution. At a first glimpse, the DSL idea also felt a bit wrong to me. But the longer I was thinking about the benefits of @sbrannen's approach, I think it is worth it. We could provide a very easy, yet powerful DSL, that leads to a reusable test pattern when dealing with parameterized tests:

- tests become easier to read
- tests follow a co

[2018-03-12 11:43] geo-m commented on #1191
Would a combination of your suggestions be ok?

If  a simple List or other collections as the default aggregator, with `@Aggregate` being just shorthand for @AggregateWith(..default) for clarity purposes you could do either this

[code]

or this

[code]

or even specific indexes

[code]
or, for easy of use, completely ignore the index parameters if you expect the converter to use all of them

[cod

[2018-03-12 12:13] marcphilipp commented on #1298
Team Decision:

- The Launcher cannot reliably decide whether a selector was resolved into a `TestDescriptor` that was actually executed. The sanity checks proposed above would only work for Java classes, but you could use a `ClassSelector` for a Javascript class etc.
- We will implement `--fail-if-no-tests` to check whether number of found tests is greater than 0.
- For any additional validation

[2018-03-12 13:01] sbrannen commented on #1191
Please hold off on implementing anything concrete for the time being.

The @junit-team/junit-lambda is still actively discussing where we want to take this feature.

We will be providing additional input here, and we would also appreciate input from the rest of you!

Speaking of which, @geo-m, thanks for providing the examples. Those will help guide the discussion.

[2018-03-12 13:46] acogoluegnes commented on #1188
But doesn't work at all with https://github.com/junit-team/junit5-samples/tree/r5.1.0 (at least on Java 8 and 9).

[code]

[2018-03-12 13:58] jponge commented on #1188
I've also observed that no test are run indeed.

On Mon, Mar 12, 2018 at 2:46 PM, Arnaud Cogoluègnes <
notifications@github.com> wrote:

[2018-03-12 14:03] sbrannen commented on #1188
@acogoluegnes and @jponge,

As @sormuras mentioned:

You have to use JUnit 5.2 snapshots (e.g., Platform `1.2.0-SNAPSHOT`).

[2018-03-12 14:10] sbrannen commented on #1188
For example, the following POM works locally for me on JDK 8, 9, and 10.

<details>

[code]

</details>

[2018-03-12 14:11] sbrannen commented on #1188
Actually... it works on JDK 11, too. 😉

[2018-03-12 14:26] acogoluegnes commented on #1188
I prefer not to use the snapshots. I had to revert back to Surefire 2.19.1, as the respective latest stable versions of all those libraries don't work together for the simplest use case. I'll try the latest JUnit 5 and platform versions. Happy to see it's fixed in the next release though.

[2018-03-12 14:58] sbrannen commented on #1188
I totally understand that!

I wasn't actually suggesting that people use the snapshots for _production_. Rather, I was just pointing out that Maven Surefire 2.21.0 is currently only supported by the JUnit Platform in snapshots. 😉

I'm also just sticking with Surefire 2.19.1 for the time being (if I have to use Maven).

[2018-03-12 15:07] jponge commented on #1188
The "only" issue with 2.19.1 is that tags get skipped on Java 9 :-)

On Mon, Mar 12, 2018 at 3:59 PM, Sam Brannen <notifications@github.com>
wrote:

[2018-03-12 15:19] sormuras commented on #1188
fwiw https://github.com/junit-team/junit5-samples/blob/master/junit5-vanilla-maven/pom-SNAPSHOT.xml

[2018-03-12 15:50] sbrannen commented on #1188
Yeah... well... we unfortunately can't do anything about that. :(

[2018-03-12 16:00] sbrannen commented on #1191
@klassounski-daitan, I took the liberty to change the examples you provided to refer to `Person` objects instead of `TestData` so that the discussion here can focus on more concrete use cases.

I hope that's OK with you, and if my changes somehow affect your original intention, please let me know.

[2018-03-12 16:11] sbrannen commented on #1191
Replying to myself here...

After having put a bit more thought into, I actually don't think it would be very common to parse multiple aggregated objects from a single set of inputs.

In fact, when I think about existing "mapping" frameworks out there, I can't really think of one that would support such a use case. For example, Spring Batch supports mapping a single CSV line onto a single domain o

[2018-03-12 16:15] sbrannen commented on #1191
@bechte, one of the key benefits of being able to externalize the aggregation/conversion is that doing so makes the implementation reusable across multiple test methods or test classes, analogous to implementing one of Jupiter's `Extension` APIs and being able to reuse the extension.

[2018-03-12 16:18] sbrannen commented on #1191
@bechte, the notion of introducing a DSL for extracting and converting is definitely worth investigating further.

@marcphilipp also proposed a similar idea that would allow the existing auto-conversion infrastructure to be reused by developers, but I'll let him chime in with the details of his idea later. 😉

[2018-03-12 18:25] marcphilipp commented on #1323
We've discussed this issue in the team. We believe it's more confusing for new users to have these annotations in a different package or even artifact. Test authors that use multiple engines should be experienced enough to pick the correct import. In addition, from a maintainability perspective, using the same annotation in multiple APIs to write tests would introduce an unnecessary coupling betwe

[2018-03-12 18:25] #1323 closed

[2018-03-12 18:35] bechte commented on #1191
@sbrannen, yes I agree with that. Was I was trying to say is, that to me it doesn’t matter if an externalized way to aggregate / convert those lines is placed in the parameter line by annotate the parameters or in the first lines of the method as an clean DSL. (While I prefer the latter ;-))

[2018-03-12 18:42] marcphilipp commented on #1191
Here's an idea that let's one reuse the existing auto-conversion infrastructure:

[code]

In addition, there would be a `get(Class<?>, int)` method.

We could combine this with @bechte's DSL idea:

[code]

Each `ArgumentsConverter` would get an `ArgumentsAccessor` instance so it could also reuse the existing auto-conversion infrastructure.

[2018-03-12 18:42] hwellmann commented on #1318
Tested successfully with 5.2.0-SNAPSHOT in the context where the problem originally ocurred (i.e. not my small demo project).

[2018-03-12 18:46] marcphilipp commented on #1318
@hwellmann Thanks for reporting back -- I'm glad it works now! 👍

[2018-03-13 08:56] guenhter commented on #768
I guess with gradle 4.6, this is no longer an issue because support is now integrated.

https://docs.gradle.org/4.6/release-notes.html?_ga=2.23402686.529326761.1520834024-229490448.1507271429#junit-5-support

[2018-03-13 16:16] sbrannen commented on #768
Good point.

Thanks for mentioning it!

I'll close this issue now...

[2018-03-13 16:16] #768 closed

[2018-03-13 20:59] manueljordan commented on #1284
Hello @sbrannen @marcphilipp

Sorry to bother you, just for your consideration

[Let Gradle Report shows the report generated through the name attribute of the @ParameterizedTest #4712](https://github.com/gradle/gradle/issues/4712)

I know it is not a bug about `JUnit` itself, but since the current [Console Launcher](https://junit.org/junit5/docs/current/user-guide/#running-tests-console-launcher)

[2018-03-14 05:25] bechte commented on #1191
@marcphilipp, cool. Like the idea.

[2018-03-14 13:50] sbrannen commented on #1284
I'm not quite sure what you are requesting.

If you are repeating what you've already requested in https://github.com/gradle/gradle/issues/4712, that will be handled by the Gradle team.

If you are requesting some action from the JUnit team, please open a new issue since _this_ issue has already been resolved.

[2018-03-14 14:08] manueljordan commented on #1284
I just share the link to you both. Because _I was not sure_ if the problem or situation was really about `JUnit` because I can see the data through `Jenkins` and not through `Gradle`. That's why the post has been created in `Gradle` and not in a new post in `JUnit`. Thus I've assumed through your own experiments/testing would confirm the same experience by your side. That's all

[2018-03-14 16:04] sbrannen commented on #1284
It's totally fine to share links with us to raise our awareness! We certainly welcome that. 😉

But... it's just not a good practice to post stuff like that in an issue that's already been closed, since it might get overlooked. Plus, it's also not a good idea to mix topics in a single issue in an issue tracker.

Regarding the status quo for Gradle's reporting for the JUnit Platform, yes, we are awa

[2018-03-14 16:17] manueljordan commented on #1284
I understand, but because I was not sure that `JUnit` would be the main reason of this situation, I decided to not create a new post to avoid bother you without a solid reason. I mean if the problem was really about Gradle has no sense report this to JUnit. Thus I only have shared the link.

I see, I didn't know if you are closely checking the problems about Gradle with Junit, thus I have decided

[2018-03-14 16:24] sbrannen commented on #1284
There's an `in:testing` label for Gradle that you can _watch_ for known issues:

https://github.com/gradle/gradle/issues?q=is%3Aissue+is%3Aopen+label%3Ain%3Atesting

Also, the issue you raised is basically a duplicate of this one:

https://github.com/gradle/gradle/issues/4423

[2018-03-14 16:25] AlexTrotsenko commented on #201
I see there is no activity on this issue for a while: any updates on `powermock` issue?

[2018-03-14 16:37] sbrannen commented on #1191
Yep, I agree.

Great teamwork here..... I really like how the programming model is taking shape here! 👏

[2018-03-14 17:18] manueljordan commented on #1284
Thanks by the tag information

[2018-03-14 20:03] robeden commented on #1178
I would also like to be able to have DynamicTests deal with tags. Perhaps the two portions of this request should be broken apart so they could be dealt with separately?

I don't like it as well as the framework dealing with it, but I suppose the TestFactory could do the filtering if it had access to information about what's included/excluded for the run.

[2018-03-14 21:10] AJNeufeld commented on #1191
Is there any check to see if all the indices are used?  How about if any indices are used more than once?  If not, I fail to see how this "aggregation" is any different from "conversion".  But instead of converting from simple strings, you have two ArgumentConverters, both which are converting from an ArgumentsAccessor object, ... one converting into a Person object, the other into an Address obje

[2018-03-15 07:53] bechte commented on #1191
@AJNeufeld, thanks for sharing your insights.

Currently, this is not planned as far as I understood. We could probably add a verification method to the `ArgumentsAccessor` that can be called within the test, but I wouldn't expect that this verification needs to be done with every kind of test data. Often there is a field or two that are not necessary, or fields that might be used several times.

[2018-03-15 08:00] sormuras commented on #1191
I like the `ArgumentsAccessor` proposal.

It could/should provide a read-only access to the raw `String` values, too. Something like:

[code]

[2018-03-15 08:05] bechte commented on #1191
@sormuras, with that in place, the test writer himself can decide which direction to go. I think that is valid and should be one of our targets. So, fine with me.

[2018-03-15 15:47] AJNeufeld commented on #1191
@bechte Yes, I did review the proposal by @marcphilipp and I both liked it and disliked it.  What I disliked was the "ceremony" around passing multiple arguments to one converter:
[code]
I immediately thought, "well, I could make a function that takes the converter and indices and produces the desired output with less typing on my part":
[code]
I understand the desire to use a fluent DSL to proces

[2018-03-15 15:53] pfuerholz commented on #1298
Thanks for your information though I am still a bit puzzled by your explanation:

- You are on the way to use JavaScript (incl. other scripting languages) in annotations as I have seen [here](https://junit.org/junit5/docs/current/user-guide/#writing-tests-conditional-execution-scripts)
- Do you want JUnit to test JavaScript code? (IMHO there exist already some tools for this.)

If you wanted let {

[2018-03-15 16:06] sbrannen commented on #1298
No, that was not Marc's point.

The topic of _this_ issue is the `ConsoleLauncher` which is part of the JUnit Platform.

The `ConsoleLauncher` has nothing to do with the JUnit Jupiter programming model: they are separate subprojects of "JUnit 5".

The _Platform_ is generic and can support testing frameworks written in various programming languages and test formats.

But... somebody _could_ introdu

[2018-03-15 16:11] sbrannen commented on #1298
When Marc wrote, "but you could use a `ClassSelector` for a Javascript class etc.", that was just an example.

He could just as easily have said Ruby, Groovy, Kotlin, Scala, or any other language that runs on the JVM.

The point is that the `ConsoleLauncher` will never have intimate knowledge of the test engines currently being executed on the JUnit Platform. Consequently, the `ConsoleLauncher` "c

[2018-03-15 16:33] sbrannen commented on #1191
I was also thinking about providing direct access to the arguments as either an array or list:

[code]

[2018-03-15 16:58] marcphilipp commented on #1178
Tags would certainly be far less problematic to implement, so splitting would make sense.

@robeden What's your use case for tags on dynamic tests?

[2018-03-15 17:44] robeden commented on #1178
We're using JUnit as an engine for our internal system/integration test framework. Most of those tests are being written as shell scripts, which are discovered and handled by a @TestFactory. I based the framework on JUnit, so our shell script-based tests also have tags associated with them. It would be great to allow them to be included/excluded in all the same way normal tests are. It caught me b

[2018-03-16 02:28] Rajaram-Chelladurai opened #1327 "Getting PreconditionViolationException: Classpath resource does not exist: /JuntTest.csv"
I am getting below exception while using `@ParameterizedTest` with `@CsvFileSource`.

Can someone help on this?

**Test Method:**

[code]

**JunitTest.csv file present in src/test/resources**

**Maven Dependencies:**

[code]

**Exception:**

[code]

[2018-03-16 05:41] mkobit commented on #1327
This is probably better for Stack Overflow, but the exception message looks fairly clear

[2018-03-16 11:20] marcphilipp commented on #1088
Team decision: Implement option # 1.

[2018-03-16 11:21] marcphilipp commented on #1088
@karollewandowski I've just tagged this issue _up-for-grabs_ so feel free to pick it up. 😉

[2018-03-16 14:15] marcphilipp commented on #579
Since Gradle now provides native support for running tests on the JUnit Platform, we've decided to deprecate our custom plugin (see #1317 for details). Thus, we'll not add any new features to it.

[2018-03-16 14:15] #579 closed

[2018-03-16 14:17] marcphilipp commented on #892
Gradle now provides [native support](https://docs.gradle.org/4.6/release-notes.html#junit-5-support) for running tests on the JUnit Platform and the testsets plugin should work as usual. We've decided to deprecate our custom plugin (see #1317 for details) and not add any new features to it. Thus, I'm closing this issue.

[2018-03-16 14:17] #892 closed

[2018-03-16 14:18] marcphilipp commented on #1024
Since Gradle now provides [native support](https://docs.gradle.org/4.6/release-notes.html#junit-5-support) for running tests on the JUnit Platform, JaCoCo should work without any extra configuration. We've decided to deprecate our custom plugin (see #1317 for details) and not add any new features to it. Thus, I'm closing this issue.

[2018-03-16 14:18] #1024 closed

[2018-03-16 14:19] marcphilipp commented on #1125
Since Gradle now provides [native support](https://docs.gradle.org/4.6/release-notes.html#junit-5-support) for running tests on the JUnit Platform, the classpath length should no longer be an issue. We've decided to deprecate our custom plugin (see #1317 for details) and not add any new features to it. Thus, I'm closing this issue.

[2018-03-16 14:19] #1125 closed

[2018-03-16 14:20] marcphilipp commented on #1166
Gradle now provides [native support](https://docs.gradle.org/4.6/release-notes.html#junit-5-support) for running tests on the JUnit Platform using the standard `test` task which does not show stdout by default. We've decided to deprecate our custom plugin (see #1317 for details) and not add any new features to it. Thus, I'm closing this issue.

[2018-03-16 14:20] #1166 closed

[2018-03-16 14:24] marcphilipp commented on #827
Closing due to lack of activity. Please reopen if the issue persists.

[2018-03-16 14:24] #827 closed

[2018-03-16 14:24] marcphilipp commented on #738
Closing due to lack of activity. Please reopen if the issue persists.

[2018-03-16 14:24] #738 closed

[2018-03-16 14:26] marcphilipp commented on #700
Gradle now provides [native support](https://docs.gradle.org/4.6/release-notes.html#junit-5-support) for running tests on the JUnit Platform using the standard `test` task. We've decided to deprecate our custom plugin (see #1317 for details) and not add any new features to it. Thus, I'm closing this issue.

[2018-03-16 14:26] #700 closed

[2018-03-16 14:29] marcphilipp commented on #126
@bechte Can we close this one? Should the need to move a test ever arise we can revisit this topic.

[2018-03-16 14:29] marcphilipp commented on #195
@rherrmann Is this issue still relevant?

[2018-03-16 14:34] marcphilipp commented on #520
Resolved in #720.

[2018-03-16 14:34] #520 closed

[2018-03-16 14:38] marcphilipp commented on #706
Johannes is correct! Finally closing this issue... 👍

[2018-03-16 14:38] #706 closed

[2018-03-16 14:44] marcphilipp commented on #710
This is now possible: 5.1 introduced `Store.CloseableResource`.

In addition to parameterized methods, #878 will introduce parameterized classes which should cut down the boilerplate for the scenario described in this issue. Thus, I'm closing it for now. Please let us know if you have any questions.

[2018-03-16 14:44] #710 closed

[2018-03-16 14:45] marcphilipp commented on #721
@smoyer64 Is this issue still relevant?

[2018-03-16 14:48] marcphilipp commented on #510
@rolandkrueger Is this issue still relevant for you? If so, we could tag it _up-for-grabs_ for a contributor to pick up.

[2018-03-16 14:50] marcphilipp commented on #346
@smoyer64 Is this a candidate for junit-pioneer?

[2018-03-16 14:51] marcphilipp commented on #141
Related issue: #60.

[2018-03-16 14:52] marcphilipp commented on #605
@akozlova Is this still an issue?

[2018-03-16 15:47] marcphilipp commented on #1092
I changed the issue title accordingly. @aaschmid Is this something you'd be interested to work on?

[2018-03-16 15:49] aaschmid commented on #1092
@marcphilipp I can create a PR for this. What thoughts have you already got on this in your team discussion?

[2018-03-16 15:51] marcphilipp commented on #880
Closing in favor of #1273.

[2018-03-16 16:02] marcphilipp commented on #201
@AlexTrotsenko I'm afraid not.

First, we need to have a clear understanding what extension point would be required.

@thekingnothing Have you had time to check on corner cases etc.?

[2018-03-16 16:03] marcphilipp commented on #1178
Have you considered writing a `TestEngine` that supports discovering and executing the shell-script based tests?

[2018-03-16 16:21] marcphilipp commented on #1191
@AJNeufeld Thanks for the feedback! We've discussed the issue in the team today and believe the `ArgumentsAccessor` approach might still be useful. However, we are going to postpone the decision on the fluent API.

The current `ArgumentConverter` API converts arguments one by one. In our opinion, we should not force users to downcast its `Object` parameter to `List<Object>`. In addition, it could

[2018-03-16 16:27] marcphilipp commented on #1092
Nobody objected against supporting widening conversions. So, feel free to ahead and create a PR. 🙂

[2018-03-16 16:33] dnccfu commented on #1088
Hello @marcphilipp

I apologize for posting non-issue content related here but i could not find any information about this subject. I have noticed you are marking some issues as up-for-grabs. Does that mean that anyone is free to submit a PR regarding those?

Also i would like to ask a question about your repo etiquette. Before submitting a PR should one ask the original issue author (in this case

[2018-03-16 17:35] robeden commented on #1178
No, I haven’t. I found `@TestFactory` and stopped there. I’ll take a look.

[2018-03-16 17:35] marcphilipp commented on #1088
No worries! There's a short Contributing section in the repo's readme:

We haven't written it down as a rule but you're right: it has become a common courtesy to do so. In this case, @karollewandowski has already expressed his interest so that's why I asked him. Let's give him a day or so to respond and then see, ok?

[2018-03-16 17:39] marcphilipp commented on #1178
There's a short section in the User Guide about it:
https://junit.org/junit5/docs/current/user-guide/#launcher-api-engines-custom

[2018-03-16 17:54] dnccfu commented on #1088
Great, thanks! Not in a rush for this particular issue, but you guys are lightning fast with the features and bug fixes (great work btw), so if someone wants the opportunity to work on an existing issue he needs to be a ninja.

Still i have found junit5 much more accessible and interesting to pontentially work on compared to behemoths like Spring where a pull request can take 7 months due to the s

[2018-03-16 18:17] robeden commented on #1178
Definitely looks like I could do anything there... though the complexity considerably higher.

[2018-03-16 23:35] ming13 commented on #744
Just to clarify — is this gonna help with test suites discovery by IDE and other launchers? Especially using custom engines. Let me elaborate on that.

Let’s take [Spectrum](https://github.com/greghaskins/spectrum) as an example. Spectrum tests barely [look](https://github.com/greghaskins/spectrum#examples) like classic JUnit tests — they do not have any methods annotated using the `@Test` annotat

[2018-03-17 09:07] sormuras commented on #425
The sub project [junit-platform-commons-java-9](https://github.com/junit-team/junit5/blob/master/junit-platform-commons-java-9/junit-platform-commons-java-9.gradle#L50) and the sample project [junit5-modular-world](https://github.com/junit-team/junit5-samples/tree/master/junit5-modular-world) tackle most of the deliverables listed in the initial description.

Thus, closing this issue. Please open

[2018-03-17 10:15] marcphilipp opened #1331 "Delete junit-platform-gradle-plugin subproject"
The `junit-platform-gradle-plugin` will be deprecated in JUnit Platform 1.2 and is scheduled to be discontinued in JUnit Platform 1.3.

## Deliverables

- [ ] Remove the `junit-platform-gradle-plugin` subproject from Gradle config and Git repo using the **JUnit Team** account for the commits