[2018-11-09 13:30] sbrannen commented on #1673
Great detective work! 👍

[2018-11-09 15:42] sormuras commented on #1671
https://stackoverflow.com/questions/51992347/missing-iframe-view-for-javadocs-jdk-11

[2018-11-09 16:34] sbrannen commented on #13
Drum roll........

Support for ordering the sequence of test methods has been merged into `master` in commit 5300e650c2662586ecb9f409223ec6bed9d5eae6. 😎

[2018-11-09 16:34] #13 closed

[2018-11-09 17:01] aalmiray commented on #13
Yay! Thanks again

[2018-11-09 17:05] sbrannen commented on #13
¡de nada! / You're welcome! 😉

[2018-11-09 18:09] marcphilipp commented on #1671
Thanks for the link, @sormuras! I've tried adding the `--frames` option and it works but generates the following warning:

[code]

I think we should use it anyway for now, at least for the aggregated docs.

@junit-team/junit-lambda WDYT?

[2018-11-09 19:12] #602 closed

[2018-11-09 19:22] #1666 closed

[2018-11-10 07:33] sormuras commented on #1375
_in progress..._

[2018-11-10 13:49] sbrannen commented on #1670
Update: documentation has been addressed in commit c27f8bac42910515d372ec08d178eeb769ba0451.

That commit also implements (hopefully) all missing precondition checks, but since the tests have not yet been written... that remains to be seen. 😉

[2018-11-10 18:50] gilday opened #1675 "Add note about controlling concurrency when using parallel execution to user guide"
While working with parallel test execution in JUnit 5.3.1, I came across a mystery that I have not yet solved wherein I can trick JUnit into running more concurrent tests than it is configured to run as a side-effect of sleeping a thread inside of a `CompletableFuture` i.e.

[code]

When this code is present in a test, JUnit will run an additional concurrent test. For example, if `junit.jupiter.ex

[2018-11-11 18:30] gilday commented on #1675
I dug into this a bit. JUnit's `ForkJoinPoolHierarchicalTestExecutorService` uses `ForkJoinTask.getSurplusQueuedTaskCount()` to hold the "current level of parallelism" count when [deciding to start another concurrent test](https://github.com/junit-team/junit5/blob/0e0f2b953c04f71a200e6dccdf35297958941d2c/junit-platform-engine/src/main/java/org/junit/platform/engine/support/hierarchical/ForkJoinPoo

[2018-11-11 18:52] sormuras commented on #1669
@sbrannen and my favorite is: **Define a JAR MANIFEST key that may contain the hint.**

[2018-11-11 20:45] marcphilipp commented on #1675
I cloned your sample project and tried it out. The reason the `ForkJoinPool` spawns additional workers is not the `Thread.sleep()` but the `CompletableFuture.join()` which [calls `ForkJoinPool.managedBlock()`](https://github.com/unofficial-openjdk/openjdk/blob/591fb7c64d72380881194df11cff48c083405a62/src/java.base/share/classes/java/util/concurrent/CompletableFuture.java#L1894). Since the thread i

[2018-11-12 14:32] gilday commented on #1675
Good catch re `ForkJoinPool.managedBlock()`.

This behavior is repeatable with both static tests and repeated / parameterized tests; I just used the `@Repeated` support in the example for brevity.

If I configure the `ForkJoinPool` that [JUnit creates](https://github.com/junit-team/junit5/blob/0e0f2b953c04f71a200e6dccdf35297958941d2c/junit-platform-engine/src/main/java/org/junit/platform/engine/su

[2018-11-12 15:57] dotCipher commented on #1621
Sorry I was traveling and just saw this.  Can I still take point on it now?

[2018-11-12 17:11] jlink commented on #1669
Why would that be better than specifying an additional testRuntime dependency? Is it just the one line?

As soon as we get to Java 9+, the module system will make the separation into two jars redundant or does it?

[2018-11-12 19:15] marcphilipp commented on #1675
After re-reading the documentation on the async-mode it doesn't sound like it's a good fit for our general use case. We do use fork _and_ join to ensure all children are executed before finishing a container etc. But I will do a few experiments and report back here.

[2018-11-13 09:49] onemanagency opened #1678 "Abstract slides, flyer, sticker?"
Hi.
I´d like to promote JUnit 5 inside my company, do you provide any kind of abstract or open slides that i can use? By chance, do you have kind of abstract or sth. like a onepager/flyer, that i can drop at the right table?

[2018-11-13 10:37] sormuras commented on #1678
As far as I know, none of those "hardware" assets exist.

Could have used such material as handouts last time I presented JUnit 5, though. At least some stickers with the logo should be easy to "generate" using this image:

https://junit.org/junit5/assets/img/junit5-logo.png

[2018-11-14 22:00] calvertdw opened #1679 "Run only "untagged" tests"
I request the ability to run only "untagged" tests.

Most tests will run with default arguments and should not require `@Tag("fast")`. Other tests require special needs or take a long time so we tag them (i.e. `@Tag("slow")`). I would prefer not to require the majority of tests to be tagged at all.

Current workarounds include parsing the code for all declared instances of `@Tag("*")` or using the

[2018-11-15 09:50] rmannibucau opened #1680 "Catch up on JUnit 4 Runner support for custom test instances"
Runners in JUnit 4 were a great way to control the test environment and instance from user land (without writing an engine).

It would be great if JUnit Jupiter would allow one to do the same.

The main challenge is controlling the test instance redefining a custom `@Test`.

[2018-11-15 09:54] sormuras commented on #1680
Does the [`TestInstanceFactory`](https://junit.org/junit5/docs/current/user-guide/#extensions-test-instance-factories) extension point already help your use-case?

[2018-11-15 09:57] sormuras commented on #1680
What about the [`TestInstancePostProcessor`](https://junit.org/junit5/docs/current/user-guide/#extensions-test-instance-post-processing) extension?

[2018-11-15 10:08] rmannibucau commented on #1680
the processor is way too late (the instance exists so it does not help at all), test instance factory works (but requires the last release, i was on the 5.3.0) but can likely be enhanced to be supported per test and not only globally (the API is not called when defined on a test method)

thanks for the heads up anyway, wouldnt have noticed the bad version otherwise

[2018-11-16 07:14] sormuras commented on #733
Meanwhile, I agree that the above idea is ... crap.

But the original request that `--select-method` should by-pass the `--include-classname` is valid. Same goes to classes passed via `--select-class`. Both should be included, even if the active "include pattern" does not match.

[2018-11-17 14:09] sbrannen commented on #1662
Update: the `EngineTestKit` now has a fluent API for building the discovery request. See 252c9da377e8f5f5c10a610e09cb3f08cfe8e24a for details.

[2018-11-17 14:12] sbrannen commented on #1621
FYI: that work has been pushed to `master` in 252c9da377e8f5f5c10a610e09cb3f08cfe8e24a.

[2018-11-18 08:19] sormuras commented on #1669
True. For Gradle. In Maven 3 there is no such scope as `test runtime`, iirc.

Why? From a user's point of view, you write `module test { requires org.junit.jupiter.api; }`. Then, at test runtime, a build tool needs to enhance the enhance the module graph with `org.junit.jupiter.engine` -- imho, the `ServiceLoader` mechanism should kick in resolve the coupling between both modules. Due to `engine r

[2018-11-18 09:33] sormuras commented on #1669
Proposal:
`JUnit-TestEngine-Implementation-Maven-Artifact-ID: junit-jupiter-engine`

Optional group ID:
`JUnit-TestEngine-Implementation-Maven-Group-ID: org.junit.jupiter`
If missing, assume same group ID as the current (_api_) artifact belongs to.

Optional version:
`JUnit-TestEngine-Implementation-Maven-Version: 5.3.1`
If missing, assume same version as the current (_api_) artifact reports.

[2018-11-18 09:36] sormuras commented on #1669
### Proposal 2

`JUnit-TestEngine-Implementation-Maven-Coordinates: [org.junit.jupiter:]junit-jupiter-engine[:5.3.1]`

Both, the group ID and version, are optional. The build tool needs to extrapolate "missing" values from the current (_api_) artifact.

[2018-11-18 15:35] RaresI commented on #48
Hi,

Sorry for re-raising this issue after it has already been implemented but the "next" approach is extremely limited. Using "next" there is always only one possible order, which has to be specified completely, because there can be only one next element. This order is however arbitrary (in example configTest could also point to "buy" and "logout".

2. Removing one element from the order will for

[2018-11-18 20:07] panchenko commented on #48
@RaresI In your last example, can anonymous user buy something? If not, then
buyTest should depend on loginTest,
logoutTest should depend on buyTest.

So, no difference - if we would like to remove buyTest - then logoutTest needs to be updated.

[2018-11-19 12:14] sormuras opened #1681 "Remove internal VERSION constant from ModuleUtils"
## Overview

Both versions, the base and "java-9" one, of `ModuleUtils` contain a `public static final String VERSION` constant that was only introduced for testing purposes. The java compiler could (and did) inline the visible value at compile time which led to following confusing test code that succeeded on a Java 9+
runtime using the `junit-platform-commons` MRJAR:

[code]

https://github.com/j

[2018-11-19 12:20] #1681 closed

[2018-11-19 18:20] theigl opened #1682 "Add parallel execution mode that runs only test classes in parallel"
I'm in the process of upgrading our parallel test setup to JUnit5. My JUnit4 surefire configuration looks like this:

[code]

With this configuration, test classes run in parallel but individual test methods within a class run within the same thread (see [Surefire Docs](
https://maven.apache.org/surefire/maven-surefire-plugin/examples/fork-options-and-parallel-execution.html)).

I tried to emulate

[2018-11-20 00:02] jszklarz-haventec commented on #1154
Just to add this would be especially handy for using a @ValueSource in conjunction with a nested test class where you are passing in classes but do not want to print the fully qualified name.

[2018-11-20 11:58] sbrannen commented on #1665
This has been fixed in `master` in commit c815758a57099ec646b5e60b7d12f94190e4019a.

[2018-11-20 11:58] #1665 closed

[2018-11-20 12:21] sbrannen commented on #1652
Update:

- revised Deliverables
- moved all resolved PRs to the 5.3.2 milestone as well

[2018-11-20 12:58] sbrannen commented on #1652
_in progress_

[2018-11-20 12:59] sbrannen commented on #1652
I'm currently _attempting_ to backport fixes.

So please don't do anything on the `5.3.x` branch in the interim. 😇

[2018-11-20 14:32] sidamos opened #1683 "Document default execution mode for test classes that use Lifecycle.PER_CLASS and for @Nested test classes"
JUnit 5.3.1
I have set junit.jupiter.execution.parallel.enabled=true in junit-platform.properties.

According to the docs, all tests should now run in parallel.

In fact, only tests with @Execution(ExecutionMode.CONCURRENT) run in parallel.

Attaching 2 test classes.

[examples.zip](https://github.com/junit-team/junit5/files/2600122/examples.zip)

[2018-11-20 14:36] sidamos opened #1684 "Support having only a few parallel test classes"
JUnit 5.3.1

According to the docs, when I set `junit.jupiter.execution.parallel.enabled=true` in `junit-platform.properties`, then all tests run in parallel, unless they have annotation `@Execution(ExecutionMode.SAME_THREAD)`.

This is not true (see issue #1683), but once this is true, then this will be pretty annoying. From our preliminary testing of JUnit 5, I can say that making tests thread-s

[2018-11-20 15:50] sbrannen commented on #1666
Fixed for 5.3.2 in commit a64e0b69ee7bc475bfef26d12819378ff292bcd3.

[2018-11-20 15:55] sidamos commented on #1683
If you intend to fix that, please also have a look at issue #1684. Because the current behavior is actually good for us. ;-)

[2018-11-20 16:10] sormuras commented on #1683
Content `example.zip` w/o import statements:

[code]

[2018-11-20 16:11] sormuras commented on #1683
What does the output look like? On which machine (cpu, cores, threads...) are you running the tests?

[2018-11-20 19:12] sormuras commented on #1652
Done: _"Ensure the Travis CI builds pass."_

[2018-11-20 19:38] sormuras commented on #1652
Done: _#1600 is documented._

[2018-11-20 20:32] scharfstein-dev opened #1685 "Tags are not being picked up correctly"
I am using JUnit 5.3.1 with Gradle 4.10.2 in the context of a medium sized application with a fair bit of legacy infrastructure, both for tests and for the build. I am trying to run a subset of my tests based on how they are tagged. However, running the following Gradle tasks picks up no tests at all:
[code]
This is counter to the fact that such tests exist:
[code]
As you can see, the test also is

[2018-11-20 20:41] marcphilipp commented on #1685
Thanks for raising the issue! If categories are processed, that means the Vintage engine considers `MyAppIntegrationTest` to be a JUnit 3/4 test.

@scharfstein-dev Which `@Test` annotations are you using?

[2018-11-20 22:24] scharfstein-dev commented on #1685
Interesting! Indeed I am using both JUnit 4 and JUnit Jupiter `@Test` annotations along different test type hierarchies. I have just verified that along a hierarchy using Jupiter annotations, the Tags work as expected for me. The original behavior occurs only for hierarchies that don't have any Jupiter tests.

Along the way, I also found out that using something like this is a strict no-no:
[code]

[2018-11-20 22:34] RaresI commented on #48
Hello,
@panchenko it seems we are actually talking about two different kind of usage models, because the terminology is not quite clear.
**Scenarios**
In a test scenario for buying, buyTest should follow loginTest, because the user has to login first.
In a test scenario which verifies that auth is enforced, buyTest should not follow loginTest, because we need to check that without logging in the u

[2018-11-21 08:07] sidamos commented on #1683
Test1:
INFORMATION: Loading JUnit Platform configuration parameters from classpath resource [file:/C:/Workspace/connexity/smartpricing-automation/target/test-classes/junit-platform.properties].
ForkJoinPool-1-worker-3
ForkJoinPool-1-worker-2

Test2:
INFORMATION: Loading JUnit Platform configuration parameters from classpath resource [file:/C:/Workspace/connexity/smartpricing-automation/target/test

[2018-11-21 08:44] marcphilipp commented on #1683
That's because we execute test classes that use `TestInstance.Lifecycle.PER_CLASS` in the same thread by default because test authors would need to ensure thread safety when using instance variables etc. That's missing from the documentation, though.

[2018-11-21 10:09] scharfstein-dev commented on #1685
Thanks, this is very helpful - I think I'll end up using `@Tag("org.myapp.IntegrationTest")` for the transition period. Sorry about the confusion, but I think I understand the concepts better now :)

[2018-11-21 10:09] #1685 closed

[2018-11-21 11:09] marcphilipp commented on #1685
No worries, thanks for asking! 🙂

[2018-11-21 15:17] sbrannen commented on #1684
Tentatively slated for 5.4 M1 for _team discussion_.

[2018-11-21 15:19] sbrannen commented on #1683
I recall discussing that in great detail when we made those changes.

Did we really forget to document it? Oops! 🙈

[2018-11-21 15:23] sbrannen commented on #1683
Update: I changed the title to reflect the fact that we need to document the default execution mode for `@Nested` test classes as well.

[2018-11-21 16:35] scharfstein-dev commented on #944
I have a somewhat convoluted but (I think) valid scenario for needing parameter injection outside of a test method - either in the constructor or a `@BeforeEach` setup method.

My context:
In our application, we use scenario tests to reproduce situations that have led to errors in the past. Such a scenario is associated with certain test data, configuration parameters, and so on. All test classes

[2018-11-21 16:56] sbrannen commented on #944
Hi @scharfstein-dev,

I don't think that's especially confusing; however, I do wonder if parameterized test classes wouldn't be a better solution to your problem.

Have you seen #871 and #878?

[2018-11-21 19:14] sormuras commented on #944
Target _parameterized test classes_ for **5.4.0-M2**?

[2018-11-21 19:35] mdolinin opened #1686 "Concurrency issue with resolving parameters in test methods"
Concurrency issues with resolving parameters in test methods
## Steps to reproduce
* Gradle java project with Junit5 tests that use `SpringExtension`
* Have at least one method `@Test/@BeforeEach` with parameter annotated with spring `@Autowired`
* Run all test with enabled default parallel strategy `junit.jupiter.execution.parallel.enabled= true`
* And with default "per-method" test instance life

[2018-11-21 19:35] sormuras commented on #1375
@cburgmer the `junit-platform-reporting` module is (soon) avaiable in the `1.4.0-SNAPSHOT` builds. It'd be great, if you find the now public `XmlReportsWritingListener` useful. Feedback is very appreciated.

[2018-11-21 19:45] marcphilipp commented on #1686
If I understood you correctly, the issue is the `==` comparison in Spring's `findParameterIndex`?

[2018-11-21 19:52] mdolinin commented on #1686
Yes. But this is fine from Spring perspective.
The actual reason is because JUnit provide broken param object to Spring

[2018-11-21 19:58] ehiggs commented on #80
This is a potential blocker for Hadoop's migration to JUnit5.

https://issues.apache.org/jira/browse/HADOOP-14693

[2018-11-21 20:07] mdolinin commented on #1686
In my fork of JUnit5 project is just synchronize calls to `executable` in `ExecutableInvoker`
[code]
And this solves issue. But I am sure that this is not the right way to fix this.

[2018-11-21 20:11] marcphilipp commented on #1686
Why does that fix the issue?

[2018-11-21 20:29] mdolinin commented on #1686
I am not sure, but my guess is because if we have two concurrently running test methods.
Both of them get same `Executable` object (Method object).
When first one will call `getParameters()` it will receive value of `Parameter[] tmp` array and assign it to `volatile Parameter[] parameters` field inside  `Executable`.
If at the same time second thread do the same it also receive value of `Parameter

[2018-11-22 14:44] snicoll commented on #1684
Wishful thinking on my end most probably but if that was truly opt-in (i.e. you have to flag the tests that need this feature), this would ease the configuration as the only requirement would be to flag the tests that should  run in parallel. If we keep the current situation with a different default for the execution mode, we have more to configure for the most used case (which, IMO, is to flag th

[2018-11-22 17:02] marcphilipp commented on #1684
It‘s still experimental so we could change the default to be sequential and have a single property to configure it.

[2018-11-23 08:59] npryce opened #1687 "Discovery selector & filter model does not work with dynamically registered tests"
I'm writing a TestEngine against JUnit 5.3.1.

The test engine I am writing registers tests dynamically, during the execution phase rather than discovery.

In the current engine API, discovery selectors and filters are passed to the `discover` method of the engine in the `EngineDiscoveryTest`, but not to the `execute` method in the `ExecuteRequest`. This means that selectors and filters are not av

[2018-11-23 09:10] sormuras commented on #1687
Work-around: store the selectors and filters passed to your engine instance and re-use them when executing tests.

[2018-11-23 09:43] marcphilipp commented on #1687
That's what we do for dynamic tests and test template invocations:

https://github.com/junit-team/junit5/blob/dff15fb145efd34629582e469f657ad64490e22b/junit-jupiter-engine/src/main/java/org/junit/jupiter/engine/descriptor/TestFactoryTestDescriptor.java#L146-L151

Thus, I'm inclined to close this issue. Any objections?

[2018-11-23 10:31] npryce-springer commented on #1687
Aha, @marcphilipp!  You store the selectors and filters in the engine descriptor that's a much better solution than storing them in mutable state in the engine itself.  Thanks.  I'll do that.

[2018-11-23 10:35] sormuras commented on #1687
True. Much better. Updated my comment above.

No.

[2018-11-23 10:47] #1687 closed

[2018-11-23 11:33] marcphilipp commented on #1671
**Team Decision:**

Since Java will remove the option in the future, we'll discontinue shipping Javadocs with frames with 5.4.

[2018-11-23 11:33] #1671 closed

[2018-11-23 11:49] marcphilipp commented on #1684
**Team Decision:**

- Leave the `junit.jupiter.execution.parallel.enabled` property in place with `false` as default value
- Introduce a new `junit.jupiter.execution.parallel.mode.default` property with default `same_thread`

[2018-11-23 12:01] marcphilipp commented on #1637
**Team Decision:**

Let's add all three annotations.

[2018-11-23 13:45] sormuras commented on #1669
@rfscholte said in the ASF slack #maven channel:

Thus, `junit-jupiter-api:N` would declare a runtime dependency on `junit-jupiter-eninge:X`. And `junit-jupiter-engine` (and its transitive dependencies) **won't** appear on the test compile path in Maven.

What about Gradle, @marcphilipp? Does it behave similar?

[2018-11-23 14:35] sbrannen commented on #1686
@mdolinin & @marcphilipp, thank you for the great detective work! 👍

I've confirmed that this is in fact a bug in Spring. I already have the fix in place locally and will be pushing to `master` soon (after first opening a JIRA ticket 😉). So that should be available in the upcoming Spring Framework 5.1.3 release.

[2018-11-23 14:43] sbrannen commented on #1686
Actually, the identity check (`==`) in Spring is the core underlying issue due to the implementation of `java.lang.reflect.Executable#getParameters()` in the JDK.

Of course, one could potentially argue that the implementation in the JDK is _buggy_ since it is not actually thread safe, but we cannot change the JDK. 😉

I disagree: JUnit provides a perfectly valid `Parameter` object to Spring, and S

[2018-11-23 14:44] marcphilipp commented on #1669
It will with 5.0: https://docs.gradle.org/5.0-rc-5/userguide/upgrading_version_4.html#rel5.0:pom_compile_runtime_separation

[2018-11-23 14:46] sbrannen commented on #1686
I agree and have taken note of that for the improvements for Spring.

Almost!

That last one has to be `forExecutable()` and then it works. 😉

[2018-11-23 14:59] sbrannen commented on #1686
In case you're interested, here's the first JIRA issue for Spring, specifically for the `SpringExtension`.

https://jira.spring.io/browse/SPR-17533

[2018-11-23 15:02] marcphilipp commented on #1686
Thanks, @sbrannen!

That's what happens when you try to write code in a GitHub issue comment. 😉

[2018-11-23 15:04] mdolinin commented on #1686
Thanks @marcphilipp and @sbrannen for this super fast response. Great work.

[2018-11-23 15:06] sbrannen commented on #1686
And here's the second JIRA issue for Spring Core.

https://jira.spring.io/browse/SPR-17534

[2018-11-23 15:39] sormuras commented on #1669
So, if we introduced a **runtime** dependency from `junit-jupiter-api:5.4.0-SNAPSHOT` on to `junit-jupiter-engine:5.4.0-SNAPSHOT` we have the following picture regarding Maven and Gradle.

### Maven (since when?)

[code]

test**Compile** `junit-jupiter-api.jar:...`
test*Runtime* `junit-jupiter-api.jar:junit-jupiter-engine.jar:...`

### Gradle 4.10.2 and earlier

[code]

test.**compile** `junit-jup

[2018-11-23 15:44] sormuras commented on #1669
I assume that this `1:1` relation ship is almost 99% the desired one. For rare cases, for when an API should be handled by different engines, they can be added to the test runtime paths as always. For the even rarer cases when the default engine should be excluded, users may `excluded` the default runtime dependency.

[2018-11-23 15:48] sbrannen commented on #1686
Already fixed within the `SpringExtension`:

https://github.com/spring-projects/spring-framework/commit/aa7f69a5d1790b2a2bc9e82e70ead060763c4ec9

[2018-11-23 16:17] sbrannen commented on #1686
Fixed in Spring Framework 5.0.11 as well: https://github.com/spring-projects/spring-framework/commit/cd67b285e1038323fd4e8434ec48e40190d63236

[2018-11-23 16:44] sbrannen commented on #1686
And now fixed in Spring Core for Spring Framework 5.0.11 and 5.1.3.

- https://github.com/spring-projects/spring-framework/commit/f0e69e06b7c0b4b1c8cbf7c17cfc21ab92ce983c
- https://github.com/spring-projects/spring-framework/commit/81fde5ec4103e3db28bf79073691938a4743b121

So... all good!

[2018-11-23 16:44] sbrannen commented on #1686
I am closing this issue since it is not a bug in JUnit Jupiter.

[2018-11-23 16:44] #1686 closed

[2018-11-24 12:48] sbrannen commented on #1670
All work on this issue has now been pushed to `master`.

[2018-11-24 12:48] #1670 closed

[2018-11-24 14:36] sbrannen commented on #1375
Closing this issue now that the "legacy" renaming and polishing have been pushed to `master`.

[2018-11-24 14:36] #1375 closed

[2018-11-24 14:46] sbrannen commented on #1686
You're very welcome.

Thanks again for bringing this to our attention and for all of the very helpful detective work!

[2018-11-24 16:13] psychsane commented on #1651
Sorry @sbrannen I haven't yet managed to replace the foo-bars. I will try to get it finished by 1st week of Dec. Thanks!

[2018-11-24 16:14] sbrannen commented on #1651
No worries.

We just like to keep an eye on who's working on what, so that we know the status of issues as we approach release dates.

[2018-11-25 12:11] sbrannen commented on #1680
@rmannibucau, based on your latest feedback, I am closing this as a _duplicate_ of #201.

Feel free to participate in the discussion in #201.

[2018-11-25 12:11] #1680 closed

[2018-11-25 12:35] sbrannen commented on #1669
Interesting! 👍

[2018-11-25 13:46] rmannibucau commented on #1680
Oki, i will just note that willing to handle all particular cases instead of providing a generic API as junit4 was is going to be a lot more complex and less powerful even if the api is a bit more fun so probably time to rationalize junit5 instead of fixing cases one by one.

[2018-11-25 14:20] sbrannen commented on #1651
**Update**: I have revised the _Deliverables_.

[2018-11-25 19:46] marcphilipp commented on #1652
Done in 0414ccae1f9ef890b821f8df343a93a4112c7ca5.

[2018-11-25 19:46] #1652 closed

[2018-11-28 06:28] bacer-esteco opened #1688 "Interrupted test cases cause random failures with thread reuse"
## Status Quo

Whenever a test case is interrupted (`Thread.interrupt()`), the test runner thread seems to stay in interrupted state. This causes random failures later when the thread is reused for other test cases.

## Expected Behavior

When the thread is reused, the interrupted flag for the thread is cleaned before starting a new test case. This can be done by calling `Thread.interrupted()`, wh

[2018-11-28 10:43] sormuras commented on #1669
With https://github.com/junit-team/junit5/commit/436342980610f009077bd5d01221f88b75e767c6 the current `5.4.0-SNAPSHOT` (_build in progress_) of the `junit-jupiter-api` includes a runtime dependency to its `junit-jupiter-engine` artifact.

_"Is it secret? It it save?"_ -- Does it break your build?

Feedback is very welcome.

[2018-11-28 12:02] sbrannen commented on #1669
Like I said....... "interesting". So interesting in fact that it broke Eclipse. 😉

But I just _fixed_ that.... 2da87e7923b2048fc8adc9af7976714f3216c8ed

[2018-11-28 12:04] sbrannen commented on #1669
*Update*: moved to 5.4 M1 since it will be available in M1.

If we need to _undo_ any of these changes, we should open new issues in a subsequent milestone or RC.

[2018-11-28 12:09] sbrannen commented on #1669
@sormuras, can this issue now be closed for 5.4 M1?

[2018-11-28 12:13] sormuras commented on #1669
Sure. Closed.

[2018-11-28 12:35] wilkinsona commented on #1247
Having `TempDirectory` be part of JUnit Pioneer has a few downsides:

1. It requires knowledge of another dependency
2. It requires management of another dependency version
3. It has the unpleasant side effect of polluting the classpath with another `@Test` annotation

1 and 2 are only annoying when figuring out what JUnit 5's equivalent of `TemporaryFolder` might be. 3 is a constant annoyance whe

[2018-11-28 15:05] guenhter commented on #1247
While such features are in experimental mode, having a dedicated dependency which only contains the extension would be helpful. This can then just be included additionally to the official Junit5 dependency.

[2018-11-28 17:01] sbrannen commented on #1629
@philwebb, I've gone ahead and reworked some of the User Guide content in light of your suggestion.

Is commit c80f2e9a867c4c964c647bb02930d7a0007d6ded along the lines of what you had in mind?

FYI: you'll be able to see it in all of its glory [here](https://junit.org/junit5/docs/snapshot/user-guide/) in about 15 minutes (or whenever the CI server finally publishes the snapshot).

[2018-11-28 17:11] sbrannen commented on #1247
Hi @wilkinsona,

I'll bring it up with the team for renewed discussion.

[2018-11-28 17:12] sbrannen commented on #1247
Reopened and tentatively slated for 5.4 M1 for _team discussion_.

[2018-11-29 04:00] shollander commented on #1247
I agree with @wilkinsona, particularly regarding point 3. The extra `@Test` annotation is very confusing, and does not seem to provide any benefit. JUnit Jupiter provides better methods for dealing with expected exceptions and timeout of tests. I don't really see why `org.junitpioneer.vintage.Test` even exists.

[2018-11-29 13:36] chrisvest opened #1689 "Nested assumption failures should not cause assertion failures for enclosing assertThrows()"
## Overview

The effect of the `org.junit.jupiter.api.Assumptions.assume*()` family of methods depends on whether or not the call is inside an `assertThrows()` lambda or not. I think a failed assumption should always behave the same, i.e. cause the test to be aborted. I think this is a failure of `assertThrows()` to not propagate the `TestAbortedException` exception.

## Steps to reproduce

The fo

[2018-11-29 13:46] sbrannen commented on #1689
Out of curiosity, what would you expect as the outcome of the following?

[code]

[2018-11-29 13:48] sbrannen commented on #1689
Tentatively slated for 5.4 M1 solely for the purpose of _team discussion_.

[2018-11-29 14:06] chrisvest commented on #1689
That example looks like a trick question, so I wouldn't let any expectation go unverified.

That said, after giving it some though, I would say that the `TestAbortedException` should still propagate, but I'm not strongly attached to that opinion. Using a `try-catch` clause remain an alternative for when you really did intend to catch `TestAbortedException`. On the other hand, why would anyone writ

[2018-11-29 14:15] sbrannen commented on #1689
That's intentional. 😇

[2018-11-29 14:18] sbrannen commented on #1689
But it's a valid question: one may wish to implement custom assumption utilities that he or she then wishes to test via `assertThrows(...)`.

[2018-11-29 14:21] sbrannen commented on #1689
The next "trick question" is...

What should be done if the `Executable` passed to `assertThrows(...)` throws a JUnit 4 `AssumptionViolatedException`?

Note that we just added support for `AssumptionViolatedException` in JUnit Jupiter 5.4 M1 (see #1585), but that support resides in `junit-jupiter-engine`, not in `junit-jupiter-api`.

[2018-11-29 14:32] mkobit commented on #1247
Regarding the `@Test` in that longest, I'd recommend opening a separate issue to https://github.com/junit-pioneer/junit-pioneer/issues.

[2018-11-29 15:46] sbrannen opened #1690 "junit-platform-suite-api should not have a dependency on junit-platform-commons"
## Overview

The `junit-platform-suite-api` currently has a direct dependency on `junit-platform-commons` which it does not need.

## Deliverables

- [ ] Remove `junit-platform-suite-api`'s dependency on `junit-platform-commons`.

[2018-11-29 15:48] sbrannen commented on #1690
_in progress_

[2018-11-29 15:50] chrisvest commented on #1689
The assertion framework obviously can't make decisions if it doesn't have the information that is required to do so. Having the test engine communicate this to the assertion framework in some way sounds troublesome. This would also require some common API ground between the two, and I don't know if that exists after `opentest4j` has been ruled out.

On the other hand, the test engine could inspect

[2018-11-29 15:56] #1690 closed

[2018-11-29 18:48] sormuras commented on #1669
_Reopened for team discussion._

Let's revert the _cyclic but okay-ish_ runtime dependency and introduce a dedicated **`junit-jupiter`** module that only hosts the following dependencies:

[code]

Same for a new **`junit-vintage`** module:

[code]

Find a working sample of this pattern in the `mainrunner` module https://github.com/sormuras/mainrunner -- it just contains:

[code]

It is used in the

[2018-11-30 02:10] gilday commented on #1675
@marcphilipp I feel like we were building towards some consensus that JUnit should not make attempts to control concurrency and that users should implement their own means for doing so. Do you agree? Do you think it's worth documenting this explicitly, or shall we close this out without any changes?

[2018-11-30 10:40] sbrannen commented on #1688
Tentatively slated for 5.4 M1 for _team discussion_.

[2018-11-30 10:44] sbrannen commented on #1688
I added `@TestMethodOrder(Alphanumeric.class)` to the example and verified that `test2()` always fails on `master`.

[2018-11-30 10:56] sbrannen commented on #1688
Inserting `Thread.interrupted();` as the first line in `org.junit.platform.engine.support.hierarchical.NodeTestTask.execute()` allows the example test class to execute correctly.

@junit-team/junit-lambda, As for whether or not that is the correct location to invoke `Thread.interrupted();` is open for discussion.

[2018-11-30 11:03] sbrannen commented on #1688
I have removed the `Vintage` label since the invocation of JUnit 4 tests is handled by the corresponding JUnit 4 `Runner` which is not under the control of the `VintageTestEngine`.

[2018-11-30 11:50] marcphilipp commented on #1688
**Team Decision:** Reset the flag before/after executing a `Node`.

[2018-11-30 11:55] snicoll commented on #1629
Thanks for the feedback. Can it be a `jar` please (even if it's empty?). Adding an artifact of type `pom` means that we have to specify the `type` and that's a bit unusual.

(FTR, Spring Boot starters are addressing a similar feature and they are jars for that reason).

[2018-11-30 12:13] marcphilipp commented on #1247
**Team Decision:** Add `TempDirectory` to `junit-jupiter-api` in package `org.junit.jupiter.api.support.io` and deprecate it in Pioneer.

[2018-11-30 12:42] sbrannen commented on #1689
That's correct.

**Team Decision**: Close this issue as "works as designed".

[2018-11-30 12:42] #1689 closed

[2018-11-30 13:08] wilkinsona commented on #1247
That's excellent news. Thank you for reconsidering.

[2018-11-30 13:13] sormuras commented on #1629
Mh, Gradle seems to "understand" that and resolves transitive dependencies. Maven needs that extra line... so yes, considering to publish almost empty jar files. They might contain compiled module descriptors (`module-info.class`) in a not so distant future, actually.

[2018-11-30 14:47] #1688 closed

[2018-11-30 16:18] sormuras commented on #1629
The "implementation" part is done in #1691 -- updating the initial documentation and release notes is next.

[2018-11-30 18:18] #1629 closed

[2018-11-30 18:18] #1669 closed

[2018-11-30 21:52] #1247 closed

[2018-12-01 12:48] marcphilipp commented on #1628
Duplicate of #1558

[2018-12-01 12:48] #1628 closed

[2018-12-01 12:52] marcphilipp commented on #1630
Duplicate of #373

[2018-12-01 12:52] #1630 closed

[2018-12-01 12:55] marcphilipp commented on #1224
This will be addressed by #871 which would allow to use `@RepeatedContainer` and/or `@ParameterizedContainer` on an enclosing, potentially `@Nested`, test class.

[2018-12-01 12:55] #1224 closed

[2018-12-01 13:16] marcphilipp commented on #1679
`all` won't work because someone might already be using a tag with that name.

We could introduce special tag expressions for "no tags" and "at least one tag", e.g. `none()` and `!none()`.

@junit-team/junit-lambda WDYT?

[2018-12-01 13:34] marcphilipp commented on #1675
I think we should document that parallel execution uses a `ForkJoinPool` and its worker threads so there might be unexpected side effects, such as the one in this issue, when tests use threads as well. Moreover, as you mentioned, we should indeed state that the parallelism level is a hint, not a strict maximum number of concurrent threads and that tests need to use their own means of controlling c

[2018-12-01 13:35] marcphilipp commented on #1675
I've rephrased the issue title accordingly.

[2018-12-01 17:08] sbrannen commented on #1679
I agree that `all` is not an option.

I had a similar idea" _great minds think alike_. 😉

How about `tagged()` and `!tagged()`?

[2018-12-01 17:11] sbrannen commented on #1679
Though in terms of the tag expression parsing, it might be better to avoid the use of parentheses.

So perhaps something like `$tagged` and `!$tagged`?

We'd just need to make sure we pick special characters that were not previously valid (i.e., perhaps already used by somebody).

Disclaimer: I haven't looked at the exact syntax parsing recently. So the above suggestion may potentially be bogus. 😇

[2018-12-01 17:53] #1675 closed

[2018-12-01 17:54] marcphilipp commented on #1675
I added a note in ab1707479c.

@gilday Is that clear enough?

[2018-12-01 17:58] marcphilipp commented on #1679
If I'm not mistaken, `$tagged` would currently be considered a valid tag (expression). I added the parentheses, because `none()` is currently invalid.

How about `none()` and `any()`?

[2018-12-01 19:58] marcphilipp commented on #1684
_in progress_

[2018-12-02 19:50] Tibor17 commented on #1629
@philwebb
@sormuras
@snicoll
This could be a typical BOM as `org/junit/junit-jupiter-bom/<version>/pom.xml`.
So the `junit-jupiter-bom` normally has `dependencies` section and `dependencyManagement` with `packaging=pom`. Whenever you put a dependency on it in user's POM, all three are available as one. If you put it to the user's dependencyManagement, the user can pickup some of them. It is one co

[2018-12-02 20:02] Tibor17 commented on #1629
Example in user's POM:
[code]

[2018-12-02 20:05] sormuras commented on #1629
We do already offer a **junit-bom** here: https://search.maven.org/search?q=a:junit-bom

We decided to offer an "empty jar" because of @snicoll request:

[2018-12-02 20:41] jbduncan commented on #1629
Hmm... `junit-bom` seems to apply to JUnit 5 rather than earlier JUnit versions? At least, that's what reading https://search.maven.org/artifact/org.junit/junit-bom/5.3.2/pom seems to imply to me. Or have I misunderstood something?

Well, I suppose one argument in favour of having a JAR as well as a BOM is that it allows more Gradle users to use it (since importing BOMs in Gradle isn't a built-in

[2018-12-03 07:32] snicoll commented on #1629
I am not sure you can call that a Maven standard, right? I understand what you mean but the `jar` approach is a better fit for this use case (IMO) due to the verbosity of Maven (having to add the `type`) and some plugins being confused having a `pom` packaging type as a dependency.

[2018-12-03 08:45] janssk1 opened #1693 "Root causes of exceptions are losts due to limited stacktraces in consolelauncher"
ConsoleLauncher limits stacktraces to 10 lines (followed by [...]). However, not all exceptions have their 'root' cause at the top. One example is an exception raised in a static initializer. Its get wrapped with an 'empty' ExceptionInInitializerError, making the first 10 lines not helpful.
AFAIK, there is no workaround available to print the full stacktrace using consolelauncher. The only workaro

[2018-12-03 09:18] marcphilipp commented on #1693
Thanks for reporting the issue! Another workaround is writing XML reports. Those include the complete stacktrace. But I agree that `ConsoleLauncher` stacktrace filtering should be improved.

[2018-12-03 10:40] marcphilipp commented on #1693
Good idea! I've added a deliverable and marked it _up-for-grabs_.

[2018-12-03 20:01] #1683 closed

[2018-12-03 20:01] #1684 closed

[2018-12-03 21:33] JLLeitschuh commented on #1602
@sbrannen Any chance this could be backported to the `5.3` lineup? In its current state, it makes `assertAll` really hard to debug when there are failures.

[2018-12-04 07:36] marcphilipp commented on #1602
Not sure why we missed this one when composing the list of fixes to backport for 5.3.2. Probably because it isn't labeled as "bug". FWIW I think we should have included it. However, I don't think it warrants a release on its own. We intend to release 5.4 M1 soon and 5.4 shortly after, probably early next year.

[2018-12-04 07:40] marcphilipp commented on #126
Closing due to lack of activity for now.

[2018-12-04 07:40] #126 closed

[2018-12-04 07:41] marcphilipp commented on #141
This can be done since 5.3 using `@Execution(SAME_THREAD)`.

[2018-12-04 07:41] #141 closed

[2018-12-04 07:43] marcphilipp commented on #16
This will be addressed by #871 and #20.

[2018-12-04 07:43] #16 closed

[2018-12-04 07:45] marcphilipp commented on #216
Closing because covered by #1353 and #1091.

[2018-12-04 07:45] #216 closed

[2018-12-04 07:46] marcphilipp commented on #215
@bmalinowsky Is this problem still relevant?

[2018-12-04 07:53] marcphilipp commented on #276
This has been superseded by test templates.

[2018-12-04 07:53] #276 closed

[2018-12-04 07:53] marcphilipp commented on #354
This has been superseded by test templates.

[2018-12-04 07:53] #354 closed

[2018-12-04 10:51] jlink opened #1695 "Add Launcher execute() method that accepts the TestPlan returned by discover()"
## Overview

IDEs and build tools use the `org.junit.platform.launcher.Launcher` interface to discover and run tests. However, the interface does not provide a means to run rests with a previous discovered test plan. This results, at least for IntelliJ, in that test engines will be asked twice to come up with the same test plan. See: https://youtrack.jetbrains.com/issue/IDEA-203173 for details.

S

[2018-12-04 13:33] marcphilipp commented on #1695
Thanks for reporting the issue! I was not aware that IDEA first called `discover` and then `execute`. I think they should be able to use `TestExecutionListener.testPlanExecutionStarted(TestPlan)` instead of calling `discover` since the intend is to execute tests, not just display them. I responded on the linked IDEA issue.

IIRC I removed the `execute(TestPlan)` method because `TestEngines` cannot

[2018-12-04 19:15] marcphilipp commented on #1695
[Reply](https://youtrack.jetbrains.com/issue/IDEA-203173#focus=streamItem-27-3199177-0-0) from @akozlova:

I've clarified when `Launcher.discover()` should be used and how to get access to the `TestPlan` without calling it in d0616e59d0.

[2018-12-06 11:48] olcbean commented on #1693
I would like to give this a try ;)

[2018-12-06 11:58] sormuras commented on #1693
Sure @olcbean, go ahead!

[2018-12-06 12:38] bmalinowsky commented on #215
I tried it with `junit-platform-console-standalone-1.3.2.jar`, and it seems to always restore the color. So the problem is not really relevant anymore.

[2018-12-06 14:20] sormuras commented on #215
Thanks for the heads up.

[2018-12-06 14:20] #215 closed

[2018-12-07 16:46] grunenwflorian opened #1696 "Make ParameterizedTestExtension public."
Hi,

Using Using: JUnit: 5.3.2

## Problem
Let's assume that I am testing on different browsers that a title, on a single website, is equals to "Junit5". I do that using the convenient test template (TestTemplateInvocationContextProvider) feature. A TestTemplateInvocationContext by browser. That scenario works really well.

As of today a new use case came up. I need to do the same on two different

[2018-12-07 16:56] marcphilipp commented on #1696
Thanks for raising the issue! We plan to address this use case by allowing test classes to be parameterized. Then, you could use `SeleniumExtension` to provide an invocation context for your test class and `ParametrizedExtension`, i.e. `@Parameterized`, for the method (see #871).

[2018-12-07 16:56] #1696 closed

[2018-12-09 09:21] marcphilipp opened #1697 "@ResourceLock should be usable on test templates"
Using `@ResourceLock` on a `@ParameterizedTest` or `@RepeatedTest` currently yields the following exception:

[code]

## Deliverables

- [ ] Make `@ResourceLock` usable on a `@TestTemplate`

[2018-12-10 03:36] BenK10 commented on #1327
I also have this problem. If I copy the csv files to the bin/test directory, the tests work.

[2018-12-10 09:08] sormuras commented on #1621
Updated deliverables: included Test Kit in Dependency Metadata and Diagram

[2018-12-10 12:26] sbrannen commented on #1697
Good catch! 👍

[2018-12-10 12:34] sbrannen commented on #1327
You have to make sure that the folder that contains your CSV file is marked as a **Source Folder** in Eclipse.

[2018-12-10 12:35] sbrannen commented on #1327
... for example, right click on the folder and then select _Build Path_ -> _Use as Source Folder_.

[2018-12-10 17:18] sbrannen commented on #1621
**Update**: ✅ Document `junit-platform-testkit` in the Release Notes.

[2018-12-11 10:52] sbrannen opened #1699 "User Guide does not include all published APIs in Experimental/Deprecated sections"
## Status Quo

The "Experimental APIs" and "Deprecated APIs" sections of the User Guide do not cover all published APIs since the `ApiReportGenerator` does not _see_ all published projects on its classpath.

For example, the current [Experimental APIs section](https://junit.org/junit5/docs/current/user-guide/#api-evolution-experimental-apis) does not include any APIs from the `junit-jupiter-migrat

[2018-12-11 10:53] sbrannen commented on #1699
_in progress_

[2018-12-11 11:04] #1699 closed

[2018-12-11 14:30] dotCipher commented on #1621
Apologies on letting this slide, I appreciate your help with it.  Thank you!

[2018-12-11 14:49] sbrannen commented on #1621
No worries.

👍

[2018-12-11 14:50] sbrannen commented on #1621
In case anyone is interested in seeing the status quo in the User Guide, have a look here:

https://junit.org/junit5/docs/snapshot/user-guide/#testkit

[2018-12-11 17:50] BenK10 commented on #1327
it happens even when I do that

[2018-12-11 17:54] sbrannen commented on #1327
Are you able to share your Eclispe `.classpath` file (potentially changing confidential paths/information)?

[2018-12-12 05:21] pmanga782 commented on #809
Failed to execute goal org.apache.maven.plugins:maven-surefire-plugin:2.15:test (default-test) on project rlcm: There are test failures.

[2018-12-12 14:58] stacksamus opened #1700 "JUnit data sets - Not failing when looking for NULL, if value is present."
Hello. Used both JUnit 4.12 and 4.13-beta-1. Also dbUnit 3.4.2 and 3.4.6 and also xmlunit both 1.3 and 1.6.

Firstly apologies if this is in the wrong place. I am also unsure if this issue is JUnit or dbUnit.

We are creating JUnits and using xml datasets as an expected result following running tests, to ensure data is as expected on our Oracle database.

We are now finding an issue, where if we l

[2018-12-12 15:33] marcphilipp commented on #1700
Sounds like an issue with dbUnit. Have you tried asking on StackOverflow? I'm closing this issue because this repo is for JUnit 5. If it turns out to be a JUnit issue after all, please open an issue in https://github.com/junit-team/junit4/.

[2018-12-12 15:33] #1700 closed

[2018-12-12 15:35] stacksamus commented on #1700
Thank you :)

[2018-12-13 09:18] oopschen opened #1701 "Assertions.assertTimeoutPreemptively() breaks Spring test transaction rollback"
## Overview

We use **JUnit Jupiter 5.3.1** in our web project, the `assertTimeoutPreemptively()` method will break the transaction rollback in spring's testing framework. As we use `DataSourceTransactionManager` as the main transaction manager, the manager will propagate the transaction in the same thread, not across threads. The `assertTimeoutPreemptively()` method starts a new thread running ou

[2018-12-13 09:23] marcphilipp commented on #1701
That's the documented behavior and the only way to make it preemptive.

@sbrannen Is there a way to make the started thread "inherit" the transaction of the thread that started it?

[2018-12-13 10:58] noopur2507 commented on #1695
Eclipse has the same issue reported in [bug 542742](https://bugs.eclipse.org/bugs/show_bug.cgi?id=542742).

[2018-12-13 11:50] marcphilipp commented on #1695
@noopur2507 Thanks for the link! Please let us know whether the proposed solution works for you as well.

[2018-12-13 11:53] sbrannen commented on #1701
No, that is unfortunately not possible.

Spring's transaction management binds transaction state to a `ThreadLocal`.

Spring's testing support simply builds on that core transaction support. Consequently, it is not possible for the _Spring TestContext Framework_ to switch from a `ThreadLocal` to an `InheritableThreadLocal` since transactional application code would not _see_ the transaction state.

[2018-12-13 11:57] sbrannen commented on #1701
For what it's worth, I actually always mention this pitfall when delivering talks on JUnit 5:

https://www.youtube.com/watch?v=K7g2HUhWbNE&feature=youtu.be&t=683

😉

[2018-12-13 12:08] marcphilipp commented on #1701
Let's close this issue in favor of #80 then.

[2018-12-13 12:18] sbrannen commented on #1701
Reopened in order to add a note regarding the effect of `ThreadLocal` storage with Spring's transaction management as an example.

[2018-12-14 07:36] blockjon opened #1702 "ExtendWith triggers java.lang.NullPointerException when tests run with Maven"
This issue tracker is not the place for questions.
If you want to ask how to do something, or to understand why
something isn't working the way you expect it to, use Gitter [1] or Stack Overflow [2].

[1] https://gitter.im/junit-team/junit5
[2] https://stackoverflow.com/questions/tagged/junit5

[2018-12-14 07:36] #1702 closed

[2018-12-14 10:21] sbrannen commented on #1702
@blockjon, can you please provide detailed information regarding your Maven POM, etc.?

[2018-12-14 10:22] sbrannen commented on #1702
Hmmm... just noticed that you closed this issue.

So I'm assuming your sorted out the problem

[2018-12-14 10:43] sormuras commented on #1702
@blockjon transfered his question to https://gitter.im/junit-team/junit5

[2018-12-14 13:18] sbrannen commented on #1621
**Update**: documentation in the User Guide is complete for 5.4 M1.

[2018-12-15 14:05] sormuras opened #1703 "Improve message of Assertions.assertDoesNotThrow"
Here, https://github.com/junit-team/junit5/blob/master/junit-jupiter-api/src/main/java/org/junit/jupiter/api/AssertDoesNotThrow.java#L51-L52 and here https://github.com/junit-team/junit5/blob/master/junit-jupiter-api/src/main/java/org/junit/jupiter/api/AssertDoesNotThrow.java#L74-L75 only the `t.getClass().getName()` from the unexpected throwable is added to the message of the created `AssertionFa

[2018-12-15 15:07] #1697 closed

[2018-12-17 21:35] #1703 closed

[2018-12-18 09:40] sormuras commented on #90
Bump/touch.

Especially the "warning part" is crucial when debugging a "No tests found" error message after a test run that should have found tests. For example: engines are present, select source test sources, filters are okay, ... but no engine supports the selected selectors.

[2018-12-19 08:50] #1621 closed

[2018-12-19 08:54] sormuras commented on #1621
:+1: 👍

[2018-12-19 10:51] marcphilipp commented on #157
Slightly modified proposal to allow multiple registered `ExecutionInterceptor` extensions:

[code]

[2018-12-19 14:53] HelgeStenstrom opened #1706 "Disabled @TestTemplate and @TestFactory methods not marked as skipped in IDEs"
## Overview

**Expected:** The test with annotations `@ParameterizedTest`, `@CsvSource`, and `@Disabled` should be ignored by the test suite.

**Actual behavior:** The test is marked as Pass by IntelliJ.

## Steps to reproduce

Using the following `IgnoreBugDemo` test class in IntelliJ with JUnit 5.3, run the test, and observe how the first test is ignored, but the second test is marked as Pass.

[2018-12-19 15:00] sbrannen commented on #1706
Thanks for raising the issue!

I can confirm that Eclipse IDE also does _not_ display the `@ParameterizedTest` as _disabled_.

So, this is either an issue with JUnit 5 (i.e., Jupiter or Platform) _or_ with IntelliJ and Eclipse.

[2018-12-19 15:01] sbrannen commented on #1706
Tentatively slated for 5.4 M1 for _team discussion_ and further investigation.

[2018-12-19 15:06] sbrannen commented on #1706
Actually, this behavior can be observed for any `@TestTemplate` (e.g., `@ParameterizedTest`, `@RepeatedTest`, etc.).

[2018-12-19 15:13] sbrannen commented on #1706
Further analysis reveals that the same behavior can be observed for any _testable_ method that is a _container_.

The following updated test class demonstrates this for `@TestFactory` methods as well (at least in Eclipse).

[code]

[2018-12-19 15:17] marcphilipp commented on #1706
There's a test for that:

https://github.com/junit-team/junit5/blob/8f2579087902dcbbc6931707312d798a6843a079/junit-jupiter-engine/src/test/java/org/junit/jupiter/engine/TestTemplateInvocationTests.java#L223-L233

Thus, I'm afraid that's a bug in IntelliJ and Eclipse.

@noopur2507 @akozlova Could you please have a look?

[2018-12-19 18:41] akozlova commented on #1706
IDEA shows the suite as ignored if it has at least one child. When suite is empty, IDEA treats it as passed. To me it's not clear if disabled parameterized test should skip discover phase as well... If the children would be discovered, then the suite would get the correct status.In other words there is no status SKIPPED for suites, suite gets the status if any of it's children was skipped

[2018-12-20 12:52] noopur2507 commented on #1695
The proposed solution to avoid calling `Launcher.discover()` first is not straight-forward for Eclipse. The existing implementation in Eclipse is generic for all versions of JUnit based on a sequence of notifications in the IDE. With the suggested solution to invoke `Launcher.execute()` directly, the notifications order in the IDE will be impacted e.g. the test execution may start via `Launcher.ex

[2018-12-20 15:23] sbrannen commented on #1695
Reopened in light of the feedback from @noopur2507 for _team _discussion_.

[2018-12-21 11:10] noopur2507 commented on #1706
Note that running the given test class in Eclipse does _not_ show the disabled container methods as _passed_ which was the originally reported issue here. Instead, Eclipse shows the disabled container methods as not started (with no status). This is because Eclipse sets the status of a container as the combined result of its children. In this case, the container method did not get any status notif

[2018-12-21 13:14] sbrannen commented on #1695
**Team Decision**:

- Introduce a new `execute(TestPlan)` method in the `Launcher` API.
- Add checks to `TestPlan` that throw an exception if the _user_ attempts to modify the state of the `TestPlan` after discovery has completed.
- For the above, we will need some form of _state_ within the `TestPlan` to track if discovery has completed.

I will add a new _Deliverables_ section to this issue cove

[2018-12-21 13:17] sbrannen commented on #1695
✅

[2018-12-21 13:31] noopur2507 commented on #1695
Thank you for considering this.

[2018-12-21 14:15] sbrannen commented on #1679
Yeah... as I hinted at, my proposal could well have been bogus, and it in fact is.

In hindsight, we really should have been more restrictive with valid characters in tag names (see `org.junit.platform.engine.TestTag.RESERVED_CHARACTERS`). Oh well... too late now.

How about `none()` and `all()`?

As in...

- `excludeTags( all() )`
- `includeTags( none() )`

[2018-12-21 15:22] sbrannen opened #1707 "Introduce declarative mechanism for ordering extensions registered via @RegisterExtension"
## Overview

Extensions registered via `@RegisterExtension` are currently ordered in a deterministic manner but not one which is controllable by the user.

## Related Issues

- #13
- #497
- #506

## Deliverables

- [x] Introduce a declarative mechanism for ordering extensions registered via `@RegisterExtension`, via `@Order` introduced in #13.

[2018-12-21 15:33] sebersole commented on #506
Being able to have JUnit show the "effective extensions" (which are applied, and what order) would be a good preliminary step in helping to work around some of these concerns.

[2018-12-21 15:42] sebersole commented on #506
Another quick thought that would work (at least for my use cases, not sure about generally)... How about the ability for an extension to register that it depends on another extension?  E.g.

[code]

I know in this trivial example I can just re-order the `@ExtendWith` declarations.  In my real use-case however, the extensions are registered across different "meta annotations" which I have found to

[2018-12-22 11:14] marcphilipp commented on #1679
I think `any()` would be better because it is a tag expression that matches all tests that have _any_ tag while `none()` matches tests that have none.

[2018-12-22 15:57] sbrannen commented on #1679
OK. I can agree with you on that, when you phrase it like that. 😉

[2018-12-23 13:18] mopsafe opened #1708 "Test does not start"
1) Pom.xml

[code]

2) Test class

[code]

Console output

[code]

Why does the test did not start?

[2018-12-23 13:49] mopsafe opened #1709 "Test being executed twice"
Pom.xml
[code]

2) Test

[code]

Console output
[code]

[2018-12-23 13:53] sbrannen commented on #1709
Your test class is not being executed twice.

You have two test classes with similar names.

- `StandardTest` (likely English)
- `StandartTest` (likely German)

As mentioned previously...

[2018-12-23 13:53] #1709 closed

[2018-12-23 16:31] #1618 closed

[2018-12-23 16:36] marcphilipp commented on #1682
I'm pondering adding a second parameter to `@Execution()` for setting the default execution mode of children, e.g. `@Execution(children = SAME_THREAD)`.

@junit-team/junit-lambda WDYT?

[2018-12-23 16:41] sbrannen commented on #1682
Yes, I think that would be a good idea.... to have separate configuration for children, and to have the _default_ configuration apply to "current level and below" (without configuring _parents_) as @Sam-Kruglov mentioned.

[2018-12-23 18:53] marcphilipp opened #1710 "Overloaded assertions should work from Groovy"
The overloaded assertions introduced as part of #1638 broke Groovy's dynamic method dispatch. For example the following code yields the following exception:

[code]

[code]

Adding an overload that matches `[class java.lang.Integer, class java.lang.Integer, class java.lang.String]` exactly might solve the issue.

## Context

 - Used versions (Jupiter/Vintage/Platform): 5.4 M1

## Deliverables

- [

[2018-12-26 12:40] octopus-prime opened #1711 "junit-jupiter:5.4.0-M1 does not provide 5.4.0-M1 dependencies"
Using
`testImplementation("org.junit.jupiter:junit-jupiter:5.4.0-M1")`
does not provide 5.4.0-M1 dependencies
![image](https://user-images.githubusercontent.com/7620013/50446139-97f5ae80-0913-11e9-9f49-8a973e059def.png)

[2018-12-26 13:41] sbrannen commented on #1711
What version of Gradle are you using?

[2018-12-26 14:50] marcphilipp commented on #1711
I'be changed our samples to use the aggregator dependency in https://github.com/junit-team/junit5-samples/commit/a5604a7aeba443a27b04b1f96bfa83dc7436503a. It works in the build and in IDEA.

@octopus-prime Could you please provide a reproducible sample project?

[2018-12-26 15:10] octopus-prime commented on #1711
Just created a project with spring initializr.
Added dependency `testImplementation("org.junit.jupiter:junit-jupiter:5.4.0-M1")`.
Still wrong library versions.

![image](https://user-images.githubusercontent.com/7620013/50449593-a5696380-0928-11e9-81aa-003821227147.png)

[jupiter.zip](https://github.com/junit-team/junit5/files/2710428/jupiter.zip)

[2018-12-26 15:11] sbrannen commented on #1711
Ahhh... that's likely because Spring Boot is pulling in the JUnit BOM hardcoded to 5.3.2.

You'll need to override the versions used by Spring Boot.

If you can't figure out how to do that, let us know. 😉

In the interim, I'm closing this issue.

[2018-12-26 15:11] #1711 closed

[2018-12-26 15:13] sbrannen commented on #1711
If you need some inspiration for how to override the JUnit versions used by Spring Boot, see if the following helps...

https://github.com/sbrannen/spring-events/blob/master/build.gradle#L38

[2018-12-26 15:15] octopus-prime commented on #1711
Thanks for help. Removing spring stuff leads to correct versions:

![image](https://user-images.githubusercontent.com/7620013/50449729-5f60cf80-0929-11e9-8f57-7fd15fbeb436.png)

I will try overriding the junit-verion.

[2018-12-26 15:17] sbrannen commented on #1711
Glad to hear it.

Happy Testing... and please do let us know if you run into any issues with new features in JUnit 5.4 M1!

[2018-12-26 18:07] eggilbert commented on #1629
Hello -
I tried using this new `junit-jupiter` aggregate artifact, and I ran into some curious behavior that I'm not sure is intentional.

If I have only this dependency:
[code]

Then my dependency tree looks like this, which seems sensible:
[code]

But if I use the `junit-bom` to declare the version of all related artifacts:
[code]

Then my dependency tree looks like the following, where transiti

[2018-12-26 21:49] eggilbert commented on #1629
Upon further examination, it appears that this behavior is happening pulling in anything using `junit-bom:5.4.0-M1`, not just the new `junit-jupiter` artifact.

It looks like everything in the [5.4.0-M1 bom](http://central.maven.org/maven2/org/junit/junit-bom/5.4.0-M1/junit-bom-5.4.0-M1.pom) has an explicit `<scope>compile</scope>` on it, where as there was no specified scope in the [5.3.2 bom](ht

[2018-12-27 08:06] sormuras commented on #1629
@eggilbert Do you mind opening a new issue for the side-effect between BOM and the `junit-jupiter` aggregator artifact?

[2018-12-27 11:12] sbrannen commented on #1629
Yes, I believe that is in fact the culprit. The BOM should not define any _scope_ for managed dependencies.

@eggilbert, would you mind opening a new issue for that?

@sormuras, my requested issue would supersede your request -- right?

[2018-12-27 11:28] sbrannen opened #1712 "JUnit BOM should not include scope declarations for managed dependencies"
## Overview

In https://github.com/junit-team/junit5/issues/1629#issuecomment-450031271, @eggilbert brought it to our attention that the `junit-bom` released in 5.4 M1 now contains `<scope>compile</scope>` entries that cause problems. This is in contrast to previous releases of the `junit-bom` and violates "best practices" for dependency management in Maven BOMs.

## Related Issues

- #1629

## De

[2018-12-27 15:59] eggilbert commented on #1629
@sbrannen thanks!

[2018-12-28 07:55] sormuras opened #1713 "New line characters in (dynamic) display names"
New line characters may disrupt layout of the tree-based test plan rendering:

[code]

Other [ASCII control characters](https://en.wikipedia.org/wiki/Control_character) may even produce side-effects or more severe issues.

Should the tree renderer replace those control characters before emitting them?

What about other display name emitters, like reporting?

[2018-12-28 10:48] t-8ch opened #1714 "@ParameterizedTest name only supports String formatters (no numbers, etc)"
## Steps to reproduce

[code]

results in the following error during test discovery:

[code]

This happens because `ParameterizedTestNameFormatter.format()` transforms all arguments into strings before invoking the `MessageFormat.format()` method. The `DecimalFormatter` however only works with numbers.

Being able to use the full range of `MessageFormat` would be useful to pad the parameter names.

[2018-12-28 11:14] t-8ch commented on #1714
[code]

[2018-12-28 12:05] sbrannen commented on #1289
@onacit, that's because there is no `package-list` folder or file in that directory.

https://github.com/junit-team/junit5/tree/gh-pages/docs/current/api

Why are you trying to access that URL?

[2018-12-28 12:13] sbrannen commented on #1289
FYI: the new location for that `package-list` file is the following:

https://github.com/junit-team/junit5/blob/gh-pages/docs/current/api/element-list

Or this URL for the current "published" version:

https://junit.org/junit5/docs/current/api/element-list

[2018-12-28 12:16] sbrannen commented on #1289
Also, it appears you will need to use Java 10 to access the `element-list` file instead of the `package-list` file automatically.

This is explained here: https://stackoverflow.com/a/49498219/388980

[2018-12-28 12:40] sbrannen commented on #1289
The rationale for the change in the JDK is documented in this proposal:

https://bugs.java.com/bugdatabase/view_bug.do?bug_id=8191363

[2018-12-28 12:53] sbrannen commented on #1289
After further analysis, I have determined that an upgrade in the JDK used to generate Javadoc for JUnit 5 caused the `package-list` file to stop being published beginning with JUnit 5.2.

In the following list, the first number is the HTTP response code.

- *200*: https://junit.org/junit5/docs/5.1.0/api/package-list
- *404*: https://junit.org/junit5/docs/5.2.0/api/package-list
- *404*: https://jun

[2018-12-28 13:19] sbrannen commented on #1289
I am reopening this issue in order to address the recently reported issue with `package-list` for JUnit 5. See previous comments.

[2018-12-28 13:32] marcphilipp commented on #1289
I've changed our build to copy `element-list` to `package-list` in dd68fbad1854ba349dde481116562224c2d284e3.

[2018-12-28 13:42] sbrannen commented on #1289
I manually copied `element-list` to `package-list` for all previously releases in 7e1cef4aad91bcd9d20de379dc6b55432c8e2947.

[2018-12-28 13:42] #1289 closed

[2018-12-28 13:57] sbrannen commented on #242
Also related to #876.

[2018-12-28 14:09] sbrannen commented on #1289
@onacit, that should now work for you. Please let us know if it does not.

[2018-12-28 14:19] sbrannen commented on #1714
Tentatively slated for 5.4 M2 for _team discussion_.

[2018-12-28 14:20] sbrannen commented on #1713
Tentatively slated for 5.4 M2 for _team discussion_.

[2018-12-31 00:23] sanjuthomas opened #1716 "Add JsonFileSource and YmlFileSource as params provider."
Just like the CsvFileSource, having JsonFilleSource and YmlFileSource would help developers load test data and configuration from respective file formats.

[2018-12-31 00:46] #1716 closed

[2019-01-01 13:01] jlink opened #1717 "Introduce platform mechanism to switch off conditions"
https://github.com/junit-team/junit5/issues/78 solved the problem for just Jupiter and (probably) Vintage. If other engines introduce the same all IDEs will have to adapt to each engine's naming of params and values.

I suggest to either:
- Choose config param name that is agnostic to engine. Currently it is `junit.jupiter.conditions.deactivate`.  This will also require to standardize the possible

[2019-01-01 17:58] marcphilipp commented on #1717
The problem has not yet been solved for Vintage either, cf. #605.

[2019-01-02 18:16] marcphilipp commented on #1712
_in progress_

[2019-01-02 18:47] #1712 closed

[2019-01-04 11:14] sbrannen commented on #1710
Let's see if "compile static" _solves_ the problem for Groovy. 😉

[2019-01-04 11:18] sbrannen commented on #1714
**Team Decision**: revert to previous logic that supported formats other than strings; if that fails (within a try-catch block), use the newer "format safely" mechanism.

[2019-01-04 11:37] sbrannen commented on #1713
**Team Decision**:

- _Sanitize_ display names before they are output via the `ConsoleLauncher`.
  - Consider introducing a sanitizing convenience method somewhere in `junit-platform-commons`.
- Do not do anything to display names otherwise. In other words, due to backward compatibility constraints (e.g., `TestDescriptor#getDisplayName()`), we cannot enforce any rules other than "not null and not

[2019-01-04 11:43] sbrannen commented on #1707
**Team Decision**: Implement the proposal.

[2019-01-04 11:49] sbrannen commented on #1706
**Team Decision**: JUnit correctly reports disabled `@TestTemplate` and `@TestFactory` methods as _skipped_. Consequently, IDEs, build tools, and reporting frameworks are responsible for displaying the _skipped_ status accordingly.

We are therefore closing this issue.

If you find that IDEs, build tool, or reporting framework does not display such scenarios correctly, please contact the authors o

[2019-01-04 11:49] #1706 closed

[2019-01-04 12:35] sbrannen commented on #1710
**Team Decision**:

- Initial investigations for @marcphilipp show that `@CompileStatic` _improves_ the situation. We should therefore document that option in the User Guide.
- Introduce new overloaded `assertEquals(<wrapper type>, <wrapper type>, ...)` variants to further improve Groovy's ability to select the appropriate overloaded method.

[2019-01-04 14:22] sbrannen commented on #1651
Closing this issue since all current _deliverables_ have been completed.

[2019-01-04 14:22] #1651 closed

[2019-01-04 14:32] sbrannen commented on #1707
_in progress_

[2019-01-04 20:00] marcphilipp commented on #1710
Additional overloads also need to be added for `assertNotEquals(<wrapper type>, <wrapper type>, ...)`.

@mmerdes I've pushed my experimentation branch to [issues/1710-groovy-assertions-fixes](https://github.com/junit-team/junit5/tree/issues/1710-groovy-assertions-fixes).

[2019-01-05 13:21] sbrannen commented on #1707
This work has been merged into `master` in 238c1efd70800b5e709d1a76d196cc3e9ed85216.

[2019-01-05 13:21] #1707 closed

[2019-01-05 13:45] sbrannen commented on #1637
_in progress_

[2019-01-05 14:50] sbrannen commented on #1637
FYI: work on this issue can be viewed here:

https://github.com/junit-team/junit5/compare/issues/1637-null-and-empty-sources

[2019-01-06 14:31] sbrannen commented on #1713
Here's a new example in our own test suite.....

https://travis-ci.org/junit-team/junit5/jobs/475989143#L819

😉

[2019-01-06 14:31] sbrannen commented on #1713
FYI: that comes from the new examples for `@NullSource` and `@EmptySource` introduced in #1637.

[2019-01-06 14:32] sbrannen commented on #1713
It actually occurs twice: once in the above link, and [here](https://travis-ci.org/junit-team/junit5/jobs/475989143#L828) as well.

[2019-01-06 14:34] sbrannen commented on #1713
FWIW, I noticed that Eclipse IDE simply displays all of those display names containing only whitespace, newlines, etc. as an _empty_ string in the GUI.

[2019-01-07 10:28] sormuras opened #1720 "Use Deptective to ensure module-internal constraints"
Move cyclic dependency checks from very late in the game integration tests to early compile time checks using https://github.com/moditect/deptective

[2019-01-07 14:30] sbrannen commented on #1701
_in progress_

[2019-01-07 14:53] sbrannen commented on #1701
Documentation has been added to `master` in 802a234aabcb625a7628a5cdb794718a8f71f47c.

[2019-01-07 14:53] #1701 closed

[2019-01-07 16:23] kelunik commented on #1682
With the default execution mode and the following configuration, tests are run in parallel for me, but individual methods within a test are run in sequential order. I don't have any annotations on the test classes or methods. Could you clarify what doesn't match your wish with this configuration?

[code]

[2019-01-07 16:35] kelunik opened #1721 "Intelligent scheduling of parallel tests with @ResourceLock"
I'm running a test suite in parallel which uses `@ResourceLock` on a few tests. Most tests don't use any resource locks. There are two tests which lock resource `X`. If the first test runs rather late, the second will have to wait for the first to finish, often being the last test being executed, while the other threads already finished and have nothing left to do.

It would be helpful if all test

[2019-01-08 12:45] sbrannen commented on #1701
FYI: I also plan to document such use cases in Spring's reference manual as well.

See: https://jira.spring.io/browse/SPR-17647

[2019-01-08 13:17] mp911de opened #1722 "Provide mechanism to reuse JUnit extensions"
While writing an own `TestEngine` we found it quite handy to reuse JUnit 5's extension mechanism along with `ExecutionCondition` to conditionally run/skip classes and methods (see mp911de/microbenchmark-runner#19 for further details).

However, some implementations (such as `DisabledCondition`) are not visible or internal API (e.g. `ExtensionRegistry`). As an implementor, there are two ways to imp

[2019-01-08 14:42] Th4n commented on #1336
Could this be the reason why I got `TestEngine with ID 'junit-vintage' failed to discover tests` while using JUnitParamsRunner when trying to run one test only from a class?

[2019-01-08 16:15] marcphilipp commented on #1722
FWIW @leonard84 and I came across the same issue when experimenting with what it would entail to add support for Jupiter extensions to Spock 2.0.

[2019-01-08 18:43] sbrannen opened #1723 "Use TocBot for dynamic table of contents in User Guide"
## Overview

Over time the amount of content in the User Guide grows and grows. Consequently, it becomes harder to actually _navigate_ the User Guide.

In order not to overwhelm the reader but simultaneously provide enough contextual information for "where you currently are" within the User Guide, it would be beneficial to integrate [TocBot](https://tscanlin.github.io/tocbot/) in the JUnit 5 User

[2019-01-09 19:04] matthieu-vergne commented on #1427
Is there some advances on that matter? I am just looking for such a feature, actually.

[2019-01-10 14:12] ferstl opened #1724 "Tests not found via classpath scanning within nested JAR in Spring Boot JAR"
We are providing a test suite for our applications as Spring Boot application. The test suite is basically a set of regular JUnit 5 tests that are launched in the Spring Boot application.
The application is packaged as Spring Boot JAR (created with the `spring-boot-maven-plugin`).

We do now have the problem, that the tests are not found when we are using `DiscoverySelectors.selectPackage()` and r

[2019-01-10 14:16] sbrannen commented on #1724
Thanks for raising the issue.

I've tentatively slated this for 5.4 M2 for the purpose of _team discussion_.

[2019-01-10 23:05] sdetkv commented on #1327
I faced similar issue as soon as I moved Acceptance test classes  under test directory it is resolved.

[2019-01-11 07:56] rmannibucau opened #1725 "Support File parameters in TempDirectory extension"
## Overview

The `TempDirectory` extension is great but only supports `Path`. I think it does not cost much to support `File`, and it enables to get a more fluent code base for several cases where the `Path` API is not yet the first citizen.

## Deliverables

- [x] Support `File` in addition to `Path` in the `TempDirectory`
- [x] Update Javadoc for `TempDirectory`
- [x] Update "The TempDirectory E

[2019-01-11 08:03] sormuras commented on #1725
Thanks for raising this issue. I've tentatively slated this for 5.4 M2 for the purpose of team discussion.

[2019-01-11 08:07] jbduncan commented on #1725
I personally disagree because I see `File` as effectively deprecated and I find `file.toPath()` very easy for write and read, but I understand that this is a subjective area. :)

[2019-01-11 08:15] sormuras commented on #1725
I tend to agree with @jbduncan -- using `path.toFile()` in this case. ;-) -- but supporting `File` type here for more convenient usages of _legacy_ libraries would be fine with me.

[2019-01-11 08:20] rmannibucau commented on #1725
Well File is not deprecated at all and the only way to integrate with several libraries so I guess we are in the case where I agree with your point but think it is worth to do better here, in particular cause the cost is very low as you point out and cause the loose coupling of the API rocks for these things ;).

[2019-01-11 11:45] sormuras commented on #1722
_Discussion in progress..._

[2019-01-11 14:24] sbrannen opened #1727 "@RegisterExtension field is silently ignored if null at evaluation time"
## Overview

If a field in a test class (either static or non-static) is annotated with `@RegisterExtension` but is never assigned a non-null value before evaluation for extension registration purposes, that situation is currently silently ignored thereby masking the user configuration error.

For example, the following test case passes without any error or warning.

[code]

## Deliverables

- [x]

[2019-01-12 10:10] sbrannen opened #1728 "Test fix for legacy reporting names for Vintage tests"
## Overview

#1719 provided a fix for the regression in  legacy reporting names for the `VintageTestEngine` but did not introduce integration tests to verify the actual output from Maven Surefire and Gradle.

## Deliverables

- [ ] Introduce integration tests that verify the expected output (e.g., content and names of files) from **Maven Surefire** for Vintage test classes.
- [ ] Introduce integra

[2019-01-12 10:22] sbrannen commented on #1727
**Update**:

The Javadoc for `@RegisterExtension` actually states the following:

The _intention_ that `null` is not allowed at evaluation time was therefore always present. 😉

[2019-01-12 11:03] sbrannen commented on #1727
This has been fixed in `master` in c2d3112a0ab593fccfd8649170b6e66d3aa7e116.

[2019-01-12 11:03] #1727 closed

[2019-01-12 12:38] sbrannen commented on #1611
FYI: the current work on this issue can be seen in the following branch -- which builds on the work from PR #1617.

https://github.com/junit-team/junit5/compare/issues/1611-field-support-utils

[2019-01-12 13:09] sbrannen commented on #1725
FYI: I've add a _Deliverables_ section to this issue.

[2019-01-12 13:09] sbrannen commented on #1725
**Team Decision**: merge #1726 once all _Deliverables_ have been addressed.

[2019-01-12 13:48] marcphilipp commented on #1427
I think a simple `cartesianProduct` method would be easy to implement and provide a way to implement such use cases along with `@MethodSource` without requiring any additional dependencies.

For example, I needed sth. like that here:
https://github.com/marcphilipp/nexus-publish-plugin/blob/master/src/test/kotlin/de/marcphilipp/gradle/nexus/NexusPublishPluginTests.kt#L55-L61

[2019-01-12 14:02] jlink opened #1729 "Introduce mechanism to stop test run with first failing test"
Subject says it all. Would be especially useful for TCR (test && commit || reset) workflow.
Feature could be globally configured or switched of from IDE / build tool.

https://github.com/junit-team/junit5/issues/431 is related and https://github.com/pitest/pitest-junit5-plugin/pull/15 might also profit.

[2019-01-12 15:08] marcphilipp commented on #1729
I wonder if/how this could be implemented on the platform level. I guess we could provide a platform feature to enable it and add a `isStopped()` method to `ExecutionRequest` which engines should check before starting a execution of a new test. Thoughts?

[2019-01-12 15:18] jlink commented on #1729
You're right, a new channel from platform to engine is needed to signal the stop. I wonder if such a channel could be used for other useful stuff as well...

The simplest solution I can think of, however, is `System.exit`. I'm not sure, though, what kind of adverse effects that might bring.

[2019-01-12 15:19] marcphilipp commented on #1427
@matthieu-vergne Could you please explain in more detail what you mean with "a double method every time"?

[2019-01-12 15:40] matthieu-vergne commented on #1427
The test method + the argument provider method.

[2019-01-12 16:25] sbrannen opened #1730 "Address open issues with TestWatcher API and NodeTestTask.prepare()"
## Overview

Based on feedback on the `TestWatcher` extension API by @marcphilipp in https://github.com/junit-team/junit5/pull/1393#discussion_r205951408, there are still a few issues that need to be addressed:

## Related Issues

- #542
- #1393

## Deliverables

- [ ] Investigate and address the aforementioned issues.

[2019-01-13 11:56] #1695 closed

[2019-01-13 12:01] marcphilipp commented on #1714
_in progress_

[2019-01-13 15:10] marcphilipp commented on #1714
I'll take a slightly different approach:
1. Convert all arguments to Strings (like before) that don't use a explicit format
2. Call `MessageFormat.format()`

[2019-01-13 15:15] #1714 closed

[2019-01-13 15:36] t-8ch commented on #1714
Thanks!

[2019-01-13 15:47] marcphilipp commented on #1730
_in progress_

[2019-01-13 17:12] sbrannen commented on #1714
Interesting idea. I'll have a look. 😉

[2019-01-13 18:38] rmannibucau commented on #1725
@sbrannen i checked the boxes but not sure it was intended to be done by me thinking about it, if not please untoggle them

[2019-01-13 19:03] marcphilipp commented on #1729
Since build tools/IDEs run in the same JVM I don't think that would be a viable solution. Moreover, even if a test run's being cancelled, we should stick to the contracts in `TestExecutionListener`.

[2019-01-13 19:30] #1730 closed

[2019-01-13 19:43] marcphilipp commented on #1336
@Th4n No, that sounds like a different issue. Could you please open a new issue with more details? 🙂

[2019-01-13 21:57] arend-von-reinersdorff opened #1731 "Discussion: constructor parameter resolution, scope, etc."
Thanks for adding TempDirectory to JUnit 5.4.0-M1. This will make migration from JUnit 4 easier in my projects :-)

One point looks wrong to me though:
A `@TempDir` constructor parameter is treated like a parameter of a `@BeforeAll` method, ie its value is shared between all tests. See [Javadoc of TempDirectory](https://junit.org/junit5/docs/5.4.0-M1/api/org/junit/jupiter/api/support/io/TempDirect

[2019-01-14 12:36] marcphilipp opened #1732 "Forbid modification of TestPlan"
The `TestPlan` returned by `Launcher.discover()` and passed to `TestExecutionListener.testPlanStarted()` is currently modifiable for backwards compatibility (see #1695 for background).

This issue is used to track progress of tool adoption so the JUnit team can decide when it's safe to ignore/forbid modification of `TestPlan`.

[2019-01-14 12:37] marcphilipp commented on #1732
IntelliJ IDEA is affected, fix is on its way: https://github.com/JetBrains/intellij-community/pull/1030.

[2019-01-14 15:53] sbrannen commented on #1731
Thanks for raising the issue.

We'll see if we can clarify the behavior.

Thanks!

And... I just improved _slightly_ it in 8f565705af92e596d1b74a1f224bf3aa7c1f7991.

[2019-01-14 15:53] sbrannen commented on #1731
Tentatively slated for 5.4 RC1 for clarification.

[2019-01-14 16:21] sbrannen commented on #1731
FYI: this issue effectively questions the validity of the following test -- which verifies the current behavior.

https://github.com/junit-team/junit5/blob/269301e820e2eccbb9a19b6db2789717f2695082/junit-jupiter-engine/src/test/java/org/junit/jupiter/api/support/io/TempDirectoryTests.java#L80-L84

[2019-01-14 18:41] marcphilipp commented on #1720
While deptective looks interesting, it seems one needs to list every package along with all of its allowed dependencies. Maintaining such a file manually seems tedious. I guess we could generate it somehow... 🤔

[2019-01-15 12:59] sbrannen commented on #1725
Thanks

That's OK. It's our job to review the checked-off things as well. 😉

[2019-01-15 14:07] sbrannen commented on #1731
@marcphilipp suggested we give field injection a try, so I put together a proof of concept that everyone can take a look at here:

https://github.com/junit-team/junit5/compare/issues/1731-temp-dir-field-injection

@junit-team/junit-lambda, thoughts?

[2019-01-15 17:16] sormuras commented on #1720
True. It should easier to maintain than https://github.com/junit-team/junit5/blob/master/platform-tooling-support-tests/src/test/java/platform/tooling/support/tests/PackageCyclesDetectionTests.java is.

[2019-01-15 17:51] gunnarmorling commented on #1720
Thanks a lot or taking the initiative to explore the usage of Deptective!

Yes, so one of the next things we're planning to work on is to provide more abstract means of describing the "components" of your architecture than individual packages. That'd mean less effort for configuring Deptective, provided you can identify such components in your architecture, i.e. a group of packages that you'd like

[2019-01-15 17:54] gunnarmorling commented on #1720
There's currently no support in Deptective for checking on package cycles. The idea more is to describe an intended architecture (currently in terms of packages, going forward in terms of more higher-level constructs, see above) and match the code base against that. Implicitly this would also detect cycles if you have defined your target architecture in a cycle-free way.

That being said, we may c

[2019-01-16 09:55] sormuras commented on #1713
_in progress..._

[2019-01-16 16:07] sbrannen commented on #1731
_in progress_

[2019-01-16 16:10] sbrannen commented on #1731
**Update**:

The current proposal in my feature branch introduces a new `TempDirContext` that replaces direct usage of `ParameterContext` by a custom `ParentDirProvider`.

The `TempDirContext` provides access to the `Field` or the `ParameterContext` as appropriate.

[2019-01-16 16:25] #1725 closed

[2019-01-16 17:03] sormuras opened #1735 "Task aggregateJavadocs is broken"
Since building with OpenJDK 11.0.2 the `aggregateJavadocs` is broken: `javadoc: error - The code being documented uses modules but the packages defined in https://docs.oracle.com/javase/8/docs/api/ are in the unnamed module.`

Log: https://travis-ci.org/junit-team/junit5/jobs/480465467#L688

## Deliverables

- [ ] Fix javadoc aggregation task

[2019-01-16 17:06] sormuras commented on #1735
Related JDK issue: https://bugs.openjdk.java.net/browse/JDK-8212233

[2019-01-16 17:18] #1735 closed

[2019-01-16 17:40] sbrannen commented on #1731
@arend-von-reinersdorff, I have renamed this issue to reflect the direction we are currently considering taking to resolve the issue you described.

Does the proposed field injection support meet your needs?

[2019-01-16 19:22] marcphilipp commented on #346
@mp911de I know this issue is quite old... 😉 Do you remember concrete use cases where it was actually hard to selectively execute a single test?

[2019-01-16 20:25] mp911de commented on #346
The issue originated in a time with little IDE support and selection of individual test methods to run was not possible. Now, with better tooling and UniqueId paths this obstacle is gone and I think we can close this ticket.

[2019-01-16 20:36] sbrannen commented on #346
@mp911de, thanks for the prompt feedback.

Based on that and the fact that https://github.com/junit-pioneer/junit-pioneer/issues/71 covers this topic as well, I'm closing this issue.

[2019-01-16 21:33] arend-von-reinersdorff commented on #1731
@sbrannen thanks for taking the time to answer my question :-)

OK. So this behavior is not specific to `@TempDirectory` but the standard behavior of all `ParameterResolver`s. I still find it confusing for the reasons noted above.

**Ideas**
Maybe the current behavior could be changed by eg:
- Give the `ParameterResolver` for constructors access to the test method, same as the parameter resolver f

[2019-01-17 07:59] #346 closed

[2019-01-17 08:16] sormuras commented on #1728
Added Gradle to the list of deliverables.

[2019-01-17 17:04] ivoanjo opened #1736 "Warn about missing @Nested annotations"
Hello there, and thanks for JUnit! :wave:

My team has recently migrated to JUnit 5, and previously we were previously using the [junit-hierarchicalcontextrunner](https://github.com/bechte/junit-hierarchicalcontextrunner) for nested tests.
One big difference from that one is that on JUnit 5 the native nested tests require that nested classes be annotated with the `@Nested` annotation.

We've now b

[2019-01-17 17:22] calvertdw commented on #1679
To make it more clear:

`any()` would match all tests that have *at least one* tag.
`none()` would match all tests that have *exactly zero* tags.

[2019-01-17 20:13] marcphilipp commented on #1587
@darkelf44 Your comment is disrespectful and clearly violates our [code of conduct](https://github.com/junit-team/junit5/blob/master/CODE_OF_CONDUCT.md). Please adjust your language and behavior. Otherwise, you cannot be a part of this community.

[2019-01-17 20:21] marcphilipp commented on #1736
@ivoanjo Thanks for providing such a detailed use case description. That's very helpful! This definitely sth. JUnit should validate at some point. For the time being, I think you could implement the validation yourself by implementing a custom extension and registering it globally. Would you be interested in giving that a try?

[2019-01-17 20:48] smoyer64 opened #1737 "Add a download link to the JUnit 5 home page"
As noted in #1587, the JUnit 5 home page doesn't provide a link to the compiled JARs like JUnit 4's page did.  For the rare user that's not using a dependency management tool with defined repositories, this will give them a place to start their dependency hell.

## Deliverables

- [ ] Add a "Download JARs" link to the "Resources" section of https://junit.org/junit5/ that points to the latest relea

[2019-01-18 13:51] sbrannen commented on #1737
Thanks for raising the issue.

I'll add a deliverable for the README in this repository as well.

[2019-01-18 14:29] sbrannen opened #1738 "Support field injection in TempDirectory"
## Overview

Inspired by discussions in #1731, the team has decided to introduce field injection support for `@TempDir` alongside the existing support for constructor and method injection.

## Deliverables

- [x] Support field injection for `@TempDir` fields in the `TempDirectory` extension.
- [x] Introduce tests in `TempDirectoryTests` that verify expectations regarding the scope of the temporary

[2019-01-18 14:32] sbrannen commented on #1731
This issue has been renamed and moved to the 5.5 backlog.

[2019-01-18 14:55] sbrannen commented on #1738
Current work on this issue can be viewed in the following feature branch.

https://github.com/junit-team/junit5/compare/issues/1738-temp-dir-field-injection

[2019-01-19 11:56] sbrannen commented on #1736
That would unfortunately only work when such an extension is invoked for an enclosing test class that has _testable_ methods. Otherwise, if the enclosing class is not registered as a _test class_ itself, a custom extension would never be invoked.

The issue here is that the validation we have in place is executed during the _discovery phase_, and if the validation (i.e., our `IsNestedTestClass` pr

[2019-01-19 14:07] sormuras commented on #1713
[code]
...is now emitted (Windows) as:
[code]

[2019-01-19 16:21] marcphilipp commented on #1560
_in progress_

[2019-01-19 16:34] #1560 closed

[2019-01-19 16:34] #1728 closed

[2019-01-20 12:08] marcphilipp opened #1739 "Provide reusable base implementation of test discovery"
All class-based test engines should handle the following selectors during test discovery:

- `ClasspathResourceSelector`
- `ClasspathRootSelector`
- `ModuleSelector`
- `PackageSelector`
- `UniqueIdSelector`
- `ClassSelector`
- `MethodSelector`

The code required to handle the first four of these is straightforward but repetitive and [easy to forget](https://stackoverflow.com/questions/52780940/kot

[2019-01-21 18:17] #1713 closed

[2019-01-21 20:27] saiema opened #1742 "Timeout fails to stop test"
Hello, I didn't find this issue reported.

On JUnit 5 (5.3.1.v20181005-1442) and also in JUnit 4 (4.12.0.v201504281640), when running the test below on eclipse (Version: 2018-12 (4.10.0) Build id: 20181214-0600) on Ubuntu 18.04, the timeout rule fails to stop de test.

    @Rule
    public Timeout globalTimeout = Timeout.millis(1000);

    @Test
    void test() {
	NaughtyList list = new NaughtyLis

[2019-01-22 07:34] marcphilipp commented on #1742
JUnit calls `Thread.interrupt()` on the timed out thread. In your case there's no blocking operation that would throw an `InterruptedException` and the code under test does not check for the thread's interrupted flag (`Thread.interrupted()`), there's nothing we can do to stop it.

[2019-01-22 07:34] #1742 closed

[2019-01-22 08:41] svenruppert opened #1743 "Functional View on top of the JUnit Jupiter Extension API"
The Core API could be extended with an official functional view. Means, that the developer would have the choice between "oo" or "functional" approach. The functional API should be Core Java only, no ByteCode manipulation to be available from JDK8 up to JDKxx without changes.

## Example Ideas..

[code]

## Deliverables
I would like to deliver
- [ ] the Core Java API for the functional view on top

[2019-01-22 08:44] marcphilipp commented on #1743
@svenruppert Thanks for raising the issue. Where and how would someone use the functions?

[2019-01-22 08:49] svenruppert commented on #1743
Well, to define project specific extensions..  WebDriver management for example I saw often, or integration into the project itself.. a functional approach to write tests.

[2019-01-22 11:40] sbrannen commented on #1742
FWIW, the test actually does fail for me with JUnit 4 (running on JDK 11):

[code]

[2019-01-22 11:42] sbrannen commented on #1742
And when converted to JUnit Jupiter (JUnit 5)...

[code]

... the test also fails as follows:

[code]

[2019-01-22 11:46] marcphilipp commented on #1742
Well, the test fails, but the rogue thread never stops. I assumed that's what the original bug report was about.

[2019-01-22 11:48] sbrannen commented on #1742
Ahaaaaaaaaaaaaaa... OK. Sorry for the mix-up.

Test test _fails_, but the user code may potentially _execute indefinitely_. 😉

[2019-01-22 11:49] sbrannen commented on #1742
I renamed this issue accordingly.

[2019-01-22 13:34] #1738 closed

[2019-01-22 14:21] sbrannen commented on #1611
**Update**:

New API is visible here: https://github.com/junit-team/junit5/compare/issues/1611-field-support-utils

Documentation in release notes and user guide is forthcoming.

[2019-01-22 16:21] sbrannen commented on #1611
Closing this issue since the features targeted for 5.4 have been merged into `master` in commit 3e3a53b8f5d27f3696f9813aa406894102b19a17.

If anyone wishes to propose a "more object-oriented approach" as mentioned by @britter, please do so in a new issue.

Thanks again to @zoltanersek for the initial work that went into the new feature set.

[2019-01-22 16:21] #1611 closed

[2019-01-22 18:02] saiema commented on #1742
Hi.

I tested the following (I'm using Java 8, Oracle JDK):

In the add method, if I just leave the while(true) without any body I get the following:

Using JUnit 5 with the timeout Rule: the test never ends (it never fails)
Using JUnit 4 either with timeout annotation or a timeout Rule: the test fails after 1 second

On previous experiments I got that issue when running a mutation analysis and th

[2019-01-22 18:04] saiema commented on #1742
That's interesting, I can only use Java 7 or 8 to run my experiments, maybe it's a garbage collector issue?

[2019-01-22 18:10] saiema commented on #1742
For some strange reason the test (including the original add code) fails after one second. Maybe a rogue thread was the cause. I will run a few experiments to see what is happening, I was having issues for almost three days.

[2019-01-22 18:32] saiema commented on #1742
Ok, I can't use JUnit 5 or newer on my tool, since I use custom runners that depend on inner code of JUnit 4, changing that code to use a newer version would require too much work, I worst case scenario I will drop the case for which I have this issue.

[2019-01-22 22:02] saiema commented on #1742
Ok, I read about how JUnit runs timedout tests and how you can (without using ugly code) stop or pause threads. It seems that when JUnit states that a test failed because of a timeout, the Thread running the users code doesn't necessarily stops (I forgot about that). I tried to see if there was a way to at least reduce the priority of the users thread once a test was marked as timedout but Thread#

[2019-01-23 10:01] royteeuwen commented on #878
Has there been any solution provided for this yet? In experimental mode or whatever? I am migrating from junit4 to junit5 and we have loads of tests that use @RunWith(Parametrized) which are very hard to migrate at this moment without a lot of rework

[2019-01-23 15:59] sbrannen commented on #1742
OK. Thanks for the feedback.

[2019-01-23 16:15] sbrannen commented on #878
The team is currently finishing up the 5.4 RC1 release with 5.4 GA to follow shortly thereafter.

This particular issue is scheduled for 5.5, likely to be implemented in conjunction with #871.

[2019-01-24 10:16] npworkcode opened #1744 "Using the JUnit 5 Standalone Console launcher when classpath points to a different drive in Windows 10, the tests are not detected"
I am using the following from a command line:
java -jar junit-platform-console-standalone-1.4.0-M1.jar @junit5learn-args.txt

The contents of the junit5learn-args.txt file are:
--include-engine=junit-jupiter
--exclude-engine=junit-vintage
--disable-ansi-colors
--details=verbose
--details-theme=ascii
--fail-if-no-tests
--reports-dir=L:/junit5/reports
--class-path=JavaProjects/Eclipse/junit5learn/ta

[2019-01-24 10:20] sormuras commented on #1744
Can you please try: `--class-path=L:\\JavaProjects\\Eclipse\\junit5learn\\target\\test-classes`?

[2019-01-24 10:23] sormuras commented on #1744
Use `#` as the first character of a line.

For more details see: https://picocli.info/#AtFiles

[2019-01-24 10:35] npworkcode commented on #1744
If I use the quotes or use the double backslashes I get the following error:
Error parsing command-line arguments: Unmatched argument: L:\JavaProjects\Eclipse\unit5learn\target\test-classes
Usage: ConsoleLauncher [-h] [--disable-ansi-colors] [--fail-if-no-tests] [--scan-modules]
However if you look at my attached argument file, you will see that the following line works fine:
--reports-dir=L:/juni

[2019-01-24 10:43] sormuras commented on #1744
Error parsing command-line arguments: Unmatched arguments: #--disable-ansi-colors

My fault, talked to early and without checking our configuration. We disable comments by:

https://github.com/junit-team/junit5/blob/master/junit-platform-console/src/main/java/org/junit/platform/console/options/AvailableOptions.java#L278

[2019-01-24 10:50] sormuras commented on #1744
Can you please try the "simplified at files" mode of Picocli? Seems to work on my box.

`java -Dpicocli.useSimplifiedAtFiles=true -jar junit-platform-console-standalone-<version>.jar @junit5learn-args.txt`

With this layout (one line is one argument) of your `@file`:
[code]

[2019-01-24 11:15] npworkcode commented on #1744
Thanks for the help but I keep the console launcher is not finding the test classes.
I have included the output I get via a jpg snapshot. The comment character still leads to a parsing error.

--include-engine
junit-jupiter
--exclude-engine
junit-vintage
--disable-ansi-colors
--details
verbose
--details-theme
ascii
--fail-if-no-tests
--reports-dir
L:/junit5/reports
--class-path
L:/JavaProjects/Ecl

[2019-01-24 11:45] #1710 closed

[2019-01-24 11:46] sormuras commented on #1744
That is expected. Using the "simplified at files" switch does not override the hard-coded configuration within the console launcher parser.

Does `L:\JavaProjects\Eclipse\junit5learn\target\test-classes` really contain compiled test classes? Just in case... and please use single backslashes `\` in the `junit5learn-args.txt` file.

One more try for today: let's `java` care for building up the class

[2019-01-24 14:23] npworkcode commented on #1744
Thanks a lot Sormuras, that worked perfectly.
(Sorry for the late response, had to drop the little ones to school).
Thank you again for your time and expertise.
Have a great day and weekend!

[2019-01-24 15:12] npworkcode commented on #1744
Ok. So I intend to keep experimenting.
I used the following command line, reverted the argument file to key=value pairs and removed the picole simplefile option and got the test classes to run successfully.
java  -cp c:\java\jars\junit\junit-platform-console-standalone-1.4.0-M1.jar;L:/JavaProjects/Eclipse/junit5learn/target/test-classes org.junit.platform.console.ConsoleLauncher @junit5learn-args.

[2019-01-24 18:19] marcphilipp opened #1745 "Remove apiguardian dependency from published POM of org.junit.jupiter:junit-jupiter"
While being pulled in transitively anyway, the POM unnecessarily references apiguardian as a direct dependency because of our build setup.

## Deliverables

- [ ] Remove apiguardian from org.junit.jupiter:junit-jupiter aggregator project

[2019-01-24 19:22] marcphilipp opened #1746 "Forbid @TempDir on constructor parameters"
Because `@TempDir` on constructor parameters would create a shared temp dir which is unintuitive (see discussion in #1731), we should forbid it and hint toward using field injection instead.

## Deliverables

- [ ] Forbid `@TempDir` on constructor parameters

[2019-01-24 23:34] #1744 closed

[2019-01-25 09:22] svenruppert commented on #1743
Some additional informations from my side.
The Core FP elements could be used internally to minimize the
dependencies to assertJ and at the same time it would be a nice
way to support external libs with functional
approaches or functional oriented languages.

The Idea could be:

A testcase is a function that could be used in a Stream of input values
distributed into a Fork/Join Pool.

One thing wo

[2019-01-25 12:51] marcphilipp commented on #1743
dependencies to assertJ

By _internally_ you mean in the JUnit codebase?

Could you please post some pseudo-code how that would look like in a (made-up or real) language of your choice?

The only way to get hold of an `ExtensionContext` is from within an `Extension` implementation so I don't get how you'd connect these two.

[2019-01-25 14:07] sbrannen commented on #864
Updated scope to include registration via fields _and_ parameters.

[2019-01-25 14:15] sbrannen commented on #864
Current work on this issue can be viewed in the following branch:

https://github.com/junit-team/junit5/compare/issues/864-declarative-extension-registration-params-fields

[2019-01-25 14:15] sbrannen commented on #864
_in progress_

[2019-01-25 15:12] sbrannen opened #1747 "Update documentation for @TempDir regarding constructor parameters"
## Related Issues

- #1746

## Deliverables

- [ ] Update JavaDoc for `TempDirectory` and `@TempDir` regarding constructor parameters.
- [ ] Update documentation for `TempDirectory` and `@TempDir` regarding constructor parameters in the User Guide.

[2019-01-25 15:18] sbrannen opened #1748 "TempDirectory breaks constructor parameter resolution"
## Overview

Changes made in #1746 prevent test classes from having any parameters in their constructor if the `TempDirectory` extension is registered.

## Failing Example

The following test class fails against JUnit Jupiter `5.4.0-RC1` simply because the `TempDirectory` extension is registered.

[code]

## Related Issues

- #1746
- #1747

## Deliverables

- [x] Ensure that the `TempDirectory` ex

[2019-01-25 15:33] sbrannen commented on #1748
Reopening this issue to _consider documenting the fix in the Release Notes_.

[2019-01-25 15:41] sormuras commented on #1748
Seems reasonable. +1

[2019-01-25 16:00] snicoll commented on #1748
I was very confused when I first used this feature (from the pioneer project). For the record, I very much prefer preventing the use of such extension in the constructor rather than allowing it and passing the same value for each test invocation.

My preference, of course, would be to allow constructor injection and inject a different value every time the class is instantiated.

[2019-01-25 16:07] filiphr commented on #1748
Regarding the constructor parameter, when I initially used the `ParameterResolver` I thought that it would be possible to inject into the constructor. Isn't it possible to use that or maybe a new `ConstructorParameterResolver` that would allow passing parameters to the constructor?

[2019-01-25 16:40] sbrannen commented on #1748
Parameter resolution for constructors via the `ParameterResolver` extension API is not a problem in and of itself.

For example, that works fine with things like `TestInfo` and `TestReporter`. It also works fine for frameworks like the Spring Framework, since Spring looks up the component in the current `ApplicationContext`.

Parameter resolution for constructors only becomes "unintuitive" (i.e.,

[2019-01-25 16:50] sbrannen commented on #1748
I can fully understand the confusion.

It's _confusing_ for the core members of the JUnit 5 team as well.

Thanks for the feedback on that point. That's also our preference and thus the rationale behind disallowing `@TempDir` on constructor parameters for the time being (though potentially re-allowing them if the test class is configured with test instance per-class lifecycle semantics).

We (the

[2019-01-26 13:46] sbrannen commented on #1748
**Proposal**:

Proposed change to `TempDirectory`.

[code]

[2019-01-26 15:04] mmerdes commented on #1748
In the interest of simplicity and consisteny I would prefer a complete ban of `@TempDir` on constructor parameters rather than the 'mixed' solution.

[2019-01-26 15:13] marcphilipp commented on #1748
I tend to agree with @mmerdes. If there's a compelling use case for constructor injection in conjunction with the per-class lifecycle we could add support at a later point in time.

[2019-01-26 15:22] sbrannen commented on #1748
@sormuras, @mmerdes, & @marcphilipp, thanks for the feedback.

That's basically a 50/50 draw, and I agree that we can add that support later without it being a breaking change.

So let's leave it _as is_ for now.

[2019-01-26 15:54] sbrannen opened #1749 "Merge milestone and RC release notes for 5.4"
## Deliverables

- [x] Merge milestone and RC release notes for 5.4.
- [x] Add special section for changes between RC2 and GA (if necessary).
  - was not necessary
- [x] Consider adding a note under "general improvements" highlighting improvements to the User Guide such as #1651 and #1723.
  - opted instead to mention general improvements in the "Scope" of the release notes.

[2019-01-26 15:57] sbrannen commented on #1748
I am no closing this issue.

Documentation in the release notes will be addressed in #1749.

[2019-01-26 15:57] #1748 closed

[2019-01-26 23:42] vmassol opened #1750 "Allow defining @Nested test classes in a different class file"
Adding a feature request as suggested at:
https://gitter.im/junit-team/junit5?at=5c4c985d7b68f941022161c5

I like the Nesting feature of JUnit5 and the ability to have a single BeforeClass/AfterClass (I have some docker JUnit5 Extension that starts/stops a set of containers and do complex setup). However it leads to large classes. It would be great to be able to make the test class manageable (I c

[2019-01-27 06:46] sormuras commented on #1750
Interesting idea.

How would such _manageable test class_ look like?

[code]

[2019-01-27 07:04] sormuras commented on #1750
**Work-around** that works without adding a new feature to Jupiter: use Java's class inheritance feature.

[code]

Yields

![image](https://user-images.githubusercontent.com/2319838/51797767-00cd9080-220a-11e9-9d2c-1cc8d2ad657a.png)

...with all test methods declared in `C` appearing in the `B` container.

[2019-01-27 10:14] Tibor17 opened #1751 "Delete junit-platform-surefire-provider from documentation"
Delete `junit-platform-surefire-provider` from documentation https://junit.org/junit5/docs/current/user-guide

The users still refer to it and report fake bugs in Surefire JIRA.

Rather put this link to your documentation
https://maven.apache.org/surefire/maven-surefire-plugin/examples/junit-platform.html

[2019-01-27 10:33] sormuras commented on #1751
The new user-guide already points to the Maven Surefire documentation and says:

https://junit.org/junit5/docs/snapshot/user-guide/#running-tests-build-maven

It will be the default user-guide when 5.4 GA is shipped ... in a few days.

[2019-01-27 10:34] sormuras commented on #1751
Closing this issue as all work is done on `master`. Please feel free to open it if you think the new section lacks information or is not clear enough.

[2019-01-27 10:34] #1751 closed

[2019-01-27 12:45] sbrannen commented on #1750
That was going to be my answer, but you beat me to it. 😉

_Inheritance_ is the solution here, by extending (potentially abstract classes) and/or implementing interfaces that contain `default` methods.

In light of that, I am inclined to close this issue.

@junit-team/junit-lambda, thoughts?

[2019-01-27 12:47] sormuras commented on #1750
+1

[2019-01-27 13:15] mmerdes commented on #1750
Given the Solution above I would  close it as well.

[2019-01-27 13:33] sbrannen commented on #1750
OK. Thanks.

Yes, it is a bit hackish, but it works if your goal is to use `@Nested` classes as they were designed, namely to share state and setup from enclosing classes while simultaneously providing nested structure and reporting.

Please note that `@Nested` test classes were not designed with the idea that they would become huge. So if your nested test classes become unwieldy, you may want to

[2019-01-27 13:34] sbrannen commented on #1750
closing this issue due to the above feedback.

[2019-01-27 13:34] #1750 closed

[2019-01-27 15:05] marcphilipp opened #1752 "Reduce scope and surface area of TempDirectory extension"
Since there are currently multiple issues (e.g. #864 and #1672) that might change how extensions that provide resources are written and registered, we should hide the implementation of `@TempDir` so we can easily change it in a future release.

## Deliverables

- [x] Remove support for custom file systems, i.e. remove `ParentDirProvider` and `TempDirContext`.
- [x] Make `@TempDir` a top-level type

[2019-01-27 15:09] sbrannen opened #1753 "Document fix for #1748 in Release Notes"
## Deliverables

- [ ]  Document fix for #1748 in the Release Notes.

[2019-01-27 15:40] sbrannen commented on #1752
Let's consider relocating `@TempDir` to the `org.junit.jupiter.api` package as well..

[2019-01-27 15:54] sbrannen commented on #864
For anyone watching this issue, please note that it is now slated for inclusion in JUnit Jupiter 5.5.

[2019-01-27 17:05] #1753 closed

[2019-01-27 17:13] sbrannen commented on #1752
_in progress_

[2019-01-27 17:42] sbrannen commented on #1752
Update: 1st deliverable completed

[2019-01-27 22:13] gunnarmorling commented on #1720
Hey @sormuras et al., we've made some progress with cycle checking in Deptective. So if you like, you could give this a try now (by getting the latest SNAPSHOT from JitPack). Essentially, you'd have to add the following to your _pom.xml_:

[code]

[code]

This will fail the build if it spots any package cycles (on JDK 11 that is, on JDK 8 I noticed this only creates a warning for some reason, that

[2019-01-28 02:15] davidmichaelkarr commented on #770
So, starting to read about JUnit 5, found https://junit.org/junit5/docs/current/user-guide/ , found the "PDF Download" link.  It displays fine in Firefox.  However, when I download that file and then open it in Windows 7, I get "Cannot extract the embedded font 'be8840+NotoSerif'. Some ...".  This is not just an ignorable warning.  All the text is unreadable. It all shows up as dots.

[2019-01-28 10:30] sbrannen commented on #1752
_in progress_

[2019-01-28 10:40] sbrannen commented on #1752
For the time being, I have moved the `@TempDir` annotation to a top-level type in a new `org.junit.jupiter.api.io` package.

[2019-01-28 14:10] snicoll opened #1754 "Support @TempDir on constructor parameters"
## Overview

See https://github.com/junit-team/junit5/issues/1748#issuecomment-457612952

I've started to use this feature and I miss constructor injection quite a lot. Being able to inject the directory and then creating my tester as a final field was quite what I was looking for.

I've moved that code to `@BeforeEach` but that's yet another annotation I have to add for no good reason. I actually

[2019-01-28 14:16] sbrannen commented on #1752
Closing this issue since all deliverables have been completed in `master`.

[2019-01-28 14:16] #1752 closed

[2019-01-28 14:22] sbrannen commented on #1754
Thanks for creating this issue.

In case you missed it, we completely overhauled the scope of the `@TempDir` support in #1752.

It's easier to use now, but constructor parameters are still not supported.

I have therefore slated this for 5.5 M1 for _team discussion_.

[2019-01-28 14:33] sbrannen commented on #1754
@snicoll, out of curiosity, were you using the `@TestInstance(PER_CLASS)` lifecycle mode?

And if not, did the fact that the temp directory was shared across all test methods adversely affect your tests?

[2019-01-28 14:39] sbrannen commented on #770
@davidmichaelkarr, I experience the exact same issue on a Mac.

Can you please open a new issue?

[2019-01-28 14:42] sbrannen commented on #770
Actually, this only appears to be an issue with Adobe Acrobat Reader on my Mac. If I open the same PDF in the _Preview_ app on my Mac, it works fine.

[2019-01-28 14:45] sbrannen commented on #770
Oddly, if I download the PDF from `5.3.2` (https://junit.org/junit5/docs/5.3.2/user-guide/) instead of `current` (https://junit.org/junit5/docs/current/user-guide/), the PDF seems fine.

Maybe the PDF got corrupted in the `current` folder.

[2019-01-28 14:46] snicoll commented on #1752
That is very nice!

[2019-01-28 14:48] sbrannen commented on #770
GitHub displays both versions of the PDF, but they in fact have different sizes.

https://github.com/junit-team/junit5/blob/gh-pages/docs/5.3.2/user-guide/index.pdf

https://github.com/junit-team/junit5/blob/gh-pages/docs/current/user-guide/index.pdf

I'll see if I can manually copy the one from `5.3.2` to `current`.

@davidmichaelkarr, no need to create a new issue.

[2019-01-28 14:50] snicoll commented on #1754
Thanks for the quick reply. I didn't know and those looks quite sane change to me.

No I did not.

It did at first and then I added something to create a sub-dir per invocation in my custom tester. I think it's counter intuitive that the same temp `Path` is injected every time the constructor is invoked (i.e. for every test).

Is that some sore of limitation in the parameter resolution model or is

[2019-01-28 15:04] sbrannen commented on #1754
It's a known limitation of the `ExtensionContext` design/implementation.

I attempted to outline the issues here:

- https://github.com/junit-team/junit5/issues/1748#issuecomment-457634710
- https://github.com/junit-team/junit5/issues/1748#issuecomment-457638042

[2019-01-28 15:12] snicoll commented on #1754
Thanks, I missed the full context on the second comment.

[2019-01-28 15:42] sormuras commented on #1745
Tried it via 'configurations.all ... exclude()' and via excluding it for each dependency declaration to no avail.

[2019-01-28 15:43] svenruppert commented on #1743
Will prepare it..

[2019-01-28 15:48] sormuras commented on #1745
transitive false doesn't work either. Guess we have to remove that module from the list of dependencies just before the generatePomFileForMavenPublication

[2019-01-28 17:22] sormuras commented on #1745
_in progress..._

[code]
...seems to work. Writing an integration test that verifies that only `junit-jupiter-api`, `junit-jupiter-params` and `junit-jupiter-engine` are listed in the `<dependencies>` element.

[2019-01-28 17:42] #1745 closed

[2019-01-28 20:18] mojavelinux commented on #777
You'll be happy to know that support for rouge will be included in the upcoming Asciidoctor 2.0.0. Here's the pull request that's introducing it (using the new pluggable syntax highlighter API): https://github.com/asciidoctor/asciidoctor/pull/3033

[2019-01-29 07:08] sormuras commented on #777
Good to know ... maybe it's just in time for our 5.4 GA documenation?

[2019-01-29 09:41] sormuras opened #1755 "Add "Support the Development of JUnit" message"
JUnit is maintained by a team of passionate volunteers. Let our users know how to take a chance to give back and support the project -- besides contributing here at GitHub.

Such a message could read as simple as and point to https://steadyhq.com/junit
[code]

Gradle does something similar: https://travis-ci.org/junit-team/junit5/jobs/485515552#L463-L469

## Deliverables

- [x] Decide if we want i

[2019-01-29 11:02] sbrannen commented on #777
Thanks for the heads up, @mojavelinux!

Looking forward to it.....  But is 2.0 really going to be released _January 31, 2019_ with [48 open issues](https://github.com/asciidoctor/asciidoctor/milestone/10)? 😉

[2019-01-29 11:34] mojavelinux commented on #777
Yep. Some issue gardening is still in order (as we overhaul our whole process). It's also merge week. It will probably be a few extra days since releases always take longer than expected, but the train is definitely departing!

[2019-01-29 14:13] sbrannen commented on #777
OK. Have fun gardening!

[2019-01-30 17:08] sormuras commented on #1755
**Team decision**
Always display
[code]
when the `ConsoleLauncher` starts, unless the new option `--disable-banner` is supplied.

[2019-01-30 17:37] #1755 closed

[2019-01-30 17:40] sormuras commented on #1755
We could split the banner into an intro and out message. Like:

[code]

[2019-01-31 19:52] sormuras commented on #1755
Ideas for 5.5...

* split message to two lines
* add `You can hide this message using --disable-banner`
* make the first sentence bold, if ANSI is enabled

[2019-02-01 10:53] marcphilipp commented on #1743
To me, that looks a lot like Hamcrest's `Matcher` or AssertJ's `Condition` interface.

@svenruppert Have you tried working with those?

[2019-02-01 11:39] #1608 closed

[2019-02-01 13:20] Sam-Kruglov commented on #1500
Hi, just tried using

[2019-02-01 13:37] sbrannen commented on #1500
Hi @Sam-Kruglov,

This issue is closed.

Would you mind opening a new issue and including a more inclusive example -- for example, including whether or not you are using `@TestInstance(PER_CLASS)` lifecycle semantics for your Kotlin-based tests?

[2019-02-01 13:51] sbrannen commented on #1500
@Sam-Kruglov, I just opened the following issue against AssertJ.

https://github.com/joel-costigliola/assertj-core/issues/1418

Please follow that issue instead of creating a new issue against JUnit.

Thanks

[2019-02-01 13:53] Sam-Kruglov opened #1756 "@RegisterExtension instance field is not disposed in @Nested classes"
Hi, just tried using [this AssertJ feature](http://joel-costigliola.github.io/assertj/assertj-core-news.html#assertj-core-3.11.0-junit5-soft-assertions)

The following test class fails both tests but should only faild test `one`.

[code]

Also, go into JUnitJupiterSoftAssertions#afterEach and also place a breakpoint to log `this.hashcode()` when `errors` is not empty.

The problem is actually fixe

[2019-02-01 13:55] Sam-Kruglov commented on #1500
Hey, I started opening it here and found that it actually reproduces in Java and is directly connected with `@Nested` behavior. see the issue here https://github.com/junit-team/junit5/issues/1756

[2019-02-01 13:58] sbrannen commented on #1756
It's not just `@Nested`.

I also reproduced it with test instance per-class lifecycle semantics.

[code]

[2019-02-01 13:59] sbrannen commented on #1756
Thanks for opening the issue!

In any case, this is not an issue with JUnit Jupiter.

The problem lies in the implementation in AssertJ.

I am therefore closing this issue in favor of https://github.com/joel-costigliola/assertj-core/issues/1418.

Cheers,

Sam

[2019-02-01 13:59] #1756 closed

[2019-02-01 16:35] #1161 closed

[2019-02-01 16:35] #1320 closed

[2019-02-01 16:35] #1343 closed

[2019-02-01 16:35] #1464 closed

[2019-02-01 16:35] #1479 closed

[2019-02-01 16:54] srdo commented on #1343
@sormuras Sorry if I'm being dense, but I can't tell from the history. Was this fixed, or was it closed for another reason?

[2019-02-01 16:57] sormuras commented on #1343
I'm in the process of moving Surefire-related issues over to https://issues.apache.org/jira/projects/SUREFIRE/issues

[2019-02-01 16:58] srdo commented on #1343
Thanks.

[2019-02-01 17:01] sormuras commented on #1343
New location is https://issues.apache.org/jira/projects/SUREFIRE/issues/SUREFIRE-1633

[2019-02-01 18:48] sormuras commented on #1620
Output generated...
[code]

Generated by executing:
[code]
Before I start creating a diagram, is this what we want to document? Anything missing?

[2019-02-02 09:53] sbrannen commented on #1620
I agree.

[2019-02-02 09:54] sbrannen commented on #1620
If that's the actual output, then that demonstrates that we have a 🐛  in the support for user-supplied lifecycle callbacks.

`TestClass.tearDownB()` **must** be called before `TestClass.tearDownA()`.

[2019-02-02 10:06] sbrannen commented on #1620
We do actually have proper wrapping support for user-supplied lifecycle callbacks within class hierarchies.

For example, the following...

[code]

... results in the following output:

[code]

[2019-02-02 10:12] sbrannen commented on #1620
Or maybe it's better to just omit the simple class name. 🤔

[2019-02-02 10:56] sbrannen commented on #1620
Or.... we could _fix_ this.

For example, given the following...

[code]

... with a minor change I've made to `org.junit.jupiter.engine.descriptor.ClassTestDescriptor.registerAfterEachMethodAdapters(ExtensionRegistry)` locally on my machine, I now get the following output when executing the above `TestClassC` test class:

[code]

@junit-team/junit-lambda, Thoughts?

[2019-02-02 11:02] sbrannen commented on #1620
My local fix works with interface default methods as well.

Declaring:

[code]

... with the following test interface

[code]

... yields the following output:

[code]

[2019-02-02 11:09] sbrannen commented on #1620
Of course, truth be told: there is no real, physical correlation between methods such as `setUpA1()` and `tearDownA1()`.

Specifically, they are only related by a naming convention, and the order in which lifecycle methods are invoked is not controlled explicitly by the author of the test class.

So, one could argue that the status quo is fine: JUnit Jupiter does not guarantee any order or wrappin

[2019-02-02 11:17] sbrannen commented on #1620
Example in favor of my "final point" above:

[code]

Executing `TestClassZ` with the "wrapping fix results in:

[code]

And that demonstrates that there is in fact zero correlation between methods like `startDatabase()` and `closeDatabase()`.

Long story, short: let's just document the status quo for execution order for user-supplied lifecycle methods. 😉

[2019-02-02 11:20] sbrannen commented on #1620
I'm pasting the "fix" I experimented with locally here for future reference in case it proves useful.

Change in `ClassTestDescriptor`:

[code]

[2019-02-02 11:48] sbrannen commented on #1620
**Update**: _Deliverables_ have been overhauled to reflect the current scope.

[2019-02-02 13:03] sbrannen commented on #1620
Examples introduced in 591e5c00ee4512d60c7a99ba07ad7b1d7918faff demonstrate proper and improper lifecycle method configuration.

Note, however, that that commit only contains the code: it doesn't update the User Guide or Javadoc.

[2019-02-02 13:03] sbrannen commented on #1620
Executing `BrokenLifecycleMethodConfigDemo` results in:

[code]

[2019-02-02 13:04] sbrannen commented on #1620
Executing `DatabaseTestsDemo` results in:

[code]

[2019-02-02 13:11] sbrannen commented on #1620
@sormuras and @marcphilipp, with regard to the undesirable behavior in `BrokenLifecycleMethodConfigDemo`, I suggest we state in the document something along the lines of the following.

[2019-02-02 13:49] sbrannen opened #1757 "Use varargs for throwable conditions in TestExecutionResultConditions"
## Overview

Within the Engine Test Kit, factory methods for `Condition<Throwable>` in `TestExecutionResultConditions` currently accept a single `Condition<Throwable>` argument.

This forces developers to use `allOf(...)` or invoke such factory methods multiple times with different arguments.

It would be better to support varargs for such methods, analogous to what we already do in `EventConditio

[2019-02-02 13:49] sbrannen commented on #1757
_in progress_

[2019-02-02 14:10] sbrannen commented on #1757
@junit-team/junit-lambda, open for discussion:

https://github.com/junit-team/junit5/compare/issues/1757-varargs-in-TestExecutionResultConditions

[2019-02-02 15:31] sbrannen commented on #1757
Resolved in 635ea1a7dc2f7df009857ecbeebf0b907569b0d4

[2019-02-02 15:31] #1757 closed

[2019-02-02 16:18] sbrannen opened #1758 "@Execution and @ResourceLock should be @Inherited annotations"
## Overview

The `@Execution` and `@ResourceLock` annotations introduced in JUnit Jupiter 5.3 for parallel execution support are not inherited within test class hierarchies, which forces the developer to redeclare such annotations on all affected subclasses.

The absence of `@Inherited` on these class-level annotations was an oversight and should be addressed.

## Deliverables

- [x] Make `@Execut

[2019-02-02 16:35] #1758 closed

[2019-02-04 08:20] wumpz opened #1759 "skipped tags using maven with only api dependency"
I use JUnit 5.3.1 in combination with maven 3.6 and surefire 2.22.1 with **forkmode once**. I know this setting seems to be deprecated, but I can reproduce this with the actual settings (**forkCount**) as well.

## Steps to reproduce

I have a simple testclass within my project with @AfterAll and @Disabled tags. **clean install** does not find those tags and run the specific methods if I only spec

[2019-02-04 15:46] sbrannen commented on #1749
_in progress_

[2019-02-04 18:55] sbrannen commented on #1749
All work for this issue has been pushed to `master`.

[2019-02-04 18:55] #1749 closed

[2019-02-04 19:36] sbrannen opened #1760 "Extend JRE enum to support Java 13"
## Related Issues

- #1656

## Deliverables

Perform the following for Java 13.

- [x] Extend `enum JRE` with the new `JAVA_N` constant, with `N` being the latest feature version number.
- [x] Update `EnabledOnJreIntegrationTests`, `DisabledOnJreIntegrationTests`, `EnabledOnJreConditionTests`, and `DisabledOnJreConditionTests` accordingly.
- [ ] Test against JDK `N`.
- [ ] Document in Release Note

[2019-02-04 19:36] sbrannen commented on #1760
_in progress_

[2019-02-04 20:18] #1760 closed

[2019-02-04 23:18] jodastephen opened #1761 "Class-level @Test annotation"
TestNG has a nice feature where the `@Test` annotation is added to the test class instead of the test method. When the class is annotated, all public void-returning methods on the class are treated as test methods, as per the [documentation](https://testng.org/doc/documentation-main.html#class-level).

[code]

I'd like to see a mechanism to replicate this in JUnit 5. This would aid conversion from

[2019-02-05 05:15] sormuras opened #1762 "Enhance DynamicTest with enum-consuming stream factory"
# Overview

Add `enum`-consuming stream factory to `DynamicTest` to simplify default checks for all (some by supplying a filter) constants declared within .

[code]

## Usage

[code]

[code]

[2019-02-05 11:31] marcphilipp commented on #1762
Isn't this simpler?

[code]

[2019-02-05 11:47] #1762 closed

[2019-02-05 12:48] kelstar95 commented on #1334
But nevertheless we can run both Junit4 and Junit5 tests via `@RunWith(JUnitPlatform.class)`, despite the version of the runner we use. So i just don't see any difference, why not to run tests in junit4 env using suites and this annotation to run both junit4 and junit5 written tests?

[2019-02-05 12:56] snicoll commented on #346
I think the milestone should be cleared on this one.

[2019-02-05 12:58] sbrannen commented on #1334
You can indeed do that, but only if you make sure that your build tool or IDE is executing the class annotated with `@RunWith(JUnitPlatform.class)` as a JUnit 4 test. Otherwise, it will not work.

Also, any class annotated with `@RunWith(JUnitPlatform.class)` _cannot_ include other classes annotated with `@RunWith(JUnitPlatform.class)` in its _suite_.

In summary, `@RunWith(JUnitPlatform.class)` h

[2019-02-05 13:08] sbrannen commented on #346
Indeed. Thanks!

[2019-02-07 06:46] wumpz commented on #1759
I think that a library maintainer should as well try to ensure that his library is used in the correct way.

[2019-02-07 11:59] sormuras commented on #1759
Yes, I agree.

That's why other and me also work for Apache Maven to ensure Surefire & friends work with JUnit 5. The issue you describe can only be fixed within Surefire, thus, it should be reported and tracked there.

[2019-02-07 19:55] #1620 closed

[2019-02-08 10:20] ptjuanramos opened #1765 "Introduce assertion support for object properties of a common type"
Imagine that you have an object and you want to assert every property for String.EMPTY value. Instead of using all getters of that object, isn't it a good idea to you guys to implement a new feature for getting all getter methods by using reflection and assert them?

For example:

[code]

[2019-02-08 10:52] sormuras opened #1766 "JAR manifests contain invalid Specification-Version"
It reads `Specification-Version: MatchGroup(value=5.4.0, range=0..4)` for Jupiter and Vintage JARs, but should be `Specification-Version: 5.4.0`.
Same goes for Platform JARs, which contain `Specification-Version: MatchGroup(value=1.4.0, range=0..4)`, but should have`Specification-Version: 1.4.0`.

## Deliverables

- [ ] Use correct value for `Specification-Version` in all manifest files
- [ ] Writ

[2019-02-08 13:00] sormuras commented on #1766
_in progress..._

[2019-02-08 13:05] #1766 closed

[2019-02-08 14:56] sbrannen commented on #1765
Hi @ptjuanramos,

Since we aim to maintain a minimal set of built-in assertions, I don't foresee JUnit Jupiter introducing assertions along those lines.

Have you considered using AssertJ's `extracting(...)` support as documented on the page below?

http://joel-costigliola.github.io/assertj/assertj-core-features-highlight.html#extracted-properties-assertion

[2019-02-09 05:17] duckladydinh opened #1767 "Feature Request: Add @Depend(String[] methods) annotation to give 'methods' higher priority than the annotated method"
Hi everyone,

I am creating a pull request for this feature. It should work similar to TestNG (@Test dependsOn) but it will not disable the test if some test fails. It just gives methods a priority like the @Order.

It would be great if someone can give me some advice how to improve it :). Thank you.

:)

[2019-02-09 09:10] sbrannen commented on #1767
Tentatively slated for 5.5 M1 for the purpose of _team discussion_.

[2019-02-09 09:23] sbrannen commented on #1767
Hi @duckladydinh,

Thanks for opening the issue and submitting the PR!

Although I think there is merit in mere "dependent ordering" as in the PR, I think it would be worth investigating the possibility for "not executing" methods if a method that they depend on fails.

For example, if `C` depends on `A` and `A` fails, then `C` should be _aborted_. That's basically what TestNG does, and I think it

[2019-02-09 16:40] MykolaGolubyev opened #1769 "Access method name in beforeAll extension point"
Hello,
I am writing a JUnit 5 extension.
[code]
My custom code is being called, which is awesome.
But I can't seem to find a way to have a callback for methods marked with `@BeforeAll`.

[2019-02-09 17:06] jlink commented on #1532
What I'd need to transfer most of my integration tests for jqwik to testkit:
- events.assertEventsMatch() : Event matching where order of events does not matter and where some events can be left out

[2019-02-09 17:12] jlink commented on #1532
Moreover, I'd like an entry to testkit where I can give a TestEngine instance. Something like:
`EngineTestKit.engine(new MyTestEngine(...))`
This would simplify specific configuration testing that have different behaviour.

[2019-02-09 17:18] jlink commented on #1532
Just noticed that `EngineTestKit.engine(new MyTestEngine(...))` does exists but its behaviour is different from `EngineTestKit.engine("engine-id")` since there are more events being generated.

[2019-02-09 20:35] sbrannen commented on #1532
Oops...... this GitHub issue somehow slipped under the radar.

It has since been superseded by #1662 which went in JUnit Jupiter 5.4.

I am therefore closing this issue.

@dotCipher, have you had a chance to look at the version of the Test Kit that was released this week in 5.4?

[2019-02-09 20:35] #1532 closed

[2019-02-09 20:39] sbrannen commented on #1532
@jlink, are you aware of the `org.junit.platform.testkit.engine.Events.assertThatEvents()` method.

With `assertThatEvents()` you are not required to declare all events, unlike with `assertEventsMatchExactly(Condition<? super Event>... conditions)`.

There are examples in the User Guide: https://junit.org/junit5/docs/current/user-guide/#testkit-engine-events

If that does not meet your needs, plea

[2019-02-10 10:41] sbrannen commented on #1769
There are not any extension APIs that receive callbacks for the invocation of user-supplied lifecycle methods such as `@BeforeAll`,  `@BeforeEach`, etc.

Generally speaking, an extension should not be concerned with whether or not a user implements custom lifecycle methods. Their presence or absence should in no way influence the behavior of an extension.

So why do you feel that you need a callba

[2019-02-10 10:43] sbrannen commented on #1769
Also, the current title of this issue ("Access method name in beforeAll extension point") does not align with the question you asked in this issue's description.

Did you mean to ask two questions?

What "method name" do you wish to access?

[2019-02-10 12:43] marcphilipp commented on #1769
FWIW we might add such a callback in #157.

[2019-02-10 14:27] jlink opened #1771 "Support loose event matching in Test Kit"
Follow up of #1532

## Description

Provide method to assert events regardless of completeness and order.

## Example

[code]

### Why should that be part of the Test Kit?

My guess is that most test engine builders have the need to check for only some of the generated events. My attempts to use `events.assertEventsMatch()` did not lead anywhere since AssertJ's `ListAssert` class does not come wit

[2019-02-10 14:27] jlink commented on #1532
see https://github.com/junit-team/junit5/issues/1771

[2019-02-10 14:42] sbrannen commented on #1771
Although perhaps not the most intuitive (due to the AssertJ APIs), this is already possible via the `Events#assertThatEvents()` method.

Yes, I believe that's correct that AssertJ does not support a single such method, but as an _interim_ solution you can chain together multiple of the `have*()` variants (from `AbstractIterableAssert`) to achieve that.

- `haveAtLeastOne()`
- `haveAtLeast()`
- `ha

[2019-02-10 14:49] sbrannen commented on #1771
I agree that having to chain multiple invocations of `haveExactly()` and always having to supply `1` as the first argument is cumbersome.

I therefore propose we introduce the following method in `Events` with the semantics proposed by @jlink.

[code]

[2019-02-10 14:50] sbrannen commented on #1771
Tentatively slated for inclusion in 5.5 M1

[2019-02-10 15:21] jlink opened #1772 "Make ExecutionRecorder in Test Kit public"
`org.junit.platform.testkit.engine.ExecutionRecorder` could be used to test internals of 3rd party TestEngine implementations if the class was public with a public constructor or a public factory method.

[2019-02-10 17:20] sbrannen commented on #1772
How would making `ExecutionRecorder` public change the status quo?

In other words, what is missing in the current API that would be made possible only by making `ExecutionRecorder` public?

[2019-02-10 17:20] sbrannen commented on #1772
Tentatively slated for 5.5 M1 for discussion.

[2019-02-10 17:23] sbrannen commented on #1772
The reason I asked the above questions is that your quoted statement above is exactly the goal of the Test Kit.

There is nothing (intentional) about the Test Kit that is specific to test engines implemented by the JUnit team.

So, if something is missing, let's try to address those shortcomings without opening up implementation details like `ExecutionRecorder` if possible.

[2019-02-10 17:27] jlink commented on #1772
I'd like to inject an ExecutionRecorder instance in other places than the engine in order to check events at a place closer to where they are being created.

[2019-02-10 23:17] MykolaGolubyev commented on #1769
My goal is to generate test reporting using ReactJS and data collected from test runs. I use a framework that tracks executed Test Steps. I associate test steps with each test and let users explore what happened during each test.
I want "init" part to be present in the generated report as well.
Right now I put a hack and simply display "init". Ideally I want to display "user function name one" and

[2019-02-11 02:48] duckladydinh commented on #1767
Hi @sbrannen , thank you for the suggestion. I think I have something done already based on your suggestion. My intention is to keep the DependsOnAnnotation as it is, and add a separate TestWatcher. My initial test succeeds but I think I needs a bit more testing to ensure it is stable :).

[2019-02-11 10:21] sbrannen commented on #1769
OK. So it's just for reporting purposes.

In that case, it might make sense to add "events" to the `TestWatcher` API for user-supplied lifecycle methods.

@junit-team/junit-lambda, Thoughts?

[2019-02-11 10:22] sbrannen commented on #1769
Tentatively slated for 5.5 M1 for the purpose of _team discussion_.

[2019-02-12 14:57] ahmedyarub opened #1773 "java.lang.NoSuchMethodError: org.junit.platform.commons.util.ReflectionUtils.tryToLoadClass Migrating to 5.4.0"
JDK: 11
Spring Boot: 2.1.2.RELEASE
JUnit: 5.4.0
Maven: 3.6.0
Surefire: 3.0.0-M3

At first, I got the following error running the tests on IntelliJ and using the command mvn clean install:
[code]

After adding this dependency, I could run the tests in IntelliJ but not using Maven:
[code]

Rolling back to version 5.3.2 solves the problem

[2019-02-12 16:36] ahmedyarub commented on #1773
Fixed by replacing:

[code]

with:
[code]

[2019-02-12 16:36] #1773 closed

[2019-02-12 16:37] sbrannen commented on #1773
Glad you sorted it out!

Thanks for letting us know.

[2019-02-13 21:12] jkimba3 commented on #744
Will support for this issue be coming soon?  Trying to decide if we just walk away from our TestSuites or wait with our fingers crossed that it will work sometime in the near future.

[2019-02-14 00:31] jonas-ren commented on #871
Could you share what tools currently available we can use to achieve class-level parameterization?

I implemented some solution with DynamicTest, but it quite verbose and doesn't support the lifecycle callbacks (pending https://github.com/junit-team/junit5/issues/378). Another alternative is defining the tests in an abstract class, and create subclass for each test parameter, but it's not very mai

[2019-02-14 02:07] binkley commented on #48
Hi, I'm encountering an error which directly references this issue by link.  Gradle says:
[code]
I'm using Spring Cloud Contract (SCC), which places all the individual contract tests into a single class, relying on an inherited test base class for setup.

I have no annotations on the test methods (SCC marks the methods with `@Test` from JUnit 5), and the base class of the generated test class has

[2019-02-14 11:31] binkley commented on #48
Some more digging.  This is definitely SCC, not JUnit, complaining:

https://github.com/spring-cloud/spring-cloud-contract/blob/8ce80e6e7fc0267a9cba1679bdf20f42ce875741/spring-cloud-contract-verifier/src/main/groovy/org/springframework/cloud/contract/verifier/config/framework/JUnit5Definition.groovy#L63

I'll talk to them.

[2019-02-14 13:23] sbrannen commented on #744
If by "soon" you mean sometime in 2019, then yes, that is the plan.

It may come in 5.5 but I think more realistically in 5.6.

[2019-02-14 13:42] JiangHongTiao commented on #201
Guys, any update regarding this? It would be very helpful to fully migrate to junit5 and not to keep old libraries in the product. Thanks for your time & effort!

[2019-02-14 15:06] sdavids opened #1774 "Log Spam on STANDARD_ERROR?"
Using JUnit 5.4.0.

junit-platform.properties
[code]

build.gradle
[code]

Will lead to:

[code]

Is this "spam" desired?

*showStandardStreams* is enabled because we need it for another use case.

[2019-02-14 15:11] sdavids commented on #1774
Workaround to get rid of the "spam":

build.gradle
[code]

logging-test.properties
[code]

[2019-02-14 16:44] vmassol opened #1775 "Extension Point Request: ability to catch a test outcome and fail a test"
See https://gitter.im/junit-team/junit5?at=5c659880ef98455ea4364c08 for details.

Right now it's possible to catch a test failure in `handleTestExecutionException()`  and swallow it. But the other way around is not possible: it seems it's not possible to catch a test, perform some checks and decide to fail the test under some conditions.

I used to implement this in a JUnit4 RunListener and I trie

[2019-02-14 16:49] vmassol commented on #1750
@sormuras I've now tested it and it's working fine. FTR this is what we have: https://dev.xwiki.org/xwiki/bin/view/Community/Testing/DockerTesting/#HSuites

It's not perfect (having to extend a class is not very natural) but it's working and we're happy for now and will test suites when they're ready for prime time.

Thanks

[2019-02-14 17:05] sormuras commented on #1750
Thanks for the feedback, Vincent. Much appreciated.

[2019-02-15 09:34] ergunp opened #1776 "Method order not adhering to @Order"
Currently using 5.4.0 with Kotlin 1.3.21 and Java 8 and with Intellij 2018.3

 When I add `@TestMethodOrder(OrderAnnotation::class)` with `Order` annotation the order doesn't seem to run in what I was expecting for example, I expect this method to run first

[code]

but this method is the last one to run.

here is my full code,

[code]

here is a screenshot of the test methods: https://cdn1.imggmi

[2019-02-15 09:56] sbrannen commented on #1775
Have you considered implementing `AfterEachCallback`?

If necessary, you could even register it as a global extension.

[2019-02-15 10:02] vmassol commented on #1775
Main problem is that I can't use the service loader mechanism in my use case since I need to be able to disable the "feature" based on a Maven property. So I need to configure surefire to register the listener.  I can't use the service loader mechanism even for TELs for that same reason.

Actually I could by trying to read and resolve the pom.xml in the current directory but that becomes awfully c

[2019-02-15 10:10] sbrannen commented on #1776
Thanks for raising the issue.

We'll look into it.

[2019-02-15 10:10] sbrannen commented on #1776
Tentatively slated for 5.5 M1 for investigation.

[2019-02-15 10:25] sbrannen commented on #1775
How about managing the Maven property via a JVM system property and then having your extension look up the same JVM system property to determine if it should take any action -- much like other auto-registered extensions do not take any action unless a specific annotation is present?

[2019-02-15 10:28] vmassol commented on #1775
This is exactly what we do :) But when you're inside your IDE and you execute a unit test, this system property is not set and it depends on the module where the test is (some modules will have the property set to true and others set to false).

[2019-02-15 10:30] vmassol commented on #1775
For the curious ones, this is what we were doing with JUnit4 RunListener:

[code]

And then the RL code:
https://github.com/xwiki/xwiki-commons/blob/2dedbb20f39b2653337de835aad3c8282baadee7/xwiki-commons-tools/xwiki-commons-tool-test/xwiki-commons-tool-test-simple/src/main/java/org/xwiki/test/CaptureConsoleRunListener.java

[2019-02-15 10:32] vmassol commented on #1775
And to be complete I'm currently experimenting with the following using ShrinkWrap and inside a TEL (I don't like the fact that I get an ignored test but I can live with that):

[code]

[2019-02-15 10:34] sbrannen commented on #1775
It sounds to me like you may benefit from the JUnit Platform's support for tracking output to STDOUT and STDERR, but within an extension in JUnit Jupiter.

yes?

[2019-02-15 10:35] sormuras commented on #1775
_Déjà vu..._ https://gitter.im/junit-team/junit5 ;-)

[2019-02-15 10:36] vmassol commented on #1775
@sormuras yep :)

Our objective is to fail a test if it outputs content to the stdout or stderr (it's not to capture the content).

Thanks

[2019-02-15 10:37] sormuras commented on #1775
For completeness:

Seeing a `--fail-if-any-tests-writes-to-standard-streams` option or something similar.

[2019-02-15 10:38] sbrannen commented on #1775
Well, tracking something allows you to detect presence or absence.

So what's the difference?

Isn't it like testing whether a boolean is true or false?

[2019-02-15 10:39] sormuras commented on #1775
Does "JUnit Platform's support for tracking output to STDOUT and STDERR" remember which test wrote something? If yes, it could be collected and an extra test could verify that collection is empty or fail with a detailed report which test mis-behaved.

[2019-02-15 10:39] vmassol commented on #1775
@sormuras Right but this issue was about adding a generic extension point to be able to catch a test result and fail the test on some condition. Similar to what's currently possible with catching a test result and swallowing an exception ie make the test pass.

[2019-02-15 10:42] vmassol commented on #1775
Making it work in an easy way? If you show me how to do what I need easily then I'm all for it :) If it's about making our build complex by capturing the test output and then register a custom maven plugin (or use a new enforcer rule in the enforcer maven plugin), then it starts to be complex for a simple need, don't you think?

[2019-02-15 10:43] sbrannen commented on #1775
Yes. It's tied to the `TestDescriptor`.

But there's no way to access that from within Jupiter.

[2019-02-15 10:45] sbrannen commented on #1775
I'm not suggesting adding complexity.

The Platform support for STDOUT/STDERR stores the output as a String. So you could test if the String is empty. I think that's pretty simple.

The issue is that an extension in Jupiter cannot currently access that information. Only a TestExecutionListener can currently access that.

[2019-02-15 11:13] marcphilipp commented on #1776
@ergunp Are you using Spring Boot's BOM or the dependency management features of Spring Boot's Gradle plugin? Which version of the junit-jupiter-engine do you have on your classpath?

[2019-02-15 11:16] marcphilipp commented on #1774
Glad you figured out for yourself! We apologize for the verbosity, but unfortunately we cannot change the default behavior of java.util.logging. Thus, I'm closing this issue as "works-as-designed".

[2019-02-15 11:16] #1774 closed

[2019-02-15 11:31] marcphilipp commented on #1769
**Team Decision:** Implement #157 first and see if that can reasonably be used to implement the use case described in this issue.

[2019-02-15 11:58] vmassol commented on #1775
Ok, didn't realize it could be stored as a String.

Ok so I could use that in my current TEL. It wouldn't bring me much advantage though since capturing stdout/stderr is really easy in my TEL. Actually it could even be more of a problem since I'd need to use the dedicated JUnit config params (there are 2 AFAICS) instead of the single XWiki one. However it wouldn't solve the issue of throwing the e

[2019-02-15 12:21] sbrannen commented on #1761
FYI: if you're looking for a script to migrate from TestNG to JUnit Jupiter, feel free to use my "JUnit 3 to JUnit 4" migration script for inspiration. 😉

https://github.com/sbrannen/junit-converters/blob/master/junit3ToJUnit4.zsh

[2019-02-15 12:34] sbrannen opened #1777 "Exception thrown from TestExecutionListener fails the test plan"
## Overview

Currently, if a `TestExecutionListener` throws an exception, that exception will propagate and cause the entire test plan to fail.

## Deliverables

- [ ] Ensure that exceptions thrown from methods in a `TestExecutionListener` are swallowed and logged at `ERROR` level.
- [ ] Update Javadoc for `TestExecutionListener` to describe the expectation that such listeners never throw exceptio

[2019-02-15 13:13] sbrannen commented on #1775
You'd access those entries under their respective keys in the `ReportEntry` passed to `TestExecutionListener#reportingEntryPublished(TestIdentifier, ReportEntry)`.

[2019-02-15 13:14] sbrannen commented on #1775
That's correct.

[2019-02-15 15:40] 1vanan opened #1778 "JUnit 5 Test Suites don't run with surefire 3.0.0-M3 under pure Maven"
## Overview

I'm trying to launch test suite with surefire plugin under Maven version 3.0.0-M3. But if I do it with ```@RunWith(JUnitPlatform.class)``` annotation in pure Maven, situation ```No tests were executed!``` occurs. I figured out that this problem appears with 2.22.x version surefire, on the earlier versions all is fine. Therefore, dynamic tests with ```@TestFactory``` work fine with new

[2019-02-15 16:54] ergunp commented on #1776
@marcphilipp here is my `build.gradle` file
[code]

[2019-02-15 16:58] sbrannen commented on #1776
You don't have `5.4.0` set as the version for the `junit-jupiter-engine`.

Try adding the following to your build script.

[code]

That should override JUnit Jupiter version managed by Spring Boot.

You should then be able to remove the `5.4.0` declaration for the `junit-jupiter-api` dependency.

Let us know if that helps!

[2019-02-15 17:18] ergunp commented on #1776
@sbrannen I can verify that this has resolved the issue. Thanks for the help guys.

[2019-02-15 17:18] #1776 closed

[2019-02-15 19:07] mmichaelis opened #1779 "EngineTestKit: How to prevent selected class run from outside engine"
First of all thanks for the `EngineTestKit` &mdash; it just came in time, as I need to test exception handling in my extension.

Unfortunately the test detection mechanism in Idea as well as when run from Gradle also finds the referenced class to run (which should fail) instead of ignoring it.

My workaround: I annotated my "test under test" with `@EnabledIfSystemProperty(named = "engine.test.kit"

[2019-02-15 19:58] marcphilipp commented on #1778
I know it's a little confusing, but the suite class annotated with `@RunWith(JUnitPlatform.class)` is actually a JUnit 4 test class and as such needs to be executed with Surefire's JUnit 4 provider. Surefire 2.22.x is the first version with autodetection of the JUnit platform, i.e. as soon as `junit-platform-engine` is on the classpath it will attempt to execute all test classes using the JUnit Pl

[2019-02-15 19:58] #1778 closed

[2019-02-15 21:47] aviatix commented on #201
+1 for the idea to support junit5.

[2019-02-16 10:54] sbrannen commented on #1776
You're welcome, and thanks for letting us know it works.

[2019-02-16 11:18] sbrannen commented on #1779
TBH, in JUnit's own test suite (and other test suites where I "test the tests"), we use naming conventions to differentiate between _real_ test classes and _demo_ test classes.

For example, in JUnit 5 every real test class is named `*Tests`, and every demo test class is named `*TestCase`. Then in the build we simply make sure that the class name include filter matches against `*Tests` but not aga

[2019-02-16 11:20] sbrannen commented on #1779
That's tricky.

The Test Kit has zero dependencies on JUnit Jupiter, and we would like to keep it that way. Though, adding an _optional_ runtime dependency on `junit-jupiter-api` may be an option (no pun intended).

But that would only help people testing a test engine via tests written using JUnit Jupiter. Thus, a developer not using JUnit Jupiter would have zero benefit from a Jupiter-specific `

[2019-02-16 11:22] sbrannen commented on #1779
Tentatively slated for 5.5 M1 for _team discussion_

[2019-02-16 11:59] TWiStErRob opened #1780 "Add support for booleans in @ValueSource"
`@ValueSource` supports all the primitive types, Classes and Strings, i.e. all the compile time constants, except `boolean`s. This is a motion to fix this gap.

See also #1235 where all the others were added, and where @sbrannen said:

My argument is: 2 is still more than 1 input that `@Test` "supports", so I have to use a `@ParameterizedTest` if I want to execute a test of same setup and expectat

[2019-02-16 12:03] sbrannen commented on #1780
Tentatively slated for 5.5 M1 for _team discussion_

[2019-02-16 12:05] sbrannen commented on #1780
FYI: the following is an easy workaround that relies on automatic type conversion.

[code]

[2019-02-16 13:37] TWiStErRob commented on #1780
Thanks, that's a neat trick.

If this feature request falls through, please add this workaround to the docs at
https://junit.org/junit5/docs/current/user-guide/#writing-tests-parameterized-tests-sources

[2019-02-16 13:50] sbrannen opened #1781 "Supply expected and actual values for failed boolean assertions"
## Background

This issue was raised in the [Eclipse bug tracker](https://bugs.eclipse.org/bugs/show_bug.cgi?id=544491) by @noopur2507.

## Status Quo

The `assertTrue()` and `assertFalse()` methods in `org.junit.jupiter.api.Assertions` do not supply the actual and expected boolean values to the `org.opentest4j.AssertionFailedError` constructor. This is inconsistent with other assertions and can c

[2019-02-16 14:33] gopinath-langote commented on #1781
I can pick this.

[2019-02-16 14:47] sbrannen commented on #1781
Go for it!

Please make sure you include tests in your PR that demonstrate that the expected and actual values are in fact present in the thrown `AssertionFailedError`.

[2019-02-16 14:48] sbrannen commented on #1781
Marked as _in progress_ since @gopinath-langote has volunteered.

@gopinath-langote, please keep us posted on your progress.

[2019-02-17 13:18] sbrannen opened #1782 "Document comment support in @CsvFileSource"
## Overview

As discussed on [Stack Overflow](https://stackoverflow.com/questions/54681066/csvfilesource-junit-5-skip-line), it is possible to comment out arbitrary lines in CSV files.

The default comment character in `com.univocity.parsers.csv.CsvFormat` is `#`; however, we do not document this feature anywhere for JUnit Jupiter.

## Deliverables

- [x] Document comment support in `@CsvFileSourc

[2019-02-17 16:42] leeturner commented on #1782
Pretty much a first timer here but would love to get involved. Happy to take a look at this if that is ok ?

[2019-02-17 16:47] sormuras commented on #1782
Sure, go ahead!

Marked as _in progress_ since @leeturner has volunteered.

@leeturner, please keep us posted on your progress.

[2019-02-17 21:51] mureinik commented on #1780
Huh, egg on my face. @aepfli opened a PR while I was working on mine, about 15 minutes before I pushed mine. I guess I should close #1785?

[2019-02-17 22:58] sbrannen commented on #1780
_in progress_ ... and with two competing PRs. 😱

[2019-02-17 23:00] sbrannen commented on #1780
Well, since #1784 precedes #1785 numerically, and since they look almost (if not truly) identical, I'm inclined to say that @aepfli won the _race condition_.

But let's leave both PRs in tact for the time being, until we've merged one or the other. 😉

[2019-02-18 04:21] sijie123 opened #1786 "Support @TempDir tags in extensions"
I have a bunch of tests that require me to initialise a temporary directory with some files, so that the methods in my tests can read and write to it.
Currently, the solution is to implement a BeforeAll/BeforeEach tag and initialise the temporary directory for each test class.
As this is a common routine, it would be more reuse friendly if we could write an extension that encapsulates this routine

[2019-02-18 07:14] aepfli commented on #1780
Sorry for not properly communicating - i thought i give it a try after i saw the tweet, and it looked so straight forward, so i just continued. I was not sure, how i should really proceed. Finally i won a race :D

So for me this was a good start, because i somehow managed to contribute - i even do not bother if mine is not the one who got merged - i see this as a starting point, and well maybe the

[2019-02-18 07:36] sormuras commented on #1786
Extensions should not depend on other extension - not even on those built-in extensions that Jupiter provides.

Why don't you just use `Files.createTempDirectory(...)` in `beforeEach` and delete that directory in a `afterEach` callback? The latter may profit from exposing the "delete directory tree recursively" helper by Jupiter in some way.

[2019-02-18 07:46] sormuras commented on #1786
A generic resource supplier SPI (https://github.com/junit-team/junit5/pull/1672) could help here, methinks. With such an extension in place, test authors could write:

[code]

Will try to implement and publish a spike in JUnit Pioneer, soon.

[2019-02-18 10:38] 1vanan commented on #1778
@marcphilipp Thank you for the answer!
Now with dependency
[code]
it works.

[2019-02-18 11:58] 1vanan commented on #1778
I chose this way as it is necessary to use suites in Ignite because on TeamCity all tests are aggregated to suits and run under them [1].

[1] https://ci.ignite.apache.org/project.html?projectId=IgniteTests24Java8&branch_IgniteTests24Java8=pull%2F5888%2Fhead

[2019-02-18 14:05] gopinath-langote commented on #1777
I can pick this up. If no one is picking

[2019-02-18 14:14] sbrannen commented on #1777
@gopinath-langote, feel free to submit a PR!

The desired behavior is analogous to the support for `TestWatcher` callback invocations.

If you have problems finding where/how to test the changes, just let us know.

[2019-02-18 14:15] sbrannen commented on #1777
If you decide to start working on it, please just say so here so that we can mark it as "in progress".

[2019-02-18 14:24] sbrannen commented on #1786
That's typically true; however, there are times when interactions between extensions is desirable. For example, the `SpringExtension` has a `public static ApplicationContext getApplicationContext(ExtensionContext)` method that is used internally by the `SpringExtension` but intentionally public for use by other extensions.

Another option for inter-extension communication/collaboration is the `Ext

[2019-02-18 14:25] gopinath-langote commented on #1777
@sbrannen
I can work on this.

I need more information on this though.  Could you please redirect me to exact class (with full package ).

Is this for all the methods in the class or all?
How to test the behavior?

Regards,
Gopinath

[2019-02-18 15:02] filiphr opened #1787 "Support custom reason in @Disabled* / @Enabled* variants"
I would like to be able to write the reason why a test is disabled or enabled on a particular OS, JRE, etc. Currently the text is fixed in the different `ExecutionCondition`(s).

I would propose that a new `default String reason() ""` is added to the variants and that reason is suffixed to the current default text for each condition.

## Deliverables

TBD

[2019-02-19 09:29] Ciruman opened #1788 "Make emptyValue configurable in @CsvSource and @CsvFileSource"
I did not find a way to set the emptyValue of CsvParserSettings in case of having "null" and not "" for empty values.

For example, the values could be
`1;null;20.7;6.75;9; 6.25`
And it is not neccessary to have
`1;;20.7;6.75;9; 6.25`

I could provide a pull request with the proposal that at the end could be so configured:

`@CsvFileSource(numLinesToSkip = 1, delimiter = ';', emptyValue='null', re

[2019-02-19 10:30] marcphilipp commented on #1778
@1vanan I'm glad you found a solution. Thanks for letting us know!

[2019-02-19 11:19] sbrannen commented on #1788
Tentatively slated for 5.5 M1 for _team discussion_

[2019-02-19 11:26] sbrannen commented on #1787
Tentatively slated for 5.5 M1 for _team discussion_

[2019-02-19 11:30] sbrannen commented on #1777
The easiest way to find where something like this is used is to search for uses within the code base.

For example, I just searched for where `org.junit.platform.launcher.TestExecutionListener.executionFinished(TestIdentifier, TestExecutionResult)` is invoked, and the results show me:

- `org.junit.platform.launcher.core.ExecutionListenerAdapter`
- `org.junit.platform.launcher.core.TestExecutionLi

[2019-02-19 11:31] sbrannen commented on #1777
It's for the entire API, so all methods in the `TestExecutionListener` interface.

[2019-02-19 11:33] sbrannen commented on #1777
Regarding where to test it, you'll need to find an appropriate place within the `platform-tests` module.

And you'll need to create an "exception throwing" `TestExecutionListener` (stub or mock), register it, execute a simple test plan, and verify that the exceptions were all swallowed and logged. See uses of `org.junit.jupiter.engine.TrackLogRecords` for achieving the latter.

[2019-02-19 11:38] sbrannen commented on #1780
No problem.

We recommend that volunteers first ask in the form on a comment in the issue in order to avoid such race conditions.

That's the spirit! :)

We have an [up-for-grabs](https://github.com/junit-team/junit5/labels/up-for-grabs) label exactly for that purpose.

[2019-02-19 15:48] Ciruman commented on #1788
Is it a good idea if I provide a pull request for the discussion? Does it help?

[2019-02-19 15:49] sbrannen commented on #1788
No, I would await the team decision before proceeding with any form of coding.

[2019-02-19 21:26] pedrolamarao commented on #1477
I've just come to this issue after a web search.
I am using parameterized tests with Lifecycle.PER_CLASS and abstract instance source methods.
I use this technique in a TCK library meant to be specialized by providers of a certain API.
There are cases in which a particular provider supports no parameters for a certain test.
We built TCK instances with empty parameter sources as required by the Jav

[2019-02-20 09:35] gopinath-langote commented on #1777
Hello @sbrannen ,
Thanks for the information. I will start working on this.

[2019-02-20 09:36] sbrannen commented on #1777
_in progress_: @gopinath-langote is working on it.

[2019-02-20 11:32] Adrodoc commented on #1477
We use Paramterized Tests defined in a super interface that test certain aspects of fields in the class unter test via reflection. Unfortunately we have to use `@TestInstance(Lifecycle.PER_CLASS)` in order to get a reference to the class under test. I was really surprised to see that method sources need to be static otherwise.
We too have the issue that sometimes there is no field that is interest

[2019-02-20 14:49] Frontrider commented on #1355
Is there any progress on this issue, or there are still no materials on it? If there is none, than why do you have the platform in the first place, if we can't actually use it?
It's a bit rough opinion, but you should see where I'm coming from.

The javadoc provided no help so far on how one should go about implementing one.

[2019-02-20 22:02] tcfurrer commented on #1775
I've been wanting to do the same thing for my project for a long time.  Except with the added twist that I want to set a limit on the amount of stdout/stderr per test, so that tests which output a small amount of text can still pass, but tests which produce ridiculous amounts of text will fail.

So I agree with the request here for a general ability for extensions to do this sort of thing.

[2019-02-21 09:35] sormuras commented on #1477
I'd resort to https://junit.org/junit5/docs/current/user-guide/#writing-tests-dynamic-tests here. Something like this:

[code]

[2019-02-21 11:19] kjetiljd commented on #1773
Ran into the same issue - `java.lang.NoSuchMethodError: org.junit.platform.commons.util.ReflectionUtils.tryToLoadClass` when upgrading from 5.3.2 to 5.4.0 and others seem to have done so, too: https://stackoverflow.com/questions/53926264/nosuchmethoderror-org-junit-platform-commons-util-reflectionutils-trytoloadclas

Something changed between 5.3.2 and 5.4.0 ... and worse ... in my case it failed

[2019-02-21 14:16] jadeleeuw commented on #981
I found a situation that breaks the search algorithm, given that my expectation of its behaviour is correct, so forgive my ignorance if this works as intended.

Given the two interfaces below:
[code]
And a class:
[code]

`findMethod(Bar.class, "foo", Double.class)` will return the `foo` method of interface B. This is because that method is the first method found by the search algorithm that satisf

[2019-02-21 14:32] sbrannen commented on #981
@jadeleeuw, thanks for investigating and reporting that behavior!

I wouldn't say it's necessarily intentional but rather a "previously unknown limitation" of the algorithm.

Please feel free to submit a PR that reproduces the behavior.

We will then decide if we want to document it as a "known limitation" or consider a "bug" that needs to be fixed.

[2019-02-21 14:34] sbrannen commented on #981
And when I say "previously unknown limitation", I opened this GitHub issue exactly because I assumed there were such use cases. 😉

[2019-02-21 14:34] sbrannen commented on #981
@jadeleeuw, out of curiosity, how did you notice this behavior?

[2019-02-21 14:39] sbrannen commented on #1773
Yes, this issue has come up several times in conjunction with Spring Boot and its dependency management.

See also:

- https://stackoverflow.com/questions/54763937/why-auto-dependency-is-error-versionjava-lang-classnotfoundexception-org-juni?noredirect=1#comment96373542_54763937
- https://stackoverflow.com/questions/54598484/gradle-5-junit-bom-and-spring-boot-incorrect-versions/54605523#54605523

[2019-02-21 14:44] jadeleeuw commented on #981
I must admit that I personally do not have a specific use case, but I was looking through the issues to see if there was a way that I could contribute to the project when I came across this issue, and toyed around with it to see if I could find a case where the result of the search algorithm deviated from my expectations.

[2019-02-21 14:46] sbrannen commented on #981
OK. Thanks for the explanation. And by the way, good catch!

[2019-02-21 19:42] jjDevPL commented on #1761
Can I take it?

[2019-02-21 19:52] sbrannen commented on #1761
What do you mean by "it"?

[2019-02-21 20:07] jjDevPL commented on #1761
I mean the feature. Can I implement this new annotation?

[2019-02-21 20:16] sormuras commented on #1761
No -- the team decided against implementing this feature. Thus, I'll close this issue.

There are many ways to declare tests in Jupiter: `@Test`, `@TestFactory`, `@TestTemplate` (`@RepeatedTest`, `@ParameterizedTest`) -- we want them to be explicitly visible and not rely on a pattern that matches a method signature.

[2019-02-21 20:16] #1761 closed

[2019-02-22 11:05] AntonOellerer opened #1791 "JUnit 4 vintage tests fail with NPE when run together with JUnit 5 tests"
[StackOverflow Post](https://stackoverflow.com/questions/54747636/junit-4-vintage-tests-fail-with-npe-when-run-together-with-junit-5-tests)

When I run a set of JUnit 4 tests on their own, they run without a problem, but when I execute the package of tests, the JUnit 4 tests throw Nullpointer Exceptions when trying to mock the method of a mocked instance.

For testing one of my methods, I need to

[2019-02-22 11:17] sbrannen commented on #1791
Tentatively slated for 5.5 M1 to determine if this is a bug in JUnit 5.

[2019-02-22 11:31] AntonOellerer commented on #1791
When I remove the field
[code]
the NullPonterException also occurs when running the JUnit4 tests on their own.

[2019-02-22 13:02] sbrannen commented on #1791
In the example you provided in this issue's description, there is no use of that rule.

So how is that related to this issue?

Do you have multiple failing use cases?

If so, please provide simplified examples of all such use cases.

[2019-02-22 13:28] AntonOellerer commented on #1791
Sorry, updated with full example of the JUnit 4 Test

[2019-02-22 14:14] jodastephen commented on #1761
Can I use any of those to create a factory that operates by searching for a pattern in the method signature? While the team may not want to add that to the core, I certainly think its a better way to go (convention over configuration) and I don't mind writing some glue to do so. But I need some guidance as to what extension point is suitable.

[2019-02-22 14:45] sormuras commented on #1761
If you don't need real/full lifecycle support, you may try `@TestFactory`: https://junit.org/junit5/docs/current/user-guide/#writing-tests-dynamic-tests
Or give `@ParameterizedTest` with (`static`) `MethodSource` and/or an `ArgumentsProvider` a chance: https://junit.org/junit5/docs/current/user-guide/#writing-tests-parameterized-tests-sources-ArgumentsSource

[2019-02-22 14:50] sormuras commented on #1761
You may take some inspirations here: https://github.com/junit-team/junit5/issues/1477#issuecomment-465928862

[2019-02-22 14:57] sormuras commented on #1761
Here you go:

[code]

[2019-02-22 15:23] jodastephen commented on #1761
Thanks, I can expand from there as necessary.

[2019-02-23 10:18] AndreasVolkmann opened #1792 "JMockit teardown no longer works as before"
When upgrading from `5.3.2` to `5.4.0`, the JMockit mock leaks into other tests.

Previously, when mocking something in one test, the next test would be completely reset and be influenced by previous mocks.

After upgrading, my tests fail because mocks from other tests are still active.

## Steps to reproduce

In my example I use JMockit to mock `System.getEnv`.

[code]

And here is my build.gradl

[2019-02-23 10:47] sbrannen commented on #1792
Thanks for raising the issue.

I have confirmed that the test passes on Jupiter 5.3.2 and fails on Jupiter 5.4.0 using the following Java project.

[code]

[code]

[2019-02-23 10:54] sbrannen commented on #1792
It also fails with Jupiter `5.4.0-M1`.

[2019-02-23 11:36] sormuras commented on #1792
Perhaps (also) related to how Gradle uses the JUnit Platform to launch test runs? Does it fail using our standalone console launcher?

[2019-02-23 17:33] codecholeric commented on #1355
If it helps you could take a look at

https://github.com/TNG/ArchUnit/blob/master/archunit-junit/junit5/engine/src/main/java/com/tngtech/archunit/junit/ArchUnitTestEngine.java

I think this is pretty much a minimal class based engine if you want things to work like

* running a single test class (class selector) / running all tests with Gradle (since Gradle adds all tests as class selectors instea

[2019-02-24 08:32] rocketraman opened #1793 "Support repeatable annotations for built-in conditions"
Junit should support multiple condition annotations on classes and tests. One use case for this is a test that should not run in two situations: the first is that it should never run in the CI environment (CI=true), and the second is if a dev sets another environment variable (SKIP_X=true). One approach is to use the `@DisabledIfEnvironmentVariable` twice.

The only solution currently is to do `@D

[2019-02-24 08:37] Frontrider commented on #1355
Thank you. I looked at the Jupiter and the Vintage engines, but it was little help.
I'll take a look when I get there again.

[2019-02-24 10:07] sbrannen commented on #1792
It's not specific to Gradle.

We see the same behavior in Eclipse as well if we add something similar to the following VM arguments to the Run Configuration.

`-ea -javaagent:/Users/<some-user-name>/.gradle/caches/modules-2/files-2.1/org.jmockit/jmockit/1.45/<some-hash-tag>/jmockit-1.45.jar`

[2019-02-24 10:44] sbrannen commented on #1792
It appears that `mockit.internal.startup.JMockitInitialization.applyInternalStartupFakesAsNeeded()` does not register JMockit's `mockit.integration.junit5.FakeExtensionRegistry.FakeExtensionRegistry()`.

The net result is that the `mockit.integration.junit5.JMockitExtension` does not get registered.

So JMockit's support for JUnit Jupiter simply is not being used with Jupiter 5.4.

Note, however,

[2019-02-24 10:48] sbrannen commented on #1792
In the interim I have determined that there are several issues that have been opened against JMockit along the same lines.

- https://github.com/jmockit/jmockit1/issues/585
- https://github.com/jmockit/jmockit1/issues/589

I am therefore closing this issue.

[2019-02-24 10:48] #1792 closed

[2019-02-24 11:14] sbrannen commented on #1793
Tentatively slated for 5.5 M1 for _team discussion_

[2019-02-24 15:06] sbrannen commented on #1793
Proof of concept: _in progress_

[2019-02-24 15:10] sbrannen commented on #1793
The proof of concept can be seen here:

https://github.com/junit-team/junit5/compare/issues/1793-multiple-condition-annotations

[2019-02-24 16:47] bobtiernay-okta commented on #201
Would really love to remove the dependence on JUnit 4 in our codebase. This is the only lingering issue that is preventing that by way of our Powermock dependency. Would love to see a path forward here. Thanks for such a flexible library!

[2019-02-25 14:31] gopinath-langote commented on #1739
@marcphilipp anyone working on this?

[2019-02-25 15:17] sbrannen commented on #1739
Yes, as you can see above to the left, it's assigned to @marcphilipp and labeled as "in progress".

[2019-02-25 15:40] gopinath-langote commented on #1739
@sbrannen 👍

[2019-02-26 21:48] dotCipher opened #1794 "Introduce generic @FileSource for @ParameterizedTest"
Similar to the existing `@CsvFileSource` used for `@ParameterizedTest` I would be looking to get access to the raw content of a file, or collection of files in a directory (based on file filters, etc) from one or more classpath resources via a proposed annotation like `@FileSource`.

This would allow a user to also apply custom converters to the retrieved files to convert them to domain specific m

[2019-02-27 07:49] sormuras opened #1795 "Test-drive JUnit 5 build on Azure Pipelines"
## Overview

Test-drive our build on Azure Pipelines [1].

[1] https://azure.microsoft.com/en-us/services/devops/pipelines/

## Deliverables

- [x] Add `azure-pipelines.yml` with minimal configuration.
- [x] Does it work on Linux?
- [x] Does it work on Mac?
- [x] Does it work on Windows?
- [x] How to configure which JDK is used?
- [x] Is OpenJDK-EA supported?
- [x] On failing builds, are logs easy

[2019-02-27 08:13] brunoborges commented on #1795
Confirming a minimal setup for Linux works as expected.

`azure-pipeline.yml`

 - https://github.com/brunoborges/junit5/commit/4ee8d238a8647314d2925f78deaa56f6fdec6a4b

Here's a build test:

 - https://dev.azure.com/brunoborges-github/junit5/_build/results?buildId=25&view=logs

And here's the Gradle scan:

 - https://scans.gradle.com/s/6723pxshyiv2y

[2019-02-27 08:18] sormuras commented on #1795
Awesome, @brunoborges -- thanks for spiking an example setup. PR? ;)

[2019-02-27 12:27] sbrannen commented on #1794
I'm not sure that the generic term "fixture" adds value to this concept.

It sounds more like a `@FileSource` or `@PathSource` that would simply supply `File` or `Path` arguments to the parameterized test method.

So, if the the scope were reduced to that I think it could possibly be a candidate for inclusion in Jupiter. Though, a project like JUnit Pioneer might be better suited.

Regarding your

[2019-02-27 12:28] sbrannen commented on #1794
Tentatively slated for 5.5 M1 for _team discussion_

[2019-02-27 16:12] dotCipher commented on #1794
Thanks for the clarification, that all makes sense. I'll stay tuned until then.

[2019-02-27 16:31] mkobit opened #1797 "Support global configuration to override the default DisplayNameGenerator"
For our case, nearly all of our test cases are written in Kotlin. With the default name generation, that can result in a bit more cumbersome/ugly test names that are output by IDEs or in reporting.

For example, in a Gradle project we have.

[code]

Which results in test names like

* `this is an example test that should demonstrate something!$my_service()`
* `this test uses the @TempDir extension

[2019-02-27 16:49] sbrannen commented on #1797
Tentatively slated for 5.5 M1 for _team discussion_

[2019-02-28 06:53] wumpz commented on #1759
Saw that junit jupiter 5.4 supports a one dependency possibility. I like that.

[2019-03-05 12:02] bacer-esteco opened #1799 "Thread context classloader should be reset after each test"
## Overview

Whenever a test case sets the thread context `ClassLoader`, the test runner thread keeps using that `ClassLoader` for the following tests. This causes failures when combined with Mockito and mocks of package private classes/interfaces.

## Expected Behavior

When the thread is reused to run another test, the context `ClassLoader` should be reset to the original one.

## Steps to Repro

[2019-03-05 12:07] sormuras commented on #1799
...then test case is in charge to teardown the setup it needed to execute.

[2019-03-05 12:55] sbrannen commented on #1799
I certainly agree that tests should clean up whatever they set up, but I can also understand the desire to have the framework ensure that rogue code doesn't mess up the thread context ClassLoader for the rest of the test plan.

[2019-03-05 12:55] sbrannen commented on #1799
Tentatively slated for 5.5 M1 for _team discussion_

[2019-03-05 12:57] sbrannen commented on #1799
In that regard, this issue is related to #1688.

[2019-03-05 12:58] sormuras commented on #1799
What about `System.out`, `System.err`, `System.properties()`, and other "well-known" global resources? Reset them too?

[2019-03-05 13:26] matejdro opened #1800 "JUnit5 5.4.0 broke Android support"
JUnit 5.4.0 started crashing on Android due to unsupported UNICODE_CHARACTER_CLASS flag in Pattern.

## Steps to reproduce

1. Create brand new emulator from Android Studio with `Android 9.0 (Google Play) x86_64` image
2. checkout https://github.com/mannodermaus/android-junit5/tree/7b9f490d9ba6e7eb6b91b99e6d2755c546354e4f
3. Start emulator
4. Run `./gradlew :sample:connectedExperimentalDebugAndroi

[2019-03-05 13:28] sormuras commented on #1800
I remember that late change in line https://github.com/junit-team/junit5/commit/db8b3d4cdd588fad4660fbedaf1c6b2f68daed77#diff-6620c2fff8288084514a095acc4cb5a8R36 ... used another in-line regular expression before.

[2019-03-05 13:29] sbrannen commented on #1799
As a framework, we certainly have to draw the line somewhere, but let's not forget that we'll have to set/reset the thread context ClassLoader in conjunction with #201 anyway.

So maybe we should close this issue in favor of a subtask for #201.

[2019-03-05 13:30] sormuras commented on #1800
The constant is available since Java 1.7, though.
[code]

[2019-03-05 13:33] sormuras commented on #1799
Couldn't resist ... `@NewVirtualMachine(Lifecycle.PER_METHOD)`

[2019-03-05 13:37] sormuras commented on #1800
`(?U)` was the pattern snippet.

[2019-03-05 13:40] sormuras commented on #1800
@matejdro Do Android support `(?U)`?

[2019-03-05 14:09] matejdro commented on #1800
Yes, the constant itself is available. Unfortunately it appears Android folks forgot to update validation code, so this constant is still not allowed to be passed into `Pattern` constructor.

Just checked and Android 9.0 (latest one at the moment) throws syntax error when I try to create `Pattern` with this text added in. On the bright side, this mode appears to be always enabled on Android accord

[2019-03-05 15:39] NicolasMassart commented on #494
I found our that `--class-path ~/.m2/` without the equal sign between option name and value works.

[2019-03-05 21:41] grzegorzgrzegorz commented on #1782
Hi all,
I came across this thread when I was looking for a solution of my problem: I have a need to feed the tests with data like this (CSV file with only one record in each line):
`#someParam:someValue`
`#someOtherParam:someOtherValue`
Do you have any suggestions?
I think the handling of such test data should also be mentioned in documentation even if it is unsupported.

[2019-03-05 22:27] sbrannen commented on #1782
@grzegorzgrzegorz,

Have you tried to wrapping your input in quotes?

[2019-03-06 11:32] sormuras commented on #1800
Thanks for checking @matejdro -- mh, maybe we have to resort only look for non-Unicode control chars on Android. Perhaps we'll enhance the [`OS`](https://github.com/junit-team/junit5/blob/master/junit-jupiter-api/src/main/java/org/junit/jupiter/api/condition/OS.java)  enumeration (is it possible to determine Android OS at runtime?) with an `ANDROID` constant.

Marked for @junit-team discussion.

[2019-03-06 11:44] sormuras commented on #1800
...or guard the compilation of the patterns in `StringUtils` https://github.com/junit-team/junit5/blob/master/junit-platform-commons/src/main/java/org/junit/platform/commons/util/StringUtils.java#L36-L37 in a static initializer and fall-back to a non-Unicode one.

[2019-03-06 13:56] gastaldi opened #1801 "Test with @TempDir fails with NoSuchFileException if the tempDir is deleted inside the test"
JUnit 5.4.0

## Steps to reproduce
[code]
## Context

 - Used versions (Jupiter/Vintage/Platform): 5.4.0
 - Build Tool/IDE: IntelliJ / Maven 3.6.0

[2019-03-06 14:28] sbrannen commented on #1801
Good catch!

We'll look improving this.

[2019-03-06 14:34] sbrannen commented on #1801
In case I don't get around to pushing the fix to `master` and documenting it in the release notes, here's the fix for `org.junit.jupiter.engine.extension.TempDirectory.CloseablePath.deleteAllFilesAndDirectories()`:

[code]

[2019-03-06 14:36] gastaldi commented on #1801
@sbrannen I think a better fix would be ?
[code]

[2019-03-06 14:36] gastaldi commented on #1801
Ah no,you're right, ignore my last comment

[2019-03-06 14:37] gastaldi commented on #1801
But it wouldn't hurt to check if the file exists before deleting anyway :wink:

[2019-03-06 14:57] sormuras commented on #1801
What about this implementation?

[code]

[2019-03-06 15:06] gastaldi commented on #1801
@sormuras no objections, but I'd rather avoid throwing exceptions when possible.

[2019-03-06 15:11] sormuras commented on #1801
Sure thing. They would be handled by `TempDirectory.CloseablePath.deleteAllFilesAndDirectories()`.

[2019-03-06 18:31] grzegorzgrzegorz commented on #1782
Indeed, it is working with quotes.  Put this into the doc, please.
Thanks.

[2019-03-06 18:33] leeturner commented on #1782
I certainly will be adding these to the docs as part of this ticket

[2019-03-06 20:45] mkobit opened #1802 "Support composability for `ParameterResolver`s"
I would like to leverage existing `ParameterResolver` implementations and use/adapt the type they would resolve in my own `ParameterResolver`.
If possible, I would like to use them in a declarative fashion.

## Use Cases

### Using a `ParameterResolver` result in another `ParameterResolver`

The first use case I have is leveraging the built-in [`@TempDir`](https://junit.org/junit5/docs/current/api

[2019-03-07 12:09] sbrannen commented on #1782
You're welcome. Glad that worked for you.

[2019-03-07 12:09] sbrannen commented on #1782
Thanks, @leeturner.

[2019-03-07 13:02] sbrannen commented on #1801
Yes, but "it depends". 😉

I don't consider this a show-stopper personally. If it were, that would warrant a quick 5.4.1 release containing the fix.

What we typically do for bugs of this magnitude is wait for 2-3 bugs to pop up before we put out a point release.

[2019-03-07 13:03] sbrannen commented on #1801
@junit-team/junit-lambda, anyone consider this a show-stopper?

[2019-03-07 13:10] sbrannen commented on #1802
Possible duplicate of #1604

[2019-03-07 19:50] #1739 closed

[2019-03-07 21:52] ifrh commented on #1737
I am one of those users whose development environment doesn't use a dependency management tool.
The package manager of my linux distribution  cannot install Junit5, too - because I cannot find any **deb**-Package - unlike for junit3 or junit4.

[2019-03-07 22:07] ifrh commented on #1587
Well, I want to use JUnit5. My linux package manager (Ubuntu 18 LTS) does know a package for Junit3 a package for Junit4 - but no Package for Junit5. I want to integrate Junit5-support to https://github.com/ifrh/Praktomat but realy I don't find information I need.
What Java-Packages should I copy to be able to call JUnit5 like Junit3 or Junit4 ( https://github.com/ifrh/Praktomat/blob/master/src/ch

[2019-03-08 08:30] marcphilipp commented on #1587
@ifrh Sounds like you might want to use the [console launcher standalone jar](https://junit.org/junit5/docs/current/user-guide/#running-tests-console-launcher).

[2019-03-08 10:55] #1800 closed

[2019-03-08 11:19] smoyer64 commented on #1737
I never even realized there was a ``.deb`` package for JUnit ... but when I search for it, it does indeed show up!

[code]

[2019-03-08 11:30] smoyer64 commented on #1737
@ifrh This link provides a very old example of how to run junit from the CLI - https://github.com/selesy/junit5/blob/b427e1177716bebfd80147c92a400c70bb4c95a0/documentation/run-example-tests-via-console.sh.  Please note that the package names and hierarchy have changed but the console package continues to provide an executable JAR.  The trick will be to get everything necessary on the classpath - t

[2019-03-08 11:52] marcphilipp commented on #1799
**Team Decision:** Reset the TCCL to the one present before starting test execution after the test has finished executing.

[2019-03-08 12:01] marcphilipp commented on #1797
**Team Decision:** let's do it.

[2019-03-08 12:10] marcphilipp commented on #1794
I think @sbrannen meant "converters" instead of "aggregators".

@dotCipher Have you tried using [an explicit converter](https://junit.org/junit5/docs/current/user-guide/#writing-tests-parameterized-tests-argument-conversion-explicit)?

[2019-03-08 12:23] marcphilipp commented on #1793
**Team Decision:** use new repeatable annotation lookup for execution condition annotations

to be determined later: use new repeatable annotation lookup for registering multiple `@ArgumentSource` annotations of the same type for parameterized tests.

[2019-03-08 12:34] sbrannen commented on #1801
We have decided to publish a 5.4.1 release, and this fix will be included in that.

[2019-03-08 12:39] sbrannen commented on #1794
Indeed, in this context one would need to convert from a string that represents a classpath resource location to a String/File/Path that represents the contents of that resource and then to a domain object created from the contents of the resource.

[2019-03-08 12:44] sbrannen commented on #1737
Tentatively slated for 5.5 M2 for _team discussion_

[2019-03-08 13:04] sormuras opened #1803 "Print available "junit-platform.properties" with default values"
# Print all available properties

The `ConsoleLauncher` should provide an option `--print-default-properties`. That would print all generic JUnit Platform-related and also all engine-specific options to stdout.

## Sample output

[code]

[2019-03-08 18:10] ifrh commented on #1587
@marcphilipp Yes, you are right. Thanks for pointing me to the `junit-platform-console-standalone-1.4.0.jar`. I'll try if that contains everything I need - but reading other information it may be that this _"standalone.jar"_ have multiple depenecies to other `jars`

[2019-03-08 18:14] ifrh commented on #1737
@smoyer64 Sure, I'll describe my development environment. It is a django based webapplication called Praktomat. I want to add JUnit5 support to Praktomat, like there exists support for junit3 and junit4:
https://github.com/ifrh/Praktomat/blob/master/src/checker/checker/JUnitChecker.py#L50

[2019-03-08 18:25] sormuras commented on #1587
Which information source are those? Anyway, the _standalone_ stands on its own feet. It contains all you need to launch Jupiter and Vintage based tests.

[2019-03-08 18:33] ifrh commented on #1587
So I misinterpreted https://junit.org/junit5/docs/current/user-guide/#dependency-diagram .
I 'll try to connect [Praktomat ](https://github.com/ifrh/Praktomat/blob/master/src/checker/checker/JUnitChecker.py#L50) with the _standalone_ downloadable from https://repo1.maven.org/maven2/org/junit/platform/junit-platform-console-standalone/1.4.0/junit-platform-console-standalone-1.4.0.jar

[2019-03-08 19:47] marcphilipp commented on #1791
@AntonOellerer I tried to reproduce the issue, but this works for me: https://github.com/marcphilipp/powermock-sample/blob/master/src/test/java/org/junit/powermock/CheckJunit4.java

I haven't added Spring to the mix, yet. Could you try adding that, please? Why are you using 2.0.0.BUILD-SNAPSHOT?

[2019-03-08 20:18] dotCipher commented on #1794
Oh yeah that might make a lot of sense actually. I haven't tried converters, but that might fit for my use cases.

Would it make sense to narrow scope of this issue just towards something like a generic `@ResourceFileSource` to be composed with a `@ParameterizedTest`?

Then one could just use the converters like you guys mentioned to just map from the content of the file to the domain object, comp

[2019-03-09 06:58] sormuras commented on #1800
@matejdro @mannodermaus With https://github.com/junit-team/junit5/commit/30ab9f4fa8dcf05b44343faa6836c46e0c2d88be applied Android support should be fixed.

Can you please double-check on your systems using latest SNAPSHOT of JUnit 5?

https://oss.sonatype.org/content/repositories/snapshots/org/junit/

[2019-03-09 10:21] marcphilipp commented on #1794
@dotCipher I think that would makes sense, indeed.

[2019-03-09 10:22] marcphilipp commented on #1794
@dotCipher Could you please update this issue description and title accordingly?

[2019-03-09 10:39] marcphilipp commented on #1800
I've cherry-picked 30ab9f4 to the `releases/5.4.x` branch.

[2019-03-09 10:40] marcphilipp commented on #1766
I've cherry-picked f23b287543fcabbc60aaec0b8d441a16de7089d4 and c2ae582582120dbe45021e2f8cb075047c086f18 to the `releases/5.4.x` branch.

[2019-03-09 12:33] marcphilipp commented on #1737
@ifrh @smoyer64 Would this be sufficient?

<img width="1233" alt="Screenshot 2019-03-09 at 13 32 13" src="https://user-images.githubusercontent.com/214207/54071659-ed353100-426f-11e9-9c98-bbdf6b0dc1da.png">

[2019-03-09 13:16] #1780 closed

[2019-03-09 13:28] #1781 closed

[2019-03-09 13:38] marcphilipp commented on #1786
Related to #1604. Tentatively slated for 5.5 M1 for _team discussion_

[2019-03-09 13:49] sbrannen commented on #1794
+1

[2019-03-09 14:01] ifrh commented on #1737
I would like to have an direct link usable without JavaScript and a link to a ` junit5-console-standalone.jar` . And a notice is needed what jars should be downloaded if you want to start JUnit5 directly from console.

[2019-03-09 16:09] #1801 closed

[2019-03-09 19:14] aepfli opened #1805 "MethodOrderer.Random should print seed if none is configured to allow reproducibility"
MethodOrderer.Random is using `System.nanoTime()` as a seed to generate a random order. There is also a configuration property to allow reproducability by providing seed. It might be hard to determine the value of `System.nanoTime()` after execution, when there is no seed configured. Hence that it would be beneficiary to print the seed to the log with a message like `Using 'System.nanoTime()' as s

[2019-03-09 19:15] aepfli commented on #1805
i would also provide an implementation if this is accepted

[2019-03-09 20:27] marcphilipp commented on #1737
I don't think we should include such a notice on the homepage. There are too many different use cases. Please keep in mind that your use case is not as typical as you might think. Most users use a build tool and rely on its dependency management functionality.

How to use the `ConsoleLauncher` is part of the user guide: https://junit.org/junit5/docs/current/user-guide/#running-tests-console-launch

[2019-03-09 20:30] marcphilipp commented on #1805
I think that's a good idea.

@sbrannen WDYT?

[2019-03-10 15:30] dotCipher commented on #1794
Cool, updated the description and title of the issue to reflect this.  Let me know if it's not in sync with what you guys were thinking.  Appreciated!

[2019-03-10 15:37] dotCipher commented on #1794
I guess the only assumption I made was the actual input type of the parameterized value.  I am not sure if we want to use `File` or not, since it would be expected that the input `File` would always exist, and we probably would want to minimize boilerplate and not force the user to read the `File` object themselves.

Maybe if we return a wrapped type of something like a [ByteSource](https://google

[2019-03-10 16:09] sbrannen commented on #1805
What do I think?

Well... I think it's a great idea... especially since I had the idea a long time and actually intended to implement it before 5.4 GA.

So... oops.... sorry about forgetting to do that. 😉

[2019-03-10 16:10] sbrannen commented on #1805
@aepfli, feel free to submit a PR.

[2019-03-10 16:18] sbrannen commented on #1805
While we're on the topic, let me expound on my original idea.

The reason I didn't just log the seed in every case is that I was pondering whether it would make sense to compute the random seed _globally_ and reuse the same one across all randomly ordered test classes within the current test plan.

Rationale: currently a new random seed is generated for every test class configured with `MethodOrde

[2019-03-10 16:38] aepfli commented on #1805
+1 - sounds like a legit and good plan.

[2019-03-10 17:15] sbrannen commented on #1794
I think we should simply use `Path` as the input type of the parameterized value and leave it at that.

Rationale: files can also be binary. Thus converting automatically to a string would be pointless in such use cases.

Based on my experience, it's typically better to follow the KISS principle in such situations.

[2019-03-10 17:56] marcphilipp commented on #1794
I think we should support `Path` and `File` like we do for `@TempDir`.

[2019-03-10 17:57] marcphilipp commented on #1805
+1

[2019-03-10 22:38] Tibor17 commented on #201
Do you have `SPI (Java Service Provider Interface)` to customize class loading in JUnit5?
As for instance such SPI can be a factory producing `ClassLoader` or test `Class` and similar, producing it depending on test context (CDI containers isolated by ClassLoader in your tests), consumed inside in the engine.

[2019-03-11 06:43] marcphilipp commented on #201
Currently, there's `TestInstanceFactory` which should work for some of the use cases but it doesn't prevent "pre-loading" the test class with the current thread context classloader.

[2019-03-11 07:19] Tibor17 commented on #201
@marcphilipp
JUnit5 code makes `pre-loading` the test classes somewhere?

[2019-03-11 07:50] sormuras commented on #201
It depends on how the discover and/or execution request built by the JUnit Platform invoking tool is set up. If that tool only relies on basic default types, like `Path`, `File`, etc. test classes are only loaded just before test execution. If tools perform their own scanning and provide loaded test class instances, they are used "as-is".

[2019-03-11 08:11] aepfli commented on #1805
@sbrannen updated the description -> i do have another question:

In the code the MethodOrderer will be using `SAME_THREAD`, if a seed is provided via configuration. Might this cause any troubles? I am not sure how `java.util.Random` will behave in a multi thread environment, and if we really achieve predictability in execution Order with a static seed in multiple threads. because we still might e

[2019-03-11 08:13] sormuras commented on #1805
Use [`ThreadLocalRandom`](https://docs.oracle.com/javase/8/docs/api/java/util/concurrent/ThreadLocalRandom.html) instead?

[2019-03-11 08:58] marcphilipp commented on #201
In the case of Jupiter, we use reflection to determine whether a class is a test class. Thus, we have to load the class before we can search for testable methods etc. That happens during test discovery, long before execution, and is unavoidable.

[2019-03-11 09:26] marcphilipp commented on #201
@mannodermaus Could you please describe Robolectric's use case for this in more detail for us?

[2019-03-11 09:29] Tibor17 commented on #201
@sormuras
and the last option which was not answered is that we provide `string` as fully qualified class name.
The Class loading is done on the fly with using the strings?
In this case with strings, how can we alter the ClassLoader? What is the mechanism to pass the ClassLoader implementation in to the `junit-platform-launcher`?

[2019-03-11 09:33] sormuras commented on #201
At the moment, setting the [TCCL](https://github.com/junit-team/junit5/blob/master/junit-platform-commons/src/main/java/org/junit/platform/commons/util/ClassLoaderUtils.java#L39-L51) is the only option.

[2019-03-11 09:44] aepfli commented on #1805
Maybe Random is not the issue.

My problem relates to this override:
https://github.com/junit-team/junit5/blob/5e41ebe612fd67e905f96f1dd3184a071b65be17/junit-jupiter-api/src/main/java/org/junit/jupiter/api/MethodOrderer.java#L238-L254

This sounds too me reasonable, to set the execution to same thread. But this also means, to make the execution reproducable, so but this would require to run the te

[2019-03-11 09:44] sormuras commented on #201
An TCCL builder is implemented in https://github.com/sormuras/junit-platform-isolator -- which lacks documentation. That proof-of-concept project may serve a basis to solve this and other issues regarding custom `ClassLoader` instances.

[2019-03-11 09:56] Tibor17 commented on #201
@sormuras
I saw your project but overriding ClassLoader in the tool and by the tool is not the way we want to have. We want to have an extension API in JUnit5 which would use `our` ClassLoader from somewhere, i.e. IntelliJ IDEA or Maven plugin config. Overriding tool's ClassLoader via `thread.setContextClassLoader(loader)` is very risky.

[2019-03-11 10:05] marcphilipp commented on #201
@Tibor17 Why is that more risky than setting the class loader using aa different API?

[2019-03-11 10:16] Tibor17 commented on #201
@marcphilipp
If you was developer of IDEA or enterpreneur of Jetbrains, would you accept some external library to override the CL of IDEA and dedicate the control to that library? Nobody would accept this solution!

[2019-03-11 10:23] marcphilipp commented on #201
@Tibor17 How would this allow setting the CL of IDEA? Besides, any test could set the TCCL anyway.

[2019-03-11 10:26] sormuras commented on #201
Settting and forgetting TCCL -- see related issue #1799

[2019-03-11 11:41] sbrannen commented on #1805
Good questions, @aepfli!

I guess we essentially have two options.

1. Keep the concurrency semantics for a default seed _as is_, but provide a configuration parameter (as you proposed) to ensure execution in the same thread for repeatability.
2. Change the concurrency semantics for a default seed so that we always use `ExecutionMode.SAME_THREAD` for randomly ordered tests.

For the latter, we cou

[2019-03-11 11:42] sbrannen commented on #1805
I don't think that would have any effect.

We use the instance of `Random` during the discovery phase, which is single threaded -- right?

[2019-03-11 12:47] Tibor17 commented on #201
#1799  is mockito related, feel free to discuss #1799 with @thekingnothing

[2019-03-11 13:30] Ciruman commented on #1788
RElated issue: https://github.com/junit-team/junit5/pull/1016

[2019-03-11 14:07] sbrannen commented on #1794
Are you suggesting that the `ArgumentsProvider` should introspect the formal method parameters for the parameterized test method to determine the type to provide?

Or are you saying the `ArgumentsProvider` should simply provide strings that represent the paths which can be automatically converted to a `File` or `Path` via `StringToCommonJavaTypesConverter`?