[2019-12-05 17:11] sbrannen commented on #1596
The _rules_ are in fact the hardest part.

I'm wondering if we even need to capitalize the first word.

Typically the entry point would be the top-level test class, and I doubt people would want to name it `aStack` or `a_Stack`. Rather, people will probably name it something like `StackTests` and annotate it with `@DisplayName("A Stack")`.

Are you planning on providing support for parsing camelca

[2019-12-05 18:09] Kazhuru commented on #1596
I believe that support for camelcase would be a problem when it comes to different reserved names and when explaining something, so it would be for underscore if it exists or if not, the use of DisplayName("...") text value.

On the part of the capitalization of the first letter, I only thought so because it would look more organized that the results have that slight pattern, in the example you ga

[2019-12-05 19:38] juliette-derancourt commented on #1596
I don't think we need to capitalize either... In this case, if someone writes `@DisplayName("a Stack is ...")` then maybe they want it to be that way? Otherwise they would have put a capital letter themselves?

I'd also add a comma after the first name (e.g. `A stack, when new, is empty`). Or use em dashes (e.g. "A stack — when new — is empty"). Might be a bit too much though... 😁

If you have sev

[2019-12-05 20:08] Kazhuru commented on #1596
Of course you are right to avoid an implementation that could restrict and modify the decisions of the names that someone wants to use, it was just an idea that could be.

I hadn't thought about that comma between the Class and the first DisplayName , it could be useful since there could be cases where without it that part of the sentence couldn't make sense, like:

[code]
should return:
[code]
I'

[2019-12-05 20:08] Kazhuru commented on #1596
In fact, I'm thinking that the separator could be a decision variable like ("and", "-" "->", etc) if you want, and if you don't define anything, use "," as default, for example.

[2019-12-06 22:45] marcellodesales commented on #1773
I got the following with SpringBoot gRPC tests

* Upgraded jacoco and surefire

[code]

* Don't import Engine, and import API if needed

[code]

* Upon looking at `effective pom`, some dependency is importing an older version of junit. Added the following to the dependency management and got the same exact loaded version of junit

[code]

[2019-12-09 07:33] kriegfrj commented on #2113
Done!

[2019-12-09 10:14] niamster opened #2123 "JUnit 5 can't find test units when called from Gradle"
Affected versions:
- Junit version: `5.5.2`
- Gradle  version: `6.0`

Working versions:
- Junit version: `5.3.2`
- Gradle  version: `6.0`

## Steps to reproduce

Run `gradle test`.

Sample `build.gradle`:

[code]

When executed in `debug` mode following error appears:
[code]

## Context

 - Used versions (Jupiter/Vintage/Platform): `5.5.2`
 - Build Tool/IDE: `Gradle`

## Deliverables

- [ ] ...

[2019-12-09 12:35] sbrannen commented on #2123
What happens if you add the following dependency?

[code]

[2019-12-09 19:51] niamster commented on #2123
Thanks @sbrannen for your prompt reply.
When I add the suggested dependency the test suite fails with the following exception:

[code]

Please let me know if I can provide any further information.

[2019-12-10 19:09] Kazhuru commented on #1596
Hi, after these days I was working on this and I opened a pull request #2124, about the issue we were talking about just FYI.

[2019-12-11 18:35] vlsi opened #2125 "Consider removing bin/ build/ out/ and */out/* patterns from .gitignore"
Note: `.gitignore` patterns are not tied to the location of `.gitignore` file by default.

In other words, `build/` ignores `build` folders in all the possible subfolders.
In other words, if one day someone creates `org.junit.build.tools` Kotlin/Java package, then it would be excluded as well.

It might result in sad stories up to the point when the code might be lost (e.g. developer thinks the co

[2019-12-12 09:08] yuraku commented on #1948
hey 👋. Is there any update on this issue? any plans for implementing it? thanks

[2019-12-12 13:38] antimpatel commented on #2119
@marcphilipp can this be picked up?

[2019-12-12 18:09] Kazhuru commented on #1595
Hi, @marcphilipp I would like to take a step on this, I can make a table with examples for team discussion and clarification on how this should be displayed, in order to remove the blocker and finish if there are missing modifications, sounds good?

[2019-12-12 18:37] dsbecker opened #2126 "Add support for fixed and random test delays during concurrent testing"
When using JUnit 5 concurrent test functionality as a form of integration testing, I would like the ability to configure a random (with min/max bounds) or fixed delay between tests to simulate a more natural load. Currently I'm handling this with a `@BeforeEach` that calls a `Thread.sleep(...)` but would like to see configuration parameters to handle this natively.

[2019-12-13 16:32] SolalPirelli opened #2127 "@Timeout does not work when the test prints infinite output to stdout"
I'm using JUnit to grade coding exams. Students get points for each passing test, so it's important to me that failures from a single test are isolated - I don't want students' mistakes in one part of the code to affect other tests and cause them to lose more points than they should. Such mistakes sometimes include infinite loops in their code, meaning I need timeouts. And sometimes mistakes inclu

[2019-12-13 18:42] jimshowalter opened #2128 "Add expectedMessage to assertThrows"
Currently the way to check for an expected message is `assertEquals("the exception message", assertThrows(SomeException.class, () -> some.operationThatThrows()).getMessage());`

That's repeated boilerplate, and after a while it gets kind of annoying. You could add:

`assertThrows(SomeException.class, () -> some.operationThatThrows(), "the exception message");`

Except you can't, because that signa

[2019-12-13 18:46] jimshowalter opened #2129 "Provide way to specify that the root cause should be checked in assertThrows"
Currently `assertThrows(SomeRootCause.class, () -> some.operationThatUsesReflectionToInvokeSomethingThatThrows);` fails, because it tries to match `SomeRootCause.class` to the outermost exception, which in this case is `InvocationTargetException.class`.

The workaround is to not use `assertThrows` and instead write a try/catch block that calls `some.operationThatUsesReflectionToInvokeSomethingThat

[2019-12-14 02:50] ledoyen commented on #201
If it is of any help, here is  something I hope to do properly with the mentionned `ClassLoaderProvider` extension : https://github.com/fridujo/classpath-junit-extension

[2019-12-14 12:16] marcphilipp commented on #2128
If we implemented this, some people will argue that you should only check the message with contains. Maybe you want to check the root cause etc. Thus, instead of adding a new overload of assertThrows for each of these use cases, we explicitly decided against adding APIs to check properties of exceptions. This way, users can choose which assertion library to use.

[code]

I'd argue while the above

[2019-12-14 12:16] marcphilipp commented on #2128
Tentatively slated for 5.6 M2 solely for the purpose of _team discussion_.

[2019-12-14 12:24] marcphilipp commented on #2129
Why not do it like this (assuming the cause is the root cause)?

[code]

or with AssertJ

[code]

[2019-12-14 12:24] marcphilipp commented on #2129
Tentatively slated for 5.6 M2 solely for the purpose of _team discussion_.

[2019-12-14 13:10] marcphilipp commented on #2123
@niamster That's not the complete project, is it? Are you using Spring Boot's Gradle plugin by any chance? Can you share a [build scan](https://scans.gradle.com/) with us?

[2019-12-14 13:10] marcphilipp commented on #2127
Duplicate of #2087

[2019-12-14 13:10] #2127 closed

[2019-12-14 13:17] #2125 closed

[2019-12-14 13:17] marcphilipp commented on #2125
Good catch, thanks! 👍

[2019-12-14 15:02] niamster commented on #2123
Hey @marcphilipp
Yes, it's a new [project](https://github.com/niamster/chezz/tree/master/api) which I use to learn `java` and `spring`.
 Sure, you can find the scan [here](https://scans.gradle.com/s/v2ws2abeyltce) with `5.5.2` version of `junit`.

[2019-12-14 15:51] #1964 closed

[2019-12-14 18:10] jimshowalter commented on #2129
There's no guarantee that the cause is just one level deep, so we wind up having to write:

`Throwable t = assertThrows(etc);
while (t.getCause() != null) {
    t = t.getCause();
}`

After doing that several times and converting it to a utility method, it begs the question why we're writing it instead of it being provided.

As for using AssertJ, yes, we could do that, but then instead of just JUni

[2019-12-14 18:13] jimshowalter commented on #2128
We could use AssertJ, but then instead of just JUnit and Mockito (which are sufficiently different to justify managing two dependencies), we have to add another testing jar, for just a trivial amount of additional functionality, similar to adding more matchers when the bulk of what's needed is already available in JUnit.

Each dependency increases work, and we have to ensure they're compatible eve

[2019-12-15 18:27] sbrannen commented on #2128
If were to decide to add support for an expected message, another option would be to declare the expected message as the second argument as follows.

[code]

[2019-12-16 20:12] marcphilipp commented on #1964
@juliette-derancourt Thanks for actually closing the issue. 😅

[2019-12-16 20:16] marcphilipp commented on #2123
As you can [see in the scan](https://scans.gradle.com/s/v2ws2abeyltce/dependencies?dependencies=org.junit.platform&expandAll&focusedDependency=WzAsNDIsMjk4LFswLDAsWzBdXV0), the JUnit Platform dependency is downgraded by the `io.spring.dependency-management` plugin. You'll need to use the [plugin's mechanism to override the version](https://docs.spring.io/spring-boot/docs/2.1.2.RELEASE/gradle-plugi

[2019-12-16 20:16] #2123 closed

[2019-12-16 21:10] niamster commented on #2123
Thanks a lot @marcphilipp. This worked

[2019-12-17 08:36] marcphilipp commented on #2126
Tentatively slated for 5.6 M2 solely for the purpose of _team discussion_.

[2019-12-17 08:49] #2113 closed

[2019-12-17 08:53] marcphilipp commented on #676
@kazhuru is taking over (see https://github.com/junit-team/junit5/pull/2056#issuecomment-565155170).

[2019-12-17 09:29] #2079 closed

[2019-12-17 11:31] #2110 closed

[2019-12-17 13:02] marcphilipp commented on #1595
@Kazhuru Sure, that sounds good! 👍

[2019-12-17 13:08] marcphilipp commented on #2119
@antimpatel Please note that we haven't taken a decision whether we want to add and maintain this functionality. However, it would certainly help to see it spelled out in a spike. I think one of the main complications will be to change the execution mode to same_thread if the feature is used. You'll probably have to add a `getExecutionMode()` method or sth. similar to `TestTemplateInvocationContex

[2019-12-17 13:10] marcphilipp commented on #1948
@yuraku I'm afraid this issue slipped through the cracks because I forgot to actually assign it to a milestone for _team discussion_. I've not rectified this mistake and it's now in the backlog for the team to discuss. 😉

[2019-12-17 15:32] dsbecker commented on #2126
Awesome! Thank you.

[2019-12-17 19:45] sormuras opened #2131 "Duplicate annotations are swallowed by AnnotationSupport"
Seems to be feature we wanted?

https://github.com/junit-team/junit5/blob/master/junit-platform-commons/src/main/java/org/junit/platform/commons/util/AnnotationUtils.java#L217-L219

This use case triggered the question:

https://github.com/junit-pioneer/junit-pioneer/pull/133/files#diff-e173b19bdf682fe079028644b4dccc43R168-R171

## Deliverables

- [ ] Working as intended?
- [ ] Bug?

[2019-12-17 20:00] nicolaiparlog commented on #2131
Could [this exchange](https://github.com/junit-pioneer/junit-pioneer/pull/123#discussion_r356247176) be related?

[2019-12-17 20:12] tallavi opened #2132 "JUnit throws SIGBUSes when used from c++?"
Hi!

I'm using CLion with a c++ project (cmake), which starts a jvm. The java part is built with gradle. The project works, but I'm having a problem with debugging.

When I start the JVM, I immediately get a SIGSEGV. I understand that it's normal, it comes from the jvm itself, and there's no workaround except ignoring SIGSEGV. A bit annoying but not too bad as it only happens once per session.

BU

[2019-12-17 21:40] marcphilipp commented on #2131
I guess we could add a 'findAll*Annotations` family of methods.

[2019-12-18 09:28] BChitrakannan opened #2134 "Ability to add @tags during runtime"
With reference to this thread, https://github.com/junit-team/junit5-samples/issues/118#event-2883368068

It would be nice to have the ability to add tags during runtime (especially for Data-Driven Testing).

Use Case:
1. We are using different test data for a test case. We want to group all the positive test data as a smoke suite and add negative test data to the Regression suite.

Model Test Data

[2019-12-18 12:02] sbrannen commented on #2131
I don't think so. We explicitly use a `Set` so that there are no duplicates. In that sense, it works as intended.

If we (or extension authors) need to find all annotations (including duplicates), we'd have to implement something like @marcphilipp suggested. Note that the Spring Framework provides that kind of support in `AnnotatedElementUtils.findAllMergedAnnotations(...)`.

[2019-12-18 12:03] sormuras commented on #1939
Further investigation and automation of this is blocked by https://bugs.openjdk.java.net/browse/JDK-8225773 -- here's a MVE project: https://github.com/sormuras/JDK-8225773

[2019-12-18 12:12] sormuras commented on #2063
### org.junit.jupiter
[code]

[2019-12-18 12:14] sormuras commented on #2063
### org.junit.jupiter.api

[code]
https://github.com/sormuras/JDK-8225773/runs/354396322#step:4:166

[2019-12-18 12:16] sormuras commented on #2063
### org.junit.jupiter.engine

[code]

[2019-12-18 12:17] sormuras commented on #2063
### org.junit.jupiter.params

[code]
https://github.com/sormuras/JDK-8225773/runs/354396352#step:4:62

[2019-12-18 12:18] sormuras commented on #2063
### org.junit.platform.commons

[code]

[2019-12-18 12:35] sormuras commented on #2063
### org.junit.platform.console
- `1.5.2` **NPE** https://github.com/sormuras/JDK-8225773/runs/354353926#step:4:52
- `1.6.0-M1` works (but why?) -- see result below:
[code]

[2019-12-18 12:41] sormuras commented on #2063
### org.junit.platform.engine
[code]

[2019-12-18 12:42] sormuras commented on #2063
### org.junit.platform.launcher
[code]

[2019-12-18 12:43] sormuras commented on #2063
### org.junit.platform.reporting
[code]

[2019-12-18 12:44] sormuras commented on #2063
### org.junit.platform.suite.api
[code]

[2019-12-18 12:47] sormuras commented on #2063
### org.junit.platform.testkit
[code]

[2019-12-18 12:58] sormuras commented on #2063
_I always forget this one... now, I can't sort into the other Jupiter modules above. 😈_

### org.junit.jupiter.migrationsupport
[code]

[2019-12-19 13:46] marcphilipp commented on #2132
@tallavi I'm not sure how to help you here to be honest. My best guess from the stack is that it's caused by invoking the test class constructor visa reflection. If so, it should be reproducible without JUnit. Could you try writing a small programm with a `main()` method that does that?

[2019-12-19 13:49] marcphilipp commented on #2134
Tags cannot be added dynamically at the moment because they have to be known during test discovery so they can be used for filtering. Your use case sounds like you'd want some kind of extension mechanism that adds tags programatically during test discovery, right?

[2019-12-19 13:50] marcphilipp commented on #2134
Related issue: #1997

[2019-12-19 14:11] marcphilipp commented on #2063
"Suggested module descriptors" LGTM.

[2019-12-19 21:32] tallavi commented on #2132
Hi @marcphilipp , thanks for the response. Since I wrote here, I had some responses in stack overflow https://stackoverflow.com/questions/59363909/diagnosing-sigbus-in-third-party-jars-used-with-jni-from-c, which made me improve my sample. You can pull the new one and see something more definitive.

Running the main in the java file runs the test without an issue. Running the same method from c++

[2019-12-20 07:23] #2128 closed

[2019-12-20 07:26] marcphilipp commented on #2128
**Team Decision:** We think the current basic assertion APIs in Jupiter support this use case well enough. Adding an overload of `assertThrows` with additional parameters will make it shorter but not easier to read. Users who need such an assertion frequently should consider using an assertion library like AssertJ or extract their own specialized assertion method.

[2019-12-20 07:26] marcphilipp commented on #2129
**Team Decision:** We think the current basic assertion APIs in Jupiter support this use case well enough. Adding an overload of `assertThrows` with additional parameters will make it shorter but not easier to read. Users who need such an assertion frequently should consider using an assertion library like AssertJ or extract their own specialized assertion method.

[2019-12-20 07:26] #2129 closed

[2019-12-20 07:33] marcphilipp commented on #1948
We briefly discussed this issue in yesterday's team call. It's not yet specific enough to decide whether work on it should start. It should definitely work similar to `@TestMethodOrder` but where would you define the annotation? Should we support it both on packages and modules? Should there be a way to define a default orderer as a configuration parameter? Which implementations would we include b

[2019-12-20 07:36] marcphilipp commented on #2126
**Team Decision:** We don't think this use case is general enough to warrant a specific feature in the Jupiter API. You can implement it using an extension that implements `BeforeEachCallback` that you [register globally](https://junit.org/junit5/docs/current/user-guide/#extensions-registration-automatic).

[2019-12-20 07:36] #2126 closed

[2019-12-20 07:52] marcphilipp commented on #2132
Executing `./gradlew :junit-platform-console-standalone:publishToMavenLocal` publishes the JAR to the local Maven repository. I have no experience using JNI to create a JVM from C++. From the comments on the SO thread, it sounds like it's an issue with your environment or local libraries, isn't it?

[2019-12-20 08:15] dsbecker commented on #2126
Thank you for considering it.

[2019-12-20 09:26] sormuras opened #2136 "Create module API overview page"
Like can be seen at the [API of JDK 11](https://docs.oracle.com/en/java/javase/11/docs/api):

`javadoc` supports creating a modular overview page. At the moment, we prevent that page from being created via `--no-module-directories`.

JUnit's overview page could look like:

[code]

Might supersed #2056

## Deliverables

- [x] Drop `--no-module-directories` and get the overview page generated and up

[2019-12-20 09:52] sormuras opened #2137 "Append module name to default display name of classes"
When selecting multiple modules (e.g. via `--select-module a,b,c` within a console launcher run) users can't quickly infer from which module a test class (read: container) originates. By appending that information to the default display name its origin is presented in plain sight.

### Example

Without module names:
![image](https://user-images.githubusercontent.com/2319838/71246243-925c5a00-2316-

[2019-12-20 18:09] #2063 closed

[2019-12-20 18:57] Kazhuru commented on #1595
| Method/Class Original Names    | Generated Display Name |
| ------------- | ------------- |
| MyFirstJunitJupiterTests()  | My First Junit Jupiter Tests |
| testWithDisplayNameWithEmojis()  | test With Display Name With Emojis   |
| MyFirstJunitJupiterTests()  | My First Junit Jupiter Tests |

[2019-12-20 19:55] tallavi commented on #2132
Hi @marcphilipp,

Ok, I managed to do that and actually step into the junit code from my code. I hoped that doing that  will somehow improve the enigmatic stack trace I got, but it did nothing. Regarding what Oo.oO wrote in SO, I don't see how it can possibly be an issue of some third party (other than JUnit), I isolated all the factors:

1. Running it directly from JAVA works, proving my JAVA cod

[2019-12-20 20:03] Kazhuru commented on #1595
Hi there, I would like to propose this kind of output activity for this generator:

| Method/Class test name input | Display name generator output |
| ------------- | ------------- |
| MyFirstJunitJupiterTests()  | My First Junit Jupiter Tests |
| JunitTestNumber12OfToday()  | Junit Test Number 12 Of Today |
| timeoutNotExceededTest()  | timeout Not Exceeded Test |
| ThrowsNullPointerException()

[2019-12-20 20:19] sormuras commented on #2136
Sneak peek view

![image](https://user-images.githubusercontent.com/2319838/71289833-6ec4fe00-236e-11ea-865b-5f262cfe2336.png)

[2019-12-21 03:49] hglasgow commented on #2119
I like this idea. The option to stop on failure could help test runs terminate quicker if there are faults.

[2019-12-23 21:31] mroche74 commented on #871
Is this extension still in the works?

[2019-12-25 06:14] elonderin commented on #960
what is the recommended migration for these kind of tests from junit4 when testing the behavior of different implementations?

Parameterization is out of the question b/c the implementation needs to be instantiated based on the common setup/member vars in `@BeforeAll` as well as custom setup in each test (passed as an argument to `runImpl()`  where the instantiation happens as well as the executio

[2019-12-25 10:13] atnak commented on #878
FWIW, here's an extremely hack-slash workaround that uses `@TestFactory` as an intermediary:

[code]

* While it supports `@Test`, `@BeforeEach` and `@AfterEach`,
* It doesn't support `@BeforeAll` or `@AfterAll` (although `@BeforeAll` could be handled by the constructor)
* And it's a hack because:
    * It ignores most of the things in `org.junit.jupiter.engine.descriptor.ClassBasedTestDescriptor`

[2019-12-27 13:26] pascencio commented on #569
Sorry which link? I have the same bug, but the **version 2019.3**.

Thanks in the advance!

[2019-12-27 14:01] sbrannen commented on #569
The link was for Eclipse, not IDEA. In any case, the link is in https://github.com/junit-team/junit5/issues/569#issuecomment-283616144.

[2019-12-28 18:32] exx8 opened #2140 "Junit doesn't discover my tests"
## Steps to reproduce

run
java -jar ex1/lib/junit-platform-console-standalone-1.6.0-M1.jar --select-directory="./ex1/test"
with the following hierarchy

[code]

## Context

 - Used versions (Jupiter/Vintage/Platform): linux junit platform 1.6
 - Build Tool/IDE:
java 11

I expect the launcher to run my tests. instead no test is run.

[code]

[2019-12-29 15:57] sormuras commented on #2140
This kind of question is better suited to be asked over at StackOverflow. Thus, I'm closing this issue.

Maybe this answer already contains enough information to help you: https://stackoverflow.com/questions/52373469/how-to-launch-junit-5-platform-from-the-command-line-without-maven-gradle/52373592#52373592

Feel free to re-open this issue if you still struggle to get the standalone variant runnin

[2019-12-29 15:57] #2140 closed

[2019-12-30 06:10] sormuras commented on #2140
Note: this is related to #90 (https://github.com/junit-team/junit5/issues/90#issuecomment-448158121) as Jupiter and Vintage don't support "selecting tests from directories", which includes the `--select-directory` option of the console launcher.

[2019-12-31 15:18] stevewhitmore opened #2141 "More Concise Error Message In Tests"
It would be really useful to be able to add an additional argument to the `@Test` annotation to assert an error was thrown with a certain message instead of instantiating a new class and then calling a method on it.

ExpectedException is an okay workaround but it would be much more concise as

[code]

as discussed here: https://stackoverflow.com/questions/2469911/how-do-i-assert-my-exception-messa

[2019-12-31 15:33] sbrannen commented on #2141
This issue tracker is for JUnit 5. The `@Test` annotation in JUnit Jupiter (part of JUnit 5) does not have any attributes.

If you would like to make a proposal for JUnit 4's `@Test` annotation, please open an issue in the [JUnit 4 issue tracker](https://github.com/junit-team/junit4/issues?q=is%3Aissue+is%3Aopen+sort%3Aupdated-desc).

[2019-12-31 15:33] #2141 closed

[2020-01-01 06:02] k1w1m8 commented on #1320
@krusche M4 was released in November.

[2020-01-01 15:35] marcphilipp commented on #2132
Do you need to call the Java code from C++ or could you instead launch a Java process from C++ as a workaround?

[2020-01-03 09:49] #1679 closed

[2020-01-03 11:53] BChitrakannan commented on #2134
Yes. It would be really easy to group the test cases externally. I can run the same test case with different data. Only few data qualify to be in smoke/regression suite.

As is, If i mark a test case as Smoke test case, it will be executed with all the data which is not necessary!

[2020-01-03 13:23] marcphilipp commented on #2134
@BChitrakannan You could implement a custom `ExecutionCondition` to disable test cases you're not interested in. The only downside would be that the ones that are filtered out are counted as skipped. Would that suit your needs?

[2020-01-03 15:08] pbludov opened #2142 "Allow to run some tests isolated"
We have one test that changes the global state, for example
[code]
and hundreds of tests that reads the state:
[code]

After enabling parallel test execution our tests start to fail at random locations with messages like that:
`[ERROR]   message 0 expected:<...Annotation.java:17: [Annotation 'AnnotationAnnotation' have incorrect indentation level 2, expected level should be 0].> but was:<...Annota

[2020-01-03 18:01] marcphilipp commented on #2136
Current (not working, yet) WIP is available on:
https://github.com/junit-team/junit5/tree/issues/2136-modular-javadoc

[2020-01-03 18:09] marcphilipp commented on #2136
I'm currently stuck with the following error:
[code]
(see https://scans.gradle.com/s/gll5xdtyptwi6/console-log?task=:documentation:aggregateJavadocs#L239-L242)

That happens even though I've added `--add-reads org.junit.platform.console=info.picocli` to the Javadoc options.

You can reproduce that locally by running `./gradlew aggregateJavadocs`. If you want to inspect the generated options file,

[2020-01-03 18:56] marcphilipp commented on #2142
Reminds me of the discussion we had in https://github.com/junit-team/junit5/pull/1634#issuecomment-429555499 and the following comments.

Do you have to set the `Locale` globally instead of passing it as a parameter to your code under test?

[2020-01-03 20:21] pbludov commented on #2142
It is actually stored in a `static` variable. Yes, the code can be modified to solve this particular issue. But we have many similar cases, for example tests for the code that uses a class loader.

This is exactly what we are looking for. A way to run some tests that can change the environment separately from all tests that have read-only access to the environment.

[2020-01-05 15:59] pmendelski opened #2144 "Support parameter resolution in kotlin test method name"
Hi, I would like to create a test name with resolved parameters like in [Spock](http://spockframework.org/spock/docs/1.1-rc-1/all_in_one.html#_method_unrolling). Example:

[code]

I know I could use:
[code]
but I would like to avoid copy pasting.

[2020-01-05 16:02] pmendelski commented on #2144
BTW I tried creating my own `DisplayNameGenerator` it works great on simple tests (annotated with `@Test`) but it omits all tests annotated with `@ParameterizedTest`. Is it intentional behavior?

[2020-01-06 09:31] sbrannen commented on #2144
The `example.DisplayNameGeneratorDemo.A_year_is_a_leap_year.if_it_is_one_of_the_following_years(int)` parameterized test in the User Guide demonstrates this working.

So, if you are experiencing otherwise, please provide an example that demonstrates that.

[2020-01-06 09:37] sbrannen commented on #2144
In any case, a custom `DisplayNameGenerator` is indeed the correct approach for achieving your goal.

[2020-01-06 13:40] sormuras commented on #2136
🤔 ... the "shell-only" javadoc call doesn't throw that error.

Another note: https://github.com/junit-team/junit5/blob/98508171340cbe489184da38002cdd6f5d5003d1/junit-jupiter/src/module/org.junit.jupiter/module-info.java#L14 is not honored or ignored or ... what is good for anyway? Copied that annotation "blindly" from here

https://github.com/openjdk/jdk/blob/8a1b5ad914e5bb737ab8e2a2a919fac8bc1f02

[2020-01-06 14:52] sbrannen commented on #2144
Regarding my last comment, please allow me to expound on that.

The `generateDisplayNameForMethod()` method in the `DisplayNameGenerator` SPI is used to generate a name for a method. In the case of a parameterized test, the parameterized test method itself is interpreted as a _container_ for invocations of the parameterized test.

Consequently, a `DisplayNameGenerator` is not applied for generatio

[2020-01-06 14:57] sbrannen commented on #2144
**Team Decision**: Due to the aforementioned custom display name support offered by `DisplayNameGenerator` and `@ParameterizedTest(name = ...)`, we do not currently plan to provide explicit support for placeholders in Kotlin (or Groovy) parameterized test method names.

If you feel the existing support is inadequate, please provide further input.

In the interim, we are closing this issue.

[2020-01-06 14:57] #2144 closed

[2020-01-06 21:04] pmendelski commented on #2144
Thanks for clarifying things it out.

When it comes for placeholders in Kotlin (or Groovy), I simply think it would be a great benefit to reuse the method name as a template to generate display names for individual invocations.

Maybe it's already possible with Extensions. I'll check it up in spare time. For now it's all from me. Thanks a lot.

[2020-01-07 10:37] noopur2507 commented on #2028
Eclipse bug report to move to JUnit 5.6: [bug 558873](https://bugs.eclipse.org/bugs/show_bug.cgi?id=558873).

[2020-01-07 13:07] koretzki commented on #964
Hi @Tibor17, reports are ok, but Failsafe does not run in parallel. I took my parallel working surefire maven profile and replaced just it with the Failsafe plugin. Any printout that was with thread name changed from ForkJoinPool to Main in all test printouts (same check with thread ids).
tried failsafe versions 2.22.2 to 3.0.0-M4.
Junit 5.5.2 and 5.6.0-RC1.
pom file configuration params :
[code]

[2020-01-07 13:52] marcphilipp commented on #964
@koretzki Does it work if you put those properties into `src/test/resources/junit-platform.properties`?

[2020-01-07 15:05] koretzki commented on #964
@marcphilipp yes.

[2020-01-08 12:20] gabalawi opened #2145 "@Ignore'd Parameterized JUnit 4 test class with VintageTestEngine"
Trying to migrate our Tests from JUnit4 to Jupiter I thought I could as a first step simply eliminate the explicit JUnit4-dependency by substituting it with the junit-jupiter-migrationsupport library (version 5.5.2). This would allow us to rewrite the tests little by little. Unfortunately we have some rather ill performing parameterized tests, which we ignore every now and then, as it comes. And h

[2020-01-08 14:36] jlink commented on #1771
Any news on that one?

[2020-01-08 14:51] sbrannen commented on #2145
Just to be clear, `junit-jupiter-migrationsupport` does not replace or implement JUnit 4. Rather, it provides migration support for a limited set of JUnit 4 features when writing tests using JUnit Jupiter.

----

Thanks for providing the examples. When I execute them within Eclipse, I see the following behavior.

JUnit 4

[code]

JUnit Platform / VintageTestEngine

[code]

The only difference is t

[2020-01-08 21:58] mpkorstanje commented on #1880
I've done a little big of digging to see if it would be possible to implement this. I think it is.

For the purpose of this discussion I'll be using the `HierarchicalTestEngine` as reference. I'm assuming that other `TestEngine` implementations have a comparable layout and can apply a similair approach.

The `HierarchicalTestEngine` comes with a `HierarchicalTestExecutorService` which is created b

[2020-01-09 11:36] marcphilipp commented on #1771
**Team decision:** Add `assertEventsMatchLoosely` and document that it does a partial match in any order.

[2020-01-09 11:39] marcphilipp commented on #1911
@szpak Are you interested in submitting a PR for this one?

[2020-01-09 12:06] marcphilipp commented on #1945
**Team decision:** We intend to support this but have yet to decide what the API should look like.
Option 1: Add `FallbackParameterResolver` as a marker interface that extends `ParameterResolver`.
Option 2: Add a new default method `getResolutionMode(ParameterContext, ExtensionContext)` (name subject to change) to `ParameterResolver` that returns the "mode" of this resolver for a particular parame

[2020-01-09 15:02] sbrannen commented on #1880
@mpkorstanje, thanks for investigating the feasibility of this feature.

This is currently scheduled for the 5.7 backlog, so we hope to look into this during the 5.7 time frame.

[2020-01-09 20:05] sdswanson commented on #1139
An update on this would be great. Use case is custom reporting application where I want to aggregate based on the parameterized tests name and also pass the param.

The workaround is to have a pattern for how parametrized tests display names and then parsing it which is definitely suboptimal

[2020-01-10 08:51] Tibor17 commented on #1880
@sbrannen
It is already in 5.6 Backlog.
The problem is that we repeat the same bad from JUnit4. Maybe you remember that the listener `RunListener` contains the method `pleaseStop`. And the core of the problem is the design because the listener methods are typical event methods to read data, and especially for the `reads` operations, although the methods `canWeContinue` and `pleaseStop` are typical

[2020-01-10 09:03] Tibor17 commented on #1880
I did not say important fact that introducing an abstract method in a listener would mean breaking the backwards compatibility where the mandatory method should be implemented; otherwise the runtime with higher version of engine would throw `NoSuchMethodError`.

[2020-01-10 09:23] paul-brooks commented on #1139
@foxfortune
I abandoned this and wrote a quick bit of reflection to get the test parameters in the extension. Sure, it's brittle but works for me at the moment (on 5.5.2).

I call the following from `beforeTestExecution`.  It returns an empty array if the test isn't parameterised :

`private Object[] argumentsFrom(ExtensionContext context) {
        try {
            TestMethodTestDescriptor testD

[2020-01-11 17:41] sbrannen commented on #1880
If we add a new method to an existing type, it would likely be in an interface... in which case we would almost certainly introduce an interface `default` method. So I don't foresee any major issues with backwards compatibility.

Or did you mean something else?

[2020-01-11 19:25] kreimendahlf commented on #2087
I am caught with the same use-case as @praenubilus : migrating grading scripts from JUnit 4 -> 5, and running into infinite loops that aren't timed out.

I would also be interested in a preemptive timeout that matches the language for non-preemptive.

[2020-01-11 22:00] Tibor17 commented on #1880
@sbrannen
Did you see my previous comment properly? https://github.com/junit-team/junit5/issues/1880#issuecomment-572935329
It is not good to make the listener dirty. Due to the SPI can be easily loaded anywhere, why don't you introduce a new getter `default` method `getStoppable` in `TestTask` . As well as you have another resource method `getResourceLock`. The default method would return the def

[2020-01-12 15:55] mpkorstanje opened #2146 "Support FilePosition in discovery selectors"
Currently there is no good way to discover and execute a single test when using a file based test system like Cucumber. So I would like to request support for a file position in `UriSelector`, `FileSelector` and `ClasspathResourceSelector`.

**Deliverables**

Support for a file position when using:
 - URI selectors
 - File selectors
 - Classpath resource selectors

**Motivation**

Cucumber execute

[2020-01-13 10:19] sbrannen commented on #2146
Good points!

Note that we actually already have support for `FilePosition` in `FileSource`, `ClassSource`, and `ClasspathResourceSource`.

See `FilePosition.fromQuery(String)` for the supported syntax.

Thus, adding the support proposed in this issue would align our `FilePosition` support in sources and selectors, making that support symmetrical which it arguably should have already been.

I am t

[2020-01-13 10:20] sbrannen commented on #2146
Tentatively slated for 5.7 M1 for _team discussion_

[2020-01-13 19:54] christianhujer opened #2147 "Using JUnit 5 in modules production code broken since 5.5.0-RC1"
When using JUnit in production code, for example, to provide a module with abstract test classes for contract tests, and the production code is using Java 9 modules, and the version of JUnit is JUnit 5.5.0-RC1, then there is a compilation issue.

Expected behavior: It is possible to create a production code module that `requires org.junit.jupiter.api` for test code reusable by other modules. This

[2020-01-14 01:22] foxfortune commented on #1139
@paul-brooks

Thanks for the pointer, what library reflection lib are you using? I don't really have a preference and am floundering trying to implement the JUnit5 built in one.

Also agree I would love the params to just be in the ExtensionContext

[2020-01-14 03:53] foxfortune commented on #1139
I spoke too soon, I was able to finally get it to work! I used the JUnit 5 reflection in case anyone else would like to use it, here is the code, which I am sure could also be tightened up:

[code]

[2020-01-14 05:52] sormuras commented on #2147
Thanks for the very detailed report, @christianhujer -- much appreciated!

The underlying reason seems to be that both tools (IDEA and Surefire) put the JUnit launcher module on the **class**- instead of the **module-path**:

`org.junit.platform.launcher.core.LauncherFactory (in unnamed module @0x4b9e13df)`

I'll take a deeper look into the your MVE and trace the way Surefire manages the paths, an

[2020-01-14 06:01] sormuras commented on #2147
Here's some background information on the topic: https://sormuras.github.io/blog/2018-09-11-testing-in-the-modular-world#module-infojavatest

tl;dr: You're missing a test module descriptor.

[2020-01-14 06:40] christianhujer commented on #2147
I tried creating a test module descriptor. If I put a `src/test/java/module-info.java` besides the `src/main/java/module-info.java`, two things happen:
• IntelliJ IDEA reports an issue "'module-info.java' already exists in module", no matter whether the name of the module is the same (like `module com.example`) or different (like `module com.example.test`).
• If the test module name is different,

[2020-01-14 07:11] sormuras commented on #2147
Downgraded Surefire to 3.0.0-M3 and the error vanished ... BUT no tests are found/executed:

`Tests run: 0, Failures: 0, Errors: 0, Skipped: 0`

Try the `module-info.test` configuration file. This bypasses the name clash.

That shouldn't break things. See https://github.com/sormuras/mainrunner or https://github.com/junit-pioneer/junit-pioneer or many (all?) of those projects here https://github.co

[2020-01-14 07:21] sormuras commented on #2147
Another solution: let https://github.com/sormuras/junit-platform-maven-plugin replace Surefire.

This Maven plugin knows how to run intra-module tests correctly. See this output:

[code]

CAVEAT: this plugin is still "work in progress".

[2020-01-14 07:53] rkrisztian commented on #2088
FYI: A co-worker of mine suggested the use of `AbstractTask#getTemporaryDir()`:

[code]

[2020-01-14 08:08] christianhujer commented on #2147
The main module in the sample code is not configured to export anything because I felt that's irrelevant to reproduce the error. The sample case is distilled from a project where the corresponding module-info.java looks like this:

[code]

The test-module already is a separate maven module in my actual project, for a different reason: The test is supposed to provide a service implementation, for w

[2020-01-14 08:30] sormuras commented on #2147
Yes.

No, not at all.

![image](https://user-images.githubusercontent.com/2319838/72325840-46e76280-36ae-11ea-9c03-8745eb43545a.png)

https://guides.gradle.org/building-java-9-modules

Pro and bach are in lead of the **first-class support** of Java modules at the moment. Maven next, Gradle didn't even start. Most pre Java 9 build tools lack Java module support due to their ideas of "collection of

[2020-01-14 09:33] sormuras commented on #2147
- `surefire` generated:
https://gist.github.com/sormuras/741e618ffc729ef52814dfb3aa431f2f
- `junit-platform-maven-plugin.txt` generated:
https://gist.github.com/sormuras/60b23413827e87d7efd1d5bf21ce9132

Find `junit-platform-launcher-1.6.0-RC1.jar` in line 9 of the Surefire log. Along with maaany other modules, that should reside in line 7, i.e. the `--module-path`.

@tibor17 ... where does Surefi

[2020-01-14 09:50] sormuras commented on #2147
Same goes for command line generated by IDEA to run the test plan:

[code]

IDEA even puts **same** JAR files on the `class-` **AND** the `module-path`. See `-p` option above.

[2020-01-14 11:12] paul-brooks commented on #1139
@foxfortune

Glad you got it working.  My extension has it's own little reflection util as I find it easier to work with.

[2020-01-14 12:10] martijintro opened #2148 "Difference between "Jupiter 5.5.2" and "Vintage 5.5.2" ??"
Found here, what's the difference?
-> https://junit.org/junit5/

Thx for feedback.

Regards, Jan

[2020-01-14 12:14] sormuras commented on #2148
Consult the first section of the User Guide https://junit.org/junit5/docs/current/user-guide/#overview-what-is-junit-5

[2020-01-14 12:14] #2148 closed

[2020-01-14 12:16] sormuras commented on #2148
This video explains your question in more detail: https://www.youtube.com/watch?v=oGaatK5ShUs

[2020-01-14 13:07] gabalawi commented on #2145
@sbrannen Thank you very much for clarifying my questions.

[2020-01-14 13:41] martijintro commented on #2148
ok thx

[2020-01-14 22:44] bjhargrave opened #2149 "Bad version range in Import-Package"
## Steps to reproduce

The change https://github.com/junit-team/junit5/commit/aba6adbe591b7a5dd33e346f9b91a872e62d3322 lead to invalid version ranges in Import-Package statements. For example in `junit-platform-runner` we see `@4.12` instead of the desired `[4.12,5)`:

[code]

## Context

This occurs in the current master branch.

## Deliverables

The solution will be change change the versions in

[2020-01-15 09:25] marcphilipp commented on #2149
I took that syntax from https://bnd.bndtools.org/chapters/170-versioning.html. Is that not officially supported by OSGi?

[2020-01-15 10:54] sormuras commented on #2136
Also adding `--add-modules info.picocli` helps.

Next error:

[code]

MR-JAR fun. Needs some `--patch-module` love.

[2020-01-15 11:56] sormuras commented on #2136
Modular Javadoc is being generated in branch https://github.com/junit-team/junit5/compare/issues/2136-modular-javadoc

![image](https://user-images.githubusercontent.com/2319838/72431944-3c07fd00-3796-11ea-8423-96305f69a2d1.png)

Two modules are missing a description...

[2020-01-15 12:09] sormuras commented on #2136
Regarding the `@moduleGraph` I found the following links:
- https://bugs.openjdk.java.net/browse/JDK-8173303
- https://bugs.openjdk.java.net/browse/JDK-8176785
- https://bugs.openjdk.java.net/browse/JDK-8178132
- and https://stackoverflow.com/questions/59743180/module-info-javadoc-modulegraph

But I still don't see way how to generate those images _automagically_.

[2020-01-15 12:44] bjhargrave commented on #2149
That syntax is a Bnd idiom (which is not working here which I will investigate for a fix to the next Bnd release) which Bnd should map to a proper version range. OSGi does not directly support those Bnd idioms.

So you can either directly code the upper limit to `5` since JUnit 4 should, by definition, not use the major version 5 since that belongs to JUnit 5.

`version="[${Versions.junit4Min},5)"

[2020-01-15 14:03] marcphilipp commented on #2149
The first fix looks much more readable. Would you mind submitting that as a PR?

[2020-01-15 14:49] rotty3000 commented on #2149
I'll work on the PR.

[2020-01-16 07:20] borisilic opened #2154 "Method `Assertions.assertThrows(expectedType, executable, message)` doesn't check the contents of the exception message."
**JUnit Version:** 5.4.0

**For this unit test**

[code]

**Testing this code**
[code]

I expect that the test will fail as the error message passed to the `assertThrows` method does not match the error message that is returned from the thrown exception.

I believe the offending piece of code is here in the class `AssertThrows.java`

[code]

The if statement which is bolded will return the actualE

[2020-01-16 07:30] sormuras commented on #2154
The (optional) failure message you pass to any `Assertions.assertXyz(..., message)` method is never checked. For example, the [assertThrows](https://junit.org/junit5/docs/current/api/org/junit/jupiter/api/Assertions.html#assertThrows(java.lang.Class,org.junit.jupiter.api.function.Executable,java.lang.String)) API documentation reads:

If you want to check the message attached to the instance of th

[2020-01-16 07:32] #2154 closed

[2020-01-16 11:13] sormuras commented on #2136
https://bugs.java.com/bugdatabase/view_bug.do?bug_id=8212233

[2020-01-16 12:01] marcphilipp commented on #1880
**Brainstorming ideas:** We discussed a few options on how the Launcher API could be extended:
- We could add a new overload of `Launcher.execute()` that takes a new object (working title "execution control"), potentially wrapped in a parameter object, that engines should poll (in case they support cancellation) whenever they're at a point where they could abort execution, e.g. before starting a n

[2020-01-16 16:48] sormuras commented on #2136
We should perhaps streamline the module descriptions similar to what the JDK uses: `Defines ... API.`

https://docs.oracle.com/en/java/javase/11/docs/api

[2020-01-16 23:11] borisilic commented on #2154
Got it. We used to have a convenience method for JUnit4 which did what I was describing and I just assumed that this would behave the same way. I think it would be useful to have this functionality as we often check error message responses.

[2020-01-17 14:02] marcphilipp commented on #2154
It was discussed and rejected recently: https://github.com/junit-team/junit5/issues/2128#issuecomment-567822073

[2020-01-18 13:26] marcphilipp commented on #2147
@christianhujer Thanks a lot for bringing this to our attention!

5.5.0-RC1 was the first version that included module descriptors. Thus, it's handled differently by plexus-java which Surefire uses to determine which jars to put on the module path.

I found a workaround and submitted a PR to your sample project repo:
https://github.com/christianhujer/junit-bug-2147/pull/2

In addition, I submitted

[2020-01-18 13:26] #2147 closed

[2020-01-18 13:30] marcphilipp commented on #2149
@bjhargrave @rotty3000 Thanks again for reporting and fixing! Could you please test with a snapshot version once CI has published?

[2020-01-18 17:51] marcphilipp commented on #2075
This works as expected now.

[2020-01-18 17:51] #2075 closed

[2020-01-18 17:56] marcphilipp commented on #2145
Surefire calls `Launcher.discover()` once per test class to check whether it yields any tests. The result, however, is discarded. Later, it calls `Launcher.execute()` with an request that includes all classes that passed the previous check. In the case of JUnit 4 that leads to Runners being instantiated twice which in the case of `Parameterized` causes `@Parameters` method to be executed. I'm afra

[2020-01-18 17:56] #2145 closed

[2020-01-18 17:57] marcphilipp commented on #2136
Hmm.... 🤔

[2020-01-19 14:26] sormuras commented on #2136
PR #2155 is ready for a final review and polishing pass.

[2020-01-19 15:59] vlsi commented on #201
One more use case: execute tests with custom bytecode transformation.

For instance: coverage-guided fuzzing with https://github.com/rohanpadhye/jqf

[2020-01-19 18:00] vlsi commented on #1445
@marcphilipp , do you think something like `not reporting every invocation separately` could be merged to `junit5`?

I see [you don't want to maintain property-based testing solution](https://github.com/junit-team/junit5/pull/1422#issuecomment-389644868), however, it does sound weird that `jqwik` is a full-blown test engine. For instance, they have to duplicate the implementation for `@Disabled` a

[2020-01-19 18:22] marcphilipp commented on #1445
I'd be okay with adding an option to `TestTemplateInvocationContextProvider` to not report individual invocations.

[2020-01-19 18:23] #2136 closed

[2020-01-19 18:48] marcphilipp commented on #676
Since #2155, Javadoc is grouped by module. E.g. the Jupiter API has its own overview page: https://junit.org/junit5/docs/snapshot/api/org.junit.jupiter.api/module-summary.html

Thus, I'm closing this issue as _superseded_ by #2155.

[2020-01-19 18:48] #676 closed

[2020-01-19 19:04] marcphilipp commented on #2132
@tallavi Any news on this? Is it still an issue for you or can we close this?

[2020-01-19 19:05] marcphilipp commented on #2134
@BChitrakannan Have you tried the above workaround?

[2020-01-19 19:15] sormuras opened #2156 "Update cache triggers for snapshot API uploads"
Include missing API documentation source files that are relevant for generating the page uploaded to https://junit.org/junit5/docs/snapshot/api/

## Deliverables

- [x] Update [publishDocumentationSnapshotOnlyIfNecessary.sh](https://github.com/junit-team/junit5/blob/HEAD/src/publishDocumentationSnapshotOnlyIfNecessary.sh)
- [x] All `module-info.java` files below `src/module` directories
- [x] `jun

[2020-01-20 12:01] sormuras opened #2157 "Assertions.assertIterableEquals overflows the stack"
## Steps to reproduce

The following code:
[code]

Yields:
[code]

## Deliverables

- [ ] Provide fix and test for comparing `Iterable<? extends Iterable<?>>` instances.

[2020-01-20 12:05] BChitrakannan commented on #2134
Hi @marcphilipp , the proposed solution, as you said, had skipped the test cases. So we are not implementing the @tag as it might make us overlook the test cases which is skipped for other important reasons. We are really hoping to have this feature in the near future :)

[2020-01-20 16:42] solter opened #2159 "Support disabling cleanup for @TempDir"
When initially developing tests against legacy code that utilizes the filesystem extensively, I often find myself creating using `@TempDir`, which is fantastic. But oftentimes when debugging and/or initially writing the test I need to capture the outputs to get a "golden file" that I can regression test against on future runs. As such, currently I just use a non-TempDir folder to capture them, the

[2020-01-20 18:43] juliette-derancourt commented on #2159
Tentatively slated for 5.7 M1 solely for the purpose of _team discussion_

[2020-01-20 19:06] #2157 closed

[2020-01-20 19:51] marcphilipp commented on #2149
Since the new test you added is green, I feel confident enough to release 5.6 GA without another feedback from your side. 🤞

[2020-01-20 19:51] #2149 closed

[2020-01-20 19:52] bjhargrave commented on #2149
Sorry, I had taken a look at a snapshot jar in the sonatype snapshot repo and it looked good. I forgot to reply here...

[2020-01-21 10:07] nishantvas commented on #1558
One add-on request here if the Junit5 team goes ahead with this.
It'll be nice to have a facet for this Extension as an interface as well rather than just only as an annotation.
Something like `ExecutionCondition` where a config object could be returned on basis of custom logic, say Exception type.

`@Override
  public RetryCondition evaluateExecutionCondition(ExtensionContext context, RetryCondit

[2020-01-21 14:59] jbduncan commented on #2157
Oh wow, that's a really insidious bug! Thank you very much for finding and fixing it @sormuras. 👏

[2020-01-21 15:43] tallavi commented on #2132
Hi @marcphilipp,

Sorry, I missed your previous question. Launching a process is not an option because the entire purpose of this exercise is to have the java load a native library and debug it, so I need it in the same process.

Nothing new. I'm considering trying TestNg and see if it happens there too.. No other leads aside from that. For now, we ignore the signals.

[2020-01-21 16:50] marcphilipp commented on #2132
Ok, in that case, I'm closing this issue for now. Feel free to reopen if there's any new information.

[2020-01-21 16:50] #2132 closed

[2020-01-21 16:51] marcphilipp commented on #2149
No worries, thanks for the feedback!

[2020-01-21 17:48] jbduncan commented on #2157
I wonder if this bug could have been caught with mutation testing. 🤔

[2020-01-22 15:45] #1514 closed

[2020-01-22 19:16] leonard84 commented on #2159
I think a system property might be useful as well.

[2020-01-22 22:32] kordzik commented on #1229
Old topic, but haven't seen this mentioned: you can also put the static argument source method on your outer test class and then refer to it via FQN in your `@Nested` tests, like this: `@MethodSource("x.y.z.NestedParameterizedTest #getTestData")`

[2020-01-23 07:01] hmijail commented on #2115
I just tried adding the capture properties to the sample project junit5-jupiter-starter-gradle, so the test block in build.gradle ends up looking like this:
[code]

Then I added some System.out.println("...") to the tests, duplicated the class and made some of the tests fail.
The results, both HTML and XML formats, still contain all of stdout together (or rather, it's separated by class, but not b

[2020-01-23 07:38] sormuras commented on #2157
Interesting thought. Perhaps also a candidate for property-based testing ... @jlink?

[2020-01-23 07:53] jlink commented on #2157
@sormuras Can you point me to the test? I'll make it a simple property and see if it catches the bug.

[2020-01-23 07:55] sormuras commented on #2157
https://github.com/junit-team/junit5/blob/0e393926c537541c00c8bc66e99b198d84c89ab0/junit-jupiter-engine/src/test/java/org/junit/jupiter/api/AssertIterableEqualsAssertionsTests.java#L446-L452

[2020-01-23 10:59] jlink commented on #2157
I could detect the bug with the following rather straightforward property:

@Property
<T> void assertingEqualityOfTwoListsShouldNeverThrowException(@ForAll List<T> expected, @ForAll List<T> actual) {
	try {
		assertIterableEquals(expected, actual);
	} catch (AssertionError ignore) {}
}

I had to register a default arbitrary provider for `java.nio.Path` because there is currently none in jqwik. But

[2020-01-23 15:43] finndesolace opened #2161 "platform console standalone from cmd issue scan and noclassdeffounderror"
Hi,
I'm trying to run my tests from command prompt with the platform console standalone 1.5.2.
I'm facing two issues:

1. scanning the project folder for the junit tests
2. noclassdeffounderror for library which is fetched through maven

-1
starting out from the project root directory, where the junit-platform-console-standalone-1.5.2.jar is located,  i tried:
java -jar junit-platform-console-stan

[2020-01-23 15:52] sormuras commented on #2161
- Does `mvn test` work as expected from the command line?
- Is your source uploaded to public repository?

[2020-01-23 19:03] koretzki opened #2162 "JUnit Jupiter 5.6.0 @Nested tests do not run when running tests in Maven Surefire and IntelliJ IDEA"
## Steps to reproduce

Pom.xml with Junit 5.6.0 and run with maven surefire plugin
example code (Kotlin)

[code]
In maven, they are not in the report, where non-nested classes run ok.
In IntelliJ IDEA when running the test class, it alerts to "No tests were found"
In Jupiter 5.5.2 (and recent previous versions) the issue is not present: tests are running in both.
This may be related to https://git

[2020-01-24 09:44] sbrannen commented on #2162
Do you experience the same behavior when using Java instead of Kotlin?

[2020-01-24 09:45] sbrannen commented on #2162
Also, please include the versions of Maven Surefire and IntelliJ IDEA that you are using.

[2020-01-24 09:46] finndesolace commented on #2161
[TestProject_Anton_16022020.zip](https://github.com/junit-team/junit5/files/4107659/TestProject_Anton_16022020.zip)

@sormuras
Thanks for your feedback!
Hi,
thanks about your remark for the path seperator.  However changing it did not do the trick.
I have attached the project archive file so you'd be able to take a look if so desired.
This is just a tryout project not following the academic rules.

[2020-01-24 11:00] sbrannen commented on #2115
That sounds to me like it might be more of an issue with Gradle's JUnit Platform support.

@marcphilipp, WDYT?

[2020-01-24 12:54] KaiStapel opened #2163 "@TestInstance(PER_CLASS) @BeforeAll should be executed last"
`@TestInstance(TestInstance.Lifecycle.PER_CLASS)` `@BeforeAll` should be executed only after all other `@BeforeAll` annotated extensions. And correspondingly, `@AfterAll` first.

## Real world example:
When using a static (i.e. shared) testcontainer it should already be started before it is accessed in a test class specific `@BeforeAll` method.

[code]

Note, `@Testcontainers` triggers an extensio

[2020-01-24 14:21] sbrannen commented on #2163
It sounds you might be confusing `@BeforeAll` user-defined lifecycle methods and extensions that implement the `BeforeAllCallback` API.

Can you please clarify?

[2020-01-24 14:23] KaiStapel commented on #2163
Yes, I might confuse those. The point is: `@BeforeAll` user-defined lifecycle methods should run *after* all `BeforeAllCallback` extensions.

[2020-01-24 14:38] sbrannen commented on #2163
OK. I understand what you're saying now. Thanks for clarifying.

However, are you saying that you experience the unexpected behavior only with `@TestInstance(PER_CLASS)` and not with `@TestInstance(PER_METHOD)`?

[2020-01-24 14:42] KaiStapel commented on #2163
I did not try with `@TestInstance(PER_METHOD)`. But #1620 indicates it is working correctly there.

[2020-01-24 14:42] sbrannen commented on #2163
FWIW, it _appears_ that would already be the case:

https://github.com/junit-team/junit5/blob/c9ae6e261550481362f17d21e88137a8c71fc7c8/junit-jupiter-engine/src/main/java/org/junit/jupiter/engine/descriptor/ClassBasedTestDescriptor.java#L187-L195

[2020-01-24 14:44] KaiStapel commented on #2163
Hm, then why does my testcontainers example not work? It fails because the test container is not started when the `@BeforeAll` user-defined lifecycle method is executed.

[2020-01-24 14:50] sbrannen commented on #2163
If you can provide a minimal example demonstrating the undesired behavior (preferably without Testcontainers involved), that would be the most beneficial.

Otherwise, please provide a minimal example with Testcontainers -- for example via an example project on GitHub that the JUnit team can clone to investigate further.

[2020-01-24 15:24] KaiStapel commented on #2163
You are right. It works as intended.

The problem is rather that Spring's `ApplicationContextInitializer` gets executed before the `ClassBasedTestDescriptor#before()` method.

Any chance you know how to change the order of that?

[2020-01-24 15:24] #2163 closed

[2020-01-24 15:31] sbrannen commented on #2163
Thanks for confirming that.

Well, it depends on how the `ApplicationContextInitializer` is configured/invoked.

TBH, this discussion is turning into be better suited for Stack Overflow, according to our policy:

In any case, you might be able to _request_ that the `ApplicationContext` be loaded earlier -- for example, by having it (or a bean from it) autowired into your test class constructor. If

[2020-01-24 15:39] KaiStapel commented on #2163
I will do that.

Thanks for your quick support.

[2020-01-25 14:45] marcphilipp commented on #2115
The JUnit Platform captures stdout/stderr and publishes them to registered `TestExecutionListeners` as report entries. However, since Gradle does not yet support those (see https://github.com/gradle/gradle/issues/4605), it does not yet make a difference when executing the tests from Gradle.

[2020-01-25 15:03] marcphilipp commented on #2157
The special thing about path is that its iterator returns paths whose iterator will return instances that are equal to themselves. For instance, the following Groovy snippet

[code]

prints

[code]

The code did not account for this kind of recursiveness.

[2020-01-25 16:19] jlink commented on #2157
That's some strange kind of behaviour indeed. Nothing in Iterator's contract that would exclude that, though.

[2020-01-25 16:20] marcphilipp commented on #2162
Works for me with our `junit5-jupiter-starter-maven-kotlin` project in IDEA 2020.1 EAP and Maven Surefire 2.22.2 and 3.0.0-M4.

[2020-01-25 17:57] marcphilipp commented on #2161
@finndesolace You also need to add the main classes in `target/classes` to the classpath.

[2020-01-25 17:57] #2161 closed

[2020-01-25 17:59] marcphilipp commented on #1558
FWIW Gradle now also supports this via the [Test Retry Gradle Plugin](https://blog.gradle.org/gradle-flaky-test-retry-plugin).

[2020-01-25 18:01] marcphilipp commented on #2134
Tentatively slated for 5.7 M1 solely for the purpose of _team discussion_.

[2020-01-26 18:56] donahchoo commented on #1334
I wanted to try this out so that I could ban Junit4 from my project, but jitpack is having a problem.  https://jitpack.io/com/github/junit-team/junit5/junit-jupiter-api/ is returning 404.  Any suggestions?

[2020-01-26 20:46] Gyanesha opened #2165 "Using the JUnit logo"
Hi,

I'm working on adding support for JUnit to a [Jenkins plugin](https://github.com/jenkinsci/warnings-ng-plugin) that allows you to inspect your code using different tools.
This Jenkins plugin has support to display an icon for the tool that's being used and I was wondering if we could use the JUnit logo from Github ([https://camo.githubusercontent.com/049cbfc3f4c820fe5aa0b376a703a975ab75181a/6

[2020-01-27 05:48] yuraku commented on #1948
@marcphilipp thanks for getting back. As for me it should support both packages and modules. I think it might be defined (used) as a class annotation to specify the order place. Another option that might help is to extend functionality of `@SelectClasses`, `@IncludeTags` to accept the items in the order, that needs to be executed (ie. signup (1), signing (2), someotherstuff (3)).

[2020-01-27 07:51] koretzki commented on #2162
thank @marcphilipp,
I reset all the JUnit dependencies and used the one from junit5-jupiter-starter-maven-kotlin and this solved it. Look like I had a configuration issue in pom.xml file the worked until 5.5.2. I am closing the issue.

[2020-01-27 07:51] #2162 closed

[2020-01-27 07:58] sormuras commented on #2162
Thanks for the feed-back, Ran.

[2020-01-27 09:41] t1 opened #2166 "Helpful error message when TestTemplateInvocationContextProvider provides an empty stream"
The javadoc of `TestTemplateInvocationContextProvider# provideTestTemplateInvocationContexts` says: "This method is only called by the framework if `#supportsTestTemplate` previously returned `true` for the same `ExtensionContext`. Thus, this method must not return an empty `Stream`."

But if an implementation fails to do so and actually returns a non-empty stream, the exception thrown is not very

[2020-01-27 15:36] #2165 closed

[2020-01-27 15:37] sbrannen commented on #2165
**Team Decision**: First and foremost, thank you for asking for permission.

The JUnit 5 team grants you permission to use the aforementioned logo for the Jenkins plugin.

[2020-01-27 15:51] Gyanesha commented on #2165
Ok, thanks for the permission!

[2020-01-27 15:55] marcphilipp commented on #2166
Tentatively slated for 5.7 M1 solely for the purpose of _team discussion_.

[2020-01-27 17:14] krusche commented on #2105
We also experience this error in IntelliJ when executing tests in IntelliJ.
We use Gradle to specify the dependencies. The following configuration leads to an exception within the IDE so that no tests are executed:

[code]

The error message is

[code]

After a couple of hours investigating the error, we found this issue and downgraded to 5.5.2

[code]

Now, the tests are executed and can be debug

[2020-01-30 09:05] rweisleder opened #2168 "Allow @Testable on fields"
## Background

Currently, it's only possible to annotate classes and methods with `@Testable` to indicate that those are testable.

In ArchUnit we have a custom engine to execute defined architecture rules as tests. The user has to annotate the elements with `@ArchTest`. The engine executes all rules that are annotated `@ArchTest`, no matter if they are methods or fields.

Example project: [archun

[2020-01-30 15:33] prasadthotakura opened #2169 "JUnit Jupiter 5.6.0 tests do not run with Maven Surefire and IntelliJ IDEA"
Trying to upgrade JUnit Jupiter from 5.5.2( where everything is running fine) to 5.6.0 for Java (Spring Boot) project. Both Maven Surefire plugin (v 2.22.2) and IntelliJ IDEA (Ultimate v 2019.3) doesn't detect or run the tests

## Steps to reproduce

Sample Code

[code]

## Context

 - Used versions : Jupiter v5.6.0
 - Build Tool/IDE: maven surefire plugin v2.22.2 and Intellij IDEA Ultimate 2019.3

[2020-01-30 22:47] tcfurrer commented on #1679
I just wanna say "Thank You" to everyone who worked on this enhancement.  My project's Gradle scripts got simplified significantly when I was finally able to make use of the new any() and none() capability of JUnit 5.6.  It's very useful!

[2020-01-31 13:45] sbrannen commented on #2168
It is already possible to meta-annotate fields with `@Testable`.

So, if an IDE doesn't find `@Testable` as a meta-annotation on fields, you would need to bring that up with the maintainers of the IDE.

As for allowing `@Testable` to be declared directly on a field, I don't see any problem with allowing that.

@junit-team/junit-lambda, thoughts?

[2020-01-31 13:46] sbrannen commented on #2168
Tentatively slated for 5.7 M1 for _team discussion_

[2020-01-31 14:09] sbrannen commented on #2169
How did you physically _upgrade_ your Spring Boot application to JUnit Jupiter 5.6?

Did you do something similar to the following?

[code]

See also: https://stackoverflow.com/questions/54598484/gradle-5-junit-bom-and-spring-boot-incorrect-versions/54605523#54605523

[2020-01-31 20:31] phoenix384 commented on #744
Now 5.6 is released and the release notes still say nothing about declarative suites. Any news on this?

[2020-02-01 08:02] prasadthotakura commented on #2169
No, I have explicit dependency added to the project which was using version 5.5.2 earlier
[code]

[2020-02-02 16:15] Dil-a commented on #987
[WARNING] Tests run: 4, Failures: 0, Errors: 0, Skipped: 4
[INFO]
I am getting this type warning and it is skipping my tests?

[2020-02-02 16:17] marcphilipp commented on #987
@Dil-a You'll have to give us a little more than that. Please open a new issue if you suspect this is a bug but I'd suggest asking on StackOverflow first.

[2020-02-03 09:22] sbrannen commented on #2169
Attempting to override Spring Boot's dependency management via an explicit dependency declaration like that is not supported. Please see the aforementioned Stack Overflow (SO) question for further details and links to the corresponding Spring Boot documentation.

In light of that, I am closing this issue; however, if you still have issues after following the advice from the SO answer, I'd recommen

[2020-02-03 09:22] #2169 closed

[2020-02-03 09:43] sbrannen commented on #744
No, there is unfortunately no update on the status of this other than that it is slated for the 5.7 backlog, which designates an interest in getting it implemented in time for 5.7 GA but without any guarantees for inclusion in 5.7.

[2020-02-03 16:42] beatngu13 commented on #2169
I'm using JUnit along with Spring Boot, but without the corresponding Spring Boot parent. Simplified POM:

[code]

The setup is fine unless I bump JUnit to 5.6.0, then no tests are executed via Surefire.

Is there anything else I have to configure?

[2020-02-03 17:16] sbrannen commented on #2169
@beatngu13, could you perhaps provide us a simplified sample application that we can experiment with?

[2020-02-03 17:52] beatngu13 commented on #2169
I can reproduce it in my multi-module Maven project, but I realized it's not straightforward to do so with a minimal setup. Will try to come up with a sample project, don't bother until then.

[2020-02-04 00:28] hjohn commented on #166
Thanks @ahrytsiuk -- just what I needed.

[2020-02-05 10:54] Biriuck commented on #1948
@_SelectClasses_ is already taking the the test classes in the proper order. The only thing it will need is to be able to run suite classes with _useJUnitPlatform_() and _includeTags_ (like 'Fast','NotSoFast', 'Slow') . Sometimes you need to not only run the test classes in a specific order but also to filter in/out some of the @Test methods

[2020-02-05 11:12] vlsi commented on #1948
I wonder how JUnit's class/method ordering plays with/against Gradle's
ordering.

For instance, Gradle knows which tests failed during the previous run, and
it sends the failing tests first. It would be sad if JUnit shuffles that.

[2020-02-05 12:01] Biriuck commented on #1948
I have a workaround for this....
In Gradle I have:
`test{
       //....systemProperty.......
       ignoreFailures=true
       filter{
               includeTestMatching "com.mycompany.auto.tests.suites.MyOrderedSuite"
       }

       useJUnit()  // !!! NOT useJUnitPlatform()
}`

In JUnit I have:
`import org.junit.platform.runner.JUnitPlatform;
import org.junit.platform.suite.api.ExcludeTags;
imp

[2020-02-05 13:09] OrangeDog opened #2171 "TempDir fails to cleanup if directory was made read-only"
Similar to #2046, but this is on Linux with JUnit 5.6.0.

If the temporary directory is read-only and not empty, then the cleanup fails.

[code]

[code]

[2020-02-05 15:50] OrangeDog commented on #1967
Counter example: which object should be passed in each parameter?

[code]

[2020-02-05 16:00] sewe commented on #1967
I would argue that each `@TempDir` would create its own directory, so all seven directories would be different.

*If* you want to re-use the same directory, I would suggest some kind of ID parameter, to support this pattern:

[code]

In contrast, the `@AfterEach` below would create a new directory:

[code]

So, essentially, you would have some map of IDs to directories, with "get or create" semant

[2020-02-05 16:18] OrangeDog commented on #2171
OK, so my brain obviously wasn't working this morning. Calling `setWritable(true)` allows cleanup to proceed. I'll update the description.

However, the cleanup should still do this itself, as it does with all the contents.

[2020-02-05 16:30] OrangeDog commented on #1967
@sewe that would be a breaking change to a common use-case.

[2020-02-05 16:35] OrangeDog commented on #2171
On further inspection, any read-only directory in the tree causes cleanup to fail.

[2020-02-05 19:28] mickeelm opened #2172 "Have @Tags take String[]"
While there is great strength in that `@Tag` is `@Repeatable` and I'm grateful for that, I find it a bit unfortunate that `@Tags` is the containing annotation type for `@Tag`. I'd like the opportunity to write multiple tags in a single annotation in order to reduce some lines. And while it's of course possible to write `@Tags({@Tag("a"), @Tag("b"), @Tag("c")})` it looks messy and `@Tags({ "a" , "b

[2020-02-06 04:27] H-ZeX opened #2173 "If there is a big array need to string in assert msg, junit5 will not report fail if assert fail"
## Steps to reproduce

## Context

 - Used versions (Jupiter/Vintage/Platform):
[code]
[code]
[code]
[code]

## Deliverables

[code]
![Screenshot from 2020-02-06 12-34-25](https://user-images.githubusercontent.com/21231345/73906207-12497e00-48dd-11ea-9775-8767a4e50f87.png)

If unfold that fold in the picutre, it is:
![Screenshot from 2020-02-06 12-34-18](https://user-images.githubusercontent.com/2

[2020-02-06 08:40] marcphilipp commented on #2173
Exit code 255 indicates that the JVM crashed. Why would IDEA show that as passed?

[2020-02-06 08:48] marcphilipp commented on #2173
What happens when you run `./gradlew test`?

[2020-02-06 10:36] H-ZeX commented on #2173
If I add config below in `build.gradle`, and run `gradle test` in command line, its output is below.
It seems that  its IDEA's problem, I will report it to jetbrain.
[code]
[code]

[2020-02-06 11:15] H-ZeX commented on #2173
The bug report in youtrack is  https://youtrack.jetbrains.com/issue/IDEA-232330

[2020-02-06 11:19] marcphilipp commented on #2173
Closing since it appears to be an IntelliJ issue. Feel free to report back here otherwise.

[2020-02-06 11:19] #2173 closed

[2020-02-06 11:23] marcphilipp commented on #2172
**Team decision:** Before exploring how to implement this feature, we'd like to see if there's additional interest from the community.

[2020-02-06 11:45] marcphilipp commented on #2168
**Team decision:** Allow `@Testable` to be used on fields directly.

[2020-02-06 11:56] marcphilipp commented on #2105
@krusche You seem to be adding the junit-vintage-engine to the test runtime classpath somehow. Are you using Spring Boot by any chance?

@JaynLau Instead of excluding `junit:junit` when using the `spring-boot-starter-test` you should exclude `junit-vintage-engine` which is what start.spring.io does.

**Team decision:** Improve the error message to state that JUnit 4 is not on the classpath.

[2020-02-06 12:01] marcphilipp commented on #2166
**Team decision:** Let's go with option 2.

@t1 Would you still be interested in submitting a PR?

[2020-02-06 12:23] t1 commented on #2166
@marcphilipp : I'll create a PR

[2020-02-06 14:57] t1 commented on #2166
created https://github.com/junit-team/junit5/pull/2174

[2020-02-06 15:13] sormuras commented on #2172
As written over here https://gitter.im/junit-team/junit5?at=5e3a43f0d9895b17c3d073d4 I'm fine with the status quo (and [language default](https://docs.oracle.com/javase/tutorial/java/annotations/repeating.html)) to have multiple tags attached to an element **without** using the collecting `@Tags` annotation explicitly:

[code]

Or in a condensed and reusable form:

[code]

[2020-02-06 15:17] sormuras commented on #2172
Having said that, I'd suggest to explorer more targeted annotations for specific use-cases, like _"ticket ids, requirement ids and so forth"_.

Something like this https://github.com/junit-pioneer/junit-pioneer/issues/135 - "Add declarative annotations for "issue" type support and infrastructure"

[2020-02-06 18:28] mickeelm commented on #2172
I just need to clarify some.

I 100% agree on the **without** part, and I guess I've been unclear here. I'm not using `@Tags`, what I'm using now is indeed repeated `@Tag`s.

Just to be clear, with these three alternatives (the fourth, using `@Tags` as a containing annotation type is probably not a realistic option):

**1:**
[code]

**2:**
[code]

**3:**
[code]

I would prefer `#3` and that's the

[2020-02-07 11:00] #2166 closed

[2020-02-07 13:14] sbrannen commented on #2172
That is unfortunately not an option since it would be a breaking change both in terms of source and binary compatibility.

If we were to implement the requested feature, I think we would likely want to introduce a second attribute in `@Tag` alongside `value` -- for example, `group` (for lack of a better name off the top of my head). Those two attributes would then be mutually exclusive, and use of

[2020-02-07 14:15] mickeelm commented on #2172
Given this information, IMO this ticket can be closed (I don't know how the routines are, should I close or a maintainer?).

[2020-02-07 14:24] sbrannen commented on #2172
Well, since you opened the ticket, @mickeelm, you may choose to close it on your own.

But I'll close it for you now.

The ticket will of course remain intact. Thus the community may still comment on the proposal, and the ticket could be reopened at a later date if necessary.

[2020-02-07 14:24] #2172 closed

[2020-02-08 14:12] filiphr opened #2176 "Expose JRE.CURRENT_VERSION for public access"
I've recently been fiddling with Junit Jupiter in order to migrate some of our custom Junit 4 runners into appropriate Jupiter extensions.

Due to different reasons we need to write custom `ExecutionCondition` which would enable or disable running of certain tests under different JREs. We can't use the `@DisabledOnJre` feature since we are using a `@TestTemplate` which based on the passed informat

[2020-02-08 16:37] aepfli commented on #2176
is checking a JRE version if it is the current one not enough? you are using already jre.isCurrentVersion  and it can be also used for this usecase. or am i missing something.

[2020-02-08 16:49] filiphr commented on #2176
My condition is similar to `EnabledForJreRange` and `DisabledForJreRange`. However, I can't use those since the template can be enabled for Java 11 for Javac, but disabled for Eclipse.

An example can be found here:

https://github.com/mapstruct/mapstruct/blob/a6b3cc364a7824a4584fdd690c82c6695447dd79/integrationtest/src/test/java/org/mapstruct/itest/testutil/extension/ProcessorEnabledOnJreConditio

[2020-02-09 10:19] filiphr commented on #201
Another concrete use case which is similar to the classpath-junit-extension is the [`ModifiedClassPathExtension`](https://github.com/spring-projects/spring-boot/blob/master/spring-boot-project/spring-boot-tools/spring-boot-test-support/src/main/java/org/springframework/boot/testsupport/classpath/ModifiedClassPathExtension.java) which is used in the Spring Boot tests.

The way that this has been im

[2020-02-09 11:39] jlink commented on #201
Does @junit-team have a bounty scheme? I’d be willing to tackle the issue with a reasonable incentive ;-)

[2020-02-09 16:09] marcphilipp commented on #2176
Tentatively slated for 5.7 M1 solely for the purpose of _team discussion_.

[2020-02-10 10:46] hheg opened #2178 "Test not failing if BeforeAll crashes"
Junit 5.4.2 and 5.6.0
Attached a failing example

Rationale expected:
If a BeforeAll method crashes, the test should be reported as failed

Actual
Tests are silently ignored and the result is success.

## Steps to reproduce
Create a maven project with Junit 5 as test runner
Create a test with a BeforeAll method which throws an RuntimeException
See that the tests passes. Example below
[code]

[code

[2020-02-10 12:07] sormuras commented on #2178
Didn't look into the attached project, yet, but it seems that Surefire didn't launch the JUnit Platform. Thus, all methods with JUnit Jupiter annotations weren't invoked. Can you please run Maven with the `-X` parameter and post the Surefure part of the log here?

[2020-02-10 12:36] pzygielo commented on #2178
It works fine with surefire 3.0.0-M3, and fails as described by author in M4 indeed. Probably [SUREFIRE-1688](https://issues.apache.org/jira/browse/SUREFIRE-1688).

[2020-02-10 13:11] hheg commented on #2178
That bug fix is included in M4. Perhaps this use case broke when they fixed the assertion mechanics with SUREFIRE-1688?

[2020-02-10 13:13] hheg commented on #2178
[output.log](https://github.com/junit-team/junit5/files/4180905/output.log)

[2020-02-10 13:19] hheg commented on #2178
Running without the exception in the BeforeAll method does invoke the tests like this:
[code]

[2020-02-10 13:33] pzygielo commented on #2178
But check [comment](https://issues.apache.org/jira/browse/SUREFIRE-1688?focusedCommentId=16976535&page=com.atlassian.jira.plugin.system.issuetabpanels:comment-tabpanel#comment-16976535) and [comment](https://issues.apache.org/jira/browse/SUREFIRE-1688?focusedCommentId=16976628&page=com.atlassian.jira.plugin.system.issuetabpanels:comment-tabpanel#comment-16976628) to not be misled by status & fixed

[2020-02-10 15:56] sormuras commented on #2178
Added another comment to the ticket and reopened it.

[2020-02-11 11:34] fstarred opened #2179 "Latest weld-junit5 2.0.x doesn't work with junit api 5.6.0"
weld-junit5 2.0.x won't work with latest junit-api 5.6.0

## Steps to reproduce

put this on pom.xml

[code]

## Context

 - Used versions: Jupiter
 - Build Tool/IDE: IntelliJ

[2020-02-11 13:34] sbrannen commented on #2179
Can you please explain what "won't work" with examples, error messages, stack traces, etc.?

[2020-02-11 14:05] fstarred commented on #2179
Thanks for your reply.
Unfortunately all the message I get from IDE console is:

Process finished with exit code -1

Let me know if is there anything I could also check for.

[2020-02-11 19:46] sormuras commented on #201
Do you have already a plan (solution) in mind, @jlink? Which use-case(s) would it solve?

@mannodermaus -- what's the status of https://github.com/mannodermaus/android-junit5? Any custom classloader required here, too?

[2020-02-11 19:54] pauldingemans commented on #1619
Am I wright to assume that you want to be able to:
* Run classes in a stable order (e.g. alphabetically or based on a hash of a classname). What orders would be useful in which case?
* Run classes in a random order based on a seed which is reported back so that the cyclus van be repeated when specifying the exact same seed.
* Run classes which had errors in last run before classes which ran succes

[2020-02-11 20:13] jlink commented on #201
@sormuras I was more or less joking but Powermock support shows up regularly on SO, thus I’d probably start with that if I were you.

[2020-02-11 20:24] asarkar commented on #201
I'm curious how JUnit team prioritizes open issues. An issue that's been open for 4 years, gathered 42 upvotes, and has 23 watchers would seem to a layman a popular one to pick for an upcoming release. There's always the usual retort "if you want it, submit a PR yourself", but given the discussions, it didn't look like the core team even wanted to go down that route and welcome PRs.

[2020-02-11 21:28] mattdkerr opened #2180 "Kotlin test code using backtick test method names has case-insensitive collision"
## Context

 - Used versions (Jupiter/Vintage/Platform): Jupiter
 - Build Tool/IDE: Grade 5.6.4 or IntelliJ IDEA 2019.3.3

Junit 5 - 5.5.2
Junit Platform - 1.5.2
Kotlin - 1.3.61
Java 11.0.5 (Zulu)

## Steps to reproduce

[code]
**Expectation:**
Since it's valid in Kotlin to have these two as separate methods you would expect both methods to execute appropriately.

**Actual:**
java.lang.NoClassDefF

[2020-02-11 23:32] Frontrider commented on #201
Especially with an issue that is pretty much _**the**_ reason to keep using JUnit 4, over 5.

[2020-02-12 09:32] mannodermaus commented on #201
@sormuras

It's not required to function _per se_, however custom class loaders will alleviate one of the biggest current pain points of Android & JUnit 5, which is support for Robolectric tests. These still require a JUnit 4 environment and the Vintage Engine to be around in order to function properly. If an extension could bridge the gap between Robolectric's class loading shenanigans and the JU

[2020-02-12 11:17] sormuras commented on #2178
@hheg can you please use the _latest-and-greatest_ version of Surefire, namely its `SNAPSHOT` build?

According to [this comment](https://issues.apache.org/jira/browse/SUREFIRE-1688?focusedCommentId=17033969&page=com.atlassian.jira.plugin.system.issuetabpanels%3Acomment-tabpanel#comment-17033969) and the following one, this issue already fixed.

[2020-02-12 12:02] Frontrider commented on #201
People put so many hours of work into making JUnit5 as good as it can be (and it shows), and then we have this giant blocker sitting here for years, only people who forcefully want to use this create their (possibly expensive) workarounds.

At this point even a "works, but not well enough" solution could be a miracle.

[2020-02-12 12:16] nishantvas opened #2181 "Introduce mechanism to deactivate TestExecutionListeners"
Currently, if any of the dependencies or transitive dependencies wishes to add a `TestExecutionListener`, it can do so by adding `org.junit.platform.launcher.TestExecutionListener` in `META-INF/services`.

However, sometimes, we need a dependency for the features it provides, but we do not want its `TestExecutionListener` to get registered.

Is it possible to have a similar construct like that of

[2020-02-12 12:30] sbrannen commented on #2181
Tentatively slated for 5.7 M1 solely for the purpose of _team discussion_

[2020-02-12 15:44] hheg commented on #2178
I can confirm that the bug is indeed resolved with the latest 3.0.0-SNAPSHOT 873da2808

[2020-02-12 16:00] sormuras commented on #2178
Thus closing this issue as Surefire `3.0.0-M5` will be released ... soon, I guess.

If there's a regression, please report further issues at the Apache Maven issue tracker.

[2020-02-12 16:00] #2178 closed

[2020-02-12 21:37] sbrannen commented on #201
Thank you everyone for the recent comments demonstrating your interest in this feature.

In light of that...

Tentatively slated for 5.7 M1 for _team discussion_

[2020-02-13 09:42] sormuras commented on #2028
Surefire issue: https://issues.apache.org/jira/browse/SUREFIRE-1750

[2020-02-13 11:04] marcphilipp commented on #2179
@fstarred Could you please provide a minimal reproducible sample project?

[2020-02-13 11:07] marcphilipp commented on #1619
Duplicate of #1948

[2020-02-13 11:07] #1619 closed

[2020-02-13 11:20] marcphilipp commented on #2168
LGTM! 👍

[2020-02-13 11:20] #2168 closed

[2020-02-13 11:24] marcphilipp commented on #2180
We tried reproducing this with 5.5.2 and the latest master but couldn't.

@mattdkerr Could you please provide the full stack trace? Moreover, the imports look incomplete/inconsistent.

[2020-02-13 11:38] marcphilipp commented on #2181
**Team decision:** Let's add a `junit.platform.execution.listeners.deactivate` config parameter that can be set to a comma-separated list of fully-qualified class names of `TestExecutionListener` implementations that should be deactivated. The names may be supplied as patterns where `*` is supported as a wildcard. The deactivation only applies to listeners registered via `ServiceLoader`, but not t

[2020-02-13 11:38] marcphilipp commented on #2181
@nishantvas Would you be interested in submitting a PR for this?

[2020-02-13 11:41] marcphilipp commented on #2176
**Team decision:** Let's add a `public JRE.currentVersion()` method.

[2020-02-13 11:42] marcphilipp commented on #2176
@filiphr Feel free to submit a PR for this issue. 🙂

[2020-02-13 11:54] marcphilipp commented on #2159
**Team decision:** Let's add a "strategy-like" config parameter (similar to display name generator or method orderer) to configure in which cases temp dirs should be cleaned up with initial implementations of "always", "on_failure", and "never". This needs to be spec'ed out a bit more before work can actually be started.

[2020-02-13 14:48] juliette-derancourt commented on #1911
Should we allow to pass several conditions to the `@EnabledIf`/`@DisabledIf` annotations? (either by taking a list of methods instead of a single one, or by allowing several occurences of the annotations)
Or do we consider that in this case one can create a new method that's going to aggregate the output of said conditions?

If we consider the first option (allowing several methods), we'll have to

[2020-02-13 15:01] sormuras commented on #1911
Let's keep it as simple as possible in both cases:
- imho, a single method suffices. Let the user care about delegating to other methods.
- let's apply the same rules we have in place for the other `@Enabled...`/`@Disabled...` variants. IIRC, the first one that disables the execution of the container/test "wins". Subsequent conditions are not evaluated.

[2020-02-13 15:08] sbrannen commented on #1911
I agree with @sormuras on both accounts.

[2020-02-13 15:14] sormuras commented on #1911
@juliette-derancourt I collected the commits that removed the script-based conditional execution logic here: https://github.com/junit-team/junit5/issues/1902 -- perhaps you may resurrect some of those ideas and types.

[2020-02-13 16:57] juliette-derancourt commented on #1911
Completely agree with that 👍

Indeed, seems coherent to me.

Thanks! Will take a look ;)

[2020-02-14 07:08] sormuras commented on #201
fwiw, @thomasdarimont pointed me to [ClassLoader#getSystemClassLoader()](https://docs.oracle.com/javase/8/docs/api/java/lang/ClassLoader.html#getSystemClassLoader--) documentation, which contains a section that reads:

Perhaps this `"java.system.class.loader"` system property can used already today to work around some problems described in this thread.

[2020-02-14 08:21] thomasdarimont commented on #201
@sormuras thanks for the mention :) I initially stumbled upon this while inspecting the Source of [update4j's/DynamicClassLoader](https://github.com/update4j/update4j/blob/master/src/main/java/org/update4j/DynamicClassLoader.java)

[2020-02-14 10:40] nishantvas commented on #2181
@marcphilipp, sure. However, could you direct me towards what would be a good starting point ?
I've checked the `DefaultLauncher` in hope of doing this without having to change the service, but I wasn't able to identify where the Listeners are being registered via `ServiceLoader`

I can check further, but a pointer would help greatly.

`junit.jupiter.conditions.deactivate` I am aware of and can up

[2020-02-14 15:44] nishantvas commented on #2181
I've submitted a pull request, I'm contributing to the project for the first time, so kindly let me know if there are more pre-requisites I need to cover

I'm unsure where I need to update the documentations as well unfortunately, so would need your support

[2020-02-15 15:47] filiphr commented on #2176
Thanks for agreeing to this. PR #2184 has been submitted 😄

[2020-02-15 21:39] tasomaniac opened #2187 "Parameterized Extension support"
In JUnit4, since parameterized tests are at class level, parameters can be used for `TestRule`s. Here are some examples where this is useful:
- Using `TempDir` Extension with a custom path provided by parameters.
- Setting up a MockWebServer with different network ports based on parameters. This needs to be an extension since server needs to be shutdown after tests.

With JUnit 5, it is not possib

[2020-02-15 21:49] sormuras commented on #2187
Hi @tasomaniac -- your feature requests duplicates #871, right?

[2020-02-15 23:28] tasomaniac commented on #2187
The description of that issue seems really abstract. I couldn't grasp what it meant easily.

If that's going to be released soon, then this can be closed afterwards since it might give what I need. If not, there might be multiple ways to approach the issue I mention here.

[2020-02-16 08:33] marcphilipp commented on #2187
I don't know what you mean by that. `@TempDir` can be a method parameter, even in a parameterized test method. Even as a field, it's scope is with the test instance (by default one per test execution). A `MockWebServer` could behave similarly.

[2020-02-16 08:33] marcphilipp commented on #2187
Duplicate of #878

[2020-02-16 08:33] #2187 closed

[2020-02-16 08:34] marcphilipp commented on #2187
@tasomaniac Feel free to add comments here even though I've now closed the issue.

[2020-02-16 12:53] pauldingemans commented on #955
In [https://github.com/junit-team/junit5/pull/1008](pull request 1008) an implementation of SonarQube was set up. Finally the team decided not to merge it to master. Does it also mean that this issue should be closed or should it be kept open waiting for an alternative?

[2020-02-16 14:57] tasomaniac commented on #2187
@marcphilipp your quote was not my full sentence 🤦‍♂

`@TempDir` or any other annotation usage are supported at method level. As far as I understand, "Programmatic" instantiation of Extensions (with parameters) only possible as a (static or non-static) field.

[2020-02-16 16:00] pauldingemans commented on #1961
It is debatable whether the issue should be linked to Kotlin functions specified between back ticks solely. It might as well be applied to java methods without parameters as well.

It seems to be a design decision (backward compatibility?) that the Standard DisplayNameGenerator displays "()" for an empty parameter list as that has been the way methods without parameter list (and without DisplayNam

[2020-02-16 17:15] marcphilipp commented on #2187
Ok, now I get it. My apologies for not reading carefully enough. As a workaround, if all your test methods share the same parameters, you can inject them into an `@BeforeEach` method and do your common initialization there.

[2020-02-17 04:49] rougou commented on #1427
@sbrannen
I like this approach, but would prefer cartesianProduct(Collection<?>  ... collections) as suggested by @marcphilipp  previously. The reason being that when writing tests in Groovy, we'd have to do:
 `[false, true] as Set`
etc. for each parameter.

[2020-02-17 16:07] mmerdes commented on #1771
in progress

[2020-02-17 18:20] #2176 closed

[2020-02-17 18:56] marcphilipp commented on #1427
I'd be okay with a more loose definition based on `Collection` if it doesn't make the implementation more complex.

[2020-02-17 19:01] matthieu-vergne commented on #1427
If you can go this way, an `Iterable` may be enough.

[2020-02-17 19:03] marcphilipp commented on #1961
I think we could provide a new built-in `DisplayNameGenerator` that would be like `Standard` but remove `()` from the end of method display names. Users could then use it as their default in `junit-platform.properties`.

[2020-02-17 19:55] leonard84 opened #2188 "Provide DynamicTestExecutor.executeSilently"
Spock 2.x provides data driven tests and decided to unroll (report every child) per default. However, users have requested to be able to get the old behavior, i.e., that a data-driven tests is only reported as a single one, since they'd get thousands of test entries.

For this we would need a new method on the `DynamicTestExecutor`, @marcphilipp suggested the name `executeSilently`. This method wo

[2020-02-18 05:52] marcphilipp commented on #2188
We could add an overload for `execute` that returns a `Future` (so you can cancel asynchronous executions) and takes an `EngineExecutionListener` as an additional argument.

[2020-02-18 05:53] marcphilipp commented on #2188
Tentatively slated for 5.7 M1 solely for the purpose of _team discussion_.

[2020-02-18 09:22] sbrannen commented on #955
This issue will remain open for the time being. The JUnit 5 team is open to alternative solutions but primarily for simple solutions that provide real value to the team. The terms "simple" and "real" are of course left to interpretation by the team itself.

[2020-02-18 11:11] sbrannen commented on #1961
The default behavior since 5.0 is not experimental but rather stable.

Yes, I think that sounds reasonable.

[2020-02-18 12:29] QIvan commented on #878
hi! Just wonder, any news about this in 2020?
Thanks.

[2020-02-18 14:41] marcphilipp commented on #1961
What would we call it? `Parenthesesless` is rather a mouthful.

[2020-02-18 15:17] sormuras commented on #1961
What about `Kenerator`?

[2020-02-18 15:22] pauldingemans commented on #1961
As usual naming is hard. Also it is only a small difference compared with the standard. I propose to call it something like Plain or Simple.

[2020-02-18 15:23] Sam-Kruglov commented on #1961
Have the with kotlin in it. So that it is clear what is it for

[2020-02-18 15:25] pauldingemans commented on #1961
It is not strictly bound to Kotlin. I would find it nice in a Java context as well.

[2020-02-18 15:25] Sam-Kruglov commented on #1961
Is that possible to know at runtime if we are dealing with Kotlin so that it will be applied automatically? Or is that a big overhead to just apply that logic always, since it would do nothing for other cases. So that I don't need to edit any properties

[2020-02-18 15:26] Sam-Kruglov commented on #1961
I don't think Java has issues with parentheses in the end or does it?

[2020-02-18 15:46] sbrannen commented on #1961
Neither Java nor Kotlin have issues with parentheses at the end of the display name in this context: the display name is only used for reporting purposes. Thus there is nothing language-specific about it.

As @pauldingemans stated, the new display name generator could be used for any source JVM language. Thus, the name should not imply anything about a particular language.

As @pauldingemans recom

[2020-02-18 15:55] sbrannen commented on #878
Please see https://github.com/junit-team/junit5/issues/878#issuecomment-546459081

[2020-02-19 16:47] runeflobakk opened #2189 "assertThrows should close returned AutoCloseable in case of failing assert"
Hello,

I have encountered a subtle problem with the [`assertThrows` API](https://junit.org/junit5/docs/current/api/org.junit.jupiter.api/org/junit/jupiter/api/Assertions.html#assertThrows(java.lang.Class,org.junit.jupiter.api.function.Executable)).

The API accepts an `Executable`, which conceptually is a void invocation run internally by JUnit, and an exception of a specified type is expected to

[2020-02-19 19:35] marcphilipp commented on #2189
We actually added overloads of `assertThrows` with `ThrowingSupplier` instead of `Executable` in 5.3.0, found out the hard way that that was a breaking change and reverted it in 5.3.1 (see #1576 for details). We could add a special `assertThrowsAndClose` variant. However, since test authors would have to choose that over the regular one, I'm not sure how beneficial that would be. Thoughts?

[2020-02-19 19:35] marcphilipp commented on #2189
Tentatively slated for 5.7 M1 solely for the purpose of _team discussion_.

[2020-02-20 10:37] nishantvas opened #2190 "Provide ExtensionContext as a default ParameterResolver"
Is it possible to have ExtensionContext as part of a default ParameterResolver which could be used in BeforeAll, BeforeEach,  AfterEach, AfterAll methods

I know that we can implement Extension classes for beforeEachCallback and similar methods, however in cases where each test class need small or very specific before and after methods or want to use class elements for their implementation, it doe

[2020-02-20 10:43] nishantvas opened #2191 "Use registered ParameterResolver(s) when invoking @MethodSource factory methods"
Currently, the `MethodSource` methods are supposed to not have any parameters, however, it'll help to have parameters to be resolved in these methods if registered similar to Before/After methods.

Along with #2190, this will give access to `MethodSource` methods to possibly use `Extension.Store` and store any initialized details, which could be purged in `@AfterAll` methods

Also, in case of crea

[2020-02-20 10:44] sbrannen commented on #2190
Personally, I don't think JUnit Jupiter should supply the `ExtensionContext` to user-defined lifecycle callback methods, since they are by definition not extensions.

For such use cases, I recommend that you implement extension callback APIs like `BeforeEachCallback` as a lambda expression registered via a field.

For example, you can register a local `BeforeEachCallback` as a lambda expression li

[2020-02-20 10:47] nishantvas commented on #2190
This definitely makes sense, didn't know we could do it like so as well.
Thanks, in that case I suppose what I'm suggesting isn't required.

[2020-02-20 10:47] #2190 closed

[2020-02-20 10:51] runeflobakk commented on #2189
Ah, yes, overloads with different functional interfaces are typically problematic, especially with method references which also may be overloaded, and they are referred to by name only, so you may get ambiguities.

I guess this issue is related to why e.g. `CompletableFuture` has methods named `thenAccept` and `thenApply` for respectively `Consumer` and `Function`, instead of just overloaded metho

[2020-02-20 11:13] marcphilipp commented on #2191
@nishantvas Could you please add a concrete code example?

[2020-02-20 11:23] marcphilipp commented on #2189
Wouldn't this work?

[code]

[2020-02-20 11:27] runeflobakk commented on #2189
Dang, that's a nice workaround to be able to use the API as-is, and I didn't even think of. Still, one needs to be aware of this to avoid the issue of possible unclosed resources.

[2020-02-20 11:36] sbrannen commented on #2189
Sure, but that always holds true for both production code and test code.

In other words, I don't think it's the job of an assertion library to manage resources for the user.

[2020-02-20 11:41] nishantvas commented on #2191
[code]

@marcphilipp , I'm suggesting something like this, so that The code to resolve `MyElement` type can stay standardised or perhaps also secure by delegating via ParameterResolvers

[2020-02-20 11:52] marcphilipp commented on #2191
@nishantvas Thanks!

@sbrannen Would you mind adding an example of the `@BeforeTransaction` use case in Spring?

[2020-02-20 13:37] runeflobakk commented on #2189
I agree, wholeheartedly.

With production code, one is already in the mindset of treating methods as being executed successfully, and in my experience, in the case of getting an AutoCloseable resource, it is easy to at least argue that one should properly learn and internalize the habit of doing proper resource management. In many cases, an IDE will even warn that there are unmanaged resources.

I

[2020-02-21 11:24] kec2 opened #2192 "Clearly document that `name` attribute of `@ParameterizedTest` is a `MessageFormat` pattern"
junit 5.5.2

## Steps to reproduce

@ValueSource(ints = { -1, 1 })
@ParameterizedTest(name = "don't message {0}")
void myTest(int value) {}

The pling in the name string courses the test name to be formatted wrong.
The result is "dont message {0}"

Removing the pling results in:
"dont message -1" and "dont message 1"

## Context

 - Used versions (Jupiter/Vintage/Platform):
 - Build Tool/IDE:

##

[2020-02-21 13:28] marcphilipp commented on #2192
We should document this better: `name` is a `MessageFormat` pattern, i.e. you need to write `don''t message {0}`.

[2020-02-21 20:03] marcphilipp commented on #2189
In the light of the above discussion, the simple workaround, and the lack of reasonable solutions, I'm closing this issue.

[2020-02-21 20:03] #2189 closed

[2020-02-22 12:21] sbrannen commented on #2192
Note that we do actually have an example including single quotes in the `name` in the [User Guide](https://junit.org/junit5/docs/current/user-guide/#writing-tests-parameterized-tests-display-names), but it's not specifically documented.

[2020-02-22 18:27] lsikora commented on #1595
Couldn't this be at least integrated into https://github.com/junit-pioneer/junit-pioneer in form that @Kazhuru  suggested instead of being still blocked after 7 months :/?

[2020-02-22 20:09] marcphilipp commented on #1595
Sure, that sounds like a good idea!

[2020-02-23 03:47] swaranga opened #2193 "Allow @RepeatedTest to be configured with a variable number of repititions"
Currently you need to hardcode the number of repetitions of a @RepeatedTest in source code. However sometimes it would be desirable to compute the number of repetitions dynamically based on some external conditions (System properties, Env vars, Database etc...)

Our use case is that for our alpha, beta stages we would like to run our tests multiple times but in production stages we would only run

[2020-02-23 08:24] sormuras commented on #2193
Sounds like [Dynamic Tests](https://junit.org/junit5/docs/current/user-guide/#writing-tests-dynamic-tests) do fit here well, don't they?

[2020-02-23 09:47] sormuras opened #2194 "Don't cache URL when loading `junit-platform.properties` contents"
Today, the code in the launcher uses the convenient input stream accessor `openStream()` provided by the `URL` class:

https://github.com/junit-team/junit5/blob/efdb9fde6ca9fbc8b6795d5438c604aadd802e57/junit-platform-launcher/src/main/java/org/junit/platform/launcher/core/LauncherConfigurationParameters.java#L66-L68

This implicitly caches an underlying JAR file for the current VM, if the `junit-p

[2020-02-23 14:52] sbrannen commented on #2193
Well, the `@RepeatedTest` support is provided by an extension (that happens to be automatically registered). It is not baked into JUnit Jupiter.

So you can implement your own `TestTemplateInvocationContextProvider` that provides a `Stream<TestTemplateInvocationContext>` containing the number of entries you desire.

See the source code for the [`RepeatedTestExtension`](https://github.com/junit-tea

[2020-02-23 20:32] swaranga commented on #2193
Thank you. I went with the custom extension way. It was fairly easy to do.

[2020-02-23 20:32] #2193 closed

[2020-02-24 09:00] sormuras opened #2195 "Support custom `junit-platform.properties` location"
At the moment, the JUnit Platform properties are loaded from the first (and sole) resource named `junit-platform.properties` available via the `ClassLoader` resource-loading facility.

Internally, the JUnit Platform `Launcher` already supports by-passing this logic by providing an explicit location of a `junit-platform.properties` file or stream.

## Deliverables

- [ ] Introduce a new launcher sy

[2020-02-24 09:23] sormuras commented on #1986
...I really missed the `module-info.java` support when trying to work-around #2194 -- which for the time being was resolved by [attaching annotations on each test class](https://github.com/sormuras/bach/commit/3c73772a81599c6f67df93304a162de8f4025e99).

[2020-02-24 09:27] sormuras commented on #2194
Related JBS issue [JDK-8224794](https://bugs.openjdk.java.net/browse/JDK-8224794)

[2020-02-24 10:08] khmarbaise commented on #2002
stumbled over the same problem. The given suggestion by @marcphilipp sounds like a very good idea.
@sbrannen Doesn't that mean the inheritance via `extends` ?

[2020-02-24 13:31] sbrannen commented on #2002
Yes. In this context (test class hierarchy), I am referring to inheritance hierarchies (via `extends`).

The other form of hierarchy is a "nested class hierarchy" in which there is no actual form of inheritance in the object oriented sense of the term.

[2020-02-24 14:03] sbrannen commented on #2193
You're welcome. Glad you sorted it out.

[2020-02-24 21:53] swaranga commented on #871
+1

I too have a use case to be able to repeat a parameterized test

[2020-02-25 08:16] swaranga opened #2196 "Add support for printing test execution summary every X seconds"
When using JUnit for integration test that can have hundreds of test with long runtimes, it will be helpful if we can configure the current execution summary (number of tests pending, executed, failed, succeeded) so far. Ideally it should be the similar nice looking summary that is printed by the ConsoleTestExecutor

That can help developers get to the failing unit tests earlier rather than having

[2020-02-25 12:16] marcphilipp commented on #2196
Build tools and IDEs typically already show the pending test cases, don't they? Thus, I'm not convinced such a listener would be generally useful. Please note that you could implement a custom `TestExecutionListener` and register it via the `ServiceLoader` mechanism.

[2020-02-25 12:30] remal opened #2197 "ReflectionUtils.getDeclaredConstructor() should ignore synthetic constructors"
Currently `org.junit.platform.commons.util.ReflectionUtils.getDeclaredConstructor` method doesn't check if constructor is synthetic or not:
[code]

I suggest we filter out synthetic constructors.

The reason behind the suggestion is there are some apt tools and bytecode processor that can add synthetic constructors and it makes sense not to take them into consideration.

[2020-02-25 13:32] sbrannen commented on #2197
Thanks for raising the issue. It sounds reasonable to me, but I'll await feedback from the rest of the @junit-team/junit-lambda team.

[2020-02-25 13:36] sbrannen commented on #2197
Pending positive feedback, I'll likely push the following implementation.

[code]

[2020-02-25 14:26] sormuras commented on #2197
+1 from me

[2020-02-25 14:54] rsynek opened #2198 "JUnit4VersionCheck fails on a version string "4.12.0.redhat-003""
junit-vintage-engine does not recognize junit4 built under a version "4.12.0.redhat-003" and fails fast in JUnit4VersionCheck [1].

## Steps to reproduce
1. In a maven project, include junit of version "4.12.0.redhat-003" on classpath together with junit-vintage-engine as test dependencies.
2. mvn test -> as a result, no tests are run

Additional information: based on maven-surefire-plugin version

[2020-02-25 15:06] sbrannen commented on #2198
Tentatively slated for 5.7 M1 for _team discussion_

[2020-02-25 15:07] sbrannen commented on #2197
**Team Decision**: implement the proposed change.

[2020-02-25 15:20] #2197 closed

[2020-02-25 19:58] tcfurrer opened #2199 "Enhance tag filtering to support filtering on presence of only specific tag(s) without needing to explicitly name all excluded tags"
I'm trying to run all JUnit5 test methods which are tagged as "Special" and NOT tagged with any other tags.  I'm trying to avoid the need to hardcode/discover the superset of all tags, just so that I can form an exclude tag expression to accomplish this.  It should be possible to form a tag expression that says: everything tagged ONLY with 'special' (i.e. the 'special' tag is present AND no other

[2020-02-25 21:42] tcfurrer commented on #2199
I'm going to try to get the functionality I need by implementing ExecutionCondition.  But it still seems like this requested enhancement for tag expressions would fill in a remaining gap in functionality which seems to belong there.  So even if I can solve my immediate problem, I'll leave this open for comment.

[2020-02-26 09:32] swaranga commented on #2196
For unit tests which are typically run inside and IDE this is redundant. However I am talking about is when we run integration tests that may run for hours and in a remote machine then having a periodic summary printed in the console/logs would be very helpful.

I am aware that I can register my own listener but was wondering if you would consider this use case as a necessary part of the SummaryEx

[2020-02-26 14:01] marcphilipp commented on #2196
Tentatively slated for 5.7 M1 solely for the purpose of _team discussion_.

[2020-02-27 08:25] sormuras opened #2200 "Update link to AssertJ API documentation"
This link https://joel-costigliola.github.io/assertj/core-8/api points to the wrong (out of date) version:

https://github.com/junit-team/junit5/blob/9db860622517e077f2dbc21c34d585e170b19159/documentation/documentation.gradle.kts#L84

Correct target: https://javadoc.io/doc/org.assertj/assertj-core/3.14.0

The version in the link must match the one defined in `Versions.kt`:

https://github.com/juni

[2020-02-27 09:18] sormuras commented on #1481
FYI: **Remove the Nashorn JavaScript Engine** via https://openjdk.java.net/jeps/372

[2020-02-27 11:27] mmerdes commented on #2196
Team decision:
We do not feel that this feature should be included in the platform itself.
It should rather be implemented with a custom listener.

See https://github.com/junit-team/junit5/issues/2196#issuecomment-590838360

[2020-02-27 11:27] #2196 closed

[2020-02-27 11:52] sbrannen commented on #1961
**Team Decision**: Implement a new `DisplayNameGenerator` named `Simple` that extends `Standard` and excludes the parentheses after the method name if the method does not accept any parameters (analogous to the `hasParameters(...)` support in the `ReplaceUnderscores` generator).

[2020-02-27 12:09] sbrannen commented on #2198
**Team Decision**: Make the version parsing in `JUnit4VersionCheck` more lenient.

[2020-02-27 12:25] #2198 closed

[2020-02-27 17:51] juliette-derancourt commented on #2179
Sorry, wrong issue!

[2020-02-27 17:52] juliette-derancourt commented on #2192
Done in c9e00df612857d55be043d4ae02026ddf5adc5b8.

[2020-02-27 17:52] #2192 closed

[2020-02-28 19:34] marcphilipp commented on #2179
@fstarred Any updates?

[2020-02-28 19:41] marcphilipp commented on #2200
So it should be `https://www.javadoc.io/doc/org.assertj/assertj-core/${Versions.assertJ}/index.html`, right?

[2020-02-29 13:22] pauldingemans commented on #1374
See section "Rearrange code" on page https://www.jetbrains.com/help/idea/reformat-and-rearrange-code.html how to set the order of the imports in IntelliJ. If this suffices, please close the issue.

[2020-02-29 14:35] pauldingemans commented on #2180
@marcphilipp I have just reproduced this problem with current master.

After pulling and verifying the build, the output is as follows:
[code]

After this I duplicated test "assertThrows and fail" in class "KotlinAssertionsTests" and changed the test name to "AssertThrows and fail".

Next, I ran the build again which indeed failed:
[code]

[2020-02-29 15:22] pauldingemans commented on #2142
@pbludov What setting do you use for parallel execution of your top level classes? Do they run in parallel as well or sequentially? When they run sequentially, you could consider to move the test which alter the system state to a separate top level class in which you execute all methods sequentially.

Another approach to this problem could be that all classes and tests annotated with ExecutionMode

[2020-02-29 16:18] pauldingemans commented on #2057
EditorConfig sounds really nice. However the set of supported properties (https://github.com/editorconfig/editorconfig/wiki/EditorConfig-Properties) is relatively small. So most likely you will still need the eclipse settings as well. The question which remains then is what value EditorConfig provides on top of that.

[2020-03-01 09:16] marcphilipp commented on #2180
@mattdkerr @pauldingemans Are you both using macOS? I'm pretty sure this is caused by https://youtrack.jetbrains.com/issue/KT-17822.

[2020-03-01 09:43] pauldingemans commented on #2180
Yes I am using macOS.

[2020-03-01 09:53] marcphilipp commented on #2180
I'm going to assume @mattdkerr is also using a case-insensitive file system. Thus, this is a general issue with closures/anonymous classes in Kotlin.

[2020-03-01 09:53] #2180 closed

[2020-03-01 10:00] marcphilipp commented on #1374
@dotCipher Have you tried using https://github.com/krasa/EclipseCodeFormatter?

[2020-03-01 10:07] marcphilipp opened #2203 "Upgrade to bnd 5.0.0"
@rotty3000 I'm a bit confused: there seems to have been a 5.0.0 release of bndtools (congrats BTW!), but the Gradle plugin portal still lists a 4.3.x version. Can we already upgrade or is there still an issue with publishing to the Gradle plugin portal?

## Deliverables

- [ ] Remove custom `APIGuardianAnnotations` bnd plugin and switch to official one

[2020-03-01 11:23] pauldingemans commented on #1765
@sbrannen I propose to close this issue. It now has been open for more than a year without getting feedback from @ptjuanramos.

[2020-03-01 14:55] rotty3000 commented on #2203
There is a 5.0.0 bnd gradle, plugin. But since gradle didn't support us with a fix for an issue on gradle plugin portal we released it only to maven central (and jcenter). I can do the change for you monday as I promised when adding this support :)

[2020-03-01 15:37] mattdkerr commented on #2180
I’m using Windows 10 NTFS, so yes, it’s case insensitive.

[2020-03-01 16:53] marcphilipp commented on #2203
Sounds good! In the meantime, I've taken a stab at fixing the Plugin Portal issue at https://github.com/bndtools/bnd/pull/3811.

[2020-03-01 19:42] pbludov commented on #2142
The config is
[code]

The behavior I'm currently observing:
* all tests annotated `ExecutionMode.SAME_THREAD` are executed sequentially;
* all tests without explicit annotations are executed simultaneously with tests from the `ExecutionMode.SAME_THREAD` set, but in parallel threads.

Did I understand correctly that if I explicitly mark all tests as either `ExecutionMode.SAME_THREAD` or `ExecutionM

[2020-03-01 19:55] dfa1 opened #2204 "Test failure attributed to the wrong test class with parallel test execution"
## Steps to reproduce

Run `./mvnw clean package` using JDK11 in the following branch:
https://github.com/dfa1/hosh/tree/bugreport-for-junit5

According to the following message seems that failure is caused by `TerminalModuleTest`, even if the stacktrace shows `CompilerTest`:

[code]

## Context

 - Used versions (Jupiter/Vintage/Platform):5.6.0
 - Build Tool/IDE: maven 3.6.2
- parallel test execu

[2020-03-01 20:04] dfa1 commented on #2204
It looks like bug is happening only in macOS:
https://github.com/dfa1/hosh/runs/478219750

(windows and linux jobs failed with expected class)

[2020-03-01 20:33] sormuras commented on #2204
Which version of Maven Surefire is used?

Does sequential test execution prevent the printout of the wrong test class?

Btw. `NetworkModuleTest` shows 1 error, `TerminalModuleTest` reports 0 erros.

[2020-03-01 20:42] dfa1 commented on #2204
I'm using surefire 2.22.2.

yes, without parallel execution enabled everything is fine.

Well, actually log output is interleaved: some tests are starting, some are terminating. Error is reported really in `TerminalModuleTest`.

[2020-03-01 20:49] pauldingemans commented on #2142
Currently not. I didn't make clear enough that this might be a possible way to implement this feature in JUnit instead of using ResourceLocks.

[2020-03-01 21:15] sormuras commented on #2204
Can you please give Surefire `3.0.0-M4` a shot?

[2020-03-01 21:28] dfa1 commented on #2204
same problem (just pushed the relevant commits)

[2020-03-01 21:38] dfa1 commented on #2204
By disabling parallel execution I see:
[code]
but failing test is inside `CompilerTest`, not `CompilerTest$String` as reported.

Maybe the problem is in `@Nested` classes logic? @sormuras

[2020-03-01 21:54] sormuras commented on #2204
Ah, found the issue already reported as https://issues.apache.org/jira/browse/SUREFIRE-1643

Thus closing this issue.

[2020-03-01 21:54] #2204 closed

[2020-03-02 10:33] fstarred commented on #2179
Check the attached zip

[junit-issue.zip](https://github.com/junit-team/junit5/files/4274827/junit-issue.zip)

[2020-03-02 10:40] sormuras commented on #2179
Didn't run the sample, yet. Two remarks regarding the `pom.xml`:

JUnit 5 requires Java 8+.

Upgrade Surefire to `2.22.2` or even `3.0.0-M4`.

[2020-03-02 10:59] fstarred commented on #2179
Modified java version and surefire plugin (tried with 2.22.2 and 3.0.0-M1, I dropped with M4 because of some compilation errors instead).
Still doesn't work

[2020-03-02 12:45] sbrannen commented on #1765
In line with other team decisions (see https://github.com/junit-team/junit5/issues/1920#issuecomment-499841520), we will not include the proposed assertions in JUnit Jupiter.

[2020-03-02 12:45] #1765 closed

[2020-03-03 07:38] #1961 closed

[2020-03-03 11:14] vinogradoff opened #2205 "Provide a definition of "container" in the User Guide"
The word `container` is used more than 50 times in the current Guide https://junit.org/junit5/docs/current/user-guide/

This term wasn't used in JUnit4 and is new to many JUnit users. In the development industry we have just too many different containers to leave this to "common sense" understanding.

Please just add the definition of JUnit5 "container" in the User Guide.

[2020-03-03 11:21] lintong commented on #2169
@prasadthotakura,, the spring boot bom is overriding some of the dependencies pulled in transitively by Jupiter. Either wait for the Spring guys to do the upgrade or use something similar to the following config in your reactor pom:

[code]

[2020-03-03 16:08] sormuras commented on #2205
Agreed, we should define the word in the User Guide.

Related question on SO (by @vinogradoff, I guess): https://stackoverflow.com/questions/60507366/what-is-a-container-in-junit-5

[2020-03-03 17:39] pauldingemans commented on #2013
Usage of release notes may vary per reader. On the other hand the release notes are not generated but manually written by different contributors. So it is important to keep it simple and therefore less error prune.

I think it is possible to use sub documents to construct different views of the release notes. One such view could be identical to the current documentation (per release split by sub p

[2020-03-03 18:13] marcphilipp commented on #2013
@pauldingemans With "subproject" you mean platform, jupiter, and vintage, right?

[2020-03-03 18:26] pauldingemans commented on #2013
Yes I do.

[2020-03-03 23:46] juliette-derancourt commented on #2057
IntelliJ-specific properties can be added to an `.editorconfig` file (`ij_*` properties), and they basically cover any formating rule you can define in the IDE.
So EditorConfig can benefit to IDEA users (at least): they will not need to set up a plugin in order to use the Eclipse settings anymore.
Maybe there are similar properties for Eclipse, in which case `.editorconfig` could even replace `jun

[2020-03-04 07:39] IsmagilovQA commented on #456
Hi guys! Do we have a chance to get  `beforeSuite/afterSuite` feature done in the near future? Or for some reason, it is postponed?

[2020-03-04 09:25] ledoyen commented on #1948
I share the same need than @vlsi of having faster tests run first.

It would be great if we could define our own stragegy based on annotations, lets say `@SlowTest` to mark tests than will run in last

[2020-03-04 10:10] vlsi commented on #1948
It is "funny" that build systems (e.g. Gradle) have their own notion of the desired test order: https://github.com/gradle/gradle/pull/12012

The build system knows better what was the actual test outcome and test duration during the previous runs.

So it would really be sad if JUnit reorders tests requrested by the build system :-/

[2020-03-04 10:32] sormuras commented on #1948
We users control build tools, test ordering, ... everything.

Build tools should adhere to choices users make in the first place. Then they can optimize on that basis as much as they can. Just imagine, I **want** my test order to be shuffled on every run. No build tool should interfere here.

[2020-03-04 10:36] vlsi commented on #1948
Exactly, so there should be:
a) An interface from the build tool to control test execution order? Or something more highlevel like `optimize-for-overall-time` vs `optimize-for-first-failure` vs `optimize-for-bugs-found`
b) Of course the implementation of #a should be represented somehow in the JUnit APIs. However, #a means that the setting passed by the build system must override whatever is writt

[2020-03-04 12:33] bjhargrave commented on #2203
The 5.0.0 version of the Bnd Gradle plugin is now available from the Gradle Plugin Portal thanks to the fix from @marcphilipp.

[2020-03-04 16:50] pauldingemans commented on #2057
Tnx for pointing this out. See https://www.jetbrains.com/help/idea/configuring-code-style.html#

[2020-03-05 12:41] marcphilipp commented on #2109
Another use case is testing that a `TestDescriptor` doesn't get pruned (because that also happens in the `Launcher`).

[2020-03-05 12:57] marcphilipp commented on #2146
**Team decision:** Add `FilePosition` as an optional property of `FileSelector` and `ClasspathResourceSelector`.

Challenge: `FilePosition` is in the `..support.descriptor` package which cannot be accessed from the `..discovery` package.

[2020-03-05 13:07] marcphilipp commented on #2188
**Team decision:** Continue exploring this idea.

[2020-03-05 13:12] marcphilipp commented on #2134
@BChitrakannan How do you create test cases from the above JSON? Do you use parameterized test or have a custom test engine?

[2020-03-05 13:31] Chitrakannan14 commented on #2134
I have a custom test engine. But this case would be applicable even when I use @MethodSource annotation

[2020-03-06 07:09] #2203 closed

[2020-03-06 08:03] sormuras opened #2207 "Improve check for multiple junit-platform.properties files"
## Overview

Today, the following warning is generated...

https://github.com/junit-team/junit5/blob/e79dde3a30b146000743e754fc4c3355cfe70736/junit-platform-launcher/src/main/java/org/junit/platform/launcher/core/LauncherConfigurationParameters.java#L60

...and emitted even if the `junit-platform.properties` resource is only once physically present.

This false positive is due to using...

https:/

[2020-03-06 22:52] juliette-derancourt commented on #1911
One last thought: for the `@DisabledIf` annotation, I'm not quite sure what would be the expected behavior in the case of a method returning a `ConditionEvaluationResult`...

[code]

I'm not even sure this makes sense...
A `ConditionEvaluationResult` already decides if a test is "enabled" or "disabled", so the information provided by the presence of either `@EnabledIf` or `@EnabledIf` would be red

[2020-03-07 13:27] mielecmichal opened #2208 "Provide a utility class which allows to create TempDir programmatically in code."
Please provide a utility class which allows me to create TempDir programmatically.

I am working on a file system watching library. All my tests operates on a directory created by ```@TempDir``` extension. I mostly create some scenarios in which I create/modify some files. My scenarios started to complicate when I tried to cover symlink to different temp directory.

For now I decided to use JDK AP

[2020-03-07 13:35] sormuras commented on #2208
Why is (Files.createTempDirectory)[https://docs.oracle.com/javase/8/docs/api/java/nio/file/Files.html#createTempDirectory-java.nio.file.Path-java.lang.String-java.nio.file.attribute.FileAttribute...-] not suitable?

[2020-03-07 13:37] sormuras commented on #2208
Or, create two (or more) directories in the one provided by `@TempDir`.

[2020-03-07 13:43] mielecmichal commented on #2208
Regarding ```Files::createTempDirectory```:
 - I need to care about the cleanup
 - When there will be some improvement in future TempDir it wont work for me.

Regarding 2 directories, that's an option I can do like that. You are right, but sometimes it may require to significantly change the tests structure.

[2020-03-07 20:38] jflefebvre06 commented on #1946
Hello
Any update about this issue ?

[2020-03-08 12:17] vlsi commented on #2142
It looks like we need this in Apache JMeter as well.
One of the tests alters `TimeZone.setDefault`.
Note: the nature of the test is to ensure that the test would use `default timezone` for date calculations, so we can't really pass it as a parameter.

Is there a way to understand the effective locks used for the test?

For instance, what if I add an interface like the following

[code]

then I mak

[2020-03-08 12:23] pauldingemans commented on #2057
### Reformatting code in IntelliJ IDEA using .editorconfig

The **.editorconfig** standard attempts to format code regardless of a specific IDEA. The commonly supported set of configuration settings is rather small though. In addition to the common settings, IntelliJ has own settings. Of course those settings are not supported by other IDE's.

I have approached the current Eclipse formatting rules

[2020-03-09 14:45] joerg1985 opened #2209 "TestInstancePreDestroyCallback does not follow the wrapping behavior of callbacks in lifecycle PER_CLASS"
The extension `TestInstancePreDestroyCallback` does not follow the wrapping behavior of Extensions if the lifecycle is `PER_CLASS`, as described in https://junit.org/junit5/docs/snapshot/user-guide/#extensions-execution-order-wrapping-behavior

### The expected order with lifecycle PER_CLASS

- Extension1.postProcessTestInstance
- Extension2.postProcessTestInstance
- Extension1.beforeAll
- Extensi

[2020-03-09 14:53] sbrannen commented on #2209
Thanks for raising the issue and providing such detail.

This definitely appears to be a bug in the implementation of `org.junit.jupiter.engine.descriptor.ClassBasedTestDescriptor.invokeTestInstancePreDestroyCallback(JupiterEngineExecutionContext)`, since it should in fact be using `org.junit.jupiter.engine.extension.ExtensionRegistry.getReversedExtensions(Class<E>)`.

[2020-03-10 08:45] Kira-Cesonia opened #2210 "Test suites fail with NoSuchMethodError if com.googlecode.json-simple:json-simple:1.1.1 is imported"
This one took me some while to figure out. I'll try to provide an accurate description here and have a test project that reproduces this bug 100% of the time.

**Issue**

If you try to run a Test Case Suite to run JUnit 5 test cases while the project imports `com.googlecode.json-simple:json-simple:1.1.1`, the following error message is displayed:

[code]

To reproduce this, here is my project setu

[2020-03-10 11:03] sbrannen commented on #2210
Thanks for getting in touch, but it feels like this is a question that would be better suited to [Stack Overflow](http://stackoverflow.com/). We prefer to use the issue tracker only for bugs and enhancements. Feel free to update this issue with a link to the re-posted question (so that other people can find it) or add some more details if you feel this is a genuine bug.

----

Having said that, `j

[2020-03-10 11:03] #2210 closed

[2020-03-10 12:55] JiangHongTiao commented on #1948
Hi guys, yes for us it would be very helpful to have this annotation. Unfortunately we have a old code with some static non-final properties mixed with system properties. So sometimes it depends on how VM loads classes and how some of initialization blocks are executed. Sad, but it's like that.
It would be very helpful for us to shuffle test classes and also be able to reproduce this shuffle in a

[2020-03-11 11:01] jflefebvre06 opened #2211 "CloseableResource invocation order"
`CloseableResource`s should be closed in the inverse order of insertion.

Actually `close()` is executed in random order, since the values are stored in a  `ConcurrentHashMap`.

`storedValues = new ConcurrentHashMap<>(4);`

[2020-03-11 13:03] sbrannen commented on #2211
Tentatively slated for 5.7 M1 solely for the purpose of _team discussion_

[2020-03-11 17:46] dylan-asos opened #2212 "Create DisplayName MethodOrderer to order tests by their display name"
In order to sort the tests by the display name attribute attached to tests, create an implementation of `MethodOrderer` that provides this functionality,

## Deliverables

An implementation of `MethodOrderer`, with a sensible fallback, e.g.

[code]

Which can then be used on test classes, as per `@TestMethodOrder(DisplayNameOrderer.class)`.

It's something I've been using where I'm performing some

[2020-03-12 09:30] bmuskalla commented on #2028
Gradle has been upgraded to the 1.6.0 launcher which will be released as part of Gradle 6.4

[2020-03-12 10:53] marcphilipp commented on #2028
@bmuskalla Thanks for letting us know! 👍

[2020-03-12 11:17] marcphilipp commented on #2211
@jflefebvre06 Could you please elaborate more on your concrete use case?

Would adding a single `CloseableResource` that closes your resources in the order you need be a viable workaround?

[2020-03-12 11:22] marcphilipp commented on #1911
**Team decision:** Let's limit the scope of this issue to supporting `boolean` return values only.

[2020-03-12 11:27] sormuras commented on #2194
Reopened for cherry-picking into 5.6.1

[2020-03-12 11:35] marcphilipp commented on #1946
@jflefebvre06 This would be very involved to implement so we're putting it into the general backlog for now and will wait for additional interest from the community.

[2020-03-12 14:35] #2209 closed

[2020-03-12 19:06] ArthiIreddy opened #2213 "junit 5 console launcher throwing an error “Caused by: java.lang.ClassNotFoundException: com.build.Info”"
Hi, I'm using the complied library of jars of a java project and trying to run a junit 5 test via console launcher. Same test works when i right click and run as junit test but via console runner it throws the below error.

This is what i'm using to compile the program and it complies without errors
![image](https://user-images.githubusercontent.com/46818025/76557764-8645eb80-6472-11ea-97d2-59dbf1

[2020-03-12 19:47] ArthiIreddy commented on #2213
Issue was not giving the actual jar and using wild card while running the test. It has to be blah/lib/core.jar not blah/lib/* ..

[2020-03-12 19:47] #2213 closed

[2020-03-12 22:04] Jmyeluri commented on #1724
@epam-valerii is correct, the baseDir is incorrect so the subPackage variable in `determineSubpackageName` is returning the full package instead of '' like it supposed to. @marcphilipp any update on this issue? It still has not been fixed in 5.5.2.

[2020-03-13 14:39] sbrannen commented on #2212
Tentatively slated for 5.7 M1 for _team discussion_

[2020-03-13 16:06] fstarred commented on #2179
Hope you can remove the label " waiting for feedback" now :)

[2020-03-13 16:11] sbrannen commented on #2179
Tentatively slated for 5.7 M1 for _team discussion_

[2020-03-14 14:23] enaud1984 opened #2215 "Running tests from a jar file: summary return 0 test found"
Hi all,
I am trying to run tests that are in  a jar file (sr/java/main/test/jarfile.jar directory ).
The launcher does not find any test.  From intellij, in source of project when i runTesT is all ok, so no problem in actual tests.
TestProject:
[code]
pom.xml is this:
[code]

[code]

If i run smartRoadRegistryTest method it work well.

Now i have create a new project TestSuiteLoader where i load j

[2020-03-14 15:36] sormuras commented on #2215
It seems you're not using Maven in a standard setup.

Please read how to run normal unit test via [Surefire](https://maven.apache.org/surefire/maven-surefire-plugin/index.html) and integration test via [Failsafe](https://maven.apache.org/surefire/maven-failsafe-plugin/) -- and in case you want to run test for a jarred Maven extension, there's for example the [Maven Invoker Plugin](https://maven.ap

[2020-03-14 15:36] #2215 closed

[2020-03-16 12:39] serandel opened #2216 "Allow ParameterResolver to tell apart parameters with a Source in a ParameterizedTest"
I've got a `ParameterResolver` that I'm very keen of that injects any parameter in a test class or method with a fresh mock. My problem is that I'm trying to include some ParametererizedTests in my suite and now JUnit is telling me that:

[code]

In my extension, I have this method to filter parameters

[code]

but I'm seeing nothing in `parameterContext.parameter` to filter by parameters that wil

[2020-03-16 12:43] sbrannen commented on #2216
Have you read the [Consuming Arguments](https://junit.org/junit5/docs/current/user-guide/#writing-tests-parameterized-tests-consuming-arguments) section of the User Guide?

[2020-03-16 12:49] serandel commented on #2216
Yes, I think I'm following that, if I understood correctly.

My code is the following:

[code]

My ParameterResolver can supply Entity with no problem, but I think the clash comes because it will also gladly supply a mock for Float and Boolean, per the `supportsParameter` function in the description. :/

[2020-03-16 12:50] serandel commented on #2216
All the examples I've seen filter by parameter class in `supportsParameter`, so they don't hit my problem.

[2020-03-16 12:54] sormuras commented on #2216
How about an extra tagging annotation, like `@FreshMock`, to pre-select your resolver?

`test(float f, boolean b, @FreshMock Entity entity) {...}`

[2020-03-16 13:00] sbrannen commented on #2216
As a general guideline, a `ParameterResolver` should **never** be greedy: it should never resolve _anything_.

Rather, in order for a `ParameterResolver` to be a "good citizen", it must claim that it _supports_ a parameter based on a unique type or the presence of a custom annotation.

Any `ParameterResolver` that does not follow the "good citizen" rules cannot reliably be used in conjunction with

[2020-03-16 13:02] sbrannen commented on #2216
Though, to be honest, if your `@CsvSource` is supplying only two arguments, and the third argument is resolved by your custom resolver, I'm not sure why there is a conflict.

I _thought_ that would be avoided, but perhaps I am not recalling correctly.

[2020-03-16 13:11] sbrannen commented on #2216
I was mixing up the logic in `ParameterizedTestParameterResolver` in my head.

`ParameterizedTestParameterResolver` won't interfere with your custom resolver, but the inverse is not true. That's why you're hitting this problem: your custom resolver conflicts with `ParameterizedTestParameterResolver`.

[2020-03-16 13:12] serandel commented on #2216
I didn't realize tagging with an annotation was a best practice or that greedy resolvers would be problematic. I think it might be a good addition to the docs. (It also may well be possible that I've overlooked that part!)

Anyway, using the annotation, even if I don't love it (my tests looked so clean ;) ) seems a completely reasonable way to go forward, so I'll just do that.

Having said that, I

[2020-03-16 13:17] sbrannen commented on #2216
Hmmm.... I've certainly explained it like that multiple times over the years, but perhaps it's not actually documented (yet).

Oh wait...... speak of the 😈 ....... there's that issue I raised to address this: #1190. 🤦‍♂

Sounds good!

I wouldn't say it's a bug. It's actually "by design", though I understand that it's not perfect. Speaking of which, you might be interested in #1945.

You're welcome

[2020-03-17 10:46] sbrannen commented on #2216
In light of the above, I am closing this issue in favor of #1190 and #1945.

[2020-03-17 10:46] #2216 closed

[2020-03-19 07:45] kalgon opened #2218 "Allow @TempDir to specify sub-directories"
When using `@TempDir`, I often need to partition my temp directory into multiple sub-directories like "input", "output", "errors", ".camel", etc.

So, would it be possible to add an attribute on `@TempDir` to specify sub-directories.

This would allow me to do something like:

[code]

instead of:

[code]

WDYT?

[2020-03-19 08:33] sbrannen commented on #2218
Tentatively slated for 5.7 M1 solely for the purpose of _team discussion_

[2020-03-19 08:36] sbrannen commented on #2218
If we were to introduce support for automatic creation of named subdirectories, I think we would need to pick an explicit name for the attribute instead of `value`, since we may at some point introduced support for _named_ temporary directories.

Speaking of which, isn't this request effectively a duplicate of #1967?

[2020-03-19 08:39] sormuras commented on #2218
Yes.

[2020-03-19 08:41] sormuras commented on #2218
And I'm still fine with only providing a single temporary directory. If you need multiple ones, create sub folders. If you need a special cleanup strategy, create and delete sub folders...

[2020-03-19 08:41] kalgon commented on #2218
You are right, I may have misspelled "TmpDir" (instead of "TempDir") when I searched for issues and didn't find it. Sorry about that.

[2020-03-19 08:41] #2218 closed

[2020-03-19 09:07] sbrannen commented on #2218
Yes, I assume so, since you also spelled it "TmpDir" in the title and description of this issue (which I edited for you). 😉

No worries.

[2020-03-19 11:26] marcphilipp commented on #2134
Why would you need to add tags at runtime if you have a custom engine?

[2020-03-19 11:37] marcphilipp commented on #2212
**Team decision:**
- Add `getDisplayName()` to `MethodDescriptor`
- Add `MethodOrderer.DisplayName` (alphanumeric order is implied)
- Add it to the user guide and release notes

[2020-03-19 11:38] marcphilipp commented on #2212
@dylan-asos Feel free to go ahead and submit a PR if you're still interested.

[2020-03-19 11:56] marcphilipp opened #2219 "Multiple declarations of `@TempDir` in same parameter list or class declaration should fail"
If a test/lifecycle method has multiple parameters annotated with `@TempDir` or a test class has multiple fields annotated with `@TempDir`, the corresponding test class/method should fail in order to prevent user errors that stem from assuming them to be different directories.

## Deliverables

- [x] Multiple parameters of the same callable must not inject the same temp dir
- [x] Multiple `static`

[2020-03-19 13:52] sbrannen commented on #1967
See also: #2219

[2020-03-19 17:45] ramang22 commented on #673
Hello! i am getting similar error, when i am trying to execute jUnit test from code.
[code]
Can someone help me?
Here is my gradle file
[code]
Executing code
[code]

[2020-03-19 17:46] ramang22 opened #2221 "Missing test launcher?"
Hello! i am getting similar error, when i am trying to execute jUnit test from code.
[code]
Can someone help me?
Here is my gradle file
[code]
Executing code
[code]

[2020-03-19 19:16] marcphilipp commented on #1914
@IRus This is not resolved by #2042, is it?

[2020-03-19 19:21] marcphilipp commented on #2221
This should work. Could you please add a `System.out.println(System.getProperty("java.class.path"))` statement before `LauncherFactory.create()`?

[2020-03-20 08:05] IRus commented on #1914
@marcphilipp Yes, not resolved, this is different issues

[2020-03-20 09:49] sormuras commented on #2194
🍒 picked.

[2020-03-20 09:49] #2194 closed

[2020-03-20 10:07] ramang22 commented on #2221
Here is requested output

/Library/Java/JavaVirtualMachines/jdk1.8.0_144.jdk/Contents/Home/lib/tools.jar:/Users/ramang/.gradle/caches/modules-2/files-2.1/com.jetbrains.intellij.idea/ideaIC/2019.3/5a74bbe98a814d61e6069abd0902b46668f1278c/ideaIC-2019.3/lib/idea_rt.jar:/Users/ramang/.gradle/caches/modules-2/files-2.1/com.jetbrains.intellij.idea/ideaIC/2019.3/5a74bbe98a814d61e6069abd0902b46668f1278c/i

[2020-03-20 14:04] sormuras commented on #2207
Fixed for 5.6.1 -- cherry-picking https://github.com/junit-team/junit5/commit/828cdb3beb2ec0b35bdc012170c4b8f74ec33222 onto `master`.

[2020-03-20 16:52] baev commented on #1997
is there any way to have this issue processed any time soon? Our team are very interested in this feature and we can provide some help to you if you need

[2020-03-21 13:29] marcphilipp commented on #2221
I have no experience with IntelliJ plugin development. Apparently, each plugin has [its own class loader](https://www.jetbrains.org/intellij/sdk/docs/basics/plugin_structure/plugin_class_loaders.html). Since JUnit uses the current thread's context class loader, I suspect that's a different one and thus no engines are found when using `ServiceLoader` to load them.

Could you please try setting `Thr

[2020-03-21 13:41] marcphilipp commented on #2207
see https://github.com/junit-team/junit5/commit/828cdb3beb2ec0b35bdc012170c4b8f74ec33222#r37959524

[2020-03-22 09:29] marcphilipp commented on #2207
Resolved by 10ff91837e48e8e0af18d2d400ac9f9cda54ad70 and 921ab442489a5844686babe42dedfc091cc39d37.

[2020-03-22 09:29] #2207 closed

[2020-03-22 14:12] sbrannen commented on #1787
Tentatively slated for 5.7 M1 for _team discussion_

[2020-03-23 05:20] broeser opened #2222 "Broken Link in User Guide, Example Projects"
This affects the current User Guide linked from the website (junit.org/junit5)

## Steps to reproduce

- Click on any of the links in the section 1.4.3 (Example Projects)
- A 404 error will be the result

[2020-03-23 08:15] sormuras commented on #2222
Thanks for reporting the issue.

- The `snapshot` version of the User Guide is not affected. See https://junit.org/junit5/docs/snapshot/user-guide/#overview-getting-started-example-projects
- The `current` version contains `r5.0.0` path elements: https://github.com/junit-team/junit5-samples/tree/r5.0.0/junit5-jupiter-starter-ant
- Those version elements should read `r5.6.1`.

[2020-03-23 08:47] sbrannen commented on #2222
I assume that happened because the example command in the [Releasing](https://github.com/junit-team/junit5/wiki/Releasing) page was used verbatim.

[2020-03-23 08:53] sbrannen commented on #2222
Based on the above analysis, it becomes clear that the following links to actual code are pointing to the wrong versions as well.

[code]

[2020-03-23 10:14] sbrannen commented on #2222
@marcphilipp has already made the necessary changes and pushed the documentation.

Bot the `current` and `5.6.1` versions of the user guide are now correct.

[2020-03-23 10:14] #2222 closed

[2020-03-23 16:14] enaud1984 opened #2223 "How Get result of singole childrens test from a @TestFactory (DynamicTest)?"
Hi all,

if I have a `@TestFactory` method that runs 20 sub-tests with different parameters with summary, how can I get ALL test results?

[code]

I can get only Number total tests of Success and Fail test, and there is only `List<Failure> testsFail= summary.getFailures();`, but I want ALL results also Successful tests.

Is there a function that returns a MAP of <Test Identifier, Results> ??

than

[2020-03-23 16:22] sbrannen commented on #2223
Thanks for getting in touch, but it feels like this is a question that would be better suited to [Stack Overflow](http://stackoverflow.com/). We prefer to use the issue tracker only for bugs and enhancements. Feel free to update this issue with a link to the re-posted question (so that other people can find it) or add some more details if you feel this is a genuine bug.

----

Having pointed out o

[2020-03-23 16:22] #2223 closed

[2020-03-23 21:56] mojojojo94 commented on #569
I as well see this issue still in 2019.3 version of intellij IDEA

```org.junit.vintage.engine.discovery.DefensiveAllDefaultPossibilitiesBuilder$DefensiveAnnotatedBuilder buildRunner WARNING: Ignoring test class using JUnitPlatform runner: somepackage.SomeTestSuite```

[2020-03-25 09:22] sormuras commented on #2028
Created https://issues.apache.org/jira/browse/SUREFIRE-1764 to update Surefire's dependency.

[2020-03-25 09:29] Tibor17 commented on #2028
In Surefire we are resolving the version of `junit-platform-launcher` in runtime. So we only need to fix it and not to upgrade it. Upgrading it would mean either breaking the users or forcing them to upgrade their POMs as well. Pls discuss it.

[2020-03-25 09:33] sormuras commented on #2028
Let's move the Surefire-related discussion to https://issues.apache.org/jira/browse/SUREFIRE-1764 -- this issue collecting the state of "all" build tools and IDEs.

[2020-03-25 12:10] vmassol opened #2224 "Ability to capture any exception raised during test execution"
Hi,

I'd like to implement a JUnit5 extension that would capture any exception raised during test execution,  including exceptions raised in other Extensions. My goal is to help in debugging integration and functional tests when they fail by displaying environmental information in the CI. For example to execute:

[code]

I first tried writing an extension implementing `TestExecutionExceptionHandle

[2020-03-25 12:21] vmassol commented on #2224
hmm I think I'm wrong. Reading the code more closely I see that this is caught at a higher level, in https://github.com/junit-team/junit5/blob/3f7fed61f2edcee2a5551dbde75382b1dbe21267/junit-platform-engine/src/main/java/org/junit/platform/engine/support/hierarchical/NodeTestTask.java#L154 and I see that I could have a `EngineExecutionListener`. Will try this and report here and close the issue if

[2020-03-25 12:22] vmassol commented on #2224
The only potential issue is that I didn't do this initially since I couldn't see how to register an `EngineExecutionListener` automatically in Maven Surefire/FailSafe.

[2020-03-25 12:31] sbrannen commented on #2224
It's not possible to register an `EngineExecutionListener` of your own.

That's an internal implementation detail of `org.junit.platform.launcher.core.DefaultLauncher.execute(InternalTestPlan, TestExecutionListener[])`.

[2020-03-25 13:36] vmassol commented on #2224
@sbrannen thanks. It's working with a `TestExecutionListener` (which can be registered automatically using the service loader mechanism). Closing the issue!

[2020-03-25 13:36] #2224 closed

[2020-03-25 20:42] NedK123 opened #2225 "Temporary Folder not being deleted"
Hello
I'm not sure if this is a bug in JUnit or no, so feel to correct me if I'm wrong

I'm using a temporary folder in my unit test using the @Rule of JUnit.
The folder is not being deleted after the tests finish

Java version : 1.8

JUnit version: 4.12

Os windows 10

I'm creating a file.csv under a temp folder in order to edit it using CSVPrinter from org.apache.commons

[code]

The test:

[cod

[2020-03-25 21:41] #2225 closed

[2020-03-26 10:54] snicoll commented on #2169
There was some activity about this one on twitter, see https://twitter.com/hakandamar/status/1243120351791497217

Based on that  example, here is the proper way of avoiding mixed version of JUnit on the classpath: https://github.com/snicoll-scratches/test-junit/commit/d5a05e263174b0f6b91e5d597c0b437b4da87e82

In this particular cases, only 3 dependencies were overridden but the rest was still mana

[2020-03-26 11:10] snicoll commented on #2169
@beatngu13 you should include `junit-bom` rather than a single artifact. This is the same issue as above where one module uses 5.6 and the rest still use 5.5.2. You should also include JUnit's BOM before `spring-boot-dependencies` since it also has an opinion on the JUnit version to use.

[2020-03-26 11:13] sormuras commented on #2169
Related Maven POM/BOM quiz by  @aalmiray https://twitter.com/aalmiray/status/1243119645151952897 -- I learned a lot today.

[2020-03-26 12:51] beatngu13 commented on #2169
@snicoll thx for your help!

@sormuras oh boy, I thought I know Maven … 🙈

[2020-03-27 10:25] sormuras opened #2226 "Upgrade versions of 3rd-party libraries"
## Status

https://github.com/junit-team/junit5/blob/2f6f5d8607177ca889ffc9d6c6528a81667ecf79/buildSrc/src/main/kotlin/Versions.kt#L7-L13

https://github.com/junit-team/junit5/blob/2f6f5d8607177ca889ffc9d6c6528a81667ecf79/buildSrc/src/main/kotlin/Versions.kt#L15-L25

https://github.com/junit-team/junit5/blob/2f6f5d8607177ca889ffc9d6c6528a81667ecf79/buildSrc/src/main/kotlin/Versions.kt#L27-L33

##

[2020-03-27 10:53] marcphilipp commented on #1724
The team decision from above to wait for additional interest still stands.

[2020-03-27 11:31] marcphilipp commented on #1787
**Team decision:** Let's add the optional `reason` attribute to all `@Disabled*` / `@Enabled*` variants.

[2020-03-27 20:28] stuartwdouglas commented on #1948
I have a similar use case where I want to run all tests with a similar config one after the other, to avoid having to setup/tear down the environment each time.

The annotation based approach would not really work for me, but it would be great if extensions could control this somehow.

[2020-03-28 21:28] Bukama commented on #572
Any updates on this topic? There's still a corresponend issue at junit-pioneer.

[2020-03-29 10:37] #2181 closed

[2020-03-29 14:09] marcphilipp commented on #572
Please upgrade to 5.4.2 or later and use junit-platform-testkit.

[2020-03-29 14:09] #572 closed

[2020-03-29 16:11] dotCipher commented on #1374
This answer suffices, thank you for the clarification

[2020-03-29 16:11] #1374 closed

[2020-03-30 08:55] sbrannen commented on #2212
Closed via PR #2220. See https://github.com/junit-team/junit5/pull/2220#issuecomment-605464238 for details.

[2020-03-30 08:55] #2212 closed

[2020-03-31 09:53] sarod opened #2229 "Support some level of parallelization in junit-vintage-engine"
## Goal
Add support for some level of parallelization inside the Junit Vintage engine.
Ideally the level of configuration should be similar to maven surefire parallel options.

## Why
When including junit 5 tests in a project containing junit4 tests the natural path is to use junit 5 platform with the jupiter and vintage engines.

However this causes problem with parallelization.
In a project with

[2020-03-31 13:08] ramang22 commented on #2221
Hello, its fixed finally. I added
[code]
and it works :).
But i cant access project (not plugin) .class files for running tests. Do you have idea how can i fix it?

[2020-03-31 15:08] marcphilipp commented on #2221
You'll have to create a custom classloader, e.g. a `URLClassLoader` that uses the projects output dir(s).

[2020-03-31 15:08] #2221 closed

[2020-04-01 09:53] ksiddu commented on #2178
@sormuras ,
Is there any way to fail the test cases(methods with @Test tag) when @BeforeAll setup method fails.
I have two test cases in one test class with @BeforeAll and @AfterAll,
[INFO]
[INFO] Results:
[INFO]
[ERROR] Failures:
[ERROR]   FirstTest.beforeAllFirstTest:23 expected: <true> but was: <false>
[INFO]
[ERROR] Tests run: 1, Failures: 1, Errors: 0, Skipped: 0

[2020-04-01 10:05] marcphilipp commented on #1851
Reopening due to https://github.com/junit-team/junit5/pull/2042#discussion_r400912817

[2020-04-02 02:11] ksiddu opened #2231 "Tests count is 1 if there is failure in @BeforeAll setup method"
Junit 5.6.0
maven-surefire-plugin --> 2.22.0

## Steps to reproduce

@TestInstance(TestInstance.Lifecycle.PER_CLASS)
public class MultipleTests {

	@BeforeAll
	public static void beforeAll() {

		System.out.println("beforeAllFirstTest() executed!");

		assertTrue(false);

	}

	@Test
	public void testMethod1() {
		System.out.println("testMethod1() executed!");
	}

	@Test
	public void testMethod2()

[2020-04-02 07:32] objectBoolean opened #2232 "Usage of junit5 testsuite"
Does junit5 not have the functionality of testsuite in junit4?
Include testsuite within testsuite
Running parameterized test cases with @runwith (junit platform.class) results in errors in intellij idea reports. I want the functionality of testsuite in junit4

[2020-04-02 07:37] sormuras commented on #2232
Yes. Is does not. See #330 and linked issues for details.

[2020-04-02 07:37] #2232 closed

[2020-04-02 07:41] sormuras commented on #2231
The result line `Tests run: R, Failures: F, Errors: E, Skipped: S` is generated by Surefire.

Please find a similar issue or open a new issue at https://issues.apache.org/jira/projects/SUREFIRE

[2020-04-02 07:41] #2231 closed

[2020-04-02 12:53] marcphilipp commented on #1595
**Team decision:** Since there are so many edge cases we feel that it might be not be feasible to implement an out-of-the-box general purpose camel case generator that meets the majority of users' needs. Thus, we close this issue for now. If you need one, the API is extensible by design and you can write your own.

[2020-04-02 12:53] #1595 closed

[2020-04-02 16:29] mih-kopylov commented on #984
@sbrannen sorry, is there any chance to have this feature implemented in JUnit5?

[2020-04-02 17:09] tcfurrer opened #2233 "Describe mismatches found by assertLinesMatch"
Currently, in `AssertLinesMatch` on `main`, I see:

[code]

Please create some way to allow the user of JUnit 5 to configure these parameters, with a value of zero meaning "unlimited".  The usefulness of `assertLinesMatch` degrades when the snippets are too short to show the problem that needs to debugged, and when the relevant lines are omitted.

The numbers 21 and 42 are certainly not "one size

[2020-04-02 17:31] sbrannen commented on #984
@mih-kopylov, this feature has existed in JUnit Jupiter (JUnit 5) since the original GA release.

[2020-04-02 17:35] sbrannen commented on #2233
Tentatively slated for 5.7 M1 for _team discussion_

[2020-04-02 18:17] sormuras commented on #2233
Can you show me screenshot or link to one of that feature?

On non-matching lines errors, we decided to throw the same assertion error as if two strings didn't match. That leads in all versions of IDEA (since 2018 at least) to a clickable `<Click to see difference>` in the run log. See this screen taken with `Build #IC-201.6668.60, built on April 1, 2020`:

![image](https://user-images.githubuserc

[2020-04-02 18:41] tcfurrer commented on #2233
[code]

[2020-04-02 18:50] sormuras commented on #2233
The printout of all compared lines is anew to me. And why doesn't that happen with my initial example?

Nevertheless, the "Comparison Failure" window still shows the mismatch:
![image](https://user-images.githubusercontent.com/2319838/78289958-3ca56980-7523-11ea-956c-0b4cef88d7fe.png)

[2020-04-02 18:59] tcfurrer commented on #2233
I'm guessing the differences in the behavior I'm getting and the behavior you're getting could be due to differences in tool version(s).

I'm using OpenJDK 12, Gradle 6.3, JUnit 5.6.0, and IDEA 2020.1 beta 2 (build #IC-201.6668.13 on March 24, 2020).

[2020-04-02 19:00] sormuras commented on #2233
Are you running tests via delegation to Gradle?

[2020-04-02 19:00] tcfurrer commented on #2233
Yes

[2020-04-02 19:01] sormuras commented on #2233
Can you please let IDEA take over and run again? Seems to be a Gradle Test Runner thingy.

[2020-04-02 19:03] tcfurrer commented on #2233
In that case... sounds like I should file a ticket against Gradle on this?

I always have to use delegation to Gradle, because my project's build environment is very complex and heavily customized.  The behavior with the built-in IDEA test runner isn't be useful to me.

[2020-04-02 19:05] sormuras commented on #2233
Let's wait what @marcphilipp says. ;-)

[2020-04-02 19:05] tcfurrer commented on #2233
Of course, my original request here would still stand... because when not using the IDE, the omission of lines in the raw text output is still an issue that would be good to improve upon.

[2020-04-03 10:09] vlsi opened #2234 "Consider moving dependency versions to gradle.properties (and remove Versions from buildSrc)"
I see you've moved the versions to dependency constraints (which I think is nice), however, it looks like there's no point in having `Versions` in `buildSrc`.

The problems with `Versions` object are:
1) Every time `Versions` is updated the whole thing is rebuilt
2) The only option to try a new version is to edit the build scripts.

What do you think if the versions are moved to `gradle.properties

[2020-04-03 10:29] marcphilipp commented on #2234
One of the main benefits of `Versions` is that it allows to pick from a set of defined versions in build scripts and you can search for references to find out where a given version is used. However, I think we change it so that it is backed by project properties, e.g. by adding a Kotlin extension function with lazily initialized properties that read from the project properties.

@vlsi Would you be

[2020-04-03 10:35] homberghp opened #2235 "allow @CsvSource and or @MethodSource on @Before Methods or test class ctor"
Tests are best when they are focused and have only one assert and little distracting details.
Interpreting test data certainly if that need some conversion before use, such as using the test data to prime a mockito.mock is an effort that must be done in each test method, unless the priming can be delegated to the test class constructor or a @BeforeEach method.
When all data interpretation is done

[2020-04-03 10:41] marcphilipp commented on #2235
Thanks for reporting your use case! I think this is a duplicate of #878. Please comment if you disagree.

[2020-04-03 10:41] marcphilipp commented on #2235
Duplicate of #878

[2020-04-03 10:41] #2235 closed

[2020-04-03 10:53] vlsi commented on #2234
In practice, build script needs group id and artifact id as well, so having just version brings very little value from my point of view.

Then, using regular "group:artifact" helps to understand what is the dependency (== the format is the same as on the official guides).

I think I can prepare a PR that removes `Version`.

[2020-04-03 14:57] asaikali commented on #1948
I have  multi module project ,module A, B, C ... etc. I want to be able to run some code just before all the tests in module A run and just after all the test in module A finish. Would be nice to have a per module lifecycle callbacks. Marking a class  as a per module Lifecycle callback would be wonderful.

[2020-04-03 15:14] homberghp commented on #2235
dear Marc,

you might be right, because I am not aware how repeating test invocations
can or should be organized. I can imagine that the test data are passed in
the constructor of the test class, which is what i was used to do in
junit4. So yes let’s agree. I tried to find a ticket similar to my request
but did not find it. it would be nice to know how to search the issues
"database"

On Fri, 3 Ap

[2020-04-03 20:03] asaikali commented on #1948
@ledoyen i am using gradle for this project. So I don't want count on the maven or gradle I would like to be able to right click on a `src/test/java` run all tests from the IDE and still have pre-all test  and post-all tests callback run once. I will look into the TestExecutionListener

[2020-04-04 09:37] vlsi opened #2237 "Kotlin style: official or not?"
I see you often use `tabs` for Kotlin code which looks weird in GitHub diffs.

Is it accidental or a deliberate choice?

Kotlin official style guide suggests using 4 spaces for indentation: https://kotlinlang.org/docs/reference/coding-conventions.html#formatting

[2020-04-04 09:40] sormuras commented on #2237
Is there a non-configurable Kotlin formatter that emits officially styled code? Something similar to https://github.com/google/google-java-format

[2020-04-04 09:42] vlsi commented on #2237
https://github.com/pinterest/ktlint is OK.
There's a glitch with import order formatting, however, in general, it formats great.

Note: `tabs` vs `spaces` should probably be configured via `.editorconfig`.

[2020-04-04 09:46] sormuras commented on #2237
Do you mind perparing a PR with ktlint applied for further discussion?

#2057

[2020-04-04 09:54] vlsi commented on #2237
I've seen #2057, however, it says nothing regarding `indent_style` for `kt` and `kts` files.

So the key question here is what are you expectations regarding the style.

[2020-04-04 09:54] marcphilipp commented on #2237
IIRC we already use ktlint via Spotless.

[2020-04-04 09:55] marcphilipp commented on #2237
The reason for using tabs is consistency with the rest of the (Java) codebase.

[2020-04-04 11:14] vlsi commented on #2237
Just an example: `*.md`  has a special notion for `trailing whitespace`, so `*.md` should not use `trim trailing whitespace` rule.

So I guess it might be OK to have spaces for Kotlin code.

[2020-04-04 13:17] marcphilipp commented on #2237
Well, GitHub-flavored Markdown does not... 😉

We'll discuss it in the next team call.

[2020-04-04 13:17] marcphilipp commented on #2237
Tentatively slated for 5.7 M1 solely for the purpose of _team discussion_.

[2020-04-04 13:19] marcphilipp commented on #2235
Finding existing issues is always easier if you know what to search for... 😉

Checking the corresponding label or using the search here is usually a good starting point: https://github.com/junit-team/junit5/issues?q=is%3Aissue+is%3Aopen+sort%3Aupdated-desc+label%3A%22theme%3A+parameterized+tests%22

[2020-04-04 13:29] marcphilipp commented on #2142
We could log them or send report entries for them. Would that help you?

In order to avoid deadlocks, locks are currently pulled up to the first node in the test tree that declares a lock. In your example that would mean that all implementations of `CommonReadLocks` would be able to run in parallel unless they contain a method that uses mode `READ_WRITE` in which case the whole class would use `RE

[2020-04-04 16:18] #2234 closed

[2020-04-04 18:46] sormuras commented on #2200
With #2236 being merged, it'll read: `https://javadoc.io/doc/org.assertj/assertj-core/$versions.assertj`

[2020-04-04 18:47] doctorpangloss opened #2239 "assertTimeoutPreemptively should provide reference to future or executor service parameter"
## Overview

The stack trace of the `future` used for `assertTimeoutPreemptively` provides valuable information for where a test thread gets "stuck" and is itself valuable for assertions.

## Proposal

Provide a reference to the `future` used to execute the code under test. This way, users can see, in their errors, where the code hung. Or, users can assert that, e.g., a blocking method correctly b

[2020-04-04 19:20] sormuras commented on #2200
Linking didn't work out: https://junit.org/junit5/docs/snapshot/api/org.junit.platform.testkit/org/junit/platform/testkit/engine/EventConditions.html

![image](https://user-images.githubusercontent.com/2319838/78459554-1cf47980-76ba-11ea-96b5-b81893842286.png)

[2020-04-04 19:20] krusche commented on #2105
Sorry for the late answer, I somehow did not get a notification for your reply.
Yes, we are using Spring Boot. I just saw that the error also occurs when executing the tests on the command line. However the tests are still executed. We are now on 5.6.1 (which is stored in the variable junit_version)

It does not make a difference whether I use

    testImplementation "org.junit.jupiter:junit-jupit

[2020-04-04 19:23] krusche commented on #2105
Just found this post on StackOverflow: https://stackoverflow.com/questions/59900637/error-testengine-with-id-junit-vintage-failed-to-discover-tests-with-spring
I will try this out

[2020-04-04 19:27] krusche commented on #2105
Yes, it helps to exclude org.junit.vintage:junit-vintage-engine in the spring-boot-starter-test dependency.

For others with the same problem, I used the following to exclude it in Gradle.

[code]

[2020-04-04 19:52] sormuras commented on #2200
When adding the missing `/` at the end of new URL, our `--link-offline` work-around fails with:

[code]

[2020-04-04 20:11] sormuras commented on #2200
https://javadoc.io/doc/org.assertj/assertj-core/3.14.0/element-list works though:

[code]

@marcphilipp what are doing wrong here?

https://github.com/junit-team/junit5/blob/407a29f642b2ef8d2f5bf2ba028ce5d6dfd5d14a/documentation/documentation.gradle.kts#L201-L217

[2020-04-04 20:13] sormuras commented on #2200
A fix for Java 15 is in progress: https://bugs.openjdk.java.net/browse/JDK-8240169

[2020-04-05 07:30] #2200 closed

[2020-04-05 11:39] #2105 closed

[2020-04-05 12:05] sbrannen commented on #2239
Tentatively slated for 5.7 M1 sole for the purpose of _team discussion_

[2020-04-05 12:10] timtebeek commented on #2146
Hi! First time contributor here; I've started out with adding `FilePosition` as optional argument to `FileSelector` and `ClasspathResourceSelector` here: https://github.com/junit-team/junit5/compare/master...timtebeek:master

Not sure if this was as intended; and it's likely nowhere near done to resolve this issue, but I'd like to get some feedback on what should be the next logical steps. To star

[2020-04-05 17:58] marcphilipp commented on #1997
@baev Sorry for the delay! I‘ll bring it up in the next team call.

[2020-04-05 17:58] marcphilipp commented on #1997
Tentatively slated for 5.7 M1 solely for the purpose of _team discussion_.

[2020-04-05 18:03] marcphilipp commented on #2208
Tentatively slated for 5.7 M1 solely for the purpose of _team discussion_.

[2020-04-05 19:21] juliette-derancourt commented on #1787
With the current default reasons we differentiate the enabled/disabled cases (for instance with reasons like `Enabled on operating system: Linux` and `Disabled on operating system: MacOS`).
Should we do the same here and ask the user to provide two reasons (one to use if the test ends up being disabled, and another if it doesn't)? Or should we assume that they are gonna write a reason that will "m

[2020-04-06 07:10] rweisleder commented on #1101
I just came across this issue because of NUnit' `TestCase` annotation.

[code]

Especially an equivalent of the `ExpectedResult` attribute would increase the readability in JUnit's parameterized tests.

[2020-04-06 10:01] marcphilipp commented on #1787
Thanks for raising the question! I think we also need to decide whether the generated reason should stay in place and the additional reasons would only be added, e.g. using a template like `<auto-generated> because <explicit reason>`.

[2020-04-06 10:28] filiphr commented on #1787
If I can propose, then I would propose to keep the generated reason and add the explicit reason written by the user.

My main idea when raising this issue was to enrich the auto generated reason with an explanation why we are disabling / enabling the particular test.

[2020-04-06 10:45] sbrannen commented on #1787
Yes, that's exactly what I would do: append the custom message to the generated message -- for example, separated by ` ==> ` like we do with all of our failed assertion message.

[code]

[code]

The difference is that we **prepend** the custom message to failed assertion messages; whereas, I agree that **appending** a custom reason to execution conditions seems to be nicer.

So, given `@DisabledOn

[2020-04-06 11:04] sbrannen commented on #1787
That's a tough one. I'm still thinking about the options.

No, I don't think we can assume that. People often don't like to be overly verbose. For example, I just wrote an example with "incompatible filesystem" for a disabled `reason`.

That's because it seemed logical to me. I added the "reason" that it is disabled on Windows. If you simply _read_ the annotation, it makes sense.

So if we introdu

[2020-04-06 11:32] gokareless commented on #1555
@sbrannen this one isn't **up-for-grabs** any more and is resolved in Junit 5.5 ([reference javadoc](https://junit.org/junit5/docs/current/api/org.junit.jupiter.api/org/junit/jupiter/api/extension/ExtensionContext.Store.CloseableResource.html)). Is that right?

[2020-04-06 13:10] marcphilipp commented on #1555
This issue is still up-for-grabs, because the example you're referring to is only used for internal tests. To resolve this issue, the user guide should show or list such an example, but probably a more realistic one. Maybe a `com.sun.net.httpserver.HttpServer`?

[2020-04-06 15:56] sormuras opened #2243 "Improve module descriptions"
## Description

The short texts we provide aren't descriptive. Often, they only repeat the name of the module.

https://search.maven.org/artifact/org.junit.jupiter/junit-jupiter shows

![image](https://user-images.githubusercontent.com/2319838/78581543-4afdc900-7834-11ea-9c75-b0058f61a85a.png)

https://package-search.jetbrains.com/search?query=junit shows

![image](https://user-images.githubuserco

[2020-04-06 17:26] george-hawkins opened #2244 "IsTestableMethod silently ignores @Test annotated methods that return a value"
[`IsTestableMethod`](https://github.com/junit-team/junit5/blob/master/junit-jupiter-engine/src/main/java/org/junit/jupiter/engine/discovery/predicates/IsTestableMethod.java) silently ignores `@Test` annotated methods that return a value (or are static or are private).

`IsTestClassWithTests` uses `IsTestMethod` to discover tests. `IsTestMethod` is a subclass of `IsTestableMethod` that sets `IsTest

[2020-04-06 17:30] sbrannen commented on #2244
Thanks for taking the time to submit such a detailed issue.

We are painfully aware of the lacking diagnostics for such configuration errors.

In fact, this is a duplicate of #242.

In light of that, I am closing this issue.

Feel free to comment on or vote for #242.

[2020-04-06 17:30] #2244 closed

[2020-04-06 17:34] george-hawkins commented on #2244
Damn - now I feel silly, I didn't find the earlier issue and I put some effort into filing this properly 😢Thanks for directing me to #242.

[2020-04-06 17:40] sbrannen commented on #2244
No worries. It's not always easy to find related issues.

Sure thing. I just cross-referenced this issue from there.

[2020-04-06 18:39] Vazzilena opened #2245 "JUnit Jupiter is not executing pure junit5 test (--select-class option)"
Hey,

We have a huge database with junit4 tests and we want to start using junit5.

I have configured an ant task that uses the junit console launcher directly. I am able to successfully run using the junit platform vintage engine a pure old-school junit4 test case, but I am not able to run any junit5 tests although I have listed both engines in the ant task:

[code]

To eliminate the ant layer, I

[2020-04-06 18:48] Vazzilena commented on #2245
[ant_full_output.txt](https://github.com/junit-team/junit5/files/4440252/ant_full_output.txt)

[JmxConnectionTest1.java.txt](https://github.com/junit-team/junit5/files/4440267/JmxConnectionTest1.java.txt)

[2020-04-06 20:19] silkentrance opened #2246 "org.junit.jupiter.api.AssertThrows.assertThrows(expectedType, executable, messageOrSupplier) should be accessible for extension purposes"
I am trying to add additional exception/throwable related assertions.
And I do not want to reimplement what was already implemented in (see summary).

I would want you to make the currently private method a package protected and thus accessible method for implementations of additional asserts for exceptions.

[code]

should be package protected so that extensions can make use of it.

[2020-04-06 20:34] #2246 closed, assigned to nobody

[2020-04-07 02:09] houseshi opened #2247 "TestExecutionListener, Test that failed while parameterizing the test, gets the result “SUCCESSFUL”"
## java test code

[code]

[code]

## bug screenshots

![image](https://user-images.githubusercontent.com/2319838/78626999-a6f63b00-7890-11ea-89b4-10c6cda1a65a.png)

[2020-04-07 03:31] sormuras commented on #2247
I fixed the inlined screenshot in the initial description.

Please translate the title into English. And what is your question?

[2020-04-07 08:23] sbrannen commented on #2245
I've edited your comment to improve the formatting. You might want to check out this [Mastering Markdown guide](https://guides.github.com/features/mastering-markdown/) for future reference.

[2020-04-07 08:30] sbrannen commented on #2245
Actually, it appears that you Jupiter test class is not detected.

The 2 containers are for the Jupiter and Vintage engines.

Regarding Ant and JUnit 5, why do you not use the dedicated [`junitlauncher`](https://junit.org/junit5/docs/current/user-guide/#running-tests-build-ant) task?

[2020-04-07 08:51] reinhapa opened #2248 "Execution of Vintage Tests fail with "displayName must not be null or blank""
## Steps to reproduce
Execute the build https://github.com/reinhapa/exist/tree/junit5 using:
`mvn -T 2C -Ddocker=false test -B -e`

## Context
 - Maven `3.6.3`
 - JUnit Jupiter/Vintage Engine `5.6.1`
 - Apache Surefire `3.0.0-M4`

## Deliverables
Test should run as before using JUnit `4.13`

[2020-04-07 08:55] reinhapa commented on #2248
When executing the test using the JUnit Vintage Engine and Surfire using `<reuseForks>true</reuseForks>`:
[code]

When executing with `<reuseForks>falsereuseForks>` I get the following error:
[code]

Content of  `2020-04-07T10-31-12_480-jvmRun8.dump`
[code]

Content of  `2020-04-07T10-31-12_480-jvmRun8.dumpstream`
[code]

[2020-04-07 09:06] Vazzilena commented on #2245
We prefer using the launcher directly - more configuration options and easier to reproduce problems using the command line.

It should be working both ways I guess (ant and/or pure command line launcher).

Why is not picking up my test?

(Thanks for editing my initial post - I will read the markdown guide :) )

[2020-04-07 09:17] Vazzilena commented on #2245
I prefer using the console launcher directly because it provides more configuration options, which we can mix. And it is also easier to reproduce problems using a command line.
I might consider adopting the ant task as well, once I get it properly running.

Why is it not picking up my test?

[2020-04-07 09:17] Vazzilena commented on #2245
Thanks! I will read it.

[2020-04-07 09:26] sbrannen commented on #2245
Note that `JmxConnectionTest1` does not end it `Test` but rather in `Test1`.

Have you tried setting the `--include-classname` option to a pattern that includes test class names that have `Test` in the middle of the class name?

[2020-04-07 10:00] Vazzilena commented on #2245
Yes, it ends up with Test1, but this is exactly what I am supplying in my command line arguments.

I have not tried the option you mention, but it would not cover my use case as I want to run a single test...

[2020-04-07 10:09] sbrannen commented on #2245
Are you sure about that?

https://github.com/junit-team/junit5/blob/78c989fe2c4fe1c8d741921c12dfcd2bff504882/junit-platform-console/src/main/java/org/junit/platform/console/options/AvailableOptions.java#L178-L179

[2020-04-07 10:13] houseshi commented on #2247
TestExecutionListener, Test that failed while parameterizing the test, gets the result “SUCCESSFUL”，Expected : FAILURES

[2020-04-07 10:34] sormuras commented on #2247
Are you expecting that the parent container of a failing test should be marked as `FAILED`?

[2020-04-07 10:42] sbrannen commented on #2247
Given the following simplified version of your example...

[code]

[code]

Executing that yields:

[code]

The failure for the parameterized test invocation is properly reported to the listener.

[2020-04-07 11:10] Vazzilena commented on #2245
Hey Sam,

What are you suggesting – that I stop using [--select-class] option and replace it with [--include-classname] option?

Would this be a valid pattern - ^com.pcbsys.nirvana.nAdminAPI.JmxConnectionTest1$ to isolate only the test case in question?

And would it work with vintage engine (because [--select-class] works well with vitage) and I want to use the same options for both engines...

[2020-04-07 11:17] sbrannen commented on #2245
What I'm saying is ...

1. I believe the default class name filter is always applied. In the code it seems to definitely be the case, but I have not thrown together an example to prove it. I'll leave that to you to try out.
2. If the default filter is always applied and your test classes don't match the default pattern, you simply have to override the default pattern with a pattern that matches ag

[2020-04-07 11:18] marcphilipp commented on #2245
The `ConsoleLauncher` uses the `STANDARD_INCLUDE_PATTERN` that will be applied to all classes regardless if they are passed via `--select-class` or some other means. Since your test name does not match the `^(Test.*|.+[.$]Test.*|.*Tests?)$` regex it will be excluded. Please either rename your test class or pass a different regex (e.g. `.*`).

[2020-04-07 11:18] #2245 closed

[2020-04-07 11:24] marcphilipp commented on #2247
JUnit Platform reports a finished event for each node in the test tree. In Sam's example there are:

[code]

4 of these are containers, 1 is a test. If you're only interested in events for tests, please check `TestIdentifier.isTest()` in your listener implementation. Please not that you might miss failures from class-level lifecycle callbacks, e.g. an exception thrown from a `@BeforeAll` method th

[2020-04-07 11:24] #2247 closed

[2020-04-07 11:40] Vazzilena commented on #2245
Thanks for the help guys - keeping the same arguments but adding --include-class name=<TEST_CLASS> to override the default pattern solved my problem.

Adding the digit 1 to the name of the test was just an experiment, but sill valuable as many of our tests do not follow this convention, so I would have run into the same problem anyway...

[2020-04-07 12:31] chavan77me commented on #2039
Upgrading to JUnit5 is breaking a unit test I have.

`
private class MySillyClosure(...) extends Closure<RetryStrategy>(...) {
    @override
    RetryStrategy call(...) {
         return MyStrategy()
    }
}
`

This class is defined in my test suite and the recursive check fails even though I have not marked any of these classes as @Nested.

I think this is the suspect code
https://github.com/juni

[2020-04-07 12:42] sbrannen commented on #2039
@chavan77me, _this_ issue is already closed.

Please [open a new issue](https://github.com/junit-team/junit5/issues/new/choose), and we'll gladly look into it.

[2020-04-07 12:47] chavan77me opened #2249 "Detecting cycles in inner class hierarchies throws exceptions even for classes not marked as @Nested"
Upgrading to JUnit 5.6 is breaking a unit test I have.

[code]

This class is defined in my test suite and the recursive check fails even though I have not marked any of these classes as `@Nested`.

I think this is the suspect code:

https://github.com/junit-team/junit5/blob/master/junit-jupiter-engine/src/main/java/org/junit/jupiter/engine/discovery/predicates/IsTestClassWithTests.java#L46

https

[2020-04-07 12:56] sbrannen commented on #2249
I've edited your comment to improve the formatting. You might want to check out this [Mastering Markdown guide](https://guides.github.com/features/mastering-markdown/) for future reference.

[2020-04-07 12:57] sbrannen commented on #2249
No. There is unfortunately no way to disable the cycle detection, but we'll look into fixing the issue.

Thanks for bringing this to our attention!

[2020-04-07 13:23] houseshi commented on #2247
@ParameterizedTes & @MethodSource  combined use of annotations,judgment is not a test, right?

[2020-04-07 13:24] houseshi commented on #2247
@ParameterizedTes & @MethodSource combined use of annotations,judgment is not a test, right?

[2020-04-07 14:56] sbrannen commented on #2247
That's correct. A `@ParameterizedTest` method is technically a "container" in JUnit 5.

[2020-04-07 19:27] silkentrance opened #2252 "Where are your own test suites?"
I have searched on google and in this repository, by to no avail.

Where can I find the tests to for example junit-api and so on?

TIA and thanks for the tremendous work you are doing. Be well!

[2020-04-07 19:39] marcphilipp commented on #2252
Our test setup is a bit special since we're testing JUnit with JUnit.

- Tests for junit-jupiter-api and junit-jupiter-engine are in junit-jupiter-engine (since they need the engine to run and Eclipse doesn't like cyclic project dependencies even if they are between different source sets)
- Tests for junit-jupiter-migrationsupport, junit-jupiter-params and junit-vintage-engine are in the same proj

[2020-04-07 19:39] #2252 closed

[2020-04-07 20:09] marcphilipp commented on #2248
Reopening for cherry-picking to the release branch.

[2020-04-08 00:32] houseshi commented on #2247
If you use @test together， The use case is executed multiple times 。parameterizedtest ，Don't think it is "tests" ,  Is that a problem? or, How does it become a "tests"

[2020-04-08 00:32] houseshi commented on #2247
If you use @test together， The use case is executed multiple times 。parameterizedtest ，Don't think it is "tests" , Is that a problem? or, How does it become a "tests"

[2020-04-08 01:21] houseshi commented on #2247
I understand ，Thank you

[2020-04-08 08:30] reinhapa commented on #2248
Looking  foreward to test the change :1st_place_medal:

[2020-04-08 09:16] marcphilipp commented on #2248
@reinhapa Could you please test against the latest `5.7.0-SNAPSHOT` version available in https://oss.sonatype.org/content/repositories/snapshots/?

[2020-04-08 13:05] reinhapa commented on #2248
@marcphilipp build completed successfully here on my local system..

[2020-04-08 19:08] marcphilipp commented on #2248
Cherry-picked on documented on the release branch.

[2020-04-08 19:08] #2248 closed

[2020-04-08 19:29] marcphilipp commented on #2233
Please do. I think when running this through IDEA directly, they call `AssertionFailedError.getExpected()` and `AssertionFailedError.getActual()` instead of parsing the message but Gradle does not preserve these when transferring the exception to the build VM and subsequently reports it to IDEA.

[2020-04-08 20:17] sormuras commented on #2200
FYI: https://hg.openjdk.java.net/jdk/jdk/rev/3b557aef43c4 -- should land in next 15-ea build.

[2020-04-08 21:18] tcfurrer commented on #2233
Ok, so as requested, I've filed a ticket against Gradle ( https://github.com/gradle/gradle/issues/12764 ), but can we continue here with discussion about providing control over the omission of lines in raw text output outside IDE?  Thanks...

[2020-04-09 06:54] marcphilipp commented on #2146
@timtebeek Sorry for the delay in response, I hope you're still interested. 🙂

We wouldn't like to duplicate the `FilePosition` class but cannot reference it from the selectors without introducing a package cycle. Thus, we'll probably have to copy it to the new location, inherit from it in the old location, and deprecate it there. Unless anyone has any better ideas?

`UriSource` doesn't have it si

[2020-04-09 07:55] timtebeek commented on #2146
No problem at all; happy to help out.

Any suggestions as to where to place it? It's my first time contributing here, so not too familiar with where it should go.

Perfect; will do!

[2020-04-09 08:59] marcphilipp commented on #2146
I'm leaning towards adding it to `org.junit.platform.engine.discovery` so let's start with that.

[2020-04-09 17:12] #2249 closed

[2020-04-10 15:57] timtebeek commented on #2146
@marcphilipp I've applied your suggestions and opened up https://github.com/junit-team/junit5/pull/2253 for further discussion. :)

[2020-04-10 18:46] Vazzilena commented on #2245
Guys,
Apologies for writing in the same issue but since my last question turned out to be configuration issue, I decided it is better to ask. Running with platform console launcher arguments:
--include-tag=new

I am getting the output bellow (stack trace listed in between in output)

### [jacoco:coverage] Enhancing java with coverage
     [java]
     [java] Thanks for using JUnit! Support its deve

[2020-04-10 19:01] khmarbaise opened #2254 "Mark Preconditions class as MAINTAINED or STABLE"
Currently I stumbled another time about the thing that the class `Preconditions` is marked as part of the `INTERNAL` API, but it would be helpful for authors of extensions to make it `MAINTAINED` or `STABLE` so it can be used very easily otherwise it could happen that you change the `Preconditions` class and my own extensions do not work anymore (This is of course the idea of an INTERNAL API). May

[2020-04-10 20:44] juliette-derancourt commented on #2254
Tentatively slated for 5.7 M1 for _team discussion_

[2020-04-11 09:55] marcphilipp commented on #2245
The garbled output probably comes from your output handling since the stacktrace is written to System.err and the help text to System.out.

The cause of the exception is that you haven't specified any selectors. `--include-tag=new` is not a selector but a filter. If you want to run all tagged tests on the classpath, please supply `--scan-classpath` as well.

[2020-04-11 10:12] jlink opened #2255 "Document JUnit 5 Platform Idea"
There is hardly any _official_ documentation about how to use and add to the JUnit 5 platform.
This might be useful for users of JUnit, for possible contributors of engines and for IDE and tools developrs.

## Deliverables

The follow list is just a first attempt at enumerating useful documents:

- [ ] What is the JUnit Platform all about?
- [ ] How to discover and run platform tests from any engi

[2020-04-11 10:35] Vazzilena commented on #2245
Many thanks for taking the time to reply.

I corrected my arguments to:

### --include-tag=new --scan-classpath=C:\junit-5/jars/nJUnitTests10.7.0.0.1.jar

(nJUnitTests10.7.0.0.1.jar is the jar that contains all the tests - bith junit4 and a single junit5 test).

It seems to be picking ALL tests now regardless where or not they use the @Tag annotation.

I was execting that it would pick that single

[2020-04-11 10:54] marcphilipp commented on #2255
I'm sure you're aware of the "Advanced Topics" chapter in the current user guide that demonstrates how to run tests using the Launcher API and how to use Testkit to test a custom engine. If I understand you correctly, you think what's missing is guides/tutorials for different use cases. Is that right?

[2020-04-11 11:18] marcphilipp commented on #2245
That's weird. I cannot reproduce this on my end. Please provide a minimal reproducer and open a new issue so we can investigate.

[2020-04-11 11:48] Vazzilena commented on #2245
Okay, so what fixed it for me was adding
`--include-engine=junit-jupiter --include-tag=@{tag} --include-classname=.* --scan-classpath=@{scan.classpath}`

Initially, when it was picking up everting I had both vitage and jupiter engines turned on.

I still do not understand why it would pick up all vitage test cases if I am supplying explicitly the tag option – maybe arguments have some precedence t

[2020-04-11 13:36] RoiEXLab opened #2256 "ParameterizedTest with varargs"
I'm using parameterized tests for quite a while now and for the most part they work really intuitive
.
However today I stumbled upon one thing that felt like it should work, but to my initial surprise didn't.
Basically I expected this code to work (in my case it was a `@CsvFileSource`, but doesn't matter):
[code]

I had a quick look at the implementation of the source suppliers and it looks like t

[2020-04-11 14:31] sormuras commented on #2255
Interesting that you created this topic today, @jlink -- I drafted a blog post called "Roll Your Own Test Engine" this very morning. It starts with:

In other words: yes, there should be an _official_ documentation about the JUnit Platform. A dedicated section in the User Guide could be good place for it, as it is the foundation for Jupiter and Vintage.

[2020-04-11 14:34] sormuras commented on #2255
/cc @khmarbaise + @svenruppert + @richardstartin - you might be interested in (helping out with creating, reviewing of, providing examples for) this JUnit Platform documentation as well.

[2020-04-11 14:49] marcphilipp commented on #2256
This works:

[code]

[2020-04-11 15:00] marcphilipp commented on #2256
Here's a version that works for any non-primitive component type:

[code]

[2020-04-11 15:01] sormuras commented on #2256
Interesting solution: `VarargsAggregator implements ArgumentsAggregator`

Wonder, whether the mapping and array-aggregation can be made so adoptable, that the `VarargsAggregator` could become a standard feature of the org.junit.jupiter.params module.

[2020-04-11 16:16] jlink commented on #2255
Maybe collecting some links to existing resources would be a good start. Besides your upcoming blog post, some of my talks about that topic are online and I could update the slides to reflect the current version.

[2020-04-11 16:34] svenruppert commented on #2255
I can add my stuff about Custom TestEngines for example.

[2020-04-11 17:00] khmarbaise commented on #2255
Currently I'm working on

If I'm at the state that it works I could collect some information......

[2020-04-14 09:06] parkavi11 opened #2257 "DisabledOnOs annotation does not disable on the OS environment"
I have disabled a particular test which will fail on Windows with the annotation `@DisabledOnOs(OS.WINDOWS)`

However, that particular test case runs in Windows and it fails (as the test case written for other OS except for Windows).
Looking forward to your early response on this.

I tried JUnit 5.6.2

Please find the below code that I ran:

### build.gradle

[code]

### Test.java

[code]

[2020-04-14 10:33] #1911 closed

[2020-04-14 10:50] szpak commented on #1911
Thanks @juliette-derancourt!

[2020-04-14 11:56] sbrannen commented on #2256
Tentatively slated for 5.7 M1 solely for the purpose of _team discussion_ regarding the possible introduction of a built-in `VarargsAggregator` that handles primitive and non-primitive array component types.

[2020-04-14 11:58] sbrannen commented on #2257
I've edited your comment to improve the formatting. You might want to check out this [Mastering Markdown guide](https://guides.github.com/features/mastering-markdown/) for future reference.

[2020-04-14 12:00] sbrannen commented on #2257
The `@DisabledOnOs` annotation is from JUnit Jupiter and cannot be used with the `@Test` annotation from TestNG.

If you want to use `@DisabledOnOs`, you must make sure that you are writing tests using the JUnit Jupiter programming model (i.e., `@org.junit.jupiter.api.Test`, etc).

In light of that, I am closing this issue as "works as designed".

[2020-04-14 12:00] #2257 closed

[2020-04-14 15:43] sbrannen opened #2258 "Remove deprecated event filtering methods in EngineTestKit API"
## Overview

#1950 deprecated the `all()`, `containers()`, and `tests()` event filtering methods in the `EngineTestKit` API for removal in JUnit Platform 1.7.0.

This commit tracks their removal.

## Deliverables

- [ ] Remove deprecated event filtering methods in EngineTestKit API
- [ ] Document removal in release notes

[2020-04-14 15:51] #2258 closed

[2020-04-15 21:04] fredlund opened #2259 "ConsoleLauncher: warn when using --select-class with a class that is not accepted by the --include-classname rules"
When using the ConsoleLauncher to execute tests in a class FirstTesterMon.java, selected by the option --select-class, no tests were found. This is correct, as I had not specified any --include-classname nonstandard rule.

However, it would have been really helpful to get a warning message in the style of:
WARNING: you have specified to scan a class FirstTesterMon; however this class will NOT be s

[2020-04-16 01:23] sormuras commented on #2259
Related to #733:

[2020-04-16 08:51] koretzki commented on #2229
thanks, @sarod for rising this.
I tried to fully embrace Junit 5 but had issues working it using the maven failsafe plugin 2.22.2-3.0.0-M4 (Junit 5.3-5.6.2), but never could make parallelism to work even with settings that worked in maven surefire (in 3 ways to set them).
The issue was the mixed Junit 4,5 testing environment. I moved them all to Junit 5 and it worked like magic in maven failsafe 2

[2020-04-16 22:16] sima-zhu opened #2260 "@ParamerizedTests {displayName}/{arguments} cannot show correctly in Maven's report"
## Steps to reproduce
Add the parameterized to tests.
[code]

**Expected to see:**
[code]
**Actual reports**
[code]

## Context

 - Used versions (Jupiter/Vintage/Platform): Win10 + jdk 11 + jupiter
 - Maven SureFire Plugin: 3.0.0-M4
 - Build Tool/IDE: Terminal

[2020-04-17 06:52] marcphilipp commented on #2260
You can configure Surefire to output the display names. Please refer to https://maven.apache.org/surefire/maven-surefire-plugin/examples/junit-platform.html#Surefire_Extensions_and_Reports_Configuration_for_.40DisplayName.

[2020-04-17 06:52] #2260 closed

[2020-04-17 07:32] sbrannen commented on #2259
Tentatively slated for 5.7 M1 solely for the purpose of _team discussion_

[2020-04-17 10:17] marcphilipp commented on #2159
In addition, we could add a new class-level `@TempDirCleanupStrategy` or `@TempDirCleanupMode` annotation to configure it per class.

[2020-04-17 10:26] marcphilipp commented on #2237
**Team decision:** We'd rather have our own codebase consistent than follow the official Kotlin style. Kase klosed.

[2020-04-17 10:26] #2237 closed

[2020-04-17 14:14] sdavids opened #2261 "Fix dirMode & fileMode for reproducible builds"
Follow up to https://github.com/junit-team/junit5/pull/2217

## Context

build.gradle.kts
[code]

See the corresponding in Gradle's build file:

https://github.com/gradle/gradle/blob/c28a59f06bae758fa610a35e23793e682b339c2e/build.gradle.kts#L309-L314

Also see

https://github.com/gradle/gradle/issues/10900

[2020-04-18 02:21] aepedraza commented on #981
@sbrannen I'd like to contribute the project and found this `up-for-grabs` issue. What remains to be done after @jadeleeuw 's contribution? In other words: in which direction should we point further research?

Thanks in advance for your time

[2020-04-18 05:54] sormuras opened #2263 "Add requires to module "org.hamcrest""
https://github.com/junit-team/junit5/blob/040037dfb08a0e61b7cb9e485196b0ba3758e756/junit-vintage-engine/src/module/org.junit.vintage.engine/module-info.java#L19

JUnit 4 mandates Hamcrest to be available at runtime and Hamcrest 2.2 (or earlier) claimed `org.hamcrest` as its stable module name.

https://github.com/hamcrest/JavaHamcrest/blob/5dd6a622c73daf716c6e8f33efa712be8dbb42ed/hamcrest/hamcrest

[2020-04-18 07:28] marcphilipp commented on #2263
Should we do this even though it‘s just a transitive dependency? Are there general recommendations how to deal with this situation in the presence of automatic modules?

[2020-04-18 09:44] sormuras commented on #2263
In general, one shouldn't. Or even: mustn't.

But -- as we are the maintainers of both modules, i.e. `org.junit.vintage.engine` and `junit`, we could. Or better: should.

If module `junit` was a Java module with a compiled module descriptor, it would declare `requires org.hamcrest;` on its own. Let's release `junit@4.13.1` with a `module-info.class` and let `org.junit.vintage.engine@5.7.0-SNAPSHOT

[2020-04-18 09:45] sormuras commented on #2263
⬆️ Correct, @nicolaiparlog?

[2020-04-19 06:57] #2261 closed

[2020-04-19 07:00] #2188 closed

[2020-04-19 07:48] marcphilipp commented on #1851
Resolves in `master` in [c5d658c](https://github.com/junit-team/junit5/commit/c5d658c5aa8e5550410e9691d90e3216fe9a55e4).

[2020-04-19 07:48] #1851 closed

[2020-04-19 14:57] #2171 closed

[2020-04-19 14:58] marcphilipp commented on #1771
Resolved by #2250.

[2020-04-19 14:58] #1771 closed

[2020-04-19 15:00] #2109 closed

[2020-04-19 22:55] Tibor17 commented on #2178
I found that the problem is not with the resolution of the artifacts in the POM. In the issue SUREFIRE-1688 we fixed very similar problem where the AssertionError was throws in BeforeAll method. Here we throw the RuntimeException in the same method and we get zero total tests which is the bug. So it looks like these two exceptions are handled differently in Surefire.

[2020-04-19 23:45] Vampire commented on #201
Mentioning here for the watchers that might prefer a solution, even if "slightly" awkward.
I posted a solution for using PowerMock with any JUnit platform based test, not only Jupiter tests, that leverages the JUnit 4 compatibility runner `JUnitRunner` provided by JUnit 5 at https://github.com/powermock/powermock/issues/830#issuecomment-616243661.

[2020-04-20 09:37] nikitaax3 commented on #1229
I try to set up parameterized tests for an interface. The test classes are abstract to provide custom source methods. Now, I want to use nested classes to structure my tests.
Is it possible to use non-static argument source methods?

[2020-04-20 11:57] sbrannen commented on #1229
Yes, see the answer in https://github.com/junit-team/junit5/issues/1229#issuecomment-355741728.

[2020-04-20 12:32] nikitaax3 commented on #1229
@sbrannen This did help a little bit, but produced another error, due that my method sources are not static. I try to explain:

[code]
The error I got then was this:
java.lang.IllegalArgumentException: object is not an instance of declaring class

This Version would work totally fine, if my method sources were static. But it is crucial to my test concept that they aren't.

My solution:
[code]
I ho

[2020-04-20 18:06] cobbce commented on #2178
Experiencing the same problem in which a runtime exception shows as 0 tests run-- any resolution on when a fix will be available. Pretty terrifying when your test runner silently fails...

[2020-04-21 06:31] marcphilipp commented on #2178
@Tibor17 If I understand you correctly, you're saying this issue might not be fixed by https://issues.apache.org/jira/browse/SUREFIRE-1688? If so, @ksiddu or @cobbce, please report a new issue on Surefire's issue tracker.

[2020-04-21 09:44] Tibor17 commented on #2178
@Tibor17 To be more concrete, the analysis showed me that the sources of the IT for 1688 and the sources [junit_fail.zip](https://github.com/junit-team/junit5/files/4180208/junit_fail.zip) in this GH bug are the same except the type of thrown exception. In the IT 1688 we call `fail("some text")` and here we throw `RuntimeException`. I have to debug our code to be more concrete because i also do no

[2020-04-21 09:47] Tibor17 commented on #2178
@ksiddu @cobbce Don't open Jira in the Apache. We have it and i will debug the code which may result to closing our issue and reopening the old one or keeping it, or it is JUnit5 bug. But now nobody knows this.

[2020-04-21 11:24] Tibor17 commented on #2178
This issue was handled in [Apache JIRA](https://issues.apache.org/jira/browse/SUREFIRE-1750) and closed as a duplicate an not reproducible.
Not reproducible after re-testing with the latest SNAPSHOT version.
This was fixed with in `SUREFIRE-1688` and `SUREFIRE-1741`.