[2017-09-22 15:18] sbrannen commented on #1059
All deliverables have been completed.

[2017-09-22 15:18] #1059 closed

[2017-09-22 15:24] sbrannen commented on #924
I tend to agree!

But one concern that the team has (which I forgot to mention -- sorry) is the topic of _split packages_.

Please excuse our ignorance, but...

Does a Kotlin extension have to reside in the same package as the Java class it is extending?

In other words, if we package the Kotlin extension for Jupiter's `Assertions` class, would the compiled version of `Assertions.kt` have to resid

[2017-09-22 15:29] sbrannen commented on #924
@sdeleuze,

Since we are already using Spring's `propdeps-plugin` (i.e., for the `@API Guardian`), I figured we'd just use it for Kotlin, too.

So, just to clarify...

Are are you saying you would recommend _against_ using the `propdeps-plugin` to declare Kotlin libraries as `optional` in the generated Maven POMs?

[2017-09-22 16:15] sbrannen commented on #1047
_in progress_

[2017-09-22 17:16] JLLeitschuh commented on #924
It does seem like a very few methods to create an entirely new artifact for (6 or so methods).
If you think that this API should reside in a different package than the one I put it in `org.junit.jupiter.api` (perhaps `org.junit.jupiter.api.kotlin`?) then maybe I could see an argument for not having it in the same artifact.

I'm not actually adding extension methods to the `Assertions` class. I'm a

[2017-09-22 17:20] JLLeitschuh commented on #924
Doesn't using `compileOnly` as I have in the [PR here](https://github.com/junit-team/junit5/pull/1001/files#diff-4e064bfaa486310969535672524d34bcR4) not add it as a dependency in the generated POM?

[2017-09-22 20:20] sdeleuze commented on #924
@sbrannen In fact split packages are another good reason for putting Kotlin JUnit extensions into the same JAR. Extension can live in the package you want, as described by @JLLeitschuh, but I think this is a good convention for users to make it live in the package of the class they extend. And since both `src/main/java` and `src/main/kotlin` are going into the same JAR in the same package, no spli

[2017-09-22 21:11] jbduncan commented on #1059
@sbrannen Looks great to me! Many thanks for fixing the name of `URIConverter` for me. :)

[2017-09-23 02:27] mannodermaus commented on #1024
As opposed to the Gradle plugin for JUnit 5 provided by the junit5 team? It basically only extends its core functionality with the variant-awareness that Android projects have. Instead of adding just a single `junitPlatformTest` task, the android-junit5 plugin applies a task per variant, `junitPlatformTestDebug` & `junitPlatformTestRelease`, while also taking care of potential product flavors.

[2017-09-23 02:37] leonard84 commented on #60
@marcphilipp no Spock doesn't have it's own `TestEngine` yet. As better support for parallelism would be a major part in it, I'd wanted to check in on this first before running in the wrong direction/doing redundant work. Switching to a own `TestEngine` will be done with Spock 2.0

[2017-09-23 12:45] sbrannen commented on #924
Hi guys,

Thanks for chiming in!

We'll take your feedback into consideration.

[2017-09-23 12:48] sbrannen commented on #924
Yes.

But... we prefer for the generated Maven POMs to tell the _whole story_, namely that there is in fact a dependency which just happens to be _optional_.

The complete absence of a declaration on a dependency in the generated Maven POMs does not convey the fact that such a dependency exists (even if only _optional_).

[2017-09-23 15:32] sbrannen commented on #1047
Work completed and pushed to `master`.

See previous commits.

[2017-09-23 15:32] #1047 closed

[2017-09-23 15:35] sbrannen commented on #1047
Note to developers: search for uses of `@TrackLogRecords` for examples of how to test logging with our logging façade. 😉

[2017-09-23 16:52] BogdanStirbat commented on #986
Hi!

For this issue, I added a new [pull request](https://github.com/junit-team/junit5/pull/1073).

[2017-09-23 18:44] marcphilipp commented on #1064
_in progress_

[2017-09-24 06:23] #600 closed

[2017-09-25 08:28] islandsvinur opened #1074 "Complain when @Test is applied to an inappropriate method"
## Overview

When writing tests in Groovy, it's tempting to use `def` for the test methods, since that is typically the way to go in Groovy. However, for `def` the compiler produces a method that returns `Object`.

If this was a method annotated with `@Test`, it would be silently ignored by JUnit, as it should be a `void` method. This leads to lots of pulled hairs and other frustrations.

[code]

[2017-09-25 09:42] bechte commented on #1074
Thanks for bringing up this issue.

We will have a look into it and provide a validation message that complains about the generated method or provide a fallback (and only printing a warning).

[2017-09-25 13:50] sbrannen commented on #1074
Closing this issue since it is a duplicate of #242.

[2017-09-25 13:50] #1074 closed

[2017-09-25 14:35] sealor opened #1075 "Bug: Tests don't fail under special conditions when using ExpectedExceptionSupport"
## Overview

**Bug report**

I noticed that my tests don't fail anymore when using `ExpectedExceptionSupport` without an exception rule. You can check that behaviour with the appended JUnit tests.

JUnit5 version:
[code]

## Deliverables

### 1st Test: ExceptionSupportTest
Actual behaviour: test succeeds.
Expected behaviour: test fails.

[code]

### 2nd Test: WorkingExceptionSupportTest
Works as e

[2017-09-25 14:38] sormuras commented on #1075
Duplicate of https://github.com/junit-team/junit5/issues/1069 ?

[2017-09-25 14:38] marcphilipp commented on #1075
Duplicate of #1069. Will be fixed in 5.0.1. See https://github.com/junit-team/junit5/issues/1069#issuecomment-330273039 for workarounds.

[2017-09-25 14:38] #1075 closed

[2017-09-25 19:24] #1064 closed

[2017-09-25 19:26] marcphilipp opened #1076 "Create release/5.0.x branch"
## Deliverables

- [x] Create releases/5.0.x branch starting from r5.0.0 tag
- [x] Cherry-pick commits of all issues assigned to the 5.0.1 milestone

[2017-09-25 19:58] jbduncan commented on #1076
I admit it's not clear to me why commits are being cherry-picked for 5.0.1, as opposed to releasing from a specific commit in master. Would you kindly clarify for me why it is being done this way, @marcphilipp?

[2017-09-25 20:02] marcphilipp commented on #1076
Because master already contains a few new features that we don't want to include in a minor bugfix release.

[2017-09-25 20:02] #1076 closed

[2017-09-26 20:07] vandanasingh9999 commented on #1054
i m java developer
wanted to contribute
can any one guide me how can i contribute in java coding
Thanks

[2017-09-26 20:20] jbduncan commented on #1054
Hi @vandanasingh9999, about a year ago, I wrote a response for someone else who asked a very similar question. I attach a link to that discussion below, as I think what was discussed there might help you move forward with understanding how you could contribute to JUnit 5.

https://github.com/junit-team/junit5/issues/528

I hope this helps!

Best regards. :smile:

[2017-09-26 20:24] jbduncan commented on #1054
@vandanasingh9999 And if you still feel stuck after reading over that link, please feel more than free to sign up to the [Gitter chatroom](https://gitter.im/junit-team/junit5) using your GitHub account and to ask for help again there. I, and perhaps others in JUnit 5 team or community, would be happy to point you in the right direction.

Again I hope this helps!

[2017-09-27 06:36] SqAutoTestTeam commented on #549
@sbrannen  It is certainly a good news about fix of this bug. In which version the fix is going to be released ?

[2017-09-27 06:50] alixwar commented on #1024
@JLLeitschuh Any thoughts on the explanation from @mannodermaus ? Is there something that I or someone else can do to help clarify the issue?

[2017-09-27 07:25] marcphilipp commented on #549
It was fixed in Vintage 4.12.0-RC3.

[2017-09-27 08:24] SqAutoTestTeam commented on #549
@marcphilipp Many thanks.

[2017-09-27 11:29] sormuras opened #1077 "Introduce ClassFilter for use in reflection utilities"
## Overview

Many methods in classes and interfaces of package `org.junit.platform.commons.util` are using the two parameters `classNameFilter `and `classTester` in their signature their like:
[code]
In most cases the actual values are just passed down the call-stack.

This issue proposes to introduce a wrapper named `ClassFilter` or `ClassTester` that could look like:

[code]

With such a type, t

[2017-09-27 12:25] sbrannen commented on #1077
Seems like a good idea to me.

Go for it!

[2017-09-27 15:23] JLLeitschuh commented on #1024
I don't work with any projects that use gradle for building android projects. I'm assuming that as long as you can get your android tests to run correctly using the `junitPlatformTest` task then the code snippet that I have provided should work.

If you have specific behaviour problems that you are experiencing then I may be able to help. At the moment I'm not totally certain I understand what the

[2017-09-27 23:33] mannodermaus commented on #1024
As discussed over at https://github.com/mannodermaus/android-junit5/issues/4, the latest SNAPSHOT release of the Android-based plugin for JUnit 5 implemented the first iteration of support for Jacoco out of the box, so there's nothing to be done from this side in that regard.

As for the Java-based JUnit 5 Gradle plugin, it could be a nice improvement to apply the code snippet for Jacoco integrati

[2017-09-28 09:41] roman-ponomarenko opened #1079 "Re-run failed tests immediately"
Since rules are not supported anymore, is there a way to re-run failed tests immediately using extension model?

[2017-09-28 09:55] sormuras opened #1080 "Add --scan-module-path support"
## Overview

Umbrella issue for adding `--scan-module-path` support to the JUnit Platform.

## Related Issues

- #1087 - [Multi-release JAR](http://openjdk.java.net/jeps/238) with `JigsawUtils` and module-path scanning support
- https://github.com/junit-team/junit5-samples/pull/36 - Sample running on the module-path

## Outdated Pull Requests

- Part I #1061 - SPI `ModuleClassFinder`
- Part II #10

[2017-09-28 11:03] mkobit commented on #1079
I wrote a pretty basic answer to how you could do this on [Stack Overflow](https://stackoverflow.com/a/46207476/627727)

[2017-09-28 11:08] sormuras commented on #1079
That `Retry` extension really rocks. Already offered it to @junit-pioneer ?

[2017-09-28 12:18] alixwar commented on #1024
I'm happy to report that from my perspective the issue with JUnit5 is resolved on Android. It works fine with the latest snapshot release of the plugin.

[2017-09-28 12:35] mkobit commented on #1079
Not yet, @sormuras , but it does seem like a good place for that.

[2017-09-28 14:46] alixwar commented on #1024
@JLLeitschuh I've created a sample project in the android plugin that illustrates the remaining issue (four different type of unit tests, three with working coverage): https://github.com/mannodermaus/android-junit5/pull/18

I realize that this is more of a problem for the Robolectric project (I've reported it here: https://github.com/robolectric/robolectric/issues/3397) but if any of you guys, who

[2017-09-28 16:38] sormuras commented on #1079
Or host it yourself and add it to this wiki page: https://github.com/junit-team/junit5/wiki/Third-party-Extensions :)

[2017-09-28 21:39] karollewandowski opened #1081 "Display name for @ParameterizedTest should only include consumed arguments"
Default display name for test using parameters from `@CsvSource` could be improved. Currently the following test:
[code]
will produce test name:
[code]

The reason is that generated test name contains all columns from record provided by `@CsvSource`. In above example the record `"value1,value2"` is converted to 2 columns: `"value1"` and `"value2"`. It would be better to include only actually used

[2017-09-29 10:44] #1077 closed

[2017-09-29 10:56] karollewandowski commented on #1081
I would be glad to contribute to project by implementing this feature. Please let me know whether I can create PR for that.

[2017-09-29 12:20] sbrannen commented on #1081
Hi @karollewandowski,

Yes, feel free to submit a PR for this.

But please keep in mind that the issue might not be limited to `@CsvSource`. Rather, it is perhaps an issue with `@ParameterizedTest` methods in general. Thus, we will need to see tests for all such cases.

Cheers!

[2017-09-29 12:20] sbrannen commented on #1081
Currently in the _5.1 Backlog_.

[2017-09-29 13:43] JFCote opened #1082 "Problem with malformed class name using scala + no test found"
## Overview

Bug Report
Using version 5.0.0 from Maven Central

Seems to be linked to this: https://github.com/junit-team/junit5/issues/401 but for scala instead of Kotlin.

I have a Play Framework project using Java but a lot of files are generated in Scala behind the scene. Junit 5 seems to be crashing because of the naming of one of these generated files.

My project compiles without problem. I

[2017-09-29 13:49] sbrannen commented on #1082
For starters, you have conflicting artifact versions in the classpath.

[code]

The constructor no longer exists after the GA release. So make sure that you have compatible versions for JUnit Jupiter, JUnit Platform (including build plugins), etc. and then post back here with your updated stack trace.

Cheers!

[2017-09-29 13:54] sbrannen commented on #1082
Note that the warnings about "Malformed class names" are just that: warnings.

So you can probably ignore them... unless you expect those things to be treated as actual "test classes".

[2017-09-29 14:34] sbrannen commented on #1082
Glad you sorted it out, and thanks for confirming it works!

[2017-09-29 14:35] sbrannen commented on #1082
There's no way to "turn it off" per se, but you could configure logging so that only errors are displayed to the console.

[2017-09-29 14:36] sbrannen commented on #1082
Having said that, we could consider changing that to a `DEBUG` level log message.

[2017-09-29 14:36] sbrannen commented on #1082
Closing this issue as _Works as Designed_.

[2017-09-29 14:38] sbrannen opened #1083 "Consider logging "Malformed class name" exceptions at DEBUG level"
## Overview

See discussion in #1082 for details.

## Deliverables

- [x] Log "Malformed class name" exceptions during classpath scanning at `DEBUG` level.

[2017-09-29 14:39] sbrannen commented on #1082
FYI: I opened #1083 to address the log level.

[2017-09-29 14:42] sbrannen commented on #1083
@junit-team/junit-lambda,

This is a quick _fix_ on a single line in `ClasspathScanner.logMalformedClassName(Path, String, InternalError)`.

Please let me know if there any objections; otherwise, I'll go ahead and make the change for 5.1.

[2017-09-29 14:56] marcphilipp commented on #1083
No objections from me.

[2017-09-29 20:15] marcphilipp opened #1084 "Vintage engine does not apply PackageNameFilters consistently"
## Overview

The Vintage engine does not apply `PackageNameFilters` when tests are selected via `ClassSelectors`, `MethodSelectors`, or `UniqueIdSelectors`.

## Deliverables

- [x] Apply `PackageNameFilters` when tests are selected via `ClassSelectors`, `MethodSelectors`, or `UniqueIdSelectors`.
- [x] Update Release Notes

[2017-09-29 20:39] marcphilipp opened #1085 "Merge 5.0.1 Release Notes into master when 5.0.1 is released"
## Deliverables

- [ ] Merge 5.0.1 Release Notes into master when 5.0.1 is released

[2017-09-29 20:51] marcphilipp commented on #1084
Fixed in `master` by c54f06b9e29949ea2d5fb561af1545ef46a2ad65 and in `releases/5.0.x` by 67c577355ed30e4d2a86c7af8d80521f320af3c5.

[2017-09-29 20:51] #1084 closed

[2017-09-30 12:34] sbrannen commented on #1083
_in progress_

[2017-09-30 13:13] sbrannen commented on #1083
Resolved in `master` in commit f922f8e2cf1a5574325c7777d7532704d8ccb774.

[2017-09-30 13:13] #1083 closed

[2017-09-30 13:13] #1082 closed

[2017-09-30 18:12] karollewandowski opened #1088 "Support methods from external classes in @MethodSource"
## Overview

Currently only methods from the same class as test can be referenced. It limits possibility of reusing code, eg. if multiple tests from multiple classes need "blank strings" then there is no simple way of defining it once and using in all tests.

There are 2 ideas for allowing to reference external class methods.

1. Allow to provide Fully Qualified Method Name (FQMN) in `@MethodSourc

[2017-09-30 20:04] sbrannen commented on #1088
Thanks for creating the issue!

Added to the 5.1 backlog for the time being and open to "team discussion" for which approach to implement.

[2017-10-03 13:04] marcphilipp commented on #1085
_in progress_

[2017-10-03 13:18] #1085 closed

[2017-10-03 19:29] #1081 closed

[2017-10-03 20:42] artsok commented on #1079
Already existed, try it.
https://github.com/artsok/rerunner-jupiter/

[2017-10-04 10:00] sormuras opened #1091 "Add module descriptors to all JUnit 5 modules"
## Overview

Conceal internal packages by moving from Level 1 "`Automatic-Module-Name`" to Level 2 "Publish modularized JAR": https://vimeo.com/289846017#t=1298s `21:38`

## Draft Pull Requests

* #1593 Modules via using Java 9 as release target  _outdated_
* #1844 Modules via extra compilation task
* #1846 Modules via @moditect
* #1847 Modules via `module` source set
* #1848 Modules via `src/modu

[2017-10-04 12:53] nobeh commented on #809
I also see similar output as @fbiville using JUnit 5.0.1/1.0.1 with Surefire 2.20.1:

[code]

[2017-10-04 13:00] shakuzen commented on #809
@nobeh AFAIK, JUnit 5.0.x is not compatible with Surefire 2.20+. It is only compatible with Surefire 2.19.1.
JUnit 5.1 is currently compatible with Surefire 2.20.1 (see the marked milestone for this issue).

[2017-10-04 17:40] aaschmid commented on #518
`@TestTemplate` (#14) is an alternative solution, closing issue

[2017-10-04 17:40] #518 closed

[2017-10-04 18:00] aaschmid opened #1092 "Support widening conversion for parameter resolution"
## Overview

Current behavior: `ParameterResolutionException`is thrown, e.g. `ParameterResolver [ParameterResolverReproducerTest$IntegerResolver] resolved a value of type [java.lang.Integer] for parameter [long arg0] in executable [void ParameterResolverReproducerTest.failing(long)], but a value assignment compatible with [long] is required`.

Desired behavior, e.g. a `long` parameter can be calle

[2017-10-04 18:29] BlueIce opened #1093 "Promote API Status of parameterized tests"
## Overview

According to the user guide the following types in the `junit-jupiter-params` module are currently annotated with API Status `EXPERIMENTAL`:

`ParameterizedTest`, `ArgumentConversionException`, `ArgumentConverter`, `ConvertWith`, `JavaTimeConversionPattern`, `SimpleArgumentConverter`, `Arguments`, `ArgumentsProvider`, `ArgumentsSource`, `ArgumentsSources`, `CsvFileSource`, `CsvSource`

[2017-10-04 18:37] rbtcollins opened #1094 "ExternalResource should implement AutoCloseable"
## Overview

This is a feature request. We've some code that uses ExternalResources like TemporaryFolder within a test method, and that would be cleaner if ExternalResource implemented java.lang.AutoCloseable -  a trivial implementation like

[code]

would be more than enough. Not suppling a patch per your request :)

## Deliverables

- [ ] ...

[2017-10-04 19:06] sormuras commented on #1091
Added "exports internal packages to friend modules" sections in description above.

[2017-10-04 19:52] HermanBovens commented on #163
I found this discussion because I noticed the weird naming of `@BeforeAll ` and `@BeforeEach`.  After I read the docs and learnt what the difference was, I wondered why `@BeforeAll` wasn't called `@BeforeAny` instead.  It would definitely have helped me (non-native English speaker) understand (without reading the docs) that the method is executed **before any** of the test methods get executed.

[2017-10-04 20:16] sbrannen commented on #1081
Thanks, @karollewandowski! 👍

[2017-10-05 01:11] sbrannen commented on #497
Hi @leonard84,

That's actually the primary goal of this issue, as laid out in this issue's description:

_This would allow a user to pass arguments to the extension's constructor (or `static` factory method) or to construct the extension programmatically, for example, via a method that returns the configured extension instance._

The example you mention is a static factory method of the concrete

[2017-10-05 18:18] sbrannen opened #1095 "Provide meaningful failure messages for assertTrue() & assertFalse()"
## Overview

The default failure message for `assertTrue()` and `assertFalse()` is currently `null` which means that the failure message for something like `assertTrue(false)` results in a stack trace like the following.

[code]

See: https://twitter.com/vogella/status/915968398370246657

## Deliverables

- [x] Provide meaningful failure messages for `assertTrue()`.
- [x] Provide meaningful failur

[2017-10-05 18:18] sbrannen commented on #1095
_in progress_

[2017-10-05 19:39] sbrannen commented on #1095
Resolved in commit 212dddb1f9e5e216a086ff13bc5c31ccfff8e8ba in `master`.

[2017-10-05 19:44] #1095 closed

[2017-10-06 10:37] sdecoppet opened #1096 "JUnit 5 does not report test when run with maven surefire and console logging is enabled"
## Overview

Running a JUnit 5 test together with maven surefire plugin does not report the test correctly if console logs are enabled. I use Maven 3.5.

Test class:

[code]

Output:

[code]

If `log = false` the result is correct:

[code]
Pom:

[code]

[2017-10-06 10:42] sdecoppet commented on #1096
I forgot to add that if I use a file appender instead of the console one it works!

[2017-10-06 10:43] marcphilipp commented on #1096
Wow, crazy...

Can you provide us with the complete sample project?

[2017-10-06 10:45] sormuras commented on #1096
I guess, it could related (possibly resolved by)  to https://github.com/junit-team/junit5/pull/1073

[2017-10-06 10:48] sdecoppet commented on #1096
Sure [test.zip](https://github.com/junit-team/junit5/files/1362419/test.zip)

[2017-10-08 19:45] bechte commented on #242
I have analyzed the scenarios mentioned within the issue. With the current state of the discovery mechanism in place, I can hardly see a way to solve this issue in some kind of general approach.

The places where the cases occur have very less in common and are spread throughout most of the discovery code base. In most situations, e.g. the lookup of the ```DisplayName``` in ```org.junit.jupiter.en

[2017-10-09 08:20] sormuras opened #1098 "Fix Javadoc @value tag usages"
## Overview

`RepeatedTest.java` uses `{@value name}` tags that are not resolved by Javadoc 9 anymore:

	 * <li>{@value #DISPLAY_NAME_PLACEHOLDER}</li>
	 * <li>{@value #CURRENT_REPETITION_PLACEHOLDER}</li>
	 * <li>{@value #TOTAL_REPETITIONS_PLACEHOLDER}</li>

Warnings:
[code]

## Deliverables

- ❌  Find syntax that works or replace by hard-coded values

[2017-10-09 08:35] sormuras opened #1099 "Update Asciidoctor PDF backend of the user-guide"
## Overview

The PDF backend of the User Guide is disabled at the moment, since it does not work with Java 9.

See `documentation/documentation.gradle:83` for backend configuration.

See https://github.com/jruby/jruby/issues/4805 for the underlying issue.

## Related Issues

- #770
- #777

## Deliverables

- [ ] Fix broken links:
  - [ ] link from PDF version of User Guide to release notes
  - [ ]

[2017-10-09 09:46] karollewandowski commented on #1088
I'd like to volunteer to implement this one when decision will be made.

[2017-10-09 16:41] akozlova commented on #1025
In IDEA, we have a feature to rerun failed tests or run selected test (also for parameterized test). Unfortunately it looks like, that it's impossible to support them for junit 5 in case of dynamic/template tests: all tests from the container are executed what is actually not, what user expects as the number of dynamic tests could be huge.

[2017-10-09 18:46] sormuras opened #1100 "CsvSource does not handle trailing spaces correctly"
## Overview

Copied from https://github.com/junit-team/junit5/pull/1016#issuecomment-334091550

I maybe found a bug with the CsvSource parser for empty strings. Consider the following example:

[code]

Where in the second test the string two is, as expected an empty string, in the third test the string two is ```null```. Obviously the parser is confused by the trailing blanks of the second paramet

[2017-10-09 18:46] sormuras commented on #1100
Good catch. Smells like a bug in https://github.com/uniVocity/univocity-parsers because if you switch the content inside the input, everything works as expected:

[code]
So, yes, please file a new bug -- even if the real issue lies potentially in an external library.

Edit: a simple fix on our side is `trim()` each line before feeding to the parser. I'm not sure whether this is breaking existing e

[2017-10-10 07:03] sormuras commented on #1100
Tentatively set to 5.1 M1 as the bug was fixed in the `univocity-parsers` 2.5.8-SNAPSHOT release.

[2017-10-10 09:22] jochenchrist opened #1101 "Support multiple annotations as source for Parameterized Tests"
Feature Request to simplify Parameterized Tests.

I am looking for an easy way to implement Parameterized Tests with multiple arguments.

While I could use `@CsvSource`, I'd appreciate multiple annotations, similar to NUnit's `TestCase`.

Example:

[code]

Any thoughts on this?

[2017-10-10 09:36] sormuras commented on #1101
You could either use a [MethodSource](http://junit.org/junit5/docs/current/user-guide/#writing-tests-parameterized-tests-sources-MethodSource) or unroll it to distinct (individually startable) test methods.

Why do you want to "program logic" with annotations, anyway?

[2017-10-10 09:47] jochenchrist commented on #1101
Thanks for the quick reply.
Sure, `MethodSource`will work as well, but for me, it is quite hard to read.

So, the feature request with multiple annotations is for readability and simplicity.

[2017-10-10 10:03] sormuras commented on #1101
In addition to the `MethodSource` solution, how about three more ways to achieve your goals?

This is my preferred way. Clean, simple, basic. Full life-cyle support. Full IDE support for executing a single test:

	@Test
	void test10() {
		calculate(10, "10000");
	}

	@Test
	void test20() {
		calculate(20, "20000");
	}

	@Test
	void test30() {
		calculate(30, "30000");
	}

Use `Assertions.assertAll

[2017-10-11 08:16] rumpfc opened #1102 "Surefire plugin ignores test classes which doesn't follow certain name pattern"
During some JUnit 5 training sessions I discovered that test classes are ignored by Surefire plugin if they don't follow a certain name pattern:

**class names where tests will run**

- MyJUnitTest
- TestFirstDynamicTestExample
- TestLoginLogout

**class names where tests are ignored**

- FirstDynamicTestExample
- LoginLogout
- MyJUnitExample

I don't know if that's on purpose or an accidental bug

[2017-10-11 12:33] sbrannen commented on #1102
Hi @rumpfc,

Out of personal curiosity regarding the "JUnit 5 training sessions" you mentioned, are you the trainer or the trainee?

And... can people check out the syllabus for these trainings?

[2017-10-11 12:35] sbrannen commented on #1102
This is how the Maven Surefire plugin works.

It supports a predefined set of test class name patterns by default, and these are documented here:

http://maven.apache.org/surefire/maven-surefire-plugin/examples/inclusion-exclusion.html

I am therefore closing this issue as _invalid_.

[2017-10-11 12:36] #1102 closed

[2017-10-11 13:04] rumpfc commented on #1102
With training session I mean self training after going through some tutorials and trying out different test cases to get familiar with JUnit 5 (I'm a software tester after all). I use both eclipse and maven to run tests and discovered that surefire only uses test classes with a certain pattern. I wasn't sure if this was a default setting and I wasn't aware of an existing documentation on maven web

[2017-10-11 13:10] sbrannen commented on #1102
Ah. OK.

You're welcome.

[2017-10-11 13:54] sbrannen opened #1103 "Disabled test classes should not be eagerly instantiated with PER_CLASS lifecycle mode"
## Overview

A [discussion on Stack Overflow](https://stackoverflow.com/questions/46640046/disable-test-with-spring-and-junit5-without-context-creation) has brought to my attention that a _disabled_ test class (which is configured with `PER_CLASS` lifecycle mode) is eagerly instantiated when it should not be.

In the example on Stack Overflow (simplified below), the Spring `ApplicationContext` is

[2017-10-11 14:44] sbrannen commented on #1103
Added _Analysis_ section.

[2017-10-12 05:13] namannigam opened #1104 "warning: unknown enum constant Status.STABLE while compiling org.junit.jupiter.api.Test using Java9"
## Overview

**Bug report.** Using the `junit-jupiter-api-5.0.0` with java version `"9" (build 9+181)` in IntelliJ `2017.2.5`(if that might matter)

Steps to reproduce:-
1. Add a JDK9 based module to the project.
2. Add JUnit5 to the classpath using IntelliJ's shortcut. (lib folder) [`junit-jupiter-api-5.0.0.jar`]
3. Note that it brings along the `opentest4j-1.0.0.jar` along with to the lib/ folde

[2017-10-12 05:31] sormuras commented on #1104
Include module `org.apiguardian.api` from https://github.com/apiguardian-team/apiguardian into your `lib` folder.

See Gradle example here: https://github.com/junit-team/junit5-samples/blob/master/junit5-java9-engine/build.gradle#L9

[2017-10-12 05:45] namannigam commented on #1104
@sormuras thanks for the prompt reply.
1. The link shared is Gradle. I am unable to find such an option for plain java project on IntelliJ(IJ). Is this a transitive dependency of `junit-jupiter-api`? Shouldn't IJ add that to the classpath as well?
2. Manually added the jar to the lib folder and the warning are no more there. But could you share any relevant link or provide some information about w

[2017-10-12 08:58] sormuras commented on #1104
See https://youtrack.jetbrains.com/issue/IDEA-178888 for details.

[2017-10-12 14:15] sbrannen commented on #809
**Update**

Reopening this issue since Maven Surefire 2.20.1 introduced a regression when executing tests on Java 9.

We should investigate this and decide whether to support Maven Surefire 2.20.1 in JUnit 5.1. If we decide against it, we could revert to 2.19.1 or wait for a follow-up release that fixes 2.20.1.

**Resources**

- https://github.com/spring-projects/spring-boot/wiki/Spring-Boot-with-

[2017-10-12 14:15] sbrannen commented on #809
@junit-team/junit-lambda I added the "team discussion" label in order to discuss this within the team.

[2017-10-12 14:36] sbrannen commented on #1104
Closing this issue as _invalid_.

[2017-10-12 14:36] #1104 closed

[2017-10-12 15:15] sbrannen opened #1105 "Reintroduce compile dependency on apiguardian-api in Maven POMs"
## Overview

Consider reverting the changes in #1065.

See discussions on Gitter and elsewhere.

- https://youtrack.jetbrains.com/issue/IDEA-178888
- #1064
- #1065
- #1104
- #1210

## Deliverables

- [x] Decide how to handle _optional_ dependencies such as the API Guardian and "nullability" annotations.
- [x] Reintroduce `compile` dependency on apiguardian-api` in generated Maven POMs.
- [ ] Docum

[2017-10-13 06:24] Tibor17 commented on #809
No, you should discuss to blame the Oracle. Because Oracle was the one who
wanted me to add --add-modules java.se.ee, and they removed certain Java
classes and unplugged modules even if they appear in JRE. This is the whole
root cause. Instead the Oracle could do what they planned years and years
ago, where they planned to provided "extensions" folder in JRE where
anybody could add new JRE librari

[2017-10-13 08:26] sdeleuze commented on #768
+1 for publishing the plugin, this is especially needed for Kotlin developers.

[2017-10-13 10:33] lavanyanalabolu opened #1106 "There was an error in the forked process"
Hi,

I have integrated my selenium web framework with the Git hub, which is successfully running on my windows machine, but same thing when iam trying to run on the Jenkins slave machine(linux, ubuntu), getting the following error.

My pom.xml looks like this
<?xml version="1.0" encoding="UTF-8"?>
<project xmlns="http://maven.apache.org/POM/4.0.0" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instan

[2017-10-13 10:41] sormuras commented on #1106
Where is the link to **JUnit 5**?

https://stackoverflow.com might be a better place for this issue.

[2017-10-13 10:41] #1106 closed

[2017-10-13 13:22] sbrannen commented on #1106
There isn't one.

The project in question only uses TestNG as a testing framework, so definitely posted to the wrong repo. 😜

[2017-10-13 13:23] sbrannen commented on #768
Switched to 5.1 Backlog

[2017-10-13 16:54] sbrannen commented on #1092
I'm not sure that we would want to implement this support directly in `ReflectionUtils#primitiveToWrapperMap` since it is a general purpose utility for the entire JUnit Platform.

[2017-10-13 16:55] sbrannen commented on #1092
In any case, we will need to reach a consensus within the team in order to take the next steps here.

@junit-team/junit-lambda I'm adding the "team discussion" label and slating for 5.1 M1 to get it on our radar early.

[2017-10-13 16:56] sbrannen commented on #1092
@aaschmid since this is not technically a "bug", I have reworded the issue's description.

[2017-10-13 18:04] aaschmid commented on #1092
Take your time, I have already implemented a workaround as Java allows it and the users of my junit-dataprovider most likely used it, I would would like to continue supporting it :-)

[2017-10-13 23:04] cschwarz-inco opened #1107 "Gradle plugin to support 'ignoreFailures'"
The Gradle plugin for JUnit 4 allows you to set 'ignoreFailures = true' so that failing tests do not fail the task.

There is no such option for the JUnit 5 gradle plugin. Please consider adding it.

The absence of this feature is a major roadblock for migrating to JUnit 5 as our builds rely on it heavily.

[2017-10-14 07:31] hanct opened #1108 "Unable to resolve org.junit.jupiter:junit-jupiter-api:5.0.1"
Hi,

I am using gradle to download junit.

My gradle file is very simple. It just contains only the below few lines, but I got unable to resolve org.junit.jupiter:junit-jupiter-api:5.0.1.  Any idea why is that so?

*My group id, artifact id and version number seems to be correct. And I am using kotlin-dsl for gradle.

plugins {
    java
}

dependencies{
    testCompile("org.junit.jupiter:junit-jup

[2017-10-14 08:35] sormuras commented on #1108
Seems like your build is missing a `repositories` section:

`repositories {	mavenCentral() }`

See https://github.com/junit-team/junit5-samples/blob/master/junit5-vanilla-gradle/build.gradle for a example Gradle build script.

[2017-10-14 08:35] #1108 closed

[2017-10-14 12:05] hanct commented on #1108
Yes. My fault. You are right. Thanks! Adding this solve the problem!

[2017-10-14 16:23] sbrannen commented on #1092
Do you have a specific example of where auto-unboxing does not work?

For example, if you look at the `testWithMultiArgMethodSource()` example in the User Guide, that already demonstrates that an `int` can be boxed into an `Integer` (by Java) and then unboxed into an `int` by JUnit Jupiter.

[2017-10-14 16:25] sbrannen commented on #1092
Got a link?

[2017-10-14 17:07] sbrannen commented on #1107
Closing this issue as a duplicate of #315.

[2017-10-14 17:07] #1107 closed

[2017-10-14 17:27] aaschmid commented on #1092
So my reproducer above does not help?

Here a short description: The actual problem is that `resolveParameter` returns `Object` such that every primitive type is automatically boxed for arguments. If the arguments would be of type `int` it could normally be applied to a method taking a parameter of type `long`, right? But because of the boxing it is now of type `Interger` and cannot be applied to

[2017-10-14 20:00] sbrannen commented on #1092
Thanks for the link to your work-around. Yes... it's a bit hacky. 😉

My point was that (AFAIK) JUnit Jupiter already supports auto-unboxing in this context.

But... you claim that it does not.

With regard to _widening_ conversions, I am aware that JUnit Jupiter does not provide widening conversions for arguments to parameterized tests.

So, in summary, I am merely attempting to limit the scope of

[2017-10-14 22:37] aaschmid commented on #1092
Hi @sbrannen,

I think the auto-unboxing is working fine, at least all my tests work find and no workaround is required :-)
The not working thing is the combination of auto-unboxing and widening conversion.

Cheers,
Andreas

[2017-10-15 04:46] codecholeric opened #1109 "Custom discovery of dynamic tests"
I'm pondering how to integrate JUnit 5 support into https://github.com/TNG/ArchUnit
The pattern with JUnit 4 was, to use a custom Runner, then write sth. like
[code]
How would you propose, I'd migrate this? I have a couple of ideas, just wanted to make sure I'm not running in a wrong direction here:

* I could use `@TestFactory` in a base class, scan for `@ArchTest`'s and generate dynamic tests
*

[2017-10-15 15:15] sbrannen opened #1110 "Introduce getOrComputeIfAbsent() variant for default constructor in ExtensionContext.Store"
## Overview

After gaining experience with implementing extensions that wish to store a single object a given type using the type's default constructor, I have discovered that I always copy-n-paste the following code snippet to each extension implementation (where `X` is the type of object supported by the extension).

[code]

This pattern can be seen in `@TrackLogRecords.Extension.getListener(Ext

[2017-10-15 15:17] sbrannen commented on #1110
_in progress_

[2017-10-15 16:18] sbrannen commented on #1110
Resolved in `master` in commit f052e3f09a1032c264e51bb7e6b99771a28a8c61.

[2017-10-15 16:18] #1110 closed

[2017-10-16 03:37] #1100 closed

[2017-10-16 08:44] sdeleuze commented on #768
@Minecrell As reported [here](https://github.com/sdeleuze/spring-kotlin-fullstack/issues/1), this workaround seems to work only when the plugin is in Gradle cache. I have raised the point to gradle team and am waiting their feedback.

[2017-10-16 09:00] jochenchrist commented on #1101
@sormuras your recent examples are totally correct, but not really regarded to Parameterized Tests ;-)

Surly these are different ways how to express the different cases. My point is simply to make it as easy as possible to read and understand the tests, which is not really the point for current implementation of @ParameterizedTest

So, I'd suggest to keep the feature request open for a while for

[2017-10-16 11:50] ogregoire opened #1111 "Show parameter in Maven's report of failed parameterized tests"
## Overview

- ( ) **Feature request.** When I'm writing parameterized tests, I'd expect Junit to tell me which parameterized test failed.

For instance, the following code should tell me that it's `"def"` that's failing.

      @ParameterizedTest
      @ValueSource(strings = {"abc", "def"})
      void doSomeTest(String str) {
        assertTrue("abc".equals(str));
      }

Here's its output:

	Ru

[2017-10-16 16:19] mkobit opened #1112 "Repeated meta-annotations of @ArgumentsSource requires the @ArgumentsSource at test location"
## Overview

I was writing up an example for https://github.com/junit-team/junit5/issues/1101 which contains an example like this:

[code]

Where `@Parameter` contains something like `@ArgumentsSource(ParameterSource.class)`. Running this yields an exception with `org.junit.platform.commons.util.PreconditionViolationException: Configuration error: You must provide at least one argument for this @P

[2017-10-16 16:24] mkobit commented on #1112
Also sort of related, IntelliJ does not recognize the meta `@ArgumentsSource` and shows intentions that says _"No sources are provided, the suite would be empty"_.

![IntelliJ Junit 5 test source code showing invalid inspection](https://user-images.githubusercontent.com/1447148/31623247-775e33ec-b264-11e7-918e-90fbd01b6e08.png)

[2017-10-16 16:25] sormuras commented on #1112
Neat work @mkobit -- but is it really worth the effort? Using single annotations to pass arguments into a parameterized test limits the type of parameters that are allowed as [return types in annotation](https://docs.oracle.com/javase/specs/jls/se9/html/jls-9.html#jls-9.6.1) members. Which are not many at all:

- A primitive type
- `String`
- `Class` or an invocation of Class (§4.5)
- An enum type

[2017-10-16 16:26] sormuras commented on #1112
That smells like an IntelliJ IDEA bug...

[2017-10-16 16:39] mkobit commented on #1112
I don't know if it is worth the effort (I'm leaning towards no), but I did find the behavior to be a bit surprising. I think in most cases you are going to want to use a `@MethodSource` or a custom `ArgumentsSource`.

Agreed, I will probably follow up at some point to file an issue. Just dropping it here in the mean time so I don't forget about it.

[2017-10-16 16:42] mkobit commented on #1101
You are restricted by the types that can be in an annotation, so keep that in mind when you are trying to model these tests.

If you do really want this behavior, you could implement your own extension, too.

* Annotation

[code]
* Repeatable annotation

[code]
* Extension

[code]

* Test

[code]

What would you like to see built into JUnit 5 to support your use case?

[2017-10-16 16:54] mkobit commented on #1088
The current `@MethodSource` is not `@Repeatable` (possibly by design?) so option 2 might need to factor in method sources from different classes.

[2017-10-16 17:44] sormuras commented on #1111
Which tool do you use to execute your tests?

If you execute them via the [console launcher](http://junit.org/junit5/docs/current/user-guide/#running-tests-console-launcher) or within an IDE, you get what you expect.

[2017-10-16 19:03] ogregoire commented on #1111
I'm using Maven. Good ol' plain Maven.

[2017-10-16 19:32] jochenchrist commented on #1101
Thanks for your neat example.
Unfortunately Java is quite limited what is allowed for Annotation values.

The generic solution would a String array for value() similar to `@ValueSource`

Annotation
[code]

ParameterSource:
[code]

Test:
[code]

IMHO this is still more readable than CSVSource, which I expect to see often:
[code]

[2017-10-17 10:31] hwellmann opened #1113 "Surefire provider should not build test plan per class"
## Overview

I'm using a custom `TestExecutionListener` registered via `META-INF/services` which implements `testPlanExecutionStarted()` and `testPlanExecutionFinished()` to execute some custom setup and teardown which needs to be executed just once per suite/plan, and not once per class.

JUnit version: 5.0.1

### Expected Behaviour

When running `mvn test` on a project, my listener gets invoked

[2017-10-17 13:07] sormuras opened #1114 "Revise TestEngine default implementations"
## Overview

The current implementation of `getArtifactId()` and `getVersion()` in interface `TestEngine` use a script-like reflection hack to retrieve the respective information. With the MRJAR support introduced this can refactored to a clean, compiled solution.

## Deliverables

- [ ] Remove `ReflectionUtils.invokeGetters`
- [ ] Implement and use `ModuleUtils.getModuleName(Class<?>)`
- [ ] Impl

[2017-10-17 13:09] sormuras opened #1115 "Revise ModuleSelector handling"
## Overview

The current `ModuleSelector` handling uses a special name, namely `ALL-MODULES`, to scan all resolved modules found in the boot layer configuration.

## Deliverables

- [ ] Try an alternate solution that does not need the special name

[2017-10-17 13:17] akozlova opened #1116 "Fix typo to preserve loggers configured by classes in org.junit.jupiter.engine.FullLogging"
Sorry for the noise, used old sources.

[2017-10-17 13:19] akozlova commented on #1116
[code]

[2017-10-17 13:23] #1116 closed

[2017-10-17 13:30] marcphilipp commented on #1116
No worries! 🙂

[2017-10-17 14:25] sormuras commented on #1114
See branch https://github.com/junit-team/junit5/commit/e6f8cb4666f5e94d71040d7e7a72a1907a91157c

[2017-10-17 15:19] sormuras commented on #1114
The `code coverage` step on Jenkins fails because we prevent the MRJAR to be used in conjunction with Clover. Mh... disable that test while sampling code coverage?

https://junit.ci.cloudbees.com/blue/organizations/jenkins/JUnit5/detail/revise-testengine-impl/1/pipeline#step-47-log-287

[2017-10-17 16:41] marcphilipp commented on #1115
_in progress_

[2017-10-17 18:04] #1115 closed

[2017-10-17 19:09] sormuras opened #1119 "Add --select-module support to JUnitPlatformPlugin"
## Overview

JUnit Platform now supports `--select-module` and `--scan-module-path`.

## Deliverables

- [ ] Add `--select-module` support to our Gradle `JUnitPlatformPlugin`

[2017-10-18 09:17] #1114 closed

[2017-10-18 12:18] Minecrell commented on #768
@sdeleuze Weird, it's still working for me after deleting the `~/.gradle` cache. It downloads the JUnit Gradle plugin automatically.

I think this is something that is broken specifically only for your project. I can't tell for sure, but it looks like the issue in your case is somehow connected to the custom Maven repository and the specific setup of the POM of `org.springframework.boot:spring-boo

[2017-10-18 12:26] sdeleuze commented on #768
@Minecrell It works in your case probably because all your artifacts are in Maven Central, when you are using multiple repos, it is broken, see https://github.com/gradle/gradle/issues/3210#issuecomment-337156450.

[2017-10-19 07:12] marcphilipp commented on #1113
I'm afraid there's no easy fix. Surefire's whole execution and reporting is tightly coupled to having test classes. You have to call `testSetStarting` for each. The way it works now is really stupid, but I'm not sure how we can call `testSetStarting` from the `RunListener`.

[2017-10-19 18:45] marcphilipp commented on #1105
Team decision:

Try if we can get rid of these warnings by removing the static imports of `API.Status` enum constants.

[2017-10-19 19:07] marcphilipp commented on #1080
Closed in favor of #1119.

[2017-10-19 19:08] #1080 closed

[2017-10-19 19:12] marcphilipp opened #1120 "Rollback to Surefire 2.19.1"
## Overview

Rollback to Surefire 2.19.1 because 2.20.1 does not work on Java 9.

## Deliverables

- [ ] Rollback to Surefire 2.19.1 in junit-platform-surefire-provider

[2017-10-19 19:55] sormuras commented on #1105
I doubt that will work. What would work is to let `status()` return a simple `String`.

[2017-10-19 23:19] henryzhang1 opened #1121 "ant noframe report extra test for ParameterizedTest"
Junit5 version: 1.0.1
Test class:
@RunWith(JUnitPlatform.class)
public class Junit5SampleUnitTests
{
    @DisplayName("Parameterized positive tests")
    @ParameterizedTest
    @ValueSource(strings = {"aba", "cbggbc"})
    public void testPositivePalindromes(String argument)
    {
        assertTrue(isPalindrome(argument));
    }
   private boolean isPalindrome(String testString)
    {...}
}
Comma

[2017-10-20 03:15] lgiorcelli opened #1122 "Error combining TestSuite with ParameterizedTest"
## Overview
Hi, I'm trying to combine a ParameterizedTest with a TestSuite, but it does not work. The only message that I get is "test not started", if there is other tests in the same file, none of them start.
After some combinations, I found the minimal expression that fails.

This is happening to me in IntelliJ Idea 2017.2.5
Jupiter api, engine and params version: 5.0.1
junit-platform-runner ve

[2017-10-20 05:56] marcphilipp commented on #1121
This happens because Ant uses JUnit 4 to execute your test which does not really support the concept of a _dynamic_ test but considers all leaves in the initial test tree as tests.

In this example the initial test tree looks like this:

[code]

Thus, JUnit 4 considers `testPositivePalindromes(String)` a test. At runtime, there will be two invocations which will be reported as additional, _dynamic

[2017-10-20 06:31] marcphilipp commented on #1105
I tried removing the static imports but it doesn't help. I see the following possibilities:

1. Make the dependency mandatory again
2. Change `@API` to use `RetentionPolicy.SOURCE` and stop using reflection to analyze it but rather some library that parses Java source code and provides access to annotations on the resulting AST
3. Introduce meta-annotations in apiguardian-api, e.g. `@Stable(since

[2017-10-20 08:23] luolong commented on #1105
Not part of JUnit team, but if option 3 solves the problem, then I would vote for that...

[2017-10-20 08:38] sormuras commented on #1105
+1 for option 3 as well  ... maybe w/o the `@API(status = Stable)` part, as that may re-introduce an enum-dependency again.

Replace `@org.apiguardian.api.API` with:

- `@org.apiguardian.api.Internal`
- `@org.apiguardian.api.Deprecated`
... collides with `java.lang.Deprecated` when used with an import statement?
- `@org.apiguardian.api.Experimental`
- `@org.apiguardian.api.Maintained`
- `@org.apig

[2017-10-20 08:38] luolong commented on #1111
Yeah. Maven reporter needs some love ...

[2017-10-20 08:44] sormuras commented on #1105
Option 4 can be provided along with option 3. Something like:

`@org.apiguardian.api.API(status="INTERNAL")`

The string values could be mapped to well-known annotation at inspection-time (ignoring characters case) and unknown string values can be collected and reported by an inspection tool. That enables custom categories.

[2017-10-20 08:44] luolong commented on #990
So how come Gradle reports are fine?

[2017-10-20 09:56] marcphilipp commented on #990
Because our Gradle plugin uses `ConsoleLauncher` to write these XML reports.

[2017-10-22 11:15] #1119 closed

[2017-10-22 11:40] #1120 closed

[2017-10-23 09:29] krystiankk opened #1125 "Classpath is too long 206 error"
When running Junit5 on our huge project we are getting our classpath to the size of 35.8k when Windows (unfortunately) supports 32k only. I'm not sure how JUnit4 tests are handled in Gradle but it all works fine.

This is how its done in the plugin and it seems to do what it says but it creates a massive classpath and we are using Windows, sadly.

classpath = project.sourceSets.test.runtimeClasspa

[2017-10-24 15:03] kcooney commented on #1094
Thanks for the contribution.

`ExternalResource` is defined in https://github.com/junit-team/junit4 (a different GitHub project) so please file feature requests for it there.

In any case, a test shouldn't call `ExternalResource.after()` because the framework calls it for you.

[2017-10-24 16:50] wrlyonsjr commented on #878
Is this feature on the roadmap?  I can't migrate to 5 without it.

[2017-10-24 16:51] wrlyonsjr commented on #878
...unless someone knows of a workaround.

[2017-10-24 17:13] jkschneider commented on #878
@wrlyonsjr I flipped it around with [Micrometer's TCK](https://github.com/micrometer-metrics/micrometer/blob/master/micrometer-test/src/main/java/io/micrometer/core/tck/MeterRegistryCompatibilityKit.java) by defining an abstract class with my test methods, each of which takes an implementation of `MeterRegistry`, for which there are many implementations. The `RegistryResolver` extension injects th

[2017-10-24 18:05] wrlyonsjr commented on #878
It seems like my problem could be solved with TestTemplate et al.

[2017-10-25 01:52] tmurakam opened #1126 "surefire provider should accept empty string for includeTags and excludeTags"
## Overview

The junit-platform-surefire-provider does not accept empty string for includeTags and excludeTags properties.

It is inconvenient, because I can't  use default value in pom.xml and overwrite it with -D option.

## Detail

When I pass empty string to includeTags/excludeTags, following exception occurs:

[code]

## Deliverables

- [ ] JUnitPlatformProvider.getPropertiesList() should acc

[2017-10-25 09:10] sormuras commented on #1037
Closing this non-issue.

If speed is ever a) a real concern here and b) can be optimized with caching on Travis CI, feel free to re-open it.

[2017-10-25 09:10] #1037 closed

[2017-10-25 14:21] JLLeitschuh commented on #1037
Fair enough.

[2017-10-25 15:51] bangarharshit commented on #672
This is also super useful with Robolectric.

[2017-10-25 17:16] JLLeitschuh opened #1127 "Nest test log output under test logging tree"
## Overview

I may be asking for the moon here due to technological limitations. However, I figure that I should pose this anyways.

I really love the Junit5 tree structured logging output.

However, when you have test logging scattered throughout that code it breaks how it looks.

For example:
[code]

This would look much better if It could be formatted like this instead:

[code]

I'm assuming th

[2017-10-25 17:28] sormuras commented on #1127
Neat idea.

With messages that are routed through the `org.junit.jupiter.api.TestReporter` we already indent the message and draw the right amount of branches. See https://travis-ci.org/junit-team/junit5/builds/291100399#L1188 and a usage example here http://junit.org/junit5/docs/current/user-guide/#writing-tests-dependency-injection (scroll down a bit).

Either pass the report instance to the cla

[2017-10-25 17:33] sormuras commented on #1127
Somehow related issue: #712

[2017-10-25 17:34] JLLeitschuh commented on #1127
Do you have a suggestion of how to do this with `slf4j`? We aren't using the builtin java logger in our product.
I'm assuming if I configure our `logback.xml` file correctly we could get this to work.
A sample of how to do this in the user guide would be really useful too.

[2017-10-25 18:36] sormuras commented on #1127
Mh, you can't create an appender/handler at runtime through SLF4J, can you?

LogBack provides a https://logback.qos.ch/manual/appenders.html#SiftingAppender ... which could help here. Or not. Not sure. :)

In a simple project that uses "poor man's logger" `System.out` I achived the goal via:

    @Test
    @AssumeOnline
    void resolve(TestReporter reporter) throws IOException {
      Bach.log.ou

[2017-10-25 18:40] JLLeitschuh commented on #1127
There would have to be an API to allow for the configuration of SLF4J prior to any test running for this really to be used practically.
You'd want to have some way to statically get the test reporter before any Junit 5 tests get executed.

[2017-10-25 19:01] mkobit commented on #1105
I like the individual annotations in `@org.apiguardian.api.Stable` [presented above](https://github.com/junit-team/junit5/issues/1105#issuecomment-338143980), but that could be because it seems like the approach that most projects take. Some examples being:

* [Apache Flink](https://ci.apache.org/projects/flink/flink-docs-release-1.3/api/java/org/apache/flink/annotation/package-summary.html)
* [Ap

[2017-10-26 07:39] koretzki commented on #964
not sure if is part of the same issue,

I am trying to migrating a maven project from JUnit4 to JUnit5.
I am using maven-surefire-plugin and maven-failsafe-plugin to run tests.

When I added the needed dependencies in pom.xml file for the plugins,
the tests do run but they do not execute in parallel like they used to do without the dependencies (the plugins have the thread use in their configurati

[2017-10-26 08:07] marcphilipp commented on #964
Regarding Maven: `parallel` is not supported at the moment, but `forkCount` should work.

@koretzki Can you please try that?

[2017-10-26 11:50] koretzki commented on #964
Yes, it does work,
but I require it to run as threads, might cause issue with our environment.
Do you know of when should it be supported in Maven or Gradle ?

[2017-10-26 13:20] marcphilipp commented on #964
The plan is to handover the plugin to the Maven Surefire team. Please consult them regarding their roadmap. /cc @Tibor17

[2017-10-26 20:31] BlueIce opened #1128 "Difference between JUnit 4 and Jupiter when using rules and ExternalResourceSupport"
## Overview

I noticed that in Jupiter tests a rule is not picked up when a method is annotated with `@Rule` and the return type is a subclass of `ExternalResource`. Here is an example test case for JUnit Jupiter:

[code]

And an equivalent JUnit 4 test case :
[code]

Console output JUnit Jupiter:
[code]

Console output JUnit 4:
[code]

For one the rule with a return type of `ExampleExternalResour

[2017-10-27 11:55] wlsc commented on #60
Any news on that topic?

[2017-10-27 20:41] mmerdes commented on #1128
@BlueIce
Thanks for raising the issue. Will take a look - might take some time however.

[2017-10-29 12:38] marcphilipp commented on #1125
@krystiankk Can you please try using this plugin and let us know if it solves the issue? https://github.com/viswaramamoorthy/gradle-util-plugins

[2017-10-29 15:57] marcphilipp commented on #60
Not yet, I‘m afraid.

[2017-10-29 15:58] #1094 closed

[2017-10-29 16:00] #1121 closed

[2017-10-29 16:08] marcphilipp commented on #1128
_in progress_

[2017-10-29 16:09] marcphilipp commented on #1127
I think a far more general approach would be to capture stdout/stderr for every test case.

[2017-10-29 16:11] marcphilipp commented on #1127
Closed in favor of #780.

[2017-10-29 16:11] #1127 closed

[2017-10-29 16:13] marcphilipp commented on #1111
The root cause is that Surefire does not support non-technical display names. I'm therefore closing this issue as duplicate of #990.

[2017-10-29 16:13] #1111 closed

[2017-10-29 16:19] marcphilipp commented on #1112
@mkobit Have you tried annotating your container annotation with `@ArgumentsSource`, too?

[code]

[2017-10-29 16:25] Ukrainis commented on #997
Hello,
Having the same issue:

Having this problem, when trying to execute build task.
Used components: Junit 5.01, Java 8, Gradle 4.2.1.

[2017-10-29 16:29] marcphilipp commented on #1109
Sorry for the long response time!

How about something like this:

[code]

[code]

`@ArchTest` could be meta-annotated with `@ExtendWith(ArchUnitExtension.class)`.

[2017-10-29 16:44] mkobit commented on #997
I think your version is incorrect - `5.0.1` instead of `5.01`

[2017-10-29 16:51] Ukrainis commented on #997
My gradle.build file:
group 'com.selenium.tests'
version '1.0-SNAPSHOT'

ext.junitJupiterVersion     **= '5.01'**
ext.seleniumVersion         = '3.6.0'
ext.log4jVersion            = '2.9.0'
ext.junitPlatformVersion    = '1.0.1'

buildscript {
    repositories {
        mavenCentral()
    }
    dependencies {
        classpath 'org.junit.platform:junit-platform-gradle-plugin:1.0.1'
    }
}

apply p

[2017-10-29 16:54] marcphilipp commented on #1101
You can also write the above like this:

[code]

Another possible API for an extension:

[code]

In my opinion, readability differs only very slightly. Thus, I'm closing this issue for now but encourage you to implement it as an extension. 🙂

[2017-10-29 16:55] marcphilipp commented on #809
@Tibor17 Will this be fixed in 2.20.2 or 2.21?

[2017-10-29 17:02] marcphilipp commented on #1079
Already available as an extension.

[2017-10-29 17:02] #1079 closed

[2017-10-29 17:03] marcphilipp commented on #1091
@sormuras This should be done in 5.1, right?

[2017-10-29 18:06] marcphilipp commented on #1096
It seems that printing to the stdout indeed breaks the Surefire provider. The line `6,1,TestLogs,test(),null,null,null` is actually Surefire's internal protocol for communicating between the forked JVM and the JVM running Maven. Setting `forkCount=0` fixes the problem. So it may indeed be fixed by #1073. So, let's get that merged first and test again.

[2017-10-29 18:13] marcphilipp commented on #1122
The test suite uses the `JUnitPlatform` runner which is an interim solution to run JUnit 5 tests in IDEs and build tools that do not support JUnit 5, yet. It uses JUnit 4 internally which does not support tests "appearing" at runtime. Thus, it does not report invocations of parameterized tests. Unfortunately, the JUnit Platform does at this time not support declarative test suites (see #744). For

[2017-10-29 18:13] #1122 closed

[2017-10-29 20:45] Tibor17 commented on #809
@marcphilipp
OOM was fixed in the most recent version, means 2.20.1.
Is it this what you are asking for?

[2017-10-30 03:57] raniejade opened #1130 "Maven surefire provider NPE w/ the Spek TestEngine"
## Overview

For some reason running tests in maven: `mvn -e test`, causes an NPE when using Spek. It works for JUnit 5 (Jupiter), are we doing something wrong when implementing the Spek `TestEngine`?

[code]

Full detail of the issue can be found here:  https://github.com/spekframework/spek/issues/303

Also a demo project can be found here: https://github.com/devonhumes/spek-kotlin-maven-error-ou

[2017-10-30 07:02] marcphilipp commented on #809
I was referring to the incompatibility with Java 9 (see the two links posted by Sam in https://github.com/junit-team/junit5/issues/809#issuecomment-336150721).

[2017-10-30 07:22] marcphilipp commented on #1130
Looks like `stackTraceWriter` is `null` here:
https://github.com/apache/maven-surefire/blob/surefire-2.19.1/maven-surefire-common/src/main/java/org/apache/maven/plugin/surefire/report/DefaultReporterFactory.java#L346

Apparently (there's no documentation on this), a Surefire `ReportEntry` that is passed to `testFailed()` must have a `stackTraceWriter`. However, our Surefire provider is only settin

[2017-10-30 07:24] Tibor17 commented on #809
It is compatible. Set --add-modules if you want another, or leave it and
Surefire will use java.se.ee.
Nobody yet needs module-info.

On Mon, Oct 30, 2017 at 8:02 AM, Marc Philipp <notifications@github.com>
wrote:

--
Cheers
Tibor

[2017-10-30 07:26] Tibor17 commented on #809
@marcphilipp
This issue is about OOM and not Jigsaw, hm?

[2017-10-30 07:27] marcphilipp commented on #809
Originally, yes. However, we can't update to 2.20.1 because it would break compatibility with Java 9.

[2017-10-30 07:33] raniejade commented on #1130
@marcphilipp Gladly :+1:

[2017-10-30 09:23] raniejade commented on #1130
@marcphilipp any way to install artifacts locally? Want to test it out w/ Spek.

[2017-10-30 09:36] marcphilipp commented on #1130
`./gradlew install` should work.

[2017-10-30 09:42] krystiankk commented on #1125
@marcphilipp I did fix it doing below, but then I found this classpath plugin and yes it works just fine.
Thank you.

    def version = "5.0.1"
    def platformVersion = "1.0.1"
    def vintageVersion = "4.12.1"
    def projectCp = "${project.name}Classpath.jar"

    dependencies {

    compile "org.junit.jupiter:junit-jupiter-api:$version"
    compile "org.junit.platform:junit-platform-launcher:$

[2017-10-30 10:06] marcphilipp commented on #1125
Thanks for letting us know!

@junit-team/junit-lambda Do you think we should build such a "manifest JAR" by default in our Gradle plugin?

[2017-10-30 10:14] krystiankk commented on #1125
No problem! I'm glad I could help.

Ps.  I am wondering how does Gradle natively run JUnit4 tests that those work with long classpaths atm?

[2017-10-30 10:19] marcphilipp commented on #1125
I'm not sure, they're bound to be doing something similar.

[2017-10-30 19:04] marcphilipp commented on #1128
Fixed by #1129.

[2017-10-30 19:04] #1128 closed

[2017-10-30 19:11] marcphilipp commented on #1096
Blocked by #1073.

[2017-10-30 19:16] marcphilipp commented on #1096
@sdecoppet I just tried running your test project locally with locally installed snapshots from #1073 and those fix it.

[2017-10-30 19:42] marcphilipp commented on #1099
jruby/jruby#4805 is solved but we'll have to wait for JRuby 9.1.14 to be released.

[2017-10-31 08:08] sormuras commented on #1091
It depends. Category: nice-to-have.

As we already support and provide JDK-9 features in this artifact, a module descriptor could be introduced here as well. With it, we only export the packages to other modules we want to be used/read by external parties.

But from a higher point of view, we could post-pone this feature until will are able to add module descriptors to all of our artifacts. Perhap

[2017-10-31 08:34] sormuras commented on #1099
Only 12% to go... https://github.com/jruby/jruby/milestone/66

[2017-10-31 12:09] sbrannen commented on #1091
What about the following artifacts?

- junit-platform-runner
- junit-platform-surefire-provider
- junit-jupiter-params
- junit-jupiter-migrationsupport
- junit-jupiter-api

All of the above consume packages from `commons.util` and potentially from commons.logging` as well.

[2017-10-31 12:25] #1130 closed

[2017-10-31 13:02] sormuras commented on #1091
True. All of our modules that read types from concealed commons packages need to be listed here. My local test branch, which doesn't use all of the modules you listed, worked with the module descriptor shown above.

Another quirk/flaw is the `requires java.compiler;` due to the usage of `javax.lang.model.SourceVersion` in `PackageUtils`. I tend to replace that usage with a similar function and dro

[2017-10-31 13:03] sbrannen opened #1132 "Improve documentation of supported utilities in the User Guide"
## Overview

The current content of the [Supported Utilities in Extensions](http://junit.org/junit5/docs/current/user-guide/#extensions-supported-utilities) section of the User Guide is very lacking.

## Deliverables

- [ ] Improve documentation of supported utilities in the User Guide.
  - Mention `AssertionSupport` and `ReflectionSupport` specifically, pointing out the basic feature set above an

[2017-10-31 13:58] marcphilipp commented on #1096
Interestingly enough, it seems the styling confuses Surefire. If I change the pattern layout to `%d{yyyy-MM-dd HH:mm:ss.SSS} %-5p [%t] [%C{1}-%L] - %m%n`, it works with 5.0.1/1.0.1.

[2017-10-31 14:04] sbrannen opened #1133 "Treat non-inherited composed annotations for inherited annotations as inherited"
## Overview

Based on a [discussion in Gitter](https://gitter.im/junit-team/junit5?at=59f87ebe5a1758ed0f701a15), it has come to my attention that we do not support annotation searches for single annotations and repeatable annotations consistently.

Specifically, we traverse the class hierarchy in search of an annotation **only** if the annotation is _repeatable_ **and** `@Inherited`.

## Deliverab

[2017-10-31 14:28] sebersole commented on #1103
As discussed on Gitter, for Hibernate I actually rely on this behavior to implement certain "conditionally disabled" filters.  Specifically, I define annotations that allow the tester to say that a test should only be run against a certain Dialect (database), or should be skipped against a certain Dialect).  These conditions rely on the Hibernate SessionFactory having been built and available as p

[2017-10-31 14:48] #986 closed

[2017-10-31 14:48] #1096 closed

[2017-10-31 14:55] marcphilipp commented on #1096
@sdecoppet You should be able to run your test project using the latest 1.1.0-SNAPSHOT version. We'll be releasing 5.1 M1 in the next few days.

[2017-10-31 14:57] sdecoppet commented on #1096
Good job guys, many thanks!

[2017-10-31 14:58] marcphilipp commented on #1126
@tmurakam Do you have time to work on a pull request?

[2017-10-31 15:08] sebersole commented on #456
I agree with everything @ondrejlerch brings up

[2017-11-01 06:59] VikasSherawat commented on #1126
@tmurakam may i work on this one?

[2017-11-01 06:59] marcphilipp commented on #1126
@VikasSherawat Absolutely!

[2017-11-01 13:14] sbrannen commented on #780
FYI: as a proof of concept, I ported the JUnit 4 based `OutputCapture` rule from Spring Boot to JUnit Jupiter here:

https://github.com/sbrannen/junit5-demo/blob/master/src/test/java/extensions/CaptureSystemOutput.java

[2017-11-01 14:23] marcphilipp commented on #456
@ondrejlerch How would JUnit find `@BeforeSuite`/`@AfterSuite` annotated methods? For example, when you run a test class from an IDE would it only look at the test class or someplace else?

The `Store` abstraction along with the root `ExtensionContext` provides a means to prepare something once and share it between multiple test classes. However, there's no way to clean it up at the moment (that d

[2017-11-01 14:26] marcphilipp commented on #1103
@sebersole Your extension doesn't require the test instance to evaluate the condition, only the `SessionFactory`, right? Could you ensure it is built in `ExecutionCondition`, store it in the root `ExtensionContext`'s store and access it in `TestInstancePostProcessor`?

[2017-11-01 15:01] Lubetkin opened #1134 "Callback Extensions Order"
I will be happy to have an order of callback executions.
Say a test have 2 extensions, I want to execute the callbacks in a certain order.

[2017-11-01 15:10] sbrannen commented on #1134
The order of extension invocations is determined by the order in which you register the extensions via `@ExtendWith`.

I am therefore closing this issue as _invalid_.

However, feel free to provide additional input if the above clarification is insufficient for you.

[2017-11-01 15:10] #1134 closed

[2017-11-01 16:51] sebersole commented on #1103
The test instance is used to provide the details needed to create the SessionFactory.  Could we do it another way?  Sure.  I'm open to suggestions.  But I just cannot see how such an approach does anything but make the tests harder to follow.

[2017-11-01 16:52] sebersole commented on #456
@marcphilipp you could consider a solution such as Jandex, which provides you an index over all annotations

[2017-11-01 17:05] sormuras commented on #456
https://github.com/wildfly/jandex ?

[2017-11-01 17:13] marcphilipp commented on #456
Well, in any case, it has to be obvious for test authors where JUnit will actually look for these annotations, i.e. if they will be applied when they execute a test class.

[2017-11-01 17:15] marcphilipp commented on #1103
Are these details read from "static" information, e.g. annotations, or by calling a method or inspecting a field of the test instance?

[2017-11-01 17:29] sormuras commented on #456
[code]

I see an easy way to implement an extension point for **3a** -- which frames the all tests executed by the Jupiter engine with a "before the first" and "after the last" callback.

Pseudo-code for [JupiterTestEngine](https://github.com/junit-team/junit5/blob/master/junit-jupiter-engine/src/main/java/org/junit/jupiter/engine/JupiterTestEngine.java):

[code]

[2017-11-01 17:43] sebersole commented on #456
For the record, I actually would not use the annotation specifically.  I am more interested in the corresponding Extension (especially AfterSuiteCallback).

I was just answering the general question of "finding annotations".  That is what Jandex excels at, whether you want to use it or not...

[2017-11-01 17:49] marcphilipp commented on #456
I’m fine with adding an extension point that uses the existing registration mechanisms.

That should work for everything except Maven Surefire... see #1113.

[2017-11-01 18:05] sebersole commented on #1103
The test acts as a `SessionFactoryProducer`.  The extension casts the test
instance to this and calls the single `#produceSessionFactory` method,
which in turn calls a number of protected and override-able methods to
achieve that (template pattern).  It is all instance-specific, not static.

On Wed, Nov 1, 2017 at 12:15 PM Marc Philipp <notifications@github.com>
wrote:

[2017-11-01 18:07] sebersole commented on #456
As I would never use Maven ever again, I can live with that ;)

But yes, that is exactly what would work best for us:
[code]

[2017-11-01 19:31] sormuras commented on #456
Started working on a PR that introduces `BeforeExecutionCallback` and `AfterExecutionCallback`...

[2017-11-01 22:07] ondrejlerch commented on #456
@marcphilipp
To your question: How would JUnit find `@BeforeSuite`/`@AfterSuite` annotated methods? For example, when you run a test class from an IDE would it only look at the test class or someplace else?
I suggest answer: JUnit should search among all executed test classes, not someplace else. So if you execute just one test class (via IDE or Maven or Gradle) it should look only there. However,

[2017-11-01 22:14] sebersole commented on #456
@sormuras Thanks so much for starting on this.

[2017-11-01 23:41] maxenglander opened #1135 "Support for extension (@ExtendWith) parameters"
It would be great if it were possible to parameterize JUnit 5 extensions. For instance, something like this:

[code]

This would enable re-using extension across different codebases and organizations.

Thanks for the terrific tool!

[2017-11-02 02:25] sebersole commented on #1103
Is this something y'all plan on changing?  I'd rather know before I get too far down the path of migrating all of our tests to JUnit 5.  Long story short, we rely on this behavior and this behavior going away makes it questionable whether I can do the move.

[2017-11-02 06:51] codecholeric commented on #1109
Thanks for your response!!
The problem here is, that
[code]
does not evaluate the rule, but is the rule. I.e. the statement
[code]
simply returns an `ArchRule`, but that by itself doesn't evaluate anything yet. (I guess `GivenClasses` is kind of misleading here, because it revers to the syntax, but it doesn't hold the imported classes.) It would probably need the `JavaClasses` as a parameter as we

[2017-11-02 06:57] marcphilipp commented on #1109
Could you keep track of all produced `ArchRules` behind the scenes and check them in the extension?

[2017-11-02 07:06] marcphilipp commented on #1103
As you are probably aware, an `ExecutionCondition` is evaluated once for the test class and, if that isn't already disabled, for each test method. In your case, you could keep the test class enabled but disable all tests. The evaluation of the `ExecutionCondition` for the test methods will be able to access the test instance when `Lifecycle.PER_CLASS` is used. The only downside I can see is that t

[2017-11-02 07:13] SarthakM9 commented on #204
Hello all, is there any way to run JUnit5 in Instrumented tests in Android?

[2017-11-02 07:59] marcphilipp commented on #204
@SarthakM9 I think you have a better chance of getting a helpful answer at https://github.com/aurae/android-junit5.

[2017-11-02 08:02] marcphilipp commented on #204
I'm closing this issue since we our Gradle plugin is an interim solution until core Gradle support is available. Feel free to let Gradle know that you need it over at https://github.com/gradle/gradle/issues/1037. 😉

[2017-11-02 08:02] #204 closed

[2017-11-02 08:04] codecholeric commented on #1109
Hmm, I guess it would be feasible, to use some kind of dynamic proxy stuff, to achieve this. E.g. I could proxy `GivenClasses` and the other interfaces, and during delegation of the method calls I could store the state of the rule under construction.
It would then be possible, to write the test like in your first example, and evaluate the rule, after it was constructed.
It would also be possible t

[2017-11-02 08:10] marcphilipp commented on #1109
If you don't need the Jupiter extension model etc. for your test engine, you shouldn't actually have to copy a lot of code. There has, in fact, already been a pull request for a discovery extension (#371). It shouldn't actually be too hard to implement. However, it's not a priority for us at the moment.

[2017-11-02 08:14] marcphilipp commented on #1135
Thanks! 😊

Neat idea! Right now, you could create your own set of annotations and use `AnnotationSupport` to scan for them. There's #497 which aims at something similar. Which approach would you prefer?

[2017-11-02 08:17] codecholeric commented on #1109
The PR is closed though, so I guess, waiting for such a mechanism would be in vain.
But if you think, that creating a custom `TestEngine` to emulate the JUnit 4 behavior is simple, then I'll try to get a working POC in that direction.
I just wanted to make sure, that I don't overlook something, where a simple question would have saved me a lot of work :wink:
If you want, you can close this issue,

[2017-11-02 08:25] marcphilipp commented on #1109
I'm afraid the documentation for `TestEngine` authors isn't really comprehensive right now. I'd start by extending `HierarchicalTestEngine`, implement `discover()` to detect ArchUnit test classes and implement a custom `TestDescriptor` that extends `Node` and implements `execute()` to verify all `@ArchTest` checks.

I'm closing this issue for now, but please do let me know how it goes! 🙂

[2017-11-02 08:25] #1109 closed

[2017-11-02 14:45] maxenglander commented on #1135
`AnnotationSupport` will actually work just fine, and #497 looks like a fine solution as well. Thanks for the reply!

[2017-11-02 14:45] #1135 closed

[2017-11-02 16:40] sbrannen commented on #456
I'm also fine with the idea of introducing new `BeforeExecutionCallback` and `AfterExecutionCallback` extension APIs.

But... we'll have to work on the names. 😉

That and the _implementation_ and _semantics_ of course.

[2017-11-02 19:32] marcphilipp commented on #1113
_in progress_

[2017-11-03 09:57] rumpfc opened #1139 "Introduce extension API for accessing arguments passed to tests"
## Issue

Extension methods all have `ExtensionContext` which provides us many useful information like `displayname`, `method` or `tags`. This helps  in writing custom test reports.

What I'm missing is a way to get argument instances of a `@ParameterizedTest`. When not running tests extended by a `ParameterResolver` using `ExtensionContext.Store` you can only make a workaround to get a clue of wh

[2017-11-03 10:02] britter opened #1140 "Make it possible to return arbitrary Objects from @ValueSource"
## Overview

**Feature request.** Make it possible to return arbitrary Objects from a `@ValueSource`.

`@ValueSource` is a nice way to write parameterized tests, but it only lets me define ints, doubles, longs or strings. However what I want to do for example is test some `LocalDate` values:

[code]

This is currently not possible and I have to fall back to dynamic tests, which are quite complex c

[2017-11-03 10:17] britter commented on #1140
This does not work since annotation values can't be abitrary objects. So the best solution is probably to use a method source instead.

[2017-11-03 10:17] #1140 closed

[2017-11-03 10:17] rumpfc commented on #1140
I fear that's impossible in Java generally.

[Annotation Type Elements](https://docs.oracle.com/javase/specs/jls/se8/html/jls-9.html#jls-9.6.1)

[2017-11-03 10:59] marcphilipp commented on #1140
@britter If only `LocalDate.of(...)`, `List.of(...)` were literals... 😔

However, there's a built-in way of writing this using an implicit conversion:

[code]

[2017-11-03 11:11] marcphilipp commented on #1139
This might be useful for more than just `@ParameterizedTest` methods. Right now the arguments for a test method get resolved immediately before calling it, i.e. after `BeforeTestExecutionCallback` extensions are called. When would you need the arguments? Would it suffice to get access to them after the test has been executed?

[2017-11-03 11:32] rumpfc commented on #1139
Test analysis are mostly done after the test execution, so I think it's ok to just have them in one of the AfterXXX interfaces. Getting arguments before test execution would also be nice, but instead of storing them in an attribute I don't know what someone should do with them before the actual test.

I use an annotation (similar to @ValuesSource) which accepts a String[] of filenames containing d

[2017-11-03 11:50] marcphilipp commented on #1139
I think introducing a new extension point that is called between `BeforeTestExecutionCallback` and `@Test` would offer the most flexibility.

It could look like this:

[code]

I guess it should only be called when `arguments` is not empty, i.e. the test method has parameters. Changing the array would cause the test method to be called with changed arguments.

Lifecycle methods and test class const

[2017-11-03 11:55] sbrannen commented on #1139
I think that's a reasonable idea.

That would make sense.

That seems potentially risky. I'll have to ponder that a bit. 😉

[2017-11-03 11:56] sbrannen commented on #1139
If we foresee that, we should either change the name of the `ArgumentsProcessor` API to reflect that or introduce all such methods as no-op `default` methods.

[2017-11-03 11:58] rumpfc commented on #1139
Will this extension also be called when method just contains `TestInfo` or `TestReporter`? According to previous posts I can imagine that this might happen and if it would be critical for test environment.

[2017-11-03 12:00] marcphilipp commented on #1139
Yes, it would be called for any arguments. If you're not interested in `TestInfo` or `TestReporter`, you could not report them in your extension implementation or would that be a problem?

[2017-11-03 12:02] rumpfc commented on #1139
You can easily ignore these arguments just by using "instanceof TestInfo" or "instanceof TestReporter", no need to create special cases because of that.

[2017-11-03 12:22] sormuras commented on #1063
@AlanBateman -- using JDK-10 "out-of-the-box" we now face issues with Mockito. See log https://travis-ci.org/junit-team/junit5/builds/296747184 -- which contains a lot of:
[code]

[2017-11-03 14:09] sormuras commented on #1063
The root cause is that ByteBuddy does not support Java 10, yet:

[code]

[2017-11-03 14:51] sebersole commented on #1103
@marcphilipp Practically speaking there should not be a problem with what you outlined.

[2017-11-03 15:47] sebersole opened #1141 "Influence invocation order for TestTemplate executions"
When using TestTemplate, JUnit will perform executions grouped by the test method.  For example, if I have a test class that defines 2 test methods (m1, m2) as TestTemplate and provide 2 invocation contexts (c1, c2) - JUnit will perform this in the following order:

[code]
But what I really need is:

[code]

My use case is that the invocation context describes a particular database schema layout.

[2017-11-03 15:52] marcphilipp commented on #1141
Makes sense! Sounds like #871, right?

[2017-11-03 15:54] sbrannen commented on #1141
Actually, yes... I think this is a duplicate of #871.

@sebersole, do you agree?

[2017-11-03 15:56] sbrannen commented on #1103
Yes, that would be the case for an `ExecutionCondition` invoked at the method level.

[2017-11-03 16:00] sebersole commented on #1141
Maybe.  To be honest I am not following most of that discussion :)  But looking at his "expected order" of execution, that seems to match

[2017-11-03 16:01] sebersole commented on #1103
Then yes.  That would work

[2017-11-03 17:42] sbrannen commented on #1141
OK. Closing this in favor of #871.

[2017-11-03 17:42] #1141 closed

[2017-11-03 21:03] #1103 closed

[2017-11-04 06:32] marcphilipp commented on #970
@akozlova Is this issue still relevant for you?

[2017-11-04 08:50] VikasSherawat commented on #1098
@sormuras @marcphilipp May i work on this one?

[2017-11-04 08:51] marcphilipp commented on #1098
Sure!

[2017-11-04 08:57] #1126 closed

[2017-11-04 12:57] sbrannen commented on #456
Hi everybody,

I'd like to point out that we have to be very cautious here about the use of the term "suite" for a feature like this.

#744 is the intended solution for suites on the _Platform_.

Whereas, _this_ issue is about _before_ and _after_ callbacks that are specific to a given run of the Jupiter TestEngine.

So please keep this in mind so that we don't hinder the applicability and utility

[2017-11-04 14:46] sbrannen commented on #1098
Resolved in commit f1ac69ad2b271df246b98b7cc4b7386c951c0afd.

[2017-11-04 14:46] #1098 closed

[2017-11-04 18:55] akozlova commented on #970
Yes, I have corresponding issue. I separated tests by different engines now, so it is not that bad as on the screenshot.

[2017-11-04 19:39] sbrannen commented on #970
I think that would be reasonable as long as we don't mess with the actual technical name.

[2017-11-05 12:36] jlink opened #1144 "Add ClassUtils.nullSafeToString to support package"
## Overview

Most third-party test engines that allow test methods with parameters will probably
need `ClassUtils.nullSafeToString(classes)` or something similar to create their unique IDs.
That's why I suggest that you create `ClassSupport.nullSafeToString(Class<?>... classes)` and delegate to ClassUtils.

[2017-11-05 14:55] marcphilipp commented on #1144
Fine by me! Do you have time to submit a pull request?

[2017-11-05 17:18] hwellmann opened #1145 "API for intercepting execution"
## Overview

- (X) **Feature request.**

With the present  `BeforeAll, BeforeEach, AfterEach, AfterAll` extensions, it is possible to decorate test execution, but it is not possible to fully intercept it.

This is required for test frameworks like Pax Exam or Arquillian which currently use JUnit 4 runners as a test driver to first start a test container (e.g. a Java EE server or an OSGi framework)

[2017-11-05 17:26] marcphilipp commented on #1145
Related issues: #20 and #157.

@hwellmann Thanks for raising this issue! Would you only want to intercept the execution of the test method or of other test class method and extensions as well?

[2017-11-05 17:37] marcphilipp opened #1146 "Create 5.0.2 Release Notes"
- [x] Create Release Notes for 5.0.2

[2017-11-05 17:37] hwellmann commented on #1145
Other test class methods (like those annotated with `@BeforeEach` etc.) and other extensions (replacing JUnit 4 rules) will also have to be intercepted, since there is no point in executing them on the driver side, they only make sense within the test container.

Rather than intercepting individual methods, it might be more convenient to intercept the execution of an entire node (including all chi

[2017-11-05 17:42] marcphilipp commented on #1145
Do the test driver and test container run in the same JVM?

[2017-11-05 17:44] hwellmann commented on #1145
Not necessarily, containers may be local or remote.

[2017-11-05 17:46] marcphilipp commented on #1145
How does the test driver communicate to the container what should be executed, especially when they run in different JVMs?

[2017-11-05 17:52] hwellmann commented on #1145
That's the job of the extension, that's nothing I'd expect from JUnit.

For Java EE, we use a servlet to tunnel test requests and listener events over HTTP. For OSGi, we open a server socket. For JUnit 4, it was enough for the request to include a class name, method name and optionally a position index for parameterized tests to identify the test(s) to be executed.

[2017-11-06 08:50] jlink commented on #1144
https://github.com/junit-team/junit5/pull/1147

[2017-11-06 22:59] sormuras commented on #1063
Upgrading to Mockito 2.11.7 (using ByteBuddy 1.7.9) fixes the issue.

[2017-11-07 08:09] sormuras commented on #744
Working on the "Jupiter-only" solution #456 with proposal #1143  I tend to agree that this suite described here is the better approach.

My vision extends the one presented by Sam at https://github.com/junit-team/junit5/issues/744#issuecomment-289029181 as it lifts the `LauncherDiscoveryRequestBuilder` to first-class citizen. Let the end-user configure a "test run" programmatically. I envision a u

[2017-11-07 09:23] sbrannen commented on #1063
:+1:

[2017-11-07 16:16] sbrannen opened #1148 "JUnit 4 Migration Support incorrectly registers JupiterTestEngine via ServiceLoader"
## Overview

As reported in the [Eclipse issue tracker](https://bugs.eclipse.org/bugs/show_bug.cgi?id=525948#c12), the `junit-jupiter-migrationsupport` module attempts to register the `JupiterTestEngine` via the `ServiceLoader` mechanism.

This is obviously the result of a copy-n-paste error that occurred when the `junit-jupiter-migrationsupport` Gradle project was created.

## Deliverables

- [x]

[2017-11-07 16:23] #1148 closed

[2017-11-07 16:32] sbrannen opened #1149 "Cherry pick commits from 5.1 M1"
## Deliverables

- [x] Cherry pick all commits from `master` that are now assigned to release 5.0.2.

[2017-11-07 16:40] sbrannen commented on #1148
Documented in the release notes in a1b3c95874c40eedea401714a0e20ba6b1e59254, intentionally in the 5.1 M1 release notes in light of the fact that #1146 and #1149 are still open.

[2017-11-07 17:03] mkobit commented on #1112
Updated issue with full stacktrace.

@marcphilipp yes, that seems to fix it.

![IntelliJ test results after adding ArgumentsSource to container annotation](https://user-images.githubusercontent.com/1447148/32506858-4c0448f0-c3ab-11e7-9526-8c9f905c5167.png)

[2017-11-07 17:22] christophsturm commented on #60
@marcphilipp can you share your ForkJoinPool based prototype?

[2017-11-08 07:16] saledouble opened #1150 "Cannot compile on the command-line"
Hi, I am new to gradle and junit5. After I run `gradle clean test` in the Terminal, I got:

[code]

I am on master branch (ec6d727). My java version is 1.8.0_151-b12 and my gradle version is 4.3.

[2017-11-08 07:23] sormuras commented on #1150
Since https://github.com/junit-team/junit5/commit/bc7eef010425c02fc508a243141831de316f7ac9 JUnit 5 needs JDK 9 to compile and build the artifacts.

I'll update the README file if it is not mentioned there.

[2017-11-08 07:23] #1150 closed

[2017-11-08 07:24] sormuras commented on #1150
It is already mentioned here: https://github.com/junit-team/junit5#building-from-source

[2017-11-08 12:32] jensim opened #1151 "Support skip headers option for @CsvFileSource"
## Overview

Add option for `skipHeaders`, or something like it to annotation `@CsvFileSource`, that would make the parser skip the first line of the csv file.

This would improve readability of the CSV files. It might even allow my non-coding-colleagues to write the test parameters.

[2017-11-08 15:46] Persi commented on #579
You answered him with his own Stack Overflow question, good job! 👍

Indeed this enhancement would be hardly preferred! Is there any plan for this in the near future?

[2017-11-08 16:55] saledouble commented on #1150
Thank you!

[2017-11-08 17:02] htzhang2 opened #1152 "junit5 not support spring Autowired annotation"
We have a junit4 test class with Autowired field. After converting to junit5, Autowired stops working and throws NullPointerException.

@RunWith(JUnitPlatform.class)
public class GetAvailableRewardsComponentTests extends ServiceComponentTestsBase
{
    @Autowired
    private RequestValidator m_requestValidator;

    @BeforeEach
    public void setup()
    {
        m_requestValidator.setEnabled(fa

[2017-11-08 19:35] marcphilipp commented on #1152
You need to register the `SpringExtension` in order to make it work. Please refer to https://docs.spring.io/spring/docs/current/spring-framework-reference/testing.html#integration-testing-annotations-junit-jupiter.

[2017-11-08 19:35] #1152 closed

[2017-11-08 22:29] htzhang2 commented on #1152
Which jar file is SpringExtension is located?

I tried:  junit-jupiter-api
            junit-jupiter-engine
            junit-jupiter-params
            junit-jupiter-migrationsupport

None of them work.

[2017-11-08 22:54] jbduncan commented on #1152
@htzhang2 It's in Spring Framework 5.0, apparently. (https://docs.spring.io/spring/docs/current/javadoc-api/org/springframework/test/context/junit/jupiter/SpringExtension.html)

[2017-11-08 22:56] jbduncan commented on #1152
Hope this helps. :)

[2017-11-09 06:56] kashike commented on #1105
Guava made their annotation dependencies non-optional [earlier this year](https://github.com/google/guava/commit/0e29934933f33379de953727171f7ca1ec616a58) - it might be worth looking over [what was discussed](https://github.com/google/guava/issues/2721) there, if not done so already.

I, too, like the individual annotation suggestion as mentioned above - the only issue with it is the collision wit

[2017-11-09 08:21] sormuras commented on #1025
Back to 5.1 Backlog after talking to Anna at #devoxx

[2017-11-09 13:51] VikasSherawat commented on #1098
Hi @sbrannen , I report this bug to Oracle. They have responded back saying if we have a specific test cases for that.

Bug URL : http://bugs.java.com/bugdatabase/view_bug.do?bug_id=JDK-8191030

[2017-11-09 20:46] marcphilipp commented on #60
Sure! I've actually re-implemented it based on the current master now:
https://github.com/junit-team/junit5/compare/experiments%2Fparallel-execution

[2017-11-10 07:48] jlink opened #1153 "Reduce log level in Jupiter discovery"
## Overview

When running tests using several test engines, all those test engines will receive discovery request for certain classes or methods or packages (e.g. if you click the run tests button in IntelliJ). It's a normal thing that not all engines can resolve a certain element.

Using logging level `WARNING`, e.g.
`logger.warn(() -> format("Class '%s' could not be resolved.", testClass.getName

[2017-11-10 13:57] sbrannen commented on #1153
_in progress_

[2017-11-10 14:01] #1153 closed

[2017-11-10 14:18] marcphilipp commented on #1153
Makes sense! Thanks for bringing this to our attention, @jlink! 👍

[2017-11-10 19:38] marcphilipp commented on #1105
To fix the collision, we could call them `@StableAPI`, `@InternalAPI`, `@DeprecatedAPI` etc.

[2017-11-10 22:31] sbrannen commented on #1133
_in progress_

[2017-11-11 10:55] DcortezMeleth opened #1154 "Add support for using argument fields in parametrized test names"
## Overview

- ( x) **Feature request.**

I have found that it would be useful if you could use argument fields as a part of parametrized test name. Right now, when using just `{0}` as described in docs, it results in injecting into a test name string in form of `ClassName(fieldName1=fieldValue1, fieldName2=fieldValue2, ...)`. But that doesn't seen readable at all especially then you have a class

[2017-11-11 11:59] marcphilipp commented on #1154
I agree that this would be useful. Implementation-wise it might be a rabbit hole, though. We should probably check for getters first. If there are none, we could try to find a field traversing the class hierarchy upward.

@junit-team/junit-lambda Thoughts?

[2017-11-11 12:08] marcphilipp commented on #1151
Makes perfect sense!

@jensim Do you have time to submit a pull request?

[2017-11-11 12:11] marcphilipp commented on #1112
@mkobit Do you think that's a reasonable workaround and we can close this issue?

[2017-11-11 12:11] marcphilipp commented on #1149
_in progress_

[2017-11-11 12:20] #1149 closed

[2017-11-11 12:28] emick commented on #668
I've used `DisableOnDebug` around `Timeout` and custom `RetryOnFailure` rule to tackle flaky selenium tests, while still allowing easy debugging and manual runs. Using `assertTimeout` won't help in this case since those rules need to be global for all tests.

[2017-11-11 21:55] sbrannen commented on #1144
Addressed in commit f8e5a9491c4e904e69bf047afda87c6c5e0962fb in `master.`

[2017-11-11 21:55] #1144 closed

[2017-11-11 22:29] sbrannen commented on #1146
_in progress_

[2017-11-11 22:48] sbrannen commented on #1146
I created the release notes in 20db6f8d8cab8583dba7f6aeb3ed34ac52823382.

@marcphilipp, it would be great if you could review them so that we have any extra pair of eyes look at them. TIA!

[2017-11-11 22:49] sbrannen commented on #1146
Leaving this issue _open_ due to the requested review.

[2017-11-11 23:10] sbrannen commented on #1098
Thanks for raising the bug, @VikasSherawat.

Just put together the simplest example you can based on the JavaDoc used in `RepeatedTest` before the change I made.

[2017-11-11 23:12] sbrannen commented on #1098
And... I wouldn't state "This bug can be reproduced occasionally." in the bug report.

Rather, I would state that it can always be reproduced.

[2017-11-12 08:24] jensim commented on #1151
Sure @marcphilipp I'll have a look at it in a few hours

[2017-11-12 12:37] marcphilipp commented on #1146
LGTM, thanks! 👍

[2017-11-12 12:37] #1146 closed

[2017-11-12 16:03] #1113 closed

[2017-11-12 18:46] jaredsburrows opened #1155 "Use Spaces instead of Tabs"

[2017-11-12 18:49] marcphilipp commented on #1155
Even if you could convince us, we‘ll not reformat the entire codebase thereby rendering the Git history useless.

[2017-11-12 18:49] #1155 closed

[2017-11-12 18:49] jaredsburrows commented on #1155
Haha. Not in a single PR. 1 step at 1 time.

[2017-11-13 07:03] rumpfc commented on #1139
I have a suggestion for this issue: why not calling the interface between `@Test` and `AfterTestExecutionCallback` (doesn't matter if before or after `TestExecutionExceptionHandler`). Then you would avoid a possible change of arguments before the actual test execution

[2017-11-13 07:04] jensim commented on #1151
I added a pull request
https://github.com/junit-team/junit5/pull/1156
Just get back to me, if I need to update something

[2017-11-13 14:50] Pazus opened #1158 "Сlass-level @Tag annotation is not inherited"
## Overview

If an abstract class is annotated with "Tag" annotation, it doesn't take part in group filtering as the annotation is not inherited. This is wrong according to the documentation as it says:

_Used to declare tags for filtering tests, either at the class or method level; analogous to test groups in TestNG or Categories in JUnit 4. Such annotations are inherited at the class level but n

[2017-11-13 15:11] sormuras commented on #744
@sebersole -- would the programmatic/declarative proposed here fit your needs as well?

[2017-11-13 15:17] RupprechJo commented on #744
It is more detailled than we need, but it can work for migrating the Junit4 Suites we have

[2017-11-13 15:20] sebersole commented on #744
@sormuras Give me a bit to wrap my head around.

[2017-11-13 15:26] sbrannen commented on #1158
self-assigned: don't have time at the moment, but I'll investigate.

[2017-11-13 15:28] sbrannen commented on #1158
Is that taken from the User Guide?

[2017-11-13 15:58] sebersole commented on #744
@sormuras To make sure I understand you... you are asking about this in relation to my desire to have before/after suite callbacks?

Personally I think this is a bit heavy handed for what I want/need.  The primary use case I have is something @smoyer64 explicitly mentioned as well, namely setting up connection pools.  In Hibernate we have found that creating/closing these takes a surprisingly sign

[2017-11-13 17:51] Pazus commented on #1158
Yes

http://junit.org/junit5/docs/current/user-guide/#writing-tests-annotations

[2017-11-13 19:06] #924 closed

[2017-11-13 19:15] boldcat2015 opened #1159 "Build Failed: Host name 'repo1.maven.org' does not match the certificate subject"
Run `./gradlew clean assemble` and get:

[code]

My `gradle -version`:

[code]

My `mvn -version`:

[code]

[2017-11-13 19:16] sormuras commented on #1159
Solved by Sonatype. For details see https://issues.sonatype.org/browse/MVNCENTRAL-2870

[2017-11-13 19:16] #1159 closed

[2017-11-13 19:42] boldcat2015 commented on #1159
Thanks sormuras.

[2017-11-13 19:43] sormuras commented on #1159
You're welcome.

[2017-11-13 20:13] mkobit commented on #1112
Yes, I think that is reasonable. I felt like I was also seeing something similar to this with `@TestTemplate` but do not have a reproducible case for it. Going to close as this issue documents the behavior and the workaround is easy.

[2017-11-13 20:13] #1112 closed

[2017-11-13 21:45] mkobit commented on #162
An extension for generating display names would be nice for Kotlin (and Groovy, also). I find myself generally writing sentences as the test name like this:

[code]

And in this project, the output is `when this thing happens, then this other thing happens$gradle_test_kotlin_extensions_main(TestInfo)` - would be nice to register a simple display name extension globally that outputs the Kotlin meth

[2017-11-13 23:39] sebersole commented on #456
Given that clarification, maybe `BeforeTestEngineExecutionCallback` and `AfterTestEngineExecutionCallback`?

[2017-11-14 01:24] tobiasdiez opened #1160 "Typed tags"
## Overview
- (x) **Feature request.**

As far as I can see, currently a tag only allows for a string as the argument. It would be nice if we could add tags in a more "typed" way. For example, create an enum `MyTags` and then annotate tests with for example `@Tag(MyTags.Fast)`. In this way, the magical strings disappear and you get IDE support (e.g, auto-completion and advanced renaming facilities

[2017-11-14 01:44] smoyer64 commented on #1105
Is there a reason that the dependency on the API enums can't be made ```<scope>provided</scope>``` in the Maven POMs?  I'd have to do some digging but I believe I've done that before.

[2017-11-14 03:16] mkobit commented on #1160
I am pretty confident you can create your own tag annotation.

[code]

[2017-11-14 07:32] sormuras commented on #1160
Please use the [meta-annotations](http://junit.org/junit5/docs/current/user-guide/#writing-tests-meta-annotations) support, as mentioned by Mike. Here is an example for collecting all your tags in a common place:

[code]

Each `@interface` declaration needs an "opener" like:

[code]

Usage example:

[code]

[2017-11-14 07:32] #1160 closed

[2017-11-14 08:15] tobiasdiez commented on #1160
Thank you very much for the help. Your suggestion works perfectly with the Jupiter engine.

On the other hand, the filters specified in gradle `filters > tags` seem to be completely ignored by the vintage engine. Is this by design or a known bug? Should I open a new issue?

[2017-11-14 08:31] sormuras commented on #1160
Mh, I'm not aware of a "tag to category" converter. Please, open an issue. Thanks in advance.

[2017-11-14 10:29] sbrannen commented on #1105
Yes, that would definitely _work_, technically speaking; however, that would require that we release version 2.0 of the API Guardian.

I'm not a fan of doing that, so I'd like to continue to investigate other options before we do anything that drastic.

[2017-11-14 10:30] sbrannen commented on #1105
That's certainly an interesting idea.... and clever if it works. 😉

If you could let us know your findings, that would be great!

[2017-11-14 12:30] islandsvinur commented on #1088
When addressing this issue, please also take into account that parameterized tests inside `@Nested` classes cannot at the moment use a `@MethodSource`.

In the following example, from `theTest` the `outerMethodSource` cannot be referred to. The `innerMethodSource` cannot exist because it must be static for `@MethodSource`, but it can't live inside the non-static class `NestedTests`.

[code]

[2017-11-14 13:54] sbrannen commented on #1088
@islandsvinur, actually... you can declare a non-static method source if the `@Nested` test class is annotated with `@TestInstance(PER_CLASS)`. 😉

[2017-11-14 13:56] sbrannen commented on #1088
I _believe_ that's more of a result of a limitation in annotation processing.

Good catch! 👍

That would in fact require the use of an array of nested annotations in order to support multiple sources.

[2017-11-14 13:57] sbrannen commented on #1088
... which makes me lean more toward option \#1 for the sake of simplicity, even if it's less _type safe_ at compile time.

[2017-11-14 15:27] smoyer64 commented on #1105
I've created a sample project that scopes apiguardian-api as provided per the discussion above at https://github.com:selesy/apiguardian-provided.  This project provides a library that's annotated with apiguardian-api and a consuming application that does *NOT* include in it's dependencies.

Compile both the annotated library and application using the following command at the top-level directory:

[2017-11-15 15:55] reitzmichnicht opened #1161 "TestReporter entries are not published to maven surefire reports"
Using JUnit 5.0.2 it would be great if entries published to the TestReporter are also written to the TEST-*.xml files of the maven surefire reports as properties.

Needed for example to document the seed used for random values.

Kind regards,
Michael

[2017-11-15 16:06] reitzmichnicht opened #1162 "TestReporter entries of a TestInstancePostProcessor extension are not written to the TestInstance output"
Using JUnit 5.0.2 with latest IntelliJ.

Having an extension with this code:
[code]
When using this extension on a test class, the report entries is not written to the stdout of the test class, but to the general stdout of the test run.
Having multiple test classes in one run it is not possible to determine which report entry belongs to which test class.

Kind regards,
Michael

[2017-11-15 18:34] marcphilipp commented on #1162
JUnit does not print report entries to stdout. Thus, this is probably an IntelliJ issue. Can you please open an issue at their bug tracker?

[2017-11-15 18:52] marcphilipp commented on #1162
I just verified that the report entry is attached to the test class in this case. That's because the ExtensionContext for a TIPP represents the test class. If you want to attach it to the test method, you could use a `BeforeEachCallback`. In my IntelliJ IDEA (2017.2.5), the report entry is shown on the test class:

<img width="1071" alt="screen shot 2017-11-15 at 19 51 26" src="https://user-images

[2017-11-15 18:52] #1162 closed

[2017-11-15 19:06] marcphilipp commented on #1161
I'm not sure pretending report entries are system properties is a good idea. What we'd really need is a new reporting format (see #373). In the meantime, instead of ignoring them completely, I guess we could at least write them to stdout in `RunListenerAdapter`.

@reitzmichnicht Would that suit your needs?

[2017-11-15 19:25] marcphilipp commented on #1160
@tobiasdiez In fact, they are not ignored. A JUnit 4 test annotated with `@Category(Foo.class)` has the fully qualified name of Foo, e.g. `org.example.Foo`, as a tag. When you specify `org.example.Foo` in Gradle you can include or exclude all tests with that tag.

[2017-11-15 20:03] #1151 closed

[2017-11-15 20:23] reitzmichnicht commented on #1161
Yes writing to stdout would be a good starting point.
But keep in mind that surefire does not show stdout by default AFAIK.

[2017-11-15 23:50] JLLeitschuh opened #1163 "Support collections of executables in assertAll()"
## Overview

Continuing the discussion that was spawned from this Twitter chat:
https://twitter.com/relizarov/status/930828269611401216

To start this discussion, these are the methods exposed by [AssertAll](https://github.com/junit-team/junit5/blob/master/junit-jupiter-api/src/main/java/org/junit/jupiter/api/AssertAll.java).

The `assertAll` method does not have an overload that takes a `Collecti

[2017-11-16 06:47] sbrannen commented on #1163
We originally only supported `Executable...`.

The reason we support `Stream<Executable>` is simply because someone asked for that support.

So, the answer to your question is that we didn't foresee a need for supporting `Collection<Executable>`.

However, I don't see any problem with adding `assertAll(Collection<Executable>)` to the API. We'll simply convert it internally and delegate to existing

[2017-11-16 06:48] sbrannen commented on #1163
_in progress_

[2017-11-16 06:53] sbrannen commented on #1163
@JLLeitschuh I'll push the changes for Java to `master`, and I've assigned this issue to you as well in order for you to make the necessary changes to the Kotlin API.

Deal?

[2017-11-16 07:20] sbrannen commented on #1163
On second thought, if we go this route, wouldn't it be better to just support `Iterable<Executable>` instead of `Collection<Executable>`?

@JLLeitschuh would `Iterable<Executable>` work just as well in the Kotlin API?

[2017-11-16 07:35] rumpfc opened #1165 "Test container which only has aborted tests should also be marked as aborted"
I figured out that JUnit 5 is marking Containers as successful even though it only has aborted tests:

*Example:*
`@DisplayName("Parameterized test with custom argument provider")`
`@ParameterizedTest`
`@ValueSource(strings={"", "", "", ""})`
`public void paraTests(String param) {`
       `assumeFalse(param.isEmpty());`
       `assertTrue(param.length() > 0);`
`}`

Logs (with registered TestExecut

[2017-11-16 07:41] tobiasdiez commented on #1160
@marcphilipp Thanks a lot for the tip! It is working wonderfully. You should consider adding it in the documentation, as it makes migration way easier.

[2017-11-16 07:42] sbrannen commented on #1158
_in progress_

[2017-11-16 10:40] marcphilipp commented on #1165
That's by design:

https://github.com/junit-team/junit5/blob/r5.0.2/junit-platform-launcher/src/main/java/org/junit/platform/launcher/TestExecutionListener.java#L131-L135

[2017-11-16 10:40] #1165 closed

[2017-11-16 14:02] sbrannen commented on #1163
Never mind... `Iterable<Executable>` doesn't even work in Java since it _clashes_ with `Executable...` which is an array which is also an `Iterable`.

So we'll just go with `Collection`.

[2017-11-16 14:11] JLLeitschuh commented on #1163
😄
I'd be happy to implement the kotlin side unless you want to take a crack at writing some kotlin code yourself. Either way is fine.

[2017-11-16 14:17] sbrannen commented on #1163
@JLLeitschuh We'd like to get 5.1 M1 out the door as soon as possible (perhaps as early as tonight).

So, with that in mind, if you could implement the necessary changes for Kotlin ASAP, that'd be awesome!

FYI: I think I'll be pushing the necessary changes on the Java side within the next few minutes. :wink:

[2017-11-16 14:20] JLLeitschuh commented on #1163
I'll try to get to it before Noon EST. I have ~ an hour drive to work and I'm about to leave.

I'll try to do it ASAP and hopefully won't hit any hiccups along the way.

[2017-11-16 15:03] jbduncan commented on #1163
@sbrannen

Oh, really? I knew that arrays could be subjects for foreach loops, but I believe that this code example is actually illegal?

[code]

I'm sure I've misunderstood something here. Would you mind clarifying things further for me?

[2017-11-16 16:12] sormuras commented on #1163
Java Shell example works:
[code]

 Sam tried it on master with the `assertAll` and one more tests failed:
[code]

[2017-11-16 16:16] sbrannen commented on #1163
**Update:**

The Java side of things has been addressed in 61ce1f71befaf00fe3bf0e709a6d78fd3986f726 in `master`.

[2017-11-16 16:17] sbrannen commented on #1163
@JLLeitschuh Thanks!

[2017-11-16 16:19] sbrannen commented on #1163
@sormuras Did you try that with a lambda expression that throws an exception???

[2017-11-16 16:19] sbrannen commented on #1163
The exceptions are what are causing problems for us somehow.

[2017-11-16 16:20] sbrannen commented on #1163
Minor correction: the tests actually do not _compile_. :wink:

[2017-11-16 17:11] shollander opened #1166 "Gradle plugin should not show stdout by default"
With the built-in gradle junit 4 support, stdout from tests is not output to the screen by default. Stdout is only output to screen when info logging is enable for gradle (`-i` or `--info`).

With the `junit-platform-gradle-plugin`, all stdout from executing tests is output to the screen by default. I don't think this is the correct behavior. `junit-platform-gradle-plugin` should follow the standa

[2017-11-16 17:13] JLLeitschuh commented on #1163
With this change you have to do this which is still kinda weird (the doubly nested braces `{ { } }`.
Eg:
[code]
One thing I was just thinking about that might make the API even nicer for kotlin would be exposing extension methods that would let you do something like this:

[code]

The signature of that would be something like this:
[code]
This might go beyond the scope of the API that the team wan

[2017-11-16 17:19] sormuras commented on #1163
Last `jshell` example -- with `Callable` now:
[code]

Will try `assertAll(Iterable<Executable> iterable)` soon.

[2017-11-16 17:53] marcphilipp commented on #1166
I think that's the standard behavior of the `JavaExec` task which we use internally, isn't it? Please keep in mind, that our Gradle plugin is only meant as an interim solution until Gradle introduces first-class support out of the box.

[2017-11-16 19:49] sbrannen commented on #1163
@sbrannen or @elizarov what are your thoughts?

@JLLeitschuh, can you please open a new issue to discuss that post 5.1 M1?

[2017-11-16 19:54] #1163 closed

[2017-11-16 20:30] sbrannen commented on #1163
@jbduncan, That's correct: your example won't compile.

But I wasn't talking about that use case. Rather, we have overloaded variants of `assertAll()` that accept lambda expressions of type `Executable`, and when I added the new `assertAll(Iterable<Executable>)` variant, code that previously compiled with a single `Executable` lambda expression that threw an exception ceased to compile.

Perhaps i

[2017-11-16 22:39] JLLeitschuh opened #1168 "Further simplify assertAll() usage in Kotlin"
## Overview

With the current Kotlin `assertAll` API you still have the the doubly nested braces `{ { } }`.
Eg:
[code]
One thing I was just thinking about that might make the API even nicer for kotlin would be exposing extension methods that would let you do something like this:

[code]

The signature of that would be something like this:
[code]
This might go beyond the scope of the API that the t

[2017-11-17 03:45] shollander commented on #1166
I didn't realize that the `junit-platform-gradle-plugin` was only meant to be an interim solution. The [Junit 5 User Guide](http://junit.org/junit5/docs/current/user-guide/#running-tests-build) makes no mention of this.
In that case it's probably not worth fixing since hopefully Gradle will soon natively support Jupiter.

[2017-11-17 05:26] VikasSherawat commented on #1154
hi @marcphilipp may i please work on this?

[2017-11-17 05:58] marcphilipp commented on #1154
Sure!

[2017-11-17 06:02] marcphilipp commented on #1166
Well, it’s quite usable for regular Gradle projects. And it should be fairly simple to migrate to the core Gradle solution once it’s available. So I didn’t mean to discourage you from using it. We‘re meeting with the Gradle team later today to discuss how to move things forward.

[2017-11-17 07:25] sormuras opened #1169 "Kotlin compiler chokes on jdk-10+ea-31"
## Overview

It worked with build 29 and 30 of jdk-10+ea: http://jdk.java.net/10/

Blocked by https://youtrack.jetbrains.com/issue/KT-21303

## Deliverables

- [ ] Upgrade to Kotlin version that supports jdk-10+ea-31 or higher

[2017-11-17 12:43] jensim commented on #373
The surefire-reports are not valid in junit5.
We had a problem running JUnit plugins in jenkins because the XML validation would fail.
The difference between junit4 and junit5 is the XML tag "xsi:noNamespaceSchemaLocation" has changed to "xsi:schemaLocation".
I've manually validated both junit4 and junit5 reports, and junit4 succeeds where junit5 reports fail.

[2017-11-17 14:01] marcphilipp commented on #373
How did you generate the XML reports? Using Maven or using Gradle/ConsoleLauncher?

[2017-11-17 14:03] marcphilipp commented on #373
Using Gradle/ConsoleLauncher seems to work fine for us:
https://junit.ci.cloudbees.com/job/JUnit5/job/master/91/testReport/

[2017-11-17 14:05] #1158 closed

[2017-11-17 14:21] sbrannen commented on #1154
1. accessor method: `name()`
2. getter method: `getName()`
3. field named `name` (local and then traversing the hierarchy)

[2017-11-17 14:26] DcortezMeleth commented on #1154
Seems like a good idea.

[2017-11-17 14:45] sormuras commented on #1154
How about supporting `{{ mustache }}` notation? We could include this library here https://github.com/spullara/mustache.java

[2017-11-17 14:52] marcphilipp commented on #1154
I was also wondering about that. If we do, it needs to be an extension, though. Moreover, I'm not sure we need everything mustache has to offer. 🤔

[2017-11-17 14:59] jensim commented on #373
Maven
I made a focused project to showcase this
https://github.com/jensim/junit5-bad-report

[2017-11-17 15:52] DcortezMeleth commented on #1154
Mustache may be a nice addition but I agree with Mark that if it's going to be used it should be provided as some kind of extension because it will be used by rather small amount of users.

But will we need anything apart of this simple usecase? If not, additional dependecy seems a bit unnecessary.

[2017-11-17 16:06] JLLeitschuh commented on #1169
Fun times on the bleeding edge

[2017-11-17 16:39] JLLeitschuh opened #1170 "Ensure that method names containing special characters can be selected by "fully qualified method name""
## Overview

Discussion started on this PR #1164

Other JVM languages allow special characters in method names (e.g., Kotlin, Groovy, etc.) which are forbidden in Java source code. EG: 🦆

In the above noted PR I introduced a test that makes sure that the engine can call methods that aren't valid methods in Java. The test that I wrote a method that looked like this:

[code]

There was a comment tha

[2017-11-17 18:40] marcphilipp commented on #373
@jensim The XML report is generated by the maven-surefire-plugin, not by JUnit. Did you also switch to a later version of the maven-surefire-plugin?

[2017-11-17 18:44] marcphilipp commented on #1154
Do we want to support things like `{0.manufacturer.owner.name}`?

[2017-11-17 18:48] marcphilipp commented on #1170
Thanks for creating the issue, @JLLeitschuh!

[2017-11-17 20:11] sbrannen commented on #1170
👍

[2017-11-17 20:24] shollander commented on #1166
It turns out that I can't use `junit-platform-gradle-plugin` anyway since I have integration tests in a separate srcSet which does not seem to be supported.

[2017-11-17 22:29] mmerdes commented on #1170
When running `org.junit.jupiter.engine.kotlin.ArbitraryNamingKotlinTestCase` in the latest version of Idea
it can be executed, but not selected and re-executed from the tree GUI:
`org.junit.platform.commons.util.PreconditionViolationException: org.junit.jupiter.engine.kotlin.ArbitraryNamingKotlinTestCase#🦆 ~|~test with a really, (really) terrible name & that needs to be changed!~|~ is not a valid

[2017-11-17 22:32] JLLeitschuh commented on #1170
What version of IntelliJ are you using, for reference?

[2017-11-17 22:39] JLLeitschuh commented on #964
Is this currently supported in the gradle plugin? Is the team waiting for the Gradle team to take over the Junit5 gradle integration and embed it into the gradle tool by default.

[2017-11-18 02:53] hglasgow commented on #1132
I have created pull request #1171 to add two sections about the annotation and reflection support classes. Hope this is what you were wanting.

[2017-11-18 07:29] jensim commented on #373
I was starting out from scratch
Now I've tested all released versions of the surefire plugin against junit-5.0.1.
I've discovered that the ONLY version this will both not crach and build a valid report is 2.20.
Version 2.20.1 craches.
Version 2.19.x are invalid. (surefires 'fault')
Versions prior to 2.19.x craches.

The good thing is, there is one version that is compatible with junit5, yay!

[2017-11-18 07:32] jensim commented on #373
I noticed that junit 5.0.2 was released a few days ago, but this version changed none of my results.

[2017-11-18 07:35] jensim commented on #373
I'll just post the print i get when running 2.20.1 version of surefire
[code]

[2017-11-18 07:37] jensim commented on #373
Anyway, this is nolonger a matter of XML formatting, which was the reason i brought it up in this thread from the first place.
Thank you @marcphilipp

[2017-11-18 08:29] mmerdes commented on #1170
in progress

[2017-11-18 08:31] mmerdes commented on #1170
@JLLeitschuh
Intellij Idea version: 2017.2.6 (released November 13)

[2017-11-18 11:55] marcphilipp commented on #1166
You're right, the `junit-platform-gradle-plugin` does not support it directly. But there are workarounds to achieve this using Gradle, for example https://stackoverflow.com/a/45363280.

[2017-11-18 11:58] marcphilipp commented on #373
As stated in the [User Guide](http://junit.org/junit5/docs/current/user-guide/#running-tests-build-maven), Surefire 2.20 has a memory leak. But as long as it works for you, I guess it's okay. 😉

[2017-11-18 12:00] marcphilipp commented on #964
Our Gradle plugin does currently not support parallel test execution. And, indeed, we're waiting for the Gradle team to start work on first-class support for JUnit 5. As a sidenote, there's also a prototype for parallel execution within the Jupiter engine, see #60.

[2017-11-18 12:05] marcphilipp commented on #1105
Thanks for the experiment, @smoyer64! I'm not an expert on the `provided` scope. If I've understood it correctly, it will be added to the compilation classpath, but not to the runtime classpath. Is that correct?

[2017-11-18 12:09] marcphilipp commented on #569
`JUnitPlatform` now works in IDEA, Eclipse will hopefully follow soon (see bug linked above). Thus, I'm closing this issue.

[2017-11-18 12:09] #569 closed

[2017-11-18 13:47] smoyer64 commented on #1105
Yes ... but some further testing (added to the above referenced project) shows that it doesn't work the way I thought it did.  Unfortunately, I also can't find that this behavior is part of the specification.

The JVM specification defines a ```runtimeVisibleAnnotations``` attribute for each type that's available in the classloader according to the paragraphs at  https://docs.oracle.com/javase/spe

[2017-11-18 14:10] sbrannen commented on #1170
FWIW, rerunning that test method in Eclipse Oxygen 4.7.1a also works.

[2017-11-18 14:14] sbrannen commented on #1170
But... that's likely because both IDEs rerun test methods by selecting them by `UniqueID` which does **not** involve a regular expression to parse out the method name.

[2017-11-18 14:17] sbrannen commented on #1170
As I [mentioned on Gitter](https://gitter.im/junit-team/junit5?at=5a08c4bedf09362e67fdbd69), ...

... for parsing a "fully qualified method name". 😉

[2017-11-18 14:27] sbrannen commented on #1154
Based on the discussions here, I think it's already starting to get a bit out of hand.

As soon as we support one level of _expressions_, people will want more, and then they'll want additional features that the JUnit Team should not be implementing (due to scope).

So, in order to avoid _feature creep_, my proposal is to go back to the original plan (from the JUnit Lambda prototype phase) to add

[2017-11-18 14:31] sbrannen commented on #1154
For example...

- With Mustache, it might look like `"Owner: {0.manufacturer.owner.name}"`.
- With SpEL (from Spring), it might look like `"Owner: #{#0.manufacturer.owner.name}"` or `"Owner: #{#beer.manufacturer.owner.name}"`.

[2017-11-18 14:45] marcphilipp commented on #1154
I agree with @sbrannen. That's what I meant with "rabbit hole" in my first comment.

The problem with customizing display names in general is that most of them are determined during test discovery. Only dynamic, parameterized and repeated test display names are computed during test execution. So, such a new extension point would be limited to the latter category of tests.

[2017-11-18 14:57] sbrannen commented on #1154
@marcphilipp, the problems you list are certainly applicable for display names that are dynamic based on the run-time arguments supplied to a test method; however, an expression language or display name generator can still be useful in other use cases (e.g., to create human-readable sentences from camel-cased test method names, etc.).

That's why I suggested a "context map" (or similar) so that su

[2017-11-18 15:05] sbrannen commented on #1105
That's a different issue.

The builds that publish warnings about the `Status` enum not being present are in fact not referencing `API` or `API.Status` in compiled code. So that's what we are trying to get to the bottom of.

I haven't had a chance to look into your `provided` work, but at a glance it seems like it could be quite feasible.

Thanks for investigating and sharing your findings!

[2017-11-18 15:37] smoyer64 commented on #1105
Yes ... more proof that provided scope didn't include it on the classpath ;)  What I meant is that it's going to be obvious that the annotation and enum are missing if someone is specifically trying to use these types.

[2017-11-18 16:50] sbrannen commented on #1105
👍

[2017-11-18 16:52] sbrannen commented on #1105
AFAIK, `provided` is a Maven invention that only pertains to dependency management and what is included in the generated artifacts (JAR, WAR, etc.).

Thus, Java doesn't know anything about `provided` in this context.

[2017-11-18 16:53] sbrannen commented on #1105
In other words, `javac` only cares about what is present on the classpath at compile time, not how it got there. 😉

[2017-11-18 17:11] marcphilipp commented on #1105
Does `provided` also work for Gradle projects?

[2017-11-18 17:46] mmerdes commented on #1170
yes, the regex seems involved

[2017-11-18 17:50] mmerdes commented on #1170
@sbrannen
rerunning does *not* work in idea but rather gives the "...is not a valid fully qualified method name"-exception

[2017-11-18 20:50] sbrannen commented on #1170
rerunning does not work in idea but rather gives the "...is not a valid fully qualified method name"-exception

Ahhh... then I'd consider that a bug in IDEA: IDEA should rerun based on the Unique ID like Eclipse does. 😇

[2017-11-18 20:51] sbrannen commented on #1170
@akozlova, thoughts?

[2017-11-19 07:35] akozlova commented on #1170
It isn't possible to run tests by unique id from the editor as there is no unique id available. Idea uses the same configurations for running tests from the editor as well as for rerunning. Why rerunning from view should create another configuration?
Btw uniqueIds don't solve rerunning dynamic tests problems. Probably they can work well for custom engines, this is worth checking.

 But normal test

[2017-11-19 10:38] sormuras commented on #1169
Sometimes it's no `fun`:
[code]

[2017-11-19 13:03] sormuras commented on #1169
Disabled the Kotlin Compiler Daemon ... now running into an ignorable(?) warning

`"w: The '-d' option with a directory destination is ignored because '-Xbuild-file' is specified"`

See https://travis-ci.org/junit-team/junit5/jobs/304295302#L751

[2017-11-19 13:36] sormuras commented on #1099
Reopended due to failing Jenkins build: https://junit.ci.cloudbees.com/blue/organizations/jenkins/JUnit5/detail/master/100/pipeline

[code]

[2017-11-19 13:40] juergenzimmermann commented on #1169
I'm getting this warning from time to time after the Kotlin daemon crashed.

[2017-11-19 14:36] tnimni commented on #48
is there an implementation in junit 5.0.2 for test sequence?

[2017-11-19 14:45] marcphilipp commented on #48
@tnimni No, this issue is still open and so is #13.

[2017-11-20 12:18] rumpfc commented on #1165
According to this it means that every test container is automatically marked as successful no matter the results of its children/descendants!?

Consider running unit tests where the majority (let's say 70% of all tests) failed, and the container "JUnit Jupiter" still considers the result as successful. Hard to believe it honestly.

[2017-11-20 15:32] sbrannen commented on #1165
That's correct. However a container can still fail on its own.

[2017-11-20 15:33] sbrannen commented on #1165
That is illogical: if the container started and didn't fail and was not itself aborted, then it was successful.

Although you might not agree with the behavior here, it is at least consistent.

[2017-11-20 15:36] sbrannen commented on #1165
I can understand your skepticism here; however, reporting tools such as builds and IDEs do in fact report all failures. Thus, the _success_ of the execution of a given container does not mean that all tests or containers were also successful. In other words, there is no bug lurking here that would cause an entire test run to be considered successful if there were failures.

[2017-11-20 15:37] sbrannen commented on #1165
In summary, the aggregation of the results for nested containers and tests is the job of the reporting tool which receives all of the necessary information via the `TestExecutionListener` API.

[2017-11-20 15:39] sormuras opened #1175 "ModuleUtils should scan "current" module layer"
## Overview

While integrating JUnit 5.1's module scanning support into https://github.com/forax/pro/issues/53 finding test classes in module was not possible.

## Deliverables

- [x] Find reason for empty "module references set" and fix it.

[2017-11-20 16:02] sbrannen commented on #1170
Fair enough. 😉

I was just thinking that the particular use case of rerunning a test with a name that would not be valid in Java would work when using the unique IDs.... which is in fact the case in Eclipse. However, you're correct: it's just a workaround for the underlying problem (i.e., the fact that my regular expression does not allow parentheses _within_ the method name).

[2017-11-20 18:55] flok32 opened #1176 "BeforeAll/AfterAll-Callbacks not invoked for @ExtendWith annotation on test method"
## Overview

Callbacks for `BeforeAllCallback` and `AfterAllCallback` not running when `@ExtendWith` is not at class level

- **Bug report.**

For the test:
[code]
and `MyLifecycle` implementing `BeforeAllCallback` and `AfterAllCallback` the `beforeAll` and `afterAll` callbacks are not invoked.

As the developer of the extension I would expect those callbacks to run even if the `@ExtendWith` annot

[2017-11-20 19:16] edeandrea commented on #700
Looks like the Gradle team is still spinning on this issue - gradle/gradle#1037

[2017-11-21 06:29] rumpfc commented on #1165
I sort of get your point (in general), but won't help my company in writing an automatic test environment where a test can have many sub-tests (where Container-Test concept of HierarchicalTestEngine fits very good). Even when IDEs do mark Containers as failed, JUnit's TestExecutionListeners tell otherwise which isn't helpful for our reporting format.

Guess I will make either a workaround with Tes

[2017-11-21 06:39] rumpfc commented on #1176
I think this is intended. Before-/AfterAll callbacks should be used to setup your test environment which should be used by all of your test methods (not just by a single test method) in your class.

Take a look at the user guide at section [Relative Execution Order of User Code and Extensions](http://junit.org/junit5/docs/current/user-guide/#extensions-execution-order). In the diagram you see a gr

[2017-11-21 07:58] marcphilipp commented on #1165
It's quite simple to aggregate statuses in a custom `TestExecutionListener`:

[code]

[2017-11-21 10:29] rumpfc commented on #1165
Thanks for the great example. But for the expected results a rearrangement of enum Status is necessary:

public enum Status {
ABORTED,
SUCCESSFUL,
FAILED
}

[2017-11-21 14:42] sbrannen commented on #1105
My assumption is that Gradle treats `provided` like `optional` and therefore ignores it, but I'd have to investigate to verify that.

[2017-11-21 14:43] sbrannen commented on #1105
And when I say "ignores it", I mean in a way that doesn't help us. 😇

[2017-11-21 15:38] sbrannen commented on #1176
As stated in the [User Guide](http://junit.org/junit5/docs/current/user-guide/#extensions-registration-inheritance):

Thus, "inheritance" does not go in the other direction: a parent (i.e., a _container_) cannot inherit from a child (i.e., a _test_).

[2017-11-21 15:41] sbrannen commented on #1176
That would only make sense if the test class only contained one single test method.... or if every single test method registered the same container-level extensions. But in the case of the latter, one would simply register all necessary class-level extensions once at the class level, thereby adhering to the DRY principle.

[2017-11-21 15:44] sbrannen commented on #1176
That's true; however, the implication is that such an extension is actually registered for the container.

That's perhaps a bit vague in the JavaDoc, so we'll improve the wording there.

[2017-11-21 15:48] smoyer64 commented on #1105
@sbrannen - That was a very diplomatic way of saying I didn't understand the original problem ;)

[2017-11-21 15:54] sbrannen commented on #1176
FYI: The JavaDoc has been improved in commit 5a3d4fe5916ec07686795019c7368ff7ed29c5e1.

[2017-11-21 16:01] sbrannen commented on #1105
Ahhhh... well... that wasn't my intention. I was actually just _thinking out loud_ in response to Marc's question.

[2017-11-21 16:16] smoyer64 commented on #1105
No worries ... one of the comments earlier made me wonder whether the warnings would actually be solved using provided.  I'm a bit of a Gradle newb so everything looks like a Maven to me!

[2017-11-21 16:37] smoyer64 commented on #955
Related to #358.

[2017-11-22 00:20] jaredsburrows opened #1177 "Publish dependencies and plugins to Gradle repo"
Repo:
maven { url "https://plugins.gradle.org/m2/" }

Docs:
https://plugins.gradle.org/docs/publish-plugin

[2017-11-22 00:29] jaredsburrows commented on #1177
Duplicate of https://github.com/junit-team/junit5/issues/768.

[2017-11-22 00:29] #1177 closed

[2017-11-22 10:50] jhorstmann opened #1178 "DynamicTest should be able to provide tags and source information to TestDescriptor"
## Overview

Currently the source for dynamic tests is a always a `MethodSource` pointing to the `@TestFactory` annotated method. In case the dynamic tests are based on external files, like in a cucumber implementation, it should be possible to specify the source.

### Example

[code]
## Related Issues

- #434
- #1293

## Deliverables

- [ ] `DynamicTest` / `DynamicContainer` should have additiona

[2017-11-22 14:47] sbrannen commented on #1178
Interesting idea.

However, there are some problems with the proposal.

First and foremost, both `TestTag` and `TestSource` reside in the `junit-platform-engine` artifact and are therefore not visible from the JUnit Jupiter programming model.

With regard to tags, it's less of an issue since tags could be supplied as `Set<String>` instead of `Set<TestTag>`; whereas, providing support for something

[2017-11-22 15:23] sbrannen commented on #163
Hi everybody,

Thanks for the feedback!

In light of the fact that 5.0 GA has already been released, I am now closing this issue since we can't change the names of these annotations now anyway.

Cheers,

Sam

[2017-11-22 15:23] #163 closed

[2017-11-22 19:22] jaredsburrows opened #1179 "Do not print summary for 'details=none' in Gradle plugin unless there are errors"
## Overview:

Can we add an option to not print out to the console? Or only print failures, similar to Gradle's Junit 4 test task?

## Example DSL usage of `JUnitPlatformExtension`:

[code]

## Example output after tests:

[code]

[2017-11-22 19:31] jcarroyo opened #1180 "Getting AbstractMethodError when running @ParameterizedTest"
Hello,

I'm trying to run a very simple @ParameterizedTest:

[code]

This is my pom.xml
[code]

And this is the result:
[code]

[2017-11-22 22:21] BlueIce commented on #1180
The versions of the dependencies are inconsistent. Try to change the version of the `junit-jupiter-params` artifact from `5.0.0-M4` to `5.0.1`.

[2017-11-22 22:35] jcarroyo commented on #1180
Thanks! That was the problem.

[2017-11-22 22:35] #1180 closed

[2017-11-23 12:55] vishnu1295 opened #1181 "class extending TestDataPublisher not being detected by jenkins for new plugin"
I am working on a custom plugin for modifying test reports. I have :
`public class CheckTestDataPublisher extends TestDataPublisher`
which overrides `contributeTestData()` and `getTestAction()`.
Yet, both are not called once the test results are collected.

[2017-11-23 14:35] marcphilipp commented on #1181
What's a `TestDataPublisher`? It's not from junit5 anyway...

[2017-11-23 16:48] sbrannen commented on #1179
I think that's a valid request.

Currently, one can set the `details` as follows.

```--details <[none,flat,tree,verbose]>```

That's used by the `ConsoleLauncher` which is used by the Gradle plugin behind the scenes, and the Gradle plugin defaults to `details 'none'`.

One could argue that `none` should in fact not print anything at all.

So I foresee two options:

1. Literally display nothing wh

[2017-11-23 16:49] jaredsburrows commented on #1179
@sbrannen I completely agree with you analysis. `none` should display nothing unless there are errors, similar to the junit runner built in to Gradle already.

[2017-11-23 16:50] marcphilipp commented on #1179
SGTM!

[2017-11-23 16:51] sbrannen commented on #1179
FYI: I changed the title of this issue accordingly.

[2017-11-23 16:52] sbrannen commented on #1179
I've slated this for 5.1 M2.

[2017-11-23 23:14] bbilger opened #1182 "Wrong name and class name in XML report for parameterized tests"
A test like this

[code]

results in an XML report (`TEST-junit-jupiter.xml`) like this:

[code]

A similar test in JUnit 4 (`@RunWith(Parameterized.class)`), however, produces something like this:

[code]

My "problem" in particular or rather observation is that after migrating to JUnit 5 the number of tests reported in sonar dropped and the tests only using `@ParameterizedTest` no longer show up

[2017-11-24 11:23] sbrannen commented on #1182
Although we will eventually migrate to a new report format that understands the JUnit Platform, I think we might be able to _improve_ this reporting scenario in the interim.

I am therefore slating this for 5.1 so that we take a look at it.

[2017-11-24 11:24] sbrannen commented on #1182
I've labeled this as a _bug_ since the `classname` in such cases is obviously incorrect.

[2017-11-24 11:26] sbrannen commented on #1182
I've also added a _Deliverables_ section to this issue.

[2017-11-24 14:03] sbrannen opened #1183 "Document support for JUnit 4 categories as tags in User Guide"
## Overview

See discussion here: https://github.com/junit-team/junit5/issues/1160#issuecomment-344840875

## Deliverables

- [ ] Document support for JUnit 4 categories as tags in User Guide

[2017-11-24 17:04] smoyer64 opened #1184 "Third-party ParameterResolvers may potentially conflict with ParameterizedTestParameterResolver"
## Overview

In the following code snippet, the Weld CDI system provides a `ParameterResolver` for the third parameter in the `parametersTakePriorityOverInjection()` method.  Since the```@TestTemplate``` "knows" that it's producing parameters for the first two parameters via its ```ArgumentSource```, it shouldn't call either the `supportsParameter()` or `resolvesParameter()` methods of Weld's `Par

[2017-11-24 20:13] sormuras commented on #1179
_in progress_

[2017-11-24 20:27] sormuras commented on #1179
What should the Gradle plugin default to? `none` or `summary`?

[2017-11-24 20:50] sormuras commented on #1179
If we "change" the default value from `none` to `summary` the default output of the Gradle Plugin does **not** change. If you want the a silent/quiet mode, you have to configure it manually:

[code]

[2017-11-25 11:54] omnivion opened #1186 "Ignore annotations when looking for test classes"
## Overview

Maven currently spits out a warning when an annotation name ends with "Test" -- for example, @interface JimfsTest.

[2017-11-25 12:24] marcphilipp commented on #1186
It does? What does it say?

[2017-11-25 12:32] omnivion commented on #1186
My build was outdated, sorry.

[2017-11-25 12:32] #1186 closed

[2017-11-25 12:47] marcphilipp commented on #1186
No worries!

[2017-11-25 15:43] sbrannen commented on #1132
The initial work on this issue by @hglasgow has been merged into `master`; however, I am leaving this issue open in order to perform some additional polishing.

[2017-11-25 16:22] sbrannen commented on #1132
Additional polishing was added in 59ce73eb888b71cb002af9ed6f1ed542ee4e43e7.

I am therefore closing this issue.

[2017-11-25 16:22] #1132 closed

[2017-11-25 16:37] sbrannen commented on #1132
@hglasgow FYI: the fruit of our combined labor: http://junit.org/junit5/docs/snapshot/user-guide/#extensions-supported-utilities

[2017-11-25 17:23] sbrannen commented on #1184
@smoyer64 It appears to me that this may have been fixed in 5.0.2 in this commit: https://github.com/junit-team/junit5/commit/41c76d6a703e0b8b287fb5bbc36b98660ed29875.

Can you please give it a try with 5.0.2?

[2017-11-25 17:33] sbrannen commented on #1184
FWIW, even if this scenario is not _fixed_ in 5.0.2., I would argue that the `WeldJunit5Extension` is flawed.

**Any `ParameterResolver` implementation (other than `ParameterizedTestParameterResolver`) which claims that it _supports_ `java.lang.String` (or any other common Java type) without requiring the presence of a custom annotation for disambiguation is broken by design.**

In other words, no

[2017-11-25 17:43] sbrannen commented on #1184
@smoyer64, no need to try with 5.0.2.

I just confirmed the behavior against `master` with the following.

[code]

[2017-11-25 17:47] sbrannen commented on #1184
**Decision**

We will see if we can avoid such _collisions_ between such parameter resolvers for parameterized tests.

However... my previous claim that the `WeldJunit5Extension` is fundamentally broken still stands.

For example, even if we do address this issue for parameterized tests, the `WeldJunit5Extension` would still cause problems if used in conjunction with any other `ParameterResolver`

[2017-11-25 17:56] sbrannen commented on #1184
@smoyer64, is this the [WeldJunit5Extension](https://github.com/weld/weld-junit/blob/master/junit5/src/main/java/org/jboss/weld/junit5/WeldJunit5Extension.java) implementation you're talking about?

[2017-11-25 18:02] sbrannen opened #1187 "Provide access to test instance lifecycle via ExtensionContext"
## Overview

Currently extension authors can only _attempt_ to determine the test instance lifecycle, as can be seen in the `WeldJunit5Extension`:

https://github.com/weld/weld-junit/blob/84c6631f9851409cb4c9e427793a7cc9f6ae54b8/junit5/src/main/java/org/jboss/weld/junit5/WeldJunit5Extension.java#L162-L170

Such attempts are, however, fragile at best since the _default_ lifecycle may have been over

[2017-11-25 20:21] #1179 closed

[2017-11-26 06:49] sormuras commented on #1175
Done via https://github.com/junit-team/junit5/commit/54c90fd868787cb2884681516326e0631e6fd275 and tested integration with https://github.com/forax/pro/commit/49ceaf6d91dc6521f644db8e8a3f4f2db0162994

[2017-11-26 06:50] #1175 closed

[2017-11-26 12:22] smoyer64 commented on #1184
@sbrannen Yes, that's the class that I'm talking about.  There's a whole discussion about whether that extension is "too greedy" in https://github.com/weld/weld-junit/issues/3.  Since Weld is a CDI implementation, it should behave much like Spring's CDI.  You can control the context (which beans are managed) at a class level but I suspect I'm going to find a concrete example pretty quickly.  Claim

[2017-11-26 15:44] sbrannen commented on #1184
Thanks for the link to the Weld issue.

I agree that the current implementation of the Weld extension is too greedy with regard to parameter resolution, and I even consider that behavior a **worst practice**.

[2017-11-26 15:44] sbrannen commented on #1184
When you say "Spring's CDI", I assume you mean "Spring's DI". 😉

[2017-11-26 15:45] sbrannen commented on #1184
example of what?

[2017-11-26 16:02] sbrannen commented on #1184
Based on the discussions here and my comments in https://github.com/weld/weld-junit/issues/3#issuecomment-347018429, I am tempted to simply close this issue as _works as designed_.

@junit-team/junit-lambda, Thoughts?

[2017-11-26 16:03] sbrannen commented on #1184
I have also removed the _bug_ label, since I no longer consider this a bug but rather a request for _enhancement_.

[2017-11-26 16:04] sbrannen commented on #1184
FYI: I have updated the title of this issue accordingly.

[2017-11-26 16:34] sormuras commented on #1184
+1

[2017-11-26 16:41] sbrannen commented on #1179
Thanks for the quick fix, @sormuras!

[2017-11-27 10:47] acogoluegnes opened #1188 "Excluded tags don't work on Maven with JDK 9"
From the `junit5-vanilla-maven` project, add a new test:

[code]
Exclude the tag in the pom.xml:

[code]

Modified project: https://github.com/acogoluegnes/junit5-vanilla-maven

Exclusion works on JDK 8, but not on JDK 9:

[code]

[code]

[2017-11-27 10:52] sormuras commented on #1188
Fascinating.

Can you please try a newer version of `maven-surefire-plugin:2.19.1`? There are issues with it, too, but maybe the exclude filter works... ;)

[2017-11-27 11:48] sormuras commented on #1188
Just reproduced it with our maven-consumer sample application

[Java 8](https://travis-ci.org/junit-team/junit5-samples/jobs/307849681) -  `Tests run: 5, Failures: 0, Errors: 0, Skipped: 1`
[Java 9](https://travis-ci.org/junit-team/junit5-samples/jobs/307849685) - `Tests run: 6, Failures: 0, Errors: 0, Skipped: 1`

[2017-11-27 12:00] marcphilipp commented on #1188
This is caused by a bug in Surefire that I reported a while back:
https://issues.apache.org/jira/browse/SUREFIRE-1445

[2017-11-27 14:03] acogoluegnes commented on #1188
@marcphilipp Thanks for the pointer, I submitted a PR: https://github.com/apache/maven-surefire/pull/171

[2017-11-28 09:25] u6f6o opened #1189 "Add support to assert the content of two iterables, ignoring the element order"
## Feature Request

I'd like to introduce an assertion that checks the content of two iterables, ignoring the elements order. For example, having two iterables, all currently available assertions take the order into account:

[code]
A first draft of such an assertion could look like the following:

[code]

[2017-11-28 12:16] sbrannen commented on #1189
I cannot speak for the rest of the team, but my gut feeling is that we don't want to increase the complexity of the simple `Assertions` provided by JUnit Jupiter.

For more advanced uses cases (like the one you describe), we generally recommend the use of a dedicated third-party assertion library such as AssertJ, Hamcrest, Truth, etc.

For example, using AssertJ your test could be rewritten as fol

[2017-11-28 12:18] sbrannen commented on #1189
@junit-team/junit-lambda, I have assigned this to 5.1 M2 in order to discuss amongst the team.

[2017-11-28 12:27] u6f6o commented on #1189
Thanks for mentioning AssertJ and Truth, I did not know about them. After all, I think I would also try to keep the complexity low and go with one of the mentioned libraries otherwise.

[2017-11-28 12:34] sormuras commented on #1189
+1

[2017-11-28 13:53] sbrannen commented on #1068
The necessary changes have been merged into `master`.

[2017-11-28 13:53] #1068 closed

[2017-11-28 15:25] sbrannen commented on #1189
You mean... you haven't read the [JUnit 5 User Guide](http://junit.org/junit5/docs/current/user-guide/#writing-tests-assertions-third-party)? 😜

[2017-11-28 15:28] sbrannen commented on #1189
**Team Decision**

- Decline feature request in favor of recommendation to use third-party assertion libraries.

[2017-11-28 15:28] #1189 closed

[2017-11-28 16:54] sbrannen opened #1190 "Document best practices for implementing ParameterResolvers"
## Overview

Based on discussions in #1184 and https://github.com/weld/weld-junit/issues/3, it is apparent that we need to document _best practices_ for implementing `ParameterResolver`, particularly with regard to "playing nicely" with other registered `ParameterResolver` implementations.

## Proposed Categories

After having put a bit more thought into the subject, I am tossing around the idea o

[2017-11-28 16:54] sbrannen commented on #1184
FYI: I created https://github.com/junit-team/junit5/issues/1190

[2017-11-29 15:14] klassounski-daitan opened #1191 "Support conversion of multiple @CsvFileSource parameters into one object"
## Overview

Hello there Java testers.
I started working with JUnit 5 a few days ago because I loved the new way of creating parameterized tests.

There's the `@ParameterizedTest` that allows a test to run in a parameterized fashion and `@CsvFileSource` that loads the parameters from a CSV file.

The thing is that I have too much columns in my CSV and don't want to have a huge method signature in

[2017-11-29 16:12] sbrannen commented on #1191
Assigned to 5.1 backlog for team discussion.

[2017-11-29 16:12] sbrannen commented on #1191
FYI: I updated the title of this issue to reflect its more generic nature.

[2017-11-29 16:26] sbrannen commented on #1184
Also related to: https://github.com/weld/weld-junit/issues/13

[2017-11-29 16:39] reitzmichnicht opened #1192 "Support @ParameterizedTest in conjunction with @TestFactory"
## Overview

I started to write some dynamic tests, and now it would be handy to reuse some `@ParameterizedTest` functionality I already implemented.

Take a look at this example:

[code]

This should generate some dynamic tests for each class found in the package, but sadly the `@ParameterizedTest` annotation is not supported with a `@TestFactory` method.

Kind regards,
Michael

## Related Issues

[2017-11-29 16:48] sbrannen commented on #1192
Why don't you just extract the logic from your `ClassArgumentsProvider` that generates the stream of classes and use that stream directly within your `@TestFactory` method to generated the `Stream<DynamicTest>` (instead of the `Stream<Arguments>` created in your provider)?

You could put that in a common utility and use the utility (e.g., static factory method) both from your provider as well as i

[2017-11-29 16:51] sbrannen commented on #1192
FWIW, it is not feasible for JUnit Jupiter to treat a single method as two containers simultaneously: it just doesn't make sense.

Note that a `@ParameterizedTest` and a `@TestFactory` are both technically _containers_ as opposed to _tests_ (in terms of `org.junit.platform.engine.TestDescriptor.Type`).

[2017-11-29 16:53] sbrannen commented on #1192
Relates to #871 and #878.

[2017-11-29 16:56] sbrannen commented on #1192
Assigned to 5.1 backlog for team discussion.

[2017-11-29 17:04] sbrannen commented on #1192
Is this related to the API Guardian project created by the JUnit 5 team?

[2017-11-29 20:08] michaelajr commented on #746
Any news on when suite-api annotations will be supported in JUnit5 proper (platform)? Would be great to have these work without the need to use the JUnit4 runner.

[2017-11-30 00:54] michaelajr commented on #744
Hi. Just an end-user here. Figured I'd give my 2 cents. Hope that is ok.

First my set up. I use Maven/Surefire to run tests. I configure SureFire to look for `*Test.java` files, and I configure it to use the `junit-platform-surefire-provider`.  I then depend on `junit-jupiter-engine` in my tests dependencies. (I am NOT using Junit4 and the `@RunWith(JUnitPlatform.class)` annotation.)

So. All I w

[2017-11-30 08:45] RupprechJo commented on #744
The idea of michaelajr is completely enough

[2017-11-30 11:34] sbrannen commented on #746
This issue is closed.

The issue that will introduce support for declarative test suites (#744) is currently slated for 5.1 M2.

[2017-11-30 11:39] sbrannen commented on #744
Please keep in mind that frameworks are not developed or designed to suit the needs of an individual but rather for the community at large.

Thus, although the proposal by @michaelajr is certainly sufficient for some use cases, it would not suffice for users who need full control of the suite.

Furthermore, our current goal is to support suites on the Platform in general, not just within the Jupit

[2017-11-30 11:43] sbrannen commented on #744
@michaelajr, yes, of course. That's totally _ok_. We welcome input from the community. 😉

That's not entirely true.

1. You in fact created your own naming conventions: `*Test` and `*Test*`. 😛
2. Your proposal does not introduce new annotations, but it does introduce a dependency on the platform suite annotations within the JUnit Jupiter engine, which is currently not our goal.

In any case, fear

[2017-11-30 11:51] reitzmichnicht commented on #1192
This is my junit5 implementation of guard assertions as described here:
https://madstt.dk/verify-your-guards-with-autofixture/

It takes all public methods of a class and checks if null arguments are safely handled. So it generates for each parameter of each method a dynamic test. Now I want combine this to get these tests generated for each class in the package. So I want nested Testcontainers li

[2017-11-30 12:11] sbrannen commented on #1192
We actually already have support for nested dynamic containers! 😉

In the [Dynamic Test Examples](http://junit.org/junit5/docs/current/user-guide/#writing-tests-dynamic-tests-examples) section of the User Guide you'll find a test method named `dynamicTestsWithContainers()` which demonstrates this feature.

I think that will cover your needs, but please reply here to let us know in any case.

Cheer

[2017-11-30 12:20] sormuras commented on #1192
Here is another [usage](https://github.com/junit-team/junit5/blob/master/platform-tests/src/test/java/org/junit/platform/console/ConsoleDetailsTests.java) of dynamic containers which produces a tree like:

![consoledetailsteststree](https://user-images.githubusercontent.com/2319838/33430547-2f2c88ea-d5d1-11e7-9d5a-04a05b9dab74.PNG)

[2017-11-30 12:54] sormuras commented on #1169
_"We use ASM 6.0_ALPHA in the Kotlin compiler. This problem is going to be fixed by using ASM 6.0 instead."_

https://youtrack.jetbrains.com/issue/KT-21303#comment=27-2566164

[2017-11-30 13:44] sbrannen commented on #1190
Update: added _Proposed Categories_ section to issue.

[2017-11-30 14:20] michaelajr commented on #744
@sbrannen Just to clarify, naming test classes `*Test.java` (or `Test*.java`) is convention for Maven/SureFire. Nothing new there. SureFire will pick them up automatically. By NOT using that convention for my method-level test classes (not naming them as `Test*.java` or `*Test.java), they will not be picked up by Maven/SureFire. Then, using the `suite-api` annotations, I can include the method-lev

[2017-11-30 15:40] AlejandroJadzinsky opened #1193 "Surefire does not execute single test method when selected via system property"
I'm trying to do this `mvn test -Dtest=SingleMethodTest#firstMethod`, but Maven Surefire executes all the test methods.

- here you can check the [test](https://github.com/AlejandroJadzinsky/junit5-test)

-   used versions
<surefire.version>2.19.1</surefire.version>
<junit-jupiter.version>5.0.1</junit-jupiter.version>
<junit-platform.version>1.0.1</junit-platform.version>

- expected result
only '

[2017-11-30 16:33] sbrannen commented on #1193
Assigned to 5.1 backlog for further investigation.

[2017-12-01 09:05] sormuras commented on #742
#1174 will introduce the "closeable resource" part.

Do we need/want a "general purpose _on close_ callback" as well? Meaning an interface like `ExtensionContextOnCloseCallback` which can implemented by `Extension`s to get notified when their context is teared down?

[2017-12-01 13:49] sbrannen commented on #742
No, I think we can forego the introduction of an additional extension API for the time being.

[2017-12-02 05:40] nyakto opened #1194 "Long test execution time (gradle)"
I'm experiencing slow builds on pretty simple test configuration

[configuration, test & log](https://gist.github.com/nyakto/b18f7cb0a8fa2a393394e95d3f8edd23)

Test execution takes pretty stable 5-6 seconds (never lower than 5 seconds, looks like threshold), though it makes nothing
But overall build taken even longer (for another 5 seconds!)
It's total 10-11 seconds for do-nothing test

I've playe

[2017-12-02 06:04] sormuras commented on #1194
Hi @nyakto -- our "do-nothing" [vanilla test](https://github.com/junit-team/junit5-samples/tree/master/junit5-vanilla-gradle) with a [minimal Gradle setup](https://github.com/junit-team/junit5-samples/blob/master/junit5-vanilla-gradle/build.gradle) takes [105 ms](https://travis-ci.org/junit-team/junit5-samples/jobs/309966502#L477) for test plan execution.

There is some other component that adds t

[2017-12-02 06:08] nyakto commented on #1194
It sure looks like constant amount of time

[code]

Nothing special

[2017-12-02 06:14] nyakto commented on #1194
My digging shows that long-running task in build process is executing command for ConsoleLauncher (you can find it in provided log)
And ```logManager``` affection on build time is VERY suspicious
Maybe you can provide some hints for tracing the problem?

[2017-12-02 06:47] sormuras commented on #1194
The reported test plan execution time is measured here: https://github.com/junit-team/junit5/blob/6e50d4379ff4bbc5e7f8a93e218424b1c4b74b95/junit-platform-console/src/main/java/org/junit/platform/console/tasks/ConsoleTestExecutor.java#L62-L67

It includes the time needed for discovery and execution of tests. The discovery process parses the entire class-path [1] for tests using this (default) `^.*T

[2017-12-02 06:59] nyakto commented on #1194
I've found a problem: it's hostname lookup by logger... and ```XmlReportWriter```
It tries to resolve "iMac-Stanislav.local" into InetAddress
And it happens twice
And constant 5s delay is obviously a timeout

[2017-12-02 12:46] ps4os opened #1195 "Tight coupling in TestEngine"
Currently there is no easy way to customize TestEngine.discover

For JUnit 4 we have our own approach very similar to JUnit 5 Tags.
We have different Test-Suites which define includes and excludes via Java-Code. Porting it to JUnit 5 (without the JUnit 4 adapters) is very hard, because there is no SPI like a TestClassResolver to "extend" only TestEngine.discover and keep the rest of JupiterTestEng

[2017-12-02 13:01] marcphilipp commented on #1194
From where in `XmlReportWriter` is the hostnname lookup triggered?

[2017-12-02 13:03] marcphilipp commented on #1195
The JUnit Platform will eventually support declarative suites, see #744. To me it sounds like that should solve your problem, right?

[2017-12-02 13:22] marcphilipp commented on #1165
You're right, you'd have to use a custom `Comparator` as we cannot reorder enum constants without breaking binary compatibility.

[2017-12-02 13:30] marcphilipp commented on #1181
Closing due to lack of feedback. Feel free to comment or re-open if the issue persists.

[2017-12-02 13:30] #1181 closed

[2017-12-02 13:35] ps4os commented on #1195
That depends on the Suite-API, because we would like to mark our Suite-Class with Tags instead of Class-Patterns or explicit classes (black- as well as white-list approach).

[2017-12-02 13:37] marcphilipp commented on #1195
It will most likely support everything a `LauncherDiscoveryRequest` supports, in particular tag filters. Thus, I'm closing this as a duplicate of #744. Feel free to chime in there and state your requirements. Thanks!

[2017-12-02 13:37] #1195 closed

[2017-12-02 13:48] ps4os commented on #744
As mentioned at #1195 we would need an approach to mark Suite-Class/es with Meta-Annotations based on Tags (white- and black-listing). In our case we have an approach for JUnit 4 which is based on Meta-Annotations and therefore not just Text-Tags. Due to the current API of JUnit 5 we can't upgrade from JUnit 4 and I hope that it will be possible at some point.

[2017-12-02 17:21] sbrannen commented on #1194
@marcphilipp, that happens in `XmlReportWriter.writeSuiteAttributes(TestIdentifier, List<TestIdentifier>, NumberFormat, XMLStreamWriter)`:

[code]

[2017-12-02 17:23] sbrannen commented on #1194
Slated for 5.1 M2 in order to investigate if we can speed up the hostname lookup.

[2017-12-02 18:09] nyakto commented on #1194
I propose to ignore this issue
It's a platform bug on Mac OS High Sierra, which is easy to fix by modifying ```/etc/hosts```
At best it's worth mentioning somewhere in documentation for those experiencing this problem

[2017-12-03 16:34] marcphilipp commented on #1193
Our Surefire provider does currently not support the `test` parameter. The provider would need to process the included/excluded patterns in `providerParameters.getTestRequest().getTestListResolver()` and add one or multiple `PostDiscoveryFilters`.

I'm putting this issue "up-for-grabs".

[2017-12-03 22:42] k1w1m8 commented on #1025
I'm currently using the old school JUnit 3 API with TestSuite and TestCase to write a wrapper around non Java tests and have them runnable inside JUnit/Maven/Jenkins/IDEA. Since the non java tests don't correspond to an actual Java .class method, you cannot click and run them inside IDEA. :-(

I looked into using JUnit 5 for this purpose. The Dynamic Tests api lets me create dynamic tests quite si

[2017-12-04 11:38] christophsturm commented on #60
@marcphilipp whats the best way to try this out?
btw, I was thinking of collecting the duration of each test and then sort by that time descending. that would ensure that slow test run early and on different cores, and you don't have a slow test running at the end when all other cores are idle.

[2017-12-04 11:44] sormuras commented on #60
Use JitPack with the experimental branch. Will compile the dependency coordinates when I get home. Which build tool do you prefer?

[2017-12-04 11:47] christophsturm commented on #60
ah cool i did not know that the experimental branch is published. I'm using gradle but the parallel test running is most interesting to me from inside IDEA.

[2017-12-04 11:47] mannodermaus commented on #60
Great to see a concrete milestone attached to this feature!

[Here are the Jitpack coordinates of the experiments-parallel-execution](https://jitpack.io/#junit-team/junit5/experiments~parallel-execution-SNAPSHOT)!

[2017-12-04 11:50] sormuras commented on #60
Slightly different coordinates here: https://jitpack.io/#junit-team/junit5/experiments~parallel-execution-SNAPSHOT

Both should work. Caveat: some results collecting listeners are not thread safe, yet.

[2017-12-04 19:44] sormuras commented on #506
Gist from https://stackoverflow.com/questions/47633819/injecting-test-classes-created-by-platform-launcher ... allow extension instances be part of a `LauncherDiscoveryRequest`.

        LauncherDiscoveryRequest request = LauncherDiscoveryRequestBuilder
                .request()
                .selectors(...)
                .extendWith(TestInstancePostProcessor.class, new Mutator("one else!"))

[2017-12-04 20:32] sormuras opened #1196 "Provide access to configuration parameters via ExtensionContext"
## Overview

At the moment, only test engines have access to configuration parameters.

Copied from http://junit.org/junit5/docs/current/user-guide/#running-tests-config-params : _In addition to instructing the platform which test classes and test engines to include, which packages to scan, etc., it is sometimes necessary to provide additional custom configuration parameters that are specific to a

[2017-12-05 19:34] sbrannen commented on #1133
Resolved in commit c706853d9c6b2a01da5a0b01046c8c735d557add in `master`.

[2017-12-05 19:34] #1133 closed

[2017-12-05 19:35] sbrannen commented on #497
_in progress_

[2017-12-06 00:05] sbrannen commented on #497
**Update**:

I have pushed my current _work in progress_ to the following feature branch.

https://github.com/junit-team/junit5/tree/issues/497-programmatic-extension-registration

@junit-team/junit-lambda (or other members of the community), if you have a chance to look over commits in the branch, the following categories of feedback are welcome (which implies that other forms of feedback are cur

[2017-12-07 00:02] sbrannen commented on #506
@sormuras, the proposed `extendWith()` method in the launcher API does not address the issue of extension _management_. Rather, it simply provides another means for programmatic extension _registration_.

So, unless I'm missing something, the proposal is not relevant to this GitHub issue.

Furthermore, I am not a fan of registering extensions as mere _objects_ at the level of the launcher API: I t

[2017-12-07 19:13] wkorando opened #1199 "Update IDE Support documentation"
## Overview

The documentation currently says Eclipse only offers beta support for JUnit 5, however Eclipse has recently offered full production support for JUnit 5 with Eclipse Oxygen.1a (4.7.1a)

[2017-12-08 13:03] #1199 closed

[2017-12-08 15:41] christophsturm commented on #60
this is my first time using jitpack but it does not seem to work
[code]

[2017-12-08 15:50] christophsturm commented on #60
i got it running, the problem was that the ~ character was always escaped to %7e when i used your url

this one worked for me: https://jitpack.io/#junit-team/junit5/experiments~parallel-execution-SNAPSHOT

[2017-12-08 15:58] sormuras commented on #60
Nice. How did the fork-join-pool work out for you?

[2017-12-08 16:04] christophsturm commented on #60
it seems to work. I will report back after some more tests!

[2017-12-08 21:09] christophsturm commented on #60
I think there's a problem with @BeforeEach. if you take this test:
[code]
it outputs `beforebeforet2t1`

[2017-12-08 21:17] christophsturm commented on #60
ok never mind, I notice that this output is totally valid.
 Still its strange because one of my tests that seems to depend on side effects, runs fine multi threaded in junit4 but it fails with junit5. anyway, not a bug in junit5.

[2017-12-08 23:48] sbrannen commented on #1199
Thanks, Billy!

[2017-12-09 01:02] sbrannen commented on #497
**Update**:

Just pushed _instance-level_ support for `@RegisterExtension` to the aforementioned feature branch.

[2017-12-09 12:28] christophsturm commented on #60
one question, why are you using a ForkJoinPool? should't a normal fixedthreadexecutorservice act exactly the same in this usecase, but with less overhead?

[2017-12-09 12:46] marcphilipp commented on #60
We rely on its work-stealing properties: When a container executes it needs to be able to fork execution for each child and resume once they‘re done, recursively. Moreover, we‘ll probably add resource locks which ForkJoinPool should support nicely.

[2017-12-09 12:56] christophsturm commented on #60
is the HierarchicalTestExecutorService pluggable? i would like to experiment with some performance optimisations and not have to rebuild junit. also somehow unrelated, but is it possible to configure a callback that runs before and after my whole suite? In my junit4 suite i use a CPUTimer class that measures cpu load. (trying to get my test suite to use all cores on my threadripper system)

[2017-12-10 02:42] sbrannen commented on #497
**Update**:

Just pushed support for `@RegisterExtension` in conjunction with `@TestInstance(PER_CLASS)` lifecycle semantics.

[2017-12-11 18:24] christophsturm opened #1203 "Gradle test runner does not show line number or stack trace of failed assertion"
I have a test that fails only in gradle, and its impossible for me to find out in what line it fails:
[code]

junit neither shows a line number nor a stack trace. I think it should show the line number per default. Also i googled and searched the User's guide, and was not able to find a solution.

[2017-12-11 20:27] sormuras commented on #1203
You may specify `flat` or `verbose` as the details mode in the Gradle `junitPlatform` task:

[code]

This will emit the stacktrace with all information available.

The console summary (which you see in your initial issue descrption) should also print some initial lines from the stacktrace.

[2017-12-11 20:50] christophsturm commented on #1203
the console summary does not contain any stacktrace. Here's output from the gradle-consumer demo project, i just added a fail statement to one of the tests:
[code]

details: 'flat' does indeed log the stacktrace but thats pretty verbose output just to see the line number of a filed test.
[code]

[2017-12-11 20:55] sormuras commented on #1203
Hm, I typed _summary (...) should also print some initial lines_ I meant that it does not print any lines from the stacktrace at the moment. That's an issue and should be solved.

[2017-12-11 20:57] christophsturm commented on #1203
ah ok thanks, i thought you assumed that I did not paste everything. is it maybe possible to get that into a 5.0.x release?

[2017-12-11 21:54] sormuras commented on #1203
Another way to indicate where the assertion fails: add a custom message to the [assertion](http://junit.org/junit5/docs/snapshot/api/org/junit/jupiter/api/Assertions.html) call. :)

[2017-12-11 21:57] sormuras commented on #1203
Perhaps. @junit-team/junit-lambda ?

[2017-12-12 08:52] Dutzen commented on #579
Has anything changed since the request of this feature?
A custom configuration for tasks to execute specific tests with give tags is highly preferred. Any update on this subject?

[2017-12-12 11:59] reitzmichnicht commented on #1192
When it is supported by code to have nested dynamic containers it should also be possible by annotation.
It's always better to have tests maintainable and understandable which is more given by annotations instead of creating dynamic containers in code.

[2017-12-12 13:14] reitzmichnicht opened #1205 "Correct class names for surefire test reports generated tests"
Using Junit 5.0.2

The surefire Plugin does not output correct information for classnames in the TEST-*.xml reports for tests using `@ParametrizedTest` or `@TestFactory`
[code]

The last two entries are generated with TestFactory and the classname is missing. The missing classname has sideeffects for Jenkins Test Results and also the SonarQube runner does not recognize them.

[2017-12-12 13:17] reitzmichnicht commented on #1205
#990

[2017-12-12 16:20] marcobehler opened #1206 "Link to screencast in Wiki"
Hi guys
(I already asked on Twitter and Sam Brannen told me to open up a Github issue, so here we are:)

Although this might come off as blatant self promotion, I was wondering if you guys were willing to link to
[this screencast on "What's new in Junit 5?"](https://www.marcobehler.com/episodes/93-what-s-new-in-junit-5) from the Wiki?

Cheers,
Marco

[2017-12-12 19:40] sormuras commented on #1206
Here you go: https://github.com/junit-team/junit5/wiki/Videos

[2017-12-12 21:03] binkley commented on #924
Using the nice Kotlin version of `assertThrows` I get this compiler error:

[code]

Switching to the Java version of `assertThrows` does not error, but is also less idiomatic.  I believe this is an unfortunate side effect of JetBrains' implementation of `inline` and `reified`, though I'm unable to find a good reference for this and the impact of bytecode version.

Is there a build of JUnit targeti

[2017-12-12 21:14] sormuras commented on #924
That's how we configure the Kotlin compiler:
https://github.com/junit-team/junit5/blob/be331a4e8de5de46279c1c842908b1609ca85e66/build.gradle#L190-L196

[2017-12-13 02:54] shatu commented on #801
Just in case someone else is struggling with a similar problem, in my case, I observed that using the latest version (2.20.1) of maven-surefire-plugin instead of 2.19.1 fixed my problem.

[2017-12-13 08:29] marcobehler commented on #1206
Thank you a lot, @sormuras !

[2017-12-13 08:35] vmassol commented on #801
@shatu Thanks for the update. I've just tried to update to 2.20.1 and I'm still getting errors:

[code]

[2017-12-13 14:22] #1206 closed

[2017-12-13 14:39] sbrannen commented on #878
Moved to 5.1 backlog due to repeated requests for a feature like this at conferences, etc.

[2017-12-13 14:51] sbrannen commented on #1205
Closing this issue since it duplicates #1182.

[2017-12-13 14:51] #1205 closed

[2017-12-13 14:58] sbrannen commented on #579
No, there is no update on this issue.

At this point in time, we are working with the Gradle team to move the JUnit Platform Gradle plugin to Gradle.

We are therefore not planning on implementing any major new features in the plugin provided by the JUnit Team for the time being.

[2017-12-13 21:06] arteme commented on #475
What is the advantage of setting properties in the "afterEvaluate" block as opposed to during the task configuration? Given that `xyz { ... }` syntax is essentially a shortcut to `tasks.getByName('xyz') { ... }`, then in my tests, the following works with gradle 4.2 at least and skips the unpleasantness of having to do manual `getByName()` lookup :
[code]

[2017-12-14 00:52] ebrowne72 opened #1207 "Can't filter inner classes correctly"
## Overview

- Jupiter version: 5.0.2
- Vintage version: 4.12.2

I have JUnit 4 tests inside static inner classes. Vintage finds these classes if the inner class name ends with "Test". For example:

[code]

But if the inner class name does not end with "Test" then it is not found.

[code]

The default filter for test classes is `^.*Tests?$`, which is why `OuterTest$InnerTest` is found and `OuterTe

[2017-12-14 11:24] sormuras commented on #1194
Thanks for the feedback.

Closing this issue as "external issue".

[2017-12-14 11:24] #1194 closed

[2017-12-14 12:45] christophsturm commented on #60
i have now ported my whole test suite to junit5 and it's running well with the parallel support. I have only one small issue left, but thats jitpack related, the gradle plugin is adding junit dependencies with the original groupId and not the jitpack groupId, which is to be expected, but it results in using the snapshot version instead of the experimental version:
[code]
this will just go away whe

[2017-12-14 18:29] smoyer64 commented on #1194
@sormuras - Do you want to relabel the issue then?

[2017-12-15 10:16] rumpfc commented on #1190
Can you also provide examples for error/exception handling within `ParameterResolver` which are actually not `ParameterResolutionExceptions` (i.e. `resolveParameter()` reads a File where an `IOException` is thrown).

[2017-12-15 11:29] jaikiran opened #1208 "Enhancement request : Introduce a way to distinguish between test failures and errored out tests"
Consider the following test case:

[code]

Both these test methods are expected to fail. Right now, the JUnit *platform* doesn't distinguish between these two different types of failures. I consider the `testOne` to be a "failure" where as the `testTwo` as an error.

It would be good to have this distinction available at the platform level, through platform APIs, so that test engines can (optional

[2017-12-15 11:50] rumpfc commented on #1208
JUnit throws an `java.lang.AssertionError` exception within each `Assertions.assertXXX(...)` method. This exception is derived from `java.lang.Error`

Eclipse defines a test as
* FAILURE whenever an exception derived from `java.lang.Error` is thrown
* ERROR whenever a `Throwable` which is not derived from `java.lang.Error` is thrown

[2017-12-15 11:56] jaikiran commented on #1208
You are right, the JUnit test engine does do that and I can probably rely on that knowing that it does. But I was wondering if there can be a contract between the JUnit platform and various test engines, so that the test listeners won't have to bother about whether or not each of the test engines out there follow this convention.

[2017-12-15 12:20] rumpfc commented on #1208
I'm not sure, but these two should return the same value for the same test:
http://junit.org/junit5/docs/current/api/org/junit/jupiter/api/extension/ExtensionContext.html#getUniqueId--
http://junit.org/junit5/docs/current/api/org/junit/platform/launcher/TestIdentifier.html#getUniqueId--

Maybe you can connect this with a singleton class or something

[2017-12-15 23:35] JLLeitschuh opened #1209 "Can't call "fail" in Kotlin without specifying generic type explicitly"
## Overview

In java you can call `fail` like this:
[code]
Because of how the Kotlin compiler works, the same call in kotlin becomes:
[code]

Trying to just have:
[code]

Causes the compiler to spit out the following error:
[code]

## Proposed Solution

Add to the existing `Assertions.kt` file something like the following:

[code]

Similar overloads will have to be provided for the other various `

[2017-12-17 11:25] obfischer commented on #1182
I stumpled on the same problem. Also for repeated tests (`@RepeatedTest`) is the method name instead of the classname given.

[2017-12-17 11:54] obfischer commented on #1182
The Junit plugin of [jQAssistant](http://jqassistant.org/) uses the written report to link test results and Java methods and classes. There relations created by allow the user to search for classes and methods with brocken tests.

Therefore it is important for us that the report allows us to identify the method and the class behind a test case.

[2017-12-17 15:42] sbrannen commented on #1194
@smoyer64, what _label_ would you suggest?

[2017-12-18 09:41] jlink commented on #1025
A simple implementation that would allow IDEs like IntelliJ to use it (see https://youtrack.jetbrains.com/issue/IDEA-169198?replyTo=27-2628598) is to use the parent descriptor in cases where the child descriptor cannot be invoked.

As it is now, Jetbrains is not willing to do it "the right way" because Jupiter will throw up an exception :-/

[2017-12-18 10:24] gigaSproule opened #1210 "Receiving a lot of warning messages because guardian-api is not brought in by junit"
## Overview
I am using junit-jupiter-api version 5.0.2 in my tests (using JDK 8) and I am getting `warning: unknown enum constant Status.STABLE   reason: class file for org.apiguardian.api.API$Status not found` printed out a lot. I have noticed that JUnit is using apiguardian-api and so I have brought this in as a dependency to get rid of the warnings. But as we want to have warnings appear as err

[2017-12-18 10:31] sormuras commented on #1210
Duplicate of #1105

[2017-12-18 10:31] #1210 closed

[2017-12-18 17:16] nico-de opened #1211 "Provide a full equivalent replacement for the @Rule functionality"
To my understanding, currently, there's no clean and elegant replacement for all opportunities that could be achieved leveraging `@Rule` available in _JUnit 4_.

Here's the idiom how we often implement reusable `Rule`s in order to bootstrap and tear down test servers (e.g. embedded databases or _RMI_ / _FTP_ servers) needed to mock external systems when executing integration tests:

[code]

In the

[2017-12-18 17:26] sormuras commented on #1211
Hi @nico-de -- comparing your request to #497 ... do they match? Anything missing?

See this almost finished finished feature branch: https://github.com/junit-team/junit5/compare/issues/497-programmatic-extension-registration

[2017-12-18 18:53] smoyer64 commented on #1211
@nico-de I'm almost done with all the JUnit 4 ```@Rule``` equivalent extensions in #660 (a PR from https://github.com/selesy/junit5/tree/issues/343-document-testrule-compatibility).  I'm hoping to complete this PR over the Christmas holiday.

More importantly, the code that I originally wrote as examples in that PR will be moving to https://github.com/junit-pioneer/junit-pioneer so that there's a

[2017-12-18 19:36] nico-de commented on #1211
@sormuras, yes you're right. #497 seems to be exactly what I was striving for. Sorry for filing a duplicate: I searched for a ticket covering my request – but failed to find #497.

[2017-12-18 19:36] #1211 closed

[2017-12-19 06:45] stIncMale commented on #809
maven-surefire-plugin:2.20.1 (as well as 2.19.1 and 2.20) also fails to pass properties (e.g. included/excluded JUnit5 @Tag's) to JUnitPlatformProvider: https://issues.apache.org/jira/browse/SUREFIRE-1445

So I guess we will not see JUnit5 support for maven-surefire-plugin at least until maven-surefire-plugin:2.21 is released.

[2017-12-19 12:08] mmerdes commented on #1211
You can also turn on partial support for JUnit 4 rules via `org.junit.jupiter.migrationsupport.rules.EnableRuleMigrationSupport`.
Subclasses of ExteralResource are supported verbatim.

[2017-12-19 15:25] dsebastien commented on #809
It's kind of sad that currently the provider only seems to work with 2.19.1.
I'ved tried with the latest snapshot of Surefire (2.21.0-SNAPSHOT) and it doesn't fail but doesn't seem to find any tests to execute, so I'm guessing the provider doesn't work with it.

[2017-12-19 16:45] marcphilipp commented on #809
2.20 introduced breaking changes so I'm not surprised that it doesn't work with 2.21.0-SNAPSHOT... So, for the time being, 2.19.1 will have to do. But yes, it is kind of sad.

[2017-12-20 11:25] macjohnny opened #1212 "Feature: allow comparing map recursively with precision parameter"
## Overview

_Replace the following bullet points with your issue description,
after answering yourself: **"What kind of issue is this?"**_

- ( ) **Question.** This issue tracker is not the place for questions.
If you want to ask how to do something, or to understand why
something isn't working the way you expect it to, use Stack Overflow.
https://stackoverflow.com/questions/tagged/junit5

- ( )

[2017-12-21 18:23] smoyer64 commented on #1194
Well ... you removed the one that caught my eye since a closed issue might be waiting a long time.  The alternative (I guess) would have been to remove ```status: waiting-for-feedback``` and replace it with ``` status: works-as-designed ```.

[2017-12-21 22:26] stickfigure opened #1215 "Global namespace is reset when running via maven surefire"
I am using the `Namespace.GLOBAL` namespace to avoid recreating an expensive resource in the `BeforeAllCallback` of an extension. This works great when running tests via IDEA's junit test runner.

When running the tests via `maven test`, the global namespace appears to be reset for every test class. My "if resource is already created, do nothing" code is always creating the resource.

This is usin

[2017-12-22 16:33] sbrannen commented on #497
@leonard84, as you can see in [ProgrammaticExtensionRegistrationTests](https://github.com/junit-team/junit5/blob/issues/497-programmatic-extension-registration/junit-jupiter-engine/src/test/java/org/junit/jupiter/engine/extension/ProgrammaticExtensionRegistrationTests.java), all of your concerns have been addressed.

It turns out that the third-party _DI_ use case works out nicely. 😉

Let us know

[2017-12-22 16:38] sbrannen commented on #497
@junit-team/junit-lambda, I believe the coding portion of the work for this issue is now complete. All that's left is documentation. So please feel free to review the work in the feature branch.

Cheers!

[2017-12-22 16:41] sormuras opened #1216 "Revise layout and building of multi-release JARs"
## Overview

Current "solution" uses external `jar` tool:
https://github.com/junit-team/junit5/blob/master/build.gradle#L489-L519

Better Gradle intergration presented by @melix at:
https://blog.gradle.org/mrjars

## Deliverables

- [ ] Revise layout and building of multi-release-JAR(s). Keep in mind, that the `jar` tool offers some API/ABI sanity checks when it packages the version-aware types.

[2017-12-22 16:59] sbrannen commented on #1215
What happens if you properly use `getOrComputeIfAbsent()` instead of hand crafting your own non-threadsafe version with `get()` and `put()`?

[2017-12-22 17:07] sbrannen commented on #1194
OK. I've added the "works as designed" label.

[2017-12-22 17:23] stickfigure commented on #1215
It makes no difference - exact same behavior.

[2017-12-22 17:25] sbrannen commented on #1215
OK. Thanks for checking!

But... I'd still recommend you stick with `getOrComputeIfAbsent()`. 😉

[2017-12-22 17:25] sbrannen commented on #1215
Tentatively slated for 5.1 M2 for investigation

[2017-12-22 18:17] marcphilipp commented on #60
Thanks for testing this early prototype! It will still take a while for us to discuss and polish this. I'll meet with @leonard84 early January to discuss additional requirements.

[2017-12-23 12:51] marcphilipp commented on #1207
Thanks for raising this issue! I've added it to the 5.1 M2 milestone for team discussion.

[2017-12-23 12:56] marcphilipp commented on #1208
The distinction between failures and errors was given up in JUnit 4. We will not add it back. If you want to distinguish between failed assertions and other exceptions, please simply check for `instanceof AssertionError`.

[2017-12-23 12:56] #1208 closed

[2017-12-23 12:58] marcphilipp commented on #1212
@macjohnny Thanks for the proposal! We want to keep our `Assertions` simple, they're are meant as a basic set of assertions to get you started. For anything more complex, please use libraries like Hamcrest or AssertJ.

[2017-12-23 13:42] #1203 closed

[2017-12-23 14:19] #1196 closed

[2017-12-23 20:43] VladRassokhin commented on #13
From CI perspective test classes reordering during tests invocation is extremely useful to run previously failed tests (classes) first to get feedback early. Maybe it's already could be done somehow during discovering?

[2017-12-24 15:28] sbrannen commented on #1207
FYI: the following works fine with JUnit Jupiter as the test engine.

[code]

[2017-12-24 15:28] sbrannen commented on #1207
Note, however, that I have not yet tried an analogous scenario for JUnit 4 / Vintage.

[2017-12-24 15:30] sbrannen commented on #1207
FYI: the following works for JUnit 4 / Vintage...

[code]

[2017-12-24 15:32] sbrannen commented on #1207
@ebrowne72, you're using the JUnit Platform Gradle plugin to run these tests -- right?

[2017-12-24 15:43] sbrannen commented on #1207
Your regular expression is simply missing a backslash which is required to escape the `$` in a Java RegEx.

The following configuration in the Gradle build works fine for the example in my previous comment.

[code]

I am therefore closing this issue as "works as designed".

[2017-12-24 15:43] #1207 closed

[2017-12-24 15:46] sbrannen commented on #1215
@marcphilipp, shouldn't we then label #1113 as a _bug_ and backport it to 5.0.x?

[2017-12-24 15:53] sbrannen commented on #1105
After further consideration, I believe the best we can do is revert the changes in #1065.

Even if this "bug" (or perhaps just an unintentional inconvenience) in the Java compiler does get addressed, that may never get implemented in Java 8 and may potentially not show up for public consumption until Java 10 or Java 11.

In summary, reverting the changes in #1065 is IMHO the _lesser of the two evi

[2017-12-24 15:58] sbrannen commented on #1170
@mmerdes, what's the current status of this issue? Are you still actively working on the fix?

[2017-12-25 16:00] marcphilipp commented on #497
LGTM! 👍

[2017-12-25 16:23] sbrannen commented on #497
Great! Thanks for the review!

[2017-12-25 16:24] sbrannen commented on #1187
_in progress_

[2017-12-25 23:33] mmerdes commented on #1170
Yes, planning to  resume after Christmas time :)

[2017-12-26 13:09] rosolko commented on #60
@marcphilipp Hi.
Can you please provide info about thread count limitation.
I'm using gradle.
In the past I can limit count by `maxParallelForks` property for `test` task.
Do we have similar abilitiy in current case(experimental implementation)?

[2017-12-26 14:26] marcphilipp commented on #60
@rosolko Not yet. Currently it creates a default fork-join pool which will create thread pool depending on the number of cores on your system. Adding an option to set the number of threads should be very simple, though.

[2017-12-26 23:47] Foorack commented on #1188
@marcphilipp The mentioned SUREFIRE bug 1445 and the mentioned pull request were both closed 2 Dec, so I think this should no longer be `status: blocked`.

[2017-12-27 08:18] dmitry-timofeev commented on #878
Let me share my experience with parameterized tests in the new JUnit. Hope that helps to clarify the uses cases and requirements for Parameterized classes.

I think that this feature will be universally useful, not for TCK only. I see its ultimate goal in bringing down the cost of defining multiple tests sharing the same parameters source. Currently, the following code is duplicated:
  - Annotatio

[2017-12-27 17:07] sbrannen commented on #1187
**Update**:

Current work on this issue can be seen in the following feature branch.

https://github.com/junit-team/junit5/commits/issues/1187-testinstance-lifecycle-in-extensioncontext

@junit-team/junit-lambda, feel free to review the code changes. Note, however, that there are currently no tests for the new feature, and the documentation is missing.

[2017-12-28 06:06] juergenzimmermann opened #1218 "Introduce implicit argument conversion for URI and Currency"
Tests for business apps will be easier when `@ParameterizedTest` tests also have implicit argument conversions for `java.net.URI` and `java.util.Currency` -- just as today for e.g. `LocalDate`.

[2017-12-28 09:36] marcphilipp commented on #1218
I think that makes sense! Feel free to submit a pull request for it. 😉

[2017-12-28 09:38] marcphilipp commented on #1105
No objections from me.

[2017-12-28 09:45] marcphilipp commented on #1215
We could backport it, but I'm not sure it's important enough to warrant a 5.0.3 release on its own.

@junit-team/junit-lambda Thoughts?

[2017-12-28 16:07] marcphilipp commented on #878
I think supporting something like `@Parameter` makes sense for fields and method parameters.

I'm out of ideas where you'd put formatting strings for parameters that are shared for all parameterized tests, though.

[2017-12-28 16:10] marcphilipp commented on #1188
@Foorack Thanks for the reminder. However, I'd like to keep this issue open until Surefire 2.21 is released and we can verify that it works.

[2017-12-28 17:23] #742 closed

[2017-12-28 20:27] sormuras commented on #1218
This [Currency](https://docs.oracle.com/javase/9/docs/api/java/util/Currency.html) (which is present since Java 1.4)?

[2017-12-29 01:34] domhauton commented on #1024
@JLLeitschuh 's solution worked but the idea groovy linter wasn't too happy. This was my final solution.

For Gradle 4.4.1
[code]

[2017-12-29 06:30] juergenzimmermann commented on #1218
Yes, I mean `java.net.URI` and `java.util.Currency`.

[2017-12-29 16:07] sbrannen commented on #1105
👍

@marcphilipp, this issue is currently assigned to you. Do you want to tackle that?

[2017-12-29 16:16] sbrannen commented on #1215
IMHO, it depends on how soon we release 5.1... which I think we should discuss during our next team call.

[2017-12-29 17:24] almondtools opened #1220 "ClasspathScanner loads all classes causing class visibility side effects"
Migrating my Tests from JUnit 4 got stuck because my productive code (not test code) contains a class that MUST be loaded with the system/bootstrap class loader (the code is quite complex).

JUnit Jupiter seems to scan all classes and loads them with the current classloader. The latter is a problem for me, because an already loaded class shadows the one which is loaded later on (in the test) by th

[2017-12-29 17:36] marcphilipp commented on #1220
How do you execute your tests? Can you set a class/package name filter? IIRC the scanner only loads classes that pass the name filters.

[2017-12-29 19:19] almondtools commented on #1220
The test is executed with eclipse. The error does not occur if I start the test class isolated, i.e. if the there is no classpath scanning at all.

You are right, the classname filter is applied before class loading. Can you give me a hint how to configure this in eclipse?

[2017-12-30 12:10] sbrannen commented on #1218
While we're at it, I think we should go ahead and support implicit conversions for `java.util.Locale` as well (using the `java.util.Locale.Locale(String)` constructor).

@juergenzimmermann, care to implement and test that support as well?

[2017-12-30 12:25] dmitry-timofeev commented on #878
@marcphilipp , I can think of a class-level annotation with `name` attribute, or, if users need more flexibility, let them provide an instance method returning a test description + a method-level annotation, or a reference to the method in the class-level annotation (e.g., `@Parameterized(name="#testDescription")`).

If no one on the core team is planning to work on this issue soon, I may try to i

[2017-12-30 12:36] hisener commented on #1218
@sbrannen I can add it to the PR (#1221)?

[2017-12-30 12:44] marcphilipp commented on #878
Maybe. Let's postpone that part until we've had some more time to ponder it.

How about we annotate fields/method parameters with `@Parameter(index=0, optional=true)` (`optional` should be `false` by default) and inject `null` for non-parameterized tests?

I would expect that the arguments provided by the `@ValueSource` would be _appended_ to those provided by the `@CsvSource` in your example, jus

[2017-12-30 12:44] sbrannen commented on #878
Actually, the requests I've been hearing are for "parameterized test class" support, not for sharing the same parameters across methods.

In other words, I've been hearing requests to be able to execute all tests within a given test class multiple times with different sets of parameters. When compared to the existing "test template" abstraction, this new feature would rely on a new "test class tem

[2017-12-30 12:47] sbrannen commented on #1218
Yep, that's what I had in mind.

[2017-12-30 12:55] marcphilipp commented on #878
I'm also wondering whether adding something like container templates (cf. #871) would be clearer. If we had those, we could introduce s.th. like `@ParameterizedContainer`:

[code]

[2017-12-30 13:07] sbrannen commented on #878
Ahhh.... yes... #871 is what I was looking for!

[2017-12-30 13:12] sbrannen commented on #871
Spring users often ask for such capabilities -- for example, see [SPR-16302](https://jira.spring.io/browse/SPR-16302).

[2017-12-30 13:13] sbrannen commented on #871
Although SPR-16302 is a _recent_ JIRA issue for spring, the topic has been raised multiple times over the years with regard to Spring's integration with JUnit 4. More recently, Spring users have begun to ask for such a feature in conjunction with JUnit Jupiter.

[2017-12-30 13:14] sbrannen commented on #878
I've added comments to #871 accordingly.

[2017-12-30 13:19] sbrannen commented on #871
With regard to generic support for iteratively executing an entire container (test class), something like `@RepeatedContainer` would be very useful for frameworks such as Spring.

Thinking out loud...

Spring already has its own annotations for declaring things like active profiles, context configuration classes, etc. Thus, it would not make sense for a parameterized Spring test class to make use

[2017-12-30 13:20] sbrannen commented on #871
Moved to 5.1 backlog due to repeated requests for a feature like this at conferences, etc.

[2017-12-30 13:30] sbrannen commented on #1218
_in progress_ in #1221

[2017-12-30 14:08] sbrannen commented on #1218
Resolved in 1dc5c06669a225067d6cd674d297209e9f96204c

[2017-12-30 14:08] #1218 closed

[2017-12-30 15:05] sbrannen commented on #454
_in progress_ in #1219

[2017-12-30 15:07] dmitry-timofeev commented on #878
Won't that be hard to explain to users and force them to write complicated setup/teardown code, if they have any?

I see, perhaps, my example failed to convey that I expected different sets of parameters, e.g., `@CsvSource({"John, Doe", "Mark, Twain")` & `@ValueSource(ints = 18, 45)`.

I think a "test class template" will certainly address the simple use case above, and, likely, clearer, because:

[2017-12-30 18:23] marcphilipp commented on #1105
I'm on it.

[2017-12-30 19:23] #1105 closed

[2017-12-31 13:53] sbrannen commented on #770
@marcphilipp, what happened to the PDF in your latest commits to `master`?

http://junit.org/junit5/docs/snapshot/user-guide/index.pdf is no longer a valid link. 🤔

[2017-12-31 13:53] sbrannen commented on #770
@marcphilipp, this is the commit I'm referring to: 6b945ebf9a7d2f75b1fd843e0e9ffa2125412066

[2017-12-31 14:03] sbrannen opened #1222 "Dependency Diagram missing in User Guide"
## Overview

There is a bug in the Gradle plugin for Asciidoctor (https://github.com/asciidoctor/asciidoctor-gradle-plugin/issues/222) which prevents the diagram from being generated if the Gradle daemon is running.

## Workaround

The following (which disables the Gradle daemon) generates the diagram on my local machine:

`gradle --no-daemon :documentation:clean ascii`

## Original Assumption

Du

[2017-12-31 14:04] sbrannen commented on #1222
This is potentially due to changes in commit 6b945ebf9a7d2f75b1fd843e0e9ffa2125412066.

[2017-12-31 14:08] sbrannen commented on #770
Regarding the missing PDF, never mind: I found the related issue (#1099).

[2017-12-31 14:10] sbrannen commented on #1222
@marcphilipp, I've tentatively assigned this issue to you since you made the latest changes to the documentation build.

[2017-12-31 14:12] sbrannen commented on #1222
Actually, commit 4a1757d7aec18edfe21ce40e769833cbd7093015 seems to be the culprit.

[2017-12-31 14:41] sbrannen commented on #1222
After further analysis it appears to be a bug in the Gradle plugin for Asciidoctor: https://github.com/asciidoctor/asciidoctor-gradle-plugin/issues/222

The following (which disables the Gradle daemon) generates the diagram on my local machine:

`gradle --no-daemon :documentation:clean ascii`

[2017-12-31 15:35] marcphilipp commented on #1222
I may be missing something, but Jenkins already uses `--no-daemon` and generates the diagram just fine. 🤔

[2017-12-31 15:48] sbrannen commented on #1222
Hmmmm.... maybe _I'm_ missing something!

I thought I observed that it was missing on the published Web site, but perhaps I'm mistaken.

In any case, it definitely doesn't work locally with the daemon running.

Let's leave this issue open for a little longer to see if things continue to work well for the published snapshot docs.

[2017-12-31 16:18] jbduncan commented on #240
By my understanding, Clover has been open sourced now as [OpenClover](http://openclover.org/) and no longer needs an encrypted license.

If Travis and either Codecov or coveralls.io properly support Clover reports now, it would be worth looking into enabling code coverage again.

[2017-12-31 17:41] geowarin commented on #1166
Hey guys!

Is there a way to hide the application output in gradle while we wait for gradle official support ([v4.6 earliest](https://github.com/gradle/gradle/issues/828#issuecomment-351431932)) ?

I tried messing up with the `logManager` attribute to no avail.

[2018-01-01 18:45] robstoll commented on #1169
Unfortunately this happens to me quite regularly lately and also for jdk-8

[2018-01-02 11:52] seanjreilly opened #1223 "Improve diagnostics when Vintage test engine is missing"
## Overview

_(tl;dr: I feel JUnit might be easier to use for developers if things failed more explicitly when developers make certain specific mistakes. I've got a suggestion for how to do this that I'd like to discuss. I'm willing to do much of the work if it's the right approach and if the submission would be acceptable.)_

While using JUnit 5 (excellent work by the way!) I've encountered some

[2018-01-02 12:28] marcphilipp commented on #60
I've just merged `master` into the feature branch:
https://github.com/junit-team/junit5/compare/experiments%2Fparallel-execution

[2018-01-02 13:04] christophsturm commented on #60
thanks. why don't you merge it to master? it's not enabled per default anyway.

[2018-01-02 23:37] catalin-cretu commented on #1154
Hello,

I've come across this issue while searching for ways to start contributing to open source projects.
The issue caught my attention and I started thinking about a potential solution that I would like to share here.

It's a bit different from the direction that this discussion went in. Also, please bear in mind that I'm not familiar with junit5 project and this example might not be consistent

[2018-01-03 07:10] leonard84 commented on #60
@christophsturm because it is very experimental and not nearly finished or polished at all

[2018-01-03 14:38] sbrannen commented on #1223
This sounds like a duplicate of #242.

So I'd suggest the points raised here should be raised in conjunction with #242.

[2018-01-03 15:06] seanjreilly commented on #1223
Listing this as a related issue of #242 makes sense to me, and the proposals and deliverables listed there would certainly be helpful here.

Thank you.

[2018-01-03 15:12] sbrannen commented on #1223
FYI: I added the "invalid `@Nested` test class" to #242 and changed this title of this issue accordingly to focus solely on the absence of the Vintage test engine.

[2018-01-03 15:14] sbrannen commented on #242
Introduced "invalid `@Nested` class declaration" as mentioned in #1223.

[2018-01-04 05:16] SamCarlberg opened #1224 "Test methods cannot combine RepeatedTest and ParameterizedTest annotations"
## Overview

The title pretty much explains it. Test methods annotated with `@RepeatedTest(n)` and `@ParameterizedTest` will fail _n_ times with a `ParameterResolutionException`, then run the parameterized test as normal

#### Test class

[code]

#### Expected result

The parameterized test should run 5 times with the parameters generated by the `source()` method eg

[code]

#### Actual result

Th