[2019-08-02 14:20] marcphilipp commented on #1958
I've updated my comment above.

[2019-08-02 19:19] jbduncan commented on #1913
@marcphilipp I'm trying to understand why one would want to pass in multiple `enclosingClasses` to these methods rather than just one, and I wondered if you could clarify things for me? :thinking:

[2019-08-02 19:42] sbrannen commented on #1913
If an enclosing class is an inner class, that enclosing class can be inherited by multiple classes that extend the parent type of the enclosing class, meaning that there can be multiple _paths_ to leaf inner class. Consequently, we need the _full path_ to the leaf inner class in order to be able to proper disambiguate it from other sibling leaves.

[2019-08-02 20:59] juliette-derancourt commented on #1596
Is this issue still relevant? It seems that the related PR was closed because you suggested to move it to JUnit Pioneer, but I see no such commit there... Is there something to do?

[2019-08-02 22:03] jbduncan commented on #1913
@sbrannen Ahh, okay. So am I right to understand that the list of `enclosingClasses`s is just a _path_ that helps JUnit 5 understand where an inner class is located?

For example, if we had an inner class `ParentClass.ChildInnerClass.GrandchildInnerClass`, then the `enclosingClasses` would be `[ParentClass.class, ChildInnerClass.class]`, and this would tell JUnit 5 which classes to traverse to fin

[2019-08-03 08:53] marcphilipp commented on #1913
Yes, that‘s correct. Unfortunately the term classpath is already taken. 😉

[2019-08-03 09:11] marcphilipp commented on #1907
Thanks for the feedback! I‘m on the road right now so I cannot try this out, but I‘m pretty sure that `container()` checks for `TestDescriptor.isContainer()`. Are you using `Type.CONTAINER_AND_TEST` in your engine?

[2019-08-03 09:41] panchenko commented on #48
This issue looks almost completed: `@TestInstance(Lifecycle.PER_CLASS)` and `@TestMethodOrder(MethodOrderer.OrderAnnotation.class)` would work for arranging the order of the steps.

The only additional thing which is missing IMHO: skip the remaining tests after a failure.
#431 looks related, but such functionality should be generic, not DynamicTest specific.

[2019-08-03 09:56] juliette-derancourt commented on #1958
I'd like to take a look at that if it's ok with you :)

[2019-08-03 10:24] jbduncan commented on #1913
@marcphilipp Ah, of course. I can see now why you chose the name `enclosingClasses` rather than `classpath`. :wink:

[2019-08-03 12:57] kriegfrj commented on #1907
I'm terribly sorry, I just checked the testkit source and you are right - `container()` does call `TestDescriptor.isContainer()`. I must have remembered incorrectly and described my problem back-to-front - ie, I was trying to write test conditions of the form `event(container("my.test.Clazz"), test("myTestMethod"))` and wondering why it wasn't matching. So I mixed it up. Which, in an ironic sort o

[2019-08-04 19:03] marcphilipp commented on #1724
I've spiked implementing `ClasspathScanner` using ClassGraph and it passes all the tests:
https://github.com/junit-team/junit5/commit/9000a80327d92820e095e5b579c58d97efbd8de0

The build is currently broken due to some error in our module compilation setup:
https://scans.gradle.com/s/z2kzsnwxcrt7y/console-log?task=:junit-jupiter:compileModule

@sormuras Let's take a look at that when you're back.

[2019-08-04 19:08] sormuras commented on #1724
Why so late? :nerd_face:

Looks like the ClassGraph JAR is not available when compiling the modules. Neither on the module-path, nor on the class-path. Will look into it ... soon.

[2019-08-05 13:47] sbrannen commented on #1958
Well, it was assigned to me, but I'm totally happy that you've submitted a PR to address this. 😉

Cheers,

Sam

[2019-08-05 15:48] sherfert commented on #1965
You can find a small sample project for reproduction [here](https://github.com/sherfert/JUnitSlowTestDiscovery).

[2019-08-05 16:43] juliette-derancourt commented on #1958
Yes I saw that afterwards, sorry! 😅

[2019-08-07 00:16] kriegfrj opened #1973 "Smarter @EnumSource implementation"
I've just started using `@EnumSource` in a parameterized test. Very handy.

However, after having used it with a few methods, it occurred to me that it could be a little handier and a little DRYer.

Consider:

[code]
We have to specify the enum type twice. This seems to be needless repetition and a possible source of errors.

My proposal is in two parts:

1. The "value" parameter of the `@EnumSour

[2019-08-07 01:11] kriegfrj opened #1974 "Jupiter engine calls static initializer on each invocation"
## Steps to reproduce

[code]
Sample output when run using the Jupiter engine

[code]
Run this test using Jupiter and watch the console. "Hi there!" will appear twice, and both lines will have the same identity hash code and the count is remember between tests, indicating that they are the same class.

Once I understood what was happening, it was easy to work around this by using a static method w

[2019-08-07 06:26] marcphilipp commented on #1974
That's not a static initializer but an instance initializer which is invoked whenever an instance of the test class is created. By default, Jupiter creates a new instance for every test method. Please [refer to the docs](https://junit.org/junit5/docs/current/user-guide/#writing-tests-test-instance-lifecycle) should you want to change that behavior.

[2019-08-07 06:26] #1974 closed

[2019-08-07 07:51] priyankshah217 opened #1975 "Incorrect test count displayed with Maven Surefire"
## Steps to reproduce

- Run code from https://github.com/priyankshah217/junit5sample
- It has running strategy concurrent (method and class level)

[code]

- Run test using `mvn clean test`

**Actual Output**

[code]

https://gist.github.com/priyankshah217/c8860393e82eb18172e6bd2afda5957e#file-junit5executionlog

**Expected Output**
[code]

## Context

 - Used versions (Jupiter/Vintage/Platform):

[2019-08-07 08:41] sbrannen commented on #1975
This looks like a bug in Maven Surefire, but the JUnit team does not maintain the `maven-surefire-plugin`.

So, please open an issue against [Maven Surefire](https://issues.apache.org/jira/projects/SUREFIRE/issues/SUREFIRE-1408?filter=allopenissues).

[2019-08-07 08:41] #1975 closed

[2019-08-07 08:56] sbrannen commented on #1782
Addressed in b0fd2d865a2b534f35ff8a49ac3e7d0c23cb78ec and polished in d51ba2cdbc31e39a24069563d3588d015eb73a39.

[2019-08-07 08:56] #1782 closed

[2019-08-07 09:21] kriegfrj commented on #1974
C'mon, so sorry for the false alarm. Yes, I was missing the static keyword.

[2019-08-07 10:11] leeturner commented on #1782
@sbrannen really sorry I didn't get change to look at this.  Glad it is sorted

[2019-08-07 10:35] cdl-locp opened #1976 "Issue with @-file when classpath includes spaces in folder name"
Hi

I'm using Junit 5 version 5.3.2 on Spring Tools Suite (STS) version 4.2.0 on Windows 10. I have my STS installed on a folder on my c drive called 'spring tools'.

When running a Junit test within a project with a short enough classpath that an @-file is not generated, my tests run fine. I believe this is because the classpath is enclosed in double quotes.

But on a project that has a long enou

[2019-08-07 10:50] marcphilipp commented on #1976
@cdl-locp Who writes that @-file, STS/Eclipse?

[2019-08-07 11:34] cdl-locp commented on #1976
That I do not know, any idea how I'd find out?

[2019-08-07 13:17] marcphilipp commented on #1973
I think the first proposal makes sense. 👍

[2019-08-07 13:19] marcphilipp commented on #1976
@sbrannen As our Eclipse/STS user, any ideas?

[2019-08-07 14:36] sbrannen commented on #1976
I wasn't aware that Eclipse created an @-file.

@noopur2507, can you shed any light on this?

[2019-08-07 14:40] sbrannen commented on #1973
That could work, but we need to be cautious about additional enum types in the formal parameter list that may be supplied by a `ParameterResolver`.

In other words, if there's only a single enum type in the formal parameter list, it's straightforward, but we might want to throw an exception if there is more than one enum type.

[2019-08-07 14:43] sbrannen commented on #1782
No worries.

After all, there are always more issues that are [up for grabs](https://github.com/junit-team/junit5/labels/up-for-grabs). 😉

[2019-08-07 15:03] leeturner commented on #1782
Big project just gone live so have a bit more capacity now.  Will take a look and grab one of them

[2019-08-07 17:57] marcphilipp commented on #1973
I'd only look at the first parameter to match what `@EnumSource` does today.

[2019-08-07 17:57] marcphilipp commented on #1965
@sherfert Thanks! 👍

[2019-08-07 17:59] marcphilipp commented on #1974
No worries!

[2019-08-08 12:16] noopur2507 commented on #1976
I am not aware of any @-file created by Eclipse JDT. Where do you find it? Probably something specific to STS?

[2019-08-08 12:45] yangyechi commented on #876
Good！

[2019-08-08 12:46] cdl-locp commented on #1976
In the Run Configuration for Junits there is a 'Show Command Line' button, clicking this button generates the command line to run the test and the @-file (located in the root of the project). Running a JUnit test doesn't produce the @-file so I'm guessing either the @-file is getting removed as part of the running of the test or it is being produced in a different directory.
![show command line](h

[2019-08-09 05:58] noopur2507 commented on #1976
The issue seems to be the whitespace in the classpath. The @-file doesn't matter. Please open a bug report in Eclipse: [https://bugs.eclipse.org/bugs/enter_bug.cgi?product=JDT&component=UI](url) for this.

[2019-08-09 06:05] marcphilipp commented on #1976
Thanks for investigating, @noopur2507!

[2019-08-09 06:05] #1976 closed

[2019-08-09 08:17] sbrannen commented on #1976
+1

[2019-08-09 10:18] marcphilipp commented on #1913
**Team Decision:** Let's go with the above API proposal.

[2019-08-09 10:45] marcphilipp commented on #1924
New brainstorming idea: Change the default to `Integer.MAX_VALUE / 2` and introduce a `DEFAULT` constant so that the above use case can be written as `@Order(DEFAULT + 1)`.

[2019-08-09 10:52] marcphilipp commented on #1911
Related to https://github.com/junit-pioneer/junit-pioneer/issues/1

[2019-08-09 11:00] marcphilipp commented on #1911
If we decide to do this, we should support the same syntax and semantics as we do for `@MethodSource`. Unless `@TestInstance(PER_CLASS)` is used, we should allow non-static local methods. As for the signatures we should support, the following come to mind:

- `boolean method()`
- `boolean method(ExtensionContext)`
- `ConditionEvaluationResult method()`
- `ConditionEvaluationResult method(Extension

[2019-08-11 14:59] kriegfrj commented on #1963
In terms of clarifying Hebrew scope odd this feature, @sormuras suggested not including the color stuff in the reporting api. My vote (for what little it may be worth), as someone who might want to use this functionality, would be to include it. Anyone who wants to use these listeners may also want the output with color codes. I got one would like to. It might be useful to make it customizable som

[2019-08-11 16:00] sormuras commented on #1963
My suggestion is to keep all console-only related code, like the "color stuff", reside in the console module. We should only move (read: re-implement) the target-agnostic data structures and their related listeners to the reporting module.

[2019-08-12 06:23] toby1984 commented on #1558
Hi,
Any progress on this ? We rely on the 'rerunFailingTestsCount' feature of maven-surefire-plugin and I just learned the hard way that it does not work with JUnit5.

[2019-08-12 12:02] kriegfrj opened #1978 "Move LegacyReportingUtils to junit-platform-reporting"
For historical reasons, `org.junit.platform.launcher.listeners.LegacyReportingUtils` is really in the wrong package and in the wrong module. Its purpose is reporting related, not launching related.

Proposal:

1. Copy it to `org.junit.platform.reporting.legacy` package in `junit-platform-reporting` module.
2. Deprecate the version in `junit-platform-launcher` with appropriate commentary, for futur

[2019-08-12 13:09] kriegfrj opened #1980 "LegacyXmlReportGeneratingListener to have configurable roots"
`LegacyXmlReportGeneratingListener` generates one xml report file per root `TestIdentifier` instance in the in the `TestPlan` being executed. The file name is of the form `Test-nnnn.xml` where `nnn` is the name of the root node.

I recently encountered a situation where I would have liked to be able to change both the number of files generated, and the algorithm used to derive their filenames. Unf

[2019-08-14 07:47] serpro69 opened #1982 "Getting the invocation index of current parameterized test run"
Trying to get the index of the current invocation count of a ParameterizedTest, the same value that can be used when declaring a custom name, i.e. `@ParameterizedTest(name = "{index}")` but through a parameter.

TestInfo does not provide that information, only the method name, and I would rather not try to extract this value from the method name string.

Is there any other way this index can be re

[2019-08-14 07:51] serpro69 commented on #1982
I think this is a duplicate of https://github.com/junit-team/junit5/issues/1668. Closing.

[2019-08-14 07:51] #1982 closed

[2019-08-16 10:08] marcphilipp commented on #1924
**Team Decision:** Let's go with the latest proposal above.

[2019-08-16 10:10] marcphilipp commented on #1911
**Team Decision:** Let's support the first and last of the above signatures.

[2019-08-16 10:35] marcphilipp commented on #1963
@kriegfrj We're having second thoughts about making the listeners with all their configuration options public. Would a class that contains a set of factory methods, e.g. `createTreePrintingListener(boolean enableAnsiColors): TestExecutionListener`, work in your use case?

[2019-08-16 13:25] kriegfrj commented on #1963
Possibly that could work. I was thinking of a sort of pluggable model where the listeners would be self-contained jars and the config passed in through property files, but I could work around that, possibly with another layer on top. Do as you see fit. :+1:

[2019-08-17 21:25] farodin91 opened #1985 "Disable test after executing @BeforeEach"
Try implement a ConditionExtension which evaluate a condition after beforeeach.

Any idea how to do this?

Some short example code
[code]

[2019-08-18 07:39] sbrannen commented on #1985
You cannot _disable_ a test after a `@BeforeEach` method is executed.

That is by design.

I am therefore closing this issue.

However, you can _abort_ a test within a `@BeforeEach` method via a failed assumption (or by explicitly throwing a `org.opentest4j.TestAbortedException`).

For example, the following will abort your test.

[code]

If you want to achieve the same goal via an extension, you

[2019-08-18 07:39] #1985 closed

[2019-08-18 12:00] farodin91 commented on #1985
During the beforeEach step, our managers are initialized. These managers can have feature flags depending on the configuration, so I known a feature is supported after beforeEach step is executed. So, I want to prevent to execute tests which require a feature and the manger doesn't have the feature.

[2019-08-19 13:31] sbrannen commented on #1985
Then I recommend you check that via an assumption in an implementation of `BeforeTestExecutionCallback`.

[2019-08-19 16:21] mkobit commented on #48
@panchenko I think you are right.

Here is my first attempt I have been trying out (haven't tried with nested tests or anything complex):

[code]

[code]

Which fails on the `fourth()` test and disables `fifth()` and `sixth()`.

[2019-08-19 16:34] iamdanfox opened #1986 "Allow @ExtendWith in package-info.java?"
I've written an extension which deterministically 'shards' my tests to ensure they run on exactly one CircleCI node (by hashing the name into CIRCLE_NODE_TOTAL buckets), allowing me to dial up [parallelism](https://circleci.com/docs/2.0/parallelism-faster-jobs/#specifying-a-jobs-parallelism-level) and make my builds go faster.

However, it's kinda annoying having to add my annotation `@CircleCiSha

[2019-08-19 17:52] sormuras commented on #1986
...and also support [ElementType.MODULE](https://docs.oracle.com/en/java/javase/11/docs/api/java.base/java/lang/annotation/ElementType.html#MODULE) -- I can't fine an open issue for supporting modules -- but I'm sure we discussed before.

[2019-08-19 18:15] iamdanfox commented on #1986
:+1: One more alternative would be to allow whitelisting the specific extension that would be automatically discovered:

[code]

This would eliminate my concern that extensions from deep in my dependency graph could suddenly start affecting my tests after a version upgrade (as the whitelist would be fully code-reviewable).

[2019-08-20 01:17] kriegfrj opened #1987 "Support explicit `ClassLoader` in `ClassSelector` and `MethodSelector`"
This is a specific sub-issue of #806.

I've been adapting JUnit Platform to run in an OSGi environment as part of the Bndtools project (see bndtools/bnd#3145). This project consists of a `BundleEngine` which discovers test bundles in the running OSGi framework, and then delegates to other TestEngines it finds in the environment for each such bundle that it finds.

It became apparent during this im

[2019-08-20 09:34] sbrannen commented on #1986
The team has debated allowing extension registration at the package level several times but never decided in favor of it. The same applies to registration at the module level.

The general consensus has been that it's "too magical" and non-intuitive for the average developer.

One of the challenges is that it's difficult to _navigate_ to the package level configuration. At least in Eclipse, you ca

[2019-08-20 09:35] sbrannen commented on #1986
I'm actually in favor of that and have suggested it previously. I think that would be a useful feature in general.

[2019-08-20 09:41] sbrannen commented on #1987
This is also closely related to #201.

[2019-08-20 14:41] iamdanfox commented on #1986
@sbrannen I'd be fine with either solution.  In my assessment of the 'magicness' of the various solutions, I think the whitelisting system prop is marginally more magic:

- **`-Djunit.jupiter.extensions.autodetection.enabled=true`**: 9/10 magic - with this approach it's pretty much impossible to predict behaviour changes at code-review time, because just changing a version number of one of your de

[2019-08-20 19:31] WalidBounouar commented on #990
Hi, apologies if this is not the correct place to ask, but is there some way to follow the status of `3.0.0-M4` (expected release)?
Thank you!

[2019-08-20 20:09] sbrannen commented on #1986
Although JUnit Platform configuration parameters _can_ be set via a JVM system property, I'd say that's a worst practice for a parameter like this one.

For this kind of config param, the best practice is to declare it in `junit-platform.properties` in the root of the classpath (i.e., `src/test/resources`).

That way it's in version control **and** honored in the build and by the IDE.

So for me,

[2019-08-21 11:08] sormuras commented on #1986
That's why I like this solution.

Perhaps we may support both?

[2019-08-21 11:14] trantienduchn opened #1988 "mvn test fails to execute tests with jupiter 5.5.1 and junit-platform 1.5.1"
Hello, I'm working in [Apache James](https://github.com/apache/james-project) and we just upgraded our junit5 from 5.2.0 to  5.5.1. But some of our modules fails to run tests, basically this is the dependency list of those failing modules, they inherit parent dependecies (jupiter 5.5.1 and platform 1.5.1)
[code]

## Context

 - Used versions (Jupiter/Vintage/Platform): Jupiter/Vintage 5.5.1 and Pl

[2019-08-21 11:27] sormuras commented on #1988
This kind of error points to a version conflict: the vintage engine refers to an "old" platform commons jar at runtime. Can you check the class-path used by Surefire?

The conflict is perhaps originates from your `pom.xml` configuration or Maven Surefire induces that conflict on the fly.

[2019-08-21 11:44] sormuras commented on #1988
Looking at https://github.com/junit-team/junit5-samples/blob/master/junit5-migration-maven/pom.xml it's (no longer) necessary to have Surefire-specific dependencies configured:

https://github.com/apache/james-project/blob/181ea96c4cbce4a70eb56cfab3ad89cf47315700/pom.xml#L2899-L2921

[2019-08-21 11:49] sormuras commented on #1988
Which modules exactly? What are they doing differently compared to others that succeed running tests?

[2019-08-21 12:40] mseele opened #1989 "LegacyXmlReportGeneratingListener should create a Test-nnn.xml fiel for each class"
We are migrating to JUnit 5 (from JUnit 4) and using the console launcher in combination with ant like described in https://github.com/junit-team/junit5-samples/blob/master/junit5-jupiter-starter-ant/build.xml

[code]

We cannot use junitlauncher-task because the output supports no @ParameterizedTest and so on.

After running the tests we generate a junitreport (with junitreport ant task) for the

[2019-08-21 13:34] mseele commented on #1989
My workaround right now is to replace `org.junit.platform.reporting.legacy.xml.LegacyXmlReportGeneratingListener` with this method replacement:

[code]

Which is an ugly workaround, btw.

[2019-08-21 18:59] iamdanfox commented on #1986
Oh the `junit-platform.properties` sounds _much_ nicer than the `-D` system property approach, and it satisfies my concerns with the IDE thing too!

[2019-08-22 02:01] trantienduchn commented on #1988
Removing these dependencies in `maven-surefire-plugin` doesn't work

Thank you for your support! I will keep it update with some of your hints

[2019-08-22 07:16] mseele commented on #1989
One more thing: org.junit.platform.reporting.legacy.xml.XmlReportWriter.writeSuiteAttributes(TestIdentifier, List<TestIdentifier>, NumberFormat, XMLStreamWriter) needs to use testIdentifier.getLegacyReportingName() instead of testIdentifier.getDisplayName() to makes it similar to the old junit4 report.

old code:
`writer.writeAttribute("name", testIdentifier.getDisplayName());`

new code:
`writer.

[2019-08-22 08:01] #1958 closed

[2019-08-22 08:08] marcphilipp commented on #1986
@iamdanfox Would you mind changing the title and description to describe adding the new config parameter?

[2019-08-22 08:10] marcphilipp commented on #1987
@kriegfrj The only currently supported mechanism is to set the calling thread's context classloader which is used in `ReflectionUtils`.

[2019-08-22 08:28] marcphilipp commented on #1989
The reason there's a report per test engine is that the JUnit Platform does not require test engines to use classes. However, the resulting XML files contain the class name in the `classname` attribute of each `testcase` element. Could you adjust downstream tooling to read it from there or split the XML file using an XSLT transform or sth. similar?

Thinking out loud, I think we could add a report

[2019-08-22 08:29] marcphilipp commented on #1989
Tentatively slated for 5.6 Backlog for _team discussion_.

[2019-08-22 08:53] mseele commented on #1989
Sounds like a good idea to make it configurable via console launcher option. That's what I was looking for first.

I'm just saying that the "data" that is generated by the LegacyXmlReportGeneratingListener is not 100% compatible with what we get when we use JUnit4, and thats a stopper for us to migrate to JUnit5.

Unfortunately, the JUnit5 ant task JUnitLauncher does not support @ParameterizedTest

[2019-08-22 10:02] marcphilipp commented on #990
You can ask on the [Maven User List](https://maven.apache.org/surefire/mailing-lists.html).

[2019-08-22 12:14] adityas71094 commented on #1980
@kriegfrj, Even I have a use case where I need to generate a test report for every test class. I later combine all these files into one report file. But right now I am not able to combine as all files have the same name.

It will be great if we are able to call a setFileName(String fileName) or a setFile(File reportFile) on LegacyXmlReportGeneratingListener.

[2019-08-22 12:18] mseele commented on #1980
@adityas71094 please see https://github.com/junit-team/junit5/issues/1989

[2019-08-22 15:50] kriegfrj commented on #1987
Hi @marcphilipp ,
Actually, that's not the only supported mechanism. Another way (which I used in BundleEngine) is to use the `selectClass(Class)` variant instead of `selectClass(String)`, and load the class yourself using the appropriate ClassLoader before handing off to the engine. My proposal here would be essentially the same but moved into `ClassSelector` and `selectClass()` as overloads.

[2019-08-22 18:42] georgy commented on #1959
CAn grab this one? do I need to assign it to myself or do something else to "own" it?

[2019-08-23 08:15] TheGoesen opened #1990 "Ability to register extensions for framework provider"
This is a follow up to
https://github.com/junit-team/junit5/issues/1938
Jmockit used to call into internal API to register it's extension. Now JMockit changed their code to set the Systemproperty
`junit.jupiter.extensions.autodetection.enabled=true`
which is kind of official API but also is a lot worse.

- It' my decision as a user whether i want autodetection or not ,an external framework shouldn

[2019-08-23 09:57] sbrannen commented on #1990
This is very closely related to #1986.

[2019-08-23 09:57] sbrannen commented on #1986
We should find some synergies between the proposal here and #1990.

[2019-08-23 09:58] sbrannen commented on #1990
Tentatively slated for the 5.6 backlog for _team discussion_

[2019-08-23 12:53] sbrannen commented on #1959
Yes, sure. Go for it!

I'll label this as "in progress".

However, if you don't find time to work on it in the coming weeks, please post back here so that somebody else can _grab_ it.

Thanks

[2019-08-24 14:49] kriegfrj commented on #1980
@adityas71094 , thanks for your comment.

Please see PR #1981. You should be able to use it to accomplish what you want by passing in an implementation for the `rootFileName` parameter that returns the name of the file that you want for each class. Eg, something like this:

[code]

You might need to play with the value to go in the `equals()` statement, but apart from this it should do what you wa

[2019-08-24 14:51] kriegfrj commented on #1989
PR #1981 could be used as the basis of a solution to this (see https://github.com/junit-team/junit5/issues/1980#issuecomment-524556192 as an example).

[2019-08-24 14:53] kriegfrj commented on #1980
Btw, I forgot to say if you have any feedback about how I've implemented this in #1981, I'm more than happy to hear it!

[2019-08-24 18:36] marcphilipp commented on #1987
Is that enough? I don't think we have any tests that ensure we only use the attached class loader for loading the methods etc. for that test class.

[2019-08-24 18:41] marcphilipp commented on #1990
TBH, I think JMockit should not activate global extension registration but let users decide if they want that (as you said). Unless I'm missing something, I don't see how any framework should make that choice and thus don't see why we should add an extension point to support it.

[2019-08-24 18:52] marcphilipp commented on #1558
@toby1984 While we'd still like to implement this, we haven't had time to look into it more closely, yet.

One open question is if/how we should report repetitions with "allowed failures". @artsok seems to have reported them as failed, I could also envision reporting them as aborted. Or we could not report them at all and only fail the test in the end if it didn't pass after the configured number

[2019-08-24 18:57] marcphilipp commented on #48
@mkobit Thanks for sharing, that looks promising! It should use `TestWatcher` instead of `TestExecutionExceptionHandler` to make sure it catches all test failures.

[2019-08-24 19:38] TheGoesen commented on #1990
Here's the Jmockit Workflow:
The user activate it by adding jmockit to the jvm as a javaagent. You need to do that, otherwise it doesn't work. Jmockit gets a callback from the jvm into plain javacode and will try to register itself with testing frameworks.
From there on it will run implicitly on all Testscases.
As a user i already decided to activate jmockit by setting the javaagent.
I think I sho

[2019-08-26 02:58] kriegfrj commented on #1987
I think it would be enough. In my case, it certainly was enough. While I'm not intimately familiar with PowerMock, it is possible that this would also be sufficient to solve that issue (#201) as well (at least for those doing test discovery directly in code) by passing in the PowerMock classloader to all test classes with power mocks using `selectClass(ClassLoader, String)`.

I'm happy to put a PR

[2019-08-27 09:40] sewe opened #1991 "Execute `@BeforeAll`/`@AfterAll` once for each path in `@Nested` hierarchy"
I have a series of tests which are rather expensive to set up and build on each other. ATM, I use nested tests like so:

[code]

This works, but does expensive set-up operations along each path in the `@Nested` hierarchy over and over again, once for each test method:

- `RepositoryTest`
    - `testGetRevisons`
    - `testGetFiles`
    - `WhenFileAdded`
        - `testGetRevisons`
        - `testG

[2019-08-27 12:14] sbrannen commented on #1991
What do you mean when you say "it might be"?

If `WhenAnotherFileAdded.testGetFiles` is explicitly selected as the only thing to execute, then `WhenFileRemovedAgain.setUp` should not be invoked.

Otherwise, that would be a bug.

[2019-08-27 12:29] sewe commented on #1991
@sbrannen Thanks for the quick reply. In that scenario, `WhenFileRemovedAgain.setUp` is indeed not invoked.

What I meant was this:

If I run all tests, they might be executed in the following order:

1. `RepositoryTest.setUpEmptyRepository`
1. `RepositoryTest.testGetRevisions`
1. `RepositoryTest.testGetFiles`
1. `WhenFileAdded.setUp`
1. `WhenFileAdded.testGetRevisions`
1. `WhenFileAdded.testGetFi

[2019-08-27 12:32] sbrannen commented on #1991
Tentatively slated for the 5.6 backlog for _team discussion_ and further investigation

[2019-08-27 12:41] sewe commented on #1991
Sounds good.

If you need further input about my use cases, feel free to ask. I absolutely love using nested tests, in particular for things with rather longish set-ups (the repository-use case above, or UI tests). But ideally I want my `@Test` methods to have just a single assertion, instead verifying unrelated properties in different `@Test` methods. Alas, I pay a rather heavy `@BeforeEach` set-

[2019-08-27 14:30] ratoaq2 commented on #744
Just to add another use case for my need:
With declarative suites I could configure maven failsafe plugin to run suites in parallel using forks and each suite could run its tests sequentially.
That's a big use case for our current project which still uses JUnit 4

[2019-08-28 02:53] trantienduchn commented on #1988
Update: there are some missing plaform dependency declarations in some sub maven module. we filled them and then be surefire doesn't fails anymore https://github.com/linagora/james-project/pull/2630

I think the problem is resolved now!
Thank you!

[2019-08-28 06:10] marcphilipp commented on #1988
Thanks for letting us know!

[2019-08-28 06:10] #1988 closed

[2019-08-28 07:26] timandy opened #1992 "Test method not be executed"
I have a question, the test method name does not starts with `test` can not be executed.
IDEA run the testcase OK.
but the test case was skipped when I use `mvn test -B` to run the testcase .

junit4 does not have this problem.

## Steps to reproduce
[code]
## Context
[code]

[2019-08-28 11:10] sbrannen commented on #1992
Thanks for getting in touch, but it feels like this is a question that would be better suited to [Stack Overflow](http://stackoverflow.com/). We prefer to use the issue tracker only for bugs and enhancements. Feel free to update this issue with a link to the re-posted question (so that other people can find it) or add some more details if you feel this is a genuine bug.

Having said that, if you w

[2019-08-28 11:10] #1992 closed

[2019-08-28 11:14] sbrannen commented on #1992
I just noticed that you have a dependency on the `junit-jupiter` BOM. So that should properly pull in the `junit-jupiter-engine`.

In which case, you're probably just missing the configuration for Maven Surefire.

[code]

See also: https://github.com/junit-team/junit5-samples/tree/r5.5.1/junit5-jupiter-starter-maven

[2019-08-28 18:59] marcphilipp commented on #1973
@kriegfrj I've submitted #1993 to address this.

[2019-08-29 00:48] timandy commented on #1992
@sbrannen  Thanks a lot. It works.

[2019-08-29 00:54] rliesenfeld commented on #48
My two cents, since I just implemented a feature for scenario-oriented tests in my own testing tool (which I currently use with JUnit 4, but should migrate to JUnit 5 eventually).

As a user, I would prefer to simply put `@ScenarioTest` or `@Stepwise` on my test classes, and use regular `@Test` methods for the scenario steps. Having to explicitly specify a numerical order, or worse, by test name,

[2019-08-29 11:54] sbrannen commented on #48
That's related to the discussion here: https://github.com/junit-team/junit5/issues/1919#issuecomment-499952534

[2019-08-29 13:12] iamdanfox commented on #1967
@christopherpanderson and I just hit this while migrating an internal project to JUnit5, it seems quite surprising behaviour to have multiple parameters point to the same directory on disk!

The old JUnit4 code used the `TemporaryFolder#newFolder` method:

[code]

I _thought_ this could just be replaced by using multiple parameters, but as this issue describes both dir1 and dir2 ended up pointing

[2019-08-30 10:32] JockX commented on #1948
It would be a welcome addition on a root class holding multiple `@Nested` classes. (Or do I miss something, and there already is a way to control execution order of `@Nested` classes?).

[2019-08-30 12:09] Sam-Kruglov opened #1994 "@Before* in outer and @Nested classes interaction"
I can't compose a single thought of what I can't get working, so I've prepared a test case in Kotlin that will describe what I am trying to do and the problems are highlighted with `fixme` comments. There is only one problem here that is repeated 4 times but I think it may be useful for you to look at the whole picture. Please, notice, that all classes here use `TestInstance.Lifecycle.PER_CLASS` s

[2019-08-30 12:17] sbrannen commented on #1994
Tentatively slated for the 5.6 backlog for _team discussion_ and further investigation

[2019-08-30 19:55] sormuras opened #1995 "Drop java.compiler dependence in org.junit.platform.commons"
In order to reduce the surface of required modules, let's follow @lukaseder advice:

https://twitter.com/lukaseder/status/1167087138246184960

https://github.com/junit-team/junit5/blob/master/junit-platform-commons/src/module/org.junit.platform.commons/module-info.java#L12

## Deliverables

- [x] Implement own `isJavaName(String s)` method and drop `java.compiler`

[2019-08-31 08:02] RunningSanil opened #1996 "Introduce @YamlFileSource similar to @CsvFileSource"
`@CsvFileSource` is useful, but structured data structures are not supported.

I suggest to add a `@YamlFileSource` for explicit YAML support like `@CsvFileSource` to support structured data structures.

I have created a little demo locally, but it may not be complete. I want to know what everyone thinks.

[2019-09-01 10:46] marcphilipp commented on #1994
@Sam-Kruglov I've read through the sample code you've provided but I'm still unsure what you're trying to achieve. I looks like you'd only want to use `ClearsDbBeforeAllIT` on the outermost `@Nested` class otherwise you're clearing the database before each inner class. Instead of clearing, could each `@Nested` class delete the entities it saved in an `@AfterAll` method?

[2019-09-01 13:37] baev opened #1997 "Add a possibility to add custom PostDiscoveryFilter via SPI or configuration property"
Currently we are working on solution that will allow users to select tests to run from web UI. Every test is already marked by custom `@TestId` annotation, so we only missing possibility to register a custom `PostDiscoveryFilter` via SPI or some kind of configuration property.

Currently the only way to add `PostDiscoveryFilter` is to manually create `LauncherDiscoveryRequest` but that's seems to

[2019-09-01 13:40] sbrannen commented on #1997
Have you considered relying on the built-in support for _tags_ instead?

[2019-09-01 13:54] sbrannen commented on #1996
This is related to #1571.

[2019-09-01 13:55] sbrannen commented on #1996
I'm inclined to label this as a duplicate of #1794.

@junit-team/junit-lambda Thoughts?

[2019-09-01 14:28] sbrannen commented on #1996
**Team Decision**: closing as a duplicate of #1794.

[2019-09-01 14:28] #1996 closed

[2019-09-01 16:58] juliette-derancourt commented on #1995
I could do that! ✋

However, I noticed that the method used in `PackageUtils` is `SourceVersion.isName` and not `SourceVersion.isIdentifier`. This method is based on `isIdentifier` — replaceable by the methods from the tweet — but also `isKeyword`, which is checking that the name isn't a language keyword. Now this would be a bit longer to replace.

But, is it really intended to check if the name i

[2019-09-01 17:23] sormuras commented on #1995
Hi again, @juliette-derancourt -- I assigned this issue to you. Thanks for grabbing it!

You're correct. The call in question is `SourceVersion.isName`:
https://github.com/junit-team/junit5/blob/master/junit-platform-commons/src/main/java/org/junit/platform/commons/util/PackageUtils.java#L76

This call should be replaced by a similar one declared within `PackageUtils` to maintain the current behav

[2019-09-01 18:08] #1973 closed

[2019-09-01 19:04] juliette-derancourt commented on #1995
My pleasure! :)

Yes, but my point was that [isKeyword](https://github.com/openjdk/jdk/blob/2399a8d764e63145c27af17c3c3023ebdb939347/src/java.compiler/share/classes/javax/lang/model/SourceVersion.java#L378) seems to be more complex to rewrite locally, because of the version it takes as a parameter. Now that I took a closer look at it, I guess we can just check equality for all keywords since the s

[2019-09-01 20:04] sormuras commented on #1995
No. At test time, we're all in. Use language feature of Java 12 and use foundation modules as you need them, and introduce external test helpers if that makes life easier.

https://github.com/junit-team/junit5/blob/336945b56c79283c0efd2d5ee6c23c9fdc2ea148/buildSrc/src/main/kotlin/Versions.kt#L17-L25

[2019-09-01 20:13] baev commented on #1997
yes, we are using tags in some cases, for example for cucumber tests.

What for JUnit, as far as I know there is no extension that allows to provide additional tags, and currently the only way to add tags is by using `@Tag` annotation (correct me if I'm wrong). Having an extension that allows us to add custom tags from annotations may help.

The reason I'm asking for such extension instead of just

[2019-09-01 20:21] baev commented on #1997
BTW currently as workaround we are using `ExecutionCondition`. The problem is that all the tests get into test plan, as the result we have all the tests in the report

[2019-09-01 21:12] juliette-derancourt commented on #1995
Alright! Thanks for the answers ;)

[2019-09-02 07:35] Sam-Kruglov commented on #1994
@marcphilipp I want to clear db before each nested test because they are independent but modify db state. However, I still want to share the common set up part like I do in my unit tests.

[code]

[2019-09-02 08:29] sbrannen commented on #1997
That's correct for JUnit Jupiter.

`PostDiscoveryFilter` is essentially already such an "extension" (so to speak) for the JUnit Platform, and I understand your desire to be able to register one globally.

Having such an extension for JUnit Jupiter, however, would not make sense. Jupiter extensions are evaluated during the "execution phase" which is too late. Tags can only be properly honored durin

[2019-09-02 08:30] sbrannen commented on #1997
Yes, that is the best viable option for the status quo.

And indeed... that is the only negative side effect of using an `ExecutionCondition` for this purpose.

[2019-09-02 08:31] sbrannen commented on #1997
Tentatively slated for the 5.6 backlog for _team discussion_

[2019-09-03 07:03] sormuras opened #2000 "Move to GitHub Actions"
Initial tests using workflows introduced by GitHub Actions are looking very promising.

`@AfterAll`, it's still Azure Pipelines under the hood, ain't it?

[2019-09-03 07:27] svenruppert opened #2001 "Access to the Include-/Exclude-ClassnameFilters"
If you are writing a custom TestEngine, the discovery method will be the entrance for the selection of the TestClasses. If you want to select a package and you are using an IDE ( IntelliJ in my case) the IDE will give you a ClasspathRooSelector in combination with an Include- and / ExcludeClassnameFilter.

`request.getFiltersByType(ClassNameFilter.class);` is not enough, because the implementing c

[2019-09-03 07:46] marcphilipp commented on #2001
Why do you need access to the implementing classes?
Are you using `EngineDiscoveryRequestResolver` which was introduced in 1.5?

[2019-09-03 07:56] svenruppert commented on #2001
hhmm I am implementing the method `public TestDescriptor discover(EngineDiscoveryRequest request, UniqueId engineID)` .  At the point `request.getSelectorsByType(ClasspathRootSelector.class)` I want to extract this filters given by IntelliJ to create the TestDescriptors. IntelliJ is not using the PackageSelector.

[2019-09-03 08:17] sormuras commented on #2001
I wonder if the issue vanishes when using the [AbstractClassBasedTestEngine](https://github.com/sormuras/mainrunner/blob/master/src/de.sormuras.mainrunner.engine/main/java-8/de/sormuras/mainrunner/engine/AbstractClassBasedTestEngine.java) as the base class of your engine.

You "just" specify what a test method/class is, and it cares about the discovery process.

[2019-09-03 08:34] marcphilipp commented on #2001
@svenruppert Please have a look at `EngineDiscoveryRequestResolver`. It does all that for you if you call `addClassContainerSelectorResolver`. It will convert `ClasspathRootSelectors`, `ModuleSelectors`, and `PackageSelectors` into `ClassSelectors` which you can then resolve.

Here's a full example from the Jupiter engine:
https://github.com/junit-team/junit5/blob/9ffd427e4b94a1d433bddb188c489d5b3

[2019-09-03 08:52] svenruppert commented on #2001
@marcphilipp ok, will try it. Thx

[2019-09-03 08:56] svenruppert commented on #2001
@marcphilipp hhmm , the only thing here. I have to add the Jupiter Engine to the dependencies of my Custom TestEngine. So I have to extract this.

[2019-09-03 11:42] svenruppert commented on #2001
@marcphilipp OK, it is working. The discovery process itself is something generic and I really would love to see a solution that would abstract this away from the Developer of a Test-Engine. Just the definition of a TestClass and a TestMethod would be needed.

[2019-09-04 07:34] choojoykin commented on #1997
Hello. its seems to be good decision to give it all in junit api. In our projects we need to override ExecutionCondition and parse custom test ids from CI to run, parse our classpath for filter all junit tests. Run by Tags its common way, but if we need to run tests on some feature if we know only IDs from tms - we need, as i wrote above,  override ExecutionCondition

[2019-09-05 11:54] TatyanaSnigiriova commented on #715
@LiamClark  Hi, how can I use ParameterizedExtension.class in my project? I added dependency                        junit-jupiter-api (5.1.0-RC1) and junit-jupiter-engine (5.0.3), but I still can't use it to @ExtendWith :c
 https://github.com/delftswa2017/junit5/tree/parameterized-migration-support

[2019-09-05 14:01] sbrannen commented on #715
@TatyanaSnigiriova, the `ParameterizedExtension` was never released.

However, you can view the (now closed) work in progress in PR #723.

[2019-09-05 14:09] michael-simons opened #2002 "Improve @TestInstance documentation regarding @Nested test classes"
Having `@TestInstance` on a toplevel test class changes the lifecycle of this class.

My simple assumption would be, that the lifecycle of all nested `@Nested` test classes are changed accordingly.
This is not the case, they also need to be configured.

While I find this behaviour irritating and would expect all classes down the hierarchy to share the lifecycle of the container class, I also can l

[2019-09-05 14:14] sormuras commented on #2002
Attached a bunch of labels -- tagged for next team discussion.

[2019-09-05 14:15] sbrannen commented on #2002
Thanks for raising the issue.

Tentatively slated for the 5.5 backlog for _team discussion_

[2019-09-05 14:18] sbrannen commented on #2002
FWIW, the Javadoc is a bit more explicit:

[2019-09-05 15:10] TatyanaSnigiriova commented on #715
@sbrannen Could you help me?
Is there a method by which I can realize running multiple tests on each test data set? I need to read the data, then conduct several tests on this data, then get the next set of data and conduct the same test methods on them. So far I see only one way: in @ParameterizedTest prepare the data and write in it all the test methods that I want to to carry out on this data.

[2019-09-06 09:11] sbrannen commented on #715
@TatyanaSnigiriova

Having said that, if you post the link back here, we'll see if we can help answer it.

[2019-09-07 02:11] rgoldberg opened #2003 "junit-platform-commons-1.5.1-sources.jar from Maven Central has module-info.class instead of module-info.java"
`junit-platform-commons-1.5.1-sources.jar` downloaded from Maven Central has `module-info.class` instead of `module-info.java`.

This same problem might occur in other files & other versions.

[2019-09-07 05:22] sormuras commented on #2003
`junit-jupiter-5.5.1-sources.jar` has it too... others as well. Like `junit-jupiter-5.6.0-20190906.085229-49-sources.jar`.

Thanks for raising this issue.

[2019-09-07 05:31] sormuras commented on #2003
Underlying reason is this block that's applied to all `Jar` tasks:

https://github.com/junit-team/junit5/blob/ada66c4f698e48ed01d3bd787af2bfd96f5f661b/buildSrc/src/main/kotlin/java-library-conventions.gradle.kts#L96-L98

[2019-09-07 06:38] #2003 closed

[2019-09-07 10:25] DineshNO commented on #1773
@ahmedyarub
       <dependency>
            <groupId>org.junit.jupiter</groupId>
            <artifactId>junit-jupiter</artifactId>
            <version>${junit.jupiter.version}</version>
            <scope>test</scope>
        </dependency>

with 5.5.1 version not working .using Maven 3.5.x

![image](https://user-images.githubusercontent.com/24774700/64473730-951daf80-d16a-11e9-87b8-30ee9faefda4.

[2019-09-07 11:24] sbrannen opened #2004 "JupiterTestEngine crashes if JUnit 4 is on the classpath but Hamcrest is not"
## Overview

While migrating the Spring Framework test suite from JUnit 4 and Hamcrest to JUnit Jupiter and AssertJ, entire projects in Spring's test suite started reporting zero tests after removing the dependency on Hamcrest even though the tests no longer used Hamcrest. Adding Hamcrest back as a test runtime dependency allowed the tests to execute again.

## Analysis

Thanks to some investigati

[2019-09-07 13:56] sbrannen commented on #1773
@ahmedyarub, are you using Spring Boot?

If so, [this](https://stackoverflow.com/questions/54598484/gradle-5-junit-bom-and-spring-boot-incorrect-versions/54605523#54605523) is the answer to your question.

[2019-09-07 13:56] sbrannen commented on #1773
@DineshNO, are you using Spring Boot?

If so, [this](https://stackoverflow.com/questions/54598484/gradle-5-junit-bom-and-spring-boot-incorrect-versions/54605523#54605523) is the answer to your question.

[2019-09-07 14:53] #2004 closed

[2019-09-07 14:57] sbrannen opened #2005 "Backport fixes to 5.5.2"
- [x] Create release notes document for `5.5.2` in the `5.5.x` branch
- [x] Backport #2003 to `5.5.x`
- [x] Backport #2004 to `5.5.x`

[2019-09-07 15:00] sbrannen commented on #2005
_in progress_

[2019-09-07 15:33] sbrannen commented on #2005
Done.

See latest commits for details: https://github.com/junit-team/junit5/commits/releases/5.5.x

[2019-09-07 15:33] #2005 closed

[2019-09-07 16:30] DineshNO commented on #1773
Thanks @sbrannen

I am using spring boot 2.1.7.RELEASE  and  the solution worked great 👍

i just want to add another question here:

`        <maven.compiler.source>12</maven.compiler.source>
        <maven.compiler.target>12</maven.compiler.target>
`
when used with junit 5 (using 5.5.1),getting error
Caused by: java.lang.IllegalArgumentException: Unsupported class file major version 56

[https://

[2019-09-07 20:12] ahmedyarub commented on #1773
what do you get running
echo $JAVA_HOME
java -version
javac -version?

[2019-09-08 08:42] DineshNO commented on #1773
Hi @ahmedyarub
echo $JAVA_HOME  - C:\Program Files\Java\jdk-12.0.2
java -version - java version "1.8.0_221"
javac -version - javac 1.8.0_151

![image](https://user-images.githubusercontent.com/24774700/64485774-e38f8480-d224-11e9-8c7f-ffeafcd905eb.png)

`<maven.compiler.source>11</maven.compiler.source> <maven.compiler.target>11</maven.compiler.target>`
this works.

If i remove my junit dependenci

[2019-09-08 14:06] sbrannen commented on #1773
@DineshNO, regarding your latest questions, please allow me to refer you to our policy:

[2019-09-08 14:18] DineshNO commented on #1773
Hi @sbrannen
will do that.Thanks

[2019-09-08 19:17] marcphilipp commented on #2001
@sormuras Do we yet have an issue to track that?

[2019-09-09 02:38] ahmedyarub commented on #1773
Obviously, your environmental variables (PATH and JAVA_HOME) are pointing to different Java versions. I'll of them should be pointing to the same path.

[2019-09-09 03:31] ahmedyarub commented on #1773
All of the environmental variables (PATH and JAVA_HOME) should be pointing to the same Java version

[2019-09-09 18:09] tpetracca commented on #1967
Just hit this as well. Working around it in a manner similar to @sewe.

[2019-09-10 13:09] sbrannen commented on #1995
This has been resolved in `master` via #1999.

[2019-09-10 13:09] #1995 closed

[2019-09-10 18:18] marcphilipp commented on #1980
Tentatively slated for 5.6 Backlog for _team discussion_.

[2019-09-10 18:19] marcphilipp commented on #1978
Tentatively slated for 5.6 Backlog for _team discussion_.

[2019-09-11 10:52] marcphilipp commented on #2002
**Team brainstorming:** While we cannot change the default in order to stay backwards compatible, we could introduce a new config param to opt-in to applying the lifecycle from the `@TestInstance` annotation to nested classes.

[2019-09-11 12:43] vmassol commented on #1775
@sbrannen @sormuras Hi. On the XWik project we tried upgrading to JUnit 5.5.2 (from 5.4.2) and found that this breaks our TestExecutionListener that is supposed to mark the test as failing. With JUnit 5.5.x it seems our exception is caught and just logged and no longer fails the test...

The problem is that I don't see a workaround. Anything you could suggest for us?

Right now and because of this

[2019-09-11 12:52] marcphilipp commented on #1775
Why not a `AfterEachCallback`?

[2019-09-11 12:52] vmassol commented on #1775
Actually I'll try using an Extension implementing `AfterEachCallback` and register it automatically using the service loader mechanism. I'll report back here.

[2019-09-11 12:52] vmassol commented on #1775
@marcphilipp yes, that was suggested above and there were some complexity but my code now automatically reads from the current pom.xml so it should be ok.

[2019-09-11 12:59] ahmedyarub commented on #1773
Just for reference, @DineshNO's problem was solved this way:

[2019-09-11 13:00] vmassol commented on #1775
I now remember the issue with Extension and service loader.... The feature is disabled by default which means that XWiki developers will not have it enabled by default in their IDEs when they write and execute tests. It'll work in Maven since we can set the property to enable it for the surefire/failsafe plugnis but it won't work OOB in their IDEs....

[2019-09-11 13:12] vmassol commented on #1775
Note: It's not a critical limitation since our build would check it. It was just nice to have it also OOB in the IDE.

[2019-09-11 14:40] marcphilipp commented on #1775
If you enable it in `src/test/resources/junit-platform.properties` it will be used in IDEs and in Maven.

[2019-09-11 14:45] vmassol commented on #1775
hoho.... interesting, thanks for mentioning it!

[2019-09-11 14:48] DineshNO commented on #1773
That worked with above configuration.Thanks

[2019-09-11 15:07] itrifonov commented on #1558
VSTS has option in filters "passed on rerun", i don't know how it looks in XML but not Aborted for sure as it's a separate outcome.
![image](https://user-images.githubusercontent.com/5763935/64709387-7135d300-d4b6-11e9-9a38-320e6debcce8.png)

[2019-09-12 05:55] marcphilipp commented on #1775
It may be overkill, but you could add another resource folder to each project in the parent POM:

[code]

... or use the `maven-remote-resources-plugin` plugin.

[2019-09-13 10:19] JoosJuliet commented on #1596
Can I grab this one? I can't find any assigned person. Could I do this?

[2019-09-13 11:43] mmerdes commented on #1595
see also here:
https://leeturner.me/blog/2019/02/building-a-camel-case-junit5-displaynamegenerator.html

[2019-09-13 22:57] AdamSHurwitz opened #2009 "Parameterized Nested Tests"
# Expected

**Creating a nested test within a parameterized test in JUnit5.** Perhaps this is a feature request.

There are many conditions for the Android ViewModel using param. tests. I want to organize the tests within the param. test to improve output readability.

[code]

# Observed

The normal parameterized assertions [not depicted] work as expected. The nested `FeedLoadNestedTest` does not

[2019-09-14 08:38] sbrannen commented on #2009
I also consider this a duplicate of #878.

In addition, `@Nested` is only supported on *inner classes*.

We have no plans to support `@Nested` on *local classes* defined within the scope of a method (function in Kotlin).

[2019-09-14 14:46] DineshNO commented on #1403
I am using below for compatablity with jdk 12 Junit 5 test cases.
`
<plugin>
                    <groupId>org.apache.maven.plugins</groupId>
                    <artifactId>maven-surefire-plugin</artifactId>
                    <version>3.0.0-M3</version>
                    <configuration>
                        <argLine>-Djava.net.preferIPv4Stack=true</argLine>
                    </configurati

[2019-09-14 16:26] marcphilipp commented on #1403
@DineshNO Are tests being executed at all?

[2019-09-14 18:23] marcphilipp commented on #2000
Resolved by #2008.

[2019-09-14 18:23] #2000 closed

[2019-09-14 18:30] sormuras commented on #2001
Not, yet. But soon.

I already have a candidate that works like @svenruppert describes: [AbstractClassBasedTestEngine](https://github.com/sormuras/mainrunner/blob/master/src/de.sormuras.mainrunner.engine/main/java-8/de/sormuras/mainrunner/engine/AbstractClassBasedTestEngine.java) -- you just tell this abstract base class what a test class/method is and it cares about the rest.

[2019-09-14 18:36] marcphilipp commented on #1994
This works as designed. `@BeforeEach` steps in nested classes are supposed to build on each other. If you don't want that why use nested tests at all?

[code]

[2019-09-14 18:37] marcphilipp commented on #1959
@georgy Did you start work on this one or shall we try to find someone else?

[2019-09-14 18:40] sormuras opened #2011 "Provide class-based TestEngine support"
The [AbstractClassBasedTestEngine](https://github.com/sormuras/mainrunner/blob/master/src/de.sormuras.mainrunner.engine/main/java-8/de/sormuras/mainrunner/engine/AbstractClassBasedTestEngine.java) already implements the base logic needed to support a (Java) class-based `TestEngine`. Derived classes only have to specify what a test class and what a test method is, and all "communication" with the J

[2019-09-14 18:41] sormuras commented on #2001
Created #2011 - thus closing this issue.

[2019-09-14 18:41] #2001 closed

[2019-09-14 18:56] marcphilipp commented on #1965
I finally found some time to look into the sample project. Here's a quick flamegraph that shows that roughly 53% of the execution are spent in `VintageTestDescriptor.findMethod`:

<img width="799" alt="Screenshot 2019-09-14 at 20 53 07" src="https://user-images.githubusercontent.com/214207/64912589-d9dcb400-d731-11e9-9231-7a154cfe3ecb.png">

It doesn't help that Surefire calls `discover` twice: on

[2019-09-14 22:10] DineshNO commented on #1403
Hi @marcphilipp
my mistake.i was running integration tests and it fails in startup with another error

[https://stackoverflow.com/questions/57936671/junit-5-integration-test-failed-in-maven-3-5-2-build](url)

So tried @Disable to ignore and mistook loading of the context as test execution.

Thanks.

[2019-09-15 06:54] koretzki commented on #964
Thanks @Tibor17 and @sormuras this helped my with surefire plugin to work.
I tried the same with the Maven Failsafe plug-in but it didn't work,
It ran but not in parallel.
Should it work in Failsafe, or it not supported yet ?

[2019-09-15 08:45] Tibor17 commented on #964
@koretzki The real execution should be parallel. The only problem is that sometime the reports are lost or incomplete. Is this happening?

[2019-09-15 12:39] georgy commented on #1959
@marcphilipp yep, give me till Wednesday to wrap it up please

[2019-09-16 14:32] praenubilus commented on #80
Is there anyway we can have preemptive global timeout. The current global time out will hang if the program runs infinitely. The old timeout rule works in Junit4 is really helpful to abort the specific unit test in some scenarios.

[2019-09-16 14:58] sbrannen commented on #80
That's already the case.

If you have a use case that JUnit Jupiter does not work with, please open a new issue with further details.

[2019-09-17 00:56] AdamSHurwitz commented on #2009
@marcphilipp #878 details having a parameterized test class instead of a function which I believe is slightly different than what I'm proposing.

In the above code snippet the `@ParameterizedTest` is still annotated for a function. Then, within the parameterized function I'd like to use an inner class annotated as a `@Nested` test in order to organize many assertions by these nested tests.

[2019-09-17 07:52] sbrannen commented on #2009
@AdamSHurwitz, thanks for the feedback.

In light of that, I am closing this issue.

[2019-09-17 07:52] #2009 closed

[2019-09-17 07:54] sbrannen commented on #2009
Regarding your solution, you can simplify that one step further by introducing a custom _composed annotation_ such as `@FeedLoadTest`.

See my answer on [Stack Overflow](https://stackoverflow.com/a/57629806/388980) for an example.

[2019-09-18 06:13] arturdryomov opened #2013 "JUnit Platform Release Notes"
Right now [release notes are combined](https://junit.org/junit5/docs/current/release-notes/index.html#release-notes). There is a number of issues with this approach:

* when using a custom `TestEngine` users don’t really care about JUnit changes, but care very much about platform changes;
* there is no per-version changes for platform components — for example, `junit-platform-launcher` was updated

[2019-09-18 10:20] marcphilipp commented on #1959
@georgy Any updates? 🙂

[2019-09-18 10:47] marcphilipp commented on #1978
**Team Decision:** We're ok with moving it to `junit-platform-reporting`.

[2019-09-18 11:00] marcphilipp commented on #1980
**Team Decision:** Since we intend to publish a completely new reporting format that supports all platform features in #373, we don't want to make further investments in the legacy XML reporting.

[2019-09-18 11:00] #1980 closed

[2019-09-18 11:51] marcphilipp commented on #2013
Isn't there? It says "No changes" here: https://junit.org/junit5/docs/current/release-notes/index.html#release-notes-5.5.2-junit-platform

[2019-09-18 11:58] sbrannen commented on #2013
I was also going to point that out.

Though I can understand that it is confusing for people unfamiliar with JUnit 5.

Perhaps we should put the version numbers next to the subproject names in the headers.

Otherwise, one can misinterpret that to mean JUnit Platform 5.5.2 instead of 1.5.2.

[2019-09-18 12:35] ming13 commented on #2013
For me it looks like there were changes to JUnit artifacts, not JUnit platform ones. At least in my head JUnit artifacts are completely independent from JUnit platform ones. They have different versions after all and different responsibilities.

[2019-09-18 12:36] ming13 commented on #2013
This situation actually reminds me Android Support (AndroidX) libraries situation when they had all libraries tied to a single version. So even if a single artifact was changed all artifacts were updated. Nowadays they’ve switched to the independent scheme.

[2019-09-18 18:55] sormuras commented on #1906
Updated initial issue description.

[2019-09-18 22:15] ktkopone opened #2014 "Introduce `@FieldSource` for parameterized tests"
## Overview

Introduce `@FieldSource` argument source for parameterized tests.

The feature is analogous to the existing `@MethodSource` support, except that the value of a named field is used as the source of arguments instead of the value returned by a factory method.

See https://github.com/junit-team/junit5/issues/2014#issuecomment-1523242161 and https://github.com/junit-team/junit5/issues/201

[2019-09-19 00:04] kriegfrj commented on #1980
I must admit I'm a bit baffled by this decision. I would understand if I was asking for a feature request/addition and asking the JUnit team to implement it; however in this case the investment had already been made as I had already submitted a PR with a complete implementation (including unit tests)?

[2019-09-19 05:05] marcphilipp commented on #2014
Have you tried `@ValueSource`?

[2019-09-19 09:20] marcphilipp commented on #1980
It's not just the initial work of implementing it and reviewing the changes. We feel this feature might be brittle and would likely cause us maintenance effort that we would rather spend on other features.

[2019-09-19 09:30] honza-zidek commented on #1224
There is a Stack Overflow issue (https://stackoverflow.com/q/58005980/2886891) which would be solved by fixing this problem...

[2019-09-19 10:42] sbrannen commented on #2014
A `@MethodSource` factory method doesn't have to return a `Stream`. It can also return an array. So why don't you just do that?

Also, how would an `@ArraySource` annotation be used?

Would it reference the name of a field that has an array type?

If not, then `@ValueSource` likely already meets your needs as @marcphilipp already pointed out.

[2019-09-19 10:43] wilkinsona opened #2016 "Allow tests to be enabled or disabled on a range of JREs"
I'd like to test some code that behaves in different ways depending on the version of the JRE on which it's running. In my particular case, the code behaves in one way on Java 12 and earlier and in another on Java 13 and later. We have CI jobs that test on Java 8, 11, 12, and 13 (we'll probably drop 12 soon due to it being superseded by 13).

As CI jobs on new JREs are added and removed, I'd prefe

[2019-09-19 17:07] ktkopone commented on #2014
Apologies, I had a longer writeup with context but tried to pair it down. In my case I have an array variable of strings that I want to reuse for multiple tests (hence I don't want to just hardcode it in the `@ValueSource` strings parameter). If there's a way to pass an array variable to `@ValueSource` without running into `Attribute value must be constant`, I don't know it.

It's good to know tha

[2019-09-19 20:03] georgy commented on #1959
@marcphilipp Sorry for the delayed reply, unfortunately I will not be able to finish the task this/next week due to change in schedule. Please feel free to pass it to someone else. Apologies for the inconvenience.

[2019-09-19 20:18] sbrannen commented on #2014
Based on your feedback, what you are effectively requesting is a `@FieldSource` annotation analogous to the existing `@MethodSource`. In other words, there is nothing specific in your request that pertains only to arrays. I will therefore update the title of the issue accordingly.

[2019-09-19 20:19] sbrannen commented on #2014
Tentatively slated for the 5.6 backlog for _team discussion_

[2019-09-20 06:35] sormuras commented on #1906
Blocked by Gradle not running on Java 13: https://github.com/gradle/gradle/issues/10785#issuecomment-533011768

[2019-09-20 06:45] marcphilipp commented on #2014
In the meantime, this might be a little heavy on the ceremony but works:

[code]

[2019-09-20 06:47] marcphilipp commented on #1959
@georgy No worries, thanks for letting us know! Have you already started work and would like to share your work-in-progress?

[2019-09-20 06:48] marcphilipp commented on #1906
I don't think we're blocked by that since we don't have any Groovy buildscripts.

[2019-09-20 06:56] sormuras commented on #1906
Blocked we are: `settings.gradle.kts` can't resolve `isJava13Compatible`

![image](https://user-images.githubusercontent.com/2319838/65305876-71079880-db84-11e9-90ab-22a3b2cbe443.png)

[2019-09-22 13:36] vlsi opened #2020 "Please publish the list of the official release PGP keys"
The idea is project page should provide clear steps to verify if the release is official.
I'm afraid I've no standard way of doing that, however it would be nice if you could mention the official PGP key ids in the Download section.

Moving from 4.12 to 5.5.1 gives the following:

[code]

See also https://github.com/spring-projects/spring-framework/issues/23434#issuecomment-523882229

See also htt

[2019-09-22 21:38] vlsi opened #2021 "JUnit5-Vintage produces duplicate TestIdentifiers when running JUnit3 suites with duplicate test names"
## Steps to reproduce

Reproducer: https://github.com/junit-team/junit5-samples/pull/113

I admit that JUnit3 is kind of old, however https://github.com/apache/jmeter contains quite a few `suite()`-driven tests. It would be nice if Vintage executor could account for `TestSuite` names as well when producing `TestIdentifier`s

## Context

 - Used versions (Jupiter/Vintage/Platform): 5.5.1
 - Build T

[2019-09-23 08:15] vlsi commented on #2021
It looks like https://github.com/junit-team/junit5/blob/06eeceb0978dd1059f7dd9ffd15c7552d7ad7553/junit-vintage-engine/src/main/java/org/junit/vintage/engine/execution/RunListenerAdapter.java#L110 is trying to "find parent".

What if `org.junit.vintage.engine.execution.RunListenerAdapter` analyzed `suite started / suite finished` events and maintained `current test identifier` accordingly?
Then it

[2019-09-23 10:51] sbrannen commented on #1944
I updated the title to point out that a missing JUnit 4 artifact should also fail the build for use cases where someone excluded JUnit 4 from the classpath but left `junit-vintage-engine` in the classpath.

The logic in `JUnit4VersionCheck` should already handle this use case as well, but I wanted to ensure we cover both use cases explicitly: _missing_ and _unsupported_ JUnit 4 artifacts.

[2019-09-23 11:03] marcphilipp commented on #1944
This was fixed in #1909.

@nielsbasjes Would you care to verify using the latest snapshot?

[2019-09-23 11:12] marcphilipp commented on #2021
Thanks for reporting! I'll have to take a closer look.

[2019-09-23 11:21] marcphilipp commented on #2020
The key is mine and published here:
https://keyserver.2ndquadrant.com/pks/lookup?op=get&search=0x85911F425EC61B51

We can certainly mention it in the README and link to a KEYS.md file.

@vlsi Would you mind drafting one in a PR?

[2019-09-23 11:36] vlsi commented on #2020
Thanks, I can receive the key, and signature verification passes.

The issue is that JUnit 5 project does not provide steps to verify the integrity of the downloaded junit.jar files.

Frankly speaking, I'm a bit puzzled what JUnit5 treats as the "official release" page.

For instance:
1) GitHub releases seem to refer to [source releases](https://github.com/junit-team/junit5/releases), however they

[2019-09-23 13:49] marcphilipp commented on #2020
Can you please elaborate on what you're looking for? Except for the BOM the links on junit.org include all artifacts. And the sample project show how to use it from different build tools. I don't see why we should attach binaries to GitHub releases. Who would use that?

[2019-09-23 14:12] vlsi commented on #2020
Let me please try with a couple of examples?

https://www.jacoco.org/download.html
https://bytebuddy.net/#/ (see "Getting Byte Buddy")
https://asm.ow2.io/ (see Download)
http://calcite.apache.org/downloads/
http://cassandra.apache.org/download/

The above are the pages that clarify what should be treated as the official release.
If you consider that JUnit5 release consists of "Maven Central artifa

[2019-09-23 16:35] stehrn commented on #1959
I'd like to give this one a go if ok? @georgy pls let me know if any work in progress, fine if not; will aim for PR early next week

[2019-09-23 16:37] xenoterracide opened #2022 "assumptions that fail on success"
So I think this might actually be a number of features. Note that assumptions might be the wrong thing, this may be a new thing entirely.

My use case is that I am developing against a spec (FHIR), I know what *should* pass, but currently some things cannot pass, I'd like to write tests for them anyways, should they someday pass I'd like to be alerted that they are passing so I can mark them as no

[2019-09-23 16:43] xenoterracide opened #2023 "Introduce declarative mechanism for failing a test if it does not throw an exception"
Annotation based Assumptions, e.g.
[code]
So that we don't have to rewrite all the assumeThat's to assertThat's and perhaps more importantly so that all test frameworks (assertj, spring, etc) don't have to implement an assume for everything.

[2019-09-23 16:45] xenoterracide commented on #2023
related #2022

[2019-09-23 16:48] sormuras commented on #2023
Why not like this?

[code]

[2019-09-23 16:59] sormuras commented on #2023
I guess, the already existing [`TestWatcher`](https://junit.org/junit5/docs/current/api/org/junit/jupiter/api/extension/TestWatcher.html#testSuccessful(org.junit.jupiter.api.extension.ExtensionContext)) API doesn't help here.

[2019-09-23 17:05] xenoterracide commented on #2023
That code is ugly, duplicative, and verbose. Also doesn't solve the problem of having every "framework" ever writing duplicate assertThat/assumeThat functionality. Yes there are workarounds though...

[2019-09-23 19:42] vlsi commented on #2020
One more datapoint:

[2019-09-23 20:51] chrischild commented on #1959
Hello - I've actually think I have this completed. Sorry I didn't PR this as I have not contributed to any Open Source projects before and wanted to poke around on my own without being assigned to the issue just in case I couldn't figure it out. I'm just going through the DoD.

[2019-09-23 21:46] stehrn commented on #1959
Nice, I’ll leave it to you then

[2019-09-24 00:21] krusche commented on #1320
@Tibor17 I ran into this issue as well. Any chance that `maven-surefire-plugin` gets a new milestone release `3.0.0-M4` officially published (not as snapshot) soon? This would make it much easier to use it in our projects without custom plugin repositories...

[2019-09-24 07:05] vlsi commented on #2021
One of the culprits is Vintage is trying to discover all the tests early.

In other words:
1) It builds `VintageTestDescriptor` entities based on test `Description` objects
2) Then it starts executing tests, and it tries to reuse "already known `VintageTestDescriptor` objects"

That does not work when multiple different tests have the same (in terms of `equals`) `Descriptions`.
In other words, if

[2019-09-24 09:43] sbrannen commented on #2022
The proper way to implement this is with tags.

1. Define a tag name -- for example _WIP_ (work in progress).
2. Annotate test classes or test methods with `@Tag("WIP")` (or create a custom composed `@WIP` annotation that's meta-annotated with `@Tag("WIP")`).
3. Exclude the "WIP" tag from the build.
4. Occasionally include the "WIP" tag in the build to see which WIP-tests now pass.
5. Remove the `

[2019-09-24 10:08] sbrannen commented on #2023
Since a `TestAbortedException` can be thrown by user code or any assertion framework anywhere within a test method or lifecycle method, I don't see how such an `@Assumption(failOnPass=true)` annotation could be supported without bytecode manipulation, and JUnit Jupiter does not perform bytecode manipulation.

Or did I misinterpret your proposal?

[2019-09-24 10:27] nielsbasjes commented on #1944
The problem has *not* been fixed in junit-vintage-engine-5.6.0-20190924.094617-81.jar.

I get
[code]
then
[code]
and
[code]

To facilitate you guys repeating what I have I created a testing branch on my project
https://github.com/nielsbasjes/yauaa/tree/ReproduceJunit5Issue1944

I have the sonatype snapshot repo enabled using my ~/.m2/settings.xml

To limit the time needed to reproduce this (some o

[2019-09-24 10:46] marcphilipp commented on #2023
Is this what you want?
https://github.com/junit-team/junit5/blob/5e41ebe612fd67e905f96f1dd3184a071b65be17/documentation/src/test/java/extensions/ExpectToFail.java

If not, please provide a more complete example test.

[2019-09-24 10:48] marcphilipp commented on #2022
How is this different from #2023?

[2019-09-24 15:06] nielsbasjes commented on #1944
Just by looking at the messages it seems the JUnitException is classified as a WARNING.

And a warning should not fail the build...

[2019-09-24 15:47] marcphilipp commented on #1944
@nielsbasjes We still log this as a warning when Surefire calls `discover()`. However, if Surefire called `execute()` with the same `TestPlan`, it would throw an exception. I'll add an integration test.

[2019-09-24 15:57] stehrn commented on #1864
I'd like to work on this please

[2019-09-24 15:58] marcphilipp commented on #1864
@stehrn Go ahead! 👍

[2019-09-24 17:37] chrischild commented on #1959
I think I've got everything in order. I just need permission to push my branch.

[2019-09-24 18:41] marcphilipp commented on #1959
@chrischild Please fork the repo, push the branch to your fork, and open a PR from there.

[2019-09-24 18:51] chrischild commented on #1959
Thanks @marcphilipp! I literally just read that somewhere online and figured that was what I was supposed to do.

[2019-09-24 19:05] marcphilipp commented on #2021
That's how the JUnit Platform works so I don't see a way around that.

Reference equality is only used as a last resort. Equality for objects should be enough except for edge cases.

I first need to take a closer look before discussing potential solutions. 🙂

[2019-09-24 19:13] marcphilipp commented on #2021
Here's another idea: if we cannot find a unique `Description` with `equals()` nor with reference equality, we could use the first non-started one from the list.

[2019-09-24 19:43] vlsi commented on #2021
That does not work for randomized / concurrent test execution order.

[2019-09-24 19:49] vlsi commented on #2021
Well. That depends. Javadocs for RunListener [explicitly mention](https://junit.org/junit4/javadoc/4.12/org/junit/runner/notification/RunListener.html#testFailure(org.junit.runner.notification.Failure)) reference equality.

JUnit Platform allows for dynamic test registration.
So discovery could be just ignored, and it could assume that all the tests are dynamic.

Just in case: I tried that as well

[2019-09-24 20:33] xenoterracide commented on #2022
this is about changing how to deal with assume behavior globally (and/or some other facility)), whereas #2023 is specifically to allow assumptions by an annotation. @sbrannen's example might work for that, though I would prefer that it was something provided by Junit and thus less custom, more standard.

For this, I don't like step 4, as it requires manual intervention (though I understand the cou

[2019-09-24 21:48] vlsi commented on #2021
Just in case: I've rewritten the tests that used `ActiveTestSuite` to JUnit5, and I've added lots of dummy `implements Descriptable` so the tests produce unique ids.

It breaks UI in IDEA (as IDEA can no longer associate test names with test ids), however it seems "good enough" as then we could gradually migrate tests to `@parameterized` or something like that.

[2019-09-25 08:13] marcphilipp commented on #2021
I'm not sure "same" was intended to mean reference equality. If it was, `JUnit38ClassRunner` does not behave accordingly since it does not pass the same `Description` instance to `testFinished` that it passed to `testStarted`.

[2019-09-25 08:44] marcphilipp commented on #2022
Did you see my comment about `@ExpectToFail` I posted in the other issue? https://github.com/junit-team/junit5/issues/2023#issuecomment-534502331

FWIW Spock has a similar annotation called `@PendingFeature`:
http://spockframework.org/spock/docs/1.3/all_in_one.html#_pendingfeature

If there's sufficient interest, we could make a polished version of our extension public.

Would that work for your u

[2019-09-25 15:04] xenoterracide commented on #2023
I think so? though my understanding of what it does is based on its name... but based on that, more or less. I was thinking a toggle between soft failing (way assumptions behave now) and hard failing on pass. If that makes sense?

[2019-09-25 15:07] xenoterracide commented on #2022
I think so, I was thinking a more global way of setting the behavior here, but that's perhaps a bad idea in the first place.

[2019-09-25 15:22] marcphilipp commented on #2022
I think a global switch that says "expect all tests to fail unless I said otherwise" would be strange. I'm inclined to close this one and continue the discussion for an annotation-based approach in #2023.

@xenoterracide Any objections?

[2019-09-25 15:32] xenoterracide commented on #2022
well it wasn't really "expect all tests to fail" but yes, I think we can do that

[2019-09-25 15:32] #2022 closed

[2019-09-25 16:22] marcphilipp opened #2028 "Ask build tools and IDEs to upgrade to junit-platform-launcher 1.6.x"
## Overview

In #1909 we've improved error reporting for engine discovery/execution failures. The relevant changes are in `DefaultLauncher` which is contained in the `junit-platform-launcher` artifact. Since most build tools and IDEs bundle that artifact we need to reach out to them and ask them to update to Jupiter/Vintage 5.6 (Platform 1.6).

## Projects

List of projects and contacts to ping.

[2019-09-25 16:32] marcphilipp commented on #1944
@nielsbasjes The missing piece was that Surefire bundles an old version of `junit-platform-launcher`. If you add the snapshot version to the `test` scoped dependencies, it fails.

I've created #2028 to ensure Surefire and other build tools and IDEs upgrade their bundled Launcher once 5.6 is released.

[2019-09-25 16:32] #1944 closed

[2019-09-25 18:45] akozlova commented on #2028
IntelliJ doesn't bundle junit-platform-launcher anymore (about a year or even more), it downloads the launcher on tests start according to the version of the api used in the user's project.

[2019-09-26 07:40] joh-ku opened #2029 "Not able to create multiple @TempDir in a testcase"
JUnit annotation @TempDir does not create multiple temporary directories. After initialization of two or more variables annotated with @TempDir all of them hold one and the same reference to a temporary path in the filesystem – actually only one temporary diectory has been created.

## Steps to reproduce

Just implement a sample code snippet as follwing (no difference between non-private field in

[2019-09-26 07:43] sormuras commented on #2029
That's working as expected.

What about modifying your code as follows:

[code]

[2019-09-26 07:53] BlueIce commented on #2029
Seems like a duplicate of #1967.

[2019-09-26 07:58] sormuras commented on #2029
True. Closing this issue in favor of the older one, which already mentions the work-around I posted above.

[2019-09-26 07:58] #2029 closed

[2019-09-26 08:06] joh-ku commented on #1967
@sormuras
Thank you very much for the quick reply in #2029 – sorry, i missed this one.
What is the actual reason for not creating multiple folders?
The workaround `Files.createDirectories(temp.resolve("one"));` applies to my issue, but is IMHO not really straightforward compared to just create muliple folders as the code suggests.

[2019-09-26 10:36] marschall opened #2030 "Vintage Parameterized Tests are more than two orders of magnitude slower"
JUnit 5.5.2

## Steps to reproduce

Run the following empty test. With JUnit 4 it takes about 2 seconds to run, with the JUnit 5 vintage engine it takes about 250 seconds to run.

https://github.com/marschall/junit5-Segment-hashCode/blob/master/src/test/java/com/github/marschall/junit5/segmenthashcode/ReproducerTest.java

## Context

We have a JUnit 4 Parameterized test with about 70'000 total tes

[2019-09-26 10:41] marcphilipp commented on #2030
Thanks for reporting this issue! 👍

I had also seen that being slow in a recent profile I did in https://github.com/junit-team/junit5/pull/2012#issue-317622439.

I will improve it for 5.6.

[2019-09-26 10:43] marcphilipp commented on #2030
@marschall I see you have already started, have you?

[2019-09-26 10:54] marschall commented on #2030
Yes, the changes take the runtime of the posted empty test from ~250 seconds to ~4 seconds.

[2019-09-27 00:50] sormuras opened #2033 "Module org.junit.platform.launcher does not read module java.logging"
Manual testing shows that module `org.junit.platform.launcher`'s missing a `requires java.logging;` directive.

[code]

## Deliverables

- [x] Add `requires java.logging;` directive
- [x] Verify no other directive is missing ~~(by implementing #1939 ?)~~

[2019-09-27 06:40] marcphilipp commented on #2028
@akozlova Thanks for the info! In that case, we're fine where IDEA is concerned.

[2019-09-27 10:28] marcphilipp commented on #2016
**Team Decision:** Introduce a new `@EnabledForJreRange` annotation that has optional `min`/`max` attributes to define closed, potentially half open ranges, e.g. `@EnabledForJreRange(min = JAVA_8)`, `@EnabledForJreRange(max = JAVA_11)`, `@EnabledForJreRange(min = JAVA_8, max = JAVA_11)`.

[2019-09-27 10:29] marcphilipp commented on #2016
@wilkinsona Would you be interested in submitting a PR?

[2019-09-27 10:47] wilkinsona commented on #2016
Yeah, I would, although it'll probably be mid-October before I have time to tackle it.

[2019-09-27 11:09] #1856 closed

[2019-09-27 11:35] #2033 closed

[2019-09-27 18:57] Ghilteras commented on #1612
I have the same issue and just specifying `-Dgroups` should work, according to the documentation, but it does not, not sure why you need to specify `-Dtest` here

[2019-09-28 12:35] marcphilipp commented on #2016
Alright, I've put it up-for-grabs in case someone else wants to pick it up in the meantime.

[2019-09-28 19:53] #2020 closed

[2019-09-28 19:54] marcphilipp commented on #2020
I added a `KEYS` file and linked to it from junit.org/junit5.

[2019-09-28 20:53] aepfli commented on #2016
i actually would love to try to implement this :D - i will try my best next week, and i will let you know if i think i am able to do this. - but looks pretty straight forward

[2019-09-28 20:55] sormuras commented on #2016
Give it a shot, @aepfli 👍

[2019-09-29 14:13] nielsbasjes commented on #1944
@marcphilipp Thanks. I've check it and when I make my maven look like this

[code]

it correctly fails with

[code]

Thanks for fixing this.

[2019-09-29 17:50] marcphilipp commented on #1944
@nielsbasjes Thanks for double-checking! 👍

[2019-09-29 19:18] #797 closed

[2019-09-30 09:32] Rajendra09 commented on #1476
can i pick this issue, I am new to open source community and willing to contribute. Can you please assign this issue to me.

[2019-09-30 10:22] marcphilipp commented on #1476
@Rajendra09 Do you have a personal interest in this issue? If not, there might be other issues that would be more impactful (this issue is in _General Backlog_ and labeled _waiting-for-interest_).

[2019-09-30 11:12] Rajendra09 commented on #1476
No personal interest, Picked up randomly, Please advise me for particular issue or label to pick for more impactful issues,

[2019-09-30 11:45] sbrannen commented on #1476
@Rajendra09, issues labeled with [up-for-grabs](https://github.com/junit-team/junit5/labels/up-for-grabs) are good candidates for community contributions.

[2019-09-30 16:18] aepfli commented on #2016
my Assumption:
- the ordinality of JRE is reliable for version comparison
- JRE.JAVA_8 will always be the lowest version, so i can use it as default for min value
- JRE.OTHER will always be the highest version, so i can use it as default for max value

Question:
- is there also a usecase for `@DisabledOnJreRange`? should i take that into account?

[2019-09-30 18:10] marcphilipp commented on #2016
Sounds good and I think there's a use case for `@DisabledOnJreRange`, too! 👍

[2019-09-30 21:20] juliette-derancourt commented on #2016
Maybe they should be mutually exclusive though, to avoid weird cases?
What should happen if a test combines ´@EnabledForJreRange(min = JAVA_8, max = JAVA_11)´ and ´@DisabledForJreRange(min = JAVA_10, max = JAVA_12)´ for instance? 😮

[2019-10-01 05:17] aepfli commented on #2016
I can agree that there might be weird cases, but I think right now there is no exclusivity over `@Disabled*` and `@Enabled*` of the same type. So I can do this theoretically already with just `@EnabledOnJre` and `@DisabledOnJre` already. Hence that I would stick to the existing behavior of this functionality.

Furthermore I think it will be difficult to handle, what if a method has `@DisabledOnJre

[2019-10-01 06:00] sormuras commented on #2016
Copied from https://junit.org/junit5/docs/current/user-guide/#writing-tests-conditional-execution

That and the lazy evaluation -- the first condition that yields "disabled" wins -- ensures a deterministic behavior. Users may always implement a custom `ExecutionCondition` to apply a logic of their choice.

[2019-10-01 06:12] marcphilipp commented on #2016
I guess it should run on Java 8 and 9... certainly a good way to confuse one's coworkers. 😉

[2019-10-01 06:58] stehrn commented on #1864
Summary of approach:

New:
TestInstancePreDestroyCallback - pass in testInstance object
TestInstancePreDestroyCallbackTests - be sure to assert if cleanup fails test should fail
Update:
ClassBasedTestDescriptor.after() - invoke TestInstancePreDestroyCallback's - derive testInstance from ExtensionContext
TestMethodTestDescriptor.execute() - invoke TestInstancePreDestroyCallback's after call to invo

[2019-10-01 07:14] marcphilipp commented on #1864
Yes, and the `ExtensionContext`.

Generally, it depends on the `TestInstance.Lifecycle` when `TestInstancePreDestroyCallback` needs to be called. You might be able to check whether the `TestInstances` in the `ExtensionContext` differ from the parent and, if so, only call it then.

[2019-10-01 07:54] Sam-Kruglov commented on #1994
Because I want to write tests under "given xyz" and under "given by" also so I have a nice decision tree

[2019-10-01 08:33] marcphilipp commented on #1994
If you have setup logic that you only need for tests 1 but not tests 2/3, you could wrap it in another nested class.

I'm closing this issue as _works-as-designed_.

[2019-10-01 08:33] #1994 closed

[2019-10-01 08:57] Sam-Kruglov commented on #1994
Sorry, I typed `by` instead of `xy` in my last comment.

Could you give an example, it is not very clear to me.

How do I make that tree work, for example?
[code]

[2019-10-01 08:59] sormuras commented on #1994
Like this?

https://junit.org/junit5/docs/current/user-guide/#writing-tests-nested

[2019-10-01 09:22] Sam-Kruglov commented on #1994
If you look at my original example:

[code]

We get this output
[code]

So, what @sormuras suggested does not help with this problem.

[2019-10-01 09:51] marcphilipp commented on #1994
@Sam-Kruglov If you use `@BeforeEach` instead of `@BeforeAll` it would work. If you have to keep `@BeforeAll`, you'd need a common super class of both `@Nested` classes and move the `@BeforeAll` there.

[2019-10-01 10:44] Sam-Kruglov commented on #1994
It seems it would quickly become pretty messy. I would really like to have a better way of writing stateful (test instance per class) tree-like (deeply @Nested) integration tests. Currently, I can only do that nicely with unit tests because they are stateless (test instance per method)

[2019-10-01 10:56] marcphilipp commented on #1994
You can use `@BeforeEach` with "stateful" tests, can't you?

[2019-10-01 11:51] Sam-Kruglov commented on #1994
If I set up the test state before each test then it's not stateful anymore. What do you mean?

[2019-10-01 12:09] dartyuhov opened #2037 "Support timeouts for extensions"
Hi, I tried to set up timeouts for extension methods (`BeforeAllCallback` or `AfterEachCallback`) by using the `@Timeout` annotation with it, but it didn't work.

Also I've tried to set global timeouts such us `junit.jupiter.execution.timeout.aftereach.method.default`, and this also hasn't worked.

It would be great to see this feature in JUnit 5 next releases.

[2019-10-01 15:11] RoryBlevins commented on #1514
@sbrannen Is this issue still being worked on? Looks like it's gone silent and I'd like to have a go at it as it's  `up-for-grabs`

[2019-10-01 16:00] sbrannen commented on #1514
@antimpatel, sorry for the belated reply. This somehow slipped under the radar.

I tend to agree with @marcphilipp. At this point in time, we are not aware of considerable interest in having this information reported in builds or IDEs.

Rather, we believe that logging filtered out containers and tests would be sufficient for an initial attempt at providing such diagnostic information to users.

If

[2019-10-01 16:01] sbrannen commented on #1514
@RoryBlevins, I'm not sure if @antimpatel is still working on this or interested in continuing to work on this.

So let's see if we receive a response from @antimpatel.

[2019-10-01 16:10] RoryBlevins commented on #1514
👍 Feel free to point me in the direction of something else sensible for someone new to the project to pick up

[2019-10-01 16:12] sbrannen commented on #1514
@RoryBlevins, see if there's anything in the following list that piques your interest: https://github.com/junit-team/junit5/labels/up-for-grabs

If not, you can always look at open issues in one of the backlogs and ask on the issue if contributions would be welcome.

[2019-10-01 16:26] marcphilipp commented on #1994
Why don't you extend `ClearsDbBeforeAllIT` only on the outermost test class?

[2019-10-01 16:40] marcphilipp commented on #2037
@dartyuhov Can you use `Assertions.assertTimeoutPreemptively(Duration, ThrowingSupplier<T>)` in your extension instead?

[2019-10-01 17:48] ptlanu22 commented on #1514
@sbrannen, @marcphilipp, Yes would like to continue here.

@marcphilipp As mentioned by you I need to collect data in Default Launcher, After browsing code here is what I have figured out, let me know if a better way exists,

Since Root object is responsible for removing the methods with tags(considering only methods should be printed which are excluded not the tags),
**Approach:** I can pass reas

[2019-10-02 05:46] marcphilipp commented on #1514
Can we group the excluded `TestDescriptors` by their exclusion reason and take into account all `PostDiscoveryFilters`?

[2019-10-02 06:06] ptlanu22 commented on #1514
@marcphilipp will do it and raise the PR for the same.

[2019-10-02 08:55] dartyuhov commented on #2037
@marcphilipp thank you for quick reply!
Yes, as temporal solution I decided to use 'assertTimeoutPreemptively' method. But it still seems strange for me that extensions don't obey to whole project timeout rules. From my point of view extensions methods are same part of test lifecycle as common @beforeeach or @afterall(and so on) methods. Please correct me if I'm thinking wrong.

[2019-10-02 10:25] marcphilipp commented on #2037
You're not wrong. We initially decided against supporting `@Timeout` on extensions since we weren't sure how useful that will be. So you'd want to add `@Timeout` to your method definitions in your `Extension` implementation, right?

[2019-10-02 12:31] dartyuhov commented on #2037
yes, it would be useful from my point of view

[2019-10-02 12:54] Sam-Kruglov commented on #1994
Because I want to recreate the state completely before entering the inner class:
[code]
So, before going into any class I want to perform the setup all the way to from the top level class like that:
[code]

[2019-10-02 14:05] RoryBlevins commented on #1596
@sormuras @olcbean  is this still `up-for-grabs`? It seems to have gone pretty quiet - but I'm not sure from context if the discussion has moved elsewhere?

[2019-10-02 15:34] sbrannen commented on #1596
Yes, it's still up for grabs, but it's all labeled for "team discussion".

The reason for the latter is that the team never came to a consensus on exactly how the feature should be implemented in terms of capitalization, combining display names, etc.

@olcbean raised some of those issues in https://github.com/junit-team/junit5/issues/1596#issuecomment-424836041.

So before anyone actually implemen

[2019-10-02 20:43] jkosh44 commented on #1967
Is this issue up for grabs? If so I'd like to give it a try.

[2019-10-03 02:58] t1 commented on #1919
Any update to this?

[2019-10-03 09:22] marcphilipp commented on #1967
@jkosh44 Before starting work, we need to decide if/how we want to support it.

[2019-10-03 09:24] sormuras commented on #1967
No. Its state is: "waiting for interest" -- which seem to raise lately.

fwiw, I'm still in favor to add a "generic resource manager extension" to Jupiter, like outlined here: https://github.com/sormuras/brahms#resource-manager-extension

[2019-10-03 11:49] marcphilipp commented on #1919
I just took a look at your PR for this (#1922). It does "class-file order". Have you considered reading the line numbers (if present) from the bytecode as suggested by @sbrannen above?

[2019-10-03 13:12] epam-valerii commented on #1724
Hello
I have faced with this issue triying to run my tests from spring boot jar.
I use gradle bootJar task and place my tests to BOOT-INF/classes as spring using this
[code]
I can see that the problem is in CloseablePath.create(baseUri) method where you split the path by "!" symbol. It returns "BOOT-INF/classes" instead of "BOOT-INF/classes/com.target.package.name"

The reason is that full path in

[2019-10-03 14:19] bmalinowsky opened #2038 "Surprisingly limited parallel test execution with ResourceLock and ResourceAccessMode.READ"
I observed the following behavior as detailed below, where test methods using resource lock with READ mode appear to be unnecessarily sequenced.

Even though ResourceLock documents that `[...] the annotated element _may_ be executed concurrently with other test classes or methods [...]` (emphasis mine), the observed test executions are somewhat a surprise to me.

## Steps to reproduce

Consider th

[2019-10-04 13:44] sbrannen opened #2039 "Detect cycles in inner class hierarchies"
## Overview

Since Java allows nested classes to extend other classes, it is possible to introduce a cycle when using `@Nested` test classes.

For example, the following compiles in Java. So it's syntactically correct, even though it's semantically invalid. If you attempt to execute `OuterTests` or `NestedTests`, the discovery phase in JUnit Jupiter never completes (or at least it does not result

[2019-10-04 13:45] sbrannen commented on #2039
Tentatively slated for 6.5 M1 for _team discussion_ to determine what the outcome of cycle detection should be.

[2019-10-04 18:53] vlsi opened #2040 "Include parameter names in default name of @ParameterizedTest"
Suppose I have a test:

[code]

The result looks unreadable:

[code]

It does not really help if the test fails.
That means every time I use `@ParameterizedTest` I have to declare test name explicitly.
That is sad.

What if JUnit generated something like

[code]
?

It would make lots of tests and test failures easier to understand.
I'm OK if it is `{arguments_with_names}`. Then I could create `@Pa

[2019-10-04 19:06] sbrannen commented on #2040
Tentatively slated for 5.6 M1 solely for the purpose of _team discussion_ and triaging.

[2019-10-04 19:08] sbrannen commented on #2040
FYI: this would need to be an opt-in feature. In addition, parameter names are not always present in the compiled byte code. To include them in the byte code, the test code must be compiled with the `-parameters` compiler flag.

[2019-10-04 19:26] vlsi commented on #2040
You assume I use Java, however, Kotlin does retain parameter names always 😉

[2019-10-04 21:21] vlsi opened #2041 "Gradle test runner does not display names for parameterized tests"
The full name of `@ParameterizedTest` is never printed in Gradle output.

Reproducer: https://github.com/junit-team/junit5-samples/pull/116

That really hurts.
I can add relevant information to the `Assertions.assert...(..., message=...)`, however, it won't be printed in case the test fails with NPE in the middle :-/

[2019-10-05 08:59] marcphilipp commented on #2041
Duplicate of https://github.com/gradle/gradle/issues/5975

[2019-10-05 08:59] #2041 closed

[2019-10-05 09:05] marcphilipp commented on #2041
I know this isn't great and by all means should be improved in Gradle. For now, I can only say please vote for gradle/gradle#5975 to be resolved. FWIW the display names are shown in the HTML report.

<img width="694" alt="Screenshot 2019-10-05 at 11 02 52" src="https://user-images.githubusercontent.com/214207/66252795-0186d100-e760-11e9-99b2-fba77d85af8b.png">

[2019-10-05 09:09] vlsi commented on #2041
I see, thank you.

However the key problem for me is analyzing CI failures, and html is not always available there

[2019-10-05 09:13] marcphilipp commented on #2040
@sbrannen Could we check whether parameter names are present and include them only if so?

[2019-10-05 09:29] marcphilipp commented on #2041
As a temporary workaround you could do this:

[code]

[2019-10-05 09:47] #2030 closed

[2019-10-05 11:19] vlsi commented on #2041
Just in case, it is a bit harder in Kotlin DSL: https://github.com/gradle/gradle/issues/5431

[2019-10-05 12:41] marcphilipp commented on #2041
Yes, for Kotlin you'll have to do it like this or use a `TestListener`:

[code]

[2019-10-05 12:52] vlsi commented on #2041
What should be the imports then?

I guess jupiter's TestDescriptor is not on the classpath(need to
doublecheck), and Gradle's one does not have getDisplayName()

Vladimir

[2019-10-05 15:35] #1965 closed

[2019-10-05 16:01] sbrannen commented on #2040
Yes. See `java.lang.reflect.Parameter.isNamePresent()`.

[2019-10-06 21:13] joergsesterhenn commented on #676
I'd like to do this.

You are using a kotlin/gradle script through github actions to generate and publish your docs? I'm not an expert on any of that, but I'd like to try it, if that's okay with you.

I suggest to put the API under the current URL https://junit.org/junit5/docs/current/api/ and the complete docs under the currently unused URL https://junit.org/junit5/docs/current/ .
What do you thi

[2019-10-07 08:35] vlsi opened #2046 "TempDir fails when it faces a read-only file in Windows"
## Steps to reproduce

[code]

The exception is similar to the following:

[code]

## Context

 - Used versions (Jupiter/Vintage/Platform): 5.5.1
 - Build Tool/IDE: Gradle

This might be relevant: https://stackoverflow.com/a/32955993/1261287

[2019-10-07 08:55] marcphilipp commented on #2046
Good catch! Would you be interested in submitting a PR?

[2019-10-07 09:01] sormuras commented on #2046
Calling `File#setWritable(true)` on all files before deleting them?

What if [ACL's](https://github.com/sormuras/bach/blob/d891bd5c32be282ff5f259267041f366bdd40c72/deprecated/src-20190228/test/Util.java#L15-L55) are used to prevent access to files within the temporary directory?

A solution could be to just log a warning when a temporary could not be deleted, instead of the entire stack trace.

[2019-10-07 09:10] vlsi commented on #2046
My immediate thought was `File#setWritable`, however `Path -> File` conversion might take time.

So it should probably be guarded with `Files#isWritable(Path)`.
Then I'm not sure what to do. Either try the new shiny `java.nio.file.Files#getFileAttributeView` (which should probably support ACL) or resort to an old `File.setWritable`.

Frankly speaking, I've no much experience in that area and I jus

[2019-10-07 09:11] vlsi commented on #2046
Did you mean to call `setWritable` in case the delete fails?

[2019-10-07 09:30] marcphilipp commented on #2046
I think it should attempt to delete "undeletable" files if the initial delete fails. If we need to convert `Path` to `File` for that I think that would be ok.

[2019-10-07 09:48] jbduncan commented on #2046
The implementor would need to remember to catch the potential exception thrown by `Path::toFile` though, in case the user of the extension decided to use e.g. JimFS rather than the on-disk filesystem. :)

[2019-10-07 09:56] vlsi commented on #2046
I agree. The test might fail in the middle (e.g. after creating a read-only file), so it would be nice if the framework tries to use set writable.

Performance-wise it would be ok. However, I'm not sure File could handle ACLs. On the other hand, dealing with ACLs should probably be postponed until someone manages to craft that test case.

[2019-10-07 11:38] vlsi opened #2048 "Please consider moving gh-pages to another repository and/or reduce the size of the branch"
The clone of https://github.com/junit-team/junit5 takes a lot. It downloads ~500MiB+, and the resulting repository is full of various pdf files.

Here are the top consumers:

[code]

and so on.

It does impact both regular development experience (as everybody is used to just `git clone $url`), and it does impact GitHub Actions CI: it takes 1minute for the "checkout action".

Note: GitHub Action co

[2019-10-07 13:21] vlsi commented on #2048
Adding fetch-depth: 50 might help (to a degree), however it looks like the current GitHub Actions always fetches all the branches in the repository: https://github.com/actions/checkout/issues/22 :(

AFAIK https://github.com/meetup/express-checkout does not help (it does not understand pull requests)

[2019-10-07 16:05] stehrn commented on #1864
A few other commitments have pushed me back on this, if ok then should be in shape to provide PR for this weekend?

[2019-10-07 22:14] JockX opened #2049 "Doubly nested test class is not usable with org.junit.platform.testkit.engine.EventConditions#nestedContainer"
Issue internal to Junit5 testkit.
Condition created with `org.junit.platform.testkit.engine.EventConditions#nestedContainer` does not match events created for doubly nested classes, making it impossible to use `org.junit.platform.testkit.engine.Events#assertEventsMatchExactly` in testing multiple levels of `@Nested` classes.

## Steps to reproduce
Please see the merge request with reproducer.

[2019-10-07 22:17] hossman opened #2050 "AssertThrows should probably propogate instances of AssertionError or AssumptionViolatedException unless they are also instances of user expected Type"
**Deep Background:** Over in the lucene-solr project we still use junit4, and have our own version of `expectThrows` that was originally inspired by the corresponding method in some junit4 betas (which -- IIUC -- was renamed `assertThrows` before being ultimately being refactored out of junit4, in favor of `ExpectedException`, but does now exist in junit5 as part of `AssertThrows` ...) and has sin

[2019-10-07 23:59] lbernwald opened #2052 "Improve error reporting for exceptions thrown by SelectorResolvers in EngineDiscoveryRequestResolution"
Exceptions thrown by custom `SelectorResolvers` for test discovery are not propagated back to the `TestEngine` when using the `EngineDiscoveryRequestResolver`, therefore also not the `Launcher` and consequently also not the user. Currently if discovery in a `SelectorResolver` fails, JUnit only reports that no tests were found.

I am building a custom `TestEngine`, because I have some domain-specif

[2019-10-08 01:50] bobtiernay-okta commented on #1416
Unrelated, but curious if others in this issue believe this holds true for general reactor builds. That is, you should never declare a `<scope/>` in _any_ `<dependencyManagement/>` element.

[2019-10-08 11:50] Sam-Kruglov commented on #1994
@marcphilipp let me know if you have any more questions

[2019-10-08 16:17] bitcoder commented on #1900
I do think that this annotation is useful, especially whenever using requirement/test management tools, so you can easily trace the automated tests to the requirements they cover.
Whatever annotation is used for this purpose, it is important that it is persisted in the generated JUnit XML report, whose format is still to be decided.
If I may, I would also suggest another annotation (e.g. "Automate

[2019-10-08 19:07] marcphilipp commented on #1900
The fact that we're coming up with lots of different names tells me that, we'll ultimately need a mechanism to use your own annotations for this. 🤔

[2019-10-08 19:11] marcphilipp commented on #1994
That's exactly how it would work if you used `@BeforeEach`. If you need it to work with `@BeforeAll` you could call `nested1_setup` from `nested12_setup` and so forth.

[2019-10-08 19:15] marcphilipp commented on #2048
I agree that we should improve the current situation. 🙂

We'll have to be careful not to break existing URLs, i.e. junit.org/junit5/... should continue to work.

Does anyone know what would happen if we moved the `gh_pages` branch to a new `junit5` subdir in https://github.com/junit-team/junit-team.github.io?

[2019-10-08 19:27] vlsi commented on #2048
Just wondering: do you need all the Git history for gh-pages?
What if gh-pages is truncated (e.g. to keep 10 recent commits only)

[2019-10-08 19:57] marcphilipp commented on #2048
FWIW we already set `noTimestamp`:

https://github.com/junit-team/junit5/blob/6f979d6c6c2bc8d61e35debd11499de8920e7b1e/documentation/documentation.gradle.kts#L234

[2019-10-08 20:14] vlsi opened #2053 "Consider adding locale="en" to JavaDoc options"
## Steps to reproduce

Set a non-English locale. Build JavaDoc.
The HTML files would start with something like `<html lang="ru">`

`org.gradle.external.javadoc.MinimalJavadocOptions#setLocale("en")` helps.

[2019-10-08 20:16] vlsi commented on #2048
It could make sense. For instance, if the latest commit is automatic, then amend it + force-push-with-lease.

[2019-10-08 21:28] checketts commented on #2041
@vlsi The only import that was required for me was `import org.gradle.api.internal.tasks.testing.TestDescriptorInternal`

[2019-10-09 05:41] Sam-Kruglov commented on #1994
If I want to insert and element in one test and then search it in another test, I won't find it if I clear the database before each test, it doesn't make sense.
I guess manually call outer class' setup in your setup is an option, but quite error-prone, do you think it would be possible to put the automated approach on the backlog?

[2019-10-09 06:38] sormuras opened #2054 "Add Android integration test project"
## Description

Directory https://github.com/junit-team/junit5/tree/master/platform-tooling-support-tests/projects already contains various `gradle-xxx` projects, but none using an Android environment.

## Deliverables

- [ ] Creating integration test project using https://github.com/mannodermaus/android-junit5 -- @mannodermaus interested in providing a PR?
- [ ] Verify that logic using JMX presum

[2019-10-09 08:55] bitcoder commented on #1900
@marcphilipp , well perhaps. I do see however the need behind the @Requirement annotation as the most important though, so if it easy to support at a first stage and make something more generic afterward and "pluggable", better.

[2019-10-09 09:16] vlsi commented on #2041
@checketts , it is often the case that `test.className` is full class name (package + class), while  `test.classDisplayName` is just simple class name.

So I used just full class name when `test.classDisplayName` adds nothing:

[code]

[2019-10-09 09:24] danishlyy opened #2055 "how to use assert to confirm two jsonString equals"
junit 4 :
code:
`   @Test
    public void testToJSONString(){
        String text = "{\n" +
                "    \"userName\":\"张三\",\n" +
                "    \"gender\":1,\n" +
                "    \"email\":\"920331569@qq.com\",\n" +
                "    \"age\":20,\n" +
                "}";
        PersonDTO personDTO = new PersonDTO();
        personDTO.setUserName("张三");
        personDTO.se

[2019-10-09 09:26] #2055 closed

[2019-10-09 10:33] christianfranco commented on #1900
@marcphilipp  I agree with @bitcoder.

[2019-10-09 18:20] smoyer64 commented on #2055
The Go Testify library does this by unmarshaling to Map<String, byte[]> (effectively) and comparing the maps ... a similar strategy should work in Java.

[2019-10-10 08:07] marcphilipp commented on #1994
I think the current behavior is correct so I don't really see that we should change it when `@TestInstance(PER_CLASS)` is used.

@junit-team/junit-lambda WDYT?

[2019-10-10 18:53] #2053 closed

[2019-10-10 18:53] marcphilipp commented on #2053
Good catch! Thanks, @vlsi!

[2019-10-10 19:11] marcphilipp commented on #1864
Sure, go ahead!

[2019-10-10 19:13] marcphilipp commented on #676
I don't think we should use `https://junit.org/junit5/docs/current/` for that because the `user-guide` and the `release-notes` are also subdirectories of that folder. How about `https://junit.org/junit5/docs/current/jupiter-api`?

[2019-10-10 19:16] marcphilipp commented on #676
I'm not sure. I think it would be ok to keep them completely separate.

Yes, it's all in the `documentation` subproject. Basically, you'll have to define a new `Javadoc` task and include it in the `prepareDocsForUploadToGhPages` task.

[2019-10-10 21:34] joergsesterhenn commented on #676
Just to make sure I understood that correctly:
I'll leave the current api where it is and add the new jupiter public only api under:
`https://junit.org/junit5/docs/current/jupiter-api`

[2019-10-11 04:37] sormuras commented on #1959
[ ] Change is documented in the User Guide and Release Notes

[2019-10-11 05:02] #1959 closed

[2019-10-11 07:04] #2016 closed

[2019-10-11 11:06] kevin0x90 commented on #1970
Hi,

i would like to work on this issue.

[2019-10-11 11:37] marcphilipp commented on #1970
@kevin0x90 The implementation does not seem straightforward. I'd propose you start spiking potential solution and report back so we can discuss here, ok?

[2019-10-11 13:11] kevin0x90 commented on #1970
@marcphilipp sure no problem i will have a look at the code later today

[2019-10-11 18:14] marcphilipp commented on #2050
Tentatively slated for 5.6 M2 for _team discussion_.

[2019-10-11 18:21] marcphilipp commented on #2038
The (pessimistic) assumption behind forcing children of containers with resource locks to use execution mode `SAME_THREAD` is that the resource might not be safe to access in e.g. `@BeforeAll` methods and in different threads from `@Test` methods. Thus it's not the same as having `@ResourceLock` on every `@Test` method. IIRC we had a similar issue for `@Execution` only applying to methods while be

[2019-10-11 18:21] marcphilipp commented on #2038
Tentatively slated for 5.6 M2 for _team discussion_.

[2019-10-11 18:41] #1913 closed

[2019-10-11 22:25] joergsesterhenn commented on #1583
Creating an uber jar for sources is discussed here: https://github.com/johnrengelman/shadow/issues/41

They also mention a workaround, that could be implemented here.

@sormuras: As for integrity... Would there be value in having all sources in the jar (e.g. for debugging), even if the manifest, license files, etc. were missing/invalid?
Another idea would be to provide just the aggregated javadoc

[2019-10-12 10:13] sormuras opened #2057 "Provide EditorConfig"
## What is EditorConfig?
_EditorConfig helps maintain consistent coding styles for multiple developers working on the same project across various editors and IDEs. The EditorConfig project consists of a file format for defining coding styles and a collection of text editor plugins that enable editors to read the file format and adhere to defined styles. EditorConfig files are easily readable and t

[2019-10-12 13:51] sormuras commented on #1583
Missing out some assets would be okay, including invalid ones not.

And yes, I think having Java sources included in the standalone JAR has its merits. Wonder, how much the size of the JAR file increases and whether it makes sense to provide a dedicated `"-standalone-with-sources.jar"`.

[2019-10-12 19:51] marcphilipp commented on #2052
I ran into a similar problem yesterday when using the `Launcher` and trying to debug why there weren't any tests. Thus, I've spiked a potential solution in #2060.

@lbernwald I'd appreciate your feedback on the PR!

[2019-10-13 14:09] lbernwald commented on #2052
The proposed solution definitely works. I've tried it out with my engine and it correctly propagates the error caused by the discovery back to the user by logging it. It thus solves the issue, I had.

I have provided further feedback on the PR.

[2019-10-13 18:40] #2046 closed

[2019-10-14 10:41] adityas71094 opened #2062 "@BeforeParameter/@AfterParameter to do prameter level initialization"
We are in a process of migrating our JUnit4 testcases to JUnit5.
In JUnit4 all the tests in a class associated with one parameter in parameterized tests ran in one class. So It was possible to to use the constructor to do some initialization at each parameter level. But in JUnit5 each test case in a test class seems to be run on its own instance of the class. So we are no longer able to use the co

[2019-10-14 11:11] marcphilipp commented on #2062
Thanks for reporting this issue! We plan to add support for parameterization on the class level in #878. Please add your vote there.

[2019-10-14 11:11] #2062 closed

[2019-10-14 18:36] krizleebear commented on #1583
Javadoc alone wouldn't be enough from my POV. We're very keen in taking a look into the inner workings.

[2019-10-14 19:37] sormuras opened #2063 "Revise module declarations"
Revise module declarations for wrong, unnecessary and superfluous directives and modifiers.

Related issue: #1939

## Deliverables
- [x] Check if `transitive` is really needed for each `requires` directive that declares it
- [x] All internal packages are hidden, i.e. not exported
- [x] All modules are `required` explicitly when an exported package is used directly

[2019-10-15 06:30] marcphilipp commented on #1583
I think we should publish regular sources and javadoc jars like we do for all other subprojects.

[2019-10-15 16:20] IgorGanapolsky opened #2064 "A lot of warnings in IntelliJ IDE"
## Steps to reproduce
Clone repo and open it in IntelliJ

See screenshot.  There are plenty of warnings and build errors in the Gradle script:
<img width="1375" alt="Screen Shot 2019-10-15 at 12 14 50 PM" src="https://user-images.githubusercontent.com/201209/66849848-a4e89a80-ef45-11e9-8b0c-a989cda486bd.png">

## Context

 - Used versions (Jupiter/Vintage/Platform): latest MASTER BRANCH
 - Build T

[2019-10-15 16:58] juliette-derancourt commented on #2064
Maybe try to reimport the gradle project or enable auto-import?
I am also using IntelliJ and don't have any warnings...

[2019-10-15 17:02] IgorGanapolsky commented on #2064
@juliette-derancourt Now there is an error:

[2019-10-15 17:03] juliette-derancourt commented on #2064
That's because you need to install at least the JDK 12 to be able to build the project 😉

[2019-10-15 17:06] IgorGanapolsky commented on #2064
When I run `java --version` it shows

However, IntelliJ doesn't like it and advises to use bundled Java....

[2019-10-15 17:23] juliette-derancourt commented on #2064
You can choose which JDK will be used in the Gradle panel of the settings (`Build, Execution, Deployment > Build Tools > Gradle`)

[2019-10-15 18:58] IgorGanapolsky commented on #2064
Please see screenshot.  No `JDK
<img width="1015" alt="Screen Shot 2019-10-15 at 2 58 15 PM" src="https://user-images.githubusercontent.com/201209/66861034-3c58e800-ef5c-11e9-9177-3d25237ea589.png">
` option there:

[2019-10-15 19:07] sormuras commented on #2064
Trolling? You're showing the `Preferences for New Projects` dialog.

Try `File` -> `Settings...`

![image](https://user-images.githubusercontent.com/2319838/66861741-d5552680-ef8f-11e9-9278-43c9a5a12864.png)

[2019-10-15 19:09] sormuras commented on #2064
Or hit the 🔧 in the 🐘 Gradle Tool Window

[2019-10-15 19:19] IgorGanapolsky commented on #2064
None of this fixes the original issue in the OP....

[2019-10-15 19:26] sormuras commented on #2064
IntelliJ IDEA 2019.3 EAP (Community Edition)
Build #IC-193.4386.10, built on October 9, 2019
Runtime version: 11.0.4+10-b517.1 amd64

.
.
.

`OutOfIdeasError` 😞

Perhaps there's help on StackOverflow or at [JetBrains](https://youtrack.jetbrains.com)?

[2019-10-15 19:28] marcphilipp commented on #2064
After setting the JDK you need to reimport the Gradle project.

[2019-10-15 19:38] IgorGanapolsky commented on #2064
@marcphilipp Still the same problem.  I've opened the issue with JetBrains (https://youtrack.jetbrains.com/issue/IDEA-224895)

[2019-10-15 19:44] marcphilipp commented on #2064
Thanks for letting us know! I'm closing this issue for now. Please let us know if the problem persists.

[2019-10-15 19:44] #2064 closed

[2019-10-15 19:55] sbrannen commented on #1924
_in progress_

[2019-10-16 08:10] Brunomachadob opened #2066 "Make (Dis|En)ableIfEnvironmentVariableCondition public"
Is there a reason why `DisabledIfEnvironmentVariableCondition.java` and `EnabledIfEnvironmentVariableCondition.java` are not public?

I would like to extend these classes and override `getEnvironmentVariable` to be able to get the variable from [java-dotenv](https://github.com/cdimascio/java-dotenv) instead of `System.getenv`

I could open a PF for that is that's OK.

## Deliverables

- [ ] `Disab

[2019-10-16 08:17] RuslanSafa opened #2067 "Test Data Container for DynamicTest"
It would be convenient if there was a class for test data to use it as a container for dynamic tests. In the dynamic test, there are incoming parameters and the expected result, and for convenience, you could still include the name of the test case.
For example
[code]

## Deliverables

[2019-10-16 08:43] sormuras commented on #2067
What would a usage example look like?

[2019-10-16 08:51] sormuras commented on #2066
They are an implementation detail of their corresponding annotations. I don't see a way how you could re-register your implementation in such a way that the default `@DisabledIfEnvironmentVariable` annotation delegates to it.

I guess, you have to implementation your own annotation and extension.

[2019-10-16 12:41] Brunomachadob commented on #2066
I currently created both the annotation and the condition class.

Examples in Kotlin:

[code]

[code]

But the thing is that I could create my Condition class extending the JUnit one and just override `getEnvironmentVariable `.

Now, `DisabledIfDotEnvCondition` is a complete duplication of the JUnit condition class changing only the `getEnvironmentVariable`

[2019-10-16 18:46] marcphilipp commented on #2066
Tentatively slated for 5.6 M2 for _team discussion_.

[2019-10-16 18:59] MykolaGolubyev commented on #1769
Hello @marcphilipp, was there any decision made?
Anything I can help with?

[2019-10-16 19:33] marcphilipp commented on #1769
@MykolaGolubyev The new `InvocationInterceptor` extension point should allow you to do what you need:

[code]

[2019-10-17 05:05] RuslanSafa commented on #2067
`java
@TestFactory
Stream<DynamicTest> test_dynamic_is_validated() {
    return Stream.of(TestData.of("is_validated_true", createRowValidated(), Boolean.TRUE),
                     TestData.of("is_validated_false", createRowReject(), Boolean.FALSE))
            .map(testData -> DynamicTest.dynamicTest(testData.getNameTest(), () -> assertThat(validatorUtils.isValidated(testData.getInData())).isEqua

[2019-10-17 06:39] Anton-nsk commented on #1880
I'd like that too. I ran into a problem that is related to this and reported to [Jira] (https://issues.apache.org/jira/browse/SUREFIRE-1698). Please implement this because it would solve my problem. Also, I think I'm not the only one with this.

[2019-10-17 10:56] marcphilipp commented on #2066
It would not be sufficient to override `getEnvironmentVariable()` since you'll have to use your own annotation which the abstract base class would not know about.

**Team decision:** Since Java does not support inheritance in annotations we recommend that you implement your own extension.

[2019-10-17 10:56] #2066 closed

[2019-10-17 11:05] marcphilipp commented on #2067
**Team decision:** We feel that this use case is better addressed by parameterized tests (see the following for an example).

This looks a lot like a `@ParameterizedTest`:

[code]

[2019-10-17 11:05] #2067 closed

[2019-10-17 12:04] Brunomachadob commented on #2066
The thing is that `I will use my own annotation` and `@ExtendWith` my own `ExecutionCondition`, but it would be easier if I could extend JUnit's condition to avoid this much duplication.

This is my current setup:

[code]

[2019-10-17 19:14] MykolaGolubyev commented on #1769
@marcphilipp this is a very nice new addition to the API! Thank you for pointing it out.
Currently when I wrap regular `@Test` methods via `beforeEach(ExtensionContext extensionContext)` I am able to get the provided display name using `ExtensionContext::getDisplayName`. Is there a way to get provided display name of `@BeforeAll`?

[2019-10-17 19:35] marcphilipp commented on #1769
`@BeforeAll` methods don't have display names so I'm not following. Could you clarify what you need, maybe with an example?

[2019-10-17 19:52] MykolaGolubyev commented on #1769
I was trying to use `@DisplayName` on top of `@BeforeAll`
[code]

[2019-10-18 06:26] marcphilipp commented on #1769
That's not read by Jupiter, but you could read it from the method in the `InvocationInterceptor`:

[code]

[2019-10-18 06:31] marcphilipp commented on #2066
This block is specific to your annotation:

[code]

To make it reusable, the abstract base class would have to support different annotation types. Thus, we'd either have to add methods like `getNamed()`, `getMatches()` (and additional ones if we add more attributes in the future) or have you supply us with the annotation `Class<T>` and a `Function<T, String>` for each attribute. Neither seems wort

[2019-10-18 08:50] #1906 closed

[2019-10-18 10:10] Brunomachadob commented on #2066
No, it's not. I just converted to `Kotlin` as I said above.
Believe me, I did not change anything but the `getEnv` part, the rest is "the same", but in Kotlin.

Have a look here, you can see we are doing the same thing:

https://github.com/junit-team/junit5/blob/10d5cec27fbec2a5df7a5f19932978ce59b55933/junit-jupiter-api/src/main/java/org/junit/jupiter/api/condition/EnabledIfEnvironmentVariableCond

[2019-10-18 10:18] sbrannen commented on #2066
Hi @Brunomachadob,

You misunderstood what @marcphilipp was saying.

The attributes/methods `named()` and `matches()` are specific to your annotation.

You may think they are the same simply because they have the same names and identical return types; however, they are not the same.

The two annotations are of different types in Java.

And since Java does not support inheritance for annotations, i

[2019-10-18 11:18] Brunomachadob commented on #2066
Yes, indeed. You're right.

The implementation would require an additional change here:
[code]

To point out the `annotation that is being extended by this class`, instead of the hardcoded `EnabledIfEnvironmentVariable.class`

[2019-10-18 11:23] #1924 closed

[2019-10-19 11:48] RuslanSafa commented on #2067
th's

[2019-10-21 10:51] sbrannen opened #2073 "Hide JupiterTestEngine and VintageTestEngine from standard Java code"
## Overview

The _trick_ described in https://github.com/netty/netty/pull/9687#pullrequestreview-304243904 provides a way to hide the `JupiterTestEngine` and `VintageTestEngine` from standard Java code.

Since we only made those two classes `public` to make them usable by the `ServiceLoader` mechanism, we should consider implementing this _trick_ to better encapsulate the internals of Jupiter and

[2019-10-21 11:09] Sam-Kruglov commented on #1994
Maybe I just don't understand how I am supposed to use Junit 5 for integration tests?
My assumption that the best way, in general, is to use `@Nested` everywhere so that there will be a nice decision tree. For integration tests, I have to use `@TestInstance(PER_CLASS)` and `@TestMethodOrder`. If I don't use these 2 annotations, and instead use `@BeforeEach` in every step, then I think it is too mu

[2019-10-21 14:10] #2052 closed

[2019-10-21 17:21] sormuras commented on #2073
That's a core feature of the Java module system. Let's not re-invent it with some "reflection in a few places". Yes, the module system is optional, which leaves every user to option to use it.

Declare you test module like...
[code]
...and you'll only see ... not a single test engine class as an end-user. Nor are you presented hidden packages from `org,junit.platform.commons` modules.

[2019-10-21 18:10] kirkpabk opened #2074 "A DynamicTest should support annotations just like @Test methods"
A `DynamicTest` should support Annotations just as any other Test -- for example, `@Disabled`.

I'd expect that the Test Results should show the items Passed, Failed, and Skipped (as in Disabled).

Unless there's already a way to do this and I missed it...   Thanks all!!

[2019-10-21 18:14] marcphilipp commented on #2074
Are you referring to the `@TestFactory` method or how would you annotate a dynamic test?

[2019-10-21 18:34] marcphilipp commented on #972
The root build script still isn't perfect but has a reasonable size now. Thus, I'm closing this issue as resolved.

[2019-10-21 20:00] marcphilipp opened #2075 "Fix using enforcedPlatform("org.junit:junit-bom:5.6.0-M1")"
With 5.6.0-M1, using `enforcedPlatform("org.junit:junit-bom:5.6.0-M1")` in a project fails:

https://github.com/junit-team/junit5-samples/blob/master/junit5-multiple-engines/build.gradle.kts#L25

https://scans.gradle.com/s/ckk3szwlpvgvw

## Deliverables

- [x] Check that `enforcedPlatform` works with 5.6.0-RC1

[2019-10-22 02:03] MykolaGolubyev commented on #1769
@marcphilipp oh of course! Thanks again. Didn't realize that `@BeforeAll` and `@DisplayName` combo is not part of the framework standard combo.
Closing this ticket.

[2019-10-22 02:03] #1769 closed

[2019-10-22 08:04] nicolaiparlog commented on #1900
In junit-pioneer/junit-pioneer#135 I wrote something that may pertain to the discussion here:

[2019-10-22 09:54] aepfli opened #2076 "Improve documentation for writing tests and contional test execution"
During the implementation of #2016 we could see that crucial information regarding conditional test execution was missing within the documentation.

Although the information is present in the [Extensions](https://github.com/junit-team/junit5/blob/master/documentation/src/docs/asciidoc/user-guide/extensions.adoc#L243-L247) section of the User Guide ...

disabled as soon as one of the conditions ret

[2019-10-22 09:56] aepfli commented on #2076
there is already a link in place, which might be overseen, when just looking at the docs. i think that maybe adding just the first sentence to the "writing-docs" documentation, might be useful for developers. As a link might be easily over looked.

[2019-10-22 17:11] kirkpabk opened #2077 "Reports Generate <method_name>[1][34][21] Instead of DisplayName"
So when using dynamic tests with nested containers, the TestSuite, Test Case DisplayName output of junit xml reporting is formatted as:

<method_name>[n][n][n]

e.g., testRunner()[1][4][21]…

So when the reports are generated, there's no correlation with the Test Suite or Test Case Display Name.   This makes any of the output that worked with previous version of JUnit useless for us.

[2019-10-22 17:34] marcphilipp commented on #2077
@kirkpabk Could you please share more details on your setup?

[2019-10-22 18:41] marcphilipp commented on #2076
I agree that adding the first sentence to the end of the first paragraph makes sense. 👍

[2019-10-22 19:31] aepfli commented on #2076
Perfect than I will open the pr tomorrow ;)

[2019-10-23 07:02] #2076 closed

[2019-10-23 07:13] sormuras commented on #2076
Thanks, @aepfli!

[2019-10-23 09:40] kirkpabk commented on #2074
Down to the basics, annotations are modifiers to a class, method or fields, right...I've seen implementations in other languages where annotations are exposed as properties or as injectable objects that then get processed the same as any other annotation.  In my view, a Dynamic Test via @TestFactory should not be logically different than any other method decorated with a @Test.  The only differenc

[2019-10-23 09:50] christophsturm commented on #2041
if the workaround can do it that shows that the data is actually there. why can't the gradle test plugin do the same?

[2019-10-23 10:08] sormuras commented on #2074
`@Test` ≠ `@TestFactory` element, a dynamic test is **not** a test method variant - it's more like a testlet. Perhaps we should express this intention and rename the annotation to `@TestletProducer`...

It's _just_ an `assertAll()` on steroids, where all assertions are treated as assertions with names. That's it. E.g., I use this tool when a `@ParameterizedTest` is not applicable or would be an ov

[2019-10-23 10:34] vlsi commented on #2041
The fix has already been merged: https://github.com/gradle/gradle/pull/11026

[2019-10-23 12:10] kirkpabk commented on #2077
A Java application, the dynamic portion is basically this:

[code]

So the testCaseTitle, testPlanTitle and testName values never show up in the JUNIT XML report or the description of the test.   Only the dynamic name such as runTestCase()[3][37][3].  But even if that can't be changed, the resulting XML does not contain the testCaseTitle, testPlanTitle or testName variable values...However, when r

[2019-10-23 12:40] sormuras commented on #2077
Is `"TEST - ACTION: 'gotourl'  SYMBOL: ''  VALUE: 'https://somecompany.com/someapp/home.jsf'"` the `String` supplied to `dynamicTest(testName, exec)` as `testName`?

[2019-10-23 13:00] sbrannen commented on #2077
That's to be expected.

This is the "technical name" of the element.

Since the "legacy JUnit 4 XML reporting format" is based solely on technical names without support for custom display names (introduced in the JUnit Platform in JUnit 5), the only way for us to output the display name is via the CDATA section as you have noted.

The reason you can't find a correlation between the dynamic test in

[2019-10-23 13:05] Nilzor commented on #201
Sorry for derailing but it would be interesting to read about why - do you have some source? If there are good reasons why I as an Android developer should stay away from Junit5, I'd like to know

[2019-10-23 13:22] kirkpabk commented on #2077
@sormura, yes exactly.

[2019-10-23 13:25] kirkpabk commented on #2077
@sbrannen, <grin> was suspecting this...  well, hopefully it will all catch up soon.  There's a huge need for adopters.   Great quick response, though Sam!

[2019-10-23 13:27] sormuras commented on #2077
Then you're in control of the "char data". Just enhance it to your liking/needs. Granted, composing the display name of all parent containers might lead to loooong names when viewed in an IDE, but it should "fix" your correlation issue within the legacy XML file.

Winter 2019 is coming. It might bring https://github.com/ota4j-team/opentest4j/issues/9 to life.

[2019-10-23 16:10] marwatk commented on #1558
I have a need for this with some Selenium tests that are the result of a `TestFactory` and I've been playing around with the new `InvocationInterceptor` to try to make it work:

[code]
Which seems like a simple place to retry that doesn't report extra tests and avoids the issue of when to run them.

The problem is [`proceed` is validated](https://github.com/junit-team/junit5/blob/master/junit-jupi

[2019-10-23 16:59] tasomaniac commented on #201
Afaik, that's only some Google engineers' personal opinions. Also, the Android testing team announced that they are working on their own solutions (project nitrogen). This was 2 years ago. Nothing public has been announced yet. 😔

Keep in mind that Android is unique in that sense. First are instrumentation tests running in device and those are mostly for UI tests. Google's tools for connected devi

[2019-10-23 17:08] dpreussler commented on #201
It's not only personal opinion. The Google testing team for Android decided not to support Junit5 as it's too much work for them. They hope though that community comes in.

There is no reason to avoid using it in your Android project as Gradle supports it really well.. Just keep in mind it won't work out of the box for UI tests. Robolectric is this weird hybrid in between and the biggest problem h

[2019-10-23 17:53] marcphilipp commented on #2077
@kirkpabk Thanks for the feedback! I'm closing this as a duplicate of #373.

[2019-10-23 17:53] #2077 closed

[2019-10-23 19:18] okuhn opened #2079 "@TempDir is not evaluated when running tests in nested test classes"
`@TempDir` annotations are only evaluated when declared in the same class as the test. Using `@TempDir` annotations in enclosing classes of the test class should also work.

I have provided a pull request (#2080) of a fix.

## Steps to reproduce

[code]

## Context

 - tested with junit 5.6.0-M1

[2019-10-24 01:44] onacit opened #2081 "Add typed accessor to Arguments"
Recently I needed to fetch values from an `Arguments` object sourced from another method.

[code]

It will be much better if we have `Arguments#get(int index, Class<T> type)`.

## Deliverables

- [ ] Add typed accessor to `Arguments`.

[2019-10-24 07:35] sbrannen commented on #2081
As stated in the class-level Javadoc for `Arguments`:

**API Note:**

This interface is specifically designed as a simple holder of arguments of a parameterized test. Therefore, if you end up transforming or filtering the arguments, you should consider using one of the following in intermediate steps:

- The standard collections
- Tuples from third-party libraries, e.g., Commons Lang, or javatuple

[2019-10-24 13:08] onacit commented on #2081
The original source method sources two object references of different types.

[code]
And the second source method sources two object references of, again, different types.

[code]

[2019-10-24 14:48] marcphilipp commented on #2050
*Team decision:* Closed with the same rationale as in #1689.

[2019-10-24 14:48] #2050 closed

[2019-10-24 15:01] marcphilipp commented on #2040
**Team Decision:** Introduce new `{arguments_with_names}` pattern and make it the default. Only include parameter names if present in bytecode and parameter types are known (e.g. not for `ArgumentsAccessor` and `ArgumentsAggregator`).

[2019-10-24 15:02] marcphilipp commented on #2040
@vlsi Would you be interested in submitting a PR for this?

[2019-10-24 15:10] marcphilipp commented on #2081
There's already `ArgumentsAccessor` which provides an API like the one you're requesting. While `DefaultArgumentsAccessor` is `@API(Internal)`, you could instantiate it as an interim solution. If that's worthwhile, we could think about adding an `ArgumentsAccessor.from(Arguments)` static factory method.

[2019-10-25 10:16] performrumpf commented on #1892
Just a simple thought: with `ClassSource#getJavaClass()` you can get a `Class<?>` instance of a TestIdentifier container. That way you have access to all its annotations and "infos" you might need for a report.

On the other hand, `MethodSource` doesn't have a `MethodSource#getJavaMethod()` method to do the same thing. Honestly I can imagine why this method is absent, but is there a way to include

[2019-10-25 10:46] sbrannen commented on #2049
And further revised in fdc149c3ea6eb9e64aa41282f3c9b32d049bdcfc

[2019-10-25 11:54] onacit commented on #2081
Oh. I should've known [`ArgumentAccessor`](https://junit.org/junit5/docs/current/api/org/junit/jupiter/params/aggregator/ArgumentsAccessor.html).
Now, my codes look like this.
[code]
And I suddenly became eager to
[code]
or
[code]
Thanks.

[2019-10-25 12:03] sormuras commented on #2081
Here's another example: https://junit.org/junit5/docs/current/user-guide/#writing-tests-parameterized-tests-argument-aggregation including: _apart from direct access to a @ParameterizedTest method’s arguments using an ArgumentsAccessor, JUnit Jupiter also supports the usage of custom, reusable aggregators._

[2019-10-25 12:25] loicmathieu opened #2083 "Provide a way to skip test execution from an extension"
I'm working on [QuickPerf](https://github.com/quick-perf), a tool to create performance related test with JUnit.
For QuickPerf, we need to be able to launch a test on a different JVM instance, so we need to be able to fork a JVM from within an extension.

My current implementation is to fork the VM inside the extension in `interceptTestMethod` method: https://github.com/quick-perf/quickperf/blob/m

[2019-10-25 12:29] sbrannen commented on #1892
The reason is that `java.lang.reflect.Method` is not `Serializable`.

However, it should be possible to add methods for loading the Java Class and Java Method lazily via reflection.

Feel free to open a new issue to request that.

[2019-10-25 12:31] sbrannen commented on #2083
Tentatively slated for 5.6 M2 solely for the purpose of _team discussion_

[2019-10-25 14:36] onacit commented on #2081
It seems `ArgumentConverter` works for me.
[code]

[2019-10-25 14:36] #2081 closed

[2019-10-25 18:08] tobiasdiez commented on #878
What is the current time plan for this feature (as it seems like it didn't make it into 5.5)

[2019-10-25 18:19] marcphilipp commented on #878
@tobiasdiez We don't have a roadmap with hard deadlines. We really want to support this but there's always something more important to do. Thus, I'm afraid we cannot commit to a specific date other than soon™️.

[2019-10-25 18:20] marcphilipp commented on #1892
Related to #1900.

[2019-10-25 18:31] jaksa76 commented on #1558
I've written a library called [unreliable](https://github.com/jaksa76/unreliable) that could help here. It is not junit specific, but it does allow you to run a piece of code several times:
[code]
There are variants of this syntax that allow you to specify number of retries, exceptions to filter etc.

[2019-10-25 19:56] IgorGanapolsky opened #2084 "Build error in Intellij"
Please provide us the version of JUnit 5 you are using and, if possible, a failing unit test with your bug report. Don't forget to describe the rationale for this issue (e.g. expected vs. actual behavior).

## Steps to reproduce
Open project in IntelliJ Ultimate EAP 2019.3.
Select Build -> Rebuild project.
Observe the error

Please insert a code snippet or a link to another repo along with instruc

[2019-10-25 20:22] cedric-sun opened #2085 "Console standalone failed to detect test class whose name prefix is the name of another test class."
Please provide us the version of JUnit 5 you are using and, if possible, a failing unit test with your bug report. Don't forget to describe the rationale for this issue (e.g. expected vs. actual behavior).

## Steps to reproduce
Consider the following project

[code]

[code]

[code]

Note that `ParserTest` is a prefix of `ParserTestSample`. `mvn clean package` the project, and run the console stan

[2019-10-25 21:02] pzygielo commented on #2085
Could it be https://junit.org/junit5/docs/current/user-guide/#running-tests-console-launcher-options

                             Provide a regular expression to include only classes whose fully
                               qualified names match. To avoid loading classes unnecessarily,
                               **the default pattern only includes class names that begin with

[2019-10-25 21:16] cedric-sun commented on #2085
@pzygielo
Thank you, that makes sense a lot.

Life is sane now, geez.

[2019-10-25 21:16] #2085 closed

[2019-10-26 10:47] marcphilipp commented on #2084
@IgorGanapolsky I cannot reproduce this with the latest Community Edition EAP version. Could you please add `publishAlways()` to the `buildScan {}` block in `build.gradle.kts`, run it again and share the resulting build scan with us?

[2019-10-26 11:33] marcphilipp commented on #1558
@marwatk Implementing this using `InvocationInterceptor` is very limited since it does not provide the option to repeat the previous lifecycle steps. Nevertheless, I can imagine lifting the requirement to call proceed exactly once. There has also been a request to allow skipping it entirely in #2083.

[2019-10-26 14:46] sbrannen commented on #1558
@jaksa76, your library looks quite promising. Thanks for sharing.

[2019-10-26 15:23] IgorGanapolsky commented on #2084
Hello @marcphilipp.  When running from commandline with `./gradlew build`, it works.  However, the IDE shows a ton of warnings (red highlights) in all `.kts` files, and clicking **Build -> Rebuild Project** produces the aforementioned error: https://scans.gradle.com/s/kpnmxkorkr4uw

[2019-10-26 16:33] marcphilipp commented on #2084
From the [failure](https://scans.gradle.com/s/kpnmxkorkr4uw/failure?openFailures=WzBd&openStackTraces=WzFd#top=0), it seems the JDK you're using does not have a `ToolProvider` for `jar`:
https://github.com/junit-team/junit5/blob/4f801d02082610ec3851eebddb8466c807926ed0/junit-platform-commons/junit-platform-commons.gradle.kts#L17

You're using [JetBrains s.r.o OpenJDK Runtime Environment 11.0.4+10-

[2019-10-26 16:35] marcphilipp commented on #2084
I'm closing this issue assuming the above instructions will resolve the problem.

@IgorGanapolsky Please let me know if that helped.

[2019-10-26 16:35] #2084 closed

[2019-10-26 16:39] marcphilipp commented on #2084
@IgorGanapolsky Would you mind reporting this issue to JetBrains?

[2019-10-27 05:08] onacit opened #2086 "Add Arguments#append(Arguments[])"
Please forgive me if I 'm missing anything already explained or provided.

I recently required to merge two instances of `Arguments` from different method sources.

[code]

## Deliverables

- [ ] Add `Arguments#append(Arguments...)` which returns a new instance of `Arguments` whose internal object array is a merged(concatenated) one of internal object arrays of all specified arguments.

[2019-10-27 05:36] #2086 closed

[2019-10-27 06:29] onacit commented on #2086
[code]

[2019-10-27 15:07] IgorGanapolsky commented on #2084
Could you please explain why one JDK works vs the other one?

[2019-10-27 15:13] IgorGanapolsky commented on #2084
I opened issue with JetBrains, however I believe they'll tell me to come back to you  :)
https://youtrack.jetbrains.com/issue/IDEA-225679?project=IDEA&clearDraft=true&description=%0A%0AIU-193.4778.7,%20JRE%201.8.0_212-release-b1596x64%20JetBrains%20s.r.o,%20OS%20Mac%20OS%20X(x86_64)%20v10.15.1,%20screens%201680x1050;%20Retina

[2019-10-27 15:29] marcphilipp commented on #2084
Thanks for creating the issue, I added a comment there.

[2019-10-27 17:57] sormuras commented on #2084
If I read the initial issue description correctly, I see that you're using a Java **8** runtime -- but at least JDK **11** is needed: https://github.com/junit-team/junit5#building-from-source

[2019-10-27 18:05] IgorGanapolsky commented on #2084
@sormuras That is the default on Macbook Pro that I bought.  Do we have to upgrade?

[2019-10-27 18:17] sormuras commented on #2084
If you want to build "JUnit 5" from source, yes. At least, you need to install and use a JDK 11 distro for this project.

[2019-10-27 18:22] IgorGanapolsky commented on #2084
IntelliJ should have that bundled with IDE, as far as I know....

On Sun, Oct 27, 2019, 2:17 PM Christian Stein <notifications@github.com>
wrote:

[2019-10-27 18:59] sormuras commented on #2084
They offer both variants at https://www.jetbrains.com/idea/nextversion/

![image](https://user-images.githubusercontent.com/2319838/67639742-c48fa380-f8f3-11e9-9453-98dd55825278.png)

- **INTELLIJ IDEA + JETBRAINS RUNTIME 11**
- **INTELLIJ IDEA + JETBRAINS RUNTIME 8**

[2019-10-27 19:02] sormuras commented on #2084
Having said this, I confirm that the "JBR 11" only provides a single `ToolProvider`, namely:

[code]

Like @marcphilipp wrote above, this does **not** suffice to build JUnit 5. Please install a JDK 11+ for your OS and use this to build JUnit 5.

[2019-10-28 02:50] praenubilus opened #2087 "Declarative timeout does not interrupt code running in infinite loop"
## Steps to reproduce

Having some code running infinitely, but the timeout annotation(neither the class level nor testable method level) can interrupt the execution. Instead, the program hang forever.

I was hoping it can behave like the `assertTimeoutPreemptively` to interrupt the running test method.

e.g. I have a class with just one single infinite running method:

[code]

[code]

## Context

[2019-10-28 13:42] IgorGanapolsky commented on #2084
@sormuras Most unassuming users - when they search for IntelliJ on google, will land on the following page.  There isn't a clear indicator there which darn Java version is required or comes bundled with IntelliJ:
<img width="1680" alt="Screen Shot 2019-10-28 at 9 40 41 AM" src="https://user-images.githubusercontent.com/201209/67683126-29381600-f967-11e9-8815-757699920f71.png">
<img width="1680" al

[2019-10-29 18:38] rkrisztian opened #2088 "Provide support for setting a custom parent directory for `@TempDir`"
My project requires that I do not write to `/tmp` or whichever location it is when I use the [`TempDirectory` extension](https://junit.org/junit5/docs/current/user-guide/#writing-tests-built-in-extensions-TempDirectory). So right now I have no choice but to still use [`junit-pioneer`'s implementation](https://junit-pioneer.org/docs/temp-directory/), e.g. like this:

[code]

But it would be nicer i

[2019-10-29 20:38] sbrannen commented on #2088
Tentatively slated for 5.6 M2 solely for the purpose of _team discussion_

[2019-10-30 00:33] stuartwdouglas commented on #2083
I have a similar requirement for Quarkus testing, with regards to skipping @BeforeAll and @AfterAll methods.

I can generate a Proxy of a test and use this to redirect test methods into test instance defined in a new ClassLoader, however BeforeAll and AfterAll are always invoked on the original test Class.

If I did not have to invoke Invocation.proceed() I could just invoke these methods on my ac

[2019-10-30 12:45] Seijan commented on #1558
There was a step in the right direction from maven-surefire as they reenabled rerunning tests with surefire for JUnit5. This is still in a snapshot version, but maybe some of you find it helpful. https://github.com/apache/maven-surefire/pull/245
As I pointed out there, parameterized tests aren't working at all with this feature, but if you don't use this feature you should be good to go.

[2019-10-30 20:09] khmarbaise opened #2089 "Links in the docs to CI are referencing to 404"
Currently the links within the README.md file on Github to the continuous integration are both showing 404 error pages.

[code]

https://github.com/junit-team/junit5/#continuous-integration-builds
are currently showing pages with 404 error messages.

[2019-10-31 06:16] sormuras commented on #2089
Seeing the 404 errors, too.

Strangely, the `Actions` tab is not showing up on this repo. On my personal repos, they do work.

Possibly related: https://github.community/t5/GitHub-Actions/Actions-tab-missing/td-p/36233

[2019-10-31 07:26] sormuras commented on #2089
Created https://github.community/t5/GitHub-Actions/Actions-tab-missing-actions-URL-404-runs-work/m-p/36462/highlight/true#M2580 ... let's what happens.

[2019-10-31 09:28] sormuras commented on #2089
/cc @ethomson

[2019-10-31 10:32] sormuras commented on #2089
It's working again.

Thanks @ethomson ;-)

[2019-10-31 10:32] #2089 closed

[2019-10-31 11:25] marcphilipp commented on #2088
If your project requires you not to write to the default location of temporary files, you should set the `java.io.tmpdir` system property.

@rkrisztian Could you please try that?

[2019-10-31 11:32] marcphilipp commented on #2083
@loicmathieu Have you considered writing a TestEngine instead? I don't know how your execution in a separate VM works, but I could imagine supporting arbitrary Jupiter extensions.

[2019-10-31 11:44] stuartwdouglas commented on #2083
The TestEngine approach would not work for my use case, as I would want to delegate all the logic to Jupiter, and having it on the class path would result in problems (I think Arquillian attempted this and ran into similar issues).

I need a way to execute a test inside an isolated ClassLoader, and I can do almost everything by creating a proxy that extends the actual test class and forwarding all

[2019-10-31 11:44] marcphilipp commented on #2073
**Team Decision:** Since all `public` methods of both classes are part of the `TestEngine` interface, hiding it in this way does not buy us much. Since we're instantiating these classes from our tests, we would mainly make life harder for ourselves.

[2019-10-31 11:44] #2073 closed

[2019-10-31 11:47] loicmathieu commented on #2083
@marcphilipp it has already been suggested but I assume the work is a little more than an extension ? And all other test framework that our user used must be compatible with it ?

To fork we start a new Java Process from the extension, it is the same code that we used to fork from JUnit4.
One of our use case is to measure the byte allocated by a test, so we need some control of how we execute it.

[2019-10-31 11:57] marcphilipp commented on #2039
**Team Decision:** Throw an exception during discovery if a cycle is detected.

[2019-10-31 12:14] marcphilipp commented on #2083
Since we support multiple `InvocationInterceptors` that get chained we have to decide what to do if one of them that's not last in the list decides to skip the invocation. We could either allow that and not call the remaining interceptors or only allow the last interceptor in the chain to skip. I lean towards the first option.

[2019-10-31 12:15] marcphilipp commented on #2083
**Team Decision:** Implement the first option and add debug logging when skip was called.

[2019-10-31 12:16] marcphilipp commented on #2083
@loicmathieu Would you still like to submit a PR for this one?

[2019-10-31 12:25] loicmathieu commented on #2083
@marcphilipp it will be my pleasure :)

[2019-10-31 12:32] marcphilipp commented on #2087
`assertTimeoutPreemptively` only seems to work but hides the underlying problem that `infinite()` never checks for interrupts or calls any blocking operation that would throw an `InterruptedException`. So, instead of blocking indefinitely, `assertTimeoutPreemptively` let's the thread is spawned run forever.

`@Timeout` on the other hand works differently. It schedules a thread to interrupt the ori

[2019-10-31 18:16] praenubilus commented on #2087
In JUnit4 we write a program to invoke all tests by using `JUnitCore.runClasses(TestClass)` to start all tests, get and analyze the results.
In JUnit 5 we use `org.junit.platform.launcher.core.LauncherFactory`.

Can you be more specific about the "implement your own `InvocationInterceptor`"? I partially get what you mean, but I believe a genuine official solution will always be the best choice.

[2019-10-31 21:13] khmarbaise commented on #2089
Thanks working.

[2019-11-01 00:30] k1w1m8 opened #2091 "JUnit and Surefire are calling JUnit3 static suite() method twice"
I am using JUnit 5.5.1 and Surefire 2.22.2.

I noticed that Surefire is calling my JUnit3 static suite() method twice.

This is an issue for me as my suite() method is creating tests dynamically and it is expensive.

I dumped a stacktrace inside Surefire for each and noticed some differences.

From the two calls, we can see the section of the stack trace in the whitespace (inside surefire) is diff

[2019-11-01 00:56] k1w1m8 commented on #2091
For reference, same thing run without JUnit5 only in the classpath gives:

[code]

[2019-11-01 08:58] marcphilipp commented on #2087
I meant, instead of using `@Timeout` you could register your own extension that does this:

[code]

[2019-11-01 09:00] marcphilipp commented on #2087
Tentatively slated for 5.6 M2 solely for the purpose of _team discussion_.

[2019-11-01 10:14] marcphilipp commented on #2091
That's because Surefire first calls `Launcher.discover()` in [`TestPlanScannerFilter`](https://github.com/apache/maven-surefire/blob/c391947070c9514c1d3a5ba45762329d0beb0f39/surefire-providers/surefire-junit-platform/src/main/java/org/apache/maven/surefire/junitplatform/TestPlanScannerFilter.java#L56) and later calls `Launcher.execute()` with another `LauncherDiscoveryRequest` in [`JUnitPlatformPr

[2019-11-01 10:33] Tibor17 commented on #2091
@k1w1m8
@marcphilipp
Maximum what we can do now in the short time before the release is to perform some optimizations.
so that we skip this lookup while no groups/categories are configured.

Till now we have reworked the interprocess communication and we made it extensible with more new commands/events in the future. This will be the base line for the next bug fixes like this one. So my idea is to

[2019-11-01 10:41] sormuras commented on #2091
Is it possible to cache the generated tests within the `suite()` method and guard it against multiple calls?

[2019-11-01 11:44] rkrisztian commented on #2088
Worked, thanks! I wish I knew about this. :)

[2019-11-01 12:05] sbrannen commented on #2088
Assigned to the general backlog and labeled as waiting for interest.

[2019-11-01 12:18] sbrannen commented on #2074
We have no intention of supporting annotations for individual dynamic test invocations. In addition, I believe it is simply not possible to read the annotations on lambda expressions. So that's not an option, and passing _synthetic_ annotations as method arguments seems rather clunky to me.

Dynamic tests are intended to be "dynamic" and therefore not "statically" annotated.

If you wish to abort

[2019-11-01 12:40] marcphilipp commented on #2091
@Tibor17 Thanks for the quick response! Shall @k1w1m8 open an issue in Surefire's Jira to track this?

[2019-11-01 12:41] Tibor17 commented on #2091
@marcphilipp
@k1w1m8
That's not necessary because we already have it in our Jira.

[2019-11-01 14:49] marcphilipp commented on #2091
@Tibor17 Could you add a link here for future reference, please?

[2019-11-02 13:23] marcphilipp commented on #18
Technically this issue was reported first, but #1767 has more discussion so I'm closing it as _duplicate_.

[2019-11-02 13:23] #18 closed

[2019-11-03 07:30] k1w1m8 commented on #2091
All, thanks for the express replies. I appreciate the effort you are all putting in.

@sormuras my first thought was to add a static to cache the generated tests but it did not seem to make a difference. I guess there is classloader stuff going on in there?

@Tibor17 I did try and search up any existing tickets for surefire, but I didn't find any. Maybe I could have looked harder ;-). I just now l

[2019-11-03 12:47] Tibor17 commented on #2091
@k1w1m8
I really don't know what you mean in your problem with combining junit3+5, dynamic tests, reports, etc. Don't write explanation in comments, it is not productive. I need to see sample project in GitHub, check your project by my hands, execute the commands, see the details, etc. Then it will be productive.

[2019-11-03 13:55] sbrannen commented on #2074
**Team Decision**: in light of the above https://github.com/junit-team/junit5/issues/2074#issuecomment-548768493, we are closing this issue.

[2019-11-03 13:55] #2074 closed

[2019-11-03 14:25] Tibor17 commented on #1558
@Seijan
Summary in current activities:
We implemented Surefire rerun for JUnit5 in https://issues.apache.org/jira/browse/SUREFIRE-1701 and there are ongoing issues to fix https://github.com/apache/maven-surefire/pull/245#issuecomment-548949938
The feature `skipAfterFailureCount` is reported in Surefire https://issues.apache.org/jira/browse/SUREFIRE-1710

[2019-11-03 16:30] Tibor17 commented on #2091
@k1w1m8
Do you have this approach in you code?
[code]
I don't see any option how to help you because the JUnit3 calls `test= constructor.newInstance(new Object[0]);` and instantiates the test. I don't think that JUnit5 architecture will reuse given instances from outside. They need classes.
So, can you upgrade from JUnit3?

[2019-11-04 07:23] k1w1m8 commented on #2091
Hey @Tibor17, I am am creating my tests dynamically and I have two implementations, using either new TestCase() for JUnit3 or DynamicTest for JUnit5. When using the JUnit3 implementation, it runs fine using JUnit4 dependencies, I don't need to use Vintage to run them. So I have a workaround.

So since I have a workaround, this fix for me is not urgent.

I'll leave it up to you to decide whatever p

[2019-11-04 20:53] Tibor17 commented on #2091
Usually, when we are talking about issues in the Apache, we wan to see the executable project.
Can you post some? You can use the [Gist](https://gist.github.com/).

[2019-11-05 08:07] marcphilipp commented on #2091
@k1w1m8 Please create a reproducer and open an issue on Surefire's Jira.

[2019-11-05 08:07] #2091 closed

[2019-11-05 10:51] Tibor17 commented on #2091
@marcphilipp
As you can see it is not related to Surefire nothing but JUnit3. And serious investigation in a PR requires having a reproducible project and then closing the PR but not opposite.

[2019-11-05 17:19] calvertdw commented on #1679
Still looking for this! It's nice for running tests locally in IntelliJ w/o Gradle. It'd be snappy to pass a JVM argument to run untagged tests.

[2019-11-05 19:31] marcphilipp commented on #1679
Tentatively slated for 5.6 M2 solely for the purpose of _team discussion_.

[2019-11-05 19:35] marcphilipp commented on #2091
As I explained above, it's caused by Surefire executing test discovery twice:
https://github.com/junit-team/junit5/issues/2091#issuecomment-548737137

Therefore, it's impossible to fix it in this repo, case closed.

[2019-11-05 22:57] Tibor17 commented on #2091
@marcphilipp
JUnit3 was confirmed https://github.com/junit-team/junit5/issues/2091#issuecomment-549154679 that instantiates the class twice and I said that anything can be optimized or workarounded https://github.com/junit-team/junit5/issues/2091#issuecomment-548742218 but it is not a solution.

But we do not know yet if `launcher.discover()` instanciates dynamic non-JUnit3 test because you was no

[2019-11-06 08:59] marcphilipp commented on #2091
The `suite()` method is called when the JUnit 4 Runner is instantiated. This will be done when you call `Launcher.discover()` or `Launcher.execute(LauncherDiscoveryRequest)`.

If the above filter has to stay in place, those methods will both get called and the `suite()` method will get called twice. If the filter could be removed, i.e. the provider would not filter any classes, and the complete li

[2019-11-06 16:59] t-8ch opened #2092 "Generate multiple test instances (with names) from a TestInstanceFactory"
I am trying to find a nice way for testclasses to be executed multiple times based on an external configuration.
My test classes get configurations for multiple different systems to interact with via system properties.
The tests should then be executed for each of these systems without the programmer having to know about the mechanism.

[code]
[code]

[code]

The end result would be something like

[2019-11-06 17:07] marcphilipp commented on #2092
Duplicate of #871

[2019-11-06 17:07] #2092 closed

[2019-11-06 17:10] marcphilipp commented on #2092
Thanks for reporting the feature request. I added this issue to the growing list on #871.

[2019-11-06 17:20] t-8ch commented on #2092
Thanks for the fast response! This is indeed exactly my usecase, will follow there.

[2019-11-07 10:10] romeme opened #2093 "IDEA <Click to see difference> is unavailable in junit 5.5.2"
Hi!
jupiter tests didn't show `"<Click to see difference>"` reference

It's working for junit:junit:4.12
[code]
output:
[code]

but for org.junit.jupiter:junit-jupiter-api:5.5.2 it's not

[code]
output:
[code]

Environment:
IntelliJ IDEA 2019.2.4 (Ultimate Edition)
Build #IU-192.7142.36, built on October 29, 2019

Java:
open jdk-11.0.2

macOS 10.14.6 (18G103)
Kernel Darwin 18.7.0

[2019-11-07 11:17] marcphilipp commented on #1679
**Team Decision:** Let's go with `any()` and `none()`.

@calvertdw Would you be interested in submitting a PR?

[2019-11-07 11:36] marcphilipp commented on #2093
Works for me with IDEA 2019.3 EAP CE. In any case, this feature is implemented by IDEA, so please open an issue in JetBrains' issue tracker.

[2019-11-07 11:36] #2093 closed

[2019-11-07 13:40] sbrannen commented on #1793
Update: further work has been pushed to the aforementioned feature branch.

[2019-11-07 17:27] FabianoLothor commented on #673
I solve it changing

`classpath "org.springframework.boot:spring-boot-gradle-plugin:2.1.8.RELEASE"
`
to

`classpath "org.springframework.boot:spring-boot-gradle-plugin:2.2.0.RELEASE"
`

[2019-11-07 18:25] sormuras commented on #673
Glad you solved it, too.

Always know all dependencies of your ... dependencies. And the frameworks/build tools resolving them.

[2019-11-07 21:50] signed commented on #1679
Should the special terms play nice with operators or be treated separately?
* `! none()`
* `! any()`
* `none() | somethingelse`
* `any() | somethingelse` (you could just remove something else)
* `any() | none()`
* `any() & none()`
* `any() & somethingelse` (you could just remove any in this case)

Or is only this allowed and the previous examples are all invalid input?
* `none()`
* `any()`

Treati

[2019-11-08 09:20] mmerdes commented on #1679
I would favour simplicity over completeness

[2019-11-08 17:54] sbrannen commented on #1793
For anyone interested, I've opened a PR: #2094

[2019-11-09 13:58] sbrannen commented on #1488
**Update**: this likely already worked with Buildship prior to Gradle 6.0; however, due to https://github.com/eclipse/buildship/issues/942, we currently cannot verify that against `master`.

[2019-11-10 13:46] marcphilipp commented on #1679
If it considerably simplifies the implementation, I'm fine with only supporting `none()` and `any()` as standalone expressions for now.

[2019-11-10 14:37] #2083 closed

[2019-11-10 15:36] #1793 closed

[2019-11-10 15:37] sbrannen commented on #1793
This is now in `master`. Feel free to try it out in the upcoming 5.6 M2 snapshot builds.

[2019-11-10 18:05] juliette-derancourt commented on #2040
FYI, just started working on it.

[2019-11-11 10:23] mmerdes commented on #1679
In progress

[2019-11-11 11:32] sbrannen commented on #2039
It appears that this may be an issue in the Platform rather than (only?) in Jupiter, specifically in `org.junit.platform.commons.util.ReflectionUtils.findNestedClasses(Class<?>, Set<Class<?>>)`

[2019-11-11 13:08] sbrannen commented on #2039
With the following change to the aforementioned `findNestedClasses(...)` method...

[code]

... the algorithm no longer recurses indefinitely.

This change does **not** throw an exception if a cycle is detected. Rather, it simply does not follow the cycle.

Thus, with this implementation, the following tests are executed.

![Screenshot 2019-11-11 at 14 06 20](https://user-images.githubusercontent.

[2019-11-11 13:39] sbrannen commented on #2039
FYI: current work on this issue can be seen here: https://github.com/junit-team/junit5/compare/issues/2039-recursive-nested-hierarchy

[2019-11-12 09:32] vlsi commented on #1948
I've a use case for the ordering: run faster tests first.
Of course, in the ideal world, each test method executes under 1 millisecond.

In practice that does not hold, and Apache Calcite has multiple tests that take 1-5-15 seconds (see https://github.com/apache/calcite/blob/52bc246d5e07510689635f407f4d9dc494b0af4d/core/src/test/java/org/apache/calcite/test/CalciteSuite.java#L197 ).

It would be n

[2019-11-12 10:06] sormuras opened #2096 "Support additional module path entries in console launcher"
Support additional or alternate `--module-path` entries, similar to the already available `-cp` option:

https://github.com/junit-team/junit5/blob/master/junit-platform-console/src/main/java/org/junit/platform/console/options/AvailableOptions.java#L74-L80

## Use case

Given a directory `lib/` that contains all required modules and a _test_ module named `it`, this would allow the Console Launcher

[2019-11-13 10:04] christophstrobl opened #2097 "Support @Tag as meta-annotation."
It would be nice if `@Tag` could be used as meta annotation so that one can create a custom annotation without having to repeat a certain string/tag value, while being able to read the value via `ExtensionContext#getTags()` when evaluating an `ExecutionCondition`.

[code]

[2019-11-13 10:05] sormuras commented on #2097
This already works: https://junit.org/junit5/docs/current/user-guide/#writing-tests-meta-annotations

[2019-11-13 10:14] christophstrobl commented on #2097
sorry for the noise - I had the Retention set. It was my IDE that would not want to compile it.

[2019-11-13 10:14] #2097 closed

[2019-11-13 10:31] marcphilipp commented on #2097
@christophstrobl No worries, thanks for letting us know!

[2019-11-13 13:07] Tibor17 commented on #1558
@Seijan
Now the re-run + @Parameterized test works. The display name in this annotation also works and you can have it in the XML report if you enable that in the configuration of the extension, see the documentation. https://issues.apache.org/jira/browse/SUREFIRE-1716
Feel free to subscribe in the mailing list and participate in the release vote:
https://lists.apache.org/thread.html/6b9987be2fbd4

[2019-11-13 16:58] sdeleuze opened #2098 "Avoid INFO logs when JUnit 4 is present in the classpath but Hamcrest is not"
Related to #2004, when running Spring Framework tests in IntelliJ IDEA which now uses Gradle to run tests by default, I see this error in red each time I run tests in the `spring-webflux` modules that transitively needs JUnit 4 even if the tests are executed with JUnit Jupiter.

[code]

In my case, the JUnit 4 dependency comes from `com.squareup.okhttp3:mockwebserver` where `MockWebServer` extends

[2019-11-13 17:01] sbrannen commented on #2098
Tentatively slated for 5.6 M2 for _team discussion_

[2019-11-13 17:42] sbrannen commented on #2098
For anyone interested in the OK HTTP issue regarding a hard dependency on JUnit 4, see:

- https://github.com/square/okhttp/issues/2635
- https://github.com/square/okhttp/issues/4667

[2019-11-13 20:03] calvertdw commented on #1679
I think `none() | somethingelse` would quickly become a useful expression but adding standalone expressions for `none()` and `any()` are already a huge improvement. I am fine with either.

Consider the documentation in factoring the complexity. It might be confusing to users not supporting expressions.

[2019-11-13 20:13] calvertdw commented on #1679
I see @mmerdes has taken this up, but I might be able to assist given some pointers in the right direction. What classes/interfaces are relevant? In general, what's a good way to do it?

[2019-11-14 08:11] mmerdes commented on #1679
@calvertdw
Thanks for the offer! I will let you know if I encounter any roadblocks :)

[2019-11-14 11:15] marcphilipp commented on #2098
**Team Decision:** Let's change the log level to debug.

[2019-11-14 11:20] marcphilipp commented on #2039
**Team Decision:** Let's throw an exception instead of silently ignoring it.

[2019-11-14 12:45] #2098 closed

[2019-11-14 13:03] sdeleuze commented on #2098
Thanks

[2019-11-14 13:54] sbrannen opened #2099 "Introduce TestExecutionListener for configuring Java Logging for test suites"
## Overview

Various logging frameworks have mechanisms for test configuration. For example, log4j2 supports a `log4j2-test.xml` file in the root of the classpath, which people typically store under `src/test/resources`.

Java Util Logging (JUL) on the other hand has no mechanism for automatic discovery of test configuration. One can of course set the `java.util.logging.config.file` JVM system pro

[2019-11-14 13:55] sbrannen commented on #2099
Tentatively slated for 5.6 M2 for _team discussion_

[2019-11-15 03:38] kriegfrj opened #2100 "OSGi capability namespace for TestEngines"
Pending the resolution of #2095:

I would also like to see us leverage the OSGi capability mechanism in some way to define dependency relationships between test bundles and test engine bundles. That way, the resolver can help with making sure that the correct engines are included in the set of run bundles. For example, the test engine bundle could declare something like this:

[code]
...then the t

[2019-11-15 07:26] jonashoef commented on #839
Hi again,
with JUnit 5.5, you provided the [InvocationInterceptor](https://junit.org/junit5/docs/5.5.2/api/org/junit/jupiter/api/extension/InvocationInterceptor.html), which solves our problem elegantly via the interceptTestClassConstructor​()-method.

Good job :-), definitely a much more powerful and general enhancement than our original proposal.

One thing that I wasn't aware of in that context

[2019-11-15 10:35] sbrannen commented on #839
@jonashoef, can you please create a new issue (or even a PR) for that?

Otherwise comments like these get lost the backlog.

Thanks

[2019-11-15 12:58] sbrannen commented on #2039
OK. The status quo now results in...

[code]

Good like that?

[2019-11-15 20:30] sormuras commented on #1826
### More directories to cache

- `gradle/**` which contains `testing.gradle.kts` and the wrapper

### More keys to hash

- `buildSrc` entries, like `Versions.kt` and friends

### `.lock` files are ... locked
It's not that easy: https://github.com/junit-team/junit5/runs/305358249#step:9:1

[code]

[2019-11-15 20:35] sormuras commented on #1826
Reverting the changes for the time being.

Reserved for future configuration attempts:
[code]

[2019-11-15 21:35] mannodermaus commented on #2054
There already is a sample project in the `android-junit5` repository, however it would be great to have one in the proper JUnit 5 space, too. I'll consider it for future submission through a PR when I find some time! 👍

[2019-11-17 21:32] Tibor17 commented on #990
@WalidBounouar the version [3.0.0-M4](https://maven.apache.org/surefire/index.html) was released yesterday. You can always ask me, see my email in GitHub, or you can subscribe to the [Maven user-mailing list](https://maven.apache.org/mailing-lists.html) and ask the user questions in public. If you are in the Apache, you can find us in the Slack.

[2019-11-18 07:30] juliette-derancourt commented on #2040
@junit-team/junit-lambda If one of these conditions are encountered for one of the parameters, do we fallback on the current behavior for all of them or do we still add names for the other parameters? (I'd rather fallback on the `{arguments}` pattern)

[2019-11-18 10:34] lefevre00 commented on #1476
I'm working with WKT geometry, extract from postgis, and that kind of data could be quite long.
I'm interested in this feature too.

[2019-11-18 17:13] jonashoef commented on #839
Provided [PR](https://github.com/junit-team/junit5/pull/2103)

[2019-11-18 19:29] marcphilipp commented on #2040
I think we could support the case of mixed position and accessor/aggregator arguments, i.e. for test like the following:

[code]

The display names currently are `[1] 1` etc. so we could make them `[1] value=1` etc.

We should be able to extract the logic in `ParameterizedTestParameterResolver`, i.e. only add the parameter name if the parameter index is < `methodContext.indexOfFirstAggregator()` (

[2019-11-18 19:43] #195 closed

[2019-11-19 02:49] kriegfrj opened #2104 "`ReflectionUtils.loadRequiredParameterType()` should use `ClassLoader` for the supplied `Class`"
In this code here:

https://github.com/junit-team/junit5/blob/b4fef4a8a01c0bfeb8f008a331ec5dc5a9df0869/junit-platform-commons/src/main/java/org/junit/platform/commons/util/ReflectionUtils.java#L1208-L1215

... the `tryToLoad(String)` method uses the default classloader to attempt to load the parameter class. It would probably make more sense to use the `tryToLoad(String, ClassLoader)` variant, and

[2019-11-19 02:54] sormuras commented on #2104
Good catch!

[2019-11-19 08:04] JaynLau opened #2105 "error when junit4 not in classpath"
## Steps to reproduce
if junit4 not in classpath, `JUnit4VersionCheck.checkSupported()` reports the error below when a junit5 test case exists in the code.
[code]

## Context

 - Used versions (Jupiter/Vintage/Platform): since 5.4
 - Build Tool/IDE: maven, IntelliJ IDEA

## Deliverables

- [ ] check `junit.runner.Version` exists first in `JUnit4VersionCheck.checkSupported()`

[2019-11-19 08:07] marcphilipp commented on #2105
Why is `junit-vintage-engine` on the classpath but not JUnit 4?

[2019-11-19 08:25] JaynLau commented on #2105
The project uses a common parent POM. The parent POM makes JUnit 4 optional. It reports warnings but running tests successfully when the version of JUnit is below 5.6. With JUnit 5.6.0-M1, the tests are broken with` java.lang.NoClassDefFoundError: junit/runner/Version`

[2019-11-19 08:50] JaynLau commented on #2105
This error may also be reported if the project excludes `JUnit 4` when it depends on `spring-boot-starter-test`.
`spring-boot-starter-test` depends on `junit-vintage-engine` by default.

[2019-11-19 09:22] sormuras commented on #2105
Exclude `junit-vintage-engine` then. Or don't depend on `spring-boot-starter-test`.

[2019-11-19 09:48] JaynLau commented on #2105
@sormuras
Nice way!
But for most people, to be honest, they don't know the relationships between `junit-vintage-engine` and `JUnit 4`. And there are many dependencies in a maven project, some people don't even care about them, except an error reported.
I think a better way is to make it more fault tolerant, easier to use, don't care about the the relationships between `junit-vintage-engine` and `J

[2019-11-19 09:52] marcphilipp commented on #2105
We can improve the error message but it's a user error to use the `junit-vintage-engine` and not have JUnit 4 on the classpath.

[2019-11-19 10:06] sormuras commented on #2105
They'll (re-)learn to care. All dependencies are your (read: their) responsibility. Transitively.

+1

[2019-11-19 11:56] #1864 closed

[2019-11-19 13:04] sormuras commented on #1826
https://github.com/junit-team/junit5/runs/306095038#step:9:3 says:

`##[warning]Cache size of 1947987186 bytes is over the 400MB limit, not saving cache.`

[2019-11-19 13:04] sormuras commented on #1826
`--no-build-cache` might help here.

[2019-11-19 13:48] marcphilipp commented on #1826
Let's try caching only `~/.gradle/caches/modules-2/`

[2019-11-20 09:17] sbrannen commented on #2104
See #806

[2019-11-20 09:18] sbrannen commented on #1987
See #806

[2019-11-20 10:18] arjantijms commented on #1248
With #157 resolved, is there any progress on this issue now?

[2019-11-20 10:36] sbrannen commented on #1248
@MatousJobanek and @arjantijms, does the support introduced in #157 and #2083 meet your needs?

[2019-11-20 19:40] marcphilipp commented on #1964
The Vintage engine is really only a compatibility layer around JUnit 4. JUnit 4 does not detect this problem and I cannot remember it ever coming up as an issue there. It's not that easy to change either. For example, if you have a `@RunWith` annotated class, `TestCase` will be ignored. But, who knows, what the runner does? It could very well ignore `@Test` methods, too. Thus, I think we should cl

[2019-11-21 00:04] kriegfrj commented on #1964
Yes, understand that this is really a JUnit 4 issue more so than a Vintage engine issue. Neverthless, it would be possible (though admittedly not the cleanest) for the Vintage wrapper to detect and report this issue even if the underlying JUnit 4 implementation does not. Given that development on JUnit 4 has ceased it seems adding this check in the Vintage wrapper is the only live option.

I have

[2019-11-21 07:53] marcphilipp commented on #2048
I created a script based on [one I found on StackOverflow](https://stackoverflow.com/a/46403701/6327046) that squashes subsequent commits with the same message. The total number of commits on the `gh-pages` branch would go down from 3347 to 331.

@junit-team/junit-lambda Are you ok with me force-pushing that to `gh-pages`? Everyone who previously checked out the branch would have to do a hard rese

[2019-11-21 07:56] sormuras commented on #2048
👍

Pruning old or even all versions of committed PDF files would shrink the repository size even further.

[2019-11-21 11:35] marcphilipp commented on #1964
I'd be ok with adding such a warning to _Jupiter_ test classes, i.e. if you mix Jupiter `@Test` annotations with JUnit 4 ones or extend `TestCase`. But then again, I'm not sure how often that actually happens. Would that be helpful for you?

[2019-11-21 12:12] marcphilipp commented on #2087
Since a workaround exists, we won't address this for now but wait for additional interest from the community.

[2019-11-21 12:16] marcphilipp commented on #2099
**Team Decision:** Wait for interest from the community.

[2019-11-21 12:55] kriegfrj commented on #1964
Actually, Jupiter doesn't need such a warning, because it can happily coexist side-by-side with either JUnit 4 or JUnit 3 in the same test class. Jupiter runs the Jupiter tests, Vintage runs the JUnit 3 or 4 tests (but not both!) and everyone's happy.

So it's really the mixed 3/4 case that I'm trying to cover.

[2019-11-21 12:56] marcphilipp commented on #2104
**Team Decision:** We'd like to address this issue in conjunction with #201/#806 in 5.7.

[2019-11-21 12:57] marcphilipp commented on #1987
**Team Decision:** We'd like to address this issue in conjunction with #201/#806 in 5.7.

[2019-11-21 12:59] marcphilipp commented on #1964
**Team Decision:** We don't intend to add new functionality to the Vintage engine that enhances JUnit 4 or works around its limitations. Therefore, we're closing this issue.

[2019-11-21 13:47] mmerdes opened #2109 "Consider support for PostDiscoveryFilters in EngineTestKit"
The `EngineTestKit` is able to execute an `EngineDiscoveryRequest`.

This implies that a `PostDiscoveryFilter` is not respected since such filters are not applied by the `EngineTestKit`. Such filters are only applied by the `Launcher` when executing multiple test engines.

For example, `TagFilter.includeTags(...)` and `TagFilter.excludeTags(...)` are not supported by the `EngineTestKit`, and if th

[2019-11-22 09:56] sormuras opened #2110 "Improve documentation of JUnit 4-based JUnitPlatform runner"
@jlink suggested via [tweet](https://twitter.com/johanneslink/status/1197810658483560448):

- https://github.com/junit-team/junit5/tree/master/junit-platform-runner

What do you think @junit-team/junit-lambda?

[2019-11-22 10:00] sormuras commented on #2110
_Tentatively slated for 5.6 M2 for team discussion._

[2019-11-22 10:50] sbrannen commented on #2110
I agree that we should eventually deprecate the `JUnitPlatform` runner, but I think we should off on that until we have official support for [suites](https://github.com/junit-team/junit5/labels/theme%3A%20suites) in either JUnit Platform or JUnit Jupiter.

In the interim, I think we should add a **WARNING** to the Javadoc for the `JUnitPlatform` as well as in the User Guide to point out the shortc

[2019-11-22 14:07] SSchepers opened #2111 "JUnit working with Gradle and Java Modules"
Hello everyone,

I'm dealing with the following issue: I have got a JavaFX JDK 11 project with two modules: main and test. Main holds all the source code and the source code resources. And test holds all the JUnit tests and the related resources. Everything used to work fine before when I ran "gradlew test" with the useJUnitPlatform() command. But as soon as I added a module-info to my main module

[2019-11-23 16:42] juliette-derancourt commented on #2040
I'm wondering if we should call the pattern `{arguments_with_names}` or `{argumentsWithNames}`?
I just noticed that the existing `{displayName}` pattern is in camel case...

[2019-11-23 17:49] sbrannen commented on #2040
Indeed. Better to stay consistent and go with camel case there. Good catch.

[2019-11-24 09:08] onacit opened #2112 "Add disposal method for cleansing-required resolved parameter"
There seems, currently, no direct way to cleanse resolved parameters through `ParameterResolver`.

[code]

## Deliverables

- [ ] Add `disposeParameter(ParameterContext, ExtensionContext, Object)` for disposing parameters.

[2019-11-24 13:12] sbrannen commented on #2112
For starters, it is not a good idea to store state within an extension.

Instead, you should use the `ExtensionContext.Store`.

For cleaning up resources, there is a dedicated `CloseableResource` API.

See the [Keeping State in Extensions](https://junit.org/junit5/docs/current/user-guide/#extensions-keeping-state) section of the User Guide for further details.

For inspiration, please consult the

[2019-11-24 13:12] #2112 closed

[2019-11-24 17:36] sormuras commented on #2111
Did you give https://github.com/java9-modularity/gradle-modules-plugin a shot? It should take care of most Gradle-related configuration issues out-of-the-box and it offers a bunch of configuration options to tweak the compile and runtime settings.

@siordache's input might be of help here -- if you (@SSchepers) provide a mcve with less dependencies and moving parts involved. Speaking of dependenci

[2019-11-24 20:34] siordache commented on #2111
@SSchepers My proposed solution is: "just remove it!" 😈
But I'm not talking about the `module-info.java` in your main module. The problem is the one in the `src/test/java` directory.

When doing whitebox testing, you don't want (and, due to split packages, you cannot build) a separate "test module". Instead, for testing purposes, you need to patch your main module with the classes produced by comp

[2019-11-24 21:42] sormuras commented on #2111
Thanks a lot, Serban! Much appreciated.

[2019-11-25 00:14] kriegfrj opened #2113 "ThrowableCollector.toTestExecutionResult() is package private"
We're in the process of trying to update the baseline version of Eclipse used in our `BundleEngine`. This has in turn updated the baseline version of JUnit 5 from an ancient version (5.0.0 of Jupiter and 1.0.1 of junit-platform) to something more recent.

Our `BundleEngine` used to make use of `SingleTestExecutor`, which is now deprecated. The deprecation note in `SingleTestExecutor` advises to us

[2019-11-25 13:57] SSchepers commented on #2111
Alright thank you everyone for your amazing support. I've managed to solve it in a way I am happy with. Let me clarify what I did and what caused confusion on my part to help anyone in the future dealing with the same issue.

As @siordache pointed out, and what I was not aware of, ```org.openjfx.javafxplugin``` automatically applies the gradle-modules-plugin which patches the module. Therefore in

[2019-11-25 14:29] siordache commented on #2111
IntelliJ will soon add support for `module-info.test` files: https://youtrack.jetbrains.com/issue/IDEA-222831

[2019-11-25 15:47] sormuras commented on #2111
Closing this issue as "question-answered". Further discussion should move to Gradle's and/or IJ IDEA's issue tracker.

[2019-11-25 15:47] #2111 closed

[2019-11-26 05:51] jlink commented on #2110
I’d argue that `JUnitPleatform` should be removed before introducing platform support for  Otherwise there could be double interpretation of `@Suite`  and `@RunWith(JUnitPlatform.class).` .

[2019-11-26 10:01] Dretch opened #2114 "JUnit Vintage distributes tests very unevenly between forks, causing poor parallelism"
Junit 5.6.0-M1

## Steps to reproduce

Run the following test case with `mvn clean verify`:
[junit-5-vintage-bug.zip](https://github.com/junit-team/junit5/files/3891165/junit-5-vintage-bug.zip)

Observe output like the following:
[code]

Notice how all the tests are being run on the same process. This is wrong because there should be 5 forks - and the tests should be evenly distributed between the

[2019-11-26 10:12] sormuras commented on #2114
["Forking"](https://maven.apache.org/surefire/maven-surefire-plugin/examples/fork-options-and-parallel-execution.html) is feature that Maven Surefire provides, we can't control/fix from our side. Thus, closing this issue. An issue created at https://issues.apache.org/jira/browse/SUREFIRE might help.

#### Why does it work with JUnit 4?
Because Surefire selects another Surefire Provider, namely: ht

[2019-11-26 10:12] #2114 closed

[2019-11-26 10:53] Dretch commented on #2114
Thanks @sormuras , I have logged an issue with surefire: https://issues.apache.org/jira/browse/SUREFIRE-1725

[2019-11-26 17:48] calvertdw opened #2115 "Console does not associate with tests reliably in parallel mode"
I am enjoying the parallelism features provided by JUnit 5. While developing using test driven development, it is useful to run as many tests as possible as frequently as possible.

I have been using IntelliJ to run the entire test package of my project frequently and using the JVM options:

[code]

The issue is the console output is not readable. It gets jumbled together and spread accross many m

[2019-11-27 02:03] Phenomendx opened #2116 "Console Launcher doesn't see the classes from src/ of the same package as the Test class"
Console launcher fails if you don't explicitly import classes of the same package from src/

Given this abstracted structure of a maven project
_src/main/x/y/z/Service.java
test/java/x/y/zServiceTest.java_

And JUnit 5 version
 +- org.junit.jupiter:junit-jupiter:jar:5.5.2:test
[INFO] |  |  +- org.junit.jupiter:junit-jupiter-api:jar:5.5.2:test
[INFO] |  |  |  +- org.apiguardian:apiguardian-api:jar:

[2019-11-27 03:14] #2116 closed

[2019-11-27 03:14] Phenomendx commented on #2116
Project was not properly generated

[2019-11-27 11:25] Frontrider commented on #201
Any updates on this one?

[2019-11-27 12:46] AOreshin opened #2117 "Introduce TestTemplateInvocationContextBuilder"
Hello, everyone! I'm just starting to contribute, so if I'm making any mistakes, please tell me how to do it right :)

## Overview
I'm enjoying using TestTemplateInvocationContextProvider in conjuction with @ExtendsWith and @TestTemplate - it's a powerful tool that helps to bring all test invocation configuration in one place, do some fine tuning without using TestBase classes. And it helps to avo

[2019-11-27 13:51] AOreshin opened #2118 "Introduce filtering of TestTemplateInvocationContextProvider"
## Overview
One test template method can have multiple TestTemplateInvocationContextProviders. As far as I know JUnit doesn't have a mechanism to filter them. If for some reason you need to run tests from subset of context providers here's several options that come to mind:
1. Edit value of ExtendWith by hand
2. Copypaste test template method with context providers you need
3. In theory you can us

[2019-11-27 14:43] AOreshin commented on #2115
I managed to work around the same problem using [Log4J2 fish tagging](https://logging.apache.org/log4j/2.x/manual/thread-context.html) and [Allure reports](https://docs.qameta.io/allure/)

This simple extension tags logs from test with specific id
[code]
This extension reads messages with specific tag and adds them to report
[code]
Corresponding log4j2 config
[code]
All you have to do now is
1. An

[2019-11-27 17:14] djchapm commented on #1939
+1, maven enforcer build plugin errors multiple versions of apiguardian-api are referenced - 1.1.0 and 1.0.0.
Dependency convergence error for org.apiguardian:apiguardian-api:1.1.0 paths to dependency are:
  +-org.junit.jupiter:junit-jupiter-engine:5.5.2
    +-org.apiguardian:apiguardian-api:1.1.0
and
  +-org.junit.jupiter:junit-jupiter-engine:5.5.2
    +-org.junit.platform:junit-platform-engine:1

[2019-11-27 20:14] marcphilipp commented on #1939
@djchapm Where's the 1.0.0 dependency coming from? Our artifacts all reference 1.1.0.

[2019-11-27 20:18] marcphilipp commented on #2115
Have you tried [capturing stdout/stderr](https://junit.org/junit5/docs/current/user-guide/#running-tests-capturing-output)?

Apart from that there's nothing we can do here, it's simply multiple threads using `System.out` concurrently. IntelliJ could register a listener that replaces `System.out` with a `PrintStream` that uses `ThreadLocals` to attribute output to the test that was started by the c

[2019-11-27 20:18] #2115 closed

[2019-11-27 20:20] marcphilipp commented on #2113
Tentatively slated for 5.6 M1 for _team discussion_.

[2019-11-27 20:31] marcphilipp commented on #2117
Tentatively slated for 5.6 M1 for _team discussion_.

[2019-11-27 20:33] marcphilipp commented on #2118
You can rerun specific ones via their unique ID. Does that help?

[2019-11-27 22:13] djchapm commented on #1939
That print out above was mvn enforcer... telling me that junit-jupiter-qpi 5.3.2 had a dependency on apiguardian 1.0.0... however now - I'm not able to reproduce!  I've been changing a lot, but this was part of an upgrade stumble I ran into and I think it resolved on changing surefire plugin maybe?

[2019-11-28 05:29] sormuras commented on #1939
99% sure. ;-)

[2019-11-28 09:50] AOreshin commented on #2118
Thanks for your reply! I managed to solve that problem using ExecutionCondition
It looks like this:
[code]
Maybe it's a more flexible solution :)

[2019-11-29 17:07] sbrannen commented on #2118
Thanks for the feedback. Glad it works for you!

By the way, it would be more efficient to parse the display names during static initialization rather than for each invocation of your extension.

[2019-11-29 17:07] #2118 closed

[2019-11-30 18:32] joshiste commented on #1811
I just stumbled across this issue. And I think I'm currently also in the need of ordering the extensions:

I have a custom extension setting a ThreadLocal which can be used on it's own, but when combined with the SpringExtension it has to run before the SpringExtension (especially before the TransactionalExecutionListener).
This only works if we order the annotations on our test classes in the cor

[2019-11-30 20:06] bobtiernay-okta commented on #853
This would be a great addition to support registration of implicit converters project wide. Some common examples include JsonNode and List<String>, as well as custom objects string based factories not declared on the class itself.

[2019-11-30 21:20] sbrannen commented on #853
Tentatively slated for 5.6 M2 solely for the purpose of _team discussion_

[2019-12-01 01:05] calvertdw commented on #2115
Where can I find the default value for `junit.platform.output.capture.maxBuffer`? What does it take as a argument? Bytes as an integer or notation like `4m` and `1g`?

[2019-12-01 01:08] calvertdw commented on #2115
This isn't an issue with IntelliJ. See the included test HTML. The console maps to that exactly as is maps to the outputs shown in IntelliJ.

I used
[code]

[2019-12-01 01:13] calvertdw commented on #2115
I should probably make a better test case for this issue.

[2019-12-01 11:31] marcphilipp commented on #2115
https://github.com/junit-team/junit5/blob/5e41ebe612fd67e905f96f1dd3184a071b65be17/junit-platform-launcher/src/main/java/org/junit/platform/launcher/LauncherConstants.java#L72-L78

Enabling capturing stdout/stderr will still forward output to the original `System.out`/`System.err` so that's to be expected. IntelliJ should in addition report the captured output as
[code]

[2019-12-01 15:59] marcphilipp commented on #201
We briefly discussed this issue during our last team call. We agreed someone (tm) we should pick a concrete use case and introduce the necessary extension points to make it work. However, work on this issue hasn't started, yet.

[2019-12-01 17:20] #2040 closed

[2019-12-01 19:56] marcphilipp commented on #2048
New plan: Move to https://github.com/junit-team/junit-team.github.io

[2019-12-01 20:02] vlsi commented on #2048
Are you going to shrink pdfs there as well?

[2019-12-01 20:06] marcphilipp commented on #2048
@vlsi How would you shrink them?

[2019-12-01 20:09] vlsi commented on #2048
I assume nobody really needs historical snapshot PDFs.
So you could keep just the latest version of the file.
Or you could refrain from constantly pushing PDFs as they are not diffed well.

[2019-12-01 20:11] marcphilipp commented on #2048
I guess we could build them (in order to be sure they actually build) but not publish them for snapshots.

[2019-12-01 20:21] vlsi commented on #2048
That would work.
GitHub is infinite, and it would be great to use the resources in a fair manner.

[2019-12-01 21:33] marcphilipp commented on #2048
I did that as a first step in order to stop its growth: https://github.com/junit-team/junit5/commit/cf19ffddd41214138fb4ed97dce3049dfee15bf7

[2019-12-02 15:45] Kazhuru commented on #1596
Hi!, I don't know if @sormuras still working on this issue, but i want to try to work on make a proposal and then implement it.

[2019-12-02 16:01] marcphilipp commented on #1596
@Kazhuru It's not assigned so feel free to go ahead!

[2019-12-02 19:02] #1978 closed

[2019-12-02 19:41] marcphilipp commented on #2075
This should be resolved once we've published M2 with a released version of Gradle >= 6.0.

[2019-12-03 01:57] jaikiran opened #2119 "Allow @RepeatedTest to stop upon failure"
Many a times when a particular test is a failing once in a while (i.e. not consistently), I use the `@org.junit.jupiter.api.RepeatedTest` with a relatively high number like `10`:

[code]
and trigger the tests to try and reproduce the issue. Some of these 10 runs will fail (as expected). However, the only reason I used the `@RepeatedTest` was to reproduce a failure and once that failure has occurre

[2019-12-03 02:21] rsm8988 opened #2120 "'mvn test' doesn't run tests with maven-surefire-plugin version 3.0.0-M4 when having cucumber 4.8.0 version"
When my project pom contains below build configuration and parent pom has cucumber-4.8.0 version:
<build>
    <plugins>
      <plugin>
        <groupId>org.apache.maven.plugins</groupId>
        <artifactId>maven-surefire-plugin</artifactId>
        <version>3.0.0-M4</version>
      </plugin>
    </plugins>
  </build>

When I execute mvn test command it is not able to read runner.java class and it

[2019-12-03 08:03] juliette-derancourt commented on #2119
Tentatively slated for 5.6 M2 solely for the purpose of _team discussion_

[2019-12-03 08:17] juliette-derancourt commented on #2120
Could you share your pom please?

How are you launching your Cucumber tests? Do you have a Java class with the Cucumber runner? You have to import `junit-vintage` as well, since Cucumber has not yet provided JUnit 5 support (although they seem to be pretty close as https://github.com/cucumber/cucumber-jvm/issues/1149 was closed some days ago).

[2019-12-03 08:24] rsm8988 commented on #2120
By using below command i was trying to execute my tests:

mvn -f D:\NisumAutomationPlatform\%Project_PATH%\pom.xml test -DargLine="-Ddc.platformName=Windows -Ddc.browserName=chrome -DtestType=PC -DElementWaitTimeoutInSeconds=30 -Dcucumber.options='--tags @regression'"

And below are my pom dependencies:

<dependency>
            <groupId>junit</groupId>
            <artifactId>junit</artifactId>

[2019-12-03 08:25] rsm8988 commented on #2120
My TestRunner.Java

import cucumber.api.CucumberOptions;
import cucumber.api.junit.Cucumber;
import cucumber.api.testng.AbstractTestNGCucumberTests;
import cucumber.api.testng.CucumberFeatureWrapper;
import cucumber.api.testng.TestNGCucumberRunner;
import org.junit.runner.RunWith;
import org.testng.annotations.*;

//@RunWith(Cucumber.class)
@CucumberOptions(
        features = "features",

[2019-12-03 09:41] rsm8988 commented on #2120
issue is resolved after adding <dependency>
            <groupId>io.cucumber</groupId>
            <artifactId>cucumber-testng</artifactId>
            <version>4.4.0</version>
        </dependency>

[2019-12-03 09:42] rsm8988 commented on #2120
Once I'll update the cucumber version to 4.8.0 and provide a final update

[2019-12-03 15:35] juliette-derancourt commented on #2120
👍

Btw, just be aware that this repository (and therefore this issue tracker) is only dedicated to JUnit 5, I see that you are using JUnit 4 😉

[2019-12-03 15:35] #2120 closed

[2019-12-03 17:46] sormuras commented on #2063
Module `org.junit.platform.engine` does **not** export package `org.junit.platform.engine.support.filter`  - although it contains the published `ClasspathScanningSupport` class. That class, deprecated, is used by 3rd-party engines. Like: https://github.com/testng-team/testng-junit5/blob/master/src/main/java/org/testng/junit5/TestNGine.java#L3

We should export the package in the upcoming 5.6 relea

[2019-12-04 02:45] rsm8988 commented on #2120
Thank you all.. The issue is fixed after adding cucumber-testng in project pom.

[2019-12-05 10:47] sormuras commented on #2063
#### Is `transitive` needed for `requires transitive org.apiguardian.api;`?

Yes. E.g `org.apiguardian.api.API` is part of "all" JUnit 5 API and it is annotated with `@Retention(RUNTIME)` -- so it leaks to all downstream modules.

#### Is `transitive` needed for `requires transitive org.opentest4j;`?

Yes. E.g. `Assertions.assertAll(...) throws org.opentest4j.MultipleFailuresError`

[2019-12-05 11:22] marcphilipp commented on #2119
**Team decision:** Wait for additional interest from the community.

[2019-12-05 11:23] marcphilipp commented on #2113
**Team decision:** Let's make it public.

[2019-12-05 11:24] marcphilipp commented on #2113
@kriegfrj Would you be interested in submitting a PR for this?

[2019-12-05 11:50] marcphilipp commented on #2110
**Team decision:** Let's improve Javadoc and User Guide as a first step.

[2019-12-05 11:55] marcphilipp commented on #853
**Team decision:** Waiting for additional interest from the community.

[2019-12-05 11:58] marcphilipp commented on #2117
**Team decision:** Waiting for additional interest from the community.

[2019-12-05 12:00] sbrannen commented on #2110
For inspiration on the kind of content we could include in the improved documentation, see my ["Bitter Suite" answer on Stack Overflow](https://stackoverflow.com/a/50678092/388980).

[2019-12-05 12:09] sbrannen commented on #2110
Note the User Guide already includes the following warning.

[2019-12-05 13:48] #2039 closed

[2019-12-05 16:44] sbrannen commented on #1811
@joshiste, please see #506 which covers the use case you are describing.

[2019-12-05 16:51] Kazhuru commented on #1596
Sorry for the silence and the delay in answering, yesterday I was browsing the flow from the issue #162 and PR #1588 to here, and before I start coding it would be good to come up with a proper solution, I propose that the generation of names should be this way:

Using the same example of "StackTest" ->
<img width="519" alt="Screen Shot 2019-12-05 at 8 52 15 AM" src="https://user-images.githubuser