[2017-01-23 20:21] #383 closed

[2017-01-23 21:01] jbduncan commented on #383
Sounds reasonable! :+1:

[2017-01-23 23:48] nickgrealy commented on #636
Hi @jbduncan, no I hadn't seen that (-> [assertTimeout](https://github.com/junit-team/junit5/blob/73f3eeb436e78226f19554f2c2b5dab63e103670/junit-jupiter-api/src/main/java/org/junit/jupiter/api/AssertTimeout.java))... looks good!

I'll just preface the next statement with: I haven't used the functional interface [`Executable`](https://github.com/junit-team/junit5/blob/73f3eeb436e78226f19554f2c2b5da

[2017-01-24 05:48] sbrannen commented on #636
Hi guys,

I was gonna say that I already implemented assertions for timeouts in JUnit Jupiter, but @jbduncan beat me to it. 😉

@nickgrealy, regarding support for `Supplier<T>` in addition to `Executable`, that's definitely worth considering.

Though we would likely implement the alternative to the existing `assertTimeout()` as follows.

[code]

Similarly, the remaining method would likely be somet

[2017-01-24 05:51] sbrannen commented on #636
@junit-team/junit-lambda, let's discuss how to name such methods.

[2017-01-24 06:23] nickgrealy commented on #636
@sbrannen - awesome!

Let me know if I can help implement the solution. I'm sure it's trivial - but it'd be great if I could say I contributed to Junit5!

[2017-01-24 18:10] sbrannen commented on #636
Ahhhh, yes... one of my favorite CS jokes. 😉

[2017-01-24 18:12] sbrannen commented on #636
You're right: it is rather trivial, and normally we just implement stuff like that ourselves in order to save time. However, since you feel so inclined, sure.... give it a shot. Please just use the existing code to guide you in your solution and documentation. Also, make sure to write appropriate unit tests and to update the release notes for M4 accordingly.

Have fun!

[2017-01-24 18:13] sbrannen commented on #636
Assigned to @nickgrealy and tagged as _in progress_.

[2017-01-24 18:16] sbrannen commented on #636
Please note that `Supplier` is insufficient for our purposes.

We will therefore need a `ThrowingSupplier` analogous to our existing `ThrowingConsumer` which resides in the `org.junit.jupiter.api.function` package.

[2017-01-24 18:28] sbrannen commented on #635
Closing this issue since it duplicates #333.

[2017-01-24 18:28] #635 closed

[2017-01-24 18:45] marcphilipp commented on #419
Point taken.

[2017-01-24 18:46] marcphilipp commented on #636
Shouldn't we first decide on a name?

[2017-01-24 18:48] marcphilipp commented on #636
I think overloading the methods would be fine, no need for a `WithResult` suffix.

Other opinions?

[2017-01-24 18:49] sbrannen commented on #636
Well.. it wouldn't hurt. 😇

All kidding aside: renaming the methods ex post facto wouldn't be that bad, but deciding up front is likely better.

[2017-01-24 18:57] sbrannen commented on #636
True. I just actually implemented it, and overloading works totally fine. 👍

[code]

[2017-01-24 19:01] sbrannen commented on #636
So, this is the signature/implementation of one of the simplistic timeouts in `Assertions`:

[code]

And I'll leave the rest of the exercise to @nickgrealy.

[2017-01-25 01:10] sbrannen commented on #631
Reopening since the changes in #637 had zero effect.

Executing `gradlew test` after `gradlew clean test` still results in all `junitPlatformTest` tasks being executed again.

[2017-01-25 04:43] sormuras commented on #631
Sorry for the inconvenience caused -- but my local setup showed the skipped `junitPlatformTest`s.

The **real** underlying reason is the always recreated shadowed `junit-platform-console-x.y.z.jar`, which in turn is due the changing `Build-Time` value within the manifest attributes. If you set the value to a fixed _time_, like:

[code]

a subsequent call of `gradlew test` is finished in under 2 se

[2017-01-25 05:12] sbrannen commented on #631
No worries.

Aha. That would make sense.

Sounds like some added logic for the `generateManifest` boolean flag in `build.gradle` is in order!

Care to take a look into that?

[2017-01-25 05:25] sormuras commented on #631
Sure.

An `onlyIf`-guard, copied from the main `build.gradle`file 350ff, works. Locally.
[code]

[2017-01-25 19:40] #631 closed

[2017-01-25 19:44] sbrannen commented on #631
[code]

The latest fix works like a charm.

Thanks, @sormuras! 👍

[2017-01-26 19:10] mkobit opened #641 "Gradle Plugin: Does not publish events to IntelliJ when using IntelliJ's "delegate Gradle run actions" feature"
(Not sure the best path to file this issue since it is related to both IntelliJ and the Gradle plugin)

## Overview

When using the [delegate Gradle run actions to Gradle](https://www.jetbrains.com/help/idea/2016.3/working-with-gradle-tasks-in-gradle-tool-window.html) option in IntelliJ test events are not received (so IDE indications).

## Version Info

* IntelliJ version: 2017.1 EAP
* Gradle Ver

[2017-01-28 09:14] sormuras commented on #146
As #258 and #259 are slated for M4, this issue #146 and the PR #640 could also be tagged with the M4 target.

[2017-01-28 12:14] nickgrealy commented on #636
@sbrannen - quick question: I'm just implementing the `assertTimeoutPreemptively` method, and I want to capture the result OR the caught exception... the existing `Future` was only expecting a `Throwable`. i.e.

[code]

How do you want me to tackle this one?

1. Create a class/pojo/container, to hold an `Optional<T> result` and `Optional<Throwable> exception`, and have `Future<ResultOrException> f

[2017-01-29 09:28] nickgrealy commented on #636
Hi @sbrannen,

I've pushed some changes into my [own fork/branch](https://github.com/nickgrealy/junit5/commit/b80055b3b5b2dc71b11267c18a605635cfdc01f0) for now, can you please review them before I submit a pull request?

Of particular note:

1. `AssertionsDemo` - converted tabs from tab character to 4 spaces (was this the `spotlessApply` task?)
2. `Assertions` - Added &lt;`P`&gt; tags (was this th

[2017-01-29 19:09] sbrannen commented on #636
Hi @nickgrealy,

I unfortunately don't have any spare time at the moment.

@junit-team/junit-lambda, maybe one of you can provide some guidance here?

[2017-02-01 10:18] fankee commented on #580
Hey,
I would like to work on this issue if it is still available.

[2017-02-01 10:43] marcphilipp commented on #580
Sure, go ahead! Do you have any ideas how to implement this, yet?

[2017-02-04 09:56] marcphilipp commented on #641
Agreed. However, this can only be achieved through a native Gradle integration which is being worked on in gradle/gradle#1037. Therefore, I'm closing this issue as "won't fix" for now.

[2017-02-04 09:56] #641 closed

[2017-02-04 12:30] marcphilipp commented on #146
Good catch! I've changed the milestones for both #146 and #640.

[2017-02-04 15:31] #146 closed

[2017-02-04 15:31] #258 closed

[2017-02-04 16:03] marcphilipp commented on #462
Since #583, you can add TestExecutionListener using the ServiceLoader API.

@lewisb42 Does that address your use case?

[2017-02-04 16:06] marcphilipp commented on #616
@avandeursen Do you have time to work on this issue? Or is it something your students could work on?

[2017-02-04 17:55] lewisb42 commented on #462
That particular project has been back-burnered for a couple of months so I can't say off the top of my head, but I'll try to context-switch in the next few weeks and get you a proper answer.  On it's face it sounds like a nice clean approach, though.

[2017-02-05 15:37] marcphilipp commented on #636
No, that was most probably your IDE. This file is mostly ignored by Spotless because there's a `// @formatter:off` immediately after the package statement. Can you please revert the whitespace changes?

Nope, that wasn't Spotless either. In fact the build now produces a large number of warnings, e.g.

[code]

I think we can live with the duplication for now. Especially since we don't have paramete

[2017-02-05 15:39] marcphilipp commented on #638
Interesting idea! IMHO this looks a lot like parameterized tests, doesn't it? How about we add support for those (#14) first and then see if this proposal provides additional value?

[2017-02-05 22:16] nickgrealy commented on #636
@marcphilipp - thanks for the feedback. I sure do, will make the changes today.

[2017-02-06 15:09] marcphilipp commented on #576
_in progress_

[2017-02-06 15:14] amirhmd commented on #144
Hi there, anybody could tell me how can i contribute in this project?
thanks in advance,
Amir

[2017-02-06 15:30] #576 closed

[2017-02-06 15:46] jbduncan commented on #144
Hi @amirhmd, welcome!

I'd personally recommend you read through [this issue](https://github.com/junit-team/junit5/issues/528) first, in which I suggested a bunch of (hopefully) useful starting points for contributing to JUnit 5.

If, after reading through it, you're still not clear on what or how you could contribute, then please feel free to ask for more help by commenting here again or [raising

[2017-02-06 22:30] nickgrealy commented on #636
Hi @jbduncan, @marcphilipp, @sbrannen,

I've made the changes as suggested (I've also reverted the import re-ordering on `AssertionsDemo.java`)... is there anything else you'd like changed?

1. squash the commits?
2. submit a pull request?
3. sign a `JUnit Contributor License Agreement`?

[2017-02-07 00:52] jbduncan commented on #636
Hi @nickgrealy.

Thank you for taking the time to do this. I'm impressed by the cleanliness of your code, so well done!

Please have a look at https://github.com/nickgrealy/junit5/commit/5d9526ae4d1a74d57fa30a8b3bed9b09de78050c#commitcomment-20774063, where I made some final review comments on both minor nitpicks and small javadoc issues I found in the code.

If you were to fix those, then that wo

[2017-02-07 01:22] nickgrealy commented on #636
@jbduncan - thanks for the feedback! Changes have been made.

[2017-02-07 01:34] jbduncan commented on #636
Thanks, looks good to me now. :)

[2017-02-07 01:48] jbduncan commented on #636
Oh very sorry @nickgrealy, I just noticed two other areas for improvement which I missed the first time round.

1. Would you kindly change [these lines of javadoc](https://github.com/nickgrealy/junit5/blob/efca343faa2cc9db5754911a757be059ec9092ef/junit-jupiter-api/src/main/java/org/junit/jupiter/api/Assertions.java#L1039-L1041) so that the "executable" keywords are surrounded with `{@code [...]}`

[2017-02-07 03:06] nickgrealy commented on #636
@jbduncan - thanks, changes have been made.

[2017-02-07 03:14] jbduncan commented on #636
Thank you very much for bearing with me @nickgrealy - now your changes look _very_ good to me. :)

[2017-02-07 05:45] marcphilipp commented on #636
@nickgrealy Don't worry about squashing. We can do that when we merge. Please go ahead and submit a pull request. Thanks!

[2017-02-07 10:23] #636 closed

[2017-02-07 10:30] marcphilipp commented on #314
Remainder of work is addressed in #644.

[2017-02-07 10:31] marcphilipp commented on #558
@britter Shall we move this issue to Surefire's issue tracker now?

[2017-02-07 10:42] nickgrealy commented on #636
All (@jbduncan, @marcphilipp, @sbrannen), thanks for that. It was far less painful then I anticipated!

[2017-02-07 11:27] marcphilipp commented on #297
_in progress_

[2017-02-07 11:35] marcphilipp commented on #297
I've restructured the wiki a bit, added a custom sidebar, and made it editable by any GitHub user.

[2017-02-07 11:35] #297 closed

[2017-02-07 11:36] marcphilipp commented on #297
The new page documenting third-party extensions is available at https://github.com/junit-team/junit5/wiki/Third-party-Extensions.

[2017-02-07 12:16] marcphilipp commented on #593
First draft of DoD: https://github.com/junit-team/junit5/wiki/Definition-of-Done

@junit-team/junit-lambda Please take a look and let me know what you think. What did I miss?

[2017-02-07 12:59] sbrannen commented on #593
I think that's a great draft. Thanks for putting it together!

The only additional things I can think of at the moment are along the line of...

- ensure preconditions are documented and checked
- follow the defined logging guidelines

[2017-02-07 15:00] jbduncan commented on #297
I'm not sure meeting if editable by any GitHub user is such a good idea.

When I went to try to edit the wiki just now, i found that I had permission to **delete** pages. That sounds rather dangerous to me.

Does GitHub have a mechanism to force wiki changes to be reviewed by someone on the JUnit team before they can be pushed through?

[2017-02-07 16:28] marcphilipp commented on #297
It's all in a Git repo so even when someone deletes something it's not gone forever. We have been using this for JUnit 4 for quite a while and nothing bad has happened so far.

Unfortunately, no.

[2017-02-07 16:48] jbduncan commented on #297
Oh good! In that case I have no problem with the wiki being made publicly editable. Even though there's no mechanism to enforce reviews of potential wiki changes, I'm satisfied knowing that changes can be reverted.

[2017-02-07 18:49] marcphilipp commented on #593
I've added both to the wiki page. Please take another look!

[2017-02-07 19:57] lewisb42 commented on #462
@marcphilipp I got a chance to play with this and I believe it works.  Here is the overview of what I did (to make sure you and I are thinking the same thing):

1. My `@ExtendsWith` extension is packaged inside a JAR library with a file `META-INF/services/org.junit.platform.launcher.TestExecutionListener` with my `SampleTestExecutionListener` implementation referenced inside.
2. I referenced that

[2017-02-07 19:57] #462 closed

[2017-02-07 20:15] marcphilipp commented on #462
Just wondering: What interface besides `TestExecutionListener ` does your `SampleTestExecutionListener` need to implement? In other words, is it necessary to register it using `@ExtendsWith(SampleTestExecutionListener.class)` at all? Or is `MyExtension` ≠ `SampleTestExecutionListener`.

[2017-02-08 15:11] lewisb42 commented on #462
They aren't the same class, though there's no particular reason they couldn't be.  And your question makes me wonder if, at the least, the two objects need to share state. As I re-visit things, the answer, I think, is yes.

So let me give you the specifics of my project and maybe that'll avoid the awkwardness of talking in abstract terms. I'm a CS prof and I'd like to annotate my junit tests with

[2017-02-09 14:48] SqAutoTestTeam commented on #549
Yes I think I can. But could you please show how uniuqeId is composed - I could  not find any info by this link  http://junit.org/junit5/docs/current/user-guide/

Composing  UniqueId by experiment gave the same result
[code]

Tested method is still not invoked.

[2017-02-11 09:50] nicolaiparlog commented on #602
I did not look at the code so this suggestion might not fit the bill, but have you thought about using something a little richer than `Optional` to return errors without falling back to throwing exceptions? Maybe something like [`Try`](http://www.javaslang.io/javaslang-docs/#_try) or [`Either`](http://www.javaslang.io/javaslang-docs/#_either) (these links go to the Javaslang docs - creating a slim

[2017-02-11 09:57] nicolaiparlog commented on #614
Beating a dead horse here... but would this not be an incentive to create an extension point that names tests? Then @brsanthu could create their own `@Test` annotation that does indeed define the test's name. If this seems to be worth pursuing, I can open a new issue.

[2017-02-11 10:56] sormuras commented on #462
...or, if you just want to know the **result** of an executed test:
4. Extend Jupiters [TestExtensionContext](http://junit.org/junit5/docs/snapshot/api/org/junit/jupiter/api/extension/TestExtensionContext.html) with an `Optional<org.junit.platform.engineTestExecutionResult>`?

[2017-02-11 17:17] sormuras commented on #333
in progress

[2017-02-11 18:02] TWiStErRob opened #646 "Namespace potential collisions"
`ExtensionContext.Namespace` is implemented via a `Set`/`HashSet`. This allows for two namespaces to easily collide:
[code]
Intuitively namespaces should nest, meaning the above two are expected to be different. This can be easily fixed by using a List in the impl.

I'm using  https://oss.sonatype.org/content/repositories/snapshots/org/junit/jupiter/junit-jupiter-api/5.0.0-SNAPSHOT/junit-jupiter-a

[2017-02-11 18:06] marcphilipp commented on #646
Hmm, I must admit that I'm a bit surprised by this, too. However, the Javadoc states "The order of the `parts` is not significant.".

@junit-team/junit-lambda Do you remember why this was implemented this way?

[2017-02-12 18:57] marcphilipp commented on #462
@lewisb42 Can you report the annotation information via `publishReportEntry` and do the calculations in your `TestExecutionListener`?

I think that looks like the most simple solution. However, we cannot use `TestExecutionResult` because it's in the platform-engine module and needs to stay there. There's already `Optional<Throwable> getTestException()` in `TestExtensionContext`, though. If we adde

[2017-02-12 19:05] sormuras commented on #462
Is that enum `Status` a member candidate for https://github.com/ota4j-team/opentest4j ?

[2017-02-12 19:06] kcooney opened #648 "Add integration test to ensure Jupiter engine correctly runs tests"
Most of the tests are written in JUnit5-style. This is good in the sense that we want to try out our APIs, but bad because regressions in the framework can cause failing tests to pass or can filter tests entirely. One example was in the initial version of #647 where an incorrect usage of a Stream's `filter()` method removed all tests from being run.

We should have some kind of integration test th

[2017-02-12 19:07] marcphilipp commented on #614
Creating an extension point for naming tests sounds nice but it isn't straight-forward. All current extensions points act during execution. Naming tests happens during discovery, so we cannot provide an `TestExtensionContext`. Maybe I'm think to complicated here but what would we pass an extension to determine the name? I don't want to introduce dependencies to platform modules, so neither `TestId

[2017-02-12 19:09] marcphilipp commented on #602
@nicolaiparlog Thanks for the suggestion! That might indeed be a viable alternative.

[2017-02-12 19:10] marcphilipp commented on #462
Hmm, good thinking! That might work, too.

[2017-02-12 19:21] marcphilipp commented on #549
You shouldn't compose the unique ID yourself. You can select the appropriate `TestIdentifier` from the `TestPlan` that is returned by `discover`. If you look at their `TestSources` you can find the one that corresponds with the method and get its unique ID.

[2017-02-12 22:22] sormuras commented on #648
in progress

[2017-02-13 09:05] nicolaiparlog commented on #614
Sounds too complicated to pursue just on a whim. :wink: I won't open an issue then.

[2017-02-13 09:41] SqAutoTestTeam commented on #549
can select the appropriate TestIdentifier from the TestPlan that is returned by discover.

I did it so. I got it from TestPlan. Then I saved gotten Id to a string and after it I created    UniqueId using gotten data.
As I told you before it gives the same negative result. A method identified by its unique Id is not invoked.

[2017-02-13 15:13] brsanthu commented on #214
Other feature related to this would be,

Ability to re-run the test (if they fail or continuously till user aborts it), automatically based on some annotation. For ex., we are in IDE trying to run all tests. If any tests fail, we want junit or a custom extension to provide a prompt asking to re-run. This is really helpful when we are working with dynamic class reloading tools like Spring reloading

[2017-02-13 15:20] sormuras commented on #214
Like https://www.jetbrains.com/help/idea/2016.3/rerunning-tests.html#rerun_failed_test ?

[2017-02-13 19:22] #648 closed

[2017-02-13 21:40] Jezza opened #650 "Gradle plugin doesn't have any method to pass in test jvm arguments"
I seem to be having an issue with getting JUnit 5 to execute my tests with a given set of arguments.

[code]

The `javaagent` isn't set, and then, naturally, none of my tests pass.

I assume that the task that `JUnit` declares doesn't refer to the test task the `java` plugin declares at all, which I would assume that JUnit 4 did, as this gradle file worked with 4.

If there's a configuration I'm j

[2017-02-13 22:15] sormuras commented on #650
This is how I worked around some missing properties when executing Jupiter-only tests via Gradles' test task: https://discuss.gradle.org/t/junit-5-jupiter-platform-snapshot-console-launcher-task/19773/3

[2017-02-13 22:23] Jezza commented on #650
Oh, nice.

Took me a bit, but I got it working.
Had to change some things, but definitely set me on the right track.

Thanks!

I'll keep the issue open, because it's probably not the best idea to rely on this workaround.

[2017-02-13 22:33] sormuras commented on #650
You're welcome.

Regarding the Gradle plugin, here is the start of design spec for JUnit Platform aka JUnit 5 support in Gradle core: https://github.com/gradle/gradle/issues/1037

[2017-02-14 08:29] #314 closed

[2017-02-14 16:54] mfulton26 commented on #638
I wonder if it might make more sense to actually implement support for dynamic test instances first and then see if paramterized tests provide any value. From what I can tell (please correct me if I am wrong), paramterized tests are specialized dynamic tests and won't support grouping or nesting tests, etc.

[2017-02-14 17:22] brsanthu commented on #214
@sormuras that is re-running the test failed starting from scratch. If that is a integration test (think of spring boot with webenvironment set to random or fixed port), it will take a while to run those tests.

What I was hoping for something like, `@ExtendWith(LoopIfFailed.class)` and if so, if that test fails, it will prompt the user to fix the code and press a key, on which the just that test

[2017-02-14 17:27] sormuras commented on #246
in progress - see initial draft at https://github.com/junit-team/junit5/compare/master...95bab25e7b6d

[2017-02-14 19:18] nicolaiparlog commented on #214
Covered as #642.

[2017-02-15 12:39] sormuras commented on #352
PR #651 adds an interface named `Util` to `ExtensionContext` supplying **extension** authors access to utility methods. That can easily be widend to a general first-class citizen utility API that can be used by both, extension and engine authors.

[2017-02-15 14:09] sormuras commented on #352
Two possible solutions:
1. Mark parts of `org.junit.platform.commons.util.*Utils` with`@API(Maintained)` and compile an overview of stable and maintained assets: https://github.com/junit-team/junit5/issues/144
2. Implement an indirection layer exposing maintained parts of utilities, like https://github.com/junit-team/junit5/compare/issue-246-352-utilities

[2017-02-15 15:48] LiamClark commented on #616
@marcphilipp

One of @avandeursen 's students here, i'm going to give this a shot.
I think i implemented your proposal correctly, now working to get it into the RunListenerAdapter.

[2017-02-15 22:08] smoyer64 commented on #343
@marcphilipp I've started this task and, after thinking through how I'd like it to be organized, wanted to present my thoughts before getting too far ahead.

It's my opinion that those using ```TestRule``` are intimately familiar with the javadocs at http://junit.org/junit4/javadoc/latest/org/junit/rules/TestRule.html (and for the javadocs and examples provided for each of the implementations).  M

[2017-02-15 23:05] smoyer64 opened #652 "Add favicons to the users guide and javadocs web sites"
## Overview

For those of us who always have a lot of tabs open in their browsers, it would make it much easier to get back to the JUnit 5 reference materials.

## Deliverables

- [ ]  Add a favicon to the users guide.
- [ ]  Add a favicon to the javadocs.

[2017-02-16 05:51] marcphilipp commented on #652
Makes sense! Could be achieved by placing a favicon.ico at the root of junit.org (and overriding it for the JUnit 4 website).

[2017-02-16 07:51] sormuras commented on #580
"Out-dated" user guides (and Javadoc) can be annotated with a canonical URL that tells search engines to prefer the latest result. See https://publicobject.com/2017/02/14/canonical-urls-for-javadocs/ for details.

[2017-02-16 08:07] sormuras commented on #352
Skimming http://openjdk.java.net/projects/jigsaw/spec/sotms/ - especially:

makes me wonder, if i could solve this issue ... in the future.

[2017-02-16 13:27] gdiegel opened #653 "Not possible to run multiple methods in one test class"
## Overview

If two or more test methods are selected to be run in a org.junit.platform.launcher.Launcher with the method org.junit.platform.engine.discovery.DiscoverySelectors#selectMethod(java.lang.String, java.lang.String), only the first of them is actually run. It seems that the other methods are removed from the TestDescriptor in org.junit.jupiter.engine.discovery.DiscoverySelectorResolver#p

[2017-02-16 16:14] sormuras commented on #653
Works for me.

If I change the `selectMethod` statements to:
[code]
both are executed as well. Can you try that at your site, please?

[2017-02-16 16:51] gdiegel commented on #653
Hi @sormuras,

I can confirm that either way works with the SNAPSHOT version.

Thanks!

[2017-02-16 17:22] sormuras commented on #653
Just found the entry in the [M4](http://junit.org/junit5/docs/snapshot/user-guide/#release-notes-5.0.0-m4) release notes:

[2017-02-16 17:22] #653 closed

[2017-02-16 20:14] #593 closed

[2017-02-16 20:30] nicolaiparlog commented on #352
This does not really change anything. It just means that you have to pick the packages whose public types are to be accessible but it still requires you to put the feature into a specific class in a specific package.

One thing Jigsaw can do, though, is make `@API(Maintained)` superfluous as, ideally, exactly those types should be accessible to code outside of the Jigsaw modules.

[2017-02-16 20:48] jlink commented on #352
As far as I know Jigsaw can only provide/deny visibility. The `API` annotation is more explicit about the level of support.

[2017-02-16 21:04] jbduncan commented on #352
3. Expose internal parts of the utilities, similarly to (2), but as a new, separate utilit(y|ies) class, to

- allow those methods to be made visible separately from the internal utils if/when Jigsaw is adopted (which is a big problem with option (1)), and
- not tie those utilities to particular classes, as currently done in option (2).

[2017-02-16 22:18] smoyer64 opened #655 "Correct behavior with Throwables in Assertions.assertAll()"
## Overview

While working on the ErrorCollector rule examples for issue #343, I have found a situation that I'm having an interesting time translating from JUnit 4 to JUnit 5.  In that issue I had stated that the functional behavior of the ErrorCollector rule could be accomplished via the Assertions.assertAll() method.  This is not entirely true and the canonical example provided in the JUnit 4 j

[2017-02-16 22:22] jbduncan commented on #655
I think I agree with this change. Of course, one has to be careful not to accidentally catch `OutOfMemoryError`, but I think `org.junit.platform.commons.util.BlacklistedExceptions` can help with this.

[2017-02-16 22:27] sormuras commented on #655
The keyword `throw` in the JUnit 5 is the "unfair" difference. Change the first JUnit 4 to something like:
```collector.addError(throw new Throwable("first thing went wrong")); // pseudo-code ``` and I think, all the others are not executed as well.

Or change the JUnit 5 snippet to something like: ```() -> { assertThrows(() -> throw new Throwable("first thing went wrong");) },``` ... which really

[2017-02-16 22:38] smoyer64 commented on #655
@sormuras You're certainly right, that's an unfair comparison and I typed it up that way without even thinking about it (I copy/pasted the JUnit 4 example).  I think that the equivalent could be done cleanly if we had a static method ```Assertions.fail(Throwable t);```.  The best "equivalent" code I could come up with is:

[code]

This code does indeed result in the same three errors reported by J

[2017-02-17 09:02] sbrannen commented on #650
This is a duplicate of #475.

[2017-02-17 09:02] #650 closed

[2017-02-17 09:51] sormuras commented on #352
### junit-platform-commons

The `package-info.java` of `package org.junit.platform.commons;` states:
[code]

### Usages of `@API(...)` in junit-platform-commons

![usagesofapiannoinplatformcommons](https://cloud.githubusercontent.com/assets/2319838/23058348/d4e5ef60-f4f4-11e6-929d-bae03dc218a8.PNG)

Two are already not `Internal`: the `API` annotation itself and the `Testable` annotation already u

[2017-02-17 10:00] nicolaiparlog commented on #352
@jlink

True. My point was that if something was not `Stable` it should not be accessible. Looking over [the API annotation](http://junit.org/junit5/docs/current/user-guide/#api-evolution-annotations), that doesn't make sense, though, because most other values also allows uses of the class.

But the other way around might work, making exactly `@API(Internal)` classes inaccessible (public in non-ex

[2017-02-17 10:07] sbrannen commented on #352
I vote for this course of action.

[2017-02-17 10:09] jlink commented on #352
Does Jigsaw visibility have finer granularity like allowing / denying
access to a single method?

2017-02-17 11:00 GMT+01:00 Nicolai Parlog <notifications@github.com>:

[2017-02-17 10:15] nicolaiparlog commented on #352
No. Incidentally I'm not convinced that slicing an API so thinly is a good idea anyway. In light of that I came to the opinion that 1. is a bad choice. 2. has limitations as well, so I vote for @jbduncan's 3.:

A "utility gateway" plays well with Jigsaw and does not parade internal methods by users while they are not supposed to call them.

[2017-02-17 10:15] sormuras commented on #352
No, as far as I understand: http://openjdk.java.net/projects/jigsaw/spec/sotms/#accessibility

[2017-02-17 10:26] nicolaiparlog commented on #352
I understand 3. in such a way that internally, JUnit continues to use the Utils as is - nothing changes here. Additionally, everything that external users are allowed to call (effectively everything besides `@API(Internal)`) would be found in that gateway, by which I mean copy-pasting the signature and `@API` annotation and forwarding the method call. The gateway gets exported, the internal utilit

[2017-02-17 10:29] sormuras commented on #352
*(1.)* is only a bad solution (now and in Jigsaw-times), if you want to hide some internals. If you want the opposite, you want to publish and encourage the use of an API, then 1. is good now and in the future.

*(2. and 3.)* only makes sense, if all access modifiers are tuned down to _JUnit 5-private level_ ... which leads to either bridging the tools other packages internally. How do you use `pa

[2017-02-17 10:29] jlink commented on #352
Might work in this case since Util methods are by nature just static
functions. Does not as easily work in a  general way since experimental API
methods might refer to an instance already visible in through the API.

2017-02-17 11:27 GMT+01:00 Nicolai Parlog <notifications@github.com>:

[2017-02-17 10:40] sbrannen commented on #419
FYI: I have added _Proposal_ and _Open Issues_ sections to this issue's description.

[2017-02-17 10:44] sormuras commented on #352
Giving 2 (and 3) another thought, after scanning [Package javax.lang.model.util](https://docs.oracle.com/javase/8/docs/api/javax/lang/model/util/package-summary.html) with focus on [Elements](https://docs.oracle.com/javase/8/docs/api/javax/lang/model/util/Elements.html) and [Types](https://docs.oracle.com/javase/8/docs/api/javax/lang/model/util/Types.html). Here, the implementation is completely h

[2017-02-17 10:52] nicolaiparlog commented on #352
@sormuras

I am sure this will always be true of utilities for a big project like JUnit - hence the invention of `@API(Internal)`. Everything that will be easily available _will_ be used by someone, `@API(Internal)` notwithstanding. Exposing users to such seductive utilities without any intentions to actually maintain them or heeding the user's opinions when taking them away is just mean. 😈

... y

[2017-02-17 10:56] sormuras commented on #352
That's the point of solution 1. -- *Utils *are* public, just about to change the API marker from _Internal_ to ... bold move, *Stable*.

[2017-02-17 11:12] nicolaiparlog commented on #352
They are not really _public_, they are just `public`. :wink: Because Java does not really give you any option here (at least not until July), you have to use `public` but that does not mean that they are supported API. **If** they are (and I doubt that but that's just my opinion without having looked at them), then sure, go ahead. But as soon as you want to use `Internal` for the first time you wi

[2017-02-17 11:23] marcphilipp commented on #352
As the Javadoc on `@API` indicates: We can still add `@API(Internal)` to methods in `AnnotationUtils` that we don't want to be used.

[2017-02-17 11:28] nicolaiparlog commented on #352
I know you _can_ the question is whether you _should_ if it can be avoided. If one out of ten methods is internal, then publishing all of them is fine. If nine out of ten methods are internal, then publishing all is just cruel.

[2017-02-17 11:35] marcphilipp commented on #655
I think adding `Assertions.fail(Throwable)` would be the a clean and consistent solution. IMHO `assertNotThrowing` sounds to much like `assertThrows`.

[2017-02-17 11:43] sormuras commented on #352
Going the `public` is _public_ way till the end, within the entire `junit-platform-commons` module (read: all declared packages in it) should not contain a single use of `@API(Internal)`. It's first-class member like `java.util` is to the JDK. You are encouraged to use it. You don't have to. As long the platform and Jupiter and Vintage are using those tools -- I consider them maintained.

If some

[2017-02-17 11:43] jbduncan commented on #352
Yep, that's exactly the idea I had when I suggested 3. as an option.

I admit I'm struggling to see what's so bad with this idea, especially in light of Jigsaw where, AFAICT, something like this would be needed if JUnit 5 ever decides to adopt Java 9+ or modules.

@sormuras @jlink, can you kindly explain to me again why you think it isn't such a good idea?

[2017-02-17 11:49] jbduncan commented on #352
I ain't convinced by this. :wink:

With the introduction of Jigsaw, `public` no longer means "truly public", it just means "public (accessible) **if it's exported from a module**".

Unfortunately or not, the smallest "things" that can me made "truly public" in Jigsaw are classes. Hence I suggested 3. as a way of exporting a "gateway" of methods in `AnnotationUtils` and other static utils classes t

[2017-02-17 11:56] nicolaiparlog commented on #352
You are aware that `java.util` uses a lot of internal types, right? Package-private classes, public classes from `sun.*`, from `com.sun.*`, from `jdk.internal` - none of them are supported APIs. In fact, that it seems that `java.util` is all public is making my point for me: It presents a shiny gateway to the interconnected web of supported and internal APIs.

But _maintained_ means they can be ch

[2017-02-17 12:15] sormuras commented on #352
@nicolaiparlog You're argument regarding `java.util` can also be re-turned into one supporting the _public_ approach: public members of `ReflectionUtils` is the shiny gateway to the internal types of `ClasspathScanner` and `CloseablePath`.

I do like both solutions. I will favor the simpler one, which achives the goal of having a set of common platform utilities usable by any (internal and externa

[2017-02-17 12:33] jlink commented on #352
If I'm going to write a test engine today I can use all of junit-common fully aware that it might and probably will change in future releases. If you lock it away and don't publish everything I need I'll have to duplicate logic with a chance of creating inconsistent behaviour. The hiding is just not worth it IMO and brings potential problems. Focus on the tools that evaluate the correct usage of A

[2017-02-17 12:55] smoyer64 commented on #655
@marcphilipp

I was about to disagree with you, arguing that ```assertNotThrowing()``` is the logical negative of ```assertThrows()``` and that ```fail(Throwable)``` is unconditional but ...

If you think about the kind of tests we'd build with ```assertAll()``` or that were built using the ```ErrorCollector```, the JUnit 4 example is pretty contrived.  We rarely *only* test that an Executable doe

[2017-02-17 12:55] #655 closed

[2017-02-17 13:02] smoyer64 opened #656 "Feature: Add fail methods that accept Throwable to Assertions"
## Overview

- (X) **Feature request.** See issue #655.  As discussed in issue #655, providing ```Assertions.fail()``` methods that accept parameters of type ```Throwable``` provides convenience for certain test patterns.

## Deliverables

Add the following methods to the ```Assertions``` class:

- [x]  ```Assertions.fail(String message, Throwable cause);```
- [x]  ```Assertions.fail(Throwable cau

[2017-02-17 13:09] smoyer64 opened #657 "New issue template promotes incorrect task counts"
## Overview

I used the new issue template when creating issue #656 and, for brevity deleted all the sections except for "Feature request" and deliverables.  Upon submission I noticed that the tasks completed shows "1 of 3" due to the inclusion of the checkbox next to "Feature request".

- [X] **Bug report.** And now this issue will exhibit the same problem

## Deliverables

- [ ] Replace the chec

[2017-02-17 13:17] jbduncan commented on #352
Certainly!

I've provided links below to my comments on the draft:
- https://github.com/junit-team/junit5/commit/76e799795102ce8991b76b1f1d00af81da727590#commitcomment-20930421
- https://github.com/junit-team/junit5/commit/76e799795102ce8991b76b1f1d00af81da727590#commitcomment-20930423
- https://github.com/junit-team/junit5/commit/76e799795102ce8991b76b1f1d00af81da727590#commitcomment-20930429
- h

[2017-02-17 13:48] smoyer64 opened #658 "AssertionFailedError interrupts test tree in Console and Gradle"
## Overview

- (X) **Bug report.** When assertions fail during a test run and provide a multi-line message (as is common with the Hamcrest assertions and matchers, the test tree is interrupted when running via the console or Gradle.  This problem is also seen when ```assertAll()``` throws a ```MultipleFailuresError```.  The example below demonstrates both these failure conditions:

[code]

The out

[2017-02-17 14:17] jbduncan commented on #352
Hi @jlink,

That's a good point I think. Perhaps we should wait until good tools for validating `@API` usage appear?

I think we'll have to agree to disagree, because IMO clear separation of concerns via API hiding is more important than code duplication in this case. :)

[2017-02-17 14:38] #657 closed

[2017-02-17 14:40] jlink commented on #352
Sure. YMMV. The JUnit 5 team will decide.

2017-02-17 15:17 GMT+01:00 Jonathan Bluett-Duncan <notifications@github.com>
:

[2017-02-17 14:46] marcphilipp commented on #658
Thanks for opening the issue! I'm putting it _up-for-grabs_ for now. Do you want to give it a go?

[2017-02-17 14:46] marcphilipp commented on #656
Thanks for opening the issue! I'm putting it _up-for-grabs_ for now. Do you want to give it a go?

[2017-02-17 14:54] marcphilipp commented on #352
I can see two advantages of introducing a gateway (as detailed out in https://github.com/junit-team/junit5/issues/352#issuecomment-280646629). First, we could eventually use Jigsaw to hide the utils package that contains the implementations. Second, it would be very clear which utility methods are available to be used in third-party code. We would still have to be very careful when modifying the i

[2017-02-17 14:59] marcphilipp commented on #343
I think that's a very good approach. Please proceed! 🙂

[2017-02-17 15:03] smoyer64 commented on #658
@marcphilipp ... I'm working on #343 at the moment (could you review what I've proposed) and had also started on #144.  Since #343 is still slated for the M4 release I'd like to finish that work before I commit to any further fixes.  After that I'd be happy to pick off some of the up-for-grabs (I may need to add the ```fail()``` methods in #656 to finish #343 though).

[2017-02-17 15:05] smoyer64 commented on #656
Yes ... you can assign this one to me as I think it will help me complete #343.

[2017-02-17 15:07] smoyer64 commented on #343
Full steam ahead ... I think I'll open a PR that's linked to this issue and my fork so that it's easier for the team to review my work.  I'll mark it WIP so that it's clear that it shouldn't be merged yet.

[2017-02-17 17:19] smoyer64 opened #659 "Vintage engine does not report multiple errors collected by ErrorCollector"
## Overview

- (X) **Bug report.** When JUnit 4 tests are run using the vintage engine, failures collected by ```ErrorCollector``` are not reported as a list of failures as shown below.  Test code for this issue is provide in the javadocs for the JUnit 4 ```ErrorCollector``` at http://junit.org/junit4/javadoc/latest/org/junit/rules/ErrorCollector.html.

[code]

## Deliverables

- [ ]  All failures

[2017-02-17 17:23] sormuras commented on #658
As I'm still mentally inside the tree-rendering topic, I assigned this issue to myself.

[2017-02-17 18:52] sormuras commented on #658
The [VerboseTreePrintingListener](https://github.com/junit-team/junit5/blob/master/junit-platform-console/src/main/java/org/junit/platform/console/tasks/VerboseTreePrintingListener.java#L128) already handles the multiline detail message. Will move some of that logic up the hierachy.

[2017-02-17 21:18] smoyer64 commented on #343
I've created PR #660 to track the work I'm committing towards this issue and added a more detailed task list to the **Deliverables** section.  If you see anything missing, please edit the description or leave a comment.

[2017-02-18 17:00] marcphilipp commented on #659
Thanks for reporting! This is indeed a bug in the Vintage engine. JUnit 4 special-cases `MultipleFailureException` and calls `RunListener#testFailure()` once for each failure. With the Platform's `EngineExecutionListener` it's not possible to report multiple failures separately. Thus, I see the following options:

1. Call `Throwable#addSuppressed` on the first exception with all remaining exceptio

[2017-02-18 17:44] smoyer64 commented on #659
My opinion?

I think I'm more in favor of (3) above as it uses the ```MultipleFailuresError``` directly which is how the equivalent code in JUnit 5 works.  I had noted that as I was writing the vintage and jupiter demo code for ```ErrorCollector``` that I realized the example in the javadocs was very contrived.  I actually like how the JUnit 5 code works better so I'd suggest the following:

1.  F

[2017-02-18 18:29] gaganis commented on #659
Hello all!

This issue has a pretty straightforward spec, even though @marcphillips comment hints the implementation to be more interesting. I was watching for something that I could maybe try tackling.

Is this up for grabs?

Thanks
Giorgos

[2017-02-18 18:31] marcphilipp commented on #659
Thanks for the offer! Please wait until we've decided how to implement it, though.

[2017-02-19 01:18] smoyer64 opened #663 "Test tree prints ReportEntry(ies) outside the hierarchy"
## Overview

When printing the test tree results via Gradle or the console runner, ```ReportEntry``` rows are printed before their corresponding tests.  In the following example, I've hacked multiple ```ReportEntry``` rows into the ```TimingExtension``` to better illustrate the issue:

[code]

- (X) **Bug report.** The test method name is still rooted to the test class name via the tree's connecti

[2017-02-19 01:28] smoyer64 opened #664 "Test tree printer should not continue connection lines past terminal nodes"
## Overview

The tree printer continues hierarchy connection lines past terminal nodes as shown below:

[code]

- (X) **Bug report.** It's conventional to use the lower-left corner character to indicate that a node is the last node in a particular level of the hierarchy.

## Deliverables

- [ ] Detect the last node in a given level of the hierarchy and use the lower-left corner character (extended

[2017-02-19 01:37] smoyer64 opened #665 "Add alternate runners for the documentation examples"
## Overview

It should be easy for new JUnit 5 users to execute the examples provided in the documentation project.  Current it's easy to run these demos and tests using the Gradle runner by executing the following command in the parent project:

[code]

- (X) **Feature request.** We should make it just as easy for Maven and Console users to execute these tests and to view the output provided by t

[2017-02-19 01:45] sormuras commented on #663
@smoyer64 Thanks for the thorough analysis. I'll look into the issues next week, but the current **tree** implementation focusses on being simple:

- print events immediatly (don't buffer at all)
- don't look ahead of execution (no chance to know if you're the last test in a container)
- don't use ANSI controls to move the cursor around

The **verbose** tree is doing a better job in displaying thi

[2017-02-19 01:55] smoyer64 commented on #663
@sormuras I certainly don't mean to minimize all the work that's gone into the current tree printer ... it's a tough problem - this article was recently posted to HackerNews: https://pcmonk.wordpress.com/2014/04/01/why-dont-we-have-a-general-purpose-tree-editor/.  I won't argue with your third bullet as it adds a whole layer of complexity (and test output should be more like output to a line print

[2017-02-19 17:39] smoyer64 opened #666 "Test tree printer emits extraneous characters"
## Overview

The test tree printer emits extraneous characters when an ```Extension``` uses the ```ExtensionContext.publishReportEntry()``` method.  The sample code below exhibits this problems when added to the documentation examples and included in a test via ```@ExtendWith```:

[code]

In this case, the output contains the following snippet:

[code]

Note the extra **formTest** next to the chec

[2017-02-19 18:05] sormuras commented on #666
Good catch. Are you using more than one thread for execution? Ah, you do: `timeout...`-assertion do thread-y things. Does it too happend, when just execute _plain_ in-thread assertions?

[2017-02-19 18:11] sormuras commented on #663
It all goes down the same road that every console output does, when it doesn't care about synchronization: http://stackoverflow.com/a/9459886/1431016 -- see #666 "the threaded number of the beast" (-:

[2017-02-19 18:41] smoyer64 commented on #666
Hmm ... I don't know as I just added the two classes above to the documentation:junitPlatformTests.  I added ```@Disabled``` to the top-of-class for ```AssertionsDemo```, ```TimingExtensionTests``` and my as yet unmerged ```TimeoutJupiterDemo``` and the problem still happens.  I'm pretty sure that eliminates all the places where a thread is spawned to watchdog a test's run-time.  I've got timing i

[2017-02-19 18:43] smoyer64 commented on #663
Haha ... I chuckled to myself when that issue was assigned #666 as it seemed really appropriate.  I wonder if we'd say that regardless of what issue won that lottery though.

[2017-02-19 20:02] sormuras commented on #666
[code]
Right-padded to column 50? How is that possible... by chance? Can you please rename `performanceTest(Stopwatch)` to `t(...)` and share the result?

[2017-02-19 21:01] smoyer64 commented on #666
I have no idea how that's possible ... 0x50 is 80 so is it possible someone tried to truncate to 80 columns and got the wrong base?  In any case, I didn't rename the test but rather copied it while giving it a shorter and a longer name.  I think you nailed it:

[code]

It sure looks like something is reusing a buffer somewhere though!

[2017-02-19 21:35] smoyer64 commented on #666
I thought that I should actually make sure a really long name works okay ... here's one more test added to those above:

[code]

As you can see, the name itself is longer than 50 characters and does **not** get truncated.

[2017-02-19 22:28] #658 closed

[2017-02-19 22:38] sormuras commented on #666
Hm, why doesn't it happen to:
[code]
?

[2017-02-19 22:39] sormuras commented on #666
Ah! `n:junitPlatformTest` ... the double point indicates that some Gradle task is getting between us.

[2017-02-19 23:26] smoyer64 commented on #666
I had assumed that the "n" was the last character of documentation but didn't think about Gradle being multi-threaded (and contending).

[2017-02-20 00:17] sormuras commented on #658
@smoyer64 This should be fixed with #667 - can you please verify? Thanks in advance.

[2017-02-20 00:48] smoyer64 commented on #658
**CONFIRMED**

I commented out line 30 of the ErrorCollectorJupiterDemo (```@extensions.ExpectToFail```) and now see the following output when the ```assertAll()``` method is executed:

[code]

[2017-02-20 02:29] smoyer64 opened #668 "Add boolean disableOnDebug to @ExtendWith"
## Overview

When analyzing the existing JUnit 4 ```TestRules``` in #343, I completely missed the point of the ```DisableOnDebug``` rule.  It's purpose is to disable the encapsulated rule when the JVM is in debug mode and it has nothing to do with which tests are selected for execution.

- (X) **Feature request.** I'd like to propose that there's an additional member added to the ```@ExtendWith```

[2017-02-20 06:25] sbrannen commented on #333
Reopening this issue.

Adding `@Test` to `org.junit.jupiter.engine.bridge.AbstractNumberTests.test(N)` causes the _overridden_ test method to be executed alongside the overriding test method in subclasses.

[2017-02-20 09:35] sormuras commented on #333
This is due to a bug in `ReflectionUtils#isMethodShadowedBy(Method upper, Method lower)`. It should check for whether the signature of one method is a subsignature of another as specified here: https://docs.oracle.com/javase/specs/jls/se8/html/jls-8.html#jls-8.4.2

[2017-02-20 10:51] sormuras commented on #666
The **bright white** also points to Gradle console output.

I tend to close this issue as: won't fix

[2017-02-20 11:29] smoyer64 commented on #666
I haven't tried this via the CLI ... since both use the console runner I simply expected the same behavior and it's easy (within the junit5 project) to run the tests via Gradle.  I am a little curious why this only seems to happen when a ``` ReportEntry``` is emitted from an ```Extension``` and not when a ```ReportEntry``` is emitted by a test.

[2017-02-20 14:00] #663 closed

[2017-02-21 18:42] LymanEfunktion opened #671 "Introduce a top-level ExtensionContext for the JupiterTestEngine"
## Feature Request

When using the available extension contexts in test runs with extensions like `BeforeAllCallback` and `BeforeTestExecutionCallback`, it only seems possible to use these contexts during one test and lose all context information in following test runs.

Trying to use the parent context of an instance of `ContainerExtensionContext` in a `beforeAllCallback` leads to an empty `Optio

[2017-02-22 10:20] marcphilipp commented on #646
Team decision: Change implementation to use `List` instead of `Set`.

[2017-02-22 10:45] marcphilipp commented on #659
Team decision:
- Change `org.opentest4j.MultipleFailuresError` to support `Throwables` instead of `AssertionError`
- Fix Vintage Engine to store multiple failures instead of just the last one

[2017-02-22 11:24] smoyer64 commented on #671
Having a top-level context available for the duration of the engine would help with creating @BeforeSuite and @AfterSuite (#456).

[2017-02-22 11:58] marcphilipp commented on #668
We're currently reluctant to add the `disableOnDebug` parameter to `@ExtendWith` because the only use case we could think of is disabling a timeout extension -- which does not exist (yet?). I think we should postpone this feature until we add such an extension, if at all.

We currently only support timeouts via `assertTimeout*` in `Assertions`. Adding the possibility to disable the timeout there m

[2017-02-22 12:05] #656 closed

[2017-02-22 12:14] smoyer64 commented on #668
I agree completely ... when trying to document this ```@Rule``` I was a bit surprised at what it was actually doing.  I've never used this feature nor have I ever seen tests where it was used.  I'd suggest we move this issue to the backlog and pull my PR (#669) into a "parking" branch.  I feel like I found the right spot in the code for this implementation but it also felt a little dirty.

For dis

[2017-02-22 12:59] gaganis commented on #659
Thanks @marcphilipp for the implementation details.

I am starting to look into this. :)

[2017-02-22 13:17] marcphilipp commented on #508
Team decision:

- Remove `isContainer()` from `TestDescriptor` and `TestIdentifier` (maybe deprecate it as a first step).
- Add `willRegisterTests()` (or a better name) to `TestDescriptor` and `TestIdentifier`.
- Remove `hasTests()` from `TestDescriptor` (deprecate first)
- Change pruning to use `isTest() || willRegisterTests()`.

[2017-02-22 13:54] marcphilipp commented on #352
Team decision:

Introduce `org.junit.platform.commons.support.AnnotationSupport` and `org.junit.platform.commons.support.ReflectionSupport` annotated with `@API(Maintained)`.

[2017-02-22 13:54] smoyer64 opened #672 "Introduce extension API for creating the test instance"
## Overview

The javadocs for the JUnit 4 [```TestRule```](http://junit.org/junit4/javadoc/latest/org/junit/rules/TestRule.html) states:

I currently have a JUnit 4 rule that uses this ability to replace the framework's provided instance with one that has been initialized via JavaEE CDI (Weld) but this isn't currently possible with JUnit 5.  The ```MockitoExtension``` post-processes the instance p

[2017-02-22 14:09] Vazzilena opened #673 "Cannot create Launcher without at least one TestEngine"
Hey,

I am running the following in gradle:

junitPlatform {
filters {
engines {
include 'junit-platform', 'junit-vintage', 'junit-jupiter'
}
tags {
include 'categories.TestClassifier.ReliableIntegrationTest'
}
}
}

I believe I have configured the dependencies correctly:

dependencies {
classpath (
"org.junit.platform:junit-platform-gradle-plugin:1.0.0-M3",
)
}

apply plugin: "org.junit.platform.g

[2017-02-22 14:11] marcphilipp commented on #246
see https://github.com/junit-team/junit5/issues/352#issuecomment-281675170

[2017-02-22 14:13] smoyer64 commented on #672
The weld team has responded:

[2017-02-22 14:19] marcphilipp commented on #673
Apparently, the engines are not on the `testRuntime` classpath. Please add them to the `testRuntime` configuration instead of `externalLibraries` as documented in the [User Guide](http://junit.org/junit5/docs/current/user-guide/#running-tests-build-gradle-engines-configure).

[2017-02-22 14:20] nicolaiparlog commented on #668
@smoyer64 I also wondered about a more general `@DisabledIf` extension. If you have a concrete idea, feel free to open a PR on [JUnit Io](https://github.com/CodeFX-org/junit-io).

[2017-02-22 14:21] jlink commented on #352
Any support for classpath scanning?

[2017-02-22 15:57] Vazzilena commented on #673
I added testRuntime.extendsFrom (compile) and I get the same error.
(Actually I read the user guide initially and tried it before posting here)

[2017-02-22 16:15] marcphilipp commented on #673
Can you add `println sourceSets.test.runtimeClasspath.files` to your build.gradle for debugging purposes and post its output here?

[2017-02-22 17:30] sormuras commented on #664
Will be implemented with the caveat that the tree is no longer printed immediately. The two other details modes, namely `FLAT` and `VEROSE`, will remain as-is.

[2017-02-22 19:49] marcphilipp commented on #558
I've opened an issue on Surefire's JIRA project:
https://issues.apache.org/jira/browse/SUREFIRE-1337

[2017-02-22 19:49] #558 closed

[2017-02-22 20:32] sormuras commented on #352
@jlink Which methods exactly do you have in mind?

[2017-02-22 20:47] smoyer64 opened #675 "Create a quasi-official JUnit 5 extensions project/repository"
## Overview

It turns out that @nicolaiparlog and I have both created Github repositories (https://github.com/CodeFX-org/junit-io and https://github.com/selesy/junit5-extensions respectively) with the intention of curating, enhancing and promoting community-developed JUnit 5 ```Extension```s.  This morning (my time at least) we started discussing the idea of merging our projects and sharing the wo

[2017-02-22 20:50] Vazzilena commented on #673
The runtime configuration gets printed after >>>>>>>>>>>>.
As far as I see the references are correct....

Using Gradle home..........C:\Users\vatre\.gradle\wrapper\dists\gradle-3.3-bin\esqunkrn5a2dzwqfbsdmmdgqf\gradle-3.3
Using Gradle user home.....C:\Users\vatre\.gradle
Validation unsuccessful for property "name" in project "UniversalMessaging" with value "UniversalMessaging"; validation pattern

[2017-02-22 20:59] jlink commented on #352
[code]

I wasn't aware that they have corresponding methods in ReflectionUtils, though. So it's probably covered by the team decision.

[2017-02-22 21:09] smoyer64 opened #676 "Create two versions of the javadocs - link to the API from the users guide"
## Overview

```@Test``` writers as well as ```Extension``` developers shouldn't be using classes outside of ```org.junit.jupiter.api.*```.  While introducing developers of both ilks to JUnit 5, I've found that it would be far easier to have the javadocs they're using for reference to the users guide.  Since the users guide provides content that almost exclusively deals with the API, it should pro

[2017-02-22 21:12] jbduncan commented on #676
Sounds like a very good idea to me!

[2017-02-23 07:36] britter commented on #558
@marcphilipp sorry for the late reply. Yes I think it would be good to move all issues related to the provider code to the Apache JIRA. Thank you!

[2017-02-23 07:36] britter commented on #558
And you just created issue number 1337 😎

[2017-02-23 07:37] marcphilipp commented on #558
No worries. 🙂

Indeed. 😎

[2017-02-23 08:13] sormuras opened #678 "Remove deprecated members"
## Overview

Changes like #620 created `@Deprecated` members. They should be removed in M5 or in GA.

Scope: entire source tree or public API?

## Deliverables

- [x] Scan for deprecated members and remove them.

[2017-02-23 08:22] sormuras opened #679 "Make Jupiter tests package private"
## Overview

Apply JUnit Jupiter feature supporting package private test classes and methods to our Jupiter tests.

Example: https://github.com/junit-team/junit5/blob/master/junit-jupiter-engine/src/test/java/org/junit/jupiter/engine/DefaultMethodTests.java#L31

## Deliverables

- [ ] Remove `public` from all Jupiter test classes and methods.

[2017-02-23 12:16] sankarpadhy opened #680 "@selectpackages and @selectclasses are not working in maven test"
## Overview

`@SelectPackages` and `@SelectClasses` tags are not getting parsed with maven test command.Though it is working fine in IDE.

- ( ) **Question.** http://stackoverflow.com/questions/42392512/running-test-suite-is-not-working-in-junit5-through-maven
-
## Deliverables

- [ ] ...

[2017-02-23 12:27] marcphilipp commented on #680
I've posted a response on StackOverflow:
http://stackoverflow.com/a/42415749/6327046

Does that help?

[2017-02-23 12:44] sankarpadhy commented on #680
no, it is not working.

here is my pom.xml

[code]

Please note that I have removed the surefire. It did not run my tests:-

-------------------------------------------------------
 T E S T S
-------------------------------------------------------
Running com.authentic.suite.AllSuiteTests
Tests run: 0, Failures: 0, Errors: 0, Skipped: 0, Time elapsed: 0.011 sec - in com.authentic.suite.AllSuiteTes

[2017-02-23 14:37] smoyer64 opened #681 "Introduce junit-platform-suite-api module"
## Overview

Move the following Java types to a new `junit-platform-suite-api` module.  These types will be useful to many engine developers and, other than the references to `@RunWith(JUnitPlatform.class)` in the javadocs, should not be tied to the vintage `Runner`.

-   ExcludeClassNamePatterns.java
-   ExcludeEngines.java
-   ExcludePackages.java
-   ExcludeTags.java
-   IncludeClassNamePattern

[2017-02-23 15:58] marcphilipp commented on #680
Can you please check the Surefire report files for any (logging) output? They should be in `target/surefire-reports`.

[2017-02-23 16:17] sankarpadhy commented on #680
![file----c--source-authentic-tests-target-site-surefire-report h](https://cloud.githubusercontent.com/assets/2771130/23267742/a6b07102-fa11-11e6-862e-7156410eb952.jpg)

[2017-02-23 16:55] sankarpadhy commented on #680
Hey, it is working now.. This is the final POM
`<project xmlns="http://maven.apache.org/POM/4.0.0" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://maven.apache.org/POM/4.0.0 http://maven.apache.org/xsd/maven-4.0.0.xsd">
	<modelVersion>4.0.0</modelVersion>
	<groupId>com.howtoprogram</groupId>
	<artifactId>junit5-test-suite-example</artifactId>
	<version>1.0-SNAPSHO

[2017-02-23 16:55] #680 closed

[2017-02-23 19:36] marcphilipp commented on #680
Glad it's working now! 🙂

[2017-02-23 20:28] honza-zidek opened #683 "Close the stream in org.junit.jupiter.engine.descriptor.TestFactoryTestDescriptor#invokeTestMethod()"
## Overview

The stream received by a @TestFactory method should be closed after all the tests have been run.

## Motivation

Currently, if you wish to create dynamic tests based on the data from file, you cannot call the following:

[code]
because the stream represented by `Files.lines()` is a file-system-based resource and must be closed.

Unfortunately we cannot just use
[code]
as the source st

[2017-02-23 20:37] marcphilipp commented on #683
Good catch!

Agreed. Do you have time to do it?

[2017-02-23 20:39] marcphilipp commented on #665
Is this really necessary as we already have example projects for Gradle and Maven? I'm not sure I want to maintain this... If we do, we need some integration test that ensures that we don't accidentally break it.

[2017-02-23 20:42] LiamClark commented on #683
@honza-zidek @marcphilipp if not I wouldn't mind having a look at it :)

[2017-02-23 20:42] marcphilipp commented on #676
Makes sense!

[2017-02-23 20:43] marcphilipp commented on #676
I'm putting this "up-for-grabs". However, it would be a good idea in this case to discuss how exactly the URLs should look like etc. here before starting.

[2017-02-23 20:44] marcphilipp commented on #673
Have you tried adding them to `testRuntime` instead of `externalLibraries` directly? If so, we could exclude that potential cause...

[2017-02-23 20:47] marcphilipp commented on #675
Makes sense IMHO if these extensions are small and there are designated curators (as you suggested). Otherwise, finding a release strategy and keeping consistency would be very hard.

@junit-team/junit-committers What do you guys think?

[2017-02-23 20:54] marcphilipp commented on #672
This has been discussed in #203. As stated there, I think replacing would be potentially dangerous. So a way out would be a new extension point as proposed by @sbrannen:

[2017-02-23 20:54] marcphilipp commented on #672
@junit-team/junit-committers What do you think?

[2017-02-23 20:56] marcphilipp commented on #668
Well, `@EnabledIf`/`@DisableIf` would enable/disable the test completely. The point of `DisableOnDebug` seems to be that the test is executed as normal but only certain rules are turned off.

[2017-02-23 20:58] nicolaiparlog commented on #683
If I didn't miss anything the call to `close` should go into [`TestFactoryTestDescriptor::invokeTestMethod`](https://github.com/junit-team/junit5/blob/73f3eeb436e78226f19554f2c2b5dab63e103670/junit-jupiter-engine/src/main/java/org/junit/jupiter/engine/descriptor/TestFactoryTestDescriptor.java#L91-L92).

[2017-02-23 20:59] marcphilipp commented on #683
Yep.

[2017-02-23 21:16] honza-zidek commented on #683
@LiamClark I'd appreciate if you do it! I am just an observer here and I have not changed any code here yet.

[2017-02-23 21:27] smoyer64 commented on #672
I've read issue #203 before and for some reason it didin't register to me that this issue is describing the same problem.  Sorry for duplicating an old issue!

If you want to close this as a duplicate, I'll add a comment on #203 indicating that JavaEE CDI (assuming the implementation provides no custom API) also requires the ability to be a test instance producer/provider.  And I agree whole-heart

[2017-02-23 23:26] #246 closed

[2017-02-23 23:27] sormuras commented on #352
Closed by https://github.com/junit-team/junit5/commit/086c13b8ab8138611111cd77039b7937e0a20a96

[2017-02-23 23:27] #352 closed

[2017-02-24 07:38] jlink commented on #352
Looks like some of the needed stuff from ReflectionUtils is missing in ReflectionSupport, e.g. `findMethod|s`, `isStatic/Private/Abstract`. Especially the hierarchical method finding is hard to implement if one wants to mimick Jupiter's behaviour. Anyone doing that would probably come out with "just a little difference".

All of that I just used yesterday when implementing a very simple test engin

[2017-02-24 07:52] sormuras commented on #352
Candidates, which depend on Jupiters' way of implemetation:

- Optional< Method > **findMethod**(Class<?> clazz, String methodName, Class<?>... parameterTypes)
- List< Method > **findMethods**(Class<?> clazz, Predicate<Method> predicate, MethodSortOrder sortOrder)

The one-liners coping with element modifiers are ... are to fly-weight and straight-forward to be "supported" by the Platform.

[2017-02-24 08:08] Vazzilena commented on #673
Yep, I tried that although I think these configurations extend each other (testRuntime extends testCompile, which on its side extends compile).

I am attaching my setup (build.txt is my build.gradle file, output.txt is the ouput of the 'gradlew build eclipse' command, and gradle.classpath.txt is where I printed the output of the configuration)

[gradle.classpath.txt](https://github.com/junit-team/

[2017-02-24 13:59] smoyer64 opened #685 "Non-public types should have @API(Internal)"
## Overview

- (X) **Consistency.**

The javadocs for @API states:

It occurs to me that a public class with only non-public constructors is effectively internal whether or not the API annotation says so.  Classes in this state could however have public static members with API annotations that are not internal-only.

Clarifying the precise rules for the API annotations use is important for the com

[2017-02-24 16:05] TimvdLippe commented on #675
This was also discussed in https://github.com/junit-team/junit5/issues/321 For Mockito this still is an open question where we put our extension.

[2017-02-24 16:24] smoyer64 commented on #675
@TimvdLippe

Since the Mockito project provides already provides a JUnit 4 ```@Rule``` I guess I would have expected the Mockito ```Extension``` would be part of Mockito.  If I were one of the curators, I'd tend to prefer hosting  small utility extensions and would want to avoid being the mediator between two much bigger projects (in this case JUnit and Mockito).

I'm not trying to single out Mock

[2017-02-24 17:45] kcooney commented on #675
I am fine with junit-team hosting a repository of smaller general utilities
if we have dedicated maintainers. I also agree that libraries like Mockito
and Spring should ideally host their own extensions.

In the past, we have avoided having JUnit itself have many extensions (even
general-purpose extensions) is that 1) it makes the platform large, 2)
JUnit tends to be conservative about making brea

[2017-02-24 19:05] sormuras commented on #513
I'm still convinced, that `LOG.debug()` (or `LOG.config()`) is sufficient when detecting available test engines. As long as the "no engines found" case yields a `LOG.error()` or an exception to be thrown, everything's fine.

[2017-02-24 19:06] smoyer64 opened #687 "Introduce an extension point to allow test container creation"
## Overview

- (X) **Feature request.**

When implementing a JUnit 5 extension to provide ```@Suite```, ```@BeforeSuite``` and ```@AfterSuite```, I had to create a new test engine that recreates a lot of the discovery mechanisms already provided by the Jupiter test engine.  Ultimately the test execution is delegated to a specified engine, so all this engine really does is alter the way discovery w

[2017-02-24 19:10] smoyer64 commented on #513
I know you avoid having additional dependencies in JUnit but if you use the slf4j-api, those who want to enable logging can do so just by putting an implementation on their classpath.  Otherwise the NOP implementation will eat the output.

[2017-02-24 19:38] sormuras commented on #513
Period. ;-)

It's only a single logger usage within the entire JUnit 5 sources that is a bit ... loud.

[2017-02-24 20:04] marcphilipp commented on #685
Our original intend was to mark classes that are visible to third-party code (i.e. classes declared as `public`) with `@API`. All other classes are invisible and therefore do not need to be marked as `@API(Internal)`. Why should we mark them?

[2017-02-24 20:08] marcphilipp commented on #673
I see that you have set `sourceCompatibility` and `targetCompatibility` set to 1.7. However, JUnit 5 requires a Java 8 runtime.

[2017-02-24 20:11] marcphilipp commented on #672
No worries! Let's keep this issue open as we've now identified a use-case where this extension would actually suffice.

[2017-02-24 20:13] smoyer64 commented on #685
That sounds like a great clarification to the API usage and can certainly be codified into the API tools.  If you take a look at ``` JavaElementsResolver```, it's not public and has no public members, yet it's marked as ```@API(Experimental)```.  If I understand what you're saying correctly, that class should either have the ```@API(Internal)``` annotation or it should have the API annotation remo

[2017-02-24 20:15] marcphilipp commented on #685
I think it's marked as experimental by default. Maybe it was public during development and the annotation was simply forgotten when the public keyword was removed. Having an API tool check for such illegal usage patterns would be great... 😉

[2017-02-24 20:21] smoyer64 commented on #672
It's always amazing to me how real-world use-cases tend to clarify the problem you're trying to solve.  I hope I'm not being too extreme these last few days ... I'm not here to offend anyone (and if fact I'm a huge cheerleader when it comes to JUnit 5).

Saying no, in general, won't offend me at all, and the junit-team has never ignored any of the use-cases I've offered.  Not yet or no but <altern

[2017-02-24 20:25] marcphilipp commented on #672
No worries! You're certainly not offending anyone by providing input and suggestions. 🙂

We have been thinking about introducing a quota for new issues per user per day, though. 😜

[2017-02-24 20:26] smoyer64 commented on #665
No ... it's not necessary and there are certain aspects of the work I'm doing that would probably be better suited to the junit-samples project.  Now I'm also wondering if I'm adding more code than you'd like to illustrate the patterns for JUnit 4 rule replacement in #660.  Since we've agreed that we're going to ignore the ```DisableOnDebug``` rule, I've only got the ```ExternalResource/TemporaryF

[2017-02-24 20:26] #665 closed

[2017-02-24 20:30] sormuras commented on #352
*findMethods* is in https://github.com/junit-team/junit5/pull/688 ... do you need the other two as well, @jlink ?

[2017-02-24 20:33] smoyer64 commented on #672
I have a lot of colleagues at Penn State with Github accounts ... at least it won't seem like I'm dominating things that way!  My day job will involve work not related to testing for the next couple of weeks so you'll have a chance to catch your breath ... inhale, exhale.

[2017-02-24 20:34] marcphilipp commented on #665
Thanks for your understanding!

Please go ahead with that! I think we have enough room in the User Guide and it's an important topic.

[2017-02-24 20:39] marcphilipp commented on #14
I've updated the issue description and added deliverables.

[2017-02-24 20:49] jlink commented on #352
Sure. Go ahead.

2017-02-24 21:31 GMT+01:00 Christian Stein <notifications@github.com>:

[2017-02-24 21:54] sormuras opened #690 "Upgrade to Gradle 3.4"
## Overview

The build fails after upgrading to Gradle 3.4 with following stacktrace:
[code]

## Deliverables

- [ ] Solve `UnsupportedOperationException`
- ~Make use of https://docs.gradle.org/current/userguide/java_library_plugin.html~ Moved to #691

[2017-02-24 21:56] #513 closed

[2017-02-25 07:59] Vazzilena commented on #673
I run this with jre8. The options are set in case you want to run the same code in jre7 (which obviously is not going to happen), but in the run I reported, JDK 8 is being used.

Are you suggesting that the sourceCompatibility and targetCompatibility are causing this?

[2017-02-25 18:17] marcphilipp commented on #690
I'm putting this up-for-grabs.

[2017-02-25 19:16] sormuras commented on #690
Great!

Btw. the failing test spec mentioned in the description is the only build-breaking issue after upgrading Gradle 3.4. The adoption of the new **Java Library Plugin** is another story.

[2017-02-25 21:36] gaganis commented on #690
I have looked into this and getting to a fix solving the UnsupportedOperationException proved to be more easy than I expected.

For the second deliverable though I must confess that I gave a look at the java library plugin doc that @sormuras posted but this was one of the cases when after reading the doc you come out more confused than before :(

[2017-02-25 23:24] gaganis commented on #690
FYI The following blog post on the gradle site helps a lot in the understanding the why of the java library plugin.
https://blog.gradle.org/incremental-compiler-avoidance

Looks like a very interesting mechanism.

[2017-02-26 07:29] marcphilipp opened #691 "Migrate to java-library Gradle plugin"
## Overview

The java-library plugin allows for more fine-grained dependency management. In particular, it distinguishes between `api` and `implementation` dependencies.

## Prerequisites

- Gradle 3.4 (#690)

## Deliverables

- [ ] Change all modules to use java-library plugin and appropriate dependency configurations

[2017-02-26 07:31] marcphilipp commented on #690
Thanks for sharing the link! I've changed this issue to only address the `UnsupportedOperationException` and created #691 to migrate to the java-library plugin.

@gaganis Please submit a pull request with your fix. 🙂

[2017-02-26 07:32] marcphilipp commented on #691
This issue is _blocked_ until #690 has been resolved.

[2017-02-26 13:03] #690 closed

[2017-02-26 16:56] nicolaiparlog commented on #513
To advertise Java 9 a little more, have a look at [redirected platform logging](https://www.sitepoint.com/ultimate-guide-to-java-9/#redirectedplatformlogging). :smiley:

[2017-02-26 17:09] nicolaiparlog commented on #675
@smoyer64 opened that ticket while we were still discussing things via mail. Later in that discussion I realized that dovetailing with _junit-team_ is not my favorite approach (nothing against you folks :wink: ). I'm quoting myself from that mail:

I would be interested to hear the team's opinion on that.

[2017-02-26 18:21] #659 closed

[2017-02-26 19:00] #683 closed

[2017-02-26 19:03] marcphilipp commented on #691
This issue is no longer _blocked_ since #690 was resolved earlier today.

[2017-02-26 19:08] marcphilipp commented on #675
I think @nicolaiparlog raises some valid points here. In the end, it's the decision of the curators. If we find out that a loose coupling does not work out, we could always decide to make it tighter later.

[2017-02-26 19:11] marcphilipp commented on #513
How would that help us? As far as I could see from skimming the project description, that JEP only takes care of redirecting Platform Logging, not JUL, right?

[2017-02-26 19:13] gaganis commented on #681
@smoyer64 I have the impression that if we did #691, migrating to the java library plugin, it would solve the implicit dependencies problems that you are mentioning. I suspect the junit dependency of the junit-platform-runner project would be an implementation dependency.

Even if the dep problem would be solved by #691, introducing a new project might still be valuable as it could it could clearl

[2017-02-26 19:19] marcphilipp commented on #681
I think it has to be an `api` dependency because `JUnitPlatform`'s public API contains references to JUnit 4 classes.

[2017-02-26 20:45] nicolaiparlog commented on #513
(I didn't check whether JUL uses the new approach but wrote my previous and this comment under the assumption that it doesn't.)

JUnit could build on the new infrastructure and use `LoggerFinder` to get `Logger` instances, piping all messages through them. End users can then use the platform-logging-log4j2-bridge (once it exists; or whatever logging framework they prefer) to get those messages out

[2017-02-26 21:10] chasecaleb commented on #462
Related to this issue, I need to report test passes/fails within an `Extension` and think I finally figured out how, but wanted confirmation that I'm doing it.

Use case: I'm using `SpringExtension` for dependency injection, and at the end of each test I need access to the test outcome and a Spring-managed bean at the same time. _(Specifically for anyone who cares, I'm running Selenium browser aut

[2017-02-26 22:12] sormuras commented on #513
Before thinking of designing and implementing a logging facade in JUnit 5, I'm preferring Marcs' simple proposal:

...more and more. The commit https://github.com/junit-team/junit5/commit/ddcfb41b0f824cdbaae7cf868d3491e555ced4f6 already made me circumvent the there in muted log level change by configuring the JUL facility via a custom JVM switch **and** an extra property file. Which felt and still

[2017-02-26 22:20] gaganis commented on #691
I would like to work on this, but I seems that it might need good big-picture knowledge of the project so I would need a lot of help and time from those of you with more experience.

If that is not a problem and no-one else wants it I can give it a go. :)

[2017-02-27 08:43] Vazzilena commented on #673
So, I played around with my project and here is what solved my issues:

1) The sourceCompatibility and targetCompatibility can remain - they have no influence.
2) The explicit testRuntime and testCompile configuration can be removed - since they are explicitly inherited, there is no need to declare them additionally.
3) Removed the application of the plugin (apply plugin: "org.junit.platform.gradl

[2017-02-27 10:48] marcphilipp commented on #673
Great that you were able to solve it!

[2017-02-27 10:48] #673 closed

[2017-02-27 21:06] marcphilipp commented on #691
Time could be an issue, especially since we maintainers are very opinionated... 😉

If you want to give it a go that's fine. However, we might need to play around with the new possibilities a bit ourselves.

[2017-02-27 21:18] marcphilipp commented on #462
The test could still fail, e.g. in an `@After` method.

Proposal: Have your extension publish the WebDriver bean's session id, e.g.

[code]

In your `TestExecutionListener`, implement `reportingEntryPublished` and store it in a `Map` with the `TestIdentifier` as a key. In `executionFinished` report the test outcome along with the value from this `Map`.

Would that work for you?

[2017-02-27 22:07] cal-pratt commented on #425
@sbrannen FWIW I managed to get this working with more of a hack than anything haha

Because Gradle launches these separate applications that use java, it wasn't enough just to add the arguments to `JAVA_OPTIONS`. Instead I moved `$JAVA_HOME/bin/java` to `$JAVA_HOME/bin/java-real` and created a new script in its place. This new script adds all of my options to java before it launches:
[code]

You

[2017-02-28 01:57] chasecaleb commented on #462
In which case you're saying the `TestExecutionListener` would incorrectly think the test passed, since the failing `@After` method would be invoked after it, correct? That makes sense.

Your solution using reporting entries sounds workable. One minor disadvantage: if a test suite is killed halfway through, then the already-finished test results won't be published. I don't really care about that fo

[2017-02-28 10:26] honza-zidek opened #694 "Let @BeforeEach and @AfterEach work around all the tests from a single TestFactory (or introduce a new similar @Before/@After pair)"
## Overview

JUnit is used not only for pure unit tests (where each unit test should be completely independent), but often also for (some kind of) integration tests. Sometimes it is extremely useful if you may assert some conditions after a bunch of tests have run. The new `@TestFactory` feature would be an excellent place for it **if** there were a place for adding `assert`s after the whole set o

[2017-02-28 10:35] sormuras commented on #694
Duplicate of https://github.com/junit-team/junit5/issues/378 ?

[2017-02-28 11:32] honza-zidek commented on #694
@sormuras: Well, it looks like, sorry for not noticing. However that this issue contains more detailed description as well as motivation :)

[2017-02-28 11:40] sormuras commented on #694
True. Will link this issue as related over there.

Besides, maybe the new `@TestTemplate` feature merged with https://github.com/junit-team/junit5/pull/642 already solves your issue: _Each invocation of a test template method, behaves like the execution of a regular @Test method, i.e. it supports the same lifecycle callbacks and extensions._

[2017-02-28 13:33] fab1an opened #695 "Dynamic tests, nested twice"
Is there a way to create a `TestFactory`, that returns a `TestFactory`?

I have a test that reads test output from a third-party program and displays is.

So what i need is:

[code]

This could be done with a parameter on `@TestFactory` that takes a pattern to split the returned testname into a hierarchy:

[code]

[2017-02-28 17:12] smoyer64 commented on #675
After more discussion, @nicolaiparlog and I have agreed that, at least for the time being we'll keep the ties between the junit-team and our community extensions informal.  Our collaboration with the junit-team members has been positive and we definitely want to keep the communication flowing.

We do want to ask for explicit permission to use the JUnit name:

1.  We've decided to call the JUnit co

[2017-02-28 17:22] smoyer64 opened #696 "Tracking: Pitest/JUnit 5 integration"
There's a discussion related to creating a new plugin to support JUnit 5 in Pitest at:

https://github.com/hcoles/pitest/issues/284

Potential issues:

- [ ] Removal of the ```forUniqueId``` static method from ```org.junit.platform.engine.discovery.UniqueIdSelector```.

No action should be taken until analysis is complete.

## Deliverables

[2017-02-28 17:28] nicolaiparlog commented on #675
More generally, is it ok to use the word "JUnit" in our project?

If so, it would of course show up in lots of places, like domain, GitHub group name, artifact IDs, packages, ... you name it (pun intended). We really like the name but we're not going to use it if the team has any qualms with that.

[2017-02-28 17:31] sormuras commented on #675
_Fair winds and following seas_ to https://github.com/junit-pioneer

From my point-of-view we could create an empty module called "junit-community-pioneer" which delegates to your project. That would a) delegate users to promoted community project(s) and b) reserve that name in the JUnit universe.
Which leads me to a minor change request: `org.junit.community.pioneer.*` would match the existing fu

[2017-02-28 17:34] nicolaiparlog commented on #675
Had to google that... 😆 Thanks!

True. We're still not sure on how to name packages and will take that into account.

[2017-02-28 17:37] smoyer64 commented on #675
I **didn't** have to Google that ... but you probably would guess that looking at my gravatar!

[2017-02-28 20:21] marcphilipp opened #698 "Break build on wildcard imports"
## Overview

Instead of manually checking pull requests for wildcard imports we should forbid them using a Checkstyle rule.

## Deliverables

- [ ] Remove remaining wildcard imports
- [ ] Add Checkstyle rule that breaks build when it finds a wildcard import

[2017-02-28 20:47] #698 closed

[2017-02-28 21:00] #646 closed

[2017-02-28 21:08] marcphilipp commented on #675
I have no objections against calling it junit-pioneer. I'm not so sure about the package name and the group ID, though. I think those should reflect the independence of the project from "junit.org", i.e. the core JUnit. In addition, with Maven central (Sonatype), authorization is also tied to group IDs.

`io.github.junit-pioneer` is a bit long...

[2017-02-28 21:10] marcphilipp commented on #462
`executionFinished` is called for each `TestIdentifier` as soon as it's finished. So there shouldn't be any lost data. 🤔

[2017-02-28 21:15] jbduncan commented on #675
But it's less long than `org.junit.community.pioneer`, so I'm personally happy with it as an alternative.

[2017-02-28 22:16] chasecaleb commented on #462
Oops, I don't know where I got that assumption from. Even better :+1:

[2017-02-28 22:41] sormuras commented on #679
[Occurrences of '@Test\s*public' (except comments and string literals)](https://github.com/junit-team/junit5/files/809156/report.txt)
JUnit 4 tests must be excluded. Some Jupiter tests (bridge methods) need the `public `modifier.

[2017-03-01 08:18] nicolaiparlog commented on #675
That's a "no" for naming the packages `org.junit.pioneer` but does it also apply to packages `org.junitpioneer` (no dot) or the artifact ID `org.junit-pioneer` (with dash)? Technically both are distinct from `org.junit` but people could potentially confuse them.

[2017-03-01 09:27] marcphilipp commented on #675
I have no objections against `org.junitpioneer` or `org.junit-pioneer`. However, as you've mentioned, those might be confusing.

[2017-03-01 11:38] marcphilipp commented on #691
This issue is _in progress_ (see #699).

[2017-03-01 12:20] sormuras commented on #691
Closed by https://github.com/junit-team/junit5/commit/04d10a6a2f468e6ae42eb75334c288e17c004e31

[2017-03-01 12:20] #691 closed

[2017-03-01 12:56] michaelsiepmann opened #700 "Gradle-Plugin make test-task not working"
Hi,

we have the following code in our build.gradle:

[code]

This worked unless i've added the junit5Plugin. After that, systemProperty and doFirst won't be called.
Maybe this happens, because "configureTaskDependencies" changes this task.

Is there a way to stop this? Or can I do this above on the junitPlatformTest?

[2017-03-01 14:36] sormuras opened #701 "Console standalone jar does not come alone"
## Overview

The current console standalone jar is uploaded with the "full" pom file, which leads to too many dependent jars to be downloaded when you only want and need the standalone "classified" jar.

-  (standalone) -> **junit-platform-console-1.0.0-SNAPSHOT-standalone.jar** // only file needed
-  (standalone) -> junit-platform-launcher-1.0.0-SNAPSHOT.jar
-  (standalone) -> junit-platform-engi

[2017-03-01 14:43] sormuras commented on #701
Possible solution? https://discuss.gradle.org/t/plugin-publishing-how-to-remove-pom-dependencies/12466

[2017-03-01 15:10] marcphilipp commented on #701
Is this really an issue? The use case for the standalone JAR is to use it without any dependency management, isn't it? Right now there's only one POM: https://oss.sonatype.org/content/repositories/snapshots/org/junit/platform/junit-platform-console/1.0.0-SNAPSHOT/

Are we by-passing something?

[2017-03-01 15:19] sormuras commented on #701
True. But it should behave correctly, when resolved via Maven/Gradle/etc. I.e. it should not report any extra dependency.

Gradle docs hint at [maven_pom_generation](https://docs.gradle.org/current/userguide/maven_plugin.html#sec:maven_pom_generation) especially [:multiple_artifacts_per_project](https://docs.gradle.org/current/userguide/maven_plugin.html#sub:multiple_artifacts_per_project) ... com

[2017-03-01 15:23] sormuras commented on #701
Could be. See "_Configures the uploadShadow_" from description ... which, I think, does not cover our new task at https://github.com/junit-team/junit5/blob/master/junit-platform-console/junit-platform-console.gradle#L80

Introducing a new module for "junit-platform-console-standalone" back then, might have been a cleaner solution.

[2017-03-01 15:23] marcphilipp commented on #701
Does Maven support different POMs for the same artifact ID?

[2017-03-01 15:35] marcphilipp commented on #700
The junitPlatform plugin disables the standard test task to prevent test from being executed twice. However, you can re-enable it:

[code]

The `junitPlatform` extension/task does not support `systemProperty` at this time. This will change when the Gradle team adds support for JUnit 5 to core Gradle.

You should be able to get `doFirst` and `finalizedBy` working using standard Gradle:

[code]

If

[2017-03-01 15:36] sormuras commented on #701
Mh. Yes? Not sure. :)

I think, with the filters you can also modify  (read: clear) the dependency list of a specific artifacts' generated pom file. Maybe. Like here: http://stackoverflow.com/a/42248185/1431016

[2017-03-01 16:30] gaganis commented on #508
This not being _in progress_ I started looking into it. I have done an initial investigation on how to proceed with this and I have come up with these points and questions.

The to be deprecated methods are used in quite a few places and we will have to express the calling code's intent without using these methods.

From my study of this issue and its related ones, I came to these points on how to

[2017-03-02 10:28] noopur2507 commented on #569
Eclipse has the same issue. See bug [512772](https://bugs.eclipse.org/bugs/show_bug.cgi?id=512772).

[2017-03-02 11:12] smoyer64 commented on #569
@sbrannen

I've now created #681 and #687 which together allow the creation of a test suite without resorting to creating a "wrapper engine".

[2017-03-02 12:20] anandmeher opened #703 "Add message in JUnit report in case of pass assertion"
- ( ) **Feature request.** To make the report more readable and proper, please add the success message if assertion passed.

like Assertions.assertEquals( "John", "John1" ,"Passed - Name is verified", "Failed - Name is not same"

## Deliverables

- [ ] ...

[2017-03-03 12:40] #701 closed

[2017-03-03 13:39] smoyer64 opened #704 "Parameter resolvers should be able to access the invocation context for test templates"
## Overview

When a ```TestTemplateInvocationContextProvider``` is created, its ```provide()``` method must return a `Stream` of ```TestTemplateInvocationContext```s.

I've extended/implemented  ```TestTemplateInvocationContext``` to include context that is specific to the tests that will be executed.  As the ```TestEngine``` iterates over these invocation contexts, parameter resolution (via one o

[2017-03-03 15:24] sormuras commented on #703
Does the reporting feature described in http://junit.org/junit5/docs/current/user-guide/#writing-tests-dependency-injection as _The TestReporter can be used to publish additional data about the current test run._ help here?
[code]
I don't think having success messages has benefits beyond what you can do with naming your test methods as clearly as you can.

[2017-03-04 14:30] sormuras commented on #664
Getting closer: https://travis-ci.org/junit-team/junit5/jobs/207683435#L519

[2017-03-04 16:40] nicolaiparlog commented on #703
@anandmeher By and large an assertion is just an `if` that checks a property and throws an exception if it is not fulfilled - there is no deeper interaction with the testing framework. This is what makes it possible to exchange assertion libraries. Making passed assertions log messages through the framework would be a fundamental change.

On top of that, the benefits are questionable. Assertions s

[2017-03-04 16:41] nicolaiparlog commented on #703
I would close this with _wontfix_, _works-as-designed_.

[2017-03-04 16:43] #703 closed

[2017-03-04 16:54] nicolaiparlog commented on #675
I thought about JUnit being a part of the name a little longer. The project is tightly coupled to the framework. Much more than, for example, Spock, which builds _on top_ of it, because it integrates _with_ it. Even conceptually, Pioneer is totally useless without JUnit.

I think that should be reflected in the name, so I'd want JUnit to be part of it.

Steve and I are not sure how exactly we want

[2017-03-04 23:38] gaganis commented on #664
@sormuras Looks nice!

[2017-03-05 00:14] gaganis commented on #703
It might be that the _One Assertion per Test_ rule of thumb is relevant to this point. If we have only one assertion per Test, it's name would very closely reflect the actual assertion that is being checked.

If you have a test with many assertions it would be more difficult to tie the test's name with all the assertions, and seeing that name in  a run report would not be as descriptive. In a case

[2017-03-05 12:46] sormuras commented on #664
Thanks for the thumbs.

What do you think of the aligned/grouped test report entry rendering: https://travis-ci.org/junit-team/junit5/jobs/207891095#L612 ?

[2017-03-05 19:37] smoyer64 commented on #664
@sormuras I like the way the test report's date is inset from the test name which implies another level of nesting in the hierarchy.  In fact I think it's better without lines.  There's one other possibility to include in your demo ... a test that has multiple single-line report entries (which could potentially have different timestamps).

I personally like aligning the separators when showing key

[2017-03-05 19:38] smoyer64 commented on #664
@sormuras I like the way the test report's date is inset from the test name which implies another level of nesting in the hierarchy.  In fact I think it's better without lines.  There's one other possibility to include in your demo ... a test that has multiple single-line report entries (which could potentially have different timestamps).

I personally like aligning the separators when showing key

[2017-03-05 19:57] sormuras commented on #664
Current iteration already covers that in a test. https://github.com/junit-team/junit5/compare/refactor_tree_printing_listener#diff-bcdd220ee20a4cdae2c4835d9e21e65bR163 May enhance the documentation demo as well.

[2017-03-06 06:46] marcphilipp commented on #696
@smoyer64 `forUniqueId` has been moved to `DiscoverySelectors` prior to M1. So, it still exists, but in a different location. Reading through hcoles/pitest#284, it sounds like we can close this issue?

[2017-03-06 06:50] marcphilipp commented on #700
@michaelsiepmann Have you tried the things I've proposed?

[2017-03-06 09:07] marcphilipp commented on #664
Looks good!

[2017-03-06 10:36] smoyer64 commented on #696
There is a prototype that currently treats each JUnit 5 test class as a Pitest ```TestUnit```.  Pitest runs can be made more efficient if the ```TestUnit``` is an individual test, but I'd anticipate that there would be problems with ```@TestFactory```, ```@TestTemplate``` and maybe with ```@Nested``` if that's done.

If you want to close this issue that's fine ... if it's left open then I'll keep

[2017-03-06 11:22] marcphilipp commented on #696
I'm fine with leaving it open. But please update the issue description if the `forUniqueId` item is no longer relevant.

[2017-03-06 11:32] jlink opened #706 "Publish pruneTree() in junit-platform-engine support package"
`DiscoverySelectorResolver.pruneTree()` is something that all test engines should do in order to not have empty packages. I see two options:
1. Publish pruneTree() in junit-platform-engine support package for all engines to use
2. Do it for all engines automatically after collecting their discovery result

Since I cannot think of a reason to not prune a branch without executable tests I'd vote for

[2017-03-06 11:54] bechte commented on #706
In case of dynamic or parameterized tests, we have discussed the topic of "may potentially have tests". We came to the conclusion that one cannot easily decide, whether or not a node in the test tree has tests or (maybe) will have tests in the future (runtime).

Therefore, I think it is dangerous to prune the tree from the "outside". It would require that the mechanism knows about the "concepts" (

[2017-03-06 14:06] jlink commented on #706
Just checked the current implementation of `DefaultLauncher`. Looks like `dicoverRoot(..)` already does a final pruning of all non-test nodes after applying the post-discovery filters.

So unless you're not planning to change that behaviour - and unless I'm missing something - this issue can be closed. However, there seems to be redundant logic since `DiscoverySelectorResolver` also prunes its des

[2017-03-06 14:39] mkobit opened #707 "Create a "sponsored" open chat group"
## Overview

I have felt that since joining the Kotlin Slack community I have been able to absorb the language from maintainers and the community much faster than by trying to locate these resources myself.
I believe that having an active group like this will benefit extension authors, engine developers, test writers, and other consumers of JUnit.

I would like to see the the JUnit 5 team adopt a

[2017-03-06 14:42] sormuras commented on #707
https://stackoverflow.com/questions/tagged/junit5 is already ... active. ;)

[2017-03-06 15:08] mkobit opened #708 "'junitPlatformTest' task can not be retrieved at configuration time by Gradle plugin"
## Overview

Currently, the `JUnitPlatformPlugin` has logic to be applied `afterEvaluate` which makes it so users must also do some lazy evaluation logic to be able to also configure it.

For example, is a user wants to apply configuraiton to the `'junitPlatformTest'` task, they might try this by:

[code]

This will fail at configuration time with an NPE.

A user will have to work around this by m

[2017-03-06 15:14] sormuras commented on #708
Seems like an easy fix. Want to send a PR?

Mid-term, an official plugin will be provided by Gradle itself: https://github.com/gradle/gradle/issues/1037

[2017-03-06 15:17] mkobit commented on #708
@sormuras Sure! I just opened https://github.com/junit-team/junit5/pull/709 which _I think_ should be merged in first.

[2017-03-06 18:44] marcphilipp commented on #707
I am not against _having_ such a community. I'm afraid it would take up too much of our already very limited time as maintainers to _take care_ of the community, e.g. answer questions etc. We would need someone who'd be willing to take responsibility as a "community manager", e.g. make sure everyone follows a code of conduct, point users to an FAQ when appropriate, etc. Or am I overthinking this?

[2017-03-06 20:45] electrum opened #710 "Support test matrix"
Suppose we're writing an HTTP client library that is a wrapper around several different backend libraries. We support many options and we need to test all the combinations.

Protocol and security:

* HTTP over HTTP/1
* HTTPS over HTTP/1
* HTTP over HTTP/2
* HTTPS over HTTP/2

Backend library:

* Apache HTTP Client
* Jetty HTTP Client
* OkHttp

SOCKS proxy:

* disabled
* enabled

We can write a tes

[2017-03-06 20:57] sormuras commented on #710
[TestTemplate](https://github.com/junit-team/junit5/pull/642) and [Params](https://github.com/junit-team/junit5/issues/14) to the rescue! There's **no** explicit `MatrixTest` support, but it can easily achieved with these frameworks.

I'm just in the process of squashing a test matrix into a flattened dynamic test. It works, but it doesn't feel awesome. Here is the 3-times nested for-loop generati

[2017-03-06 21:35] marcphilipp commented on #710
We're only days (I hope) away of having first-class support for parameterized tests. Using those, you could write your tests like this:

[code]

If that's too involved you could alternatively create your own [`TestTemplateInvocationContextProvider`](https://github.com/junit-team/junit5/blob/master/junit-jupiter-api/src/main/java/org/junit/jupiter/api/extension/TestTemplateInvocationContextProvider

[2017-03-07 05:46] electrum commented on #710
Thanks for the detailed responses!

The `@ParameterizedTest` version is rather verbose for this use case. It looks very similar to `@Test(dataProvider = "allCombinations")` and `@DataProvider(name = "allCombinations")` in TestNG. But it's definitely a handy feature for other cases that we use today in TestNG.

The `TestTemplateInvocationContextProvider` approach looks much better. For these types

[2017-03-07 05:50] electrum commented on #710
Side note: building a test matrix generically (when you can't hard-code the nested for-loops) can be done easily with Guava's [Sets.cartesianProduct()](https://google.github.io/guava/releases/snapshot/api/docs/com/google/common/collect/Sets.html#cartesianProduct-java.util.List-)

[2017-03-07 18:18] sta-szek commented on #700
I have similar problem - cannot run JaCoCo (any version) with junit5 gradle plugin on board.

JaCoCo is telling me:

[code]
which means I do not run `test` task,

despite of :

[code]

I cannot make jacoco generate its reports on my project https://github.com/sta-szek/pojo-tester

have you ever had this issue?

[2017-03-07 19:29] sormuras commented on #664
Do you think an optional caption for a test report set is worth the effort? See https://github.com/junit-team/junit5/pull/711/files#r104756183

[2017-03-07 19:49] marcphilipp commented on #664
Probably not right now. Shall we create a separate issue?

[2017-03-07 20:28] sormuras commented on #664
M5 or 5.1. Fine with me.

[2017-03-07 20:28] #616 closed

[2017-03-07 22:21] sormuras opened #712 "Add optional caption to ReportEntry"
## Overview

As a followup from #664, add an optional caption to describe a test report map entry set like:

`TestReporter.publishEntry("user table", Map.of(...));`

which could yield in `--details tree` mode:
[code]

## Deliverables

- [ ] Enhance `ReportEntry` to store an optional caption of type `String` and add `void publishEntry(String caption, Map<String, String> values);` to `TestReporter`.

[2017-03-08 11:02] michaelsiepmann commented on #700
@marcphilipp
Yes, i've tried it. It works, when I start "runJUnitPlatform", but not when running "test". This should be possible, because our project is very large and has some modules. We need for the project a one way to run the tests, so the test-task is mandantory.

@sta-szek
JaCoCo works in our environment. These are the changes

junitPlatform {
    reportsDir file('build/test-results/test')

[2017-03-08 18:30] sta-szek commented on #700
@michaelsiepmann thanks, it worked.
but I think running jacoco with junit4 is much easier because of lack of dynamically created junitPlatformTest task.

And gradle test set plugin (for e.g. integrationTest) does not work - junit5 does not run those tests.

[2017-03-09 01:06] #664 closed

[2017-03-09 12:16] marcphilipp opened #714 "Add notice and include third-party licenses"
## Overview

To be safe, we need to include not only our license but also those of subcomponents, such as jopt-simple and univocity-csv to the corresponding JARs.

Here's how Spring does it:
https://github.com/spring-projects/spring-framework/blob/master/src/docs/dist/notice.txt
https://github.com/spring-projects/spring-framework/blob/master/src/docs/dist/license.txt

## Deliverables

- [x] Add `n

[2017-03-09 13:16] LiamClark opened #715 "Introduce migration support for JUnit 4's Parameterized Runner"
## Overview

Introduce migration support for JUnit 4's `@RunWith(Parameterized.class)`.

@marcphilipp mentioned through email that it would be nice to have an extension in `junit-jupiter-migration-support` that allows tests to be run that were originally written with JUnit 4 using the `Parameterized` runner.

What this would look like:

[code]

[code]

If everybody agrees this is a good idea, I wo

[2017-03-09 14:22] sbrannen opened #716 "Rename MethodSortOrder to something generic"
## Status Quo

The `MethodSortOrder` enums currently are dedicated solely for use with methods; however, once we implement #497 we will need identical functionality for fields.

## Deliverables

- [x] Rename both `MethodSortOrder` enums to something more generic -- for example, `HierarchyTraversal`.
- [x] Document changes in the User Guide.

[2017-03-09 14:54] sbrannen commented on #716
Addressed in 729b33cf7ed8f0f487a924dc6460c0aa458093f8.

[2017-03-09 14:54] #716 closed

[2017-03-09 15:51] gaganis commented on #715
When thinking about this in isolation, I would like to point out a small thing.

Maybe it would be better to name `Parameterized` to something different so it more easily distinguishable from the JUnit4 runner.

Maybe `ParameterizedExtension`?

What does the team think?

[2017-03-09 16:19] sbrannen commented on #333
Reopening due to a regression: Code introduced in conjunction with this issue breaks standard support for test class hierarchies _without_ bridge or synthetic methods present.

Specifically, given the following JUnit Jupiter test cases, it is required that execution of `ByteTests` result in execution of `AbstractNumberTests.test(Number)` **and** `ByteTests.test(Byte)`. However, only the latter get

[2017-03-09 16:28] sbrannen commented on #333
Added _bug_ label until the current regression is fixed.

[2017-03-09 17:40] sbrannen commented on #715
`ParameterizedExtension` is more inline with naming conventions in JUnit Jupiter.

[2017-03-09 17:41] sbrannen commented on #715
It's definitely an interesting idea, and I imagine people would find it useful. So if you have the time and inclination, feel free to take a shot at it.

[2017-03-09 17:47] sbrannen commented on #700
Actually, it _is_ possible to set system properties when using the `junitPlatform` task, as discussed here: http://stackoverflow.com/questions/41331199/setting-system-properties-when-using-junitplatform/41334739#41334739

[2017-03-09 17:48] sbrannen commented on #700
And I originally posted the work-around here: https://github.com/junit-team/junit5/issues/475#issuecomment-242038043

[2017-03-09 20:22] nicolaiparlog opened #717 "@Nested test classes are not inherited from superclasses"
## Overview

I created an abstract test class and organized the tests in nested classes. Unfortunately it looks like the implementing test class does not inherit those nested tests. Shouldn't it? (I think it should.) Or am I just doing something wrong?

(I discovered this with M3.)

## Deliverables

- [x] Decide whether nested test classes should be inherited.
- [x] Update `ReflectionUtils` so tha

[2017-03-09 23:54] sormuras commented on #717
Maybe already fixed in SNAPSHOT version. When executing:

[code]
...the console reads like:
[code]

Didn't check M3.

[2017-03-10 00:01] sormuras commented on #717
You're hiding, shadowing, bridging some methods, do you? Might want to check https://github.com/junit-team/junit5/issues/333#issuecomment-285399782 -- which was re-opend only hours ago.

[2017-03-10 08:02] nicolaiparlog commented on #717
You do not seem to show my use case - have a look at #718, which creates a test demonstrating my problem.

[2017-03-10 08:07] sormuras commented on #717
I see. Thanks for the [failing](https://ci.appveyor.com/project/marcphilipp/junit5/build/732) test case.

[2017-03-10 08:08] nicolaiparlog commented on #717
I think my use case is a typical example of testing interface implementations:

1. create an interface `Awesome`
2. create an abstract test class `AwesomeTest`, which tests the correct behavior as defined by `Awesome`'s Javadoc
3. for each implementation of `Awesome`, create a matching implementation of `AwesomeTest`

Up to here all is fine and everything works as planned. Implementations of `Awes

[2017-03-10 08:09] nicolaiparlog commented on #717
Oh, too slow, you already added the _bug_ label, so I assume you agree. :wink:

[2017-03-10 08:13] sormuras commented on #717
I do. Let's wait what @junit-team/junit-lambda thinks about that.

[2017-03-10 09:27] ddimtirov commented on #395
Consider also that it would be useful if a parameter provider has a way to access the test results - this can be used for implemention property-based testing, and in particular expanding and shrinking[*] strategies (rather than generating inputs at random).

[8] Can't find a good link, but this [SO post](http://stackoverflow.com/questions/22712961/what-is-the-difference-between-agitar-and-quickche

[2017-03-10 11:51] sormuras commented on #508
First, thank you @gaganis for your inspection, thoughts and summary regarding this refactoring. Especially, your last bullet point hits the nail on its head: the concept if having containers and tests is valid and will remain.

I'm preparing a PR at the moment, that takes your considertions into account and tries to tackle both:

- is test = is not container ... an identifier/descriptor is a test

[2017-03-10 12:47] sormuras commented on #717
The current implementation of [ReflectionUtils.findNestedClasses(...)](https://github.com/junit-team/junit5/blob/master/junit-platform-commons/src/main/java/org/junit/platform/commons/util/ReflectionUtils.java#L523) only considers **declared** class in the passed class. We could look up the class and interface hierarchy.

[2017-03-10 13:53] smoyer64 opened #721 "Update javadocs for ExtensionContextException"
## Overview

The javadocs for ExtensionContextException currently read:

It seems like this exception would also be appropriate for situations where the user has caused a problem with the extension's context (lower-case "c").  One example might be:

[code]

I'd like to propose that the javadocs be changed to read as follows:

- (X) **Feature request.** Broaden the allowed use of the ExtensionConte

[2017-03-10 13:59] gaganis commented on #717
I would also expect it and would be surprised to see nested class tests not being run (being 'inherited').

What I would like to point out though is that we need to be careful using the term '**inherited**'. Inheritance implies a semantic model that nested classes are not part of.

[2017-03-10 17:55] mkobit commented on #707
It's definitely a valid concern. I don't believe a "community manager" would be needed yet, but it does sound like something that is inevitable because of the far reaching usage and impacts of JUnit that would lead users to this community. It may be worth trying out as an "unmoderated" type of system at first, and seeing how it progresses as more users join before making decisions around moderatio

[2017-03-10 21:25] sormuras commented on #717
@nicolaiparlog I didn't manage to pull/fetch/cherry/fetch/pick your #718 into mine branch. So, I copied your tests over by copy and paste. Hope, you don't mind.

Does #722 work as you expected it work? @sbrannen et al will take a look at this issue and PR later.

[2017-03-11 17:35] jbduncan opened #726 "Bug report: Exception thrown when building :junit-jupiter-engine on Windows 7"
## Overview

### Expected behaviour
Running `./gradlew {clean} :junit-jupiter-engine:build` from JUnit 5 `master` branch should succeed.

### Actual behaviour

When running `./gradlew clean :junit-jupiter-engine:build` on my (at time of writing) up-to-date [fork](https://github.com/jbduncan/junit5) of JUnit 5, at the `master` branch, on my Windows 7 laptop, it throws the following stack trace. For

[2017-03-11 17:45] gaganis commented on #726
@jbduncan can you verify whether the jupiter-testjar.jar file actually exists?

On a first quick look it seems  somewhere we have a problem handling spaces in paths.

[2017-03-11 17:51] jbduncan commented on #726
Hi @gaganis. Yes, I can verify that that jar exists, but only if I replace the `%20` in the path with a normal space before entering it into Windows Explorer. Otherwise, Windows throws a bit of a hissy fit.

![image](https://cloud.githubusercontent.com/assets/2482228/23825517/2fde5a2a-0683-11e7-9b73-54b1e8026ef3.png)

[2017-03-11 17:55] jbduncan commented on #726
Screenshot of it working successfully once I enter the parent path of the jar, `%20` replaced with space, into Windows Explorer:

![image](https://cloud.githubusercontent.com/assets/2482228/23825557/e93901b4-0683-11e7-99eb-4763ed2fa580.png)

[2017-03-11 18:08] gaganis commented on #726
I have managed to replicate it also on my system running linux. Just moving the project under a path that contains a space makes it break.

Good catch @jbduncan!

[2017-03-11 19:52] sormuras commented on #726
Fix is under construction...

[2017-03-11 20:59] #726 closed

[2017-03-11 21:00] sormuras commented on #726
Thanks @jbduncan and @gaganis the detailed report!

[2017-03-11 21:00] jbduncan commented on #726
YW @sormuras! :)

[2017-03-11 21:08] gaganis commented on #726
NP @sormuras This was was fixed blazingly fast!

[2017-03-11 21:45] marcphilipp commented on #14
Initial support for parameterized tests is now in master (#728).

@junit-team/junit-lambda I've updated the deliverables of this task to reflect the remaining work that needs to be done. I'm un-assigning myself from this task because I will only have very little time in the upcoming three weeks.

[2017-03-12 09:39] nicolaiparlog commented on #542
FYI: People on StackOverflow [are also looking for this feature](http://stackoverflow.com/q/42721422).

[2017-03-12 09:54] marcphilipp commented on #31
The initial contribution is done. Thus, I'm closing this issue.

[2017-03-12 09:54] #31 closed

[2017-03-12 09:57] marcphilipp commented on #542
Thanks, I've added a comment there: http://stackoverflow.com/questions/42721422/junit5-how-to-get-test-result-in-aftertestexecutioncallback#comment72608741_42721422

Looking at the test exception is not really reliable. The test might fail in an extension that hasn't been invoked, yet. I think we might need a new extension point that cannot influence the test's result. Any other ideas?

[2017-03-12 10:11] nicolaiparlog commented on #542
A comment? Pfft, I made it [an answer](http://stackoverflow.com/a/42745926/2525313). :wink:

That makes sense, yes. The interesting question is, what else this extension point would be allowed to do. See Sam's comment above:

[2017-03-12 10:55] sormuras commented on #542
For me, two extension points make sense:

- one _read-only_ test execution result consumer _that cannot influence the test's result_ or change the original test plan. Maybe this simple extension point can "inherit/borrow/copy" methods from already mentioned `TestExecutionListener`.
- one _re-active_ that listens on the same events, but has measures to alter the test execution plan.

[2017-03-12 11:59] ledoyen opened #730 "TestTemplate methods detection is missing"
## Overview

- ( ) **Bug report.** `@TestTemplate` methods are not detected by the Jupiter engine.
To be specific, the `IsTestClassWithTests` predicate is missing the use of the `IsTestTemplateMethod` predicate to detect this new kind of tests introduce after the third milestone.

This problem is present using the last commit on master(ca24ac4218b87391de71daf77a3b9a82d94a2536).

Here is a pull req

[2017-03-12 12:44] sbrannen commented on #730
Good catch!

Please see comments in PR.

[2017-03-12 16:14] sbrannen opened #731 "ReflectionUtils.findMethod() should search using bottom-up semantics"
## Status Quo

The `findMethod()` variants in `ReflectionUtils` currently use "top down" search semantics.

While "top down" may make sense when searching for multiple methods -- for example, when searching for all `@BeforeEach` methods within a type hierarchy -- "top down" semantics don't make sense when searching for a single method since you typically are interested in the first such method tha

[2017-03-12 16:22] bugs84 commented on #542
I asked <a href="http://stackoverflow.com/questions/42721422/junit5-how-to-get-test-result-in-aftertestexecutioncallback#comment72608741_42721422">this stackoverflow question</a>.

I'll try to describe my usecase:

We have few tests with custom annotation something like:
@RelatedTo("ExternalId-123")
@Test
void crucialTest() {}

when this test is executed I want write "specific String" to console.

[2017-03-12 16:32] sbrannen commented on #731
Updated with a _Further Analysis_ section.

[2017-03-12 16:45] sbrannen commented on #731
Resolved in cf4a63be5e6fa69baf5d9eedaf662b6ca0665981

[2017-03-12 16:45] #731 closed

[2017-03-12 16:48] sbrannen commented on #731
@junit-team/junit-lambda, I resolved this issue in cf4a63be5e6fa69baf5d9eedaf662b6ca0665981, but please read the comments above in the _Further Analysis_ section as well as in the commit message. Namely, we could consider adding a true "find first method" algorithm to the platform in order to avoid needlessly searching an entire type hierarchy after having already found the method we are looking f

[2017-03-12 17:04] sbrannen commented on #730
Resolved in f889ef881045a20192924341309e596c3768695a.

[2017-03-12 17:04] #730 closed

[2017-03-12 17:16] sbrannen commented on #333
@sormuras, you fixed the regression -- right?

If so, please remove the _bug_ label and close this issue.

Cheers!

[2017-03-12 17:17] sbrannen commented on #333
Fixed in: 0eccc25520e45310ef75295e4fcd0b221e4e556a -- right?

[2017-03-12 17:18] sormuras commented on #333
Right. Removing the label(s). Slante!

[2017-03-12 17:19] #333 closed

[2017-03-12 17:39] marcphilipp commented on #731
Absolutely agree! Maybe we can delegate both to a stream-based private method?

[2017-03-12 17:43] gaganis commented on #731
I have seen @sbrannen comments in the https://github.com/junit-team/junit5/commit/cf4a63be5e6fa69baf5d9eedaf662b6ca0665981 and I have looked at the code and I pondered how this might be solved.

I have seen this problem before where the code was copy pasted and different for each traversal type and it proved difficult to maintain-keep in sync.

So I came up with this idea to model a solution with

[2017-03-12 20:47] sormuras opened #732 "Jupiter DiscoverySelectorResolver: to prune or not to prune"
## Overview

This issue is a follow up from #720 where [question](https://github.com/junit-team/junit5/pull/720#discussion_r105541997)  arose: _Do we really need to prune here (since DefaultLauncher will do it later anyway)?_

When the line `engineDescriptor.pruneTree();` is deleted, three `DiscoverySelectorResolverTests` fail:

- `resolvingSelectorOfNonTestMethodResolvesNothing()`
- `resolvingUni

[2017-03-12 23:20] brcolow commented on #542
If I understand this issue correctly, it is a super-set of https://github.com/junit-team/junit5/issues/618 - is this correct?

I see in the stackoverflow issue you requested for us to write our use case - well, here's mine:

I am intending to use this functionality to take a screenshot of the GUI and save them so that test failures are accompanied by screenshots (see https://github.com/TestFX/Test

[2017-03-13 09:03] sormuras opened #733 "Console option select-method should override class name filter"
## Overview

When explicitly selecting a test method via `--select-method` at the command line in a class which is not named according to default class name inclusion pattern `^.*Tests?$`, the method is not found. In such a case, you also have to set `--include-classname` to a matching pattern, like `.*`.

See https://github.com/junit-team/junit5/blob/master/platform-tests/src/test/java/org/junit/

[2017-03-13 10:58] sbrannen commented on #731
@gaganis, I don't think we actually need to go the _visitor_ route here. The algorithm for finding such a _first method_ would likely be considerably simpler. For example, it wouldn't need to take into account method shadowing, since such an algorithm would only ever use _bottom-up_ search semantics and stop once it finds the first method matching the predicate. Also, the predicate would have to b

[2017-03-13 11:09] sbrannen opened #734 "Introduce find-first search algorithm in ReflectionUtils for methods"
## Status Quo

As discussed in issue #731 and the commit message for cf4a63be5e6fa69baf5d9eedaf662b6ca0665981, the current `findMethod()` search algorithm in `ReflectionUtils` always traverses the entire type hierarchy even after having found a matching method. Note, however, that the current algorithm does not realize it has found the desired method since filtering isn't applied until the entire

[2017-03-13 11:11] sbrannen commented on #734
Tentatively slated for M5 since this is a nonessential performance improvement.

[2017-03-13 11:12] sbrannen commented on #731
@gaganis and @junit-team/junit-lambda, I have opened #734 to address the _find-first_ algorithm.

[2017-03-13 11:36] sbrannen commented on #508
Hi guys,

I have not looked into PR #720 , but... I _can_ shed some light on the original concepts and rationale in play here.

For starters, I do not agree with the above assumption that "an identifier/descriptor is never both a test and a container".

Here are some things to keep in mind:

1. Do **not** look at JUnit Jupiter when considering whether it makes sense for a something to be both a te

[2017-03-13 11:39] sbrannen commented on #508
The issue related to Specsy is #407.

[2017-03-13 11:45] sbrannen commented on #508
In my defense, it's been a long time since I thought about any of this in detail, and after rereading #407, I concede that @orfjackal raised some good points.

Maybe it's easier if every node is conceptually a container (without it being explicitly stated), where some nodes _are_ tests, some _contain_ tests, and some are both tests _and_ contain tests.

[2017-03-13 11:55] sormuras commented on #508
Expressed in pseudo-code:
[code]

[2017-03-13 12:09] sormuras commented on #508
The current way #720 is implemented, still allows a tri-state descriptor via overriding the default implementation. Which reads like:
[code]
If we just change the Javadoc to describe the default implememtation and state _that a different testing framework running on the JUnit Platform might have a need for a node in the test tree that is simultaneously a test and a container._ Everythings fine?

[2017-03-13 12:14] gaganis commented on #508
It seems conceptually we're  going in circles here.

This statement is not true throughout the entire execution of a test run. At the beginning it might return false and at some later point in time it might.
And yes... this is what was _originally raised_ by this issue.

So we again go back to this:

But at least when I tried to fix this I found that the concept of container was widely used and de

[2017-03-13 12:14] sbrannen commented on #214
@marcphilipp, if this feature request is fully covered by #642, could you please close this one and label it as superseded?

Or shall we leave this issue open (or create a new one) to make sure there are examples of "repeated tests" in the User Guide?

[2017-03-13 12:30] sbrannen commented on #681
This is something I've been wanting to do ever since we introduced the _suite_ support for JUnit 4 on the platform.

I recommend moving the annotations to a module named `junit-platform-suite-api`.

And I'm slating this for inclusion before 5.0 GA so that the change is less disruptive for consumers of the API.

[2017-03-13 12:31] sbrannen commented on #681
The proposed `JupiterSuiteEngine` should then be addressed in a separate issue.

[2017-03-13 12:32] sbrannen commented on #681
Actually, I'd like to move the annotations in M4: the earlier, the better.

@junit-team/junit-lambda any objections?

[2017-03-13 12:41] sormuras commented on #681
Sure. Go ahead!

[2017-03-13 12:42] sbrannen commented on #717
@jlink and @bechte, as "nested test class" aficionados, what are your thoughts on this topic?

Does the proposed change _violate_ the principles of nested test classes in terms of scoping, semantics, etc.?

[2017-03-13 12:50] sbrannen commented on #681
There are, however, some issues with this approach...

Since the suite annotations are open for use by anyone (i.e., any `TestEngine`), how will a given test engine know that it's supposed to actually honor the suite annotations and generate a suite in the test plan?

With the Vintage engine, it's straightforward since `@RunWith(JUnitPlatform.class)` must be present. But... with the Jupiter engine

[2017-03-13 12:52] sbrannen commented on #681
@smoyer64, I just noticed your proposed `@Suite` annotation -- which I assume would be part of the `junit-jupiter-api` module -- right?

[2017-03-13 13:02] smoyer64 commented on #681
@sbrannen I've already got the ```JupiterSuiteEngine``` running and was going to migrate it to junit-pioneer.  And since it only uses the ```junit-engine-api```, it's also capable of wrapping an engine that's not ```junit-jupiter-engine```, I was planning to add support to use ```@IncludeEngines``` and rename the suite class to indicate it's for more than just the Jupiter engine.  This proposal wa

[2017-03-13 13:14] sbrannen commented on #681
@smoyer64, I honestly have not put a great deal of thought into this topic (at least not on the implementation level).

IMHO, the JUnit Platform would ideally provide support for _declarative suites_ (e.g., configured via annotations) regardless of which test engines are registered.

That's about all I can contribute at the moment in terms of a _vision_.

Sooooo, my goal would be to make that visi

[2017-03-13 14:07] sbrannen commented on #407
Slated for M4 as a follow-up to #508.

[2017-03-13 22:26] ledoyen commented on #694
Lifecycle hooks work around `@TestTemplate` invocations, but they do not around **dynamic tests**.

Here is a possible solution : #735

@sbrannen suggested in #378 that **beforeEach** & **afterEach** should run around the factory method **and** around each dynamic tests produced by it.
However, the `TestExtensionContext` supplied in hooks signatures does not give hint about whether the current exe

[2017-03-13 22:28] ledoyen commented on #378
Here is a proposition for lifecycle hooks invocations around dynamic tests : #735

[2017-03-14 15:34] mfulton26 commented on #638
I see that support for `@ParamterizedTest` has been merged into master. Taking a quick look at it it does seem to simplify creating tests dynamically which I find very helpful.

I have used Spek some as well as other test runners but I would very much like to use JUnit Jupiter. The main issue I am having however is that I still find places where I could really use a way to define a group of nested

[2017-03-14 18:57] sbrannen commented on #448
@junit-team/junit-lambda, and objections on pulling this in before 5.0 GA?

[2017-03-15 11:20] SqAutoTestTeam opened #737 "Provide reliable way to get class (class name) of executed test method"
I am writing a test execution listener. A little extension for Junit5 framework. There is a necessity to know what class is used when running a particular test having TestIdentifier and TestPlan.

`((MethodSource) id.getSource().get()).getClassName(); `

Gives only the class, where a test is declared. But, that does not mean that it is run from declared class.

For instance a test can be run from

[2017-03-15 16:49] sbrannen commented on #737
That seems like a valid request to me.

I'll slate this for M5 so that we take a deeper look into the options before GA.

[2017-03-15 17:01] sbrannen commented on #448
Tentatively slated for M5.

[2017-03-16 15:40] Vazzilena opened #738 "Cannot filter by tags"
My gradle task configuration looks like this:

[code]

My test is annotated like this:

[code]

And the annotation itself looks like this (TestClassifier.txt):

[code]

[TestClassifier.txt](https://github.com/junit-team/junit5/files/848217/TestClassifier.txt)

When I run the test using gradle task no test is being executed. I get this:

[code]

Any idea what is wrong? Perhaps some configuration on

[2017-03-16 15:45] sbrannen commented on #738
FYI: `junit-platform` is not an engine. So you can delete that from the included engines.

[2017-03-16 15:47] sbrannen commented on #738
`String category` should be assigned the name of the tag, not the fully qualified class name of your custom tag annotation.

In other words, if your `requiredCategory` is not set, `category` should be set to `"PromotionIntegrationTest".

[2017-03-16 15:49] sbrannen commented on #738
Also, `@Categories` is not supported in JUnit Jupiter. That annotation is from JUnit 4.

Are you in the process of migrating from JUnit 4 to JUnit Jupiter?

Or are you starting with JUnit Jupiter from scratch?

[2017-03-16 15:52] sbrannen commented on #738
In any case, please let us know what happens when you set `category` to `'PromotionIntegrationTest'` by default (instead of `'com.pcbsys.nirvana.junit.categories.TestClassifier.PromotionIntegrationTest'`).

[2017-03-16 21:44] sbrannen commented on #498
@smoyer64 in light of #681, are you OK if I close this issue?

Or is there still something you would like to address beyond #681?

[2017-03-16 21:45] #498 closed

[2017-03-16 21:45] sbrannen commented on #498
Superseded by #681.

[2017-03-16 22:03] sbrannen commented on #681
_in progress_

[2017-03-16 23:26] sbrannen commented on #681
@smoyer64, would you mind opening a new issue to address the `JupiterSuiteEngine` and your additional ideas in that regard?

[2017-03-16 23:28] sbrannen commented on #681
Addressed in 248943f374381a4d70b4c9f4ee9faab936655c46.

[2017-03-16 23:28] #681 closed

[2017-03-17 06:37] Vazzilena commented on #738
Hey Sam,
Thanks for looking into my problem. I have corrected the things you said, but still the test is not discovered.
I am trying to partially migrate tests from junit version even older that 4.12, so in my classpath I have junit5, junit4 and a junit jar with unknown version (legacy - I want to remove it).

So far we have been running with some custom code in our code base (CAP.getCategorizedCl

[2017-03-17 07:08] marcphilipp commented on #738
Do your test classes follow the `.*Tests?` naming pattern? Are they run when you remove the tag filter?

[2017-03-17 07:27] Vazzilena commented on #738
Yes, each test method as well as test classes contains [test] in its name.
And yes, if I use the selector option like this:
selectors { classes 'com.pcbsys.nirvana.nJMS.CompileTests' } they get executed....

[2017-03-17 10:30] smoyer64 commented on #498
Yes ... this should be closed as it was "clarified" by #681.  I should have be more concise the first time but then again, I'd completely forgotten this issue by the time I wrote the other one!

[2017-03-17 10:37] smoyer64 commented on #681
I'd be happy to open another issue to (help) specify the declarative suite behavior and I'm more than happy to see it end up in the JUnit 5 itself.  Assuming the suite's execution could hook into JUnit 5 in a non-public way, I'll leave it neutral with respect to #687 but that may still have some benefits.

This also seems like it's going to supercede https://github.com/junit-pioneer/junit-pioneer/

[2017-03-17 14:40] sbrannen commented on #14
FYI: I added further concrete deliverables regarding examples in the `documentation` project and User Guide.

[2017-03-17 14:49] sbrannen commented on #14
@marcphilipp, why is a `TestTemplateInvocationContextProvider` required to return a non-empty `Stream` in the `provide()` method?

What if the extension determines only while _attempting to provide contexts_ that there are currently no contexts (for whatever reason)?

Playing devil's advocate: the current JavaDoc is only partially true. If a only a single provider is registered and it returns an e

[2017-03-17 15:17] sbrannen commented on #498
OK. Thanks for the feedback.

BTW,  does the implementation of #681 meet your needs/expectations?

[2017-03-17 15:19] sbrannen commented on #681
Thanks, @smoyer64.

Please let me know once you're created the new issue (in case I _miss_ it).

[2017-03-17 17:53] smoyer64 commented on #498
Yes ... moving these annotations into another package eliminates the import of Vintage and JUnit 4.  I think there are more uses for these annotations than just suites (we're really talking about limiting/hinting the discovery process) but I think people will find commonality between selecting tests for suites and selecting tests for various engines/runs.

Thanks for taking care of this!

[2017-03-17 20:30] sbrannen commented on #717
FYI: updated _Deliverables_.

[2017-03-17 21:17] sbrannen commented on #508
Although #720 has been merged into `master`, I am reopening this issue in order to allow us to ensure that we have in fact also addressed the original concern associated with this issue.

[2017-03-18 07:28] #717 closed

[2017-03-18 16:43] sbrannen commented on #407
PR #720 addressed the issue regarding "four possible boolean states for `isTest()` and `isContainer()`" for `TestDescriptor`; however, the issue still remains for `TestIdentifier`.

@sormuras, would you be willing to submit a similar PR to address the "4 boolean states" issue for `TestIdentifier` as well?

[2017-03-18 16:45] sormuras commented on #407
Sure. Is `TestIdentifier` allowed to use the same enumeration type?

[2017-03-18 16:46] sbrannen commented on #407
Well, that all depends on the dependency graph between the Maven artifacts. 😛

All kidding aside, yes, I think the semantics should be identical with the same (or an equivalent) enum.

[2017-03-18 16:47] sbrannen commented on #407
FYI: I have revised the description of this issue to include a _Deliverables_ section.

[2017-03-18 16:50] sbrannen commented on #407
But then it would likely make more sense to make the `Type` enum a top-level class.

[2017-03-18 18:03] marcphilipp commented on #14
Point taken. If we allow empty streams, I guess we could remove `supports` altogether.

I'll start to work on the Javadoc while traveling tomorrow.

[2017-03-18 18:52] reinhapa commented on #448
@sbrannen where would be the correct place to add the according documentation to?

[2017-03-18 19:05] sbrannen commented on #14
I think it's probably a good idea to keep `supports` around, even if technically only as an indicator or a defensive measure.

I imagine there will be authors of such extensions that _provide_ something even if it's not _supported_ (i.e., they will blindly generate something), but perhaps I'm overthinking things. 😉

[2017-03-18 19:48] sormuras opened #740 "Remove deprecated Launcher.execute() method"
## Overview

Addressing issue #628 with PR #739 marked the old single-parameter `Launcher.execute(LauncherDiscoveryRequest launcherDiscoveryRequest)` as deprecated.

Remove this method and revert all explicit `Launcher.execute(request, new TestExecutionListener[0])` invocations that were introduced by #739.

## Deliverables

- [ ] Revert https://github.com/junit-team/junit5/commit/cb6ca6823ac85416

[2017-03-19 11:46] sbrannen commented on #214
FYI: I just pushed support for `@RepeatedTest` to a new branch: https://github.com/junit-team/junit5/commits/issues/214-repeated-test

Feedback is welcome! 😉

[2017-03-19 11:52] sbrannen commented on #214
_in progress_ due to work on the aforementioned branch.

[2017-03-19 14:26] sbrannen commented on #14
FYI: I added a new sub-task to the _Deliverables_ regarding an `@InvocationIndex` annotation for injecting the current _invocation index_ into `@Test`, `@BeforeEach`, and `@AfterEach` methods.

[2017-03-19 14:28] sbrannen commented on #14
If you look at the implementation of the `@InvocationIndex` support you will notice that there is a disconnect between the `InvocationIndexParameterResolver` and `TestTemplateInvocationContext` with regard to the _current invocation index_.

Specifically, `RepeatedTestInvocationContext` accepts the index via its constructor and via the `getDisplayName()` method. Ideally, we should make the _curren

[2017-03-19 14:31] sbrannen commented on #14
Following up on my previous comment...

One option would be to introduce `int invocationIndex` as an argument to `TestTemplateInvocationContext.getAdditionalExtensions()`.

[2017-03-19 14:58] sbrannen commented on #14
On second thought, `RepeatedTestInvocationContext` deals with the _repetition count_ and not necessarily with the _invocation index_. They are likely the same value, but if multiple `TestTemplateInvocationContextProviders` are registered then the two values will potentially differ (depending on the order in which the providers are registered).

So, in that regard, there are two concepts at play he

[2017-03-19 15:21] sbrannen commented on #710
@sormuras, the link you posted is broken. Do you have an updated link?

[2017-03-19 15:31] sbrannen commented on #710
For those needs you can store things in the `ExtensionContext.Store` between invocations.

In theory, if you store things in the `ExtensionContext.Store` they should get garbage collected when the enclosing scope (e.g., a test class) has completed its execution. I say "in theory" because that is the intended behavior, but I don't believe it has been thoroughly tested.

Unlike TestNG, JUnit (versio

[2017-03-19 16:25] sormuras commented on #710
Sure: https://github.com/junit-team/junit5/blob/master/platform-tests/src/test/java/org/junit/platform/console/ConsoleDetailsTests.java#L149

[2017-03-19 16:35] sormuras commented on #628
Addressed by https://github.com/junit-team/junit5/commit/e99a78098dae04b1fd2c5cc28ff2a09ab77567e4
Next ticket https://github.com/junit-team/junit5/issues/740

[2017-03-19 16:35] #628 closed

[2017-03-19 16:37] sbrannen commented on #448
In the [Registering Extensions](http://junit.org/junit5/docs/current/user-guide/#extensions-registration) section of the User Guide.

[2017-03-19 16:57] sbrannen commented on #710
Aha.... definitely makes me feel like _I'm in the Matrix_. 😝

[2017-03-19 17:58] electrum commented on #710
Relying on garbage collection to free resources is not reliable. We can run out of threads, file descriptors, etc., long before the garbage collector kicks in. Having proper lifecycle of the objects (e.g., implement `Closeable`) is required.

Great! This is a huge pain point with parallel tests in TestNG.

[2017-03-19 19:45] smoyer64 commented on #343
Please review the ```Stopwatch``` section of the user's guide provided in PR #660 - if this format is acceptable to everyone, I'll keep writing.

[2017-03-20 00:18] mkobit opened #741 "Add nullability annotations to code base for better tooling assistance"
## Overview

**Context:** When implementing extensions in Kotlin I noticed that when generating the members in IntelliJ the method signatures had nullable types like `ContainerExtensionContext?`:

[code]

The desired behavior when implementing something like this is to have the generated type represent what the documentation says. I would like the generated parameter to be `ContainerExtensionConte

[2017-03-20 00:29] smoyer64 commented on #741
This is the fourth task in #358 - I'm completely in favor of annotations to help static code analysis tools and we'll be using one in junit-pioneer (https://github.com/junit-pioneer/junit-pioneer/issues/33).  It would be really convenient to use the same libraries in both JUnit 5 and in Pioneer.

[2017-03-20 00:37] mkobit commented on #741
@smoyer64 good catch, I didn't see that issue.

I think this one can be closed as a duplicate.

[2017-03-20 00:57] smoyer64 commented on #741
Your issue has additional information (Kotlin related) ... would it be better to merge the two issues or just let them reference each other?

[2017-03-20 03:06] mkobit commented on #741
@smoyer64 that makes sense to me as well. I believe the issue you referenced is more of a superset of this one, and hopefully solving that one solves this one.

[2017-03-20 14:24] sbrannen commented on #14
@marcphilipp, can you shed some light on possible use cases for registering multiple `TestTemplateInvocationContextProviders` for the same test template method?

[2017-03-20 17:04] sbrannen commented on #710
That's a great point... and something we have not yet considered. I'll add a new issue to track that.

Cheers!

[2017-03-20 17:08] sbrannen opened #742 "Introduce lifecycle support for objects stored in ExtensionContext.Store"
## Overview

As mentioned in https://github.com/junit-team/junit5/issues/710#issuecomment-287634552, JUnit Jupiter should ideally have lifecycle support for objects stored in the `ExtensionContext.Store`.

For example, when the execution of a given level in the test execution hierarchy has completed, we should properly _close_ the execution context and any objects within it.

## Deliverables

- [

[2017-03-20 17:09] sbrannen commented on #710
Done: see #742.

[2017-03-20 17:19] sbrannen opened #743 "Display names must not be allowed to be blank"
## Status Quo

It is currently possible to declare `@DisplayName("")` (or containing only white space), but this should not be permitted.

If a user explicitly declares `@DisplayName`, the user must provide a non-empty name.

## Deliverables

- [x] Introduce appropriate JavaDoc for `DisplayName.value`.
- ❌ Introduce precondition check to ensure that a user has supplied a non-empty name via `@Displ

[2017-03-20 17:20] sbrannen commented on #743
Tentatively slated for M4 since this is a _bug_, but if time constraints are an issue this can be moved to M5.

[2017-03-20 23:20] sbrannen commented on #14
**Update**: I have opted to remove support for `@InvocationIndex` in the branch for repeated tests. As an alternative I have introduced `RepetitionInfo` which can be injected into methods, analogous to `TestInfo`. Details here: https://github.com/junit-team/junit5/commit/6f615a83a94a4ed37a91932e2f371a1cea2f9195

[2017-03-21 18:40] sbrannen commented on #695
It sounds to me like you are not asking for that but rather for a dynamic alteration of the hierarchy within the test plan in terms of reporting.

Is that assumption correct?

[2017-03-21 19:21] fab1an commented on #695
I don't need arbitrary hierarchies or different depths, just 2 levels, both dynamic.

The use case is a program that reads test output from another program and displays the tests.

[2017-03-21 19:22] sbrannen commented on #214
FYI: I have added a new _Deliverables_ section to this issue's description.

[2017-03-21 20:34] sbrannen commented on #214
FYI: if you're interested in experimenting before M4 is released, I have already merged the support for `@RepeatedTest` into `master` in commit 2199096a62eb549bfb12c0be010324a2735f72e9. So you should be able to try it out in recent SNAPSHOT builds.

[2017-03-21 22:45] sbrannen commented on #214
This issue has been addressed in the last several commits pushed to `master`.

In addition, the new functionality has been documented in the User Guide:

- http://junit.org/junit5/docs/snapshot/user-guide/#writing-tests-repeated-tests
- http://junit.org/junit5/docs/snapshot/user-guide/#writing-tests-repeated-tests-examples

[2017-03-21 22:45] #214 closed

[2017-03-22 15:36] sbrannen commented on #14
@marcphilipp, to answer my previous question on my own...

I discovered this example:

[code]

So that obviously works. 😉

I don't think I would personally use that feature (combining multiple sources for the same parameterized test), but I suppose some people will find it useful.

Out of curiosity, is this use case something you've seen in the wild or had a feature request for?

[2017-03-22 15:37] sbrannen commented on #14
@junit-team/junit-lambda, we need to decide if it makes sense to have something like `@InvocationIndex` or to just scrap the idea.

[2017-03-22 19:37] jamespedwards42 commented on #425
This issue originally got me past a sticking point thanks to @cal-pratt, so I thought I would share the new simpler workaround available for latest Java 9 Jigsaw EA build build.  I added `IgnoreUnrecognizedVMOptions` so that it won't cause issues with Java <=8.

environment:
[code]

gradle.properites:
[code]

See http://mail.openjdk.java.net/pipermail/jigsaw-dev/2017-March/011763.html

[2017-03-22 21:43] smoyer64 opened #744 "Introduce support for declarative test suites"
## Overview

As requested in issue #681 (```Introduce junit-platform-suite-api module```), the annotations used for test discovery and selection in the ```JUnitPlatform``` runner have been refactored into the ```junit-platform-suite-api```.  This allows a purely JUnit 5 test suite to be defined declaratively, though it currently requires an alternate engine (as opposed to an extension).

This issu

[2017-03-22 21:45] Januson opened #745 "Unmappable character for encoding Cp1250"
## Overview

After a fresh **git clone** running **gradlew clean assemble** fails with following error.

This happened with Intellij IDEA 2017.1 and gradle wrapper 3.4.1. I tried to set the encoding for whole project in IDEA but without any effect.
Adding **options.encoding "UTF-8"** to **javadoc** resolved the issue.
[code]

[2017-03-22 21:55] smoyer64 opened #746 "Improve JavaDoc for junit-platform-suite-api annotations"
## Overview

With the adoption of a declarative suite mechanism in JUnit 5 proposed in #744, the annotations that were moved to the ```junit-platform-suite-api``` will be used more broadly than for test selection using the JUnit 4 ```JUnitPlatform``` runner.

## Original Proposal

- The javadocs for these annotations should be changed to describe their meaning without reference to this runner.
- M

[2017-03-22 21:55] reinhapa commented on #425
@jamespedwards42 unfortunately seems the junit 5 build not/no longer be working under the latest JDK 9 preview:

[code]

I have been used the options you described with the additional `--show-version` to additionally should the actual version. Do you experience the same problem?

[2017-03-22 22:02] jamespedwards42 commented on #425
@reinhapa Sorry, I haven't tried any of this on this project. But the previous solutions worked for my Gradle Java 9 project.  And then this new flag was just announced yesterday.

In order to use the `--permit-illegal-access` option you need the latest jigsaw build:
https://jdk9.java.net/jigsaw/

[code]

I think it will soon be added to the regular EA builds as well (https://jdk9.java.net/downloa

[2017-03-22 22:51] reinhapa commented on #425
@jamespedwards42 hmm, just tried it successfully thanks for the tip.

[2017-03-22 23:50] mlevison commented on #744
Please consider a new name other than suites - so that people with JUnit 3
history don't accidentally mis-use these for Unit Testing.

Cheers
Mark

[2017-03-23 00:08] sormuras commented on #745
I can't reproduce the errors on Windows 10 and default IJ 2017.1 installation. But having the encoding set to `UTF-8` makes sense. Or switch example snippets to use only default 7-bit ASCII characters.

[2017-03-23 00:21] sormuras commented on #745
@Januson Can you please try again and drop a note whether the javadoc now compiles on your box?

[2017-03-23 11:16] sbrannen commented on #743
_in progress_

[2017-03-23 13:22] sbrannen commented on #743
Fixed in f03cc6dbe2452748c0da4a9496228e16531973ec.

[2017-03-23 13:22] #743 closed

[2017-03-23 13:44] sbrannen commented on #242
The same is true for invalid custom display names supplied by the user, as described in #743.

I will therefore update the description of this issue to reflect the broader scope.

[2017-03-23 13:50] sbrannen commented on #242
FYI: I have introduced a minimum set of _Deliverables_.

[2017-03-23 14:13] gaganis commented on #242
I am thinking this reminds me the approach we took for vintage to handle multiple assertion errors using a MultipleFailuresError.

We could be possible that we could store all validation errors in a Throwable - using a MultipleFailuresError when there is more than one, that would be carried over to the execution phase and when this is nonEmpty we would throw the exception instead of executing the

[2017-03-23 14:31] sbrannen commented on #14
FYI: #704 is a follow-up to this issue.

[2017-03-23 14:33] sbrannen commented on #704
Tentatively slated for M4.

[2017-03-23 14:54] sbrannen commented on #425
Thanks for sharing your experiences and tips, everybody!

I've also had a look at the [Big Kill Switch](http://mail.openjdk.java.net/pipermail/jigsaw-dev/2017-March/011763.html) for disabling strong encapsulation on Java 9, and we'll be investigating further during the M5 time frame.

[2017-03-23 15:08] sbrannen commented on #242
@gaganis, thanks for sharing your ideas.

A few notes...

No need to use `MultipleFailuresError`.

We're on Java 8 and can use suppressed exceptions.

Plus, we already have a `ThrowableCollector` within the JUnit Jupiter engine that could potentially be used for this purpose as well.

[2017-03-23 17:44] Januson commented on #745
@sormuras Yes. It works now.

[2017-03-23 17:51] sormuras commented on #745
Thanks for reporting and retesting @Januson

[2017-03-23 17:51] #745 closed

[2017-03-23 19:10] Andrei94 commented on #746
@smoyer64 could you please assign the issue to me? I don't have access to this feature.

[2017-03-23 19:52] smoyer64 commented on #746
@Andrei94 I can not ... but perhaps one of the @junit-team/junit-lambda members will mark it ```up-for-grabs``` and assign it to you.

[2017-03-23 20:00] Andrei94 commented on #746
so then if I want to work for it how should I do it?

[2017-03-23 20:09] smoyer64 commented on #746
@Andrei94 I should have been more clear ... I'm not a member of the core team so I can't assign issues.

In general, I find that the team is pretty happy to accept pull requests for tasks like this (javadocs and documentation don't tend to have architectural implications).  If you fork the project, make the changes and submit a PR without having the issue assigned to you the only real risk is that

[2017-03-23 20:15] Andrei94 commented on #746
Ok @smoyer64 Thank you very much for the clarification. I already forked the project. 😃

[2017-03-23 20:34] sbrannen commented on #14
FYI: as a follow up to the discussion regarding whether or not we need `supports()` for providers, the answer is a definitive "yes". Otherwise, the support for `@RepeatedTest` (and any other use cases where a provider is _registered_ but not used for a particular test template method) will be broken.

[2017-03-23 20:40] sbrannen commented on #746
We have no intention of removing references to the JUnit 4 suite support on the platform.

That's why I deliberately added a new _JUnit 4 Suite Support_ as the **last section** of the JavaDoc for each of those annotations.

If/when we introduce generic suite support (either in the Platform or in Jupiter), we will also reference those implementations from the suite API annotations.

Having said tha

[2017-03-23 20:48] sbrannen commented on #704
FYI: this is related to the proposal (in #14) for an `@InvocationIndex` annotation for injecting the current _invocation index_ into `@Test`, `@BeforeEach`, and `@AfterEach` methods.

See https://github.com/junit-team/junit5/commit/d2e3a4dfdc8cc4b4b8609e4297f8e00b753cb5b3.

[2017-03-23 22:33] smoyer64 commented on #704
As a concrete example, I have a branch in upREST that creates the combinations of tests needed based on the annotations that are present, so one test method might yield many invocations.  Since the invocation context is an interface, I've created an implementation that holds the specific HttpRequest object that must be sent to the server before the method's parameter resolution.

When it's time to

[2017-03-23 22:45] smoyer64 commented on #746
Well ... clearly the wording was confusing to me!  On the other hand, now that I've reread the javadocs and noted the **JUnit 4 Suite Support** heading above the reference to JUnit 4 and the ```JUnitPlatform``` runner I'm not sure.  Since these annotations are part of an API, we can't possibly list out all the implementations that are created.  On the other hand, I think it's worth referencing the

[2017-03-24 09:33] reinhapa commented on #448
@sbrannen I've updated my pull request with some documentation

[2017-03-24 13:34] sbrannen commented on #746
My sentiments exactly! 😉

[2017-03-24 13:35] sbrannen commented on #746
Sure.

And... BTW, I'll most certainly revise the JavaDoc for the entire suite API once we have built-in support in the Platform (other than the current JUnit 4 support).

[2017-03-24 13:37] sbrannen commented on #746
No worries. I do my best to think things through, though I don't always succeed. ☺️

[2017-03-24 13:38] sbrannen commented on #746
I'm modifying the title and description of this issue accordingly.

[2017-03-24 13:44] sbrannen commented on #744
Tentatively slated for M5.

[2017-03-24 13:56] sbrannen commented on #744
@smoyer64, thanks for creating the ticket!

I think there are two main topics we need to sort out here:

1. suites within the JUnit Jupiter engine
2. declarative suite configuration at the Platform level

If I understand correctly, you are currently focusing on # 1; whereas, I would first like to focus on # 2.

### Status Quo

- We have generic suite API annotations.
- We have a JUnit 4 based runn

[2017-03-24 13:58] sbrannen commented on #744
My above proposal avoids exactly such a need.

If we support suites at the platform level, there is no need for any additional test engines.

[2017-03-24 14:02] sbrannen commented on #744
By the way, my proposal does not in any way preclude the introduction of suite support specific to a particular test engine.

The idea is that the Platform (at the launcher level) would only honor the suite API annotations if a special, platform-specific annotation is present (e.g., `@JUnitPlatformSuite`); otherwise, the Platform would simply ignore such annotations and leave the `LauncherDiscover

[2017-03-24 14:03] sbrannen commented on #744
@smoyer64 - yes, indeed it is! 👍

[2017-03-24 14:08] sbrannen commented on #744
Another topic to sort out (which I didn't explain so well above) is whether _suites_ should be handled specially within the test plan.

With the generic approach (at the Launcher level), this would not be the case since test engines would not _see_ the presence of a suite as a first-class citizen in the test plan. As I mentioned above, suites would be invisible to test engines.

So, if we want to

[2017-03-24 14:10] smoyer64 commented on #744
@sbrannen I actually think we're exactly on the same page - #687 was my along with #681 were the two issues that I put in to allow an extension to implement suites.  The engine I've already created works fine but with a couple more extension points it would be trivial to simply make it an extension.

Let's ignore the word "suite" for a moment - I think there's a great argument that these are simpl

[2017-03-24 14:33] mlevison commented on #744
I will make another attempt to explain why I think there are risks/issues with the name. I like the concept, but the linkage to the old names causes risk.

All of my work is consulting work in organizations. Frequently when I sit down with teams I get a chance to see their code. In too many cases I see people who have JUnit 3 style tests and suites in JUnit 4. When prompted they're not aware that

[2017-03-24 14:37] sormuras commented on #744
Do you have a better name in mind, Mark?

[2017-03-24 14:57] sbrannen commented on #744
@mlevison, I have to admit that I don't really understand your concerns.

I personally cannot think of a better name than "suite" for something that allows you to group together a collection of tests that should be run together.

In fact, the `Suite` support in JUnit 4 achieves exactly what we are describing here:

We also use the term _suite_ in the documentation for the `JUnitPlatform` runner:

[2017-03-24 14:58] sbrannen commented on #744
@smoyer64, glad to hear it!

I'll have to look into the details at a later date though.

[2017-03-24 15:27] smoyer64 commented on #744
@sbrannen When I said to "ignore the word suite", I wasn't implying that I didn't think that name was appropriate ... it definitely feels familiar and I think it would actually be confusing to migrating users to suddenly use a different term (my intent in that paragraph was to point out that suites are a "kind of" test container).

I'll see about cleaning up my suite-engine and getting it moved in

[2017-03-24 17:09] mlevison commented on #744
On Fri, Mar 24, 2017 at 10:37 AM, Christian Stein <notifications@github.com>
wrote:

​No you expect intelligent thought. I didn't yet. Ideas (that I don't
like): collection, series, set, map​ or if we're attached to Suite
something more expressive like IntegrationSuite that makes it clear that
these are not intended for Unit tests.

Cheers
Mark

On Fri, Mar 24, 2017 at 10:37 AM, Christian Stein <n

[2017-03-24 17:14] mlevison commented on #744
On Fri, Mar 24, 2017 at 10:57 AM, Sam Brannen <notifications@github.com>
wrote:

​My point is that some years after the appearance I JUnit 4 - I still ​find
people writing their tests as if they were using JUnit 3. Not because this
was desirable, but because they didn't know that they didn't need suites
anymore. Often when I point out that they're not longer needed they tidy up.

My original conce

[2017-03-25 12:38] sbrannen commented on #448
Now slated for M4.

[2017-03-25 16:22] sbrannen commented on #448
Resolved in 473aa1a9dc766d54fe895bc576f9fc970fb804f4.

[2017-03-25 16:22] #448 closed

[2017-03-25 16:58] sbrannen commented on #704
Actually, the more I think about it, the more I come to realize that `@InvocationIndex` is probably completely useless.

It's _useless_ simply because it provides _zero_ context. It's just a number, and without further information one simply cannot know how to interpret it. If you don't know what other providers are registered, and in what order, and exactly what they do... then the index becomes

[2017-03-25 17:02] sbrannen commented on #704
I agree that that could be useful, and it provides more _context_ (no pun intended) than merely the index.

I don't think that would be prudent, at least not in that form.

Thus far we strive to decouple extension APIs from _normal_ test code, meaning that we wouldn't want to inject a type from the `extension` package into a test method.

Perhaps something like `TestTemplateInfo` would work, but I

[2017-03-25 17:04] sbrannen commented on #14
Regarding the need for an `@InvocationIndex` annotation, I have personally decided against it. However, we could provide an alternative means to access similar information about the current test template invocation -- something like `TestTemplateInfo` perhaps.

See comments here: https://github.com/junit-team/junit5/issues/704#issuecomment-289224642

[2017-03-25 20:41] sbrannen commented on #704
FYI: I changed the title of this issue to reflect its more generic nature.

[2017-03-26 08:09] sormuras commented on #704
Which other properties would a `TestTemplateInfo` carry around, other than `int getInvocationIndex()`?

[2017-03-26 11:12] sbrannen commented on #704
Good question.

In order to provide _contextual information_, it would need to somehow provide the _source_; otherwise, we again have the problem with the invocation index being meaningless on its own.

So, I guess the question is: what is the _source_?

It could be a _name_.

It could be a `Class` reference.

Or perhaps @smoyer64 had it right: perhaps the only meaningful source is the actual prov

[2017-03-26 11:21] smoyer64 commented on #704
Should this be split into two issues?  It seems like being able to access a ```TestTemplateInvocationContext``` from within a ```ParameterResolver``` is different than providing a built-in ```ParameterResolver``` that allows a test to gain access to it's context.

To be honest, I was expecting that this would require the addition of an (```Optional```) accessor in ```ExtensionContext```.

[2017-03-26 13:48] jlink opened #750 "DefaultLauncher should catch exceptions thrown by test engines"
## Overview

If a test engine throws an exception during discovery (see https://github.com/junit-team/junit5/blob/master/junit-platform-launcher/src/main/java/org/junit/platform/launcher/core/DefaultLauncher.java#L115) other engines won't be queried any more.

I think this is a bug because one test engine can thereby prevent others from working.

## Deliverables

- [x] `DefaultLauncher` should cat

[2017-03-26 14:15] sbrannen commented on #704
It basically already is; we just happen to be discussing the topics in two places since they are related. 😉

I agree.

This issue is focused on the extension model.

The related _Deliverable_ in #14 is focused on the programming model.

That's definitely an option.

So are you proposing `Optional<TestTemplateInvocationContext> getTestTemplateInvocationContext()`?

[2017-03-26 14:18] sbrannen commented on #704
Are you saying that you don't care about the physical _type_ of the invocation context?

In other words, are you not going to downcast it to a type you know (or own) and interact with other methods it may provide?

Do you have some code we can look at in order to better understand your use case?

[2017-03-26 14:46] sbrannen commented on #750
Thanks for raising the issue.

I totally agree!

The same applies to the execution phase as well.

[2017-03-26 14:49] sbrannen commented on #750
It could do that, but I consider that a separate topic. I have therefore updated this issue's description to reflect the deliverables.

Feel free to create a new issue to propose concurrent test discovery across registered engines.

[2017-03-26 14:50] sbrannen commented on #750
Slated for M5 since we are trying to get M4 out the door as soon as possible.

[2017-03-28 02:02] manueljordan opened #752 "Consideration of create a new annotation to be executed before of @Parameters"
## Overview

I have assumed that `@BeforeClass` is executed before of `@Parameters`.
I did realize it is not true.

## Situation

The situation is that `@Parameters` needs mandatorily data initializated from `@BeforeClass`.

Now, because my original assumption was wrong, my unique way to around this is through a `static` block to accomplish my goal.

## Original Proposal

Assuming this behaviour i

[2017-03-28 13:34] sbrannen commented on #752
This issue tracker is for JUnit 5; whereas, your inquiry only applies to JUnit 4.

Please raise your issue against https://github.com/junit-team/junit4/issues.

[2017-03-28 13:34] #752 closed

[2017-03-28 20:39] manueljordan commented on #752
Should I assume this situation is already fixed in version 5?

[2017-03-29 04:57] ttddyy opened #753 "Support for new annotation equivalent to TestInstancePostProcessor"
## Overview

Currently, there is a `TestInstancePostProcessor` extension point, but there is no equivalent annotation.

Similar functionality can be achieved by instance initializer block, but it cannot have access to the context info that JUnit Jupiter DI provides.

New annotation should be annotated on instance method, so that logic that once-per-test-class but don't-want-to-be-in-static-method

[2017-03-29 09:46] sbrannen commented on #753
If we introduce such support, my recommendation would be to simply support the standard `@PostConstruct` annotation.

[2017-03-29 11:22] avandeursen opened #754 "Improve documentation of DynamicTest lifecycle (round 2)"
The [documentation](http://junit.org/junit5/docs/5.0.0-M3/user-guide/#writing-tests-dynamic-tests) for JUnit5's dynamic tests states:

Reading this I thought BeforeEach methods are not executed at all if a class has dynamic tests.

What happens, however, is that such methods are executed, but just once. For example, I have a class with one `BeforeEach` method (`setUp`, which sets some fields), and

[2017-03-29 20:41] marcphilipp commented on #704
This works for me:

[code]

@smoyer64 Would that work for you, too?

[2017-03-29 20:45] marcphilipp commented on #753
Would a constructor with a `TestInfo` argument work for you?

[2017-03-29 20:56] marcphilipp commented on #395
I think, once M4 is out, it would be good to try to implement a POC for s.th. like theories. I'm sure there are still a few pieces missing here and there. Having those written down would make them actionable.

[2017-03-29 20:58] marcphilipp commented on #395
@ddimtirov Would you have time to try and do that based on `@TestTemplate`?

[2017-03-30 09:26] jlink opened #755 "Remove final from EngineDescriptor.getType()"
While implementing a minimal engine with @mmerdes we got bitten by the fact that we cannot override `EngineDescriptor.getType()` with `return Type.Test`.

This would be very useful for an engine that does nothing but delegate to an external tool for running tests. In case there is no strong rationale for not allowing an engine to be an executable test itself.

A possible workaroung might be to ove

[2017-03-30 13:03] mmerdes commented on #149
in progress

[2017-03-30 13:26] smoyer64 commented on #704
@marcphilipp  That might just work - hopefully I can try it out later today.  As you previously suggested, I've created a new ```@TestTemplate``` annotation for the REST tests performed by upREST and was declaratively adding the appropriate ```ParameterResolver```s to that annotation.  That annotation looks something like this:

[code]

There are actually quite a few more ```ParameterResolver```s

[2017-03-30 14:09] sormuras commented on #755
The `final` was only introduced because of the `Type.ENGINE` constant, which I thought was a fundamental building block that never will neither be a container nor a test. What about an explicite `Type.ENGINE_AND_TEST` constant? Feels a bit like an overkill.

[2017-03-30 14:41] jlink commented on #755
`Type.ENGINE_AND_TEST` feels clumsy but it looks like the easiest way to go.

Maybe `Type` could evolve from enum to class with `isTest` and `isContainer` methods.

[2017-03-30 14:50] sormuras commented on #755
Thinking about your initial comment, stating: "[...]override TestDescriptor.isTest() and isContainer() [...]" is more and more appealing to me.

You _are_ creating an engine. So, the default/final `Type.ENGINE` is correct. An engine is by default a container -- but your special one is a test. So, return `true` when your descriptor is asked `.isTest()`. There's no need to be consistent with the def

[2017-03-30 15:00] jlink commented on #755
Ok. We'll try that.

[2017-03-31 10:57] jlink opened #756 "Dynamic children of TestDescriptor with Type.CONTAINER_AND_TEST are not registered correctly"
For some strange reason, which I couldn't figure out yet, trying to dynamically register children of a descriptor with type `Type.CONTAINER_AND_TEST` will register them (read: show them in the test plan) as children of the container above and not the intended parent. Changing type to `Type.CONTAINER` and also implementing
[code]
fixes the symptom.

I've observed the phenomenon in IDEA's test view

[2017-03-31 11:05] sormuras commented on #756
IDEA view is based on M3, afaik. Let's either wait until they adopt to M4 (soon TM) or we use the console launcher tree output as reference.

Will look into the topic next week.

[2017-03-31 11:24] sormuras commented on #714
###JOpt Simple -- in junit-platform-console and junit-platform-console-standalone
http://pholser.github.io/jopt-simple/license.html

The `jopt-simple-5.0.3.jar` does not contain a license file. The documenation and maven central point to https://opensource.org/licenses/mit-license.php

Copy MIT license text to a file called `junit-platform-console/LICENSE-jopt-simple.md` and include it the `junit-

[2017-03-31 11:29] marcphilipp commented on #714
Sounds good! Here's a Markdown version of the MIT license:
https://github.com/IQAndreas/markdown-licenses/blob/master/mit.md

[2017-03-31 11:33] sormuras commented on #714
## uniVocity-parsers

https://github.com/uniVocity/univocity-parsers/blob/master/LICENSE-2.0.html

Used by

- junit-jupiter-params
- junit-platform-console-standalone (soon?)

uniVocity/univocity-parsers is licensed under the Apache License 2.0

Copy Apache License 2.0 to a file called junit-jupiter-params/LICENSE-univocity-parsers.md and include it the  junit-jupiter-params-XYZ.jar

[2017-03-31 11:40] sormuras opened #757 "Upgrade from github-pages to git-publish"
## Overview

The following note is printed while building JUnit 5:
[code]

## Deliverables

- [X] Migrate to org.ajoberstar.git-publish https://github.com/ajoberstar/gradle-git-publish
- [x] Adapt Jenkins build

[2017-03-31 12:55] jlink commented on #756
OK.

The error occurrs if something is both a test and a container.

[2017-03-31 13:15] jlink opened #758 "Allow possibility to change display name during execution"
## Use Case

A test engine (or Jupiter extension) might want to enhance the display name with additional information, e.g. a reason for failure or random seed in case of property testing.
This could make dealing with concrete failures simpler.

## Alternatives

Additional information can already be logged via `EngineExecutionListener.reportingEntryPublished()` but this info is usually hidden in st

[2017-03-31 13:58] marcphilipp commented on #758
I think that's a good idea. I have been toying with the idea myself, too. We could even make it more "generic" and allow engines to report arbitrary (e.g. display name, legacy reporting name, source, tags etc.) changes to a `TestDescriptor`, e.g. `EngineExecutionListener.propertyChanged(TestDescriptor, PropertyChangeEvent)`.

However, I'm not sure how we would report those changes to tools that us

[2017-03-31 15:55] sormuras commented on #714
Updated deliverables.

[2017-03-31 16:07] sormuras opened #759 "Include junit-jupiter-params in standalone distro"
## Overview

At the moment, the `junit-jupiter-params` is not part of the `junit-platform-console-standalone` artifact.

## Deliverables

- [ ] Decide if we want to include params in standalone JAR

[2017-03-31 16:15] sormuras commented on #758
I never felt the need to change a test name at runtime before. Having `@DisplayName` now is good, as the name of a test was always my human-readable (almost unique) ID for the test. I use those names when searching test logs...

If I want to report some extra information, I'd use the reporting-facility you mentioned.

[2017-03-31 19:45] marcphilipp commented on #759
_in progress_

[2017-03-31 19:49] marcphilipp commented on #714
We should also do this for junit-platform-commons-standalone, right?

[2017-03-31 20:17] sormuras commented on #714
The `LICENSE-xyz.md`s are auto-merged into the standalone JAR.

[2017-03-31 21:18] sormuras opened #761 "Remove duplicate entries from Standalone Distro"
## Overview

With #714 solved, current root entries of `junit-platform-console-standalone-1.0.0-SNAPSHOT.jar/META-INF` are:
[code]

After #760 is merged, even more duplicates will appear.

## Deliverables

- [ ] Configure shadow jar task of `junit-platform-console-standalone` to filter duplicate entries

[2017-03-31 21:20] sormuras commented on #714
Solved on master via https://github.com/junit-team/junit5/commit/9c1742a04ac8b26b53f644a5dbc998e02565a305 https://github.com/junit-team/junit5/commit/311b4efb8967c166e93b765863064cb5c593bc09 and https://github.com/junit-team/junit5/commit/f175c175a35eb9a1b7770ae63f02b138606944bf

Follow-up issue: #761

[2017-03-31 21:20] #714 closed

[2017-03-31 21:26] #759 closed

[2017-04-01 07:28] sormuras commented on #761
Is the M4 window still open? I could need the duplication-free JAR over at pro:
[code]

[2017-04-01 07:50] #761 closed

[2017-04-01 09:22] marcphilipp commented on #704
Did you have a chance to try it out?

[2017-04-01 09:27] marcphilipp opened #762 "Document @TestTemplate and accompanying extension point in User Guide"
## Overview

Document `@TestTemplate` and accompanying extension point in User Guide.

## Deliverables

- [ ] Document `@TestTemplate` and accompanying extension point in User Guide
- [ ] Provide example(s) in the `documentation` module and include in the User Guide.

[2017-04-01 10:06] marcphilipp commented on #14
Thanks for all the hard work, guys!

Remaining work (`@TestTemplate` documentation) will be addresses in #762.

[2017-04-01 10:06] #14 closed

[2017-04-01 15:58] ttddyy commented on #753
yeah, constructor works. Thanks @marcphilipp

Also, I'm wondering how about having annotation for a method that is called after all tests in a class have executed. Similar to `@AfterAll` but on instance method.

[2017-04-01 19:39] marcphilipp commented on #753
That method would only be called once? On which instance?

[2017-04-01 21:13] sbrannen commented on #753
I'm not sure it warrants an additional annotation.

I'd rather just consider it a choice between lifecycle modes for test instances... which is coming soon (likely in M5). Then `@AfterAll` will meet your needs (in "test instance per test class" mode).

[2017-04-02 17:08] sormuras opened #763 "3rd-party friendly entry point in ConsoleLauncher"
## Overview

Make [ConsoleLauncher](https://github.com/junit-team/junit5/blob/master/junit-platform-console/src/main/java/org/junit/platform/console/ConsoleLauncher.java#L38) more re-usable by external applications by providing an `execute(String...)` method that returns an exit code and does **not** call `System.exit(code)`.

Use-case https://github.com/forax/pro plugin:
https://github.com/sormur

[2017-04-02 23:36] pholser commented on #395
I know @jlink is working on a [JUnit 5 engine](http://jqwik.net/) for both example-based tests and theory-style tests.

[2017-04-03 05:49] bechte commented on #395
I think the idea of creating a separate ```TestEngine``` for Theories is good, because Theories often do not follow our more general test discovery and execution path. Moreover, they need very special actions and initialization and maybe also a guaranteed order of test execution. All this would be better supported by an additional TestEngine, that can respect the special needs for those kind of te

[2017-04-03 14:33] sbrannen opened #764 "Support common display name placeholders for all test templates"
## Status Quo

JUnit Jupiter 5.0.0-M4 introduced generic support for test templates and concrete support for repeated and parameterized tests. The latter also include support for custom display names with placeholders.

For example, `@RepeatedTest` supports `{displayName}`, `{currentRepetition}`, and `{totalRepetitions}`; whereas, `@ParameterizedTest` supports `{index}`, `{arguments}`, and `{#}` (

[2017-04-03 14:59] sbrannen opened #765 "Rename ObjectArrayArguments.create() to arguments()"
## Overview

In order to improve the user experience and allow for the static factory method in `ObjectArrayArguments` to be used via a static import, the name should be changed to something more DSL-like.

## Deliverables

- [x] Rename `ObjectArrayArguments.create()` to `arguments()`.

[2017-04-03 15:31] sbrannen commented on #765
Resolved in 30438b4dec1de88a1e6d7737b35449486f56f015.

[2017-04-03 15:31] #765 closed

[2017-04-03 18:30] sormuras commented on #740
in progress...

[2017-04-03 19:52] #629 closed

[2017-04-03 20:43] sbrannen commented on #765
Further addressed in c810d13142fc74b8f5b63864c3451a4eed97e322.

[2017-04-03 20:52] sbrannen opened #766 "Rename methods in TestTemplateInvocationContextProvider"
## Status Quo

The names of methods in the `TestTemplateInvocationContextProvider` API introduced in M4 are too generic.

Consequently, there is a good chance that we will later run into naming collisions with other extension APIs that _support_ or _provide_ for a given container context. Such collisions would effectively prevent a single extension from being able to implement two such affected ex

[2017-04-03 21:00] ttddyy commented on #753
ah, my bad. I forgot junit creates test instance per method.
And if lifecycle mode is added(instance per test class), then `@AfterAll` on instance method is sufficient.

Thanks,

[2017-04-03 21:00] #753 closed

[2017-04-04 05:31] panchenko commented on #48
I would prefer the `@Step` annotation on the methods which also contains a number to specify execution order, as having method names in some annotation would make it more complicated to split or merge steps. Once I have implemented this approach as a Runner. An use case was integration tests doing some HTTP calls.

In junit5 it can be done quite easy like this:

[code]

[2017-04-04 12:28] sbrannen commented on #48
@panchenko, that's certainly a clever use of default methods, reflection, and dynamic tests for implementing a feature not yet supported by the framework itself. 👍

Thanks for sharing!

[2017-04-04 12:43] baev opened #767 "Allow LauncherFactory to be configured regarding engines and listeners"
## Overview

Currently the only way to create DefaultLauncher is use `LauncherFactory.create()` method, that loads engines and listeners via SPI. In some cases it would be nice to have an ability to directly specify the engines and listeners for launcher.

In my case I want to load engines with SPI, but disable SPI for listeners

[2017-04-04 13:30] sbrannen commented on #767
Thanks for raising the issue. We'll look into it.

[2017-04-04 13:58] jackmiras opened #768 "Publish JUnit Platform Gradle Plugin to Gradle plugin repository"
The current gradle plugin implementation where Junit 5 is available doesn't support the new syntax of plugins inclusion from gradle.

Currently in order to include Junit 5 in a gradle project I have to implement the following script:
[code]

But recently gradle include a new feature that allows us to load plugins by implement a shorter script, just like down below:
[code]

Unfortunately is not pos

[2017-04-04 14:10] sbrannen commented on #768
We are aware of this and will look into it.

Cheers!

[2017-04-05 08:59] LiamClark opened #769 "VintageTestEngine attempts to execute abstract test classes"
## Overview
I believe I stumbled on a bug, my use case is the following:

I have an abstract class containing tests and a constructor:

[code]

Please note that currently it's using the JUnit 4 `@Test` and a sub class extending this class providing the constructor argument:

[code]

There are various interactions with this construct between gradle and maven.  The outputs are shown below. The build

[2017-04-05 12:38] sbrannen commented on #769
This is indeed a _bug_.

Thanks for raising the issue!

[2017-04-05 12:40] sormuras commented on #756
@jlink IDEA 2017.1 already supports M4. See how https://youtrack.jetbrains.com/issue/IDEA-170817#comment=27-2081280

[2017-04-05 12:41] sormuras commented on #755
What are your results on this topic, @jlink ?

[2017-04-05 12:51] jlink commented on #755
Not yet tried.
My guess is that the whole topic might hide a few more quirks, e.g. https://github.com/junit-team/junit5/issues/756

[2017-04-05 13:21] Vazzilena commented on #738
Hey,

Any updates on this?

Can you give me some hint what could be wrong in my project configuration? I really like the test discovery option and want to use it without having package based suites...

[2017-04-05 13:22] marcphilipp commented on #769
Thanks for raising the issue, @LiamClark!

I think this actually demonstrates multiple problems:

1. While the Jupiter engine logs a warning when it gets a `ClassSelector` for an abstract class, the Vintage engine blindly tries to run it and, unsurprisingly, fails.
1. The Surefire provider currently is unable to determine whether a class is executable as a test from the `TestPlan` it gets from the

[2017-04-05 13:34] LiamClark commented on #769
@marcphilipp I forked the sample project and added the classes there, it still shows the same behaviour for me. It's located here https://github.com/LiamClark/junit5-samples

[2017-04-05 14:00] sbrannen commented on #738
@Vazzilena, is there any chance you can provide us a minimal project that demonstrates the problems you are encountering?

For example, you could create a project in your GitHub account and/or submit a pull request that demonstrates your setup.

That would really simplify matters for us, in terms of being able to help you!

[2017-04-05 15:23] sbrannen opened #770 "Publish PDF version of User Guide"
## Overview

The User Guide is currently published in HTML; however, it would be beneficial to provide a PDF download as well.

## Related Issues

- #777
- #1099

## Deliverables

- [x] Configure Gradle build to generate PDF version of the User Guide.
- Use the `rouge` syntax highlighting support for PDFs.
  - Since `rouge` is not yet supported for the `html5` _backend_, we would need to have sepa

[2017-04-05 18:19] marcphilipp commented on #769
Ah, `SubBugTest` isn't `public` in your project and thus not excluded when scanning the classpath. So, I think we can forget about that issue.

Do you want to give fixing (1) a shot?

[2017-04-06 16:43] sormuras opened #775 "Compile and test on Java 9"
## Moved "Lessons learned..." to Wiki

[Lessons learned "JUnit 5 compile and test on Java 9 b162"](https://github.com/junit-team/junit5/wiki/Lessons-learned-%22JUnit-5---compile-and-test-on-Java-9-b162%22)

Here, only the remaining technical steps resulting from the lessons learned are retained.

## Related Issues

- #425

## Deliverables

- [x] Upgrade to Gradle 3.5 - done in master with https://

[2017-04-06 17:35] sormuras commented on #425
#775 is dedicated to get JUnit 5 compile and run on Java 9 "classpath style".

[2017-04-06 20:03] sbrannen commented on #775
@sormuras, thanks for compiling all of this information! 👍

[2017-04-06 20:09] sbrannen commented on #775
FYI: the Shadow plugin has already been upgraded to ASM 5.2: https://github.com/johnrengelman/shadow/issues/285

[2017-04-06 20:20] sbrannen commented on #775
Why not just suppress deprecation warnings on the call for now?

Or... would that mess up the JDK 8 build? 😜

[2017-04-06 20:21] sbrannen commented on #775
It'll also be nice to be able to switch to [trySetAccessible()](http://download.java.net/java/jdk9/docs/api/java/lang/reflect/AccessibleObject.html#trySetAccessible--), but we'll have to wait until JUnit 6 for that probably.

[2017-04-06 20:27] jbduncan commented on #775
Alternatively to waiting for JUnit 6, we might be able to use MR-JAR support coming with Java 9, once we have a clear picture of how MR-JARs fit into Gradle. :)

[2017-04-06 20:34] LiamClark commented on #769
@marcphilipp I must have removed the public when I tried maven with jupiter, my bad!

I just opened #776 as my attempt for fixing (1)

[2017-04-06 21:03] sbrannen commented on #769
FYI: updated _Deliverables_ and formatted example output.

[2017-04-06 21:04] sbrannen commented on #769
If you had referred to this issue in the commit message for your PR, you wouldn't have to explicitly state that since GitHub would do it for you. 😉

[2017-04-06 21:18] sbrannen opened #777 "Use Rouge syntax highlighting in User Guide"
## Overview

#770 introduced support for generating a PDF version of the User Guide and initially attempted to use _Rouge_ syntax highlighting but stopped short of doing so for the HTML version since _Rouge_ is not yet supported for the `html5` backend in Asciidoctor.

The reason we say "initially" is that we have now stopped using Rouge due to a bug that prevents it from being used on MS Windows.

[2017-04-06 21:27] sbrannen commented on #775
Ummmm... yeah... once we can actually (reliably) develop against Java 9 with the whole tool chain (Gradle, all CI servers, IDEs, etc.). So, I'm not going hold my breath for that at the moment.

[2017-04-06 21:43] jbduncan commented on #775
Of course.

[2017-04-06 21:44] reinhapa commented on #775
I would be happy to help on that as soon you wanted to  start on this issue...

[2017-04-06 22:22] sbrannen commented on #770
_in progress_

[2017-04-06 22:45] sbrannen commented on #770
No longer _in progress_: resolved issue with generated diagrams and PDF output.

[2017-04-06 22:47] sbrannen commented on #770
FYI: this issue is currently assigned to me.

But if anyone else wants to tackle any of the open deliverables... feel free to do so!

Just add a comment here first, please.

[2017-04-07 11:06] sormuras commented on #775
https://twitter.com/qos_ch/status/850301391608438785

Ceki just released **SLF4J version 1.8.0-alpha0**, modularized for Java9/Jigsaw/JPMS/JSR 376, on Maven Central. Let's have look how he did.

[2017-04-07 22:34] maxwindiff opened #780 "Capture stdout/stderr and include in test reports"
## Overview

Currently the JUnit Platform and JUnit Jupiter do not support capturing stdout/stderr emitted during tests. This is quite useful for troubleshooting test failures on CI servers, esp. if the failures are not reproducible locally.

Background: http://stackoverflow.com/questions/43151448/how-to-capture-stdout-stderr-in-junit-5-gradle-test-report/43259526

[2017-04-08 03:36] panchenko commented on #48
I am interested in implementing this properly in junit5, so would like to check if anyone is already actively working on it? And the next question is if we have some common vision on the approach?

[2017-04-08 16:26] LiamClark opened #781 "Static inner classes should be considered as a potential JUnit4 test classes"
## Overview

The current implementation of  [isPotentialJUnit4TestClass](https://github.com/junit-team/junit5/blob/master/junit-vintage-engine/src/main/java/org/junit/vintage/engine/discovery/IsPotentialJUnit4TestClass.java#L30) excludes any member class. This can be seen in #778. To reiterate, a member class is:

another class or interface declaration (§8.1.6, §9.1.4).

from the java 8 specificat

[2017-04-08 16:47] ledoyen commented on #754
In my understanding, `@BeforeEach` and `@AfterEach` (and equivalent extensions) mean **@BeforeEachTestMethodInvocation** and **@AfterEachTestMethodInvocation**.

In your case, only one method defines DynamicTests, so, only one invocation of this test method is done, along with one invocation of `@BeforeEach` method.

[2017-04-08 19:42] marcphilipp opened #783 "Fix Javadoc warnings"
## Overview

Currently the following warnings are printed when executing `:aggregateJavadocs`:

[code]

## Deliverables

- [ ] Fix Javadoc warnings

[2017-04-08 22:21] sbrannen commented on #783
_in progress_

[2017-04-08 22:30] #783 closed

[2017-04-09 08:59] sormuras commented on #763
Team decision: use [Launcher API](http://junit.org/junit5/docs/current/user-guide/#launcher-api) instead.

[2017-04-09 08:59] #763 closed

[2017-04-09 17:08] mkobit opened #786 "Details.TREE does not gracefully handle failure exceptions that don't have a message"
## Overview

When setting the details level to `Details.TREE` and a single test throws an exception without a message leads to stopping any more tests from executing.

[code]

[code]

[code]

## Deliverables

- [ ] `TreePrinter` should handle failing tests with throwables that do not have a failure message

[2017-04-09 17:16] mkobit commented on #786
The most common problem I've seen with this is when a test throws an unintentional `NullPointerException` that bubbles out and stops other tests from running.

[2017-04-09 18:21] sormuras commented on #786
Will look into it "in detail" tomorrow.

[2017-04-09 18:22] marcphilipp commented on #704
@smoyer64 Can we close this issue?

[2017-04-09 19:07] marcphilipp commented on #757
Merged and works in Jenkins: 3ec7c96a5df5dbc2a15283f6ce495719eefa4c3d

[2017-04-09 19:07] #757 closed

[2017-04-09 19:10] marcphilipp commented on #678
Also helpful: http://junit.org/junit5/docs/snapshot/api/deprecated-list.html

[2017-04-09 20:13] #786 closed

[2017-04-09 20:13] sormuras commented on #786
Thanks @mkobit for reporting.

Fixed on master with https://github.com/junit-team/junit5/commit/29c092ad370c794fab497f3aebfdb11be1144796.

[2017-04-09 20:40] smoyer64 commented on #704
@smoyer64 ... sorry for disappearing (my day job has been consuming my personal time lately).  I'm about half-way through upREST's conversion to ``@TestTemplate``.  I'm pretty sure this is going to work and has the advantage that executing the request can be lazy - if there isn't a parameter that needs data from the response, then why execute the request.

Can I have a couple more days to catch up

[2017-04-09 21:09] marcphilipp commented on #704
Sure!

[2017-04-10 06:36] marcphilipp commented on #48
I don't know of anyone actively working on it. There's no common vision, yet. I think as a first step we need more detailed proposals how to express dependencies between steps each with a list of advantages/disadvantages, we need to define the semantics of lifecycle callbacks, e.g. is a `@BeforeEach` method invoked before each step etc.

[2017-04-10 09:20] sormuras commented on #775
W/ daemon (default): http://stackoverflow.com/questions/43318585/how-to-implement-a-custom-runner-in-junit5 works
W/o daemon (--no-daemon): https://travis-ci.org/junit-team/junit5/builds/220480116 fails

Why?

[2017-04-10 09:56] sormuras commented on #695
How about a `DynamicTest.pushContainer(String displayName)` factory method that pushes a dynamic container node on top of the current tree node level. Along with `DynamicTest.popContainer()` to exit the current tree level. The initial container is defined by the `@TestFactory` annotated method name and can't be popped.

Pseudo-code using the example from the issue description:
[code]

This would a

[2017-04-10 09:59] fab1an commented on #695
There is a reason I suggested string-parsing: The JUnit team probably doesn't want to provide arbitrary nesting capabilities, so that tests adhere to certain simple standard-structure.

Otherwise people would start exploiting that and build systems-inside-systems, like libraries that take the nesting functionality and use different annotations.

[2017-04-10 10:00] sormuras commented on #695
You can already nest test classes in test classes in test classes ... in test classes. As long it compiles.

Related issue: #604

[2017-04-10 10:03] fab1an commented on #695
I don't think so. Depth is limited to 2 at the moment, isn't it?

[2017-04-10 10:09] sormuras commented on #695
As long as you use `@Nested` Jupiter will find and execute them:

http://junit.org/junit5/docs/current/user-guide/#writing-tests-nested
https://travis-ci.org/junit-team/junit5/builds/220345400#L738

[2017-04-10 10:45] marcphilipp commented on #695
We could introduce the notion of a _dynamic container_, e.g.:

[code]

[2017-04-10 14:46] marcphilipp commented on #752
M4 includes support for parameterized tests (see http://junit.org/junit5/docs/current/user-guide/#writing-tests-parameterized-tests). They work a bit different than in JUnit 4.

There, `@BeforeAll` is called before any parameter-providing method.

[2017-04-11 06:32] #781 closed

[2017-04-11 09:43] Vazzilena opened #789 "Unable to run a single test method from idea: java.lang.Exception: No tests found matching Method ... from org.junit.vintage.engine.descriptor.RunnerRequest"
Using IDEA version that provides support for junit 5 M3

IntelliJ IDEA 2017.1
Build #IC-171.3780.107, built on March 22, 2017
JRE: 1.8.0_112-release-736-b13 amd64
JVM: OpenJDK 64-Bit Server VM by JetBrains s.r.o
Windows 7 6.1

When attempting to run a single java test method (right click on method name and select run) I get the exception below. If I run the entire test class everything passes succ

[2017-04-11 09:45] sormuras commented on #789
Related issue: #549 -- duplicate?

[2017-04-11 09:58] Vazzilena commented on #789
Looks like a duplicate indeed ...although my setup is simplified. Is there a resolution?

[2017-04-11 11:47] marcphilipp commented on #789
I've discussed possible solutions with @akozlova: We currently use `Filter.matchMethodDescription(Description.createTestDescription(testClass, testMethod.getName()))` which does not work for method with parameters.

We'll need to look into building a custom filter like IntelliJ does:
https://github.com/JetBrains/intellij-community/blob/master/plugins/junit_rt/src/com/intellij/junit4/JUnit4TestRunn

[2017-04-11 13:01] Koziolek commented on #789
Hi!

There is bug in Idea https://youtrack.jetbrains.com/oauth?state=%2Fissue%2FIDEA-170817 it is fixed, but waiting for 2017.1.2

[2017-04-11 14:26] sbrannen commented on #781
👍

[2017-04-11 16:58] marcphilipp commented on #769
Reopening to address Surefire issue.

[2017-04-11 18:47] sbrannen commented on #769
Out of curiosity, which issue are you referring to?

[2017-04-12 07:47] jlink opened #790 "Add more methods to ReflectionSupport"
## Overview

While implementing a test engine, I needed a couple of methods from `ReflectionUtils` that are currently not being exposed in `ReflectionSupport`

[code]

You might consider to add them to `ReflectionSupport`.

[2017-04-12 08:33] sbrannen commented on #769
Don't you think we should address the Surefire issue in a different, dedicated ticket?

[2017-04-12 09:01] marcphilipp commented on #769
You're right. I just wanted to keep this ticket open as a reminder to create the dedicated ticket. 😉

[2017-04-12 11:07] marcphilipp commented on #508
Team brainstorming ideas:

- Allow engines and containers to be completely dynamic
- Introduce method `mayRegisterTests()` in `TestIdentifier` and `TestDescriptor` for engines/containers to claim that they may register tests
- Remove pruning in Launcher, keep it in Jupiter engine
- Introduce method in `TestPlan` to determine whether it may contain tests and use it in Surefire provider

[2017-04-12 11:18] sbrannen commented on #508
Support for completely dynamic engines was added in #367.

[2017-04-12 11:19] sbrannen commented on #508
Introduced _Related Issues_ section.

[2017-04-12 11:20] sormuras commented on #740
Partly reverting this commit to make current IDE(A)s running local tests again.

This new code will be removed before GA!

[2017-04-12 11:28] sbrannen commented on #740
Then we should remove the "in progress" label for now and assign this issue to RC1.

Or... are you doing work on it right now?

[2017-04-12 11:28] sormuras commented on #740
I am. ;-)

[2017-04-12 18:14] sormuras commented on #740
Revert https://github.com/junit-team/junit5/commit/cb6ca6823ac854165246caebd6dcafe2e085d981 before RC1

[2017-04-15 09:22] Andrei94 commented on #766
@sbrannen on it 😄

[2017-04-15 10:36] sormuras commented on #750
With #792 merged, an erroneous engine implementation doesn't any longer break the test plan execution.

We should decide if a "simple warning" is enough for the end-user to take note of the failed engine. Perhaps the execution summary needs an update, like:

[code]

Updated issue description accordingly.

[2017-04-15 13:34] sbrannen commented on #766
@Andrei94, this is more of an "internal task" for the core team; however, if you would like to make proposals for the new method names, feel free to do so.

[2017-04-15 13:37] Andrei94 commented on #766
how about `supportsExecutionContext()` and `providesExecutionContext()`?

[2017-04-15 14:10] sbrannen commented on #770
FYI: I noticed that links to JavaDoc are broken in the PDF and have therefore updated the _Deliverables_ accordingly.

[2017-04-15 14:16] sbrannen commented on #750
I think we should go ahead and _close_ this issue and address the topic of _exception handling vs. logging_ in conjunction with #242 (thereby broadening the scope of #242 to cover the Platform as well).

[2017-04-15 14:24] sbrannen commented on #766
That's unfortunately just as ambiguous as the status quo since the method signatures already reference the execution context as method parameters.

To keep matters simple, I am going to assign this task to myself, which I probably should have done in the first place.

Rationale: I already know the direction we want to go, and I will have to review any proposals in detail anyway. So, in the end, it

[2017-04-15 14:27] sbrannen commented on #766
@Andrei94, you might be interested in checking out issues that are marked as [up for grabs](https://github.com/junit-team/junit5/issues?q=is%3Aopen+is%3Aissue+label%3Aup-for-grabs).

Otherwise, if an issue is not currently assigned to somebody, feel free to ask if you can contribute.

[2017-04-15 14:38] Andrei94 commented on #766
@sbrannen, ok. I will check those as well.

Thank you for the hints.

[2017-04-15 14:50] Andrei94 commented on #652
I would like to take this one, but I don't know how the websites are generated. Are they from ASCII files?

[2017-04-15 15:06] sbrannen commented on #652
@Andrei94, the Web site is in the [gh-pages](https://github.com/junit-team/junit5/tree/gh-pages) branch.

Assets such as a favicon image would be stored in the [/assets/img](https://github.com/junit-team/junit5/tree/gh-pages/assets/img) folder.

[2017-04-15 15:13] marcphilipp commented on #750
👍

[2017-04-15 15:15] marcphilipp commented on #652
The

[2017-04-15 15:17] marcphilipp commented on #652
The gh-pages branch only generates the junit5 directory in junit.org/junit5. A root favicon.ico would have to be places in https://github.com/junit-team/junit-team.github.io.

[2017-04-15 15:45] sbrannen commented on #652
Ahhh... good catch!

[2017-04-15 15:50] sbrannen commented on #750
I have moved the second deliverable to #242 and am therefore closing this issue.

[2017-04-15 15:50] #750 closed

[2017-04-15 15:52] sbrannen commented on #242
The scope of this issue has been broadened in order to encompass the Platform as well.

[2017-04-15 15:57] sbrannen opened #793 "Ensure extension composability in JUnit Jupiter"
## Status Quo

As can be seen in #766, it is currently too easy to introduce new extensions in JUnit Jupiter that cannot be composed.

We therefore need to introduce a policy and corresponding tests to ensure the composability of all extension APIs in JUnit Jupiter.

## Requirements

A concrete extension must be able to implement all extension APIs supported by JUnit Jupiter without any naming con

[2017-04-15 15:58] sbrannen commented on #766
Note that this issue now depends on #793.

[2017-04-15 15:58] jlink commented on #242
Rather than using exceptions of any kind, having some kind of notification collector as a return or in/out parameter seems more flexible since any exception will stop an engine's discovery phase whereas many notifications are just warnings or pieces of information .

[2017-04-15 16:03] sbrannen commented on #242
Good point!

I'll change the title of this issue accordingly.

[2017-04-15 16:04] Andrei94 commented on #652
So the `gh-pages` for JUnit5 only updates the JUnit5 web site and the [Future JUnit Website](https://github.com/junit-team/junit-team.github.io) will update both JUnit5 and JUnit4?

I think then it would be better to update only the [Future JUnit Website](https://github.com/junit-team/junit-team.github.io) in order not to duplicate. Also, does the [default icon](https://github.com/junit-team/junit

[2017-04-15 16:05] sbrannen commented on #242
FYI: title and description have updated.

[2017-04-15 19:06] Andrei94 opened #794 "Introduce utility for invoking private, protected, and package private methods"
## Feature request

It would be nice to allow tests to invoke `private`, `protected`, and _package private_ methods. Often times these methods change and the lack for such mechanism makes testing harder, especially when changing the visibility of the method is not a feasible option.

[2017-04-16 06:23] marcphilipp commented on #652
In the long, I want to merge both sites. For now, all three repos together comprise junit.org.

We should use the JUnit 5 logo only for JUnit 5 pages (Landing Page, User Guide, Javadoc). We don't need a JUnit 4 icon, unless we need it to override a default one. But overriding may be not as easy, particularly for the old Javadoc.

[2017-04-16 15:48] marcphilipp commented on #638
Please have a look at https://github.com/junit-team/junit5/issues/695#issuecomment-292914486. I wonder if we could address both requirements at once.

[2017-04-16 15:51] marcphilipp commented on #737
How about the following?

[code]