[2018-03-17 10:16] marcphilipp commented on #1317
Our Gradle plugin is now deprecated and is scheduled to be discontinued with #1331.

[2018-03-17 10:16] #1317 closed

[2018-03-17 14:22] sbrannen commented on #1309
Thanks for explaining your proposed `descriptionColumnIndex` attribute.

No, I actually meant something general-purpose that could be used in a use cases, but as I hinted at before... I don't think that is actually possible.

So, if we decide to support custom descriptions per set of arguments, I think it will have to be limited to an additional feature in the `Arguments` API.

Whether or not we'd

[2018-03-17 14:37] sbrannen commented on #1092
@aaschmid, please keep my previous comment in mind:

In other words, in your PR please try to introduce the widening support first within the `junit-jupiter-params` project, and if you find that you for some reason need to update core platform utilities (e.g., `ReflectionUtils`), please provide a short comment explaining why.

Thanks... and have fun!

[2018-03-17 17:02] sbrannen opened #1332 "Lifecycle callback methods in enclosing class are invoked with ExtensionContext for test executing in @Nested test class"
## Overview

A comment in [SPR-15366](https://jira.spring.io/browse/SPR-15366?focusedCommentId=157903&page=com.atlassian.jira.plugin.system.issuetabpanels:comment-tabpanel#comment-157903) has made me aware of a potential bug in JUnit Jupiter's handling of `@BeforeEach` methods with regard to the `ExtensionContext` supplied to a `ParameterResolver` registered for an enclosing test class when execut

[2018-03-17 17:08] sbrannen commented on #1332
In test code that I will soon commit to `master`, I have modified one of our test parameter resolvers as follows.

[code]

With the status quo in Jupiter, use of the above resolver fails as outlined in this issue's description.

Here we can see that the _declaring class_ for the current method (e.g., a `@BeforeEach` method) does not match the "test class" returned by the supplied `ExtensionContext

[2018-03-17 17:19] sbrannen commented on #1191
**Correction:** we actually agreed that the method signature would be `aggregateArguments(ArgumentsAccessor, ParameterContext)` -- right? 😉

[2018-03-17 17:43] aaschmid commented on #1092
Hi @sbrannen,
the problem does already occur in result handling of `org.junit.jupiter.api.extension.ParameterResolver.resolveParameter(ParameterContext, ExtensionContext)`. In my opinion this would be the place to fix it. Maybe not by changing `ReflectionUtils#primitiveToWrapperMap` but also not only in `junit-jupiter-params`. Later would only fix it for `org.junit.jupiter.params.provider.Argument

[2018-03-17 21:46] marcphilipp commented on #1327
Closing due to lack of activity. Please reopen if the issue persists.

[2018-03-18 04:02] AJNeufeld commented on #1191
What parameter?  The `ArgumentsAccessor`?  And `ParameterContext.getIndex()` will always return zero?  Or should you have a `ArgumentsContext` (plural) which just has `getDeclaringExecutable()` and `getTarget()`, and derive `ParameterContext` (singular) from that.

At first I thought it might make sense to add `getParameterContext(int)` to `ArgumentsAccessor`, but  I'm not so sure anymore.  The te

[2018-03-18 08:30] marcphilipp commented on #1191
@sbrannen Good catch! I've changed it accordingly.

@AJNeufeld The `ParameterContext` describes the method parameter being resolved, e.g. a `Person` parameter with index 0 in the following example:

[code]

[2018-03-18 08:37] MattiasWrang opened #1333 "Introduce variant of Assertions.fail() without arguments"
## Overview

`org.junit.jupiter.api.Assertions.fail` variants currently require arguments. If you simply want to fail the test and think an explanation is not not needed since it's clear from the test structure, a simple `fail()` without parameters would be nice.

## Analysis

I work on a commercial project that uses JUnit 4 and we would like to upgrade to JUnit 5. We have a large amount of existi

[2018-03-18 08:48] aaschmid commented on #1092
Thinking more about it, I am still not sure if `org.junit.platform.commons.util.ReflectionUtils` or even `org.junit.platform.commons.util.ReflectionUtils#isAssignableTo` isn't the correct place to fix it. I think it should be fixed generally because it is specified already in Java Spec (https://docs.oracle.com/javase/specs/jls/se7/html/jls-5.html#jls-5.2) section "Assignment Conversion".

But I wi

[2018-03-18 09:19] marcphilipp commented on #1333
Makes sense to me.

@junit-team/junit-lambda Any objections?

[2018-03-18 09:27] marcphilipp commented on #1191
@geo-m is working on a PR for this issue in #1325.

[2018-03-18 09:58] sbrannen commented on #1332
@marcphilipp, thanks for adding the "team discussion" label!

I was just about to do that. ;-)

[2018-03-18 10:03] sbrannen commented on #1332
FYI: I updated this issue's overview and analysis.

[2018-03-18 10:46] sbrannen commented on #1332
Actually, I take that back.

The "declaring class" of the method may be a superclass or interface. So that is not a viable solution.

[2018-03-18 11:35] marcphilipp commented on #1332
You could check the `target`. If it's absent, the method must be `static` or it's a constructor in which case the declaring class cannot be a superclass or interface, right?

[2018-03-18 13:38] marcphilipp commented on #1313
_in progress_

[2018-03-18 17:32] sbrannen commented on #1332
Well.... in case you mean checking the class for the value returned from `ExtensionContext.getTestInstance()`... that would hopefully be the instance for the currently executing nested test... assuming that is aligned with the "current test class".

Otherwise, wouldn't that imply that we have a bug in the state of the supplied `ExtensionContext`? 😉

[2018-03-18 17:33] sbrannen commented on #1332
Oh wait... I guess you actually meant `ParameterContext.getTarget()`.

Mea culpa. 😇

[2018-03-18 17:35] sbrannen commented on #1332
So, yeah, I guess that would work for a `@BeforeEach` method or a non-static `@BeforeAll` method.

But... it wouldn't help for a static `@BeforeAll` method declared in a superclass or interface -- right?

[2018-03-18 17:36] sbrannen commented on #1332
In any case, I'm slowly starting to think that this is perhaps not a _bug_ per se but rather just "the nature of the beast"... even if it's sometimes not that intuitive.

[2018-03-18 17:37] sbrannen commented on #1332
In the end, it might just be that extensions have to provide their own support for configuration "inheritance" within nested class structures to overcome situations like the one described in the linked Spring JIRA issue.

But let's have that offline _discussion_ we talked about anyway, just to hash things out. 😉

[2018-03-18 17:43] sbrannen commented on #1191
@AJNeufeld, I guess you deleted your comment that I just read via email notifications, since I don't see it here.

In any case, @marcphilipp apparently already answered you. 😉

[2018-03-18 17:53] sbrannen commented on #1333
Actually, `fail(null)` would be the appropriate substitute.

[2018-03-18 17:58] sbrannen commented on #1333
That's correct: I intentionally left it out in order to _encourage_ developers to provide either a custom failure message or an exception as the cause of the failure.

I say "enourage" instead of "force", because one could easily create his or her own `void static fail()` method that simply delegates to `Assertions.fail(null)`.

The reason I highly encourage this is that I have seen numerous proje

[2018-03-18 18:00] sbrannen commented on #1333
Well... I am (obviously?) not really in favor of it.

But... if the rest of the team wishes to add it, I suppose I wouldn't outright object it. 😇

[2018-03-18 18:18] rherrmann commented on #195
Yes, I believe this is still relevant. As far as I understand, the packaged JARs don't provide OSGi metadata (i.e. don't contain a `MANIFEST.MF` with the relevant information). Thus they cannot be consumed by OSGi build systems or the OSGi runtime without re-packaging them with included metadata.

[2018-03-18 20:47] karollewandowski commented on #1088
Sorry I didn't respond yet, I had a week of holidays without computer :-) I will start to work on this one in few days if it's not a problem. If it's more urgent, please let me know.

[2018-03-19 08:08] AlexTrotsenko commented on #201
@marcphilipp  Thanks for the update

[2018-03-19 08:17] sormuras commented on #1088
No problem at all, @karollewandowski -- looking forward to your PR.

[2018-03-19 08:25] bechte commented on #1332
@sbrannen, I would also like "pin" my thoughts onto this here.

First of all I'd like to divide this issue into two cases:

1. A typical hierarchical test (not using parameter resolvers)
1. A hierarchical test using parameter resolvers (no matter where)

If we forget about `ParameterResolver`s for a moment, I feel that the behaviour is valid. An extension is called within the context of declaratio

[2018-03-19 12:49] sormuras commented on #1091
If we ship our jars as modular jars, we should consider to offer a `classis` variant of the jars, that don't contain the `module-info.class`. Just like http://www.joda.org/joda-convert/ does -- see section "Releases".

[2018-03-19 16:36] PE-test opened #1334 "Test suites not working with Junit 5"
I was moving tests from JUnit 4 to JUnit 5. We are using test suites in our project, and there I got some weird behavior. I'm able to launch tests with JUnit 5 RC versions, but on release 5.1 tests does not start.
Project and POM structure same as [here](https://github.com/howtoprogram/junit5-examples/tree/master/junit5-test-suite-example).

Here is a working POM:
`    <junit.jupiter.version>5.0.0

[2018-03-19 17:33] mibutec opened #1335 "Feature Request: Structures in Dynamic Tests"
I'm really looking forward using JUnit 5, especially Dynamic Tests. In our company we are using a lot of JBehave. In short JBehave allows to describe scenarios written in special DSL files and execute them by an own JBehave Runner.

In JUnit 4 we had a lot of problems getting test reporting done for that tests being executed by JBehave Runner, so each successful and each failed scenario is reporte

[2018-03-19 17:54] sormuras commented on #1335
https://junit.org/junit5/docs/current/user-guide/#writing-tests-dynamic-tests

Like the last example?

[2018-03-19 18:38] marcphilipp commented on #1334
What do you use for your test suites? `@RunWith(Suite.class) @SuiteClasses({TestClass1.class, ...})` or `@RunWith(JUnitPlatform.class)`?

[2018-03-19 19:02] marcphilipp commented on #195
`Bundle-SymbolicName` and `Bundle-Version` would be easy enough to add. But maintaining `Export-Package` and `Import-Package` in addition to the regular dependencies would be a burden. Is there a tool/Gradle plugin that can generate those automatically?

[2018-03-19 20:11] PE-test commented on #1334
We use:
`@RunWith(JUnitPlatform.class)`
`@SelectClasses({Test1.class, ...})`

Does it make sense which of them to use?

[2018-03-19 21:42] karollewandowski commented on #1088
One question regarding the FQMN - are parentheses required here? If method from current class is referenced, then parentheses are omitted. Maybe it would be more consistent to use method name without `()` in FQNM as param methods can't take arguments? So:
[code]
instead of:
[code]
I guess forgetting about `()` will be common and annoying mistake made by developers.
Another solutions:
- meaningful

[2018-03-20 02:23] blindpirate opened #1336 "Vintage filtering is not compatible with JUnitParamsRunner"
## Overview

Seems like Vintage filtering is not compatible with the [JUnitParamsRunner](https://github.com/Pragmatists/JUnitParams).

Step to reproduce:

- Add dependency `compile 'pl.pragmatists:JUnitParams:1.1.1'`

[code]

The tests are still executed even I exclude them in the filter. I do observe the warning `WARNING: Runner junitparams.JUnitParamsRunner (used on class VintageJUnitParams$Pers

[2018-03-20 08:46] marcphilipp commented on #1332
Just so we’re on the same page, here are a couple observations/clarifications about the current behavior (which should actually be in the Javadoc or User Guide).

The `ExtensionContext` passed to a `ParameterResolver` describes the currently executing test. It's hierarchy represents the test tree.

For example, let's consider the following test class:

[code]

There are five `ExtensionContext` ins

[2018-03-20 09:04] mibutec commented on #1335
Thanks for the link. I cancel my request

[2018-03-20 09:04] #1335 closed

[2018-03-20 10:24] thekingnothing commented on #201
Hi,

There is no progress from PowerMock team regarding this issue.

The main goal for PowerMock - prepare 2.0 version which does not include support jUnit 5. However, due to lack of time of active contributors we will be able to release PowerMock 2.0 only in summer.  You may expect any progress in integration PowerMock and jUnit 5 not early than in Autumn.

On 19 Mar 2018, at 09:08, Alex Trotsenk

[2018-03-20 10:35] deepakab03 commented on #542
It would be useful if this feature is added to the extension framework, we have a need to check when a Test is failed and do certain actions on the same

[2018-03-20 14:01] marcphilipp commented on #1336
@blindpirate Thanks for creating the issue! I've started looking into it. However, I might need a bit more time to wrap my head around it.

[2018-03-20 14:30] akozlova opened #1337 "ParameterizedTests: no conversion is possible for primitive types"
For example,
[code]
fails with
[code]

though the following code is totally fine
[code]

[2018-03-20 15:02] sbrannen commented on #1088
The parentheses are already optional with the existing support for FQMNs.

Here's the documentation for the supported syntax:

https://junit.org/junit5/docs/current/api/org/junit/platform/engine/discovery/DiscoverySelectors.html#selectMethod-java.lang.String-

So, you don't actually have to do much with regard to the syntax: just emulate what `selectMethod(String)` already does. 😉

[2018-03-20 15:05] sbrannen commented on #1088
And I say "emulate", I don't mean copy-n-paste.

Rather, we might want to extract the common parsing algorithm from `org.junit.platform.engine.discovery.DiscoverySelectors.selectMethod(String)` and move it somewhere like `ReflectionUtils`.

For this particular issue, we just have to keep in mind that such a factory method is actually _not_ allowed to have parameters.

[2018-03-20 15:33] marcphilipp commented on #1092
@aaschmid You might be right. I'll bring this up in our next team meeting. For the time being, let's try to do it in `DefaultArgumentConverter`, ok?

[2018-03-20 15:42] marcphilipp commented on #1337
@akozlova Thanks for reporting this issue! Adding support for widening conversions is already in progress in #1092. Thus, I'm closing this issue as duplicate.

[2018-03-20 15:42] #1337 closed

[2018-03-20 15:50] marcphilipp commented on #1334
From the Javadoc: The `JUnitPlatform` runner is a

It cannot be used when running on the JUnit Platform. You should be able to use the `Suite` runner, though.

[2018-03-20 15:50] #1334 closed

[2018-03-20 15:51] marcphilipp commented on #1334
Moreover, there's #744 to introduce native suites for the JUnit Platform.

[2018-03-20 15:53] marcphilipp commented on #1333
Hmm, after giving this some more thought I agree with Sam. `fail(null)` seems an easy enough workaround and looks ugly as it's supposed to... 😉

[2018-03-20 16:01] akozlova commented on #1337
Sorry, failed to find a duplicate myself :/

[2018-03-20 16:44] sormuras commented on #1333
That's almost the reasoning we came to just before 5.0 GA, iirc.

`fail()` without reason is like `catch(Exception e) { throw new RuntimeException(e); }`

[2018-03-20 16:48] sbrannen commented on #195
AFAIK, people typically use `bnd` for that, and there is a [bnd Gradle Plugin](https://github.com/bndtools/bnd/blob/master/biz.aQute.bnd.gradle/README.md).

[2018-03-20 16:54] sbrannen commented on #1091
I'm assuming you meant "classic". 😉

[2018-03-20 16:57] sormuras commented on #1091
![](https://img.coopathome.ch/produkte/300_420/RGB/3050092_001.jpg)

[2018-03-20 17:01] sbrannen commented on #1091
ha ha ha 😛

[2018-03-20 17:22] sbrannen commented on #1333
FWIW, the team applied the same rationale (for not supporting `fail()`) for not having default constructors for `JUnitException`, `PreconditionViolationException`, etc.

In other words, we do our best to promote best practices in the APIs we publish.

[2018-03-20 17:25] jbduncan commented on #195
[Goomph](https://github.com/diffplug/goomph), another Gradle plugin, apparently has the capability to generate OSGi metadata using bnd as well.

[2018-03-20 17:27] sbrannen commented on #1092
@aaschmid, thanks for investigating and voicing your concerns!

As @marcphilipp mentioned, we will discuss it within the team.

[2018-03-20 18:23] karollewandowski commented on #1088
Thanks @sbrannen, all is clear now.

[2018-03-20 20:23] bechte commented on #1332
I do not share this though. Test hierarchies are more or less a possibility for grouping and scoping tests and the variables used. On the opposite, the behavior described above is what I would expect from a real class hierarchy, i.e. when the methods are _inherited_ onto the context the test are executed in. This is the primary difference between test class inheritance and test class hierarchies:

[2018-03-20 21:09] mmerdes commented on #1333
Apart from the maintenance arguments above omitting the argument can be seen as a deliberate choice on the test author"s side. The desired intent could be expressed in other ways, e.g. short tests with long names if someone wishes so...

[2018-03-20 22:04] MattiasWrang commented on #1333
Thanks for the input for everyone. I just have a few comments:

This is actually not that easy in our case, because we have about 70 Maven modules. It's significantly easier to just have each of the modules depend on JUnit, rather than having all of them depend on JUnit as well as our additional new test helper module that only provides a wrapper around fail(null). It would mean a new dependency i

[2018-03-20 22:56] blindpirate commented on #1336
Thanks @marcphilipp , no hurry at all :-)

[2018-03-21 09:49] mibutec opened #1338 "Discover dynamic tests early during discovery phase"
As discussed in https://stackoverflow.com/questions/49401619/test-discovery-of-dynamic-tests-in-eclipse-slow it would be cool, if dynamic tests could be discovered at start time of a test. Advantages are:
- No jumping of IDEs JUnit view while more ans more tests are detected
- I can start a test-class to get a list of all known tests and than start selectivly the ones I'm interested in
- When exec

[2018-03-21 09:55] sormuras commented on #1338
@mibutec Please read and understand the initial paragraph of https://junit.org/junit5/docs/current/user-guide/#writing-tests-dynamic-tests

Dynamic tests are not static. The framework will never be able to know what happens to the **stream** of `DynamicNode`s. A stream is not a collection, i.e. it does not have a pre-defined size, it does not even store data/items/tuples...

Closing this request a

[2018-03-21 10:02] sormuras commented on #1338
Maybe you're looking for [Parameterized Tests](https://junit.org/junit5/docs/current/user-guide/#writing-tests-parameterized-tests)?

[2018-03-21 10:18] mibutec commented on #1338
I'm sorry if I hurt you in any kind. I didn't mean to be rough.

I understand the differnce if a test needs to be known at compile time or if it needs to be known on runtime. But I think even tests defined at runtime should be known at some point in test execution, so I see there is no problem to go throu the stream as far as it's known to provide test descriptions for IDE. Maybe I'm just lacking

[2018-03-21 10:31] sormuras commented on #1338
No offense taken, no offense meant from my side, too.

Let's discuss the idea here. Maybe the documentation and user-guide lacks detailed information regarding the purpose of the dynamic test feature. If this is the case, we need to improve it.

[2018-03-21 10:33] sbrannen commented on #1333
Thanks for taking the time to provide additional input, @MattiasWrang.

We will discuss it amongst the team and hopefully come to  conclusion by the end of the week.

[2018-03-21 10:33] sbrannen commented on #1333
Tentatively slated for 5.2 M1 for _team dicsussion_.

[2018-03-21 10:52] mibutec commented on #1338
My use case I is:

We use a lot of JBehave in my company. JBehave is a way to describe Tests in a Behavior Driven Design way. Tests are described as Scenarios in story files. In our environment several story files are executed in one JUnit test class.

Marriage between JBehave and JUnit was hard until now. In JUnit 5 I want to say a test factory: "Take a look at those story files, create tests out

[2018-03-21 10:55] sormuras commented on #1338
Perhaps this "picture" will help to clarify the difference between static and dynamic tests.

## Static / Discovery
- A `@Test` annotated method is our "well-known" entry-point. Just like `public static void main(String... args)` is the entry-point for an application.
- A `@TestFactory` annotated method is yet another entry-point.
- All entry-points are discovered statically ... and your build too

[2018-03-21 11:01] sormuras commented on #1338
Create a dedicated `@Test` method to pin-point the single configuration?

[2018-03-21 11:03] sormuras commented on #1338
True. But when you chose a dynamic tool, you'll lose static feature.

_When you chose reflection, you'll lose strong static features._

[2018-03-21 11:13] sormuras commented on #1338
Hm, implement your own `TestEngine`? Here you can control what is a test and how they are executed.

Here are some starting points:
- https://github.com/junit-team/junit5/wiki/Third-party-Extensions#junit-platform-test-engines
- https://junit.org/junit5/docs/current/user-guide/#launcher-api-engines-custom
- https://github.com/junit-team/junit5-samples/tree/master/junit5-modular-world/src/main/ice.

[2018-03-21 11:32] mibutec commented on #1338
TestEngine sounds like a good heading. I'll take a look at this. Thanks

[2018-03-21 11:38] smoyer64 commented on #1333
@boyarski wrote an [amazing JUnit 4 to JUnit 5 conversion tool](https://github.com/boyarsky/convert-junit4-to-junit5).  She's written [a blog post](https://www.selikoff.net/2017/09/02/converting-2k-tests-to-junit-5-in-one-day/) about its efficacy and what types of conversions it couldn't make on its own.  From our conversations at J1-2017, I'm also remembering that it was used on more than just Co

[2018-03-21 11:50] mibutec commented on #1338
I don't think this needs to be true in context of our discussion.

You get a Stream of names and executables out of a test factory. After the test factory is called you may go throu the stream and find all the display names to create a test description. The executables are used later.

This will work for all of your examples in https://junit.org/junit5/docs/current/user-guide/#writing-tests-dynami

[2018-03-21 12:30] sbrannen commented on #1338
Data being streamed in from an external resource: database, REST server, message queue, etc.

Although it's true that a test factory should not stream dynamic nodes indefinitely, the point is that such tests are dynamic in nature.

And "dynamic" tests are not discovered until the **execution phase** in the JUnit Platform.

For dynamic tests, only the test factory method is discovered during the **

[2018-03-21 13:25] sbrannen commented on #744
Yes, a declarative `@Suite` class could select test classes specific to your custom engine via `@SelectClasses`.

That would allow the tests to be run within the IDE or build; however, that would not help the IDE to display a "run as test" icon or the like.

To make that possible, you could also create a custom _marker annotation_ (e.g., `@SpectrumTest`) that is meta-annotated with `@org.junit.pla

[2018-03-21 15:04] mibutec commented on #1338
Thanks for clarification. By introducing that two phases, I got the problem.

[2018-03-21 15:08] sbrannen commented on #1338
You're welcome!

Glad to be of service. 😃

[2018-03-21 21:06] CybertekSchool opened #1339 "Getting org.junit.platform.commons.util.PreconditionViolationException: Classpath resource does not exist: /JuntTest.csv #1327"
I am getting below exception while using @parameterizedtest with @csvfilesource. Can someone help on this?

Test Method:
@parameterizedtest
@csvfilesource(resources = "/JuntTest.csv")
void testCsvFileSource(String col1, String col2, String col3){
System.out.println("Column1: "+col1+" Column2: "+col2+" Column3: "+col3);
}
JunitTest.csv file present in src/test/resources

Maven Dependencies:

<proje

[2018-03-21 21:09] marcphilipp commented on #1339
Where in your project is `JuntTest.csv` located? Is it in `src/test/resources`?

[2018-03-21 21:20] CybertekSchool commented on #1339
just figured out , it should be right under root folder

[2018-03-21 21:27] marcphilipp commented on #1339
Glad you figured it out! For future questions like this, please ask on StackOverflow first. We‘re monitoring the junit5 tag there but chances are someone else can help you before we get to it.

[2018-03-21 21:27] #1339 closed

[2018-03-22 05:33] rolandkrueger commented on #510
@marcphilipp yes, I still think this is useful for IDEs, so it would make sense to tag it with *up-for-grabs*.

[2018-03-22 07:20] galan opened #1341 "maven-surefire-plugin 2.21.0 does not detect JUnit tests"
Hi, I'm trying to integrate JUnit 5 using the maven-surefire-plugin 2.21.0. But when I use that version, either JUnit5 nor JUnit4 tests are found/run.

Steps to reproduce:
[code]

Is this behavior intended, do I miss something?

You could also add org.junit.jupiter:junit-jupiter-engine to the surefire dependencies, but it wouldn't make a difference:
[code]

Related issue: https://github.com/junit-

[2018-03-22 07:43] Jonarzz commented on #48
Is it known, which release will contain changes related to this issue?

[2018-03-22 07:45] marcphilipp commented on #1341
From the [User Guide](https://junit.org/junit5/docs/current/user-guide/#running-tests-build-maven):

However, the next release (1.2.0-M1) will work with Surefire 2.21.x, see #809. If you want, you can use the 1.2.0-SNAPSHOT version of junit-platform-surefire-provider. Otherwise, please use 2.19.1 for now.

[2018-03-22 07:45] #1341 closed

[2018-03-22 17:31] sbrannen commented on #1341
As @marcphilipp mentioned, the plugin (i.e., _Provider_) has already been fixed (though not yet released), and the documentation has been updated accordingly.

From [snapshot User Guide](https://junit.org/junit5/docs/snapshot/user-guide/#running-tests-build-maven):

[2018-03-22 17:34] sbrannen commented on #48
It is not "known", since we cannot predict the future.

But... this issue is currently assigned to the 5.2 Backlog. Thus, the intended release is 5.2.

FYI: you can always look at the assigned milestone (see information panel to the right of any issue description on GitHub) to infer this information on your own. 😉

[2018-03-22 19:35] sormuras commented on #1099
The PDF backend breaks on Java 10... will disable it for now.

[2018-03-23 04:24] mibutec commented on #1338
The more I think about it the less I get the point with the actual definition what a Dynamic Test is.

For me that's an example of a datasources for parametrized tests.

For me the difference between a parametrized test and a dynamic test is:
- **Parameterized Test**: I have a static defined test being known on compile time, then there comes at runtime some data as parameters from some kind of dat

[2018-03-23 04:33] mibutec commented on #1338
Why do I tell all this to you?

I had the last years a hard time getting some things done in JUnit 4 because the static nature of tests there. Now you come to my rescue, but what do I see: You are too dynamic.

I'd really love to have the ability to define a test without the need doing it at compile time with no other drawbacks, just behaving like any other static test.

[2018-03-23 10:25] sbrannen commented on #1338
That unfortunately will not help.

It is literally impossible to _discover_ dynamic tests without _executing_ the test factory method.

The execution of anything _testable_ (e.g., `@Test`, `@TestFactory`, `@ParameterizedTest` methods) requires that the *entire* _execution phase_ infrastructure be up and running.

Specifically, this means that all extensions must be discovered, instantiated, regist

[2018-03-23 10:31] sormuras commented on #1338
So, a custom test engine might be a solution here.

[2018-03-23 10:32] sbrannen commented on #1338
To make my above comments clear, I have renamed this issue to "Discover dynamic tests early during discovery phase" in order to reflect what is actually being requested.

[2018-03-23 12:11] mibutec commented on #1338
It is. So I'm on it. For now I'm trying to find out if a `TestEngine` is too much for what I want to achieve, or if it's making everything much better.

In the last years we arranged doing JBehave in a JUnit way, so with this in mind I don't need anything more than some Dynamic Tests.

Having now the possiblilty creating an API from scratch to execute those test, things are getting interesting.

[2018-03-23 12:17] sbrannen commented on #1338
Cool! 🤓

Let us know how it goes...

[2018-03-23 12:51] bechte commented on #1338
@mibutec To me it sounds like you are missing an Pointcut that allows you to take a discovered `TestDescriptor` and do some additional (even though limited) work _during_ the discovery phase, e.g. like adding additional `TestDescriptor`s that are resolved _outside_ of the test `Class`. Currently, we are not supporting this, unfortunately.

As I was investigating quite some time in this direction,

[2018-03-24 14:44] sbrannen commented on #1088
_in progress_ by @karollewandowski

[2018-03-24 21:46] geo-m commented on #542
This does sound quite fun to take a look at (up-for-grabs  :sunglasses: )  However, it is still not completely clear to me what you're trying to achieve that TestExecutionListener.executionFinished doesnt already do.

If it's about the store, i personally use an external map in my listener class, by uniqueID

@deepakab03 care to explain please?

[2018-03-26 08:15] mwiercin opened #1343 "JUnit Jupiter @Nested tests do not run when selecting enclosing class with Surefire"
## Overview

Per Marc Philipp's request on Stack Overflow:

I'm trying to use JUnit Jupiter in my side project as a trial before migrating my main project. I'd like to use `@Nested` tests to make my test classes cleaner.

Everything is fine when I ran my test suite as a whole. However, as soon as I try running just a single test, `@Nested` ones are not executed.

[code]

Using JUnit 5.1.0, JUnit p

[2018-03-26 09:58] smoyer64 commented on #1343
This is an interesting use case - I don't believe it represents a bug in JUnit 5 or in Surefire - Surefire provides a generalized way to discover tests, filter them and then executes them individually.  It adapts to each test engine via the [Provider API](https://maven.apache.org/surefire/maven-failsafe-plugin/api.html).

When you run ``mvn test``, Surefire delegates the discovery of the tests to

[2018-03-26 10:48] marcphilipp commented on #1343
While Surefire provides the filter, it's the Provider's responsibility to apply it.

This is what we currently do:

https://github.com/junit-team/junit5/blob/4c8c469332e962600ca5dab6165035ee6e9e1677/junit-platform-surefire-provider/src/main/java/org/junit/platform/surefire/provider/TestMethodFilter.java#L28-L55

I'm wondering whether we should add a special case when the test class is an inner cla

[2018-03-26 12:25] smoyer64 commented on #1343
@marcphilipp I'd forgotten that the ``Provider`` actually does the filtering.  Since Surefire is preprocessing the filters (at a minimum to do the globbing), do we know for certain that something like ``MyTest$NestedTests`` would be passed to the Provider?  If not, I think the automatic inclusion of inner classes that you've described is the only option.

Would there ever be a need to execute a si

[2018-03-27 05:27] mibutec commented on #1338
@bechte Mostly of all I'm missing Test Descriptions of Dynamic Tests being directly shown in my IDE after starting a test. A mechanism described by you would make it as a workaround, but letting the framework create a Test Description to overrule it by hand afterwards sounds like a featre I won't like to use.

@sbrannen @sormuras : I created locally a prototype allowing me to discover Dynamic Test

[2018-03-27 05:48] sormuras commented on #1338
You have to fork the repo first. Then, you may create as many branches as you want. From there, you may file pull requests upstream against the forked repository.

[2018-03-27 09:19] sbrannen commented on #1338
Reopening for further _team discussion_...

[2018-03-27 10:58] sbrannen opened #1344 "Update User Guide regarding official Mockito extension"
## Overview

Since the Mockito team has released official support for JUnit Jupiter, we should update the User Guide accordingly.

## Related Issues

- https://github.com/junit-team/junit5-samples/issues/62

## Deliverables

- [x] Replace references to the `MockitoExtension` from the `junit5-samples` repository with references to the official `MockitoExtension` supplied by the Mockito team and rev

[2018-03-27 11:32] bechte commented on #1338
You wouldn't be able to overrule that `TestDescriptor` but you would be allowed to attach more children to that `TestDescriptor`. Replacing a `TestDescriptor` cannot be allowed, because it might come from another extension.

[2018-03-27 11:50] TimvdLippe opened #1345 "Annotation lookup on @Nested constructor parameter fails if test class is compiled with JDK 8"
## Bug Report

Version: `junit-jupiter-api:5.1.0`

Given the following `Extension` which supports a custom `@Parameterized` annotation:

[code]

And the following usage of the extension, by annotating the constructor parameters:

[code]

Then when executing this class file, the test defined in `ExampleTest` will pass, but the test in `NestedClass` will fail with the following exception:

<details>

[2018-03-27 11:57] TimvdLippe commented on #1345
I should note that this exception is not thrown for annotations on parameters of test methods defined in a test class, nor does it throw on annotations on fields in a nested class.

[2018-03-27 12:27] sbrannen commented on #1345
Thanks to your example, I am able to reproduce this behavior against `master`.

So that gives us a sound foundation to track down the bug.

Cheers!

[2018-03-27 13:07] sbrannen commented on #1345
Well, I've got some good news and some bad news.

It took me quite a bit of debugging... that lead me to believe it was actually a bug in the JDK.

That turned out to be true.

* **Good News**: it's been fixed!
* **Bad News**: it's only been fixed in JDK 9+. 😞

Related JDK bugs:

- https://bugs.openjdk.java.net/browse/JDK-8025806
- https://bugs.openjdk.java.net/browse/JDK-8024694

The place where

[2018-03-27 13:08] sbrannen commented on #1345
Or....

@junit-team/junit-lambda / @TimvdLippe ...

Anyone have any ideas for a robust way to handle this?

[2018-03-27 13:10] sbrannen commented on #1345
By the way, here's the technical explanation for the bug in JDK 8 (copied from the above linked bug issue):

[2018-03-27 13:22] TimvdLippe commented on #1345
@sbrannen Thanks for the detailed investigation! The options are limited I fear, but maybe the following would work?

Introduce a new interface `AnnotatedParameterResolver` that extends `ParameterResolver` and instead has a `resolveForAnnotation` that can return the `@interface` class that we want to resolve for. (The examples thus far all look for annotations, so it would be nice to abstract this

[2018-03-27 13:30] sbrannen commented on #1345
Yep, I totally agree that the options are limited for an issue like this (i.e., a bug in the compiled byte code).

[2018-03-27 13:32] sbrannen commented on #1345
@TimvdLippe, I'm not so sure we'd want to introduce a new extension API just to handle this.

But... I am _considering_ adding an additional method to `ParameterContext` that performs the annotation lookup for the extension.

[2018-03-27 13:33] sbrannen commented on #1345
But... if we do address this somehow, extension authors would have to made aware of the problem, and it would never be intuitive to be _forced_ to use the convenience method only when resolving a constructor parameter for a nested/inner test class that was compiled on a JDK prior to JDK 9.

[2018-03-27 13:39] sbrannen commented on #1345
TBH, I don't even know how easy it would be for JUnit to check if the test class was compiled on JDK 8.

[2018-03-27 13:52] sbrannen commented on #1345
OK, I think I have a means for determining if the byte code is messed up.

I added the following to the `if (outerInstance != null)` block within `ExecutableInvoker.resolveParameters(Executable, Optional<Object>, Object, ExtensionContext, ExtensionRegistry)`.

[code]

And these are the results...

#### JDK 8

[code]

#### JDK 9+

[code]

So it looks like comparing the lengths of the `parameters` a

[2018-03-27 14:03] sbrannen commented on #1345
If we do that and then do this within the for-loop...

[code]

... the test then passes on JDK 8.

Except... that we have to comment out the invocation of `validateResolvedType(...)` since it now checks the return type against the `Parameter` for the synthetic argument for the enclosing instance.

Which means we'd have to _hack_ that algorithm as well... so that it actually checks the return type

[2018-03-27 14:07] sbrannen commented on #1345
Of course, we wouldn't actually want to provide a `ParameterResolver` the `Parameter` for the enclosing instance.

I was just investigating if we could even find the correct information and make it available to extension authors via a _convenience method_ that does not use the `Parameter` annotation lookup APIs directly.

[2018-03-27 14:16] sbrannen commented on #1345
Update: changed label from `bug` to `enhancement` since this is not due to a bug in JUnit.

[2018-03-27 14:46] sbrannen commented on #1345
FYI: I verified that the `SpringExtension` is naturally affected by this as well...

https://github.com/spring-projects/spring-framework/commit/75f70b269ed89294330758eb61ee8d7f218c9af6

[2018-03-27 15:22] sbrannen commented on #1345
_in progress_ / _team discussion_

[2018-03-27 15:43] sbrannen commented on #1345
On a positive note, the following is a means for _fixing_ / _addressing_ the issue within the `ParameterResolver` implementation itself.

[code]

Making that change causes all tests in the provided example to pass! 😜

[2018-03-27 15:46] TimvdLippe commented on #1345
Oh that is great news! Would be awesome if that could be included (as it does not seem to be an overly complicated hack :thinking: )

[2018-03-27 15:47] sbrannen commented on #1345
yeah.... that's my current line of thinking...

adding that _hack_ to some new convenience methods in the `ParameterContext` API.

[2018-03-27 16:16] sbrannen commented on #1345
FYI: commit e1e477cd5d3ce699f2b0f5df2687cf76eff5c7ba introduces a comparable test case within the JUnit Jupiter test suite.

Thus any _fix_ for this issue can be verified by removing the `@DisabledOnJre(JAVA_8)` declaration on the newly introduced nested test class.

[2018-03-27 16:18] sbrannen commented on #1345
I'd love to make this transparent to end users.

Unfortunately, I don't see how that is possible since `java.lang.reflect.Parameter` is a `final` class. 😞

[2018-03-27 17:27] TimvdLippe commented on #1345
Oh I was thinking of something in `ParameterContext`. Let me test that out tomorrow and potentially open a PR

[2018-03-27 19:07] huffstler opened #1346 "JUnit 5 depletes heap for Maven tests"
## Overview

For some reason or another, trying to run a suite of tests for a project depletes the heap in the jvm, but only when running the suite, and only when all the tests are there. For the sake of keeping the issue clean, I've created gists with code and output in them and will link where needed.

[This](https://gist.github.com/huffstler/8a6b441703e816c3e7e2df93bb1a2aa3#file-etlprops-java)

[2018-03-28 09:41] sbrannen commented on #1345
Thanks for the offer!

But... I've already found the solution; the issue is assigned to me; and it's labeled _in progress_.

So, in other words... I'm on it! 😉

[2018-03-28 10:03] sbrannen commented on #1345
Yes, of course: that's the only option since it cannot be done transparently (i.e., with zero changes to existing implementations).

[2018-03-28 10:08] sbrannen opened #1348 "Introduce assertDoesNotThrow()"
## Overview

This proposal is a result of a [discussion on Twitter](https://twitter.com/KevlinHenney/status/978565873991548929).

It has been noted that AssertJ provides similar support via the following construct.

[code]

## Deliverables

- [ ] Introduce `assertDoesNotThrow(Executable)` in JUnit Jupiter's `Assertions` along with variants accepting a `String` or `Supplier<String>` for failure mes

[2018-03-28 10:08] sbrannen commented on #1348
Tentatively slated for 5.2 M1 for _team discussion_

[2018-03-28 10:17] sbrannen commented on #512
Awesome! 👏

Thanks for letting us know and sharing the link.

I'll tweet about it ASAP. 👍

[2018-03-28 10:21] sbrannen commented on #512
Done....

https://twitter.com/sam_brannen/status/978939723862413312

[2018-03-28 11:04] sbrannen commented on #1345
OK, here's my current **Proposal**.

Additions to `ParameterContext` API:

[code]

Corresponding implementation in `DefaultParameterContext`:

[code]

That seems to do the job.

@TimvdLippe and @junit-team/junit-lambda, **Thoughts?**

[2018-03-28 11:08] TimvdLippe commented on #1345
That looks great. One question: Is there a particular reason to name it `isAnnotated` rather than `isAnnotationPresent` as used in the `Parameter` API?

[2018-03-28 11:09] sbrannen commented on #1345
Food for thought:

I'm thinking we might want to expose `getAnnotatedElement()` to extension authors as well so that they can use their own approach for finding annotations, etc. (e.g., like Spring might want to do).

But if we do that, we'll have to very carefully document exactly what that annotated _element_ is.

Other options for the name might be something like `getEffectiveAnnotatedElement()

[2018-03-28 11:11] sbrannen commented on #1345
Yes. `isAnnotated` carries the same semantics as `ReflectionUtils.isAnnotated` which provides support for finding meta-annotations, etc.

And `isAnnotationPresent` does not carry (or implement) those semantics.

[2018-03-28 11:13] sbrannen commented on #1345
See also: [AnnotationSupport.isAnnotated](https://junit.org/junit5/docs/current/api/org/junit/platform/commons/support/AnnotationSupport.html#isAnnotated-java.lang.reflect.AnnotatedElement-java.lang.Class-)

[2018-03-28 11:16] IgnatBeresnev commented on #13
@marcphilipp, since it didn't make it into 5.1, how about 5.2? Any plans/updates?

[2018-03-28 11:20] sbrannen commented on #13
It's in the 5.2 Backlog. So, yes, we are tentatively planning this for 5.2.

[2018-03-28 14:46] marcphilipp commented on #1345
The current proposal looks good to me. Thanks for putting it together, Sam! Not sure about whether to expose `getAnnotatedElement()` or how to name it, though.

[2018-03-28 15:49] sbrannen commented on #1345
FYI: I ended up opening a similar issue for Spring, since the _fix_ in Jupiter will not resolve the entire issue for the `SpringExtension`.

https://jira.spring.io/browse/SPR-16652

[2018-03-28 15:56] sbrannen commented on #1345
🙇

Yeah, that's a bit of a tough one.

I'm undecided at the moment.

_Perhaps_ the proposed convenience methods are enough for most extension authors.

FWIW, powerful extensions like the `SpringExtension` will have to have additional custom support for dealing with this JDK bug anyway, and in the case of Spring that literally requires changes in the `spring-core` module (i.e., outside of the `spri

[2018-03-28 16:16] sbrannen commented on #1345
Speaking of which, I just raised [SPR-16653](https://jira.spring.io/browse/SPR-16653) to address the issue as much as possible in the `SpringExtension` itself.

This is like a game of _Whac-A-Mole_. 😝

[2018-03-28 16:25] sbrannen commented on #1345
If anyone wants to play around with my current _WIP_, I've pushed it to a branch: https://github.com/junit-team/junit5/tree/issues/1345-parameter-context-jdk8-bug

[2018-03-29 09:07] geo-m commented on #1346
Just a curious user here, but this also happen if you set Lifecycle.PER_CLASS ?

[2018-03-29 09:58] marcphilipp commented on #1248
How would this work in detail?

Let's assume we introduced a new `ExecutableInvoker` interface. I imagine it would look similar to this:

[code]

What would the Arquillian implementation do in the non-embedded container case? Would it completely ignore the `Executable` and pass on the unique ID or test class and method from the `ExtensionContext` to the other JVM? The latter would cause class-leve

[2018-03-29 14:29] sbrannen commented on #1345
**Update**:

I force pushed changes to the above branch, including documentation (JavaDoc only at the moment) and polishing.

Feedback welcome!

[2018-03-29 16:24] sbrannen commented on #1345
FWIW, we did in fact decide to use the same _hack_ in Spring in two places thus far.

- https://github.com/spring-projects/spring-framework/commit/53d01392d70daef1d198e6563fd8f96d0d0166a0
- https://github.com/spring-projects/spring-framework/commit/9244090ba04011902568aba4b854668312c025e1

[2018-03-29 22:37] aaschmid commented on #1092
Any news on this?

I provided a first version as suggested for `DefaultArgumentConverter` only, see https://github.com/junit-team/junit5/compare/master...aaschmid:issues/1092-widening-conversion?expand=1. The new method `isUnboxingWideningConversion` should maybe be simplified.
I can create a PR if you prefer but wanted to wait for your decision...

[2018-03-30 09:28] marcphilipp commented on #1336
After some research, I've discovered that this is actually caused by an inconsistency in the JUnitParams runner. I've opened https://github.com/Pragmatists/JUnitParams/issues/153.

[2018-03-30 09:30] blindpirate commented on #1336
Cool, if you decide there's nothing to do on JUnit's side, please close this.

[2018-03-30 16:03] sbrannen commented on #1345
After having put some more thought into it, I'm leaning toward leaving that out for now.

As I mentioned, Spring had to take the bug into account in multiple places anyway.

So I'm guessing (and hoping I'm right) that most extension authors will in fact do just fine with the proposed convenience methods.

And if that turns out not to be the case, I'm sure people will let us know about it, and we c

[2018-03-30 16:10] sbrannen commented on #1345
**Update**:

- I've added _Deliverables_ to this issue.
- I've reintroduced the `bug` label since I think many users will see the solution to this issue as a "bug fix" even if the bug is not in JUnit itself.

Along those lines, I think we should backport the "fix" (i.e., the new convenience methods in `ParameterContext`) to 5.1.1.

@junit-team/junit-lambda, Thoughts?

[2018-03-30 16:25] sbrannen opened #1349 "Prune Release Notes for 5.2"
## Overview

The current release notes in `master` currently include:

That should be "since 5.1 GA".

## Deliverables

- [ ] Prune Release Notes for 5.2.

[2018-03-30 16:41] marcphilipp commented on #1349
Not sure about this one. Let‘s discuss it in the next team call.

[2018-03-30 23:56] MickyOwly commented on #607
Just my two cents - you discussed the implications of such feature on the best practice of unit tests. However, for a quite a long time, junit framework have been used for E2E tests as well, along with related frameworks such as Selenium and Appium, so I guess it should be taken into account while discussing the future of junit and the overall strategy.

[2018-03-31 05:32] mibutec commented on #1338
Created

https://github.com/junit-team/junit5/pull/1350 and
https://github.com/junit-team/junit5/pull/1351

1350 is less invasive and more powerful since it discovers even not static @testfactory tests early. Problem for now: Tests are discovered after execution phase for that @tewtfactory method started.

1351 introduces the idea of static @testfactory methods. Compared to 1350 there are more cod

[2018-03-31 09:47] marcphilipp commented on #1338
Thanks for the PRs!

Regarding #1351: IMHO executing `@TestFactory` methods during discovery, even when it's `static`, is not a going to work out because these methods may have parameters to be resolved by extensions which are not registered, yet. Moreover, calling user code during discovery might cause JUnit to seem unresponsive because there's no reporting etc.

Regarding #1350: If we decide to

[2018-03-31 10:11] sbrannen commented on #1092
Hi @aaschmid,

I haven't verified this in code, but I _believe_ all we need to do is update `ReflectionUtils.isAssignableTo()` so that it relies on `Class.isAssignableFrom()`instead of `Class.isInstance()`.

The invocation via `ReflectionUtils.invokeMethod()` should then work fine if `ReflectionUtils.isAssignableTo()` returns `true`.

[2018-03-31 10:25] sbrannen commented on #1092
or.... perhaps not.

Let me play around a bit and get back to you.... 😉

[2018-03-31 10:27] marcphilipp opened #1352 "Briefly document Ant build support in User Guide"
Ant support has been released (cf. https://github.com/junit-team/junit5/issues/512#issuecomment-376820461).

## Deliverables

- [x] Add Ant subsection with a minimal example and links to the official Ant documentation

[2018-03-31 10:28] marcphilipp commented on #512
I've created #1352 to add a brief subsection to our User Guide and link to the official documentation.

@jaikiran Is this something you'd be interested in documenting?

[2018-03-31 10:41] marcphilipp commented on #1344
@smoyer64 Good point! I think we might need to find a different example for parameter resolution.

[2018-03-31 10:50] marcphilipp commented on #1346
Our Surefire provider is not compatible with Surefire 2.20. Please try using Surefire 2.19.1.

[2018-03-31 11:34] sbrannen commented on #1092
OK. I changed my mind.

I was misinterpreting what `Class.isAssignableFrom()` actually supports in terms of _widening_.

In any case, I have a solution working locally with changes only made to `ReflectionUtils`.

So I'll push that to a feature branch for public discussion.

[2018-03-31 14:00] sbrannen commented on #1092
**Update**:

I pushed my work to the following feature branch.

https://github.com/junit-team/junit5/commits/issues/1092-widening-conversion

@aaschmid, I took the liberty of copying your tests, but I set you as the _author_.

@junit-team/junit-lambda, if you're OK with the approach I've taken in the feature branch, I'll add documentation and push to `master`.

Thoughts?

[2018-03-31 16:08] aaschmid commented on #1092
Thanks for using me as author even if it isn't necessary ;-)
In my opinion your commit fixes this issue. It works now also without my workarounds on junit-dataprovider.

I also added some review comments to b6ee305.

[2018-03-31 16:24] sbrannen commented on #1092
You're very welcome!

Anyway, it was the least could do since I sorta hijacked your PR before it even became a PR. 😉

Great!

I just addressed those.

Thanks for all of your help!

[2018-03-31 16:27] sbrannen commented on #1344
I expounded on the deliverable. 😉

[2018-03-31 18:55] sormuras commented on #1092
👍

[2018-04-01 09:41] sbrannen commented on #1092
Resolved in `master` in commits 20411d8139e848db2f15f6294627ef03955db9c4 and 1fc39a7456cd8da3f5f8fad996090157b4d9f6eb.

[2018-04-01 09:41] #1092 closed

[2018-04-01 13:15] jaikiran commented on #512
@marcphilipp, sure I can take a look at that one this coming week and send a PR

[2018-04-01 16:31] sbrannen commented on #1088
Closing this issue since #1340 has been merged into `master`.

[2018-04-01 16:31] #1088 closed

[2018-04-02 11:00] sbrannen commented on #1338
I tend to agree with you @marcphilipp, but let's discuss it further during the next team call.

[2018-04-02 11:26] sbrannen commented on #607
@bokysan, what you've described sounds exactly like the proposed support for _scenario tests_ (see issue #48).

Or did I misunderstand you?

[2018-04-02 11:33] sbrannen commented on #1348
FWIW, I am now in favor of this proposal.

While reviewing [this test class](https://github.com/spring-projects/spring-framework/blob/e5096be66022f892b762965540aa261bfb718d53/spring-test/src/test/java/org/springframework/test/web/servlet/DefaultMvcResultTests.java) in Spring (with the `assertDoesNotThrow` proposal in the back of my mind)... I really thought... "Wow, it sure would be nice if that l

[2018-04-02 12:18] CH4Code opened #1354 "Make default test class name pattern more lenient"
## Description

junit5 console application only accepts test classes with a _very specific naming convention_. (`*Test`, `*Tests`)

## Issue

`java -jar junit-platform-console-standalone-1.0.0.jar --class-path . -c MenuTest` tests correctly with class:

[code]

but does not find any tests with `java -jar junit-platform-console-standalone-1.0.0.jar --class-path . -c TestMenu` (ofc renaming class an

[2018-04-02 12:27] sbrannen commented on #1348
FYI: I just pushed my proposed implementation to a feature branch here:

https://github.com/junit-team/junit5/commit/4d6abf08ff1ad3e4deee092e99b8af11ddff0214

[2018-04-02 12:27] sbrannen commented on #1348
_in progress_

[2018-04-02 12:35] sbrannen commented on #1354
Tentatively slated for 5.2 M1 for _team discussion_

[2018-04-02 15:09] marcphilipp commented on #1354
**Team Decision:** Allow `^Test.+` in addition to the existing regex filter.

[2018-04-02 15:14] marcphilipp commented on #1348
**Team Decision:** Go for it!

[2018-04-02 15:19] marcphilipp commented on #1345
**Team Decision:** 👍

[2018-04-02 15:44] sbrannen commented on #1338
**Team Decision**: the team does not feel that the minor, aesthetic improvement proposed in these PRs would outweigh the added complexity necessary to support such a feature.

[2018-04-02 15:44] #1338 closed

[2018-04-02 15:52] sbrannen commented on #1333
**Team Decision**: ntroduce `Assertions.fail()` method without parameters.

[2018-04-02 16:46] bokysan commented on #607
Yeah, @sbrannen sounds pretty similar.

However, I was following more TestNGs lines of reasoning (http://testng.org/doc/documentation-main.html#dependencies-with-annotations), where you specify conditions that need to be met (=specific tests run successfully) for the test to execute at all.

This lets the framework parallelize tests as it sees fit, as long as it satisfies the decision tree.

[2018-04-02 16:46] codecholeric opened #1355 "Document minimum requirements for implementing a TestEngine"
This is kind of a follow up on #1109 ... I didn't get around to this up to now, but now I have a working POC of a `TestEngine` with similar features to the custom JUnit 4 runner.

You can check this out here
https://github.com/TNG/ArchUnit/tree/junit5-support/archunit-junit/junit5/src/main/java/com/tngtech/archunit/junit

I like the power, e.g. that I can just mark `@AnalyzeClasses` with `@Testabl

[2018-04-02 16:51] sbrannen commented on #1348
This support has been pushed to `master` in commit a1989a2c8f6294a49c8f0e0b88aca4f6846744cb.

[2018-04-02 16:51] #1348 closed

[2018-04-02 18:24] marcphilipp commented on #1355
Thanks for the feedback! I think you're right that we've reached a point where it makes sense to document recommendations/guidelines on how to implement a class-based engine.

AFAIK Gradle plans to support test engines that work with files. Thus, this might need to be changed anyway. However, please open an issue with this one for Gradle to be sure. IMHO this should not be necessary.

Yeah, Gradle

[2018-04-02 19:13] dotCipher opened #1356 "Introduce Test Kit for testing engines"
## Overview

**Feature request**

I am looking for a straightforward stable API for testing Extensions that would offer deep insights when meta-testing the Extension (think something similar to what is provided via the [SummaryGeneratingListener](https://github.com/junit-team/junit5/blob/master/junit-platform-launcher/src/main/java/org/junit/platform/launcher/listeners/SummaryGeneratingListener.ja

[2018-04-02 23:03] codecholeric commented on #1355
Thank you for your tips :smiley:
I think the reference to Cucumber at https://github.com/gradle/gradle/issues/4773, made it more clear to me, what the intentions of these categories of selectors are, in particular, that there are two bigger categories at all (thanks for your enumeration!!)
Maybe it would have helped me, to see these categories somehow in the code, but I don't know if that is again

[2018-04-03 09:36] sbrannen commented on #1355
I would say that's a but in Gradle: a `TestSource` is not required. That's why it's an `Optional`.

[2018-04-03 09:39] sbrannen commented on #1355
@marcphilipp, regarding the _missing_ documentation, I agree that we really need to add that, and the "categories" you've laid out are very useful for the uninitiated.

It's true that the selectors are confusing for pretty much anyone other than a core committer. This isn't the first time we've seen someone thinking that a Java class could be selected as a "file" or that a Java package could be se

[2018-04-03 09:42] sbrannen commented on #1355
Thanks!

[2018-04-03 09:53] sbrannen commented on #1356
That's correct. We use it rather extensively internally within the JUnit test suite; however, we have not published it.

We realize that extension authors actually need something along those lines, but we just haven't had the time to polish it, document it, and publish it.

Plus, it might need an overhaul in terms of design in order to serve a wider audience than just the core committers.

If you'

[2018-04-03 11:22] sbrannen commented on #607
OK.

Please keep in mind, however, that #48 will address inter-dependencies between methods in the same test class, but it will not address inter-dependencies between methods in different test classes.

That should also be achievable after #48 has been implemented.

[2018-04-03 11:24] mibutec commented on #1338
Hey, the issue was open for almost whole easter, so maybe it will come as Easteregg :laughing:

Just for my curiosity: As far I could appraise the needed changes, there are just some code movements for 1350 necessary. What is added complexity?

[2018-04-03 11:33] sbrannen commented on #1338
Any introduction of new types, methods, or method parameters as well as additional behavior added to existing behavior or changes to existing behavior that are not in line with the documented, published APIs result in added complexity beyond the status quo.

[2018-04-03 12:17] sbrannen commented on #1345
Merged feature branch into `master` in commit 122a9aac5155b387c931995a02756d42e44818a0.

[2018-04-03 12:18] sbrannen commented on #1345
Reopening since the team has not yet decided on this:

[2018-04-03 12:19] sbrannen commented on #1345
Added _team discussion_ label to address backporting

[2018-04-03 12:21] TimvdLippe commented on #1345
Awesome thanks. Looking forward to the new release :tada:

[2018-04-03 12:31] mibutec commented on #1338
So, are we talking about "complexity" or about "work"? In case of work I can support you.

Afaik timing behavior of Dynamic Tests is not part of User Guide, so no changes necessary. `@API` annotated classes are not changed, either.

JavaDoc, Tests, Formatting, ... would be done by me.

[2018-04-03 12:38] sbrannen commented on #1338
Please read my response.

I explicitly stated "added complexity".

[2018-04-03 12:45] TimvdLippe commented on #1345
Per https://github.com/mockito/mockito/pull/1350#issuecomment-378235145 I would like to voice my opinion regarding a backport. We are not eager to maintain potential workarounds with shipping new code, therefore having a backport would enable us to ship JUnit support sooner. Personally I would rather hold off with a feature if it requires a workaround, if I know the workaround will be removed "soo

[2018-04-03 12:48] sbrannen commented on #1349
_in progress_

[2018-04-03 12:54] #1349 closed

[2018-04-03 16:18] jdaviestx commented on #586
On the off chance it helps anybody else who runs into this issue - I had the exact same problem trying to run my unit tests in IntelliJ.  It turned out that my unit test was importing org.junit.Test, rather than org.junit.jupiter.api.Test, but I didn't declare a dependency on junit-vintage in my pom.xml.  The solution was to either explicitly declare the correct version of junit-vintage in my pom

[2018-04-03 17:26] sormuras commented on #1300
@junit-team/junit-lambda a candidate for 5.1.1 as well?

[2018-04-03 17:28] marcphilipp commented on #1300
Sounds good to me!

[2018-04-03 18:37] TimvdLippe commented on #1356
For future reference, I implemented this in Mockito by using the test engine: https://github.com/mockito/mockito/blob/9e6ccadc896936391ec36734e363239b0eb3d2e8/subprojects/junit-jupiter/src/test/java/org/mockitousage/StrictnessTest.java#L121-L145 We are mostly interested in the test-status, rather than specific details.

The only downside of this approach is the way I detect test methods: https://g

[2018-04-03 19:30] dotCipher commented on #1356
@sbrannen , thanks for the insight here.  Do you have any guidance for starting the draft of the "extension testing framework"?  I would be more than happy on sketching something out, but wanted to know if there was any specifics that come to mind on your end for the implementation that you would like to see (beyond just the basic contributing guidelines)?  That question goes for other potential u

[2018-04-04 10:50] sbrannen commented on #1356
@dotCipher, the best I can recommend is:

- review your own needs
- review what can already be done with the `ExecutionEventRecorder `
- review what third parties have done
  - e.g., what @TimvdLippe linked to and things like I have done [in Spring's test suite](https://github.com/spring-projects/spring-framework/blob/71cacff8c2f83884c31d9fd5ea2d67e4e1bb5a7f/spring-test/src/test/java/org/springfra

[2018-04-04 10:55] sbrannen commented on #1356
Yes, it would most definitely be published in a different package it its own artifact.

I could imagine the artifact being named `junit-jupiter-extension-test` or similar.

I'm tempted to call it `junit-jupiter-test`, but I strongly fear that average developers would think that's need just to write tests and would therefore confuse that with `junit-jupiter-api`. 😇

[2018-04-04 10:57] sbrannen commented on #1356
I guess the real challenge here is drawing the line between testing engines **vs.** testing extensions solely for the Jupiter extension model.

The `ExecutionEventRecorder` is for testing any engine.

So we should probably focus on that level first... and then see if it makes sense to introduce dedicated testing support for Jupiter extensions.

Feedback and ideas are welcome!

[2018-04-04 13:00] saint88 commented on #90
Hello
When you plan to add a parallel launch of tests in Junit 5 via the plugin maven surefire.

[2018-04-04 13:01] saint88 commented on #90
It's critical options for migrate our peroject from junit 4.12 to Jupiter

[2018-04-04 13:12] sormuras commented on #90
Jupiter will soon support parallel execution: see #60 and the related feature branch https://github.com/junit-team/junit5/tree/experiments/parallel-execution

[2018-04-04 13:32] saint88 commented on #90
Ok. Thanks. I will be wait. =)

[2018-04-04 13:34] christophsturm opened #1358 "JUnit Jupiter instantiates test class for a disabled test method"
I have this class:

[code]

and I would expect that it outputs "yo" once, but it outputs it twice. I'm pretty sure that JUnit 4 did not do that.

In that example it may seem far fetched, but the my real test suite is in Kotlin and to keep everything immutable I initialize my dependencies in the class instead of in `@BeforeEach`:

[code]

so if i add a disabled test method to this class, my webserv

[2018-04-04 13:36] sormuras commented on #1358
Try it... ;)

[2018-04-04 13:44] christophsturm commented on #1358
how is that related to the issue? I want one test instance per test which is the default, and also what junit 4 did. but i want one instance per actually enabled test and no instance per disabled test.

[2018-04-04 14:08] jlink commented on #90
Haven’t checked the implementation but I wonder if that could/should be a platform feature?

[2018-04-04 14:12] sbrannen commented on #1345
okie dokie!

@marcphilipp, thanks for creating the 5.1.1 milestone and reassigning this issue to it. 👍

[2018-04-04 14:13] sbrannen commented on #1345
I'll backport it.....

[2018-04-04 14:13] sbrannen commented on #1345
_in progress_

[2018-04-04 14:17] sormuras commented on #1358
Pardon me, that desire was not clear to me.

I guess that JUnit 4's `@Ignore` prevented the entire lifecycle around the `@Test`-annotated method to be skipped. `@Disabled` is realized as a common extension in Jupiter which works apparantly different to your expectation.

[2018-04-04 14:26] christophsturm commented on #1358
another case that makes it very unintuitive is junit4 rule support. Rules are initialized for disabled tests but their lifecycle does not run.

[2018-04-04 14:51] sbrannen commented on #1358
`@Ignore` is analyzed statically in JUnit 4; whereas, `@Disabled` is actually a _condition_ in JUnit Jupiter that is evaluated dynamically.

If you want something _static_ in Jupiter, you can use _tags_ (e.g., `@Tag("my-tag-name")`) instead of conditions.

Another option would be to use a condition at the class level instead of at the method level -- for example, `@Disabled`, `@DisabledIf(...)`, o

[2018-04-04 14:56] sbrannen commented on #1358
It's not a good idea to perform custom setup in an instance initialization block since there is no corresponding _tear down_ block.

Whereas, if you create a `@BeforeEach`/`@AfterEach` method pair, then JUnit Jupiter guarantees that the "afters" are invoked in the "befores" were invoked.

[2018-04-04 14:58] sbrannen commented on #1358
FWIW, it's also not a good idea to set up things in a static initialization block if those things must be guaranteed to be _torn down_ afterwards.

[2018-04-04 15:01] sbrannen commented on #1345
Backported to 5.1.1 in commit a01c11290202240d7e145073fbb2b91248ba3d97.

[2018-04-04 15:01] #1345 closed

[2018-04-04 15:18] christophsturm commented on #1358
ok so basically that means when a test method is disabled in junit5 the test class is instantiated, but no lifecycle methods are called at all. If it's going to stay that way it really should be documented somewhere.

And I agree that in a perfect world this should not be a problem. but for example, a junit4 rule that does work in its constructor instead of its startup callback (which it should no

[2018-04-04 15:52] sbrannen commented on #1300
... and documented in Release Notes in commit cf09937f1dc01554574f991f0fc9b2b512477dc6.

[2018-04-04 15:53] #1300 closed

[2018-04-05 09:55] mmerdes commented on #1333
in progress

[2018-04-05 13:26] sbrannen commented on #1358
Correct.

Hmmm... I thought it was already documented, but perhaps it's documented more from the perspective of an extension author rather than from the point of view of a test developer.

I'll investigate.

[2018-04-05 13:28] sbrannen commented on #1358
True.

But... I don't see how we can prohibit that.

Like you said, a rule could do that in JUnit 4, but "it should not".

[2018-04-05 13:36] sbrannen commented on #1358
OK. I looked into the existing documentation, and it appears that this behavior is not actually documented per se.

So we'll improve that.

[2018-04-05 13:46] sbrannen commented on #1358
_in progress_

[2018-04-05 14:01] christophsturm commented on #1358
maybe add "This means that it's not safe to initialize test dependencies in their declaration instead of `@BeforeEach`". and maybe also add a note in the docs for the per method lifecycle.

is changing the behavior totally off the table?

[2018-04-05 14:02] sbrannen commented on #1358
Documented in commit d8acdb3d6ab66179b0e9c66583dc507be3287032.

[2018-04-05 14:02] #1358 closed

[2018-04-05 14:03] sbrannen commented on #1358
Yes.

[2018-04-05 14:06] sbrannen commented on #1358
What are you suggesting here?

[2018-04-05 14:12] christophsturm commented on #1358
https://junit.org/junit5/docs/current/user-guide/#writing-tests-test-instance-lifecycle

"JUnit creates a new instance of each test class before executing each test method (see note below for what qualifies as a test method). This "per-method" test instance lifecycle is the default behavior in JUnit Jupiter and is analogous to all previous versions of JUnit."

maybe add "Please note that in this c

[2018-04-05 14:14] sbrannen commented on #1358
Ahhh.... OK. You meant in the User Guide.

Thanks

[2018-04-05 14:27] sbrannen commented on #1358
Update: I pushed the following _Note_ to the User Guide: 4d0629a5940b9ef0ade772eba3bbde851351298d

[2018-04-05 14:29] sbrannen commented on #1358
I agree that that is useful information; however, it's a very general tip that should be applied across the board when implementing any kind of tests. Plus, it applies not only to user code but also to how extensions are implemented.

So I'm not sure where we would include such a tip.

[2018-04-05 14:34] christophsturm commented on #1358
one more idea: you could measure the time that it takes to instantiate the test class, and if it takes longer than 1ms output a warning that you should not do any work at instantiation time.
Not sure if its practical, and will probably create false positives.

[2018-04-05 15:40] sbrannen commented on #1358
Yeah, that would likely lead to false positives.

I think we'd better not try to do anything like that.

[2018-04-05 23:26] igorstojanovski commented on #542
@geo-m @nicolaiparlog I tried to use a TestExecutionListener to get the result info into my CustomExtension, but for me it didn't work because of the order of the calls:

- TestExecutionListener.executionStarted
- CustomExtension.afterTestExecution
- CustomExtension.afterEach
- TestExecutionListener.executionFinished

I can't use any info collected in executionFinished because its collected after

[2018-04-06 05:06] marcphilipp commented on #542
Can you move the code from your CustomExtension into your TestExecutionListener?

[2018-04-06 10:40] marcphilipp commented on #1309
Moved to _General Backlog_ to see if we receive additional requests for this feature.

[2018-04-06 11:49] sbrannen commented on #1354
This has been addressed in `master` in commit ce303c347e42b606ce51eaf72294dabf19a0ae72.

[2018-04-06 11:49] #1354 closed

[2018-04-06 12:01] sbrannen commented on #1332
**Team Decision**: the team agrees that the introduction of such a method is the bare minimum that should be done in order to provide extension authors enough information to make appropriate decisions.

[2018-04-06 12:12] sbrannen commented on #1332
I did a bit of brainstrorming and came up with an idea for providing further information to extension authors -- in case we decided the proposed new method is insufficient.

We could introduce a new `NestingContext` interface that is returned by `ExtensionContextgetNestingContext()`:

[code]

It would have to be `Optional` since there is no nesting context for a top-level or static nested class.

[2018-04-06 13:13] amohabir opened #1360 "Surefire provider during integration tests gives SLF4J issues using Logback and REST Assured"
## Bug Report

Using:

- JUnit platform 1.1.0
- Jupiter engine 5.1.0
- surefire-provider 1.1.0
- failsafe-plugin 2.19.1
- JDK 8 Update 161

## Issue

So a very specific combination of the failsafe plugin with the surefire provider and having a test using REST assured in combination with logback for logging purposes is not working. This same setup but with the surefire plugin is working, as seen in

[2018-04-06 14:32] sbrannen commented on #1333
FYI: with the upcoming fix in the OTA (https://github.com/ota4j-team/opentest4j/issues/42), the new `fail()` method should simply `throw new AssertionFailedError()`.

[2018-04-06 14:45] sbrannen commented on #1360
Well, if that's the case, then I don't know what the JUnit team could do to help.

We don't have any control over the Failsafe plugin.

What happens if you _exclude_ the "jdk14 library coming from the Maven plugins"?

[2018-04-06 14:52] amohabir commented on #1360
Excluding either or both the SLF4J jdk14 and API libraries doesn't help solve the issue. Perhaps it makes sense to also link this one to the Maven team?

[2018-04-06 15:03] sbrannen commented on #1360
Yes, I recommend you take it up with the Maven team since I don't think we can do anything to help.

With that in mind, I am closing this issue.

However, if the Maven team determines there is actually a bug in JUnit, please report that back here.

Thanks!

[2018-04-06 15:03] #1360 closed

[2018-04-06 17:52] dotCipher commented on #1356
@sbrannen, thanks for the advice!

I will take a stab at targeting engine level testing for extension testing and see if I can make it work for my needs.  I took a look at the `ExecutionEventRecorder` and there are some things missing that I would also like to see (ie. timings between tests / containers).

Thanks again for the link to your work on Spring, I will start drafting a bit and see if I c

[2018-04-06 19:27] marcphilipp commented on #90
@jlink I'm working on #60 with @leonard84 since Spock also wants to add support for parallel execution. Engines that extend `HierarchicalTestEngine` will be able to use it so it is kind of a Platform feature. However, we believe it should be possible to enable/disable parallel execution per engine.

[2018-04-06 19:29] marcphilipp commented on #1356
For timings, I think it would suffice to add a `timestamp` property to `ExecutionEvent`.

[2018-04-06 20:08] mkobit commented on #794
This can be accomplished with [`ReflectionSupport` now](https://github.com/junit-team/junit5/blob/8635ea0ad90dfbed84448a00eed3f900813a42b2/junit-platform-commons/src/main/java/org/junit/platform/commons/support/ReflectionSupport.java#L33), right?

[2018-04-07 07:48] jaikiran commented on #1352
@marcphilipp, I just submitted a PR for review https://github.com/junit-team/junit5/pull/1361. Let me know if you think any changes/additions are required in there.

[2018-04-07 09:30] sbrannen commented on #1352
Ant build support is now documented in `master` via commits 7ebaa8142ced045bb13c893b88a31252e168c6ed and 069df8d31d8147a07c6d741e253d13fea2168edd.

[2018-04-07 09:30] #1352 closed

[2018-04-07 09:44] sbrannen commented on #794
@mkobit, yep... you're totally right!

`invokeMethod(...)` was introduced in `ReflectionSupport` in conjunction with #790.

Although `ReflectionSupport` is actually intended for extension and test engine authors, test authors can of course use it as well.

I am therefore closing this issue.

[2018-04-07 09:44] #794 closed

[2018-04-07 09:54] sbrannen commented on #1360
Thanks for the reference to #1318.

I've changed the label to "duplicate".

[2018-04-07 13:01] sbrannen commented on #1191
The corresponding work on this issue has been pushed to `master` in commits e2295abd0069604852567a042acd5bc6fd3d576f and 3ec77993d46efe04cc5a3b62086bb3d5fd924e3d.

Thanks again for all of your hard work on these features, @geo-m!

[2018-04-07 13:58] amohabir commented on #1360
Ah cool. Thanks, guys! Any estimates on the 5.2 release? Will there be a separate failsafe-provider at some point btw?

[2018-04-07 15:11] marcphilipp commented on #1360
We've donated our provider to the Maven Surefire Apache project. Now we're waiting for them to update and publish it. Once they do, Surefire will autodetect which provider to use. AFAIK there's no separate Provider API for the surefire and failsafe plugins, they just use different conventions and different Maven lifecycles but leverage the same implementation.

[2018-04-07 18:12] sormuras commented on #1360
5.2 M1 Due by May 4, 2018 -- https://github.com/junit-team/junit5/milestone/22

[2018-04-08 17:46] marcphilipp opened #1362 "Fix Javadoc stylesheet for JDK 10"
Jenkins is already using JDK 10 to generate Javadoc. I've noticed that [the overview](https://junit.org/junit5/docs/snapshot/api/overview-summary.html) now uses tabs for the groups "Jupiter", "Vintage", and "Platform". Before using JDK 10 or higher to compile a release we need to improve our stylesheet. We should probably diff the JDK 9 and 10 default stylesheets/html output to see what changed.

[2018-04-09 11:36] sormuras commented on #815
Re-opened because of https://github.com/jlink/jqwik/issues/12

[2018-04-09 11:42] sormuras commented on #815
For a method like:

[code]

IDEA 2018.1 sends `[byte` as the parameter type name. Which is a mix of VM-internal syntax (it starts with a `[` bracket) and Java source representation (`byte` indicates the type here, not `B`).

JUnit's `ReflectionSupport` understands the followin notations:
- `[I`
- `byte[]`

JUnit doesn't support
- `[byte`

@junit-team/junit-lambda  Shall we add support for this mix

[2018-04-09 11:56] sbrannen commented on #815
No, I don't see any reason to invent any new syntax.

The JUnit Platform already supports binary and source code syntax for array types.

If a client (e.g., build tool, IDE, etc.) wants to _select_ a method that accepts a `byte[]`, JUnit only supports `byte[]` (source code syntax) or `[B` (binary syntax).

[2018-04-09 12:08] sbrannen commented on #815
The supported syntax is clearly documented [here](https://junit.org/junit5/docs/current/api/org/junit/platform/engine/discovery/DiscoverySelectors.html#selectMethod-java.lang.String-).

I am therefore re-closing this issue.

[2018-04-09 12:08] #815 closed

[2018-04-09 12:28] jlink commented on #815
I agree that it looks like a clear IntelliJ bug. What could be improved is the platform's error handling.

As it is now the error occurs when an engine tries to access `MethodSelector.getJavaMethod()`.
IMO it shouldn't be possible in the first place to create a selector that cannot be resolved.

[2018-04-09 12:51] sbrannen commented on #815
That's a tough one, @jlink.

`MethodSelector` is currently generic in that it can be used to select methods that do not correlate to _Java_ methods.

That was one of the design decisions for all of the selectors and sources. Another goal was to avoid eager loading of classes and methods when selectors are created solely from strings.

Perhaps it is a bit too generic for engines that expect Java cl

[2018-04-09 13:11] jlink commented on #815
Maybe my imagination isn't sufficiently broad: What kind of method on the JVM wouldn't have to refer to correct JVM type in the field `methodParameterTypes`? I understand that the concrete type might not be resolvable during creation time - due to classloader or module visibility issues - but the syntax should stick to what's possible on the JVM, shouldn't it?

[2018-04-09 13:13] sbrannen commented on #815
A test engine does not have to support JVM languages, per se.

One could conceivably create a test engine that executes tests in some scripting language (perhaps homegrown) that is not compiled to JVM byte code.

That was the rationale behind making it generic.

[2018-04-09 13:28] sbrannen commented on #1362
When you say "Fix...", do you mean something is broken on JDK 10?

Or are you just saying we should investigate to make sure that nothing is potentially broken?

[2018-04-09 14:08] sbrannen commented on #1191
FYI: this issue has not yet been closed in order to introduce additional tests for preconditions and error cases as well as to perform a final review of the new section in the User Guide.

[2018-04-09 15:10] sbrannen commented on #1191
**Update**: I have added a _Deliverables_ section to track tasks, lacking features, and bugs (e.g., inability to use `TestInfo` alongside `ArgumentsAccessor`).

[2018-04-10 10:48] sbrannen commented on #1191
**Update**: I made changes to support the combination of _aggregators_ with `TestInfo`, etc.

[AggregatorIntegrationTests](https://github.com/junit-team/junit5/blob/master/junit-jupiter-params/src/test/java/org/junit/jupiter/params/aggregator/AggregatorIntegrationTests.java) demonstrates a subset of what's currently possible.

More fine tuning to come, along with documentation for what is actually

[2018-04-10 10:57] stalkerg commented on #1229
This case not working correctly,  @BeforeAll/@AfterAll methods calls only for the first argument from getTestData().

Because here https://github.com/junit-team/junit5/blob/master/junit-jupiter-engine/src/main/java/org/junit/jupiter/engine/descriptor/ClassTestDescriptor.java#L163 your set beforeAllMethodsExecuted even for Lifecycle.PER_CLASS .

[2018-04-10 11:03] sbrannen commented on #1229
@stalkerg,

`@BeforeAll`/`@AfterAll` methods are only supposed to be executed "once per test class" regardless of what the test instance lifecycle is.

That's by design.

If need to do something before or after **each** method, you need to implement `@BeforeEach`/`@AfterEach` methods.

[2018-04-10 11:06] sbrannen commented on #1229
@franz-see,

By the way, you can simplify your `getTestData()` method by simply using `Stream.of(...)`.

[code]

[2018-04-10 11:09] stalkerg commented on #1229
yep, it's logical but in my case, `@AfterAll` call immediately after the first argument (1).
And I can't use BeforeEach because I should use some instancing objects in getTestData().

[2018-04-10 11:11] stalkerg commented on #1229
I understand why call `@BeforeAll` before 1 but in my opinion, `@AfterAll` should call only after 3 from getTestData().

[2018-04-10 15:32] eximius313 opened #1363 "MethodArgumentsProvider doesn't work as Documentation states"
## Overview
- (x) **Bug report.** Please provide us the version of JUnit 5 you are
using and, if possible, a failing unit test with your bug report. Don't
forget to describe the rationale for this issue (e.g. expected vs.
actual behavior).

*5.1.0*

## Deliverables
[Documentation](https://junit.org/junit5/docs/5.1.0/api/org/junit/jupiter/params/provider/MethodSource.html) states:
`By default, such

[2018-04-10 15:51] smoyer64 commented on #1363
I think you need to put ``@TestInstance(Lifecycle.PER_CLASS)`` on the ``@Nested`` class rather than the parent (outer) class.

[2018-04-10 15:53] eximius313 commented on #1363
you're right, sorry

[2018-04-10 15:53] #1363 closed

[2018-04-10 16:52] geo-m commented on #1191
Should have seen the bug coming, caused by consuming all arguments... Now it's quite better but as you probably know the test doesn't pass if any other injectable like a TestInfo comes before any accessor or an aggregate value.

That might be easy to know if documented. Still, I was wondering what you would think about using the first aggregator instead of the last as "terminating". Anything after

[2018-04-10 21:47] olamy commented on #809
works perfectly here with  junit-platform-surefire-provider 1.2.0-SNAPSHOT
Great job!
Any plan for a release soon?

[2018-04-10 22:09] Tibor17 commented on #809
I want to have two more fixes. One of them needs customer to reply on Jira
so I will verify on Docker by myself.
The next one needs to be just fixed.

On Tue, Apr 10, 2018 at 11:47 PM, Olivier Lamy <notifications@github.com>
wrote:

--
Cheers
Tibor

[2018-04-10 22:33] olamy commented on #809
please do not delay too long.
It's just a pain for people who are using last surefire because of jdk10 support but cannot use junit5.
IMHO It's a VERY blocker situation!!

[2018-04-11 07:48] Tibor17 commented on #809
What?
I am not a blocker! Pls do not make this which is not truth.

On Wed, Apr 11, 2018 at 12:33 AM, Olivier Lamy <notifications@github.com>
wrote:

--
Cheers
Tibor

[2018-04-11 08:47] sormuras commented on #1247
The internal extension can be found at https://github.com/junit-team/junit5/blob/master/platform-tests/src/test/java/org/junit/jupiter/extensions/TempDirectory.java

[2018-04-11 09:26] Tibor17 commented on #809
Well somebody may help if you guys check it out with Docker.
Let's say run some test which lasts few seconds on Ubuntu

docker run -it --rm maven:3.5.2-jdk-8-alpine /bin/sh

See the Jira https://issues.apache.org/jira/browse/SUREFIRE-1422
This would at least help making faster progress.

The users say that the test is killed immediately.
The ps process should be installed with this version of alpi

[2018-04-11 09:31] Tibor17 commented on #809
Typo. The maven:3.5.3-jdk-8-alpine already contains procps inside, so use
3.5.3 and not 3.5.2.
Sorry for typo.

On Wed, Apr 11, 2018 at 11:26 AM, Tibor Digana <tibor.digana@googlemail.com>
wrote:

--
Cheers
Tibor

[2018-04-11 09:44] sbrannen commented on #1191
Yep. We're aware of that.

It's essentially no different than how conventional parameterized tests (i.e., without aggregators) work. If you want the `TestInfo`, a Spring bean, a Mockito mock, etc., those parameters must come at the end of the formal parameter list.

[2018-04-11 09:47] sbrannen commented on #1191
Thanks for the suggestion. We are in fact already considering that.

 That's certainly an option, but it's less _flexible_ than the current implementation.

However, we may decide that we do not wish to support such a "mixed mode" as is currently in `master`.

Once the team has made a decision, we will enforce, test, and document the semantics.

[2018-04-11 09:51] sbrannen commented on #1191
No worries.

I'd say you did a great job with the PR! To the best of my knowledge, it only contained three bugs, and that's quite good for such a feature. 😉

To be honest, we should have requested additional tests before merging the PR. That would have helped discover bugs and find solutions while it was still a PR. So I partially take the blame for that.

[2018-04-11 10:30] sbrannen commented on #1191
Food for thought:

As currently implemented in `master`, "find last index of aggregator" semantics also allow one to declare traditional parameters sourced from indexed arguments _after_ or _between_ aggregators.

That would look something like the following fictitious example, where `issueNumber` is declared between the person and address aggregators.

[code]

That would work with the current imp

[2018-04-11 10:36] sbrannen commented on #1191
In order to follows the _KISS_ principle, I'm starting to think we should just enforce the following strict rules for now.

1. 0 more more _indexed arguments_ come first.
2. 0 more more _aggregators_ come second.
3. 0 more more arguments supplied by other `ParameterResolver` implementations come last.

**Thoughts?**

[2018-04-11 10:47] mmerdes commented on #1333
Merged PR.

[2018-04-11 10:47] #1333 closed

[2018-04-11 11:55] sbrannen commented on #1191
New _Deliverables_ up for debate:

- Consider making the `ArgumentsAggregator` API generic (i.e., `ArgumentsAggregator<T>`) in order to make it easier to unit test an `ArgumentsAggregator` implementation.
- Consider introducing a `setIndexOffset(int)` method in `ArgumentsAccessor` that makes it easier to reuse existing position-based logic for input sets that are occasionally shifted to the right

[2018-04-11 11:58] sbrannen commented on #1191
Reintroduced the _team discussion_ label to clarify remaining open issues.

[2018-04-11 13:35] sbrannen commented on #1191
Revised User Guide content in 6306716afab6df2e77c8c72cf2987eb3d285fb4b.

[2018-04-11 13:56] sbrannen commented on #1191
Replying to myself...

I suppose that's a moot point, since Java supports covariant return types: a `PersonAggregator` can already return `Person` from `aggregateArguments(...)` since `Person` _is-a_ `Object`.

In addition, the parameterized return type would effectively be ignored by JUnit. Any errors will occur at runtime in any case.

So I'll go ahead and remove the _Deliverable_.

[2018-04-11 13:59] sbrannen commented on #1191
Latest documentation can be viewed here:

https://junit.org/junit5/docs/snapshot/user-guide/#writing-tests-parameterized-tests-argument-aggregation

[2018-04-11 14:54] joakime commented on #801
The Eclipse Jetty project just hit this issue with the ConsoleLogger in our recent junit5 migration. (eclipse/jetty.project#2431)

We would see ...

* No tests apparently being run ```[INFO] Tests run: 0, Failures: 0, Errors: 0, Skipped: 0```
* A `java.lang.ClassNotFoundException: org.apache.maven.plugin.surefire.log.api.ConsoleLogger`
* A crash of the build reactor
* No `target/surefire-reports`

[2018-04-11 14:59] joakime commented on #801
Note, the sample project https://github.com/jetty-project/junit-issue-801

will also fail on JDK 8 on Windows ...

[code]

[2018-04-11 16:18] sormuras commented on #801
Strange, when you browse to https://maven.apache.org/surefire/maven-surefire-common/apidocs/org/apache/maven/plugin/surefire/log/PluginConsoleLogger.html and click on the link referred by `implements org.apache.maven.plugin.surefire.log.api.ConsoleLogger`, you also get an error page. @Tibor17 is the `api` package not jarred or does it ship in another artifact?

[2018-04-11 16:32] sormuras commented on #801
I could fix the demo project provided by @joakime by adding

[code]

manually.

[2018-04-11 16:42] sormuras commented on #801
Sorry, didn't see you already found and included the `surefire-logger-api` in your build.

If I am not mistaken, JUnit can't do anything about it. The surefire plugin should bring all of its deps with it, maybe it's already fixed in their SNAPSHOT builds?

[2018-04-11 19:28] Tibor17 commented on #801
Can somebody provide me with a link where I can download a simple project
reproducing this issue?
Thx.

On Wed, Apr 11, 2018 at 6:43 PM, Christian Stein <notifications@github.com>
wrote:

--
Cheers
Tibor

[2018-04-11 19:37] sormuras commented on #801
reproducing this issue?

https://github.com/jetty-project/junit-issue-801

[2018-04-11 20:01] joakime commented on #801
@sormuras what happens when `surefire-logger-api` is a dependency of `junit-platform-surefire-provider` ?

[2018-04-11 22:14] Tibor17 commented on #801
You should delete two dependencies within plugin section in the POM and
keep the provider only. You already have them in project dependencies.
The problem happens when reuseForks=false and forkCount=1.
Obviously there must be a problem with transitive dependencies. I do not
think it is packages shading problem.

On Wed, Apr 11, 2018 at 10:01 PM, Joakim Erdfelt <notifications@github.com>
wrote:

--

[2018-04-11 22:33] SaidBenaissa commented on #809
Added this to dependencies:
        <dependency>
            <groupId>org.junit.platform</groupId>
            <artifactId>junit-platform-surefire-provider</artifactId>
            <version>1.1.0</version>
        </dependency>

    And this to plugins:
            <plugin>
                <groupId>org.apache.maven.plugins</groupId>
                <artifactId>maven-surefire-plugin</artifactId>

[2018-04-11 22:44] Tibor17 commented on #809
Yes that's possible because forking the jvm has abstraction which was
needed to create manifest for jdk9+ and prior versions.

On Thu, Apr 12, 2018 at 12:33 AM, Said Benaissa <notifications@github.com>
wrote:

--
Cheers
Tibor

[2018-04-11 23:02] Tibor17 commented on #809
@Said Benaissa why you do not use JUnit5 Version 5.1? This was confirmed
it's working.

On Thu, Apr 12, 2018 at 12:44 AM, Tibor Digana <tibor.digana@googlemail.com>
wrote:

--
Cheers
Tibor

[2018-04-12 06:33] sormuras commented on #801
I guess that would act as a band-aid and by-pass the underlying problem.

There is a working configuration: if you set `<reuseForks>true</reuseForks>`, like you did in `582075e`, everything's fine. The `api` package is available, because the artifact `surefire-logger-api` is resolved.

[2018-04-12 06:44] Tibor17 commented on #801
But this combination with reuseForks=false should work as well. Has
somebody tried a prototype with old JUnit 4.12 and same config?

On Thu, Apr 12, 2018 at 8:33 AM, Christian Stein <notifications@github.com>
wrote:

--
Cheers
Tibor

[2018-04-12 06:49] Tibor17 commented on #801
Pls check it out in debug mode (mvn -X test). You will see classpath for
surefire and you can see what is missing when changing the config.

On Thu, Apr 12, 2018 at 8:44 AM, Tibor Digana <tibor.digana@googlemail.com>
wrote:

--
Cheers
Tibor

[2018-04-12 13:40] thecatwhisperer opened #1366 "Tag Expressions with spaces do not work with Surefire provider"
## Overview
- Tag Expression used in Maven POM cannot include spaces.
- Tag Expression cannot use `|` (or) symbol, must use `,` (comma) for or instead

## Versions
JDK:
[code]
Junit Version: `5.1.1`
Surefire version: `2.19.1` (2.21.0 fails with `ClassNotFoundException: org.apache.maven.plugin.surefire.log.api.ConsoleLogger`)

## Examples

Given the following code:
[code]

### TagA & TagB
The follo

[2018-04-12 14:54] sbrannen commented on #1366
Also, what version of the JDK are you using to run Maven?

[2018-04-12 14:56] thecatwhisperer commented on #1366
Updated report to include JDK info

[2018-04-12 14:56] sbrannen commented on #1366
I ask, because it may be the same as this: https://github.com/junit-team/junit5/issues/1188#issuecomment-372342701

[2018-04-12 14:57] sbrannen commented on #1366
Ahhhh, you're on Java 8.

Then perhaps it is a different bug.

[2018-04-12 15:02] sbrannen commented on #1366
I was just able to reproduce this locally.

[code]

We'll look into it.

[2018-04-12 15:06] sbrannen commented on #1366
OK, this is definitely a bug.

And that bug resides in `org.junit.platform.surefire.provider.JUnitPlatformProvider.getPropertiesList(String)`.

Namely, that method splits the input by space or comma.

So that obviously won't work for a tag expression.

Thanks for bringing this to our attention.

We'll make it work. 😉

[2018-04-12 15:07] sormuras commented on #1366
Try it with 2.21.0 and the manual API fix from #801

[2018-04-12 15:08] sbrannen commented on #1366
@sormuras... see above. 😇

[2018-04-12 15:15] sbrannen commented on #1366
_in progress_

[2018-04-12 15:27] sbrannen commented on #1366
This has been fixed in `maser` in commit f4cd4bc8d294ef580e192034f5de833485e4c7fa.

[2018-04-12 15:28] sbrannen commented on #1366
Reopening to discuss backporting to 5.1.2 with the @junit-team/junit-lambda.

[2018-04-12 15:49] sbrannen commented on #801
If the JUnit Platform provider is not directly using the `surefire-logger-api`, then it would not be the job of JUnit to include a dependency on it.

[2018-04-12 17:38] joakime commented on #801
To answer @Tibor17 ... I've updated https://github.com/jetty-project/junit-issue-801

There are 4 separate projects.
All 4 use the same version of `maven-surefire-plugin`

Project Name | Description | Behavior
-------------- | ----------- | ---------
`junit5-forkcount-1` | Junit 5 provider, Using `<forkCount>1</forkCount>` | Crashes with `org.apache.maven.plugin.PluginExecutionException` :boom:
`j

[2018-04-12 18:59] Tibor17 commented on #801
The problem in JUnit5 is this

<scope>runtime</scope>

The JUnit4 did not fail. It is src/main/java problem in main code of the
test project - similar to assertion error.
Remember that when you add a dependency to plugin it does not mean that
your provider is instantiated in plugin's ClassLoader. No, we load it in
isolated CL and the scope runtime does not cause the CL to inherit that one
class of

[2018-04-12 20:08] sormuras commented on #801
Tried to insert `<scope>test</scope>` in both JUnit 5 samples and removed the dependencies from the sure plugin configuration ... and they still fail with `ClassNotFoundException: org.apache.maven.plugin.surefire.log.api.ConsoleLogger`
[code]

[2018-04-12 20:12] Tibor17 commented on #801
You still do not understand.

On Thu, Apr 12, 2018 at 10:08 PM, Christian Stein <notifications@github.com>
wrote:

--
Cheers
Tibor

[2018-04-12 20:13] Tibor17 commented on #801
Provider...

On Thu, Apr 12, 2018 at 10:12 PM, Tibor Digana <tibor.digana@googlemail.com>
wrote:

--
Cheers
Tibor

[2018-04-12 20:43] sormuras commented on #801
Excerpt from [`junit-platform-surefire-provider-1.1.1.pom`](http://central.maven.org/maven2/org/junit/platform/junit-platform-surefire-provider/1.1.1/junit-platform-surefire-provider-1.1.1.pom):
[code]
I guess, you refer to these scopes?

- Yes. _Now you do understand._ ▶️ What other scope should we set here? `test`?
- No. _You still do not understand._ ▶️ Please try to explain what we can do to a

[2018-04-12 23:18] olamy commented on #809
@sbrannen any date for a release? At the Eclipse Jetty project we are keen to migrate to Junit5 but we are blocked by this as we want to have jdk10 build working with the last surefire version.

[2018-04-13 06:42] marcphilipp commented on #1191
Is that only relevant for `ArgumentsAggregator` implementations? If so, I'd rather call them with an `ArgumentsAccessor` that already has that offset. Let's maybe hold off on this for now. We can revisit the topic when (if at all) we think about adding `indices`/`range`/`offset` like discussed above.

[2018-04-13 06:44] marcphilipp commented on #1191
Looks great! 👍

[2018-04-13 06:46] marcphilipp commented on #809
@olamy We'll discuss the release timeline in the team today and update the corresponding milestones. I think we should release 5.2 sooner than originally planned so the Surefire provider is compatible with the latest Surefire release.

[2018-04-13 11:08] sbrannen commented on #1366
**Team Decision**: hold off on backporting this bug fix to 5.1.x for the time being due to the earlier planned release of 5.2.

[2018-04-13 11:08] #1366 closed

[2018-04-13 11:09] sbrannen commented on #1191
**Team Decision**

1. Implement the aforementioned proposal following the _KISS_ principle.
2. Hold off on introducing support for additional configuration options such as offsets, ranges, and indices.

[2018-04-13 11:22] sormuras opened #1367 "Surefire can't find class `org.apache.maven.plugin.surefire.log.api.ConsoleLogger`"
Follow-up from https://github.com/junit-team/junit5/issues/801#issuecomment-380481871

[2018-04-13 11:25] sormuras commented on #801
Please add further questions, findings and solutions regarding the _fork mode_ issue with the JUnit Platform Surefire Provider to #1367

Thanks.

[2018-04-13 11:27] sormuras commented on #1367
Copied from https://github.com/junit-team/junit5/issues/801#issuecomment-380886634 written by @joakime

--

There are 4 separate projects.
All 4 use the same version of `maven-surefire-plugin`

Project Name | Description | Behavior
-------------- | ----------- | ---------
`junit5-forkcount-1` | Junit 5 provider, Using `<forkCount>1</forkCount>` | Crashes with `org.apache.maven.plugin.PluginExecuti

[2018-04-13 12:27] sbrannen commented on #801
Thanks, @Tibor17 and @sormuras!

[2018-04-13 12:28] sbrannen commented on #801
than Maven3 and we can go out with surefire version 2.22.0.
Let's see what the tests would say on CI.

Looking forward to it! 👏

[2018-04-13 12:29] caduandrade commented on #80
I can't imagine using "assertTimeoutPreemptively" all over the code. Global timeout is very needed.

[2018-04-13 12:55] roussi opened #1368 "Description error in JavaDoc for TestExecutionListener interface"
## Overview

_ I think that there is a little error in the description of TestExecutionListner interface ( https://junit.org/junit5/docs/current/api/org/junit/platform/launcher/TestExecutionListener.html )

should be

 instead of

[2018-04-13 12:56] sbrannen commented on #1368
Good catch.

I'll fix that ASAP.

[2018-04-13 13:01] #1368 closed

[2018-04-13 13:01] sbrannen commented on #1368
Done!

[2018-04-13 16:29] sbrannen opened #1369 "Improve documentation for argument aggregator support"
## Overview

This issue picks up where #1191 left off.

## Deliverables

- [x] Document "formal parameter order" policy in public JavaDoc.
- [x] Document "formal parameter order" policy in User Guide.

[2018-04-13 16:30] sbrannen commented on #1191
The work for this issue has now been completed in `master`.

Follow-up work to take place in #1369.

[2018-04-13 18:57] Tibor17 commented on #801
I have applied all changes from Surefire's branch "junit5".
I will resolve conflicts with Jenkins CI (compiler versions), then I will
try to fix bugs after tests and then I will try to apply all changes
appeared after
https://github.com/junit-team/junit5/commit/2f49071dfc9005f556543e34ca41027c63fde927
and versions of new JUnit artifact versions.

On Fri, Apr 13, 2018 at 2:28 PM, Sam Brannen <notif

[2018-04-13 21:47] Tibor17 commented on #801
I will create a pull request on GitHub because this needs Benedikt to
support Surefire.
4 tests he added failed and I have no idea why.
So I have updated versions from 5.0.0-M3 to 5.1.1 and from 1.0.0-M3 to
1.1.1 and I got a new problem because you have compiled one artifact with
JDK9:

[INFO] Restricted to JDK 1.8 yet
org.junit.platform:junit-platform-commons:jar:1.1.1:compile contains
META-INF/v

[2018-04-13 22:10] Tibor17 commented on #801
Here is pull request to JUnit 5 in Surefire
https://github.com/apache/maven-surefire/pull/183

On Fri, Apr 13, 2018 at 11:47 PM, Tibor Digana <tibor.digana@googlemail.com>
wrote:

--
Cheers
Tibor

[2018-04-14 09:53] sbrannen commented on #801
Great, @Tibor17!

Thanks for taking the initiative!

[2018-04-14 10:46] sbrannen commented on #1369
_in progress_

[2018-04-14 11:26] sbrannen opened #1370 "Improve test coverage for argument aggregator support"
## Overview

This issue picks up where #1191 left off.

## Deliverables

- [x] Verify that we have _decent_ code coverage for features introduced to support argument aggregation.
- [x] Introduce unit tests for `ArgumentsAccessor`.
  - Introduced in 5.2 M1.
- [x] Introduce tests for exception handling and error cases when parameterized tests with aggregators are executed.
  - In other words, `Aggre

[2018-04-14 11:28] sbrannen commented on #1369
Addressed in `master` in commits 5bda20594050f366a821d4942fa7e06b4cdba8f7 and 4579fe67871254ce2d98a1107ccae88d814a394c.

[2018-04-14 11:28] #1369 closed

[2018-04-14 13:28] sbrannen commented on #1362
Answering for Marc...

One noticeable difference is that the tabs (All Packages, Jupiter, Vintage, Platform) do not have a visible spacer between them: it's just one big red bar.

Contrast that to the default style sheet used here: https://docs.oracle.com/javase/10/docs/api/overview-summary.html

[2018-04-14 17:29] #316 closed

[2018-04-14 23:57] geo-m commented on #1191
That's great. If you ever plan on extending the feature i would appreciate a chance to work more on this. Thanks!

[2018-04-15 07:56] igorstojanovski opened #1372 "Both junit-jupiter-engine and a custom registered engine are run in IDEA"
## Overview

I am trying to create my own implementation of TestEngine, MyCustomExecutionEngine. I want to re-use the discovery mechanism from JupiterTestEngine and just do a custom execute() implementation. Hence, I want the test junit-jupiter-engine present as a dependency. But, I don't want the junit-jupiter-engine to run, I want only my custom engine to run.

## Problem

- I register MyCustomE

[2018-04-15 11:09] sbrannen commented on #1372
The JUnit Platform provides first-class support for excluding test engines via `org.junit.platform.launcher.EngineFilter.excludeEngines(String...)`.

That filter can be supplied to the `LauncherDiscoveryRequestBuilder` that is used to build the `LauncherDiscoveryRequest` which is turn handed off to the `Launcher`.

The support is there, but as for whether or not you can achieve this via the UI in

[2018-04-15 11:44] marcphilipp commented on #1372
Sam is of course right: using an `EngineFilter` is a possible solution. However, Sam didn't know that I asked you to create an issue [on Twitter](https://twitter.com/marcphilipp/status/985083691205619712) because I was curious why you wanted to create your own engine that reuses the Jupiter engine.

@igorstojanovski Can you please provide a little more background on that?

[2018-04-15 14:40] sbrannen commented on #1370
_in progress_

[2018-04-15 15:01] sbrannen commented on #1370
no longer _in progress_

[2018-04-15 19:45] igorstojanovski commented on #1372
@sbrannen  that, of course, worked perfectly fine. I knew I was missing something. However, that does not solve my IDEA problem. I couldn't find any way to specify which test engine(s) to be used to run the tests. And I still need to try this with Maven as well.

@marcphilipp  I just want to do change the way tests are executed, not the way they are discovered. And because I have no specific requi

[2018-04-15 23:36] smoyer64 commented on #1372
@marcphilipp - My original JupiterSuiteEngine was a wrapper around the regular Jupiter engine.  I excluded the Jupiter engine and called into the Jupiter engine to discover and execute the tests.

[2018-04-16 09:32] sbrannen commented on #1372
If you want IDEA to support filters for test engines, you would need to open a ticket in their issue tracker requesting that support.'

AFAIK, Eclipse does not support filtering of engines either.

[2018-04-16 09:34] sbrannen commented on #1372
The JUnit Platform Maven Surefire provider currently does not support filtering by test engine.

If you would like it to, feel free to open a new issue in this GitHub repository requesting that.

[2018-04-16 09:35] amohabir commented on #1360
Testing it with 5.2 M1 seems to have solved the issue.

[2018-04-16 09:35] sbrannen commented on #1372
Can you please expound on exactly what it is you want to change?

[2018-04-16 09:42] Tradunsky commented on #944
Reproduces on 5.1.1 and on the latest 5.2.0-M1

org.junit.jupiter.api.extension.ParameterResolutionException: No ParameterResolver registered for parameter [java.lang.String arg1] in executable

@ParameterizedTest(name = "meaningful name and argument {3} based on argument {0} and argument {1}")
    @CsvSource({
            "6", "10", "40",
            "1", "10", "90"
    })
    public void meaning

[2018-04-16 10:13] sbrannen commented on #944
@Tradunsky, your stack trace is incomplete: `in executable`.

Which executable?

If it's for a `@BeforeEach`/`@AfterEach` method, then that's expected since this behavior has not changed since 5.0 GA.

[2018-04-16 10:24] geo-m commented on #944
@Tradunsky
Shouldnt it be "6, 10, 40" instead of "6","10","40" ?

[2018-04-16 10:53] Tradunsky commented on #944
@geo-m Good catch! Works like a charm.
Thanks.

@sbrannen
Thank you as well

[2018-04-16 10:55] sbrannen commented on #944
Indeed, good catch, @geo-m!

[2018-04-16 12:47] sbrannen commented on #1362
@sormuras, if you're going to tackle this one, it'd probably be good to remove the "up for grabs" label, but I'll leave that up to you.

[2018-04-16 15:06] rweisleder commented on #1356
If it's relevant for further consideration, my SO question (and some answers) about how to test that an extension throws a specific exception: https://stackoverflow.com/q/47237611/4365460

[2018-04-16 18:48] igorstojanovski commented on #1372
@sbrannen I want to run the tests in parallel. The run is made based on user configuration who enters number of threads and whether to run classes, methods in classes or all methods in parallel.

[2018-04-16 20:49] dotCipher opened #1374 "Code Styling via Intellij"
I am an intellij user, and it seems like the default Intellij project files set the import order to be different than what you guys specified in the [CONTRIBUTING.md > Formatting](https://github.com/junit-team/junit5/blob/master/CONTRIBUTING.md#formatting) section, thus the arrangement of import ordering conflicts directly between the two styles.  This manifest itself as when a developer applies t

[2018-04-16 20:50] dotCipher commented on #1356
Thanks @rweisleder, that's a useful reference.  I actually think I have a draft targeting the engine level (aka engine agnostic).  I'll push up the initial draft shortly and it might make sense to update the labels / title of this issue to reflect that?

As an aside, I had a slight difficulty using the third-party eclipse formatter as an Intellij user and apologize in advance I missed any styling

[2018-04-17 07:25] cburgmer opened #1375 "Make XML report generator available to the public"
## Overview

We have written our own test runner and would like to use the JUnit Platform's `XmlReportsWritingListener` to generate test result output. However the implementation is currently not in the public API.

Background:

We have created our own test runner, it seems for the following reasons.

- Setup of external dependencies
- Provide own `TestExecutionListener`

With this we replace whic

[2018-04-17 09:04] akozlova commented on #1372
And similar issue bites me if I want my tests to run on EDT: I want to reuse the discovery but don't need to run with the engine. I still hope that there would be a solution for that

Apart from that. From IDEA point of view:
It's impossible to detect what filter would user want based on the opened class in the editor, thus configuring such things in the IDE would be complicated and I doubt that i

[2018-04-17 09:25] RMsiemens opened #1376 "VerboseTreePrintingListener does not print exception thrown from beforeAll methods"
## Overview
- (x ) **Bug report.**

Junit5 Version: **5.1.1**

When using the VerboseTreePrintingListener by setting the `--details` argument of the ConsoleLauncher to `verbose` the exceptions are not printed in the tree.
When setting `--details` to `tree` they are. My expectation is that the `verbose` setting does print the exceptions and the stacktraces of exceptions thrown within a `beforeAll`

[2018-04-17 09:32] sbrannen commented on #1343
Possibly related bug: https://stackoverflow.com/questions/47237611/check-that-junit-extension-throws-specific-exception/47982480?noredirect=1#comment86739467_47982480

[2018-04-17 09:38] sbrannen commented on #1343
FYI: I reproduced the bug discussed in the above SO comment.

Non-private, static, nested test classes are also not executed via the JUnit Platform Maven Surefire provider when executing `mvn test`.

The OP for the aforementioned SO post will likely create a separate issue for that, but I wanted to make sure it's mentioned here as well, so that we don't forget it.

[2018-04-17 10:02] sbrannen commented on #1372
@igorstojanovski, wouldn't you rather wait on the official support for parallel execution coming in #60?

[2018-04-17 10:03] sbrannen commented on #1372
@akozlova, what is _EDT_?

[2018-04-17 10:05] akozlova commented on #1372
Event Dispatch Thread?

[2018-04-17 10:05] sbrannen commented on #1372
Using an `EngineFilter` is not the correct solution for an engine that wants to _replace_ an existing engine that happens to be on the classpath. That is of course another story. 😉

However, build tools and IDEs _should_ actually support filtering by engine IDs just like they support filtering by tags.

[2018-04-17 10:06] sbrannen commented on #1372
Yes, that of course makes sense, and I think it would actually be a robust mechanism for achieving that... in case the JUnit Team decides to support that.

[2018-04-17 10:25] sbrannen commented on #1372
Replying to myself...

Rationale: developers who are running tests within a given project may well want to exclude certain engines when executing _test suites_.

This can already be achieved via the `@IncludeEngines` and `@ExcludeEngines` annotations in the JUnit Platform Suite API.

Unfortunately, those annotations are currently only _supported_ via the `JUnitPlatform` runner for JUnit 4 infrastr

[2018-04-17 10:32] sbrannen commented on #1375
Tentatively slated for 5.3 for _team discussion_

[2018-04-17 11:00] rweisleder opened #1377 "Maven Surefire Plugin does not execute static nested classes"
## Overview

As suggested by @sbrannen and maybe related to #1343.

Discussion on SO: https://stackoverflow.com/a/47982480/4365460

Consider this class:

[code]

The tests in `InnerTest` are picked up by Gradle (`junit-platform-gradle-plugin`) and IntelliJ IDEA, but not with the Maven Surefire Plugin.

pom.xml:

[code]

The issue is reproducible with 5.0.0, 5.1.0 and 5.2.0-M1 (and related version

[2018-04-17 11:03] sbrannen commented on #1377
Thanks for raising the issue!

We'll look into it.

[2018-04-17 11:06] rweisleder commented on #1377
The user guide isn't clear about static nested classes. The only note I found is about `@Nested` for inner classes. I thought this is the only way and that static nested classes are not possible.

[2018-04-17 11:07] sbrannen commented on #1377
Hmmm.... then we should probably document that better.

Static nested test classes have always been considered first-class citizens, both in JUnit 4 and JUnit Jupiter.

[2018-04-17 11:12] sbrannen commented on #1377
In terms of testing your extension -- which was your original goal -- I personally recommend one of the following two approaches.

1. Use a naming convention for test classes that are expected to fail (e.g., `*TestCase` instead of `*Tests`).
  - This is exactly what we do in the test suite for JUnit 5.
2. Introduce a special tag to mark such "intentionally failing" test cases and exclude that tag

[2018-04-17 11:25] sbrannen commented on #1356
Well... if you missed anything, the build for your PR will fail on the CI server. So, it's recommended that you execute `gradle clean build` locally before submitting a PR. 😉

[2018-04-17 11:26] sbrannen commented on #1374
@marcphilipp, @mmerdes, & @sormuras: how do you deal with that situation?

[2018-04-17 11:40] sbrannen commented on #1377
This actually appears to be a bug within the Maven Surefire Plugin itself.

Namely, Surefire does not execute public static nested classes when using JUnit 4 either.

For example, running the following via Maven with only JUnit 4 support should result in a failure, but it doesn't since the nested test class is not executed. Perhaps it's not discovered or internally filtered out.

[code]

So I'm st

[2018-04-17 11:41] sbrannen commented on #1377
@Tibor17, is this something your familiar with?

[2018-04-17 11:56] rweisleder commented on #1377
The Surefire Plugin excludes inner classes by default: http://maven.apache.org/surefire/maven-surefire-plugin/test-mojo.html#excludes

By removing all default exclusions the nested classes get executed too, JUnit 4 and JUnit 5.
[code]
see also https://stackoverflow.com/a/33813668/4365460

[2018-04-17 12:02] sbrannen commented on #1377
@rweisleder,

Wow! That obviously solves the mystery.

Thanks for sharing!!!

And... I learned something: didn't realize Maven Surefire excluded all nested classes by default. 😱

[2018-04-17 12:03] sbrannen commented on #1343
**FYI**: the solution to this issue _may_ be the same as for #1377.

**Namely, Maven Surefire excludes all nested classes by default!**

http://maven.apache.org/surefire/maven-surefire-plugin/test-mojo.html#excludes

[2018-04-17 12:07] sbrannen opened #1378 "Document how to execute static nested test classes with Maven Surefire"
## Overview

In light of #1377, we should inform users that static nested test classes are supported by JUnit Jupiter but are excluded from Maven builds by default.

## Deliverables

- [ ] Document that JUnit Jupiter supports `static` nested test classes.
- [ ] Document how to execute `static` nested test classes in a Maven build.
  - See solution [here](https://github.com/junit-team/junit5/issues

[2018-04-17 12:09] sbrannen commented on #1377
I am closing this issue, since it is technically not a _bug_.

Documentation will be addressed in #1378.

[2018-04-17 12:09] #1377 closed

[2018-04-17 12:37] jbduncan commented on #1374
I can't speak for anyone else, but as someone who contributed to JUnit 5 in the past with IntelliJ IDEA, I just clicked on the `check` and `spotlessApply` tasks in the Gradle view whenever I needed to test changes and fix formatting respectively...

Allowing, for example, `spotlessApply` to be invoked with a keyboard shortcut like `(Ctrl|Cmd) + Alt + L` would be good, though. Perhaps there's a way

[2018-04-17 12:40] sormuras commented on #1374
Same for me. Executing a saved run configuration calling "gradlew spotlessApply build" or sometimes even "gradlew clean spotlessApply build".

[2018-04-17 16:46] marcphilipp commented on #1362
Fixed by 80066a9d903044d753b9f452fb4747b3e43f71e3.

[2018-04-17 16:46] #1362 closed

[2018-04-18 17:30] dotCipher commented on #1356
First PR is up as #1380 that mainly includes the refactoring / addition of timings.  Ideally I would also like to include a union type result at a granularity higher than the `ExecutionEvent` (think `TestExecution`) that would include the summary of the execution of a Test (failure / success or skip reason).

I would be happy to include that in the #1380 PR or a different one.

[2018-04-18 19:47] marcphilipp commented on #1344
_in progress_

[2018-04-18 20:13] igorstojanovski commented on #1372
@sbrannen It might be of help, but it probably won't do the whole job for me? "Run tests in parallel" is the short version. The long is that I need to group the tests first according to the setup and resources they use. Then I run in parallel only the tests that belong to the same group. But, I run the groups in sequence, one after the other.

Hope that made sense.

[2018-04-19 19:24] #1344 closed, assigned to marcphilipp

[2018-04-20 19:11] cburgmer opened #1381 "Don't use human format for serialising time in XML report"
## Overview

- (x) **Bug report.**

For a test running longer than roughly 17 minutes, the time in seconds will reach 4 digits and XmlReportWriter (https://github.com/junit-team/junit5/blob/master/junit-platform-console/src/main/java/org/junit/platform/console/tasks/XmlReportWriter.java#L239) will use a comma as a thousand separator. This is contrary to how for example XMLSerializer (https://w3c.g

[2018-04-21 10:25] marcphilipp commented on #1381
Thanks for reporting this issue! The XSD we use do validate our output in our tests does not really help here: it defines `time` as a string.

Thus, I did a bit of research to find out what other producers write and consumer expect when reading. [Gradle](https://github.com/gradle/gradle/blob/4f2f2b6822bd90774830729452e3f8536ff1b0ff/subprojects/testing-base/src/main/java/org/gradle/api/internal/tas

[2018-04-21 12:10] marcphilipp commented on #1378
_in progress_

[2018-04-21 13:06] #1378 closed

[2018-04-21 18:29] cburgmer commented on #1381
I am parsing the document via Clojure's `Float/parseFloat`:
[code]

[2018-04-22 19:44] sormuras commented on #1099
Seems to run on Windows and MacOS using JDK 10 again. Linux OS tests are pending...

[2018-04-22 20:05] #1099 closed

[2018-04-23 06:56] juergenzimmermann opened #1382 "Provide Kotlin extension function for ArgumentsAccessor"
When using JUnit 5.2.0-RC1 with Kotlin, you have to write e.g.:
[code]
It would be smoother when one could write (as e.g. in https://github.com/junit-team/junit5/blob/r5.2.0-RC1/junit-jupiter-api/src/main/kotlin/org/junit/jupiter/api/Assertions.kt#L96):
[code]

[2018-04-23 11:09] sbrannen commented on #1343
Tentatively slated for 5.2 GA in order to verify whether or not the _fix_ for #1377 covers this use case as well.

[2018-04-23 11:16] sbrannen opened #1383 "Introduce assertDoesNotThrow() with return value"
## Overview

This issue picks up where #1348 left off.

## Deliverables

- [ ] Introduce overloaded variants of `assertDoesNotThrow()` that return a value, analogous to the `assertTimeout()` variants that accept a `ThrowingSupplier` instead of an `Executable`.

[2018-04-23 11:52] jhorstmann commented on #1178
Regarding the TestFactory vs. Engine discussion, I also tried the implementation as an engine, which works and allows reporting correct source locations. The downside is that there is then no easy way to integrate with existing jupiter extensions, at least none that I could find. Especially the spring extension for dependency injection is something I could use and would not want to duplicate for a

[2018-04-23 11:54] #1383 closed

[2018-04-23 11:56] sbrannen commented on #1383
This has been resolved in `master`; however, the changes have intentionally not been documented in the release notes since the release notes for 5.2 GA will already mention the work done in #1348 and this issue.

[2018-04-23 12:01] sbrannen opened #1384 "Merge milestone and RC release notes for 5.2"
## Deliverables

- [ ] Merge milestone and RC release notes for 5.2.

[2018-04-23 12:07] sbrannen commented on #425
@sormuras, can you please _check off_ the Deliverables you covered and mark the ones you didn't cover with an ❌ so that we know what the status quo is?

[2018-04-23 12:08] sbrannen commented on #425
_reopened in order to address open deliverables_

[2018-04-23 12:45] sormuras commented on #425
All covered, all checked.

[2018-04-23 12:45] #425 closed

[2018-04-23 12:47] sbrannen commented on #425
Thanks! 👍

[2018-04-23 17:11] hutaidavid commented on #1382
Hello!
I would like to work on this issue if it is not a problem and be part of the contribution.

[2018-04-24 01:38] WilderPereira commented on #1382
Hello, I'm also interested in working on this issue! How can we proceed?

[2018-04-24 07:53] marcphilipp commented on #1382
Let's decide if/how to implement it before getting started. Having said that, I'm all for it.

Can this be implemented as a extension function?

[2018-04-24 10:28] paulduffin opened #1386 "Attempting to rerun failing JUnit 4 Parameterized tests in IDEA fails"
## Overview

- ( x) **Bug report.**

Am using version 5.1.1

In IDEA run a JUnit 4 Parameterized test class which has one test method that fails. Attempt to rerun the failing test and it fails with the following error:

org.junit.platform.commons.util.PreconditionViolationException: Could not find method with name [foo[parameter]] in class [ParameterizedTest].

Although this happens in IDEA I don'

[2018-04-24 11:20] sormuras opened #1387 "Unicode characters in Javadoc displayed as \u...."
## Overview

The Javadoc comment for
https://junit.org/junit5/docs/snapshot/api/org/junit/jupiter/api/Assertions.html#assertLinesMatch(java.util.List,java.util.List)
displays `\u2718` instead of `✘` or `\u2502` instead of `│`.

The Javadoc syntax used to include the code snippets seems correct, though:
https://github.com/junit-team/junit5/blob/master/junit-jupiter-api/src/main/java/org/junit/jupit

[2018-04-24 11:46] sormuras commented on #1387
![image](https://user-images.githubusercontent.com/2319838/39185000-e250bd0e-47c5-11e8-96be-732e67911ee4.png)

[2018-04-24 18:11] sormuras commented on #1387
*5.0.3* produced with JDK 9's `javadoc` yields the expected result: https://junit.org/junit5/docs/5.0.3/api/org/junit/jupiter/api/Assertions.html#assertLinesMatch-java.util.List-java.util.List-

*5.1.0* produced with JDK 10(?)'s `javadoc` yields the wrong result:
https://junit.org/junit5/docs/5.1.0/api/org/junit/jupiter/api/Assertions.html#assertLinesMatch-java.util.List-java.util.List-

[2018-04-24 18:49] #1387 closed

[2018-04-25 06:27] syhily opened #1391 "Include the apiguardian-api in junit-bom"
I thought `apiguardian-api` could also be included in junit-bom.

[2018-04-25 10:25] sbrannen commented on #1391
The `apiguardian-api` artifact will be pulled in automatically as a transitive dependency.

Thus, there is no need to include it in the `junit-bom`.

I am therefore closing this issue, but feel free to add additional comments if you have any issues.

[2018-04-25 10:25] #1391 closed

[2018-04-25 13:07] sbrannen commented on #1386
IDEA should actually use the unique ID of the test to _select_ an individual invocation of a parameterized test to re-run it.

Thus, if IDEA is selecting the individual parameterized invocation via `DiscoverySelectors#selectMethod`, I would consider that a bug in IDEA.

@akozlova, thoughts?

[2018-04-25 13:35] akozlova commented on #1386
IDEA started to support uniqueIDs starting from 2018.1 (before that uniqueIds were not supported in standard engines). In other words, works fine here with latest released IDEA version.

[2018-04-25 13:40] sbrannen commented on #1386
Thanks, @akozlova! 👍

I assumed that was the case (just wasn't sure of the version of IDEA that supported unique IDs).

I am therefore closing this issue.

@paulduffin, if you are using a version of IDEA prior to 2018.1, please upgrade to that version.

[2018-04-25 13:40] #1386 closed

[2018-04-25 16:47] sbrannen commented on #1343
_in progress_: investigating

[2018-04-25 16:58] sbrannen commented on #1343
**Findings**:

After adding a `@Nested` test class to `FirstTest` from the `junit5-maven-consumer` project and adding "no excludes" work-around discussed in #1377, we see that...

The following does **not** execute the nested test class.
[code]

However, the following **does** execute the nested test class. Note the trailing `*` after the fully qualified class name.

[code]

After further analysis

[2018-04-26 17:31] #1384 closed

[2018-04-26 20:37] aaronq commented on #90
@marcphilipp do you know when your parallel changes will get released?

[2018-04-27 05:00] cushon opened #1394 "Improve assertThrows failure message if the lambda returns a result instead of throwing"
## Overview

When testing code whose expected behavior is to throw an exception, it is sometimes useful to have a custom failure message for the case where the code does not throw an exception but instead returns a value:

[code]

One of the few disadvantages of using `assertThrows` instead of the try/catch/fail pattern above is that `assertThrows` does not provide an easy way to customize the fai

[2018-04-27 06:05] kevinb9n commented on #1394
I think as a general principle we would like JUnit to never discard information, in the process of failing, that might be useful information to the engineer. So the motivation for this change is clear to me.

My understanding is that for code like

[code]

... if `add` is void, this code will continue to use the same method it always has, while if `add` returns any value, I believe this will magic

[2018-04-27 08:28] sbrannen commented on #1394
Interesting idea.

We'll discuss it internally.

[2018-04-27 08:29] sbrannen commented on #1394
In any case, we cannot implement it as you have it currently in your PoC since a method may actually return `null`.

In other words, we would have to maintain the current behavior for `Executable` and have different behavior for `ThrowingSupplier`.

[2018-04-27 08:30] sbrannen commented on #1394
Tentatively slated for 5.3 M1 for _team discussion_

[2018-04-27 08:32] sbrannen commented on #1394
@kevinb9n,

Yes, that is correct: Java performs correct type inference based on whether or not the lambda expression returns a value.

[2018-04-27 08:45] sbrannen opened #1395 "Rename ArgumentsAccessorException to ArgumentAccessException"
## Overview

As documented in the JavaDoc for `ArgumentsAccessorException`:

Thus, such exceptions specifically apply to an attempt to access a single argument, not multiple _arguments_.

## Deliverables

- [x] Rename `ArgumentsAccessorException` to `ArgumentAccessException`.

[2018-04-27 08:46] sbrannen commented on #1395
Assigned to 5.2 GA since this change must be made before 5.2 is released.

[2018-04-27 08:47] sbrannen commented on #1395
I recommend making this change, but I'm leaving it open for _team discussion_ for the time being.

[2018-04-27 09:59] marcphilipp commented on #90
@aaronq The plan is to polish them and publish them as experimental in 5.3 M1... so 1-2 months.

[2018-04-27 10:11] marcphilipp commented on #1395
**Team Decision:** 👍

[2018-04-27 10:18] marcphilipp commented on #1394
**Team Decision:** We like it, please go ahead and submit your branch as a PR! 🙂

[2018-04-27 10:37] sbrannen commented on #1395
_in progress_

[2018-04-27 10:44] marcphilipp commented on #1381
When I originally wrote the XML writer, I checked how Maven Surefire outputs the time. Thus, it now includes the `,`. We've discussed this issue in the team and came to the conlusion _not_ to change it.

Please use a workaround similar to the one used by Jenkins (linked above):

[code]

[2018-04-27 10:44] #1381 closed

[2018-04-27 10:49] #1395 closed

[2018-04-28 19:01] marcphilipp commented on #1370
_in progress_

[2018-04-28 20:12] marcphilipp opened #1397 "Only instantiate ArgumentConverters and ArgumentsAggregators once per parameterized test method"
Currently, any `ArgumentConverter` or `ArgumentsAggregator` registered via `@ConvertWith` or `@AggregateWith`, respectively, is instantiated once per invocation of the `@ParameterizedTest` method.

For example, the following class

[code]

prints

[code]

## Deliverables

- [ ] Instantiate `ArgumentConverter` or `ArgumentsAggregator` registered via `@ConvertWith` or `@AggregateWith`, respectively,

[2018-04-28 20:13] marcphilipp commented on #1370
I fixed a bug in 50a3d6db2f2399cfcc71ac363a046c220ca70751 and added tests for exception handling in dad11e9605d7dbb28eacb12725ee65b56a7647a6. As far as 5.2 is concerned, that should address the concerns raised by this issue.

In addition, I created #1397 to improve performance when `@ConvertWith` or `@AggregateWith` are used.

[2018-04-28 20:13] #1370 closed

[2018-04-29 11:36] sbrannen commented on #1397
If we go that route, we should immediately (i.e., before the 5.2 GA release) update the JavaDoc for `ArgumentConverter` and `ArgumentsAggregator` to require that implementations must be thread-safe and stateless.

[2018-04-29 11:37] sbrannen commented on #1397
@junit-team/junit-lambda,

FYI: Slated for 5.2 GA in order to address the previous documentation task.

This issue can be reassigned to 5.3 M1 once the documentation is updated.

[2018-04-29 12:08] marcphilipp commented on #1397
Documentation was updated in 8a41632695f12f8d61a1a4824f50a712964ec0f2. Reassigning to 5.3 M1 now.

[2018-04-30 09:34] JensPiegsa commented on #1101
Some second thouhts and practical implications:

1.  **`@CsvSource`**
Within `@ValueSource` I can <kbd>ctrl</kbd>+click on a String value that represents a filename to directly jump to the file. This has proven invaluable for me when trying to figure out what's going on. It does not work with `@CsvSource`, but would work with the proposed `@Parameter` annotation out of the box.

2. **`@MethodSourc

[2018-05-01 07:54] sormuras commented on #733
Furthermore, when a method is explicitly selected via a launcher request selector, it should be _relevant_. Even if that method is not annotated with `@Test` or a similar testable annotation.

See https://stackoverflow.com/questions/50110819/launching-junit-jupiter-tests-from-inside-a-main-method

`org.junit.jupiter.engine.discovery.AbstractMethodResolver`
![image](https://user-images.githubuserco

[2018-05-01 08:25] triceo commented on #1367
I am also seeing this. If `reuseForks` is set to `true`, Surefire will always crash with the CNFE and no tests are executed.

[2018-05-01 11:32] marcphilipp commented on #1101
@jochenchrist @JensPiegsa I could image supporting the following:

[code]

`@CsvSource` is still much shorter but I can see some value in it.

@junit-team/junit-lambda Thoughts?

[2018-05-01 11:33] marcphilipp commented on #1101
Added to _5.3 Backlog_ for team. discussion.

[2018-05-01 11:56] marcphilipp commented on #733
I'm afraid I have to disagree. IMHO if the method is not annotated with `@Test` (or another Jupiter API annotation), the Jupiter engine should _not_ discover it. The method could be an executable method for another engine but as far as Jupiter is concerned it's not responsible for discovering and executing this method.

[2018-05-01 11:58] sbrannen commented on #733
I have to agree with @marcphilipp.

In fact, I just posted a similar comment on Stack Overflow.

[2018-05-01 17:35] marcphilipp commented on #1376
@sormuras Do you have time to take a look at this issue?

[2018-05-01 17:50] marcphilipp commented on #1372
One idea I had was to define a default filter configuration in `junit-platform.properties` which is used in case no filter is part of a certain type, e.g. `EngineFilter`, is present in the `DiscoveryRequest`.

@junit-team/junit-lambda Thoughts?

[2018-05-01 17:56] marcphilipp commented on #1382
@hutaidavid @WilderPereira Are you still interested in working on this issue?

[2018-05-01 18:33] marcphilipp commented on #1382
Well then, go for it! 🙂

[2018-05-02 07:29] sormuras commented on #1376
Sure.

[2018-05-02 15:25] henrik-io opened #1402 "Request For Enhancement: simple mechanism to tell the framework which test methods to run without @Test annotation"
I wanted to be able to be able to run unit tests without them being picked up automatically. I.e. I only want to run them from inside a `main()` method. Sormuras came up with a solution to my question [here](https://stackoverflow.com/questions/50110819/launching-junit-jupiter-tests-from-inside-a-main-method), and suggested that I submit a feature request. I propose that specifying a class or metho

[2018-05-02 15:52] sbrannen commented on #1402
The problem is that there is not a single "engine".

There can be multiple competing engines running at the same time.

So, how would each engine know it's supposed to run the test or method?

[2018-05-02 16:11] henrik-io commented on #1402
I'm not familiar with the implementation, so I can't comment on that, but from a 10,000 foot view, why would it be different to declare a method as a candidate for a test using an annotation vs very specifically telling the framework "please consider this method a test method"?  The use case is essentially to be very specific about when to run the particular test method. I.e. I never want it to ru

[2018-05-02 16:54] henrik-io commented on #1402
The `@EnabledIfSystemProperty` annotation looks like it could be useful here. I did something like this:
[code]

A little more work than what I'd like it to be, but it certainly works.

[2018-05-02 17:13] sormuras commented on #1402
By using its unique ID: `"[engine:junit-jupiter]/[class:com.example.S3ManualTest]/[method:happyPath()]"`

At the moment, because there's no `@Test` attached to `happyPath()` it reports:

[code]

[2018-05-02 19:13] sormuras commented on #1376
_in progress_

[2018-05-02 20:01] marcphilipp commented on #1382
_in progress_ by @WilderPereira

[2018-05-02 20:31] #1394 closed

[2018-05-02 20:31] giacgbj opened #1403 "@Disabled annotation not honored using Maven"
Environment:

- JDK 8
- Maven 3.5.3
- JUnit 5.2.0
- maven-surefire-plugin 2.21.0
- Eclipse Oxygen.3a (4.7.3a)

When I run the [attached sample project](https://github.com/junit-team/junit5/files/1968805/foo.zip) in Maven both the tests are executed, while running them in Eclipse the annotation works.

Project highlights:

**pom.xml**
[code]

**TestFoo.java**:
[code]

[2018-05-02 20:35] sormuras commented on #1403
Please add the `junit-platform-surefire-provider` to the `maven-surefire-plugin` configuration:

		<plugin>
			<artifactId>maven-surefire-plugin</artifactId>
			<version>2.21.0</version>
			<dependencies>
				<dependency>
					<groupId>org.junit.platform</groupId>
					<artifactId>junit-platform-surefire-provider</artifactId>
				</dependency>
			</dependencies>
		</plugin>

[2018-05-02 20:47] giacgbj commented on #1403
Adding it:
[code]

It seems Maven can't handle dependency management for plugin dependencies, so I had to specify a version too.

It works like that, but **junit-bom** seems to be useless in this case. Is there a way to avoid specifying the version?

[2018-05-02 20:52] sormuras opened #1404 "Dependency Diagram not rendered in User Guide"
The Dependency Diagram is not rendered in the **current** version of the User Guide. Instead, the source code was emitted:

[code]

https://junit.org/junit5/docs/current/user-guide/#dependency-diagram

Both, the HTML and PDF versions are affected.

The **snapshot** version shows the expected image:

![component-diagram](https://junit.org/junit5/docs/snapshot/user-guide/images/component-diagram.svg

[2018-05-02 21:00] sormuras commented on #1403
Mh, the BOM-POM contains the provider:

[code]

http://central.maven.org/maven2/org/junit/junit-bom/5.2.0/junit-bom-5.2.0.pom

IFAICT it should work.

[2018-05-02 21:04] sormuras commented on #1403
No. It does not work. See https://issues.apache.org/jira/browse/MNG-5588 for details.

Closing this issue as the initial `@Disabled`-related question is resolved.

[2018-05-02 21:04] #1403 closed

[2018-05-03 06:36] giacgbj opened #1405 "junit-bom and plugins' dependencies"
Considering the following scenario, which I think it's the main scenario for Maven users, junit-bom seems to be useless because Maven doesn't allow to propagate versions imported to plugins' dependencies (https://issues.apache.org/jira/browse/MNG-5588).
[code]

Would it be possible to expose junit-bom's dependencies' versions using properties in order to reference them?

[2018-05-03 07:08] sormuras commented on #1405
Better suited for stackoverflow or a Maven-related forum?

[2018-05-03 10:36] #1376 closed

[2018-05-03 12:15] sbrannen commented on #1405
I think adding `junit` properties to the BOM is reasonable.

[2018-05-03 12:17] sbrannen commented on #1405
For example, that is exactly what the Spring Boot team does in `spring-boot-dependencies`.

http://search.maven.org/remotecontent?filepath=org/springframework/boot/spring-boot-dependencies/2.0.1.RELEASE/spring-boot-dependencies-2.0.1.RELEASE.pom

[2018-05-03 12:18] sbrannen commented on #1405
Tentatively slated for 5.3 M1 for _team discussion_

[2018-05-03 13:26] mibutec opened #1406 "Unexpected behavior with inheritance and -Dtest with Surefire"
Having such a construct

[code]

When executing tests with `mvn test -Dtest=SomeConcrete5Test` only tests defined in concrete test class are executed. The expected behavior (and the behavior provided by JUnit 4) would be to execute all tests inherited, too.

Is there a way to achieve this using JUnit Platform 1.2 and JUnit Jupiter 5.2?

## Related Issues

- #1237
- #1499

[2018-05-03 13:28] mibutec commented on #1406
Seems to be related to https://github.com/junit-team/junit5/pull/1237

[2018-05-03 14:59] mibutec commented on #1406
As far I can see

[code]
and `mvn test -Dinclude.tests=SomeConcrete5Test` seems to do it. However, expected behavior in native call would be nice.

[2018-05-03 15:30] sbrannen commented on #1406
Thanks for raising the issue.

We'll look into it.

[2018-05-03 15:31] sbrannen commented on #1406
Tentatively slated for 5.3 M1 for further investigation.

[2018-05-03 15:43] sbrannen commented on #1404
Ooooooooops! 😱

[2018-05-03 15:44] sbrannen commented on #1404
Good catch.

Perhaps that part of the build ran in a _daemon_ Gradle process? 🤷🏻‍♂️

[2018-05-03 16:04] marcphilipp commented on #1404
Clear case of ”does _not_ work on my machine“… 😂

I‘ll check what went wrong later and fix it.

[2018-05-03 17:30] marcphilipp commented on #1404
It's not like it didn't happen before (cf. #1222). I generated and uploaded the documentation again and added `--no-daemon` to the [Releasing](https://github.com/junit-team/junit5/wiki/Releasing) instructions for now. We can remove it from there again when https://github.com/asciidoctor/asciidoctor-gradle-plugin/issues/222 is fixed.

[2018-05-03 17:30] #1404 closed

[2018-05-04 06:44] rumpfc opened #1408 "junit-jupiter-params-5.2.0.jar invalid CEN header (bad signature)"
Encountered a problem with JUnit Params 5.2.0. Compiler can't read JAR file because it seems to be corrupted:

on failure:
[ERROR] error reading C:\Users\c.rumpf\.m2\repository\org\junit\jupiter\junit-jupiter-params\5.2.0\junit-jupiter-params-5.2.0.jar; invalid CEN header (bad signature)

Solutions how I can use it (without downloading ZIP file or using version 5.1.1)?

[2018-05-04 08:02] sbrannen commented on #1404
👍

[2018-05-04 11:14] marcphilipp commented on #1408
Fortunately, I could not reproduce the issue: The JAR file is not corrupted and works fine from our Jenkins and Travis builds:

https://travis-ci.org/junit-team/junit5-samples/jobs/374834713#L515
https://junit.ci.cloudbees.com/blue/organizations/jenkins/JUnit%205%20Samples/detail/master/105/pipeline#step-66-log-13

Can you remove the JAR from your local Maven repo and try again, please?

`rm -rf ~

[2018-05-05 08:26] marcphilipp commented on #1408
@rumpfc Probably a temporary download issue. Glad it works now, thanks for letting us know!

[2018-05-05 10:46] #1382 closed

[2018-05-05 11:00] marcphilipp commented on #1247
This will be done in the half-official extensions project: junit-pioneer/junit-pioneer#39.

[2018-05-06 07:21] CasterKKK opened #1409 "How to use JUnit 5 and Java 10 in Maven with the confilcting maven-surefire-plugin and org.ow2.asm"
In my project I try to use Java 10 with Junit 5, but something interesting occurs.

**Background**
To make maven work well under Java 10, we need to change the asm library of `maven-compiler-plugin` to `org.ow2.asm`. And to make Junit 5 work well under Java 10, we need `maven-surefire-plugin`. Here is the `plugin` part of my `pom.xml`.

    <plugins>
            <plugin>
                <groupId>o

[2018-05-06 07:33] sormuras commented on #1409
If I traced the call stack correctly, Surefire/Plexus was compiled with `asm-6.0_BETA.jar`. If I remember correctly, there was a bug or two when it comes to parsing Java 10-compiled class files. There were fixed in ASM 6.1.1, correct @forax?

Somehow, you have to ensure Surefire/Plexus uses the new ASM version too. Which `${surefile.version}` do you use, actually?

[2018-05-06 07:42] sormuras commented on #1409
@tibor17 Surefire (master, HEAD) refers to `org.codehaus.plexus:plexus-java:jar:0.9.3`. Upgrade to `0.9.7`? That version refers at least to ASM `6.1` ... better would be a new release referring to ASM `6.1.1`. Who can trigger such an update? @rfscholte?

[2018-05-06 08:58] CasterKKK commented on #1409
@sormuras surefile.version = 2.21.0 and asm.version = 6.1.1, all latest...

[2018-05-06 09:41] sormuras commented on #1409
Mh, perhaps repeat the `` in the` maven-surefire-plugin` dependencies section?

[2018-05-06 09:46] CasterKKK commented on #1409
@sormuras What's your point? I **AM USING** the latest version of `maven-surefire-plugin`(2.21.0) and `org.ow2.asm`(6.1.1), am not I? The key point is the depedency of `maven-surefire-plugin`, isn't it?

[2018-05-06 09:47] Tibor17 commented on #1409
@sormuras
@rfscholte
We need to create or find same issue in SUREFIRE Jira. Fix it in master branch and hopefully we may have a chance to release surefire version 2.22.0 soon with new JUnit 5 provider under Surefire project.

[2018-05-06 09:48] sormuras commented on #1409
...and like the `maven-compiler-plugin` the `maven-surefire-plugin` ships with a "default" ASM version.

You patched the `maven-compiler-plugin`.
You didn't patch the `maven-surefire-plugin`. So it refers to `ASM6_BETA` (via it's 'plexus-java' dep).

I'm not sure if it works, though.

[2018-05-06 09:49] Tibor17 commented on #1409
@CasterKKK
Try this
        <plugin>
            <artifactId>maven-surefire-plugin</artifactId>
            <version>21.1.0</version>
            <dependencies>
                <dependency>
                    <groupId>org.junit.platform</groupId>
                    <artifactId>junit-platform-surefire-provider</artifactId>
                    <version>${junit.platform.version}</version>

[2018-05-06 10:02] Tibor17 commented on #1409
@CasterKKK
What version of Maven use use?

[2018-05-06 10:35] CasterKKK commented on #1409
@Tibor17 maven.version = 3.5.3
In fact, your solution is work. But another problem occurs, and I don't know if I should ask you for help.
In a short word, maven cannot find the test file.

[code]

But in fact, I have several tests in `test` dir. I doubt if `maven-surefire-plugin` can find the tests...

[2018-05-06 10:43] Tibor17 commented on #1409
@CasterKKK
I think this is issue where Maven uses one version of ASM library and `plexus-java` another.
Now you should ask Robert Scholte on Maven Mailing List.
You should subscribe to Maven Developers List <dev@maven.apache.org> and ask directly there if this is workaround is really the way to do it. Not sure if this workaround would be generic solution. Robert knows about this issue but I do not

[2018-05-06 10:50] Tibor17 commented on #1409
@CasterKKK
@sormuras
Not sure about empty test set but it might be caused by corrupted stream as I see.
It can be the same issue of reordering two lines of code:
https://github.com/apache/maven-surefire/commit/5e073791f9bb06cae1ed6513c8a5bde24844cf73
The point is to call `System.setOut()` before registering listeners to JUnit which is the above fix.
@sormuras Would it be this issue?

[2018-05-06 10:56] CasterKKK commented on #1409
@Tibor17
I am afraid I have a different opinion. As you can see in the second report:
`java.lang.NoSuchMethodError: org.junit.platform.commons.util.ReflectionUtils.isNotPrivate(Ljava/lang/reflect/Member;)Z`
I think that is because of some methods' missing?

[2018-05-06 10:57] sormuras commented on #1409
Which `platform` and which `jupiter` version are in play?

[2018-05-06 10:58] sormuras commented on #1409
`${junit.platform.version}` should be `1.2.0`
`${junit.jupiter.version}` should be `5.2.0`

[2018-05-06 10:59] sormuras commented on #1409
Like shown in the `junit5-jupiter-starter-maven`: https://github.com/junit-team/junit5-samples/blob/master/junit5-jupiter-starter-maven/pom.xml

[2018-05-06 11:02] Tibor17 commented on #1409
@sormuras
I guess @CasterKKK uses some mix of incompatible version of libs or surefire provider, or?

[2018-05-06 11:04] sormuras commented on #1409
Looks like that, aye.

[2018-05-06 11:34] CasterKKK commented on #1409
In fact, the problem is I didn't add:
[code]
After adding that everything is fine, thank you guys!

[2018-05-06 11:36] #1409 closed

[2018-05-06 15:05] sormuras commented on #1409
fyi, https://issues.apache.org/jira/browse/SUREFIRE-1518 was created to update `plexus-java` in `surefire`

[2018-05-06 22:14] codecholeric commented on #1355
I was wondering, at first I screwed up `@Tag` handling (by forgetting to even handle those in my `TestEngine`), but after I collected the tags for each `TestDescriptor`, I noticed, that the `junit-platform-launcher` would still execute all the tests. After peeking into the Jupiter engine, I realized, that for example the `MethodBasedTestDescriptor` adds the tags of the parent to its own.
After I h

[2018-05-07 16:04] Warfront1 commented on #1367
+ 1 Parallel runs don't seem to function properly, I attempted to resort to forkCount, and was met with the same error.
Not sure if there is an additional error that is preventing me from running properly, or if this error specifically is the root cause.

In any case the error is consistent with OP's:
Execution default-test of goal org.apache.maven.plugins:maven-surefire-plugin:2.21.0:test failed:

[2018-05-08 12:37] sbrannen commented on #80
FYI: I posted an answer on Stack Overflow outlining how to implement a non-preemptive global timeout extension here: https://stackoverflow.com/a/50233807/388980

[2018-05-08 13:07] kiryl-naurotski opened #1411 "Add ability to use datasource in class with @Nested Tests"
## Overview

Right now tests located in a `@Nested` class run only after tests in enclosing classes have finished their execution. Such behavior doesn't allow one to run test classes with different values.

If we run the following test class:

[code]

... we will see that all nested tests received only the last number (4).

Is there any way to send all provided numbers to nested tests?

## Related

[2018-05-08 13:09] sbrannen commented on #346
@marcphilipp, to answer your question....

yep, it's a candidate for JUnit Pioneer. 😉

https://github.com/junit-pioneer/junit-pioneer/issues/71

[2018-05-08 13:15] sbrannen commented on #1411
There is no built-in mechanism for achieving that.

If you just want the list of numbers, you could of course store them in a field of type `List<Integer>` instead of only storing the last one in a field of type `int`.

[2018-05-08 13:18] sbrannen commented on #1411
The ability to run test classes with different values (i.e., to _parameterize_ test classes) will be introduced in conjunction with #878.

I am therefore closing this issue as a _duplicate_.

Feel free to provide further input in #878.

Thanks!

[2018-05-08 13:18] #1411 closed

[2018-05-08 13:27] sbrannen commented on #1411
I cannot imagine how that could be the case since the execution of a class along with its nested classes technically requires more work.

So, if you can provide a small project that proves that, we'd be interested in seeing that (in a separate GitHub issue).

Cheers

[2018-05-08 13:27] kiryl-naurotski commented on #1411
It seems that yes

[2018-05-08 13:28] sbrannen commented on #1411
Great. Thanks for the feedback!

[2018-05-09 05:23] epeee opened #1412 "Add possibility to disable tests on AIX by using @DisabledOnOs(AIX)"
## Overview

It would be great if we could ignore certain tests only on AIX by using `@DisabledOnOs(AIX)`.
Due to `OS.OTHER` this change might be a breaking one.

## Deliverables

- [ ] Add AIX to OS enum and add AIX detection

[2018-05-09 09:03] sbrannen commented on #1412
What?

People run JUnit Jupiter tests on AIX? 😱

[2018-05-09 09:04] sbrannen commented on #1412
All kidding aside, I think it would be fine to introduce explicit support for `AIX`.

The `OS.OTHER` enum constant is essentially meant to be used when none of the other constants apply, and the intent was to be able to add additional enum constants over time.

[2018-05-09 09:10] sbrannen commented on #1412
_in progress_

[2018-05-09 09:26] #1412 closed

[2018-05-09 09:27] sbrannen commented on #1412
Support for AIX has been pushed to `master` and will be available in 5.3 M1.

Feel free to try it out in the upcoming snapshot artifacts.

[2018-05-09 12:07] beeva-sendoamoronta opened #1413 "launcher filters"
## Overview

_Replace the following bullet points with your issue description,
after answering yourself: **"What kind of issue is this?"**_

- ( ) **Question.** This issue tracker is not the place for questions.
If you want to ask how to do something, or to understand why
something isn't working the way you expect it to, use Stack Overflow.
https://stackoverflow.com/questions/tagged/junit5

- ( )

[2018-05-09 12:07] #1413 closed

[2018-05-09 13:27] sbrannen commented on #1405
FYI: I have reworded the title of this issue to reflect what I believe to be the current scope.

[2018-05-09 14:45] sbrannen commented on #1405
**Update**:

In https://github.com/spring-projects/spring-boot/issues/13118, @wilkinsona pointed out that defining properties in a BOM may not prove useful if the BOM is imported instead of declared as a parent POM.

So we'll need to investigate the semantics here.

[2018-05-09 15:00] sbrannen commented on #1405
@snicoll confirmed that here: https://github.com/spring-projects/spring-boot/issues/13118#issuecomment-387764952

[2018-05-09 15:03] sbrannen commented on #1405
Thus, the answer to the above question is a mixture of yes and no.

- Yes: it is possible to declare the versions as properties within the `junit-bom`.
- Yes: it is possible to reference those properties if the `junit-bom` is set as the _Parent POM_.
- No: it is not possible to reference those properties if the `junit-bom` is _imported_ as a BOM.

[2018-05-09 15:08] snicoll commented on #1405
That is correct.

One more detail about this. If you have a bom for JUnit `5.2.0` you should not expose that version as a property. The reasoning behind that is that if you import the bom for JUnit `5.2.0` you shouldn't be allowed to override that version.

That's why `spring-boot-dependencies` hardcodes the version for Spring Boot artifacts. I highly encourage you to do the same as using a proper

[2018-05-09 15:08] sbrannen commented on #1405
In summary, given the above yes/no answers, I think it is not very likely that adding versions as properties of the `junit-bom` would be very useful to most users, since practically zero developers would want to make `junit-bom` the parent POM of their projects.

Additional food for thought:

- adding the versions would not hurt users who import the BOM.
- but... adding them would complicate the a

[2018-05-09 15:11] sbrannen commented on #1405
@snicoll, thanks for sharing your wisdom!

It sounds like we are currently adhering to your advice, but perhaps you could take a quick glance at the current [junit-bom](http://search.maven.org/remotecontent?filepath=org/junit/junit-bom/5.2.0/junit-bom-5.2.0.pom) and let us know if you see anything "ill advised" in there. 😉

[2018-05-09 15:15] snicoll commented on #1405
Thanks for the feedback. That bom looks good to me.

[2018-05-09 15:19] sbrannen commented on #1405
Alrighty... we have approval from @snicoll that our current BOM looks good.

So we should probably just leave it that way, especially given the fact that he's on the [Maven Project Team](https://maven.apache.org/team-list.html).

[2018-05-09 16:05] sbrannen commented on #1405
In light of the recent expert feedback we've received, I am inclined to close this issue as "works as designed".

@junit-team/junit-lambda, and objections?

[2018-05-09 16:25] cldssty commented on #981
I'd like to take a stab if that's okay!

[2018-05-09 16:26] sbrannen commented on #981
@cldssty, sure.... go for it!

[2018-05-09 16:54] marcphilipp commented on #1405
Thanks for chiming in, @snicoll! I was actually suspicious that this wouldn't work from the beginning but did not have time to verify it. Moreover, since @sormuras is currently working on integrating the custom Surefire provider with Maven and I'm hopeful it will be released soon (no pressure 😉), it will not be long before it will become unnecessary to declare the provider in the plugin's dependen

[2018-05-10 01:43] cushon opened #1414 "Change to assertThrows in #1394 makes some existing call sites ambiguous"
I initially reported this as a comment in #1394 after that bug was closed. I wanted to start a new bug in case the comment got missed.

We started using the new `assertThrows` in our code base, and found that there is a small fraction of cases where this change is incompatible with existing uses of the method.

If the argument is a lambda the compiler will perform type inference and select one of

[2018-05-10 07:14] sormuras commented on #1414
Thanks for creating this issue, I did miss your comment in the closed bug.

Like you said, it's a breaking change: code that compiles with 5.2.0 and older version breaks with 5.3.0.

1% of a large enough codebase results in a high absolute number, right? What are we talking here? 100, 1.000 or even more `assertThrows` that need to be rewritten?

I see two options here:

1. keep the new overload as

[2018-05-10 07:30] cushon commented on #1414
Right, although of course it depends how much code you have, and I'm also not sure the corpus I looked at is representative: we happen to have a lot of tests that are specifically testing `future::get`.
It affected about 700 files for us. I'd be interested to know how common this problem is in other codebases.

The disadvantage of renaming the method is that you have to know about (and remember to

[2018-05-10 07:47] sormuras commented on #1216
Evaluate https://github.com/zyxist/chainsaw

[2018-05-10 14:10] kevinb9n commented on #1414
Sadly I think most of the value of the idea would be gone if it only benefits the users who know to opt into it. And even for the very-clued-in, it would be a mental burden to decide which method to call.

So if the breakage is too big a problem I think we should back the whole thing out. :-(

[2018-05-10 15:36] cpovirk commented on #1414
A crazy thing we could try is:

[code]

And then make the new method accept a `ThrowingSupplier2` rather than a `ThrowingSupplier`.

Because `ThrowingSupplier2` extends `ThrowingRunnable`, `javac` prefers `ThrowingSupplier2` when possible.

But of course the extra type (which needs a better name...) is a wart, and a weird one at that.

[2018-05-10 15:58] jbduncan commented on #1414
@cpovirk Perhaps a helpful wart, in this case. :)

But yeah, although it may fix things, it's a bit strange and may require a lot of wordsmithing in the Javadocs. I'd be interested to hear what the JUnit 5 team think about this.

P.S. Fancy seeing you and @kevinb9n and @cushon here! I contributed to JUnit 5 in the past, so even if it's a bit late for me to say this, welcome to JUnit 5. :)

[2018-05-11 10:30] marcphilipp opened #1416 "Publish default scope 'test' in junit-bom"
In order to prevent users from accidentally introducing compile dependencies on JUnit artifacts, we should set the default `scope` to `test` for all artifacts in the `junit-bom`.

## Deliverables

- [ ] Set `scope` to `test` for all artifacts.
- [ ] Check that the `scope` defined in a BOM is actually applied in a project that imports the BOM.

[2018-05-11 11:05] marcphilipp commented on #1375
**Team Decision:** Polish (e.g. rename) and publish it as part of junit-platform-launcher.

[2018-05-11 11:54] sbrannen commented on #1414
Tentatively slated for 5.3 M1 for _team discussion_

[2018-05-11 11:58] sbrannen commented on #1414
@cpovirk, when you say `ThrowingRunnable`, you mean `ThrowingSupplier` -- right?

[2018-05-11 12:26] sbrannen opened #1417 "Introduce isAnnotated(Optional, Class) in AnnotationSupport"
## Overview

In order to simplify matters for extension authors, we should introduce `isAnnotated(Optional<? extends AnnotatedElement>, Class<? extends Annotation>)` in `AnnotationSupport` analogous to the existing method in `AnnotationUtils`.

## Deliverables

- [ ] Introduce `isAnnotated(Optional<? extends AnnotatedElement>, Class<? extends Annotation>)` in `AnnotationSupport`.
- [ ] Document in

[2018-05-11 12:32] cpovirk commented on #1414
Sorry, what I actually mean is `Executable` :) (I got mixed up with what JUnit 4 is probably going to call the type.) The important thing is that it's the type that's accepted by the other overload, so one overload becomes strictly more "specific" than the other.

[2018-05-11 13:03] #1417 closed

[2018-05-11 13:12] cpovirk commented on #1414
Also: Rather than introduce a new type as I suggested, you could probably modify the existing `ThrowingSupplier` type to extend `Executable`. It would still have the `default` method, as above. I guess I was avoiding that because it made the existing type weird, and I was hoping to isolate the weirdness to `assertThrows`. But maybe it's more important to have only one `ThrowingSupplier`-like type.

[2018-05-11 13:13] sbrannen commented on #1414
Intriguing!

We'll ponder it.

Thanks for the feedback, @cpovirk.

[2018-05-12 06:46] xenoterracide opened #1418 "Introduce java.time formatting support for @ParameterizedTest display names"
## Feature request

The display name of the following is not very readable. Of course the real problem is that Java didn't make `DateTimeFormatter` implement `Format`; otherwise, I believe this would work out of the box.

It would be nice to provide java.time formatting for the display name. Might also be nice to allow custom formatters.

[code]

[2018-05-12 11:46] sbrannen commented on #1416
I've done a bit of research, and I have discovered contradicting opinions.

Some people say that defining a default `scope` in the `dependencyManagement` section of a BOM is a _best practice_; whereas, other people suggest that no `scope` be defined in the `dependencyManagement` section.

As a concrete example, the `spring-boot-dependencies` BOM does not declare `<scope>test</scope>` for `spring-b

[2018-05-12 14:36] sbrannen commented on #1418
To simplify analysis, the following example can be used stand alone.

[code]

[2018-05-12 14:39] sbrannen commented on #1418
Execution of the above stand-alone example with the `ConsoleLauncher` results in the following.

[code]

[2018-05-12 14:54] sbrannen commented on #1418
Related OpenJDK bug issue: https://bugs.openjdk.java.net/browse/JDK-8016743

[2018-05-12 14:55] sbrannen commented on #1418
Related thread on OpenJDK mailing list: http://mail.openjdk.java.net/pipermail/core-libs-dev/2013-December/023665.html

[2018-05-13 09:05] snicoll commented on #1416
I guess you know my answer to that, right? We don't because we believe that it has to be explicit. Not adding a default `scope` means `compile` in Maven land. Most dependencies don't have a scope because users know this and that they have to add a scope only when it deviates from the default.

If you read a project that uses a bom that overrides the default scope for a dependency, not having the s

[2018-05-13 11:53] sormuras commented on #1054
Removed Gradle and Surefire labels as the first already is and the second soon will be "deprecated" and are in a "read-only" state.

[2018-05-13 14:35] sbrannen commented on #1416
Well.... let's just say I had a sneaking hunch what your answer might be, but I wanted to be certain. 😉

Understood.

Thanks for taking the time to chime in with your wisdom. Much appreciated!

@junit-team/junit-lambda, in light of this, I vote to close this issue and leave the BOM _as is_. Thoughts?

[2018-05-13 14:43] marcphilipp commented on #1416
Agreed.

[2018-05-13 14:50] sbrannen commented on #1416
OK, since I've received 2 * 👍 plus my own, I am closing this issue.

[2018-05-13 14:50] #1416 closed

[2018-05-13 15:09] yuranos commented on #13
Sounds good, but for the "tentatively" part. Scenarios are very important for all sorts of tests higher up the testing pyramid. This feature can also be very useful for Consumer Driven Contracts, for example. Running consumer-driven sceanrios against your API will usually imply retaining a specific state.

[2018-05-13 18:18] #1331 closed

[2018-05-14 11:00] sbrannen opened #1419 "Introduce Arguments.arguments() as an alias for Arguments.of()"
## Status Quo

[code]

## Proposal

[code]

## Deliverables

- [ ] Introduce static `arguments(Object...)` method in `Arguments` which simply delegates to `Arguments.of()`.

[2018-05-14 11:40] #1419 closed

[2018-05-14 12:05] sbrannen commented on #1331
👍

[2018-05-15 17:48] tutoref opened #1420 "Add support for testing private methods and fields"
## Overview

Everytime you want to test a private method or access a private field you should add code that uses java reflexion.
Can JUnit offer a reusable mean to access (read/write) private class members ?

[2018-05-15 18:04] jbduncan commented on #1420
Hi @tutoref. Potentially good news: this can be achieved without reflection by making the necessary private methods package-private.

Would this work for you? :)

[2018-05-15 18:58] tutoref commented on #1420
@jbduncan not really, I should keep using private methods. However it's a good technique when it is allowed to have package-private methods.

[2018-05-15 19:55] hanasaki opened #1421 "howto ? : Adding metainfo that is in CSV, HTML, XML and JUnit XML reports : enhancement?"
How can arbitrary information be added to the JUnit run (per class and per method)?  Prefer in an annotation.  If not possible now, please consider this a feature/enhancement request.
examples: requirements number, reference number, some external info

Want the data to show up in:
- results data; xml, csv
- reports : html

Ideally to work in JUnit4 AND JUnit5

[2018-05-15 20:13] marcphilipp commented on #1420
Providing a API to read/write fields is outside of the scope of JUnit. Apache Commons Lang has [`FieldUtils`](https://commons.apache.org/proper/commons-lang/javadocs/api-release/org/apache/commons/lang3/reflect/FieldUtils.html) that might help. In addition, JUnit's [`ReflectionSupport`](https://junit.org/junit5/docs/current/api/org/junit/platform/commons/support/ReflectionSupport.html#invokeMethod

[2018-05-15 20:13] #1420 closed

[2018-05-15 21:53] gaganis commented on #1421
Would a custom display name annotation serve your purposes? You can read about the feature here : https://junit.org/junit5/docs/current/user-guide/#writing-tests-display-names

You could incorporate the information you need via a naming scheme / convention.

[2018-05-15 22:33] hanasaki commented on #1421
Wrote a short test in JUnit5 (non vintage) prior to the first posting.  The text of the @displayname is not in the XML result file nor CSV (should it be in the XML and CSV?  What could I have done wrong)  Also, there is ALOT in the CDATA section which is somewhat inconvenient to parse out vs an XML doc with more structure.

The idea is to post-process the JUnit XML report from JUnit4 and 5 without

[2018-05-16 13:16] Syneil commented on #744
I'm looking for a way to execute the same test class with runtime-generated inputs. Is this ticket appropriate?

I.e., for some `TestClass` with the usual `@BeforeEach` and `@Test` etc methods, I want to define a `TestClass(SomeType param, ...)` constructor and then run the test with runtime-generated instances of `SomeType`. Somewhat similar to the JBehave Examples for scenarios.

[2018-05-16 19:55] marcphilipp commented on #395
Closing with same rationale as described in https://github.com/junit-team/junit5/pull/1422#issuecomment-389644868.

[2018-05-16 19:55] #395 closed

[2018-05-17 11:06] noopur2507 commented on #569
What's the expected behavior/resolution here from Eclipse? Based on my understanding, Eclipse will use the `Launcher` API to launch a test when JUnit 5 libraries are present on the build path. As discussed earlier, `junit-vintage` will ignore the `@RunWith(JUnitPlatform.class)` class. Also, `junit-jupiter` ignores this class. So, how should the class be run?

[2018-05-17 12:00] StaNov opened #1423 "Add @Solo annotation"
## Overview

Situation: I have a test class with 20 @ Test methods. I want to run only 5 of them.

Current options:
* Add @ Ignore to the 15 tests and run all the class.
* Run only selected tests with special command line options enumerating them.
* Make the desired tests fail and rerun only failed in IDE.

Proposal:

Create a @ Solo annotation for test methods. It will serve the same purpose as t

[2018-05-17 18:10] marcphilipp commented on #1423
Thanks for creating the issue! However, you're not the first one. Please join the discussion in #346.

Duplicates #346.

[2018-05-17 18:10] #1423 closed

[2018-05-18 10:20] jennyowen opened #1424 "JUnit 5 with Maven Surefire does not run `parallel` tests"
## overview
I'm trying to use JUnit5 and Surefire to run tests on parallel threads.
I have a test that will just run multiple test methods and print out the thread name, to check that the test methods are on different threads.
In my POM I use the recommended versions of all junit and surefire packages and dependencies.

If I run `mvn clean test` the tests methods run, but they all run sequentially

[2018-05-18 13:18] ttrelle opened #1425 "Maven Surefire Provider should support configuration/excludeGroups directly"
## Overview

I'd like to report a possible bug with the JUnit 5 vintage engine.

Versions:

- JUnit4: 4.12
- JUnit5: 5.0.3
- Maven Surefire Plugin: 2.21.0

*Observed behaviour*: In a project with mixed JUnit4 and JUnit5 tests, I am using the `maven-surefire-plugin` together with the `junit-platform-surefire-provider` to run both kind of tests. Under these circumstances the `@Category` annotation f

[2018-05-18 14:27] sbrannen commented on #1425
FYI: it would appear that Jupiter's `@Tag` annotation is also not supported.

[2018-05-18 19:49] marcphilipp commented on #1424
`<parallel/>` is currently not supported, only `<forkCount/>` works. However there's a dependency issue, so you also need to add an additional dependency to make Surefire happy (see https://github.com/junit-team/junit5/issues/801#issuecomment-380481871). Please note that we're currently handing over the provider to the Surefire project: https://github.com/apache/maven-surefire/pull/184.

[2018-05-19 12:25] marcphilipp commented on #569
Can you just run classes annotated with `@RunWith(JUnitPlatform.class)` with JUnit 4?

[2018-05-20 10:00] sbrannen opened #1426 "Migrate from Maven Plugin to Maven Publish Plugin"
## Overview

The Gradle team has recently stated that the [Maven Publish Plugin](https://docs.gradle.org/4.8-rc-1/userguide/publishing_maven.html) is now stable and should be used in favor of the "old" [Maven Plugin](https://docs.gradle.org/4.8-rc-1/userguide/maven_plugin.html). Since we currently use the latter, we should look into migrating to the _Maven Publish Plugin_.

## Deliverables

- [ ]

[2018-05-20 11:25] marcphilipp commented on #1426
_in progress_

[2018-05-20 11:31] sbrannen commented on #1426
wow.... you jumped on this one like a 🦇 outta #3!!. 😉

[2018-05-20 13:06] marcphilipp commented on #1426
Well, I was already contemplating to do it. 😂

[2018-05-20 13:16] #1426 closed

[2018-05-21 08:15] marcphilipp opened #1427 "Introduce ArgumentsProvider that computes the cartesian product of collections of datapoints"
This issue originates from a dicussion in https://github.com/junit-team/junit5/pull/1422#issuecomment-390582297.

While often it suffices to specify each set of arguments for the invocation of a parameterized test explicitly, there are cases where it's simply the combination of lists of potential values for each parameter, i.e. the cartesian product of these collections. While it's certainly alrea

[2018-05-21 12:39] marcphilipp commented on #1427
Maybe, instead of introducing a bunch of new annotations, a simple API to combine sets of arguments from a `@MethodSource` method would be enough.

Something like

[code]

or

[code]

[2018-05-21 13:01] sbrannen commented on #1427
True, that may prove more elegant, and it definitely avoids an explosion of annotations (which we should aim to avoid).

So I agree: let's go with a programmatic approach via `@MethodSource` first and see what people think of that!

[2018-05-21 13:02] sbrannen commented on #1427
Though I would have `Arguments.cartesianProduct()` return a `Set` instead of a `Collection`, since it _must_ be a set by definition -- right? 🤔

[2018-05-21 13:15] marcphilipp commented on #1427
Well, a `Set` is a `Collection`... 😉

While, mathematically speaking, it must be a set, I think we should be more lenient than that. I think we should make it work with arbitrary `Collections` and just return a `Collection` or `Iterable`. So, for instance, if one passes a `List` including duplicates (according to `equals()`), we would include the duplicates in the resulting `Collection`. Does that

[2018-05-21 13:18] sbrannen commented on #1427
Ummmm.... no, not really. 😇

My point was that the framework should actually require/enforce _set_ semantics and avoid duplicated invocations of _equivalent_ products.

Does _that_ make sense? 😉

[2018-05-21 13:26] sbrannen commented on #1427
I can't see your method signature for `Arguments.cartesianProduct()`.

Are you proposing the following?

[code]

... b/c I was thinking of this:

[code]

[2018-05-21 13:36] marcphilipp commented on #1427
I'm of course not referring to built-in Java types, but user-defined ones. E.g. I've often encountered JPA entities where `equals()` only compared their `id` field. Or, the best ever `equals()` implementation I've stumbled upon which unconditionally returned `false`. Of course, that's nonsense and people shouldn't do that. On the other hand, we allow duplicate invocations based on the `Stream`/`It

[2018-05-21 13:52] rimal commented on #1275
@marcphilipp By when can we expect the `@ParameterizedTest` to be assigned a `STABLE` status?
I am wanting to use it in my application and have been waiting for the status change.

[2018-05-21 13:55] sbrannen commented on #1427
I knew what you meant regarding equals/hashCode. I was just confirming the overall signature. 😉

Oops... yeah... when I typed `<Object>` I of course meant `<?>`.

That's true, but... those duplicates would be returned by user code; whereas, `Arguments.cartesianProduct()` would be framework code that can be more _exact_.

In any case, I see your point regarding broken equals/hashCode implementation

[2018-05-21 13:58] sbrannen commented on #1427
That's quite a _jewel of software engineering_, but... I've seen something that tops it (on another level): a method in the service layer annotated with `@Ignore` from JUnit 4. I'll just leave it at that. 😇

[2018-05-21 14:03] sbrannen commented on #1275
@rimal, we are considering doing that in the next release (i.e., 5.3). See #1093 for details.

[2018-05-22 01:05] nrllewellyn commented on #1427
A couple of random (hopefully useful) notes from a JUnit user:

- The annotation-driven approach does provide some (minor) advantages--it could produce some interesting testing options when mixed with nested tests (e.g. "all tests share parameters from the base class, but this nested class provides extra parameters"). I also feel that the annotation form is slightly more readable than the method-d

[2018-05-22 11:03] sbrannen commented on #1427
Good catch!

Fixed in 5343323db975f1f1469ea6e7601205f94dc0ab81.

[2018-05-22 11:50] jhorstmann commented on #1427
For the programmatic approach, I would suggest that the method should return a lazy `Stream<Arguments>` instead of an already materialized collection.

I had a similar requirement some time ago. There was a huge number of input combinations generated by a cartesian product, but only a few of them were actually valid combinations for the test scenarios. An example would be that for the german versi

[2018-05-22 11:58] sbrannen commented on #1427
I seem to recall hearing/reading something about performance issues when attempting to do something like building up a Cartesian product using Java streams.

So if we truly implement it solely based on streams instead of building a collection upfront, we would then likely need to keep performance in mind in order to support large data sets.

@jhorstmann, perhaps just sharing your ideas/intentions

[2018-05-22 13:43] sbrannen commented on #569
Hi @noopur2507,

This is a rather special case.

In fact, it's admittedly ugly, but from my perspective there's only one viable solution in terms of User Experience in Eclipse.

If I were in charge of Eclipse's JUnit support, I would add an if-block to check if the class is annotated with `@RunWith(JUnitPlatform.class)`. If that's the case, I'd have Eclipse run that test class using the "JUnit 4 R

[2018-05-22 13:50] jbduncan commented on #1427
@sbrannen Guava's `Sets.cartesianProduct` is relatively lazy by my understanding, so I imagine it wouldn't be impossible to make a (sequential) streams version which is at least as lazy and performant. But I admit that I've not personally read anything about the performance of stream-based Cartesian sets, so I may be speaking nonsense... :)

[2018-05-22 16:08] sbrannen commented on #1427
Based on internal team discussions, we are currently leaning toward one of the following _programmatic_ APIs:

[code]

Or:

[code]

In other words, we aim to accept sets as input and generate the Cartesian product as an ordered collection (e.g., a `List`) or `Stream` of `Argument` _tuples_.

[2018-05-22 16:10] sbrannen commented on #1427
That sounds like a reasonable argument to me in favor of streaming results: I had not considered that a user might want to _filter_ the Cartesian product tuples before returning them to the Jupiter TestEngine.

[2018-05-22 16:17] sbrannen commented on #1427
@jbduncan, regarding possible performance issues, I think [this blog](https://engineering.vena.io/2016/06/07/gotcha-cartesian-products-of-java-8-streams/) is what I was recalling (or similar at least).

Quoting that blog:

I haven't verified the claim of course, but it at least sounds like the author put a lot of consideration into the presented solution.

p.s. FWIW, most _solutions_ on [Stack Ove

[2018-05-23 10:20] sormuras opened #1429 "Introduce tooling support tests"
## Overview

With the cron-based daily build of the [junit5-samples](https://github.com/junit-team/junit5-samples) via [Travis CI](https://travis-ci.org/junit-team/junit5-samples/builds) some basic integration checks are in place. The sample projects use very simple setups on purpose and cover mainly the minimal "happy path" available.

The main JUnit 5 project should provide and maintain an "inte

[2018-05-23 10:29] sbrannen commented on #1429
I'd say it should definitely be disabled by default for developer builds (e.g., `gradle test`) but turned on as part of a nightly build or CI build.

[2018-05-23 10:32] sbrannen commented on #1429
If this project is limited to "build integration tests", I think we should pick a name that clearly expresses the scope -- for example, `platform-build-integration-tests` analogous to the existing `platform-tests` project.

[2018-05-23 11:02] noopur2507 commented on #569
Thanks for your replies, Marc and Sam. The suggestion sounds fine. I will take it forward in the corresponding Eclipse bug.

[2018-05-23 11:10] sbrannen commented on #569
You're welcome.

Looking forward to the improvement in Eclipse!

And... thanks for the feedback.

[2018-05-23 11:26] FlorianSchaetz commented on #80
While this is a good step, a real timeout would be great, since it would, for example, prevent hanging tests from hanging on the build servers, etc. - which is why we used a timeout rule in Junit4 for all tests, just to make sure they would never hang and block a resource there.

Surrounding all test code with assertTimeoutPreemptively is, as everyone hopefully agrees, not really a good solution.

[2018-05-23 11:55] sbrannen commented on #80
Tentatively slated for the 5.3 backlog for _team discussion_

[2018-05-23 11:56] sbrannen commented on #80
FYI: #20 is potentially a _blocker_ for this issue, but I have not yet labeled this issue as blocked depending on how we decide to implement global timeouts.

[2018-05-23 12:31] sbrannen commented on #1355
I'd say that depends wholly on the semantics defined and implemented by the actual `TestEngine`.

In other words, "tagging" is a platform-level concept, but "inheritance of tags" can (and likely should) be engine-specific behavior.

In the very least, that's how the team has approached these topics up to this point.

[2018-05-23 12:36] sbrannen commented on #1355
`@Tag` is part of the JUnit Jupiter API and therefore part of its programming model.

Since Jupiter does not support fields as _testable_ elements of its programming model, there has not yet been a need to allow `@Tag` to be declared on a field.

Generally speaking, the team does its best to ensure that annotations can only be declared in meaningful places, since that helps to reduce user error.

[2018-05-23 16:47] jbduncan commented on #1427
@sbrannen Cool, thank you for pointing me in the direction of that blog. I gave it a scan yesterday, and it looks promising to me!

@sbrannen Yeah, okay. Sorry, I wasn't terribly clear earlier: I was sub-consciously hoping that we could easily derive an implementation like Guava's `Sets.cartesianProduct` for this issue without needing to use the full-blown spliterator-based solution given in that

[2018-05-23 19:39] codecholeric commented on #1355
Okay, if that is a conscious approach about tagging... I would really be interested in a case, where there is a hierarchy of `TestDescriptors`, where tagging should not propagate...
You're right about `@Tag`, I didn't pay close attention there, I agree with you then, that it is harmful :wink:
Jupiter API should be tailored to Jupiter, and Jupiter doesn't know field tests, so it would decrease unde

[2018-05-24 12:56] jhorstmann commented on #1427
For reference, my implementation is available at <https://gist.github.com/jhorstmann/a7aba9947bc4926a75f6de8f69560c6e> and actually looks very similar to the blog post, except it uses an iterator which is then wrapped into a spliterator. I can add any license if needed.

The `cartesianProduct` method returning `Stream<Arguments>` could already be implemented outside of junit. I'm thinking if we co

[2018-05-24 21:17] dotCipher commented on #542
This seems like it could benefit from some of the classes I built in for https://github.com/junit-team/junit5/issues/1356 (PR https://github.com/junit-team/junit5/pull/1392).  The difference of functionality though seems similar to the `Execution` object, which is inherently an aggregate of `ExecutionEvent` objects the represent the start / stop / skip of a test.

The use case I was targetting the

[2018-05-25 10:20] marcphilipp opened #1432 "Investigate warning printed when compiling Kotlin code"
[code]

## Deliverables

- [x] Figure out if this is a problem, i.e. if both methods can still be called from Kotlin code
- [ ] Fix or suppress warning for this specific case

[2018-05-25 11:04] mmerdes commented on #1432
@bit-jkraushaar
Do you have an opinion here?

[2018-05-25 11:10] sbrannen commented on #1432
@sdeleuze, any tips for us here?

[2018-05-25 13:00] sdeleuze commented on #1432
I guess there is a potential conflict between an existing method and the extension so in practice it could not be reachable but that's can be a false warning. The best way to ensure it is ok is to have a test using it and using `@Suppress("EXTENSION_SHADOWED_BY_MEMBER")` to avoid this warning.

[2018-05-25 13:29] sbrannen commented on #1432
Thanks for advice and tip, @sdeleuze! 👍

We'll add some tests and suppress the warning if appropriate.

[2018-05-25 20:50] dlanaghen commented on #60
Parallel testing is a big deal to us.  I have experimented with your version and my first simple tests look real promising.  Is there a ball park for when this might get merged into Junit5 and when an official release timeframe might be?  If this is going to be real, I might forge ahead and begin really exercising it.

[2018-05-26 01:01] bigkahuna1uk commented on #1367
This is still broken.  Have we an ETA when this will be fixed?

These are versions of plugins and JUnit 5 I'm using:

         <surefire.plugin.version>2.21.0</surefire.plugin.version>
        <dep.junit.jupiter.version>5.2.0</dep.junit.jupiter.version>
        <dep.junit.vintage.version>5.2.0</dep.junit.vintage.version>
        <dep.junit.platform.version>1.2.0</dep.junit.platform.version>

[2018-05-26 10:06] xahon commented on #1108
@sormuras I have `mavenCentral()` but this issue occurs too

[code]

[2018-05-26 10:14] sormuras commented on #1108
...is missing a version.

Should read something like: `testCompile 'org.junit.jupiter:junit-jupiter-api:5.2.0'`

For a more detailed answer I need more input. And please open a new issue if it is looks similar to an existing one.

[2018-05-26 10:58] marcphilipp commented on #1367
This issue will be solved as soon as Surefire has native support for the JUnit platform (cf. https://github.com/apache/maven-surefire/pull/184).

For now, please add the following to the `build` > `dependencies` block of your POM:

[code]

[2018-05-26 11:01] marcphilipp commented on #60
@dlanaghen Thanks for experimenting with it and letting us know!

We plan to include it as an experimental feature in 5.3 M1 which is currently scheduled for June 24. If no regressions or major issues are found, you can expect a RC and the GA release within two weeks from that date.

[2018-05-26 11:48] marcphilipp commented on #1421
@hanasaki How do you run your tests? Maven?

Jupiter provides an API to attach additional key-value pairs to a test:
https://github.com/junit-team/junit5/blob/master/documentation/src/test/java/example/TestReporterDemo.java#L20-L36

A similar API can also used by extensions:
https://github.com/junit-team/junit5/blob/master/junit-jupiter-engine/src/main/java/org/junit/jupiter/engine/extension/TestR

[2018-05-26 11:48] #1421 closed

[2018-05-26 13:05] dlanaghen commented on #60
@marcphilipp this is great news.  With better parameterized testing features and your new multi-threaded test runner, you will have filled a couple of big holes in JUnit.  Thanks for your work.

[2018-05-27 15:26] hanasaki commented on #1421
- marcphilipp : I guess I missed the TestReporter auto-discover implied in your response. So sorry about that.  I will give it a try and see how the xml,cvs and html generated reports come out.  Was trying to use the built-in functionality if at all possible instead of writing and maintaining a plugin.
- Using gradle 4.x right now.  Will probably be using Maven as well / also in the future.

[2018-05-28 11:40] sbrannen commented on #1429
Thanks for introducing the tooling support tests! 👍

Looks like an elegant solution to the task at hand.

[2018-05-28 14:38] sbrannen commented on #1429
Reopening to address the following.

Javadoc is [published](https://junit.org/junit5/docs/snapshot/api/platform/tooling/support/package-summary.html) for the new `platform-tooling-support-tests` project, but it should not be.

[code]

[2018-05-28 15:21] sbrannen commented on #1429
Closing this issue since the JavaDoc publication issue has been addressed in 87221f8454d0e08144e445d25164640c80bdb52e.

[2018-05-28 15:21] #1429 closed

[2018-05-28 21:37] belun opened #1434 "(Suggestion : feature / improvement) Do not rerun tests where nothing had changed"
## Overview

To start with a  disclaimer : this feature would not be generic. It would not apply for fast running tests, but more for slow tests / integration tests.

A. If one thinks about an engine whose purpose is to skip tests, the first idea to spawn in mind is "That defeats the whole purpose of the concept of testing. I want to change stuff, and I want the tests to tell me what I broke".

Ho

[2018-05-29 06:47] aaronhonra opened #1435 "Running Test suite with a @TestFactory method"
I'm running a Test Suite in JUnit 5 using TestFactory methods to run dynamic tests.  But then the result is always showing a **no name** DisplayName even though I have written a display name.  Also noticed that static tests were run but ended up using a new Junit Jupiter Test instance.  See photo below.

![image](https://user-images.githubusercontent.com/39552864/40642271-2c7638d8-634f-11e8-899e-f

[2018-05-29 06:49] marcphilipp commented on #1435
Are you using `@RunWith(JUnitPlatform.class)`?

[2018-05-29 06:50] aaronhonra commented on #1435
yes

[2018-05-29 06:50] sormuras commented on #1435
Can you please provide the `--details tree` output from a test run using the [Console Launcher](https://junit.org/junit5/docs/current/user-guide/#running-tests-console-launcher)?

[2018-05-29 07:32] sormuras commented on #1435
Strange. Selecting a class via `-c` doesn't work here as expected. The "JUnit Vintage" engine should pick the suite class, iirc.

Can you try the following please?
[code]

[2018-05-29 08:00] sormuras commented on #1434
Build tools are better suited here, methinks.

A build tool, that knows much more about "main" and "test" dependences, assets, external resources, and what-not, could take care running only test affected by some change. Encoding all this into an implemenation of a `TestEngine` (like Jupiter) is not trivial and needs to re-use or duplicate a lot configuration work already done for your build proces

[2018-05-29 08:08] tonyabbott opened #1436 "Searching for nested test classes fails if class file format is invalid"
## Overview

Original issue title: _Test discovery fails when encountering invalid reference in InnerClasses attribute of class file_

The following test written in Groovy and run with JUnit 5.2.0, JUnit platform 1.2.0 results in the exception below and no tests found.

The same test, annotated with org.junit.Test and run with JUnit 4.12 successfully runs the test named foo.

I think the desirable

[2018-05-29 08:19] aaronhonra commented on #1435
Please see output below.
![image](https://user-images.githubusercontent.com/39552864/40646550-1175eb16-635c-11e8-8e4a-d125286fa2fc.png)

[2018-05-29 08:30] sormuras opened #1437 "Add cyclic dependency checks"
## Overview

A simple `jdeps junit-jupiter-api-5.3.0-SNAPSHOT.jar` results in the output listed below. Fixing the expected output and updating it when introducing new dependencies is a good measure to prevent using internal API and referring to not wanted libraries/modules.

Perhaps a [_degraph_](https://github.com/schauder/degraph/issues/87)-like check can be implemented using this future-proof f

[2018-05-29 08:33] aaronhonra commented on #1435
yep, Ive been using maven.   Im not sure on what you mean by the main classes and the test classes?
Im just finding the class CmWeekEnding20180525Suite  which is located at this path.
![image](https://user-images.githubusercontent.com/39552864/40647283-0c1f74c8-635e-11e8-891d-c4f2396ccf49.png)

[2018-05-29 09:36] marcphilipp commented on #1435
The `ConsoleLauncher` is using an implicit class name filter, please use `--include-classname '.*'` to allow all class names.

[2018-05-29 09:45] sormuras commented on #1435
I keep forgetting about the filter...

So, with Marcs' advise and Maven as a build tool, the command should read:

[code]

Mandated, you current working directory is `cm`. Which also contains `junit-platform-console-standalone-1.2.0.jar`.

[2018-05-29 10:19] kondapally1989 commented on #580
Is this still up for grabs ?
if it is, give me starting point where i can start with.

[2018-05-29 10:41] sbrannen commented on #1436
Tentatively slated for 5.3 M1 for investigation

[2018-05-29 10:47] sbrannen commented on #1434
I agree with @sormuras: the proposed feature is better suited for an IDE or a build tool.

In addition, there is already a product on the market for this: [Infinitest](https://infinitest.github.io/).

In light of that I am inclined to close this issue.

[2018-05-29 11:03] sbrannen commented on #1435
Nope, that unfortunately does not work. 😞

The Vintage Test Engine explicitly ignores classes annotated with `@RunWith(JUnitPlatform)`:

https://github.com/junit-team/junit5/blob/2dc55df1e1197fa36d3d8438b0eea568a0e24155/junit-vintage-engine/src/main/java/org/junit/vintage/engine/discovery/DefensiveAllDefaultPossibilitiesBuilder.java#L107-L114

[2018-05-29 11:10] sbrannen commented on #1435
What happens if you select (via the mouse) *only* the test suite class annotated with `@RunWith(JUnitPlatform.class)` and instruct IntelliJ to run it as a test?

[2018-05-29 11:14] sbrannen commented on #1434
In light of the above comments I am closing this issue.

[2018-05-29 11:14] #1434 closed

[2018-05-29 11:44] sbrannen commented on #580
@kondapally1989, yes this is still "up for grabs" since @snigdhaAgarwal does not appear to have worked on it.

@snigdhaAgarwal, please correct me if I'm wrong about that.

[2018-05-29 11:47] sbrannen commented on #580
I honestly don't know it will be achieved exactly. I can only assume it will be a combination of HTML, CSS, and JavaScript, and that will need to be incorporated into the documentation generated in the `documentation` project in this repository, which is generated using Asciidoctor.

To see how the User Guide and Release Notes are currently generated, check out the following Gradle build script: h

[2018-05-29 12:11] sbrannen commented on #1435
`junit-platform-console-standalone-1.2.0.jar` does not contain the contents of the `junit-platform-runner` artifact.

So that's why `org.junit.platform.runner.JUnitPlatform` cannot be found.

If you wanted it to be there, you would have to add `junit-platform-runner-1.2.0.jar` to the classpath, but as I mentioned above... that won't help since the `JUnitPlatform` runner cannot be executed directly

[2018-05-29 12:13] sbrannen commented on #1435
In other words, I think we can forget about trying to use the `ConsoleLauncher` here.

My understanding is that you wish to annotate a test class with `@RunWith(JUnitPlatform.class)` and run it as a test suite within IntelliJ IDEA, and that you wish to see display names for your dynamic tests.

With that in mind, what happens if you annotate your test suite class with `@UseTechnicalNames` and run

[2018-05-29 12:21] aaronhonra commented on #1435
Issue here was running class that uses @TestFactory when using Test Suite that runs with JUnitPlatform.class
As an example, I pasted another run that only uses the test factory method that resides in (CmMeterReadDataAnalysisAlgComp_ImplTest)
In the image below, we can see that no name was displayed even though Displayname was set in the method being run.  Also notice that a hanging <no name> was a

[2018-05-29 12:30] sbrannen commented on #1435
Good. That's what we expect.

Thanks for confirming!

So the display names are present and used when executing the tests directly on the JUnit Platform.

[2018-05-29 12:31] sbrannen commented on #1435
OK. Thanks.

[2018-05-29 13:30] sbrannen commented on #1436
@tonyabbott, would you be willing to create minimal project that demonstrates the behavior you are witnessing?

That would be extremely helpful to the team in terms of investigating what's going on!

Either a PR for this repository or a separate project in your own public repository would suffice.

[2018-05-29 15:04] aaronhonra commented on #1435
This is what happens when i used technical names.
![image](https://user-images.githubusercontent.com/39552864/40667401-ab1211e0-6394-11e8-9452-a27d9fe8071a.png)

[2018-05-29 20:27] jbduncan commented on #1437
@sormuras I'm a bit lost as to what the output of `jdeps junit-jupiter-api-5.3.0-SNAPSHOT.jar` is expected to be. Would you kindly clarify things for me?

[2018-05-30 09:35] sbrannen commented on #1436
@tonyabbott, thanks for the sample project!

I can confirm that this is a bug.

We'll look into it!

[2018-05-30 09:37] sbrannen commented on #1436
FWIW, the issue still exists when using Groovy 2.5.0.

[2018-05-30 09:40] sbrannen commented on #1436
The error seems to occur in `org.junit.platform.commons.util.ReflectionUtils.findNestedClasses(Class<?>, Set<Class<?>>)`.

Specifically, we assume the invocation of `java.lang.Class.getDeclaredClasses()` will not throw an exception, but in this particular scenario that invocation indeed throws an exception.

So we'll likely want to wrap that in a try-catch block.

[2018-05-30 09:42] sbrannen commented on #1436
Though it would likely be a better idea to handle the exceptions at a higher level such as in `org.junit.jupiter.engine.discovery.JavaElementsResolver.resolveChildren(TestDescriptor).

[2018-05-30 10:00] marcphilipp commented on #744
@Syneil That sounds more like #871.

[2018-05-30 16:16] sbrannen commented on #1436
_in progress_

[2018-05-30 16:17] sbrannen commented on #1436
@tonyabbott, with the help of your example project and class loading magic, I've been able to reproduce the failure in a test:

[code]

So that'll make it easier to fix (and know it's fixed). 😉

[2018-05-31 13:13] sbrannen commented on #1436
Current work on this issue can be viewed in the following branch:

https://github.com/junit-team/junit5/tree/issues/1436-nested-class-with-invalid-class-file

[2018-05-31 13:33] sbrannen opened #1438 "JupiterTestEngine should log discovery errors instead of aborting the entire test plan"
## Overview

An error reported in #1436 has made us aware that the entire test plan for JUnit Jupiter aborts whenever certain types of errors occur during the discovery phase. Consequently, a single error (e.g., an invalid class file format) can result in **zero** tests being discovered and executed.

This is, however, unacceptable behavior. The `JupiterTestEngine` should log such errors rather th

[2018-05-31 13:36] sbrannen commented on #1436
FYI: I've limited the scope of _this_ GitHub issue to address the lack of error handling in `ReflectionUtils` with regard to class loading for _nested classes_, and I have opened #1438 in order to address the fact that the Jupiter test engine aborts the discovery process when certain kinds of exceptions are encountered.

[2018-05-31 13:42] sbrannen commented on #1438
@junit-team/junit-lambda, I'm inclined to go with the current proposal in the _Proposal_ section of this issue's description.

Thoughts?

[2018-05-31 23:45] k1w1m8 opened #1439 "Enhance DynamicTest API to support "ignored" tests so that I can see them in the test reports"
I am planning to use `DynamicTest` API to as a kind of proxy to create and run tests inside an IDE or Maven which are written in XML and stored on a filesystem.

The tests stored on the filesystem include the concept of an ignored test, which is a feature supported by JUnit 4 via `@Ignore and JUnit 5 via `@Disabled`, where the ignored/disabled test is shown visibly on the IDE test UI, or in the HT

[2018-06-01 05:44] sormuras commented on #1439
Dynamic test have no lifecycle attached to them. Thus is no way to statically disable dynamic tests. Or put it the other way round: you need to spawn a dynamic test and execute it for it to show up in the test plan.

However, you may achieve a similar behaviour using failing [`Assumptions`](https://junit.org/junit5/docs/current/api/org/junit/jupiter/api/Assumptions.html) in your executable. After

[2018-06-01 09:40] davethehat commented on #1327
I am also seeing this. If I have testCompile "org.junit.jupiter:junit-jupiter-params:5.0.1 in my gradle dependencies, the following test fails (needless to say, test.csv is present in the resources directory):

[code]
 If the dependency is removed the test passes.

Please reopen this! Thanks

[2018-06-01 10:46] marcphilipp commented on #1327
Are you sure the presence of junit-jupiter-params on the classpath changes the result of your test?

[2018-06-01 13:41] davethehat commented on #1327
Yes, when it's there the test fails, when absent the test passes.

[2018-06-01 13:48] marcphilipp commented on #1327
Could you please provide a sample project so we can see that with our own eyes? 😲

[2018-06-01 14:03] sbrannen commented on #1327
Yes, please do provide a sample project that reproduces this behavior.

I'd also like to see it (and debug it) with my own eyes. 😉

[2018-06-01 14:13] sbrannen commented on #1439
I agree with @sormuras.

Dynamic tests cannot be _ignored_ or _disabled_ according to the semantics of the `ExecutionCondition` extension API; however, you can achieve your goal with the use of _assumptions_.

[2018-06-01 14:41] davethehat commented on #1327
OK, will do.

[2018-06-01 15:01] sbrannen commented on #1439
In light of the above comments pointing to a viable solution via _assumptions_, I am closing this issue.

[2018-06-01 15:01] #1439 closed

[2018-06-01 15:14] sbrannen commented on #1438
_in progress_

[2018-06-01 15:37] davethehat commented on #1327
So digging into this I suspect some interaction between intellij/spring/junit classloaders. I can't reproduce it in a simple project, and it seems to behave inconsistently in idea also. In my big (multi-module, spring-up-the-wazoo dependencies) it's relatively easy to reproduce, but not (so far) in my 1-class harness.

As you were, then: if I do work out what's going on I'll post back here. Thanks

[2018-06-01 15:45] sormuras commented on #1327
Smells like a component setting the TCCL to an instance that does not longer have the "resources" path in its classpath or the `test.csv` is not copied to the runtime version of the resources directory.
Or something completely different... (-:

[2018-06-01 15:48] sbrannen commented on #1438
**Update**:

I'm currently tinkering with replacing the status quo:

[code]

with the following "safe"/"logging" approach:

[code]

@junit-team/junit-lambda, thoughts?

[2018-06-01 15:51] davethehat commented on #1327
FYI I'm now sure this is an intellij issue.